/******** VARIABLES ********/
@import "../../../styles/variables";

.login-background {
	background-image: url("../../../assets/images/login.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	height: 100%;
	width: 100%;
}

.login-background-chanel {
	background-image: url("../../../assets/images/logo-chanel.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	height: 100%;
	width: 100%;
}

.login {
	position: relative;
	.sides-wrapper {
		position: fixed;
		top: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		background: $primary-color;
		width: 70%;
		align-items: center;
		left: 50%;
		height: 75vh;
	}
	.left-side {
		width: 40%;
		background: $primary-color;
		text-align: center;
		color: #fff;
		.logo-wrapper {
			width: 100%;
			img {
				width: 270px;
			}
		}
		.login-footer {
			.form-group {
				width: 100%;
			}
			p {
				padding-bottom: 5px;
			}
		}
		.logo-wrapper,
		.login-footer {
			height: 50%;
			display: flex;
			align-items: flex-end;
			flex-flow: row wrap;
			justify-content: center;
		}
	}
	.right-side {
		width: 60%;
		background: #fff;
		label,
		a {
			color: #018dad;
		}
		a {
			font-size: $fz-sm;
			display: block;
			text-align: right;
			font-style: italic;
		}
	}
	@media only screen and (max-width: 1024px) {
		.sides-wrapper {
			width: 100%;
			height: 100vh;
		}
	}
	@media only screen and (max-width: 768px) {
		.sides-wrapper {
			flex-flow: row wrap;
			flex-direction: column-reverse;
			.right-side {
				height: 75%;
				.login-form {
					display: flex;
					align-items: center;
				}
			}
			.left-side {
				height: 25%;
				& > div {
					width: 100%;
				}
				.login-footer p {
					padding: 0;
					margin: 0;
				}
			}
			.right-side,
			.left-side {
				width: 100%;
			}
		}
	}
	.left-side,
	.right-side {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: row wrap;
		overflow: auto;
		height: 100%;
	}
	.login-contents {
		position: relative;
		img {
			width: 80px;
		}

		button {
			font-size: $fz-base-md;
			font-weight: 600;
			background: transparent;
			box-shadow: none;
			border: none;
			color: #fff;
			width: 100px;
			height: 100px;

			&.login-button {
				background-image: url("../../../assets/images/puce-bleu.png");
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
	}
}
