<div class="config-type-flux">
	<div class="trpl-zone-settings-root" *ngIf="isStatiquesLoaded">
		<app-mapping-code-psl-search
		#mappingCodePslSearchComponent
		[component]="GenericTableScreen.MAPPING_CODE_PSL"
		(onSearch)="search($event)"
		[initParamFields]="initParamFields"
		[module] = "module"
	>
	</app-mapping-code-psl-search>
		<app-generic-table
			#genericTable
			[title]="'SETTINGS.MAPPING_CODE_PSL' | translate"
			[hideTable]="isAddObject"
			[searchInput]="searchCriteria"
			[dataInfos]="dataInfos"
			[detailsInfos]="null"
			(addFormEmitter)="displayAdd($event)"
			(editFormEmitter)="displayEdit($event)"
			(deleteEventEmitter)="deleteData($event)"
			[component]="GenericTableScreen.MAPPING_CODE_PSL"
			[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
		>
		</app-generic-table>
	</div>
</div>
