<div *ngIf="main" class="col-md-12 panel-body body-table">
	<fieldset class="fieldset" style="text-align: center;">
		<legend class="legend">
			<div class="row">
				<div class="col-md-8">
					€/Kg ratio
				</div>
				<div class="col-md-4" style="text-align: right;">
					<i class="fa fa-paperclip"></i>
					<i
						class="fa fa-question-circle"
						pTooltip="Ratio Coût total des expéditions et poids total taxé."
					></i>
				</div>
			</div>
		</legend>
		<span title="Overall : {{ main.value }}"
			><h3>{{ main.value | number: "1.2-2" }} €/Kg</h3></span
		>
		<div class="row">
			<div class="col-md-6">
				<span title="{{ data[0].transportType }} : {{ data[0].value }}"
					><h5><i class="fa fa-plane"></i> {{ data[0].value | number: "1.2-2" }} €/Kg</h5></span
				>
			</div>
			<div class="col-md-6">
				<span title="{{ data[1].transportType }} : {{ data[1].value }}"
					><h5><i class="fa fa-truck"></i> {{ data[1].value | number: "1.2-2" }} €/Kg</h5></span
				>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<span title="{{ data[3].transportType }} : {{ data[3].value }}"
					><h5><i class="fa fa-ship"></i> {{ data[3].value | number: "1.2-2" }} €/Kg</h5></span
				>
			</div>
			<div class="col-md-6">
				<span title="{{ data[2].transportType }} : {{ data[2].value }}"
					><h5>
						<i class="fa fa-money"></i>&nbsp;{{ data[2].value | number: "1.2-2" }} €/Kg
					</h5></span
				>
			</div>
		</div>
	</fieldset>
</div>
