.form-group {
	margin-bottom: 10px;
	display: inline !important;
}

.form-control {
	margin-bottom: 0px !important;
}


.admin-form .select>select {
	padding: 0px;
}

.admin-form .select .arrow::before {
	bottom: 13px;
}

h4, .h4, h5, .h5, h6, .h6 {
	margin-bottom: 4.5px;
	margin-top: 0px;
}

.buttonClick,.fa-arrow-circle-o-right{
cursor : pointer;

}
.panel-body .panel-menu {
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}
.panel-menu {
    background-color: #fff;
    border: 1px solid #e2e2e2;
}
.elips {
    max-width: 75px;
 
}
.panel {

    margin-bottom: 13px;  
}
.input-group-addon {
	min-width: 45px;
	padding: 4px 0;
}

.admin-form .heading-border .panel-heading {
	padding: 5px 15px 0;
}

.admin-form .panel-title {
	font-size: 13px;
}

.admin-form .panel-title i {
	border-width: 0;
	font-size: 14px;
	margin-right: 0px;
	position: relative;
	top: 0;
}


.admin-form .button {
	font-size: 12px;
	height: 30px;
	line-height: 30px;
}


select.input-sm {
	height: 20px !important;
}

.admin-form .select .arrow {
	top: 0px !important;
}

.admin-form .select>select {
	padding: 1px 5px !important;
}

#content {
	padding: 0px !important;
}

#datatable2, #datatable3 {
	width: 100% !important;
}