<div class="trpl-grille-settings-root">
	<app-generic-table
		*ngIf="dataInfos && listTranches"
		#genericTable
		[(hideTable)]="isAddEditMode"
		[title]="'TRANSPORTATION_PLAN.GRILLES' | translate"
		[(gridVersion)]="gridVersion"
		[searchInput]="searchInput"
		[dataInfos]="dataInfos"
		[detailsInfos]="detailsInfos"
		(addFormEmitter)="setAddEditMode($event)"
		(editFormEmitter)="setAddEditMode($event, false, true)"
		(cloneFormEmitter)="setCloneMode($event)"
		(deleteEventEmitter)="deleteGrilleTransport($event)"
		(onDataLoaded)="onDataLoaded($event)"
		[component]="GenericTableScreen.SETTINGS_GRILLE"
		[parentContext]="this"
		[isHorizontalScrollAlwaysVisible]="true"
		[scrollHeight]="350"
		[sharedDropDownZIndex]="sharedDropDownZIndex"
		(sharedDropDownZIndexEmit)="sharedDropDownZIndexChange(sharedDropDownZIndex)"
		[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
	>
		<form
			class="generic-default"
			formcontent
			*ngIf="isAddEditMode"
			role="form"
			#formCtrlAdminGrille="ngForm"
		>
			<div class="form-content col-sm-12 margin-top-10">
				<div class="col-md-3 col-sm-4 col-xs-12 form-group">
					<label>{{ "TRANSPORTATION_PLAN.GRILLE_REFERENCE" | translate }}</label>
					<div>
						<input
							type="text"
							ngControl="referenceCtrl"
							[(ngModel)]="grille.reference"
							name="reference"
							class="form-control input-underline input-xs"
							(ngModelChange)="changeModel(formCtrlAdminGrille)"
							required
							[disabled]="
								Statique.isDefined(gridVersion) && gridVersion != Statique.gridVersion.UPCOMING
							"
						/>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12 form-group">
					<label>{{ "TRANSPORTATION_PLAN.GRILLE_DESIGNATION" | translate }}</label>
					<div>
						<input
							type="text"
							ngControl="designationCtrl"
							[(ngModel)]="grille.designation"
							name="designation"
							class="form-control input-underline input-xs"
							(ngModelChange)="changeModel(formCtrlAdminGrille)"
							[disabled]="
								Statique.isDefined(gridVersion) && gridVersion != Statique.gridVersion.UPCOMING
							"
						/>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12 form-group">
					<label>{{ "TRANSPORTATION_PLAN.GRILLE_CURRENCY" | translate }}</label>
					<div>
						<select
							class="form-control"
							name="currency"
							[(ngModel)]="grille.currency"
							[compareWith]="Statique.byEcCurrencyCode"
							(ngModelChange)="changeModel(formCtrlAdminGrille)"
							required
							[disabled]="
								Statique.isDefined(gridVersion) && gridVersion != Statique.gridVersion.UPCOMING
							"
						>
							<option *ngFor="let item of listCurrencies" [ngValue]="item" required>
								{{ item.codeLibelle }}
							</option>
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12 form-group">
					<label>{{ "TRANSPORTATION_PLAN.CARRIER" | translate }} </label>
					<div>
						<select
							class="form-control input-xs padding-all-3"
							[(ngModel)]="grille.transporteur"
							[compareWith]="compareUser"
							name="transporteur"
							ngControl="transporteurCtrl"
							required
							[disabled]="
								Statique.isDefined(gridVersion) && gridVersion != Statique.gridVersion.UPCOMING
							"
						>
							<option *ngFor="let _transporteur of listTransporteur" [ngValue]="_transporteur">{{
								_transporteur.nom + "
                " + _transporteur.prenom
							}}</option>
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12 form-group">
					<label>{{ "TRANSPORTATION_PLAN.VALID_FROM" | translate }} </label>
					<div>
						<app-datetime-picker
							name="beginDateValid"
							[(ngModel)]="grille.dateDebut"
							[(maxDate)]="grille.dateFin"
							required
							[disabled]="
								Statique.isDefined(gridVersion) && gridVersion != Statique.gridVersion.UPCOMING
							"
						></app-datetime-picker>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12 form-group">
					<label>{{ "TRANSPORTATION_PLAN.VALID_TO" | translate }}</label>
					<div>
						<app-datetime-picker
							name="endDateValid"
							[(ngModel)]="grille.dateFin"
							[(minDate)]="grille.dateDebut"
							[disabled]="
								Statique.isDefined(gridVersion) && gridVersion == Statique.gridVersion.PREVIOUS
							"
						></app-datetime-picker>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 form-group">
					<label>{{ "TRANSPORTATION_PLAN.COST_ITEMS" | translate }}</label>
					<p-table [value]="grille.costItems">
						<ng-template pTemplate="header">
							<tr>
								<th style="width:50px;">
									<i
										class="fa fa-plus-circle fa-2x"
										(click)="
											gridVersion == null || gridVersion == Statique.gridVersion.UPCOMING
												? addCostItem(grille)
												: false
										"
									></i>
								</th>
								<th>
									{{ "TRANSPORTATION_PLAN.GRILLE_COST_ITEM" | translate }}
								</th>
								<th>
									{{ "TRANSPORTATION_PLAN.PLAN_COMMENT" | translate }}
								</th>
								<th>
									{{ "PRICING_BOOKING.TYPE_OF_UNIT" | translate }}
								</th>
								<th>
									{{ "TRANSPORTATION_PLAN.GRILLE_CALC_METHOD" | translate }}
								</th>
								<th>
									{{ "TRANSPORTATION_PLAN.GRILLE_FIXED_FEES" | translate }}
								</th>
								<th>
									{{ "REPOSITORY_MANAGEMENT.CURRENCY" | translate }}
								</th>
								<th>
									{{ "TRANSPORTATION_PLAN.MIN" | translate }}
								</th>
								<th>
									{{ "TRANSPORTATION_PLAN.MAX" | translate }}
								</th>
								<th>
									{{ "TRANSPORTATION_PLAN.GRILLE_STARTING_PSL" | translate }}
								</th>
								<th>
									{{ "TRANSPORTATION_PLAN.GRILLE_END_PSL" | translate }}
								</th>
								<th *ngFor="let tranche of listTranches">
									{{ tranche.minimum + " - " + tranche.maximum }}
								</th>

							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-costitem let-costIndex="rowIndex">
							<tr>
								<td>
									<i
										class="fa fa-minus-circle fa-2x"
										(click)="
											!gridVersion || gridVersion == Statique.gridVersion.UPCOMING
												? removeCostItem(grille, costitem)
												: false
										"
									></i>
								</td>
								<td>
									<select
										class="form-control"
										[name]="'type' + costIndex"
										[(ngModel)]="costitem.type"
										required
										[disabled]="
											Statique.isDefined(gridVersion) &&
											gridVersion != Statique.gridVersion.UPCOMING
										"
									>
										<option *ngFor="let item of listCostItemType" [ngValue]="item.ebCostNum">
											{{ item.libelle | translate }}
										</option>
									</select>
								</td>
								<td>
									<textarea
										class="form-control max-width-text-area"
										[name]="'comment' + costIndex"
										[(ngModel)]="costitem.comment"
										[disabled]="
											Statique.isDefined(gridVersion) &&
											gridVersion != Statique.gridVersion.UPCOMING
										"
									></textarea>
								</td>
								<td>
									<select
										class="form-control"
										[name]="'typeUnit' + costIndex"
										[compareWith]="compareTypeUnit"
										[(ngModel)]="costitem.typeUnit"
										[disabled]="
											Statique.isDefined(gridVersion) &&
											gridVersion != Statique.gridVersion.UPCOMING
										"
									>
										<option *ngFor="let item of listTypeUnit" [ngValue]="item">
											{{ item.libelle }}
										</option>
									</select>
								</td>
								<td>
									<select
										class="form-control"
										[name]="'calculationMode' + costIndex"
										[(ngModel)]="costitem.calculationMode"
										required
										[disabled]="
											Statique.isDefined(gridVersion) &&
											gridVersion != Statique.gridVersion.UPCOMING
										"
									>
										<option *ngFor="let item of listCalculationMode" [ngValue]="item.code">
											{{ "TRANSPORTATION_PLAN.CALCULATION_MODE." + item.key | translate }}
										</option>
									</select>
								</td>
								<td>
									<input
										type="number"
										step="0.01"
										ngControl="fixedFeesCtrl"
										[(ngModel)]="costitem.fixedFees"
										[name]="'fixedFees' + costIndex"
										class="form-control input-underline input-xs"
										required
										[disabled]="
											Statique.isDefined(gridVersion) &&
											gridVersion != Statique.gridVersion.UPCOMING
										"
									/>
								</td>
								<td>
									<select
										class="form-control"
										[name]="'currency' + costIndex"
										[(ngModel)]="costitem.currency"
										[compareWith]="Statique.byEcCurrencyCode"
										(ngModelChange)="changeModel(formCtrlAdminGrille)"
										[disabled]="
											Statique.isDefined(gridVersion) && gridVersion != Statique.gridVersion.UPCOMING
										"
									>
										<option *ngFor="let items of listCurrenciesByPostCost" [ngValue]="items">
											{{ items.codeLibelle }}
										</option>
									</select>
								</td>
								<td>
									<input
										type="number"
										step="0.01"
										[(ngModel)]="costitem.minFrees"
										[name]="'minFrees' + costIndex"
										class="form-control input-underline input-xs"
										max="{{ costitem.maxFrees }}"
										[disabled]="
											Statique.isDefined(gridVersion) &&
											gridVersion != Statique.gridVersion.UPCOMING
										"
									/>
								</td>
								<td>
									<input
										type="number"
										step="0.01"
										[(ngModel)]="costitem.maxFrees"
										[name]="'maxFrees' + costIndex"
										class="form-control input-underline input-xs"
										min="{{ costitem.minFrees }}"
										[disabled]="
											Statique.isDefined(gridVersion) &&
											gridVersion != Statique.gridVersion.UPCOMING
										"
									/>
								</td>

								<td>
									<select
										class="form-control"
										[name]="'startingPsl' + costIndex"
										[(ngModel)]="costitem.startingPsl"
										[disabled]="
											Statique.isDefined(gridVersion) &&
											gridVersion != Statique.gridVersion.UPCOMING
										"
									>
										<option [ngValue]="null"> </option>
										<option *ngFor="let item of Statique.TtPsl" [ngValue]="item.key">
											{{ item.value | translate }}
										</option>
									</select>
								</td>
								<td>
									<select
										class="form-control"
										[name]="'endPsl' + costIndex"
										[(ngModel)]="costitem.endPsl"
										[disabled]="
											Statique.isDefined(gridVersion) &&
											gridVersion != Statique.gridVersion.UPCOMING
										"
									>
										<option [ngValue]="null"> </option>
										<option *ngFor="let item of Statique.TtPsl" [ngValue]="item.key">
											{{ item.value | translate }}
										</option>
									</select>
								</td>

								<td *ngFor="let tranche of listTranches; let trIndex = index">
									<input
										*ngIf="costitem.trancheValues && costitem.trancheValues[trIndex]"
										type="number"
										step="0.01"
										ngControl="'tranche.ebTrancheNum' + trIndex"
										[(ngModel)]="costitem.trancheValues[trIndex].value"
										[name]="'tranche.ebTrancheNum' + costIndex + '_' + trIndex"
										class="form-control input-underline input-xs"
										[disabled]="
											Statique.isDefined(gridVersion) &&
											gridVersion != Statique.gridVersion.UPCOMING
										"
									/>
								</td>

							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>

			<div class="form-content col-sm-12 text-right margin-bottom-10">
				<div class="col-md-12">
					<button
						*ngIf="grille != null && grille.ebGrilleTransportNum == null"
						class="btn btn-sm btn-success btn-shadow"
						(click)="addGrilleTransport()"
						[disabled]=" !formCtrlAdminGrille.valid ||
							(Statique.isDefined(gridVersion) && gridVersion != Statique.gridVersion.UPCOMING)
						"
					>
						{{ "COMPANY_PROFILE.BTN_AJOUTER" | translate }}
					</button>
					<button
						*ngIf="grille != null && grille.ebGrilleTransportNum != null"
						class="btn btn-sm btn-success btn-shadow"
						[disabled]="!formCtrlAdminGrille.valid || gridVersion == Statique.gridVersion.PREVIOUS"
						(click)="editGrilleTransport()"
					>
						{{ "COMPANY_PROFILE.BTN_MODIFIER" | translate }}
					</button>
					<button
						*ngIf="grille != null && grille.ebGrilleTransportNum == null && originGrille"
						(click)="newVersionGrille(formCtrlAdminGrille.valid)"
						class="btn btn-sm btn-success btn-shadow"
						[class.disabled]="!formCtrlAdminGrille.valid || !validEndDate"
						[disabled]="
							Statique.isDefined(gridVersion) && gridVersion != Statique.gridVersion.UPCOMING
						"
					>
						{{ "TRANSPORTATION_PLAN.BTN_NEW_VERSION" | translate }}
					</button>
					<button class="btn btn-sm btn-success btn-shadow" (click)="backToList()">
						{{ "GENERAL.CANCEL" | translate }}
					</button>
				</div>
			</div>
		</form>
	</app-generic-table>
</div>
