.itemTabRoot {
	padding-bottom: 20px;
}
/*
table {
    margin-top: 12px;
}*/

.checkboxInlineForm {
	padding-top: 22px;
	margin-left: 18px;
}

td > p {
	margin: 0;
}
.max-width-text-area {
	max-width: 100%;
}
