<form #requestInformationDeclaration="ngForm" novalidate>
	<app-collapsible-panel title="Request information">
		<div class="row-eq-height bordered-bottom ">
			<div class="col-md-4 border-right-ddd col-33-percent">
				<fieldset>
					<legend class=" padding-left-0">
						<h4>{{ "CUSTOM.REFERENCE_INFORMATION" | translate }}</h4>
					</legend>
				</fieldset>
				<div class="col-md-12 new-formcontrol padding-0">
					<div class="row form-group">
						<app-form-custom
							[declaration]="declaration"
							[lisrFormField]="listReferenceInformation"
							initFields="all"
							[editable]="false"
							[ebModuleNum]="module"
							[column]="12"
						></app-form-custom>
					</div>
				</div>
			</div>
			<div class="col-md-4 border-right-ddd col-33-percent">
				<fieldset>
					<legend class=" padding-left-0">
						<h4>{{ "CUSTOM.SHIPPING_INFORMATION" | translate }}</h4>
					</legend>
				</fieldset>
				<div class="col-md-12 new-formcontrol padding-0">
					<div class="row form-group">
						<app-form-custom
							[declaration]="declaration"
							[lisrFormField]="listShippingInformation"
							initFields="all"
							[editable]="false"
							[ebModuleNum]="module"
							[column]="12"
						></app-form-custom>
					</div>
				</div>
			</div>
			<div class="col-md-4 border-right-ddd col-33-percent">
				<fieldset>
					<legend class=" padding-left-0">
						<h4>{{ "CUSTOM.CUSTOMS_INFORMATION" | translate }}</h4>
					</legend>
				</fieldset>
				<div class="col-md-12 new-formcontrol padding-0">
					<div class="row form-group">
						<app-form-custom
							[declaration]="declaration"
							[lisrFormField]="listCustomsInformation"
							initFields="all"
							[editable]="false"
							[ebModuleNum]="module"
							[column]="12"
						></app-form-custom>
					</div>
				</div>
			</div>
		</div>
		<div class="row-eq-height margin-bottom-10">
			<div class="col-md-4 border-right-ddd col-33-percent">
				<fieldset>
					<legend class=" padding-left-0">
						<h4>{{ "CUSTOM.CARRIER_INFORMATION" | translate }}</h4>
					</legend>
				</fieldset>
				<div class="col-md-12 new-formcontrol padding-0">
					<div class="row form-group">
						<app-form-custom
							[declaration]="declaration"
							[lisrFormField]="listCarrierInformation"
							initFields="all"
							[editable]="false"
							[ebModuleNum]="module"
							[column]="12"
						></app-form-custom>
					</div>
				</div>
			</div>
			<div class="col-md-4 border-right-ddd col-33-percent">
				<fieldset>
					<legend class=" padding-left-0">
						<h4>{{ "CUSTOM.INVOICE_INFORMATION" | translate }}</h4>
					</legend>
				</fieldset>
				<div class="col-md-12 new-formcontrol padding-0">
					<div class="row form-group">
						<app-form-custom
							[declaration]="declaration"
							[lisrFormField]="listInvoiceInformation"
							initFields="all"
							[editable]="false"
							[ebModuleNum]="module"
							[column]="12"
						></app-form-custom>
					</div>
				</div>
			</div>
			<div class="col-md-4 border-right-ddd col-33-percent">
				<fieldset>
					<legend class=" padding-left-0">
						<h4>{{ "CUSTOM.OTHER_INFORMATION" | translate }}</h4>
					</legend>
				</fieldset>
				<div class="col-md-12 new-formcontrol padding-0">
					<div class="row form-group">
						<app-form-custom
							[declaration]="declaration"
							[lisrFormField]="listOtherInformation"
							initFields="all"
							[editable]="false"
							[ebModuleNum]="module"
							[column]="12"
						></app-form-custom>
					</div>
				</div>
				<div class="col-md-12 new-formcontrol">
					<app-comment-panel
						class="col-md-12 col-xs-12 no-padding text-left"
						panelOpen="false"
						title="{{ 'CUSTOM.COMMENT' | translate }}"
						[commentModel]="declaration.comment"
						[disabled]="declaration.ebCustomDeclarationNum != null"
					></app-comment-panel>
				</div>
			</div>
		</div>
	</app-collapsible-panel>
</form>
