<form #cancellationInformationDeclaration="ngForm" novalidate>
	<app-collapsible-panel title="Cancellation information">
		<div class="row  form-group">
			<div class="col-md-4 new-formcontrol">
				<label class="control-label">{{ "CUSTOM.CANCELLATIONREASON" | translate }}</label>
				<div>
					<input
						[(ngModel)]="declaration.cancellationReason"
						name="declaration.cancellationReason"
						[disabled]="declaration.ebCustomDeclarationNum != null"
					/>
				</div>
			</div>
			<div class="col-md-4 new-formcontrol">
				<label class="control-label">{{ "CUSTOM.DATECANCELLATION" | translate }}</label>
				<div>
					<app-datetime-picker
						name="declaration.dateCancellation"
						[(ngModel)]="declaration.dateCancellation"
						[disabled]="declaration.ebCustomDeclarationNum != null"
					></app-datetime-picker>
				</div>
			</div>
		</div>
	</app-collapsible-panel>
</form>
