<div
	*ngIf="ebPslAppValue"
	class="modal modal-backdrop"
	tabindex="-1"
	role="dialog"
	style="display:block!important"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div>
				<form role="form" #EventInformationForm="ngForm" novalidate>
					<div class="modal-header">Detail</div>
					<div class="modal-body overflow-visible">
						<div class="row" *ngIf="ebPslAppValue">
							<div class="row-eq-height">
								<div class="col-md-12">
									<div
										class="row psl {{ !ebPslAppValue.exists ? 'bg-disabled' : '' }} {{
											ebPslAppValue.validated ? 'xxxbg-validated' : ''
										}}"
									>
										<div class="psltools" *ngIf="hasContributionAccess">
											<a title="{{ 'New Event' | translate }}" href="javascript:;"
												><i class="fa fa-pencil"></i
											></a>
											<a
												title="{{ 'New Deviation' | translate }}"
												href="javascript:;"
												class="deep-red"
												><i class="fa fa-compass"></i
											></a>
										</div>

										<fieldset>
											<legend>
												<h4>
													{{ ebPslAppValue.codePslLibelle }}
													<i class="fa fa-check" *ngIf="ebPslAppValue.validated"></i>
												</h4>
											</legend>

											<div class="col-md-12 new-formcontrol">
												<div class="col-md-4">
													<label class="areaLibelle">{{ "Actual date" | translate }}</label>
												</div>
												<div class="col-md-8">
													<app-datetime-picker
														[timepicker]="true"
														name="ebPslAppValue.dateActuelle"
														[(ngModel)]="ebPslAppValue.dateActuelle"
													></app-datetime-picker>
												</div>
											</div>

											<div class="col-md-12  new-formcontrol">
												<div class="col-md-4">
													<label class="areaLibelle">{{ "Estimated date" | translate }}</label>
												</div>
												<div class="col-md-8">
													<app-datetime-picker
														[timepicker]="true"
														name="ebPslAppValue.dateEstimee"
														[(ngModel)]="ebPslAppValue.dateEstimee"
													></app-datetime-picker>
												</div>
											</div>

											<div class="col-md-12  new-formcontrol">
												<div class="col-md-4">
													<label for="ebPartyOrigin.city" class="areaLibelle">{{
														"Negotiated date" | translate
													}}</label>
												</div>
												<div class="col-md-8">
													<app-datetime-picker
														c
														name="ebPslAppValue.dateNegotiation"
														[(ngModel)]="ebPslAppValue.dateNegotiation"
													></app-datetime-picker>
												</div>
											</div>

											<div class="col-md-12  new-formcontrol">
												<div class="col-md-4">
													<label class="areaLibelle">{{ "Country" | translate }}</label>
												</div>
												<div class="col-md-8">
													<input
														name="ebPslAppValue.xEcCountry.libelle"
														type="text"
														class=""
														disabled="true"
														[(ngModel)]="ebPslAppValue.xEcCountry.libelle"
													/>
												</div>
											</div>

											<div class="col-md-12  new-formcontrol">
												<div class="col-md-4">
													<label for="ebPslAppValue.city" class="areaLibelle">{{
														"PRICING_BOOKING.CITY" | translate
													}}</label>
												</div>
												<div class="col-md-8">
													<input
														id="ebPslAppValue.city"
														name="ebPslAppValue.city"
														type="text"
														class=""
														disabled="true"
														[(ngModel)]="ebPslAppValue.city"
													/>
												</div>
											</div>
											<div class="col-md-12  new-formcontrol">
												<div class="col-md-4">
													<label class="areaLibelle">{{
														"PRICING_BOOKING.QUANTITY" | translate
													}}</label>
												</div>
												<div class="col-md-8">
													<input
														type="number"
														class=""
														disabled="true"
														name="ebPslAppValue.quantity"
														[(ngModel)]="ebPslAppValue.quantity"
													/>
												</div>
											</div>
											<div class="col-md-12  new-formcontrol">
												<div class="col-md-4">
													<label for="ebPslAppValue.city" class="areaLibelle">Commentaire</label>
												</div>
												<div class="col-md-8">
													<input
														id="ebPslAppValue.commentaire"
														name="ebPslAppValue.commentaire"
														type="text"
														class=""
														disabled="true"
														[(ngModel)]="ebPslAppValue.commentaire"
													/>
												</div>
											</div>

											<div class="col-md-12  new-formcontrol">
												<div class="col-md-4">
													<label class="areaLibelle">{{ "Deviation" | translate }}</label>
												</div>
												<div class="col-md-8">
													<ul *ngFor="let evt of ebPslAppValue.listEvent; let evIndex = index">
														<li *ngIf="evt.quantity == null" class="deep-red">
															{{ evt.categorie.libelle }}
														</li>
														<li *ngIf="evt.quantity" class="deep-red">
															{{ evt.categorie.libelle }} ({{ evt.quantity }})
														</li>
													</ul>
												</div>
											</div>
										</fieldset>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a>
							<button class="btn btn-primary pull-right btn-sm mr5 modal_yes_btn">
								{{ "GENERAL.CONFIRM" | translate }}
							</button>
						</a>
						<a (click)="cancelModalAddEventDeviation()">
							<button class="btn btn-danger pull-right btn-sm mr5 modal_no_btn">
								{{ "GENERAL.CANCEL" | translate }}
							</button>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
