<div *ngIf="isDetail">
	<i
		class="fa"
		[ngClass]="ebFavori != null ? 'fa-star' : 'fa-star-o'"
		(click)="ebFavori == null ? checkFavori() : uncheckFavori()"
	></i>
</div>

<div *ngIf="isListing">
	<div class="savedsearch-list">
		<div class="savedsearch-list-item" *ngFor="let favori of listFavori; let i = index">
			<div
				class="savedsearch-list-item-content"
				[ngClass]="{ active: favori.ebFavoriNum == selectedFavoriFromlist.ebFavoriNum }"
			>
				<i
					*ngIf="isIconDefined(favori.module)"
					class="my-icon-{{ getModuleIcon(favori.module) }}"
					(click)="showFavori(favori)"
				></i>
				<h3 (click)="showFavori(favori)">{{ favori.refObject }}</h3>
				<div class="actions">
					<span (click)="deleteFavori(favori)">
						<i class="fa fa-trash"></i>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
