<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="shared/common_head :: copy">
	<title></title>
</head>

<body>
	<header th:replace="shared/header :: copy"></header>
	<main class="main">
		<table class="table-main">
			<tbody>
				<tr>
					<td>
						<div>

							<p th:utext="#{demandealertechargeur.intro(${refTrans})}"></p>
								<lu th:each="transporteur : ${listEbDemandeTransporteurs}">
									<li >
									<span th:text="${transporteur.nom}"></span><span th:if="${transporteur.ebEtablissement?.nom}" th:text="' - '"></span>
									<span th:text="${transporteur.ebCompagnie?.nom}"></span><span th:text="', '"></span>
									<span th:text="${transporteur.ebEtablissement?.nom}">
									</li>
								</lu>

							<div th:include="shared/synthse-without-apercu-quote-chargeur :: fonctionSyntheseWithoutApercu(${inco}, ${ebdemande}, ${url})"></div>
							<br/>
						</div>

						<div style="margin-top: 10px; padding-top: 15px;">
							===================================================================
						</div>

						<div>
							<div style="margin-bottom: 10px;">Catégories / Labels</div>
							<ul th:if="${not #lists.isEmpty(ebdemande.listCategories)}">
								<li:block th:each="cat : ${ebdemande.listCategories}">
									<div>
										<span th:text="${cat.libelle}"></span> :
										<span th:if="${not #lists.isEmpty(cat.labels)}">
											<span th:text="${cat.labels[0].libelle}"></span>
										</span>
										<span th:if="${#lists.isEmpty(cat.labels)}">
											<span>No label selected</span>
										</span>
									</div>
								</li>
							</ul>
							<div th:if="${#lists.isEmpty(ebdemande.listCategories)}">
								<span>List des catégories non définie</span>
							</div>
						</div>
					</td>
				</tr>

			</tbody>

		</table>
	</main>

	<footer th:replace="shared/footer :: copy"></footer>
</body>

</html>
