<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="shared/common_head :: copy">
	<title></title>
</head>

<body>
	<header th:replace="shared/header :: copy"></header>
	<main class="main">
		<table class="table-main">
			<tbody>
				<tr>
					<td>
						<div>
							
							<span th:utext="#{demandealertetransreponse.refTransPlusText(${ebdemande.refTransport})}"></span>
 							<span th:text="${etabChargeurName}"></span>-
 							<span th:text="${CpName}"></span>.
							
							<div th:include="shared/body-synthese :: fonctionSynthese(${listExEbDemandeTransporteur}, ${inco}, ${ebdemande}, ${url})"></div>
							
							<br/>
							
						</div>
					</td>
				</tr>

			</tbody>

		</table>
	</main>

	<footer th:replace="shared/footer :: copy"></footer>
</body>

</html>