<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="shared/common_head :: copy">
	<title></title>
</head>

<body>
	<header th:replace="shared/header :: copy"></header>
	<main class="main">
		<table class="table-main">
			<tbody>
				<tr>
					<td>
						<div>
							<p>
								<span th:text="${ebdemande.user.nom}"></span>
								<span th:utext="#{demandealertetransrecommend.prenomPlusText(${ebdemande.user.prenom})}"></span>
								<span th:utext="#{demandealertetransrecommend.refTransPlusText(${ebdemande.refTransport})}"></span>
<!-- 								<span th:utext="#{demandealertetransrecommend.companyPlusText(${ebdemande.user.ebCompagnie.nom})}"></span> -->
								<span th:utext="#{demandealertetransrecommend.etablissPlusText(${ebdemande.user.ebEtablissement.nom})}"></span>

							</p>
	
							<div th:if="${ebdemande.getListTransporteurs() != null}">

								<lu th:each="transporteur : ${ebdemande.getListTransporteurs()}">
									<li >
									<span th:text="${transporteur.nom}"></span>&nbsp;
									<span th:text="${transporteur.prenom}"></span>,&nbsp;
									<span th:text="${transporteur.ebEtablissement.nom}"></span>
									</li>
								</lu>
							</div>
							<div>
								<p th:utext="#{demandealertetransrecommend.msgInfo}"></p>
							</div>
							<div>
								<b>
								<p th:utext="#{demandealertechargeur.synthese}"></p>
								</b>
								<span th:utext="#{demandealertechargeur.ref(${ebdemande.refTransport})}"></span>
								<!-- <span th:utext="#{demandealertetransporteur.customRef(${ebdemande.customerReference})}"></span> -->
								
								<span th:if="${ebdemande.customerReference} != null and ${ebdemande.customerReference} != ''" th:utext="'( '+#{demandealertetransporteur.customRefMail(${ebdemande.customerReference})}+' )'"></span>
						
								<span th:utext="#{demandealertechargeur.type(${ebdemande.xEcTypeDemande})}"></span>
								<span th:utext="#{demandealertechargeur.paysorigine(${ebdemande.libelleOriginCountry})}"></span>
								<span th:utext="#{demandealertechargeur.destination(${ebdemande.libelleDestCountry})}"></span>
								<span th:utext="#{demandealertechargeur.modetrans(${ebdemande.getModeTransporteur()})}"></span>
								Incoterm :
								<span th:text="${inco}"></span>
								<span th:utext="#{demandealertechargeur.poidbrut(${ebdemande.totalWeight})}"></span>
								<span th:utext="#{demandealertechargeur.volume(${ebdemande.totalVolume})}"></span>
							</div>
							
							<div>
								<p  th:utext="#{demandealertechargeur.conclusion}"></p>
								<div class="btn-wrapper">
										<a th:href="@{${url}}">
												<span class="btn" th:text="${ebdemande.refTransport}"></span>
											</a>
								</div>
							</div>
						</div>
					</td>
				</tr>

			</tbody>

		</table>
	</main>

	<footer th:replace="shared/footer :: copy"></footer>
</body>

</html>