<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="shared/common_head :: copy">
	<title></title>
</head>

<body>
	<header th:replace="shared/header :: copy"></header>
	<main class="main">
		<table class="table-main">
			<tbody>
				<tr>
					<td>
						<div>	
							<span th:text="${prenomUser}"></span> <span th:text="${nomUser}"></span>
							<span th:utext="#{finalchoicemailfromtransportplan.corp(${etabNom})}"></span>
							<span th:utext="#{finalchoicemailfromtransportplan.corpsuite(${ebdemande.refTransport})}"></span>
							<br/>
							<b>
							<p th:utext="#{finalchoicemailfromtransportplan.apercuplan}"></p>
							</b>
							<span th:utext="#{aprecuplan.assurepar(${exEbDemandeTransporteur.xTransporteur.prenom})}"></span> <span th:text="${exEbDemandeTransporteur.xTransporteur.nom}"></span>
							<p th:utext="#{finalchoicemailfromtransportplan.ref(${exEbDemandeTransporteur.refPlan})}"></p>
							<p th:utext="#{aprecucot.modetrans(${modeTrans})}"></p>
							<!-- <p th:utext="#{aprecucot.price(${exEbDemandeTransporteur.price})}"></p> 
							<p th:utext="#{aprecucot.pickup(${exEbDemandeTransporteur.pickupTime})}"></p>
							<p th:utext="#{aprecucot.delivery(${exEbDemandeTransporteur.deliveryTime})}"></p>-->
					
						<b>
						<p th:utext="#{demandealertetransporteur.synthese}"></p>
						</b>
						<span th:utext="#{demandealertetransporteur.ref(${ebdemande.refTransport})}"></span>
						<!-- <span th:utext="#{demandealertetransporteur.customRef(${ebdemande.customerReference})}"></span> -->
						<span th:switch="${ebdemande.customerReference}">
							<span th:case="''"><span th:utext="#{demandealertetransporteur.customRefVide}"></span></span>
							<span th:case="*"><span th:utext="#{demandealertetransporteur.customRef(${ebdemande.customerReference})}"></span></span>
						</span>
						
						<span th:utext="#{demandealertetransporteur.type(${ebdemande.getLibelleTypeOfRequest()})}"></span>
						<span th:utext="#{demandealertetransporteur.paysorigine(${ebdemande.libelleOriginCountry})}"></span>
						<span th:utext="#{demandealertetransporteur.destination(${ebdemande.libelleDestCountry})}"></span>
						<span th:utext="#{demandealertetransporteur.modetrans(${ebdemande.getModeTransporteur()})}"></span>
						Incoterm :
						<span th:text="${inco}"></span>
						<br/>
						<span th:utext="#{demandealertetransporteur.poidbrut(${ebdemande.totalWeight})}"></span>
						<span th:utext="#{demandealertetransporteur.volume(${ebdemande.totalVolume})}"></span>
						

							<p th:utext="#{demandealertetransporteur.conclusion}"></p>
							<div class="btn-wrapper">
								<a th:href="@{${url}}">
									<span class="btn" th:text="${ebdemande.refTransport}"></span>
								</a>
							</div>
						</div>
					</td>
				</tr>

			</tbody>

		</table>
	</main>

	<footer th:replace="shared/footer :: copy"></footer>
</body>

</html>