<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="shared/common_head :: copy">
	<title></title>
</head>

<body>
	<header th:replace="shared/header :: copy"></header>
	<main class="main">
		<table class="table-main">
			<tbody>
				<tr>
					<td>
						<div>
						<span th:utext="#{transnotselected.corp}"></span>
<!-- 						<a th:href="@{${url}}"> -->
							<span th:text="${ebdemande.refTransport}"></span>
<!-- 						</a> -->
						<span th:utext="#{transnotselected.corp2}"></span>
						<span th:text="${ebdemande.user.ebCompagnie.nom}"></span>-
						<span th:text="${ebdemande.user.ebEtablissement.nom}"></span>
						
						<!-- <span th:utext="#{transnotselected.corp1}"></span> -->
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div th:include="shared/synthse-without-apercu-quote-chargeur :: fonctionSyntheseWithoutApercu(${inco}, ${ebdemande}, ${url})"></div>
					</td>
				</tr>

			</tbody>

		</table>
	</main>
<footer th:replace="shared/footer :: copy"></footer>
</body>

</html>