<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="shared/common_head :: copy">
	<title></title>
</head>

<body>
	<header th:replace="shared/header :: copy"></header>
	<main class="main">
		<table class="table-main">
			<tbody>
				<tr>
					<td>
						<div>
							<span th:utext="#{transportfile.creation.email.intro(${userDemande.getPrenom()}, ${userDemande.getNom()}, ${etablissementTransporteur.getNom()}, ${ebDemande.getRefTransport()})}"></span>
							<b>
								<p th:utext="#{transportfile.creation.email.previewcotation.title}"></p>
							</b>
							<span th:utext="#{transportfile.creation.email.previewcotation.content.validatedwith(${userTransporteur.getPrenom()}, ${userTransporteur.getNom()})}"></span><br/>
							<span th:utext="#{transportfile.creation.email.previewcotation.content.modetransport(${ebDemande.getModeTransporteur()})}"></span><br/>
							<span th:utext="#{transportfile.creation.email.previewcotation.content.totalprice(${demandeTransporteurFinal.getPrice()})}"></span><br/>
							
							<li th:each="compagnyPslLight : ${demandeTransporteurFinal.listEbTtCompagniePsl}">
								<span th:text="${compagnyPslLight.libelle} + ' :'"></span>
								<span th:if="${compagnyPslLight.expectedDate}!=null and ${compagnyPslLight.expectedDate}!=''" th:text="${#dates.format(compagnyPslLight.expectedDate, 'dd-MM-yyyy')}"></span>
								<span th:unless="${compagnyPslLight.expectedDate}!=null and ${compagnyPslLight.expectedDate}!=''" th:utext="#{mailInfo.empty}"></span>
							</li>
<!-- 							<span th:utext="#{transportfile.creation.email.previewcotation.content.pickupdate(${demandeTransporteurFinal.getPickupTime()})}"></span><br/> -->
<!-- 							<span th:utext="#{transportfile.creation.email.previewcotation.content.deliverydate(${demandeTransporteurFinal.getDeliveryTime()})}"></span><br/> -->

							<b>
								<p th:utext="#{transportfile.creation.email.demandesynthese.title}"></p>
							</b>
							<span th:if="${ebdemande}!=null and ${ebdemande.customerReference}!=null and ${ebdemande.customerReference}!=''" th:utext="#{transportfile.creation.email.demandesynthese.content.refclientMail(${ebdemande.customerReference})}"></span><br/>
												
		 					<span th:utext="#{transportfile.creation.email.demandesynthese.content.type(${ebDemande.typeRequestLibelle})}"></span><br/>
							<span th:utext="#{transportfile.creation.email.demandesynthese.content.countryorigin(${partyOrigin.getxEcCountry().getLibelle()})}"></span><br/>
							<span th:utext="#{transportfile.creation.email.demandesynthese.content.countrydestination(${partyDest.getxEcCountry().getLibelle()})}"></span><br/>
							<span th:utext="#{transportfile.creation.email.demandesynthese.content.modetransport(${modeTransportLibelle})}"></span><br/>
							<span th:utext="#{transportfile.creation.email.demandesynthese.content.incoterm(${incoterm})}"></span><br/>
							<span th:utext="#{transportfile.creation.email.demandesynthese.content.grossweight(${ebDemande.getTotalWeight()})}"></span><br/>
							<span th:utext="#{transportfile.creation.email.demandesynthese.content.volume(${ebDemande.getTotalVolume()})}"></span><br/>
							
							<span th:switch="${ebDemande.getDg()}">
								<span th:case="false"></span>
								<span class="bold red fz-16" th:case="true"><br/><span th:utext="#{transportfile.creation.email.demandesynthese.content.dangerous}"></span></span>
							</span>
							<br/>
							
							<p th:utext="#{demandealertetransporteur.conclusion}"></p>
							
							<div class="btn-wrapper">
								<a th:href="@{${url}}">
									<span class="btn" th:text="${refTransport}"></span>
								</a>
							</div>
						</div>

						<div style="margin-top: 10px; padding-top: 15px;">
							===================================================================
						</div>
						
						<div>
							<div style="margin-bottom: 10px;">Catégories / Labels</div>
							<ul th:if="${not #lists.isEmpty(ebDemande.listCategories)}">
								<li:block th:each="cat : ${ebDemande.listCategories}">
									<div>
										<span th:text="${cat.libelle}"></span> : 
										<span th:if="${not #lists.isEmpty(cat.labels)}">
											<span th:text="${cat.labels[0].libelle}"></span>
										</span>
										<span th:if="${#lists.isEmpty(cat.labels)}">
											<span>No label selected</span>
										</span>
									</div>
								</li>
							</ul>
							<div th:if="${#lists.isEmpty(ebDemande.listCategories)}">
								<span>List des catégories non définie</span>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</main>
	<footer th:replace="shared/footer :: copy"></footer>
</body>
</html>