<div
	class="modal modal-backdrop"
	tabindex="-1"
	role="dialog"
	style="display:flex !important; background-color: rgba(0, 0, 0, 0.4) !important;"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div>
				<form role="form" #SemiAutoMail="ngForm" novalidate>
					<div class="modal-header">New mail</div>
					<div class="modal-body" style="text-align: left;">
						<div class="form-group row">
							<div class="control-label col-md-3">
								<label>Email type :</label>
							</div>
							<div class="col-md-7">
								<select
									#emailTypeSelector
									[(ngModel)]="criteria.semiAutoMailNum"
									name="selectMailType"
									(change)="getTypeMail($event, emailTypeSelector)"
								>
									<option *ngFor="let email of listTypeMail" [ngValue]="email.mailId">
										{{ email.mailType }}
									</option>
								</select>
							</div>
							<div class="col-md-2">
								<button class="btn btn-primary pull-right btn-sm" (click)="getSemiAutoMail($event)">
									Generate Mail
								</button>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-md-3">
								<label>Recipients :</label>
							</div>
							<div class="col-md-9">
								<input type="text" [(ngModel)]="mail.to" name="destinataire" />
							</div>
						</div>

						<div class="form-group row">
							<div class="col-md-3">
								<label>CC :</label>
							</div>
							<div class="col-md-9">
								<input type="text" [(ngModel)]="listEnCopieCachee" name="cc" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-3">
								<label>Subject :</label>
							</div>
							<div class="col-md-9">
								<input type="text" [(ngModel)]="mail.subject" name="sujet" />
							</div>
						</div>
						<div class="row col-md-12">
							<p-editor
								#commentaire
								[(ngModel)]="mail.text"
								[placeholder]="'PRICING_BOOKING.ENTER_TEXT_HERE' | translate"
								[style]="{ height: '200px' }"
								name="chat"
							></p-editor>
						</div>

						<!-- <textarea name="mailArrea" id="mailArrea" cols="30" rows="10" [(ngModel)]="mail.text"></textarea> -->
					</div>
					<div class="modal-footer">
						<a>
							<button
								class="btn btn-primary pull-right btn-sm mr5 modal_yes_btn"
								#pageValid
								(click)="sendSemiAutoMail($event)"
							>
								Send
							</button>
						</a>
						<a>
							<button class="btn btn-danger pull-right btn-sm mr5 modal_no_btn" (click)="close()">
								{{ "GENERAL.CANCEL" | translate }}
							</button>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
