.login.login-chanel {
	.btn {
		&.btn-primary {
			background: #222 !important;
			border: 1px solid #222 !important;

			&:hover {
				background: #22364a;
			}
		}
	}

	.login-background {
		background-image: url("../../../../assets/images/chpb-bg.jpg");
		position: fixed;
		height: 100%;
		background-size: cover;
		width: 100%;
		background-repeat: repeat;
	}

	.sides-wrapper {
		box-shadow: 0 0 4px 0 #22222294;

		.right-side {
			label {
				color: #5b5b5b;
			}

			.login-button-chanel {
				cursor: pointer;
				width: 105px;
				margin: auto;
				border: 1px solid #222;
				border-radius: 5px;
				height: 39px;
				background-position: left center;
				background-size: 31px;
				background-repeat: no-repeat;
				background-image: url("../../../../assets/images/chanel-button.png");
				transition-duration: 0.3s;
				background-color: white;

				&:hover {
					background-color: #fff;
				}

				button {
					color: #222;
					position: relative;
					left: 14px;
					height: 35px;
					width: auto;
					transform: none;
				}
			}

			.smart-tracking {
				.track-input {
					display: flex;
				}
			}
		}

		.left-side {
			position: relative;

			.login-footer,
			.logo-wrapper {
				position: relative;
				z-index: 1;
			}

			background: #222;
		}
	}
}
