<!-- <body class="external-page sb-l-c sb-r-c account background"> -->
<div
	id="page-container"
	class="fade page-sidebar-fixed page-header-fixed page-with-wide-sidebar in"
>
	<!-- begin #content -->
	<div id="content" class="content">
		<!-- begin login -->
		<div class="login login-chanel">
			<!-- this element hold the background image as a CSS propoerty -->
			<div class="login-background"></div>
			<div class="sides-wrapper">
				<div class="left-side">
					<div class="logo-wrapper">
						<img src="assets/images/logo-mytower-white.png" alt="logo-mytower-white" />
					</div>
					<div class="login-footer">
						<div>
							<p>
								&copy; MyTower All Rights Reserved 2017
							</p>
							<p>
								<span style="margin-top: 10px; color: white;">For any problem contact us </span>
								<a href="mailto:support@alis-intl.com">
									<i
										class="fa fa-question-circle"
										style="font-size: 1.5em; cursor: pointer; margin-top: 0px; vertical-align: middle; margin-left: 3px; color: #fff;"
									></i>
								</a>
							</p>
						</div>
					</div>
				</div>
				<div class="right-side">
					<form (submit)="doLogin($event)" class="login-form">
						<div class="col-md-12">
							<div class="row">
								<div class="form-group col-md-12">
									<div class="col-md-8 col-md-offset-2">
										<label for="username">{{ "INSCRIPTION.EMAILORUNSERNAME" | translate }}</label>
										<input
											id="username"
											class="form-control"
											[(ngModel)]="model.username"
											(keyup)="sanitizeUsername()"
											#username="ngModel"
											name="username"
											value=""
											placeholder="E-mail"
											autofocus=""
											type="text"
										/>
									</div>
								</div>
								<div class="form-group col-md-12">
									<div class="col-md-8 col-md-offset-2">
										<label for="password">{{ "INSCRIPTION.MOTDEPASSE" | translate }}</label>
										<input
											id="password"
											class="form-control"
											[(ngModel)]="model.password"
											#password="ngModel"
											name="password"
											placeholder="Password"
											type="password"
										/>
										<a routerLink="/reset-password-chanel"> Forgot your password? </a>
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="col-md-8" style="margin-top:0%; margin-left:99px;">
                          <a style="color: white;" routerLink="/reset-password"> Forgot Your Password? </a>
                        </div> -->
						<div class="form-group col-md-12">
							<div class="text-center login-contents ">
								<div (click)="doLogin($event)" class="login-button-chanel">
									<button type="submit">{{ "LOGIN.LOGIN" | translate }}</button>
								</div>
							</div>
						</div>
					</form>
					<div class="">
						<div
							*ngIf="error"
							class="alert text-center"
							style="    color: rgb(216, 105, 105); font-size: 15px;"
						>
							{{ error }}
						</div>
					</div>
					<hr class="rule" />
					<div class="form-group">
						<div class="login-buttons text-center">
							<button
								type="button"
								class="btn btn-primary btn-dark-login"
								routerLink="/inscription-chanel"
							>
								{{ "LOGIN.INSCRIPTION" | translate }}
							</button>
							<button
								type="button"
								class="btn btn-primary btn-dark-login"
								(click)="displaySmartTracking()"
							>
								Smart tracking
							</button>
						</div>
					</div>
					<div *ngIf="smartTrackSearch" class="smart-tracking padding-15 col-md-12">
						<div class="col-md-12">
							<div class="d-flex-w">
								<div class="col-md-12 padding-0">
									<label for="username" class="text-left"
										>Please type in the reference you would like to track</label
									>
								</div>
								<div class="track-input col-md-12 padding-0">
									<input
										class="form-control"
										placeholder="Please type in the reference you would like to track"
										[(ngModel)]="searchCriteria.searchterm"
										autofocus=""
										type="text"
									/>
									<button
										type="button"
										class="fa fa-search btn btn-sm btn-primary padding-top-3 padding-bottom-3 padding-right-6 padding-left-6"
										(click)="getTracking($event)"
									></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div *ngIf="smartTracking">
				<app-smart-tracking
					[tracing]="tracing"
					[listTracing]="listTrack"
					(closePopUp)="smartTracking = $event"
				></app-smart-tracking>
			</div>
		</div>
		<!-- end login -->
	</div>
	<!-- end #content -->
</div>
<!-- </body> -->
