<div class="margin-tb-10">
	<div #panel class="form-content ">
		<app-generic-table
			#genericTable
			[parentContext]="this"
			[hideTable]="isAddObject"
			[searchInput]="criteria"
			[dataInfos]="dataInfos"
			[detailsInfos]="null"
			(addFormEmitter)="displayAdd($event)"
			(editFormEmitter)="diplayEdit($event)"
			(deleteEventEmitter)="deleteData($event)"
			[component]="GenericTableScreen.ADRESSES"
			[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
		>
		</app-generic-table>
	<app-form-adresse
		*ngIf="isAddObject"
		[userConnected]="userConnected"
		[adresse]="dataObject"
		[listAdresse]="listAddress"
		(validateAdd)="addAddress($event)"
		(validateEdit)="editAddress($event)"
		(cancel)="cancel($event)"
	></app-form-adresse>
</div>
<div style="display: none;">
	<div #openingHoursTemplate *ngIf="openingHours != null">
		<div class="row" *ngIf="openingHours != null">
			<div class="col-md-12">
				<div class="row" *ngIf="openingHours.etatHoraireNum == EtatHoraire.ALL_DAYS">
					<div class="col-md-3 padding-all-2">
						<b>{{ Statique.listEtatHoraire[openingHours.etatHoraireNum].value }}</b>
					</div>
					<div class="col-md-4 padding-all-2">
						{{ openingHours.horaireAllDays.heure1 }} - {{ openingHours.horaireAllDays.heure2 }}
					</div>
					<div class="col-md-1 padding-all-2" *ngIf="openingHours.horaireAllDays.ish3h4actif">
						|
					</div>
					<div class="col-md-4 padding-all-2" *ngIf="openingHours.horaireAllDays.ish3h4actif">
						{{ openingHours.horaireAllDays.heure3 }} - {{ openingHours.horaireAllDays.heure4 }}
					</div>
				</div>
				<div class="row" *ngIf="openingHours.etatHoraireNum == EtatHoraire.CUSTOMISE">
					<div class="col-md-12 padding-all-2">
						<b>{{ Statique.listEtatHoraire[openingHours.etatHoraireNum].value }}</b>
					</div>
					<div class="col-md-12" *ngFor="let jour of openingHours.jours">
						<div class="col-md-3 padding-all-2">
							<b>{{ jour.jourEnum.libelle }}</b>
						</div>
						<div class="col-md-4 padding-all-2">{{ jour.heure1 }} - {{ jour.heure2 }}</div>
						<div class="col-md-1 padding-all-2" *ngIf="jour.ish3h4actif">
							|
						</div>
						<div class="col-md-4 padding-all-2" *ngIf="jour.ish3h4actif">
							{{ jour.heure3 }} - {{ jour.heure4 }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
