input[type="radio"] {
	bottom: 2px;
}
.fields-wrapper {
	width: calc(100% - 20px);
	padding: 4px;
	border: 1px solid #ddd;
	// box-shadow: 0 0 7px -2px #000;
	border-radius: 4px;
}
.buttons-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	button {
		display: block;
		padding: 1px 3px;
		margin-bottom: 1px;
		// width: 20px;
		&.fa-close {
			padding: 1px 3px 1px 4px;
		}
	}
}
.align-field-ref {
	padding-right: 0px !important;
}
