<div class="form-root no-padding">
	<div class="content">
		<form>
			<div class="margin-bottom-15">
				<div>
					<fieldset>
						<legend>
							<p class="title color-gray-dark">
								{{ "ORDER.REFERENCE_INFORMATIONS" | translate }}
							</p>
						</legend>
						<div
							class="col-md-12 col-sm-12 col-xs-12 margin-top-15 d-flex-ai-c generic-inputs__style"
						>
							<label class="areaLibelle col-md-4 col-sm-12 col-xs-12 required"
								>{{ "ORDER.CUSTOMER_ORDER_REFERENCE" | translate }}
								:
							</label>
							<div class="col-md-8 col-sm-12 col-xs-12 padding-right-0">
								<input
									name="customerOrderReference"
									type="text"
									#customerOrderReferenceValue="ngModel"
									class="form-control"
									[(ngModel)]="order.customerOrderReference"
									required
									[disabled]="order.ebDelOrderNum"
								/>
							</div>
						</div>
						<div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-4">
							<app-form-error-messages
								[NgModelRef]="customerOrderReferenceValue"
							></app-form-error-messages>
						</div>
						<div class="col-md-12 d-flex-ai-fe generic-inputs__style">
							<label for="xEc Incoterm" class="areaLibelle col-md-4 col-sm-12 col-xs-12"
								>{{ "PRICING_BOOKING.INCOTERMS" | translate }}
								:
							</label>
							<div class="col-md-8 col-sm-12 col-xs-12 padding-right-0">
								<select
									class="form-control"
									name="xEcIncotermLibelle"
									#incoTermRef="ngModel"
									[compareWith]="Statique.compareIncoterm"
									[(ngModel)]="selectedIncoterm"
									[disabled]="readOnly"
									(change)="selectIncoterm(selectedIncoterm)"
								>
									<option [ngValue]="order.xEcIncotermLibelle">
										{{ order.xEcIncotermLibelle }}
									</option>
									<option *ngFor="let item of listIncoterms" [ngValue]="item">
										{{ item.libelle }}
									</option>
								</select>
								<div class="col-md-8 col-xs-12 col-md-offset-4">
									<app-form-error-messages [NgModelRef]="incoTermRef"></app-form-error-messages>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
			</div>

			<div
				class="row"
				[ngClass]="{
					'margin-bottom-15':
						(categories && categories.length > 0) ||
						(_listFields && _listFields.length > 0)
				}"
			>
				<div class="col-md-12" *ngIf="enableCategories">
					<fieldset
						*ngIf="
							(categories && categories.length > 0) ||
							(_listFields && _listFields.length > 0)
						"
						class="categorie_wrapper"
					>
						<legend>
							<p class="title color-gray-dark margin-bottom-15-important">
								{{ "QUALITY_MANAGEMENT.ROOT_CAUSE_CATEGORIE" | translate }} && 
								{{ "PRICING_BOOKING.CHAMPS_PARAMS" | translate }}
							</p>
						</legend>
							<div class="row">
								<ng-container *ngFor="let categorie of categories; let i = index">
									<ng-container *ngIf="!categorie.deleted">
										<div
											class="col-md-12 d-flex-ai-fe generic-inputs__style case-sensitive"
											[attr.id]="i"
										>
											<label class="areaLibelle  col-md-4 col-sm-12 col-xs-12">
												{{ categorie.libelle }} :
											</label>
											<div class="col-md-8 col-sm-12 col-xs-12">
												<app-autocomplete
													name="categorie{{ i }}"
													[(inputModel)]="categorie.selectedLabel"
													[listItems]="categorie.labels"
													bindLabel="libelle"
													bindValue="ebLabelNum"
													[bindObject]="true"
													placeholder="{{ 'PRICING_BOOKING.SELECTIONNER_LABEL' | translate }} ..."
													[disabled]="userConnected.rolePrestataire || readOnly"
												></app-autocomplete>
											</div>
										</div>
									</ng-container>
								</ng-container>
							</div>
					</fieldset>
				</div>
				<div>
					<fieldset *ngIf="_listFields && _listFields.length > 0" class=" nofieldset params_wrapper">
						<div class="col-md-12">
							<div
								class="row"
								*ngIf="_listFields && _listFields.length > 0; else blockErrorCustomFields"
							>
								<div
									class="col-md-12  d-flex-ai-c generic-inputs__style align-field-ref case-sensitive"
									*ngFor="let field of _listFields"
								>
									<label class="areaLibelle col-md-4 col-sm-12 col-xs-12"
										>{{ field.label }} :</label
									>
									<div class="col-md-8 col-sm-12 col-xs-12">
										<input
											name="{{ field.name }}"
											type="text"
											[(ngModel)]="field.value"
											placeholder="{{ 'PRICING_BOOKING.VALUE' | translate }} ..."
											[disabled]="userConnected.rolePrestataire || readOnly"
										/>
									</div>
								</div>
								<div
									class="col-md-12  d-flex-ai-c generic-inputs__style "
									*ngFor="let field of deletedCustomFields; let i = index"
								>
									<label class="areaLibelle col-md-4 col-sm-12 col-xs-12"
										>{{ field.label }} :</label
									>
									<div class="col-md-8 col-sm-12 col-xs-12">
										<input
											name="{{ field.name }}[i] "
											type="text"
											[(ngModel)]="field.value"
											[disabled]="true"
										/>
									</div>
								</div>
							</div>
							<ng-template #blockErrorCustomFields>
								<div class="text-center">
									<ng-container *ngIf="!order.listCustomsFields">
										<i class="fa fa-spinner fa-spin fa-15x fa-fw" style="color:black"></i>
										<span> Loading fields...</span>
									</ng-container>
									<ng-container *ngIf="order.listCustomsFields && !order.listCustomsFields.length">
										<span>No field found</span>
									</ng-container>
								</div>
							</ng-template>
						</div>
					</fieldset>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<fieldset class="params_wrapper">
						<legend>
							<p class="title color-gray-dark">
								{{ "PRICING_BOOKING.INFORMATIONS_COMPLEMENTAIRES" | translate }}
							</p>
						</legend>
						<div class="col-md-12">
							<app-advanced-editor
								[(ngModel)]="order.complementaryInformations"
								name="order.complementaryInformations"
								[disabled]="userConnected.rolePrestataire || readOnly"
							></app-advanced-editor>
						</div>
					</fieldset>
				</div>
			</div>
		</form>
	</div>
</div>
