<div class="padding-top-5">
	<app-generic-table
		#genericTable
		[hideTable]="isAddEditMode"
		[title]="'SETTINGS.REGIMES_TEMPORAIRES' | translate"
		[searchInput]="searchCriteria"
		[dataInfos]="dataInfos"
		[detailsInfos]="null"
		(addFormEmitter)="openAddForm($event)"
		(editFormEmitter)="openEditForm($event)"
		(deleteEventEmitter)="openDeletePopup($event)"
		[component]="GenericTableScreen.SETTINGS_REGIMES_TEMPORAIRES"
		(onDataLoaded)="onDataLoaded($event)"
		[parentContext]="this"
		[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
	>
		<form
			class="generic-default"
			formcontent
			*ngIf="isAddEditMode"
			role="form"
			#formCtrlAdminFlag="ngForm"
		>
			<div class="form-content col-sm-12 margin-top-10">
				<div class="row">
					<div class="col-md-3 col-sm-4 col-xs-12 form-group">
						<label>{{ "CPTM.REGIME_TMP.FIELDS.TYPE" | translate }}</label>
						<div>
							<input
								type="text"
								[(ngModel)]="regime.type"
								name="type"
								class="form-control input-underline input-xs"
								required
							/>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12 form-group">
						<label>{{ "CPTM.REGIME_TMP.FIELDS.DESCRIPTION" | translate }}</label>
						<div>
							<input
								type="text"
								ngControl="description"
								[(ngModel)]="regime.description"
								name="description"
								class="form-control input-underline input-xs"
								required
							/>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12 form-group">
						<label>{{ "CPTM.REGIME_TMP.FIELDS.DEADLINE_DAYS" | translate }}</label>
						<div>
							<input
								type="number"
								ngControl="deadlineDays"
								[(ngModel)]="regime.deadlineDays"
								name="deadlineDays"
								class="form-control input-underline input-xs"
								required
							/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-4 col-xs-12 form-group">
						<label>{{ "CPTM.REGIME_TMP.FIELDS.ALERT1_DAYS" | translate }}</label>
						<div>
							<input
								type="number"
								ngControl="alert1Days"
								[(ngModel)]="regime.alert1Days"
								name="alert1Days"
								class="form-control input-underline input-xs"
								required
							/>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12 form-group">
						<label>{{ "CPTM.REGIME_TMP.FIELDS.ALERT2_DAYS" | translate }}</label>
						<div>
							<input
								type="number"
								ngControl="alert2Days"
								[(ngModel)]="regime.alert2Days"
								name="alert2Days"
								class="form-control input-underline input-xs"
								required
							/>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12 form-group">
						<label>{{ "CPTM.REGIME_TMP.FIELDS.ALERT3_DAYS" | translate }}</label>
						<div>
							<input
								type="number"
								ngControl="alert3Days"
								[(ngModel)]="regime.alert3Days"
								name="alert3Days"
								class="form-control input-underline input-xs"
								required
							/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-4 col-xs-12 form-group">
						<label>{{ "CPTM.REGIME_TMP.FIELDS.LEG1_NAME" | translate }}</label>
						<div>
							<input
								type="text"
								ngControl="leg1Name"
								[(ngModel)]="regime.leg1Name"
								name="leg1Name"
								class="form-control input-underline input-xs"
								required
							/>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12 form-group">
						<label>{{ "CPTM.REGIME_TMP.FIELDS.LEG1_CODE" | translate }}</label>
						<div>
							<input
								type="text"
								ngControl="leg1Code"
								[(ngModel)]="regime.leg1Code"
								name="leg1Code"
								class="form-control input-underline input-xs"
								required
							/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-4 col-xs-12 form-group">
						<label>{{ "CPTM.REGIME_TMP.FIELDS.LEG2_NAME" | translate }}</label>
						<div>
							<input
								type="text"
								ngControl="leg2Name"
								[(ngModel)]="regime.leg2Name"
								name="leg2Name"
								class="form-control input-underline input-xs"
								required
							/>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12 form-group">
						<label>{{ "CPTM.REGIME_TMP.FIELDS.LEG2_CODE" | translate }}</label>
						<div>
							<input
								type="text"
								ngControl="leg2Code"
								[(ngModel)]="regime.leg2Code"
								name="leg2Code"
								class="form-control input-underline input-xs"
							/>
						</div>
					</div>
				</div>
			</div>

			<div class="form-content col-sm-12 text-right margin-bottom-10">
				<div class="col-md-12">
					<button
						*ngIf="!editMode && regime != null && regime.ebCptmRegimeTemporaire == null"
						class="btn btn-sm btn-success btn-shadow"
						[disabled]="!formCtrlAdminFlag.valid"
						(click)="addRegime($event)"
					>
						{{ "COMPANY_PROFILE.BTN_AJOUTER" | translate }}
					</button>
					<button
						*ngIf="editMode && regime != null"
						class="btn btn-sm btn-success btn-shadow"
						[disabled]="!formCtrlAdminFlag.valid"
						(click)="editRegime($event)"
					>
						{{ "COMPANY_PROFILE.BTN_MODIFIER" | translate }}
					</button>
					<button class="btn btn-sm btn-success btn-shadow" (click)="backToListRegime()">
						{{ "GENERAL.CANCEL" | translate }}
					</button>
				</div>
			</div>
		</form>
	</app-generic-table>
</div>
