/******** VARIABLES ********/
@import "../../../styles/variables";
@import "../../../app/shared/creation-form-step-base/creation-form-step-base.component.scss";
// CSS Classes for the component container the form component
.form-host {
	height: 100%;

	display: block;
	flex-flow: row;
	.create-wf-root {
		min-width: 400px;
		display: flex;
		flex-flow: column;
		overflow: hidden;
	}
	.step-transport {
		::ng-deep .ui-selectbutton {
			margin-left: 0px !important;
		}
	}
	::ng-deep .mode-transport__buttons {
		.ui-selectbutton {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-left: 0 !important;
		}
		.ui-button {
			padding: 4px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-flow: row wrap;
			margin-bottom: 4px;
			width: 20%;
			span {
				position: relative;
				top: initial;
				margin-top: 0;
				height: auto;
				width: 100%;
				left: initial;
				transition: all 0.2s ease-in-out;
			}
			span.fa {
				font-size: 26px;
			}
			&.ui-button-text-icon-left {
				.ui-button-text {
					padding: 2px !important;
				}
			}
			&:not(:first-child) {
				margin-left: 8px !important;
			}
		}
		&.ng-invalid[required]:not(form) {
			border: none;
			.ui-button {
				border: 1px solid #ececec !important;
			}
		}
		&.ng-valid {
			border: none;
			.ui-button {
				border: 1px solid #ececec !important;
			}
		}
	}

	.form-control:not(textarea) {
		height: 28px !important;
		padding: 3px 12px !important;
	}

	.text-bold {
		font-weight: bold;
	}

	.adresse-wrapper {
		.card {
			background: #fff;
			border-radius: 4px;
			margin-bottom: 5px;
			padding: 5px;
			font-size: $fz-sm;
			border: 1px solid $gray-medium;
			transition: all 0.2s ease-in-out;
			cursor: pointer;
			&:hover {
				box-shadow: 0 0 5px -2px #000;
			}
			&.active {
				border: 2px solid #bab6b6;
				box-shadow: 0 0 5px -2px #000;
			}
		}
	}

	.options {
		.new-adress__action-buttons {
			position: absolute;
			top: 5px;
			right: 0;
			i.fa {
				padding: 0 !important;
				margin: 4px;
				&.invalid-adress {
					pointer-events: none;
					color: $gray-box-shadow !important;
				}
			}
		}
	}

	.wf-steps {
		height: 100%;
		overflow-y: auto; // Set this overflow before the inner overflow hidden to limit height of the div
		width: 80%; // éviter que le bloc bouge quand il y a pas des données
		&.full-width {
			width: 100%;
		}
		.wf-step {
			height: 100%;
			overflow-y: hidden; // Hide the overflow here to let each step manage his overflow
		}
	}

	.wf-head {
		flex: 0 0 auto;
		box-shadow: 0 0 4px -1px $gray-dark;
		z-index: 1;
		// border-bottom: 1px solid #eeeeee;
	}

	.creation-title {
		font-size: 18px;
		width: 100%;
		margin: 0;
		padding: 6px;
		& + .details-steps {
			padding-top: 4px;
		}
	}

	.wf-footer-buttons {
		width: 100%;
		padding: 3px;
		// border-top: 1px solid #eeeeee;
		box-shadow: 0 0 5px -1px $gray-dark;
		display: flex;
		justify-content: flex-end;
		height: 41px; // height fixed on 41px to avoid scroll on the screen (combined with wf-body-left on the calc() proporty)
		z-index: 1;
	}

	.wf-body {
		flex: 0 1 100%;
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		overflow: auto;
	}

	.wf-body-left {
		display: flex;
		flex-flow: row;
		overflow: auto; // Prevent content to take more size than allowed
		// flex: 1 0 0; // je commente cette propriété pour que les deux blocs "saisie de cotation" et "synthése" prends toute la largeur
		height: calc(
			100% - 41px
		); // pour avoir éviter d'avoir un scroll sur l'écran -- 41px = la hauteur du footer (conteneur des boutons)
		width: 100%;
	}

	.wf-body-right {
		flex: 0 0 350px; // Set the flex grow to 0 if this part should have fixed size
		overflow-y: auto;
		padding-right: 10px;
		&.displayed-options {
			// cette classe sert a masque la synthése quand j'affiche le bloc des options
			flex: 0;
			visibility: hidden;
			padding: 0;
		}
		border-left: 1px solid $gray-medium;
	}

	// TODO : Move this class to generic form sass file
	.display-message {
		margin: 10px;
		font-size: $fz-lg;
		color: black;
		text-align: center;
		white-space: pre;
	}

	.modal-dialog {
		width: 80%;
	}

	.modal.modal-backdrop {
		display: block !important;
		z-index: 1039;
	}

	// Left & Right spaces
	.side-space {
		height: 0;
		width: 5%;
		display: inline-block;

		@media screen and (max-width: 1100px) {
			width: 5%;
		}
		@media screen and (max-width: 900px) {
			width: 0%;
		}
	}

	// Div wrapping the form component
	.form {
		height: 100%;
		width: 90%;
		display: inline-block;

		@media screen and (max-width: 1100px) {
			width: 90%;
		}
		@media screen and (max-width: 900px) {
			width: 100%;
		}
	}
}

// Root of the form component
.form-card {
	height: 100%;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0 0 10px -5px $black;
	*::-webkit-scrollbar {
		width: 5px;
	}
}

.form-card-no-border {
	height: 100%;
	background-color: white;
}

// Form structure
.form-root {
	display: flex;
	flex-flow: row;

	padding: 10px;
	&.no-padding {
		padding: 0px !important;
	}

	padding-bottom: 0;
	padding-top: 0;
	height: 100%;
	padding-right: 0;
	.content {
		flex: 0 1 100%;
		overflow-x: hidden;
		overflow-y: auto;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.options {
		border-left: 1px solid $gray-medium;
		flex: 0;
		visibility: hidden;
		padding: 0;
		user-select: none;
		overflow-x: hidden;
		overflow-y: auto;
		display: flex;
		flex-flow: column;
		background-color: $white;
		position: relative;
		&.show-options {
			flex: 1 0 350px;
			visibility: visible;
			padding: 10px;
			user-select: auto;
		}

		.options-content {
			min-width: 180px;
		}
	}
}

// Form elements styles
.form-root .content .section {
	// border-top: solid 1px #f2f2f2;
	margin-bottom: 5px;
}

.form-root .title,
.form-root .options .title,
.form-root .content .section .title {
	margin-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: 700;
	font-size: $fz-base;
}

.generic-accordion {
	p-accordion {
		display: block; // Fix height of elements
	}

	.ui-accordion-header {
		& > a {
			background: transparent !important;
			color: $black !important;
			border-color: transparent !important;
			// border-bottom: 1px solid #f4f4f4 !important;
			padding: 2px 4px 8px !important;
			&:focus {
				outline: none !important;
			}
			.ui-accordion-toggle-icon {
				color: $primary-color !important;
			}
		}
	}
	.ui-accordion-content {
		padding: 0px 4px 8px 8px !important;
		border: 1px solid transparent !important;
		color: $bleu-dark !important;

		// Clearfix
		&:after {
			content: "";
			display: block;
			clear: both;
		}
	}

	.accordion-item {
		display: flex;
		justify-content: space-between;
		/* align-items: flex-start;
		padding-top: 4px; */
		align-items: flex-end;
		span {
			width: 50%;
			text-align-last: left;
		}
		span,
		.line-value {
			color: $black;
			font-size: $fz-sm;
			// font-weight: 600;
		}
		label,
		.cat-label {
			padding-right: 4px;
			padding-top: 4px;
			width: 50%;
			text-align: right;
			color: $gray-dark;
			font-weight: normal;
			font-size: $fz-sm;
		}
	}
	.ui-accordion-header-text {
		font-size: $fz-base;
		font-weight: 700;
		color: $gray-dark;
	}
}

.generic-accordion-no-arrow {
	.ui-accordion p-accordionTab .ui-accordion-header a {
		.ui-accordion-toggle-icon {
			visibility: hidden;
			width: 0;
			margin-right: 0;
		}
	}
}

.generic-accordion-no-collapse {
	.ui-accordion p-accordionTab .ui-accordion-header {
		cursor: default;
		pointer-events: none;
	}
}

// Hack for IE 11
_:-ms-fullscreen {
	.form-host {
		height: calc(100% - 1px);
	}
}
