/******** VARIABLES ********/
@import "../../../styles/variables";

button.disabled {
	background-color: #5c6670 !important;
	border: 1px solid #5c6670 !important;
	&:hover {
		background-color: #5c6670 !important;
	}
}

@keyframes required-highlight {
	0% {
		opacity: 0.3;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.3;
	}
}
label {
	&.required {
		&::after {
			animation: 3s linear infinite required-highlight;
			content: "*";
			color: $secondary-color;
			font-size: 17px;
			position: absolute;
			padding-left: 3px;
		}
	}
}

.generic-inputs__style {
	&.case-sensitive {
		label {
			text-align: right;
			color: #707070;
			text-transform: none !important;
			&::first-letter {
				text-transform: none !important;
			}

			&.upperCase {
				text-transform: none !important;
			}
		}
	}

	padding-bottom: 10px;
	&.flex-start {
		align-items: flex-start;
	}
	.input-wrapper {
		position: relative;
		.underline {
			background-color: #31bfcb;
			display: inline-block;
			height: 2px;
			// left: 15px;
			margin-top: -4px;
			position: absolute;
			bottom: 0;
			-webkit-transform: scale(0, 1);
			transform: scale(0, 1);
			transition: all 0.3s linear;
			width: 100%;
		}
	}
	label,
	span.ui-accordion-header-text {
		font-size: $fz-sm;
		text-align: right;
		color: #707070;
		text-transform: lowercase;
		&::first-letter {
			text-transform: uppercase;
		}

		&.upperCase {
			text-transform: uppercase;
		}
	}
	.ng-select,
	input,
	select,
	textarea {
		background-color: transparent !important;
		border-top-width: 0 !important;
		border-right-width: 0 !important;
		border-left-width: 0 !important;
		border-radius: 0 !important;
		position: relative !important;
		box-shadow: none !important;
		font-size: $fz-sm;
	}
	select {
		height: 25px;
		padding: 0 5px;
	}
	textarea {
		border-right-width: 1px !important;
	}
	.ng-invalid[required]:not(form),
	input[class="ng-invalid"],
	.ng-valid[required],
	.ng-valid.required {
		border-left-width: 0 !important;
	}
	// .ng-invalid[required]:not(form),
	// input[class=ng-invalid] {
	//     border-bottom: 1px solid #ad0f0a;
	// }
	select:focus + .underline.focus-line,
	input:focus + .underline.focus-line {
		transform: scale(1);
	}
	.ng-select {
		&:before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			right: 0;
			width: 0;
			height: 2px;
			background: $red-danger;
		}
		&:focus {
			&:before {
				width: calc(100% - 30px);
			}
		}
		.ng-arrow-wrapper .ng-arrow {
			border-color: #5e6771 transparent transparent;
			border-width: 7px 4px 0.5px;
			right: -3px;
		}
		.ng-clear-wrapper,
		.ng-arrow-wrapper {
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transition: all 0.2s ease-in-out;
		}
		&:hover {
			.ng-clear-wrapper,
			.ng-arrow-wrapper {
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
			}
		}
	}
}

// Disable effect on check
input[type="radio"]:checked::after,
input[type="checkbox"]:checked::after,
input[type="radio"][disabled]::after,
input[type="checkbox"][disabled]::after {
	display: none !important;
}

.text-required {
	color: $secondary-color !important;
}
