<div class="d-flex col-md-12 padding-0 cotation-app__wrapper">
	<div [ngClass]="nbColListingGlobal" class="padding-left-0">
		<form role="form" #quotationForm="ngForm" novalidate>
			<fieldset>
				<div class="col-md-12 padding-0">
					<div
						*ngIf="isCotationVisible"
						[ngClass]="
							listCurrency && userConnected.canShowPrice
								? 'col-md-6 padding-left-0 left-side sid-border-ri'
								: 'col-md-12'
						"
					>
						<fieldset class="borderfieldset">
							<legend class="nopadding">
								<h4>{{ "PRICING_BOOKING.QUOTATION_INFORMATIONS" | translate }}</h4>
							</legend>
						</fieldset>

						<div class="col-md-12 padding-0 margin-top-10 generic-inputs__style">
							<div class="col-md-6 col-xs-12 padding-right-0 margin-top-10">
								<div class="col-md-12 padding-0 col-xs-12 d-flex-ai-c  ">
									<label for="transitTime" class="areaLibelle padding-left-0 col-md-7 required"
										>{{ "PRICING_BOOKING.TRANSITE_TIME" | translate }} :
									</label>
									<div class="col-md-5 padding-0">
										<input
											type="number"
											min="0"
											id="transitTime"
											class="form-control"
											name="exEbDemandeTransporteur.transitTime"
											[(ngModel)]="exEbDemandeTransporteur.transitTime"
											required
											[disabled]="disableField()"
										/>
									</div>
								</div>
							</div>

							<div
								*ngFor="let psl of exEbDemandeTransporteur.listEbTtCompagniePsl; let index = index"
								class="col-md-6 col-xs-12 margin-top-10 padding-right-0"
							>
								<div class="d-flex-ai-c  ">
									<label class="areaLibelle padding-left-0 col-md-7">{{ psl.libelle }} :</label>
									<div class="col-md-5 padding-0">
										<app-datetime-picker
											name="psl.libelle{{ index }}"
											[(ngModel)]="psl.expectedDate"
											[disabled]="disableField()"
										></app-datetime-picker>
									</div>
								</div>
							</div>

							<div class="col-md-12 padding-0 margin-top-20">
								<div class="row">
									<div class="col-md-6 padding-right-0   text-left">
										<label class="areaLibelle">{{ "CURRENCY.EXCHANGE_RATE" | translate }}</label>
										<div>
											<textarea
												class="form-control"
												id="exchangeRate"
												style="width: 100%"
												name="exEbDemandeTransporteur.exchangeRate"
												[(ngModel)]="exEbDemandeTransporteur.exchangeRate"
												[disabled]="disableField() && !isForEdit"
											>
											</textarea>
										</div>
									</div>
									<div class="col-md-6   text-left">
										<label for="infosForCustomsClearance" class="areaLibelle"
											>{{ "CUSTOM.INFOS_FOR_CUSTOMS_CLEARANCE" | translate }} *</label
										>
										<div>
											<textarea
												class="form-control"
												style="width: 100%"
												name="exEbDemandeTransporteur.infosForCustomsClearance"
												[(ngModel)]="exEbDemandeTransporteur.infosForCustomsClearance"
												[disabled]="disableField() && !isForEdit"
											></textarea>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 padding-0 margin-top-20">
								<app-comment-panel
									class="col-md-12 col-xs-12 no-padding"
									panelOpen="false"
									(sharedVarChange)="getComment($event, exEbDemandeTransporteur)"
									title="{{ 'PRICING_BOOKING.INFORMATIONS_COMPLEMENTAIRES' | translate }}"
									[commentModel]="exEbDemandeTransporteur.comment"
									[disabled]="disableField()"
								></app-comment-panel>
							</div>
						</div>
					</div>

					<div [className]="nbColListing" *ngIf="listCurrency && userConnected.canShowPrice">
						<fieldset class="borderfieldset">
							<legend class="nopadding">
								<div *ngIf="!isCostInvoiceVisible">
									<h4>{{ "PRICING_BOOKING.COST_DISPLAY" | translate }}</h4>
								</div>
								<div *ngIf="isCostInvoiceVisible">
									<h4>{{ "FREIGHT_AUDIT.NEGOTIATED_PRICE" | translate }}</h4>
								</div>
							</legend>
						</fieldset>
						<div class="row margin-top-10 margin-bottom-10">
							<fieldset [disabled]="disableField() && !isForAdd">
								<div class="col-md-12">
									<div class="cost margin-top-5">
										<div class="row padding-bottom-10">
											<div class="col-md-12 col-xs-12 padding-right-0">
												<div class="  d-flex-ai-c row">
													<label class="areaLibelle col-md-4"
														>{{ "PRICING_BOOKING.MODE_OF_TRANSPORT" | translate }} :
													</label>
													<div class="col-md-8 generic-inputs__style">
														<select
															class="form-control"
															name="exEbDemandeTransporteur.xEcModeTransport"
															[(ngModel)]="exEbDemandeTransporteur.xEcModeTransport"
															required
															[disabled]="disableField()"
														>
															<option *ngFor="let item of modeTransport" [ngValue]="item.code">{{
																item.libelle
															}}</option>
														</select>
													</div>
												</div>
											</div>
											<div
												class="col-md-12 col-xs-12   padding-0 margin-top-10-important d-flex-jc-sb"
											>
												<div
													class="global-cost__libelle padding-left-0 text-left generic-inputs__style"
												>
													<label
														for="price"
														class="custom-label"
														[ngClass]="{ required: !(readOnly || disableField()) }"
													>
														Total
													</label>
												</div>
												<div class="costs-wrapper generic-inputs__style">
													<div class="cost-input global-cost">
														<input
															type="number"
															id="price"
															class="text-center date-picker-input form-control"
															name="exEbDemandeTransporteur.price"
															[ngModel]="exEbDemandeTransporteur.price"
															(ngModelChange)="addPriceToOtherCost($event)"
															[disabled]="readOnly || disableField()"
															required
														/>
													</div>
													<div class="cost-input global-device generic-inputs__style">
														<input
															type="text"
															class="text-center"
															[(ngModel)]="ebDemande.xecCurrencyInvoice.code"
															name="currencycibleTotal"
															disabled
														/>
													</div>
												</div>
											</div>
										</div>
										<div *ngIf="!exEbDemandeTransporteur.isFromTransPlan; else fromPlan">
											<ng-container
												*ngFor="
													let categorie of exEbDemandeTransporteur.listCostCategorie;
													let i = index
												"
											>
												<div
													class="cost-categorie generic-inputs__style row entete margin-top-5 d-flex-jc-sb"
													*ngIf="categorie.listEbCost.length > 0"
													align="left"
													(click)="eventCollap(categorie)"
													[attr.aria-expanded]="!categorie.isCollapsed"
													aria-controls="collapseExample"
												>
													<div class="global-cost__libelle padding-0" align="left">
														<i *ngIf="categorie.isCollapsed == true" class="fa fa-plus-circle"></i>
														<i
															*ngIf="categorie.isCollapsed == false"
															class="fa fa-minus-circle"
														></i>
														<span class="cost-display__title">
															{{ categorie.libelle }}
														</span>
													</div>
													<div class="costs-wrapper  ">
														<div class="cost-input global-cost">
															<input
																type="number"
																class="form-control text-center"
																disabled
																[(ngModel)]="categorie.totalPriceConverted"
																name="categorie.priceEuro{{ i }}"
															/>
														</div>
														<div class="cost-input global-device">
															<input
																type="text"
																class="text-center"
																[(ngModel)]="ebDemande.xecCurrencyInvoice.code"
																name="currencycible"
																disabled
															/>
														</div>
													</div>
												</div>

												<div
													class="contenu"
													*ngFor="let item of categorie.listEbCost; let j = index"
													id="collapseExample"
													[ngbCollapse]="categorie.isCollapsed"
												>
													<div class="row margin-top-5 d-flex-jc-sb" align="left">
														<div class="padding-left-0 col-md-4 cost-libelle" align="left">
															<label *ngIf="item.type != 2; else divInput">
																{{ item.libelle }}
															</label>
															<ng-template #divInput>
																<div class="input-group">
																	<input
																		type="text"
																		class="text-center"
																		name="categorie{{ i }}.listEbCost.libelle{{ j }}"
																		[(ngModel)]="item.libelle"
																	/>
																</div>
															</ng-template>
														</div>

														<div class="costs-wrapper">
															<div class="cost-input">
																<input
																	type="text"
																	class="form-control text-center"
																	name="categorie{{ i }}.listEbCost.price{{ j }}"
																	[ngModel]="item.price"
																	(blur)="
																		calculCostItemPriceCostItem(
																			categorie,
																			exEbDemandeTransporteur.listCostCategorie,
																			exEbDemandeTransporteur
																		)
																	"
																	[pattern]="Statique.patternDecimalNumber"
																	(ngModelChange)="handleChangePrice($event, item)"
																/>
															</div>
															<div class="cost-input">
																<div *ngIf="isForEdit || isForAdd; else blockDevise">
																	<ng-select
																		class="select-device text-center"
																		[items]="listCurrenciesByPostCost"
																		[multiple]="false"
																		bindLabel="code"
																		bindValue="ecCurrencyNum"
																		name="categorie{{ i }}.listEbCost.ecCurrencyNum{{ j }}"
																		[(ngModel)]="item.xEcCurrencyNum"
																		(change)="changeCostItemCurrency(item, categorie, true)"
																		[disabled]="readOnly"
																	>
																	</ng-select>
																</div>
																<ng-template #blockDevise>
																	<div>
																		<input
																			type="text"
																			class="text-center"
																			name="categorie{{ i }}.listEbCost.ecCurrencyNum{{ j }}"
																			[(ngModel)]="item.codeCurrency"
																			disabled
																		/>
																	</div>
																</ng-template>
															</div>
															<div class="cost-input global-cost-category">
																<input
																	type="number"
																	class="form-control text-center"
																	disabled
																	[(ngModel)]="item.priceEuro"
																	name="categorie{{ i }}.listEbCost.priceEuro{{ j }}"
																/>
															</div>
															<div class="cost-input">
																<input
																	type="text"
																	class="text-center"
																	[(ngModel)]="ebDemande.xecCurrencyInvoice.code"
																	name="currencycible"
																	disabled
																/>
															</div>
														</div>
													</div>
													<div class="row" *ngIf="j == categorie.listEbCost.length - 1">
														<div class="entete">
															<button
																(click)="addOtherCost(categorie)"
																class="btn btn-sm post-add__currency"
															>
																Add
															</button>
														</div>
													</div>
												</div>
											</ng-container>
										</div>
										<ng-template #fromPlan>
											<div class="cost-categorie  ">
												<div
													class="row entete margin-top-5 d-flex-jc-fs"
													align="left"
													(click)="eventCollap(null, true)"
													[attr.aria-expanded]="!detailCollapsed"
													aria-controls="collapsedDetail"
												>
													<div class="global-cost__libelle padding-0" align="left">
														<i *ngIf="detailCollapsed == true" class="fa fa-plus-circle"></i>
														<i *ngIf="detailCollapsed == false" class="fa fa-minus-circle"></i>
														<span class="cost-display__title">
															{{ "PRICING_BOOKING.COST_BY_CATEGORIE" | translate }}
														</span>
													</div>
												</div>
											</div>
											<div
												class="contenu"
												*ngFor="let item of exEbDemandeTransporteur.listPlCostItem; let j = index"
												id="collapsedDetail"
												[ngbCollapse]="detailCollapsed"
											>
												<div class="row margin-top-5 d-flex-jc-sb" align="left">
													<div class="padding-0 width-20-percent cost-libelle" align="left">
														<span *ngIf="item.type != null; else fromMtc">
															{{ item.libelle }}
														</span>
														<ng-template #fromMtc>
															<span>
																{{ item.libelle }}
															</span>
														</ng-template>
													</div>
													<div class="costs-wrapper width-80-percent text-center">
														<div
															class="cost-input text-left width-68-percent"
															*ngIf="item.comment != null; else noComment"
														>
															({{ item.comment }})
														</div>
														<ng-template #noComment>
															<div class="cost-input text-left width-68-percent"></div>
														</ng-template>
														<div class="cost-input global-cost-category generic-inputs__style">
															<input
																type="text"
																name="price{{ j }}"
																disabled
																[ngModel]="item.price | tofixed: 2"
																(ngModelChange)="item.price = $event"
																class="text-center date-picker-input form-control"
															/>
														</div>
														<div class="cost-input generic-inputs__style">
															<input
																type="text"
																name="currency{{ j }}"
																disabled
																[(ngModel)]="ebDemande.xecCurrencyInvoice.code"
																class="text-center date-picker-input form-control"
															/>
														</div>
													</div>
												</div>
											</div>
										</ng-template>
									</div>
								</div>
								<div
									*ngIf="isCostInvoiceVisible"
									class="col-md-12 padding-0  margin-top-10 generic-inputs__style"
								>
									<div class="col-md-6  padding-left-0 text-left">
										<label class="areaLibelle">{{ "CURRENCY.EXCHANGE_RATE" | translate }}</label>
										<div>
											<textarea
												class="form-control"
												id="exchangeRate"
												style="width: 100%"
												name="exEbDemandeTransporteur.exchangeRate"
												[(ngModel)]="exEbDemandeTransporteur.exchangeRate"
												disabled
											>
											</textarea>
										</div>
									</div>
									<div class="col-md-6  padding-right-0 text-left">
										<label for="infosForCustomsClearance" class="areaLibelle"
											>{{ "CUSTOM.INFOS_FOR_CUSTOMS_CLEARANCE" | translate }} *</label
										>
										<div>
											<textarea
												class="form-control"
												style="width: 100%"
												name="exEbDemandeTransporteur.infosForCustomsClearance"
												[(ngModel)]="exEbDemandeTransporteur.infosForCustomsClearance"
												disabled
											></textarea>
										</div>
									</div>
								</div>
								<div
									*ngIf="isCostInvoiceVisible"
									class="col-md-12  padding-0  margin-top-20 generic-inputs__style"
								>
									<app-comment-panel
										class="col-md-12 col-xs-12 no-padding"
										panelOpen="false"
										(sharedVarChange)="getComment($event, exEbDemandeTransporteur)"
										title="{{ 'PRICING_BOOKING.INFORMATIONS_COMPLEMENTAIRES' | translate }}"
										[commentModel]="exEbDemandeTransporteur.comment"
										disabled
									></app-comment-panel>
								</div>
							</fieldset>
						</div>
					</div>
				</div>
			</fieldset>
		</form>

		<div class="row margin-top-20-important">
			<div class="text-right ">
				<button
					*ngIf="(isForEdit || isForAdd) && ebDemande.ebDemandeNum"
					class="btn btn-tertiary btn-sm"
					(click)="feedbackQuotationEmitter.emit(null)"
				>
					{{ "GENERAL.CANCEL" | translate }}
				</button>
				<button
					class="btn btn-danger btn-sm"
					(click)="closePopup($event)"
					*ngIf="!ebDemande.ebDemandeNum"
				>
					{{ "GENERAL.CANCEL" | translate }}
				</button>

				<button
					*ngIf="!ebDemande.ebDemandeNum || (isPendingStatus && !isTrGrouped())"
					class="btn btn-primary btn-sm"
					(click)="validateCotationChoice()"
				>
					{{ "PRICING_BOOKING.SUBMIT_QUOTATION" | translate }}
				</button>
				
				<button
					*ngIf="ebDemande.ebDemandeNum && ((isForEdit || isForAdd) || isTrGrouped())"
					class="btn btn-primary btn-sm"
					(click)="addQuotation($event)"
					[disabled]="!quotationForm.valid"
				>
					<span [ngSwitch]="isForEdit || isForAdd">
						<span *ngSwitchCase="isForEdit">
							{{ "TRANSPORT_MANAGEMENT.SAVE_INFO" | translate }}
						</span>
						<span *ngSwitchCase="isForAdd">
							{{ "PRICING_BOOKING.SUBMIT_QUOTATION" | translate }}
						</span>
						<span *ngSwitchDefault>
							{{ "PRICING_BOOKING.SU+BMIT_QUOTATION" | translate }}
						</span>
					</span>
				</button>
			</div>
		</div>
	</div>

	<div *ngIf="isCostInvoiceVisible" class="col-md-6 generic-inputs__style">
		<form class="height-100-percent" role="form" #realquotationForm="ngForm" novalidate>
			<fieldset class="height-100-percent">
				<div
					class="d-flex-w d-flex-jc-fe col-md-8 height-100-percent sid-border-ri padding-right-20"
				>
					<div *ngIf="listCurrency && userConnected.canShowPrice">
						<fieldset class="borderfieldset">
							<legend class="nopadding">
								<h4>{{ "FREIGHT_AUDIT.INVOICE" | translate }}</h4>
							</legend>
						</fieldset>
						<div class="col-md-12 padding-0 margin-top-10 margin-bottom-10">
							<div class="col-md-12">
								<div class="cost margin-top-5">
									<div class="row padding-bottom-10">
										<div class="col-md-12 col-xs-12 padding-bottom-20">
											<div class="form-group row"></div>
										</div>
										<div class="col-md-12 col-xs-12 padding-0">
											<div class="col-md-6 text-left">
												<label for="priceReal" class="custom-label required">
													{{ "FREIGHT_AUDIT.TOTAL_PRICE" | translate }}
												</label>
											</div>
											<div *ngIf="isTransporteur()" class="col-md-4 padding-right-0">
												<input
													type="number"
													id="priceReal"
													class="text-center date-picker-input form-control"
													name="ebInvoice.applyCarrierIvoicePrice"
													[(ngModel)]="ebInvoice.applyCarrierIvoicePrice"
													(blur)="calculCostGap()"
													[disabled]="readOnly"
													required
												/>
											</div>
											<div
												*ngIf="
													userConnected &&
													(userConnected.role == UserRole.CHARGEUR ||
														userConnected.role == UserRole.CONTROL_TOWER)
												"
												class="col-md-4 padding-right-0"
											>
												<input
													type="number"
													id="priceReal"
													class="text-center date-picker-input form-control"
													name="ebInvoice.applyChargeurIvoicePrice"
													[(ngModel)]="ebInvoice.applyChargeurIvoicePrice"
													(blur)="calculCostGap()"
													[disabled]="readOnly"
													required
												/>
											</div>
											<div class="col-md-2 padding-right-0">
												<input
													type="text"
													class="text-center"
													[(ngModel)]="ebDemande.xecCurrencyInvoice.code"
													name="currencycibleTotal"
													disabled
												/>
											</div>
										</div>
									</div>
									<div
										class="cost-categorie"
										*ngFor="let categorie of listCostCategorieInvoice; let i = index"
									>
										<div
											class="row entete margin-top-5"
											align="left"
											(click)="eventCollapRealCost(categorie)"
											[attr.aria-expanded]="!categorie.isCollapsed"
											aria-controls="collapseExample"
										>
											<div class="col-md-6"></div>
											<div class="col-md-4 padding-right-0">
												<input
													type="number"
													class="form-control text-center"
													disabled
													[(ngModel)]="categorie.priceEuroReal"
													name="categorie.priceEuroReal{{ i }}"
												/>
											</div>
											<div class="col-md-2 padding-right-0">
												<input
													type="text"
													class="text-center"
													[(ngModel)]="ebDemande.xecCurrencyInvoice.code"
													name="currencycible"
													disabled
												/>
											</div>
										</div>
										<div
											class="contenu"
											*ngFor="let itemReal of categorie.listEbCost; let j = index"
											id="collapseExample"
											[ngbCollapse]="categorie.isCollapsed"
										>
											<div class="row margin-top-5" align="left">
												<div class="col-md-3 padding-right-0">
													<input
														type="text"
														class="form-control text-center"
														name="categorie{{ i }}.listEbCost.priceReal{{ j }}"
														[ngModel]="itemReal.priceReal"
														(blur)="
															doExchangeRateConversionForCostItems(
																categorie,
																listCostCategorieInvoice
															)
														"
														[pattern]="Statique.patternDecimalNumber"
														(ngModelChange)="handleChangePriceReal($event, itemReal)"
													/>
												</div>
												<div class="col-md-3 padding-right-0">
													<div *ngIf="isCostInvoiceVisible; else blockDevise">
														<ng-select
															class="select-device text-center"
															[items]="listCurrencyeCompagnie"
															[multiple]="false"
															bindLabel="code"
															bindValue="ecCurrencyNum"
															name="categorie{{ i }}.listEbCost.ecCurrencyNum{{ j }}"
															[(ngModel)]="itemReal.xEcCurrencyNumReal"
															(change)="
																ChangedDeviseForReal(itemReal, categorie, listCostCategorieInvoice)
															"
														>
														</ng-select>
													</div>
													<ng-template #blockDevise>
														<div>
															<input
																type="text"
																class="text-center"
																name="categorie{{ i }}.listEbCost.ecCurrencyNum{{ j }}"
																[(ngModel)]="itemReal.codeCurrency"
																disabled
															/>
														</div>
													</ng-template>
												</div>
												<div class="col-md-4 padding-right-0">
													<input
														type="number"
														class="form-control text-center"
														disabled
														[(ngModel)]="itemReal.priceEuroReal"
														name="categorie{{ i }}.listEbCost.priceEuroReal{{ j }}"
													/>
												</div>
												<div class="col-md-2 padding-right-0">
													<input
														type="text"
														class="text-center"
														[(ngModel)]="ebDemande.xecCurrencyInvoice.code"
														name="currencycible"
														disabled
													/>
												</div>
											</div>
											<div class="row" *ngIf="j == categorie.listEbCost.length - 1">
												<div class="entete">
													<button
														(click)="addOtherCost(categorie)"
														class="btn btn-sm post-add__currency"
														disabled
													>
														Add
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 margin-top-20 no-padding">
							<app-comment-panel
								class="col-md-12 col-xs-12 no-padding"
								panelOpen="false"
								(sharedVarChange)="getCommentInvoice($event, ebInvoice)"
								title="{{ 'PRICING_BOOKING.INFORMATIONS_COMPLEMENTAIRES' | translate }}"
								[commentModel]="
									isTransporteur()
										? ebInvoice.commentInvoiceCarrier
										: ebInvoice.commentInvoiceCharger
								"
								disabled
							></app-comment-panel>
						</div>
					</div>
					<div class="addquot-btn__wrapper" *ngIf="isCostInvoiceVisible">
						<div class="pull-right">
							<button class="btn btn-tertiary btn-sm" (click)="feedbackQuotationEmitter.emit(null)">
								{{ "GENERAL.CANCEL" | translate }}
							</button>
							<button
								*ngIf="exEbDemandeTransporteur"
								class="btn btn-primary btn-sm"
								(click)="addRealQuotation($event)"
								[disabled]="!realquotationForm.valid"
							>
								{{ "FREIGHT_AUDIT.SUBMIT_INVOICE" | translate }}
							</button>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div *ngIf="listCurrency && userConnected.canShowPrice">
						<fieldset class="borderfieldset">
							<legend class="nopadding">
								<h4>{{ "FREIGHT_AUDIT.GAP" | translate }}</h4>
							</legend>
						</fieldset>
						<div class="row margin-top-10 margin-bottom-10">
							<div class="col-md-12">
								<div class="cost margin-top-5">
									<div class="row padding-bottom-10">
										<div class="col-md-12 col-xs-12 padding-bottom-20">
											<div class="form-group row"></div>
										</div>
										<div class="col-md-12 col-xs-12 padding-0">
											<div
												*ngIf="
													userConnected &&
													(userConnected.role == UserRole.CHARGEUR ||
														userConnected.role == UserRole.CONTROL_TOWER)
												"
												class="col-md-8 padding-right-0"
											>
												<input
													type="number"
													id="priceReal"
													[ngClass]="
														ebInvoice.gapChargeur > 0
															? 'positive'
															: ebInvoice.gapChargeur < 0
															? 'negative'
															: 'neutre'
													"
													class="text-center date-picker-input form-control"
													name="ebInvoice.gapChargeur"
													[(ngModel)]="ebInvoice.gapChargeur"
													disabled
													required
												/>
											</div>
											<div *ngIf="isTransporteur()" class="col-md-8 padding-right-0">
												<input
													type="number"
													id="priceReal"
													[ngClass]="
														ebInvoice.gapCarrier > 0
															? 'positive'
															: ebInvoice.gapCarrier < 0
															? 'negative'
															: 'neutre'
													"
													class="text-center date-picker-input form-control"
													name="ebInvoice.gapCarrier"
													[(ngModel)]="ebInvoice.gapCarrier"
													disabled
													required
												/>
											</div>
											<div class="col-md-4 padding-right-0">
												<input
													type="text"
													class="text-center"
													[(ngModel)]="ebDemande.xecCurrencyInvoice.code"
													name="currencycibleTotal"
													disabled
												/>
											</div>
										</div>
									</div>
									<div
										class="cost-categorie"
										*ngFor="let categorie of listCostCategorieInvoice; let i = index"
									>
										<div
											class="row entete margin-top-5"
											align="left"
											(click)="eventCollapRealCost(categorie)"
											[attr.aria-expanded]="!categorie.isCollapsed"
											aria-controls="collapseExample"
										>
											<div class="col-md-8 padding-right-0">
												<input
													type="number"
													[ngClass]="
														categorie.priceGab > 0
															? 'positive'
															: categorie.priceGab < 0
															? 'negative'
															: 'neutre'
													"
													class="form-control text-center"
													disabled
													[(ngModel)]="categorie.priceGab"
													name="categorie.priceGab{{ i }}"
												/>
											</div>
											<div class="col-md-4 padding-right-0">
												<input
													type="text"
													class="text-center"
													[(ngModel)]="ebDemande.xecCurrencyInvoice.code"
													name="currencycible"
													disabled
												/>
											</div>
										</div>
										<div
											class="contenu"
											*ngFor="let itemReal of categorie.listEbCost; let j = index"
											id="collapseExample"
											[ngbCollapse]="categorie.isCollapsed"
										>
											<div class="row margin-top-5" align="left">
												<div class="col-md-8 padding-right-0">
													<input
														type="number"
														[ngClass]="
															itemReal.priceGab > 0
																? 'positive'
																: itemReal.priceGab < 0
																? 'negative'
																: 'neutre'
														"
														class="form-control text-center"
														disabled
														[(ngModel)]="itemReal.priceGab"
														name="categorie{{ i }}.listEbCost.priceGab{{ j }}"
													/>
												</div>
												<div class="col-md-4 padding-right-0">
													<input
														type="text"
														class="text-center"
														[(ngModel)]="ebDemande.xecCurrencyInvoice.code"
														name="currencycible"
														disabled
													/>
												</div>
											</div>
											<div class="row" *ngIf="j == categorie.listEbCost.length - 1">
												<div class="entete">
													<button
														(click)="addOtherCost(categorie)"
														class="btn btn-sm post-add__currency"
														disabled
													>
														Add
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 margin-top-20 no-padding">
							<app-comment-panel
								class="col-md-12 col-xs-12 no-padding"
								panelOpen="false"
								(sharedVarChange)="getCommentGap($event, ebInvoice)"
								title="{{ 'PRICING_BOOKING.INFORMATIONS_COMPLEMENTAIRES' | translate }}"
								[commentModel]="
									isTransporteur() ? ebInvoice.commentGapCarrier : ebInvoice.commentGapCharger
								"
								disabled
							></app-comment-panel>
						</div>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
