@import "../../../../../styles/variables";
fieldset {
	border-top: none !important;
}

.infos-complementaire {
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
}

.cost-display__title {
	font-size: 14px;
	font-weight: 600;
}
.row.entete.margin-top-5 {
	cursor: pointer;
}

.sid-border-ri {
	border-right: 1px solid hsla(0, 0%, 0%, 0.2);
}

.infos-general {
	border-top: 1px solid #f3f3f3;
}
.borderfieldset {
	border-top: 1px solid hsl(0, 0%, 87%) !important;
}
.entete {
	cursor: pointer;
}
.post-add__currency {
	float: right;
	margin: 5px 0 13px;
}
::ng-deep .select-device .ng-clear-zone {
	display: none;
}
::ng-deep .cotation-app__wrapper {
	.ng-select {
		height: 25px !important;
		padding: 0 4px;
		&.ng-single .ng-control .ng-value-container {
			overflow: visible !important;
			.ng-value .ng-value-wrapper {
				font-size: 13px;
				text-overflow: initial !important;
			}
		}
		.ng-control .ng-value-container {
			padding-left: 3px !important;
		}
		.ng-clear-wrapper {
			width: 10px;
		}
		.ng-arrow-wrapper {
			width: 19px;
		}
	}
}

.positive {
	color: hsl(0, 100%, 50%) !important;
}
.negative {
	color: hsl(192, 100%, 24%) !important;
}
.neutre {
	color: black !important;
}
.addquot-btn__wrapper {
	align-self: flex-end;
}

::ng-deep .cotation-app__wrapper {
	.ng-select-container,
	.ng-value-container {
		min-height: 23px !important;
	}
}
.cost-libelle {
	padding-left: 4px !important;
	width: 33.33%;
}
.global-cost__libelle {
	width: 61%;
}
.costs-wrapper {
	width: 66.66%;
	display: flex;
	justify-content: flex-end;
	&.global-cost__wrapper {
		width: 73%;
	}
	.cost-input {
		width: 19%;
		display: inline-block;
		&:not(:first-child) {
			margin-left: 4px;
		}
		&.global-device {
			width: 24.5%;
		}
		&.global-cost {
			width: 37%;
		}
		&.global-cost-category {
			width: 28%;
		}
		&.total-cost {
			width: 22%;
		}
	}
}
.custom-label {
	font-weight: 600;
	position: relative;
	font-size: $fz-base;
	text-align-last: left;
	display: inline-block;
	&:after {
		right: -8px;
		font-size: $fz-sm;
		font-weight: normal;
		top: 0;
	}
}

.width-68-percent {
	width: 68% !important;
}

.width-80-percent {
	width: 80% !important;
}
