<div class="margin-bottom-0-important">
	<div class="col-md-12 padding-0">
		<app-delivery-search
			[component]="datatableComponent.USER_MANAGEMENT"
			(onSearch)="search($event)"
			[initParamFields]="initParamFields"
			[listFields]="listFields"
			[listCategorie]="listCategorie"
		>
		</app-delivery-search>

		<app-generic-table
			#genericTable
			[module]="Modules.USER_MANAGEMENT"
			[title]="'SETTINGS.USERS_MANAGEMENT' | translate"
			[searchInput]="searchInput"
			[dataInfos]="dataInfos"
			(editFormEmitter)="editAction($event)"
			[detailsInfos]="detailsInfos"
			[component]="datatableComponent.USER_MANAGEMENT"
			[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
		>
		</app-generic-table>
	</div>
</div>
