/* .scroll{
    max-height: 950px;
    overflow: auto;
} */
.job {
	color: #000 !important;
}
.b-c-users {
	height: 100% !important;
}
.b-c-users .media {
	height: auto;
}
.selected-card {
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75) !important;
}
.mrg-top10 {
	margin-top: 10px;
}
.text-center {
	text-align: center;
}
.wtd-155 {
	width: 155px;
}
.wtd-200 {
	width: 200px;
}
.wtd-350 {
	width: 350px;
}
.wtd-300 {
	width: 300px;
}
.mrgl-6 {
	margin-right: 6px !important;
}
.span-label {
	color: white;
}

.custom-select {
	margin-top: 2px !important;
	border-radius: 3px;
}

.pagination-card {
	margin-top: 14px;
	padding: 0px 25px !important;
}

.d-flex {
	width: 11%;
}

.current-user {
	background: #4caf5033 !important;
}

.selected-card {
	background: #bceaf5 !important;
}

.groupe-filtre {
	color: #af120e;
	font-weight: bold;
	padding-right: 7px;
	font-size: 15px;
}
