.ui-panel-titlebar {
	padding: 3px;
}

.clickable {
	cursor: pointer;
}

.genericTable-icon {
	border: none;
	background: none;
	float: right;
}

.input-search {
	float: right !important;
	display: inline-block !important;
	width: 18% !important;
}

::ng-deep .ui-button-icon-only .ui-button-icon-left {
	font-size: 15px;
}

.textCenter {
	text-align: center;
}

::ng-deep .ui-paginator {
	border: none !important;
	text-align: right !important;
}

::ng-deep .ui-paginator .ui-paginator-pages .ui-paginator-page {
	background: white;
}

.check-input {
	/* top: -4px; */
	cursor: pointer;
	z-index: 999;
}

.spinner-container {
	width: 100% !important;
	height: 140% !important;
	position: absolute !important;
	z-index: 1 !important;
	text-align: center !important;
	/* background-color: #00000052!important; */
	padding-top: 50px !important;
}
