<div class="card-vignette-header d-flex">
	<div class="left-side">
		<section>
			<div>
				{{ "CPTM.DASHBOARD_SUIVI.DMR_REF" | translate }} :
				<span class="bold">{{ procedure.refProcedure }}</span>
				<span *ngIf="procedure.operationNumber" class="italic">
					&nbsp;({{ procedure.operationNumber }})
				</span>
			</div>
			<div class="text-center">
				<span>
					{{ procedure.daysSinceImport }}
				</span>
				<span *ngIf="procedure.daysBeforeDeadline" class="bold padding-right-2">/</span>
				<span>
					{{ procedure.daysBeforeDeadline }}
				</span>
			</div>
		</section>
	</div>
	<div class="right-side">
		<div class="vignette-timeline height-100-percent d-flex">
			<div class="timeline-step text-center filled">
				<span>
					{{ "CUSTOM.IN_PROGRESS" | translate }}
				</span>
			</div>
			<div [ngClass]="{ filled: procedure.status != 0 }" class="timeline-step text-center">
				<span>
					{{ "CUSTOM.APURE" | translate }}
				</span>
			</div>
		</div>
	</div>
</div>
<div class="vignette-corp col-md-12 padding-0 d-flex-jc-c d-flex-w">
	<div class="card-vignette-block card-vignette-block-left text-center">
		<span>{{ "CPTM.DASHBOARD_SUIVI.IMPORT" | translate }}</span>
		<div class="vignette-infos">
			<div>
				<label>{{ "CPTM.DASHBOARD_SUIVI.TRANS_REF" | translate }} : </label
				><span class="bold">
					<a [routerLink]="'/app/transport-management/details/' + procedure.xLeg1DemandeNum">
						<button class="btn btn-xs btn-tertiary">
							{{ procedure.xLeg1DemandeRef }}
						</button>
					</a>
				</span>
			</div>
			<div>
				<label>{{ "TRACK_TRACE.UNIT_REF" | translate }} : </label
				><span class="bold">
					{{ procedure.xLeg1UnitRef }}
				</span>
			</div>
			<div>
				<label>{{ "CPTM.DASHBOARD_SUIVI.NUM_DEC" | translate }} : </label
				><span class="bold"> {{ procedure.leg1DeclarationNumber }}</span>
			</div>
			<div>
				<label>{{ "CUSTOM.DATE" | translate }} : </label
				><span class="bold">
					{{ procedure.leg1ActualCustomerDeclarationDate | date: "dd/MM/yyyy" }}</span
				>
			</div>
		</div>
	</div>
	<div class="card-vignette-block card-vignette-block-right text-center">
		<span class="padding-left-4">{{ "CPTM.DASHBOARD_SUIVI.REEXPORT" | translate }}</span>
		<div class="vignette-infos">
			<div>
				<label>{{ "CPTM.DASHBOARD_SUIVI.TRANS_REF" | translate }} : </label
				><span class="bold">
					<a
						*ngIf="procedure.xLeg2DemandeRef"
						[routerLink]="'/app/transport-management/details/' + procedure.xLeg2DemandeNum"
					>
						<button class="btn btn-xs btn-tertiary">
							{{ procedure.xLeg2DemandeRef }}
						</button>
					</a>
				</span>
			</div>
			<div>
				<label>{{ "TRACK_TRACE.UNIT_REF" | translate }} : </label
				><span class="bold">
					{{ procedure.xLeg2UnitRef }}
				</span>
			</div>
			<div>
				<label>{{ "CPTM.DASHBOARD_SUIVI.NUM_DEC" | translate }} : </label
				><span class="bold"> {{ procedure.leg2DeclarationNumber }}</span>
			</div>
			<div>
				<label>{{ "CUSTOM.DATE" | translate }} : </label
				><span class="bold">
					{{ procedure.leg2ActualCustomerDeclarationDate | date: "dd/MM/yyyy" }}</span
				>
			</div>
		</div>
	</div>
</div>
<div class="card-vignette-footer">
	<button
		(click)="generateMail(procedure, null)"
		title="{{ 'INSCRIPTION.EMAIL' | translate }}"
		class="btn btn-xs btn-primary"
	>
		<i class="fa fa-envelope"></i>
	</button>
	<button
		(click)="generateMail(procedure, 2)"
		title="{{ 'CPTM.SEMI_AUTO_MAIL.RELANCE' | translate }}"
		class="btn btn-xs btn-primary"
	>
		<i class="fa fa-undo"></i>
	</button>
</div>
