@import "../../../../styles/components/mixins/keyframes";
@import "../../../../styles/variables";

.card-vignette-block-left {
	border-right: 1px solid $gray-light;
	padding-right: 4px;
}
.card-vignette-block-left,
.card-vignette-block-right {
	width: 49%;
	flex-flow: row wrap;
	& > span {
		width: 100%;
		text-align: left;
		padding-bottom: 2px;
		font-weight: 600;
	}
}
.card-vignette-block {
	padding-bottom: 8px;
	align-self: baseline;
	.vignette-infos {
		display: flex;
		flex-flow: row wrap;
		div {
			width: 100%;
			display: flex;
			align-items: center;
			label {
				padding-right: 4px;
				width: 52%;
				text-align: right;
				color: $gray-dark;
				font-weight: 400;
				font-size: 12px !important;
			}
			span {
				text-align: left;
			}
			button {
				box-shadow: 2px 2px 5px -2px $gray-dark;
				border: none !important;
			}
		}
	}
}
.card-vignette-footer {
	width: 100%;
	button {
		width: 50%;
		margin: 0;
		border-radius: 0 !important;
		box-shadow: none;
		&:first-child {
			border-bottom-left-radius: 4px !important;
			border-right: 1px solid $gray-light !important;
			&:hover {
				.fa-envelope {
					@include bounce;
				}
			}
		}
		&:last-child {
			border-bottom-right-radius: 4px !important;
			&:hover {
				.fa-undo {
					@include rotate;
				}
			}
		}
	}
}
.card-vignette-header {
	height: 40px;
	.left-side {
		border: 2px solid $primary-color;
		border-top: 0;
		border-left: 0;
		color: $gray-dark;
		padding: 2px 4px;
		font-size: $fz-sm;
		border-top-left-radius: 4px;
		border-bottom-right-radius: 4px;
		align-items: center;
		display: flex;
		section > div:nth-child(2) {
			font-size: $fz-base;
		}
	}
	.right-side {
		flex-grow: 1;
	}
}

.timeline-step {
	width: 50%;
	position: relative;
	&:before {
		content: "";
		width: 100%;
		height: 4px;
		background: $gray-medium;
		position: absolute;
		left: 0;
		top: 65%;
		transform: translateY(-50%);
	}
	&:after {
		content: "";
		width: 14px;
		height: 14px;
		border-radius: 50%;
		background: $white;
		border: 2px solid $gray-medium;
		position: absolute;
		left: 50%;
		top: 65%;
		transform: translateY(-50%) translateX(-50%);
	}
	&.filled {
		&:before {
			background: $primary-color;
		}
		&:after {
			border-color: $primary-color;
		}
	}
}
