.taille-logo {
	width: 150px;
	height: 60px;
	background-position: top center;
	background-size: cover;
	margin-right: -149px;
}

.block-adresses,
.block-costcenters,
.block-categorie {
	margin: 0 0 15px 0;
}
.block-adresses {
	margin-top: 0;
}
legend {
	color: #00a7ce;
	font-size: 14px;
	display: block;
	margin-top: 0;
	/* margin-bottom: 0; */
}

form.space-rows .row {
	margin-bottom: 5px;
}

.mails-config input[type="checkbox"] {
	float: none;
	margin: 0 auto;
}

.list-mails__wrapper {
	border: 1px solid #eddddd;
	padding: 0 5px;
	border-radius: 4px;
	/* display: none; */
}
.form-group-can-show-price{
	margin-left: 118px !important;
}
.mails-config .form-group {
	margin-bottom: 5px !important;
}

.invalid-mail {
	border-left: 4px solid $secondary-color;
	transition: all 0.2s ease-in-out;
}

img {
	width: 150px;
	height: 60px;
}
.prngButton {
	border-width: 0px;
}
