<div class="block-adresses">
	<fieldset class="fieldset">
		<legend class="legend">{{ "ORGANISATION.COMPANY_INFORMATIONS" | translate }}</legend>
		<div class="col-md-12 col-xs-12 body-table">
			<form #formCompany="ngForm">
				<div class="row">
					<div class="col-md-8">
						<div class="form-group">
							<div class="col-md-4 generic-inputs__style d-flex-ai-c padding-0">
								<label class="col-md-4 areaLibelle required">SIREN :</label>
								<div class="col-md-6 padding-left-4">
									<input
										readonly
										id="siren"
										placeholder="SIREN"
										class="form-control"
										name="siren"
										[(ngModel)]="ebCompagnie.siren"
										required
									/>
								</div>
							</div>

							<div class="col-md-4 generic-inputs__style d-flex-ai-c padding-0">
								<label class="col-md-4 areaLibelle required"
									>{{ "ORGANISATION.COMPAGNIE" | translate }}:</label
								>
								<div class="col-md-6 padding-left-4">
									<input
										readonly
										id="nomCompagnie"
										placeholder="Nom Compagnie"
										class="form-control"
										name="nomCompagnie"
										[(ngModel)]="ebCompagnie.nom"
										#nomCompagnie="ngModel"
										required
									/>
								</div>
							</div>
						</div>
					</div>
					<div class=" form-group col-md-4 padding-4" *ngIf="isSuperAdmin">
						<div class="col-md-12  ">
							<label for="nomGroupe">{{ "ORGANISATION.CHANGE_COMPANY_LOGO" | translate }}</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<div class="form-group">
							<div class="col-md-4 generic-inputs__style d-flex-ai-c padding-0">
								<label class="col-md-4 areaLibelle required">code :</label>
								<div class="col-md-6 padding-left-4">
									<input
										readonly
										id="codeCompagnie"
										placeholder="Code société"
										class="form-control"
										name="codeCompagnie"
										[(ngModel)]="ebCompagnie.code"
										#codeCompagnie="ngModel"
										required
									/>
								</div>
							</div>

							<div class="col-md-4 generic-inputs__style d-flex-ai-c padding-0">
								<label class="col-md-4 areaLibelle required"
									>{{ "INSCRIPTION.NOM_GROUPE" | translate }}:</label
								>
								<div class="col-md-6 padding-left-4">
									<input
										readonly
										id="nomGroupe"
										placeholder="Groupe"
										class="form-control"
										name="nomGroupe"
										[(ngModel)]="ebCompagnie.groupeName"
										required
									/>
								</div>
							</div>
						</div>
					</div>
					<div class=" form-group col-md-4 padding-0" *ngIf="isSuperAdmin">
						<div class="col-md-8">
							<div *ngIf="ebCompagnie.logo != null">
								<img
									alt="avatar"
									class="taille-logo"
									[src]="Statique.getUrlFile(ebCompagnie.logo)"
								/>
							</div>
						</div>
						<div class="col-md-2">
							<p-fileUpload
								class="prngButton"
								name="files"
								mode="basic"
								accept="image/*"
								[auto]="true"
								maxFileSize="1000000"
								customUpload="true"
								(uploadHandler)="onFileUpload($event)"
							>
								<ng-template pTemplate="file">
									<ul *ngIf="uploadedFiles.length">
										<li *ngFor="let file of uploadedFiles">{{ file.name }}</li>
									</ul>
								</ng-template>
							</p-fileUpload>
						</div>
					</div>
				</div>
			</form>
		</div>
	</fieldset>
</div>
<div class="panel-body   panel-body">
	<div class="block-adresses">
		<app-generic-table
			#genericTable
			[title]="'INSCRIPTION.ETABLISSEMENT_INFORMATIONS' | translate"
			[parentContext]="this"
			[hideTable]="isAddObject"
			[searchInput]="criteria"
			[module]="module"
			[dataInfos]="dataInfos"
			[detailsInfos]="null"
			(addFormEmitter)="displayAdd($event)"
			(editFormEmitter)="diplayEdit($event)"
			[component]="GenericTableScreen.ETABLISSEMENT"
			[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
		>

		</app-generic-table>
		<form #formEntreprise="ngForm" role="form" *ngIf="isAddObject && dataObject">
			<div class="d-flex-ai-c generic-inputs__style col-md-4 padding-left-0 padding-right-0">
				<label for="nic" class="required areaLibelle col-md-4 col-sm-12 col-xs-12 padding-left-0"
					>NIC/ID :</label
				>
				<div class="col-md-8 col-sm-12 col-xs-12 padding-left-0">
					<input
						id="nic"
						placeholder="NIC"
						class="form-control"
						name="nic"
						[(ngModel)]="dataObject.nic"
						[pattern]="Statique.patternNIC"
						[textMask]="{ mask: Statique.maskNIC }"
						required
					/>
				</div>
			</div>
			<div class="d-flex-ai-c generic-inputs__style col-md-4 padding-left-0 padding-right-0">
				<label for="adresse" class="areaLibelle col-md-4 col-sm-12 col-xs-12 padding-left-0"
					>{{ "GENERAL.ADRESS" | translate }} :</label
				>
				<div class="col-md-8 col-sm-12 col-xs-12 padding-left-0">
					 <input
						id="adresse"
						name="adresse"
						id=""
						cols="30"
						rows="3"
						class="form-control"
						[(ngModel)]="dataObject.adresse"
						placeholder="{{ 'GENERAL.ADRESS' | translate }}"
					/>
				</div>
			</div>
			<div class="d-flex-ai-c generic-inputs__style col-md-4 padding-left-0 padding-right-0">
				<label for="webSite" class="areaLibelle col-md-4 col-sm-12 col-xs-12 padding-left-0"
					>{{ "ORGANISATION.SITE" | translate }} :</label
				>
				<div class="col-md-8 col-sm-12 col-xs-12 padding-left-0">
					<input
						id="webSite"
						placeholder="Web Site"
						class="form-control"
						name="website"
						[(ngModel)]="dataObject.siteWeb"
					/>
				</div>
			</div>
			<div class="d-flex-ai-c generic-inputs__style col-md-4 padding-left-0 padding-right-0">
				<label
					for="nomEtablissement"
					class="required areaLibelle col-md-4 col-sm-12 col-xs-12 padding-left-0"
					>{{ "INSCRIPTION.NOM_ETABLISSEMENT" | translate }} :</label
				>
				<div class="col-md-8 col-sm-12 col-xs-12 padding-left-0">
					<input
						id="nomEtablissement"
						placeholder="Nom etablissement"
						class="form-control"
						name="nomEtablissement"
						[(ngModel)]="dataObject.nom"
						required
					/>
				</div>
			</div>
			<div class="d-flex-ai-c generic-inputs__style col-md-4 padding-left-0 padding-right-0">
				<label for="city" class="areaLibelle col-md-4 col-sm-12 col-xs-12 padding-left-0"
					>{{ "ORGANISATION.CITY" | translate }} :</label
				>
				<div class="col-md-8 col-sm-12 col-xs-12 padding-left-0">
					<input
						id="city"
						placeholder="City"
						class="form-control"
						name="city"
						[(ngModel)]="dataObject.city"
						#city="ngModel"
					/>
				</div>
			</div>
			<div class="d-flex-ai-c generic-inputs__style col-md-4 padding-left-0 padding-right-0">
				<label for="telephone" class="areaLibelle col-md-4 col-sm-12 col-xs-12 padding-left-0"
					>{{ "INSCRIPTION.TELEPHONE" | translate }} :</label
				>
				<div class="col-md-8 col-sm-12 col-xs-12 padding-left-0">
					<input
						id="telephone"
						placeholder="{{ 'INSCRIPTION.TELEPHONE' | translate }}"
						class="form-control"
						name="telephone"
						[(ngModel)]="dataObject.telephone"
					/>
				</div>
			</div>
			<div class="d-flex-ai-c generic-inputs__style col-md-4 padding-left-0 padding-right-0">
				<label for="type" class="areaLibelle col-md-4 col-sm-12 col-xs-12 padding-left-0"
					>{{ "INSCRIPTION.TYPE_ETABLISSEMENT" | translate }} :</label
				>
				<div class="col-md-8 col-sm-12 col-xs-12 padding-left-0">
					<input
						placeholder="{{ 'INSCRIPTION.TYPE_ETABLISSEMENT' | translate }}"
						class="form-control"
						name="typeEtablissement"
						[(ngModel)]="dataObject.typeEtablissement"
					/>
				</div>
			</div>
			<div class="d-flex-ai-c generic-inputs__style col-md-4 padding-left-0 padding-right-0">
				<label
					for="country"
					class="required areaLibelle col-md-4 col-sm-12 col-xs-12 padding-left-0"
					>{{ "INSCRIPTION.COUNTRY" | translate }} :</label
				>
				<div class="col-md-8 col-sm-12 col-xs-12 padding-left-0">
					<ng-select
						[items]="listCountry"
						class="form-control"
						[compareWith]="byId"
						[(ngModel)]="dataObject.ecCountry"
						bindLabel="libelleCode"
						name="country"
						ngControl="countryCtrl"
						required
					>
						<ng-template ng-option-tmp let-item="item">
							<div class="d-flex-ai-c d-flex-jc-sb">
								<span>{{ item.libelle }}</span>
								<span>{{ item.code }}</span>
							</div>
						</ng-template>
					</ng-select>
				</div>
			</div>
			<div class="form-group col-md-4">
				<div class="form-group-can-show-price col-md-6">
					<label for="canShowPrice">{{
						"COMPANY_PROFILE.ESTABLISHMENT.CAN_SHOW_PRICE" | translate
					}}</label>
					<input
						id="canShowPrice"
						type="checkbox"
						class="form-control"
						name="canShowPrice"
						[(ngModel)]="dataObject.canShowPrice"
					/>
				</div>
			</div>
			<div class="form-content col-sm-12 text-right">
				<button
				class="btn btn-sm btn-success btn-shadow"
				(click)="fireCancel($event)"
			>
				{{ "COMPANY_PROFILE.BTN_CANCEL" | translate }}
			</button>
				<button
				*ngIf="dataObject != null && dataObject.ebEtablissementNum == null"
					class="btn btn-sm btn-primary btn-shadow"
					[disabled]="!formEntreprise.valid"
					(click)="addEtablissement($event)"
				>
					{{ "COMPANY_PROFILE.BTN_AJOUTER" | translate }}
				</button>
				<button
				*ngIf="dataObject != null && dataObject.ebEtablissementNum != null"
					class="btn btn-sm btn-primary btn-shadow"
					[disabled]="!formEntreprise.valid"
					(click)="editEtablissement($event)"
				>
					{{ "COMPANY_PROFILE.BTN_MODIFIER" | translate }}
				</button>
			</div>
		</form>
	</div>
	<div class="block-adresses row">
		<fieldset class="col-md-12 fieldset" style="padding-bottom: 10px !important;">
			<legend class="legend">{{ "ORGANISATION.THEME_SETTINGS" | translate }}</legend>
			<div class="col-md-12 col-md-12 padding-0 body-table">
				<app-themes-setting></app-themes-setting>
			</div>
		</fieldset>
	</div>
</div>
