<div class="margin-top-5 margin-bottom-5">
	<fieldset class="fieldset">
		<legend class="legend">{{ "CRONJOB_MONITORING.TRACING" | translate }}</legend>
		<div class="col-md-6 col-xs-12 body-table">
			<form class="space-rows row padding-15 fz-base">
				<div class="col-md-12 d-flex-ai-c">
					<label class="col-md-5 areaLibelle text-right"
						>{{ "CRONJOB_MONITORING.LAST_EXECUTION_DATE" | translate }} :</label
					>
					<div class="col-md-7 padding-0">
						<label>{{ infosCronJob?.lastExecutionDate | date: "dd/MM/yyyy HH:mm" }}</label>
					</div>
				</div>

				<div class="col-md-12 d-flex-ai-c ">
					<label class="col-md-5 areaLibelle text-right"
						>{{ "CRONJOB_MONITORING.NEXT_EXECUTION_DATE" | translate }} :</label
					>
					<div class="col-md-7 padding-0" *ngIf="infosCronJob.status">
						<label>{{ infosCronJob?.nextExecutionDate | date: "dd/MM/yyyy HH:mm" }}</label>
					</div>
				</div>

				<div class="col-md-12 d-flex-ai-c">
					<label class="col-md-5 areaLibelle text-right"
						>{{ "CRONJOB_MONITORING.STATUS" | translate }} :</label
					>
					<div class="col-md-7 padding-0">
						<label
							*ngIf="infosCronJob"
							[ngClass]="(infosCronJob.status ? 'activated' : 'desactivated') + ' bold'"
						>
							{{
								infosCronJob.status
									? ("CRONJOB_MONITORING.ACTIVATED" | translate)
									: ("CRONJOB_MONITORING.DESACTIVATED" | translate)
							}}</label
						>
					</div>
				</div>
				<div
					class="col-md-12 d-flex-ai-c padding-top-20 text-center"
					*ngIf="infosCronJob.jobExecutionFailed"
				>
					<div class="col-md-4"></div>
					<div class="col-md-8 text-left padding-left-0">
						<label class="failure-message" for="">
							{{ "CRONJOB_MONITORING.JOB_EXECUTION_FAILED" | translate }}
						</label>
					</div>
				</div>

				<div class="pull-right">
					<div>
						<button
							*ngIf="infosCronJob"
							type="button"
							class="btn btn-primary"
							(click)="changeStatusCronjob(infosCronJob.status ? false : true)"
						>
							{{
								infosCronJob.status
									? ("CRONJOB_MONITORING.DESACTIVATE" | translate)
									: ("CRONJOB_MONITORING.ACTIVATE" | translate)
							}}
						</button>

						<button
						type="button"
						class="btn btn-primary"
						(click)="executeGenerationOfEvents($event)"
					>
						{{
							"CRONJOB_MONITORING.MANUAL_EXECUTION" | translate
						}}
					</button>

					</div>
				</div>
			</form>
		</div>
	</fieldset>
</div>
