<app-collapsible-panel title="{{ 'PRICING_BOOKING.CUSTOMS_INFORMATION' | translate }}">
	<form role="form" #customsInfo="ngForm" novalidate>
		<fieldset [disabled]="!hasContributionAccess">
			<div class="form-group">
				<div class="col-md-12 no-padding">
					<div class="col-md-6  new-formcontrol padding-right-5">
						<label for="declarationNumber" class="areaLibelle">{{
							"PRICING_BOOKING.DECLARATION_NUMBER" | translate
						}}</label>
						<input
							id="declarationNumber"
							name="customsInformation.declarationNumber"
							type="text"
							[(ngModel)]="customsInformation.declarationNumber"
						/>
					</div>
					<div class="col-md-6  new-formcontrol padding-right-0">
						<label for="control" class="areaLibelle">{{
							"PRICING_BOOKING.CONTROL" | translate
						}}</label>
						<select
							class="form-control"
							name="customsInformation.control"
							[(ngModel)]="customsInformation.control"
						>
							<option [ngValue]="null"></option>
							<option *ngFor="let elt of mapStatiques.customsControlStatus" [ngValue]="elt.code">{{
								elt.libelle
							}}</option>
						</select>
					</div>
				</div>

				<div class="col-md-12 no-padding">
					<div class="row new-formcontrol padding-left-15">
						<div class="col-md-2 div-label">{{ "PRICING_BOOKING.CUSTOMS_DUTY" | translate }}</div>
						<div class="col-md-4 ">
							<select
								class="form-control"
								name="customsInformation.customsDuty"
								[(ngModel)]="customsInformation.customsDuty"
							>
								<option [ngValue]="null"></option>
								<option *ngFor="let elt of mapStatiques.customsDuty" [ngValue]="elt.code">{{
									elt.libelle
								}}</option>
							</select>
						</div>
						<div class="col-md-1 div-label">{{ "PRICING_BOOKING.COST" | translate }}</div>
						<div class="col-md-2 ">
							<input
								id="costCustomsDuty"
								name="customsInformation.costCustomsDuty"
								type="number"
								[(ngModel)]="customsInformation.costCustomsDuty"
							/>
						</div>
						<div class="col-md-3 ">
							<select
								class="form-control"
								name="customsInformation.xEcCurrencyCustomsDuty"
								[compareWith]="Statique.compareCurrency"
								[(ngModel)]="customsInformation.xEcCurrencyCustomsDuty"
							>
								<option [ngValue]="null"></option>
								<option *ngFor="let elt of listCurrency" [ngValue]="elt">{{ elt.code }}</option>
							</select>
						</div>
					</div>

					<div class="row new-formcontrol padding-left-15">
						<div class="col-md-2 div-label">{{ "PRICING_BOOKING.VAT" | translate }}</div>
						<div class="col-md-4">
							<select
								class="form-control"
								name="customsInformation.vat"
								[(ngModel)]="customsInformation.vat"
							>
								<option [ngValue]="null"></option>
								<option *ngFor="let elt of mapStatiques.customsVat" [ngValue]="elt.code">{{
									elt.libelle
								}}</option>
							</select>
						</div>
						<div class="col-md-1 div-label">{{ "PRICING_BOOKING.COST" | translate }}</div>
						<div class="col-md-2">
							<input
								id="costVat"
								name="customsInformation.costVat"
								type="number"
								[(ngModel)]="customsInformation.costVat"
							/>
						</div>
						<div class="col-md-3">
							<select
								class="form-control"
								name="customsInformation.xEcCurrencyVat"
								[compareWith]="Statique.compareCurrency"
								[(ngModel)]="customsInformation.xEcCurrencyVat"
							>
								<option [ngValue]="null"></option>
								<option *ngFor="let elt of listCurrency" [ngValue]="elt">{{
									elt.codeLibelle
								}}</option>
							</select>
						</div>
					</div>

					<div class="row new-formcontrol padding-left-15">
						<div class="col-md-2 div-label">{{ "PRICING_BOOKING.OTHER_TAXES" | translate }}</div>
						<div class="col-md-4">
							<select
								class="form-control"
								name="customsInformation.otherTaxes"
								[(ngModel)]="customsInformation.otherTaxes"
							>
								<option [ngValue]="null"></option>
								<option *ngFor="let elt of mapStatiques.customsOtherTaxes" [ngValue]="elt.code">{{
									elt.libelle
								}}</option>
							</select>
						</div>
						<div class="col-md-1 div-label">{{ "PRICING_BOOKING.COST" | translate }}</div>
						<div class="col-md-2">
							<input
								id="costOtherTaxes"
								name="customsInformation.costOtherTaxes"
								type="number"
								[(ngModel)]="customsInformation.costOtherTaxes"
							/>
						</div>
						<div class="col-md-3">
							<select
								class="form-control"
								name="customsInformation.xEcCurrencyOtherTaxes"
								[compareWith]="Statique.compareCurrency"
								[(ngModel)]="customsInformation.xEcCurrencyOtherTaxes"
							>
								<option [ngValue]="null"></option>
								<option *ngFor="let elt of listCurrency" [ngValue]="elt">{{ elt.code }}</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="margin-top-12" *ngIf="hasContributionAccess">
				<div class="pull-right">
					<button
						href="#"
						class="btn btn-primary btn-sm"
						(click)="confirmCustomsInfo($event)"
						[disabled]="!customsInfo.valid"
					>
						{{ "Save" | translate }}
					</button>
				</div>
			</div>
		</fieldset>
	</form>
</app-collapsible-panel>
