/******** VARIABLES ********/
@import "../../../../../../styles/variables";

.order-button i {
	font-size: $fz-xl;
}
td.form-group {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}
td .form-group input[type="checkbox"] {
	float: initial;
	margin-left: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	margin-right: 0 !important;
}
td.editor-content {
	padding: 0 !important;
	padding-bottom: 0 !important;
}
td.editor-content input {
	width: 100%;
	background-color: transparent;
	border: none;
	padding: 10px;
	text-align: center;
	margin-top: 3%;
}
td.editor-content select {
	width: 100%;
	background-color: transparent;
	border: none;
	text-align: center;
	height: 30px;
	box-shadow: none;
}

.card-formgroup label input[type="checkbox"] {
	top: 3px !important;
}

.list-psl.form-group {
	margin-bottom: 0 !important;
}

.card-formgroup label input {
	width: 15px !important;
	height: 15px !important;
}
.card-formgroup label input[type="radio"] {
	top: 3px;
}
.card-formgroup label input[type="checkbox"]::before {
	font-size: $fz-lg;
	top: -3px !important;
	left: -2px;
}
.card-formgroup label input[type="radio"]::before {
	width: 7px;
	height: 7px;
	top: 2px !important;
}
.card-content {
	margin-right: 15px;
	border-right: 1px solid #eaeaea;
	padding-right: 10px;
}
.card-formgroup label span {
	margin-right: 5px !important;
}
.card-content:not(.on-edition) input {
	border: none !important;
}
.card-content:not(.on-edition) label input[type="checkbox"]:checked + span {
	display: none !important;
}

.card-formgroup input[type="text"] {
	// text-align: right!important;
}

span.remove-psl {
	color: $white;
	font-size: $fz-sm;
	text-align: right;
	position: absolute;
	cursor: pointer;
	right: 3px;
	top: 10px;
	border-radius: 0 4px 4px 0;
	background: $primary-color;
	padding: 0px 4px;
}

span.edit-psl {
	color: $white;
	font-size: $fz-sm;
	text-align: right;
	position: absolute;
	cursor: pointer;
	right: 3px;
	top: 30px;
	border-radius: 0 4px 4px 0;
	padding: 0 4px 0 3px;
	background: $primary-color;
	transition: all 0.2s ease-in-out;
	&.clicked {
		padding: 0px 3px 0 2px;
		background: $white;
		border: 1px solid $primary-color;
		color: $primary-color;
	}
}

.card-content:not(.on-edition) .not-selected:not(.hide-only) {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
.card-content:not(.on-edition) .not-selected.hide-only {
	visibility: hidden;
}
.card-container {
	cursor: grab;
}
.card-order {
	position: absolute;
	left: 0;
	top: 0;
	background: $primary-color;
	height: 100%;
	width: 15px;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 10px 0 0 10px;
}
