<div class="config-type-flux">
	<div class="trpl-zone-settings-root" *ngIf="isStatiquesLoaded">
		<app-generic-table
			#genericTable
			[title]="'SETTINGS.INCOTERMS' | translate"
			[hideTable]="isAddObject"
			[searchInput]="searchCriteria"
			[dataInfos]="dataInfos"
			[detailsInfos]="null"
			(addFormEmitter)="displayAdd($event)"
			(editFormEmitter)="diplayEdit($event)"
			(deleteEventEmitter)="deleteData($event)"
			[component]="GenericTableScreen.INCOTERM"
			[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
		>
			<form class="generic-default" formcontent *ngIf="isAddObject" role="form" #formCtrl="ngForm">
				<div class="form-content col-sm-6 margin-top-10">
					<div class="col-md-6 col-sm-12 col-xs-12 form-group">
						<label class="required">{{ "TRANSPORTATION_PLAN.ZONE_DESIGNATION" | translate }}</label>
						<div>
							<input
								type="text"
								[(ngModel)]="dataObject.libelle"
								name="libelle"
								class="form-control input-underline input-xs"
							/>
						</div>
					</div>
				</div>

				<div class="form-content col-sm-6 margin-top-10">
					<div class="col-md-6 col-sm-12 col-xs-12 form-group">
						<label class="required">{{ "CONFIG_PSL_COMPANY.CODEALPHA" | translate }}</label>
						<div>
							<input
								type="text"
								[(ngModel)]="dataObject.code"
								name="code"
								class="form-control input-underline input-xs"
							/>
						</div>
					</div>
				</div>

				<div class="form-content col-sm-12 text-right margin-bottom-10">
					<div class="col-md-12">
						<button
							*ngIf="dataObject && !dataObject.ebIncotermNum"
							class="btn btn-sm btn-success btn-shadow"
							[disabled]="!isFormValidated()"
							(click)="addIncoterm()"
						>
							{{ "COMPANY_PROFILE.BTN_AJOUTER" | translate }}
						</button>
						<button
							*ngIf="dataObject && dataObject.ebIncotermNum"
							class="btn btn-sm btn-success btn-shadow"
							[disabled]="!isFormValidated()"
							(click)="editIncoterm()"
						>
							{{ "COMPANY_PROFILE.BTN_MODIFIER" | translate }}
						</button>
						<button class="btn btn-sm btn-success btn-shadow" (click)="backToListZone()">
							{{ "GENERAL.CANCEL" | translate }}
						</button>
					</div>
				</div>
			</form>
		</app-generic-table>
	</div>
</div>
