.access-right-spinner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	z-index: 1000;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.advancedsettings {
	cursor: pointer;
	text-decoration: underline;

	span {
		font-size: 11px;
	}
}
