<span class="label label-info" style="margin-top : 10px">{{
	"ACCESS_RIGHTS.CONF_TITLE" | translate
}}</span>
<a *ngIf="displayAdvancedSettings" class="advancedsettings margin-left-10" (click)="advancedSettingsClick?.emit()">
	<i class="fa fa-plus-circle"></i><span> {{ "GENERAL.ADVANCED_SETTINGS" | translate }}</span>
</a>
<div *ngIf="accessRightsSpinner" class="access-right-spinner">
	<i class="fa fa-5x fa-spinner fa-spin"></i>
</div>

<table *ngIf="!accessRightsSpinner" class="table-accessright" style="margin-top : 20px;">
	<tr>
		<th>{{ "ACCESS_RIGHTS.MODULE" | translate }}</th>
		<th>{{ "ACCESS_RIGHTS.NOT_VISIBLE" | translate }}</th>
		<th>{{ "ACCESS_RIGHTS.VISIBLE" | translate }}</th>
		<th>{{ "ACCESS_RIGHTS.CONTRIBUTION" | translate }}</th>
	</tr>

	<tr *ngFor="let module of listModule; let i = index">
		<td>{{ "MODULES." + module.libelle | translate }}</td>
		<td>
			<input
				type="radio"
				[disabled]="disabled"
				[(ngModel)]="modulesAndTheirAccessRights[module.ecModuleNum]"
				name="module{{ i }}"
				[value]="accessRightsTypes.NON_VISIBLE"
				(change)="onAccessRightChange()"
			/>
		</td>
		<td>
			<input
				type="radio"
				[disabled]="disabled"
				[(ngModel)]="modulesAndTheirAccessRights[module.ecModuleNum]"
				name="module{{ i }}"
				[value]="accessRightsTypes.VISUALISATION"
				(change)="onAccessRightChange()"
			/>
		</td>
		<td>
			<input
				type="radio"
				[disabled]="disabled"
				[(ngModel)]="modulesAndTheirAccessRights[module.ecModuleNum]"
				name="module{{ i }}"
				[value]="accessRightsTypes.CONTRIBUTION"
				(change)="onAccessRightChange()"
			/>
		</td>
	</tr>
</table>
