@import "../../../../../../styles/variables";
p-progressSpinner {
	display: flex; // Center horizontaly
}
::ng-deep .acl-items-wrapper {
	.ui-dataview-content {
		padding: 0 !important;
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: 5px;
		}
	}
	.ui-dataview-header {
		background: $primary-color !important;
		color: $white !important;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
}
.acl-items-wrapper {
	margin: 5px 120px;
	border-radius: 5px;
	box-shadow: 0 0 7px -3px $gray-dark;
}

.acl-item-root {
	padding: 5px 10px 10px;
	margin-top: 2px;
	margin-right: 4px;
	border-bottom: 1px solid $primary-color;
	transition: all 0.2s ease-in-out;
	.top {
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: space-between;
		.title {
			flex: 0 0 auto;
			font-weight: bold;
			font-size: 13px;
			color: $primary-color;
		}
		.selector {
			flex: 0 0 220px;

			select {
				width: 100%;
			}
		}
		.separator {
			flex: 1 1 auto;
			margin-top: 5px;
			margin-left: 10px;
			margin-right: 10px;
			height: 0.5em;
			border-top: 1px solid black;
			display: none;
		}
	}
	.middle {
		font-size: 12px;
	}
	.experimental {
		font-size: 11px;
		font-style: italic;
		color: $red;
	}
	.bottom {
		margin-top: 3px;
		display: flex;
		flex-flow: row wrap;
		.themes {
			font-size: 11px;
			display: flex;
			flex-flow: row;
			flex-wrap: wrap;
			width: 100%;
			span:not(.space) {
				text-decoration: underline;
			}
			.aTheme {
				display: block;
			}
		}
		.code {
			font-size: 11px;
			font-style: italic;
		}
	}
	&.selected-value {
		border-left: 3px solid $primary-color;
	}
}
