<p-progressSpinner *ngIf="loading && canShow"></p-progressSpinner>
<div
	*ngIf="!loading; canShow"
	class="acl-items-wrapper margin-top-10"
	(window:resize)="onResizeAdapter()"
>
	<p-dataView [value]="aclSettings">
		<p-header>
			<span (click)="clickHeader()">{{ "ACL.SETTINGS.PAGE_TITLE" | translate }}</span>
		</p-header>
		<p-footer>
			<div class="flex">
				<div class="flex-grow-1"></div>
				<button class="btn btn-sm btn-primary" (click)="save($event)">
					{{ "GENERAL.SAVE" | translate }}
				</button>
			</div>
		</p-footer>
		<ng-template let-acl pTemplate="listItem">
			<div [ngClass]="borderColorACL(acl)" class="acl-item-root generic-inputs__style">
				<div class="top">
					<div class="title">
						{{ "ACL.RULE." + acl.code + ".TITLE" | translate }}
					</div>
					<div class="separator"></div>
					<div class="selector">
						<!-- Select for boolean values -->
						<select
							*ngIf="acl.type === ACL.RuleType.BOOLEAN"
							[(ngModel)]="acl.selectedValue"
							class="form-control"
						>
							<option [value]="null">
								{{ "ACL.SETTINGS.DEFAULT_VAL" | translate }} ({{
									(acl.defaultValue === "true" ? "GENERAL.YES" : "GENERAL.NO") | translate
								}})
							</option>
							<option [value]="'true'">{{ "GENERAL.YES" | translate }}</option>
							<option [value]="'false'">{{ "GENERAL.NO" | translate }}</option>
						</select>

						<!-- Select for list values -->
						<select
							*ngIf="acl.type === ACL.RuleType.LIST"
							[(ngModel)]="acl.selectedValue"
							class="form-control"
						>
							<option [value]="null">
								{{ "ACL.SETTINGS.DEFAULT_VAL" | translate }} ({{
									"ACL.RULE." + acl.code + ".VALUES." + acl.defaultValue | translate
								}})
							</option>
							<option *ngFor="let aclValue of acl.values" [value]="aclValue">
								{{ "ACL.RULE." + acl.code + ".VALUES." + aclValue | translate }}
							</option>
						</select>
					</div>
				</div>
				<div class="middle">
					<span>{{ "ACL.RULE." + acl.code + ".DESC" | translate }}</span>
					<span *ngIf="acl.experimental" class="experimental">
						<br />{{ "ACL.SETTINGS.EXPERIMENTAL_MSG" | translate }}
					</span>
				</div>
				<div class="bottom">
					<div class="themes">
						<div class="aTheme" *ngFor="let theme of acl.themes">
							<span>#{{ "ACL.THEME." + theme | translate }}</span>
							<span class="space">&nbsp;&nbsp;</span>
						</div>
					</div>
					<div class="code">
						{{ acl.code }}
					</div>
				</div>
			</div>
		</ng-template>
	</p-dataView>
</div>
