<div class="content_wrapper app-padding">
	<app-delivery-search
		#deliverySearchComponent
		[component]="GenericTableScreen.ORDER_DASHBOARD"
		(onSearch)="search($event)"
		[initParamFields]="initParamFields"
		[listFields]="listFields"
		[listCategorie]="listCategorie"
		[module]="module"
	>
	</app-delivery-search>
	<app-generic-table-ccp
		#genericTable
		[module]="Modules.ORDER_MANAGEMENT"
		[searchInput]="searchCriteria"
		[dataInfos]="dataInfos"
		(editFormEmitter)="editAction($event)"
		[detailsInfos]="detailsInfos"
		[component]="GenericTableScreen.ORDER_DASHBOARD"
		[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
		[parentContext]="this"
		(onCheckRow)="onCheckRow()"
		(listCategorieEmitter)="onListCategorieLoaded($event)"
		(listFieldsEmitter)="onListFieldLoaded($event)"
		[showCustomFieldsMainTable]="true"
		[showCategoriesMainTable]="true"
		[showCustomFieldsSubTable]="true"
		[showCategoriesSubTable]="true"
	>
	</app-generic-table-ccp>
</div>
