/******** VARIABLES ********/
@import "../../../../../styles/variables";

input[type="checkbox"],
input[type="radio"] {
	vertical-align: middle;
	position: relative;
	bottom: 1px;
	width: auto;
}
input[type="radio"] {
	bottom: 2px;
}
textarea.adress {
	height: 100px;
	overflow: auto;
	resize: vertical;
	max-height: 100px;
	min-height: 100px;
}

.add-adress-button {
	/*margin-left: 0px !important;*/
	margin-left: auto !important;
	margin-right: auto !important;
	display: block;
	margin-top: 10px;
	border: none;
	background: transparent;
	padding: 0;
	color: $primary-color;
}

.input-search-icon {
	margin-right: 4px;
}
.show-for-creation {
	fieldset {
		border: 1px solid $white-01 !important;
		border-radius: 4px;
		box-shadow: 0 0 5px -5px $black;
		margin: 0 !important;
		legend {
			color: $gray-dark;
		}
	}
}
.origindest-infos_wrapper {
	border-radius: 5px;
	padding: 5px 0;
	span {
		padding-right: 5px;
		&.italic-font {
			font-style: italic;
		}
		&.bold-font {
			font-weight: 700;
		}
	}
}
.adress-wrapper {
	position: relative;
}
.fields-wrapper {
	width: 100%;
	border-radius: 4px;
	padding-right: 0;
}
.buttons-wrapper {
	position: absolute;
	top: 10px;
	right: 7px;
	i {
		cursor: pointer;
		display: block;
		padding: 1px 3px;
		margin-bottom: 1px;
		&.add-new-address {
			padding: 2px 3px;
			border: 0 !important;
			position: relative;
			top: -1px;
			right: -8px;
			box-shadow: none;
			transition: all 0.2s ease-in-out;
			// &:hover {
			// 	visibility: visible;
			// 	opacity: 1;
			// }
		}
		&.fa-close {
			padding: 1px 3px 1px 4px;
		}
		&.fa-close,
		&.fa-pencil {
			opacity: 0;
			visibility: hidden;
			transition: all 0.2s ease-in-out;
		}
	}
	&.btn-close_adress-fields {
		top: 15px;
		right: 1px;
		i.fa-close {
			opacity: 1;
			visibility: visible;
		}
	}
}
.border-0 {
	border: 0 !important;
}

::ng-deep .overflow-visible .ui-dialog-resizable .ui-dialog-content {
	overflow: visible;
}
