<div class="new-pricing-wrapper" *ngIf="adresseToSave != null">
	<app-collapsible-panel title="{{ 'PRICING_BOOKING.ADD_ADDRESS' | translate }}">
		<app-form-adresse
			[adresse]="adresseToSave"
			[displayCancelButton]="true"
			[listAdresse]="listAdresse"
			[userConnected]="userConnected"
			(cancel)="cancelAddAdress($event)"
			(validateAdd)="validateAddAdress($event)"
		></app-form-adresse>
	</app-collapsible-panel>
</div>
<fieldset class="border-0 margin-0-important">
	<!-- [disabled]="ebParty && ebParty.ebPartyNum" -->
	<!-- <legend>
        <h4>{{tittle}}</h4>
    </legend> -->
	<div class="adress-wrapper">
		<div class="fields-wrapper" [ngClass]="{ 'width-100-percent': ebParty && ebParty.ebPartyNum }">
			<div class="show-for-creation clearfix">
				<div
					*ngIf="ebParty && ebParty.city"
					class="{{
						truncateText ? 'truncate' : ''
					}} col-md-12 origindest-infos_wrapper generic-inputs__style"
					(mouseenter)="showEdit()"
					(mouseleave)="hideEdit()"
				>
					<label class="col-md-4 col-sm-12 col-xs-12 text-right" [class.required]="isRequired"
						>{{ fromToLabel ? fromToLabel : fromOrTo }}:
					</label>
					<div class="col-md-8 col-sm-12 col-xs-12 fz-sm">
						<span *ngIf="ebParty.company">{{ ebParty.company }}</span>
						<span *ngIf="ebParty.adresse" class="d-block">{{ ebParty.adresse }}</span>
						<span *ngIf="ebParty.zipCode">{{ ebParty.zipCode }}</span>
						<span *ngIf="ebParty.city">{{ ebParty.city }}</span>
						<span>{{ getZoneBackupDisplayString(ebParty) }}</span>
						<span class="d-block ">{{ getCountryDisplayString(ebParty) }}</span>
						<span *ngIf="ebParty.openingHours" class="d-block">{{ ebParty.openingHours }}</span>
						<span *ngIf="ebParty.airport" class="d-block">{{ ebParty.airport }}</span>
						<span *ngIf="ebParty.commentaire" class="italic-font">{{ ebParty.commentaire }}</span>
					</div>
					<div
						*ngIf="ebDemande && (!ebDemande.ebDemandeNum || (isEditMode && !readOnly))"
						class="buttons-wrapper"
						(mouseenter)="showEditRemoveIcons = true"
					>
						<i
							class="fa fa-pencil edit-address"
							(click)="addAddress(showAddressFields, ebParty, fromOrTo)"
							[ngClass]="{ visible: showEditRemoveIcons }"
						></i>
						<i
							class="fa fa-close"
							(click)="removeAddress(fromOrTo)"
							[ngClass]="{ visible: showEditRemoveIcons }"
							(mouseenter)="showEditRemoveIcons = true"
						></i>
					</div>
					<div
						*ngIf="
							module == Modules.TRANSPORT_MANAGEMENT &&
							ebDemande &&
							ebDemande.ebDemandeNum &&
							showEditAddress
						"
						class="buttons-wrapper"
					>
						<button class="btn btn-sm add-new-address" (click)="showListZoneDialog = true">
							{{ "TRANSPORT_MANAGEMENT.UPDATE_ZONE" | translate }}
						</button>
					</div>
				</div>
				<div
					*ngIf="
						ebParty &&
						!ebParty.reference &&
						!ebParty.city &&
						((ebDemande && !ebDemande.ebDemandeNum) || (isEditMode && !readOnly))
					"
					class="{{ truncateText ? 'truncate' : '' }} col-md-12 padding-0"
				>
					<div
						class="d-flex-ai-c generic-inputs__style"
						(mouseenter)="showAddAddressBtn = true"
						(mouseleave)="showAddAddressBtn = false"
					>
						<label class="areaLibelle col-md-4 col-xs-12" [class.required]="isRequired"
							>{{ fromToLabel ? fromToLabel : fromOrTo }}:</label
						>
						<div class="col-md-8 col-xs-12 padding-right-0 input-wrapper">
							<input
								(blur)="setInputBlur()"
								type="text"
								class="form-control"
								(focus)="
									showAddressPopupEmit($event, fromOrTo);
									setSuggestionsEtablissement($event.target.value, fromOrTo)
								"
								(keyup)="keyUpsearch.next($event.target.value)"
							/>
						</div>
						<div *ngIf="ebParty && !ebParty.ebPartyNum" class="buttons-wrapper">
							<i
								*ngIf="showAddAddressBtn"
								class="btn btn-sm fa fa-plus add-new-address"
								(click)="addAddress(showAddressFields, ebParty, fromOrTo)"
							></i>
						</div>
					</div>
				</div>

				<div class="col-md-12 padding-0">
					<div class="col-md-4 hidden-sm hidden-xs"></div>
					<div class="col-md-8 col-sm-12 col-xs-12 fz-sm">
						<app-form-error-messages
							[ShowCondition]="inputBlur && !showAddressWrapper && !(ebParty && ebParty.ebPartyNum)"
						></app-form-error-messages>
					</div>
				</div>
			</div>
		</div>
	</div>
</fieldset>
<app-zone-dialog
	*ngIf="showListZoneDialog"
	[listZonesAdresse]="listZonesAdresse"
	[(defaultZone)]="defaultZone"
	[demande]="ebDemande"
	[fromOrTo]="fromOrTo"
	[userConnected]="userConnected"
	[listMarchandises]="listMarchandises"
	[ebParty]="ebParty"
	(closeDialog)="cancelEditZone()"
	(confirmeEdit)="confirmeEditZone($event)"
>
</app-zone-dialog>
