<div class="template-export-doc-root">
	<p-tabMenu [model]="tabItems" [(activeItem)]="tabActiveItem"></p-tabMenu>

	<div
		class="content-root"
		[ngClass]="{
			bordered: tabActiveItem.id === 'howto'
		}"
	>
		<p-treeTable
			class="table-doc template-export-doc-table-doc"
			*ngIf="tabActiveItem?.id !== 'howto'"
			[value]="getDocTreeForSelectedTab()"
			[resizableColumns]="true"
		>
			<ng-template pTemplate="header">
				<tr>
					<th [style.width]="'50px'"></th>
					<th>{{ "GENERAL.CODE" | translate }}</th>
					<th>{{ "GENERAL.DESCRIPTION" | translate }}</th>
					<th [style.width]="'150px'">{{ "GENERAL.TYPE" | translate }}</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-rowNode let-rowData="rowData">
				<tr>
					<td>
						<a
							(click)="Statique.copyTextToClipboard(getFieldCode(rowNode, rowData))"
							[title]="getFieldCode(rowNode, rowData)"
							class="margin-right-5"
							><i class="fa fa-copy" pTooltip="{{ 'GENERAL.COPY_LABEL' | translate }}"></i
						></a>
						<a
							(click)="Statique.copyTextToClipboard(getFieldFullCode(rowNode, rowData))"
							[title]="getFieldFullCode(rowNode, rowData)"
							><i
								class="fa fa-file-code-o display-title"
								pTooltip="{{ 'GENERAL.COPY_TAG' | translate }}"
							></i
						></a>
					</td>
					<td class="table-doc-text-cell">
						<p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
						{{ rowData.code }}
					</td>
					<td class="table-doc-text-cell">{{ rowData.desc }}</td>
					<td class="table-doc-text-cell">
						<span *ngIf="rowData.isList">{{ "List<" + rowData.type + ">" }}</span>
						<span *ngIf="!rowData.isList">{{ rowData.type }}</span>
					</td>
				</tr>
			</ng-template>
		</p-treeTable>

		<div *ngIf="tabActiveItem?.id === 'howto'" class="howto-doc-root">
			<markdown src="assets/markdown/documentation/export-template.md"></markdown>
		</div>
	</div>
</div>
