::ng-deep .template-export-doc-root {
	.table-doc-text-cell {
		text-align: left;
	}

	.ui-treetable-wrapper {
		overflow: hidden; // IE 11 scrollbar on treetable
	}
}

.template-export-doc-root {
	overflow: hidden;
	height: 100%;
	display: flex;
	flex-flow: column;
	padding: 5px;

	.content-root {
		overflow-y: auto;
		flex: 1 1 100%;

		&.bordered {
			border: gray solid 1px;
		}
	}
}

.howto-doc-root {
	background: white;
	padding: 5px;
	min-height: 100%;
	overflow-y: auto;
}

a {
	cursor: pointer;
}
