<div
	*ngIf="ebPslAppValue || ttEvent"
	class="modal modal-backdrop"
	tabindex="-1"
	role="dialog"
	style="display:block!important"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div>
				<form role="form" #EventInformationForm="ngForm" novalidate>
					<div
						*ngIf="ebPslAppValue && !forUpdateRevisedDateAlpha && typeOfEvent == TypeOfEvent.EVENT"
						class="modal-header"
					>
						{{ "TRACK_TRACE.NEW_EVENT" | translate }}
					</div>
					<div *ngIf="ttEvent && typeOfEvent == TypeOfEvent.INCIDENT" class="modal-header">
						{{ "TRACK_TRACE.NEW_INCIDENT" | translate }}
					</div>

					<div *ngIf="ttEvent && typeOfEvent == TypeOfEvent.UNCONFORMITY" class="modal-header">
						{{ "TRACK_TRACE.UNCONFORMITY" | translate }}
					</div>
					<!-- //TODO MEP-ce bout de code devra être réactivé après MEP
					<div *ngIf="forUpdateRevisedDateAlpha" class="modal-header">
						{{ "TRACK_TRACE.REVISED_DATE" | translate }}
					</div>
					-->
					<div *ngIf="!forUpdateRevisedDateAlpha && !typeOfEvent" class="modal-header">
						{{ "TRACK_TRACE.UPDATE" | translate }}
					</div>
					<div class="modal-body overflow-visible">
						<div class="row" *ngIf="!forUpdateRevisedDateAlpha">
							<div class="generic-inputs__style d-flex-ai-c col-md-12 d-flex-ai-c">
								<label class="col-md-4 required"
									>{{ "TRACK_TRACE.TYPE_OF_EVENT" | translate }} :</label
								>
								<div class="col-md-8">
									<select
										class="form-control"
										name="typeOfEvent"
										[(ngModel)]="typeOfEvent"
										(change)="filterListCategorys()"
										required
									>
										<option [ngValue]="TypeOfEvent.EVENT"
											>{{ "TRACK_TRACE.NEW_EVENT" | translate }}
										</option>
										<option [ngValue]="TypeOfEvent.INCIDENT">{{
											"TRACK_TRACE.NEW_INCIDENT" | translate
										}}</option>
										<option [ngValue]="TypeOfEvent.UNCONFORMITY">{{
											"TRACK_TRACE.UNCONFORMITY" | translate
										}}</option>
									</select>
								</div>
							</div>
						</div>
						<div
							class="row"
							*ngIf="
								ebPslAppValue && (typeOfEvent == TypeOfEvent.EVENT || forUpdateRevisedDateAlpha)
							"
						>
							<div class="generic-inputs__style d-flex-ai-c col-md-12">
								<label class="col-md-4 required">Psl :</label>
								<div class="col-md-8" *ngIf="!listPsl">
									<input
										type="text"
										name="ebPslAppValue.companyPsl.libelle"
										[(ngModel)]="ebPslAppValue.companyPsl.libelle"
										[disabled]="true"
									/>
								</div>
								<div class="col-md-8" *ngIf="listPsl">
									<select
										class="form-control"
										name="ebPslAppValue.companyPsl"
										[(ngModel)]="ebPslAppValue.companyPsl"
										required
									>
										<ng-container *ngFor="let psl of listPsl">
											<option
												*ngIf="
													(forUpdateRevisedDateAlpha && psl.expectedDate) ||
													typeOfEvent == TypeOfEvent.EVENT
												"
												[ngValue]="psl"
												>{{ psl.libelle }}
											</option>
										</ng-container>
									</select>
								</div>
							</div>
							<div *ngIf="!forUpdateRevisedDateAlpha">
								<div class="generic-inputs__style d-flex-ai-c col-md-12">
									<label class="col-md-4">{{ "GENERAL.COUNTRY" | translate }} :</label>
									<div class="col-md-8">
										<ng-select
											[items]="listCountry"
											class="form-control"
											[compareWith]="compareCountry"
											name="ebPslAppValue.xEcCountry.ecCountryNum"
											[(ngModel)]="ecCountry"
											bindLabel="libelleCode"
										>
											<ng-template ng-option-tmp let-item="item">
												<div class="d-flex-ai-c d-flex-jc-sb">
													<span>{{ item.libelle }}</span>
													<span>{{ item.code }}</span>
												</div>
											</ng-template>
										</ng-select>
									</div>
								</div>
								<div class="generic-inputs__style d-flex-ai-c col-md-12">
									<label class="col-md-4">{{ "PRICING_BOOKING.CITY" | translate }} :</label>
									<div class="col-md-8">
										<input type="text" name="ebPslAppValue.city" [(ngModel)]="ebPslAppValue.city" />
									</div>
								</div>
								<div class="generic-inputs__style d-flex-ai-c col-md-12">
									<label class="col-md-4 required">Date :</label>
									<div class="col-md-6">
										<app-datetime-picker
											required
											[timepicker]="true"
											name="ebPslAppValue.dateActuelle"
											[(ngModel)]="ebPslAppValue.dateActuelle"
										></app-datetime-picker>
									</div>
									<div class="col-md-2 padding-left-0">
										<select
											name="ebPslAppValue.fuseauHoraire"
											[(ngModel)]="ebPslAppValue.fuseauHoraire"
										>
											<option
												*ngFor="let fuseauHoraire of listFuseauHoraire"
												[ngValue]="fuseauHoraire.ecFuseauHoraireNum"
												>{{ fuseauHoraire.code }}
											</option>
										</select>
									</div>
								</div>
								<div class="generic-inputs__style d-flex-ai-c col-md-12">
									<label class="col-md-4">{{ "PRICING_BOOKING.QUANTITY" | translate }} :</label>
									<div class="col-md-8 text-left">
										<input
											type="number"
											name="ebPslAppValue.quantity"
											[(ngModel)]="ebPslAppValue.quantity"
										/>
									</div>
								</div>
							</div>
							<div
								class="generic-inputs__style d-flex-ai-c col-md-12"
								*ngIf="forUpdateRevisedDateAlpha"
							>
								<label class="col-md-4">Date :</label>
								<div class="col-md-5">
									<app-datetime-picker
										required
										[timepicker]="true"
										name="ebPslAppValue.dateEstimee"
										[(ngModel)]="ebPslAppValue.dateEstimee"
									></app-datetime-picker>
								</div>
								<div class="col-md-3 padding-right-0">
									<select
										name="ebPslAppValue.fuseauHoraire"
										[(ngModel)]="ebPslAppValue.fuseauHoraire"
									>
										<option
											*ngFor="let fuseauHoraire of listFuseauHoraire"
											[ngValue]="fuseauHoraire.ecFuseauHoraireNum"
											>{{ fuseauHoraire.code }}
										</option>
									</select>
								</div>
							</div>
							<div class="generic-inputs__style d-flex-ai-c col-md-12">
								<label class="col-md-4">{{ "TRACK_TRACE.COMMENT" | translate }} :</label>
								<div class="col-md-8">
									<textarea
										type="text"
										name="ebPslAppValue.commentaire"
										[(ngModel)]="ebPslAppValue.commentaire"
										class="textarea-full-width"
									></textarea>
								</div>
							</div>
							<div class="generic-inputs__style d-flex-ai-c col-md-12">
								<label class="col-md-4">{{ "TRACK_TRACE.DOCUMENT_TYPE" | translate }} :</label>
								<div class="col-md-8">
									<select
										class="form-control"
										[(ngModel)]="selectedTypeDoc"
										(ngModelChange)="changeSelectedDoc($event)"
										name="ebPslAppValue.typeDoc"
									>
										<option *ngFor="let typDoc of typesDocument" [ngValue]="typDoc"
											>{{ typDoc.nom }}
										</option>
									</select>
								</div>
							</div>
							<div
								*ngIf="selectedTypeDoc && selectedTypeDoc.nom != null && ebPslAppValue.companyPsl"
								class="generic-accordion right-blocs d-flex-ai-c col-md-12"
							>
								<div class="col-md-8 text-right container">
									<app-documents
										(ebFileDocumentEmit)="ebFileDocumentHandler($event)"
										[typeOfDocument]="selectedTypeDoc"
										[fromModuleEvent]="true"
										[ebDemandeNum]="ebDemandeNum"
										[ebCompagnieNum]="ebCompagnieNum"
										[pslEvent]="ebPslAppValue.companyPsl.libelle"
										[multipleUpload]="false"
									></app-documents>
								</div>
							</div>

							<!-- //TODO MEP-ce bout de code devra être réactivé après MEP
							<div class="form-group">
								<div style="float:right">
									<input
										type="checkbox"
										[(ngModel)]="ebPslAppValue.validateByChamp"
										id="valChamps"
										name="valChamps"
									/>
									<label for="valChamps">{{ "TRACK_TRACE.VALIDATE_CHAMP" | translate }}</label>
								</div>
							</div>
							-->
						</div>

						<div
							class="row"
							*ngIf="
								ttEvent &&
								(typeOfEvent == TypeOfEvent.INCIDENT || typeOfEvent == TypeOfEvent.UNCONFORMITY)
							"
						>
							<div class="generic-inputs__style d-flex-ai-c col-md-12">
								<label class="col-md-4 required" *ngIf="typeOfEvent == TypeOfEvent.INCIDENT"
									>{{ "TRACK_TRACE.CATEGORY" | translate }} :</label
								>
								<label class="col-md-4 required" *ngIf="typeOfEvent == TypeOfEvent.UNCONFORMITY"
									>{{ "TRACK_TRACE.TYPE" | translate }} :</label
								>
								<div class="col-md-8">
									<select
										class="form-control"
										[compareWith]="compareEnums"
										name="ttEvent.categorie"
										[(ngModel)]="ttEvent.categorie"
										required
									>
										<option
											*ngFor="let deviation of listCategorieDeviationFiltred"
											[ngValue]="deviation"
											>{{ deviation.libelle }}
										</option>
									</select>
								</div>
							</div>

							<div class="generic-inputs__style d-flex-ai-c col-md-12">
								<label class="col-md-4 required"
									>{{ "TRACK_TRACE.ASSOCIATE_STATUS" | translate }} :</label
								>
								<div class="col-md-8" *ngIf="!listPsl">
									<input
										type="text"
										name="ttEvent.xEbTtPslApp.companyPsl.libelle"
										[(ngModel)]="ttEvent.xEbTtPslApp.companyPsl.libelle"
										[disabled]="readOnly"
									/>
								</div>
								<div class="col-md-8" *ngIf="listPsl">
									<select
										class="form-control"
										name="ttEvent.xEbTtPslApp.companyPsl"
										[(ngModel)]="ttEvent.xEbTtPslApp.companyPsl"
										required
									>
										<option *ngFor="let psl of listPsl" [ngValue]="psl">{{ psl.libelle }} </option>
									</select>
								</div>
							</div>
							<div class="generic-inputs__style d-flex-ai-c col-md-12">
								<label class="col-md-4 required">Date :</label>
								<div class="col-md-5">
									<app-datetime-picker
										[required]="true"
										[timepicker]="true"
										name="ttEvent.dateEvent"
										[(ngModel)]="ttEvent.dateEvent"
									></app-datetime-picker>
								</div>
								<div class="col-md-3 padding-left-0">
									<select
										name="ttEvent.xEbTtPslApp.fuseauHoraire"
										[(ngModel)]="ttEvent.xEbTtPslApp.fuseauHoraire"
									>
										<option
											*ngFor="let fuseauHoraire of listFuseauHoraire"
											[ngValue]="fuseauHoraire.ecFuseauHoraireNum"
											>{{ fuseauHoraire.code }}
										</option>
									</select>
								</div>
							</div>
							<div class="generic-inputs__style d-flex-ai-c col-md-12">
								<label class="col-md-4">{{ "PRICING_BOOKING.QUANTITY" | translate }} :</label>
								<div class="col-md-8">
									<input type="number" name="ttEvent.quantity" [(ngModel)]="ttEvent.quantity" />
								</div>
							</div>
							<div class="generic-inputs__style d-flex-ai-c col-md-12">
								<label class="col-md-4">{{ "TRACK_TRACE.COMMENT" | translate }} :</label>
								<div class="col-md-8">
									<textarea
										type="text"
										name="ttEvent.commentaire"
										[(ngModel)]="ttEvent.commentaire"
										class="textarea-full-width"
									></textarea>
								</div>
							</div>
							<div class="generic-inputs__style d-flex-ai-c col-md-12">
								<label class="col-md-4">{{ "TRACK_TRACE.DOCUMENT_TYPE" | translate }} :</label>
								<div class="col-md-8">
									<select
										class="form-control"
										name="ebPslAppValue.typeDoc"
										[(ngModel)]="selectedTypeDoc"
										(ngModelChange)="changeSelectedDoc($event)"
									>
										<option *ngFor="let typDoc of typesDocument" [ngValue]="typDoc"
											>{{ typDoc.nom }}
										</option>
									</select>
								</div>
							</div>
							<div
								*ngIf="
									selectedTypeDoc && selectedTypeDoc.nom != null && ttEvent.xEbTtPslApp.companyPsl
								"
								class="generic-accordion right-blocs d-flex-ai-c col-md-12"
							>
								<div class="col-md-8 text-right container">
									<app-documents
										[typeOfDocument]="selectedTypeDoc"
										[fromModuleEvent]="true"
										[ebDemandeNum]="ebDemandeNum"
										[ebCompagnieNum]="ebCompagnieNum"
										[pslEvent]="ttEvent.xEbTtPslApp.companyPsl.libelle"
									></app-documents>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a (click)="confirmModalAddEvent($event)">
							<button
								class="btn btn-primary pull-right btn-sm mr5 modal_yes_btn"
								#pageValid
								[disabled]="!EventInformationForm.valid"
							>
								{{ "GENERAL.CONFIRM" | translate }}
							</button>
						</a>
						<a (click)="cancelModalAddEvent()">
							<button class="btn btn-danger pull-right btn-sm mr5 modal_no_btn">
								{{ "GENERAL.CANCEL" | translate }}
							</button>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
