<div class="padding-5">
	<app-generic-table
		#genericTable
		[hideTable]="isAddObject"
		[title]="'SETTINGS.WEEK_TEMPLATE' | translate"
		[searchInput]="searchCriteria"
		[dataInfos]="dataInfos"
		[detailsInfos]="null"
		[parentContext]="this"
		[component]="GenericTableScreen.WEEKTEMPLATE"
		(onDataLoaded)="onDataLoaded($event)"
		(addFormEmitter)="displayAdd($event)"
		(editFormEmitter)="diplayEdit($event)"
		(deleteEventEmitter)="deleteWeekTemplate($event)"
		[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
	>
		<form
			(keydown.enter)="$event.preventDefault()"
			class="generic-default"
			formcontent
			#formCtrlAdminEntrepot="ngForm"
			*ngIf="isAddObject"
			role="form"
			#formCtrl="ngForm"
		>
			<div class="col-md-12 form-group mgtop ng-star-inserted">
				<p-dialog header="Title" [(visible)]="test">
					Content
				</p-dialog>
				<div class="row">
					<div class="col-md-4 form-group mgtop ng-star-inserted">
						<label class="areaLibelle required">{{
							"TRANSPORTATION_PLAN.LABEL" | translate
						}}</label>
						<div class="col-md-12 padding-left-0-important padding-right-0-important">
							<input
								type="text"
								ngControl="labelCtrl"
								placeholder="{{ 'GENERAL.LABEL' | translate }}"
								name="label"
								class="form-control"
								[(ngModel)]="ebWeekTemplateDTO.label"
								required
							/>
						</div>
					</div>
					<div class="col-md-4 form-group mgtop ng-star-inserted">
						<label class="areaLibelle required">{{ "GENERAL.SELECT_WEEK_TYPE" | translate }}</label>
						<div class="col-md-12 padding-left-0-important padding-right-0-important">
							<ng-select
								name="type"
								[items]="listTypeWeek"
								bindValue="code"
								placeholder="{{ 'DOCK.HINT_SELECT_TYPE' | translate }}"
								[(ngModel)]="ebWeekTemplateDTO.type"
							>
								<ng-template ng-label-tmp let-item="item">
									<span>
										{{ getTypeWeekDisplay(item.code) }}
									</span>
								</ng-template>
								<ng-template ng-option-tmp let-item="item">
									<span>
										{{ getTypeWeekDisplay(item.code) }}
									</span>
								</ng-template>
							</ng-select>
						</div>
					</div>
					<div class="col-md-4 form-group mgtop ng-star-inserted">
						<label class="areaLibelle required">{{
							"TRANSPORTATION_PLAN.VALID_FROM" | translate
						}}</label>
						<div class="col-md-12 padding-left-0-important padding-right-0-important" required>
							<app-datetime-picker
								#datetimepicker
								[name]="'dateDebut'"
								[maxDate]="ebWeekTemplateDTO.dateFin"
								[(ngModel)]="ebWeekTemplateDTO.dateDebut"
								[required]="true"
							></app-datetime-picker>
						</div>
					</div>
					<div class="col-md-4 form-group mgtop ng-star-inserted">
						<label *ngIf="ebWeekTemplateDTO.type == 1" class="areaLibelle required">{{
							"TRANSPORTATION_PLAN.VALID_TO" | translate
						}}</label>
						<label *ngIf="ebWeekTemplateDTO.type == 0" class="areaLibelle">{{
							"TRANSPORTATION_PLAN.VALID_TO" | translate
						}}</label>
						<div
							*ngIf="ebWeekTemplateDTO.type == 1"
							class="col-md-12 padding-left-0-important padding-right-0-important"
							required
						>
							<app-datetime-picker
								#datetimepicker
								[name]="'dateFin'"
								[minDate]="ebWeekTemplateDTO.dateDebut"
								[(ngModel)]="ebWeekTemplateDTO.dateFin"
								[required]="true"
							></app-datetime-picker>
						</div>

						<div
							*ngIf="ebWeekTemplateDTO.type == 0"
							class="col-md-12 padding-left-0-important padding-right-0-important"
						>
							<app-datetime-picker
								#datetimepicker
								[name]="'dateFin'"
								[minDate]="ebWeekTemplateDTO.dateDebut"
								[(ngModel)]="ebWeekTemplateDTO.dateFin"
								[required]="false"
							></app-datetime-picker>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 form-group mgtop ng-star-inserted padding-left-30 padding-right-30">
				<div class="row">
					<p-table
						[value]="ebWeekTemplateDTO.ebWeektemplateNum ? ebWeekTemplateDTO.days : period.days"
						[rowTrackBy]="trackByIndex"
					>
						<ng-template pTemplate="header">
							<tr>
								<th class="header-table" style=" width: 100px;">
									{{ "WEEKS_TEMPLATE.DAY.NAME" | translate }}
								</th>
								<th class="header-table" style=" width: 100px;">
									{{ "WEEKS_TEMPLATE.DAY.OPENED" | translate }}
								</th>
								<th class="header-table">{{ "WEEKS_TEMPLATE.DAY.OPENING_HOURS" | translate }}</th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-day let-rowIndex="rowIndex">
							<tr>
								<td>
									{{ "GENERAL.DAYS." + getDayName(day.code) | translate }}
								</td>
								<td>
									<div class="od-t-full-center">
										<p-inputSwitch
											[name]="'open' + rowIndex"
											[(ngModel)]="day.open"
										></p-inputSwitch>
									</div>
								</td>
								<td>
									<div class="flex">
										<div class="flex-grow-1">
											<div
												*ngFor="let hour of day.hours; let i = index; trackBy: trackByIndex"
												class="flex"
												style="align-items: center;"
											>
												<span
													class="margin-right-5"
													[ngStyle]="{ 'margin-top': i > 0 ? '2px' : '0' }"
												>
													{{ "WEEKS_TEMPLATE.DAY.WEEK_HOUR_AT" | translate }}
												</span>
												<input
													style="width: 200px"
													class="form-control input-underline input-xs margin-right-5"
													[pattern]="Statique.patternTime"
													type="text"
													[textMask]="{ mask: Statique.maskTime }"
													placeholder="hh:mm"
													[(ngModel)]="hour.startHour"
													[name]="'startHour' + rowIndex + i"
													(keydown.enter)="addRangeHour(day)"
												/>
												<a
													class="margin-left-5"
													style="flex: 0 0 25px; text-align: center"
													href="javascript:void(0)"
													(click)="deleteRangeHour(day, hour)"
												>
													<i class="fa fa-times-circle-o" aria-hidden="true"></i>
												</a>
											</div>
										</div>
										<div class="od-t-full-center" style="width: 35px;">
											<button class="btn btn-xs" (click)="addRangeHour(day)">
												<i class="fa fa-plus cursor-pointer"></i>
											</button>
										</div>
									</div>
								</td>
							</tr>
						</ng-template>
					</p-table>
				</div>
			</div>
			<div class="form-content col-sm-12 text-right margin-bottom-10" style="margin-top: 08px; ">
				<div class="col-md-12">
					<button
						*ngIf="ebWeekTemplateDTO != null && ebWeekTemplateDTO.ebWeektemplateNum == null"
						class="btn btn-sm btn-success btn-shadow"
						[disabled]="!formCtrl.valid"
						(click)="saveWeekTemplate(ebWeekTemplateDTO)"
					>
						{{ "COMPANY_PROFILE.BTN_AJOUTER" | translate }}
					</button>
					<button
						*ngIf="ebWeekTemplateDTO != null && ebWeekTemplateDTO.ebWeektemplateNum != null"
						class="btn btn-sm btn-success btn-shadow"
						[disabled]="!formCtrl.valid"
						(click)="saveWeekTemplate(ebWeekTemplateDTO)"
					>
						{{ "COMPANY_PROFILE.BTN_MODIFIER" | translate }}
					</button>
					<button class="btn btn-sm btn-success btn-shadow" (click)="backToList()">
						{{ "GENERAL.CANCEL" | translate }}
					</button>
				</div>
			</div>
		</form>
	</app-generic-table>
</div>
