<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="shared/common_head :: copy">
	<title></title>
</head>

<body>
	<header th:replace="shared/header :: copy"></header>
	<main class="main">
		<table class="table-main">
			<tbody>
				<tr>
					<td>
						<div>
							<p>
								QR created by <span th:text="${ebdemande.user.nomPrenom}"></span>
							</p>
							
							<p th:utext="#{demandealertechargeur.intro(${ebdemande.refTransport})}"></p>

							<div th:if="${ebdemande.getListTransporteurs() != null}">

								<lu th:each="transporteur : ${ebdemande.getListTransporteurs()}">
									<li >
									<span th:text="${transporteur.nom}"></span>&nbsp;
									<span th:text="${transporteur.prenom}"></span>,&nbsp;
									<span th:text="${transporteur.ebEtablissement.nom}"></span>
									</li>
								</lu>
							</div>
							<b>
							<p th:utext="#{demandealertechargeur.synthese}"></p>
							</b>
							<span th:utext="#{demandealertechargeur.ref(${ebdemande.refTransport})}"></span>
							<!-- <span th:utext="#{demandealertetransporteur.customRef(${ebdemande.customerReference})}"></span> -->
							<span th:switch="${ebdemande.customerReference}">
								<span th:case="null"></span>
								<span th:case="*"><span th:utext="#{demandealertetransporteur.customRef(${ebdemande.customerReference})}"></span></span>
							</span>
							
							<span th:utext="#{demandealertechargeur.type(${ebdemande.getLibelleTypeOfRequest()})}"></span>
							<span th:utext="#{demandealertechargeur.paysorigine(${ebdemande.libelleOriginCountry})}"></span>
							<span th:utext="#{demandealertechargeur.destination(${ebdemande.libelleDestCountry})}"></span>
							<span th:utext="#{demandealertechargeur.modetrans(${ebdemande.getModeTransporteur()})}"></span>
							<span th:utext="#{demandealertetransporteur.incoterm(${inco})}"></span>
	<!-- 						Incoterm : -->
	<!-- 						<span th:text="${inco}"></span> -->
							<span th:utext="#{demandealertechargeur.poidbrut(${ebdemande.totalWeight})}"></span>
							<span th:utext="#{demandealertechargeur.volume(${ebdemande.totalVolume})}"></span>
	 
							<p th:utext="#{demandealertechargeur.conclusion}"></p>
							<div class="btn-wrapper">
								<a th:href="@{${url}}">
									<span class="btn" th:text="${ebdemande.refTransport}"></span>
								</a>
							</div>
							<br/>
						</div>
						
						<div style="margin-top: 10px; padding-top: 15px;">
							===================================================================
						</div>
						
						<div>
							<div style="margin-bottom: 10px;">Catégories / Labels</div>
							<ul th:if="${not #lists.isEmpty(ebdemande.listCategories)}">
								<li:block th:each="cat : ${ebdemande.listCategories}">
									<div>
										<span th:text="${cat.libelle}"></span> : 
										<span th:if="${not #lists.isEmpty(cat.labels)}">
											<span th:text="${cat.labels[0].libelle}"></span>
										</span>
										<span th:if="${#lists.isEmpty(cat.labels)}">
											<span>No label selected</span>
										</span>
									</div>
								</li>
							</ul>
							<div th:if="${#lists.isEmpty(ebdemande.listCategories)}">
								<span>List des catégories non définie</span>
							</div>
						</div>
					</td>
				</tr>

			</tbody>

		</table>
	</main>

	<footer th:replace="shared/footer :: copy"></footer>
</body>

</html>