<div class="row">
	<div class="col-md-12 form-group">
		<form role="form" #formCategorie="ngForm">
			<div class="row">
				<div class="col-md-11">
					<label>{{ "REPOSITORY_MANAGEMENT.NOUVELLE_CATEGORIE" | translate }}</label>
					<input
						type="text"
						ngControl="libelleCtrl"
						[(ngModel)]="ebCategorie.libelle"
						name="libelle"
						class="form-control input-underline input-xs"
					/>
				</div>
				<div class="col-md-1 padding-top-20 padding-left-0">
					<button
						class="btn btn-sm btn-primary pull-right"
						[disabled]="!formCategorie.valid"
						(click)="saveCategorie($event)"
					>
						<i *ngIf="!saveLoading" class="fa fa-plus"></i>
						<i *ngIf="saveLoading" class='fa fa-spinner fa-spin fa-15x'></i>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<p-accordion>
			<p-accordionTab *ngFor="let categorie of ebCompagnie.categories; let i = index">
				<p-header>
					{{ categorie.libelle }}
					<i
						class="cursor-pointer fa fa-close"
						style="float: right;"
						(click)="deleteCategorie(i)"
					></i>
				</p-header>
				<p-table
					#dt
					[columns]="cols"
					[value]="labels[i]"
					[lazy]="true"
					(onLazyLoad)="loadLabels($event, categorie.ebCategorieNum, i)"
					(onPage)="setSelectedPage($event, i)"
					[loading]="loading"
					[totalRecords]="totalRecords[i]"
					[paginator]="true"
					[rows]="nbRows[i]"
				>
					<ng-template pTemplate="caption">
						<div class="row">
							<div class="col-md-3">
								<label for="newLabel" style="margin-top: 3px;"
									>{{ "REPOSITORY_MANAGEMENT.NEW_FIELD" | translate }} :
								</label>
							</div>
							<div class="col-md-8">
								<div style="text-align: right">
									<input
										#newLabelInput
										name="newLabel"
										type="text"
										pInputText
										style="width:100%"
										[(ngModel)]="newLabel.libelle"
									/>
								</div>
							</div>
							<div class="col-md-1">
								<button
									class="btn btn-sm btn-primary pull-right"
									[disabled]="!formCategorie.valid"
									(click)="onLabelAdded(categorie, i, $event)"
								>
									<i class="fa fa-plus"></i>
								</button>
							</div>
						</div>
					</ng-template>
					<ng-template pTemplate="header" let-columns>
						<tr>
							<th *ngFor="let col of columns">
								{{ col.header }}
								<button
									pButton
									[icon]="viewType == ViewType.CARD ? 'fa fa-align-justify' : 'fa fa-th-large'"
									class="genericTable-icon pull-right"
									(click)="changeView()"
								></button>
							</th>
						</tr>
						<tr>
							<th *ngFor="let col of columns">
								<input
									#rechLabel
									pInputText
									placeholder="{{ 'GENERAL.FORM_HINT_SEARCH' | translate }}"
									type="text"
									(input)="searchLabel(rechLabel.value, categorie.ebCategorieNum, i)"
								/>
							</th>
						</tr>
					</ng-template>
					<ng-template
						pTemplate="body"
						let-rowData
						let-columns="columns"
						let-rowIndex="rowIndex"
						*ngIf="viewType == ViewType.TABLE"
					>
						<tr *ngIf="viewType == ViewType.TABLE">
							<td *ngFor="let col of columns">
								{{ rowData[col.field] }}
								<button
									class="btn btn-sm btn-primary pull-right"
									(click)="onLabelRemoved(categorie, rowData, rowIndex, i)"
								>
									<i class="fa fa-trash"></i>
								</button>
							</td>
						</tr>
					</ng-template>

					<ng-template pTemplate="footer">
						<tr *ngIf="viewType == ViewType.CARD">
							<td>
								<div class="ui-table-scrollable-view">
									<div class="ui-table-scrollable-body">
										<div
											*ngFor="let label of labels[i]; let labelIndex"
											class="label label-default"
										>
											<div
												class="cursor-pointer truncate"
												title="{{ label.libelle }}"
												style="display: inline;"
											>
												{{ label.libelle }}
											</div>
											<i
												class="fa fa-close cursor-pointer pull-right"
												aria-hidden="true"
												title="{{ 'GENERAL.DELETE' | translate }}"
												style="display: inline;"
												(click)="onLabelRemoved(categorie, label, labelIndex, i)"
											></i>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</ng-template>

					<ng-template pTemplate="paginatorright" let-state>
						<p-dropdown
							[options]="pageOptions"
							[(ngModel)]="nbRows[i]"
							(onChange)="loadLabelsDropdown($event, categorie.ebCategorieNum, i)"
						></p-dropdown>
					</ng-template>
				</p-table>
			</p-accordionTab>
		</p-accordion>
	</div>
</div>
