@import "../../../../administrateur-company/administrateur-company.component.css";

.categorie {
	border: 1px solid #ccc;
	padding: 10px;
}

.categorie span.label {
	font-size: 80% !important;
	margin: 2px !important;
	position: relative;
	float: left;
}

.categorie span.label {
	margin-right: 10px;
}

.categorie span i {
	font-size: 15px;
	margin-left: 10px;
	cursor: pointer;
}

.margin {
	margin-left: 10px;
}
