<div class="config-schema-psl">
	<div class="trpl-zone-settings-root" *ngIf="isStatiquesLoaded">
		<app-generic-table
			#genericTable
			[hideTable]="isAddObject"
			[title]="'REPOSITORY_MANAGEMENT.SCHEMA_PSL_CONFIG' | translate"
			[searchInput]="searchCriteria"
			[dataInfos]="dataInfos"
			[detailsInfos]="null"
			(addFormEmitter)="displayAdd($event)"
			(editFormEmitter)="diplayEdit($event)"
			(deleteEventEmitter)="deleteData($event)"
			[component]="GenericTableScreen.SETTINGS_SCHEMA_PSL"
			[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
		>
			<form class="generic-default" formcontent *ngIf="isAddObject" role="form" #formCtrl="ngForm">
				<div class="form-content col-sm-6 margin-top-10">
					<div class="col-md-12 col-sm-12 col-xs-12 form-group">
						<label for="PSL" class="areaLibelle col-md-12 required"
							>{{"CONFIG_PSL_COMPANY.SELECT_ETABLISHMENT"  | translate }}</label
						>
						<div class="col-md-12 col-sm-12 col-xs-12 padding-0">
							<app-autocomplete
								name="selectedListEtablissement"
								[(inputModel)]="selectedListEtablissement"
								bindLabel="nom"
								bindValue="ebEtablissementNum"
								[bindObject]="true"
								placeholder="Selectionner un etablissement..."
								sMultiple="true"
								[listItems]="listEtablissement"
							>
							</app-autocomplete>
						</div>
					</div>

					<div class="col-md-6 col-sm-12 col-xs-12 form-group">
						<label class="required">{{ "TRANSPORTATION_PLAN.ZONE_DESIGNATION" | translate }}</label>
						<div>
							<input
								type="text"
								[(ngModel)]="dataObject.designation"
								name="designation"
								class="form-control input-underline input-xs"
							/>
						</div>
					</div>

					<div class="col-md-12 col-sm-12 col-xs-12 form-group">
						<label for="PSL" class="areaLibelle col-md-12"
							>{{"CONFIG_PSL_COMPANY.SHEME_MODIFIED_WHEN_CREATING_QR_OR_TR"  | translate }}</label
						>
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="col-md-2 new-formcontrol" *ngFor="let item of Statique.yesOrNo">
								<label>
									<input
										type="radio"
										name="dataObject.editable"
										[(ngModel)]="dataObject.isEditable"
										[value]="item.key"
									/>
									{{ item.value }}
								</label>
							</div>
						</div>
					</div>
				</div>

				<div class="form-content col-sm-6">
					<div class="list-psl col-md-12 col-sm-12 col-xs-12 form-group padding-top-10">
						<div>
							<div class="col-md-6 padding-left-0-important">
								<label for="PSL" class="areaLibelle required">{{"CONFIG_PSL_COMPANY.LISTE_OF_PSLS"  | translate }}</label>
							</div>
							<!-- <div class="pull-right">
                <Button class="btn btn-xs" (click)="changeView()">{{this.viewMode == 1 ? 'Mode vignette' : 'Mode Tableau'}}</Button>
              </div> -->

							<div class="col-md-6 padding-right-0-important">
								<select
									class="form-control"
									name="pslSelect"
									[(ngModel)]="selectedPsl"
									(change)="onPslSelect($event)"
								>
									<option [ngValue]="null"></option>
									<ng-container *ngFor="let item of dataObject.listPsl">
										<option *ngIf="!item.schemaActif" [ngValue]="item"
											>{{ item.libelle }} ({{ item.codeAlpha }})</option
										>
									</ng-container>
								</select>
							</div>
						</div>
						<div class="col-md-12">
							<div class="text-note">
								{{"CONFIG_PSL_COMPANY.ORDER_THE_PSLS"  | translate }}
							</div>
						</div>
					</div>

					<table class="row-border hover table" *ngIf="viewMode == ViewType.TABLE; else cardView">
						<thead>
							<tr>
								<th>{{ "CONFIG_PSL_COMPANY.LIBELLEPSL" | translate }}</th>
								<th>{{ "CONFIG_PSL_COMPANY.PSL_CODE" | translate }}</th>
								<th>{{ "CONFIG_PSL_COMPANY.ACTIVE" | translate }}</th>
								<th>{{ "CONFIG_PSL_COMPANY.SEGMENT" | translate }}</th>
								<th>{{ "CONFIG_PSL_COMPANY.IMPORTANCE" | translate }}</th>
								<th>{{ "REPOSITORY_MANAGEMENT.START" | translate }}</th>
								<th>{{ "REPOSITORY_MANAGEMENT.END" | translate }}</th>
								<th>{{ "REPOSITORY_MANAGEMENT.TO_ORDER" | translate }}</th>
							</tr>
						</thead>
						<tbody *ngIf="dataObject.listPsl && dataObject.listPsl.length">
							<tr *ngFor="let psl of dataObject.listPsl; let index = index">
								<td class="editor-content">{{ psl.libelle }}</td>
								<td class="editor-content">{{ psl.codeAlpha }}</td>
								<td>
									<div class="form-group">
										<input
											name="psl{{ index }}.schemaActif"
											type="checkbox"
											[(ngModel)]="psl.schemaActif"
										/>
									</div>
								</td>
								<td class="editor-content">
									<input
										name="psl{{ index }}.segmentName"
										type="text"
										[(ngModel)]="psl.segmentName"
									/>
								</td>
								<td class="editor-content">
									<div>
										<select
											class="form-control"
											name="psl{{ index }}.importance"
											[(ngModel)]="psl.importance"
											[compareWith]="Statique.compareByFieldKey"
										>
											<option [ngValue]="null"></option>
											<option *ngFor="let item of Statique.majeurMineur" [ngValue]="item.key">{{
												item.value
											}}</option>
										</select>
									</div>
								</td>
								<td class="editor-content">
									<div>
										<select
											class="form-control"
											(change)="onStartChange(psl, index)"
											name="psl{{ index }}.startPsl"
											[(ngModel)]="psl.startPsl"
											[compareWith]="Statique.compareByFieldKey"
										>
											<option [ngValue]="null"></option>
											<option *ngFor="let item of Statique.yesOrNo" [ngValue]="item.key">{{
												item.value
											}}</option>
										</select>
									</div>
								</td>
								<td class="editor-content">
									<div>
										<select
											class="form-control"
											(change)="onEndChange(psl, index)"
											name="psl{{ index }}.endPsl"
											[(ngModel)]="psl.endPsl"
											[compareWith]="Statique.compareByFieldKey"
										>
											<option [ngValue]="null"></option>
											<option *ngFor="let item of Statique.yesOrNo" [ngValue]="item.key">{{
												item.value
											}}</option>
										</select>
									</div>
								</td>
								<td>
									<div class="text-center margin-bottom-5 order-button" *ngIf="index > 0">
										<i
											class="fa fa-angle-up cursor-pointer"
											title="Monter"
											(click)="setOrder(psl, index, true)"
										></i>
									</div>
									<div class="text-center order-button" *ngIf="index + 1 < listCompanyPsl.length">
										<i
											class="fa fa-angle-down cursor-pointer"
											title="Descendre"
											(click)="setOrder(psl, index, false)"
										></i>
									</div>
								</td>
							</tr>
						</tbody>
					</table>

					<ng-template #cardView>
						<app-card-list
							[(data)]="selectListPslActif"
							[allowOrder]="true"
							(orderEndEventEmitter)="orderEndEventHandler($event)"
							cardHeight="100%"
							cardCol="12"
							[dragHandler]="dragHandler"
						>
							<ng-container *forEachItem="let card; let index = index">
								<ng-container *ngIf="card.schemaActif">
									<span class="remove-psl">
										<i (click)="removePsl(card, index)" class="fa fa-remove"></i>
									</span>
									<span class="edit-psl">
										<i (click)="editPsl($event)" class="fa fa-pencil"></i>
									</span>

									<div class="card-content">
										<div class="card-order" #dragHandler>
											<span>{{ card?.order }}</span>
										</div>

										<div class="margin-left-10-important">
											<div class="row margin-bottom-5">
												<div class="card-formgroup col-md-6">
													{{ card.libelle }} ({{ card.codeAlpha }})
												</div>

												<div class="card-formgroup col-md-6">
													<div class="pull-right d-flex">
														<label
															class="padding-right-10 {{ !card.startPsl ? 'not-selected' : '' }}"
														>
															<p-checkbox
																class="col-md-12 padding-0"
																name="card{{ index }}.startPsl"
																[(ngModel)]="card.startPsl"
																(onChange)="onStartChange(card, index)"
																label="Start"
																binary="true"
															></p-checkbox>
														</label>
														<label class="margin-right-17 {{ !card.endPsl ? 'not-selected' : '' }}">
															<p-checkbox
																name="card{{ index }}.endPsl"
																[(ngModel)]="card.endPsl"
																(onChange)="onEndChange(card, index)"
																label="End"
																binary="true"
															></p-checkbox>
														</label>
													</div>
												</div>
											</div>

											<div class="row margin-bottom-10">
												<div class="card-formgroup col-md-12">
													<div>
														<div>
															<input
																class="{{
																	!card.segmentName || !card.segmentName.length
																		? 'not-selected hide-only'
																		: ''
																}}"
																name="psl{{ index }}.segmentName"
																type="text"
																[(ngModel)]="card.segmentName"
																placeholder="Segment..."
															/>
														</div>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="card-formgroup col-md-6 margin-left-5">
													<label
														*ngFor="let item of Statique.majeurMineur"
														class="{{ item.key != card.importance ? 'not-selected' : '' }}"
													>
														<span>{{ item.value }}</span>
														<input
															type="radio"
															name="card{{ index }}.importance"
															[(ngModel)]="card.importance"
															[value]="item.key"
														/>
													</label>
												</div>
											</div>
										</div>
									</div>
								</ng-container>

								<!--
                  <div class="card-formgroup row col-md-12 margin-bottom-5">
                    <label class="col-md-8">Actif</label>
                    <div class="col-md-4">
                      <input name="card{{index}}.schemaActif" type="checkbox" [(ngModel)]="card.schemaActif"/>
                    </div>
                  </div> -->
							</ng-container>
						</app-card-list>
					</ng-template>
				</div>

				<div class="form-content col-sm-12 text-right margin-bottom-10">
					<div class="col-md-12">
						<button
							*ngIf="dataObject && !dataObject.ebTtSchemaPslNum"
							class="btn btn-sm btn-success btn-shadow"
							[disabled]="!isFormValidated()"
							(click)="addSchemaPsl()"
						>
							{{ "COMPANY_PROFILE.BTN_AJOUTER" | translate }}
						</button>
						<button
							*ngIf="dataObject && dataObject.ebTtSchemaPslNum"
							class="btn btn-sm btn-success btn-shadow"
							[disabled]="!isFormValidated()"
							(click)="editSchemaPsl()"
						>
							{{ "COMPANY_PROFILE.BTN_MODIFIER" | translate }}
						</button>
						<button class="btn btn-sm btn-success btn-shadow" (click)="backToListZone()">
							{{ "GENERAL.CANCEL" | translate }}
						</button>
					</div>
				</div>
			</form>
		</app-generic-table>
	</div>
</div>
