@import "../../../../../../styles/variables";

::ng-deep .doc_upload {
	.ui-button {
		border: 0 !important;
		background: none !important;
		color: #007ad9 !important;
		box-shadow: 0px 2px 5px 2px #97aaab;
	}
	.ui-fileupload-buttonbar {
		text-align: center;
	}
}

::ng-deep .doc-tpl-root-ngdeep-modal-export {
	.ui-dialog-content {
		height: 100% !important;
	}
}
