@import "../../../../../../styles/variables";
p-progressSpinner {
	display: flex; // Center horizontaly
}
::ng-deep .etab-tranfert-items-wrapper {
	background: $white !important;
	.etab-content {
		padding: 0 !important;
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: 5px;
		}
	}
	.etab-header {
		background: $primary-color !important;
		color: $white !important;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		padding: 5px;
		font-weight: bold;
	}
	.etab-footer {
		border-top: 1px solid silver;
		padding: 5px;
	}
}
.etab-tranfert-items-wrapper {
	margin: 5px 120px;
	border-radius: 5px;
	box-shadow: 0 0 7px -3px $gray-dark;
}
.block-left {
	padding: 10px;
}
.block-right {
	padding: 10px;
	border-left: 1px solid silver;
}
.container {
	flex-flow: row wrap;
	justify-content: space-between;
	padding-top: 5px;
	background: #fff;
	border-radius: 8px;
	width: 100%;
	border-radius: 4px;
	margin-bottom: 10px;
	border: 1px solid #efefef;
}
.title {
	font-weight: bold;
	color: #31bfcb;
}
.clickable {
	cursor: pointer;
}
.content {
	padding: 20px;
}
.no-border {
	border: none !important;
	margin-bottom: 20px;
}
.pd-rght {
	font-weight: bold;
	padding-right: 10px;
}
.selected {
	padding-left: 25px;
	color: black;
}

::ng-deep .ui-table .ui-table-caption,
::ng-deep .ui-table .ui-table-summary {
	background-color: #ffffff !important;
	border: 1px solid #ffffff !important;
}
