<p-progressSpinner *ngIf="loading"></p-progressSpinner>
<div
	*ngIf="!loading"
	class="etab-tranfert-items-wrapper margin-top-10"
	(window:resize)="onResizeAdapter()"
>
	<div class="etab-header">
		{{ "TRANSFERT_ESTABLISHMENT.TITLE" | translate }}
	</div>
	<div class="etab-content flex">
		<div class="col-md-12 settings-accordion">
			<p-accordion [activeIndex]="aIndex">
				<p-accordionTab>
					<p-header>
						<span>{{ "TRANSFERT_ESTABLISHMENT.CHOOSE_ESTABLISHMENT" | translate }}</span>
					</p-header>
					<p-table>
						<ng-template pTemplate="caption">
							<div class="row">
								<div class="col-md-3">
									<label for="newLabel" style="margin-top: 3px;">
										<span>{{ "TRANSFERT_ESTABLISHMENT.ESTABLISHMENT" | translate }}:</span>
									</label>
								</div>
								<div class="col-md-5">
									<div class="content">
										<select
											id="etablissement"
											class="form-control"
											[(ngModel)]="ebEtablissement"
											name="etablissement"
											(change)="onChangeEtablissement()"
											required
										>
											<option value="" disabled selected>{{
												"MY_ACCOUNT.SELECT_ESTABLISHMENT" | translate
											}}</option>
											<option
												*ngFor="let etablissement of listEtablissements"
												[ngValue]="etablissement"
											>
												{{ etablissement?.nom }}
											</option>
										</select>
									</div>
								</div>
							</div>
						</ng-template>
					</p-table>
				</p-accordionTab>
				<p-accordionTab>
					<p-header>
						<span>{{ "TRANSFERT_ESTABLISHMENT.MANAGE_ORDERS" | translate }}</span>
					</p-header>
					<p-table>
						<ng-template pTemplate="caption">
							<app-affect-orders
								[(transfertUserObject)]="transfertUserObject"
								[userToBeUpdated]="userToBeUpdated"
								[listActionChoose]="listActionChoose"
								(action)="selectedAction($event)"
							></app-affect-orders>
						</ng-template>
					</p-table>
				</p-accordionTab>
				<p-accordionTab>
					<p-header>
						<span>{{ "TRANSFERT_ESTABLISHMENT.MANAGE_TRANSPORTS" | translate }}</span>
					</p-header>
					<p-table>
						<ng-template pTemplate="caption">
							<app-affect-transports
								[(transfertUserObject)]="transfertUserObject"
								[userToBeUpdated]="userToBeUpdated"
								[listActionChoose]="listActionChoose"
							></app-affect-transports>
						</ng-template>
					</p-table>
				</p-accordionTab>
				<p-accordionTab>
					<p-header>
						<span>{{ "TRANSFERT_ESTABLISHMENT.MANAGE_COMMUNITY" | translate }}</span>
					</p-header>
					<p-table>
						<ng-template pTemplate="caption">
							<app-affect-community
								[(transfertUserObject)]="transfertUserObject"
								[userToBeUpdated]="userToBeUpdated"
								[listActionChoose]="listActionChoose"
								(action)="selectedCommunityAction($event)"
							></app-affect-community>
						</ng-template>
					</p-table>
				</p-accordionTab>
			</p-accordion>
		</div>
	</div>
	<div class="etab-footer">
		<div class="flex">
			<div class="flex-grow-1"></div>
			<button [disabled]="!isFormValid" class="btn btn-sm btn-primary" (click)="save()">
				{{ "GENERAL.SAVE" | translate }}
			</button>
		</div>
	</div>
</div>
