<form role="form" #realquotationForm="ngForm" class="col-md-12 padding-0 cotation-app__wrapper">
	<div class="row block-costs">
		<div class="col-lg-6 col-md-7 padding-left-0">
			<form role="form" #quotationForm="ngForm" novalidate>
				<fieldset>
					<div class="col-md-12 padding-0">
						<div [className]="nbColListing" *ngIf="listCurrency && userConnected.canShowPrice">
							<div>
								<div class="col-md-3 padding-0">
									<button (click)="preFills()"
											class="btn btn-primary btn-sm ng-star-inserted"
											*ngIf="!visualisationAccess"
									>
										{{ "FREIGHT_AUDIT.PREFILL" | translate }}
									</button>
								</div>

								<div class="col-md-2 padding-0">
									<button
										title=" {{ 'FREIGHT_AUDIT.REFRESH_RATE' | translate }} "
										(click)="preFillRate()"
										class="btn btn-primary btn-sm ng-star-inserted"
										*ngIf="!visualisationAccess"
									>
										{{ "FREIGHT_AUDIT.REFRESH" | translate }}
									</button>
								</div>
							</div>
							<fieldset class="borderfieldset f-left">
								<legend class="title-coler">
									<div *ngIf="!isCostInvoiceVisible">
										<h4>{{ "PRICING_BOOKING.COST_DISPLAY" | translate }}</h4>
									</div>
									<div *ngIf="isCostInvoiceVisible">
										<h4>
											{{ "FREIGHT_AUDIT.NEGOTIATED_PRICE" | translate }} :
											{{ exEbDemandeTransporteur.price | localNumberFormat: "1.2-2" }}
											{{ ebDemande.xecCurrencyInvoice.code }}
										</h4>
									</div>
								</legend>
							</fieldset>
							<div class="row margin-top-10 margin-bottom-10 div-top ">
								<fieldset>
									<div class="col-md-12">
										<div class="cost margin-top-5">
											<div *ngIf="!exEbDemandeTransporteur.isFromTransPlan; else fromPlan">
												<div class="costs-wrapper costs-header" style="margin-left: 28.5%">
													<div class="cost-input" style="    margin-right: 56px;">
														<input
															disabled
															placeholder="{{ 'FREIGHT_AUDIT.CURRENCY' | translate }}"
															type="text"
															class="form-control text-center borderInput"
														/>
													</div>
													<div class="cost-input">
														<input
															disabled
															type="text"
															class="form-control text-center borderInput"
															placeholder="{{ 'FREIGHT_AUDIT.PRICE' | translate }}"
														/>
													</div>
													<div class="cost-input">
														<input
															disabled
															type="text"
															class="form-control text-center borderInput"
															placeholder="{{ 'FREIGHT_AUDIT.RATE' | translate }}"
														/>
													</div>
													<div class="cost-input global-cost-category">
														<input
															style="width: 95%;"
															disabled
															type="number"
															class="form-control text-center borderInput"
															title="{{ 'FREIGHT_AUDIT.PRICE_CONVERTED' | translate }}"
															placeholder="conver.."
														/>
													</div>
												</div>
												<ng-container
													*ngFor="
														let categorie of exEbDemandeTransporteur.listCostCategorie;
														let i = index
													"
												>
													<div
														class="cost-categorie generic-inputs__style row entete margin-top-10 d-flex-jc-sb"

														align="left"
														(click)="eventCollap(categorie)"
														[attr.aria-expanded]="!categorie.isCollapsed"
														aria-controls="collapseExample"
													>
														<div class="global-cost__libelle padding-0" align="left">
															<i
																*ngIf="categorie.isCollapsed == true"
																class="fa fa-plus-circle"
															></i>
															<i
																*ngIf="categorie.isCollapsed == false"
																class="fa fa-minus-circle"
															></i>
															<span class="cost-display__title">
																{{ categorie.libelle }}
															</span>
														</div>
														<div class="costs-wrapper col-md-12 md-margin-left-65 ">
															<div class="padding-right-0 float-right">
																<span>
																	{{ categorie.totalPriceConverted | localNumberFormat: "1.2-2" }}
																</span>
																<span>
																	{{ ebDemande.xecCurrencyInvoice.code }}
																</span>
															</div>
														</div>
													</div>

													<div
														class="contenu"
														*ngFor="let item of categorie.listEbCost; let j = index"
														id="collapseExample"
														[ngbCollapse]="categorie.isCollapsed"
													>
														<div
															class="row margin-top-5 d-flex-jc-sb"
															align="left"

														>
															<div class="padding-left-0 col-md-4 cost-libelle" align="left">
																<label
																	*ngIf="item.type != 2; else divInput"
																	title="{{ item.libelleCostItem }}"
																>
																	{{ item.libelle | truncate:12}}
																</label>
																<ng-template #divInput>
																	<div class="input-group" title="{{ item.libelleCostItem }}">
																		<input
																			type="string"
																			class="text"
																			name="categorie{{ i }}.listEbCost.libelle{{ j }}"
																			[(ngModel)]="item.libelle"
																		/>
																	</div>
																</ng-template>
															</div>

															<div class="costs-wrapper">
																<div class="cost-input" style="    margin-right: 61px;">
																	<div>
																		<ng-select
																			class="select-device text-center"
																			[items]="listCurrenciesByPostCost"
																			[multiple]="false"
																			bindLabel="code"
																			bindValue="ecCurrencyNum"
																			name="categorie{{ i }}.listEbCost.ecCurrencyNum{{ j }}"
																			[(ngModel)]="item.xEcCurrencyNum"
																			[disabled] ="item.code != null || visualisationAccess"
																			(change)="changeCostItemCurrency(item, categorie,false)"
																		>
																		</ng-select>
																	</div>
																</div>

																<div class="cost-input">
																	<input
																		type="text"
																		class="form-control text-center"
																		name="categorie{{ i }}.listEbCost.price{{ j }}"
																		[ngModel]="item.price | localNumberFormat: '1.2-2'"
																		placeholder="{{ 'FREIGHT_AUDIT.PRICE' | translate }}"
																		disabled
																	/>
																</div>
																<div class="cost-input">
																	<input
																		type="text"
																		class="form-control text-center"
																		placeholder="{{ 'FREIGHT_AUDIT.RATE' | translate }}"
																		name="categorie{{ i }}.listEbCost.euroExchangeRate{{ j }}"
																		[ngModel]="item.euroExchangeRate | localNumberFormat: '1.2-2'"
																		disabled
																	/>
																</div>
																<div class="cost-input global-cost-category">
																	<input
																		[ngModel]="item.priceConverted | localNumberFormat: '1.2-2'"
																		(ngModelChange)="item.priceConverted = $event"
																		placeholder="conver.."
																		class="form-control text-center"
																		disabled
																		name="categorie{{ i }}.listEbCost.priceConverted{{ j }} "
																	/>
																</div>
															</div>
														</div>
														<div
															class="row"
															*ngIf="
																j == categorie.listEbCost.length - 1
															"
														>
															<div class="entete">
																<button
																	*ngIf="!visualisationAccess"
																	style="width: 16%;"
																	(click)="addOtherCostInvoice(categorie, null)"
																	class="btn btn-sm post-add__currency"
																>
																	Add
																</button>
															</div>

															<div class="entete" style="margin-bottom:49px;"></div>
														</div>
													</div>
												</ng-container>
											</div>
											<ng-template #fromPlan>
												<div class="costs-wrapper " style="margin-left: 17.5%;">
													<div class="cost-input">
														<input
															disabled
															placeholder="{{ 'FREIGHT_AUDIT.CURRENCY' | translate }}"
															type="text"
															class="form-control text-center borderInput"
														/>
													</div>
													<div class="cost-input">
														<input
															disabled
															type="text"
															class="form-control text-center borderInput"
															placeholder="{{ 'FREIGHT_AUDIT.PRICE' | translate }}"
														/>
													</div>
													<div class="cost-input">
														<input
															disabled
															type="text"
															class="form-control text-center borderInput"
															placeholder="{{ 'FREIGHT_AUDIT.RATE' | translate }}"
														/>
													</div>
													<div class="cost-input global-cost-category">
														<input
															style="width: 82%;"
															disabled
															type="number"
															class="form-control text-center borderInput"
															title="{{ 'FREIGHT_AUDIT.PRICE_CONVERTED' | translate }}"
															placeholder="conver.."
														/>
													</div>
												</div>
												<div class="cost-categorie  ">
													<div
														class="row entete margin-top-5 d-flex-jc-fs"
														align="left"
														(click)="eventCollap(null, true)"
														[attr.aria-expanded]="false"
														aria-controls="false"
													>
														<div class="global-cost__libelle padding-0" align="left">
															<i *ngIf="detailCollapsed == true" class="fa fa-plus-circle"></i>
															<i *ngIf="detailCollapsed == false" class="fa fa-minus-circle"></i>
															<span class="cost-display__title">
																{{ "PRICING_BOOKING.COST_BY_CATEGORIE" | translate }}
															</span>
														</div>
														<div class="costs-wrapper col-md-12  ">
															<div class="col-md-7 padding-right-0"></div>
															<div class="col-md-4 padding-right-0">
																<span
																	title="{{ ebDemande.xecCurrencyInvoice.code }}"
																	type="number"
																	disabled
																	>{{
																		exEbDemandeTransporteur.price | localNumberFormat: "1.2-2"
																	}}</span
																>
																<span style="margin-left: 4px;">{{
																	ebDemande.xecCurrencyInvoice.code
																}}</span>
															</div>
														</div>
													</div>
												</div>
												<div
													class="contenu"
													*ngFor="let item of exEbDemandeTransporteur.listPlCostItem; let j = index"
													id="collapsedDetail"
													[ngbCollapse]="false"
												>
													<div class="row margin-top-5 d-flex-jc-sb" align="left">
														<div class="padding-left-0 col-md-4 cost-libelle" align="left">
															<label
																*ngIf="item.type != 2; else divInput"
																title="{{ item.libelleCostItem }}"
															>
																{{ item.libelle | truncate:12}}
															</label>
															<ng-template #divInput>
																<div
																	class="input-group"
																	align="left"
																	title="{{ item.libelleCostItem }}"
																>
																	<input
																		type="text"
																		class="padding-left-0 col-md-4 cost-libelle"
																		name="libelle{{ j }}"
																		[(ngModel)]="item.libelle"
																	/>
																</div>
															</ng-template>
														</div>
														<div class="costs-wrapper">
															<div class="cost-input" style="margin-right: 38px; width: 89px;">
																<ng-select
																	class="select-device text-center"
																	[items]="listCurrenciesByPostCost"
																	[multiple]="false"
																	bindLabel="code"
																	bindValue="ecCurrencyNum"
																	name="ecCurrencyNum{{ j }}"
																	[(ngModel)]="item.xEcCurrencyNum"
																	[disabled] ="item.code != null || visualisationAccess"
																	(change)="ChangedDeviseByGrid(item, exEbDemandeTransporteur)"
																>
																</ng-select>
															</div>
															<div class="cost-input">
																<input
																	type="text"
																	name="price{{ j }}"
																	disabled
																	[ngModel]="(item.price/item.euroExchangeRate) | localNumberFormat: '1.2-2'"
																	placeholder="{{ 'FREIGHT_AUDIT.PRICE' | translate }}"
																	class="form-control text-center"
																	style="margin-left: -35px;
																	margin-right: 10px;
																	width: 86px;"
																/>
															</div>
															<div class="cost-input">
																<input
																	type="text"
																	class="form-control text-center"
																	placeholder="{{ 'FREIGHT_AUDIT.RATE' | translate }}"
																	name="euroExchangeRateReal{{ j }}"
																	[ngModel]="item.euroExchangeRate | localNumberFormat: '1.2-2'"
																	style="    margin-left: -18px;
																	width: 86px;"
																	disabled
																/>
															</div>
															<div class="cost-input global-cost-category">
																<input
																	class="form-control text-center"
																	disabled
																	placeholder="conver.."
																	name="priceConverted{{ j }} "
																	[ngModel]="
																		item.price
																			| localNumberFormat: '1.2-2'
																	"
																	style="    margin-left: 0px;
																	width: 109px;"
																/>
															</div>
														</div>
													</div>
													<div
														class="row"
														*ngIf="j == exEbDemandeTransporteur.listPlCostItem.length - 1"
													>
														<div class="entete">
															<button
																style="width: 19%;
																margin-right: 3px;"
																*ngIf="!visualisationAccess"
																(click)="addCoutationSupp(exEbDemandeTransporteur)"
																class="btn btn-sm post-add__currency"
															>
																Add
															</button>
														</div>

														<div class="entete" style="margin-bottom:49px;"></div>
													</div>
												</div>
											</ng-template>
										</div>
									</div>
								</fieldset>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
		</div>

		<div
			*ngIf="isCostInvoiceVisible"
			class="col-lg-6 col-md-5 generic-inputs__style padding-right-0"
		>
			<div class="height-100-percent" novalidate>
				<fieldset class="height-100-percent">
					<div
						class="d-flex-w d-flex-jc-fe col-md-8 height-100-percent sid-border-ri padding-right-0"
						style="margin-left: -34px;"
					>
						<div *ngIf="listCurrency && userConnected.canShowPrice">
							<fieldset class="borderfieldset fieldsetLeft">
								<legend class="title-coler">
									<h4>
										<ng-container *ngIf="isChargerOrControlTower(); else carrierInv">
										<span *ngIf="ebInvoice.applyChargeurIvoicePrice != null">
											{{ "FREIGHT_AUDIT.INVOICE" | translate }} :
											{{ ebInvoice.applyChargeurIvoicePrice | localNumberFormat: "1.2-2" }}
											{{ ebDemande.xecCurrencyInvoice.code }}
										</span>
										<span *ngIf="ebInvoice.applyChargeurIvoicePrice == null">
											{{ "FREIGHT_AUDIT.INVOICE" | translate }} : Total
										</span>
										</ng-container>
										<ng-template #carrierInv>
											<span *ngIf="ebInvoice.applyCarrierIvoicePrice != null">
											{{ "FREIGHT_AUDIT.INVOICE" | translate }} :
												{{ ebInvoice.applyCarrierIvoicePrice | localNumberFormat: "1.2-2" }}
												{{ ebDemande.xecCurrencyInvoice.code }}
										</span>
											<span *ngIf="ebInvoice.applyCarrierIvoicePrice == null">
											{{ "FREIGHT_AUDIT.INVOICE" | translate }} : Total
										</span>
										</ng-template>
									</h4>
								</legend>
							</fieldset>
							<div class="col-md-12 padding-0 margin-top-10 margin-bottom-10">
								<div class="col-md-12">
									<div class="cost margin-top-5">
										<div class="col-lg-3 col-md-4 padding-right-0">
											<input
												disabled
												type="text"
												class="form-control text-center borderInput"
												placeholder="{{ 'FREIGHT_AUDIT.PRICE' | translate }}"
												style="margin-left: -11px;"
											/>
										</div>
										<div class="col-lg-3 col-md-4 padding-right-0">
											<input
												disabled
												type="text"
												class="form-control text-center borderInput"
												placeholder="{{ 'FREIGHT_AUDIT.RATE' | translate }}"
											/>
										</div>

										<div class="col-lg-3 col-md-4 padding-right-0" style="margin-bottom: 2%;">
											<input
												disabled
												style="width: 111%"
												type="text"
												class="form-control text-center borderInput"
												title="{{ 'FREIGHT_AUDIT.PRICE_CONVERTED' | translate }}"
												placeholder="conver.."
											/>
										</div>
										<div *ngIf="!exEbDemandeTransporteur.isFromTransPlan">
											<div
												class="cost-categorie"
												*ngFor="let categorie of listCostCategorieInvoice; let i = index"
											>
												<div
													class="row entete margin-top-5 cost-category-top"

													align="left"
													(click)="eventCollapRealCost(categorie, null)"
													[attr.aria-expanded]="!categorie.isCollapsed"
													aria-controls="collapseExample"
												>
													<div class="col-md-5"></div>
													<div class="col-md-4 padding-right-0">
														<input
															[ngModel]="categorie.priceEuroReal | localNumberFormat: '1.2-2'"
															(ngModelChange)="categorie.priceEuroReal = $event"
															title="{{ ebDemande.xecCurrencyInvoice.code }}"
															placeholder="{{ 'FREIGHT_AUDIT.PRICE' | translate }}"
															type="text"
															class="form-control text-center"
															name="categorie.priceEuroReal{{ i }}"
															disabled
														/>
													</div>
													<div class="col-md-1 padding-right-0 title-font">
														<span>{{ ebDemande.xecCurrencyInvoice.code }}</span>
													</div>
												</div>
												<div
													class="contenu"
													*ngFor="let itemReal of categorie.listEbCost; let j = index"
													id="collapseExample"
													[ngbCollapse]="categorie.isCollapsed"
												>
													<div
														class="row margin-top-5"
														align="left"

													>
														<div class="col-lg-3 col-md-4 padding-right-0">
															<input
																[ngModel]="itemReal.priceReal"
																(ngModelChange)="itemReal.priceReal = $event"
																type="text"
																class="form-control text-center"
																name="categorie{{ i }}.listEbCost.priceReal{{ j }}"
																placeholder="{{ 'FREIGHT_AUDIT.PRICE' | translate }}"
																(blur)="doExchangeRateConversionForCostItems(categorie,listCostCategorieInvoice)"
																[disabled]="visualisationAccess"
															/>
														</div>
														<div class="col-lg-3 col-md-4 padding-right-0">
															<input
																type="text"
																placeholder="{{ 'FREIGHT_AUDIT.RATE' | translate }}"
																name="categorie{{ i }}.listEbCost.euroExchangeRateReal{{ j }}"
																[ngModel]="itemReal.euroExchangeRateReal | localNumberFormat: '1.2-2'"
																(ngModelChange)="itemReal.euroExchangeRateReal = $event"
																(blur)="doExchangeRateConversionForCostItems(categorie,listCostCategorieInvoice)"
																[disabled]="
																	itemReal.xEcCurrencyNum ==
																	ebDemande.xecCurrencyInvoice.ecCurrencyNum || visualisationAccess
																"
																class="form-control text-center"
															/>
														</div>
														<div class="col-lg-3 col-md-4 padding-right-0">
															<input
																[ngModel]="itemReal.priceEuroReal | localNumberFormat: '1.2-2'"
																(ngModelChange)="itemReal.priceEuroReal = $event"
																title="{{ ebDemande.xecCurrencyInvoice.code }}"
																type="text"
																placeholder="conver.."
																name="categorie{{ i }}.listEbCost.priceEuroReal{{ j }}  "
																class="form-control text-center"
																[disabled]="visualisationAccess"
															/>
														</div>
													</div>
													<div
														class="row"
														*ngIf="
															j == categorie.listEbCost.length - 1
														"
													>
														<div class="entete divTop"></div>
													</div>
												</div>
											</div>
										</div>
										<div *ngIf="exEbDemandeTransporteur.isFromTransPlan">
											<div
												class="row entete margin-top-5"
												align="left"
												(click)="eventCollap(null, true)"
												[attr.aria-expanded]="!detailCollapsed"
												aria-controls="collapsedDetail"
												style="margin-bottom: 0%"
											>
												<div class="col-md-9 col-lg-9">
													<span class="float-right" style="margin-left: 10px;"
														>{{ invoicePrice | localNumberFormat: "1.2-2" }}
														{{ ebDemande.xecCurrencyInvoice.code }}</span
													>
												</div>
											</div>
											<div class="contenu" *ngFor="let item of listPlCostIemInvoice; let j = index">
												<div class="row margin-top-5" align="left">
													<div class="col-lg-3 col-md-4 padding-right-0">
														<input
															[ngModel]="item.priceReal"
															(ngModelChange)="item.priceReal=$event"
															type="text"
															class="form-control text-center"
															name="exEbDemandeTransporteur.listPlCostItem.priceReal{{ j }}"
															placeholder="{{ 'FREIGHT_AUDIT.PRICE' | translate }}"
															(blur)="doExchangeRateConversionForTransportPlanCostItems(exEbDemandeTransporteur)"
															[disabled]="visualisationAccess"
														/>
													</div>
													<div class="col-lg-3 col-md-4 padding-right-0">
														<input
															type="text"
															placeholder="{{ 'FREIGHT_AUDIT.RATE' | translate }}"
															name="exEbDemandeTransporteur.listPlCostItem.euroExchangeRateReal{{
																j
															}}"
															[ngModel]="item.euroExchangeRateReal | localNumberFormat: '1.2-2'"
															(ngModelChange)="item.euroExchangeRateReal=$event"
															(blur)="doExchangeRateConversionForTransportPlanCostItems(exEbDemandeTransporteur)"
															[disabled]="item.code == ebDemande.xecCurrencyInvoice.code || visualisationAccess"
															class="form-control text-center"
														/>
													</div>
													<div class="col-lg-3 col-md-4 padding-right-0">
														<input
															[ngModel]="item.priceRealConverted | localNumberFormat: '1.2-2'"
															(ngModelChange)="item.priceRealConverted = $event"
															title="{{ ebDemande.xecCurrencyInvoice.code }}"
															type="text"
															placeholder="conver.."
															name="exEbDemandeTransporteur.listPlCostItem.priceRealConverted{{
																j
															}}  "
															class="form-control text-center"
															(blur)="doExchangeRateConversionForTransportPlanCostItems(exEbDemandeTransporteur)"
															[disabled]="visualisationAccess"
														/>
													</div>
												</div>
												<div
													class="row"
													*ngIf="j == exEbDemandeTransporteur.listPlCostItem.length - 1"
												>
													<div class="entete divTop"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-lg-4">
						<div *ngIf="listCurrency && userConnected.canShowPrice">
							<fieldset class="borderfieldset  fG-left">
								<legend class="title-coler titre-gap">
									<h4
										[ngClass]="
											ebInvoice.gapChargeur > 0
												? 'positive'
												: ebInvoice.gapChargeur < 0
												? 'negative'
												: 'neutre'
										"
									>
										<ng-container *ngIf="isChargerOrControlTower();else carrierGap">
										<span *ngIf="ebInvoice.gapChargeur != null">
											{{ "FREIGHT_AUDIT.GAP" | translate }} :
											{{ ebInvoice.gapChargeur | localNumberFormat: "1.2-2" }}
											{{ ebDemande.xecCurrencyInvoice.code }}
										</span>
										<span *ngIf="ebInvoice.gapChargeur == null">
											{{ "FREIGHT_AUDIT.GAP" | translate }} : Total
										</span>
										</ng-container>
										<ng-template #carrierGap>
											<span *ngIf="ebInvoice.gapCarrier != null">
											{{ "FREIGHT_AUDIT.GAP" | translate }} :
												{{ ebInvoice.gapCarrier | localNumberFormat: "1.2-2" }}
												{{ ebDemande.xecCurrencyInvoice.code }}
										</span>
											<span *ngIf="ebInvoice.gapCarrier == null">
											{{ "FREIGHT_AUDIT.GAP" | translate }} : Total
										</span>
										</ng-template>
									</h4>
								</legend>
							</fieldset>

							<div class="row margin-top-10 margin-bottom-10 rightGab">
								<div class="col-md-12">
									<div class="cost margin-top-5">
										<div class="col-md-4 padding-right-0">
											<input
												type="number"
												placeholder="{{ 'FREIGHT_AUDIT.PRICE' | translate }}"
												class="form-control text-center borderInput"
												disabled
											/>
										</div>

										<div class="col-md-4 padding-right-0" style="margin-bottom: 2%;">
											<input
												title="{{ 'FREIGHT_AUDIT.PRICE_CONVERTED' | translate }}"
												placeholder="conver.."
												style="width: 115%"
												type="number"
												class="form-control text-center borderInput"
												disabled
											/>
										</div>

										<div
											class="cost-categorie"
											*ngFor="let categorie of listCostCategorieInvoice; let i = index"
										>
											<div
												class="row entete margin-top-5"
												*ngIf="
													!exEbDemandeTransporteur.isFromTransPlan
												"
												align="left"
												(click)="eventCollapRealCost(categorie, null)"
												[attr.aria-expanded]="!categorie.isCollapsed"
												aria-controls="collapseExample"
												style="margin-bottom: 15.75px;"
											>
												<div class="col-md-4 padding-right-0" style="margin-left: 27%;">
													<input
														[ngModel]="categorie.priceGab | localNumberFormat: '1.2-2'"
														(ngModelChange)="categorie.priceGab=$event"
														type="text"
														placeholder="{{ 'FREIGHT_AUDIT.PRICE' | translate }}"
														[ngClass]="
															categorie.priceGab > 0
																? 'positive'
																: categorie.priceGab < 0
																? 'negative'
																: 'neutre'
														"
														class="form-control text-center"
														disabled
														name="categorie.priceGab{{ i }}"
													/>
												</div>
												<div class="col-md-1 padding-right-0">
													<span class="pull-right">{{ ebDemande.xecCurrencyInvoice.code }}</span>
												</div>
											</div>
											<div
												class="contenu"
												*ngFor="let itemReal of categorie.listEbCost; let j = index"
												id="collapseExample"
												[ngbCollapse]="categorie.isCollapsed"
											>
												<div
													class="row margin-top-5"
													style="margin-left: 0%;"
													align="left"

												>
													<div
														class="col-md-4 padding-right-0"
														[ngClass]="
															itemReal.priceGab > 0
																? 'positive'
																: itemReal.priceGab < 0
																? 'negative'
																: 'neutre'
														"
													>
														<input
															[ngModel]="itemReal.priceGab | localNumberFormat: '1.2-2'"
															(ngModelChange)="itemReal.priceGab = $event"
															class="form-control text-center borderInputGap"
															disabled
															name="categorie{{ i }}.listEbCost.priceGab{{ j }}"
														/>
													</div>
													<div class="col-md-4 padding-right-0">
														<input
															[ngModel]="itemReal.priceGabConverted | localNumberFormat: '1.2-2'"
															(ngModelChange)="itemReal.priceGabConverted = $event"
															class="form-control text-center borderInputGap"
															name="categorie{{ i }}.listEbCost.priceGab{{ j }} * categorie{{
																i
															}}.listEbCost.euroExchangeRateReal{{ j }}   "
															disabled
														/>
													</div>
												</div>
												<div
													class="row"
													*ngIf="
														j == categorie.listEbCost.length - 1
													"
												>
													<div class="entete" style="margin-bottom: 49px"></div>
												</div>
											</div>
										</div>
									</div>
									<div *ngIf="exEbDemandeTransporteur.isFromTransPlan">
										<div
											class="row entete margin-top-5"
											align="left"
											(click)="eventCollapRealCost(null, null)"
											aria-controls="collapseExample"
											style="margin-bottom: 0%;"
										>
											<div class="col-md-9 col-lg-9 ">
												<span class="float-right devise-glob-fact" style="font-size: 14px;"
													>{{gapPrice | localNumberFormat: "1.2-2"}}
													{{ ebDemande.xecCurrencyInvoice.code }}
												</span>
											</div>
										</div>
										<div class="contenu" *ngFor="let item of listPlCostIemInvoice; let j = index">
											<div class="row margin-top-5" style="margin-left: 0%;" align="left">
												<div
													class="col-md-4 padding-right-0"
													[ngClass]="
														item.priceGab > 0
															? 'positive'
															: item.priceGab < 0
															? 'negative'
															: 'neutre'
													"
												>
													<input
														[ngModel]="item.priceGab | localNumberFormat: '1.2-2'"
														(ngModelChange)="item.priceGab = $event"
														name="exEbDemandeTransporteur.listPlCostItem.priceGab{{ j }}"
														class="form-control text-center borderInputGap"
														disabled
													/>
												</div>
												<div class="col-md-4 padding-right-0">
													<input
														[ngModel]="item.priceGabConverted | localNumberFormat: '1.2-2'"
														(ngModelChange)="item.priceGabConverted = $event"
														class="form-control text-center borderInputGap"
														name="exEbDemandeTransporteur.listPlCostItem.priceGabConverted{{ j }}  "
														disabled
													/>
												</div>
											</div>
											<div
												class="row"
												*ngIf="j == exEbDemandeTransporteur.listPlCostItem.length - 1"
											>
												<div class="entete divTop"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>

	<div class="row block-comment">
		<div *ngIf="isCostInvoiceVisible" class="col-md-12 padding-0 generic-inputs__style bc-content">
			<div class="col-md-6  padding-right-0 text-left">
				<label for="infosForCustomsClearance" class="areaLibelle"
					>{{ "CUSTOM.INFOS_FOR_CUSTOMS_CLEARANCE" | translate }} *</label
				>
				<div>
					<textarea
						class="form-control"
						style="width: 100% ; height: 99px;"
						name="exEbDemandeTransporteur.infosForCustomsClearance"
						[(ngModel)]="exEbDemandeTransporteur.infosForCustomsClearance"
					></textarea>
				</div>
			</div>

			<div class="col-md-6  padding-right-0 text-left">
				<app-comment-panel
					panelOpen="false"
					(sharedVarChange)="getComment($event, exEbDemandeTransporteur)"
					title="{{ 'PRICING_BOOKING.INFORMATIONS_COMPLEMENTAIRES' | translate }}"
					[commentModel]="exEbDemandeTransporteur.comment"
				></app-comment-panel>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="addquot-btn__wrapper" *ngIf="isCostInvoiceVisible">
			<div>
				<button class="btn btn-tertiary btn-sm" (click)="feedbackQuotationEmitter.emit(null)">
					{{ "GENERAL.CANCEL" | translate }}
				</button>
				<button
					*ngIf="exEbDemandeTransporteur"
					class="btn btn-primary btn-sm"
					(click)="addRealQuotation($event)"
					[disabled]="!realquotationForm?.valid || visualisationAccess"
				>
					{{ "FREIGHT_AUDIT.SUBMIT_INVOICE" | translate }}
				</button>
			</div>
		</div>
	</div>
</form>
