@import "../../../../styles/variables";
fieldset {
	border-top: none !important;
}
::ng-deep .d-flex{
		.title-coler{
			 	color: #018dad !important;
	 	padding: 0px !important;
		}
}
.f-left {
	position: static;
	// margin-left: 226px !important;
	left: 55%;
}
.fG-left{
	margin-left: -20px !important;
}
.rightGab {
	margin-right: -99px;
}
.divTop {
	margin-top: 49px;
}
.borderInput {
	border: 2px solid #018dad !important;
	border-radius: 4px !important;
}

.borderInputGap {
	border: 1px solid #cfd9db !important;
	border-radius: 4px !important;
}

.refreshBtn {
	margin-right: 289px;
	margin-bottom: -89px;
	width: 59%;
	margin-left: -24px;
}

.fieldsetLeft {
	margin-left: 6% !important;
}

.saveCostBtn {
	margin-right: 3%;
	width: 16%;
}

.infos-complementaire {
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
}

.cost-display__title {
	font-size: 14px;
	font-weight: 600;
}
.row.entete.margin-top-5 {
	cursor: pointer;
}

.infos-general {
	border-top: 1px solid #f3f3f3;
}
.borderfieldset {
	border-top: 1px solid hsl(0, 0%, 87%) !important;
	}
.entete {
	cursor: pointer;
}
.post-add__currency {
	float: right;
	margin: 5px 0 13px;
}
::ng-deep .select-device .ng-clear-zone {
	display: none;
}
::ng-deep .cotation-app__wrapper {
	.ng-select {
		height: 25px !important;
		padding: 0 0px;
		&.ng-single .ng-control .ng-value-container {
			overflow: visible !important;
			.ng-value .ng-value-wrapper {
				font-size: 13px;
				text-overflow: initial !important;
			}
		}
		.ng-control .ng-value-container {
			padding-left: 3px !important;
		}
		.ng-clear-wrapper {
			width: 10px;
		}
		.ng-arrow-wrapper {
			width: 19px;
		}
	}
}

.positive {
	color: hsl(0, 100%, 50%) !important;
}
.negative {
	color: hsl(192, 100%, 24%) !important;
}
.neutre {
	color: black !important;
}
.addquot-btn__wrapper {
	align-self: flex-end;
}

::ng-deep .cotation-app__wrapper {
	.ng-select-container,
	.ng-value-container {
		min-height: 23px !important;
	}
}
.cost-libelle {
	padding-left: 4px !important;
	width: 40%;
}
.global-cost__libelle {
	width: 61%;
}
.costs-wrapper {
	width: 90%;
	&.costs-header{
		width: 75.66%;
	}
	display: flex;
	justify-content: flex-end;
	&.global-cost__wrapper {
		width: 73%;
	}
	.cost-input {
		width: 18%;
		display: inline-block;
		&:not(:first-child) {
			margin-left: 4px;
		}
		&.global-device {
			width: 24.5%;
		}
		&.global-cost {
			width: 37%;
		}
		&.global-cost-category {
			width: 28%;
		}
		&.total-cost {
			width: 22%;
		}
	}
}
.custom-label {
	font-weight: 600;
	position: relative;
	font-size: $fz-base;
	text-align-last: left;
	display: inline-block;
	&:after {
		right: -8px;
		font-size: $fz-sm;
		font-weight: normal;
		top: 0;
	}
}

.width-68-percent {
	width: 68% !important;
}

.width-80-percent {
	width: 80% !important;
}

.block-comment{
	display: flex;
	justify-content: center;
	.bc-content{
		width: 70%;
	}
}
.block-costs{
	width: 90%;
    margin-left: 5%;
}

.devise-glob-fact{
	margin-left: 35px;
}
.titre-gap{
	width: 170px!important;
	margin-left: 26px!important;
}
@media only screen and (max-width: 1024px) {
	.block-costs {
	  width: 100%!important;
	  margin-left: 0!important;
	}
	.modal-body{
		font-size: 12px!important;
	}
	.devise-glob-fact{
		margin-left: 20px;
	}
	.md-margin-left-65{
		margin-left: 65px;
	}

}
.cost-category-top{
	margin-bottom: 15.75px !important;
}
.title-font{
	margin-left: -27px !important;
	font-size: 14px !important;
}
