<!-- <div class = "marge"> -->
<form #secondFormGroup="ngForm" class="formMarge">
	<div class="form-group row">
		<div class="col-md-4">
			<input
				id="etablissement"
				placeholder="Etablissement"
				class="form-control"
				name="nom"
				[(ngModel)]="newUser.ebEtablissement.nom"
				#nom="ngModel"
				required
			/>
		</div>

		<div class="col-md-4">
			<input
				id="siret"
				placeholder="SIRET"
				class="form-control"
				name="siret"
				[(ngModel)]="newUser.ebEtablissement.siret"
				#siret="ngModel"
				required
			/>
		</div>
	</div>

	<!--  <div class="form-group row">

        <div class="col-md-4">
          <select class="form-control" name="country" [(ngModel)]="country.ecCountryNum" required>
            <option *ngFor="let country of listCountry" [ngValue]="country"> {{country.libelle}} </option>
          </select>
        </div>

        <div class="col-md-4">
          <select class="form-control" name="city" [(ngModel)]="city.ecCityNum" required>
            <option [ngValue]="null">Please choose...</option>
            <option *ngFor="let city of listCities" [ngValue]="city"> {{city.libelle}} </option>
          </select>
        </div>
      </div> -->

	<div class="form-group row">
		<div class="col-md-8">
			<textarea
				name="adresse"
				id=""
				cols="30"
				rows="3"
				class="form-control"
				[(ngModel)]="newUser.ebEtablissement.adresse"
				placeholder="{{ 'INSCRIPTION.POSITION' | translate }}"
			></textarea>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-md-8">
			<input
				type="text"
				placeholder="{{ 'INSCRIPTION.TELEPHONE' | translate }}"
				class="form-control"
				name="telephone"
				[(ngModel)]="newUser.ebEtablissement.telephone"
				#telephone="ngModel"
			/>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-md-8">
			<input
				type="text"
				placeholder="{{ 'INSCRIPTION.EMAIL' | translate }}"
				class="form-control"
				name="email"
				[(ngModel)]="newUser.ebEtablissement.email"
				#email="ngModel"
				required
			/>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-md-8">
			<input
				type="text"
				placeholder="{{ 'ORGANISATION.SITE' | translate }}"
				class="form-control"
				name="siteWeb"
				[(ngModel)]="newUser.ebEtablissement.siteWeb"
				#siteWeb="ngModel"
				required
			/>
		</div>
	</div>
	<div *ngIf="newUser.admin">
		<button mat-raised-button color="primary" (click)="updateEtablissement()">Update</button>
	</div>
</form>
<!-- </div> -->
