<div class="modal" tabindex="-1" role="dialog" style="display:block!important">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div>
				<form role="form" #EventForm="ngForm" novalidate>
					<div class="modal-header">{{ "SETTINGS.CUSTOM_FIELDS" | translate }}</div>

					<div class="modal-body overflow-visible" >
						<div class="row" style="padding-bottom: inherit;">
							<div class="col-xs-3 col-md-4 text-left">
								<label class="areaLibelle required">{{ "GENERAL.CODE" | translate }}:</label>
							</div>
							<div class="col-xs-9 col-md-8 text-left">
								<input
									class="form-control"
									type="text"
									name="field.name"
									[placeholder]="'GENERAL.CODE' | translate"
									[(ngModel)]="field.name"
									[disabled]="!field.isNew"
								/>
							</div>
						</div>
						<div class="row" style="padding-bottom: inherit;">
							<div class="col-xs-3 col-md-4 text-left">
								<label class="areaLibelle required">{{ "GENERAL.LIBELLE" | translate }}:</label>
							</div>
							<div class="col-xs-9 col-md-8 text-left">
								<input
									class="form-control"
									type="text"
									name="field.label"
									[placeholder]="'GENERAL.LIBELLE' | translate"
									[(ngModel)]="field.label"
								/>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-3 col-md-4 text-left">
								<label>{{ "ACL.SETTINGS.DEFAULT_VAL" | translate }}</label>
							</div>
							<div class="col-xs-9 col-md-8 text-left">
								<p-checkbox
									name="field.isdefault"
									[title]="'CUSTOM_FIELDS.CHECK_BOX_DISPLAY_FIELD' | translate"
									[(ngModel)]="field.isdefault"
									binary="true"
								>
								</p-checkbox>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a (click)="modalSave($event)">
							<button
								class="btn btn-primary pull-right btn-sm mr5 modal_yes_btn"
								[disabled]="!canSave"
							>
								{{ "GENERAL.SAVE" | translate }}
							</button>
						</a>
						<a (click)="modalClose()">
							<button class="btn btn-danger pull-right btn-sm mr5 modal_no_btn">
								{{ "GENERAL.CANCEL" | translate }}
							</button>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
