<div class="form-root no-padding">
	<div *ngIf="!isModeModify">
		<div #stats>
			<div class="padding-0">
				<form role="form" novalidate>
					<fieldset>
						<!-- les valeurs des champs seront gérés dans le MTALA-161 -->
						<div style="overflow-x:auto">
							<p-progressSpinner *ngIf="!genericTableReady"></p-progressSpinner>
							<app-generic-table
								#genericTable
								[title]="'PRICING_BOOKING.UNITS' | translate"
								*ngIf="genericTableReady"
								[searchInput]="searchCriteriaTable"
								[dataInfos]="dataInfos"
								[component]="GenericTableScreen.DELIVERY_UNITS"
								[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
								[parentContext]="this"
							>
							</app-generic-table>
						</div>
					</fieldset>
				</form>
				<div *ngIf="!readOnly" class="col-md-12 margin-top-10">
					<button href="#" class="pull-right btn btn-primary btn-sm" (click)="addDeliveryLine()">
						{{ "PRICING_BOOKING.ADD_A_ROW" | translate }}
					</button>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="isModeModify">
		<app-delivery-planification
			#deliveryPlanificationComponent
			[delivery]="delivery"
			[deliveryLines]="deliveryLines"
		></app-delivery-planification>
	</div>
</div>
