/* autoprefixer grid: autoplace */

/* @import '/../assets/css/style.css'; */

/* @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700'); */

@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,700");
/* ::ng-deep body {
    font-family: 'Roboto Condensed', sans-serif;
}
::ng-deep body * {
    font-family: 'Roboto Condensed', sans-serif;
} */

::ng-deep body {
	font-family: "Ubuntu", sans-serif;
}

::ng-deep body * {
	font-family: "Ubuntu", sans-serif;
}

test-git {
	text-align: center;
}

.mt-root {
	display: grid;
	height: 100%;
	width: 100%;

	grid-template-areas:
		"sidebar header"
		"sidebar app";
	grid-template-rows: auto 1fr;
	grid-template-columns: auto 1fr;
	grid-gap: 0;
}

.mt-root > #corp {
	grid-area: app;
	overflow: auto;
	overflow-x: hidden;
}

.mt-root > .app-header {
	grid-area: header;
}

.mt-root {
	.app-sidebar {
		grid-area: sidebar;
		-webkit-transition: all 0.2s linear;
		transition: all 0.2s linear;
		z-index: 1002;
	}

	.mt-wrapper {
		max-height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}
	overflow-x: hidden;
}
