<p-toast [style]="{ marginTop: '60px' }"></p-toast>
<div class="mt-root">
	<div class="app-header" id="app-header" *ngIf="userConnected && appLoaded">
		<app-header [module]="module"></app-header>
	</div>
	<div
		class="app-sidebar"
		*ngIf="userConnected && appLoaded"
		[ngClass]="{ 'sidebar-expanded': Statique.hideSideBar }"
	>
		<app-side-bar [module]="module"></app-side-bar>
	</div>
	<div
		id="corp"
		*ngIf="appLoaded"
		class="opened mt-wrapper"
		[ngClass]="{ 'app-wrapper': !Statique.hideSideBar, 'active-wrapper': activeActionBarre }"
		[class.padding-top-responsive]="isControlTower || isCtConnectedAs"
	>
		<app-corp></app-corp>
	</div>
</div>
<app-modal></app-modal>
