<div
	class="col-md-12 new-formcontrol d-flex-ai-c d-flex-jc-c"
	*ngIf="isControlTowerAndSuperAdmin || isControlTowerAndAdmin"
>
	<label class="areaLibelle padding-right-15">{{ "INSCRIPTION.NOM_SOCIETE" | translate }} : </label>
	<ng-select
		name="SelectedcompanyCT"
		class="SelectedcompanyCT  min-width-210"
		[items]="listEbCompagnie"
		[multiple]="false"
		placeholder="Select company..."
		bindLabel="nom"
		bindValue="ebCompagnieNum"
		[(ngModel)]="selectConfig"
		(change)="selectCompany()"
	>
	</ng-select>
</div>
