<div class="content_wrapper" *ngIf="ebDemande.ebDemandeNum != null">
	<app-shipping-information
		[ebDemande]="ebDemande"
		[userConnected]="userConnected"
	></app-shipping-information>
	<app-goods-information
		[ebDemande]="ebDemande"
		[unitInfos]="unitInfos"
		[userConnected]="userConnected"
	></app-goods-information>
	<app-cotation [ebDemande]="ebDemande" [userConnected]="userConnected"></app-cotation>
	<div class="row mt10">
		<div class="col-md-12">
			<div class="pull-right">
				<button href="#" class="btn btn-primary btn-sm" (click)="addQuotation()">
					{{ "PRICING_BOOKING.SUBMIT_QUOTATION" | translate }}
				</button>
			</div>
		</div>
	</div>
</div>
