<div class="content_wrapper">
	<div
		class="panel panel-visible panel-advanced-search padding-top-15-important"
		[hidden]="isAddFicheDestination || isEditFicheDestination"
	>
		<div class="panel-body body-search">
			<form id="searchform" data-search-aviliable="1" class="form-horizontal" role="form">
				<div class="row d-flex-ai-c">
					<div class="col-md-10 d-flex-ai-c">
						<div class="col-md-4 matrix" *ngIf="!isChargeur">
							<app-company-picker (compagnieNum)="loadCountries($event)"> </app-company-picker>
						</div>

						<label class="float-left">{{"QUALITY_MANAGEMENT.DESTINATION_COUNTRY" | translate}} :</label>

						<div class="col-md-4 matrix">
							<ng-select
								#destSelector
								[items]="filteredListDestinationCountry"
								[multiple]="false"
								bindLabel="codeLibelle"
								(change)="destCountryChanged($event)"
								placeholder="Select country"
								name="selectedDestinationCountry"
								[(ngModel)]="selectedDestinationCountry"
								[typeahead]="typeahead"
							>
								<ng-template ng-option-tmp ng-label-tmp let-item="item" let-index="index">
									{{ item.country.codeLibelle }}
									{{
										isControlTowerAndSuperAdmin || isControlTowerAndAdmin
											? "(" + item.etablissement.nom + ")"
											: ""
									}}
								</ng-template>
							</ng-select>
						</div>
					</div>
					<div class="col-md-2 margin-top-n5">
						<div class="col-md-3 pull-right no-padding">
							<button
								class="fa fa-plus btn btn-xs  pull-right"
								(click)="newDestinationCountry()"
								*ngIf="hasContribution(Modules.COMPLIANCE_MATRIX)"
							></button>
						</div>
						<div class="col-md-3 pull-right no-padding">
							<button
								class="fa fa-download btn btn-xs  pull-right"
								title="Excel"
								(click)="exportCsv()"
							></button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div *ngIf="ebDestinationCountry != null">
		<div class="panel panel-visible panel-table">
			<div class="panel-body body-table" style="margin-bottom: 0 !important">
				<div class="d-flex-jc-sb d-flex-ai-c">
					<div class="col-md-10">
						<div class="row d-flex-jc-fs">
							<div class="col-md-12">
								<ng-template #BlockCountry>
									<b class="colorBleu">{{ selectedDestinationCountry.country.codeLibelle }}</b>
								</ng-template>
								<label class="col-md-3">Destination country : </label>
								<div class="col-md-3 matrix" *ngIf="isAddFicheDestination; else BlockCountry">
									<ng-select
										[items]="filteredListPays"
										[multiple]="false"
										bindLabel="codeLibelle"
										placeholder="Select country"
										name="selectedCountryDestination"
										[(ngModel)]="ebDestinationCountry.country"
										required
									>
									</ng-select>
								</div>
								
								<ng-container *ngIf="(isControlTowerAndSuperAdmin || isControlTowerAndAdmin)">
								<label *ngIf="isAddFicheDestination" class="col-md-3">{{"INSCRIPTION.NOM_ETABLISSEMENT" | translate}} : </label>
								<div class="col-md-3 matrix" *ngIf="isAddFicheDestination; else BlockCountry">
									<ng-select
										[items]="listEtablissement"
										[multiple]="false"
										bindLabel="nom"
										placeholder="Select etablissement"
										name="selectedEtablissement"
										[(ngModel)]="etablissement"
										required
									>
									</ng-select>
								</div>
							</ng-container>
							</div>
							<div class="col-md-12" *ngIf="ebDestinationCountry.ebDestinationCountryNum != null">
								<label>Last modification : </label>
								<b class="colorBleu">{{
									Statique.formatDate(ebDestinationCountry.lastDateModified)
								}}</b>
							</div>
							<div class="col-md-12" *ngIf="ebDestinationCountry.ebDestinationCountryNum != null">
								<div *ngIf="ebDestinationCountry.lastUserModified != null; else BlockCreatedUser">
									<label>Modified by : </label>
									<b class="colorBleu">{{ ebDestinationCountry.lastUserModified.nom }}</b>
								</div>
								<ng-template #BlockCreatedUser>
									<label>Created by : </label>
									<b class="colorBleu">{{ ebDestinationCountry.createdBy.nom }}</b>
								</ng-template>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div *ngIf="!isAddFicheDestination && !isEditFicheDestination">
							<div
								class="col-md-3 pull-right no-padding"
								*ngIf="getAccessRight(Modules.COMPLIANCE_MATRIX) == AccessRights.CONTRIBUTION"
							>
								<button
									class="fa fa-pencil btn btn-xs  pull-right"
									(click)="editDestinationCountry()"
								></button>
							</div>
							<div class="col-md-3 pull-right no-padding">
								<button
									class="fa fa-download btn btn-xs  pull-right"
									title="PDF"
									(click)="downloadFiche()"
									[ngClass]="selectedDestinationCountry != null ? '' : 'disabled'"
								></button>
							</div>
							<div
								class="col-md-3 pull-right no-padding"
								*ngIf="
									userConnected.admin &&
									getAccessRight(Modules.COMPLIANCE_MATRIX) == AccessRights.CONTRIBUTION
								"
							>
								<button
									(click)="deleteDestinationCountry(modalDeleteDestinationCountry)"
									class="fa fa-trash btn btn-xs  pull-right"
								></button>
							</div>
						</div>
						<div *ngIf="isAddFicheDestination || isEditFicheDestination">
							<div class="col-md-3 pull-right no-padding">
								<button
									class="fa fa-times btn btn-xs  pull-right"
									(click)="annulerAddOrEditDestCountry(content)"
								></button>
							</div>
							<div class="col-md-3 pull-right no-padding">
								<button
									class="fa fa-floppy-o btn btn-xs  pull-right"
									[disabled]="
										!(
											(isAddFicheDestination && ebDestinationCountry.country != null) ||
											isEditFicheDestination
										)
									"
									(click)="saveDestCountry($event.target)"
								></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div #panelDescription class="panel panel-visible panel-table">
			<legend class="legend">
				{{ "COMPLIANCE_MATRIX.DESTINATION_COUNTRY_SPECIFICS" | translate }}
			</legend>
			<div #bodyDescription class="panel-body body-table form-group">
				<div class="col-md-12 no-padding rfow-eq-height">
					<div class="col-md-6 column break-word">
						<div class="row bg-white">
							<fieldset>
								<legend>
									<h4>{{ "COMPLIANCE_MATRIX.GENERAL_COMMENTS" | translate }}</h4>
								</legend>
							</fieldset>
							<div class="col-md-12 dest-bloc">
								<div
									class="form-group"
									*ngIf="isAddFicheDestination || isEditFicheDestination; else BlockGeneralcomments"
								>
									<textarea
										class="form-control"
										[(ngModel)]="ebDestinationCountry.generalComments"
										style="resize: none;"
										rows="5"
										id="GeneralComments"
									></textarea>
								</div>
								<ng-template #BlockGeneralcomments>
									<div
										[innerHtml]="Statique.convertNewlines(ebDestinationCountry.generalComments)"
									></div>
								</ng-template>
							</div>
						</div>
					</div>
					<div class="col-md-6 column break-word">
						<div class="row bg-white">
							<fieldset>
								<legend>
									<h4>{{ "COMPLIANCE_MATRIX.PROCESS_LEAD_TIMES" | translate }}</h4>
								</legend>
							</fieldset>
							<div class="col-md-12 dest-bloc">
								<div
									class="form-group"
									*ngIf="
										isAddFicheDestination || isEditFicheDestination;
										else BlockProcessLeadTimes
									"
								>
									<textarea
										class="form-control"
										[(ngModel)]="ebDestinationCountry.processLeadTimes"
										style="resize: none;"
										rows="5"
										id="ProcessLeadTimes"
									></textarea>
								</div>
								<ng-template #BlockProcessLeadTimes>
									<div
										[innerHtml]="Statique.convertNewlines(ebDestinationCountry.processLeadTimes)"
									></div>
								</ng-template>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 no-padding row-eq-height">
					<div class="col-md-6 column break-word">
						<div class="row bg-white">
							<fieldset>
								<legend>
									<h4>
										{{ "COMPLIANCE_MATRIX.PREFERRED_PARTNERS" | translate }} -
										{{ "COMPLIANCE_MATRIX.LOGISTICS_SOLUTIONS" | translate }}
									</h4>
								</legend>
							</fieldset>
							<div class="col-md-12 dest-bloc">
								<div
									class="form-group"
									*ngIf="
										isAddFicheDestination || isEditFicheDestination;
										else BlockPreferredPartners
									"
								>
									<textarea
										class="form-control"
										[(ngModel)]="ebDestinationCountry.preferredPartners"
										style="resize: none;"
										rows="5"
										id="PreferredPartners"
									></textarea>
								</div>
								<ng-template #BlockPreferredPartners>
									<div
										[innerHtml]="Statique.convertNewlines(ebDestinationCountry.preferredPartners)"
									></div>
								</ng-template>
							</div>
						</div>
					</div>
					<div class="col-md-6 column break-word">
						<div class="row bg-white">
							<fieldset>
								<legend>
									<h4>{{ "COMPLIANCE_MATRIX.DOCUMENTATION_REQUIRED" | translate }}</h4>
								</legend>
							</fieldset>
							<div class="col-md-12 dest-bloc">
								<div
									class="form-group"
									*ngIf="
										isAddFicheDestination || isEditFicheDestination;
										else BlockDocumentationRequired
									"
								>
									<textarea
										class="form-control"
										[(ngModel)]="ebDestinationCountry.documentationRequired"
										style="resize: none;"
										rows="5"
										id="DocumentationRequired"
									></textarea>
								</div>
								<ng-template #BlockDocumentationRequired>
									<div
										[innerHtml]="
											Statique.convertNewlines(ebDestinationCountry.documentationRequired)
										"
									></div>
								</ng-template>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div
			#panelDetail
			class="panel panel-visible panel-table"
			*ngIf="!this.isAddFicheDestination && !this.isEditFicheDestination"
		>
			<legend class="legend">
				{{ "COMPLIANCE_MATRIX.DESTINATION_COUNTRY_HS_CODE_ORIGIN_SPECIFICS" | translate }}
			</legend>
			<div #bodyDetail class="panel-body body-search" *ngIf="ebCombinaison == null">
				<form id="searchform" data-search-aviliable="1" class="form-horizontal" role="form">
					<div class="ol-md-12 no-padding">
						<div class="col-md-7">
							<div class="row form-group">
								<div class="col-md-6">
									<div class="row">
										<label class="col-md-4 nopadding" for="hscodeid">HS Code</label>
										<div class="col-md-8">
											<input
												id="hscodeid"
												class="form-control"
												type="text"
												[(ngModel)]="hsCodeField"
												name="hsCodeField"
											/>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="row">
										<label for="madeinid" class="col-md-5 nopadding">"Made in" Origin</label>
										<ng-select
											class="col-md-7 nopadding"
											id="madeinid"
											[items]="listPays"
											[multiple]="false"
											bindLabel="codeLibelle"
											placeholder="Select country"
											name="selectedCountryMadeIn"
											[(ngModel)]="selectedCountryMadeIn"
										>
										</ng-select>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="pull-right">
								<a
									id="btn-search-clear"
									(click)="clearSearch()"
									[ngClass]="
										selectedCountryMadeIn == null && (hsCodeField == null || hsCodeField == '')
											? 'disabled'
											: ''
									"
									class="btn btn-danger btn-sm mr5"
								>
									<span class="fa fa-times"></span> Clear search
								</a>
								<a class="btn btn-primary btn-sm" (click)="searchCombinaison()">
									<span class="fa fa-search"></span> Search
								</a>
							</div>
						</div>
						<div
							class="col-md-2 no-padding"
							*ngIf="getAccessRight(Modules.COMPLIANCE_MATRIX) == AccessRights.CONTRIBUTION"
						>
							<button class="fa fa-plus btn btn-xs  pull-right" (click)="newCombinaison()"></button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div
			class="panel panel-visible panel-table"
			*ngIf="ebCombinaison == null && !this.isAddFicheDestination && !this.isEditFicheDestination"
		>
			<div class="panel-body body-table form-group">
				<table
					*ngIf="listCombinaison != null && listCombinaison.length > 0; else noRecord"
					class="table table-responsive table-hover dataTable no-footer"
				>
					<thead>
						<tr>
							<th>HS Code</th>
							<th>"Made In" Origin</th>
							<th>Taxes</th>
							<th>Duties</th>
							<th>Other taxes</th>
							<th>Import license</th>
							<th>Required documents</th>
							<th></th>
						</tr>
					</thead>
					<tbody class="text-center">
						<tr *ngFor="let comb of listCombinaison; let i = index">
							<td class="break-word-150">{{ comb.hsCode }}</td>
							<td>{{ comb.origin.codeLibelle }}</td>
							<td>{{ comb.taxes }}</td>
							<td>{{ comb.duties }}</td>
							<td class="break-word-150 line-height-25" style="text-align: left;">
								<div [innerHtml]="Statique.convertNewlines(comb.otherTaxes)"></div>
							</td>
							<td>{{ comb.importLicense ? "Yes" : "No" }}</td>
							<td class="break-word-150">
								<div [innerHtml]="Statique.convertNewlines(comb.requiredDocument)"></div>
							</td>
							<td *ngIf="getAccessRight(Modules.COMPLIANCE_MATRIX) == AccessRights.CONTRIBUTION">
								<i class="fa fa-remove fa-fw" (click)="deleteCombinaison(comb, i)"></i>
								<i class="fa fa-pencil fa-fw" (click)="editCombinaison(comb)"></i>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div
			class="panel panel-visible panel-table"
			*ngIf="ebCombinaison != null && !this.isAddFicheDestination && !this.isEditFicheDestination"
		>
			<div class="panel-body body-table">
				<div class="form-combinaison">
					<form #combinaisonForm>
						<div class="col-md-12 no-padding">
							<div class="col-md-4">
								<div class="form-group matrix">
									<label>HS Code</label>
									<input
										type="text"
										[(ngModel)]="ebCombinaison.hsCode"
										name="hsCode"
										class="form-control"
										name="hsCode"
										required
									/>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group matrix">
									<label>"Made In" Origin</label>
									<ng-select
										[items]="listPays"
										[multiple]="false"
										bindLabel="codeLibelle"
										placeholder="Select country"
										[(ngModel)]="ebCombinaison.origin"
										name="made in"
										required
									>
									</ng-select>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Taxes</label>
									<input
										type="number"
										[(ngModel)]="ebCombinaison.taxes"
										name="taxes"
										min="0"
										class="form-control"
										name="taxes"
									/>
								</div>
							</div>
						</div>
						<div class="col-md-12 no-padding">
							<div class="col-md-4">
								<div class="form-group">
									<label>Duties</label>
									<input
										type="text"
										[(ngModel)]="ebCombinaison.duties"
										name="taxes"
										class="form-control"
										name="duties"
									/>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Other duties</label>
									<input
										type="text"
										[(ngModel)]="ebCombinaison.otherTaxes"
										name="otherTaxes"
										class="form-control"
										name="others duties"
									/>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Import license</label>
									<!--
                                        <div class="radio">
                                            <label><input type="radio" [(ngModel)]="ebCombinaison.importLicense" [value]="1" name="importLicense" class="form-control"> Yes</label>
                                        </div>
                                        <div class="radio">
                                            <label><input type="radio" [(ngModel)]="ebCombinaison.importLicense" [value]="0" name="importLicense" class="form-control"> No</label>
                                        </div>
                                         -->
									<select
										name="importLicense"
										class="form-control"
										[(ngModel)]="ebCombinaison.importLicense"
										name="import licence"
									>
										<option [ngValue]="null"></option>
										<option [ngValue]="true">Yes</option>
										<option [ngValue]="false">No</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-12 no-padding">
							<div class="col-md-12">
								<div class="form-group">
									<label>Required documents</label>
									<textarea
										class="form-control"
										[(ngModel)]="ebCombinaison.requiredDocument"
										style="resize: none;"
										rows="5"
										id="GeneralComments"
										name="textArrea"
									></textarea>
								</div>
							</div>
						</div>
						<div class="col-md-12 no-padding">
							<div class="col-md-12">
								<div class="pull-right margin-top-20">
									<button
										class="btn btn-primary btn-sm"
										[disabled]="combinaisonForm.invalid"
										(click)="saveCombinaison()"
									>
										Save
									</button>
									<button class="btn btn-danger btn-sm" (click)="cancelCombinaison()">
										Cancel
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #noRecord>
	<div class="text-center">No records available</div>
</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-body">
		<h4>You'll loose the content you have written. Do you want to continue ?</h4>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" (click)="c(false)">Cancel</button>
		<button type="button" class="btn btn-primary" (click)="c(true)">Confirm</button>
	</div>
</ng-template>

<ng-template #modalDeleteDestinationCountry let-c="close" let-d="dismiss">
	<div class="modal-body">
		<h4>Do you want to continue ?</h4>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" (click)="c(false)">Cancel</button>
		<button type="button" class="btn btn-primary" (click)="c(true)">Confirm</button>
	</div>
</ng-template>
