.float-left {
	float: left;
}

.float-right {
	float: right;
}

.margin-top-n5 {
	margin-top: -5px;
}

fieldset legend {
	padding: 0px !important;
}

.body-search {
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.body-table .column {
	margin: 0px 10px !important;
}
.body-table .column.col-md-6 {
	width: 48.5% !important;
}
.max-height {
	height: 100%;
	overflow: hidden;
}
.bg-white {
	background: white;
}

.panel {
	margin-bottom: 2px !important;
}

.form-group {
	margin-bottom: 0px !important;
}

.disabled {
	opacity: 0.5 !important;
	pointer-events: none !important;
}
.colorBleu {
	padding-left: 2px;
}
.panel-table {
	padding-top: 15px !important;
}
.panel-body {
	padding-left: 20px !important;
	padding-right: 20px !important;
	padding: 15px !important;
}
.dest-bloc > div {
	padding: 10px;
	background: #efefef;
	border-radius: 4px;
}
fieldset {
	position: relative;
	border-top: 0 !important;
}
fieldset > legend:before {
	content: "\A";
	border-style: solid;
	border-width: 0px 6px 6px 0px;
	border-color: transparent #018dad transparent transparent;
	position: absolute;
	transform: rotate(45deg);
	left: -16px;
	top: 14px;
}
