<div class="costs-wrapper">
	<div>
		<div class="col-md-6 entete d-flex-jc-sb d-flex-ai-c">
			<label
				*ngIf="listAdditionalCost != null && listAdditionalCost.length >= 0"
				class="col-md-6 col-lg-6 col-sm-6 title color-gray-dark"
				>{{ "FREIGHT_AUDIT.EXTRA_COST" | translate }} :</label
			>
			<button
				(click)="updateAdditionalCost()"
				class="btn btn-primary btn-sm ng-star-inserted"
				*ngIf="listAdditionalCost != null"

			>
				{{ "PRICING_BOOKING.SAVE" | translate }}
			</button>
			<button (click)="addAutre()" class="btn btn-primary btn-sm ng-star-inserted " c>
				{{ "FREIGHT_AUDIT.EXTRA_COST" | translate }}
			</button>
		</div>
	</div>
</div>
<div>
	<div class="contenu" style="padding-top: 50px;" *ngFor="let newCost of listAdditionalCost; let j = index">
		<div class="row   ">
			<div class="col-md-4" >
				<input
					type="text"
					placeholder="{{ 'PRICING_BOOKING.COST_ITEM' | translate }}"
					class="form-control text-center"
					name="listAdditionalCost.libelle{{ j }}"
					[(ngModel)]="newCost.libelle"
					(change)="checkActivatedButton()"
				/>
			</div>
			<div class="col-md-4" >
				<ng-select
					placeholder="{{ 'PRICING_BOOKING.LOCAL_CURRENCY' | translate }}"
					class="form-control select-device text-center"
					[items]="listExEtablissementCurrency"
					[multiple]="false"
					bindLabel="code"
					bindValue="code"
					name="listExEtablissementCurrency.ebCompagnieCurrencyNum{{ j }}"
					[(ngModel)]="newCost.currencyInvoice"
					(change)="checkActivatedButton()"
				>
				</ng-select>
			</div>
			<div class="col-md-3" >
				<input
					type="number"
					placeholder="{{ 'PRICING_BOOKING.COST' | translate }}"
					class="form-control text-center"
					name="listAdditionalCost.price{{ j }}"
					[(ngModel)]="newCost.price"
					(blur)="calculCost(newCost)"
					[pattern]="Statique.patternDecimalNumber"
					(ngModelChange)="handleChangePrice($event, newCost)"
					(change)="checkActivatedButton()"
				/>
			</div>



			<div class="col-md-3 "  *ngIf="show">
				<input
					type="number"
					placeholder="{{ 'PRICING_BOOKING.CONVERTED_COST' | translate }}"
					class="form-control text-center"
					disabled
					[(ngModel)]="newCost.priceEuro"
					name="listAdditionalCost.priceEuro{{ j }}"
				/>
			</div>
			<div class="col-md-4"  *ngIf="show"  >
				<input
					type="number"
					placeholder="{{ 'PRICING_BOOKING.EXCHANGE_RATE' | translate }}"
					class="form-control text-center"
					[(ngModel)]="newCost.euroExchangeRate"
					name="listAdditionalCost.euroExchangeRate{{ j }}"
					(blur)="calculCost(newCost)"
				/>
			</div>
			<div class="col-md-4 d-flex-ai-c generic-inputs__style" align="left"
			*ngIf="show">
				<input
					type="text"
					placeholder="{{ 'PRICING_BOOKING.INVOICE_CURRENCY' | translate }}"
					class="form-control margin-right-10 text-center"
					[(ngModel)]="ebInvoice.currencyLabel"
					name="currencycible"
					disabled
				/>
				<button class="btn btn-xs" (click)="deleteField(j)">
					<i class="fa fa-trash-o"></i>
				</button>
			</div>
		</div>
	</div>
</div>

