<p-table [value]="listOpeningDay">
	<ng-template pTemplate="header">
		<tr>
			<th style=" width: 100px;">{{ "DOCK.FIELD.NAME" | translate }}</th>
			<th>{{ "DOCK.DOCKS" | translate }}</th>
			<th style=" width: 100px;">{{ "DOCK.FIELD.OPENED" | translate }}</th>
			<th>{{ "DOCK.OPENING_HOURS" | translate }}</th>
			<th *ngIf="editable === true" style="min-width: 40px; width: 40px;"></th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-day>
		<tr>
			<td *ngIf="day.isRowSpan != true" [attr.rowspan]="displayDay(day.day.name)">
				{{ "GENERAL.DAYS." + day.day.name | translate }}
			</td>
			<td>
				<div class="flex">
					<div class="flex-grow-1">
						<ng-select
							name="Entrepot"
							[items]="listDockByDay[day.day.code]"
							[multiple]="true"
							bindLabel="nom"
							placeholder="{{ 'DOCK.HINT_SELECT_DOCKS' | translate }}"
							[(ngModel)]="day.ebdocks"
							[disabled]="!editable"
							(change)="updateListeOpeningDayDock(day)"
						>
							<ng-template ng-label-tmp let-item="item">
								<span>
									{{ item.nom }}
								</span>
							</ng-template>
							<ng-template ng-option-tmp let-item="item">
								<span>
									{{ item.nom }}
								</span>
							</ng-template>
						</ng-select>
					</div>
					<div *ngIf="editable === true" class="od-t-full-center" style="width: 35px;">
						<button class="btn btn-xs" (click)="addQuai(day)">
							<i class="fa fa-plus cursor-pointer"></i>
						</button>
					</div>
				</div>
			</td>
			<td>
				<div class="od-t-full-center">
					<p-inputSwitch
						[(ngModel)]="day.open"
						[disabled]="!editable"
						(onChange)="updateListeOpeningDay()"
					></p-inputSwitch>
				</div>
			</td>
			<td>
				<div class="flex">
					<div class="flex-grow-1">
						<div
							*ngFor="let hour of day.hours; let i = index"
							class="flex"
							style="align-items: center;"
						>
							<span class="margin-right-5" [ngStyle]="{ 'margin-top': i > 0 ? '2px' : '0' }">
								{{ "DOCK.FIELD.HOUR_FROM" | translate }}
							</span>
							<input
								style="flex: 1 1 auto"
								class="form-control input-underline input-xs margin-right-5"
								[pattern]="Statique.patternTime"
								[disabled]="!editable"
								type="text"
								[textMask]="{ mask: Statique.maskTime }"
								(blur)="updateListeOpeningDay()"
								placeholder="hh:mm"
								[(ngModel)]="hour.startHour"
								name="hour.startHour"
							/>
							<span class="margin-right-5">{{ "DOCK.FIELD.HOUR_TO" | translate }}</span>
							<input
								style="flex: 1 1 auto"
								class="form-control input-underline input-xs"
								[pattern]="Statique.patternTime"
								type="text"
								[textMask]="{ mask: Statique.maskTime }"
								(blur)="updateListeOpeningDay()"
								[disabled]="!editable"
								placeholder="hh:mm"
								[(ngModel)]="hour.endHour"
								name="hour.endHour"
							/>
							<a
								*ngIf="editable === true"
								class="margin-left-5"
								style="flex: 0 0 25px; text-align: center"
								href="javascript:void(0)"
								(click)="deleteRangeHour(day, hour)"
							>
								<i class="fa fa-times-circle-o" aria-hidden="true"></i>
							</a>
						</div>
					</div>
					<div *ngIf="editable === true" class="od-t-full-center" style="width: 35px;">
						<button class="btn btn-xs" (click)="addRangeHour(day)">
							<i class="fa fa-plus cursor-pointer"></i>
						</button>
					</div>
				</div>
			</td>
			<td *ngIf="editable === true" class="padding-0-important" style="text-align: center;">
				<button
					*ngIf="day.isRowSpan === true"
					class="btn btn-danger btn-xs margin-0-important"
					(click)="deleteOpeningDay(day)"
				>
					<i class="fa fa-trash cursor-pointer"></i>
				</button>
			</td>
		</tr>
	</ng-template>
</p-table>
