/******** VARIABLES ********/
@import "../../../../../../styles/variables";

.d-inline-block {
	width: initial;
	margin-left: 15px;
	margin-right: 15px;
}
.d-inline-block:first-child {
	margin-left: 0;
}

.mrgtp-30 {
	margin-top: 30px;
}

.ct-body-items {
	margin-top: 18px;
}

.leadtime {
	border-left: 1px solid #eee;
	min-height: 260px;
}

.status-navbar-small > ul li.bg-disabled span.step-number,
.status-navbar-small > ul li.bg-disabled:before,
.status-navbar-small > ul li.bg-disabled:after {
	background-color: #eeeeee;
}
.status-navbar-small > ul li.bg-validated span.step-number,
.status-navbar-small > ul li.bg-validated:before,
.status-navbar-small > ul li.bg-validated:after {
	background-color: #00a7ce;
}

.spanLink {
	border: 1px solid #f3f3f3;
	text-shadow: 0 1px rgba(0, 0, 0, 0.08);
	background-color: #fff;
}
// .spanLink a {
//   color: #00a7ce;
// }
// .spanLink:hover,
// .spanLink:active {
//   background-color: #00a7ce !important;
// }
// .spanLink:hover a,
// .spanLink:active a {
//   color: white !important;
// }

.step-date {
	font-size: $fz-sm;
	font-weight: 500;
}

/************************************************************/

.new-design_details-header {
	box-shadow: 0 4px 14px -7px #000;
	background: #fff;
	z-index: 2;
}
.new-design_details-contents {
	background: #fff;
	.left-blocs {
		.origin-dest__contents {
			align-items: center;
			display: flex;
			justify-content: space-around;
			text-align: center;
			font-size: $fz-sm;
			.mode-transport {
				.fa {
					font-size: 40px;
				}
			}
		}
	}
}

// .details-steps {
//   display: flex;
//     justify-content: space-around;
//     align-items: center;
//     padding: 15px 5px;
//     .step-wrapper {
//       width: 100%;
//       text-align: center;
//       .step-status {
//         height: 22px;
//         position: relative;
//           // padding: 5px;
//           &:after {
//             content: "";
//             width: 22px;
//             height: 22px;
//             position: absolute;
//             right: -12px;
//             top: 0;
//             background: #31bfcb;
//             border-radius: 50%;
//             z-index: 99;
//           }
//       }
//       .step-date {
//         padding-top: 8px;
//       }
//       .bg-validated {
//         .step-status {
//           background: #31bfcb;
//           color: #fff;
//         }
//       }
//       .bg-disabled {
//         .step-status {
//           background: #efefef;
//           box-shadow: inset 0 0 5px -2px #000;
//           &:after {
//             background: #efefef;
//             border: 2px solid #d9d9d9;
//             border-left-color: transparent;
//             border-bottom-color: transparent;
//             transform: rotate(50deg);
//           }
//         }
//       }
//     }
//     .details-time_remaining {
//       margin-left: 15px;
//       width: 420px;
//       .tr-heure {
//         font-size: 50px;
//         font-weight: 600;
//       }
//       .tr-minutes {
//         font-size: 25px;
//       }
//     }
// }
.details-time_remaining-wrapper {
	.details-time_remaining {
		margin-left: 15px;
		width: 420px;
		.tr-jours {
			font-size: $fz-header-jours;
			font-weight: 600;
		}
		.tr-heure {
			font-size: $fz-header-heures;
			font-weight: 600;
		}
		.tr-minutes {
			font-size: $fz-header-minutes;
		}
	}
}

.collapsible-blocs {
	display: flex;
	padding-top: 5px;
	.middle-blocs {
		border-left: 2px solid #efefef;
		border-right: 2px solid #efefef;
		padding: 4px 14px;
		.psl-table {
			width: 100%;
			td {
				height: 40px;
				max-width: 140px;
			}
			td.actions {
				i.fa {
					opacity: 0;
					pointer-events: none;
					transition: all 0.2s ease-in-out;
				}
			}
			tr:hover {
				td.actions {
					i.fa {
						opacity: 1;
						pointer-events: all;
						transition: all 0.2s ease-in-out;
					}
				}
			}
		}
		.psl-line {
			height: 100%;
			border-left: 5px solid #31bfcb;
			position: relative;
			&:after {
				content: "";
				height: 15px;
				width: 15px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				border-radius: 50%;
				left: -10px;
				background: #fff;
				border: 2px solid #31bfcb;
			}
		}
	}
}

::ng-deep .right-blocs {
	.msg_receive:before {
		left: 30px !important;
	}
}
