<div class="new-design_details-header clearfix col-md-12 padding-0">
	<!------------------------------ PRICING ---------------------->
	<div
		class="details-steps col-md-10 col-sm-10 col-xs-9 mrgtp-30"
		*ngIf="module == Modules.PRICING"
	>
		<ng-container *ngIf="!isCancelled && demande.xEcStatut != DemandeStatus.PND">
			<div *ngIf="isActiveINP" class="step-wrapper cursor-pointer">
				<div
					class="step-container bg-selected"
					class="{{
						demande.xEcStatut >= DemandeStatus.IN_PROCESS ? 'bg-selected' : 'bg-disabled'
					}}"
				>
					<div class="step-status">
						{{ "PRICING_BOOKING.IN_PROCESS_WAITING_FOR_QUOTE" | translate }}
					</div>
				</div>
			</div>
			<div *ngIf="isActiveWFREC" class="step-wrapper cursor-pointer">
				<div
					class="step-container bg-selected"
					class="{{
						(!demande.statusQuote &&
							demande.xEcStatut >= DemandeStatus.WAITING_FOR_RECOMMENDATION) ||
						(demande.statusQuote && demande.statusQuote >= CarrierStatus.REQUEST_RECEIVED)
							? 'bg-selected'
							: 'bg-disabled'
					}}"
				>
					<div class="step-status">
						{{ "PRICING_BOOKING.WAITING_FOR_RECOMMENDATION" | translate }}
					</div>
				</div>
			</div>
			<div *ngIf="isActiveWFC" class="step-wrapper cursor-pointer">
				<div
					class="step-container bg-selected"
					class="{{
						(!demande.statusQuote && demande.xEcStatut >= DemandeStatus.RECOMMENDATION) ||
						(demande.statusQuote && demande.statusQuote >= CarrierStatus.QUOTE_SENT)
							? 'bg-selected'
							: 'bg-disabled'
					}}"
				>
					<div class="step-status">
						{{ "PRICING_BOOKING.WAITING_FOR_CONFIRMATION" | translate }}
					</div>
				</div>
			</div>
			<div *ngIf="isActiveCONFIRMED" class="step-wrapper cursor-pointer">
				<div
					class="step-container bg-selected"
					class="{{
						(!demande.statusQuote && demande.xEcStatut >= DemandeStatus.WDCT) ||
						(demande.statusQuote && demande.statusQuote >= CarrierStatus.FINAL_CHOICE)
							? 'bg-selected'
							: 'bg-disabled'
					}}"
				>
					<div class="step-status">
						{{ "PRICING_BOOKING.CONFIRMED" | translate }}
					</div>
				</div>
			</div>
			<div *ngIf="isActiveNAW" class="step-wrapper cursor-pointer">
				<div class="step-container bg-selected" class="bg-selected">
					<div class="step-status">
						{{ "PRICING_BOOKING.NOT_AWARDED" | translate }}
					</div>
				</div>
			</div>
		</ng-container>
		<div *ngIf="demande.xEcStatut == DemandeStatus.PND && !isCancelled" class="step-wrapper cursor-pointer">
			<div class="step-container bg-selected" class="bg-disabled">
				<div class="step-status">
					<ng-container *ngIf="demande.xEcStatut == DemandeStatus.PND">
							{{ "PRICING_BOOKING.PENDING" | translate }}
					</ng-container>
					<ng-template>
						{{ "PRICING_BOOKING.PENDING" | translate }}
					</ng-template>
				</div>
			</div>
		</div>
		<div *ngIf="isCancelled" class="step-wrapper cursor-pointer">
			<div class="step-container bg-selected" class="bg-selected">
				<div class="step-status">
					<ng-container *ngIf="demande.xEbDemandeGroup; else normalCancellation">
						{{ "PRICING_BOOKING.CANCELLED_FOR_CONSOLIDATION" | translate }}
					</ng-container>
					<ng-template  *ngIf="demande.xEbDemandeGroup">
						{{ "PRICING_BOOKING.CANCELLED_FOR_CONSOLIDATION" | translate }}
					</ng-template>
					<ng-template #normalCancellation>
						{{ "PRICING_BOOKING.CANCELLATION_OF_QUOTATION_REQUEST" | translate }}
					</ng-template>
				</div>
			</div>
		</div>
	</div>

	<!--------------------- TRANSPORT MANAGEMENT  ---------------------->
	<div
		class="details-steps col-md-10 col-sm-10 col-xs-9 mrgtp-30"
		*ngIf="module == Modules.TRANSPORT_MANAGEMENT"
	>
		<ng-container *ngIf="!isCancelled">
			<div class="step-wrapper cursor-pointer">
				<div
					class="step-container bg-selected"
					class="{{ demande.xEcStatut >= DemandeStatus.WPU ? 'bg-selected' : 'bg-disabled' }}"
				>
					<div class="step-status">
						{{ "PRICING_BOOKING.WAITING_PICKUP" | translate }}
					</div>
				</div>
			</div>
			<div class="step-wrapper cursor-pointer">
				<div class="{{ demande.xEcStatut >= DemandeStatus.TO ? 'bg-selected' : 'bg-disabled' }}">
					<div class="step-status">
						{{ "PRICING_BOOKING.TRANSPORT_ONGOING" | translate }}
					</div>
				</div>
			</div>
			<div class="step-wrapper cursor-pointer">
				<div
					class="step-container bg-selected"
					class="{{ demande.xEcStatut >= DemandeStatus.DLVRY ? 'bg-selected' : 'bg-disabled' }}"
				>
					<div class="step-status">
						{{ "PRICING_BOOKING.COMPLETED" | translate }}
					</div>
				</div>
			</div>
		</ng-container>

		<div *ngIf="isCancelled" class="step-wrapper cursor-pointer">
			<div class="step-container bg-selected">
				<div class="step-status">
					{{ "PRICING_BOOKING.CANCELLATION_OF_QUOTATION_REQUEST" | translate }}
				</div>
			</div>
		</div>
	</div>

	<div class="details-time_remaining-wrapper col-md-2 col-sm-2 col-xs-3">
		<div class="details-time_remaining">
			<span class="tr-jours"
				><span class="colored">{{ result["nbrOfDays"] }}</span
				>{{ "PRICING_BOOKING.DETAILS_TIME_REMAINING.DAY" | translate }}</span
			>
			<span class="tr-heure"
				><span class="colored">{{ result["nbrOfHours"] }}</span
				>H</span
			>
			<span class="tr-minutes"
				><span class="colored">{{ result["nbrOfMin"] }}</span
				>min</span
			>
		</div>
	</div>
</div>
