<!-- FIX : Chrome autocomplete over ng-select -->
<input id="fixNotify1" class="hidden" hidden aria-hidden="true" />
<input id="fixNotify2" type="password" hidden aria-hidden="true" />
<!-- END FIX -->
<div class="form-root">
	<div class="content">
		<div class="section">
			<p class="title color-gray-dark">{{ "ORDER.ORDER_INFORMATION" | translate }}</p>
			<div class="col-md-12 col-xs-12 d-flex-ai-c generic-inputs__style"></div>
			<div class="col-md-12 col-xs-12 d-flex-ai-c generic-inputs__style">
				<label for="requestor" class="areaLibelle col-md-4 col-sm-12 col-xs-12 required"
					>{{ "PRICING_BOOKING.REQUESTOR" | translate }} :
				</label>
				<div class="col-md-8 col-sm-12 col-xs-12 input-wrapper padding-right-0">
					<ng-select
						name="selectedUserCt"
						class="selectedUserCt"
						[items]="listUserEtab"
						[multiple]="false"
						[typeahead]="typeaheadUserEvent"
						bindValue="ebUserNum"
						bindLabel="nom"
						placeholder="{{ 'PRICING_BOOKING.SELECT_USER' | translate }}"
						[(ngModel)]="selectedUserNum"
						#selectedUserNumRef="ngModel"
						(change)="handleSelectedUserChange($event)"
						[required]="!requiredReadOnly"
						[disabled]="requiredReadOnly"
					>
						<ng-template ng-label-tmp let-item="item">
							<span
								>{{ item.nom + (item.nom && item.prenom ? " " : "") + (item.prenom || "") }}
							</span>
						</ng-template>
						<ng-template ng-option-tmp let-item="item">
							<div class="d-block">
								<i class="fa fa-user color-primary"></i>
								<span class="ct-select_info">{{
									item.nom + (item.nom && item.prenom ? " " : "") + (item.prenom || "")
								}}</span>
							</div>
							<div class="d-block">
								<i class="fa fa-at color-primary"></i
								><span class="ct-select_info"> {{ item.email }}</span>
							</div>
						</ng-template>
					</ng-select>
					<span class="underline"></span>
				</div>
			</div>

			<!-- origin party adresse -->
			<div class="col-md-12 col-xs-12">
				<app-adresse-for-shipping-order
					#AdresseForShippingOrderComponent
					[order]="order"
					[showAddressWrapper]="showAddressWrapperFrom"
					[showAddAddressBtn]="false"
					(showAddressPopup)="showAddressPopupHandle($event)"
					(onValidate)="getOriginParty($event)"
					[listEtablissementPlateform]="listEtablissementPlateform"
					[userConnected]="userConnected"
					[ebParty]="ebPartyOrigin"
					[fromOrTo]="from"
					(suggestionsEtablissement)="suggestionsEtablissementHandler($event)"
					(removeAddressEmit)="removeAddressOriginHandler($event)"
					(addAddressEmit)="addAddress($event)"
					[listMarchandises]="unitInfos?.listMarchandise"
					[readOnly]="readOnly"
				></app-adresse-for-shipping-order>
			</div>
			<!-- Dest party adresse -->
			<div class="col-md-12 col-xs-12">
				<app-adresse-for-shipping-order
					#AdresseForShippingOrderComponent
					[order]="order"
					[showAddressWrapper]="showAddressWrapperTo"
					[showAddAddressBtn]="false"
					(showAddressPopup)="showAddressPopupHandle($event)"
					(onValidate)="getDestParty($event)"
					[listEtablissementPlateform]="listEtablissementPlateform"
					[userConnected]="userConnected"
					[ebParty]="ebPartyDest"
					[fromOrTo]="to"
					(suggestionsEtablissement)="suggestionsEtablissementHandler($event)"
					(removeAddressEmit)="removeAddressDestHandler($event)"
					(addAddressEmit)="addAddress($event)"
					[listMarchandises]="unitInfos?.listMarchandise"
					[readOnly]="readOnly"
				></app-adresse-for-shipping-order>
			</div>
			<div *ngIf="optionNotifyParty" class="col-md-12 col-xs-12">
				<app-adresse-for-shipping-order
					#AdresseForShippingOrderComponent
					[order]="order"
					[showAddressWrapper]="showAddressWrapperNotif"
					[showAddAddressBtn]="false"
					(showAddressPopup)="showAddressPopupHandle($event)"
					(onValidate)="getNotifyParty($event)"
					[listEtablissementPlateform]="listEtablissementPlateform"
					[userConnected]="userConnected"
					[ebParty]="ebPartyNotif"
					[fromOrTo]="notifyParty"
					(suggestionsEtablissement)="suggestionsEtablissementHandler($event)"
					(removeAddressEmit)="removeAddressNotifHandler($event)"
					(addAddressEmit)="addAddress($event)"
					[listMarchandises]="unitInfos?.listMarchandise"
					[isRequired]="false"
					[readOnly]="readOnly"
				></app-adresse-for-shipping-order>
			</div>
			<!-- Vendor party adresse &&  Issuer party adresse cache-->
			<!--
			<div class="col-md-12 col-xs-12">
				<app-adresse-for-shipping-order
					#AdresseForShippingOrderComponent
					[order]="order"
					[showAddressWrapper]="showAddressWrapperVendor"
					[showAddAddressBtn]="false"
					(showAddressPopup)="showAddressPopupHandle($event)"
					(onValidate)="getVendorParty($event)"
					[listEtablissementPlateform]="listEtablissementPlateform"
					[userConnected]="userConnected"
					[ebParty]="ebPartyVendor"
					[fromOrTo]="vendorParty"
					(suggestionsEtablissement)="suggestionsEtablissementHandler($event)"
					(removeAddressEmit)="removeAddressVendorHandler($event)"
					(addAddressEmit)="addAddress($event)"
					[listMarchandises]="unitInfos?.listMarchandise"
					[isRequired]="false"
				></app-adresse-for-shipping-order>
			</div>

			<div class="col-md-12 col-xs-12">
				<app-adresse-for-shipping-order
					#AdresseForShippingOrderComponent
					[order]="order"
					[showAddressWrapper]="showAddressWrapperIssuer"
					[showAddAddressBtn]="false"
					(showAddressPopup)="showAddressPopupHandle($event)"
					(onValidate)="getIssuerParty($event)"
					[listEtablissementPlateform]="listEtablissementPlateform"
					[userConnected]="userConnected"
					[ebParty]="ebPartyIssuer"
					[fromOrTo]="issuerParty"
					(suggestionsEtablissement)="suggestionsEtablissementHandler($event)"
					(removeAddressEmit)="removeAddressIssuerHandler($event)"
					(addAddressEmit)="addAddress($event)"
					[listMarchandises]="unitInfos?.listMarchandise"
					[isRequired]="false"
				></app-adresse-for-shipping-order>
			</div> -->
		</div>
		<div class="section">
			<p for="xEc Incoterm" class="title color-gray-dark">
				{{ "PRICING_BOOKING.REQUESTED_DATES" | translate }}
			</p>
			<div class="col-md-12 col-sm-12 col-xs-12 margin-top-20 d-flex-ai-c generic-inputs__style">
				<label class="areaLibelle col-md-4 col-sm-12 col-xs-12"
					>{{ "ORDER.CUSTOMER_CREATION_DATE" | translate }}
					:
				</label>
				<div class="col-md-8 col-sm-12 col-xs-12 padding-right-0">
					<app-datetime-picker
						[timepicker]="true"
						name="order.customerCreationDate"
						[(ngModel)]="order.customerCreationDate"
						[disabled]="readOnly"
					></app-datetime-picker>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12 margin-top-15 d-flex-ai-c generic-inputs__style">
				<label class="areaLibelle col-md-4 col-sm-12 col-xs-12"
					>{{ "ORDER.TARGET_DATE" | translate }}
					:
				</label>
				<div class="col-md-8 col-sm-12 col-xs-12 padding-right-0">
					<app-datetime-picker
						[timepicker]="true"
						name="order.targetDate"
						[(ngModel)]="order.targetDate"
						[disabled]="readOnly"
					>
					</app-datetime-picker>
				</div>
			</div>
		</div>
	</div>

	<div class="options" [ngClass]="{ 'show-options': !optionsDisplayed && showAddressPopup }">
		<div class="options-content">
			<div *ngIf="isAddress">
				<div *ngIf="!showAddressFields">
					<div class="margin-bottom-5 padding-0">
						<label class="text-center title">{{
							"PRICING_BOOKING.SELECT_ADDRESS" | translate
						}}</label>
						<div class="new-adress__action-buttons">
							<i class="btn-icon fa fa-close cursor-pointer" (click)="hideAddressPopup()"></i>
						</div>
					</div>
					<div
						class="adresse-wrapper"
						*ngIf="
							fromOrToAddressBloc == from ||
							fromOrToAddressBloc == to ||
							fromOrToAddressBloc == notifyParty ||
							fromOrToAddressBloc == vendorParty ||
							fromOrToAddressBloc == issuerParty
						"
					>
						<div
							class="col-md-12 card"
							[class.active]="selectedIndexFrom === i"
							(click)="getPartyAdress(item); activateClassFrom(i)"
							*ngFor="let item of suggestionsEtablissementList; let i = index"
						>
							<div>{{ item.company }}</div>
							<div class="d-block">{{ item.adresse }}</div>
							<div class="d-inline-block">{{ item.city }}</div>
							<br />
							<div class="d-inline-block">{{ item.xEcCountry.libelle }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
