<div *ngIf="model[countField]" (click)="openPopup()" class="cellCountRoot cursor-pointer">
	<a>
		{{ model[countField] }}
	</a>
</div>

<div #popupRoot>
	<div *ngIf="popupVisible" class="modal modal-backdrop">
		<div class="modal-dialog">
			<div class="modal-content">
				<div>
					<div class="modal-header">{{ "CUSTOM.DOCUMENTS" | translate }}</div>
					<div class="modal-body">
						<p-progressSpinner *ngIf="isLoading"></p-progressSpinner>
						<div *ngIf="!isLoading" class="table-wrapper">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>{{ "CUSTOM.ATTACHMENT_DATE" | translate }}</th>
										<th>{{ "CUSTOM.FILENAME" | translate }}</th>
									</tr>
								</thead>

								<tbody>
									<tr *ngFor="let fj of listFichierJoint; let index = index">
										<td>{{ Statique.formatDate(fj.attachmentDate) }}</td>
										<td style="text-align:left">
											<a target="_blank" href="/{{ fj.chemin }}">{{ fj.fileName }}</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="modal-footer">
						<a (click)="closePopup()">
							<button class="btn btn-danger pull-right btn-sm mr5 modal_no_btn">
								{{ "GENERAL.CLOSE" | translate }}
							</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
