<div id="body_content" class="content_wrapper">
	<div class="home-content container-fluid">
		<div class="row">
			<div class="posdiv">
				<img class="width-100-important imgvisibilite" src="../../../assets/images/error.png" />
			</div>

			<div class="textredirection">
				Whoooops, we are sorry, {{ nomVariableGenerique }} with number
				{{ variableGeneriqueNum }}
				is not found, the page cannot be loaded !
			</div>
		</div>

		<!-- sorry {{nomVariableGenerique}} avec le numero {{variableGeneriqueNum}} est introuvable -->
	</div>
</div>
