.textredirection {
	position: absolute;
	top: 41%;
	left: 50%;
	transform: translateX(-50%);
	background: hsl(3, 85%, 56%);
	color: hsl(0, 0%, 100%);
	border-radius: 5px;
	text-align: center;
	padding: 10px;
	width: 360px;
	box-shadow: 0 0 5px -2px #000;
}

.imgvisibilite {
	opacity: 0.6;
}

.posdiv {
	position: relative;
}
