<div class="col-md-12 user-details_wrapper">
	<i class="fa fa-close user-details__close" (click)="closePannelEditProfile(false)"></i>
	<div class="col-lg-4 col-md-5 col-sm-12">
		<!--<div [ngClass]="{'col-md-9': userConnected.role == UserRole.PRESTATAIRE, 'col-md-12': userConnected.role != UserRole.PRESTATAIRE }">-->
		<div class="row">
			<div class="col-md-12">
				<label for="nom">{{ "SETTINGS.NAME" | translate }}:</label>
				<input
					class="form-control"
					type="text"
					[(ngModel)]="profileToBeUpdated.nom"
					name="nom"
					id="nom"
					(change)="checkName(profileToBeUpdated.nom)"
					required
				/>
				<div class="text-center">
					<div *ngIf="nameError" class="alert alert-danger">{{ nameError }}</div>
				</div>
			</div>
			<div class="col-md-12">
				<label for="descriptif">{{ "SETTINGS.DESCRIPTIF" | translate }}:</label>
				<textarea
					class="form-control"
					type="text"
					[(ngModel)]="profileToBeUpdated.descriptif"
					name="descriptif"
					id="descriptif"
					row="20"
				></textarea>
			</div>
		</div>
	</div>
	<div
		class="col-lg-4 col-md-7 col-sm-12"
		style=" border-left: 1px solid silver; border-right: 1px solid silver;"
	>
		<span class="label label-info" style="margin-top : 10px">{{
			"ACCESS_RIGHTS.CONF_TITLE" | translate
		}}</span>
		<a
			*ngIf="profileToBeUpdated.ebUserProfileNum != null"
			class="advancedsettings margin-left-10"
			(click)="openAclSettings()"
		>
			<i class="fa fa-plus-circle"></i><span> {{ "GENERAL.ADVANCED_SETTINGS" | translate }}</span>
		</a>
		<table
			*ngIf="profileToBeUpdated.listAccessRights && profileToBeUpdated.listAccessRights.length > 0"
			class="table-accessright"
			style="margin-top : 20px;"
		>
			<tr>
				<th>Module</th>
				<th>Non visible</th>
				<th>Visualisation</th>
				<th>Contribution</th>
			</tr>
			<tr *ngFor="let module of listModule; let in = index">
				<td>{{ "MODULES." + module.libelle | translate }}</td>
				<td>
					<input
						type="radio"
						[(ngModel)]="profileToBeUpdated.listAccessRights[in].accessRight"
						name="module{{ in }}"
						[value]="2"
					/>
				</td>
				<td>
					<input
						type="radio"
						[(ngModel)]="profileToBeUpdated.listAccessRights[in].accessRight"
						name="module{{ in }}"
						[value]="1"
					/>
				</td>
				<td>
					<input
						type="radio"
						[(ngModel)]="profileToBeUpdated.listAccessRights[in].accessRight"
						name="module{{ in }}"
						[value]="0"
					/>
				</td>
			</tr>
		</table>
	</div>

	<!-- Zone categories + labels -->

	<div class="col-lg-4 col-md-12 col-sm-12">
		<div class="">
			<span class="label label-info margin-bottom-10">{{
				"QUALITY_MANAGEMENT.ROOT_CAUSE_CATEGORIE" | translate
			}}</span>
			<div class="row">
				<div class="col-md-9">
					<select #categorySelector class="form-control">
						<option *ngFor="let cat of listCategories; let i = index" value="{{ i }}">{{
							cat.libelle
						}}</option>
					</select>
				</div>
				<div class="col-md-3">
					<button class="btn btn-primary btn-sm pull-right" (click)="addCategory(categorySelector)">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>

			<p-accordion>
				<p-accordionTab *ngFor="let cat of affectedCategories; let i = index">
					<p-header>
						{{ cat.libelle }}
						<i
							class="cursor-pointer fa fa-close"
							style="float: right;"
							(click)="deleteCategory(i)"
						></i>
					</p-header>
					<p-table>
						<ng-template pTemplate="caption">
							<div class="row">
								<div class="col-md-3">
									<label for="newLabel" style="margin-top: 3px;">New Label : </label>
								</div>
								<div class="col-md-8">
									<div style="text-align: right">
										<select class="form-control" #labelSelector>
											<option *ngFor="let lab of cat.labels; let j = index" value="{{ j }}">{{
												lab?.libelle
											}}</option>
										</select>
									</div>
								</div>
								<div class="col-md-1">
									<button
										class="btn btn-sm btn-primary pull-right"
										(click)="addLabel(labelSelector, i)"
									>
										<i class="fa fa-plus"></i>
									</button>
								</div>
							</div>
						</ng-template>
						<ng-template pTemplate="footer">
							<tr>
								<td>
									<div class="ui-table-scrollable-view">
										<div class="ui-table-scrollable-body">
											<div
												*ngFor="
													let label of affectedCategoriesAndLabels[getAffCatLabelIndex(i)].labels;
													let j = index
												"
												class="label label-default"
											>
												<div
													class="cursor-pointer truncate"
													title="{{ label?.libelle }}"
													style="display: inline;"
												>
													{{ label.libelle }}
												</div>
												<i
													class="fa fa-close cursor-pointer pull-right"
													aria-hidden="true"
													title="Supprimer"
													style="display: inline;"
													(click)="deleteLabel(j, i)"
												></i>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</ng-template>
					</p-table>
				</p-accordionTab>
			</p-accordion>

			<!-- END zone categorie + label -->
		</div>

		<div class="login-buttons col-md-12" style="padding-bottom:20px;">
			<button
				[disabled]="disableButton"
				*ngIf="profileToBeUpdated.ebUserProfileNum != null"
				type="button"
				(click)="editUserProfile($event)"
				class="btn btn-dark-login pull-right"
			>
				Edit Profile
			</button>
			<button
				[disabled]="disableButton"
				*ngIf="profileToBeUpdated.ebUserProfileNum == null"
				type="button"
				(click)="editUserProfile($event)"
				class="btn btn-dark-login pull-right"
			>
				Add Profile
			</button>
		</div>
	</div>
	<div *ngIf="isEditUser" class="col-lg-12 col-md-12 col-sm-12 padding-20">
		<app-generic-table
			#genericTable
			[title]="title"
			[dataInfos]="dataInfos"
			[detailsInfos]="detailsInfos"
			[searchInput]="searchCriteria"
			[component]="datatableComponent.USER_MANAGEMENT"
			[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
		>
		</app-generic-table>
	</div>
</div>
