<div
	class="ref-container"
	id="ref-container"
	*ngIf="demande.ebQrGroupe && demande.ebQrGroupe.listPropositions"
>
	<div class="col-md-8 col-sm-12 col-xs-12  input-wrapper">
		<ng-select
			[items]="listEbDemandeInit"
			[multiple]="false"
			(click)="getListDemandeInit()"
			(change)="getSelectEbDemande()"
			[typeahead]="typeaheadDemandeSelectEvent"
			placeholder="{{ 'PRICING_BOOKING.SELECT_TRANSPORT_REQUEST' | translate }} ..."
			[(ngModel)]="selectedDemande"
			[disabled]="this.acls[this.ACL.Rule.InitialTrs_selection_and_checkbox_Enable]"
		>
			<ng-template ng-label-tmp let-item="item">
				<span
					>{{
						item.refTransport +
							":" +
							(item.refTransport && item.customerReference ? " " : "") +
							(item.customerReference || "")
					}}
				</span>
			</ng-template>
			<ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
				<div>
					{{
						item.refTransport +
							":" +
							(item.refTransport && item.customerReference ? " " : "") +
							(item.customerReference || "")
					}}
				</div>
			</ng-template>
		</ng-select>
	</div>

	<app-card-list
		[showDetails]="true"
		[data]="demande.ebQrGroupe.listPropositions[0].listEbDemande"
		applyClass="card-favoris"
		applyListClass="card-favoris-list"
		[colMdVignetteForDashboard]="'col-md-6 col-sm-6 col-xs-12'"
	>
		<div *forEachItem="let card" class="d-flex-ai-c d-flex-w">
			<app-vignette-view
				[isQrConsolidation]="true"
				[card]="card"
				(cardEvent)="cardChange($event)"
				[(demande)]="demande"
				[listEbDemande]="demande.ebQrGroupe.listPropositions[0]"
				[ngStyle]="{ border: card.isChecked ? '2px solid #028DAD' : '2px solid #F8F9F9 ' }"
				[message]="message"
				[converted]="converted"
			></app-vignette-view>
		</div>
	</app-card-list>
</div>
