<div class="costs-wrapper" *ngIf="acls[ACL.Rule.Demande_Additional_Cost_Enable]">
		<div
			class="col-md-12 entete additional-cost-padding d-flex-jc-sb d-flex-ai-c"
			*ngIf="isNotTransporter	|| !readOnly"
		>
			<label
				class="col-md-9 col-lg-9 col-sm-9 title color-gray-dark"
				>{{ "PRICING_BOOKING.ADDITIONAL_COSTS" | translate }} :</label
			>
			<button *ngIf="!readOnly" (click)="addNewAdditionalCost()" class="btn btn-primary btn-sm ng-star-inserted">
				{{ "PRICING_BOOKING.ADD_ADDITIONAL_COSTS" | translate }}
			</button>
		</div>
</div>
<div class = "d-inline-block" *ngIf="isNotTransporter">
	<div class="contenu" *ngFor="let ebCost of ebDemande.listAdditionalCost; let j = index">
		<div class="row row-no-gutters margin-top-8 margin-right-8 d-flex-jc-sb">
				<div class="col-md-3 d-flex-ai-c generic-inputs__style additional-cost-padding"  >
					<ng-select
						placeholder="{{ 'PRICING_BOOKING.COST_ITEM' | translate }}"
						class="form-control select-device text-left"
						[items]="listEbAdditionalCosts"
						[multiple]="false"
						bindLabel="libelle"
						bindValue="libelle"
						[(ngModel)]="ebCost.libelle"
						(change)="checkActivatedButton(ebCost)"
						title="{{ ebCost.libelle }}"
						[disabled]="readOnly"
					>
					</ng-select>
				</div>
					<div class="col-md-2 d-flex-ai-c generic-inputs__style additional-cost-padding"  >
						<input
							type="number"
							placeholder="{{ 'PRICING_BOOKING.COST' | translate }}"
							class="form-control text-center"
							name="ebDemande.listAdditionalCost.price{{ j }}"
							[(ngModel)]="ebCost.price"
							(blur)="calculCost(ebCost)"
							[pattern]="Statique.patternDecimalNumber"
							(ngModelChange)="handleChangePrice($event, ebCost)"
							[disabled]="readOnly"
							(change)="checkActivatedButton(ebCost)"
						/>
					</div>
					<div class="col-md-2 d-flex-ai-c generic-inputs__style additional-cost-padding"  >
						<ng-select
							placeholder="{{ 'PRICING_BOOKING.LOCAL_CURRENCY' | translate }}"
							class="form-control select-device text-left"
							[items]="listCompanyCurrency"
							[multiple]="false"
							bindLabel="code"
							bindValue="ecCurrencyNum"
							name="listCompanyCurrency.ebCompagnieCurrencyNum{{ j }}"
							[(ngModel)]="ebCost.xEcCurrencyNum"
							(change)="changeCurrency(ebCost)"
							[disabled]="readOnly"
						>
						</ng-select>
					</div>

					<div class="col-md-2 d-flex-ai-c generic-inputs__style additional-cost-padding"  >
						<input
							type="number"
							placeholder="{{ 'PRICING_BOOKING.EXCHANGE_RATE' | translate }}"
							class="form-control text-center"
							[(ngModel)]="ebCost.euroExchangeRate"
							name="ebDemande.listAdditionalCost.euroExchangeRate{{ j }}"
							(blur)="calculCost(ebCost)"
							[disabled]="readOnly"
						/>
					</div>
					<div class="col-md-3 d-flex-ai-c generic-inputs__style additional-cost-padding"  >
						<input
							type="number"
							placeholder="{{ 'PRICING_BOOKING.CONVERTED_COST' | translate }}"
							class="form-control text-center"
							disabled
							[(ngModel)]="ebCost.priceEuro"
							name="ebDemande.listAdditionalCost.priceEuro{{ j }}"
							[disabled]="readOnly"
						/>
					</div>
					<div
						class="col-md-2 d-flex-ai-c generic-inputs__style trash-right-alignment additional-cost-padding"

					>
						<input
							type="text"
							placeholder="{{ 'PRICING_BOOKING.INVOICE_CURRENCY' | translate }}"
							class="form-control margin-right-10 text-left"
							[(ngModel)]="ebDemande.xecCurrencyInvoice.code"
							name="currencycible"
							disabled
						/>
						<button *ngIf="!readOnly" class="btn btn-xs" (click)="deleteField(j)"  >
							<i class="fa fa-trash-o"></i>
						</button>
					</div>
		</div>
	</div>
</div>
