<div class="margin-top-10">
	<app-generic-table
		#genericTable
		[hideTable]="isAddEntrepot"
		[title]="'DOCK.ENTREPOT_NAME' | translate"
		[searchInput]="searchCriteria"
		[dataInfos]="dataInfos"
		[detailsInfos]="null"
		(addFormEmitter)="displayAddEntrepot($event)"
		(editFormEmitter)="diplayEditEntrepot($event)"
		(deleteEventEmitter)="deleteEntrepot($event)"
		[component]="GenericTableScreen.SETTINGS_ENTREPOT"
		(onDataLoaded)="onDataLoaded($event)"
		[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
	>
		<form
			class="generic-default"
			formcontent
			*ngIf="isAddEntrepot"
			role="form"
			#formCtrlAdminEntrepot="ngForm"
		>
			<div class="form-content margin-top-5">
				<div class="col-md-3 col-sm-4 col-xs-12 form-group">
					<label>{{ "DOCK.ENTREPOT_REFERENCE" | translate }}</label>
					<div>
						<input
							type="text"
							ngControl="referenceCtrl"
							[(ngModel)]="entrepot.reference"
							name="reference"
							class="form-control input-underline input-xs"
							(ngModelChange)="changeModel(formCtrlAdminEntrepot)"
							required
						/>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12 form-group">
					<label>{{ "DOCK.ENTREPOT_LIBELLE" | translate }}</label>
					<div>
						<input
							type="text"
							ngControl="libelleCtrl"
							[(ngModel)]="entrepot.libelle"
							name="libelle"
							class="form-control input-underline input-xs"
							(ngModelChange)="changeModel(formCtrlAdminEntrepot)"
						/>
					</div>
				</div>

				<div
					class="col-md-3 col-sm-4 col-xs-12 form-group"
					*ngIf="userConnected != null && userConnected.superAdmin"
				>
					<label>{{ "DOCK.ENTREPOT_NOM_ETABLISSEMENT" | translate }}</label>
					<div>
						<select
							class="form-control input-xs padding-all-3"
							[(ngModel)]="entrepot.etablissement"
							name="etablissement"
							ngControl="etablissementCtrl"
							required
						>
							<option selected *ngIf="entrepot.ebEtablissementNum == null" [ngValue]=""></option>
							<option *ngFor="let _etablissement of listEtablissement" [ngValue]="_etablissement">{{
								_etablissement.nom
							}}</option>
						</select>
					</div>
				</div>
			</div>

			<div class="form-content col-sm-12 text-right margin-bottom-5">
				<div class="col-md-12">
					<button
						*ngIf="entrepot != null && entrepot.ebEntrepotNum == null"
						class="btn btn-sm btn-success btn-shadow"
						[disabled]="!formCtrlAdminEntrepot.valid"
						(click)="addEntrepot()"
					>
						{{ "COMPANY_PROFILE.BTN_AJOUTER" | translate }}
					</button>
					<button
						*ngIf="entrepot != null && entrepot.ebEntrepotNum != null"
						class="btn btn-sm btn-success btn-shadow"
						[disabled]="!formCtrlAdminEntrepot.valid"
						(click)="editEntrepot()"
					>
						{{ "COMPANY_PROFILE.BTN_MODIFIER" | translate }}
					</button>
					<button class="btn btn-sm btn-success btn-shadow" (click)="backToListEntrepot()">
						{{ "GENERAL.CANCEL" | translate }}
					</button>
				</div>
			</div>
		</form>
	</app-generic-table>
</div>
