<div class="padding-8-important demande-overview generic-accordion container-fluid">
	<p-accordion [multiple]="true" [activeIndex]="activeAccordionIndex">
		<p-accordionTab
			header="{{ 'ORDER.ORDER_INFORMATION' | translate }}"
			[selected]="true"
			(click)="selectStep(Step.DELIVERY)"
		>
			<div class="step-container" (click)="selectStep(Step.DELIVERY)">
				<div class="row">
					<div class="origin-dest__contents" *ngIf="delivery">
						<div class="col-xs-4 text-center">
							{{
								(delivery.xEbPartyOrigin?.city | ellipsis: 18) ||
									("REQUEST_OVERVIEW.MSG_NO_ADDRESS_SELECTED" | translate)
							}}
							{{
								delivery.xEbPartyOrigin?.xEcCountry?.libelle
									? " (" + (delivery.xEbPartyOrigin?.xEcCountry?.libelle | ellipsis: 18) + ")"
									: ""
							}}
						</div>
						<div class="col-xs-4  text-center">
							<i class="pi pi-arrow-right from-to"></i>
						</div>
						<div class="col-xs-4 text-center">
							{{
								(delivery.xEbPartyDestination?.city | ellipsis: 18) ||
									("REQUEST_OVERVIEW.MSG_NO_ADDRESS_SELECTED" | translate)
							}}
							{{
								delivery.xEbPartyDestination?.xEcCountry?.libelle
									? " (" + (delivery.xEbPartyDestination?.xEcCountry?.libelle | ellipsis: 18) + ")"
									: ""
							}}
						</div>
					</div>
				</div>
			</div>
		</p-accordionTab>

		<div>
			<p-accordionTab
				header="{{ 'TYPE_REQUEST.REFERENCE_ORDER' | translate }}"
				(click)="selectStep(Step.REFERENCE)"
			>
				<div class="step-container" (click)="selectStep(Step.REFERENCE)">
					<div class="accordion-item">
						<label class="col-md-6 padding-left-0" for="dateOfGoodsAvailability"
							>{{ "ORDER.CUSTOMER_ORDER_REFERENCE" | translate }}:</label
						>
						<div class="line-value padding-0 col-md-6">
							<span>{{ delivery.customerOrderReference }}</span>
						</div>
					</div>
					<div class="accordion-item">
						<label class="col-md-6 padding-left-0" for="dateOfGoodsAvailability"
							>{{ "PRICING_BOOKING.DELIVERY_REFERENCE" | translate }}:</label
						>
						<div class="line-value padding-0 col-md-6">
							<span>{{ delivery.ebDelReference }}</span>
						</div>
					</div>
					<ng-container *ngIf="listCategories && listCategories.length > 0">
						<ng-container *ngFor="let cat of listCategories">
							<div class="accordion-item col-md-12">
								<label *ngIf="cat && cat.labels && cat.labels.length > 0"
									>{{ cat.libelle }}{{ Syntaxe2Point_Fr_En }}
								</label>
								<ng-container *ngIf="cat && cat.labels && cat.labels.length > 0">
									<span>
										{{
											delivery.ebDelLivraisonNum
												? cat.labels[0].libelle
												: cat.selectedLabel?.libelle
										}}
									</span>
								</ng-container>
							</div>
						</ng-container>
					</ng-container>
					<ng-container *ngIf="delivery.listCustomsFields && delivery.listCustomsFields.length > 0">
						<ng-container *ngFor="let customField of delivery.listCustomsFields">
							<div *ngIf="customField.value" class="accordion-item col-md-12">
								<label>{{ customField.label }} : </label>
								<span>
									{{ customField.value }}
								</span>
							</div>
						</ng-container>
					</ng-container>
				</div>
			</p-accordionTab>
		</div>

		<p-accordionTab
			header="{{ 'CHANEL_PB_DETAIL_ORDER.UNITS' | translate }}"
			(click)="selectStep(Step.UNITS)"
		>
			<div class="step-container" (click)="selectStep(Step.UNITS)">
				<div class="accordion-item">
					<label>{{ "PRICING_BOOKING.TOTAL_ORDERED_QTY" | translate }}:</label>
					<span>{{ delivery.xEbDelOrder.totalQuantityOrdered }}</span>
				</div>
				<div class="accordion-item">
					<label for="numberOfUnits">{{ "PRICING_BOOKING.NUMBER_OF_UNITS" | translate }}:</label>
					<span>{{ delivery.xEbDelOrder.orderLines != null ? 
							delivery.xEbDelOrder.orderLines.length : 0 }}</span>
				</div>
			</div>
		</p-accordionTab>
	</p-accordion>
</div>
