.content_wrapper {
	background-color: white;
}

.cell-step {
	min-height: 50px;
	border-bottom: 1px solid #cfcfcf;
	cursor: pointer;
}

.rightMessage {
	padding: 25px 70px;
	span {
		padding: 2rem;
		border: 3px solid #b60b0b42;
		font-size: 2rem;
		display: flex;
	}
}
.margin-top-340{
	margin-top: 340px !important;
}
