/******** VARIABLES ********/
@import "src/styles/variables";
.origin-dest__contents {
	min-height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: $fz-sm;
	div:first-child,
	div:last-child {
		color: $black;
	}
}

.from-to {
	padding-top: 10px;
}

// Bootstrap horizontal scroll fix
.container-fluid {
	padding: 0;

	.row {
		margin-left: 0px;
		margin-right: 0px;
	}
}