<div
	class="padding-8-important demande-overview generic-accordion container-fluid"
	[ngClass]="{
		'generic-accordion-no-arrow': hideStepArrow,
		'generic-accordion-no-collapse': !canCollapse
	}"
>
	<p-accordion
		[multiple]="true"
		(onOpen)="selectStep(stepsAccordionIndexes.get($event.index))"
		[activeIndex]="activeAccordionIndex"
	>
		<p-accordionTab
			header="{{ 'ORDER.ORDER_INFORMATION' | translate }}"
			[selected]="true"
			(click)="selectStep(Step.ORDER)"
		>
			<div (click)="selectStep(Step.ORDER)">
				<div class="row">
					<div class="origin-dest__contents">
						<div class="col-xs-4 text-center">
							{{
								(order.xEbPartyOrigin?.city | ellipsis: 18) ||
									("REQUEST_OVERVIEW.MSG_NO_ADDRESS_SELECTED" | translate)
							}}
							{{
								order.xEbPartyOrigin?.xEcCountry?.libelle
									? " (" + (order.xEbPartyOrigin?.xEcCountry?.libelle | ellipsis: 18) + ")"
									: ""
							}}
						</div>
						<div class="col-xs-4  text-center">
							<i class="pi pi-arrow-right from-to"></i>
						</div>
						<div class="col-xs-4 text-center">
							{{
								(order.xEbPartyDestination?.city | ellipsis: 18) ||
									("REQUEST_OVERVIEW.MSG_NO_ADDRESS_SELECTED" | translate)
							}}
							{{
								order.xEbPartyDestination?.xEcCountry?.libelle
									? " (" + (order.xEbPartyDestination?.xEcCountry?.libelle | ellipsis: 18) + ")"
									: ""
							}}
						</div>
					</div>
				</div>
			</div>
		</p-accordionTab>
		<p-accordionTab
			header="{{ 'TYPE_REQUEST.REFERENCE_ORDER' | translate }}"
			(click)="selectStep(Step.REFERENCE)"
		>
			<div (click)="selectStep(Step.REFERENCE)">				
				<ng-container *ngIf="listCategories && listCategories.length > 0">
					<ng-container *ngFor="let cat of listCategories">
						<div *ngIf="cat && cat.labels && cat.labels.length > 0 && !cat.deleted" class="accordion-item col-md-12">
							<label >{{ cat.libelle }}{{Syntaxe2Point_Fr_En}} </label>
							<span>
								{{ order.ebDelOrderNum ? cat.labels[0].libelle : cat.selectedLabel?.libelle }}
							</span>
						</div>
					</ng-container>
				</ng-container>
				<ng-container *ngIf="customsFields && customsFields.length > 0">
					<ng-container *ngFor="let customField of customsFields">
						<div *ngIf="customField.value" class="accordion-item col-md-12">
							<label *ngIf="customField && customField.label">{{ customField.label }} : </label>
							<span>
								{{ customField.value }}
							</span>
						</div>
					</ng-container>
				</ng-container>
			</div>
		</p-accordionTab>
		<p-accordionTab
			header="{{ 'CHANEL_PB_DETAIL_ORDER.UNITS' | translate }}"
			(click)="selectStep(Step.UNITS)"
		>
			<div (click)="selectStep(Step.UNITS)">
				<div class="accordion-item">
					<label>{{ "PRICING_BOOKING.TOTAL_ORDERED_QTY" | translate }}:</label>
					<span>{{ order.totalQuantityOrdered }}</span>
				</div>
				<div class="accordion-item">
					<label for="numberOfUnits">{{ "PRICING_BOOKING.NUMBER_OF_UNITS" | translate }}:</label>
					<span>{{ order.nbUnit }}</span>
				</div>
			</div>
		</p-accordionTab>

		<div *ngIf="order.ebDelOrderNum && order.orderStatus!='PENDING'">
			<p-accordionTab
				header="{{ 'CHANEL_PB_DETAIL_ORDER.DELIVERIES_DETAIL' | translate }}"
				(click)="selectStep(Step.DELIVERY)"
			>
				<div (click)="selectStep(Step.DELIVERY)"></div>
			</p-accordionTab>
		</div>
	</p-accordion>
</div>
