<div class="col-md-12 padding-top-10 d-flex-ai-c generic-inputs__style">
	<label class="col-md-4 col-sm-12 col-xs-12"
		>{{ "PRICING_BOOKING.Origin_customs_broker_user" | translate }}{{space}}:</label
	>
	<div class="col-md-8 col-sm-12 col-xs-12 padding-0">
		<app-users-autocomplete
			[(inputModel)]="ebDemande.xEbUserOriginCustomsBroker"
			[criteria]="criteriaCustomsBroker"
			[disabled]="disabled"
		></app-users-autocomplete>
	</div>
</div>

<div class="col-md-12 padding-top-10 d-flex-ai-c generic-inputs__style">
	<label class="col-md-4 col-sm-12 col-xs-12"
		>{{ "PRICING_BOOKING.Destination_customs_broker_user" | translate }}{{space}}:</label
	>
	<div class="col-md-8 col-sm-12 col-xs-12 padding-0">
		<app-users-autocomplete
			[(inputModel)]="ebDemande.xEbUserDestCustomsBroker"
			[criteria]="criteriaCustomsBroker"
			[disabled]="disabled"
		></app-users-autocomplete>
	</div>
</div>
