// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------
$primary-color: #018dad;
$primary-color-light: #f5eeee;
$primary-color-dark: #f5eeee;
$bleu-dark: #175f6f;
$secondary-color: #ad0f0a;
$secondary-color-light: #ece3e3;
$secondary-color-dark: #ece3e3;
$white: #fff;
$white-01: #f0f0f0;
$white-02: #f7f7f7;
$white-03: #fdfcfc;
$gray-light: #e4e2e2;
$gray-medium: #b3b2b2;
$gray-dark: #717171;
$gray-button: #efefef;
$bleu-background: #046f87;
$gray-background: #efefef;
$black: #000;
$black-1: #111010;
$black-2: #161515;
$black-box-shadow: rgba(0, 0, 0, 0.2);
$gray-box-shadow: #97aaab;

$red-danger: #b73030;
$red: #851e1e;
$red-light: #c02d2d;
$red-light: #ec4747;
$yellow: #c7c54a;
$green: #1e8846;
$green-light: #32af62;
$blue: #018dad;

// ----------------------------------------------------------------------
// Sizes
// ----------------------------------------------------------------------
$top-bar-height: 60px;
$global-padding: 4px;

// ----------------------------------------------------------------------
// Font sizes
// ----------------------------------------------------------------------
$fz-xs: 10px !important;
$fz-sm: 12px !important;
$fz-base: 14px !important;
$fz-base-md: 15px !important;
$fz-md: 16px !important;
$fz-lg: 18px !important;
$fz-xl: 20px !important;

// custom font sizez
$fz-header-minutes: 20px;
$fz-header-heures: 32px;
$fz-header-jours: 44px;

// hp font-size
$fz-kpi-hp: 36px;
$fz-kpi-icon-hp: 28px;
$fz-ctower-title: 56px;

// custom icone module favoris
$fz-icon-favoris: 30px;
