<ng-select
	[items]="listItems"
	[multiple]="multiple"
	[typeahead]="srcTypeahead ? typeaheadEvent : false"
	[bindValue]="!bindObject ? bindValue || 'value' : null"
	[bindLabel]="bindLabel"
	[placeholder]="placeholder"
	[required]="isRequired"
	[ngModel]="inputModel"
	(ngModelChange)="updateChanges($event)"
	[searchFn]="searchFn"
	[disabled]="disabled"
	[appendTo]="appendTo"
>
	<ng-template *ngIf="groupByAttr" ng-option-tmp let-item="item" let-index="index">
		<div>
			<span class="ac-item">{{ item[bindLabel] }}</span>
			<span class="ac-groupby-item"> ({{ item[fetchGroupByAttribute] }})</span>
		</div>
	</ng-template>

	<ng-template *ngIf="useTemplate" ng-option-tmp let-item="item" let-index="index">
		<ng-container
			*ngTemplateOutlet="itemContentTemplate; context: { $implicit: item, index: index }"
		>
		</ng-container>
	</ng-template>
</ng-select>
