<ng-select
	[items]="values"
	[multiple]="false"
	[bindLabel]="labelForSearch"
	[(ngModel)]="model[field]"
	appendTo="body"
	(change)="outputEvent('selection-change', 'onchange')"
	[ngClass]="{ 'input-show-onhover': showOnHover }"
	class="regime-temporaire-goods-select"
>
	<ng-template ng-label-tmp let-item="item">
		<span>
			{{ item.label }}
		</span>
	</ng-template>
	<ng-template ng-option-tmp let-item="item">
		<div class="d-flex-no-w fz-12">
			<span class="flex-grow-1">{{ item.label }}</span>
			<span>{{ item.leg1RefUnit }}</span>
		</div>
	</ng-template>
</ng-select>
