<div class="col-md-5">
	<div class="row">
		<app-collapsible-panel
			title="{{ 'QUALITY_MANAGEMENT.RELATED_ACTIONS' | translate }}"
			[fullscreen]="true"
		>
			<div class="text-center padding-top-10 padding-bottom-10">
				<button class="btn btn-primary">
					{{ "QUALITY_MANAGEMENT.SAVE_INCIDENT" | translate }}
				</button>
			</div>
		</app-collapsible-panel>
	</div>
</div>
