<form role="form" #quotationForm="ngForm" novalidate>
	<div>
		<div *ngIf="!isForGrouping && userConnected.role != UserRole.PRESTATAIRE && isCreationMode">
			<div class="col-md-12" *ngIf="!isModuleTM">
				<div class="col-md-12">
					<span>
						<input
							type="checkbox"
							name="options"
							[(ngModel)]="recomendation"
							(change)="onRecomendationChange()"
						/>
						Recommandation
					</span>
				</div>
			</div>

			<div class="col-md-12">
				<div>
					<table
						*ngIf="isModulePricing && !isForGrouping"
						#datatable
						datatable
						[dtOptions]="dataTableConfig.dtOptions"
						[dtTrigger]="dataTableConfig.dtTrigger"
						class="table table-responsive table-hover dataTable no-footer table-pricing maragin-auto"
					>
						<thead>
							<tr>
								<th>{{ "INSCRIPTION.NOM" | translate }}</th>
								<th>{{ "INSCRIPTION.EMAIL" | translate }}</th>
								<th>{{ "INSCRIPTION.NOM_ETABLISSEMENT" | translate }}</th>
								<th>{{ "INSCRIPTION.TARIF" | translate }}</th>
								<th>{{ "PRICING_BOOKING.TRANSIT_TIME" | translate }}</th>
								<th>{{ "PRICING_BOOKING.COMMENTS" | translate }}</th>
								<th>{{ "PRICING_BOOKING.CARRIER_CHOICE_TRANSPORT_PLAN" | translate }}</th>
								<th *ngIf="!isConfirmed">
									{{ "PRICING_BOOKING.CARRIER_CHOICE_REQUEST_QUOTATION" | translate }}
								</th>
							</tr>
						</thead>
						<tbody *ngIf="list.length > 0" class="text-center">
							<tr *ngFor="let transporteur of list; let i = index">
								<td>{{ transporteur.nom }}</td>
								<td>{{ transporteur.email }}</td>
								<td>{{ transporteur.ebEtablissement.nom }}</td>
								<!-- <td>{{ transporteur.exchangeRateFound ? transporteur.calculatedPrice : ('TRANSPORTATION_PLAN.ERR_NO_EXCHG_RATE'|translate) }}</td> -->
								<td>
									<p *ngIf="userConnected.canShowPrice">
										{{
											transporteur.isFromTransPlan && !transporteur.exchangeRateFound
												? ("TRANSPORTATION_PLAN.ERR_NO_EXCHG_RATE" | translate)
												: transporteur.calculatedPrice
										}}
									</p>
									<p *ngIf="!userConnected.canShowPrice">-</p>
								</td>
								<td>{{ transporteur.transitTime }}</td>
								<td>
									<p style="white-space: pre-line;">{{ transporteur.coment }}</p>
								</td>
								<td class="confirm-quotation">
									<div *ngIf="transporteur.calculatedPrice != null">
										<button
											[disabled]="
												!transporteur.exchangeRateFound || ebDemande.listTransporteurs.length > 0
											"
											class="btn btn-primary btn-sm"
											(click)="confirmTransporteur(transporteur, $event)"
										>
											Confirm choice
										</button>
										<!-- <button *ngIf="isConfirmed" class="btn btn-primary btn-sm" (click)="changeTransporteur()" >Change choice</button> -->
									</div>
								</td>
								<td *ngIf="!isConfirmed">
									<input
										type="checkbox"
										class="checkboxClass checkbox-transpo"
										(click)="onTransporteurSelected(i)"
									/>
								</td>
							</tr>
						</tbody>
					</table>

					<table
						*ngIf="isModuleTM"
						#datatable
						datatable
						[dtOptions]="dataTableConfig.dtOptions"
						[dtTrigger]="dataTableConfig.dtTrigger"
						class="table table-responsive table-hover dataTable no-footer table-pricing maragin-auto"
					>
						<thead>
							<tr>
								<th>{{ "INSCRIPTION.NOM" | translate }}</th>
								<th>{{ "INSCRIPTION.EMAIL" | translate }}</th>
								<th>{{ "INSCRIPTION.NOM_ETABLISSEMENT" | translate }}</th>
								<th>{{ "INSCRIPTION.NOM_SOCIETE" | translate }}</th>
								<th>{{ "PRICING_BOOKING.STATUS" | translate }}</th>
								<th></th>
							</tr>
						</thead>
						<tbody class="text-center">
							<tr
								*ngFor="
									let demandeTransporteur of ebDemande.exEbDemandeTransporteurs;
									let i = index
								"
							>
								<td>{{ demandeTransporteur?.xTransporteur?.nomPrenom }}</td>
								<td>{{ demandeTransporteur?.xTransporteur?.email }}</td>
								<td>{{ demandeTransporteur?.xEbEtablissement?.nom }}</td>
								<td>{{ demandeTransporteur?.xEbEtablissement?.ebCompagnie?.nom }}</td>
								<td>
									<select
										class="form-control"
										[name]="'dtStatus_' + i"
										[(ngModel)]="demandeTransporteur.status"
										(ngModelChange)="onStatusChange($event, i)"
									>
										<option *ngFor="let item of CarrierStatusCreationTM" [ngValue]="item.key">
											{{ item.value }}
										</option>
									</select>
								</td>
								<td>
									<button
										class="btn btn-primary btn-sm"
										(click)="showDetailsPrice(i)"
										*ngIf="!demandeTransporteur.isQuotationFilled"
										[disabled]="demandeTransporteur.status &lt; CarrierStatus.QUOTE_SENT"
									>
										{{ "TRANSPORT_MANAGEMENT.ADD_QUOTATION" | translate }}
									</button>
									<button
										class="btn btn-primary btn-sm"
										(click)="showDetailsPrice(i)"
										*ngIf="demandeTransporteur.isQuotationFilled"
										[disabled]="demandeTransporteur.status &lt; CarrierStatus.QUOTE_SENT"
									>
										{{ "TRANSPORT_MANAGEMENT.EDIT_QUOTATION" | translate }}
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div
				class="col-md-6  col-md-20percent padding-top-30"
				*ngIf="!(isModuleTM && isCreationMode)"
			>
				<div class="row">
					<div class="col-md-12 mb10">
						<form #formEmail="ngForm" class="">
							<div *ngIf="!isConfirmed" class="">
								<div class="col-md-11" *ngFor="let email of emails; let i = index">
									<div class="row">
										<div class="col-md-10 padding-left-0-important padding-right-0-important">
											<input
												[pattern]="Statique.patterEmail"
												type="text"
												name="email{{ i }}"
												[(ngModel)]="email[i]"
												placeholder="Email"
												class="form-control"
												[required]="ebDemande.listTransporteurs.length == 0"
											/>
										</div>
										<div
											class="col-md-1  col-md-1-2 padding-left-0-important padding-right-0-important"
										>
											<label
												class="btn btn-picky btn-xs btn-picky2 classPickslipMins border-left-0"
												type="button"
												(click)="removeEmail(i)"
											>
												<span class="margin-left-negative-4-important fa-minus fa"></span>
											</label>
										</div>
									</div>
								</div>
								<div
									class="col-md-1 padding-left-0-important padding-right-0-important margin-left-negative-2-important"
								>
									<label
										type="button"
										class="btn btn-picky btn-xs  "
										id="idMorePickSlip"
										(click)="addEmail()"
									>
										<span class="fa-plus fa margin-left-negative-4-important"></span>
									</label>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="row mt10" [hidden]="!isModuleTM">
				<div class="col-md-12 margin-top-3">
					<button
						*ngIf="isChargeur && ebDemande.ebDemandeNum == null"
						#pageValid
						href="#"
						class="btn btn-primary pull-right btn-sm"
						(click)="nextPage()"
						[disabled]="isButtonNextPageDisabled()"
					>
						{{ "PRICING_BOOKING.NEXT_PAGE" | translate }}
					</button>
				</div>
			</div>
		</div>

		<div *ngIf="!isCreationMode || isForGrouping">
			<div class="col-md-12">
				<div class="static-table-wrapper">
					<table
						class="table table-responsive table-hover dataTable no-footer table-pricing maragin-auto"
					>
						<thead
							[ngClass]="{
								'hide-confirmation': !isForGrouping && (isConfirmed || disableConfirmButton())
							}"
						>
							<tr [ngClass]="{ 'hide-recommendation': disableRecomendation() }">
								<th>{{ "INSCRIPTION.NOM" | translate }}</th>
								<th>{{ "INSCRIPTION.EMAIL" | translate }}</th>
								<th>{{ "INSCRIPTION.NOM_ETABLISSEMENT" | translate }}</th>
								<th>{{ "INSCRIPTION.NOM_SOCIETE" | translate }}</th>
								<th>{{ "PRICING_BOOKING.DATE_PICKUP" | translate }}</th>
								<th>{{ "PRICING_BOOKING.TRANSIT_TIME" | translate }}</th>
								<th>{{ "PRICING_BOOKING.DATE_DELIVERY" | translate }}</th>
								<th>{{ "PRICING_BOOKING.PRICE" | translate }}</th>
								<th>{{ "PRICING_BOOKING.COMMENTS" | translate }}</th>
								<th>{{ "PRICING_BOOKING.STATUS" | translate }}</th>
								<!-- <th *ngIf="!disableEditQuotation()"></th>
                                  <th *ngIf="!disableEditQuotation()"></th> -->
								<th style="width: 100px">{{ "CURRENCY.ACTIONS" | translate }}</th>
								<!-- <th *ngIf="!disableRecomendation()"></th>
                                  <th *ngIf="!disableConfirmButton()"></th> -->
								<th class="confirm-recomm" *ngIf="!isForGrouping"></th>
								<th class="confirm-quotation"></th>
							</tr>
						</thead>
						<tbody
							class="text-center"
							*ngIf="
								ebDemande.exEbDemandeTransporteurs && ebDemande.exEbDemandeTransporteurs.length > 0
							"
							[ngClass]="{
								'hide-confirmation': !isForGrouping && (isConfirmed || disableConfirmButton())
							}"
						>
							<tr
								*ngFor="
									let demandeTransporteur of ebDemande.exEbDemandeTransporteurs;
									let i = index
								"
								[ngClass]="{ 'hide-recommendation': disableRecomendation() }"
							>
								<td>
									<span>{{ demandeTransporteur?.xTransporteur?.nomPrenom }}</span>
									<div class="deep-red">
										{{
											demandeTransporteur.status == CarrierStatus.RECOMMENDATION
												? "(MyTowerRecommandation)"
												: ""
										}}
									</div>
								</td>
								<td>{{ demandeTransporteur?.xTransporteur?.email }}</td>
								<td>{{ demandeTransporteur?.xEbEtablissement?.nom }}</td>
								<td>{{ demandeTransporteur?.xEbEtablissement?.ebCompagnie?.nom }}</td>
								<td>{{ Statique.formatDate(demandeTransporteur.pickupTime) }}</td>
								<td>{{ demandeTransporteur.transitTime }}</td>
								<td>{{ Statique.formatDate(demandeTransporteur.deliveryTime) }}</td>
								<!-- <td>{{ demandeTransporteur.exchangeRateFound ? demandeTransporteur.calculatedPrice : ('TRANSPORTATION_PLAN.ERR_NO_EXCHG_RATE'|translate) }}</td> -->
								<td>
									<p *ngIf="userConnected.canShowPrice">
										{{
											demandeTransporteur.isFromTransPlan && !demandeTransporteur.exchangeRateFound
												? ("TRANSPORTATION_PLAN.ERR_NO_EXCHG_RATE" | translate)
												: demandeTransporteur.price
										}}
									</p>
									<p *ngIf="!userConnected.canShowPrice">-</p>
								</td>
								<td>
									<p style="white-space: pre-line;">{{ demandeTransporteur.comment }}</p>
								</td>
								<td>{{ getStatus(demandeTransporteur.status) }}</td>
								<!-- <td *ngIf="!disableEditQuotation()">
                                      <button class="btn btn-primary btn-sm" (click)="addEditQuotation(i)">Edit</button>
                                  </td>
                                  <td *ngIf="!disableEditQuotation()">
                                      <button class="btn btn-primary btn-sm" (click)="deleteQuotation(i)">Delete</button>
                                  </td> -->
								<td>
									<button
										class="btn btn-primary btn-sm"
										(click)="showDetailsPrice(i)"
										[disabled]=" demandeTransporteur.isFromTransPlan || demandeTransporteur.status &lt; CarrierStatus.QUOTE_SENT"
									>
										<i class="fa fa-eye"></i>
									</button>
									<button
										*ngIf="
											userConnected.service != ServiceType.BROKER &&
											((isTransporteur || isControlTower) &&
												demandeTransporteur.status >= CarrierStatus.QUOTE_SENT)
										"
										class="btn btn-primary btn-sm"
										(click)="addEditQuotation(i)"
									>
										<i class="fa fa-pencil"></i>
									</button>
								</td>
								<td *ngIf="!isForGrouping" class="confirm-recomm">
									<div *ngIf="!disableRecomendation(demandeTransporteur)">
										<button
											class="btn btn-primary btn-sm"
											(click)="confirmRecommendation(demandeTransporteur, $event)"
										>
											Recommander
										</button>
									</div>
								</td>
								<td class="confirm-quotation">
									<div
										*ngIf="
											!isForGrouping &&
											(!disableConfirmButton(demandeTransporteur) ||
												(demandeTransporteur.status == 6 &&
													(isChargeur() || userConnected.role == UserRole.CONTROL_TOWER)))
										"
									>
										<button
											class="btn btn-primary btn-sm"
											(click)="confirmChoice(demandeTransporteur, $event)"
										>
											Confirm choice
										</button>
									</div>
									<div *ngIf="isForGrouping">
										<input
											name="demandequote-check{{ i }}"
											type="checkbox"
											class="checkboxClass checkbox-transpo"
											[(ngModel)]="demandeTransporteur.isChecked"
										/>
									</div>
								</td>
							</tr>
						</tbody>

						<tbody
							class="text-center"
							*ngIf="
								!ebDemande.exEbDemandeTransporteurs ||
								ebDemande.exEbDemandeTransporteurs.length == 0
							"
						>
							<tr>
								<td colspan="10">
									{{ "PRICING_BOOKING.MESSAGE_NO_QUOTATION_RECOMMEND" | translate }}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-12 margin-top-15" *ngIf="!isForGrouping">
				<div class="pull-right display-flex">
					<div style="width: 200px;" *ngIf="showUserSelector()">
						<ng-select
							*ngIf="userConnected.role == UserRole.CHARGEUR && hasContributionAccess"
							name="selectedUser"
							[items]="listUserTypeahead"
							[multiple]="false"
							[typeahead]="typeaheadUserEvent"
							bindLabel="nom"
							placeholder="Select user..."
							[(ngModel)]="selectedUser"
						>
							<ng-template ng-label-tmp let-item="item">
								<span class="truncate">{{
									item.nom + (item.nom && item.prenom ? " " : "") + (item.prenom || "")
								}}</span>
							</ng-template>
							<ng-template ng-option-tmp let-item="item">
								<div>
									{{ item.nom + (item.nom && item.prenom ? " " : "") + (item.prenom || "") }}
								</div>
								<small class="truncate"> <b>Email:</b> {{ item.email }}</small>
							</ng-template>
						</ng-select>
						<ng-select
							*ngIf="userConnected.role == UserRole.CONTROL_TOWER"
							name="selectedUser"
							[items]="listUserTypeahead"
							[multiple]="false"
							bindLabel="nom"
							placeholder="Select user..."
							[(ngModel)]="selectedUser"
						>
							<ng-template ng-option-tmp let-item="item">
								<div class="truncate">
									{{ item.nom + (item.nom && item.prenom ? " " : "") + (item.prenom || "") }}
								</div>
								<small class="truncate"> <b>Email:</b> {{ item.email }}</small>
								<small *ngIf="item.isCt" class="truncate deep-red">
									<b>Communauté TDC</b>
								</small>
							</ng-template>
						</ng-select>
					</div>
					<div>
						<button
							class="btn btn-primary btn-sm add-quote"
							(click)="addEditQuotation()"
							[disabled]="!selectedUser && userConnected.role != UserRole.PRESTATAIRE"
							*ngIf="!disableEditQuotation() && this.userConnected.role != UserRole.PRESTATAIRE"
						>
							Add quotation
						</button>
						<button
							class="btn btn-primary btn-sm send-quote"
							(click)="sendQuotationUser($event)"
							[disabled]="!selectedUser"
							*ngIf="showUserSelector() && hasContributionAccess"
						>
							Send quotation
						</button>
					</div>
				</div>
			</div>
			<div
				class="col-md-12 margin-top-15"
				*ngIf="
					this.userConnected.isUnknownUser &&
					ebDemande.exEbDemandeTransporteurs &&
					ebDemande.exEbDemandeTransporteurs.length > 0 &&
					ebDemande.exEbDemandeTransporteurs.status != CarrierStatus.QUOTE_SENT
				"
			>
				<div class="pull-right">
					<button class="btn btn-primary btn-sm" (click)="addEditQuotation()">Add quotation</button>
				</div>
			</div>
		</div>

		<div *ngIf="isForGrouping">
			<div class="col-md-12 margin-top-10-important">
				<div class="col-md-6">
					<div>
						<label class="col-md-6">Consolidated Price</label>
						<div>
							<input
								type="number"
								name="ebDemande.consolidatedPrice"
								[(ngModel)]="ebDemande.consolidatedPrice"
							/>
							<span class="padding-left-10-important">{{
								ebDemande?.xecCurrencyInvoice?.code
							}}</span>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div>
						<label class="col-md-6">Prix total des Qrs</label>
						<div>
							<input disabled value="{{ totalPrice }}" />
							<span class="padding-left-10-important">{{
								ebDemande?.xecCurrencyInvoice?.code
							}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<app-pop-up-details-demande
	*ngIf="showPrice && showPriceExEbDemandeTransporteur"
	(EditEventChange)="showPrice = $event; showPriceExEbDemandeTransporteur = null"
	[ebDemande]="ebDemande"
	[exEbDemandeTransporteur]="showPriceExEbDemandeTransporteur"
	[module]="ebModuleNum"
	[isForEdit]="isCreationMode && isModuleTM"
	[_userConnected]="userConnected"
>
</app-pop-up-details-demande>

<div
	*ngIf="newDemandeQuote != null"
	class="modal modal-backdrop"
	tabindex="-1"
	role="dialog"
	style="display:block!important;z-index: 1039;"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div>
				<div class="modal-header">Add/Edit Quotation</div>
				<div class="modal-body">
					<app-cotation
						(feedbackQuotationEmitter)="feedbackQuotationHandler($event)"
						[hasContributionAccess]="hasContributionAccess"
						(updateCarrierChoiceEmitter)="updateCarrierChoiceEmitter.emit()"
						[exEbDemandeTransporteur]="newDemandeQuote"
						[module]="ebModuleNum"
						[ebDemande]="ebDemande"
						[isForEdit]="true"
						[userConnected]="userConnected"
						[isEditProcess]="isEditProcess"
						(updateChatEmitter)="updateChatEmitter.emit($event)"
					>
					</app-cotation>
				</div>
			</div>
		</div>
	</div>
</div>
