.modal.fade .modal-dialog {
	margin-top: 0px !important;
}

.cost .cost-libelle {
	padding-left: 30px !important;
}

.modal-dialog {
	width: 80%;
}
.modal-body {
	width: 100%;
}
.hide-recommendation .confirm-recomm,
.hide-confirmation .confirm-quotation {
	display: none;
}
