<div class="content_wrapper app-padding">
	<div #panel3 class="panel panel-visible panel-table styled-tabs">
		<ngb-tabset
			class="first-tab"
			#tabset
			[justify]="currentJustify"
			md-selected="2"
			md-stretch-tabs="always"
			(tabChange)="onTabChange($event)"
			[activeId]="index"
		>
			<ngb-tab title="{{ 'QUALITY_MANAGEMENT.INCIDENT' | translate }}" id="incidents">
				<ng-template ngbTabContent>
					<app-quality-management-search
						[module]="module"
						[listFields]="listFields"
						[listCategorie]="listCategorie"
						(onSearch)="search($event)"
					></app-quality-management-search>
					<app-quality-management-listing
						[module]="module"
						(listFieldsEmitter)="paramFieldsHandler($event)"
						(listCategorieEmitter)="CategorieHandler($event)"
						[searchInput]="searchInput"
						*ngIf="userConnected != null && userConnected.ebUserNum != null"
						[eventType]="TypeOfEvent.INCIDENT"
					></app-quality-management-listing>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="{{ 'TRACK_TRACE.UNCONFORMITY' | translate }}" id="deviations">
				<ng-template ngbTabContent>
					<app-quality-management-search
						[module]="module"
						[listFields]="listFields"
						[listCategorie]="listCategorie"
						(onSearch)="search($event)"
					></app-quality-management-search>
					<app-quality-management-listing
						[module]="module"
						(listFieldsEmitter)="paramFieldsHandler($event)"
						(listCategorieEmitter)="CategorieHandler($event)"
						[searchInput]="searchInput"
						[eventType]="TypeOfEvent.UNCONFORMITY"
						*ngIf="userConnected != null && userConnected.ebUserNum != null"
					></app-quality-management-listing>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="{{ 'QUALITY_MANAGEMENT.ROOT_CAUSES_ANALYSIS' | translate }}" id="rootCauses">
				<ng-template ngbTabContent>
					<root-Cause
						[module]="module"
						(listFieldsEmitter)="paramFieldsHandler($event)"
						(listCategorieEmitter)="CategorieHandler($event)"
						*ngIf="userConnected != null && userConnected.ebUserNum != null"
					>
					</root-Cause>
				</ng-template>
			</ngb-tab>
			<!-- //TODO MEP-ce bout de code devra être réactivé après MEP
			<ngb-tab title="Corrective & Preventive Actions" id="corrective">
				<ng-template ngbTabContent>
					<corrective-action></corrective-action>
				</ng-template>
			</ngb-tab>
			-->
			<ngb-tab [disabled]="true">
				<ng-template ngbTabTitle>
					<span class="panel-controls" class="hidden">
						<a class="panel-control-collapse"></a>
						<a class="panel-control-fullscreen" href="#"></a>
					</span>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</div>
</div>
