/******** VARIABLES ********/
@import "../../../../../styles/variables";

::ng-deep .doc-status {
	&.red {
		color: $red-danger;
	}
	&.green {
		color: $primary-color;
		font-weight: 800;
	}
	&.black {
		color: $black;
	}
}
.edit-btn {
	padding: 0px 3px;
}
/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
/* Tooltip text */
::ng-deep .tooltipdatatable .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
}

::ng-deep .tooltipdatatable:hover .tooltiptext {
	visibility: visible;
}
