<div *ngIf="globalMsg">{{ globalMsg }}</div>
<app-generic-table-ccp
	[hideTable]="showQrGroupe"
	#genericTable
	*ngIf="statiquesLoaded && dataInfos && dataInfos.cols"
	[title]="title"
	[searchInput]="globalSearchCriteria"
	[dataInfos]="dataInfos"
	[detailsInfos]="null"
	[module]="module"
	[component]="datatableComponent"
	(listCategorieEmitter)="onListCategorieLoaded($event)"
	(listFieldsEmitter)="onListFieldLoaded($event)"
	[dataUpload]="dataUpload"
	(onUploadProgressHandler)="onUploadProgressHandler($event)"
	(onUploadCompleteHandler)="onUploadCompleteHandler($event)"
	[isHorizontalScrollAlwaysVisible]="true"
	[scrollHeight]="264"
	[parentContext]="this"
	[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
>
	<div class="generic-default">
		<div
			formcontent
			*ngIf="dataUploadResult || dataUploadFeedback || dataUploadProgress"
			class="modal modal-backdrop"
			tabindex="-1"
			role="dialog"
			style="display:block!important"
		>
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div>
						<div class="modal-header">Information</div>

						<div class="modal-body" *ngIf="dataUploadFeedback || dataUploadProgress">
							<!-- UPLOAD PROGRESS -->
							<div *ngIf="dataUploadProgress">
								<span style="text-align: center;">
									<i
										class="fa {{
											dataUploadProgress != 100 ? 'fa-spinner fa-spin fa-15x' : 'fa-check'
										}}"
									></i>
									<span> Uploading file... {{ dataUploadProgress }}%</span>
								</span>
								<ngb-progressbar
									type="warning"
									[value]="dataUploadProgress"
									[animated]="true"
									[striped]="true"
									>{{ dataUploadProgress }}%</ngb-progressbar
								>
							</div>
							<!-- IMPORT TASK PROGRESS -->
							<div *ngIf="dataUploadFeedback">
								<span class="center text-center">
									<i
										class="fa {{
											dataUploadFeedback.finished != dataUploadFeedback.total
												? 'fa-spinner fa-spin fa-15x'
												: 'fa-check'
										}}"
									></i>
									<span
										>Task progress:
										{{ dataUploadFeedback.finished + " / " + dataUploadFeedback.total }}</span
									>
								</span>
								<ngb-progressbar
									type="info"
									[value]="dataUploadFeedback.percent"
									[animated]="true"
									[striped]="true"
									>{{ dataUploadFeedback.percent }}%</ngb-progressbar
								>
							</div>

							<!-- RESULT -->
							<div *ngIf="dataUploadResult">
								<div class="template-text">
									<div class="template-text-container">Importation en masse terminée</div>
								</div>
								<div
									*ngIf="
										dataUploadResult &&
											dataUploadResult !== true &&
											dataUploadResult !== false &&
											dataUploadResult.length &&
											dataUploadResult.length > 0;
										else textSuccess
									"
								>
									<div class="template-text-error">
										Des erreurs dans le fichier importé ont été trouvées
									</div>
									<ul class="template-text-ul">
										<li *ngFor="let it of dataUploadResult; let index = index">
											<span class="template-text-li-left">Identifiant: {{ it.ident }}</span>
											<span class="template-text-li-right"> => {{ it.error }}</span>
										</li>
									</ul>
								</div>
								<ng-template #textSuccess>
									<div class="template-text-success">Aucune erreur trouvée</div>
								</ng-template>
							</div>
						</div>

						<div class="modal-footer">
							<a
								(click)="
									dataUploadResult = null; dataUploadFeedback = null; dataUploadProgress = null
								"
								*ngIf="dataUploadResult"
							>
								<button class="btn btn-danger pull-right btn-sm mr5 modal_no_btn">OK</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="generic-card-list dashboard-card-list">
		<app-card-list
			[cardActions]="genericTable.cardActions"
			[showCheckbox]="dataInfos.showCheckbox"
			[showDetails]="dataInfos.showDetails"
			[cardHeight]="dataInfos.cardHeight"
			(showDetailsEmitter)="genericTable.goToDetails($event[dataInfos.dataKey])"
			[data]="genericTable.datas"
			[colMdVignetteForDashboard]="'col-md-3 col-sm-4 col-xs-12'"
		>
			<div *forEachItem="let card" class="d-flex-ai-c d-flex-w">
				<app-vignette-view [module]="module" [card]="card"></app-vignette-view>
			</div>
		</app-card-list>
	</div>
</app-generic-table-ccp>
