<div *ngIf="data" class="col-md-12 panel-body body-table">
	<fieldset class="fieldset" style="text-align: center;">
		<legend class="legend">
			<div class="row">
				<div class="col-md-8">
					Transport activity
				</div>
				<div class="col-md-4" style="text-align: right;">
					<i class="fa fa-paperclip"></i>
					<i
						class="fa fa-question-circle"
						pTooltip="Nombre d'expéditions par type de transport."
					></i>
				</div>
			</div>
		</legend>
		<div class="row">
			<div class="col-md-6">
				<span title="{{ data[0].transportType }} : {{ data[0].nbExpedition | numberFormat }}"
					><h4><i class="fa fa-plane"></i> {{ data[0].nbExpedition | numberSuffix }}</h4></span
				>
			</div>
			<div class="col-md-6">
				<span title="{{ data[1].transportType }} : {{ data[1].nbExpedition | numberFormat }}"
					><h4><i class="fa fa-truck"></i> {{ data[1].nbExpedition | numberSuffix }}</h4></span
				>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<span title="{{ data[3].transportType }} : {{ data[3].nbExpedition | numberFormat }}"
					><h4><i class="fa fa-ship"></i> {{ data[3].nbExpedition | numberSuffix }}</h4></span
				>
			</div>
			<div class="col-md-6">
				<span title="{{ data[2].transportType }} : {{ data[2].nbExpedition | numberFormat }}"
					><h4><i class="fa fa-money"></i>&nbsp;{{ data[2].nbExpedition | numberSuffix }}</h4></span
				>
			</div>
		</div>
	</fieldset>
</div>
