<div class="content_wrapper app-padding">
	<form role="form" #declarationForm="ngForm" novalidate>
		<div class="col-md-12 padding-0">
			<app-header-declaration
				[declaration]="declaration"
				[userConnected]="userConnected"
				[module]="Modules.CUSTOM"
				*ngIf="userConnected != null && userConnected.ebUserNum != null"
			></app-header-declaration>
		</div>
		<div class="col-md-12 padding-0">
			<div class="row">
				<div class="col-md-12">
					<app-request-information
						[declaration]="declaration"
						[userConnected]="userConnected"
						[module]="Modules.CUSTOM"
						*ngIf="userConnected != null && userConnected.ebUserNum != null"
					></app-request-information>
				</div>
				<div class="col-md-12">
					<app-units-information
						[declaration]="declaration"
						[userConnected]="userConnected"
						[module]="Modules.CUSTOM"
						*ngIf="userConnected != null && userConnected.ebUserNum != null"
					></app-units-information>
				</div>
				<div class="col-md-12">
					<app-documents-declaration
						[declaration]="declaration"
						[userConnected]="userConnected"
						[module]="Modules.CUSTOM"
						*ngIf="userConnected != null && userConnected.ebUserNum != null"
					></app-documents-declaration>
				</div>
				<div class="col-md-12">
					<app-additional-information
						[declaration]="declaration"
						[userConnected]="userConnected"
						[module]="Modules.CUSTOM"
						*ngIf="userConnected != null && userConnected.ebUserNum != null"
					></app-additional-information>
				</div>
				<div
					class="col-md-12"
					*ngIf="declaration && declaration.ebCustomDeclarationNum && declaration.dateCancellation"
				>
					<app-cancellation-information
						[declaration]="declaration"
						[userConnected]="userConnected"
						[module]="Modules.CUSTOM"
						*ngIf="userConnected != null && userConnected.ebUserNum != null"
					></app-cancellation-information>
				</div>
			</div>
			<div
				class="mt10 row margin-bottom-15"
				*ngIf="userConnected != null && userConnected.ebUserNum != null"
			>
				<div class="col-md-12 text-right">
					<button
						href="#"
						class="btn btn-primary btn-sm"
						(click)="addDeclaration($event)"
						[disabled]="!isPageValid()"
					>
						{{ "PRICING_BOOKING.VALIDATE" | translate }}
					</button>
				</div>
			</div>
		</div>
	</form>
</div>
