<div class="modal" tabindex="1" role="dialog" style="display:block!important">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div>
				<div class="modal-header" style="height: 44px">
					Historique upload<ng-content></ng-content>
				</div>
				<div class="modal-body">
					<div class="table-wrapper">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th></th>
									<th>attachement Date</th>
									<th>FileName</th>
								</tr>
							</thead>

							<tbody>
								<tr *ngFor="let fj of listebInvoiceFichierJoint; let index = index">
									<td>
										<a
											*ngIf="!isTransporteur && isSameCompanyCheck(fj)"
											class="fa fa-trash"
											style="cursor: pointer"
											(click)="delete(fj.ebDemandeFichierJointNum, fj, index)"
										></a>
									</td>

									<td>{{ Statique.formatDate(fj.attachmentDate) }}</td>
									<td style="text-align:left">
										<a target="_blank" href="/{{ fj.chemin }}">{{ fj.fileName }}</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
