<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fonctionSynthese(listExEbDemandeTransporteur, inco, ebdemande, url)">
   	<br/>
							<p>
							<b th:utext="#{repdemandeavecrecommendation.apercucot}" th:if="${listExEbDemandeTransporteur}!=null"></b>
							</p>
							<ul th:each="exEbDemandeTransporteur : ${listExEbDemandeTransporteur}">
							
								<li><span th:utext="#{aprecucot.modetrans(${ebdemande.getModeTransporteur()})}"></span></li>
								
								<li><span th:utext="#{aprecucot.price(${exEbDemandeTransporteur.price})}"></span></li>
								
								<li th:each="compagnyPslLight : ${exEbDemandeTransporteur.listEbTtCompagniePsl}">
									<span th:text="${compagnyPslLight.libelle} + ' :'"></span>
									<span th:if="${compagnyPslLight.expectedDate}!=null and ${compagnyPslLight.expectedDate}!=''" th:text="${#dates.format(compagnyPslLight.expectedDate, 'dd-MM-yyyy')}"></span>
									<span th:unless="${compagnyPslLight.expectedDate}!=null and ${compagnyPslLight.expectedDate}!=''" th:utext="#{mailInfo.empty}"></span>
								</li>
								
<!-- 								<li><span th:utext="#{aprecucot.pickup(${exEbDemandeTransporteur.pickupTime})}"></span></li>								 -->
<!-- 								<li><span th:utext="#{aprecucot.delivery(${exEbDemandeTransporteur.deliveryTime})}"></span></li> -->
							</ul>
						
						<p>
						<b th:utext="#{demandealertetransporteur.synthese}"></b>
						</p>
						
						<ul>
						
						<li><span th:utext="#{demandealertetransporteur.ref(${ebdemande.refTransport})}"></span></li>
						
						<li th:if="${ebdemande}!=null and ${ebdemande.customerReference} != null and ${ebdemande.customerReference} != ''">							
							<span th:utext="#{demandealertetransporteur.customRef(${ebdemande.customerReference})}"></span>
						</li>	
						
						<li><span th:utext="#{demandealertetransporteur.type(${ebdemande.typeRequestLibelle})}"></span></li>
						<li><span th:utext="#{demandealertetransporteur.paysorigine(${ebdemande.libelleOriginCountry})}"></span></li>
						<li><span th:utext="#{demandealertetransporteur.destination(${ebdemande.libelleDestCountry})}"></span></li>
						<li><span th:utext="#{demandealertetransporteur.modetrans(${ebdemande.getModeTransporteur()})}"></span></li>
						<li>Incoterm : <span th:text="${inco}"></span></li>
						<li><span th:utext="#{demandealertetransporteur.poidbrut(${ebdemande.totalWeight})}"></span></li>
						<li><span th:utext="#{demandealertetransporteur.volume(${ebdemande.totalVolume})}"></span></li>
						</ul>
						
						<p th:utext="#{demandealertetransporteur.conclusion}"></p>
							<div class="btn-wrapper">
							<a th:href="@{${url}}">
								<span class="btn" th:text="${ebdemande.refTransport}"></span>
							</a>
							</div>
</div>
</html>
