<head th:fragment="copy">

    <!-- Common styles and scripts -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" media="all" href="style.css" />
    <style>
        /* header style */

        .logo {
            width: auto;
            padding-left: 20px;
        }

        .nom-user {
            width: 80%;
            text-align: right;
        }

        .nom-user span {
            font-weight: 700;
            font-size: 16px;
            padding-right: 10px;
            color: #009cde;
            text-align: right;
        }

        .avatar {
            width: 5%;
            text-align: right;
            padding-right: 20px;
        }

        table.table-header {
            border: 2px solid #31bfcb;
            border-bottom: 0;
            padding: 15px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background: #f7f7f7;
        }

        table {
            width: 80%;
            margin: 0 auto;
        }

        table.table-main {
            border-left: 2px solid #31bfcb;
            border-right: 2px solid #31bfcb;
            padding: 20px;
        }

        p,
        td,
        table {
            font-family: 'Roboto', sans-serif;
            position: relative;
            font-size: 14px;
        }

        /* footer */

        table.table-footer {
            border-left: 2px solid #31bfcb;
            border-right: 2px solid #31bfcb;
            background: #31bfcb;
            color: #fff;
            text-align: center;
            margin: 0 auto;
        }

        .txt-center {
            text-align: center;
            margin: 0 auto;
        }
        .social-icons,
        .support-contact {
            width: 49%;
            display: inline-block;
            padding: 10px 0
        }
        .social-icons {
            text-align: left;
        }
        .social-icons img {
       	    width: 25px;
        }
        .link {
            text-decoration: none;
        }
        /* .footer-text {
            display: inline-block;
        } */
        .footer-text {
            padding-bottom: 5px;
        }
        p.txt-center {
            color: #fff
        }

        p.txt-center {
            color: #fff
        }

        .support-contact {
            font-style: italic;
            text-align: right;
        }
        .support-contact a {
            color: #fff;
        }
        .support-contact span {
            color: #fff;
        }

        /* button link */

        .btn-wrapper {
            width: 220px;
            margin: 0 auto;
            text-decoration: none;
            outline: none;
        }
        .btn-wrapper a {
            text-decoration: none;
            outline: none;
        }

        .btn {
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            color: #006f9e;
            text-decoration: none;
            border-radius: 5px;
            padding: 5px 0px;
            border: 2px solid #006f9e;
            background: #fff;
            display: block;
            outline: none;
            cursor: pointer;
            border-radius: 4px;
            text-align: center;
            margin: 0 auto;
        }
        
        .mailid-block{
       	    position: relative;
		    left: 16px;
		    display: inline-block;
		    height: 10px;
		    bottom: 7px;
        }
        .position-middle {
       	    position: relative;
		    left: 40%;
		    transform: translateX(-50%);
        }
        .bold {
        	font-weight: 600;
        }
        .red {
        	color: #ae0f0a
        }
        .fz-16 {
        	font-size: 16px
        }
        .table-reject th,
        .table-reject td{
        	padding: 4px;
		    font-size: 12px;
		    text-align: center;
        }
    </style>
</head>