<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
    <footer th:fragment="copy">
        <table class="table-footer">
            <tbody>
                <tr>
                    <td>
                        <div class="social-icons">
                            <a class="link" href="https://www.facebook.com/MyTower-by-Alis-International-799052566936467/">
                                <img src="https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-facebook.png"/>
                            </a> &nbsp;
                            <a class="link" href="https://twitter.com/MyTower_byAlis">
                                <img src="https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-twitter.png"/>
                            </a> &nbsp;
                            <a class="link" href="https://www.youtube.com/channel/UC-oYxBpal5gHHUY_LOHtySg">
                                <img src="https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-youtube.png"/>
                            </a> &nbsp;
                            <a class="link" href="https://www.linkedin.com/company/11173669/">
                                <img src="https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-linkedin.png"/>
                            </a>
                            
                            <span th:if="${mailId != null}" class="mailid-block" href="#">
                                Email #<span th:text="${mailId}"></span> 
                            </span>
                            
                            
                        </div>
                        <div class="support-contact">
                            
                            <div>
                                <a href="mailto:support@mytower.fr">support@mytower.fr</a>
                            </div>
                        </div>

                    </td>
                </tr> 
           </tbody>
        </table>
    </footer>

</body>

</html>