<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>

    <header th:fragment="copy">

        <table class="table-header">
            <tbody>
                <tr>
                        <td class="logo" >
<!--                             <a th:href="@{${url}}"> -->
<!--                                 <img class="test" src="https://gallery.mailchimp.com/39164efa5a8a242544b346b42/images/2634a002-095c-42c5-b32c-53e23df4b77b.png" -->
<!--                                     alt="My Tower logo" height="auto" width="90" /> -->
<img class="test" src="https://gallery.mailchimp.com/af9c965f2c7d7d8c18b37c118/images/1115a1da-7a1a-4e07-aa45-499ec2015d29.png"
                                    alt="My Tower logo" height="auto" width="150" />
<!--                             </a> -->
                        </td>
                        <td class="nom-user">
<!--                             <div> -->
<!--                                 <span th:text="${nom}"></span> -->
<!--                             </div> -->
                        </td>
                        <td class="avatar">
                            <a>
                                <img class="test" src="https://gallery.mailchimp.com/39164efa5a8a242544b346b42/images/21ef7e0f-cff2-4229-817f-628a6428aeea.png"
                                    alt="user" height="auto" width="40" />
                            </a>
                        </td>
                </tr>

            </tbody>
        </table>
    </header>

</body>

</html>