<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fonctionSyntheseWithoutApercu(inco, ebdemande, url)" th:with="psl=(${psl} ?: false),confirmOfSupport=(${confirmOfSupport} ?: false)" >
   <b>
								<p th:if="${psl} !=true " th:utext="#{demandealertetransporteur.synthese}"></p>
	    						<p th:if="${psl} ==true " th:utext="#{demandeconfirmation.title}"></p>
							</b>


						<ul>
							<li th:if="${psl} != true" th:utext="#{demandealertetransporteur.ref(${ebdemande.refTransport})}"></li>
							<li th:if="${ebdemande}!=null and ${ebdemande.customerReference} != null and ${ebdemande.customerReference} != ''">							
								<span th:utext="#{demandealertetransporteur.customRef(${ebdemande.customerReference})}"></span>
							</li>
							<li th:if="${psl != true and ebdemande.getTypeRequestLibelle()!=null and ebdemande.getTypeRequestLibelle()!=''} " th:utext="#{demandealertetransporteur.type(${ebdemande.getTypeRequestLibelle()})}"></li>
							<li th:if="${ebdemande.libelleOriginCountry}" th:utext="#{demandealertetransporteur.paysorigine(${ebdemande.libelleOriginCountry})}"></li>
							<li th:if="${ebdemande.libelleDestCountry}" th:utext="#{demandealertetransporteur.destination(${ebdemande.libelleDestCountry})}"></li>
							<li th:if="${ebdemande.getModeTransporteur()}" th:utext="#{demandealertetransporteur.modetrans(${ebdemande.getModeTransporteur()})}"></li>
							<li th:if="${psl == true and ebdemande.getTypeRequestLibelle()!=null and ebdemande.getTypeRequestLibelle()!=''}" th:utext="#{demandeconfirmation.servicelevel(${ebdemande.getTypeRequestLibelle()})}">
							<li th:if="${psl !=true and  inco !=null and inco !=''}" th:utext="#{demandealertetransporteur.incoterm(${inco})}"></li>
							<li th:if="${psl == true and  inco !=null and inco !='' and ebdemande.city!= null}" th:utext="#{demandeconfirmation.incoterm(${inco},${ebdemande.city})}"></li>
							<li th:if="${psl ==true and  inco !=null and inco !='' and ebdemande.city==null}" th:utext="#{demandealertetransporteur.incoterm(${inco})}"></li>
							<li th:if="${ebdemande.totalWeight}" th:utext="#{demandealertetransporteur.poidbrut(${ebdemande.totalWeight})}"></li>
							<li th:if="${ebdemande.totalVolume}" th:utext="#{demandealertetransporteur.volume(${ebdemande.totalVolume})}"></li>

							<li th:if="${psl==true and ebdemande.get_exEbDemandeTransporteurFinal()!= null and ebdemande.getXecCurrencyInvoice().getCode()!=null} " th:utext="#{demandeconfirmation.totalPrice(${ebdemande.get_exEbDemandeTransporteurFinal().getPrice()},${ebdemande.getXecCurrencyInvoice().getCode()})}"></li>
							<li th:each="schemapsl : ${ebdemande.getxEbSchemaPsl().getListPsl()}" th:if="${schemapsl.getStartPsl() == true  and psl == true and schemapsl.getExpectedDate() !=null }" th:utext="#{demandeconfirmation.pslstartname(${schemapsl.libelle}, ${schemapsl.getExpectedDate()})}"></li>
							<li th:each="schemapsl : ${ebdemande.getxEbSchemaPsl().getListPsl()}" th:if="${schemapsl.getEndPsl() == true  and psl == true and schemapsl.getExpectedDate() !=null }" th:utext="#{demandeconfirmation.psldateend(${schemapsl.libelle}, ${schemapsl.getExpectedDate()})}"></li>
							
						</ul>






							<span th:switch="${isDanger}">
								<span th:case="false"></span>
								<span class="bold red fz-16" th:case="true"><br/><span th:utext="#{transportfile.creation.email.demandesynthese.content.dangerous}"></span></span>
							</span>
							<br/>
							
							<p th:if="${psl}!=true" th:utext="#{demandealertetransporteur.conclusion}"></p>
							<p th:if="${psl==true and confirmOfSupport!=true }" th:utext="#{demandeconfirmation.conclusion}"></p>
							<p th:if="${psl}==true and ${confirmOfSupport}==true" th:utext="#{pricing.mail.conclusion}"></p>
							<div class="btn-wrapper">
								<a th:href="@{${url}}">
									<span class="btn" th:text="${ebdemande.refTransport}"></span>
								</a>
							</div>
</div>
</html>
