<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fonctionSyntheseWithoutApercu(inco, ebdemande, url)" >
   <b>
								<p th:utext="#{demandealertechargeur.synthese}"></p>
							</b>
							

						<ul>
							<li th:utext="#{demandealertechargeur.ref(${ebdemande.refTransport})}"></li>
							<li th:if="${ebdemande}!=null and ${ebdemande.customerReference} != null and ${ebdemande.customerReference} != ''">							
								<span th:utext="#{demandealertetransporteur.customRef(${ebdemande.customerReference})}"></span>
							</li>
							<li th:utext="#{demandealertechargeur.type(${ebdemande.getTypeRequestLibelle()})}"></li>
							<li th:utext="#{demandealertechargeur.paysorigine(${ebdemande.libelleOriginCountry})}"></li>
							<li th:utext="#{demandealertechargeur.destination(${ebdemande.libelleDestCountry})}"></li>
							<li th:utext="#{demandealertechargeur.modetrans(${ebdemande.getModeTransporteur()})}"></li>
							<li th:utext="#{demandealertechargeur.incoterm(${inco})}"></li>
							<li th:utext="#{demandealertechargeur.poidbrut(${ebdemande.totalWeight})}"></li>
							<li th:utext="#{demandealertechargeur.volume(${ebdemande.totalVolume})}"></li>
							
					</ul>

							<span th:switch="${isDanger}">
								<span th:case="false"></span>
								<span class="bold red fz-16" th:case="true"><br/><span th:utext="#{transportfile.creation.email.demandesynthese.content.dangerous}"></span></span>
							</span>
							<br/>
							
							<p th:utext="#{demandealertechargeur.conclusion}"></p>
							<div class="btn-wrapper">
								<a th:href="@{${url}}">
									<span class="btn" th:text="${ebdemande.refTransport}"></span>
								</a>
							</div>
</div>
</html>