<div class="new-design_details-header clearfix col-md-12 padding-0">
	<!------------------------------ Order ---------------------->
	<div class="details-steps col-md-10 col-sm-10 col-xs-9 mrgtp-30">
		<ng-container *ngIf="!isCancelled && listStatut">
			<div
				class="step-wrapper"
				*ngFor="let status of listStatut | filterCallback: filterStatusHeader"
			>
				<div [class]="status.order <= currentStatus?.order ? 'bg-selected' : 'bg-disabled'">
					<div class="step-status">
						{{ "CHANEL_PB_ORDER." + status.key | translate }}
					</div>
				</div>
			</div>

			<!-- START : Demo Mode statuses -->
			<div *ngIf="acls[ACL.Rule.Demo_Features_Enable]" class="step-wrapper" (click)="okForPayment = !okForPayment">
				<div [class]="okForPayment ? 'bg-selected' : 'bg-disabled'">
					<div class="step-status">
						{{ 'ORDER.OK_FOR_PAYMENT' | translate }}
					</div>
				</div>
			</div>
			<div *ngIf="acls[ACL.Rule.Demo_Features_Enable]" class="step-wrapper" (click)="paid = !paid">
				<div [class]="paid ? 'bg-selected' : 'bg-disabled'">
					<div class="step-status">
						{{ 'ORDER.PAID' | translate }}
					</div>
				</div>
			</div>
			<!-- END : Demo Mode statuses-->
		</ng-container>
	</div>
</div>
