@import "../../../../../styles/variables";

.new-design_details-header {
	box-shadow: 0 4px 14px -7px #000;
	background: #fff;
	z-index: 2;
}
.new-design_details-contents {
	background: #fff;
	.left-blocs {
		.origin-dest__contents {
			align-items: center;
			display: flex;
			justify-content: space-around;
			text-align: center;
			font-size: $fz-sm;
			.mode-transport {
				.fa {
					font-size: 40px;
				}
			}
		}
	}
}
.collapsible-blocs {
	display: flex;

	.middle-blocs {
		min-height: 170px;
		border-left: 2px solid #efefef;
		border-right: 2px solid #efefef;
	}
}
