@import "../../../../../../../styles/variables";
.table-accessright {
	margin-bottom: 20px;
}
.table-accessright tr:first-child th {
	color: $primary-color;
}
.table-accessright th {
	width: auto;
	padding: 2px;
	white-space: nowrap;
}
.table-accessright td:not(:first-child):not(:last-child),
.table-accessright th:not(:first-child):not(:last-child) {
	border: 1px solid #efefef;
	border-top: 0;
	border-bottom: 0;
}
.table-accessright td {
	text-align: center;
	padding: 5px 2px;
}
.table-accessright th:first-child,
.table-accessright td:first-child {
	text-align: left;
}

.table-categories {
	width: 100%;
	margin-top: 20px;
}
.table-categories td,
.table-categories th {
	border: 1px solid #d4d4d4;
	padding: 5px;
}
.table-categories th,
.table-categories td:not(:nth-child(3)) {
	text-align: center;
}

.table-categories .fa-remove,
.btn-remove {
	color: $secondary-color !important;
	cursor: pointer;
}

.btn-remove {
	margin: 2px;
}
.table-categories td {
	width: auto;
}

.user-details_wrapper {
	background-color: #fff;
	padding-top: 5px;
	margin-right: -5px;
	padding-left: 0;
	padding-right: 0;
	box-shadow: 0 0 4px -1px #000;
}

.ui-autocomplete .ui-autocomplete-input {
	width: 80% !important;
	display: inline !important;
}
.access-right-spinner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	z-index: 1000;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
