<div class="col-md-12 user-details_wrapper d-flex-w" [ngClass]="disabledBloc ? 'hidden' : ''">
	<div class="col-md-12 d-flex-ai-c d-flex-jc-sb padding-bottom-10">
		<div class="col-md-12 padding-0 d-flex-ai-c">
			<div class="padding-left-0 padding-right-25">
				<img src="./././assets/images/profil.png" style="height:75px; width:75px; " />
			</div>
			<div *ngIf="userToBeUpdated" class="padding-right-25">
				<div class="d-inline-block padding-right-15">
					<input
						type="checkbox"
						id="isAdmin"
						(ngModelChange)="userToBeUpdated.admin = $event"
						[ngModel]="userToBeUpdated?.admin"
						value="true"
					/>
					<label for="isAdmin">{{ "MY_ACCOUNT.IS_ADMIN" | translate }}</label>
				</div>
				<div class="d-inline-block padding-right-15">
					<span *ngIf="userConnected.superAdmin">
						<input
							type="checkbox"
							id="isSuperAdmin"
							(ngModelChange)="userToBeUpdated.superAdmin = $event"
							[ngModel]="userToBeUpdated?.superAdmin"
							value="true"
						/>
						<label for="isSuperAdmin">{{ "MY_ACCOUNT.IS_SUPER_ADMIN" | translate }}</label>
					</span>
				</div>
			</div>

			<div class="padding-right-25">
				<label class="d-inline-block label label-info padding-right-5">{{
					"MY_ACCOUNT.STATUS" | translate
				}}</label>
				<div class="d-inline-block padding-right-15 padding-left-15">
					<label
						class="radio-inline margin-r-15"
						*ngFor="let status of Statique.Status_User_Type; let i = index"
					>
						<input
							type="radio"
							[(ngModel)]="userToBeUpdated.status"
							[value]="i + 1"
							name="status{{ i }}"
						/>{{ status | translate }}</label
					>
				</div>
			</div>
			<div class="padding-right-25" *ngIf="userConnected.role == UserRole.PRESTATAIRE">
				<div id="service" class="col-md-12">
					<label class="d-inline-block label label-info padding-right-5">{{
						"MY_ACCOUNT.SERVICE" | translate
					}}</label>
					<div class="d-inline-block padding-right-15 padding-left-15">
						<label
							class="radio-inline margin-r-15"
							*ngFor="let service of Statique.Service_Type; let i = index"
						>
							<input
								type="radio"
								[(ngModel)]="userToBeUpdated.service"
								[value]="i"
								name="typeInvitation{{ i }}"
								required
							/>{{ service | translate }}</label
						>
					</div>
				</div>
			</div>
		</div>
		<div class="padding-right-25">
			<button
				*ngIf="
					userToBeUpdated.ebUserNum != null &&
					acls[ACL.Rule.Settings_MyCommunity_MyTowerNetwork] !==
						ACL.RuleValues.Settings_MyCommunity_MyTowerNetwork.NotVisible
				"
				class="btn btn-xs btn-primary"
				(click)="showUserCommunity()"
			>
				{{ "COMMUNITY.EDIT_COMMUNITY" | translate }}
			</button>
		</div>
	</div>
	<div class="col-lg-4 col-md-5 col-sm-12">
		<div class="row">
			<div class="col-md-12">
				<label for="email">{{ "INSCRIPTION.EMAIL" | translate }}:</label>
				<input
					class="form-control"
					type="text"
					[ngModel]="userToBeUpdated?.email"
					(ngModelChange)="userToBeUpdated.email = $event"
					name="email"
					(change)="checkMail(userToBeUpdated.email)"
					[pattern]="Statique.patterEmail"
					required
				/>
				<div class="text-center">
					<div *ngIf="mailError" class="alert alert-danger">{{ mailError }}</div>
				</div>
			</div>
			<div class="col-md-12">
				<label for="nom">{{ "INSCRIPTION.NOM" | translate }}:</label>
				<input
					class="form-control"
					type="text"
					(ngModelChange)="userToBeUpdated.nom = $event"
					[ngModel]="userToBeUpdated?.nom"
					name="nom"
					id="nom"
					required
				/>
			</div>
			<div class="col-md-12">
				<label for="prenom">{{ "INSCRIPTION.PRENOM" | translate }}:</label>
				<input
					class="form-control"
					type="text"
					(ngModelChange)="userToBeUpdated.prenom = $event"
					[ngModel]="userToBeUpdated?.prenom"
					name="prenom"
					id="prenom"
					required
				/>
			</div>
			<div class="col-md-12">
					<label for="tel">{{ "INSCRIPTION.USERNAME" | translate }}:</label>
					<input
						id="tel"
						class="form-control"
						type="text"
						(ngModelChange)="userToBeUpdated.username = $event"
						[ngModel]="userToBeUpdated?.username"
						(keyup)="sanitizeUsername()"
						name="tel"
						(change)="checkUserName(userToBeUpdated.username)"
						required
					/>
					<div class="text-center">
						<div *ngIf="userNameError" class="alert alert-danger">{{ userNameError }}</div>
					</div>
				</div>
			<!-- <div class="col-md-12">
				<label for="tel">{{'INSCRIPTION.TELEPHONE'|translate}}:</label>
				<input id="tel" class="form-control" type="text" (ngModelChange)="userToBeUpdated.telephone = $event" [ngModel]="userToBeUpdated?.telephone"
				 name="tel" />
			</div> -->
		</div>

		<label *ngIf="userToBeUpdated.ebUserNum == null && userConnected.superAdmin" for="etablissement"
			>{{ "MY_ACCOUNT.ESTABLISHMENT" | translate }}:</label
		>
		<select
			*ngIf="userToBeUpdated.ebUserNum == null && userConnected.superAdmin"
			id="etablissement"
			class="form-control"
			[(ngModel)]="userToBeUpdated.ebEtablissement"
			name="etablissement"
			(change)="onChangeEtablissement()"
			required
		>
			<option value="" disabled selected>{{
				"MY_ACCOUNT.SELECT_ESTABLISHMENT" | translate
			}}</option>
			<option *ngFor="let etablissement of listEtablissements" [ngValue]="etablissement">
				{{ etablissement?.nom }}
			</option>
		</select>

		<div *ngIf="ebEtablissement && ebEtablissement.service === 0" style="margin-top : 20px;">
			<span class="label label-info" style="margin-top : 10px">Profile</span>
			<br />
			<input type="checkbox" [(ngModel)]="broker" /> Broker

			<input type="checkbox" [(ngModel)]="transporter" /> Transporter
		</div>
	</div>

	<div
		class="col-lg-4 col-md-7 col-sm-12 border-right-1-gray border-left-1-gray"
	>
		<span class="label label-info margin-top-10">{{
			"SETTINGS.SETTINGS" | translate
		}}</span>
		<div *ngFor="let param of parametrageDroitsUser">
			<input
				type="radio"
				[(ngModel)]="typeParamSelected"
				(click)="seclectTypeParametrage(param.key)"
				name="param"
				[value]="param.key"
			/>
			<label>{{param.value}}</label>
		</div>
		<div *ngIf="showProfile">
			<label>{{ "SETTINGS.PROFILE" | translate }}:</label>
			<ng-select
				[items]="listProfileUser"
				bindLabel="nom"
				[(ngModel)]="profilSelected"
				(change)="selectUserProfile()"
			>
			<ng-template ng-option-tmp let-item="item">
				<div class="d-flex-w">
					<span class="width-100-percent" >{{item.nom}}</span>
					<span class="width-100-percent padding-left-10 fz-12 truncate" title="{{item.descriptif}}">{{item.descriptif}}</span>
				</div>
			</ng-template>
			</ng-select>
		</div>

		<app-access-right
			#accessRightsCompo
			*ngIf="showDrtUser"
			(accessRightsEmitter)="updateUserAccessRights($event)"
			(advancedSettingsClick)="openAclSettings()"
			[displayAdvancedSettings]="userToBeUpdated.ebUserNum != null"
			[importedAccessRights]="userToBeUpdated.listAccessRights"
			[accessRightsSpinner]="loadingAccessRights"
			[disabled]="disableDrtUser"
		>
		</app-access-right>
	</div>

	<!-- Zone categories + labels -->
	<div class="col-lg-4 col-md-12 col-sm-12">
		<div *ngIf="loadingAccessRights" class="access-right-spinner">
			<i class="fa fa-5x fa-spinner fa-spin"></i>
		</div>
		<app-categorie-label
			*ngIf="!loadingAccessRights && showDrtUser"
			[isEdit]="isEdit"
			[showDrtUser]="showDrtUser"
			[disableDrtUser]="disableDrtUser"
			[manageCategorie]="manageCategorie"
			[listCategories]="listCategories"
			[affectedCategories]="affectedCategories"
			[affectedCategoriesAndLabels]="affectedCategoriesAndLabels"
		></app-categorie-label>
	</div>

	<!-- END zone categorie + label -->
	<!-- </div> -->

	<div class="login-buttons col-md-12" style="padding-bottom:20px;">
		<button
			[disabled]="verified || mailError ||userNameError || verifiedPrestataire"
			*ngIf="userToBeUpdated.ebUserNum != null"
			type="button"
			(click)="editUser($event)"
			class="btn btn-dark-login pull-right"
		>
			{{ "MY_ACCOUNT.EDIT_USER" | translate }}
		</button>
		<button
			[disabled]="verified || mailError ||userNameError || verifiedPrestataire"
			*ngIf="userToBeUpdated.ebUserNum == null"
			type="button"
			(click)="addNewUser($event)"
			class="btn btn-dark-login pull-right"
		>
			{{ "MY_ACCOUNT.ADD_USER" | translate }}
		</button>
	</div>
</div>
