<div
	#panel
	class="collapsible-panel panel panel-visible {{ panelClass }} {{
		collapse ? 'panel-collapsed padding-bottom-10 margin-bottom-0-important' : ''
	}}"
>
	<div class="panel-heading {{ headingClass }}">
		<span class="panel-heading__title">{{ title }}</span>
		<span class="panel-controls">
			<span class="datatable-search d-inline-block"></span>
			<button
				*ngIf="addLivraisonButton == true"
				(click)="createDelivery()"
				style="border:none; background:none; float:right;"
				class="btn btn-xs btn-default"
			>
				Create Delivery
			</button>
			<a
				*ngIf="dataUpload && userConnected.role == UserRole.CONTROL_TOWER"
				(click)="fileInputHandle()"
				class="fa fa-upload"
				title="Importer en masse"
			></a>
			<a
				*ngIf="csvExtractModule != null"
				(click)="exportCsv($event)"
				class="fa fa-download"
				title="Exporter en CSV"
			></a>
			<a
				*ngIf="saveStateBtn"
				(click)="saveStateDatatable($event)"
				title="Enregistrer l'état du dashboard"
				><i class="fa fa-save"></i
			></a>
			<span
				class="datatable-filter d-inline-block"
				(click)="moveDatatableColumnsFilter()"
				title="Filtrer les colonnes"
			></span>
			<span
				#overlayPanelAnchor
				title="Filtrer les colonnes"
				class="datatable-filter d-inline-block"
			>
			</span>
			<a
				(click)="panelCollapse(panel)"
				class="panel-control-fullscreen"
				[ngClass]="fullscreen ? 'fa fa-expand' : 'fa fa-compress'"
				title="Mettre en plein écran"
			></a>
			<a
				*ngIf="searchVisible"
				class="fa-minus"
				(click)="hideAdvancedSearch($event)"
				class="fa panel-control-collapse"
			></a>
		</span>
	</div>

	<div
		#body
		class="panel-body body-table {{ bodyClass }} {{ collapse ? 'hidden' : '' }} {{ bodyClass }}"
	>
		<ng-content></ng-content>
	</div>

	<input
		#fileInput
		type="file"
		class="hidden"
		ngFileSelect
		(uploadOutput)="uploadFile($event)"
		[uploadInput]="uploadInput"
	/>
</div>
