<div
	class="modal modal-backdrop modal-export-doc-tpl-root"
	tabindex="-1"
	role="dialog"
	style="display:block!important"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div>
				<form role="form" #EventForm="ngForm" novalidate>
					<div class="modal-header">{{ "DOCUMENT.EXPORT" | translate }}</div>
					<div class="modal-body overflow-visible" style="width: 100%;">
						<div class="row">
							<div class="col-xs-3 col-md-4 text-left">
								<label>{{ "DOCUMENT.TEMPLATE" | translate }}</label>
							</div>
							<div class="col-xs-9 col-md-8 text-left">
								<span *ngIf="templatesLoaded && templates.length == 0" class="clrTempl">
									{{ "DOCUMENT.TEMPLATE_CONFIG" | translate }}
								</span>
								<ng-select
									*ngIf="templates"
									name="selectedTemplate"
									[items]="templates"
									[multiple]="false"
									bindLabel="libelle"
									bindValue="ebTemplateDocumentsNum"
									[placeholder]="'DOCUMENT.TEMPLATE_PLACEHOLDER' | translate"
									[(ngModel)]="params.selectedTemplate"
									(change)="onSelectedTemplateChange($event)"
								>
									<ng-template ng-label-tmp let-item="item">
										<span class="truncate">{{ item.libelle }}</span>
									</ng-template>
									<ng-template ng-option-tmp let-item="item">
										<div>
											{{ item.libelle }}
										</div>
									</ng-template>
								</ng-select>
							</div>
						</div>

						<div class="row margin-top-10">
							<div class="col-md-4 col-xs-3 text-left">
								<label>{{ "DOCUMENT.FORMAT" | translate }}</label>
							</div>
							<div class="col-md-8 col-xs-9 text-left">
								<div class="row">
									<div class="col-md-4 col-xs-5">
										<label>
											<input
												type="radio"
												class="no-effect"
												name="formatPDF"
												[value]="0"
												[(ngModel)]="params.selectedFormat"
											/>PDF</label
										>
									</div>
									<div class="col-md-8 col-xs-7">
										<label>
											<input
												type="radio"
												class="no-effect"
												name="formatWORD"
												[value]="1"
												[(ngModel)]="params.selectedFormat"
											/>Word (.docx)</label
										>
									</div>
								</div>
							</div>
						</div>
						<div class="row margin-top-10">
							<div class="col-xs-3 col-md-4 text-left">
								{{ "DOCUMENT.ACTIONS" | translate }}
							</div>
							<div class="col-xs-9 col-md-8 text-left">
								<div>
									<input
										type="checkbox"
										class="no-effect"
										[(ngModel)]="params.downloadChecked"
										name="actionDownload"
									/>
									{{ "DOCUMENT.DOWNLOAD" | translate }}
								</div>
								<div>
									<input
										type="checkbox"
										[(ngModel)]="params.attachChecked"
										class="no-effect"
										name="actionAttach"
									/>
									{{ "DOCUMENT.ATTACH_TO_FOLDER" | translate }}
									<br *ngIf="params.attachChecked" />
									<ng-select
										*ngIf="params.attachChecked"
										name="listTypeDocuments"
										class="margin-top-5 margin-left-20"
										[items]="listTypeDocumentsFiltered"
										[multiple]="false"
										bindLabel="nom"
										bindValue="ebTypeDocumentsNum"
										[placeholder]="'DOCUMENT.TYPEDOC_PLACEHOLDER' | translate"
										[(ngModel)]="params.selectedTypeDoc"
									></ng-select>
								</div>
								<!-- The field email is not yet implemented, it was put here for poc, see JIRA ROAD-229 -->
								<!-- This why we put ngIf="false" when backporting to master, remove it after fully implement feature -->
								<div *ngIf="false">
									<input
										type="checkbox"
										[(ngModel)]="params.emailChecked"
										class="no-effect"
										name="actionSendEmail"
									/>
									{{ "DOCUMENT.SEND_BY_MAIL" | translate }}
									<br *ngIf="params.emailChecked" />
									<p-chips
										*ngIf="params.emailChecked"
										name="listEmailDestExport"
										[styleClass]="'chipsWidth100pc'"
										[(ngModel)]="params.emailDest"
										(onAdd)="onEmailDestAdd($event)"
									></p-chips>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a (click)="modalExportPdfConfirm($event)">
							<button
								class="btn btn-primary pull-right btn-sm mr5 modal_yes_btn"
								[disabled]="!canConfirm"
							>
								{{ "GENERAL.CONFIRM" | translate }}
							</button>
						</a>
						<a (click)="modalExportPdfClose()">
							<button class="btn btn-danger pull-right btn-sm mr5 modal_no_btn">
								{{ "GENERAL.CANCEL" | translate }}
							</button>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
