.clrTempl {
	color: red;
	font-weight: bold;
}

::ng-deep .modal-export-doc-tpl-root {
	.chipsWidth100pc {
		width: 100%;

		.ui-inputtext,
		.ui-chips-input-token,
		.ui-chips-container {
			width: 100%;
		}
	}
}
