<div class="config-incoterm">
	<div class="trpl-zone-settings-root" *ngIf="isStatiquesLoaded">
		<app-generic-table
			#genericTable
			[title]="'SETTINGS.TYPE_FLUX' | translate"
			[hideTable]="isAddObject"
			[searchInput]="searchCriteria"
			[dataInfos]="dataInfos"
			[detailsInfos]="null"
			(addFormEmitter)="displayAdd($event)"
			(editFormEmitter)="diplayEdit($event)"
			(deleteEventEmitter)="deleteData($event)"
			[component]="GenericTableScreen.TYPE_OF_FLUX"
			[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
		>
			<form class="generic-default" formcontent *ngIf="isAddObject" role="form" #formCtrl="ngForm">
				<div class="form-content col-sm-6 margin-top-10">
					<div class="col-md-6 col-sm-12 col-xs-12 form-group">
						<label class="required">{{ "TRANSPORTATION_PLAN.ZONE_DESIGNATION" | translate }}</label>
						<div>
							<input
								type="text"
								[(ngModel)]="dataObject.designation"
								name="designation"
								class="form-control input-underline input-xs"
							/>
						</div>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12 form-group">
						<label class="required">{{ "TYPE_FLUX.CODE" | translate }}</label>
						<div>
							<input
								type="text"
								[(ngModel)]="dataObject.code"
								name="code"
								class="form-control input-underline input-xs"
							/>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 form-group">
						<label for="PSL" class="areaLibelle col-md-12 required">{{
							"TYPE_FLUX.SELECT_INCOTERMS" | translate
						}}</label>
						<div class="col-md-12 col-sm-12 col-xs-12 padding-0">
							<app-autocomplete
								name="selectedListIncoterms"
								[(inputModel)]="selectedListIncoterms"
								bindLabel="libelle"
								bindValue="ebIncotermNum"
								[bindObject]="true"
								placeholder="{{ 'TYPE_FLUX.SELECT_INCOTERM' | translate }}..."
								sMultiple="true"
								[listItems]="listIncoterms"
							>
							</app-autocomplete>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 form-group">
						<label class="areaLibelle col-md-12 required">{{
							"TYPE_FLUX.MEAN_TRANSPORT" | translate
						}}</label>
						<div class="col-md-12 d-flex-w checkbox-primeng padding-right-0 padding-left-0">
							<div *ngFor="let item of listModeTransport; let i = index" class="padding-right-5">
								<div class="new-formcontrol">
									<p-checkbox
										class="col-md-12 padding-0"
										name="modeTransport{{ item.code }}"
										[value]="item.code"
										[(ngModel)]="selectedModesTransport"
										label="{{ item.libelle }}"
										(onChange)="setSelectedModesTransport($event)"
									></p-checkbox>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="form-content col-sm-6">
					<div class="list-psl col-md-12 col-sm-12 col-xs-12 form-group padding-top-10">
						<label for="PSL" class="areaLibelle col-md-12 required">
							{{ "TYPE_FLUX.SELECT_SCHEMAS_PSL" | translate }}</label
						>
						<div class="col-md-12 col-sm-12 col-xs-12 padding-0">
							<app-autocomplete
								name="selectedListEbTtSchemaPsl"
								[(inputModel)]="selectedListEbTtSchemaPsl"
								bindLabel="designation"
								bindValue="ebTtSchemaPslNum"
								[bindObject]="true"
								placeholder="{{ 'TYPE_FLUX.SELECT_SCHEMA_PSL' | translate }}..."
								sMultiple="true"
								[listItems]="listEbTtSchemaPsl"
							>
							</app-autocomplete>
						</div>
					</div>

					<!-- je mets ce bout de code en commentaire parce que il sera activer pour la prochaine MEP
			         		MTG-2076 -->
					<!-- 	<div class="list-psl col-md-12 col-sm-12 col-xs-12 form-group padding-top-10">
						<label for="PSL" class="areaLibelle col-md-12 required">
							{{ "TYPE_FLUX.SELECT_TYPES_DOC" | translate }}</label
						>
						<div class="col-md-12 col-sm-12 col-xs-12 padding-0">
							<app-autocomplete
								name="selectedListEbTypeDocuments"
								[(inputModel)]="selectedListEbTypeDocuments"
								bindLabel="nom"
								bindValue="ebTypeDocumentsNum"
								[bindObject]="true"
								placeholder="{{ 'TYPE_FLUX.SELECT_TYPE_DOC' | translate }}..."
								sMultiple="true"
								[listItems]="listEbTypeDocuments"
							>
							</app-autocomplete>
						</div>
					</div>-->

					<div class="list-psl col-md-12 col-sm-12 col-xs-12 form-group padding-top-10">
						<label for="PSL" class="areaLibelle col-md-12 required">
							{{ "TYPE_FLUX.TRACKING_LEVEL" | translate }}</label
						>
						<div class="col-md-12 col-sm-12 col-xs-12 padding-0">
							<div *ngFor="let item of listTrackingLevel; let i = index" class="padding-left-top">
								<p-radioButton
									class="col-md-12 padding-0"
									name="trackingLevel"
									[value]="item.key"
									label="{{ item.label | translate }}"
									[(ngModel)]="dataObject.trackingLevel"
									inputId="trackingLevel{{ item.key }}"
								>
								</p-radioButton>
							</div>
						</div>
					</div>
				</div>

				<div class="form-content col-sm-12 text-right margin-bottom-10">
					<div class="col-md-12">
						<button
							*ngIf="dataObject && !dataObject.ebTypeFluxNum"
							class="btn btn-sm btn-success btn-shadow"
							[disabled]="!isFormValidated()"
							(click)="addtypeFlux()"
						>
							{{ "COMPANY_PROFILE.BTN_AJOUTER" | translate }}
						</button>
						<button
							*ngIf="dataObject && dataObject.ebTypeFluxNum"
							class="btn btn-sm btn-success btn-shadow"
							[disabled]="!isFormValidated()"
							(click)="editTypeFlux()"
						>
							{{ "COMPANY_PROFILE.BTN_MODIFIER" | translate }}
						</button>
						<button class="btn btn-sm btn-success btn-shadow" (click)="backToListZone()">
							{{ "GENERAL.CANCEL" | translate }}
						</button>
					</div>
				</div>
			</form>
		</app-generic-table>
	</div>
</div>
