<div class="new-pricing-wrapper" *ngIf="adresseToSave != null">
	<app-collapsible-panel title="{{ 'PRICING_BOOKING.ADD_ADDRESS' | translate }}">
		<app-form-adresse
			[adresse]="adresseToSave"
			[displayCancelButton]="true"
			[listAdresse]="listAdresse"
			[userConnected]="userConnected"
			(cancel)="cancelAddAdress($event)"
			(validateAdd)="validateAddAdress($event)"
		></app-form-adresse>
	</app-collapsible-panel>
</div>
<fieldset class="border-0 margin-0-important">
	<!-- [disabled]="ebParty && ebParty.ebPartyNum" -->
	<!-- <legend>
        <h4>{{tittle}}</h4>
    </legend> -->
	<div class="adress-wrapper">
		<div class="fields-wrapper" [ngClass]="{ 'width-100-percent': ebParty && ebParty.ebPartyNum }">
			<div class="show-for-creation clearfix">
				<div
					*ngIf="ebParty && ebParty.city"
					class="{{
						truncateText ? 'truncate' : ''
					}} col-md-12 origindest-infos_wrapper generic-inputs__style"
					(mouseenter)="showEdit()"
					(mouseleave)="hideEdit()"
				>
					<label class="col-md-4 col-sm-12 col-xs-12 text-right" [class.required]="isRequired"
						>{{ fromToLabel }}:
					</label>
					<div class="col-md-8 col-sm-12 col-xs-12 fz-sm">
						<span *ngIf="ebParty.company">{{ ebParty.company }}</span>
						<span *ngIf="ebParty.adresse" class="d-block">{{ ebParty.adresse }}</span>
						<span *ngIf="ebParty.zipCode">{{ ebParty.zipCode }}</span>
						<span *ngIf="ebParty.city">{{ ebParty.city }}</span>
						<span>{{ getZoneBackupDisplayString(ebParty) }}</span>
						<span class="d-block ">{{ getCountryDisplayString(ebParty) }}</span>
						<span *ngIf="ebParty.openingHours" class="d-block">{{ ebParty.openingHours }}</span>
						<span *ngIf="ebParty.airport" class="d-block">{{ ebParty.airport }}</span>
						<span *ngIf="ebParty.commentaire" class="italic-font">{{ ebParty.commentaire }}</span>
					</div>
					<div
						*ngIf="delivery && !readOnly"
						class="buttons-wrapper"
						(mouseenter)="showEditRemoveIcons = true"
					>
						<!-- no edit yet
						<i
							class="fa fa-pencil edit-address"
							(click)="addAddress(showAddressFields, ebParty, fromOrTo)"
							[ngClass]="{ visible: showEditRemoveIcons }"
						></i> -->
						<i
							class="fa fa-close"
							(click)="removeAddress(fromOrTo)"
							[ngClass]="{ visible: showEditRemoveIcons }"
							(mouseenter)="showEditRemoveIcons = true"
						></i>
					</div>
					<div
						*ngIf="delivery && delivery.ebDelOrderNum && showEditAddress"
						class="buttons-wrapper"
					></div>
				</div>
				<div
					*ngIf="ebParty && delivery && !ebParty.city && !readOnly"
					class="{{ truncateText ? 'truncate' : '' }} col-md-12 padding-0"
				>
					<div
						class="d-flex-ai-c generic-inputs__style"
						(mouseenter)="showAddAddressBtn = true"
						(mouseleave)="showAddAddressBtn = false"
					>
						<label class="areaLibelle col-md-4 col-xs-12" [class.required]="isRequired"
							>{{ fromOrTo }} :</label
						>
						<div class="col-md-8 col-xs-12 padding-right-0 input-wrapper">
							<input
								(blur)="setInputBlur()"
								type="text"
								class="form-control"
								(focus)="
									showAddressPopupEmit($event, fromOrTo);
									setSuggestionsEtablissement($event.target.value, fromOrTo)
								"
								(keyup)="setSuggestionsEtablissement($event.target.value, fromOrTo)"
							/>
						</div>
						<div *ngIf="ebParty && !ebParty.ebPartyNum" class="buttons-wrapper">
							<i
								*ngIf="showAddAddressBtn"
								class="btn btn-sm fa fa-plus add-new-address"
								(click)="addAddress(showAddressFields, ebParty, fromOrTo)"
							></i>
						</div>
					</div>
				</div>

				<div class="col-md-12 padding-0">
					<div class="col-md-4 hidden-sm hidden-xs"></div>
					<div class="col-md-8 col-sm-12 col-xs-12 fz-sm" *ngIf="isRequired">
						<app-form-error-messages
							[ShowCondition]="inputBlur && !showAddressWrapper && !(ebParty && ebParty.ebPartyNum)"
						></app-form-error-messages>
					</div>
				</div>
			</div>
		</div>
	</div>
</fieldset>
