<div class="col-md-12" style="margin-top: 10px;">
	<div class="col-md-3" *ngFor="let theme of themesList">
		<p-card>
			<div class="row">
				<div class="col-md-10 {{theme.color}} fz-md" style="font-weight: 700; font-size: 15px;">
					{{("THEME_SETTINGS." + theme.i18n) | translate }}
				</div>
				<div class="col-md-2">
					<p-radioButton
						name="groupname"
						(onClick)="onThemeSet($event, theme.name)"
						value="{{theme.name}}"
						[(ngModel)]="selectedValue"
					></p-radioButton>
				</div>
				<div class="col-md-12"></div>
			</div>
		</p-card>
	</div>

	<div class="form-group col-md-12 margin-top-10">
		<button
			class="btn btn-primary btn-shadow pull-right ng-star-inserted"
			(click)="saveTheme()"
			style="margin-left: 258px;"
		>
			{{ "GENERAL.SAVEACTIVETHEME" | translate }}
		</button>
	</div>
</div>
