<div class="col-md-12" style="margin-top: 2%;">
	<div class="row">
		<div class="form-group">
			<div class="row-eq-height">
				<div class=" border-right_gray col-md-5">
					<div class="col-md-12">
						<div class="col-md-5 padding-right-0">
							<label class="control-label" for=""
								>{{ "QUALITY_MANAGEMENT.ROOT_CAUSES_STATUS" | translate }}:</label
							>
						</div>
						<div class="form-group col-md-7 padding-left-0">
							<select [(ngModel)]="interneIncidentInfo.rootCauseStatut">
								<option *ngFor="let item of listRootCauseStatus" [ngValue]="item.code">
									{{ "QUALITY_MANAGEMENT.ROOT_CAUSE_STATUS." + item.key | translate }}
								</option>
							</select>
						</div>
						<div *ngIf="interneIncidentInfo.rootCauseStatut == 3" class=" form-group col-md-7">
							<input [(ngModel)]="interneIncidentInfo.waitingForText" />
						</div>
					</div>

					<div class="col-md-12">
						<div class="col-md-5 padding-right-0">
							<label class="control-label" for=""
								>{{ "QUALITY_MANAGEMENT.ROOT_CAUSES" | translate }}:</label
							>
						</div>
						<div class="form-group col-md-7 padding-left-0">
							<ng-select
								name="listRootCause"
								[addTag]="addTag"
								[multiple]="true"
								[items]="listRootCause"
								bindLabel="label"
								[(ngModel)]="interneIncidentInfo.rootCauses"
							>
							</ng-select>
						</div>
					</div>
					<div class="col-md-12">
						<div class="col-md-5 padding-right-0">
							<label class="control-label" for="">{{
								"QUALITY_MANAGEMENT.SEVERITY" | translate
							}}:</label>
						</div>
						<div class="form-group col-md-7 padding-left-0">
							<select [(ngModel)]="interneIncidentInfo.severity">
								<option [ngValue]=""></option>
								<option *ngFor="let priority of listPriority" [ngValue]="priority.code">
									{{ "GENERAL.PRIORITY." + priority.key | translate }}
								</option>
							</select>
						</div>
					</div>
					<div class="col-md-12">
						<div class="col-md-5 padding-right-0">
							<label class="control-label" for=""
								>{{ "QUALITY_MANAGEMENT.ACTIONS" | translate }}:</label
							>
						</div>
						<div class="form-group col-md-7 padding-left-0">
							<input
								type="text"
								[(ngModel)]="interneIncidentInfo.actions"
								class="form-control"
								name="actions"
							/>
						</div>
					</div>

					<div class="col-md-12">
						<div class="col-md-5 padding-right-0">
							<label class="control-label" for=""
								>{{ "QUALITY_MANAGEMENT.ROOT_CAUSE_CATEGORY" | translate }}:</label
							>
						</div>

						 <div class="form-group col-md-7 padding-left-0">
							<ng-select
								name="rootCauseCategory"
								[multiple]="false"
								[items]="listRootCauseCategories"
								bindValue="code"
								bindLabel="key"
								[(ngModel)]="interneIncidentInfo.rootCauseCategory"
							>
							</ng-select>

						</div>
					</div>

					<div class="col-md-12">
						<div class="col-md-5 padding-right-0">
							<label class="control-label" for=""
								>{{ "QUALITY_MANAGEMENT.RESPONSIBLE" | translate }}:</label
							>
						</div>

						 <div class="form-group col-md-7 padding-left-0">
							<select
								name="rootCauseResponsable"
								[(ngModel)]="responsable"
								(change)="setResponsableValue()"
							>
								<option [ngValue]="null" >Other</option>
								<option *ngFor="let user of listResponsibles" [ngValue]="user.username">
									{{user.username}}
								</option>
							</select>

						</div>
					</div>

					<div class="col-md-12" *ngIf="displayResponsableInput">
						<div class="col-md-5 padding-right-0">
						</div>

						 <div class="form-group col-md-7 padding-left-0">
							<input
								type="text"
								[(ngModel)]="interneIncidentInfo.responsable"
								class="form-control"
								name="responsable"
							/>
						</div>
					</div>
				</div>

				<div class="col-md-7">
					<div class="row">
						<fieldset>
							<div class=" form-group col-md-12">
								<label class="control-label">{{ "GENERAL.DESCRIPTION" | translate }}</label>
								<div>
									<textarea
										class="form-control"
										rows="4"
										[(ngModel)]="interneIncidentInfo.insuranceComment"
									></textarea>
								</div>
							</div>
							<!-- <div class="form-group col-md-12">
                <label class="control-label">Third part comment</label>
                <div>
                  <textarea class="form-control" rows="2" [(ngModel)]="rootInfo.thirdPartyComment"></textarea>
                </div>
              </div> -->
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
