<!-- <div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">My Community</div>
        <div class="panel-body"> -->
<div class="content_wrapper">
	<div #panel3 class="panel panel-visible panel-table">
		<ngb-tabset>
			<ngb-tab title="My Contacts">
				<ng-template ngbTabContent>
					<app-my-contact></app-my-contact>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Contact Request">
				<ng-template ngbTabContent>
					<app-contact-request></app-contact-request>
				</ng-template>
			</ngb-tab>

			<ngb-tab title="Company's Contact">
				<ng-template ngbTabContent>
					Company Contact
				</ng-template>
			</ngb-tab>
			<ngb-tab title="New Contact" *ngIf="isChargeur">
				<ng-template ngbTabContent>
					<app-new-contact></app-new-contact>
				</ng-template>
			</ngb-tab>
			<ngb-tab [disabled]="true">
				<ng-template ngbTabTitle>
					<span class="panel-controls">
						<a (click)="panelCollapseTabs(panel3)" class="panel-control-collapse"></a>
						<a class="panel-control-fullscreen" href="#"></a>
					</span>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</div>
</div>
<!-- </div> -->
