.card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	padding: 0px;
	margin: 33px;
	overflow: hidden;
	width: 14% !important;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.card > ._container {
	padding: 2px 16px 10px 16px;
}

.card ._container.etablissement .row {
	padding: 0px 16px !important;
}

.card > .img-card {
	width: 100%;
}

.disabled-img {
	opacity: 0.4 !important;
}

.disabled-div {
	background-color: #cccccc82 !important;
}

.card .label {
	padding: 0.2em 0.4em 0.3em !important;
}
