.modal-backdrop {
	background-color: rgba(0, 0, 0, 0.4) !important;
}
::ng-deep .fc-ltr .fc-time-area .fc-chrono th {
	text-align: center !important;
}
::ng-deep body .fc th {
	background-color: #f4f4f4;
	border: 1px solid #c8c8c8;
	color: #333333;
	padding: 0 !important;
	text-align: center;
}
