<p-schedule
	[events]="events"
	[timezone]="timezone"
	[header]="headerConfig"
	(onEventDrop)="updateEvent($event)"
	(onEventResize)="updateEvent($event)"
	[options]="optionConfig"
	(onDayClick)="handleEventClick($event)"
	(onNavLinkDayClick)="linkDayClick($event, fc)"
	#fc
></p-schedule>

<!--  <ng-fullcalendar #fc [(eventsModel)]="events" [options]="optionConfig" (eventClick)="handleEventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
        (eventResize)="updateEvent($event.detail)" (clickButton)="handleEventClick($event.detail)"></ng-fullcalendar>  -->
<div
	*ngIf="ttEvent"
	class="modal modal-backdrop"
	tabindex="-1"
	role="dialog"
	style="display:block!important"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div>
				<form role="form" #EventForm="ngForm" novalidate>
					<div class="modal-header">New event</div>
					<div class="modal-body overflow-visible">
						<div class="row">
							<div class="form-group">
								<label class="col-md-5">Event</label>
								<div class="col-md-7">
									<input type="text" name="eventmodal" [(ngModel)]="eventmodal" />
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a (click)="confirmModalAddEvent()">
							<button class="btn btn-primary pull-right btn-sm mr5 modal_yes_btn">
								{{ "GENERAL.CONFIRM" | translate }}
							</button>
						</a>
						<a (click)="cancelModalAddEvent()">
							<button class="btn btn-danger pull-right btn-sm mr5 modal_no_btn">
								{{ "GENERAL.CANCEL" | translate }}
							</button>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
