<aside
	*ngIf="isLoggedInScalar"
	id="sidebar_left"
	class="closed animated fadeInLeft affix nano-light has-scrollbar sidebar-default"
>
	<!-- Start: Sidebar Left Content -->
	<div class="sidebar-left-content nano-content">
		<ul id="sidebar-menu" class="navb sidebar-menu liActionsLi">
			<li class="topshadow" id="" style="cursor: pointer">
				<a (click)="menuToggle($event)">
					<span [ngClass]="!openedSidebar ? 'fa-bars' : 'fa-arrow-left'" class="fa"></span>
					<!-- <span class="sidebar-title">Menu</span> -->
				</a>
			</li>
			<li class="liActions topshadow"></li>
			<li class="{{ makeActive('/accueil') }} border-bottom_trans visible-xs" title="Accueil">
				<a class="" routerLink="app/delivery-overview/order/dashboard">
					<span class="fa fa-home"></span>
					<span class="sidebar-title module-title-header">{{ "GENERAL.HOME" | translate }}</span>
				</a>
			</li>
			<li class="liActions topshadow"></li>
			<a id="dashboard" href="#"> </a>
			<li class="">
				<a id="alert-managment" routerLink="/app/user/settings/alerts">
					<span id="_home-page" class="fa fa-exclamation-circle" title="{{'GENERAL.ALERT'| translate}}"></span>
					<span class="sidebar-title">{{"GENERAL.ALERT"| translate}}</span>
				</a>
			</li>
			<!--//TODO MEP-ce bout de code devra être réactivé après MEP
			<li class="">
				<a class="cursor-pointer" (click)="toggleModelNote()">
					<span class="fa fa-bell" title="Notifications"></span>
					<span class="sidebar-title">Notifications</span>
				</a>
			</li>
			-->
			<li #linkDocuments (click)="toggleActive(linkDocuments)" class="cursor-pointer">
				<a id="user-guide">
					<span class="fa fa-file" title="Documents"></span>
					<span class="sidebar-title">{{ "SETTINGS.DOCUMENTS" | translate }}</span>
				</a>
				<ul class="submenu">
					<li
						routerLink="/app/compliance-matrix"
						class="{{ makeActive('/compliance-matrix') }}"
						*ngIf="hasAccess(Modules.COMPLIANCE_MATRIX)"
					>
						<a>
							<span>{{ "MODULES.COMPLIANCE_MATRIX" | translate }}</span>
						</a>
					</li>
				</ul>
			</li>

			<li class="{{ makeActive('/user/settings') }}">
				<a id="Settings" routerLink="/app/user/settings/account-settings">
					<span class="fa fa-cog" title="{{'ACL.THEME.SETTINGS' | translate }}"></span>
					<span class="sidebar-title">{{"ACL.THEME.SETTINGS" | translate }}</span>
				</a>
			</li>

			<!-- <li class="liActions liActionsSVGBadge">
				<a id="" href="/claims-management/detail" data-toggle="modal" style="cursor: pointer">
					<img src="../../../assets/images/icon-new-request.svg" class="mCS_img_loaded">
					<span class="sidebar-title padding-left-10-important">New incident</span>
				</a>
			</li> -->

			<li class="liActions topshadow"></li>

			<li class="liActions topshadow">
				<!-- <img src="../../../assets/images/ombre-bas.png" width="100%" style="margin-bottom: -15px;" class="mCS_img_loaded"> -->
			</li>
		</ul>
		<div id="quicknav">
			<ngb-tabset type="pills">
				<ngb-tab id="tab-history">
					<ng-template ngbTabTitle>
						<i (click)="toggleTab('tab-history')" class="fa fa-history"></i>
					</ng-template>
					<ng-template ngbTabContent>
						<app-history></app-history>
					</ng-template>
				</ngb-tab>
				<!--//TODO MEP-ce bout de code devra être réactivé après MEP 
				<ngb-tab id="tab-favori">
					<ng-template ngbTabTitle>
						<i (click)="toggleTab('tab-favori')" class="fa fa-star"></i>
					</ng-template>

					<ng-template ngbTabContent>
						<app-favori></app-favori>
					</ng-template>
				</ngb-tab>
				-->
				<ngb-tab id="tab-saved-search">
					<ng-template ngbTabTitle>
						<i (click)="toggleTab('tab-saved-search')" class="fa fa-search"></i>
					</ng-template>
					<ng-template ngbTabContent>
						<app-saved-search></app-saved-search>
					</ng-template>
				</ngb-tab>

				<ngb-tab id="tab-demandeprefere">
					<ng-template ngbTabTitle>
						<i (click)="toggleTab('tab-demandeprefere')" class="fa fa-list"></i>
					</ng-template>
					<ng-template ngbTabContent>
						<app-demandeprefere [savedSearchClicked]="savedSearchClickedEvent"></app-demandeprefere>
					</ng-template>
				</ngb-tab>
			</ngb-tabset>
		</div>
	</div>
</aside>
<div id="modal-notifications" *ngIf="showModelNote">
	<app-notifications></app-notifications>
</div>
