.sidebar-left-content,
#quicknav {
	// height: 100%;
}
#sidebar_left:not(.closed) {
	.topshadow {
		span.fa {
			float: right;
			transition: all 0.2s ease-in-out;
		}
		span.fa-arrow-left {
			padding-right: 5px;
		}
	}
}
// #sidebar_left {
//   li.border-bottom_trans {
//     border-bottom: 1px solid rgba(245, 245, 245, 0.11);
//   }
// }

#sidebar_left {
	position: relative;
}
