<div class="padding-top-5">
	<!-- Uncomment this code following code when reenable advanced search -->
	<!--
	<app-douane-declaration-search
		[module]="module"
		(onSearch)="search($event)"
	></app-douane-declaration-search>
	-->
	<app-douane-declaration-list
		[module]="module"
		[searchInput]="searchInput"
		*ngIf="userConnected != null && userConnected.ebUserNum != null"
	></app-douane-declaration-list>
</div>
