<div>
	<div *ngIf="title != null" class="modal-header">
		<h4 class="modal-title">{{ title }}</h4>
		<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss(0)">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>{{ message }}</p>
		<div class="form-group">
			<input type="text" [(ngModel)]="value" class="form-control" />
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" (click)="activeModal.dismiss(0)">Cancel</button>
		<button type="button" class="btn btn-primary" (click)="saveInput()">Save</button>
	</div>
</div>
