<div class="app-padding">
	<div class="panel panel-visible panel-table styled-tabs padding-top-10-important">
		<ngb-tabset class="first-tab" #tabset [justify]="true" md-selected="2" md-stretch-tabs="always">
			<ngb-tab
				*ngIf="hasAccess(Modules.CUSTOM)"
				title="{{ 'CUSTOM.DECLARATIONS' | translate }}"
				id="declarations"
			>
				<ng-template ngbTabContent>
					<app-douane-dashboard></app-douane-dashboard>
				</ng-template>
			</ngb-tab>
			<ngb-tab
				*ngIf="hasAccess(Modules.COMPTA_MATIERE)"
				title="{{ 'CPTM.TITLE' | translate }}"
				id="comptamatiere"
			>
				<ng-template ngbTabContent>
					<app-compta-matiere-dashboard></app-compta-matiere-dashboard>
				</ng-template>
			</ngb-tab>
			<ngb-tab [disabled]="true">
				<ng-template ngbTabTitle>
					<span class="panel-controls" class="hidden">
						<a class="panel-control-collapse"></a>
						<a class="panel-control-fullscreen" href="#"></a>
					</span>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</div>
</div>
