<div *ngIf="!isCategoriesLoaded" class="access-right-spinner">
	<i class="fa fa-5x fa-spinner fa-spin"></i>
</div>
<div *ngIf="isCategoriesLoaded" class="row">
	<label *ngFor="let action of listActionChoose" class="radio-inline">
		<input
			type="radio"
			name="orderActopn"
			[(ngModel)]="transfertUserObject.orders.action"
			(change)="affecteTransportAction()"
			[value]="action.code"
			[checked]="transfertUserObject.orders.action == action.code"
			title="{{ getTranslateByCode(action.libelle) }}"
		/>
		<span>{{ getTranslateByCode(action.libelle) }}</span>
	</label>
</div>
