<div class="form-root">
	<div class="content">
		<form class="" #referenceInformation="ngForm">
			<div class="row margin-bottom-15">
				<div class="col-md-12">
					<fieldset class="nofieldset">
						<legend>
							<p class="title color-gray-dark">
								{{ "PRICING_BOOKING.REFERENCE_INFORMATION" | translate }}
							</p>
						</legend>
						<div class="col-md-12  d-flex-ai-c generic-inputs__style ">
							<label class="areaLibelle  col-md-4 col-sm-12 col-xs-12"
								>{{ "PRICING_BOOKING.CUSTOMER_REFERENCE" | translate }}:
							</label>
							<div class="col-md-8 col-sm-12 col-xs-12  input-wrapper">
								<input
									type="text"
									name="customerReference"
									[(ngModel)]="demande.customerReference"
									placeholder="{{ 'TRACK_TRACE.CUSTOMER_REFERENCE' | translate }} ..."
									[disabled]="readOnly"
									maxlength="255"
								/>
								<span class="underline"></span>
							</div>
						</div>

						<div class="col-md-12   d-flex-ai-c generic-inputs__style ">
							<label class="areaLibelle  col-md-4 col-sm-12 col-xs-12"
								>{{ "PRICING_BOOKING.COST_CENTER" | translate }}:</label
							>
							<div class="col-md-8 col-sm-12 col-xs-12  input-wrapper">
								<app-autocomplete
									name="demande.xEbCostCenter"
									[(inputModel)]="demande.xEbCostCenter"
									[listItems]="listCostCenter"
									bindLabel="libelle"
									bindValue="ebCostCenterNum"
									[bindObject]="true"
									placeholder="{{ 'PRICING_BOOKING.SELECT_COST_CENTER' | translate }} ..."
									[disabled]="requiredReadOnly"
								></app-autocomplete>
							</div>
						</div>
					</fieldset>
				</div>
			</div>

			<div class="row margin-bottom-15">
				<div class="col-md-12">
					<fieldset>
						<legend>
							<p class="title color-gray-dark">
								{{ "PRICING_BOOKING.PARAMETRES_DEMANDE_COTATION" | translate }}
							</p>
						</legend>
						<div class="col-md-12  d-flex-ai-c generic-inputs__style ">
							<label class="areaLibelle  col-md-4 col-sm-12 col-xs-12 required"
								>{{ "PRICING_BOOKING.SERVICE_LEVEL" | translate }}:
							</label>

							<div class="col-md-8 col-sm-12 col-xs-12 input-wrapper">
								<select
									class="form-control"
									name="typeRequestselect"
									[(ngModel)]="demande.xEbTypeRequest"
									id="typeRequestselect"
									#typeRequestRef="ngModel"
									[disabled]="
										(demande.xEcStatut >= DemandeStatus.WPU && demande.ebDemandeNum) || readOnly
									"
									required
									(change)="selectchange($event)"
								>
									<option
										*ngFor="let item of listTypeDemandeByCompagnie"
										[ngValue]="item.ebTypeRequestNum"
									>
										{{ item.refLibelle }}
									</option>
								</select>
								<span class="underline"></span>
							</div>
						</div>
						<div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-4">
							<app-form-error-messages [NgModelRef]="typeRequestRef"></app-form-error-messages>
						</div>

						<div class="col-md-12  d-flex-ai-c generic-inputs__style flex-wrap">
							<label class="areaLibelle col-md-4 col-sm-12 col-xs-12 required"
								>{{ "PRICING_BOOKING.INVOICE_CURRENCY" | translate }}
							</label>
							<div class="col-md-8 col-sm-12 col-xs-12 " (click)="setInvoiceCurrencyBlur()">
								<app-autocomplete
									*ngIf="!demande.ebDemandeNum || !requiredReadOnly; else showCurrency"
									name="demande.xecCurrencyInvoice"
									[(inputModel)]="demande.xecCurrencyInvoice"
									[listItems]="listCurrencyDemande"
									bindLabel="codeLibelle"
									bindValue="ecCurrencyNum"
									[bindObject]="true"
									[isRequired]="true"
									placeholder="{{ 'PRICING_BOOKING.SELECTIONNER_DEVISE' | translate }} ..."
									[disabled]="requiredReadOnly"
								></app-autocomplete>
								<ng-template #showCurrency>
									<input
										type="text"
										value="{{ demande?.xecCurrencyInvoice?.code }}"
										[disabled]="requiredReadOnly || demande.ebDemandeNum"
									/>
								</ng-template>
							</div>
							<div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-4">
								<app-form-error-messages
									[ShowCondition]="invoiceCurrencyBlur && !demande.xecCurrencyInvoice"
								></app-form-error-messages>
							</div>
						</div>

						<div class="col-md-12  d-flex-ai-c generic-inputs__style ">
							<label class="areaLibelle col-md-4 col-sm-12 col-xs-12"
								>{{ "PRICING_BOOKING.INSURANCE" | translate }}:</label
							>
							<div class="col-md-8 col-sm-12 col-xs-12  input-wrapper">
								<div>
									<div class="col-md-6">
										<label class="upperCase">
											<p-radioButton
												name="insurance"
												[value]="true"
												#insuranceYes
												[(ngModel)]="demande.insurance"
												[disabled]="requiredReadOnly"
											></p-radioButton>
											{{ "GENERAL.YES" | translate }}
										</label>
									</div>
									<div class="col-md-6">
										<label class="upperCase">
											<p-radioButton
												name="insurance"
												[value]="false"
												(click)="setInsurance($event)"
												[(ngModel)]="demande.insurance"
												[disabled]="requiredReadOnly"
											></p-radioButton>
											{{ "GENERAL.NO" | translate }}
										</label>
									</div>
								</div>
							</div>
						</div>

						<div
							class="col-md-12  d-flex-ai-c generic-inputs__style "
							*ngIf="demande && demande.ebDemandeNum"
						>
							<label class="areaLibelle col-md-4 col-sm-12 col-xs-12"
								>{{ "PRICING_BOOKING.EXPORT_CONTROL.HEADER" | translate }}:</label
							>
							<div class="col-md-8 col-sm-12 col-xs-12  input-wrapper">
								<input
									type="text"
									name="exportControlStatut"
									[value]="exportControlSelectedValue | translate"
									[readOnly]="true"
								/>
								<span class="underline"></span>
							</div>
						</div>
						<div
							class="col-md-12  d-flex-ai-c generic-inputs__style flex-wrap"
							*ngIf="insuranceYes.checked"
						>
							<label class="areaLibelle col-md-4 col-sm-12 col-xs-12 required"
								>{{ "PRICING_BOOKING.INSSURANCE_VALUE" | translate }}:
							</label>
							<div class="col-md-8 col-sm-12 col-xs-12 ">
								<input
									[disabled]="!insuranceYes.checked || !!demande.ebDemandeNum || readOnly"
									[required]="insuranceYes.checked"
									type="number"
									step="0.01"
									min="0"
									#insuranceValueRef="ngModel"
									[(ngModel)]="demande.insuranceValue"
									placeholder="{{ 'PRICING_BOOKING.INSURANCE_VALUE' | translate }}"
									id="insuranceValue"
									name="insuranceValue"
									class="form-control padding-left-5"
								/>
							</div>
							<div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-4">
								<app-form-error-messages [NgModelRef]="insuranceValueRef"></app-form-error-messages>
							</div>
						</div>
						<div
							class="col-md-12  d-flex-ai-c generic-inputs__style flex-wrap"
							*ngIf="insuranceYes.checked"
						>
							<label class="areaLibelle col-md-4 col-sm-12 col-xs-12 required"
								>{{ "PRICING_BOOKING.INSSURANCE_CURRENCY" | translate }}:
							</label>
							<div class="col-md-8 col-sm-12 col-xs-12 " (click)="setInsuranceCurrencyBlur()">
								<app-autocomplete
									*ngIf="!demande.ebDemandeNum; else showInsuranceCurrency"
									name="demande.xecCurrencyInsurance"
									[(inputModel)]="demande.xecCurrencyInsurance"
									[listItems]="listCurrencyDemande"
									bindLabel="codeLibelle"
									bindValue="ecCurrencyNum"
									[bindObject]="true"
									[isRequired]="insuranceYes.checked"
									placeholder="{{ 'PRICING_BOOKING.SELECTIONNER_DEVISE' | translate }} ..."
									[disabled]="readOnly"
								></app-autocomplete>
								<ng-template #showInsuranceCurrency>
									<input type="text" value="{{ demande?.xecCurrencyInsurance?.code }}" />
								</ng-template>
							</div>
							<div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-4">
								<app-form-error-messages
									[ShowCondition]="insuranceCurrencyBlur && !demande?.xecCurrencyInsurance"
								></app-form-error-messages>
							</div>
						</div>
					</fieldset>
				</div>
			</div>

			<div
				class="row"
				[ngClass]="{
					'margin-bottom-15':
						(listCategorie != null && listCategorie.length > 0) ||
						(listFields && listFields.length > 0)
				}"
			>
				<div class="col-md-12">
					<fieldset
						*ngIf="
							(listCategorie != null && listCategorie.length > 0) ||
							(listFields && listFields.length > 0)
						"
						class="categorie_wrapper"
					>
						<legend>
							<p class="title color-gray-dark">
								{{ "QUALITY_MANAGEMENT.ROOT_CAUSE_CATEGORIE" | translate }}
							</p>
						</legend>

						<div class="row">
							<ng-container *ngFor="let categorie of listCategorie; let i = index">
								<ng-container *ngIf="!categorie.deleted">
									<div
										class="  col-md-12  d-flex-ai-fe generic-inputs__style case-sensitive"
										[attr.id]="i"
									>
										<label class="areaLibelle  col-md-4 col-sm-12 col-xs-12">
											{{ categorie.libelle }} :
										</label>
										<div class="col-md-8 col-sm-12 col-xs-12">
											<app-autocomplete
												name="categorie{{ i }}"
												[(inputModel)]="categorie.selectedLabel"
												[listItems]="categorie.labels"
												bindLabel="libelle"
												bindValue="ebLabelNum"
												[bindObject]="true"
												placeholder="{{ 'PRICING_BOOKING.SELECTIONNER_LABEL' | translate }} ..."
												[disabled]="readOnly"
											></app-autocomplete>
										</div>
									</div>
								</ng-container>
							</ng-container>
						</div>
					</fieldset>
				</div>

				<div class="col-md-12">
					<fieldset
						*ngIf="demande.listCustomsFields != null && demande.listCustomsFields.length > 0"
						class=" nofieldset params_wrapper"
					>
						<!-- <legend>
                          <h4 class="d-inline-block">{{'PRICING_BOOKING.CHAMPS_PARAMS'|translate}}</h4>
                      </legend> -->
						<div class="col-md-12">
							<div
								class="row"
								*ngIf="
									demande.listCustomsFields && demande.listCustomsFields.length > 0;
									else blockErrorCustomFields
								"
							>
								<div
									class="col-md-12  d-flex-ai-c generic-inputs__style case-sensitive"
									*ngFor="let field of demande.listCustomsFields"
								>
									<label class="areaLibelle col-md-4 col-sm-12 col-xs-12"
										>{{ field.label }}:</label
									>
									<div class="col-md-8 col-sm-12 col-xs-12">
										<input
											name="{{ field.name }}"
											type="text"
											[(ngModel)]="field.value"
											placeholder="{{ 'PRICING_BOOKING.VALUE' | translate }} ..."
											[disabled]="readOnly"
										/>
									</div>
								</div>
								<div
									class="col-md-12  d-flex-ai-c generic-inputs__style case-sensitive"
									*ngFor="let field of deletedCustomFields; let i = index"
								>
									<label class="areaLibelle col-md-4 col-sm-12 col-xs-12"
										>{{ field.label }}:</label
									>
									<div class="col-md-8 col-sm-12 col-xs-12">
										<input
											name="{{ field.name }}[i] "
											type="text"
											[(ngModel)]="field.value"
											[disabled]="true"
										/>
									</div>
								</div>
							</div>
							<ng-template #blockErrorCustomFields>
								<div class="text-center">
									<ng-container *ngIf="!demande.listCustomsFields">
										<i class="fa fa-spinner fa-spin fa-15x fa-fw" style="color:black"></i>
										<span> Loading fields...</span>
									</ng-container>
									<ng-container
										*ngIf="demande.listCustomsFields && !demande.listCustomsFields.length"
									>
										<span>No field found</span>
									</ng-container>
								</div>
							</ng-template>
						</div>
					</fieldset>
				</div>
			</div>

			<div
				class="row"
				[ngClass]="{ 'margin-bottom-15': optionInformationsComplementaires }"
				*ngIf="optionInformationsComplementaires"
			>
				<div class="col-md-12">
					<fieldset class="params_wrapper">
						<legend>
							<p class="title color-gray-dark">
								{{ "PRICING_BOOKING.INFORMATIONS_COMPLEMENTAIRES" | translate }}
							</p>
						</legend>
						<div class="col-md-12">
							<app-advanced-editor
								[(ngModel)]="demande.commentChargeur"
								name="demande.commentChargeur"
								[disabled]="readOnly"
							></app-advanced-editor>
						</div>
					</fieldset>
				</div>
			</div>

			<div
				class="row"
				[ngClass]="{ 'margin-bottom-15': optionShareMoreUsers || demande.ebDemandeNum }"
				*ngIf="optionShareMoreUsers || demande.ebDemandeNum"
			>
				<div class="col-md-12">
					<fieldset class="params_wrapper">
						<legend>
							<p class="title color-gray-dark">{{ "GENERAL.PEOPLE" | translate }}</p>
						</legend>
						<div class="col-md-12">
							<app-external-users
								#externalUsersComponent
								[(ebDemande)]="demande"
								[disabled]="readOnly"
							></app-external-users>
						</div>

						<!-- NE PAS EFFACER CE CODE COMMENTE AINSI QUE TOUT CODE ASSOCIE -->
						<!-- Utilisé dans Tala, masqué dans MTG -->
						<!-- Dans MTG on masque la section partenaires de transport affichée sur TALA -->
						<!--
					</fieldset>
				</div>
			</div>
			<div
				class="row"
				[ngClass]="{ 'margin-bottom-15': optionPartner || demande.ebDemandeNum }"
				*ngIf="optionPartner || demande.ebDemandeNum"
			>
				<div class="col-md-12">
					<fieldset class="params_wrapper">
						<legend>
							<p class="title color-gray-dark">{{ "GENERAL.TRANSPORT_PARTNERS" | translate }}</p>
						</legend>
					-->
						<!-- FIN Masquage bloc partenaire de transport utilisé dans Tala -->
						<div class="col-md-12">
							<app-external-user-partner
								#externalUserPartnerComponent
								[(ebDemande)]="demande"
								[disabled]="readOnly"
							></app-external-user-partner>
						</div>
					</fieldset>
				</div>
			</div>
		</form>
	</div>
	<div
		class="options"
		[ngClass]="{ 'show-options': optionsDisplayed && demande.xEcStatut != DemandeStatus.PND }"
	>
		<div class="options-content">
			<span class="title d-block  margin-bottom-10">{{
				"PRICING_BOOKING.FORM_OPTIONS" | translate
			}}</span>
			<div class="col-md-12  margin-bottom-5">
				<p-checkbox
					[disabled]="optionInformationsComplementaires"
					name="option_expected_informations_complementaires"
					[(ngModel)]="optionInformationsComplementaires"
					label="{{ 'PRICING_BOOKING.INFORMATIONS_COMPLEMENTAIRES' | translate }}"
					binary="true"
					(onChange)="showInformationsCompementaires($event)"
				></p-checkbox>
			</div>
			<div class="col-md-12 margin-bottom-5">
				<p-checkbox
					[disabled]="optionShareMoreUsers"
					name="optionShareMoreUsers"
					[(ngModel)]="optionShareMoreUsers"
					label="{{ 'PRICING_BOOKING.OPTIONS.SHARE_WITH_MORE_USERS' | translate }}"
					binary="true"
					(onChange)="showShareMoreUsers($event)"
				></p-checkbox>
			</div>
			<!-- NE PAS EFFACER CE CODE COMMENTE AINSI QUE TOUT CODE ASSOCIE -->
			<!-- Utilisé dans Tala, masqué dans MTG -->
			<!--
			<div class="col-md-12">
				<p-checkbox
					[disabled]="optionPartner"
					name="optionPartner"
					[(ngModel)]="optionPartner"
					label="{{ 'GENERAL.TRANSPORT_PARTNERS' | translate }}"
					binary="true"
					(onChange)="showPartner($event)"
				></p-checkbox>
			</div>
			-->
		</div>
	</div>
</div>
