<div class="margin-tb-10 ppanel-component-table">
	<app-generic-table
		#genericTable
		[hideTable]="isAddMode"
		[title]="'BOUTON_ACTION.TITLE' | translate"
		[searchInput]="searchCriteria"
		[dataInfos]="dataInfos"
		[detailsInfos]="null"
		(addFormEmitter)="displayAddBoutonAction($event)"
		(editFormEmitter)="displayEditBoutonAction($event)"
		(deleteEventEmitter)="deleteBoutonAction($event)"
		[component]="GenericTableScreen.BOUTON_ACTION"
		(onDataLoaded)="onDataLoaded($event)"
		[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
	>
		<form
			class="generic-default"
			formcontent
			*ngIf="isAddMode"
			role="form"
			#formCtrlAdminBoutonAction="ngForm"
		>
			<div style="padding: 30px;">
				<div class="form-content col-sm-12">
					<div class="row"></div>
				</div>
				<div class="form-content col-sm-12">
					<div class="row">
						<div class="col-md-6 new-formcontrol  ">
							<label class="areaLibelle text-right col-md-4">{{
								"BOUTON_ACTION.LIBELLE" | translate
							}}</label>
							<div class="col-md-8 padding-left-0-important padding-right-0-important">
								<input
									name="libelle"
									type="text"
									class="form-control input-underline input-xs"
									[(ngModel)]="ebBoutonAction.libelle"
									required
								/>
							</div>
						</div>

						<div class="col-md-6 new-formcontrol  ">
							<label class="areaLibelle text-right col-md-4">{{
								"BOUTON_ACTION.ICON" | translate
							}}</label>
							<div class="col-md-8 padding-left-0-important padding-right-0-important">
								<ng-select
									name="icon"
									[items]="listIconsCode"
									bindLabel="nom"
									placeholder="Select icon..."
									[(ngModel)]="ebBoutonAction.icon"
								>
									<ng-template ng-label-tmp let-item="item">
										<app-flag [iconCode]="item"></app-flag>
									</ng-template>
									<ng-template ng-option-tmp let-item="item">
										<span>
											<app-flag [iconCode]="item"></app-flag>
										</span>
									</ng-template>
								</ng-select>
							</div>
						</div>

						<div class="col-md-6 new-formcontrol  ">
							<label class="areaLibelle text-right col-md-4">{{
								"BOUTON_ACTION.COLOR" | translate
							}}</label>
							<div class="col-md-8 padding-left-0-important padding-right-0-important">
								<p-colorPicker name="color" [(ngModel)]="ebBoutonAction.color"></p-colorPicker>
							</div>
						</div>

						<div class="col-md-6 new-formcontrol  ">
							<label class="areaLibelle text-right col-md-4">{{
								"BOUTON_ACTION.ORDER" | translate
							}}</label>
							<div class="col-md-8 padding-left-0-important padding-right-0-important">
								<input
									name="ordre"
									type="number"
									class="form-control input-underline input-xs"
									[(ngModel)]="ebBoutonAction.ordre"
								/>
							</div>
						</div>

						<div class="col-md-6 new-formcontrol  ">
							<label class="areaLibelle text-right col-md-4">{{
								"BOUTON_ACTION.ACTION" | translate
							}}</label>
							<div class="col-md-8 padding-left-0-important padding-right-0-important">
								<select
									name="type"
									type="text"
									class="form-control input-underline input-xs"
									[(ngModel)]="ebBoutonAction.type"
									required
								>
									<option></option>
									<option *ngFor="let type of listBoutonAction" [ngValue]="type.libelle">{{
										type.libelle
									}}</option>
								</select>
							</div>
						</div>

						<div class="col-md-6 new-formcontrol">
							<label class="areaLibelle text-right col-md-4">{{
								"BOUTON_ACTION.ACTIVE" | translate
							}}</label>
							<div class="col-md-8 padding-left-0-important padding-right-0-important">
								<p-inputSwitch name="active" [(ngModel)]="ebBoutonAction.active"></p-inputSwitch>
							</div>
						</div>

						<div *ngIf="ebBoutonAction.type == 'New'" class="col-md-6 new-formcontrol ">
							<label class="areaLibelle text-right col-md-4">{{
								"BOUTON_ACTION.MODULE" | translate
							}}</label>
							<div class="col-md-8 padding-left-0-important padding-right-0-important">
								<select
									name="newAtion"
									(change)="onSelected()"
									type="text"
									class="form-control input-underline input-xs"
									[(ngModel)]="ebBoutonAction.module"
									required
								>
									<option></option>
									<option *ngFor="let type of listBoutonActionNewTarget" [ngValue]="type.libelle">{{
										type.libelle
									}}</option>
								</select>
							</div>
						</div>

						<div *ngIf="ebBoutonAction.type == 'Dashboard'" class="col-md-6 new-formcontrol">
							<label class="areaLibelle text-right col-md-4">{{
								"BOUTON_ACTION.DASBOARD" | translate
							}}</label>
							<div class="col-md-8 padding-left-0-important padding-right-0-important">
								<select
									name="newDashboard"
									(change)="onSelected()"
									type="text"
									class="form-control input-underline input-xs"
									[(ngModel)]="ebBoutonAction.module"
									required
								>
									<option></option>
									<option
										*ngFor="let type of listBoutonActionDashboardTarget"
										[ngValue]="type.libelle"
										>{{ type.libelle }}</option
									>
								</select>
							</div>
						</div>

						<div *ngIf="ebBoutonAction.type == 'Filter'" class="col-md-6 new-formcontrol">
							<label class="areaLibelle text-right col-md-4">{{
								"BOUTON_ACTION.FILTERS" | translate
							}}</label>
							<div class="col-md-8 padding-left-0-important padding-right-0-important">
								<select
									name="filtres"
									(change)="onSelected()"
									type="text"
									class="form-control input-underline input-xs"
									[(ngModel)]="ebBoutonAction.module"
									required
								>
									<option></option>
									<option *ngFor="let type of listFilters" [ngValue]="type.formName">{{
										type.formName
									}}</option>
								</select>
							</div>
						</div>

						<div *ngIf="ebBoutonAction.type == 'Masques'" class="col-md-6 new-formcontrol">
							<label class="areaLibelle text-right col-md-4">{{
								"BOUTON_ACTION.MASQUES" | translate
							}}</label>
							<div class="col-md-8 padding-left-0-important padding-right-0-important">
								<select
									name="masques"
									(change)="onSelected()"
									type="text"
									class="form-control input-underline input-xs"
									[(ngModel)]="ebBoutonAction.module"
									required
								>
									<option></option>
									<option *ngFor="let type of listMasques" [ngValue]="type.formName">{{
										type.formName
									}}</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="form-content col-sm-12 text-right">
					<div class="col-md-12 form-bottom-control">
						<button
							*ngIf="ebBoutonAction != null && ebBoutonAction.ebBoutonActionNum == null"
							class="btn btn-sm btn-success btn-shadow"
							[disabled]="!formCtrlAdminBoutonAction.valid"
							(click)="addBoutonAction()"
						>
							{{ "COMPANY_PROFILE.BTN_AJOUTER" | translate }}
						</button>
						<button
							*ngIf="ebBoutonAction != null && ebBoutonAction.ebBoutonActionNum != null"
							class="btn btn-sm btn-success btn-shadow"
							[disabled]="!formCtrlAdminBoutonAction.valid"
							(click)="editBoutonAction()"
						>
							{{ "COMPANY_PROFILE.BTN_MODIFIER" | translate }}
						</button>
						<button class="btn btn-sm btn-success btn-shadow" (click)="backToListBoutonAction()">
							{{ "GENERAL.CANCEL" | translate }}
						</button>
					</div>
				</div>
			</div>
		</form>
	</app-generic-table>
</div>
