<!-- FIX : Chrome autocomplete over ng-select -->
<input id="fixNotify1" class="hidden" hidden aria-hidden="true" />
<input id="fixNotify2" type="password" hidden aria-hidden="true" />
<!-- END FIX -->
<div class="form-root">
	<div class="content col-md-12">
		<div class="section row margin-right--14">
			<p class="title color-gray-dark">{{ "PRICING_BOOKING.SHIPMENT_DESC" | translate }}</p>
			<div class="col-md-12 col-xs-12 d-flex-ai-c generic-inputs__style">
				<label for="requestor" class="areaLibelle col-md-4 col-sm-12 col-xs-12 required"
					>{{ "PRICING_BOOKING.REQUESTOR" | translate }}:
				</label>
				<div class="col-md-8 col-sm-12 col-xs-12 input-wrapper padding-right-0">
					<ng-select
						name="selectedUserCt"
						class="selectedUserCt"
						[items]="listUserEtab"
						[multiple]="false"
						[typeahead]="typeaheadUserEvent"
						bindValue="ebUserNum"
						bindLabel="nom"
						placeholder="{{ 'PRICING_BOOKING.SELECT_USER' | translate }}"
						[(ngModel)]="selectedUserNum"
						#selectedUserNumRef="ngModel"
						(change)="handleSelectedUserChange($event)"
						[required]="!requiredReadOnly"
						[disabled]="isChargeur || requiredReadOnly"
					>
						<ng-template ng-label-tmp let-item="item">
							<span
								>{{ item.nom + (item.nom && item.prenom ? " " : "") + (item.prenom || "") }}
							</span>
						</ng-template>
						<ng-template ng-option-tmp let-item="item">
							<div class="d-block">
								<i class="fa fa-user color-primary"></i>
								<span class="ct-select_info">{{
									item.nom + (item.nom && item.prenom ? " " : "") + (item.prenom || "")
								}}</span>
							</div>
							<div class="d-block">
								<i class="fa fa-at color-primary"></i
								><span class="ct-select_info"> {{ item.email }}</span>
							</div>
						</ng-template>
					</ng-select>
					<span class="underline"></span>
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-4">
				<app-form-error-messages [NgModelRef]="selectedUserNumRef"></app-form-error-messages>
			</div>
			<!-- origin party adresse -->
			<div class="col-md-12 col-xs-12">
				<adresse-for-shipping
					#adresseForShippingComponent
					[ebDemande]="demande"
					[readOnly]="requiredReadOnly"
					[showAddressWrapper]="showAddressWrapperFrom"
					[showAddAddressBtn]="false"
					(showAddressPopup)="showAddressPopupHandle($event)"
					(onValidate)="getOriginParty($event)"
					[listCountry]="listCountry"
					[listZone]="listZone"
					[listEtablissementPlateform]="listEtablissementPlateform"
					[userConnected]="userConnected"
					[ebParty]="ebPartyOrigin"
					[fromOrTo]="from"
					(suggestionsEtablissement)="suggestionsEtablissementHandler($event)"
					(removeAddressEmit)="removeAddressOriginHandler($event)"
					(addAddressEmit)="addAddress($event)"
					[listMarchandises]="unitInfos?.listMarchandise"
					[isEditMode]="isEditMode"
				></adresse-for-shipping>
			</div>
			<!-- Dest party adresse -->
			<div class="col-md-12 col-xs-12">
				<adresse-for-shipping
					#adresseForShippingComponent
					[ebDemande]="demande"
					[readOnly]="requiredReadOnly"
					[showAddressWrapper]="showAddressWrapperTo"
					[showAddAddressBtn]="false"
					(showAddressPopup)="showAddressPopupHandle($event)"
					(onValidate)="getDestParty($event)"
					[listCountry]="listCountry"
					[listZone]="listZone"
					[listEtablissementPlateform]="listEtablissementPlateform"
					[userConnected]="userConnected"
					[ebParty]="ebPartyDest"
					[fromOrTo]="to"
					(suggestionsEtablissement)="suggestionsEtablissementHandler($event)"
					(removeAddressEmit)="removeAddressDestHandler($event)"
					(addAddressEmit)="addAddress($event)"
					[listMarchandises]="unitInfos?.listMarchandise"
					[isEditMode]="isEditMode"
				></adresse-for-shipping>
			</div>
			<!-- Notify party adresse -->
			<div *ngIf="optionNotifyParty" class="col-md-12 col-xs-12">
				<adresse-for-shipping
					#adresseForShippingComponent
					[ebDemande]="demande"
					[readOnly]="requiredReadOnly"
					[showAddressWrapper]="showAddressWrapperNotif"
					[showAddAddressBtn]="false"
					(showAddressPopup)="showAddressPopupHandle($event)"
					(onValidate)="getNotifyParty($event)"
					[listCountry]="listCountry"
					[listZone]="listZone"
					[listEtablissementPlateform]="listEtablissementPlateform"
					[userConnected]="userConnected"
					[ebParty]="ebPartyNotif"
					[fromOrTo]="notifyParty"
					(suggestionsEtablissement)="suggestionsEtablissementHandler($event)"
					(removeAddressEmit)="removeAddressNotifHandler($event)"
					[isRequired]="false"
					(addAddressEmit)="addAddress($event)"
					[listMarchandises]="unitInfos?.listMarchandise"
					[isEditMode]="isEditMode"
				></adresse-for-shipping>
			</div>
			<!-- Point intermediate adresse -->
			<div
				*ngIf="
					(optionPointIntermediate || (demande.ebDemandeNum && demande.pointIntermediate)) &&
					unitInfos
				"
				class="col-md-12 col-xs-12"
			>
				<adresse-for-shipping
					[ebDemande]="demande"
					[readOnly]="requiredReadOnly"
					[showAddressWrapper]="showAddressWrapperPI"
					[showAddAddressBtn]="showAddAddressBtnPI"
					(showAddressPopup)="showAddressPopupHandle($event)"
					(onValidate)="getPointIntermediate($event)"
					[listCountry]="listCountry"
					[listZone]="listZone"
					[listEtablissementPlateform]="listEtablissementPlateformPI"
					[userConnected]="userConnected"
					[ebParty]="pointIntermediate"
					[fromOrTo]="intermediatePoint"
					(suggestionsEtablissement)="suggestionsEtablissementHandler($event)"
					(removeAddressEmit)="removeAddressPIHandler($event)"
					[isRequired]="false"
					(addAddressEmit)="addAddress($event)"
					[listMarchandises]="unitInfos?.listMarchandise"
					[isEditMode]="isEditMode"
				></adresse-for-shipping>
			</div>
			<div class="col-md-12 col-xs-12 d-flex-ai-c generic-inputs__style">
				<label for="PSL" class="areaLibelle col-md-4 required"
					>{{ "PRICING_BOOKING.MODE_OF_TRANSPORT" | translate }}:
				</label>
				<div class="col-md-8">
					<p-selectButton
						class="mode-transport__buttons col-md-12 padding-0"
						[required]="true"
						#modeTransportRef="ngModel"
						[options]="listModeTransportItem"
						[(ngModel)]="demande.xEcModeTransport"
						[disabled]="requiredReadOnly"
						name="xEcModeTransport"
						(onChange)="selectListTypeFluxWhenModeOfTransportChange($event)"
					></p-selectButton>
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-4">
				<app-form-error-messages [NgModelRef]="modeTransportRef"></app-form-error-messages>
			</div>

			<div
				class="col-md-12 col-xs-12 d-flex-ai-c generic-inputs__style"
				*ngIf="
					demande.xEcModeTransport == ModeTransportEnum.AIR ||
					demande.xEcModeTransport == ModeTransportEnum.SEA ||
					demande.xEcModeTransport == ModeTransportEnum.ROAD
				"
			>
				<label class="col-md-4">{{ "REQUEST_OVERVIEW.CONSOLIDATION" | translate }} </label>
				<div class="col-md-8">
					<div class="col-md-12 new-formcontrol text-center">
						<div
							class="text-left"
							*ngIf="
								typeTransportAir &&
								typeTransportAir.length &&
								demande.xEcModeTransport == ModeTransportEnum.AIR
							"
						>
							<div
								class="d-inline-block padding-right-15"
								*ngFor="let itemAIR of typeTransportAir; let i = index"
							>
								<label class="upperCase">
									<p-radioButton
										name="itemAIR{{ i }}"
										[disabled]="requiredReadOnly"
										[required]="demande.xEcModeTransport == ModeTransportEnum.AIR"
										(click)="setTypeTransport(itemAIR.libelle)"
										[value]="itemAIR.ebTypeTransportNum"
										[(ngModel)]="demande.xEbTypeTransport"
									></p-radioButton>
									{{ itemAIR.libelle }}
								</label>
							</div>
						</div>
						<div
							class="text-left"
							*ngIf="
								typeTransportSea &&
								typeTransportSea.length &&
								demande.xEcModeTransport == ModeTransportEnum.SEA
							"
						>
							<div
								class="d-inline-block padding-right-15"
								*ngFor="let itemSEA of typeTransportSea; let i = index"
							>
								<label class="upperCase">
									<p-radioButton
										name="itemSEA{{ i }}"
										[disabled]="requiredReadOnly"
										[required]="demande.xEcModeTransport == ModeTransportEnum.SEA"
										(click)="setTypeTransport(itemSEA.libelle)"
										[value]="itemSEA.ebTypeTransportNum"
										[(ngModel)]="demande.xEbTypeTransport"
									></p-radioButton>
									{{ itemSEA.libelle }}
								</label>
							</div>
						</div>
						<div
							class="text-left"
							*ngIf="
								typeTransportRoad &&
								typeTransportRoad.length &&
								demande.xEcModeTransport == ModeTransportEnum.ROAD
							"
						>
							<div
								class="d-inline-block padding-right-15"
								*ngFor="let itemROAD of typeTransportRoad; let i = index"
							>
								<label class="upperCase">
									<p-radioButton
										name="itemROAD{{ i }}"
										[disabled]="requiredReadOnly"
										[required]="demande.xEcModeTransport == ModeTransportEnum.ROAD"
										(click)="setTypeTransport(itemROAD.libelle)"
										[value]="itemROAD.ebTypeTransportNum"
										[(ngModel)]="demande.xEbTypeTransport"
									></p-radioButton>
									{{ itemROAD.libelle }}
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12 d-flex-ai-fe generic-inputs__style" *ngIf="listTypeFlux.length != 0 || demande.xEbTypeFluxDesignation">
				<label for="xEc typeFlux" class="areaLibelle col-md-4 col-sm-12 col-xs-12 required">
					<span>{{ "TYPE_FLUX.TYPE_OF_FLUX" | translate }}</span>
					:
				</label>
				<div
					class="col-md-8 col-sm-12 col-xs-12 padding-right-0 input-wrapper"
				>
				<select
					*ngIf="requiredReadOnly && demande.xEbTypeFluxDesignation"
					class="form-control"
					[disabled]="requiredReadOnly"
					required
				>
					<option >
						{{ demande.xEbTypeFluxDesignation}}
					</option>
				</select>

				<div *ngIf="listTypeFlux.length != 0">
					<select
						*ngIf="!requiredReadOnly || !demande.xEbTypeFluxDesignation"
						class="form-control"
						name="typeFlux"
						#typeFluxRef="ngModel"
						[compareWith]="Statique.compareTypeFlux"
						[(ngModel)]="selectedTypeFlux"
						[disabled]="requiredReadOnly"
						required
						(change)="filterSchemaPslAndIncotermsViatypeOfFlux(selectedTypeFlux)"
					>
						<option [ngValue]="null"></option>
						<option *ngFor="let item of listTypeFluxFiltered" [ngValue]="item">
							{{ item.designation }}
						</option>
					</select>
				</div>

					<div class="col-md-8 col-xs-12 col-md-offset-4">
						<app-form-error-messages [NgModelRef]="typeFluxRef"></app-form-error-messages>
					</div>
				</div>
			</div>

			<div
				*ngIf="selectedTypeFlux && selectedTypeFlux.ebTypeFluxNum"
				class="col-md-12 generic-inputs__style"
			>
				<label for="xEc typeFlux" class="areaLibelle col-md-4 col-sm-12 col-xs-12 required"
					>{{ "PRICING_BOOKING.SCHEMA_PSL" | translate }}:
				</label>
				<div class="col-md-8 col-sm-12 col-xs-12 padding-right-0 input-wrapper">
					<div>
						<select
							class="form-control"
							name="ebSchemaPSl"
							#ebSchemaPSlRef="ngModel"
							[compareWith]="Statique.compareSchemaPsl"
							[(ngModel)]="demande.xEbSchemaPsl"
							[disabled]="requiredReadOnly"
							required
							(change)="selectConfigPsl(demande.xEbSchemaPsl)"
						>
							<option [ngValue]="null"></option>
							<option *ngFor="let item of listSchemaPslFiltered" [ngValue]="item">
								{{ item.designation }}
							</option>
						</select>
						<div class="col-md-8 col-xs-12 col-md-offset-4">
							<app-form-error-messages [NgModelRef]="ebSchemaPSlRef"></app-form-error-messages>
						</div>
					</div>
					<div
						*ngIf="selectedSchema.ebTtSchemaPslNum"
						style="margin-top: 10px;"
						class="col-md-12 col-xs-12 generic-accordion generic-inputs__style"
					>
						<p-accordion>
							<p-accordionTab
								class="accordion-form accordion-typeflux"
								header="PSL :"
								[selected]="false"
							>
								<div class="col-md-12 col-xs-12 generic-accordion  generic-inputs__style">
									<div class="col-md-12 padding-top-5 text-left" *ngIf="listPsl">
										<button
											class="btn btn-primary btn-xs padding-4 margin-bottom-5"
											(click)="selectConfigPsl(selectedSchema)"
											[disabled]="requiredReadOnly"
										>
											{{ "GENERAL.RESET" | translate }}
										</button>
									</div>
									<div class="col-md-12 d-flex-w checkbox-primeng padding-right-0">
										<div *ngFor="let item of listPsl; let i = index" class="padding-right-5">
											<div class="new-formcontrol">
												<p-checkbox
													[disabled]="requiredReadOnly"
													class="col-md-12 padding-0"
													name="psl{{ item.ebTtCompanyPslNum }}"
													[value]="item.ebTtCompanyPslNum"
													[(ngModel)]="item.isChecked"
													label="{{ item.libelle }}"
													binary="true"
												></p-checkbox>
											</div>
										</div>
									</div>
								</div>
							</p-accordionTab>
						</p-accordion>
					</div>
				</div>
			</div>

			<div class="col-md-12 d-flex-ai-fe generic-inputs__style">
				<label for="xEc Incoterm" class="areaLibelle col-md-4 col-sm-12 col-xs-12 required"
					>{{ "PRICING_BOOKING.INCOTERMS" | translate }}:
				</label>
				<div class="col-md-4 col-sm-12 col-xs-12 padding-right-0 input-wrapper padding-0">
					<select
						class="form-control"
						name="incoterms"
						#incoTermRef="ngModel"
						[compareWith]="Statique.compareIncoterm"
						[(ngModel)]="selectedIncoterm"
						(change)="selectIncoterm(selectedIncoterm)"
						[disabled]="requiredReadOnly"
					>
						<option [ngValue]="null"></option>
						<option *ngFor="let item of listIncotermsFiltered" [ngValue]="item">
							{{ item.libelle }}
						</option>
					</select>
					<div class="col-md-8 col-xs-12 col-md-offset-4">
						<app-form-error-messages [NgModelRef]="incoTermRef"></app-form-error-messages>
					</div>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12 padding-left-0  input-wrapper">
					<input
						id="city"
						name="city"
						type="text"
						class="form-control"
						[(ngModel)]="demande.city"
						placeholder="{{ 'PRICING_BOOKING.CITY' | translate }}"
						[disabled]="requiredReadOnly"
					/>
				</div>
			</div>
		</div>

		<div
			class="col-md-12 col-xs-12 d-flex-ai-c generic-inputs__style"
			*ngIf="optionEligibleForConsolidation || demande.ebDemandeNum"
		>
			<label class="areaLibelle col-md-4"
				>{{ "PRICING_BOOKING.OPTIONS.ELIGIBLE_FOR_CONSOLIDATION" | translate }} :
			</label>
			<div class="col-md-8">
				<app-autocomplete
					#autocomplete
					name="eligibleForConsolidation"
					[placeholder]="'PRICING_BOOKING.OPTIONS.ELIGIBLE_FOR_CONSOLIDATION' | translate"
					bindLabel="value"
					bindValue="key"
					[listItems]="Statique.yesOrNo"
					[(inputModel)]="demande.eligibleForConsolidation"
					[disabled]="requiredReadOnly"
				></app-autocomplete>
			</div>
		</div>

		<div class="section row margin-right--14">
			<p for="xEc Incoterm" class="title color-gray-dark">
				{{ "PRICING_BOOKING.REQUESTED_DATES" | translate }}
			</p>
			<div class="col-md-12 col-sm-12 col-xs-12 margin-top-15 d-flex-ai-c generic-inputs__style">
				<label class="areaLibelle col-md-4 col-sm-12 col-xs-12 required"
					>{{ "PRICING_BOOKING.DATE_GOODS_AVAILABILITY" | translate }}:
				</label>
				<div class="col-md-8 col-sm-12 col-xs-12 padding-right-0">
					<app-datetime-picker
						[timepicker]="true"
						name="demande.dateOfGoodsAvailability"
						[(ngModel)]="demande.dateOfGoodsAvailability"
						[disabled]="requiredReadOnly"
						[required]="true"
					></app-datetime-picker>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12 margin-top-15 d-flex-ai-c generic-inputs__style">
				<label class="areaLibelle col-md-4 col-sm-12 col-xs-12"
					>{{ "PRICING_BOOKING.DATE_ARRIVAL" | translate }}:
				</label>
				<div class="col-md-8 col-sm-12 col-xs-12 padding-right-0">
					<app-datetime-picker
						[timepicker]="true"
						name="demande.dateOfArrival"
						[required]="false"
						[(ngModel)]="demande.dateOfArrival"
						[disabled]="requiredReadOnly"
					>
					</app-datetime-picker>
				</div>
			</div>

			<div class="col-md-12 col-sm-12 col-xs-12 margin-top-15 d-flex-ai-c generic-inputs__style">
				<label class="areaLibelle col-md-4 col-sm-12 col-xs-12"
					>{{ "PRICING_BOOKING.CUSTOMER_CREATION_DATE" | translate }}:
				</label>
				<div class="col-md-8 col-sm-12 col-xs-12 padding-right-0">
					<app-datetime-picker
						[timepicker]="true"
						name="demande.customerCreationDate"
						[required]="false"
						[(ngModel)]="demande.customerCreationDate"
						[disabled]="requiredReadOnly"
					>
					</app-datetime-picker>
				</div>
			</div>
		</div>
	</div>

	<div class="options" [ngClass]="{ 'show-options': optionsDisplayed }">
		<div class="options-content">
			<span class="d-block title margin-bottom-10">{{
				"PRICING_BOOKING.FORM_OPTIONS" | translate
			}}</span>
			<div class="col-md-12 margin-bottom-5">
				<p-checkbox
					[disabled]="disableOptionNotifyParty"
					name="optionNotifyParty"
					[(ngModel)]="optionNotifyParty"
					label="{{ 'PRICING_BOOKING.OPTIONS.ADD_NOTIFY_PARTY' | translate }}"
					(onChange)="showNotifyAddress($event)"
					binary="true"
				></p-checkbox>
			</div>
			<div class="col-md-12 margin-bottom-5">
				<p-checkbox
					[disabled]="disableOptionPointIntermediate"
					name="optionPointIntermediate"
					[(ngModel)]="optionPointIntermediate"
					label="{{ 'PRICING_BOOKING.POINT_INTERMEDIATE' | translate }}"
					(onChange)="showPointIntermediate($event)"
					binary="true"
				></p-checkbox>
			</div>
			<div class="col-md-12 margin-bottom-5">
				<p-checkbox
					[disabled]="disableOptionEligibleForConsolidation"
					name="optionEligibleForConsolidation"
					[(ngModel)]="optionEligibleForConsolidation"
					label="{{ 'PRICING_BOOKING.OPTIONS.ELIGIBLE_FOR_CONSOLIDATION' | translate }}"
					binary="true"
				></p-checkbox>
			</div>
		</div>
	</div>

	<div class="options" [ngClass]="{ 'show-options': !optionsDisplayed && showAddressPopup }">
		<div class="options-content">
			<div *ngIf="isAddress">
				<div *ngIf="!showAddressFields">
					<div class="margin-bottom-5 padding-0">
						<label class="text-center title">{{
							"PRICING_BOOKING.SELECT_ADDRESS" | translate
						}}</label>
						<div class="new-adress__action-buttons">
							<i class="btn-icon fa fa-close cursor-pointer" (click)="hideAddressPopup()"></i>
						</div>
					</div>
					<div
						class="adresse-wrapper"
						*ngIf="
							suggestionsEtablissementList &&
							suggestionsEtablissementList.length > 0 &&
							(fromOrToAddressBloc == from ||
								fromOrToAddressBloc == to ||
								fromOrToAddressBloc == notifyParty ||
								fromOrToAddressBloc == intermediatePoint)
						"
					>
						<p-virtualScroller
							[value]="listAdressesVirtualScroller"
							scrollHeight="500px"
							itemSize="10"
							[rows]="sizeVirtualScroller"
							[totalRecords]="suggestionsEtablissementListCount"
							[lazy]="true"
							(onLazyLoad)="loadCarsLazy($event)"
						>
							<ng-template let-item pTemplate="item" let-i="index">
								<div
									class="col-md-12 card"
									[class.active]="selectedIndexFrom === i"
									(click)="getPartyAdress(item); activateClassFrom(i)"
									*ngIf="item"
								>
									<div>{{ item?.company }}</div>
									<div class="d-block">{{ item?.adresse }}</div>
									<div class="d-inline-block">{{ item?.city }}</div>
									<br />
									<div class="d-inline-block">{{ item?.xEcCountry?.libelle }}</div>
								</div>
							</ng-template>
						</p-virtualScroller>
					</div>
				</div>
				<div *ngIf="showAddressFields">
					<div class="margin-bottom-5 padding-0">
						<label class="text-center title"
							>{{ "PRICING_BOOKING.ADD_ADDRESS" | translate }}
						</label>
						<div class="new-adress__action-buttons">
							<i
								title="{{ 'PRICING_BOOKING.SAVE' | translate }}"
								class="btn-icon fa fa-floppy-o cursor-pointer"
								(click)="saveAddress($event, ebPartyAddAddress)"
								*ngIf="userConnected.superAdmin || userConnected.admin"
							></i>
							<i
								title="{{ 'PRICING_BOOKING.VALIDATE' | translate }}"
								class="btn-icon fa fa-check cursor-pointer"
								(click)="validateAddress(ebPartyAddAddress)"
							></i>
							<i
								title="{{ 'GENERAL.CLOSE' | translate }}"
								class="btn-icon fa fa-close cursor-pointer"
								(click)="hideAddressPopup()"
							></i>
						</div>
					</div>
					<div class="adresse-wrapper">
						<fieldset
							*ngIf="
								!(ebPartyAddAddress != null && ebPartyAddAddress.ebPartyNum != null) || isEditMode
							"
							[ngClass]="{ hidden: !showAddressFields }"
							class="nofieldset form-group  padding-top-5-important generic-inputs__style"
						>
							<div class="d-flex-ai-c col-md-12  new-formcontrol">
								<label
									for="ebDemande.ebPartyAddAddress.reference"
									class="col-md-4 col-sm-12 col-xs-12 areaLibelle"
									>{{ "REPOSITORY_MANAGEMENT.ADRESSE_REFERENCE" | translate }}:</label
								>
								<div class="col-md-8 col-sm-12 col-xs-12 padding-right-0 input-wrapper">
									<input
										name="ebPartyAddAddress.reference"
										class="form-control"
										type="text"
										[(ngModel)]="ebPartyAddAddress.reference"
										class="form-control"
									/>
								</div>
							</div>

							<div class="d-flex-ai-c col-md-12  new-formcontrol">
								<label
									for="ebDemande.ebPartyAddAddress.company"
									class="col-md-4 col-sm-12 col-xs-12 areaLibelle"
									>{{ "PRICING_BOOKING.COMPANY" | translate }}:</label
								>
								<div class="col-md-8 col-sm-12 col-xs-12 padding-right-0 input-wrapper">
									<input
										name="ebPartyAddAddress.company"
										class="form-control"
										type="text"
										class="form-control"
										[(ngModel)]="ebPartyAddAddress.company"
										aria-required="true"
									/>
								</div>
							</div>

							<div class="d-flex-ai-c col-md-12  new-formcontrol">
								<label class="col-md-4 col-sm-12 col-xs-12 areaLibelle"
									>{{ "PRICING_BOOKING.ADDRESS" | translate }}:</label
								>
								<div class="col-md-8 col-sm-12 col-xs-12 padding-right-0 input-wrapper">
									<input
										name="ebPartyAddAddress.adresse"
										type="text"
										class="form-control adress"
										[(ngModel)]="ebPartyAddAddress.adresse"
									/>
								</div>
							</div>
							<!--
								// l'attribut state n'existe pas dans ebParty, un merge qui ne s'est pas bien passé ?
								<div class="d-flex-ai-c col-md-12  new-formcontrol">
								<label class="col-md-4 col-sm-12 col-xs-12 areaLibelle"
									>{{ "REPOSITORY_MANAGEMENT.STATE" | translate }} :</label
								>
								<div class="col-md-8 col-sm-12 col-xs-12 padding-right-0 input-wrapper">
									<input
										name="ebPartyAddAddress.state"
										type="text"
										class="form-control "
										[(ngModel)]="ebPartyAddAddress.state"
										[disabled]="ebPartyAddAddress.ebPartyNum != null && !isPendingStatus"
									/>
								</div>
							</div> -->

							<div class="d-flex-ai-c col-md-12  new-formcontrol">
								<label
									for="ebPartyAddAddress.city"
									class="col-md-4 col-sm-12 col-xs-12areaLibelle required"
									>{{ "PRICING_BOOKING.CITY" | translate }}:
								</label>
								<div class="col-md-8 col-sm-12 col-xs-12 padding-right-0 input-wrapper">
									<input
										name="ebPartyAddAddress.city"
										type="text"
										class="form-control"
										required
										#ebPartyCityRef="ngModel"
										[(ngModel)]="ebPartyAddAddress.city"
										aria-required="true"
									/>
								</div>
							</div>
							<div class="d-flex-ai-c col-md-12  new-formcontrol">
								<div
									class="col-md-8 col-sm-12 col-xs-12 padding-right-0 input-wrapper col-md-offset-4"
								>
									<app-form-error-messages [NgModelRef]="ebPartyCityRef"></app-form-error-messages>
								</div>
							</div>
							
							<div class="d-flex-ai-c col-md-12  new-formcontrol">
								<label
									for="ebPartyAddAddress.zipCode"
									class="col-md-4 col-sm-12 col-xs-12areaLibelle"
									>{{ "PRICING_BOOKING.ZIP_CODE" | translate }}:</label
								>
								<div class="col-md-8 col-sm-12 col-xs-12 padding-right-0 input-wrapper">
									<input
										name="ebPartyAddAddress.zipCode"
										type="text"
										class="form-control"
										[(ngModel)]="ebPartyAddAddress.zipCode"
									/>
								</div>
							</div>
							<div class="d-flex-ai-c col-md-12  new-formcontrol">
								<label
									for="ebPartyAddAddress.xEcCountry"
									class="areaLibelle col-md-4 col-sm-12 col-xs-12 required"
									>{{ "PRICING_BOOKING.COUNTRY" | translate }}:
								</label>
								<div class="col-md-8 col-sm-12 col-xs-12 padding-right-0 input-wrapper">
									<ng-select
										[items]="listCountry"
										class="form-control"
										[compareWith]="compareCountry"
										name="ebPartyAddAddress.xEcCountry"
										[(ngModel)]="ebPartyAddAddress.xEcCountry"
										bindLabel="libelleCode"
										required
										#ebPartyCountryRef="ngModel"
									>
										<ng-template ng-option-tmp let-item="item">
											<div class="d-flex-ai-c d-flex-jc-sb">
												<span>{{ item.libelle }}</span>
												<span>{{ item.code }}</span>
											</div>
										</ng-template>
									</ng-select>
								</div>
							</div>
							<div class="d-flex-ai-c col-md-12  new-formcontrol">
								<div
									class="col-md-8 col-sm-12 col-xs-12 padding-right-0 input-wrapper col-md-offset-4"
								>
									<app-form-error-messages
										[NgModelRef]="ebPartyCountryRef"
									></app-form-error-messages>
								</div>
							</div>

							<div class="d-flex-ai-c col-md-12 new-formcontrol">
								<label for="ebPartyAddAddress.zone" class="areaLibelle col-md-4 col-sm-12 col-xs-12"
									>{{ "PRICING_BOOKING.ZONE" | translate }}:</label
								>
								<div class="col-md-8 col-sm-12 col-xs-12 padding-right-0 input-wrapper">
									<select
										class="form-control"
										name="ebPartyAddAddress"
										[compareWith]="compareZone"
										[disabled]="ebPartyAddAddress.ebPartyNum != null"
										[(ngModel)]="ebPartyAddAddress.zone"
									>
										<option [ngValue]="null"></option>
										<option *ngFor="let aZone of listZone" [ngValue]="aZone">{{
											getZoneDisplayString(aZone)
										}}</option>
									</select>
								</div>
							</div>

							<div
								class="d-flex-ai-c col-md-12  new-formcontrol"
								*ngIf="ebPartyAddAddress.ebPartyNum != null"
							>
								<input
									type="text"
									class="form-control"
									name="ebPartyAddAddress.zone"
									[disabled]="true"
									[value]="getZoneBackupDisplayString(ebPartyAddAddress)"
								/>
							</div>

							<div class="d-flex-ai-c col-md-12  new-formcontrol">
								<label
									for="ebPartyAddAddress.openingHours"
									class="areaLibelle col-md-4 col-sm-12 col-xs-12"
									>{{ "PRICING_BOOKING.OPENING_HOURS" | translate }} :</label
								>
								<div class="col-md-8 col-sm-12 col-xs-12 padding-right-0 input-wrapper">
									<input
										type="text"
										class="form-control"
										name="ebPartyAddAddress.openingHours"
										[(ngModel)]="ebPartyAddAddress.openingHours"
									/>
								</div>
							</div>

							<div class="d-flex-ai-c col-md-12  new-formcontrol">
								<label
									for="ebPartyAddAddress.airport"
									class="areaLibelle col-md-4 col-sm-12 col-xs-12"
									>{{ "PRICING_BOOKING.AIRPORT" | translate }} :</label
								>
								<div class="col-md-8 col-sm-12 col-xs-12 padding-right-0 input-wrapper">
									<input
										name="ebPartyAddAddress.airport"
										type="text"
										class="form-control"
										[(ngModel)]="ebPartyAddAddress.airport"
									/>
								</div>
							</div>

							<div class="d-flex-ai-c col-md-12  new-formcontrol">
								<label
									for="ebPartyAddAddress.commentaire"
									class="areaLibelle col-md-4 col-sm-12 col-xs-12"
									>{{ "PRICING_BOOKING.ADDRESS_COMMENT" | translate }} :</label
								>
								<div class="col-md-8 col-sm-12 col-xs-12 padding-right-0 input-wrapper">
									<input
										name="ebPartyAddAddress.commentaire"
										type="text"
										class="form-control adress"
										[(ngModel)]="ebPartyAddAddress.commentaire"
									/>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
			<div *ngIf="!isAddress && !showAddressFields">
				<div class="margin-bottom-5 padding-0">
					<label class="text-center">{{ "PRICING_BOOKING.SELECT_WARHOUSE" | translate }}</label>
					<i class="btn-icon fa fa-close cursor-pointer" (click)="hideAddressPopup()"></i>
				</div>
				<div class="adresse-wrapper" *ngIf="fromOrToAddressBloc == 'Unloading warehouse'">
					<div
						class="col-md-12 card"
						[class.active]="selectedIndexFrom === i"
						(click)="getUnloadingWarehouse(item); activateClassFrom(i)"
						*ngFor="let item of suggestionsWarehouseList; let i = index"
					>
						<div class="d-block">{{ item.reference }}</div>
						<div class="d-inline-block">{{ item.libelle }}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
