@import "../../../../../../shared/creation-form-step-base/creation-form-step-base.component.scss";

.step-transport {
	::ng-deep .ui-selectbutton {
		margin-left: 0px !important;
	}
}
::ng-deep .mode-transport__buttons {
	.ui-selectbutton {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-left: 0 !important;
	}
	.ui-button {
		padding: 4px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: row wrap;
		margin-bottom: 4px;
		width: 20%;
		span {
			position: relative;
			top: initial;
			margin-top: 0;
			height: auto;
			width: 100%;
			left: initial;
			transition: all 0.2s ease-in-out;
		}
		span.fa {
			font-size: 26px;
		}
		&.ui-button-text-icon-left {
			.ui-button-text {
				padding: 2px !important;
			}
		}
		&:not(:first-child) {
			margin-left: 8px !important;
		}
	}
	&.ng-invalid[required]:not(form) {
		border: none;
		.ui-button {
			border: 1px solid #ececec !important;
		}
	}
	&.ng-valid {
		border: none;
		.ui-button {
			border: 1px solid #ececec !important;
		}
	}
}

.form-control:not(textarea) {
	height: 28px !important;
	padding: 3px 12px !important;
}

.text-bold {
	font-weight: bold;
}

.adresse-wrapper {
	.card {
		background: #fff;
		border-radius: 4px;
		margin-bottom: 5px;
		padding: 5px;
		font-size: $fz-sm;
		border: 1px solid $gray-medium;
		transition: all 0.2s ease-in-out;
		cursor: pointer;
		&:hover {
			box-shadow: 0 0 5px -2px #000;
		}
		&.active {
			border: 2px solid #bab6b6;
			box-shadow: 0 0 5px -2px #000;
		}
	}
}

.options {
	.new-adress__action-buttons {
		position: absolute;
		top: 5px;
		right: 0;
		i.fa {
			padding: 0 !important;
			margin: 4px;
			&.invalid-adress {
				pointer-events: none;
				color: $gray-box-shadow !important;
			}
		}
	}
}
