<form #formcustomDeclaration="ngForm" novalidate>
	<div *ngFor="let field of listformFieldTrier; let i = index">
		<!-- la condition sur "Drop down list repository" est temporaire pour éviter d'avoir une ligne vide puisque je ne comprends pas pourquoi ce type de liste est n'existe pas -->
		<div
			class="col-md-{{ column ? column : '6' }} padding-0 form-group generic-inputs__style"
			*ngIf="field.xEbFormType.ebFormTypeName != 'Drop down list repository'"
			[ngClass]="field.xEbFormType.ebFormTypeName == 'Textarea' ? 'd-flex-ai-fs' : 'd-flex-ai-c'"
		>
			<label for="PSL" class="control-label col-md-4">
				{{ "CUSTOM." + field.translate | translate }} :
			</label>
			<div class="col-md-8">
				<input
					*ngIf="
						(field.xEbFormType.ebFormTypeName == 'Alphanumeric' ||
							field.xEbFormType.ebFormTypeName == 'Manually typed') &&
						field.valueAvailable != 'number'
					"
					[(ngModel)]="declaration[field.motTechnique]"
					class="form-control"
					type="text"
					name="field.name{{ i }}"
					[disabled]="declaration.ebCustomDeclarationNum != null"
					[required]="field.required"
				/>
				<input
					*ngIf="
						(field.xEbFormType.ebFormTypeName == 'Alphanumeric' ||
							field.xEbFormType.ebFormTypeName == 'Manually typed') &&
						field.valueAvailable == 'number'
					"
					[(ngModel)]="declaration[field.motTechnique]"
					class="form-control"
					type="number"
					name="field.name{{ i }}"
					[disabled]="declaration.ebCustomDeclarationNum != null"
					[required]="field.required"
				/>
				<input
					*ngIf="field.xEbFormType.ebFormTypeName == 'Automatic'"
					[(ngModel)]="declaration[field.motTechnique]"
					class="form-control"
					type="number"
					name="field.name{{ i }}"
					disabled
				/>
				<!--  	<select *ngIf="((field.xEbFormType.ebFormTypeName == 'Drop down list static')||(field.xEbFormType.ebFormTypeName == 'Drop down list repository'))"  [(ngModel)]="declaration[field.motTechnique]" name="field.name{{i}}" [disabled]="declaration.ebCustomDeclarationNum != null">
									<option value="2" [selected]="2" ngDefaultControl>2</option>
								</select> -->

				<select
					class="form-control"
					*ngIf="field.xEbFormType.ebFormTypeName == 'Pays'"
					name="field.name{{ i }}"
					[(ngModel)]="declaration[field.motTechnique]"
					[disabled]="declaration.ebCustomDeclarationNum != null"
				>
					<option *ngFor="let country of listCountry" [ngValue]="country">{{
						country.codeLibelle
					}}</option>
				</select>

				<select
					class="form-control"
					*ngIf="field.xEbFormType.ebFormTypeName == 'Currency'"
					name="field.name{{ i }}"
					[(ngModel)]="declaration[field.motTechnique]"
					[disabled]="declaration.ebCustomDeclarationNum != null"
				>
					<option *ngFor="let currency of listCurrency" [ngValue]="currency">{{
						currency.codeLibelle
					}}</option>
				</select>

				<div *ngIf="field.xEbFormType.ebFormTypeName == 'Date'">
					<app-datetime-picker
						#datetimepicker
						[(ngModel)]="declaration[field.motTechnique]"
						name="field.name{{ i }}"
						[placeholder]="field.placeholder"
						[disabled]="declaration.ebCustomDeclarationNum != null"
						[required]="field.required"
					></app-datetime-picker>
				</div>

				<div *ngIf="field.xEbFormType.ebFormTypeName == 'Drop down list static'">
					<app-select-option-custom
						[name]="field.name"
						[listItems]="field.listItems"
						[defaultValue]="field.default | json"
						[sMultiple]="field.multiple"
						[placeholder]="field.placeholder"
						[srcTypeahead]="field.srcTypeahead"
						[srcListItems]="field.srcListItems"
						[fetchAttribute]="field.fetchAttribute"
						[fetchValue]="field.fetchValue"
						[groupByAttr]="field.groupByAttr"
						[fetchGroupByAttribute]="field.fetchGroupByAttribute"
						[valueOfModel]="field.motTechnique"
						[declaration]="declaration"
						[indice]="i"
						[required]="field.required"
					></app-select-option-custom>
				</div>

				<textarea
					*ngIf="field.xEbFormType.ebFormTypeName == 'Textarea'"
					[(ngModel)]="declaration[field.motTechnique]"
					class="form-control"
					type="text"
					name="field.name{{ i }}"
					[disabled]="declaration.ebCustomDeclarationNum != null"
				>
				</textarea>
			</div>
		</div>
	</div>
</form>
