<form role="form" #form="ngForm" novalidate class="generic-default" 
class="col-md-12 form-mappingcodepsl__wrapper padding-10">
<div class="row">
<div class="col-md-12">
    
    <div class="padding-bottom-10 d-flex-ai-c padding-right-0 generic-inputs__style col-md-6 col-sm-12 col-xs-12">
            <label class="areaLibelle required col-md-3 col-sm-12 col-xs-12 padding-top-5 padding-bottom-5">
                {{ "SETTINGS.CODE_PSL_NORMALISE" | translate }}</label>
            <div class="col-md-9 col-sm-12 col-xs-12 input-wrapper padding-right-0">
                <input
                    type="text"
                    [(ngModel)]="mappingCodePsl.codePslNormalise"
                    name="codePslNormalise"
                    class="form-control"
                    required
                />
            </div>
    </div>

    <div class="padding-bottom-10 d-flex-ai-c padding-right-0 generic-inputs__style col-md-6 col-sm-12 col-xs-12">
        <label class="areaLibelle required col-md-3 col-sm-12 col-xs-12 padding-top-5 padding-bottom-5">
            {{ "SETTINGS.CODE_PSL_TRANSPORTEUR" | translate }}</label>
        <div class="col-md-9 col-sm-12 col-xs-12 input-wrapper padding-right-0">
            <input
                type="text"
                [(ngModel)]="mappingCodePsl.codePslTransporteur"
                name="codePslTransporteur"
                class="form-control"
                required
            />
        </div>
</div>

<div class="padding-bottom-10 d-flex-ai-c padding-right-0 generic-inputs__style col-md-6 col-sm-12 col-xs-12">
    <label class="areaLibelle required col-md-3 col-sm-12 col-xs-12 padding-top-5 padding-bottom-5">
            {{ "SETTINGS.TYPE_OF_EVENT" | translate }}</label>
    <div class="col-md-9 col-sm-12 col-xs-12 input-wrapper padding-right-0">
        <select class="form-control" 
        name="typeEvent" 
        [(ngModel)]="mappingCodePsl.typeEvent" 
        required>
            <option [ngValue]="TypeOfEvent.EVENT"
                >{{ "TRACK_TRACE.NEW_EVENT" | translate }}
            </option>
            <option [ngValue]="TypeOfEvent.INCIDENT">{{
                "TRACK_TRACE.NEW_INCIDENT" | translate
            }}</option>
            <option [ngValue]="TypeOfEvent.UNCONFORMITY">{{
                "TRACK_TRACE.UNCONFORMITY" | translate
            }}</option>
        </select>
    </div>
</div>

<div class="padding-bottom-10 d-flex-ai-c padding-right-0 generic-inputs__style col-md-6 col-sm-12 col-xs-12">
    <label class="areaLibelle required col-md-3 col-sm-12 col-xs-12 padding-top-5 padding-bottom-5">
        {{ "SETTINGS.CODE_CAMPAGNE" | translate }}</label>
    <div class="col-md-9 col-sm-12 col-xs-12 input-wrapper padding-right-0">
        <ng-select
            [multiple]="false"
            placeholder="select shipper"
            name="xEbCompany"
            [(ngModel)]="mappingCodePsl.xEbCompany"
            [compareWith]="Statique.byEbCompagnieNum"
            required
        >
            <ng-option *ngFor="let comp of listShipper" [value]="comp">{{
                comp.nom
            }}</ng-option>
         </ng-select>
    </div>
</div>

<div class="padding-bottom-10 d-flex-ai-c padding-right-0 generic-inputs__style col-md-6 col-sm-12 col-xs-12">
    <label class="areaLibelle required col-md-3 col-sm-12 col-xs-12 padding-top-5 padding-bottom-5">
        {{ "SETTINGS.CODE_CAMPAGNE_TRANSPORTEUR" | translate }}</label>
    <div class="col-md-9 col-sm-12 col-xs-12 input-wrapper padding-right-0">
        <ng-select
            [multiple]="false"
            placeholder="select carrier"
            name="xEbCompanyTransporteur"
            [(ngModel)]="mappingCodePsl.xEbCompanyTransporteur"
            [compareWith]="Statique.byEbCompagnieNum"
            required
        >
            <ng-option *ngFor="let comp of listCarrier" [value]="comp">{{
                comp.nom
            }}</ng-option>
         </ng-select>
    </div>
</div>

<div class="padding-bottom-10 d-flex-ai-c padding-right-0 generic-inputs__style col-md-6 col-sm-12 col-xs-12">
    <label class="areaLibelle col-md-3 col-sm-12 col-xs-12 padding-top-5 padding-bottom-5">
        {{ "SETTINGS.DEVIATION_CATEGO" | translate }}</label>
    <div class="col-md-9 col-sm-12 col-xs-12 input-wrapper padding-right-0">
        <ng-select  
            class="form-control" 
            [items]="listCategorieDeviation"
            [multiple]="false"
            bindLabel="libelle"
            placeholder="select deviation category"
            name="xEbCategorieDeviation"
            [(ngModel)]="mappingCodePsl.xEbCategorieDeviation"
        >
        </ng-select>
    </div>
</div>

<div class="padding-bottom-10 d-flex-ai-c padding-right-0 generic-inputs__style col-md-6 col-sm-12 col-xs-12">
    <label class="areaLibelle col-md-3 col-sm-12 col-xs-12 padding-top-5 padding-bottom-5">
        {{ "SETTINGS.NUM_CODE_RAISON" | translate }}</label>
    <div class="col-md-9 col-sm-12 col-xs-12 input-wrapper padding-right-0">
        <input
            class="form-control" 
            type="number"
            [(ngModel)]="mappingCodePsl.numCodeRaison"
            name="numCodeRaison"
        />
    </div>
</div>

<div class="padding-bottom-10 d-flex-ai-c padding-right-0 generic-inputs__style col-md-6 col-sm-12 col-xs-12">
    <label class="areaLibelle col-md-3 col-sm-12 col-xs-12 padding-top-5 padding-bottom-5">
        {{ "SETTINGS.CODE_PSL_TRANSPORTEUR_DESCRIPTIF" | translate }}</label>
    <div class="col-md-9 col-sm-12 col-xs-12 input-wrapper padding-right-0">
        <input
            class="form-control" 
            type="text"
            [(ngModel)]="mappingCodePsl.codePslTransporteurDescriptif"
            name="codePslTransporteurDescriptif"
        />
    </div>
</div>

<div class="padding-bottom-10 d-flex-ai-c padding-right-0 generic-inputs__style col-md-6 col-sm-12 col-xs-12">
    <label class="areaLibelle col-md-3 col-sm-12 col-xs-12 padding-top-5 padding-bottom-5">
        {{ "SETTINGS.CODE_RAISON" | translate }}</label>
    <div class="col-md-9 col-sm-12 col-xs-12 input-wrapper padding-right-0">
        <input
            class="form-control" 
            type="text"
            [(ngModel)]="mappingCodePsl.codeRaison"
            name="codeRaison"
        />
    </div>
</div>

<div class="padding-bottom-10 d-flex-ai-c padding-right-0 generic-inputs__style col-md-6 col-sm-12 col-xs-12">
    <label class="areaLibelle col-md-3 col-sm-12 col-xs-12 padding-top-5 padding-bottom-5">
        {{ "SETTINGS.CODE_RAISON_DESCRIPTIF" | translate }}</label>
    <div class="col-md-9 col-sm-12 col-xs-12 input-wrapper padding-right-0">
        <input
            class="form-control" 
            type="text"
            [(ngModel)]="mappingCodePsl.codeRaisonDescriptif"
            name="codeRaisonDescriptif"
        />
    </div>
</div>

</div>
</div> 
 
    <div class="form-content col-sm-12 text-right margin-bottom-20 margin-top-20">
        <div class="col-md-12">
            <button
                *ngIf="mappingCodePsl.ediMapPslNum == null"
                class="btn btn-sm btn-success btn-shadow"
                [disabled]="!form.valid"
                (click)="addMappingCodePsl()"
            >
                {{ "COMPANY_PROFILE.BTN_AJOUTER" | translate }}
            </button>
            <button
                *ngIf="mappingCodePsl.ediMapPslNum != null"
                class="btn btn-sm btn-success btn-shadow"
                [disabled]="!form.valid"
                (click)="editMappingCodePsl($event)"
            >
                {{ "COMPANY_PROFILE.BTN_MODIFIER" | translate }}
            </button>
            <button class="btn btn-sm btn-success btn-shadow" (click)="backToListZone()">
                {{ "GENERAL.CANCEL" | translate }}
            </button>
        </div>
    </div>
</form>