/******** VARIABLES ********/

@import "../../../../styles/variables";

.tag-list-wrapper {
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	height: auto;
	align-items: center;
	transition: all 0.2s ease-in-out;
}

.btn-edit-tags {
	opacity: 0;
	visibility: hidden;
	cursor: none;
}

::ng-deep .tag-edit-wrapper {
	flex-flow: row nowrap;
	.tag-edit-button-wrapper {
		flex-flow: row;
	}
	button {
		margin-left: 0px;
		padding: 0px 2px;
		width: 20px;
		height: 20px;
		line-height: 0;
	}
	i {
		font-size: $fz-sm;
	}
	.ng-select {
		width: auto !important;
	}
}

.tag-element {
	margin: 0 5px 2px 0;
	border-radius: 4px;
	border: 1px solid $primary-color;
	color: $gray-dark;
	padding: 1px 3px;
	cursor: pointer;
}

.btn-icone {
	box-shadow: none !important;
	border: none !important;
}

.comment-wrapper {
	border-color: transparent;
	color: $gray-dark;
	transition: all 0.2s ease-in-out;
	textarea:not(.comment-value),
	.comment-edit-btn-wrapper {
		opacity: 0;
		visibility: hidden;
		transition: all 0.2s ease-in-out;
		resize: none;
	}
	textarea.comment-value {
		border-color: transparent;
		box-shadow: none;
		resize: none;
	}
}
