<div class="d-flex-jc-fs flex-no-w d-flex-ai-fs" *ngIf="tagsEdit">
	<div *ngIf="!isInEditMode" class="width-100-percent tag-list-wrapper d-inline-block d-flex">
		<ng-container *ngFor="let tag of listTagArray">
			<div class="tag-element" *ngIf="tag.length > 0">
				<span (click)="searchByTag(tag)">{{ tag }}</span
				><i class="fa fa-times" (click)="deleteTag(tag)"></i>
			</div>
		</ng-container>

		<div
			(click)="setEditMode()"
			*ngIf="
				isForConnectedUser ||
				(!isForConnectedUser &&
					acls[ACL.Rule.Settings_MyCommunity_MyTowerNetwork] ===
						ACL.RuleValues.Settings_MyCommunity_MyTowerNetwork.Write)
			"
		>
			<button
				[title]="'COMMUNITY.EDIT_TAG' | translate"
				class="btn btn-icone btn-edit-tags btn-xs btn-tertiary d-inline-block"
			>
				<i class="fa fa-pencil"></i>
			</button>
		</div>
	</div>
	<div class="width-100-percent tag-edit-wrapper d-flex-ai-c d-flex-jc-c" *ngIf="isInEditMode">
		<ng-select
			class="flag-multi-select"
			name="icon"
			[items]="listOfAllTagsFiltered"
			[multiple]="true"
			bindLabel="name"
			appendTo="body"
			placeholder=" select a tag..."
			[(ngModel)]="listTagArray"
			(keydown.enter)="addTag($event)"
		>
			<ng-template ng-label-tmp let-item="item">
				{{ item }}
			</ng-template>
			<ng-template ng-option-tmp let-item="item">
				{{ item }}
			</ng-template>
		</ng-select>

		<div class="tag-edit-button-wrapper display-flex margin-left-4 padding-top-4">
			<button class="btn btn-secondary" (click)="cancelEdit()"><i class="fa fa-times"></i></button>
			<button class="btn btn-primary margin-left-5-important" (click)="validEdit()">
				<i class="fa fa-check"></i>
			</button>
		</div>
	</div>
</div>
<div class="d-flex-jc-fs d-flex-no-w d-flex-ai-fs comment-wrapper">
	<textarea
		[ngClass]="{ 'comment-value': userTag.comment }"
		class="form-control"
		type="text"
		[(ngModel)]="userTag.comment"
		[disabled]="
			!isForConnectedUser &&
			acls[ACL.Rule.Settings_MyCommunity_MyTowerNetwork] ===
				ACL.RuleValues.Settings_MyCommunity_MyTowerNetwork.Visible
		"
	>
	</textarea>
	<div
		[ngClass]="{ 'comment-value': userTag.comment }"
		class="comment-edit-btn-wrapper display-flex margin-left-4 padding-top-4"
		[hidden]="
			!isForConnectedUser &&
			acls[ACL.Rule.Settings_MyCommunity_MyTowerNetwork] ===
				ACL.RuleValues.Settings_MyCommunity_MyTowerNetwork.Visible
		"
	>
		<button
			[class.hidden]="!userTag.comment"
			class="btn btn-xs btn-secondary"
			(click)="cancelEditComment()"
		>
			<i class="fa fa-times"></i>
		</button>
		<button
			[class.hidden]="!userTag.comment"
			class="btn btn-xs btn-primary margin-left-5-important"
			(click)="validCommentEdit()"
		>
			<i class="fa fa-check"></i>
		</button>
	</div>
</div>
