<fieldset class="fieldset">
	<div class="d-flex-jc-sb d-flex-ai-c margin-bottom--2">
		<legend class="legend margin-bottom-0-important">
			{{ "QUALITY_MANAGEMENT.SELECTING_UNIT" | translate }}
		</legend>
	</div>
	<!-- <legend class="legend">
    <div class="col-xs-6">{{'QUALITY_MANAGEMENT.SELECTING_UNIT'|translate}}</div>
    <div class="col-xs-6">
      <form #seachUnits="ngForm">
        <div class="row text-right">
          <label class="search-label" for="Transport Ref">Search Term : </label>
          <input class="search-field form-control" id="nom" placeholder="Enter search term" name="search term" [(ngModel)]="criteria.searchterm"
          (keyup)="search.next($event.target.value)">
        </div>
      </form>
    </div>
  </legend> -->
	<!-- Bloc tableau -->

	<div
		class="col-md-12 block-categorie panel-body body-table"
		style="overflow-y:scroll; height:400px;"
	>
		<app-generic-table
			#genericTable
			[hideTable]="false"
			[title]="'PRICING_BOOKING.GOODS_INFORMATION' | translate"
			[searchInput]="searchCriteria"
			[dataInfos]="dataInfos"
			[searchInput]="searchInput"
			[detailsInfos]="null"
			(onDataLoaded)="onDataLoaded($event)"
			(onCheckRow)="onUnitChecked($event)"
			[parentContext]="this"
			[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
		>
		</app-generic-table>
	</div>
</fieldset>
