.no-padding {
	padding: 0px;
}
.btn {
	margin-left: 0 !important;
}
.search-label {
	color: white;
	width: 47%;
	padding-right: 5px;
}
.search-field {
	width: 50%;
	display: inline-block;
	height: 25px;
}
.text-right {
	text-align: right;
}
