<p-panel
	[toggleable]="true"
	[style]="{ 'margin-bottom': '8px', 'margin-left': '5px', 'margin-right': '5px' }"
	[collapsed]="showContent"
	[class]="'unit-table'"
>
	<p-header *ngIf="!hideHeader">
		<div class="row">
			<div class="col-md-12">
				<span class="pull-left panel-heading heading-table">
					{{ "PRICING_BOOKING.UNITS" | translate }}
				</span>
				<div class="form-group">
					<button
						pButton
						[icon]="icon"
						class="genericTable-icon pull-right marge"
						(click)="hideAndShowContent()"
					></button>
					<button
						pButton
						[icon]="extracting ? 'fa fa-spinner fa-spin' : 'pi pi-download'"
						class="genericTable-icon pull-right marge"
						(click)="exportUnit()"
					></button>
					<button
						pButton
						class="genericTable-icon pull-right marge"
						(click)="changeType()"
						[icon]="selectedType == ViewType.TREE ? 'fa fa-sitemap' : 'fa fa-align-justify'"
					></button>
					<input
						(keyup)="searchUnit($event.target.value)"
						class="pull-right form-control input-sm marge"
						[(ngModel)]="searchTerm"
						style="width: 200px !important;"
						name="searchTerm"
						placeholder="{{ 'PRICING_BOOKING.ENTER_REFERENCE' | translate }}"
						type="search"
					/>
				</div>
			</div>
		</div>
	</p-header>

	<div *ngIf="selectedType == ViewType.TABLE">
		<div class="col-md-12 padding-top-10">
			<div class="row">
				<div *ngIf="selectedNode" class="col-md-6 padding-left-0 generic-inputs__style">
					<div class="row d-flex-w padding-left-10">
						<div class="col-md-12 padding-0 d-flex-ai-c">
							<label class="col-md-5 padding-left-4" for="OLPN">Unit reference : </label>
							<div class="col-md-7">
								<input
									class="form-control"
									type="text"
									name="OLPN"
									id="OLPN"
									value="{{ refUnit }}"
								/>
							</div>
						</div>
						<div class="col-md-12 padding-0 d-flex-ai-c">
							<label class="col-md-5 padding-left-4" for="stackable">Stackable : </label>
							<div class="col-md-7">
								<select
									class="form-control"
									name="selectedMarchandise.stackable"
									[disabled]="readOnly"
									[(ngModel)]="selectedMarchandise.stackable"
								>
									<option *ngFor="let item of statique.yesOrNo" [ngValue]="item.key">
										{{ item.value }}
									</option>
								</select>
							</div>
						</div>
						<div
							*ngIf="
								getFormDatas() &&
								showOrHideInformations(selectedMarchandise.xEbTypeConteneur, 'colisPalette')
							"
							class="col-md-12 padding-0 d-flex-ai-c"
						>
							<label class="col-md-5 padding-left-4" for="numberOfUnits">N° SSCC : </label>
							<div class="col-md-7">
								<input
									class="form-control"
									type="text"
									name="sscc"
									id="sscc"
									[disabled]="readOnly"
									value="{{ getFormDatas() ? selectedMarchandise.sscc : 'None' }}"
								/>
							</div>
						</div>
						<div
							*ngIf="
								getFormDatas() &&
								showOrHideInformations(selectedMarchandise.xEbTypeConteneur, 'colisPalette')
							"
							class="col-md-12 padding-0 d-flex-ai-c"
						>
							<label class="col-md-5 padding-left-4" for="numberOfUnits">N° tracking : </label>

							<div class="col-md-7">
								<input
									class="form-control"
									[disabled]="readOnly"
									type="text"
									name="tracking_number"
									id="tracking_number"
									value="{{ getFormDatas() ? selectedMarchandise.tracking_number : 'None' }}"
								/>
							</div>
						</div>
						<div
							*ngIf="
								getFormDatas() &&
								showOrHideInformations(selectedMarchandise.xEbTypeConteneur, 'article')
							"
							class="col-md-12 padding-0 d-flex-ai-c"
						>
							<label class="col-md-5 padding-left-4" for="numberOfUnits">Nom : </label>

							<div class="col-md-7">
								<input
									class="form-control"
									type="text"
									name="nomArticle"
									id="nomArticle"
									value="{{ getFormDatas() ? selectedMarchandise.nomArticle : 'None' }}"
									[disabled]="readOnly"
								/>
							</div>
						</div>

						<div
							*ngIf="
								getFormDatas() &&
								showOrHideInformations(selectedMarchandise.xEbTypeConteneur, 'article')
							"
							class="col-md-12 padding-0 d-flex-ai-c"
						>
							<label class="col-md-5 padding-left-4" for="numberOfUnits">origin Country : </label>
							<div class="col-md-7">
								<input
									class="form-control"
									[disabled]="readOnly"
									type="text"
									name="originCountryName"
									id="originCountryName"
									value="{{ getFormDatas() ? selectedMarchandise.originCountryName : 'None' }}"
								/>
							</div>
						</div>
						<div class="col-md-12 padding-0 d-flex-ai-c">
							<label class="col-md-5 padding-left-4">Type unit : </label>

							<div class="col-md-7">
								<select
									class="form-control"
									*ngIf="marchandiseTypeOfUnit != null"
									name="selectedMarchandise.typeMarchandise{{ i }}"
									[(ngModel)]="typeMarchandise"
									(change)="triggerNgForTypeConteneur()"
								>
									<option [ngValue]="null"></option>
									<option *ngFor="let item of marchandiseTypeOfUnit" [value]="item.xEbTypeUnit">
										{{ item.label }}
									</option>
								</select>
							</div>
						</div>
						<div class="col-md-12 padding-0 d-flex-ai-c">
							<label class="col-md-5 padding-left-4" for="numberOfUnits">Nbr of unit : </label>
							<div class="col-md-7">
								<input
									[disabled]="readOnly"
									class="form-control"
									type="text"
									name="numberOfUnits"
									id="numberOfUnits"
									value="{{ getFormDatas() ? selectedMarchandise.numberOfUnits : 'None' }}"
								/>
							</div>
						</div>
						<div
							*ngIf="
								getFormDatas() &&
								showOrHideInformations(selectedMarchandise.xEbTypeConteneur, 'article')
							"
							class="col-md-12 padding-0 d-flex-ai-c"
						>
							<label class="col-md-5 padding-left-4" for="weight">Batch : </label>
							<div class="col-md-7">
								<input
									[disabled]="readOnly"
									class="form-control"
									type="text"
									name="batch"
									id="batch"
									value="{{ getFormDatas() ? selectedMarchandise.batch : 'None' }}"
								/>
							</div>
						</div>

						<div
							*ngIf="
								getFormDatas() &&
								showOrHideInformations(selectedMarchandise.xEbTypeConteneur, 'article')
							"
							class="col-md-12 padding-0 d-flex-ai-c"
						>
							<label class="col-md-5 padding-left-4" for="weight">Hs code : </label>
							<div class="col-md-7">
								<input
									class="form-control"
									type="text"
									name="hsCode"
									id="hsCode"
									value="{{ getFormDatas() ? selectedMarchandise.hsCode : 'None' }}"
									[disabled]="readOnly"
								/>
							</div>
						</div>
						<div
							*ngIf="
								getFormDatas() &&
								showOrHideInformations(selectedMarchandise.xEbTypeConteneur, 'article')
							"
							class="col-md-12 padding-0 d-flex-ai-c"
						>
							<label class="col-md-5 padding-left-4" for="weight">Batch Production Date : </label>
							<div class="col-md-7">
								<input
									class="form-control"
									[disabled]="readOnly"
									type="text"
									name="batchProductionDate"
									id="batchProductionDate"
									value="{{ getFormDatas() ? selectedMarchandise.batchProductionDate : 'None' }}"
								/>
							</div>
						</div>
						<div
							*ngIf="
								getFormDatas() &&
								showOrHideInformations(selectedMarchandise.xEbTypeConteneur, 'article')
							"
							class="col-md-12 padding-0 d-flex-ai-c"
						>
							<label class="col-md-5 padding-left-4" for="weight">Batch Expiration Date : </label>
							<div class="col-md-7">
								<input
									class="form-control"
									type="text"
									name="batchExpirationDate"
									id="batchExpirationDate"
									value="{{ getFormDatas() ? selectedMarchandise.batchExpirationDate : 'None' }}"
									[disabled]="readOnly"
								/>
							</div>
						</div>

						<div class="col-md-4">
							<select
								*ngIf="marchandiseTypeOfUnit != null"
								style="width: 80%;"
								name="selectedMarchandise.typeMarchandise{{ i }}"
								[(ngModel)]="typeMarchandise"
							>
								<option *ngFor="let item of marchandiseTypeOfUnit" [value]="item.xEbTypeUnit">
									{{ item.label }}
								</option>
							</select>
						</div>

						<div class="col-md-12 padding-0 d-flex-ai-c">
							<label class="col-md-5 padding-left-4" for="weight">Gross Weight : </label>
							<div class="col-md-7">
								<input
									[disabled]="readOnly"
									class="form-control"
									type="text"
									name="weight"
									id="weight"
									value="{{ getFormDatas() ? selectedMarchandise.weight : 'None' }}"
								/>
							</div>
						</div>
						<div class="col-md-12 padding-0 d-flex-ai-c">
							<label class="col-md-5 padding-left-4" for="weight">Net Weight : </label>
							<div class="col-md-7">
								<input
									class="form-control"
									type="text"
									name="netWeight"
									id="netWeight"
									value="{{ getFormDatas() ? selectedMarchandise.netWeight : 'None' }}"
									[disabled]="readOnly"
								/>
							</div>
						</div>
						<div class="col-md-12 padding-0 d-flex-ai-c">
							<label class="col-md-5 padding-left-4" for="length">Length : </label>
							<div class="col-md-7">
								<input
									[disabled]="readOnly"
									class="form-control"
									type="text"
									name="length"
									id="length"
									value="{{ getFormDatas() ? selectedMarchandise.length : 'None' }}"
									(blur)="calculateVolume(selectedMarchandise)"
								/>
							</div>
						</div>
						<div class="col-md-12 padding-0 d-flex-ai-c">
							<label class="col-md-5 padding-left-4" for="width">Width : </label>
							<div class="col-md-7">
								<input
									class="form-control"
									type="text"
									name="width"
									id="width"
									value="{{ getFormDatas() ? selectedMarchandise.width : 'None' }}"
									(blur)="calculateVolume(selectedMarchandise)"
									[disabled]="readOnly"
								/>
							</div>
						</div>
						<div class="col-md-12 padding-0 d-flex-ai-c">
							<label class="col-md-5 padding-left-4" for="heigth">heigth : </label>
							<div class="col-md-7">
								<input
									class="form-control"
									type="text"
									name="heigth"
									id="heigth"
									value="{{ getFormDatas() ? selectedMarchandise.heigth : 'None' }}"
									(blur)="calculateVolume(selectedMarchandise)"
									[disabled]="readOnly"
								/>
							</div>
						</div>
						<div class="col-md-12 padding-0 d-flex-ai-c">
							<label class="col-md-5 padding-left-4" for="volume">Volume : </label>
							<div class="col-md-7">
								<input
									class="form-control"
									type="text"
									name="volume"
									id="volume"
									value="{{ getFormDatas() ? selectedMarchandise.volume : 'None' }}"
									[disabled]="readOnly"
								/>
							</div>
						</div>
						<div class="col-md-12 padding-0 d-flex-ai-c">
							<label class="col-md-5 padding-left-4" for="volume">DGR : </label>
							<div class="col-md-7">
								<select
									[disabled]="readOnly"
									class="form-control"
									[(ngModel)]="selectedMarchandise.dangerousGood"
								>
									<option
										[value]="null"
										[selected]="selectedMarchandise.dangerousGood == null"
									></option>
									<option
										*ngFor="let item of marchandiseDangerousGood | keyvalue"
										[selected]="selectedMarchandise.dangerousGood == item.key"
										[value]="item.key"
										>{{ item.value }}
									</option>
								</select>
							</div>
						</div>
						<div class="col-md-12 padding-0 d-flex-ai-c">
							<label class="col-md-5 padding-left-4" for="un">UN : </label>
							<div class="col-md-7">
								<input
									class="form-control"
									name="selectedMarchandise.un"
									type="text"
									[disabled]="readOnly || selectedMarchandise.dangerousGood == 1"
									[required]="[2, 3].includes(selectedMarchandise.dangerousGood)"
									[(ngModel)]="selectedMarchandise.un"
									pattern="[a-z0-9]{4}"
								/>
							</div>
						</div>
						<div class="col-md-12 padding-0 d-flex-ai-c">
							<label class="col-md-5 padding-left-4">Class : </label>
							<div class="col-md-7">
								<select
									class="form-control"
									name="marchandise.classGood"
									[(ngModel)]="selectedMarchandise.classGood"
									[disabled]="selectedMarchandise.dangerousGood == 1 || readOnly"
									[required]="[2, 3].includes(selectedMarchandise.classGood)"
								>
									<option
										[value]="null"
										[selected]="selectedMarchandise.classGood == null"
									></option>
									<option *ngFor="let item of marchandiseClassGood" [value]="item">{{
										item
									}}</option>
								</select>
							</div>
						</div>
						<div class="col-md-12 padding-0 d-flex-ai-c">
							<label class="col-md-5 padding-left-4" for="packaging">Packaging : </label>
							<div class="col-md-7">
								<input
									[disabled]="readOnly"
									class="form-control"
									type="text"
									name="packaging"
									id="packaging"
									value="{{ getFormDatas() ? selectedMarchandise.packaging : 'None' }}"
								/>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<p-tree
						[value]="treeData"
						(onNodeSelect)="nodeSelect($event)"
						selectionMode="single"
						[(selection)]="selectedNode"
					>
					</p-tree>
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="selectedType == ViewType.TREE" class="row">
		<div #stats class="col-md-12" style="margin-top: 5px;">
			<div class="col-md-12 col-xs-12">
				<div class="col-md-3 padding-left-0 padding-right-4 text-right">
					<label class="col-md-8 padding-left-0 padding-right-4 text-bold"
						>{{ "PRICING_BOOKING.TOTAL_NUMBER_OF_UNITS" | translate }}:</label
					>
					<div class="col-md-4 padding-0">
						<input
							class="form-control"
							name="totalNbrParcel"
							type="text"
							[(ngModel)]="ebDemande.totalNbrParcel"
						/>
					</div>
				</div>
				<div class="col-md-3 padding-left-0 padding-right-4 text-right">
					<label class="col-md-8 padding-left-0 padding-right-4 text-bold"
						>{{ "PRICING_BOOKING.TOTAL_VOLUME" | translate }}:</label
					>
					<div class="col-md-4 padding-0">
						<input
							class="form-control"
							name="totalVolume"
							type="number"
							[(ngModel)]="ebDemande.totalVolume"
						/>
					</div>
				</div>
				<div class="col-md-3 padding-left-0 padding-right-4 text-right">
					<label class="col-md-8 padding-left-0 padding-right-4 text-bold"
						>{{ "PRICING_BOOKING.TOTAL_WEIGHT" | translate }}:</label
					>
					<div class="col-md-4 padding-0">
						<input
							class="form-control"
							name="totalWeight"
							type="number"
							[(ngModel)]="ebDemande.totalWeight"
						/>
					</div>
				</div>
				<div class="col-md-3 padding-left-0 padding-right-4 text-right">
					<label class="col-md-8 padding-left-0 padding-right-4 text-bold"
						>{{ "PRICING_BOOKING.TOTAL_TAXABLE_WEIGHT" | translate }}:</label
					>
					<div class="col-md-4 padding-0">
						<input
							class="form-control"
							name="totalTaxableWeight"
							type="text"
							[(ngModel)]="ebDemande.totalTaxableWeight"
						/>
					</div>
				</div>
			</div>

			<div class="col-md-12" style="margin-top: 10px;">
				<button
					class="btn btn-{{ typeContener == 0 ? 'primary' : 'default' }} btn-custom"
					(click)="filterListMarchandise(0)"
				>
					{{ "GENERAL.ALL" | translate }}
				</button>
				<span *ngFor="let type of listTypeConteneur">
					<button
						*ngIf="
							type.key != 0 &&
							(getNumberMarchandiseOftype(type.key) == 0 ||
								getNumberMarchandiseOftype(type.key) == 1)
						"
						class="btn btn-{{ typeContener == type.key ? 'primary' : 'default' }} btn-custom"
						(click)="filterListMarchandise(type.key)"
					>
						{{ getNumberMarchandiseOftype(type.key) }}
						{{ "TYPE_CONTENEUR.KEY_" + type.key | translate }}
					</button>
					<button
						*ngIf="type.key != 0 && getNumberMarchandiseOftype(type.key) > 1"
						class="btn btn-{{ typeContener == type.key ? 'primary' : 'default' }} btn-custom"
						(click)="filterListMarchandise(type.key)"
					>
						{{ getNumberMarchandiseOftype(type.key) }}
						{{ "TYPE_CONTENEURINPLURIEL.KEY_" + type.key | translate }}
					</button>
				</span>
			</div>

			<div class="col-md-12 padding-0">
				<form role="form" #goodsInformationForm="ngForm" novalidate>
					<fieldset style="border-top: 0px solid #ddd !important;">
						<div class="form-group">
							<div class="col-md-12 padding-0">
								<div style="overflow-x:auto">
									<app-generic-table-ccp
										#genericTable
										*ngIf="isLoaded"
										[searchInput]="searchCriteriaTable"
										[dataInfos]="dataInfos"
										[detailsInfos]="null"
										[component]="GenericTableScreen.PRICING_UNITS"
										[parentContext]="this"
										[module]="module"
										[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
										[dataSourceLocal]="pageDatas"
										[customFieldsEditable]="!ebDemande?.ebDemandeNum"
										[showCustomFieldsMainTable]="true"
										[showCategoriesMainTable]="false"
										[customFieldsToSkip]="customFieldsToSkip"
									></app-generic-table-ccp>
								</div>
								<div class="col-md-12" style="padding: 0px;">
									<p-paginator
										(onPageChange)="paginate($event)"
										[rows]="5"
										[totalRecords]="totalMarchandiseRecords"
										[rowsPerPageOptions]="[5, 20, 50]"
									>
									</p-paginator>
								</div>
							</div>
							<div class="col-md-12 marge-add">
								<button
									*ngIf="!ebDemande.ebDemandeNum || (!readOnly && ebDemande.xEcStatut < trConfirmed)"
									href="#"
									class="pull-right btn btn-primary btn-sm"
									(click)="addMarchandise()"
								>
									{{ "PRICING_BOOKING.ADD_A_ROW" | translate }}
								</button>
							</div>

							<div class="mt10" *ngIf="showBlock()">
								<div class="col-md-12" style="margin-top: 15px; margin-bottom: 5px;">
									<!-- <button  #pageValid href="#" class="btn btn-primary pull-right btn-sm" [disabled]="listMarchandise.length == 0 || (listMarchandise.length > 0 && !goodsInformationForm.valid) " -->
									<button
										#pageValid
										href="#"
										class="btn btn-primary pull-right btn-sm"
										(click)="nextPage()"
									>
										{{ "PRICING_BOOKING.NEXT_PAGE" | translate }}
									</button>
								</div>
							</div>
						</div>
					</fieldset>
					<!--
            <div class="col-md-12 margin-top-15">
              <app-vehicule-content
                *ngIf="listArticleDims"
                [ebCompagnieNum]="ebDemande.user.ebCompagnie.ebCompagnieNum"
                [modeTransport]="2"
                [listArticleDims]="listArticleDims"
                ></app-vehicule-content>
            </div> -->
					<!--
            <div *ngIf="(userConnected.role == UserRole.CHARGEUR && ebDemande.user.ebUserNum == userConnected.ebUserNum || userConnected.role == UserRole.CONTROL_TOWER) && ebDemande && ebDemande.ebDemandeNum">
                <div class="col-md-12">
                    <div class="pull-right">
                      <button class="btn btn-primary btn-sm" *ngIf="!toggleEditData; else saveData" (click)="handleToggleEditData()">Edit data</button>
                      <ng-template #saveData>
                          <button class="btn btn-primary btn-sm" (click)="handleCancelEditData()">Cancel changes</button>
                          <button class="btn btn-primary btn-sm" (click)="editData($event)">Save changes</button>
                      </ng-template>
                    </div>
                </div>
              </div>
               -->
				</form>
			</div>
		</div>
	</div>
</p-panel>
