.customerReference {
	width: 100px !important;
}

.padding-input {
	padding: 0px 5px !important;
}

.w245 {
	width: 245px !important;
}

.w100 {
	width: 100px !important;
}

.un {
	width: 50px !important;
}

.custom-select {
	width: 25%;
	display: inline-block;
	height: 25px;
	padding: 2px 10px;
}

::ng-deep body .ui-button.ui-button-text-icon-left .ui-button-text {
	padding: 3px 25px;
}

.marge {
	margin: 0px 3px;
}

::ng-deep body .ui-dropdown .ui-dropdown-label {
	padding-right: 35px !important;
	padding-top: 7px;
}

.no-padding {
	padding: 0px;
}

.no-padding-left {
	padding-left: 0px;
}

.text-bold {
	font-weight: bold;
}

.marge-add {
	margin-top: 25px;
	margin-bottom: 30px;
}

::ng-deep .unit-table {
	.ui-panel-content,
	.ui-tree {
		border: none;
	}
	.ui-tree {
		width: 100%;
		padding: 0px;
		max-height: 360px;
		overflow-y: auto;
	}
}

.btn-custom {
	padding: 2px 12px;
	width: 18.666667%;
}

::ng-deep .regime-temporaire-goods-select {
	&.ng-dropdown-panel {
		min-width: 250px !important;
	}
}

::ng-deep .ng-dropdown-panel{
	width: auto !important;
}

::ng-deep table .ng-select.ng-select-multiple .ng-select-container .ng-value-container{
	flex-wrap: wrap !important;
	margin-right: 17px !important;
}