
.default-theme {
    @import 'themes/theme-default.scss';
    $primary-color: #387c97;
}

.dark-theme {
    @import 'themes/theme-dark.scss';
    $primary-color: #3a2222;
}

.red-theme {
    @import 'themes/theme-red.scss';
    $primary-color: #fb5a5a;
}

.aurora-theme {
    @import 'themes/theme-aurora.scss';
    $primary-color: #3bb3a9;
}