@import "../../../../../styles/variables";

::ng-deep .cptm-dashboard_root {
	.cell-h-leg1 {
		background-color: $gray-dark !important;
		color: $white-02 !important;
	}
	.cell-h-leg2 {
		background-color: $gray-light !important;
	}
	.alert1-color {
		color: $green !important;
	}
	.alert2-color {
		color: $yellow !important;
	}
	.alert3-color {
		color: $red-danger !important;
	}
}
