<div class="cptm-dashboard_root padding-top-5">
	<app-cptm-search [module]="module" (onSearch)="search($event)"></app-cptm-search>
	<app-generic-table
		#genericTable
		[searchInput]="searchCriteria"
		[dataInfos]="dataInfos"
		[detailsInfos]="null"
		[component]="GenericTableScreen.COMPTA_MATIERE"
		[parentContext]="this"
		[module]="module"
		(onCheckRow)="onCheckRow()"
		[isHorizontalScrollAlwaysVisible]="true"
		[listEltsToAdjustHeight]="listEltsToAdjustHeight"
		[scrollHeight]="320"
		[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
	>
		<div class="generic-card-list dashboard-card-list">
			<app-card-list
				[cardActions]="genericTable.cardActions"
				[showCheckbox]="dataInfos.showCheckbox"
				[showDetails]="dataInfos.showDetails"
				[cardHeight]="dataInfos.cardHeight"
				(showDetailsEmitter)="genericTable.goToDetails($event[dataInfos.dataKey])"
				[data]="genericTable.datas"
				[colMdVignetteForDashboard]="'col-md-4 col-sm-6 col-xs-12'"
			>
				<div *forEachItem="let card" class="d-flex-ai-c d-flex-w">
					<app-vignette-view
						(generateMailEvent)="generateMail($event.value, $event.mailId)"
						[module]="module"
						[card]="card"
						class="height-100-percent width-100-percent"
					></app-vignette-view>
				</div>
			</app-card-list>
		</div>
	</app-generic-table>
</div>

<app-cptm-semi-automatique-mail #popupSemiAutoMail></app-cptm-semi-automatique-mail>
