<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="shared/common_head :: copy">
	<title></title>
</head>

<body>
	<header th:replace="shared/header :: copy"></header>
	<main class="main">
		<table class="table-main">
			<tbody>
				<tr>
					<td>
						<div>
							<span th:text="${username}"></span> 
							<span th:utext="#{ajoutcommentaire.corp}"></span>
							<a th:href="@{${url}}">
								<span th:text="${ebdemande.refTransport}"></span>
							</a>
							<span th:if="${ebdemande.customerReference} != null and ${ebdemande.customerReference} != ''" th:utext="'( '+#{demandealertetransporteur.customRefMail(${ebdemande.customerReference})}+' )'"></span>							
							<span th:utext="#{ajoutcommentaire.corpsuite(${commentaireDate})}"></span> :
							<p th:utext="${commentaireText}"></p>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div th:include="shared/synthse-without-apercu-quote :: fonctionSyntheseWithoutApercu(inco=${ebdemande.xEcIncotermLibelle},ebdemande=${ebdemande}, url=${url}, psl=${psl})"></div>
					</td>
				</tr>

			</tbody>

		</table>
	</main>
	<footer th:replace="shared/footer :: copy"></footer>
</body>
</html>