@import "../../../../administrateur-company/administrateur-company.component.css";
@import "../../../../../../assets/css/buttonToggle.css";

.globalRecovery {
	max-width: 200px;
	width: 200px;
	margin-top: 10px;
}
.globalCheckBtn {
	border-width: 4px;
	height: 25px;
	width: 25px !important;
	top: 2px;
}
td.companyName {
	text-align: left;
	padding-left: 10px;
}
td.header-column {
	background: #c9dde2;
}
tfoot td:not(.header-column) {
	border: none;
}
