<div class="margin-tb-10">
	<div class="">
		<div class="col-md-1 pull-left">
			<button
				class="btn btn-primary btn-shadow pull-left globalRecovery"
				[disabled]="disableGlobalRecovery"
				(click)="globalRecovery($event)"
			>
				{{ "DATA_RECOVERY.Recovery" | translate }}
			</button>
		</div>
	</div>

	<table class="table table-responsive table-hover dataTable no-footer table-pricing maragin-auto">
		<thead>
			<tr>
				<th>
					<input
						type="checkbox"
						[(ngModel)]="globalCheck"
						(change)="checkUncheckAll()"
						class="globalCheckBtn"
					/>
				</th>
				<th>{{ "INSCRIPTION_CHANEL.COMPAGNIE" | translate }}</th>
				<th *ngFor="let type of Statique.DataRecoveryTypeList">
					{{ type.value }}
				</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let companie of listEbCompagnie">
				<td>
					<input type="checkbox" [(ngModel)]="companie['isChecked']" />
				</td>
				<td class="companyName">
					{{ companie.nom }}
				</td>
				<td *ngFor="let type of Statique.DataRecoveryTypeList">
					<button
						#applyBtn
						class="btn btn-primary"
						title="{{ type.value }} X {{ companie.nom }}"
						(click)="companyRecoveryApply(type.key, companie.ebCompagnieNum, $event)"
					>
						{{ "DATA_RECOVERY.Apply" | translate }}
					</button>
				</td>
				<td class="header-column">
					<button
						#applyBtn
						class="btn btn-primary"
						title="{{ companie.nom }}"
						(click)="companyRecoveryByCompanyApply(companie.ebCompagnieNum, $event)"
					>
						{{ "DATA_RECOVERY.APPLY_BY_COMPANY" | translate }}
					</button>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td></td>
				<td *ngFor="let type of Statique.DataRecoveryTypeList" class="header-column">
					<button
						#applyBtn
						class="btn btn-primary"
						(click)="companyRecoveryApplyByType(type.key, $event)"
						title="{{ type.value }}"
					>
						{{ "DATA_RECOVERY.APPLY_BY_TYPE" | translate }}
					</button>
				</td>
				<td></td>
			</tr>
		</tfoot>
	</table>
</div>
