@import "../../../../styles/variables";

.fa {
	color: $primary-color;
}

.flex-none {
	flex: none;
}
.f-s-s {
	font-size: smaller;
}
.status-a-c {
	align-items: center;
	justify-content: center;
}
.card-status {
	background: none;
	color: #018dad;
	padding: 3px;
	border-radius: 4px;
	font-weight: normal;
	font-size: 12px !important;
}

.block {
	display: block;
}

.weight_icon {
	background-image: url("../../../../assets/images/weight.png");
	// position: absolute;
	// background-size: cover;
	background-repeat: no-repeat;
	// position: fixed;
	height: 100%;
	width: 100%;
}
