<div class="d-flex-ai-fe d-flex-w height-100-percent">
	<div class="col-md-12 padding-4 d-flex-ai-c d-flex-jc-sb">
		<div class="left-side cursor-pointer">
			<input
				type="checkbox"
				name="check-{{ card.id }}"
				[(ngModel)]="card['isChecked']"
				(change)="onCheckDemande(card)"
				[disabled] = "this.acls[this.ACL.Rule.InitialTrs_selection_and_checkbox_Enable]"
			/>
			<a [routerLink]="detailDemandeRoute + card.ebDemandeNum">
				<span class="bold"> {{ card.refTransport }}</span>
			</a>
		</div>
	</div>
	<div class="col-md-12 padding-4">
		<app-vignette-header
			[infosTransport]="infosTransport"
			[isSmallerSize]="true"
		></app-vignette-header>
	</div>
	<div class="col-md-12 padding-4 d-flex-ai-c d-flex-jc-sb f-s-s">
		<div class="left-side vignette-card-labels flex-none">
			<div *ngIf="message == null; else valueIsNull">
				<span *ngIf="convert(card.ebDemandeNum); else notConverted">
					{{ "REQUEST_OVERVIEW.SAVING" | translate }}
					{{
						card.convertedSaving % 1 == 0 ? card.convertedSaving : card.convertedSaving.toFixed(2)
					}}
					{{ demande.xecCurrencyInvoice?.code }}
				</span>
				<ng-template #notConverted>
					<span>
						{{ "REQUEST_OVERVIEW.SAVING" | translate }}
						{{ card.saving !=undefined ? card.saving % 1 == 0 ? card.saving : card.saving.toFixed(2) : "" }}
						{{ card.xecCurrencyInvoice?.code }}
					</span>
				</ng-template>
			</div>
			<ng-template #valueIsNull>
				<span style="display: block; color: rgb(246, 162, 6); width: 170px;">
					{{ "REQUEST_OVERVIEW.SAVING" | translate }}
					{{ message }}
				</span>
			</ng-template>
		</div>
		<div
			*ngIf="demande.xecCurrencyInvoice.ecCurrencyNum != null; else showTrInitialeCurrency"
			class="left-side vignette-card-labels flex-none"
		>
			<span
				*ngIf="convert(card.ebDemandeNum); else notConvertedPrice"
				title="{{ 'PRICING_BOOKING.CONVERTED_PRICE' | translate }}"
			>
				{{ "PRICING_BOOKING.PRICE" | translate }} : {{ card.convertedPrice }}
				{{ demande.xecCurrencyInvoice?.code }}</span
			>
			<ng-template #notConvertedPrice>
				<span title="{{ 'PRICING_BOOKING.PRICE_INITIAL_TR' | translate }}">
					{{ "PRICING_BOOKING.PRICE" | translate }} : {{ card.exEbDemandeTransporteurs != null && card.exEbDemandeTransporteurs[0]!= undefined ?   card.exEbDemandeTransporteurs[0].price : '' }}
					{{ card.xecCurrencyInvoice?.code }}
				</span>
			</ng-template>
		</div>
		<ng-template #showTrInitialeCurrency>
			<span title="{{ 'PRICING_BOOKING.PRICE_INITIAL_TR' | translate }}">
				{{ "PRICING_BOOKING.PRICE" | translate }} :{{ card.exEbDemandeTransporteurs != null && card.exEbDemandeTransporteurs[0]!= undefined ?   card.exEbDemandeTransporteurs[0].price : ''}}
				{{ card.xecCurrencyInvoice?.code }}
			</span>
		</ng-template>
	</div>

	<div class="col-md-12 padding-4 d-flex-ai-c d-flex-jc-sb f-s-s">
		<div class="left-side vignette-card-labels flex-none">
			<span title="{{ 'PRICING_BOOKING.TOTAL_VOLUME' | translate }}">
				<i class="fa fa-codepen" aria-hidden="true"></i>
				{{ card.totalVolume | number: "1.2-6" }}</span
			>
		</div>
		<div class="left-side vignette-card-labels flex-none">
			<span class="weight_icon">
				<span style="padding-left: 15px;" title="{{ 'PRICING_BOOKING.TOTAL_WEIGHT' | translate }}">
					{{ card.totalWeight | number: "1.0-2" }}</span
				>
			</span>
		</div>
		<div class="left-side vignette-card-labels flex-none">
			<span class="weight_icon">
				<span
					style="padding-left: 15px;"
					title="{{ 'PRICING_BOOKING.TOTAL_TAXABLE_WEIGHT' | translate }}"
				>
					{{ card.totalTaxableWeight | number: "1.0-2" }}</span
				>
			</span>
		</div>
		<div class="left-side vignette-card-labels flex-none">
			<span title="{{ 'PRICING_BOOKING.NUMBER_UNITS' | translate }}"
				><i class="fa fa-cube" aria-hidden="true"></i> {{ card.totalNbrParcel }}
			</span>
		</div>
	</div>
	<div class="col-md-12 padding-0 d-flex-ai-c card-status status-a-c">
		<span>{{ "PRICING_BOOKING." + Statique.getStatusLibelle(card.xEcStatut) | translate }}</span>
	</div>
</div>
