<div class="content_wrapper">
	<app-shipping-information
		#shippingInformationComponent
		[ebDemande]="ebDemande"
		[userConnected]="userConnected"
		[module]="Modules.TRANSPORT_MANAGEMENT"
		(onValidate)="showGoodsPanel()"
		(onListTransporteurLoaded)="onListTransporteurLoadedHandler($event)"
		*ngIf="userConnected != null && userConnected.ebUserNum != null"
	></app-shipping-information>
	<!-- <app-external-users #externalUsersComponent [ebDemande]="ebDemande" *ngIf="ebDemande && ebDemande.user"></app-external-users> -->

	<app-goods-information
		id="goodsInformationDiv"
		#goodsInformationDiv
		[ebDemande]="ebDemande"
		[modeTransport]="modeTransport"
		[listMarchandise]="ebDemande.listMarchandises"
		[userConnected]="userConnected"
		(onValidate)="showQuotationPanel()"
		*ngIf="goodsPanel && userConnected != null && userConnected.ebUserNum != null"
	></app-goods-information>

	<app-collapsible-panel
		title="{{ 'PRICING_BOOKING.QUOTATION' | translate }}"
		*ngIf="
			listTransporteur && quotationPanel && userConnected != null && userConnected.ebUserNum != null
		"
	>
		<app-carrier-choice
			[listTransporteur]="listTransporteur"
			id="carrierChoiceDiv"
			#carrierChoiceDiv
			[ebDemande]="ebDemande"
			[module]="Modules.TRANSPORT_MANAGEMENT"
			[userConnected]="userConnected"
			(onValidate)="showTransportInfoPanel()"
		></app-carrier-choice>
	</app-collapsible-panel>

	<app-collapsible-panel
		title="{{ 'INFORMATION ABOUT TRANSPORT' | translate }}"
		*ngIf="transportInfoPanel && userConnected != null && userConnected.ebUserNum != null"
	>
		<app-transport-information
			id="transportInfoDiv"
			[module]="Modules.TRANSPORT_MANAGEMENT"
			[ebDemande]="ebDemande"
			[userConnected]="userConnected"
			[hasContributionAccess]="true"
			(onValidate)="showDocumentsPanel()"
		></app-transport-information>
	</app-collapsible-panel>

	<app-collapsible-panel
		title="{{ 'PRICING_BOOKING.DOCUMENTS' | translate }}"
		*ngIf="
			documentsPanel && userConnected != null && userConnected.ebUserNum != null && newEbDemandeNum
		"
	>
		<app-documents
			id="documentsDiv"
			#documentsDiv
			[ebDemandeNum]="ebDemande.ebDemandeNum"
		></app-documents>
	</app-collapsible-panel>
	<div
		class="mt10"
		*ngIf="validatePanel && userConnected != null && userConnected.ebUserNum != null"
	>
		<div class="col-md-12">
			<div class="pull-right">
				<label for="sendEmails">{{ "TRANSPORT_MANAGEMENT.SEND_EMAILS" | translate }}</label>
				<input
					id="sendEmails"
					name="sendEmails"
					type="checkbox"
					[(ngModel)]="ebDemande.sendEmails"
				/>

				<button
					[disabled]="!isPageValid() || inProcess"
					href="#"
					class="btn btn-primary btn-sm"
					(click)="createAction($event)"
				>
					{{ "TRANSPORT_MANAGEMENT.CREATE" | translate }}
				</button>
				<button
					[disabled]="!isPageValid() || inProcess"
					href="#"
					class="btn btn-primary btn-sm"
					(click)="createAndTrackAction($event)"
				>
					{{ "TRANSPORT_MANAGEMENT.CREATE_AND_TRACK" | translate }}
				</button>
			</div>
		</div>
	</div>
</div>
