<p-panel [toggleable]="true">
	<p-header>
		<div style="padding: 0px 35px;">
			<span style="font-size: 16px; color: #fff">Gestion des Contenant</span>
			<button
				pButton
				[icon]="'pi pi-plus'"
				class="genericTable-icon"
				label="Add"
				(click)="add()"
			></button>
			<button
				pButton
				[icon]="'pi pi-save'"
				class="genericTable-icon"
				label="Save or Update"
				(click)="saveOrUpdate()"
			></button>
		</div>
	</p-header>
	<p-table [value]="listVehicule">
		<ng-template pTemplate="header">
			<tr>
				<th>Libelle</th>
				<th>Mode de transport</th>
				<th>Type</th>
				<th>Particularité</th>
				<th>Weight</th>
				<th>Width</th>
				<th>lengh</th>
				<th>height</th>
				<th>Tare</th>
				<th></th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-rowData>
			<tr>
				<td pEditableColumn>
					<p-cellEditor>
						<ng-template pTemplate="input">
							<input pInputText type="text" [(ngModel)]="rowData.libelle" />
						</ng-template>
						<ng-template pTemplate="output">
							{{ rowData.libelle }}
						</ng-template>
					</p-cellEditor>
				</td>
				<td pEditableColumn>
					<select class="form-control" name="rowData.xType" [(ngModel)]="rowData.xModeTransport">
						<option *ngFor="let item of listModeTransport" [ngValue]="item.code">
							{{ item.libelle }}
						</option>
					</select>
				</td>
				<td pEditableColumn>
					<select class="form-control" name="rowData.xType" [(ngModel)]="rowData.xType">
						<option *ngFor="let item of listTypeUnit" [ngValue]="item.ebTypeUnitNum">
							{{ item.libelle }}
						</option>
					</select>
				</td>
				<td pEditableColumn>
					<select
						class="form-control"
						name="rowData.xParticularite"
						[(ngModel)]="rowData.xParticularite"
					>
						<option *ngFor="let item of statique.MarchandiseTypeOfUnit" [ngValue]="item.key">
							{{ item.value }}
						</option>
					</select>
				</td>
				<td pEditableColumn>
					<p-cellEditor>
						<ng-template pTemplate="input">
							<input type="text" pKeyFilter="num" [(ngModel)]="rowData.weight" />
						</ng-template>
						<ng-template pTemplate="output">
							{{ rowData.weight }}
						</ng-template>
					</p-cellEditor>
				</td>
				<td pEditableColumn>
					<p-cellEditor>
						<ng-template pTemplate="input">
							<input type="text" pKeyFilter="num" [(ngModel)]="rowData.width" />
						</ng-template>
						<ng-template pTemplate="output">
							{{ rowData.width }}
						</ng-template>
					</p-cellEditor>
				</td>
				<td pEditableColumn>
					<p-cellEditor>
						<ng-template pTemplate="input">
							<input type="text" pKeyFilter="num" [(ngModel)]="rowData.lengh" />
						</ng-template>
						<ng-template pTemplate="output">
							{{ rowData.lengh }}
						</ng-template>
					</p-cellEditor>
				</td>
				<td pEditableColumn>
					<p-cellEditor>
						<ng-template pTemplate="input">
							<input type="text" pKeyFilter="num" [(ngModel)]="rowData.height" />
						</ng-template>
						<ng-template pTemplate="output">
							{{ rowData.height }}
						</ng-template>
					</p-cellEditor>
				</td>
				<td pEditableColumn>
					<p-cellEditor>
						<ng-template pTemplate="input">
							<input type="text" pKeyFilter="num" [(ngModel)]="rowData.tare" />
						</ng-template>
						<ng-template pTemplate="output">
							{{ rowData.tare }}
						</ng-template>
					</p-cellEditor>
				</td>
				<td>
					<button class="btn btn-sm btn-danger" (click)="delete(rowData)">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</button>
				</td>
			</tr>
		</ng-template>
	</p-table>
</p-panel>
