<ng-select
	[items]="listItems"
	[multiple]="multiple"
	[typeahead]="srcTypeahead ? typeaheadEvent : false"
	[placeholder]="placeholder"
	[required]="isRequired"
	[ngModel]="inputModel"
	(ngModelChange)="updateChanges($event)"
	[disabled]="disabled"
>
	<ng-template ng-label-tmp let-item="item">
		<span>{{ item.nom }} - {{ item.ebEtablissement.nom }} </span>
	</ng-template>
	<ng-template ng-option-tmp let-item="item">
		<span> {{ item.nom }} - {{ item.ebEtablissement.nom }} </span>
	</ng-template>
</ng-select>
