<div class="col-md-12">
	<div class="row">
		<div class="col-md-12 no-padding">
			<p-growl [style]="{ marginTop: '60px' }" [(value)]="msgs"></p-growl>
		</div>
		<app-collapsible-panel
			title="{{ 'QUALITY_MANAGEMENT.COMMENTAIRES' | translate }}"
			[fullscreen]="true"
		>
			<div class="form-group col-md-6" style="margin-bottom: 15px;">
				<label class="control-label">{{ "QUALITY_MANAGEMENT.OCD_COMMENTS" | translate }}</label>
				<div>
					<textarea
						class="form-control"
						rows="2"
						[(ngModel)]="incident.etablissementComment"
					></textarea>
				</div>
			</div>
			<div class="form-group col-md-6">
				<div>
					<textarea
						class="form-control"
						rows="2"
						[(ngModel)]="incident.thirdPartyComment"
					></textarea>
				</div>
			</div>
			<div class="col-md-12 mt10 ">
				<div class="pull-right">
					<button href="#" class="btn btn-primary btn-sm" (click)="updateIncidentComment()">
						Save
					</button>
				</div>
			</div>
		</app-collapsible-panel>
	</div>
</div>
