/*
    #countdown{
        padding-left: 0;
        padding-right: 0;
    }
    .countd-md {
        width: 22% !important;
        margin-left: 3%;
    }
    .calender-counter {
        padding-left: 20%;
        padding-right: 20%;
    }
 */

.document-statut {
	color: #018dad;
	font-size: 13px;
}

.flag_div {
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 2px;
}
