<div class="panel-body body-table body-statut">
	<div class="col-md-{{ module == Modules.PRICING ? '10 bordered-right' : '12' }}">
		<div class="row infos infos-head">
			<div class="flag_div">
				<app-flag-list-editable
					[(listFlag)]="ebDemande.listEbFlagDTO"
					[iconSize]="35"
					(change)="onChangeFlag($event)"
				></app-flag-list-editable>
			</div>

			<div
				class="block-info {{
					ebDemande.ebDemandeMasterObject != null && ebDemande.ebDemandeInitial != null
						? 'col-md-3'
						: ebDemande.ebDemandeMasterObject != null || ebDemande.ebDemandeInitial != null
						? 'col-md-3'
						: 'col-md-4'
				}} h2detailsTtile {{
					module == Modules.TRANSPORT_MANAGEMENT && ebDemande.xEcStatut >= DemandeStatus.WPU
						? 'col-md-7'
						: ''
				}}"
			>
				<span class="colorBleu"
					><span style="padding: 6px; top: 0px;" class="acircle fa fa-folder"></span
					>{{ "PRICING_BOOKING.QUOTATION_REQUEST" | translate }} :</span
				>
				<span class="" style="padding-top: 2px;">{{ ebDemande.refTransport }}</span>
			</div>
			<div
				*ngIf="ebDemande.ebDemandeMasterObject != null"
				class="block-info {{
					ebDemande.ebDemandeInitial != null ? 'col-md-2' : 'col-md-3'
				}} h2detailsTtile {{
					module == Modules.TRANSPORT_MANAGEMENT && ebDemande.xEcStatut >= DemandeStatus.WPU
						? 'col-md-7'
						: ''
				}}"
			>
				<span class="colorBleu"
					><span style="padding: 6px; top: 0px;" class="acircle fa fa-folder"></span
					>{{ "PRICING_BOOKING.MASTER_OBJECT" | translate }}:
				</span>
				<span class="" style="padding-top: 2px;">{{
					ebDemande.ebDemandeMasterObject.refTransport
				}}</span>
			</div>
			<div
				*ngIf="ebDemande.ebDemandeInitial != null"
				class="block-info {{
					ebDemande.ebDemandeMasterObject != null ? 'col-md-2' : 'col-md-3'
				}} h2detailsTtile {{
					module == Modules.TRANSPORT_MANAGEMENT && ebDemande.xEcStatut >= DemandeStatus.WPU
						? 'col-md-7'
						: ''
				}}"
			>
				<span class="colorBleu"
					><span style="padding: 6px; top: 0px;" class="acircle fa fa-folder"></span
					>{{ "PRICING_BOOKING.INITIAL_REQUEST" | translate }}:
				</span>
				<span class="" style="padding-top: 2px;">{{
					ebDemande.ebDemandeInitial.refTransport
				}}</span>
			</div>
			<div
				class="block-info {{
					ebDemande.ebDemandeMasterObject != null && ebDemande.ebDemandeInitial != null
						? 'col-md-2'
						: ebDemande.ebDemandeMasterObject != null || ebDemande.ebDemandeInitial != null
						? 'col-md-3'
						: 'col-md-4'
				}} h2detailsTtile {{
					module == Modules.TRANSPORT_MANAGEMENT && ebDemande.xEcStatut >= DemandeStatus.WPU
						? 'col-md-7'
						: ''
				}}"
			>
				<span class="colorBleu"
					><span style="padding: 6px;" class="fa fa-calendar  acircle"></span>
					{{ "PRICING_BOOKING.DATE" | translate }}:
				</span>
				<span class="">{{ dateCreation }}</span>
			</div>
			<div
				class="block-info {{
					ebDemande.ebDemandeMasterObject != null && ebDemande.ebDemandeInitial != null
						? 'col-md-3'
						: ebDemande.ebDemandeMasterObject != null || ebDemande.ebDemandeInitial != null
						? 'col-md-3'
						: 'col-md-4'
				}} h2detailsTtile {{
					module == Modules.TRANSPORT_MANAGEMENT && ebDemande.xEcStatut >= DemandeStatus.WPU
						? 'col-md-7'
						: ''
				}}"
			>
				<span class="colorBleu"
					><span style="padding: 6px; top: 0px;" class="acircle fa fa-user"></span>By:</span
				>
				<span class="  nopadding" style="padding-top: 2px;">{{ createdBy }} </span>
			</div>
		</div>
		<div
			class="col-md-5"
			*ngIf="
				module == Modules.TRANSPORT_MANAGEMENT &&
				ebDemande.xEcStatut >= DemandeStatus.WPU &&
				!hideSteps
			"
		>
			<form class="hidden" role="form" #quotationForm="ngForm" novalidate>
				<div class="form-group">
					<!--{{userConnected.role}}-->

					<div
						class="col-md-3"
						*ngIf="!ebDemande.flagEbInvoice && userConnected.role == UserRole.CONTROL_TOWER"
					>
						<button class="btn btn-sm btn-primary" (click)="addFacture(ebDemande.ebDemandeNum)">
							Générer les Factures
						</button>
					</div>
					<div
						class="col-md-3"
						*ngIf="!ebDemande.flagEbtrackTrace && userConnected.role == UserRole.CONTROL_TOWER"
					>
						<button class="btn btn-primary btn-sm" (click)="creationTrackTrace($event)">
							Générer les T&amp;T
						</button>
					</div>
				</div>
			</form>
		</div>
		<hr />
		<div class="row" *ngIf="!hideSteps">
			<div class="col-md-12 col-sm-12">
				<div class="status-navbar-small">
					<ul class="status-steps" *ngIf="module == Modules.PRICING">
						<li
							*ngIf="
								!(
									ebDemande.xEcStatut >= DemandeStatus.WDCT &&
									(userConnected.role == UserRole.PRESTATAIRE &&
										(userConnected.service != ServiceType.BROKER ||
											(userConnected.service == ServiceType.TRANSPORTEUR_BROKER &&
												ebDemande?.xEbUserOriginCustomsBroker?.ebUserNum !=
													userConnected.ebUserNum &&
												ebDemande?.xEbUserDestCustomsBroker?.ebUserNum !=
													userConnected.ebUserNum)) &&
										ebDemande.xEbTransporteurEtablissementNum !=
											userConnected.ebEtablissement.ebEtablissementNum)
								) && !(ebDemande.xEcCancelled == CancelStatus.CANCELLED)
							"
							class="{{ ebDemande.xEcStatut >= DemandeStatus.IN_PROCESS ? 'completed' : '' }}"
						>
							<span class="step-number"></span>
							<div class="step-text">
								{{ "PRICING_BOOKING.IN_PROCESS_WAITING_FOR_QUOTE" | translate }}
							</div>
						</li>
						<li
							*ngIf="
								!(
									ebDemande.xEcStatut >= DemandeStatus.WDCT &&
									(userConnected.role == UserRole.PRESTATAIRE &&
										(userConnected.service != ServiceType.BROKER ||
											(userConnected.service == ServiceType.TRANSPORTEUR_BROKER &&
												ebDemande?.xEbUserOriginCustomsBroker?.ebUserNum !=
													userConnected.ebUserNum &&
												ebDemande?.xEbUserDestCustomsBroker?.ebUserNum !=
													userConnected.ebUserNum)) &&
										ebDemande.xEbTransporteurEtablissementNum !=
											userConnected.ebEtablissement.ebEtablissementNum)
								) &&
								ebDemande.flagRecommendation &&
								!(ebDemande.xEcCancelled == CancelStatus.CANCELLED)
							"
							class="{{
								(!ebDemande.statusQuote &&
									ebDemande.xEcStatut >= DemandeStatus.WAITING_FOR_RECOMMENDATION) ||
								(ebDemande.statusQuote && ebDemande.statusQuote >= CarrierStatus.REQUEST_RECEIVED)
									? 'completed'
									: ''
							}}"
						>
							<span class="step-number"></span>
							<div class="step-text">
								{{ "PRICING_BOOKING.WAITING_FOR_RECOMMENDATION" | translate }}
							</div>
						</li>
						<li
							*ngIf="
								!(
									ebDemande.xEcStatut >= DemandeStatus.WDCT &&
									(userConnected.role == UserRole.PRESTATAIRE &&
										(userConnected.service != ServiceType.BROKER ||
											(userConnected.service == ServiceType.TRANSPORTEUR_BROKER &&
												ebDemande?.xEbUserOriginCustomsBroker?.ebUserNum !=
													userConnected.ebUserNum &&
												ebDemande?.xEbUserDestCustomsBroker?.ebUserNum !=
													userConnected.ebUserNum)) &&
										ebDemande.xEbTransporteurEtablissementNum !=
											userConnected.ebEtablissement.ebEtablissementNum)
								) && !(ebDemande.xEcCancelled == CancelStatus.CANCELLED)
							"
							class="{{
								(!ebDemande.statusQuote && ebDemande.xEcStatut >= DemandeStatus.RECOMMENDATION) ||
								(ebDemande.statusQuote && ebDemande.statusQuote >= DemandeStatus.RECOMMENDATION)
									? 'completed'
									: ''
							}}"
						>
							<span class="step-number"></span>
							<div class="step-text">
								{{ "PRICING_BOOKING.WAITING_FOR_CONFIRMATION" | translate }}
							</div>
						</li>
						<li
							*ngIf="
								!(
									ebDemande.xEcStatut >= DemandeStatus.WDCT &&
									(userConnected.role == UserRole.PRESTATAIRE &&
										(userConnected.service != ServiceType.BROKER ||
											(userConnected.service == ServiceType.TRANSPORTEUR_BROKER &&
												ebDemande?.xEbUserOriginCustomsBroker?.ebUserNum !=
													userConnected.ebUserNum &&
												ebDemande?.xEbUserDestCustomsBroker?.ebUserNum !=
													userConnected.ebUserNum)) &&
										ebDemande.xEbTransporteurEtablissementNum !=
											userConnected.ebEtablissement.ebEtablissementNum)
								) && !(ebDemande.xEcCancelled == CancelStatus.CANCELLED)
							"
							class="{{
								(!ebDemande.statusQuote && ebDemande.xEcStatut >= DemandeStatus.WDCT) ||
								(ebDemande.statusQuote && ebDemande.statusQuote >= DemandeStatus.WDCT)
									? 'completed'
									: ''
							}}"
						>
							<span class="step-number"></span>
							<div class="step-text">{{ "PRICING_BOOKING.CONFIRMED" | translate }}</div>
						</li>
						<li
							*ngIf="
								ebDemande.xEcStatut >= DemandeStatus.WDCT &&
								(userConnected.role == UserRole.PRESTATAIRE &&
									(userConnected.service != ServiceType.BROKER ||
										(userConnected.service == ServiceType.TRANSPORTEUR_BROKER &&
											ebDemande?.xEbUserOriginCustomsBroker?.ebUserNum != userConnected.ebUserNum &&
											ebDemande?.xEbUserDestCustomsBroker?.ebUserNum != userConnected.ebUserNum)) &&
											ebDemande.exEbDemandeTransporteurFinal &&
											((
											(userConnected.superAdmin &&
											ebDemande.exEbDemandeTransporteurFinal.ebCompagnie.ebCompagnieNum !=
													userConnected.ebCompagnie.ebCompagnieNum)) ||
											(!userConnected.superAdmin &&
											ebDemande.exEbDemandeTransporteurFinal.ebEtablissement.ebEtablissementNum !=
													userConnected.ebEtablissement.ebEtablissementNum))) &&

								!(ebDemande.xEcCancelled == CancelStatus.CANCELLED)
							"
							class="completed"
						>
							<span class="step-number"></span>
							<div class="step-text">{{ "PRICING_BOOKING.NOT_AWARDED" | translate }}</div>
						</li>
						<li *ngIf="ebDemande.xEcCancelled == CancelStatus.CANCELLED" class="completed">
							<span class="step-number"></span>
							<div class="step-text">
								{{ "PRICING_BOOKING.CANCELLATION_OF_QUOTATION_REQUEST" | translate }}
							</div>
						</li>
					</ul>

					<ul class="status-steps" *ngIf="module == Modules.TRANSPORT_MANAGEMENT">
						<li
							class="{{ ebDemande.xEcStatut >= DemandeStatus.WPU ? 'completed' : '' }}"
							*ngIf="!(ebDemande.xEcCancelled == CancelStatus.CANCELLED)"
						>
							<span class="step-number"></span>
							<div class="step-text">{{ "PRICING_BOOKING.WAITING_PICKUP" | translate }}</div>
						</li>
						<li
							class="{{ ebDemande.xEcStatut >= DemandeStatus.TO ? 'completed' : '' }}"
							*ngIf="!(ebDemande.xEcCancelled == CancelStatus.CANCELLED)"
						>
							<span class="step-number"></span>
							<div class="step-text">{{ "PRICING_BOOKING.TRANSPORT_ONGOING" | translate }}</div>
						</li>
						<li
							class="{{ ebDemande.xEcStatut >= DemandeStatus.DLVRY ? 'completed' : '' }}"
							*ngIf="!(ebDemande.xEcCancelled == CancelStatus.CANCELLED)"
						>
							<span class="step-number"></span>
							<div class="step-text">{{ "PRICING_BOOKING.COMPLETED" | translate }}</div>
						</li>
						<li *ngIf="ebDemande.xEcCancelled == CancelStatus.CANCELLED" class="completed">
							<span class="step-number"></span>
							<div class="step-text">
								{{ "PRICING_BOOKING.CANCELLATION_OF_QUOTATION_REQUEST" | translate }}
							</div>
						</li>
					</ul>
				</div>

				<input class=" hidden" value="false" />
			</div>
		</div>
	</div>
	<div class="col-md-2" *ngIf="module == Modules.PRICING && !hideRemaining">
		<div class="time-remaining">
			<div class="ct-header">
				<div class="ct-header-title  fwb text-center">
					{{ "PRICING_BOOKING.TIME_REMAINING" | translate }}
				</div>

				<div class="ct-body-items">
					<div id="countdown" class="text-center important-font-size">
						<div class="col-md-12 text-center countd-md">
							<span class="calender-counter">{{ dateObj?.hours }}</span
							>{{ "PRICING_BOOKING.HOURS" | translate }}
						</div>
						<div class="col-md-12 text-center countd-md">
							<span class="calender-counter">{{ dateObj?.minutes }}</span
							>{{ "PRICING_BOOKING.MIN" | translate }}
						</div>
						<div class="col-md-12 text-center countd-md">
							<span class="calender-counter">{{ dateObj?.seconds }}</span
							>{{ "PRICING_BOOKING.SEC" | translate }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
