@import "../../../styles/variables";
/*Business Card Css */

::ng-deep .card-view {
	padding: 5px;
	margin-top: 5px;
    padding-top: 0;
	& > div {
		min-height: 50px;
		height: 100%;
		border: 1px solid $gray-light;
		background: $white;
		border-radius: 4px;
		-webkit-box-shadow: 0 0px 5px -1px $black-box-shadow;
		box-shadow: 0 0px 5px -1px $black-box-shadow;
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		&:hover {
			box-shadow: 1px 1px 8px 0 $black-box-shadow;
		}
	}
}

.card-view.green {
	border-left: 5px solid $primary-color;
	/* green */
}

.card-view.grey {
	border-left: 5px solid $gray-medium;
	/* grey */
}

.card-view.yellow {
	border-left: 5px solid $yellow;
	/* yellow */
}

.card-view.red {
	border-left: 5px solid $red;
	/* red */
}

.profile-img {
	height: 120px;
	background: $white;
}

.job {
	color: $gray-dark;
	font-size: $fz-base;
}

.mail {
	font-size: $fz-base;
}

h4 {
	font-size: 18px !important;
}

.disabled-img {
	opacity: 0.4 !important;
}

.disabled-div {
	background-color: $gray-dark !important;
}

.btn.focus {
	outline: none !important;
}

.disabled-btn {
	opacity: 0.5 !important;
	pointer-events: none !important;
}

.card-view-container .menu-item {
	position: absolute;
	right: 26px;
	top: 5px;
	z-index: 1;
}

.card-view-container .menu-item i.fa-caret-down {
	transform: rotate(0);
	transition: all 0.2s ease-in-out;
}

.card-view-container .menu-item.show i.fa-caret-down {
	transform: rotate(-90deg);
}

.card-view-container .menu-item .dropdown-menu {
	padding: 0;
}

.card-view-container .menu-item .dropdown-menu button {
	width: 100%;
	margin-left: 0 !important;
}

.media-right {
	height: calc(145px - 25px);
}

.dropdown-menu {
	left: 25px !important;
	background: transparent;
	width: 114px;
	min-width: inherit;
	margin: 0;
	border: none;
	box-shadow: none;
}

.job {
	color: #000 !important;
}

// Don't uncomment, card height now defined by configuration
/*.b-c-users {
  height: 100% !important;
}
.b-c-users .media {
  height: auto;
}*/

.selected-card {
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75) !important;
}
.mrg-top10 {
	margin-top: 10px;
}

.custom-select {
	margin-top: 2px !important;
	border-radius: 3px;
}

.pagination-card {
	margin-top: 14px;
	padding: 0px 25px !important;
}

.current-user {
	background: #4caf5033 !important;
}

.selected-card {
	background: #bceaf5 !important;
}

.groupe-filtre {
	color: #af120e;
	font-weight: bold;
	padding-right: 7px;
	font-size: $fz-base;
}

.waiting {
	color: rgb(203, 206, 49);
}

.drag-handler {
	display: inline-block;
	position: absolute;
	right: -9px;
	top: -9px;
	background-color: $primary-color;
	opacity: 0.4;
	// display: none;
	cursor: all-scroll;
	width: 30px;
	height: 30px;
	border-color: $primary-color;
	border-radius: 50%;
}
.card-container {
	overflow: hidden;
}
