<div
	class="col-md-12 d-flex-w mrg-top10 no-padding margin-bottom-0-important {{
		applyListClass || ''
	}}"
	#dragBounds
>
	<div
		[sortablejs]="data"
		[sortablejsOptions]="eventSortOptions"
		*ngIf="data && data.length; else noDataFound"
		class="width-100-percent margin-bottom-10"
	>
		<ng-container *ngFor="let card of data; let i = index">
			<ng-container *ngIf="!hideFn || !hideFn(card)">
				<div
					[pDraggable]="allowOrder ? 'cardelement' : null"
					class="{{
						cardCol ? 'col-md-' + cardCol : ''
					}} card-container padding-bottom-0-important card-view b-c-users  {{
						colMdVignetteForDashboard
					}} {{ applyClass || '' }} {{ applyFnClass ? applyFnClass(card) : '' }}"
				>
					<!-- <span #defaultDragHandler class="drag-handler" [hidden]="!allowOrderValue"></span> -->
					<!-- (movingOffset)="onMovingOffset($event, i, dragBounds)" -->

					<!-- Render mode NORMAL -->
					<ng-container *ngIf="renderMode == null || renderMode === RenderModeCard.NORMAL">
						<div
							*ngIf="columns && columns.length; else cardTemplate"
							class="media {{ showDetails ? 'cursor-pointer' : '' }}"
							(click)="showDetails && showDetailsHandler($event, card)"
						>
							<div class="media-left col-md-3 no-padding" *ngIf="img">
								<img
									class="media-object img-circle profile-img"
									src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png"
								/>
							</div>

							<div class="col-md-{{ img ? '9' : '11' }} no-padding">
								<div class="col-md-11 no-padding">
									<ng-container *ngFor="let col of columns">
										<ng-container *ngIf="col.isCardTitle; else textTpl">
											<h4 class="truncate username">
												<b>
													<a href="javascript:void(0)">
														<ng-container
															*ngTemplateOutlet="cardContent; context: { col: col, card: card }"
														></ng-container>
													</a>
												</b>
											</h4>
										</ng-container>

										<ng-template #textTpl>
											<div class="{{ col.isCardLabel ? 'label label-primary' : 'job' }} truncate">
												<ng-container
													*ngTemplateOutlet="cardContent; context: { col: col, card: card }"
												></ng-container>
											</div>
										</ng-template>
									</ng-container>
								</div>

								<div class="col-md-1 no-padding">
									<div class="pull-right">
										<div class="action">
											<span *ngFor="let act of cardActions">
												<button
													*ngIf="act.hide ? act.hide(card) : true"
													type="button"
													class="btn btn-xs font-size-10"
													draggable="false"
													placement="bottom"
													container="body"
													[title]="act.title"
													(click)="actionHandler(act.handler, card, $event)"
												>
													<i class="{{ act.icon }} cursor-pointer"></i>
												</button>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- using custom child templates directly -->
						<ng-template #cardTemplate>
							<ng-container
								*ngTemplateOutlet="cardContentTemplate; context: { $implicit: card, index: i }"
							>
							</ng-container>
						</ng-template>
					</ng-container>
					<!-- END Render mode NORMAL -->

					<!-- Render mode GenericCell -->
					<ng-container *ngIf="renderMode != null && renderMode === RenderModeCard.GenericCell">
						<app-generic-cell [context]="context" [model]="card" [cellClass]="genericCellClass">
						</app-generic-cell>
					</ng-container>
				</div>
				<!-- END Render mode GenericCell -->
			</ng-container>
		</ng-container>
	</div>

	<ng-template #noDataFound>
		<div class="text-center" style="width:100%">
			<ng-container *ngIf="data">
				Aucune donnée trouvée
			</ng-container>
			<ng-container *ngIf="!data">
				{{"GENERAL.LOADING_IN_PROGRESS" | translate}}
			</ng-container>
		</div>
	</ng-template>
</div>

<ng-template #cardContent let-col="col" let-card="card">
	<ng-container [ngSwitch]="col.renderMode">
		<span
			*ngSwitchCase="RenderModeTable.HTML"
			[innerHtml]="
				(col.render ? col.render(card[col.field], col.renderParam, card) : card[col.field])
					| safe: 'html'
			"
		>
		</span>
		<app-generic-cell
			*ngSwitchCase="RenderModeTable.GenericCell"
			[context]="context"
			[model]="card"
			[cellParams]="col.genericCellParams"
			[cellClass]="col.genericCellClass"
			(customEvent)="
				col.genericCellHandler
					? col.genericCellHandler($event.key, $event.value, $event.model, parentContext)
					: null
			"
		>
		</app-generic-cell>
		<span *ngSwitchDefault>
			{{ col.render ? col.render(card[col.field], col.renderParam, card) : card[col.field] }}
		</span>
	</ng-container>
</ng-template>
