<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="shared/common_head :: copy">
	<title>MyTower / Alert d'erreur</title>
</head>

<body>
	<header th:replace="shared/header :: copy"></header>
	<main class="main">
		
		<table class="table-main">
			<tbody>
				<tr>
				    <td>
				    <h3>Échec de l’exécution du tracing job.</h3>
				    </td>
				</tr>

				 <tr>
				    <td>
				    	<div>Date d'exécution : <span th:utext="${dateExecution}"></span></div>
				    	<div style="padding-bottom: 10px;">Prochaine date d'exécution : <span th:utext="${dateNextExecution}"></span></div>
					   	<table class="table-reject" border="1">
						    <thead>
						        <tr>
						            <th> tmpEventNum </th>
						            <th> refTran </th>
						            <th> unitRef </th>
						            <th> codePslTrans </th>
						            <th> codePslNorm </th>
						            <th> dateActu </th>
						            <th> dateNego </th>
						            <th> dateEstim </th>
						            <th> city </th>
						            <th> codeCountry </th>
						            
						        </tr>
						    </thead>
						    <tbody>
						        <tr th:each="event : ${listTmpEventRejected}">
						            <td><span th:text="${event.tmpEventNum}"> tmpEventNum </span></td>
						            <td><span th:text="${event.refTransport}"> refTran </span></td>
						            <td><span th:text="${event.unitReference}"> unitRef </span></td>
						            <td><span th:text="${event.codePslTransporteur}"> codePslTrans </span></td>
						            <td><span th:text="${event.codePslNormalise}"> codePslNorm </span></td>
						            <td><span th:text=" ${#dates.format(event.dateActual, 'yyyy-MM-dd HH:mm')}"> dateActu </span></td>
						            <td><span th:text="${#dates.format(event.dateNegociated, 'yyyy-MM-dd HH:mm')}"> dateNego </span></td>
						            <td><span th:text="${#dates.format(event.dateEstimated, 'yyyy-MM-dd HH:mm')}"> dateEstim </span></td>
						            <td><span th:text="${event.city}"> city </span></td>
						            <td><span th:text="${event.codeCountry}"> codeCountry </span></td>
						             
						        </tr>
						    </tbody>
						</table>
				   
				    </td>
				</tr>
				
				 
			</tbody>
		</table>
	</main>
	<footer th:replace="shared/footer :: copy"></footer>
</body>

</html>