<div class="form-root">
	<div class="content">
		<app-goods-information
			#goodsInformation
			*ngIf="isComponentReady"
			[module]="module"
			[stepIndex]="2"
			[modeTransport]="listModeTransport"
			[marchandiseTypeOfUnit]="marchandiseTypeUnit"
			[listExportControl]="listExportControl"
			[listCountry]="listCountries"
			[(ebDemande)]="demande"
			[userConnected]="userConnected"
			[readOnly]="readOnly"
			[requiredReadOnly]="requiredReadOnly"
			[isPending]="isPending"
			[marchandiseDangerousGood]="marchandiseDangerousGood"
			[marchandiseClassGood]="marchandiseClassGood"
			[listRegimesDouaniers]="listRegimesDouaniers"
			[listTypeGoods]="listTypeGoods"
			[listCustomsFields]="listCustomsFields"
			(updateChatEmitter)="updateChatEmitter.emit($event)"
			class="units-readonly"
		>
		</app-goods-information>
	</div>
</div>
