<div class="grid-container">
	<div class="buttons">
		<button class="btn btn-sm" (click)="addField()">
			<i class="fa fa-plus"></i> {{ "GENERAL.ADD" | translate }}
		</button>
		<div class="flex-grow-1"><!-- Growing Separator --></div>
		<button class="btn btn-sm btn-primary" (click)="save($event)" [disabled]="disableSaveButton">
			{{ "GENERAL.SAVE" | translate }}
		</button>
	</div>
	<div class="table">
		<table>
			<tbody>
				<tr *ngFor="let field of listFields; let i = index">
					<td>{{ i + 1 }}</td>
					<td>
						<div class="form-group">
							<div class="input-group">
								<input
									class="form-control"
									type="text"
									name="field.name"
									[placeholder]="'GENERAL.LIBELLE' | translate"
									[(ngModel)]="field.label"
									(ngModelChange)="disableSave($event, field)"
								/>
							</div>
						</div>
					</td>
					<td>
						<button
							(click)="openDetailCustomFields(field)"
							class="btn btn-xs button-icon"
							type="button"
						>
							<span class="fa fa-pencil"></span>
						</button>
					</td>
					<td>
						<button (click)="deleteEbCustomField(field)" class="btn btn-xs button-icon" type="button">
							<span class="fa fa-trash"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div *ngIf="modalDetailCustomFields">
	<app-modal-detail-custom-fields
		[field]="selectedField"
		[listFields]="listFields"
		(closePopup)="onClosePopup($event)"
	>
	</app-modal-detail-custom-fields>
</div>
