/* autoprefixer grid: autoplace */

.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 30px 1fr;
}

.buttons {
	grid-area: 1 / 1 / 2 / 2;
	display: flex;
	flex-flow: row;
}

.table {
	grid-area: 2 / 1 / 3 / 2;
}

table {
	border-collapse: separate;
	border-spacing: 10px !important;
}

.fa-remove {
	color: red;
}

.button-icon{
	padding: 3px 7px!important;
}
