<p *ngIf="!isEditable()">{{ rawValue }}</p>
<div class="container_field_lock" *ngIf="isEditable()">
	<input
		[pattern]="Statique.patternTime"
		type="text"
		[textMask]="{ mask: Statique.maskTime }"
		placeholder="hh:mm"
		[(ngModel)]="model.workRangeHour.startHour"
		(change)="chnageWorkRangeHour()"
		class="form-control input-underline input-xs flex-grow-2"
	/>

	<input
		[pattern]="Statique.patternTime"
		type="text"
		[textMask]="{ mask: Statique.maskTime }"
		placeholder="hh:mm"
		[(ngModel)]="model.workRangeHour.endHour"
		(change)="chnageWorkRangeHour()"
		class="form-control input-underline input-xs flex-grow-2"
	/>

	<a
		href="javascript:void(0)"
		(click)="outputEvent('lock-change', 'workRangeHourLocked')"
		class="lock_a"
	>
		<i *ngIf="!model.workRangeHourLocked" class="fa fa-15x fa-unlock" aria-hidden="true"></i>
		<i *ngIf="model.workRangeHourLocked" class="fa fa-15x fa-lock" aria-hidden="true"></i>
	</a>
</div>
