<p *ngIf="!isEditable()">{{ dateFormatted }}</p>
<div class="container_field_lock" *ngIf="isEditable()">
	<app-datetime-picker
		type="date"
		[(ngModel)]="model.dateUnloadingPa"
		class="flex-grow-1"
		(dateChange)="changeDateUnloadingPa($event)"
	></app-datetime-picker>

	<a
		href="javascript:void(0)"
		(click)="outputEvent('lock-change', 'dateUnloadingPaLocked')"
		class="lock_a"
	>
		<i *ngIf="!model.dateUnloadingPaLocked" class="fa fa-15x fa-unlock" aria-hidden="true"></i>
		<i *ngIf="model.dateUnloadingPaLocked" class="fa fa-15x fa-lock" aria-hidden="true"></i>
	</a>
</div>
