<p *ngIf="!isEditable()">{{ rawValue }}</p>
<div class="container_field_lock" *ngIf="isEditable()">
	<select
		class="form-control input-underline input-xs flex-grow-1"
		[(ngModel)]="model.modeTransportPa"
		(change)="chnageModeTransportPa()"
	>
		<option [ngValue]="null"> </option>
		<option *ngFor="let modeTransp of listModeTransp" [ngValue]="modeTransp.code">{{
			modeTransp.libelle
		}}</option>
	</select>

	<a
		href="javascript:void(0)"
		(click)="outputEvent('lock-change', 'modeTransportPaLocked')"
		class="lock_a"
	>
		<i *ngIf="!model.modeTransportPaLocked" class="fa fa-15x fa-unlock" aria-hidden="true"></i>
		<i *ngIf="model.modeTransportPaLocked" class="fa fa-15x fa-lock" aria-hidden="true"></i>
	</a>
</div>
