<p *ngIf="!isEditable()">{{ rawValue }}</p>
<div class="container_field_lock" *ngIf="isEditable()">
	<select
		class="form-control input-underline input-xs flex-grow-1"
		[(ngModel)]="model.dockNum"
		(change)="changeDock()"
	>
		<option [ngValue]="null"> </option>
		<option *ngFor="let dock of listDockOfCurrentEntrepot" [ngValue]="dock.ebDockNum">{{
			dock.nom
		}}</option>
	</select>

	<a href="javascript:void(0)" (click)="outputEvent('lock-change', 'dockLocked')" class="lock_a">
		<i *ngIf="!model.dockLocked" class="fa fa-15x fa-unlock" aria-hidden="true"></i>
		<i *ngIf="model.dockLocked" class="fa fa-15x fa-lock" aria-hidden="true"></i>
	</a>
</div>
