<div class="content_wrapper app-padding">
	<app-incident-details-header
		*ngIf="incident != null"
		[module]="module"
		[incident]="incident"
		[eventType]="incident.eventTypeStatus"
		[listIncidentStatusFromBackend] = "listIncidentStatusFromBackend"
		[demande]="demande"
	></app-incident-details-header>

	<div class="row-eq-height" style="margin-top: 15px;">
		<div [ngClass]="toggleChat ? 'col-md-9' : 'col-md-12'" class="transition-all-6">
			<div class="row">
				<div class="col-md-12 padding-0">
					<app-collapsible-panel
						class="chat-panel"
						title="{{ 'QUALITY_MANAGEMENT.TRANSPORT_INFORMATIONS' | translate }}"
						*ngIf="
							module == Modules.QUALITY_MANAGEMENT &&
							incident != null &&
							incident.ebQmIncidentNum != null &&
							!isPrestataire
						"
					>
						<app-qm-transport-information
							*ngIf="demande != null"
							[demande]="demande"
						></app-qm-transport-information>
					</app-collapsible-panel>
				</div>
				<div class="col-md-12 padding-0">
					<app-collapsible-panel
						class="chat-panel"
						title="{{ eventInformationTitle | translate }}"
						*ngIf="
							module == Modules.QUALITY_MANAGEMENT &&
							incident != null &&
							incident.ebQmIncidentNum != null &&
							!isPrestataire
						"
					>
						<app-incident-related-information
							*ngIf="incident != null"
							#incidentInformation
							step="3"
							[eventType]="incident.eventTypeStatus"
							[incidents]="[incident]"
							[listIncidentCategory]="listIncidentCategory"
							[currentIncidentIndex]="0"
						>
						</app-incident-related-information>
					</app-collapsible-panel>

					<!-- <app-incident-information [incident]="incident" ></app-incident-information> -->
				</div>
				<div class="col-md-12 padding-0">
					<app-collapsible-panel
						class="chat-panel"
						title="{{ eventFilesTitle | translate }}"
						*ngIf="
							module == Modules.QUALITY_MANAGEMENT &&
							incident != null &&
							incident.ebQmIncidentNum != null &&
							!isPrestataire
						"
					>
						<app-documents
							#documentsDiv
							id="documentsDiv"
							(updateChatEmitter)="updateChatEmitter($event)"
							[incidents]="[incident]"
							[currentIncidentIndex]="0"
							[ebDemandeNum]="incident.xEbDemande"
							[colMd]="'col-md-3 col-sm-6 col-xs-12'"
						>
						</app-documents>
					</app-collapsible-panel>
				</div>
				<div class="col-md-6 padding-0">
					<app-collapsible-panel
						class="chat-panel"
						title="{{ 'QUALITY_MANAGEMENT.ROOT_CAUSES_ANALYSIS' | translate }}"
						*ngIf="
							module == Modules.QUALITY_MANAGEMENT &&
							incident != null &&
							incident.ebQmIncidentNum != null &&
							!isPrestataire
						"
					>
						<app-root-causes-analysis
							#rootCausesAnalysis
							[currentIncidentIndex]="0"
							[incidents]="[incident]"
							[eventType]="incident?.eventTypeStatus"
						></app-root-causes-analysis>
					</app-collapsible-panel>
				</div>
				<div class="col-md-6 padding-0">
					<app-collapsible-panel
						class="chat-panel"
						title="{{ 'QUALITY_MANAGEMENT.PROGRESS_DETAILS' | translate }}"
						*ngIf="
							module == Modules.QUALITY_MANAGEMENT &&
							incident != null &&
							incident.ebQmIncidentNum != null &&
							!isPrestataire
						"
					>
						<app-progress-details [incident]="incident"></app-progress-details>
					</app-collapsible-panel>
				</div>
				<div class="col-md-12 padding-0">
					<button class="btn btn-primary btn-xs pull-right" (click)="save(incident)">Update</button>
					<button class="btn btn-primary btn-xs pull-right" (click)="cancel()">
						{{ "GENERAL.CANCEL" | translate }}
					</button>
				</div>
			</div>
		</div>
		<div
			[hidden]="!toggleChat"
			[ngClass]="toggleChat ? 'col-md-3' : 'hidden'"
			class="fadeInRight animated bounce delay-2s padding-0 for-equaling__height"
		>
			<app-collapsible-panel
				class="chat-panel"
				title="{{ 'PRICING_BOOKING.CHAT' | translate }}"
				(click)="preventClosingChat()"
			>
				<app-chat-panel
					[nbColTexteditor]="nbColTexteditor"
					[nbColListing]="nbColListing"
					[idChatComponent]="IDChatComponent.QUALITY_MANAGEMENT"
					[user]="userConnected"
					[module]="module"
					[idFiche]="this.ebQmIncidentNum"
					[dataSource]="Statique.controllerStatiqueListe + '/listChat'"
					[dataInsertion]="Statique.controllerStatiqueListe + '/addChat'"
					#chatPanelQualityComponent
				></app-chat-panel>
			</app-collapsible-panel>
		</div>
	</div>
</div>
<app-qm-semi-automatique-mail
	*ngIf="openPopUp"
	(closePopUpMail)="openPopUp = $event"
	[incident]="incident"
></app-qm-semi-automatique-mail>
<div
	*ngIf="openStatusPopUp"
	class="modal modal-backdrop"
	tabindex="-1"
	role="dialog"
	style="display:flex !important; background-color: rgba(0, 0, 0, 0.4) !important;"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div>
				<form role="form" #EventInformationForm="ngForm" novalidate>
					<div class="modal-header">
						{{typeOfEventTranslate  | translate}}
					</div>
					<div class="modal-body" style="text-align: left;">
						<div class="form-group row">
							<div class="generic-inputs__style d-flex-ai-c col-md-12">
								<label> {{"QUALITY_MANAGEMENT.CHOOSE_STATUS" | translate}}:</label>
								<div class="col-md-8">
									<select class="col-md-12" name="selectedStatus" [(ngModel)]="selectedStatus" required>
										<option *ngFor="let status of listIncidentStatusFromBackend " [ngValue]="status.code"  > {{"QUALITY_MANAGEMENT.INCIDENT_STATUS." + status.code | translate}} </option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a>
							<button
								class="btn btn-primary pull-right btn-sm mr5 modal_yes_btn"
								(click)="confirmAddEventTypeStatus($event)"
								[disabled]="!EventInformationForm.valid"
							>
								{{"QUALITY_MANAGEMENT.CONFIRM" | translate}}
							</button>
						</a>
						<a>
							<button class="btn btn-danger pull-right btn-sm mr5 modal_no_btn" (click)="close()">
								{{ "GENERAL.CANCEL" | translate }}
							</button>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
