.entete-row {
	border-bottom: 1px solid hsl(0, 0%, 80%);
	padding-bottom: 5px;
	margin-bottom: 15px;
}
.ui-panel-header input.search-filter {
	width: 170px;
	display: inline-block;
	margin-right: 10px;
}
