<div class="app-padding">
	<p-panel
		#purchasePanel
		[toggleable]="true"
		[style]="{ margin: '10px' }"
		(onAfterToggle)="changeIcon($event)"
	>
		<p-header>
			<div style="width:100%" class="ui-panel-header">
				<div class="col-md-4 text-left">
					<span style="font-size: 18px; color: #fff">{{
						"CUSTOM.MY_CUSTOM_FIELDS" | translate
					}}</span>
				</div>
				<div class="col-md-8 padding-right-0 text-right">
					<!-- <i class="fa fa-search" style="margin:4px 4px 0 0"></i> -->
					<input
						class="search-filter"
						type="text"
						pInputText
						size="50"
						placeholder="Search"
						(input)="dt.filterGlobal($event.target.value, 'contains')"
					/>
					<button
						pButton
						#collapse
						[icon]="iconCollapse"
						style="border : none; background : none; float : right"
						(click)="togglePanel($event)"
					></button>
				</div>
			</div>
		</p-header>

		<p-table #dt [columns]="cols" [value]="listDouan" [resizableColumns]="true">
			<ng-template pTemplate="header" let-columns>
				<tr>
					<th
						*ngFor="let col of columns"
						[ngStyle]="{ width: col.width }"
						[pSortableColumn]="col.field"
						pResizableColumn
					>
						{{ col.header }}
						<p-sortIcon
							[field]="col.field"
							ariaLabel="Activate to sort"
							ariaLabelDesc="Activate to sort in descending order"
							ariaLabelAsc="Activate to sort in ascending order"
						></p-sortIcon>
					</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-rowData let-columns="columns">
				<tr>
					<td>
						{{ rowData.name }}
					</td>
					<td class="text-center" *ngIf="rowData.visible == true">
						<input
							name="visibility"
							type="checkbox"
							(change)="listadd($event, rowData, index)"
							checked="true"
						/>
					</td>

					<td class="text-center" *ngIf="rowData.visible != true">
						<input name="visibility" type="checkbox" (change)="listadd($event, rowData, index)" />
					</td>
					<td>
						{{ rowData.xEbFormType.ebFormTypeName }}
					</td>

					<td>
						<input
							class="form-control"
							type="number"
							name="ordre"
							[(ngModel)]="rowData.ordre"
							(change)="listaddx2($event, rowData, index)"
						/>
					</td>
					<td class="text-center" *ngIf="rowData.required == true">
						<input
							name="required"
							type="checkbox"
							(change)="addrequired($event, rowData, index)"
							checked="true"
						/>
					</td>
					<td class="text-center" *ngIf="rowData.required != true">
						<input name="required" type="checkbox" (change)="addrequired($event, rowData, index)" />
					</td>
					<td>
						<select
							[(ngModel)]="rowData.xEbViewForm"
							name="rowData.xEbViewForm.ebFormView"
							class="form-control"
							(change)="listaddx2($event, rowData, index)"
							[compareWith]="compareFormView"
						>
							<option *ngFor="let Form of listFormView" [ngValue]="Form">{{
								Form.ebFormView
							}}</option>
						</select>
					</td>
					<td>
						<select
							[(ngModel)]="rowData.xEbViewForm.xEbFormZone.ebFormZoneNum"
							name="rowData.xEbViewForm.xEbFormZone.ebFormZoneNum"
							id=""
							class="form-control"
							disabled
						>
							<option [ngValue]="rowData.xEbViewForm.xEbFormZone.ebFormZoneNum">{{
								rowData.xEbViewForm.xEbFormZone.ebFormName
							}}</option>
						</select>
					</td>
				</tr>
			</ng-template>
		</p-table>
		<p-footer>
			<div class="col-md-12 text-right">
				<button (click)="saveListChamp($event)" type="button" class="btn btn-primary">
					{{ "GENERAL.SAVE" | translate }}
				</button>
			</div>
		</p-footer>
	</p-panel>
</div>
