<div class="panel-body body-table body-statut">
	<div class="col-md-12">
		<div>
			<app-flag-list-view [listFlag]="ebTracing.listEbFlagDTO" [iconSize]="35"></app-flag-list-view>
		</div>
		<h2 class="h2detailsTtile d-inline-block"></h2>
		<div class="row">
			<div class="col-md-12 padding-bottom-20 col-sm-12">
				<div class="infos infos-head">
					<div class="col-md-3 block-info"></div>
					<div class="col-md-3 block-info" *ngIf="ebTracing.xEbDemande.numAwbBol != null"></div>
					<div class="col-md-3 block-info">
						<div>
							<span class="colorBleu"
								><span style="padding: 6px;" class="fa fa-calendar  acircle"></span>
								{{ "PRICING_BOOKING.DATE" | translate }} :</span
							>
							<span class="important-font-size">{{
								Statique.formatDate(ebTracing.dateCreation)
							}}</span>
						</div>
					</div>
					<div class="col-md-3 block-info">
						<div>
							<span class="colorBleu"
								><span style="padding: 6px; top: 0px;" class="acircle fa fa-user"></span>Customer
								:</span
							>
							<span>{{ ebTracing.destinationPlace }}</span>
						</div>
					</div>
				</div>
			</div>
			<hr />
			<div class="col-md-3 borderbloc">
				<div>
					<span class="colorBleu"> Status :</span>
					<!-- <span *ngIf="ebTracing.codePslCourant">{{ ebTracing.codePslCourant.libelle }} </span> -->
				</div>
				<div>
					<span class="colorBleu"
						><span style="padding: 6px; top: 0px;" class="acircle"></span>
						{{ "QUALITY_MANAGEMENT.TRANSPORT_REF" | translate }}</span
					>
					<span>
						<a
							class="btn btn-xs"
							routerLink="/app/{{ Statique.moduleNamePath.TRANSPORT_MANAGEMENT }}/details/{{
								ebTracing.xEbDemande.ebDemandeNum
							}}"
							>{{ ebTracing.refTransport }}</a
						>
					</span>
				</div>

				<div *ngIf="ebTracing.xEbDemande.numAwbBol != null">
					<div>
						<span class="colorBleu"><span style="padding: 6px; top: 0px;"></span>N° awb/bol :</span>
						<span>{{ ebTracing.xEbDemande.numAwbBol }}</span>
					</div>
				</div>

				<div *ngIf="ebTracing.xEbDemande.xEcModeTransport != null">
					<div class="transport-icon">
						<span [ngClass]="getModeTransportIcon()"></span>
					</div>
				</div>
			</div>
			<div class="col-md-9 padding-bottom-15 col-sm-8">
				<div class="status-navbar-small">
					<ul class="status-steps">
						<li
							class="{{ ebpslapp.validated ? 'bg-validated' : '' }} {{
								!ebpslapp.exists ? 'bg-disabled' : ''
							}}"
							*ngFor="let ebpslapp of ebTracing.listEbPslApp; let i = index"
						>
							<div class="step-textv2">{{ ebpslapp.codePslLibelle }}</div>
							<a (click)="clickeventebpslapp(ebpslapp)">
								<span class="step-number pointerBulle"></span
							></a>
							<div *ngIf="ebpslapp.dateActuelle" class="step-date color-primary">
								{{ Statique.formatDate(ebpslapp.dateActuelle) }}
							</div>
						</li>
					</ul>
				</div>
			</div>
			<hr />
			<!-- <div class="col-md-12 padding-bottom-20 col-sm-12">
                <div class="infos">
                    <div class="col-md-4 block-info">
                        <div>
                            <span class="colorBleu"> {{'TRACK_TRACE.UNIT_REFERENCE' | translate}} :</span>
                            <span>{{ebTracing.customerReference}}</span>
                        </div>
                        <div>
                            <span class="colorBleu">{{'PRICING_BOOKING.CARRIER' | translate}} :</span>
                            <span>{{ebTracing.xEbTransporteur.nom + ' ' + ebTracing.xEbTransporteur.prenom }}</span>
                        </div>
                        <div>
                            <span class="colorBleu"> {{'TRACK_TRACE.LEAD_TIME' | translate}} :</span>
                            <span class="important-font-size">{{ebTracing.leadtime}} jours</span>
                        </div>

                    </div>
                    <div class="col-md-4 block-info">
                        <div>
                            <span class="colorBleu"> Status :</span>
                            <span *ngIf="ebTracing.codePslCourant">{{ebTracing.codePslCourant.libelle}} </span>
                        </div>
                        <div>
                            <span class="colorBleu">Deviation :</span>
                            <span class="{{hasDeviation ? 'deep-red' : ''}}">{{hasDeviation ? ('MODAL.OUI'|translate) : ('MODAL.NON'|translate)}}</span>
                        </div>
                        <div>
                            <span class="colorBleu">Comment :</span>
                            <span>{{nbrComment}}</span>
                        </div>

                    </div>
                    <div class="col-md-4 block-info">

                        <div>
                            <span class="colorBleu">From :</span>
                            <span>{{ebTracing.xEcCountryOrigin.libelle}} - </span>
                            <span class="colorBleu">To: </span>
                            <span>{{ebTracing.xEcCountryDestination.libelle}}</span>
                        </div>
                        <div>
                            <span class="colorBleu">Origin place :</span>
                            <span>{{ebTracing.originPlace}}</span>
                        </div>
                        <div>
                            <span class="colorBleu"> {{'TRACK_TRACE.WEIGHT' | translate}} :</span>
                            <span>{{ebTracing.totalWeight}}</span>
                        </div>



                    </div>

                </div>
            </div> -->
		</div>
	</div>

	<!-- <div class="col-md-2 leadtime">

        <div class="ct-header">
            <div class="ct-header-title  fwb">{{'TRACK_TRACE.LEAD_TIME' | translate}}</div>

            <div class="ct-body-items">
                <div class="col-md-8"><img src="../../../../assets/images/clock-rouge.png"></div>
                <div>{{ebTracing.leadtime}} jours</div>
            </div>
        </div>

    </div> -->
</div>

<app-modal-event-deviation [ebPslApp]="ebpslapp"></app-modal-event-deviation>
