/******** VARIABLES ********/
@import "../../../../../styles/variables";

.d-inline-block {
	width: initial;
	margin-left: 15px;
	margin-right: 15px;
}
.d-inline-block:first-child {
	margin-left: 0;
}

.ct-body-items {
	margin-top: 18px;
}

.leadtime {
	border-left: 1px solid #eee;
	min-height: 260px;
}

.status-navbar-small > ul li.bg-disabled span.step-number,
.status-navbar-small > ul li.bg-disabled:before,
.status-navbar-small > ul li.bg-disabled:after {
	background-color: #eeeeee;
}
.status-navbar-small > ul li.bg-validated span.step-number,
.status-navbar-small > ul li.bg-validated:before,
.status-navbar-small > ul li.bg-validated:after {
	background-color: #00a7ce;
}
.status-navbar-small {
	margin-top: 64px;
}
.spanLink {
	border: 1px solid #f3f3f3;
	text-shadow: 0 1px rgba(0, 0, 0, 0.08);
	background-color: #fff;
}
.spanLink a {
	color: #00a7ce;
}
.spanLink:hover,
.spanLink:active {
	background-color: #00a7ce !important;
}
.spanLink:hover a,
.spanLink:active a {
	color: white !important;
}
.step-date {
	margin-top: -10px;
	line-height: 1.2;
	font-size: $fz-base;
	background-color: transparent;
}

.status-navbar-small > ul li div.step-textv2 {
	position: absolute;
	top: -70px;
	left: 50%;
	transform: translateX(-50%);
}

.borderbloc {
	border-right: 3px solid #8e3a2a;
}

.transport-icon {
	width: 15%;
	display: inline-block;
	span.fa {
		font-size: 30px;
		color: #137f88;
	}
}

.pointerBulle {
	cursor: pointer;
}
