<div class="cursor-pointer col-md-12 padding-5" routerLink="/app/track-trace/details/{{ tracing.ebTtTracingNum }}">
	<app-vignette-header [infosTransport]="infosTransport"></app-vignette-header>
	<div class="col-md-12 d-flex-jc-c d-flex-w">
		<div class="card-vignette-block">
			<label>{{ "TRACK_TRACE.QR_REF" | translate }} : </label
			><span class="bold"> {{ tracing.refTransport }}</span>
		</div>
		<div class="card-vignette-block">
			<label>{{ "TRACK_TRACE.UNIT_REF" | translate }} : </label>
			<span class="bold"> {{ tracing.customerReference }}</span>
		</div>
		<div class="card-vignette-block">
			<label>{{ "TRACK_TRACE.EXPECTED_DATE_OF_LAST_PSL" | translate }} : </label>
			<span class="bold"> {{ tracing.expectedDateLastPsl | date: "dd/MM/yyyy" }}</span>
		</div>
		<div class="card-vignette-block">
			<label>{{ "TRACK_TRACE.ACTUAL_DATE_OF_THE_LAST_PSL" | translate }} : </label>
			<span class="bold"> {{ tracing.dateLastPsl | date: "dd/MM/yyyy" }}</span>
		</div>
		<div class="progress">
			<div
				class="progress-bar progress-bar-info progress-bar-striped"
				[ngStyle]="{ width: tracing.percentPslCourant + '%', color: 'dimgray' }"
				role="progressbar"
				attr.aria-valuenow="{{ tracing.percentPslCourant }}"
				aria-valuemin="0"
				aria-valuemax="100"
			>
				{{ tracing.codeAlphaPslCourant }}
			</div>
		</div>
	</div>
</div>
