<ng-template #theGenericCellButton>
	<button
		[class]="class"
		(click)="outputEvent('click', $event)"
		*ngIf="!hideIfNoText || (hideIfNoText && renderedText)"
	>
		{{ renderedText }}
	</button>
</ng-template>

<div *ngIf="!link && !routerLink">
	<ng-container *ngTemplateOutlet="theGenericCellButton"></ng-container>
</div>

<a *ngIf="routerLink && !link" [routerLink]="routerLink">
	<ng-container *ngTemplateOutlet="theGenericCellButton"></ng-container>
</a>

<a *ngIf="link" [href]="link">
	<ng-container *ngTemplateOutlet="theGenericCellButton"></ng-container>
</a>
