<i
	class="fa fa-2x"
	aria-hidden="true"
	(click)="openCommentPopup()"
	[ngClass]="{ 'fa-comment': hasText, 'fa-comment-o': !hasText }"
></i>

<div #popupRoot>
	<div *ngIf="popupCommentVisible" class="modal modal-backdrop">
		<div class="modal-dialog">
			<div class="modal-content">
				<div>
					<div class="modal-header">{{ "CPTM.DASHBOARD_SUIVI.FIELDS.COMMENT" | translate }}</div>
					<div class="modal-body">
						<app-advanced-editor [(ngModel)]="model[field]" name="comment"></app-advanced-editor>
					</div>
					<div class="modal-footer">
						<a (click)="popupConfirm()">
							<button class="btn btn-primary pull-right btn-sm mr5 modal_yes_btn">
								{{ "GENERAL.CONFIRM" | translate }}
							</button>
						</a>
						<a (click)="popupCancel()">
							<button class="btn btn-danger pull-right btn-sm mr5 modal_no_btn">
								{{ "GENERAL.CANCEL" | translate }}
							</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
