<ng-select
	[items]="values"
	[multiple]="multiple"
	bindLabel="libelleCode"
	[(ngModel)]="model[field]"
	[required]="required"
	[disabled]="disabled"
	appendTo="body"
	(change)="outputEvent('selection-change', 'onchange')"
	[ngClass]="{ 'input-show-onhover': showOnHover }"
>
	<ng-template ng-option-tmp let-item="item">
		<div class="d-flex-ai-c d-flex-jc-sb">
			<span>{{ item.libelle }}</span>
			<span>{{ item.code }}</span>
		</div>
	</ng-template>
</ng-select>
