::ng-deep .generic-datepicker__wrapper {
	& > span {
		vertical-align: middle;
	}
	input {
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	}
}
::ng-deep .generic-datepicker__wrapper.input-show-onhover {
	input {
		box-shadow: none !important;
	}
}
