<!--<ng-select 
	[items]="listItems" 
	[multiple]="multiple"
	[typeahead]="srcTypeahead?typeaheadEvent:false" 
	[bindValue]="fetchValue || 'value'"
	[bindLabel]="fetchAttribute || 'label'"
	[placeholder]="placeholder"
	[(ngModel)]="declaration[test]"
	>
</ng-select>
-->

<select
	class="form-control"
	name="name"
	[(ngModel)]="declaration[valueOfModel]"
	[compareWith]="compareSelectData"
	[disabled]="declaration.ebCustomDeclarationNum != null"
>
	<option *ngFor="let field of listItems" [ngValue]="field">{{ field[fetchAttribute] }}</option>
</select>
