<p-panel [toggleable]="true">
	<p-header>
		<div class="owHeaderDiv">
			<span>{{ "DOCK.OPENING_WEEKS" | translate }}</span>
		</div>
	</p-header>
	<div id="openingWeeksContent">
		<div id="listWeekDiv">
			<div style="margin-top: 10px;" class="listWeekDivScrollable">
				<ul *ngIf="listOpeningWeek != null">
					<li *ngFor="let week of listOpeningWeek" [ngClass]="{ selected: week.selected === true }">
						<a href="javascript:void(0)" (click)="selectWeek(week)">
							{{ week.label }}
						</a>
					</li>
				</ul>
			</div>
			<button
				*ngIf="listOpeningWeek != null"
				class="margin-left-0-important btn btn-primary"
				(click)="addWeek()"
			>
				{{ "GENERAL.ADD" | translate }}
			</button>
		</div>
		<div class="loaderDiv" *ngIf="selectedWeek == null">
			<div><p-progressSpinner></p-progressSpinner></div>
		</div>
		<div id="detailsWeekDiv" *ngIf="selectedWeek != null && listOpeningWeek != null">
			<div class="opening-weeks-head">
				<div>
					<label class="areaLibelle">{{ "DOCK.FIELD.LABEL" | translate }}</label>
				</div>
				<div class="padding-left-0-important padding-right-0-important flex-grow-1">
					<input
						name="baseWeek"
						class="form-control goods classPickslipVal"
						[(ngModel)]="selectedWeek.label"
					/>
				</div>
				<div>
					<button
						class="btn btn-sm btn-success btn-shadow"
						(click)="changeBaseWeek()"
						[disabled]="selectedWeek.isDefault"
					>
						{{ "DOCK.BT_SET_BASE_WEEK" | translate }}
					</button>
				</div>
				<div>
					<button
						class="btn btn-sm btn-danger btn-shadow"
						(click)="deleteWeek()"
						[disabled]="selectedWeek.isDefault"
					>
						{{ "GENERAL.DELETE" | translate }}
					</button>
				</div>
				<div>
					<button class="btn btn-sm btn-success btn-shadow" (click)="save(false)">
						{{ "GENERAL.SAVE" | translate }}
					</button>
				</div>
			</div>
			<app-opening-day
				[listDock]="listDock"
				(changeListOpeningDay)="onChangeListOpeningDay($event)"
				[listOpeningDay]="selectedWeek.days"
				[editable]="true"
			></app-opening-day>

			<app-opening-periods
				#openingPeriodsCmp
				(periodChange)="onPeriodChange()"
				[listOpeningPeriod]="selectedWeek.periods"
				[openingWeekNum]="selectedWeek.ebDkOpeningWeekNum"
			></app-opening-periods>
		</div>
	</div>
</p-panel>
