/******** VARIABLES ********/
@import "../../../../../../../../styles/variables";

.selected {
	background-color: #8080803d;
	padding-left: 5px;
}

.opening-weeks-head {
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 5px;
}

#openingWeeksContent {
	display: flex;
	flex-flow: row;
	align-items: stretch;
	justify-items: flex-start;
	max-height: 550px;
	min-height: 550px;
}

#listWeekDiv {
	display: flex;
	flex-flow: column;
	align-items: stretch;
	justify-items: flex-start;
	overflow-y: hidden;
	overflow-x: hidden;
	background: #f9f9f9;
	flex: 0 0 220px;
	padding: 5px;

	.listWeekDivScrollable {
		overflow-y: auto;
		overflow-x: hidden;
		flex-grow: 1;
	}

	ul {
		padding-inline-start: 0;
		padding-inline-end: 0;
	}

	li {
		list-style-type: none;

		a {
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 2px;
			padding-right: 2px;
			display: inline-block;
			color: var(--color-bleu);
		}
	}
}

#detailsWeekDiv {
	flex: 0 1 auto;
	padding: 5px;
	overflow-y: auto;
	overflow-x: hidden;
}

.owHeaderDiv {
	display: flex;
	flex-flow: row;
	align-items: center;
	padding: 0 10px;
	height: 27px;

	span {
		font-size: $fz-md;
		color: #fff;
	}
}

.loaderDiv {
	display: flex;
	flex-flow: row;
	justify-content: center;
	justify-items: center;
	width: 100%;
	margin: auto;
}
