<div class="col-md-12 padding-0 order-step-delivery" *ngIf="!modePlanify">
	<div #stats class="col-md-12" style="margin-top: 5px;">
		<div class="content_wrapper app-padding pull-right">
			<button class="btn btn-primary btn-sm" (click)="redirectToDelivery($event)">
				{{ "CHANEL_PB_DELIVERY.CONSOLIDATE" | translate }}
			</button>
		</div>
		<div class="col-md-12 padding-0">
			<form role="form" #orderStepDeliveryForm="ngForm" novalidate>
				<fieldset style="border-top: 0px solid #ddd !important;">
					<div class="form-group">
						<div class="col-md-12 padding-0">
							<div style="overflow-x:auto">
								<p-progressSpinner *ngIf="!genericTableReady"></p-progressSpinner>
								<app-generic-table-ccp
									#genericTable
									[title]="'CHANEL_PB_DETAIL_ORDER.DELIVERIES_DETAIL' | translate"
									[component]="GenericTableScreen.ORDER_LIST_DELIVERY"
									[searchInput]="searchInput"
									[dataInfos]="dataInfos"
									[detailsInfos]="null"
									[scrollHeight]="264"
									[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
									[parentContext]="this"
									[module]="Modules.DELIVERY_MANAGEMENT"
									(deleteEventEmitter)="showDeleteDialogConfirm($event)"
									(editFormEmitter)="editDelivery($event)"
								>
								</app-generic-table-ccp>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
			<app-modal-confirmation
				(dialogCanceled)="hideDeleteDialogConfirm()"
				(dialogConfirmed)="deleteOneDelivery($event)"
				[dialogBodyMsg]="'CHANEL_PB_DELIVERY.MESSAGE_DELETE_DELIVERY' | translate"
				[isVisible]="modalConfirmDeleteVisibility"
			>
			</app-modal-confirmation>
		</div>
	</div>
</div>

<div *ngIf="modePlanify">
	<app-order-plannable
		(onModePlanifySelected)="receiveModePlanify($event)"
		[planificationRequest]="planificationRequest"
		[deliveryLine]="deliveryLine"
		[order]="order"
		[isPlanningPlanify]="isPlanningPlanify"
		(numberUnitChange)="numberUnitChange($event)"
	>
	</app-order-plannable>
</div>
