<ng-select
	[items]="listItems"
	[multiple]="multiple"
	[typeahead]="srcTypeahead ? typeaheadEvent : typeaheadEventCustom"
	[bindValue]="fetchValue || 'value'"
	[bindLabel]="fetchAttribute || 'label'"
	[placeholder]="placeholder"
	[(ngModel)]="selectedItem"
	[minlength]="srcTypeahead ? 2 : 0"
	[loadingText]="('GENERAL.LOADING' | translate) + '...'"
	[typeToSearchText]="'ADVANCED_SEARCH.TYPE_TO_SEARCH' | translate"
	[loading]="isLoading"
	[notFoundText]="notFoundText"
	(change)="selectItem()"
	[addTag]="addTag ? addTagFn : false"
	[disabled]="isDisabled"
>
	<ng-template *ngIf="groupByAttr" ng-option-tmp let-item="item">
		<div>
			<span class="ac-item">{{ item[fetchAttribute] }}</span>
			<span class="ac-groupby-item"> ({{ item[fetchGroupByAttribute] }})</span>
		</div>
	</ng-template>
	<ng-template ng-option-tmp let-item="item">
		<div *ngIf="!hasCountryTemplate">
			<span>{{ item[fetchAttribute] }}</span>
		</div>
		<div *ngIf="hasNoAttribute">
			<span>{{ item }}</span>
		</div>
		<div *ngIf="hasCountryTemplate" class="d-flex-ai-c d-flex-jc-sb">
			<span>{{ item?.libelle }}</span>
			<span>{{ item?.code }}</span>
		</div>
	</ng-template>
</ng-select>
