<div
	class="padding-8-important demande-overview generic-accordion container-fluid"
	[ngClass]="{
		'generic-accordion-no-arrow': hideStepArrow,
		'generic-accordion-no-collapse': !canCollapse
	}"
>
	<p-accordion
		[multiple]="true"
		(onOpen)="selectStep(stepsAccordionIndexes.get($event.index))"
		[activeIndex]="activeAccordionIndex"
	>
		<p-accordionTab
			header="{{ 'PRICING_BOOKING.CONSOLIDATION' | translate }}({{
				(ebDemande.ebQrGroupe?.listPropositions)[0]?.listEbDemande?.length
			}})"
			*ngIf="ebDemande.xEcNature && ebDemande.xEcNature == NatureDemandeTransport.CONSOLIDATION && !isCarrier()"
		>
			<div (click)="selectStep(Step.CONSOLIDATION)">
				<div class="accordion-item">
					<label class="col-md-6 padding-left-0" for="ruleName">{{
						"PRICING_BOOKING.RULE_NAME" | translate
					}}</label>
					<div class="line-value padding-0 col-md-6">
						<span>{{ ebDemande.ebQrGroupe?.libelle }}</span>
					</div>
				</div>
				<div class="accordion-item">
					<label class="col-md-6 padding-left-0" for="dateCreationQrC">{{
						"PRICING_BOOKING.CREATION_DATE" | translate
					}}</label>
					<div class="line-value padding-0 col-md-6">
						<span>{{ ebDemande.dateCreation | date: "dd/MM/yyyy" }}</span>
					</div>
				</div>
				<div class="accordion-item">
					<label class="col-md-6 padding-left-0" for="consolidationStatus">{{
						"PRICING_BOOKING.TRANSPORT_REF" | translate
					}}</label>
					<div
						class="line-value padding-0 col-md-6"
						*ngIf="ebDemande.consolidationListTransportReferenceInfos"
					>
						<div
							*ngFor="
								let ref of ebDemande.consolidationListTransportReferenceInfos;
								let index = index
							"
						>
							<div (click)="navigateToInitialtr(ref.ebDemandeNum)"
								style="cursor: pointer;"
							>
								<a>
									<span> {{ ref.refTransport }}</span>
								</a>
								<span *ngIf="index != ebDemande.consolidationListTransportReferenceInfos.length - 1"
								>,
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<label class="col-md-6 padding-left-0" for="consolidationStatus">{{
						"PRICING_BOOKING.CONSOLIDATION_STATUS" | translate
					}}</label>
					<div class="line-value padding-0 col-md-6" *ngIf="ebDemande.xEcStatutGroupage">
						<span>{{
							"PRICING_BOOKING.GROUPAGE_STATUS." +
								Statique.getGroupageStatusLibelle(ebDemande.xEcStatutGroupage) | translate
						}}</span>
					</div>
				</div>
			</div>
		</p-accordionTab>

		<p-accordionTab
			header="{{ 'PRICING_BOOKING.SHIPPING_INFORMATION' | translate }}"
			[selected]="true"
		>
			<div (click)="selectStep(Step.EXPEDITION)">
				<div class="row">
					<div class="origin-dest__contents">
						<div class="col-xs-4 text-center">
							<span *ngIf="!creationMode">
								{{
									(ebDemande.ebPartyOrigin?.city | ellipsis: 18) ||
										("REQUEST_OVERVIEW.MSG_NO_ADDRESS_SELECTED" | translate)
								}}
								{{
									ebDemande.libelleOriginCountry
										? " (" + (ebDemande.libelleOriginCountry | ellipsis: 18) + ")"
										: ""
								}}
							</span>
							<span *ngIf="creationMode">
								{{
									(ebDemande.ebPartyOrigin?.city | ellipsis: 18) ||
										("REQUEST_OVERVIEW.MSG_NO_ADDRESS_SELECTED" | translate)
								}}
								{{
									ebDemande.ebPartyOrigin?.xEcCountry?.libelle
										? " (" + (ebDemande.ebPartyOrigin?.xEcCountry?.libelle | ellipsis: 18) + ")"
										: ""
								}}
							</span>
						</div>
						<div class="col-xs-4 mode-transport text-center" *ngIf="ebDemande.xEcModeTransport">
							<i class="{{ getModeTransportById(ebDemande.xEcModeTransport) }}"></i>
						</div>
						<div class="col-xs-4 text-center">
							<span *ngIf="!creationMode">
								{{
									(ebDemande.ebPartyDest?.city | ellipsis: 18) ||
										("REQUEST_OVERVIEW.MSG_NO_ADDRESS_SELECTED" | translate)
								}}
								{{
									ebDemande.libelleDestCountry
										? " (" + (ebDemande.libelleDestCountry | ellipsis: 18) + ")"
										: ""
								}}
							</span>
							<span *ngIf="creationMode">
								{{
									(ebDemande.ebPartyDest?.city | ellipsis: 18) ||
										("REQUEST_OVERVIEW.MSG_NO_ADDRESS_SELECTED" | translate)
								}}
								{{
									ebDemande.ebPartyDest?.xEcCountry?.libelle
										? " (" + (ebDemande.ebPartyDest?.xEcCountry?.libelle | ellipsis: 18) + ")"
										: ""
								}}
							</span>
						</div>
					</div>
				</div>

				<!-- TODO Implements -->
				<div class="accordion-item" *ngIf="false">
					<label for="owner">{{ "PRICING_BOOKING.OWNER" | translate }}</label>
					<span>owner</span>
				</div>
				<div *ngIf="typeTransport" class="accordion-item">
					<label>{{ "TRACK_TRACE.CONSOLIDATION" | translate }}</label>
					<span>{{ typeTransport }}</span>
				</div>
				<div *ngIf="ebDemande.xEcIncotermLibelle" class="accordion-item">
					<label>{{ "REQUEST_OVERVIEW.INCOTERM" | translate }}</label>
					<span>{{ ebDemande.xEcIncotermLibelle }}</span>
				</div>
				<div class="accordion-item" *ngIf="ebDemande.city">
					<label>{{ "REQUEST_OVERVIEW.INCOTERM_CITY" | translate }}</label>
					<span>{{ ebDemande.city }}</span>
				</div>
				<div
					class="accordion-item"
					*ngIf="ebDemande.ebDemandeNum && ebDemande.xEcStatut >= DemandeStatus.WPU"
				>
					<label class="col-md-6" for="carrier">{{ "REQUEST_OVERVIEW.CARRIER" | translate }}</label>
					<div class="line-value padding-0 col-md-6">
						<div
							*ngIf="
								ebDemande.exEbDemandeTransporteurs && ebDemande.exEbDemandeTransporteurs.length > 0
							"
						>
							{{ ebDemande.exEbDemandeTransporteurs[0].xEbEtablissement?.ebCompagnie?.nom }}
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<label class="col-md-6 padding-left-0" for="dateOfGoodsAvailability">{{
						"REQUEST_OVERVIEW.DATE_OF_GOODS_AVAILABILITY" | translate
					}}</label>
					<div class="line-value padding-0 col-md-6">
						<span>{{ ebDemande.dateOfGoodsAvailability | date: "dd/MM/yyyy" }}</span>
					</div>
				</div>
				<div *ngIf="ebDemande.tdcAcknowledge" class="accordion-item">
					<label class="col-md-6 padding-left-0" for="tdcAcknowledgeDate"
						>{{ "PRICING_BOOKING.ACKNOWLEDGE_DATE_BY_CT" | translate }}:</label
					>
					<div class="line-value padding-0 col-md-6">
						<span>{{ ebDemande.tdcAcknowledgeDate | date: "dd/MM/yyyy" }}</span>
					</div>
				</div>
				<div
					*ngIf="
						ebDemande.exEbDemandeTransporteurFinal != null &&
						ebDemande.exEbDemandeTransporteurs &&
						ebDemande.exEbDemandeTransporteurs.length > 0
					"
				>
					<div *ngFor="let finalCarrier of ebDemande.exEbDemandeTransporteurs">
						<div
							class="accordion-item"
							*ngIf="
								finalCarrier.xTransporteur?.ebUserNum ==
								ebDemande.exEbDemandeTransporteurFinal?.ebUserNum
							"
						>
							<label class="col-md-6 padding-left-0" for="tdcAcknowledgeDate"
								>{{ "PRICING_BOOKING.CARRIER" | translate }}:</label
							>
							<span
								>{{ finalCarrier.xTransporteur?.nom }}
								{{ finalCarrier.xTransporteur?.prenom }}</span
							>
						</div>
					</div>
				</div>
			</div>
		</p-accordionTab>

		<p-accordionTab header="{{ 'TYPE_REQUEST.REFERENCE' | translate }}">
			<div (click)="selectStep(Step.REFERENCE)">
				<div *ngIf="ebDemande.customerReference" class="accordion-item">
					<label for="customRef">{{ "REQUEST_OVERVIEW.REFERENCE" | translate }}</label>
					<span>{{ ebDemande.customerReference }}</span>
				</div>
				<div class="accordion-item col-md-12">
					<label for="invoiceCurrency">{{ "REQUEST_OVERVIEW.CURRENCY" | translate }}</label>
					<span>{{
						ebDemande.xecCurrencyInvoice != null ? ebDemande.xecCurrencyInvoice.code : ""
					}}</span>
				</div>
				<div class="accordion-item col-md-12" *ngIf="ebDemande.ebDemandeNum">
					<label for="typeRequest">{{ "REQUEST_OVERVIEW.SERVICE_LEVEL" | translate }}</label>
					<span>{{ getTypeRequestRefById(ebDemande.xEbTypeRequest) }}</span>
				</div>
				<div *ngIf="ebDemande.xEbCostCenter" class="accordion-item col-md-12">
					<label for="costCenter">{{ "REQUEST_OVERVIEW.COST_CENTER" | translate }}</label>
					<span>{{ ebDemande.xEbCostCenter != null ? ebDemande.xEbCostCenter.libelle : "" }}</span>
				</div>
				<ng-container *ngIf="listCategories && listCategories.length > 0">
					<ng-container *ngFor="let cat of listCategories">
						<ng-container  *ngIf="cat && cat.labels && cat.labels.length > 0 && !cat.deleted">
							<div class="accordion-item col-md-12">
								<label>
									{{ cat.libelle }}{{ Syntaxe2Point_Fr_En }}
								</label>
								<span>
									{{ ebDemande.ebDemandeNum ? cat.labels[0].libelle : cat.selectedLabel?.libelle }}
								</span>
							</div>
						</ng-container>
					</ng-container>
				</ng-container>
				<ng-container *ngIf="ebDemande.listCustomsFields && ebDemande.listCustomsFields.length > 0">
					<ng-container *ngFor="let customField of ebDemande.listCustomsFields">
						<div *ngIf="customField.value" class="accordion-item col-md-12">
							<label>{{ customField.label }} : </label>
							<span>
								{{ customField.value }}
							</span>
						</div>
					</ng-container>
				</ng-container>
				<div
					class="accordion-item col-md-12"
					*ngIf="ebDemande.insurance && ebDemande.insuranceValue"
				>
					<label>{{ "REQUEST_OVERVIEW.INSURANCE" | translate }}</label>
					<span
						>{{ ebDemande.insuranceValue }}
						{{
							ebDemande.xecCurrencyInsurance != null ? ebDemande.xecCurrencyInsurance.code : ""
						}}</span
					>
				</div>
			</div>
		</p-accordionTab>

		<p-accordionTab header="{{ 'CHANEL_PB_DETAIL_ORDER.UNITS_OVERVIEW' | translate }}">
			<div (click)="selectStep(Step.UNITS)">
				<div *ngIf="ebDemande.totalNbrParcel" class="accordion-item">
					<label for="numberOfUnits">{{ "REQUEST_OVERVIEW.NUMBER_UNITS" | translate }}</label>
					<span>{{ ebDemande.totalNbrParcel }}</span>
				</div>
				<div *ngIf="ebDemande.totalWeight" class="accordion-item">
					<label for="wieght">{{ "REQUEST_OVERVIEW.WEIGHT" | translate }}</label>
					<span>{{ ebDemande.totalWeight }} kg</span>
				</div>
				<div *ngIf="ebDemande.totalVolume" class="accordion-item">
					<label for="volume">{{ "REQUEST_OVERVIEW.VOLUME" | translate }}</label>
					<span>{{ ebDemande.totalVolume | number: Statique.decimalPipePrecision }} m3</span>
				</div>
			</div>
		</p-accordionTab>

		<p-accordionTab header="{{ 'MODULES.PRICING' | translate }}" *ngIf="showInfoPricing">
			<div (click)="selectStep(Step.PRICING)">
				<div class="accordion-item">
					<label for="requestSent">{{ "REQUEST_OVERVIEW.REQUEST_SENT" | translate }}</label>
					<span *ngIf="ebDemande.exEbDemandeTransporteurs">{{ nbrRequestSent }}</span>
				</div>
				<div class="accordion-item" *ngIf="showInfoAboutTransport">
					<label for="quotation">{{ "REQUEST_OVERVIEW.QUOTATION" | translate }}</label>
					<span>{{ nbrReceivedQt }}</span>
				</div>
				<div
					*ngIf="(isChargeur || isControlTower) && ebDemande.totalPrice > 0"
					class="accordion-item"
				>
					<label>{{ "REQUEST_OVERVIEW.UNIT_TRANSPORT_COST" | translate }} </label>
					<span>{{ ebDemande.totalPrice + " " }}{{ ebDemande?.xecCurrencyInvoice?.code }}</span>
				</div>
				<div
					*ngIf="(isChargeur || isControlTower) && ebDemande?.consolidatedPrice > 0"
					class="accordion-item"
				>
					<label>{{ "REQUEST_OVERVIEW.CONSOLIDATED_COST" | translate }} </label>
					<span
						>{{ ebDemande?.consolidatedPrice + " " }}{{ ebDemande?.xecCurrencyInvoice?.code }}</span
					>
				</div>
				<div
					*ngIf="(isChargeur || isControlTower) && ebDemande.savingAsString"
					class="accordion-item"
				>
					<label>{{ "REQUEST_OVERVIEW.SAVING" | translate }} </label>
					<span>{{ ebDemande.savingAsString }} </span>
				</div>
			</div>
		</p-accordionTab>

		<p-accordionTab
			header="{{ 'QUALITY_MANAGEMENT.TRANSPORT_INFORMATIONS' | translate }}"
			*ngIf="showInfoAboutTransport"
		>
			<div (click)="selectStep(Step.INFOS_ABOUT_TRANSPORT)">
				<div *ngIf="ebDemande.numAwbBol" class="accordion-item">
					<label for="NumAwbBol">{{ "REQUEST_OVERVIEW.N_AWB_BOL" | translate }}</label>
					<span>{{ ebDemande.numAwbBol }}</span>
				</div>
				<div *ngIf="ebDemande.mawb" class="accordion-item">
					<label for="carrier">{{ "REQUEST_OVERVIEW.MAWB" | translate }}</label>
					<span>{{ ebDemande.mawb }}</span>
				</div>
				<ng-container *ngFor="let psl of ebDemande?.xEbSchemaPsl?.listPsl; let index = index">
					<ng-container *ngIf="psl.schemaActif && psl.isChecked && psl.dateAttendue">
						<div class="accordion-item">
							<label class="areaLibelle">{{ translatePSL(psl.libelle) }}</label>
							<span>{{ psl.expectedDate | date: "dd/MM/yyyy" }}</span>
						</div>
					</ng-container>
				</ng-container>
			</div>
		</p-accordionTab>
	</p-accordion>
</div>
