/******** VARIABLES ********/
@import "../../../styles/variables";

.origin-dest__contents {
	min-height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: $fz-sm;
	.mode-transport {
		.fa {
			font-size: 40px;
		}
	}
	div:first-child,
	div:last-child {
		color: $black;
	}
}

// Bootstrap horizontal scroll fix
.container-fluid {
	padding: 0;

	.row {
		margin-left: 0px;
		margin-right: 0px;
	}
}

.pd-left-5 {
	padding-left: 5px;
}

// p-accordiontab label + span {
// 	font-weight: bold;
// }
