<!-- <body class="external-page sb-l-c sb-r-c account background"> -->
<div
	id="page-container"
	class="fade page-sidebar-fixed page-header-fixed page-with-wide-sidebar in"
>
	<!-- begin #content -->
	<div id="content" class="content">
		<!-- begin login -->
		<div class="login login-aurora">
			<!-- this element hold the background image as a CSS propoerty -->
			<div class="login-background"></div>
			<div class="sides-wrapper">
				<div class="left-side">
					<div class="logo-wrapper">
						<img src="assets/images/tala-logo.png" alt="logo-tala" />
					</div>
					<div class="login-footer">
						<div>
							<p>
								&copy; MyTower All Rights Reserved 2017
							</p>
							<p>
								<span style="margin-top: 10px; color: white;">For any problem contact us </span>
								<a href="mailto:support@mytower.fr">
									<i
										class="fa fa-question-circle"
										style="font-size: 1.5em; cursor: pointer; margin-top: 0px; vertical-align: middle; margin-left: 3px; color: #fff;"
									></i>
								</a>
							</p>
						</div>
					</div>
				</div>
				<div class="right-side">
					<div class="col-md-12 reset-pass_title">
						<h2>
							{{ "RESET_PASSWORD.TITLE_RESTET_PASSWORD" | translate }}
						</h2>
					</div>
					<div class="col-md-12 reset-pass_contents" *ngIf="resetEmail">
						<form role="form" class="row" #f="ngForm" novalidate>
							<div class="col-md-12">
								<div class="row">
									<div
										class="col-md-10 col-md-offset-1 col-xs-12 d-flex-ai-c d-flex-w generic-inputs__style margin-bottom-10"
									>
										<label for="email" class="col-md-4 col-sm-12 col-xs-12"
											>{{ "RESET_PASSWORD.EMAIL" | translate }} :</label
										>
										<div class="col-md-8 col-sm-12 col-xs-12 input-wrapper padding-left-0">
											<input
												type="text"
												class="form-control"
												name="email"
												[(ngModel)]="model.email"
												ngControl="emailCtrl"
												required
												pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
											/>
										</div>
										<div class="col-md-4 col-sm-12 col-xs-12"></div>
										<div class="col-md-8 col-sm-12 col-xs-12 padding-left-0">
											<div *ngIf="error" class="alert-error">
												{{ error }}
											</div>
											<div *ngIf="info" class="alert-info">
												{{ info }}
											</div>
										</div>
									</div>
									<div
										class="col-md-10 col-md-offset-1 col-xs-12 d-flex-ai-c d-flex-w margin-bottom-10"
									>
										<div class="col-md-4 col-sm-12 col-xs-12"></div>
										<div
											class="col-md-8 col-sm-12 col-xs-12 input-wrapper padding-left-0 text-right"
										>
											<button type="button" class="btn btn-tertiary" routerLink="/login-tala">
												{{ "INSCRIPTION.SE_CONNECTER" | translate }}
											</button>
											<button
												[disabled]="!f.form.valid"
												(click)="reset($event)"
												class="btn btn-primary login-btn"
											>
												{{ "RESET_PASSWORD.SAVE" | translate }}
											</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-md-12 reset-pass_contents" *ngIf="resetPassword">
						<form
							role="form"
							class="row"
							#formReset="ngForm"
							novalidate
							class="reset-pass_contents"
						>
							<div *ngIf="error" class="alert alert-danger">{{ error }}</div>
							<div *ngIf="info" class="alert alert-success">{{ info }}</div>
							<div class="col-md-12">
								<div class="row">
									<div class="form-group col-md-12">
										<div class="row">
											<div
												class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12  col-sm-offset-0 col-xs-offset-0"
											>
												<label for="password">{{
													"RESET_PASSWORD.NEW_PASSWORD" | translate
												}}</label>
												<input
													id="password"
													type="password"
													class="form-control input-underline"
													name="password"
													[(ngModel)]="model.password"
													required
													minlength="8"
													#password="ngModel"
												/>
												<small
													style="color: rgb(40, 107, 146);"
													[hidden]="password.pristine || password.valid"
												>
													{{ "INSCRIPTION.MESSAGE_PASSWORD" | translate }}
												</small>
											</div>
											<div
												class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12  col-sm-offset-0 col-xs-offset-0"
											>
												<label for="password2">{{
													"RESET_PASSWORD.CONFIRM_NEW_PASSWORD" | translate
												}}</label>
												<input
													type="password"
													class="form-control input-underline"
													name="password2"
													[(ngModel)]="model.password2"
													#password2="ngModel"
													validateEqual="password"
													required
													minlength="8"
												/>
												<small
													style="color: rgb(40, 107, 146);"
													[hidden]="password2.valid || password2.pristine"
												>
													{{ "INSCRIPTION.MESSAGEMDP" | translate }}
												</small>
											</div>
											<div class="col-md-12 text-center login-buttons">
												<div class="col-md-12 padding-20">
													<button
														[disabled]="!formReset.form.valid"
														(click)="changePassword($event)"
														class="btn btn-primary btn-dark-login"
													>
														{{ "RESET_PASSWORD.SAVE" | translate }}
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- end login -->
	</div>
	<!-- end #content -->
</div>
<!-- </body> -->
