
<div class="content_wrapper app-padding" (window:resize)="onResize()" style="overflow-x: hidden;">
	<div #panel3 class="panel panel-visible panel-table styled-tabs">
		<ngb-tabset
			class="first-tab"
			#tabset
			md-selected="2"
			md-stretch-tabs="always"
			(tabChange)="fetchUrl($event); onResize()"
		>
			<ngb-tab title="{{ 'ANALYTICS.TRANSPORT_OVERVIEW' | translate }}" id="transport-overview">
				<ng-template ngbTabContent>
					<div class="fa-onglet">
						<app-dashboard-frame
							*ngIf="config"
							[config]="config"
							[dashboardId]="config.dashboardId.transportOverview">
						</app-dashboard-frame>
					</div>
				</ng-template>
			</ngb-tab>

			<ngb-tab title="{{ 'ANALYTICS.PRICING' | translate }}" id="pricing">
				<ng-template ngbTabContent>
					<div class="fa-onglet">
						<app-dashboard-frame
							*ngIf="config"
							[config]="config"
							[dashboardId]="config.dashboardId.pricing">
						</app-dashboard-frame>
					</div>
				</ng-template>
			</ngb-tab>

			<ngb-tab title="{{ 'ANALYTICS.ACTIVITY' | translate }}" id="activity">
				<ng-template ngbTabContent>
					<div class="fa-onglet">
						<app-dashboard-frame
							*ngIf="config"
							[config]="config"
							[dashboardId]="config.dashboardId.activity">
						</app-dashboard-frame>
					</div>
				</ng-template>
			</ngb-tab>

			<ngb-tab title="{{ 'ANALYTICS.TT' | translate }}" id="track-trace">
				<ng-template ngbTabContent>
					<div class="fa-onglet">
						<app-dashboard-frame
							*ngIf="config"
							[config]="config"
							[dashboardId]="config.dashboardId.trackTrace">
						</app-dashboard-frame>
					</div>
				</ng-template>
			</ngb-tab>


			<ngb-tab title="{{ 'ANALYTICS.QM' | translate }}" id="quality-management">
				<ng-template ngbTabContent>
					<div class="fa-onglet">
						<app-dashboard-frame
							*ngIf="config"
							[config]="config"
							[dashboardId]="config.dashboardId.qualityManagement">
						</app-dashboard-frame>
					</div>
				</ng-template>
			</ngb-tab>

			<ngb-tab title="{{ 'ANALYTICS.FA' | translate }}" id="freight-audit">
				<ng-template ngbTabContent>
					<div class="fa-onglet">
						<app-dashboard-frame
							*ngIf="config"
							[config]="config"
							[dashboardId]="config.dashboardId.freightAudit">
						</app-dashboard-frame>
					</div>
				</ng-template>
			</ngb-tab>

			<ngb-tab title="{{ 'ANALYTICS.CP' | translate }}" id="carriers-performance">
				<ng-template ngbTabContent>
					<div class="fa-onglet">
						<app-dashboard-frame
							*ngIf="config"
							[config]="config"
							[dashboardId]="config.dashboardId.carrierPerformance">
						</app-dashboard-frame>
					</div>
				</ng-template>
			</ngb-tab>

			<ngb-tab [disabled]="true">
				<ng-template ngbTabTitle>
					<span class="panel-controls" class="hidden">
						<a class="panel-control-collapse"></a>
						<a class="panel-control-fullscreen" href="#"></a>
					</span>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</div>
</div>
