<div class="create-wf-root" [ngClass]="enableCardStyle ? 'form-card' : 'form-card-no-border'">
	<div *ngIf="showStepNavigation" class="wf-head">
		<h1 class="creation-title" *ngIf="!order.ebDelOrderNum">
			{{ "GENERAL.NEW_ORDER" | translate }}
		</h1>
		<h1 class="creation-title" *ngIf="order.ebDelOrderNum">
			{{ "GENERAL.MODIFY_ORDER" | translate }}
		</h1>
		<div class="details-steps">
			<div class="step-wrapper cursor-pointer" *ngIf="isStepVisible(Step.ORDER)">
				<div
					class="step-container"
					[class]="isStepEnteredWorkflow(Step.ORDER) ? 'bg-selected' : 'bg-disabled'"
					(click)="selectStep(Step.ORDER)"
				>
					<div class="step-status">
						{{ "ORDER.ORDER_INFORMATIONS" | translate }}
					</div>
				</div>
			</div>
			<div class="step-wrapper cursor-pointer" *ngIf="isStepVisible(Step.REFERENCE)">
				<div
					class="step-container"
					[class]="isStepEnteredWorkflow(Step.REFERENCE) ? 'bg-selected' : 'bg-disabled'"
					(click)="selectStep(Step.REFERENCE)"
				>
					<div class="step-status">
						{{ "TYPE_REQUEST.REFERENCE_ORDER" | translate }}
					</div>
				</div>
			</div>
			<div class="step-wrapper cursor-pointer" *ngIf="isStepVisible(Step.UNITS)">
				<div
					class="step-container"
					[class]="isStepEnteredWorkflow(Step.UNITS) ? 'bg-selected' : 'bg-disabled'"
					(click)="selectStep(Step.UNITS)"
				>
					<div class="step-status">
						{{ "PRICING_BOOKING.UNITS" | translate }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wf-body">
		<div class="wf-body-left">
			<div
				class="wf-steps full-width"
				[ngClass]="{ 'read-only': displayOptions || showAddressPopup || readOnly }"
			>
				<div class="wf-step" [hidden]="!(selectedStep === Step.ORDER)">
					<app-order-step-order
						#stepOrder
						[order]="order"
						[readOnly]="readOnly"
						[requiredReadOnly]="order.ebDelOrderNum"
						[selected]="selectedStep === Step.ORDER"
						[(showAddressPopup)]="showAddressPopup"
						(reloadDataPreference)="getDataPreference($event)"
						(showAddressPopupChange)="showAddressPopupChangehandler($event)"
					></app-order-step-order>
				</div>
				<div class="wf-step" [hidden]="!(selectedStep === Step.REFERENCE)">
					<app-order-step-reference
						[order]="order"
						[readOnly]="readOnly"
						[selected]="selectedStep === Step.REFERENCE"
						[listCategorie]="order.listCategories"
						[userConnected]="userConnected"
						[listIncoterms]="listIncoterms"
						[listFields]="order.listCustomsFields"
					>
					</app-order-step-reference>
				</div>
				<div class="wf-step" [hidden]="!(selectedStep === Step.UNITS)">
					<app-order-step-units
						class="units-readonly"
						[order]="order"
						[readOnly]="readOnly"
						[listCustomsFields]="listCustomsFields"
						[listTypesUnit]="listTypesUnit"
						[listCountry]="listCountry"
						[userCompagnieNum]="userConnected.ebCompagnie.ebCompagnieNum"
						[modeTransport]="modeTransport"
						[selected]="selectedStep === Step.UNITS"
						(numberUnitChange)="numberUnitChange($event)"
					>
					</app-order-step-units>
				</div>

				<div class="wf-step" [hidden]="!(selectedStep === Step.DELIVERY)">
					<app-order-step-delivery
						*ngIf="order.ebDelOrderNum && readOnly"
						[order]="order"
						[readOnly]="readOnly"
						(onStepSelected)="selectStep($event)"
						(orderChange)="numberUnitChange()"
					>
					</app-order-step-delivery>
				</div>
			</div>
			<div *ngIf="showOverview && order && isCreate" class="wf-body-right">
				<app-order-overview
					[order]="order"
					[creationMode]="isCreate"
					[expandAllAtStart]="true"
					[hideStepArrow]="true"
					(onStepSelected)="selectStep($event)"
				>
				</app-order-overview>
			</div>
		</div>
		<div *ngIf="showStepNavigation" class="wf-footer-buttons">
			<div>
				<button class="btn btn-secondary" (click)="selectPrevStep()" [disabled]="!hasPrevStep">
					<i class="fa fa-arrow-left"></i>
				</button>
				<button
					class="btn btn-primary"
					*ngIf="hasNextStep"
					(click)="selectNextStep()"
					[class.disabled]="!selectedStepValidated"
				>
					<i class="fa fa-arrow-right"></i>
				</button>

				<button
					class="btn btn-primary"
					*ngIf="isStepEnteredWorkflow(Step.UNITS) && !order.ebDelOrderNum"
					(click)="addOrder()"
				>
					<span>{{ "GENERAL.CREATE_ORDER" | translate }}</span>
				</button>
				<button
					class="btn btn-primary"
					*ngIf="isStepEnteredWorkflow(Step.UNITS) && order.ebDelOrderNum"
					(click)="addOrder()"
				>
					<span>{{ "ORDER.SAVE" | translate }}</span>
				</button>
			</div>
		</div>
	</div>
</div>
