<div class="row margin-tb-10">
	<form #formCtrlSearch="ngForm">
		<div class="col-md-4">
			<input
				type="text"
				pattern=".{3,}"
				#inputSearchterm
				title="3 characters minimum"
				placeholder="Type For Search"
				class="form-control input-sm"
				name="searchterm"
				[(ngModel)]="searchCriteria.searchterm"
			/>
		</div>
		<div class="col-md-1">
			<button
				class="btn btn-sm btn-success"
				(click)="searchEtablissement()"
				[disabled]="!formCtrlSearch.valid"
			>
				<i class="fa fa-search"></i>
			</button>
		</div>
	</form>

	<div class="row">
		<div class="col-md-12 margin-top-20">
			<div *ngFor="let relation of listEtablissementOfContact; let i = index" class="col-md-4">
				<div class="business-card">
					<div class="media">
						<div class="media-left col-md-5 no-padding">
							<img
								class="media-object img-circle profile-img"
								src="../../../../assets/images/icon-avatar.png"
							/>
						</div>
						<div class="media-right col-md-7 padding-right-20 no-padding">
							<!-- New User -->
							<div>
								<h4 class="truncate">
									<b>
										<a href="javascript:void(0)"
											>{{ relation.host.nom }} {{ relation.host.prenom }}</a
										>
									</b>
								</h4>
								<div class="job truncate">{{ relation.xEbEtablissementHost.nom }}</div>
								<div class="mail break-word truncate">
									<a href="javascript:void(0)">{{ relation.host.email }}</a>
								</div>
							</div>
							<div class="fixein-bottom margin-top-10">
								<!-- New User -->
								<!--
                                <div class="col-md-5 text-right" *ngIf="ebRelation.ebRelationNum == null;">
                                    <button *ngIf="ebRelation.ebRelationNum == null" type="button" (click)="open(content,i,BtnSendInvitation)" #BtnSendInvitation
                                        class="btn btn-xs btn-danger font-size-10" placement="bottom" container="body">
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    </button>
                                </div>
                                -->
								<div class="row">
									<div class="col-md-5 text-right no-padding-left action pull-right">
										<button
											type="button"
											(click)="manageInvitation(relation, i)"
											class="btn btn-xs btn-danger font-size-10"
											placement="bottom"
											container="body"
											title="Choisir un prestataire pour cet utilisateur"
										>
											<i class="fa fa-handshake-o" aria-hidden="true"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
