.creat-account__steps {
	height: 70vh;
}
.login-background {
	background-image: url("../../../../assets/images/aurora-bg.jpg") !important;
	background-color: #bedd54;
	background-blend-mode: multiply;
}
.login {
	.left-side {
		position: relative;
		.login-footer,
		.logo-wrapper {
			position: relative;
			z-index: 1;
			img {
				width: 220px !important;
			}
		}
		.logo-wrapper {
			height: 65% !important;
		}
		.login-footer {
			height: 35% !important;
		}
		background: linear-gradient(45deg, #2d3a00, #d2f360) !important;
	}
}
