<body class="external-page sb-l-c sb-r-c account">
	<div
		id="page-container"
		class="fade page-sidebar-fixed page-header-fixed page-with-wide-sidebar in"
	>
		<!-- begin #content -->
		<div id="content" class="content">
			<div class="login-background"></div>
			<div class="login">
				<div class="sides-wrapper">
					<div class="left-side">
						<div class="logo-wrapper">
							<img src="assets/images/tala-logo.png" alt="logo-tala" width="220" />
						</div>

						<div class="login-footer">
							<div class="form-group">
								<div class="login-buttons text-center">
									<button type="button" class="btn btn-tertiary" routerLink="/login-tala">
										{{ "LOGIN.LOGIN" | translate }}
									</button>
								</div>
							</div>
							<div>
								<p>
									&copy; MyTower All Rights Reserved 2017
								</p>
								<p>
									<span style="margin-top: 10px; color: white;">For any problem contact us </span>
									<a href="mailto:support@mytower.fr">
										<i
											class="fa fa-question-circle"
											style="font-size: 1.5em; cursor: pointer; margin-top: 0px; vertical-align: middle; margin-left: 3px; color: #fff;"
										></i>
									</a>
								</p>
							</div>
						</div>
					</div>
					<div class="right-side">
						<aw-wizard class="creat-account__steps" navBarLayout="large-filled-symbols">
							<aw-wizard-step
								stepTitle="{{ 'INSCRIPTION.INFOSPERSO' | translate }}"
								navigationSymbolFontFamily="FontAwesome"
								navigationSymbol="&#xf2b9;"
							>
								<form #firstFormGroup="ngForm" class="col-md-12 padding-4">
									<div class="form-group col-md-12 padding-0">
										<div class="col-md-6  col-sm-6 col-xs-12">
											<label for="nom"> {{ "INSCRIPTION.NOM" | translate }}</label>
											<input
												id="nom"
												placeholder="{{ 'INSCRIPTION.NOM' | translate }}"
												class="form-control"
												name="nom"
												[(ngModel)]="newUser.nom"
												#nom="ngModel"
												required
											/>
										</div>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<label for="prenom">{{ "INSCRIPTION.PRENOM" | translate }}</label>
											<input
												id="prenom"
												placeholder="{{ 'INSCRIPTION.PRENOM' | translate }}"
												class="form-control"
												name="prenom"
												[(ngModel)]="newUser.prenom"
												#prenom="ngModel"
												required
											/>
										</div>
									</div>

									<div id="role" class="form-group container-fluid">
										<div class="col-md-6">
											<label for="chargeur">{{ "GENERAL.CHARGEUR" | translate }}</label>
											<input
												type="radio"
												id="chargeur"
												name="roleChargeur"
												value="1"
												[(ngModel)]="newUser.role"
												required
												(change)="onRoleChange()"
												#serviceControl="ngModel"
											/>
										</div>
										<div class="col-md-6">
											<label for="prestataire">{{ "GENERAL.PRESTATAIRE" | translate }}</label>
											<input
												type="radio"
												id="prestataire"
												name="rolePrestataire"
												value="2"
												[(ngModel)]="newUser.role"
												(change)="onRoleChange()"
												required
											/>
										</div>
									</div>

									<!-- <div class="form-group row">
					  <div class="col-md-6 col-sm-6 col-xs-12" *ngFor="let key of keys">
						<label for="{{userRoles[key]}}">{{userRoles[key]}}</label>
						<input id="{{userRoles[key]}}" [value]="key" type="radio" name="userRole" (change)="onRoleChange()" [(ngModel)]="newUser.role"
						  required>
					  </div>
					</div> -->
									<!-- <div class="col-md-12"> -->
									<!-- <mat-radio-group [(ngModel)]="newUser.xEcRoleUser.ecRoleNum" name="userRole" (change)="onRoleChange()" required> -->
									<!-- <mat-radio-group [(ngModel)]="newUser.xEcRoleUser.ecRoleNum" name="userRole"> -->
									<!-- <mat-radio-button *ngFor="let key of keys" [value]="key">{{userRoles[key]}}</mat-radio-button> -->
									<!-- <div class="col-md-5">
								  <mat-radio-button name="chargeur"  [value]="userRole.CHARGEUR" (click)="chargeur()"> {{'GENERAL.CHARGEUR'|translate}} </mat-radio-button>
								</div>
								<div class="col-md-5">
								  <mat-radio-button name ="prestataire" [value]="userRole.PRESTATAIRE" id="prestataire" (click)="afficher()">{{'GENERAL.PRESTATAIRE'|translate}} </mat-radio-button>
								</div> -->
									<!-- </mat-radio-group>
							</div> -->
									<div [hidden]="cacher" id="service" class="form-group container-fluid">
										<div class="col-md-6">
											<label for="Transporteur">{{ "GENERAL.TRANSPORTEUR" | translate }}</label>
											<input
												type="checkbox"
												id="Transporteur"
												name="serviceTransporteur"
												[(ngModel)]="newUser.serviceTransporteur"
												value="Transporteur"
												[required]="newUser.role == 2 && !newUser.serviceBroker"
												#serviceControl="ngModel"
											/>
										</div>
										<div class="col-md-6">
											<label for="Broker">{{ "GENERAL.BROKER" | translate }}</label>
											<input
												type="checkbox"
												id="Broker"
												name="serviceBroker"
												[(ngModel)]="newUser.serviceBroker"
												value="Broker"
												[required]="newUser.role == 2 && !newUser.serviceTransporteur"
											/>
										</div>
									</div>

									<div class="form-group col-md-12 padding-0" style="height:75px;">
										<div class="col-md-12" style="height:50px;">
											<label for="email"> {{ "INSCRIPTION.EMAIL" | translate }}</label>
											<input
												type="text"
												placeholder="{{ 'INSCRIPTION.EMAIL' | translate }}"
												name="email"
												class="form-control"
												[(ngModel)]="newUser.email"
												(change)="checkMail(newUser.email)"
												required
												pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
											/>
											<div class="text-center" style="margin-bottom:20px;">
												<div
													*ngIf="mailError"
													style="margin: 6px 0; padding: 5px;"
													class="alert alert-danger"
												>
													{{ mailError }}
												</div>
											</div>
										</div>
										<div class="text-center">
											<div *ngIf="successMessage" class="alert alert-success">
												{{ successMessage }}
											</div>
										</div>
									</div>

									<div class="form-group col-md-12 padding-0">
										<div class="col-md-12">
											<label for="adresse"> {{ "INSCRIPTION.POSITION" | translate }}</label>
											<input
												type="text"
												placeholder="{{ 'INSCRIPTION.POSITION' | translate }}"
												class="form-control"
												name="adresse"
												id="adresse"
												[(ngModel)]="newUser.adresse"
											/>
										</div>
									</div>
									<div class="form-group col-md-12 padding-0">
										<div class="col-md-12">
											<label for="tel"> {{ "INSCRIPTION.TELEPHONE" | translate }}</label>
											<input
												id="tel"
												type="text"
												placeholder="{{ 'INSCRIPTION.TELEPHONE' | translate }}"
												class="form-control"
												name="telephone"
												[(ngModel)]="newUser.telephone"
												#telephone="ngModel"
											/>
										</div>
									</div>
									<div class="form-group col-md-12 padding-0">
										<div class="col-md-12">
											<label for="password">{{ "INSCRIPTION.MOTDEPASSE" | translate }}</label>
											<input
												id="password"
												type="password"
												placeholder="{{ 'INSCRIPTION.MOTDEPASSE' | translate }}"
												class="form-control"
												reverse="true"
												validateEqual="confirmPassword"
												name="password"
												[(ngModel)]="newUser.password"
												required
												#password="ngModel"
												minlength="8"
												pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
											/>
											<small
												style="color: #1a1a1aa8;"
												[hidden]="password.pristine || password.valid"
											>
												{{ "INSCRIPTION.MESSAGE_PASSWORD" | translate }}
											</small>
										</div>
									</div>
									<div class="form-group col-md-12 padding-0">
										<div class="col-md-12">
											<label for="confirmPassword">{{ "INSCRIPTION.CONFIRMER" | translate }}</label>
											<input
												id="confirmPassword"
												type="password"
												placeholder="{{ 'INSCRIPTION.CONFIRMER' | translate }}"
												required
												validateEqual="password"
												class="form-control"
												name="confirmPassword"
												[(ngModel)]="newUser.confirmPassword"
												#confirmPassword="ngModel"
												minlength="8"
												pattern=""
											/>

											<small
												style="color: #1a1a1aa8;"
												[hidden]="confirmPassword.valid || confirmPassword.pristine"
											>
												{{ "INSCRIPTION.MESSAGEMDP" | translate }}
											</small>
										</div>
									</div>
									<div>
										<div class="col-md-12 padding-0 text-right" style="margin-right: 0px;">
											<button
												class="btn btn-dark-login login-buttons"
												[disabled]="!firstFormGroup.valid"
												awNextStep
											>
												{{ "INSCRIPTION.SUIVANT" | translate }}
												<i class="fa fa-angle-double-right" aria-hidden="true"></i>
											</button>
										</div>
									</div>
								</form>
							</aw-wizard-step>
							<aw-wizard-step
								[hidden]="canEnterStep3"
								stepTitle="{{ 'ORGANISATION.ORGANISATION' | translate }}"
								navigationSymbolFontFamily="FontAwesome"
								navigationSymbol="&#xf1ad;"
							>
								<form #secondFormGroup="ngForm">
									<div class="form-group col-md-12 padding-0">
										<div class="col-md-12">
											<label for="siren">SIREN</label>
											<input
												id="siren"
												placeholder="SIREN"
												class="form-control"
												name="siren"
												[(ngModel)]="newUser.ebEtablissement.ebCompagnie.siren"
												[pattern]="Statique.patternSIREN"
												[textMask]="{ mask: Statique.maskSIREN }"
												(change)="onSirenChange()"
												required
											/>
											<small style="color: #fff;">{{
												"INSCRIPTION.SIREN_MESSAGE" | translate
											}}</small>
										</div>
									</div>

									<ng-container *ngIf="sirenExist">
										<div class="form-group col-md-12 padding-0">
											<div class="col-md-10">
												<label for="code">{{ "INSCRIPTION.CODE_COMPAGNIE" | translate }}</label>
												<input
													id="code"
													[disabled]="newUser.ebEtablissement.ebCompagnie.ebCompagnieNum != null"
													type="text"
													placeholder="code"
													class="form-control"
													name="codeCompagnie"
													[(ngModel)]="newUser.ebEtablissement.ebCompagnie.code"
													#codeCompagnie="ngModel"
													maxlength="3"
													required
												/>
											</div>
											<div class="col-md-2" style="margin-top: 20px;">
												<a
													placement="top-right"
													ngbPopover="{{ 'INSCRIPTION.CODE_MESSAGE' | translate }}"
													style="color: #f5f5f5 !important;"
												>
													<i class="fa fa fa-info-circle fa-2x" aria-hidden="true"></i>
												</a>
											</div>
										</div>
										<div class="form-group col-md-12 padding-0">
											<div class="col-md-12">
												<label for="compagnie">{{ "ORGANISATION.COMPAGNIE" | translate }}</label>
												<input
													id="compagnie"
													[disabled]="
														newUser.ebEtablissement.ebEtablissementNum != null ||
														newUser.ebEtablissement.ebCompagnie.ebCompagnieNum != null
													"
													type="text"
													placeholder="{{ 'ORGANISATION.COMPAGNIE' | translate }}"
													class="form-control"
													name="compagnie"
													[(ngModel)]="newUser.ebEtablissement.ebCompagnie.nom"
													#ebCompagnie="ngModel"
													required
												/>
											</div>
										</div>
										<div class="form-group col-md-12 padding-0">
											<div class="col-md-12">
												<label for="groupe">{{ "INSCRIPTION.NOM_GROUPE" | translate }}</label>
												<input
													id="groupe"
													[disabled]="
														newUser.ebEtablissement.ebEtablissementNum != null ||
														newUser.ebEtablissement.ebCompagnie.ebCompagnieNum != null
													"
													placeholder="{{ 'INSCRIPTION.NOM_GROUPE' | translate }}"
													class="form-control"
													name="groupe"
													[(ngModel)]="newUser.ebEtablissement.ebCompagnie.groupeName"
													#ebGroupe="ngModel"
												/>
											</div>
										</div>
									</ng-container>

									<div class="form-group col-md-12 padding-0">
										<div class="col-md-12">
											<label for="nic">NIC</label>
											<input
												id="nic"
												placeholder="NIC"
												class="form-control"
												name="nic"
												[(ngModel)]="newUser.ebEtablissement.nic"
												[pattern]="Statique.patternNIC"
												[textMask]="{ mask: Statique.maskNIC }"
												#nic="ngModel"
												(change)="onSiretChange()"
												required
											/>
										</div>
									</div>

									<div class="form-group col-md-12 padding-0 text-right" style="margin-right: 0px;">
										<button
											class="btn btn-dark-login login-buttons"
											*ngIf="!siretExist"
											awPreviousStep
										>
											<i class="fa fa-angle-double-left" aria-hidden="true"></i>
											{{ "INSCRIPTION.RETOUR" | translate }}
										</button>
										<button
											class="btn btn-dark-login login-buttons"
											*ngIf="!siretExist"
											(click)="onSiretChange()"
										>
											{{ "RESET_PASSWORD.SAVE" | translate }}
										</button>
									</div>

									<ng-container *ngIf="siretExist">
										<div class="form-group col-md-12 padding-0">
											<!-- <div [ngClass]="newUser.role==1? 'col-md-6' :'col-md-12'"> -->
											<div class="col-md-12">
												<label for="etablissement">{{
													"INSCRIPTION.NOM_ETABLISSEMENT" | translate
												}}</label>
												<input
													id="etablissement"
													placeholder="{{ 'INSCRIPTION.NOM_ETABLISSEMENT' | translate }}"
													class="form-control"
													[disabled]="newUser.ebEtablissement.ebEtablissementNum != null"
													name="nom"
													[(ngModel)]="newUser.ebEtablissement.nom"
													#etablissement="ngModel"
													required
												/>
											</div>
											<div class="col-md-6" *ngIf="newUser.role == 1">
												<label for="type">{{ "INSCRIPTION.TYPE_ETABLISSEMENT" | translate }}</label>
												<input
													id="type"
													placeholder="Type"
													class="form-control"
													name="typeEtablissement"
													[(ngModel)]="newUser.ebEtablissement.typeEtablissement"
												/>
											</div>
										</div>
										<div class="form-group col-md-12 padding-0">
											<div class="col-md-6">
												<div>
													<label for="country">{{ "INSCRIPTION.COUNTRY" | translate }}</label>
													<select
														id="country"
														[disabled]="newUser.ebEtablissement.ebEtablissementNum != null"
														class="form-control"
														[compareWith]="byId"
														name="country"
														[(ngModel)]="newUser.ebEtablissement.ecCountry"
														required
													>
														<!-- <option value="" selected>Please Select</option> -->
														<option *ngFor="let country of listCountry" [ngValue]="country">
															{{ country.codeLibelle }}
														</option>
													</select>
												</div>
											</div>
											<div class="col-md-6">
												<label for="country">{{ "ORGANISATION.CITY" | translate }}</label>
												<input
													[disabled]="newUser.ebEtablissement.ebEtablissementNum != null"
													type="text"
													placeholder="{{ 'ORGANISATION.CITY' | translate }}"
													class="form-control"
													name="city"
													[(ngModel)]="newUser.ebEtablissement.city"
													#city="ngModel"
													required
												/>
											</div>
										</div>
										<div class="form-group col-md-12 padding-0">
											<div class="col-md-12">
												<label for="adresseEtablissement">{{
													"INSCRIPTION.POSITION" | translate
												}}</label>
												<textarea
													[disabled]="newUser.ebEtablissement.ebEtablissementNum != null"
													name="adresse"
													id="adresseEtablissement"
													cols="30"
													rows="3"
													class="form-control"
													[(ngModel)]="newUser.ebEtablissement.adresse"
													placeholder="{{ 'INSCRIPTION.POSITION' | translate }}"
												></textarea>
											</div>
										</div>
										<div class="form-group col-md-12 padding-0">
											<div class="col-md-12">
												<label for="telephone">{{ "INSCRIPTION.TELEPHONE" | translate }}</label>
												<input
													[disabled]="newUser.ebEtablissement.ebEtablissementNum != null"
													type="text"
													placeholder="{{ 'INSCRIPTION.TELEPHONE' | translate }}"
													class="form-control"
													name="telephone"
													id="telephone"
													[(ngModel)]="newUser.ebEtablissement.telephone"
													#telephone="ngModel"
												/>
											</div>
										</div>
										<div class="form-group col-md-12 padding-0">
											<div class="col-md-12">
												<label for="email">{{ "INSCRIPTION.EMAIL" | translate }}</label>
												<input
													[disabled]="newUser.ebEtablissement.ebEtablissementNum != null"
													type="text"
													placeholder="{{ 'INSCRIPTION.EMAIL' | translate }}"
													class="form-control"
													name="email"
													[(ngModel)]="newUser.ebEtablissement.email"
													#email="ngModel"
													id="email"
													pattern="^\w+([+\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
												/>
											</div>
										</div>
										<div class="form-group col-md-12 padding-0">
											<div class="col-md-12">
												<label for="siteWeb">{{ "ORGANISATION.SITE" | translate }}</label>
												<input
													[disabled]="newUser.ebEtablissement.ebEtablissementNum != null"
													type="text"
													placeholder="{{ 'ORGANISATION.SITE' | translate }}"
													class="form-control"
													name="siteWeb"
													id="siteWeb"
													[(ngModel)]="newUser.ebEtablissement.siteWeb"
													#siteWeb="ngModel"
												/>
											</div>
										</div>
										<div class="form-group col-md-12 padding-0">
											<div class="col-md-12">
												<div class="thumbnail-image img-rounded">
													<div *ngIf="imageToShow !== null; else elseBlock">
														<img [src]="imageToShow" />
													</div>
													<ng-template #elseBlock>
														<img class="default-produit-image" />
													</ng-template>
													<div class="btn-upload cursor-pointer">
														<i
															class="fa fa-upload fa-2x"
															aria-hidden="true"
															(click)="imageInput.click()"
															style="color: #f5f5f5 !important;"
														>
														</i>
														<label for="imageInput" style="font-size: 24px;">Logo</label>
													</div>
													<input
														[disabled]="newUser.ebEtablissement.ebEtablissementNum != null"
														type="file"
														id="imageInput"
														required
														class="hidden"
														#imageInput
														ngFileSelect
														(uploadOutput)="onUploadImage($event)"
														accept="image/*"
													/>
												</div>
											</div>
										</div>
										<div
											class="form-group col-md-12 padding-0 text-right"
											style="margin-right: 0px;"
										>
											<button class="btn btn-dark-login login-buttons" awPreviousStep>
												<i class="fa fa-angle-double-left" aria-hidden="true"></i>
												{{ "INSCRIPTION.RETOUR" | translate }}
											</button>
											<button
												class="btn btn-dark-login login-buttons"
												[disabled]="!secondFormGroup.valid"
												(click)="compagnieAndUserRole()"
											>
												{{ "INSCRIPTION.SUIVANT" | translate }}
												<i class="fa fa-angle-double-right" aria-hidden="true"></i>
											</button>
										</div>
									</ng-container>
								</form>
							</aw-wizard-step>

							<!-- contenu condition utilisation -->
							<div [hidden]="canEnterStep1">
								<ng-container *ngIf="canEnterStep3">
									<form #thirdFormGroup="ngForm">
										<div class="form-group col-md-12 padding-0">
											<div class="col-md-12">
												<label for="conditionsGenerales">{{
													"LEGALES.CONDITIONSGENERALES" | translate
												}}</label>
												<textarea
													readonly
													name="conditionsGenerales"
													id="conditionsGenerales"
													cols="30"
													rows="10"
													class="form-control"
													placeholder="Les termes du contrat"
												></textarea>
											</div>
										</div>
										<div class="form-group col-md-12 padding-0 text-left" style="margin-left: 0px;">
											<input
												type="checkbox"
												id="accepte1"
												name="accepte1"
												[(ngModel)]="accepte1"
												required="true"
											/>
											<label for="accepte1">{{ "LEGALES.ACCEPTE" | translate }}</label>
										</div>

										<div
											class="form-group col-md-12 padding-0 text-right"
											style="margin-right: 0px;"
										>
											<button class="btn btn-dark-login login-buttons" (click)="retour()">
												<i class="fa fa-angle-double-left" aria-hidden="true"></i>
												{{ "INSCRIPTION.RETOUR" | translate }}
											</button>
											<button
												class="btn btn-dark-login login-buttons"
												[disabled]="!thirdFormGroup.valid"
												#test
												(click)="save(test)"
											>
												{{ "INSCRIPTION.SUIVANT" | translate }}
												<i class="fa fa-angle-double-right" aria-hidden="true"></i>
											</button>
										</div>
									</form>
								</ng-container>
							</div>

							<!-- </wizard-step> -->
						</aw-wizard>

						<!-- contenu invitation -->
						<ng-container *ngIf="canEnterStep1">
							<form #fourthFormGroup="ngForm">
								<div class="panel panel-default ">
									<div class="panel-heading text-center">
										<label>{{ "INVITES.INVITER_FRIENDS" | translate }}</label>
									</div>
									<div class="panel-body">
										<div class="form-group col-md-12 padding-0">
											<div *ngFor="let input of inputsFriendsEmail; let i = index">
												<div class="col-md-10 form-group">
													<input
														type="email"
														[(ngModel)]="input.email"
														name="emailFriends{{ i }}"
														id="input"
														placeholder="Email"
														class="form-control"
														required
														pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
													/>
												</div>
												<button
													class="form-group login-buttons"
													type="button"
													(click)="removeInput(i)"
												>
													<i class="fa fa-minus" aria-hidden="true"></i>
												</button>
											</div>
										</div>
										<div class="form-group col-md-12 padding-0">
											<div class="col-md-8">
												<button
													class="login-buttons text-center"
													type="button"
													(click)="addInput()"
												>
													<i class="fa fa-plus" aria-hidden="true"></i>
													{{ "INSCRIPTION.BTN_INVITER_UN_AMI" | translate }}
												</button>
											</div>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading text-center">
										<label>{{ "INVITES.INVITER_COLLEGUES" | translate }}</label>
									</div>
									<div class="panel-body">
										<div class="form-group col-md-12 padding-0">
											<div *ngFor="let input of inputsColleguesEmail; let i = index">
												<div class="col-md-10 form-group">
													<input
														type="email"
														[(ngModel)]="input.email"
														name="emailCollegues{{ i }}"
														placeholder="Email"
														class="form-control"
														pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
														required
													/>
												</div>
												<button
													class=" form-group login-buttons"
													type="button"
													(click)="removeInputCollegue(i)"
												>
													<i class="fa fa-minus" aria-hidden="true"></i>
												</button>
											</div>
										</div>
										<div class="form-group col-md-12 padding-0">
											<div class="col-md-8">
												<button
													class="login-buttons text-center"
													type="button"
													(click)="addInputCollegue()"
												>
													<i class="fa fa-plus" aria-hidden="true"></i>
													{{ "INSCRIPTION.BTN_INVITER_UN_COLLEGUE" | translate }}
												</button>
											</div>
										</div>
									</div>
								</div>
								<!-- <button class="btn btn-dark-login login-buttons">
					<i class="fa fa-angle-double-left" aria-hidden="true"></i>
					{{'INSCRIPTION.RETOUR'|translate}}
				  </button> -->
								<div class="form-group col-md-12 padding-0 text-right" style="margin-right: 0;">
									<button
										class="btn btn-dark-login btn-success"
										type="submit"
										(click)="inviteFriendAndColleagues($event)"
									>
										{{ "INVITES.TERMINER" | translate }}
									</button>
								</div>
							</form>
						</ng-container>
					</div>
				</div>
			</div>

			<!-- begin login -->

			<!-- end login -->
		</div>
		<!-- end #content -->
	</div>
</body>
