<div class="row">
	<table class="table">
		<thead class="ui-table-thead">
			<tr>
				<th scope="col">#</th>
				<th scope="col" class="colonne-dim">{{ "LEXIQUE.KEY_WORD" | translate }}</th>
				<th scope="col">{{ "LEXIQUE.TYPE" | translate }}</th>
				<th scope="col">{{ "LEXIQUE.DESCRIPTION" | translate }}</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let o of jsonArray; let i = index">
				<td>
					<a
						(click)="copyTextToClipboard(o.cle)"
						pTooltip="copy text"
						tooltipPosition="bottom"
						style="cursor: pointer;"
						><i class="fa fa-copy"></i
					></a>
				</td>
				<td title="{{ o.cle }}" class="colonne-dim" id="mot-cle-{{ i }}">{{ o.cle }}</td>
				<td>{{ o.type }}</td>
				<td>{{ o.desc }}</td>
			</tr>
		</tbody>
	</table>
</div>
