<p-autoComplete
	[(ngModel)]="selectedItem"
	[suggestions]="filteredValue"
	(completeMethod)="filteredValues($event)"
	[size]="30"
	[minLength]="1"
	placeholder="tapez ici"
	field="value"
	dataKey="key"
	[dropdown]="true"
	(onSelect)="selectId($event)"
>
	<ng-template let-selected pTemplate="item">
		<div class="ui-helper-clearfix">
			<div>{{ selected.value }}</div>
		</div>
	</ng-template>
</p-autoComplete>
