<div (click)="redirect(notif)" style="cursor: pointer;width: 96%; float:left ">
	<div class="notif-header d-flex-ai-c d-flex-jc-sb headerUpdate ">
		<i
			style="font-size: 40px !important;"
			*ngIf="notif.module"
			class="icon-module-new my-icon-{{ Statique.getModuleIconByModuleNum(notif.module) }}"
		></i>
		<div *ngIf="!notif.module" class=" col-md-2 "></div>
	</div>

	<div class="notif-card-left">
		<div class="text-left headerFont">
			{{ notif.header }}
		</div>
		<div
			*ngIf="notif.body"
			class="notif-body text-left bodySize"
			[innerHTML]="notif.body | htmlTranslate"
		></div>
		<div class="notify-date text-left  " [ngClass]="{ 'div-top': isAlertOrNotif(notif) }">
			{{ notif.dateCreationSys | date: "dd/MM/yyyy HH:mm" }}
		</div>
	</div>
</div>
<div class="notif-card-right">
	<button (click)="deleteNotif(notif, index)" type="button" class="close" data-dismiss="modal">
		<span aria-hidden="true">×</span>
	</button>
</div>
