.scroller {
	overflow: scroll;
}
.cusrsorNotif {
	cursor: pointer;
}

.headerUpdate {
	//justify-content: end; produce a design prob in firefox
	font-size: 47px;
	width: 20%;
	float: left;
	margin-right: -14px;
}
.notif-card-left {
	width: 80%;
	float: left;
}
.notif-card-right {
	width: 4%;
	float: right;
}
.headerFont {
	font-weight: bold;
	font-size: 12.5px;
}
.bodySize {
	font-size: 12px;
}

.div-top {
	margin-top: 5%;
}
