<div class="row" style="margin:1%">
	<div
		class="col-md-2 setting-buttons__big text-center"
		[routerLink]="['/app/user/settings/company/user-settings/users']"
	>
		Users Management
	</div>
	<div
		class="col-md-2 setting-buttons__big text-center"
		[routerLink]="['/app/user/settings/company/user-settings/ship-to-matrix']"
	>
		Profiles Management
	</div>
	<div
		class="col-md-2 setting-buttons__big text-center"
		[routerLink]="['/app/user/settings/company/user-settings/profiles-management']"
	>
		Ship to matrix
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<router-outlet></router-outlet>
	</div>
</div>
