<div class="trpl-zone-settings-root">
	<app-generic-table
		#genericTable
		[hideTable]="isAddConfigPsl"
		[title]="'CONFIG_PSL_COMPANY.PSL' | translate"
		[searchInput]="searchCriteria"
		[dataInfos]="dataInfos"
		[detailsInfos]="null"
		(addFormEmitter)="displayAddConfigPsl($event)"
		(editFormEmitter)="diplayEditConfigPsl($event)"
		(deleteEventEmitter)="deleteConfigPsl($event)"
		[component]="GenericTableScreen.CONFIG_PSL"
		(onDataLoaded)="onDataLoaded($event)"
		[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
	>
		<form
			class="generic-default"
			formcontent
			*ngIf="isAddConfigPsl"
			role="form"
			#formConfigPsl="ngForm"
		>
			<div class="form-content col-sm-12 margin-top-10">
				<div class="col-md-3 col-sm-4 col-xs-12 form-group">
					<label>{{ "CONFIG_PSL_COMPANY.LIBELLEPSL" | translate }}</label>
					<div>
						<input
							type="text"
							ngControl="libelleCtrl"
							[(ngModel)]="ebTtCompanyPsl.libelle"
							name="libelle"
							class="form-control input-underline input-xs"
							(ngModelChange)="changeModel(formConfigPsl)"
							required
						/>
					</div>
				</div>
				<div class="col-md-1 col-sm-1 col-xs-12 form-group">
					<label>{{ "CONFIG_PSL_COMPANY.CODEALPHA" | translate }}</label>
					<div>
						<input
							type="text"
							ngControl="codeAlphaCtrl"
							[(ngModel)]="ebTtCompanyPsl.codeAlpha"
							name="codeAlpha"
							class="form-control input-underline input-xs"
							(ngModelChange)="changeModel(formConfigPsl)"
							required
						/>
					</div>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-12 form-group">
					<label>{{ "CONFIG_PSL_COMPANY.DATEATTENDUE" | translate }}</label>
					<div>
						<input
							type="checkbox"
							[(ngModel)]="ebTtCompanyPsl.dateAttendue"
							name="dateAttendue"
							class="form-control input-underline input-xs supp-margin"
							(ngModelChange)="changeModel(formConfigPsl)"
							value="true"
						/>
					</div>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-12 form-group">
					<label>{{ "CONFIG_PSL_COMPANY.QUANTITEATTENDUE" | translate }}</label>
					<div>
						<input
							type="checkbox"
							[(ngModel)]="ebTtCompanyPsl.quantiteAttendue"
							name="quantiteAttendue"
							class="form-control input-underline input-xs supp-margin"
							(ngModelChange)="changeModel(formConfigPsl)"
							value="true"
						/>
					</div>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-12 form-group">
					<label>{{ "CONFIG_PSL_COMPANY.REFDOCUMENTATTENDUE" | translate }}</label>
					<div>
						<input
							type="checkbox"
							[(ngModel)]="ebTtCompanyPsl.refDocumentAttendue"
							name="refDocumentAttendue"
							class="form-control input-underline input-xs supp-margin"
							(ngModelChange)="changeModel(formConfigPsl)"
							value="true"
						/>
					</div>
				</div>
			</div>

			<div class="form-content col-sm-12 text-right margin-bottom-10">
				<div class="col-md-12">
					<button
						*ngIf="ebTtCompanyPsl != null && ebTtCompanyPsl.ebTtCompanyPslNum == null"
						class="btn btn-sm btn-success btn-shadow"
						[disabled]="!formConfigPsl.valid"
						(click)="addConfigPsl()"
					>
						{{ "COMPANY_PROFILE.BTN_AJOUTER" | translate }}
					</button>
					<button
						*ngIf="ebTtCompanyPsl != null && ebTtCompanyPsl.ebTtCompanyPslNum != null"
						class="btn btn-sm btn-success btn-shadow"
						[disabled]="!formConfigPsl.valid"
						(click)="editConfigPsl()"
					>
						{{ "COMPANY_PROFILE.BTN_MODIFIER" | translate }}
					</button>
					<button class="btn btn-sm btn-success btn-shadow" (click)="backToListConfigPsl()">
						{{ "GENERAL.CANCEL" | translate }}
					</button>
				</div>
			</div>
		</form>
	</app-generic-table>
</div>
