<div class="form-root no-padding">
	<div class="content">
		<div class="section">
			<p class="title color-gray-dark">
				{{ "ORDER.ORDER_INFORMATION" | translate }}
			</p>
			<div class="d-flex-ai-c generic-inputs__style">
				<label for="requestor" class="areaLibelle col-md-4 col-sm-12 col-xs-12 required"
					>{{ "PRICING_BOOKING.OWNER" | translate }} :
				</label>
				<div class="col-md-8 col-sm-12 col-xs-12 input-wrapper padding-right-0">
					<ng-select
						name="selectedUserCt"
						class="selectedUserCt"
						[items]="listUserEtab"
						[multiple]="false"
						[typeahead]="typeaheadUserEvent"
						bindValue="ebUserNum"
						bindLabel="nom"
						[disabled]="true"
						placeholder="{{ 'PRICING_BOOKING.SELECT_USER' | translate }}"
						[(ngModel)]="selectedUserNum"
						#selectedUserNumRef="ngModel"
					>
						<ng-template ng-label-tmp let-item="item">
							<span
								>{{ item.nom + (item.nom && item.prenom ? " " : "") + (item.prenom || "") }}
							</span>
						</ng-template>
						<ng-template ng-option-tmp let-item="item">
							<div class="d-block">
								<i class="fa fa-user color-primary"></i>
								<span class="ct-select_info">{{
									item.nom + (item.nom && item.prenom ? " " : "") + (item.prenom || "")
								}}</span>
							</div>
							<div class="d-block">
								<i class="fa fa-at color-primary"></i
								><span class="ct-select_info"> {{ item.email }}</span>
							</div>
						</ng-template>
					</ng-select>
					<span class="underline"></span>
				</div>
			</div>

			<!-- origin party adresse -->
			<div>
				<app-adresse-for-shipping-delivery
					[delivery]="delivery"
					[showAddressWrapper]="showAddressWrapperFrom"
					[showAddAddressBtn]="false"
					(showAddressPopup)="showAddressPopupHandle($event)"
					(onValidate)="getOriginParty($event)"
					[listEtablissementPlateform]="listEtablissementPlateform"
					[userConnected]="userConnected"
					[ebParty]="ebPartyOrigin"
					[fromOrTo]="from"
					(suggestionsEtablissement)="suggestionsEtablissementHandler($event)"
					(removeAddressEmit)="removeAddressOriginHandler($event)"
					(addAddressEmit)="addAddress($event)"
					[listMarchandises]="unitInfos?.listMarchandise"
					[readOnly]="!isModeModify"
				></app-adresse-for-shipping-delivery>
			</div>

			<!-- Dest party adresse -->
			<div>
				<app-adresse-for-shipping-delivery
					[delivery]="delivery"
					[showAddressWrapper]="showAddressWrapperTo"
					[showAddAddressBtn]="false"
					(showAddressPopup)="showAddressPopupHandle($event)"
					(onValidate)="getDestParty($event)"
					[listEtablissementPlateform]="listEtablissementPlateform"
					[userConnected]="userConnected"
					[ebParty]="ebPartyDest"
					[fromOrTo]="to"
					(suggestionsEtablissement)="suggestionsEtablissementHandler($event)"
					(removeAddressEmit)="removeAddressDestHandler($event)"
					(addAddressEmit)="addAddress($event)"
					[listMarchandises]="unitInfos?.listMarchandise"
					[readOnly]="!isModeModify"
				></app-adresse-for-shipping-delivery>
			</div>

			<!-- Sold To party adresse-->
			<div>
				<app-adresse-for-shipping-delivery
					[delivery]="delivery"
					[showAddressWrapper]="showAddressWrapperNotif"
					[showAddAddressBtn]="false"
					(showAddressPopup)="showAddressPopupHandle($event)"
					(onValidate)="getSaleParty($event)"
					[listEtablissementPlateform]="listEtablissementPlateform"
					[userConnected]="userConnected"
					[ebParty]="ebPartySoldTo"
					[fromOrTo]="soldTo"
					(suggestionsEtablissement)="suggestionsEtablissementHandler($event)"
					(removeAddressEmit)="removeAddressSaleHandler($event)"
					(addAddressEmit)="addAddress($event)"
					[listMarchandises]="unitInfos?.listMarchandise"
					[isRequired]="false"
					[readOnly]="!isModeModify"
				></app-adresse-for-shipping-delivery>
			</div>

			<div class="" *ngIf="delivery">
				<p class="title color-gray-dark">
					{{ "CHANEL_PB_DELIVERY.DATES" | translate }}
				</p>
				<div class="col-md-12 col-sm-12 col-xs-12 margin-top-20 d-flex-ai-c generic-inputs__style">
					<label class="areaLibelle col-md-4 col-sm-12 col-xs-12"
						>{{ "CHANEL_PB_DETAIL_ORDER.DATE_CREATION_LIVRAISON" | translate }}
						:
					</label>
					<div class="col-md-8 col-sm-12 col-xs-12 padding-right-0">
						<app-datetime-picker
							[timepicker]="true"
							name="delivery.dateCreationSys"
							[(ngModel)]="delivery.dateCreationSys"
							[disabled]="true"
						></app-datetime-picker>
					</div>
				</div>

				<div class="col-md-12 col-sm-12 col-xs-12 margin-top-20 d-flex-ai-c generic-inputs__style">
					<label class="areaLibelle col-md-4 col-sm-12 col-xs-12"
						>{{ "CHANEL_PB_DELIVERY.ORDER_CREATION_DATE" | translate }}
						:
					</label>
					<div class="col-md-8 col-sm-12 col-xs-12 padding-right-0">
						<app-datetime-picker
							[timepicker]="true"
							name="delivery.orderCreationDate"
							[(ngModel)]="delivery.orderCreationDate"
							[disabled]="true"
						></app-datetime-picker>
					</div>
				</div>

				<div class="col-md-12 col-sm-12 col-xs-12 margin-top-20 d-flex-ai-c generic-inputs__style">
					<label class="areaLibelle col-md-4 col-sm-12 col-xs-12"
						>{{ "CHANEL_PB_DELIVERY.DATE_OF_GOODS_AVAILABILITY" | translate }}
						:
					</label>
					<div class="col-md-8 col-sm-12 col-xs-12 padding-right-0">
						<app-datetime-picker
							[timepicker]="true"
							name="delivery.dateOfGoodsAvailability"
							[(ngModel)]="delivery.dateOfGoodsAvailability"
							[disabled]="!isModeModify"
						></app-datetime-picker>
					</div>
				</div>
				<!-- ce champ sera géré dans un autre Jira -->
				<div class="col-md-12 col-sm-12 col-xs-12 margin-top-15 d-flex-ai-c generic-inputs__style">
					<label class="areaLibelle col-md-4 col-sm-12 col-xs-12"
						>{{ "CHANEL_PB_DELIVERY.VALIDATION_DATE" | translate }}
						:
					</label>
					<div class="col-md-8 col-sm-12 col-xs-12 padding-right-0">
						<app-datetime-picker
							[timepicker]="true"
							name="delivery.validationDate"
							[disabled]="true"
						>
						</app-datetime-picker>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="options" [ngClass]="{ 'show-options': !optionsDisplayed && showAddressPopup }">
		<div class="options-content">
			<div *ngIf="isAddress">
				<div>
					<div class="margin-bottom-5 padding-0">
						<label class="text-center title">{{
							"PRICING_BOOKING.SELECT_ADDRESS" | translate
						}}</label>
						<div class="new-adress__action-buttons">
							<i class="btn-icon fa fa-close cursor-pointer" (click)="hideAddressPopup()"></i>
						</div>
					</div>
					<div
						class="adresse-wrapper"
						*ngIf="
							fromOrToAddressBloc == from ||
							fromOrToAddressBloc == to ||
							fromOrToAddressBloc == saleParty
						"
					>
						<div
							class="col-md-12 card"
							[class.active]="selectedIndexFrom === i"
							(click)="getPartyAdress(item); activateClassFrom(i)"
							*ngFor="let item of suggestionsEtablissementList; let i = index"
						>
							<div>{{ item.company }}</div>
							<div class="d-block">{{ item.adresse }}</div>
							<div class="d-inline-block">{{ item.city }}</div>
							<br />
							<div class="d-inline-block">{{ item.xEcCountry.libelle }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
</div>
