<app-collapsible-panel
	class="advanced-search"
	title="{{ 'CHANEL_PB_DELIVERY.AVANCED_SEARCH' | translate }}"
	headingClass="heading-search heading-table"
	bodyClass="body-search"
	[collapse]="true"
	panelClass=""
>
	<app-advanced-form-search
		#advancedFormSearchComponent
		*ngIf="module == Modules.DELIVERY_MANAGEMENT"
		(searchHandler)="search($event)"
		[initialListFields]="paramFields"
		[paramFields]="paramFields"
		initFields="all"
		[editable]="false"
		[ebModuleNum]="Modules.DELIVERY_MANAGEMENT"
		[ebCompNum]="SavedFormIdentifier.SAVED_SEARCH"
		[column]="4"
	></app-advanced-form-search>

	<app-advanced-form-search
		#advancedFormSearchComponent
		*ngIf="module == Modules.ORDER_MANAGEMENT"
		(searchHandler)="search($event)"
		[initialListFields]="paramFields"
		[paramFields]="paramFields"
		initFields="all"
		[editable]="false"
		[ebModuleNum]="Modules.ORDER_MANAGEMENT"
		[ebCompNum]="SavedFormIdentifier.SAVED_SEARCH"
		[column]="4"
	></app-advanced-form-search>

	<div class="col-md-4 form-group mgtop ng-star-inserted nopadding">
		<div class="col-md-4 nopadding-left">
		  <label>{{ "GENERAL.SELECT_ANOTHER_INPUT_FIELDE" | translate }}:</label>
	    </div>
		<div class="col-md-8 nopadding-left">
		<ng-select
					name="input-field"
					id="input-field"
					[items]="dataInfosItem"
					(change)="onInputChange(selectedField)"
					(click)="onClickInput()"
					bindValue="name"
					[(ngModel)]="selectedField"
					[clearable]="false"
					placeholder="{{ 'GENERAL.SELECT_ANOTHER_INPUT_FIELDE' | translate }}" required	
			>
			<ng-template ng-label-tmp let-item="item">
				<span
					>{{ item.label | translate }}
				</span>
			</ng-template>
			<ng-template ng-option-tmp let-item="item">
				<span>{{item.label | translate}}</span>
			</ng-template>
		</ng-select>
	    </div>
	</div>
</app-collapsible-panel>
