<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="shared/common_head :: copy">
    <title></title>
</head>

<body>
<header th:replace="shared/header :: copy"></header>
<main class="main">
    <table class="table-main">
        <tbody>
        <tr>
            <td>
                <div>
                    <span th:text="#{InfoMandatoryPrefacture.welcome.message}"></span><br>
                    <span th:text="#{InfoMandatoryPrefacture.intro}"></span><br>
                    <ul>
                        <div>
                            <div>
                                <!--								origin -->
                                <p>ACHETEUR (Buyer)
                                <li>Reference : <span th:if="${refTransport}!=null and ${refTransport}!=''"
                                                      th:text="${refTransport}"></span>
                                    <span th:unless="${refTransport}!= null and ${refTransport}!=''"
                                          th:utext="'this field is mandatory'"
                                          th:style="'color: red' "></span>
                                </li>
                                <li>Company Origin :<span th:if="${companyOrigin}!=null and ${companyOrigin}!=''"
                                                          th:text="${companyOrigin}"></span>
                                    <span th:unless="${companyOrigin}!= null and ${companyOrigin}!=''"
                                          th:utext="'this field is mandatory'"
                                          th:style="'color: red' "></span></li>
                                <li>Adresse Origin :<span th:if="${adresseOrigin}!=null and ${adresseOrigin}!=''"
                                                          th:text="${adresseOrigin}"></span>
                                    <span th:unless="${adresseOrigin}!= null and ${adresseOrigin}!=''"
                                          th:utext="'this field is mandatory'"
                                          th:style="'color: red' "></span></span></li>
                                <li>City Origin : <span th:if="${cityOrigin}!=null and ${cityOrigin}!=''"
                                                        th:text="${cityOrigin}"></span>
                                    <span th:unless="${cityOrigin}!= null and ${cityOrigin}!=''"
                                          th:utext="'this field is mandatory'"
                                          th:style="'color: red' "></span></li>
                                <li>Country Name : <span th:if="${CountryOriginName}!=null and ${CountryOriginName}!=''"
                                                         th:text="${CountryOriginName}"></span>
                                    <span th:unless="${CountryOriginName}!= null and ${CountryOriginName}!=''"
                                          th:utext="'this field is mandatory'"
                                          th:style="'color: red' "></span>
                                </li>
                                </p>
                            </div>
                            <div>
                                <!--								Destination-->
                                <p>DESTINATAIRE (SHIP TO)
                                <li>Company Destination : <span
                                        th:if="${companyDestination}!=null and ${companyDestination}!=''"
                                        th:text="${companyDestination}"></span>
                                    <span th:unless="${companyDestination}!= null and ${companyDestination}!=''"
                                          th:utext="'this field is mandatory'"
                                          th:style="'color: red' "></span>
                                </li>
                                <li>Adresse Destination : <span
                                        th:if="${adresseDestination}!=null and ${adresseDestination}!=''"
                                        th:text="${adresseDestination}"></span>
                                    <span th:unless="${adresseDestination}!= null and ${adresseDestination}!=''"
                                          th:utext="'this field is mandatory'"
                                          th:style="'color: red' "></span></li>
                                <li>City Destination : <span th:if="${cityDestination}!=null and ${cityDestination}!=''"
                                                             th:text="${cityDestination}"></span>
                                    <span th:unless="${cityDestination}!= null and ${cityDestination}!=''"
                                          th:utext="'this field is mandatory'"
                                          th:style="'color: red' "></span>
                                </li>
                                <li>Country Destination : <span
                                        th:if="${CountryDestinationName}!=null and ${CountryDestinationName}!=''"
                                        th:text="${CountryDestinationName}"></span>
                                    <span th:unless="${CountryDestinationName}!= null and ${CountryDestinationName}!=''"
                                          th:utext="'this field is mandatory'"
                                          th:style="'color: red' "></span>
                                </li>
                                </p>
                            </div>
                        </div>
                        <p>
                        <li>MODE DE (of) TRANSPORT :<span th:if="${modeOfTransport}!=null and ${modeOfTransport}!=''"
                                                          th:text="${modeOfTransport}"></span>
                            <span th:unless="${modeOfTransport}!= null and ${modeOfTransport}!=''"
                                  th:utext="'this field is mandatory'"
                                  th:style="'color: red' "></span>
                        </li>
                        </p>
                        <p>
                        <li>Monnaie :<span th:if="${currencyCode}!=null and ${currencyCode}!=''"
                                           th:text="${currencyCode}"></span>
                            <span th:unless="${currencyCode}!= null and ${currencyCode}!=''"
                                  th:utext="'this field is mandatory'"
                                  th:style="'color: red' "></span>
                        </li>
                        </p>
                        <p>CONTACT in France :
                        <li>Demandeur :<span th:if="${demandeur}!=null and ${demandeur}!=''"
                                             th:text="${demandeur}"></span>
                            <span th:unless="${demandeur}!= null and ${demandeur}!=''"
                                  th:utext="'this field is mandatory'"
                                  th:style="'color: red' "></span>
                        </li>
                        <li>Tel du Demandeur :<span th:if="${telDemandeur}!=null and ${telDemandeur}!=''"
                                                    th:text="${telDemandeur}"></span>
                            <span th:unless="${telDemandeur}!= null and ${telDemandeur}!=''"
                                  th:utext="'this field is mandatory'"
                                  th:style="'color: red' "></span>
                        </li>
                        </p>
                        <p>CONTACT at destination : :
                        <li>Destinataire :<span th:if="${destinataire}!=null and ${destinataire}!=''"
                                                th:text="${destinataire}"></span>
                            <span th:unless="${destinataire}!= null and ${destinataire}!=''"
                                  th:utext="'this field is mandatory'"
                                  th:style="'color: red' "></span>
                        </li>
                        <li>Tel du Destinataire :<span th:if="${telDestinataire}!=null and ${telDestinataire}!=''"
                                                       th:text="${telDestinataire}"></span>
                            <span th:unless="${telDestinataire}!= null and ${telDestinataire}!=''"
                                  th:utext="'this field is mandatory'"
                                  th:style="'color: red' "></span>
                        </li>
                        </p>

                    </ul>

                    <!--unit-->
                    <li th:each="unit : ${units}">
                        <p>Nom Article:
                            <span th:if="${unit.unitReference}!=null and ${unit.unitReference}!=''"
                                  th:text="${unit.unitReference}"></span>
                            <span th:unless="${unit.unitReference}!= null and ${unit.unitReference}!=''"
                                  th:utext="'this field is mandatory'" th:style="'color: red' "></span>
                        </p>
                        <p>Hs Code:
                            <span th:if="${unit.hsCode}!=null and ${unit.hsCode}!=''" th:text="${unit.hsCode}"></span>
                            <span th:unless="${unit.hsCode}!= null and ${unit.hsCode}!=''"
                                  th:utext="'this field is mandatory'"
                                  th:style="'color: red' "></span>
                        </p>
                        <p>Comment:
                            <span th:if="${unit.comment}!=null and ${unit.comment}!=''"
                                  th:text="${unit.comment}"></span>
                            <span th:unless="${unit.comment}!= null and ${unit.comment}!=''"
                                  th:utext="'this field is mandatory'"
                                  th:style="'color: red' "></span>
                        </p>
                        <p>Made in:
                            <span th:if="${unit.originCountryName}!=null and ${unit.originCountryName}!=''"
                                  th:text="${unit.originCountryName}"></span>
                            <span th:unless="${unit.originCountryName}!= null and ${unit.originCountryName}!=''"
                                  th:utext="'this field is mandatory'" th:style="'color: red' "></span>
                        </p>
                        <p>Prix Unitaire:
                            <span th:if="${unit.price}!=null and ${unit.price} ne 0.0" th:text="${unit.price}"></span>
                            <span th:unless="${unit.price}!=null and ${unit.price} ne 0.0"
                                  th:utext="'this field is mandatory'"
                                  th:style="'color: red' "></span>
                        </p>
                        <p>Quantité:
                            <span th:if="${unit.numberOfUnits}!=null and ${unit.numberOfUnits} ne 0.0"
                                  th:text="${unit.numberOfUnits}"></span>
                            <span th:unless="${unit.numberOfUnits}!=null and ${unit.numberOfUnits} ne 0.0"
                                  th:utext="'this field is mandatory'" th:style="'color: red' "></span>
                        </p>
                    </li>
                    <span th:text="#{InfoMandatoryPrefacture.corp}"></span>
                    <!--                    <p>Vous pouvez accéder au dossier complet sur MyTower pour compléter les informations obligatoires manquantes en cliquant ci-dessous:-->
                    <div class="btn-wrapper">
                        <button>
                            <a th:href="@{${url}}">
                                <span class="btn" th:utext="${refTransport}"></span>
                            </a>
                        </button>
                    </div>
                    <!--                    </p>-->
                </div>
            </td>
        </tr>

        </tbody>

    </table>
</main>

<footer th:replace="shared/footer :: copy"></footer>
</body>

</html>
