/******** VARIABLES ********/
@import "../../../../../../styles/variables";

.setting-buttons__big {
	padding: 40px;
	font-size: $fz-lg;
	margin-bottom: 10px;
	cursor: pointer;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
	box-shadow: 0 0 3px -1px #000;
	&.active {
		background: #018dad;
		color: #fff;
	}
	&:hover {
		background: #e8e8e8;
	}
}
