<div class="row" style="margin:1%">
	<div
		class="col-md-2 setting-buttons__big text-center"
		[routerLink]="['/app/user/settings/company/company-settings/company-profil']"
	>
		Company profil
	</div>
	<div
		class="col-md-2 setting-buttons__big text-center"
		[routerLink]="['/app/user/settings/company/company-settings/references']"
	>
		Reference
	</div>
	<div
		class="col-md-2 setting-buttons__big text-center"
		[routerLink]="['/app/user/settings/company/company-settings/exchange-rate']"
	>
		Exchange rates
	</div>
	<div
		class="col-md-2 setting-buttons__big text-center"
		[routerLink]="['/app/user/settings/company/company-settings/document']"
	>
		Documents
	</div>
	<div
		class="col-md-2 setting-buttons__big text-center"
		[routerLink]="['/app/user/settings/company/company-settings/doc-templates']"
	>
		Documents templates
	</div>
	<div
		class="col-md-2 setting-buttons__big text-center"
		[routerLink]="['/app/user/settings/company/company-settings/flags']"
	>
		Flags
	</div>
	<div
		class="col-md-2 setting-buttons__big text-center"
		[routerLink]="['/app/user/settings/company/company-settings/rules']"
	>
		Rules
	</div>
</div>
<router-outlet></router-outlet>
