<app-generic-table
	#genericTable
	*ngIf="dataInfos && dataInfos.cols"
	[hideTable]="isAddEditMode"
	[title]="'GENERAL.CAUSE_CAUSE' | translate"
	[searchInput]="globalSearchCriteria"
	[dataInfos]="dataInfos"
	[detailsInfos]="null"
	[module]="module"
	[component]="datatableComponent"
	(addFormEmitter)="displayAdd($event)"
	(editFormEmitter)="displayEdit($event)"
	(listCategorieEmitter)="onListCategorieLoaded($event)"
	(listFieldsEmitter)="onListFieldLoaded($event)"
	[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
	[parentContext]="this"
>
	<form
		formcontent
		class="generic-default col-md-12 margin-top-15 margin-bottom-15"
		*ngIf="isAddEditMode"
		role="form"
		#formCtrlAdminFlag="ngForm"
	>
	<div class="form-content col-sm-12 margin-top-10">
		<div class="row">
		<div class="col-md-4 col-xs-12 d-flex-ai-c d-flex-w generic-inputs__style">

				<label class="col-md-4 required">{{"GENERAL.LIBELLE" | translate}}:</label>

			<div class="col-md-8">
				<input
					name="rootCause.label"
					type="text"
					class="form-control"
					[(ngModel)]="rootCause.label"
					required
				/>
			</div>
		</div>

		<div class="col-md-4 col-xs-12 d-flex-ai-c generic-inputs__style">
			<label class="col-md-4"
				>{{ "QUALITY_MANAGEMENT.ACTIONS" | translate }}:</label
			>
		<div class="col-md-8">
			<input
				type="text"
				[(ngModel)]="rootCause.actions"
				class="form-control"
				name="rootCause.actions"
			/>
		</div>

	</div>
	<div class="col-md-4 col-xs-12 d-flex-ai-c d-flex-w generic-inputs__style">
		<label class="col-md-4"
			>{{ "QUALITY_MANAGEMENT.ROOT_CAUSES_STATUS" | translate }}:</label
		>
		<div class="col-md-8">
		<select [(ngModel)]="rootCause.statut" class="form-control" name="rootCause.statut">
			<option *ngFor="let item of listRootCauseStatus" [ngValue]="item.code">
				{{ "QUALITY_MANAGEMENT.ROOT_CAUSE_STATUS." + item.key | translate }}
			</option>
		</select>
	</div>
</div>
		</div>
		<div class="row">

		<div class="col-md-4 col-xs-12 d-flex-ai-c d-flex-w generic-inputs__style">
				<label class="col-md-4">{{
					"QUALITY_MANAGEMENT.SEVERITY" | translate
				}}:</label>
			<div class="col-md-8">
				<select [(ngModel)]="rootCause.severite" class="form-control" name="rootCause.severite">
					<option *ngFor="let priority of listPriority" [ngValue]="priority.code">
						{{ "GENERAL.PRIORITY." + priority.key | translate }}
					</option>
				</select>
			</div>
		</div>
		<div class="col-md-4 col-xs-12 d-flex-ai-c d-flex-w generic-inputs__style">
			<label class="col-md-4"
				>{{ "GENERAL.DESCRIPTION" | translate }}:</label
			>
			<div class="col-md-8">
			<input
				type="text"
				[(ngModel)]="rootCause.description"
				class="form-control"
				name="rootCause.description"
			/>
		</div>
	</div>
	<div class="col-md-4 col-xs-12 d-flex-ai-c d-flex-w generic-inputs__style">
		<div class="col-md-4 text-right">
			<label class="control-label">{{ "QUALITY_MANAGEMENT.ROOT_CAUSE_CATEGORY" | translate }}:</label>
		</div>
		<div class="col-md-8">
			<select name="rootCauseCategory" class="form-control" [(ngModel)]="rootCause.rootCauseCategory">
				<option *ngFor="let category of listRootCauseCategories" [value]="category.code" >
					{{category.key}}
				</option>
			</select>
		</div>
	</div>
	</div>
	<!-- waiting for root cause category parametrage -->
		<div class="row">
			<div class="col-md-4 col-xs-12 d-flex-ai-c d-flex-w generic-inputs__style"
			*ngIf="isEditMode && statique.isDefined(rootCause)">
				<label class="col-md-4"
					>{{ "QUALITY_MANAGEMENT.INCIDENT_LIES" | translate }} :</label
				>
				<div class="col-md-8">
					<button
						class="btn btn-sm btn-secondary btn-shadow"
						(click)="showDetailsPrice(rootCause.qmRootCauseNum)"
					>
					{{ "QUALITY_MANAGEMENT.DETAILS" | translate }}
					</button>
				</div>
			</div>
		</div>

		<div class="form-content col-sm-12 text-right">
			<div class="col-md-12 form-bottom-control">

				<button class="btn btn-sm btn-success btn-shadow" (click)="backToList()">
					{{ "GENERAL.CANCEL" | translate }}
				</button>

				<button
					*ngIf="rootCause != null && rootCause.qmRootCauseNum == null && isEditMode == false"
					class="btn btn-sm btn-success btn-shadow"
					[disabled]="!formCtrlAdminFlag.valid"
					(click)="addRootCause(rootCause)"
				>
					{{ "COMPANY_PROFILE.BTN_AJOUTER" | translate }}
				</button>
				<button
						*ngIf="isEditMode && rootCause != null"
						class="btn btn-sm btn-primary btn-shadow"
						[disabled]="!formCtrlAdminFlag.valid"
						(click)="editRootCause($event)"
					>
						{{ "GENERAL.EDIT" | translate }}
					</button>
			</div>
		</div>
		</div>
	</form>
</app-generic-table>
