/******** VARIABLES ********/
@import "../../../styles/variables";

.breadcrumb-cmp-root {
	padding: 0;
	margin: 0;
	list-style: none;
	background-color: transparent;
	border-radius: 4px;
	display: flex;
	align-items: center;
	.breadcrumb-item {
		display: flex;
		align-items: center;
		&:before {
			display: none;
		}
		i {
			font-size: $fz-xs;
			padding: 0 4px;
			color: #335f80;
			vertical-align: middle;
		}		
		a:hover{
			cursor: pointer;
		}
		&.active {
			span,
			a {
				// font-weight: 500;
				font-size: $fz-base;
				.module-icon {
					font-size: 24px !important;
					position: relative;
					top: 3px;
					padding-right: 5px;
				}
			}
		}

		span,
		a {
			font-weight: 400;
			font-size: $fz-base;
			.module-icon {
				font-size: 24px !important;
				position: relative;
				top: 3px;
				padding-right: 5px;
			}
		}
	}
}
