<ol class="breadcrumb-cmp-root">
	<li
		class="breadcrumb-item border-bottom_trans"
		*ngFor="let item of options; let i = index"
		[class.active]="i === options.length - 1"
	>
		<a *ngIf="item.icon">
			<span [ngClass]="item.icon" class="module-icon"></span>
		</a>
		<a (click)="goTo(item.path)" *ngIf="item.path">
			{{ item.label | translate }}
		</a>
		<a *ngIf="!item.path">
			{{ item.label | translate }}
		</a>
		<i *ngIf="i != options.length - 1" class="fa fa-chevron-right"></i>
	</li>
</ol>
