<!-- <app-collapsible-panel title="{{'GENERAL.PEOPLE'|translate}}"> -->

<!-- <div class="margin-top-10 margin-bottom-10">  -->

<!-- <div class="row margin-left-15 margin-right-15"> -->
<div class="col-md-12 d-flex-ai-c generic-inputs__style">
	<label class="col-md-4 col-sm-12 col-xs-12"
		>{{ "PRICING_BOOKING.ORIGIN_USER" | translate }}{{space}}:</label
	>
	<div class="col-md-8 col-sm-12 col-xs-12 padding-0">
		<app-users-autocomplete
			[(inputModel)]="ebDemande.xEbUserOrigin"
			[criteria]="criteria"
			[disabled]="disabled"
			(onUpdateChanges)="displayPopupUpdateAdresse($event)"
		></app-users-autocomplete>
	</div>
</div>

<div class="col-md-12 padding-top-10 d-flex-ai-c generic-inputs__style">
	<label class="col-md-4 col-sm-12 col-xs-12"
		>{{ "PRICING_BOOKING.DESTINATION_USER" | translate }}{{space}}:</label
	>
	<div class="col-md-8 col-sm-12 col-xs-12 padding-0">
		<app-users-autocomplete
			[(inputModel)]="ebDemande.xEbUserDest"
			[criteria]="criteria"
			[disabled]="disabled"
			(onUpdateChanges)="displayPopupUpdateAdresse($event)"
		></app-users-autocomplete>
	</div>
</div>

<div *ngIf="isChargeur || isControlTower" class="col-md-12 d-flex-ai-c generic-inputs__style">
	<label class="col-md-4 col-sm-12 col-xs-12"
		>{{ "PRICING_BOOKING.OBSERVER" | translate }}{{ space }}:</label
	>
	<div class="col-md-8 col-sm-12 col-xs-12 padding-0">
		<ng-select
			name="xEbUserObserver"
			[multiple]="true"
			[items]="listObserver"
			[disabled]="disabled"
			bindLabel="email"
			[(ngModel)]="ebDemande.xEbUserObserver"
			placeholder="{{ 'PRICING_BOOKING.CHOOSE_USER' | translate }} ..."
		>
		</ng-select>
	</div>
</div>
<!-- <div class="col-md-12 text-center padding-top-10">
        <button href="#" class="btn btn-primary btn-sm fa fa-save" (click)="saveData($event)">
        </button>
    </div> -->

<!-- <div class="row margin-left-15 margin-right-15">
                <div class="margin-top-10" *ngIf="ebDemande.ebDemandeNum">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button href="#" class="btn btn-primary btn-sm" (click)="saveData($event)">
                                {{'GENERAL.SAVE' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div> -->

<!-- </app-collapsible-panel> -->
