<div
	class="modal modal-export-doc-tpl-root "
	tabindex="-1"
	role="dialog"
	style="display:block!important"
	*ngIf="!isClose "
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div>
				<form role="form" #EventForm="ngForm" novalidate>
					<div class="modal-header">{{ "DOCUMENT_TEMPLATES.CONFIRMATION" | translate }}</div>
					<div class="modal-body overflow-visible" style="width: 100%;">
						<div class="row">
							<div class="col-xs-12 col-md-12 ">
								<label>{{ "DOCUMENT_TEMPLATES.POPUP_DEC_MSG_FIELD_MANDATORY" | translate }}</label>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a (click)="onCloseModalFieldMandatory()">
							<button
								class="btn btn-primary pull-right btn-sm mr5 modal_yes_btn"

							>
								{{ "DOCUMENT_TEMPLATES.CONFIRM" | translate }}
							</button>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
