<div class="row margin-tb-10">
	<div class="form-content col-md-12">
		<div class="row">
			<div class="col-md-4">
				<input
					type="text"
					placeholder="Type For Search"
					class="form-control input-xs"
					[(ngModel)]="searchCriteria.searchterm"
				/>
			</div>
			<div class="col-md-2">
				<button class="btn btn-sm btn-success" (click)="searchTerm()">Search</button>
			</div>
			<div class="col-md-3 no-padding">
				<div *ngIf="showContact">
					<div class="btn-group" data-toggle="buttons">
						<label class="btn-primary btn-sm" ngbButtonLabel>
							<input
								type="checkbox"
								ngbButton
								[(ngModel)]="searchCriteria.contactActif"
								(change)="searchContact()"
							/>
							{{ Statique.etatRelation[EtatRelation.ACTIF] }}
						</label>
						<label class="btn-primary btn-sm" ngbButtonLabel>
							<input
								type="checkbox"
								ngbButton
								[(ngModel)]="searchCriteria.contactBlackList"
								(change)="searchContact()"
							/>
							{{ Statique.etatRelation[EtatRelation.BLACKLIST] }}
						</label>
					</div>
					<div class="btn-group" data-toggle="buttons" *ngIf="isChargeur">
						<label class="btn-primary btn-sm" ngbButtonLabel>
							<input
								type="checkbox"
								ngbButton
								[(ngModel)]="searchCriteria.roleBroker"
								(change)="searchContact()"
							/>
							{{ Statique.Service_Type[ServiceType.BROKER] | translate }}
						</label>
						<label class="btn-primary btn-sm" ngbButtonLabel>
							<input
								type="checkbox"
								ngbButton
								[(ngModel)]="searchCriteria.roleTransporteur"
								(change)="searchContact()"
							/>
							{{ Statique.Service_Type[ServiceType.TRANSPORTEUR] | translate }}
						</label>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<label class="radio-inline">
					<input
						type="radio"
						[(ngModel)]="showContact"
						(change)="changeContactOrEtablissement()"
						[value]="true"
						[checked]="showContact"
						name="showContact"
					/>Contact</label
				>
				<label class="radio-inline">
					<input
						type="radio"
						[(ngModel)]="showContact"
						(change)="changeContactOrEtablissement()"
						[value]="false"
						[checked]="!showContact"
						name="showContact"
					/>Etablissement</label
				>
			</div>
		</div>
	</div>
</div>
<hr class="no-margin-tb" />
<div class="row" *ngIf="showContact; else showListEtablissement">
	<div *ngFor="let contact of connectedUser.contacts; let i = index" class="card col-md-2">
		<img
			src="../../../../../assets/ressources1/img/avatars/img_avatar.png"
			[class]="contact.etat == EtatRelation.BLACKLIST ? 'img-card disabled-img' : 'img-card'"
		/>
		<div
			[class]="contact.etat == EtatRelation.BLACKLIST ? '_container disabled-div' : '_container'"
		>
			<h5>
				<b>
					<a href="javascript:void(0)">{{ contact.guest.nom }} {{ contact.guest.prenom }}</a>
				</b>
			</h5>
			<h6>
				<p>{{ contact.xEbEtablissementHost.nom }}</p>
				<p>{{ contact.guest.email }}</p>
			</h6>
			<div class="row">
				<div class="col-md-9">
					<span
						*ngIf="contact.typeRelation != null; else chargeurBlock"
						[class]="Statique.getStyleServiceType(contact.typeRelation)"
						>{{ Statique.Service_Type[contact.typeRelation] | translate }}</span
					>
					<ng-template #chargeurDiv>
						<span class="label label-primary">Chargeur</span>
					</ng-template>
				</div>
				<div class="col-md-3">
					<button
						type="button"
						[class]="
							contact.etat == EtatRelation.ACTIF
								? 'btn btn-xs btn-danger font-size-10'
								: 'btn btn-xs btn-success font-size-10'
						"
						placement="bottom"
						container="body"
						[ngbTooltip]="contact.etat == EtatRelation.ACTIF ? 'Bloquer' : 'Débloquer'"
						(click)="
							contact.etat == EtatRelation.ACTIF
								? editRelation(EtatRelation.BLACKLIST, i)
								: editRelation(EtatRelation.ACTIF, i)
						"
					>
						<i
							*ngIf="contact.etat == EtatRelation.ACTIF; else blackListBlock"
							class="fa fa-ban"
							aria-hidden="true"
						></i>
						<ng-template #blackListBlock>
							<i class="fa fa-undo" aria-hidden="true"></i>
						</ng-template>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<ng-template #showListEtablissement>
	<div class="row">
		<div
			*ngFor="let etablissement of listEtablissementOfContact; let i = index"
			class="card col-md-2"
		>
			<img src="../../../../../assets/ressources1/img/avatars/img_avatar.png" class="img-card" />
			<div class="_container etablissement">
				<h5>
					<b>
						<a href="javascript:void(0)">{{ etablissement.nom }}</a>
					</b>
				</h5>
				<h6>
					<p class="row">
						<span *ngIf="etablissement.ebCompagnie.nom != etablissement.nom">
							{{ etablissement.ebCompagnie.nom }}
						</span>
						&nbsp;
					</p>
					<p class="row">{{ etablissement.adresse }}</p>
					<p class="row">{{ etablissement.telephone }}</p>
				</h6>
				<div class="row">
					<div class="text-right">
						<span class="label label-primary"
							>{{ etablissement.nmbrUtilisateurs }}
							<i class="fa fa-user-o" aria-hidden="true"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>

<div
	class="row"
	*ngIf="
		showContact
			? connectedUser.contacts != null &&
			  (searchCriteria.pageNumber + 1) * searchCriteria.size == connectedUser.contacts.length
			: listEtablissementOfContact != null &&
			  (searchCriteria.pageNumber + 1) * searchCriteria.size == listEtablissementOfContact.length
	"
>
	<a href="javascript:void(0)">
		<div class="col-md-5"></div>
		<div class="col-md-2 text-center btn btn-default" (click)="getMoreData()">
			<i class="fa fa-arrow-down" aria-hidden="true"></i> Show More
		</div>
		<div class="col-md-5"></div>
	</a>
</div>
