<div class="margin-top-10">
	<div style="display: flex;" class="margin-bottom-5">
		<h5 class="margin-right-5">{{ "DOCK.APPLICATION_PERIODS" | translate }}</h5>
		<button class="btn btn-sm btn-success btn-shadow" (click)="addPeriod()">
			{{ "GENERAL.ADD" | translate }}
		</button>
	</div>

	<div *ngIf="!enableformAddPeriod && listOpeningPeriod && listOpeningPeriod.length > 0">
		<p-table [value]="listOpeningPeriod">
			<ng-template pTemplate="header">
				<tr>
					<th>{{ "DOCK.FIELD.LABEL" | translate }}</th>
					<th>{{ "DOCK.FIELD.DATE_START" | translate }}</th>
					<th>{{ "DOCK.FIELD.DATE_END" | translate }}</th>
					<th>{{ "DOCK.FIELD.TYPE_PERIOD" | translate }}</th>
					<th style="width:90px;"></th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-period>
				<tr>
					<td>{{ period.label }}</td>
					<td>{{ period.startDate | date: "longDate" }}</td>
					<td>{{ period.endDate | date: "longDate" }}</td>
					<td>{{ getTypePeriodDisplay(period.typePeriod) }}</td>

					<td>
						<div class="flex" style="align-items: center; justify-content: center;">
							<button
								style="width: 22px; margin: 0 !important;"
								class="btn btn-xs"
								(click)="updateOpeningPeriod(period)"
							>
								<i class="fa fa-edit cursor-pointer"></i>
							</button>
							<button
								style="width: 22px;"
								class="btn btn-danger btn-xs"
								(click)="deleteOpeningPeriod(period)"
							>
								<i class="fa fa-trash cursor-pointer"></i>
							</button>
						</div>
					</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
	<div>
		<form *ngIf="enableformAddPeriod === true" role="form" #formAddPeriod="ngForm">
			<div class="form-content col-sm-12">
				<div class="row">
					<div class="col-md-3 new-formcontrol  ">
						<label class="areaLibelle">{{ "DOCK.FIELD.LABEL" | translate }}</label>
						<div class="col-md-12 padding-left-0-important padding-right-0-important">
							<input
								name="label"
								class="form-control goods classPickslipVal"
								[(ngModel)]="openingPeriod.label"
							/>
						</div>
					</div>
					<div class="col-md-3 new-formcontrol  ">
						<label class="areaLibelle">{{ "DOCK.FIELD.DATE_START" | translate }}</label>
						<div class="col-md-12 padding-left-0-important padding-right-0-important">
							<app-datetime-picker
								#datetimepicker
								[(ngModel)]="openingPeriod.startDate"
								[name]="'startDate'"
							></app-datetime-picker>
						</div>
					</div>
					<div class="col-md-3 new-formcontrol  ">
						<label class="areaLibelle">{{ "DOCK.FIELD.DATE_END" | translate }}</label>
						<div class="col-md-12 padding-left-0-important padding-right-0-important">
							<app-datetime-picker
								#datetimepicker
								[(ngModel)]="openingPeriod.endDate"
								[name]="'endDate'"
							></app-datetime-picker>
						</div>
					</div>
					<div class="col-md-3 new-formcontrol  ">
						<label class="areaLibelle">{{ "DOCK.FIELD.TYPE_PERIOD" | translate }}</label>
						<div class="col-md-12 padding-left-0-important padding-right-0-important">
							<ng-select
								name="typePeriode"
								[items]="listTypePeriode"
								bindValue="code"
								placeholder="{{ 'DOCK.HINT_SELECT_TYPE' | translate }}"
								[(ngModel)]="openingPeriod.typePeriod"
							>
								<ng-template ng-label-tmp let-item="item">
									<span>
										{{ getTypePeriodDisplay(item.code) }}
									</span>
								</ng-template>
								<ng-template ng-option-tmp let-item="item">
									<span>
										{{ getTypePeriodDisplay(item.code) }}
									</span>
								</ng-template>
							</ng-select>
						</div>
					</div>
				</div>
			</div>

			<div class="form-content col-sm-12 text-right">
				<div class="col-md-12">
					<button class="btn btn-sm btn-shadow" (click)="periodCancel($event)">
						{{ "COMPANY_PROFILE.BTN_CANCEL" | translate }}
					</button>
					<button
						class="btn btn-sm btn-success btn-shadow"
						[disabled]="!formAddPeriod.valid"
						(click)="periodSave($event)"
					>
						Save
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
