// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 600px;
// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 13;
$primarySize: 26px;
// ----------------------------------------------------------------------
// Line Height
// ----------------------------------------------------------------------
$primaryLineHeight: 24px;
// ----------------------------------------------------------------------
// Font Weight
// ----------------------------------------------------------------------
$bold: 700;
$semiBold: 600;
$normal: 400;
$light: 300;
// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------
$white: #fff;
$white-1: #f5eeee;
$white-2: #ece3e3;
$white-op-1: rgba(255, 255, 255, 0.8);
$black: black;
$black-1: #111010;
$black-gr-1: #777676;
$black-gr-2: #3a3a3a;
$black-2: #161515;
$dark-op-3: rgba(150, 150, 150, 0.3);
$dark-op-7: rgba(150, 150, 150, 0.7);
$red: #772121;
$red-gr-1: #de7968;
$red-gr-2: rgb(143, 59, 44);
$red-gr-3: #44170f;
$red-1: #c5312c;
$red-2: #AE0F0A;
$red-3: #bd211c;
$red-4: #e09895;
$red-op-3: rgba(141, 58, 45, 0.3);
$red-op-7: rgba(141, 58, 45, 0.7);
$blue: #018dad;
$blue-light: #91b1b8;
$blue-gr-1: #02aacb;
$blue-gr-2: #036f85;
$blue-gr-3: #006174;
// $blue-2: #bfd7da;
$blue-2: #c9d5d6;
$blue-op-3: rgba(1, 98, 166, 0.3);
$blue-op-7: rgba(1, 98, 166, 0.7);
$blue-4: #016577;
$gray: #537073; 
// ----------------------------------------------------------------------
// aurora charte des couleurs
// ----------------------------------------------------------------------
$aurora-blue: #00577B;
$aurora-blue-2: #22818d;
$aurora-green: #ABCD35;
$aurora-green-dark: #80b551;
$aurora-yellow: #E6E009;

// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$primaryFont: HelveticaNeueBold;
$NeueLTPro: HelveticaNeueLTPro-Hv;
$NeueLTPro-Lt: HelveticaNeueLTPro-Lt;
$OpenSans: 'Open Sans',
sans-serif;
$BebasNeueBold: BebasNeueBold;
// ----------------------------------------------------------------------
// Grids
// ----------------------------------------------------------------------
$gridColumns: 12;
// ----------------------------------------------------------------------
// Breakpoints
// ----------------------------------------------------------------------
$mobileMin: 320px;
$mobileMax: 767px;
$tabletMin: 768px;
$tabletMax: 1024px;
$desktopMin: 1025px;