@import "variables";
@import "../../../styles/variables";

/* COMPONENTS */
@import "../../../styles/components/form/form-red.scss";

/***************** TEXT COLORS *****************/

.primary-color {
    color: $red;
}

.bg-primary-color {
    background: $red;
}
.colorBleu {
    color: $red !important;
}

.comment-collapse {
    background: $red !important;
}
.form-group label, .form-group select, .form-group input, .div-label, .body .ui-button {
    color: $red !important;
}
.ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container .ui-autocomplete-token{
    margin-bottom: 2px !important;
    background: $red;
}

.step-active {
    background-color: $red !important;
}
.step-menu {
    border: 1px solid $red !important;
}
.nav-pills li:not(:last-child):not(.step-active):before,
.nav-pills li:not(:last-child):not(.step-active):after,
.nav-pills li:not(:last-child).step-active:after {
    border-top: 20px solid $red !important;
}
.nav-pills li:not(:last-child):not(.step-active):after {
    border-top: 19px solid $white;
}
.ui-inputtext {
    border: none;
 }
/***************** END TEXT COLORS *****************/

/***************** BUTTON *****************/
.btn {
    background-color: $red !important;
    border: 1px solid $red !important;
    color: $white !important;
    &:hover {
        background-color: $white !important;
        border: 1px solid $red !important;
        color: $red !important;
    }
}
.btn-primary {
    background-color: $red !important;
    border: 1px solid $red !important;
    color: $white !important;
    &:hover {
        background-color: $white !important;
        border: 1px solid $red !important;
        color: $red !important;
    }
    &.active,
    &:active {
        background-color: $white !important;
        border-width: 2px;
        color: $red !important;
    }
}
.btn-secondary {
    background-color: $gray-medium !important;
    color: $gray-dark !important;
    border: 1px solid $gray-medium !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover {
        border-radius: 4px !important;
        background-color: $gray-dark !important;
        color: $white!important;
        border: 1px solid $gray-dark !important;
    }
}

.btn-tertiary {
    background-color: $white !important;
    color: $gray-dark !important;
    border: 1px solid $gray-medium !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover {
        border-radius: 4px !important;
        background-color: $white-01 !important;
        color: $gray-dark !important;
        border: 1px solid $gray-dark !important;
    }
}
.btn-icon {
    color: $red;
}
.business-card.green {
    border-left: 5px solid $red !important;;
}
.business-card .username a {
    color: $black;
}
.label-primary {
    background-color: $red;
}
.nav-item:not(:last-child) .nav-link:not(.active):hover {
    background-color: $red;
}
.nav-tabs > li > a:hover {
    border-color: $red !important;
    color: $white !important;
}
.panel-controls {
    a {
        color: $red
    }
}
.panel-heading__title {
    background: $red
}

.extand-icon {
    color: $red;
}
.panel-collapsed .heading-search {
    color: #efefef !important;
    background: transparent !important;
}
.ui-table .ui-sortable-column a, body .ui-table .ui-sortable-column a:hover {
    color: $red !important;
}
.label-info {
    background-color: $black;
}
b a {
    color: #969ca2;
}

.btn.btn-xs.btn-danger {
    color: $white !important;
}
.panel-controls > a:hover {
    color: $red !important;
}
.custom .fa {
    color: $red !important;
}
// .deep-red {
//     color: $white !important;
// }
.psltools a {
    color: $red !important;
}
.spanLink a {
    color: $red !important
}
span.spanLink:hover, span.spanLink:active {
    background-color: $red !important;
}
.btn.btn-danger.btn-sm {
    color: $white !important;
}
.btn.btn-danger.btn-sm:hover {
    color: $red !important;
}
.status-navbar-small > ul li.bg-validated span.step-number,
.status-navbar-small > ul li.bg-validated:before,
.status-navbar-small > ul li.bg-validated:after {
    background-color: $red !important;
}
.comment-user {
    color: $red !important;
}
.btn.btn-default:hover{
    color: $red !important;
}
.ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border-color: $red !important;
    background-color: $red !important;
}
.ui-radiobutton .ui-radiobutton-box.ui-state-active:not(.ui-state-disabled):hover {
    border-color: $red !important;
    background-color: $red !important;
}
.ui-selectbutton .ui-button.ui-state-active {
    background: $red !important;
    border-color: $red !important;
    color: $white
}
.ui-selectbutton .ui-button {
    margin-left: 2px;
    border-radius: 4px;
}
.ui-selectbutton .ui-button:focus {
    outline: none
}
.ui-selectbutton .ui-button:not(.ui-state-disabled):not(.ui-state-active):hover {
    background-color: #ffffff;
    color: $red;
    border: 2px solid $red;
    border-radius: 2px
}
.ui-selectbutton .ui-button.ui-state-active:not(.ui-state-disabled):hover {
    background-color: $red;
    border-color: $red;
    color: #ffffff;
}
.add-adress-button {
    color: $red !important;
}
.costCenter div.label {
    border: 1px solid $red;
    color: $red !important;
}
.minimal tag {
    color: $red !important;
    border: 1px solid $red;
}
.savedsearch-list-item .savedsearch-list-item-content i[class*=my-icon] {
    color: $white !important;
}
.ui-selectbutton {
    margin-left: 15px !important;
}
.ui-button.ui-button-icon-only {
    width: 30px !important;
    height: 25px !important;
    border: 1px solid $red;
    background: $red;
        &:hover {
            background: $white !important;
            color: $red;
            border: 1px solid $red;
        }
}
.btn-icon {
    color: $red !important;
    border: 1px solid $red;
}

.ui-button,
.genericTable-icon {
    background-color: $red !important;
    border: 1px solid $red;
    &:hover {
        background-color: $white !important;
        color: $red !important;
        border: 1px solid $red;
	}
}

/***************** END BUTTON *****************/

/**************** PANEL & TABS *****************/
.acircle {
    color: $red !important;
}
fieldset legend {
    color: $red !important;
}
.comment-user {
    color: $black;
}
.infos:not(.infos-head) .block-info:before {
    background: $red;
}
.ui-panel .ui-panel-titlebar {
    background-color: $red;
}

.styled-tabs .nav-link.active {
    background-color: $red;
}

.styled-tabs .first-tab .nav-tabs {
    border-bottom: 4px solid $red !important;
}

.styled-tabs .second-tab .nav-tabs {
    border-bottom: 0px solid $red !important;
    margin-top: -10px;
}
.second-tab .nav-item .nav-link.active {
    background-color: $red !important;
}
.legend {
    background-color: $red;
    border: 1px solid $red !important;
}
.panel.panel-visible.panel-table.styled-tabs {
    padding-top: 0px !important;
}
.second-tab .nav-item .nav-link.active:hover {
    border: 1px solid $red !important;
}

.page-header-bloc {
    border-color: $red;
}
/***************** END PANEL & TABS *****************/


/************ DATA TABLE & PRIMENG TURBOTABLE *****************/
.search-header {
    background-color: $red !important;
    padding: 1px 22px !important;
}
.table > thead > tr {
    background-color: #e0e0e0;
}
.ui-table .ui-table-thead > tr > th {
    background-color: #dcdcdc;
}
.ui-table .ui-table-thead > tr > th:hover {
    background-color: $red;
    color: $white;
}
.paginate_button.current {
    background-color: $red !important;
    border-color: $red !important;
    color: $white !important;
    background: $red !important;
}
.paginate_button:hover {
    background: $red !important;
}

.dataTables_scrollBody::-webkit-scrollbar-track,
::ng-deep body::-webkit-scrollbar-track,
::ng-deep body *::-webkit-scrollbar-track {
    background-color: $red !important;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb,
::ng-deep body::-webkit-scrollbar-thumb,
::ng-deep body *::-webkit-scrollbar-thumb {
    background-color: $red !important;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb:hover,
::ng-deep body::-webkit-scrollbar-thumb:hover,
::ng-deep body *::-webkit-scrollbar-thumb:hover {
    background-color: $red !important;
}


.ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background-color: $red;
}
.table-categories th {
    color:  $red;
}
.tab-content>.active {
    margin-top: 10px;
}
.subtabble-padding {
    padding-left: 0px;
    border-left: 2px solid $red;
}
.table-accessright tr:first-child th {
    color: $black !important;
}
.ui-chkbox {
    .ui-chkbox-box {
        &.ui-state-active {
            background-color: $white !important;
            color: $red !important;
        }
        &.ui-state-focus {
            background-color: $white;
            color: $red !important;
        }
    }
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: $red !important;
}
/***************** END DATA TABLE *****************/


/*************** ADVANCED SEARCH ****************/
.panel-collapsed .heading-search > .panel-controls > a {
    top: 38px;
    background: $red;
}
.advanced-search .panel-visible:not(.panel-collapsed) {
    padding-top: 0px;
}
.advanced-search .panel-collapsed {
    margin-bottom: 0px;
}
/* END ADVANCED SEARCH ****************/


/************** STATUS ****************/
.status-navbar-small > ul li.completed div.step-text {
    color: $red;
}
.status-navbar-small > ul li.completed span.step-number {
    background: linear-gradient(90deg, #8d3a2d , #8d3a2d  40%, #8d3a2d );
}
.status-navbar-small > ul li.completed:before, .status-navbar-small > ul li.completed:after {
    background: linear-gradient(90deg, #8d3a2d , #8d3a2d  40%, #8d3a2d );
}
/**************** END STATUS ****************/


/**************** INPUT RADIO & CHECKBOX ****************/
input[type=radio], input[type=checkbox]{
    border: 2px solid $red;
}
input[type=checkbox] {
    z-index: 999;
}
input[type=radio]:checked::before, input[type=radio][disabled]:checked::before {
    background: $red;
}
/**************** END INPUT RADIO & CHECKBOX ****************/

/**************** MODAL ****************/
.btn-danger:hover, .modal_no_btn:hover {
    color: $white !important;
}

.ui-dialog > .ui-widget-header{
    background-color: $red !important;
}

.modal-header {
    background-color: $red !important;
}
.btn-danger, .modal_no_btn {
    background-color: $red !important;
}
/**************** END MODAL ****************/

/************ home page ****************/
#accueil-container {
    .search-input {
        background: $red;
        border-bottom: 1px solid $red;
    }
    .infos-container {
        .ref-trans {
            background: $red;
            color: #fff;
          }
    }

}

/**************** END home page ****************/

 /**************** Sidebar ****************/
 #sidebar_left {
    background: $red-gr-1;
    background: -moz-linear-gradient(top, $red-gr-1 0%, $red-gr-2 53%, $red-gr-3 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, $red-gr-1), color-stop(53%, $red-gr-2), color-stop(100%, $red-gr-3));
    background: -webkit-linear-gradient(top, $red-gr-1 0%, $red-gr-2 53%, $red-gr-3 100%);
    background: -o-linear-gradient(top, $red-gr-1 0%, $red-gr-2 53%, $red-gr-3 100%);
    background: -ms-linear-gradient(top, $red-gr-1 0%, $red-gr-2 53%, $red-gr-3 100%);
    background: linear-gradient(to bottom, $red-gr-1 0%, $red-gr-2 53%, $red-gr-3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de7968', endColorstr='#44170f', GradientType=0 );
}
.closed .savedsearch-list {
    background: $red-gr-3;
}

.sidebar-menu>li.active {
    background-color: $white-op-1;
}
.sidebar-menu {
    &>li.active {
        span.fa-calendar,
        span.sidebar-title,
        span.fa {
            color: $red-gr-2 !important;
        }
    }
    &>li.active [class*=my-icon] {
        color: $red-gr-2 !important;
    }
    &>li:not(.active):not(.topshadow):hover {
        background-color: $red-op-3 !important;
        span.fa,
        span.sidebar-title {
            color: $white !important
        }
    }
}
 /**************** End Sidebar ****************/


 /*** bloc info tracing *****/
 .infos:not(.infos-head) .block-info-tracing:before {
    background: $red;
}

// .setting-buttons__big {
//   border: 1px solid $red;
//   &:hover {
//     background: $white;
//   }
// }

/**************** steps ***********************/

.details-steps {
    .bg-selected {
        .step-status {
            background: $red;
            &:after {
                background: $red;
            }
        }
    }
}

.mode-transport__buttons {
    .ui-button:not(.ui-state-active) {
      &:hover {
        .ui-button-icon-left,
        .ui-button-text {
          color: $red !important
        }
      }
    }
}

/**************** end steps *******************/

/******* bg color ***********/

[class*="bg-"] {
    &[class*="primary-color"] {
        background: $red;
    }
}

/******* end bg color ***********/


/*******  panel ***********/
.body-table {
    border-color: $red
}
/******* end panel ***********/

/************* step create qr *****************/



.mode-transport__buttons {
    .ui-button:not(.ui-state-active) {
      &:hover {
        .ui-button-icon-left,
        .ui-button-text {
          color: $red !important
        }
      }
    }
}

/************* end step create qr *****************/

.details-time_remaining {
    .colored {
        color: $red
    }
  }

  /*********** head tabs ************/


.head-tabs nav li.tab-current a::after {
	background: $red;
}

.head-tabs nav li.tab-current a.icon:before {
    color: $red !important;
}

/*********** head tabs ************/

/********* scrollbar *************/
.mt-root *::-webkit-scrollbar-track {
	background-color: rgba(163, 53, 53, 0.2);
}

.mt-root *::-webkit-scrollbar-thumb {
	background-color: $red;
}

.mt-root *::-webkit-scrollbar-thumb:hover {
	background-color: rgba(163, 53, 53, 0.8);
}
/********** ACL ***********/
.acl-items-wrapper {
	.ui-dataview-header {
		background: $red !important;
	}
}
.acl-item-root {
    border-bottom: 1px solid $red !important;
	.top {
		.title {
			color: $red  !important;
		}
	}
	&.selected-value {
		border-left: 3px solid $red  !important;
	}
}
.breadcrumb-cmp-root{
    .breadcrumb-item{
    span,
    a {
        .module-icon {
            color: $red;
        }
    }
    }
    }
#navbar-modules__btn {
        #modules-wrapper__items {
            li {
                a {
                    & > span {
                        color:$red;
                    }
                }
            }
        }
}

.card-status-new {
	background: $red;
}

/*** PrimeNG Components ***/
.ui-tabmenuitem.ui-state-active {
    background-color: $red !important;
    border: 1px solid $red !important;
}
/*********************************************************************************************/
.ui-accordion-content{
	color : $red !important;
}
.text-doc-title{
	color : $red  !important;
}
.generic-accordion .ui-accordion-header > a .ui-accordion-toggle-icon{
	color : $red  !important;
}
.quote_validated{
	color : $red  !important;
}
.quote_statut{
	color : $red  !important;
}
.custom .drop-container p .upload-button{
	color : $red  !important;
}
.little-card-container .little-card .title{
	color : $red  !important;
}
#navbar-notification #notifications-wrapper .nav-tabs .nav-link{
	color : $red  !important;
}
.progress-bar{
	color : $red  !important;
}

.card-favoris .icon-module{
	color : $red  !important;
}

.card-status{
	background-color: $red  !important;
}
.body .ui-listbox .ui-listbox-header .ui-listbox-filter-container .ui-listbox-filter-icon{

	color : $red  !important;
}
.-webkit-scrollbar-thumb{
	background-color: $red  !important;
}
body .ui-chkbox .ui-chkbox-box.ui-state-active {
	border-color: #007ad9;
	background-color: #000000 !important;
	color: #ffffff;
}

.color-primary {
	color: $red  !important;
}
.legend{
	color : $red  !important;
}
.dark-theme .progress-bar {
	color: white !important;
}
.progress-bar-info {
	background-color: #000000;
}

.valid {
    background-color: $red !important;
    color: $white !important;
}
.buttons-wrapper{
	color: $red;
}
/***************** TRACK && TRACE *****************/
.validated-psl-without-deviation {
    td {
        color:  $red;
        &.psl-line {
            &:after {
                background: $red !important;
				border: 2px solid $red ;
            }
        }
    }
}
.validated-psl-with-deviation {
    td {
        color: $red;
        &.psl-line {
            &:after {
                border: 2px solid $red;
            }
        }
    }
}
.psl-line, .evnt-psl-line {
    border-left: 5px solid $red;
}
.psl-line:after {
 border: 2px solid $red;
}

