@import "variables";
@import "../../../styles/variables";

/* COMPONENTS */
@import "../../../styles/components/form/form-dark.scss";


/***************** TEXT COLORS *****************/

.primary-color {
    color: $black;
}

.bg-primary-color {
    background: $black;
}
.colorBleu {
    color: $black !important;
}

.comment-collapse {
    background: $black !important;
}
.form-group label, .form-group select, .form-group input, .div-label {
    color: $black !important;
}
.ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container .ui-autocomplete-token{
    margin-bottom: 2px !important;
    background: $black;
}
.step-active {
    background-color: $black !important;
}
.step-menu {
    border: 1px solid $black !important;
}
.nav-pills li:not(:last-child):not(.step-active):before,
.nav-pills li:not(:last-child):not(.step-active):after,
.nav-pills li:not(:last-child).step-active:after {
    border-top: 20px solid $black !important;
}
.nav-pills li:not(:last-child):not(.step-active):after {
    border-top: 19px solid $white !important;
}
.ui-inputtext {
    // border: none;
 }
/***************** END TEXT COLORS *****************/

/***************** BUTTON *****************/
.btn {
    border: 1px solid $black !important;
    color: $black !important;
    &:hover {
        background-color: $black !important;
        border: 1px solid $black !important;
        color: $white !important;
    }
}
.btn-primary {
    background-color: $black !important;
    border: 1px solid $black !important;
    color: $white !important;
    &:hover {
        background-color: $white !important;
        border: 1px solid $black !important;
        color: $black !important;
    }
    &.active,
    &:active {
        background-color: $white !important;
    border-width: 2px;
    color: $black !important;
    }
}
.btn-secondary {
    background-color: $gray-medium !important;
    color: $gray-dark !important;
    border: 1px solid $gray-medium !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover {
        border-radius: 4px !important;
        background-color: $gray-dark !important;
        color: $white!important;
        border: 1px solid $gray-dark !important;
    }
}

.btn-tertiary {
    background-color: $white !important;
    color: $gray-dark !important;
    border: 1px solid $gray-medium !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &.active {
        box-shadow: inset 1px 3px 3px 1px $gray-dark;
    }
    &:hover {
        border-radius: 4px !important;
        background-color: $white-01 !important;
        color: $gray-dark !important;
        border: 1px solid $gray-dark !important;
    }
}
.btn-icon {
    color: $black;
}
.business-card.green {
    border-left: 5px solid $black !important;;
}
.business-card .username a {
    color: $black;
}
.label-primary {
    background-color: $black;
}
.nav-item:not(:last-child) .nav-link:not(.active):hover {
    background-color: $black;
}
.nav-tabs > li > a:hover {
    border-color: $black !important;
}
.panel-controls {
    a {
        // background: $black;
        color: $black
    }
}
.panel-heading__title {
    background: $black
}
.extand-icon {
    color: $black;
}
.panel-collapsed .heading-search {
    color: #efefef !important;
    background: transparent !important;
}
.ui-table .ui-sortable-column a, body .ui-table .ui-sortable-column a:hover {
    color: $black !important;
}
.label-info {
    background-color: $black;
}
b a {
    color: #969ca2;
}
.btn.btn-xs.btn-danger {
    color: $white;
}
.panel-controls > a:hover {
    color: $black !important;
}
.custom .fa {
    color: $black !important;
}
// .deep-red {
//     color: $white !important;
// }
.psltools a {
    color: $black !important;
}
.spanLink a {
    color: $black !important
}
span.spanLink:hover, span.spanLink:active {
    background-color: $black !important;
}
// .btn.btn-danger.btn-sm {
//     color: $white !important;
// }
.status-navbar-small > ul li.bg-validated span.step-number,
.status-navbar-small > ul li.bg-validated:before,
.status-navbar-small > ul li.bg-validated:after {
    background-color: $black !important;
}
.comment-user {
    color: $black !important;
}
.btn.btn-default:hover{
    color: $white !important;
}
.ui-button:enabled:hover {
	background-color: $white !important;
	color: $black !important;
}

.ui-button:enabled:focus {
	box-shadow: unset;
	background-color: $white !important;
	color: $black !important;
}

.ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border-color: $black !important;
    background-color: $black !important;
}
.ui-radiobutton .ui-radiobutton-box.ui-state-active:not(.ui-state-disabled):hover {
    border-color: $black !important;
    background-color: $black !important;
}
.ui-selectbutton .ui-button.ui-state-active {
    background: $black !important;
    border-color: $black !important;
    color: $white
}
.ui-selectbutton .ui-button {
    margin-left: 2px;
    border-radius: 4px;
}
.ui-selectbutton .ui-button:focus {
    outline: none
}
.ui-selectbutton .ui-button:not(.ui-state-disabled):not(.ui-state-active):hover {
    background-color: #ffffff;
    color: $black;
    border: 2px solid $black;
    border-radius: 2px
}
.ui-selectbutton .ui-button.ui-state-active:not(.ui-state-disabled):hover {
    background-color: $black;
    border-color: $black;
    color: #ffffff;
}
.add-adress-button {
    color: $black !important;
}
.costCenter div.label {
    border: 1px solid $black;
    color: $black !important;
}
.minimal tag {
    color: $black !important;
    border: 1px solid $black;
}
.savedsearch-list-item .savedsearch-list-item-content i[class*=my-icon] {
    color: $white !important;
}
.navbar-header .navb > li > a i.active {
    color: #e0e0e0 !important;
}
.ui-selectbutton {
    margin-left: 15px !important;
}
.ui-button{
	background-color: $black !important;
	border: 1px solid $black !important;
	color: $white !important;
	.ui-button-icon-only {
		width: 30px !important;
		height: 25px !important;
		background: $black;
		border-color: $black !important;
		color: $white !important;
			&:hover {
				background: $white;
				color: $black !important
			}
	}
	&:hover {
		background: $white !important;
		color: $black !important
	}
}
.ui-selectbutton .ui-button {
    background-color: white;
    border: 1px solid white;
}
.ui-panel .ui-panel-content {
    padding: 0px !important;
}
.btn-icon {
    color: $black !important
}
/***************** END BUTTON *****************/

/**************** PANEL & TABS *****************/
.acircle {
    color: $black !important;
}
fieldset legend {
	color: $black !important;
}
.comment-user {
    color: $black;
}
.infos:not(.infos-head) .block-info:before {
    background: $black;
}
.ui-panel .ui-panel-titlebar {
    background-color: $black;
}

.styled-tabs .nav-link.active {
    background-color: $black;
}

.styled-tabs .first-tab .nav-tabs {
    border-bottom: 4px solid $black !important;
}

.styled-tabs .second-tab .nav-tabs {
    border-bottom: 0px solid $black !important;
    margin-top: -10px;
}
.second-tab .nav-item .nav-link.active {
    background-color: $black !important;
}
.legend {
    background-color: $white !important;
    color: $black !important;
    border: 1px solid $black !important;
}
.panel.panel-visible.panel-table.styled-tabs {
    padding-top: 0px !important;
}
.second-tab .nav-item .nav-link.active:hover {
    border: 1px solid $black !important;
}

.page-header-bloc {
    border-color: $black;
}
/***************** END PANEL & TABS *****************/


/************ DATA TABLE & PRIMENG TURBOTABLE *****************/
.search-header {
    background-color: $black !important;
    padding: 1px 22px !important;
}
.table > thead > tr {
    background-color: #e0e0e0;
}
.ui-table .ui-table-thead > tr > th {
    background-color: #dcdcdc;
}
.paginate_button.current {
    background-color: $black !important;
    border-color: $black !important;
    color: $white !important;
    background: $black !important;
}
.paginate_button:hover {
    background: $black !important;
    color: white !important;
}
.dataTables_scrollBody::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb,*::-webkit-scrollbar-thumb {
    background-color: rgb(129, 129, 129);
}

.dataTables_scrollBody::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
body *::-webkit-scrollbar-track,
*::-webkit-scrollbar-track {
    /* box-shadow: 0 0 6px rgb(25, 134, 167); */
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
body *::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
    /* box-shadow: 0 0 3px rgba(25, 134, 167, 1); */
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover,
body *::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:hover {
    /* box-shadow: 0 0 3px rgb(122, 199, 223); */
    background-color: rgba(0, 0, 0, 0.8) !important;
}
.ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background-color: $black;
}
.table-categories th {
    color:  $black;
}
.tab-content>.active {
    margin-top: 10px;
}
.subtabble-padding {
    padding-left: 0px;
    border-left: 2px solid $black;
}
.table-accessright tr:first-child th {
    color: $black !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: $black !important;
}
/***************** END DATA TABLE *****************/


/*************** ADVANCED SEARCH ****************/
.panel-collapsed .heading-search > .panel-controls > a {
    top: 38px;
    background: $black;
}
.advanced-search .panel-visible:not(.panel-collapsed) {
    padding-top: 0px;
}
// .advanced-search .panel-collapsed {
//     margin-bottom: 0px;
// }
/* END ADVANCED SEARCH ****************/


/************** STATUS ****************/
.status-navbar-small > ul li.completed div.step-text {
    color: $black;
}
.status-navbar-small > ul li.completed span.step-number {
    background: linear-gradient(90deg, #000000, #000000 40%, #000000);
}
.status-navbar-small > ul li.completed:before, .status-navbar-small > ul li.completed:after {
    background: linear-gradient(90deg, #000000, #000000 40%, #000000);
}
/**************** END STATUS ****************/


/**************** INPUT RADIO & CHECKBOX ****************/
input[type=radio], input[type=checkbox]{
    border: 2px solid $black;
}
input[type=checkbox] {
    z-index: 999;
}
input[type=radio]:checked::before, input[type=radio][disabled]:checked::before {
    background: $black;
}
/**************** END INPUT RADIO & CHECKBOX ****************/

/**************** MODAL ****************/
.btn-danger:hover, .modal_no_btn:hover {
	background-color: white !important;
	border: 1px solid white !important;
	color: black !important;
}
.modal-header {
    background-color: $black;
}
.btn-danger, .modal_no_btn {
	color: #fff !important;
	border: 1px solid #ae100b !important;
}
/**************** END MODAL ****************/

/************ home page ****************/
 #accueil-container {
    .search-input {
        background: $black;
        border-bottom: 1px solid $black;
    }
    .infos-container {
        .ref-trans {
            background: $black;
            color: #fff;
          }
    }
 }


 /**************** END home page ****************/



 /**************** Sidebar ****************/
#sidebar_left {
    background: $black-gr-1;
    background: -moz-linear-gradient(top, $black-gr-1 0%, $black-gr-2 53%, $black 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, $black-gr-1), color-stop(53%, $black-gr-2), color-stop(100%, $black));
    background: -webkit-linear-gradient(top, $black-gr-1 0%, $black-gr-2 53%, $black 100%);
    background: -o-linear-gradient(top, $black-gr-1 0%, $black-gr-2 53%, $black 100%);
    background: -ms-linear-gradient(top, $black-gr-1 0%, $black-gr-2 53%, $black 100%);
    background: linear-gradient(to bottom, $black-gr-1 0%, $black-gr-2 53%, $black 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777676', endColorstr='#000000', GradientType=0 );
}
.closed .savedsearch-list {
    background: $black-gr-2;
}
.sidebar-menu>li.active {
    background-color: $white-op-1;
}

.sidebar-menu {
    &>li.active {
        span.fa-calendar,
        span.sidebar-title,
        span.fa {
            color: $black-gr-2 !important;
        }
    }
    &>li.active [class*=my-icon] {
        color: $black-gr-2 !important;
    }
    &>li:not(.active):not(.topshadow):hover {
        background-color: $dark-op-3 !important;
        span.fa,
        span.sidebar-title {
            color: $white !important
        }
    }
}

 /**************** End Sidebar ****************/

 /*** bloc info tracing *****/
 .infos:not(.infos-head) .block-info-tracing:before {
    background: $black;
}

/**************** Generic table ****************/

.Btn-inside__table-wrapper .ui-button {
    background-color: transparent !important;
    border-color: transparent !important;
    .fa {
        color: $black;
    }
}

.ui-dialog {
    .ui-dialog-titlebar {
        background-color: $black;
        border-color: $black;
    }
}

.ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label {
    transition: all 0.2s ease-in-out;
    &.ui-state-highlight {
        background-color: $black;
    }
}

/**************** End Generic table ****************/
// .setting-buttons__big {
//   border: 1px solid $black;
//   &:hover {
//     background: $white;
//   }
// }

/**************** steps ***********************/


.details-steps {
    .bg-selected {
        .step-status {
            background: $black;
            &:after {
                background: $black;
            }
        }
    }
}

.mode-transport__buttons {
    .ui-button:not(.ui-state-active) {
      &:hover {
        .ui-button-icon-left,
        .ui-button-text {
          color: $black !important
        }
      }
    }
}

/**************** end steps *******************/

/******* bg color ***********/

[class*="bg-"] {
    &[class*="primary-color"] {
        background: $black;
    }
}

/******* end bg color ***********/


/*******  panel ***********/
.body-table {
    border-color: $black
}
/******* end panel ***********/
/************* step create qr *****************/



.mode-transport__buttons {
    .ui-button:not(.ui-state-active) {
        .ui-button-text {
          color: $black-gr-2 !important
        }
      &:hover {
        .ui-button-icon-left,
        .ui-button-text {
          color: $black !important
        }
      }
    }
}

/************* end step create qr *****************/
.details-time_remaining {
    .colored {
        color: $black
    }
  }

  /*********** head tabs ************/


.head-tabs nav li.tab-current a::after {
	background: $black;
}

.head-tabs nav li.tab-current a.icon:before {
    color: $black !important;
}

/*********** head tabs ************/


/********* scrollbar *************/
.mt-root *::-webkit-scrollbar-track {
	background-color: rgba(20, 20, 20, 0.2);
}

.mt-root *::-webkit-scrollbar-thumb {
	background-color: $black;
}

.mt-root *::-webkit-scrollbar-thumb:hover {
	background-color: rgba(15, 15, 15, 0.8);
}

/********** ACL ***********/
.acl-items-wrapper {
	.ui-dataview-header {
		background: $black !important;
	}
}
.acl-item-root {
    border-bottom: 1px solid $black !important;
	.top {
		.title {
			color: $black  !important;
		}
	}
	&.selected-value {
		border-left: 3px solid $black  !important;
	}
}
/********* TRANSFERT ETAB **********/
.etab-tranfert-items-wrapper {
	.etab-header {
		background: $black !important;
	}
}
.breadcrumb-cmp-root{
    .breadcrumb-item{
    span,
    a {
        .module-icon {
            color: $black;
        }
    }
    }
    }
#navbar-modules__btn {
        #modules-wrapper__items {
            li {
                a {
                    & > span {
                        color:  $black;
                    }
                }
            }
        }
}

.card-status-new {
	background: $black;
}

/*** PrimeNG Components ***/
.ui-tabmenuitem.ui-state-active {
    background-color: $black !important;
    border: 1px solid $black !important;
}

.ui-accordion-content{
	color : $black !important;
}
.text-doc-title{
	color : $black !important;
}
.generic-accordion .ui-accordion-header > a .ui-accordion-toggle-icon{
	color : $black !important;
}

.quote_validated{
	color : $black !important;
}
.quote_statut{
	color : $black !important;
}
.custom .drop-container p .upload-button{
	color : $black !important;
}
.little-card-container .little-card .title{
	color : $black !important;
}
#navbar-notification #notifications-wrapper .nav-tabs .nav-link{
	color : $black !important;
	&:hover {
		color : #ffffff !important;
	}
}
.progress-bar{
	background-color: $black !important;
}

.card-favoris .icon-module{
	color : $black !important;
}

.card-status{
	background-color: $black !important;
}
.ui-listbox .ui-listbox-header .ui-listbox-filter-container .ui-listbox-filter-icon{
	color : $black !important;
}
.-webkit-scrollbar-thumb{
	background-color: $black !important;
}
.ui-chkbox .ui-chkbox-box.ui-state-active {
    border-color: #000000 !important;
    background-color: #000000 !important;
}
.color-primary {
    color: $black !important;
}
.dark-theme .progress-bar {
    color: white !important;
}
.progress-bar-info {
    background-color: #000000;
}
.listElement{
	color: $black !important;
}
.doc_upload .ui-button {
    color: $black !important;
}
.fa-cloud-upload:before {
    color: $black !important;
}
.valid {
    background-color: $black !important;
    color: $white !important;
}
.header-table{
	background-color: $black !important;
	color: $white !important;

}

.ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider {
	background-color: #000000 !important;
}

.fa-user-circle-o:before {
	color: black !important;
}


.block-categorie .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
	background-color: #000000 !important;
	border-color: #000000 !important;
}

.user-details_wrapper .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.card-container {
    .card-order, .remove-psl, .edit-psl {
        background-color: #000000 !important;
    }
}

.groupe-functions {
    .draggable-item {
        border-color: #000000 !important;
        &:hover {
            background-color: #000000 !important;
        }
    }
}

.buttons-wrapper{
	color: $black;
}
/***************** TRACK && TRACE *****************/
.validated-psl-without-deviation {
    td {
        color:  $black;
        &.psl-line {
            &:after {
                background: $black !important;
				border: 2px solid $black ;
            }
        }
    }
}
.validated-psl-with-deviation {
    td {
        color: $black;
        &.psl-line {
            &:after {
                border: 2px solid $black;
            }
        }
    }
}
.psl-line, .evnt-psl-line {
    border-left: 5px solid $black;
}
.psl-line:after {
 border: 2px solid $black;
}

