@import "variables";

/* COMPONENTS */
@import "../../../styles/components/form/form-blue.scss";


.panel-controls {
	a {
		color: $blue
	}
}

.primary-color {
    color: $blue;
}

.bg-primary-color {
    background: $blue;
}

.heading-table-bg{
    background-color: $blue !important;
    color: #fff;
}

.paginate_button.current {
    background-color: $blue !important;
    border-color: $black !important;
    color: $white !important;
    background: $black !important;
}

.ui-panel .ui-panel-titlebar {
    background-color: $blue;
}

.styled-tabs .nav-link.active {
    background-color: $blue;
}

.legend {
    background-color: $blue;
    border: 1px solid $blue !important;
}

.ui-selectbutton {
    margin-left: 15px !important;
}
.ui-button.ui-button-icon-only {
    width: 25px !important;
    height: 25px !important;
}
.ui-button {
    background-color: $blue;
    border: 1px solid $blue;
}
.ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container .ui-autocomplete-token{
    margin-bottom: 2px !important;
}
.ui-selectbutton .ui-button.ui-state-active {
    background: $blue !important;
    border-color: $blue !important;
    color: $white
}
.ui-selectbutton .ui-button {
    margin-left: 2px;
    border-radius: 4px;
}
.ui-selectbutton .ui-button:focus {
    outline: none
}
.ui-selectbutton .ui-button:not(.ui-state-disabled):not(.ui-state-active):hover {
    background-color: #ffffff;
    color: $blue;
    border: 2px solid $blue;
    border-radius: 2px
}
.ui-selectbutton .ui-button.ui-state-active:not(.ui-state-disabled):hover {
    background-color: $blue;
    border-color: $blue;
    color: #ffffff;
}

.ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background-color: $blue;
}

.page-header-bloc {
    border-color: $blue;
}

/************ home page ****************/
 #accueil-container  {
    .search-input {
        background: $blue;
        border-bottom: 1px solid $blue;
    }
     .infos-container {
        .ref-trans {
            background: $blue;
            color: #fff;
          }
    }
 }
  /**************** END home page ****************/

 /**************** Sidebar ****************/
 #sidebar_left {
    background: $blue-gr-1;
    background: -moz-linear-gradient(top, $blue-gr-1 0%, $blue-gr-2 53%, $blue-gr-3 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, $blue-gr-1), color-stop(53%, $blue-gr-2), color-stop(100%, $blue-gr-3));
    background: -webkit-linear-gradient(top, $blue-gr-1 0%, $blue-gr-2 53%, $blue-gr-3 100%);
    background: -o-linear-gradient(top, $blue-gr-1 0%, $blue-gr-2 53%, $blue-gr-3 100%);
    background: -ms-linear-gradient(top, $blue-gr-1 0%, $blue-gr-2 53%, $blue-gr-3 100%);
    background: linear-gradient(to bottom, $blue-gr-1 0%, $blue-gr-2 53%, $blue-gr-3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$blue-gr-1', endColorstr='$blue-gr-3', GradientType=0 );
}
.closed .savedsearch-list {
    background: $blue-4;
}

.sidebar-menu>li.active {
    background-color: $white-op-1;
}

.sidebar-menu {
    &>li.active {
        span.fa-calendar,
        span.sidebar-title,
        span.fa {
            color: $blue-gr-3 !important;
        }
    }
    &>li.active [class*=my-icon] {
        color: $blue-gr-3 !important;
    }
    &>li:not(.active):hover {
        background-color: $blue-op-3 !important;
        span.fa,
        span.sidebar-title {
            color: $white !important
        }
    }
}
/**************** End Sidebar ****************/


/**************** Generic table ****************/

.Btn-inside__table-wrapper .ui-button {
    background-color: transparent !important;
    border-color: transparent !important;
    .fa {
        color: $blue;
    }
}

.ui-dialog {
    .ui-dialog-titlebar {
        background-color: $blue;
        border-color: $blue;
    }
}

.ui-chkbox {
    .ui-chkbox-box {
        &.ui-state-active {
            background-color: $blue !important;
        }
        &.ui-state-focus {
            background-color: $white;
        }
    }
}

.ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label {
    &.ui-state-highlight {
        background-color: $blue;
    }
}

.ui-table .ui-table-tbody tr {
    &.ui-contextmenu-selected,
    &:nth-child(even).ui-contextmenu-selected {
        color: $black;
        background-color: $white
    }
}


/**************** End Generic table ****************/

// .setting-buttons__big {
//   border: 1px solid $blue;
//   &:hover {
//     background: $white;
//   }
// }

/**************** steps ***********************/


.details-steps {
    .bg-selected {
        .step-status {
            background: $blue;
            &:after {
                background: $blue;
            }
        }
    }
}

.mode-transport__buttons {
    .ui-button:not(.ui-state-active) {
      &:hover {
        .ui-button-icon-left,
        .ui-button-text {
          color: $blue !important
        }
      }
    }
}

/**************** end steps *******************/

/******* bg color ***********/

[class*="bg-"] {
    &[class*="primary-color"] {
        background: $blue;
    }
}

/******* end bg color ***********/

/*********** head tabs ************/


.head-tabs nav li.tab-current a::after {
	background: $blue;
}

.head-tabs nav li.tab-current a.icon:before {
    color: $blue !important;
}

/*********** head tabs ************/
.breadcrumb-cmp-root{
.breadcrumb-item{
span,
a {
    .module-icon {
        color: $blue;
    }
}
}
}
#navbar-modules__btn {
    #modules-wrapper__items {
        li {
            a {
                & > span {
                    color:  $blue;
                }
            }
        }
    }
}

body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active:hover a {
    border: 1px solid $blue;
    background-color: $blue;
}

.card-status-new {
	color: $blue;
}

/*** PrimeNG Components ***/
.ui-tabmenuitem.ui-state-active {
    background-color: $blue !important;
    border: 1px solid $blue !important;
}
.valid {
	background-color: #018dad !important;
	color: #fff !important;
}
.buttons-wrapper{
	color: $blue;
}

/***************** TRACK && TRACE *****************/
.validated-psl-without-deviation {
    td {
        color:  $blue;
        &.psl-line {
            &:after {
                background: $blue !important;
				border: 2px solid $blue ;
            }
        }
    }
}
.validated-psl-with-deviation {
    td {
        color: $blue;
        &.psl-line {
            &:after {
                border: 2px solid $blue;
            }
        }
    }
}
.psl-line, .evnt-psl-line {
    border-left: 5px solid $blue;
}
.psl-line:after {
 border: 2px solid $blue;
}


