@import "variables";
@import "../../../styles/variables";

/* COMPONENTS */
@import "../../../styles/components/form/form-blue.scss";

/***************** TEXT COLORS *****************/

.primary-color {
    color: $aurora-blue;
}

.bg-primary-color {
    background: $aurora-blue;
}
.colorBleu {
    color: $aurora-blue !important;
}

.comment-collapse {
    background: $aurora-blue !important;
}
.form-group label, .form-group select, .form-group input, .div-label {
    color: $aurora-blue;
}
.ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container .ui-autocomplete-token{
    margin-bottom: 2px !important;
    background: $aurora-blue;
}

.step-active {
    background-color: $aurora-blue !important;
}
.step-menu {
    border: 1px solid $aurora-blue !important;
}
.nav-pills li:not(:last-child):not(.step-active):before,
.nav-pills li:not(:last-child):not(.step-active):after,
.nav-pills li:not(:last-child).step-active:after {
    border-top: 20px solid $aurora-blue !important;
}
.nav-pills li:not(:last-child):not(.step-active):after {
    border-top: 19px solid $white;
}
.ui-inputtext {
    border: none;
 }
/***************** END TEXT COLORS *****************/

/***************** BUTTON *****************/
.btn {
    background-color: $aurora-blue !important;
    border: 1px solid $aurora-blue !important;
    color: $white !important;
    &:hover {
        background-color: $white !important;
        border: 1px solid $aurora-blue !important;
        color: $aurora-blue !important;
    }
}
.btn-primary {
    background-color: $aurora-blue !important;
    border: 1px solid $aurora-blue !important;
    color: $white !important;
    &:hover {
        background-color: $aurora-blue-2 !important;
        border: 1px solid $aurora-blue-2 !important;
        color: $white !important;
    }
    &.active,
    &:active {
        background-color: $aurora-blue-2 !important;
        border-width: 2px;
        color: $white !important;
    }
    &:disabled {
        &:hover {
            background-color: $aurora-blue !important
        }
    }
}
.btn-secondary {
    background-color: $gray-button !important;
    color: $gray-dark !important;
    border: 1px solid $gray-button !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover {
        border-radius: 4px !important;
        background-color: $gray-medium !important;
        color: $gray-dark !important;
        border: 1px solid $gray-medium !important;
    }
}

.btn-tertiary {
    background-color: $white !important;
    color: $gray-dark !important;
    border: 1px solid $gray-medium !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover {
        border-radius: 4px !important;
        background-color: $white-01 !important;
        color: $gray-dark !important;
        border: 1px solid $white-01 !important;
    }
}

.btn-icon {
    color: $aurora-blue !important;
}

.btn-danger {
    background-color: $red-light !important;
    border-color: $red-light !important;
    &:hover {
        background-color: $red !important;
        border-color: $red-light !important;
        color: $white !important
    }
}
.business-card.green {
    border-left: 5px solid $aurora-blue !important;;
}
.business-card .username a {
    color: $black;
}
.label-primary {
    background-color: $aurora-blue;
}
.nav-item:not(:last-child) .nav-link:not(.active):hover {
    background-color: $aurora-blue;
}
.nav-tabs > li > a:hover {
    border-color: $aurora-blue !important;
}

.panel-controls {
	a {
		color: $aurora-blue
	}
}

.panel-heading__title {
    background: $aurora-blue
}

.primary-color {
    color: $aurora-blue;
}

.bg-primary-color {
    background: $aurora-blue;
}

.heading-table-bg{
    background-color: $aurora-blue !important;
    color: #fff;
}

.paginate_button.current {
    background-color: $aurora-blue !important;
    border-color: $black !important;
    color: $white !important;
    background: $black !important;
}

.ui-panel .ui-panel-titlebar {
    background-color: $aurora-blue;
}

.styled-tabs .nav-link.active {
    background-color: $aurora-blue;
}

.legend {
    background-color: $aurora-blue;
    border: 1px solid $aurora-blue !important;
}

.legend, legend {
    color: $aurora-green
}

.ui-selectbutton {
    margin-left: 15px !important;
}
.ui-button.ui-button-icon-only {
    width: 25px !important;
    height: 25px !important;
}

.ui-button,
.genericTable-icon {
    background-color: $aurora-blue !important;
    border: 1px solid $aurora-blue;
    &:hover {
        background-color: $aurora-green !important;
        color: $white !important
	}
}

.units-readonly {
	.genericTable-icon {
		color: $white !important;
		background: $aurora-blue !important;
        border: none !important;
        &:hover {
            background-color: $aurora-green !important;
            color: $white !important
        }
	}
}
.ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container .ui-autocomplete-token{
    margin-bottom: 2px !important;
}
.ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border-color: $aurora-blue !important;
    background-color: $aurora-blue !important;
}
.ui-radiobutton .ui-radiobutton-box.ui-state-active:not(.ui-state-disabled):hover {
    border-color: $aurora-blue !important;
    background-color: $aurora-blue !important;
}
.ui-selectbutton .ui-button.ui-state-active {
    background: $aurora-blue !important;
    border-color: $aurora-blue !important;
    color: $white
}
.ui-selectbutton .ui-button {
    margin-left: 2px;
    border-radius: 4px;
}
.ui-selectbutton .ui-button:focus {
    outline: none
}
.ui-selectbutton .ui-button:not(.ui-state-disabled):not(.ui-state-active):hover {
    background-color: #ffffff;
    color: $aurora-blue;
    border: 2px solid $aurora-blue;
    border-radius: 2px
}
.ui-selectbutton .ui-button.ui-state-active:not(.ui-state-disabled):hover {
    background-color: $aurora-blue;
    border-color: $aurora-blue;
    color: #ffffff;
}

.ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background-color: $aurora-blue;
}

.page-header-bloc {
    border-color: $aurora-blue;
}

/************ home page ****************/
 #accueil-container  {
    .search-input {
        background: $aurora-blue;
        border-bottom: 1px solid $aurora-blue;
    }
     .infos-container {
        .ref-trans {
            background: $aurora-blue;
            color: #fff;
          }
    }
 }
  /**************** END home page ****************/

 /**************** Sidebar ****************/
 #sidebar_left {
    background: $aurora-blue;
    background: -moz-linear-gradient(top, $aurora-blue 0%, $aurora-blue-2 53%, $aurora-green 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, $aurora-blue), color-stop(53%, $aurora-blue-2), color-stop(100%, $aurora-green));
    background: -webkit-linear-gradient(top, $aurora-blue 0%, $aurora-blue-2 53%, $aurora-green 100%);
    background: -o-linear-gradient(top, $aurora-blue 0%, $aurora-blue-2 53%, $aurora-green 100%);
    background: -ms-linear-gradient(top, $aurora-blue 0%, $aurora-blue-2 53%, $aurora-green 100%);
    background: linear-gradient(to bottom, $aurora-blue 0%, $aurora-blue-2 53%, $aurora-green 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$aurora-blue', endColorstr='$aurora-green', GradientType=0 );
}
.closed .savedsearch-list {
    background: $aurora-blue;
}

.sidebar-menu>li.active {
    background-color: $white-op-1;
}

.sidebar-menu {
    &>li.active {
        span.fa-calendar,
        span.sidebar-title,
        span.fa {
            color: $aurora-blue !important;
        }
    }
    &>li.active [class*=my-icon] {
        color: $aurora-blue !important;
    }
    &>li:not(.active):hover {
        background-color: $aurora-blue-2 !important;
        span.fa,
        span.sidebar-title {
            color: $white !important
        }
    }
}
/**************** End Sidebar ****************/


/**************** Generic table ****************/

.Btn-inside__table-wrapper .ui-button {
    background-color: transparent !important;
    border-color: transparent !important;
    .fa {
        color: $aurora-blue;
    }
}

.ui-dialog {
    .ui-dialog-titlebar {
        background-color: $aurora-blue;
        border-color: $aurora-blue;
    }
}

.ui-chkbox {
    .ui-chkbox-box {
        &.ui-state-active {
            background-color: $aurora-blue !important;
        }
        &.ui-state-focus {
            background-color: $white;
        }
    }
}

.ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label {
    &.ui-state-highlight {
        background-color: $aurora-blue;
    }
}

.ui-table .ui-table-tbody tr {
    &.ui-contextmenu-selected,
    &:nth-child(even).ui-contextmenu-selected {
        color: $black;
        background-color: $white
    }
}


/**************** End Generic table ****************/

// .setting-buttons__big {
//   border: 1px solid $aurora-blue;
//   &:hover {
//     background: $white;
//   }
// }

/**************** steps ***********************/


.details-steps {
    .bg-selected {
        .step-status {
            background: $aurora-blue;
            &:after {
                background: $aurora-blue;
            }
        }
    }
}

.mode-transport__buttons {
    .ui-button:not(.ui-state-active) {
      &:hover {
        .ui-button-icon-left,
        .ui-button-text {
          color: $aurora-blue !important
        }
      }
    }
}

/**************** end steps *******************/

/******* bg color ***********/

[class*="bg-"] {
    &[class*="primary-color"] {
        background: $aurora-blue;
    }
}

/******* end bg color ***********/

/*******  panel ***********/
.body-table {
    border-color: $aurora-blue
}
/******* end panel ***********/

/*********** head tabs ************/


.head-tabs nav li.tab-current a::after {
	background: $aurora-blue;
}

.head-tabs nav li.tab-current a.icon:before {
    color: $aurora-blue !important;
}

/*********** head tabs ************/

/*********** checkbox & radiobox **********/
input[type="checkbox"],
input[type="radio"],
input[type="radio"][disabled],
input[type="checkbox"][disabled] {
	border-color: $aurora-blue !important;
}

input[type="radio"]:checked::before,
input[type="radio"][disabled]:checked::before {
	background: $aurora-blue !important;
}

/********* scrollbar *************/
.mt-root *::-webkit-scrollbar-track {
	background-color: rgba(32, 97, 139, 0.2);
}

.mt-root *::-webkit-scrollbar-thumb {
	background-color: $aurora-blue;
}

.mt-root *::-webkit-scrollbar-thumb:hover {
	background-color: rgba(48, 108, 148, 0.8);
}

/************ modules icons **********/
.card-favoris .icon-module {
	color: $aurora-green-dark;
}

#navbar-modules__btn #modules-wrapper__items li > a > span:nth-child(1) {
    color: $aurora-blue !important
}
/********** ACL ***********/
.acl-items-wrapper {
	.ui-dataview-header {
		background: $aurora-blue !important;
	}
}
.acl-item-root {
    border-bottom: 1px solid $aurora-blue !important;
	.top {
		.title {
			color: $aurora-blue  !important;
		}
	}
	&.selected-value {
		border-left: 3px solid $aurora-blue  !important;
	}
}
.breadcrumb-cmp-root{
    .breadcrumb-item{
    span,
    a {
        .module-icon {
            color: $aurora-blue;
        }
    }
    }
    }
#navbar-modules__btn {
        #modules-wrapper__items {
            li {
                a {
                    & > span {
                        color: $aurora-blue;
                    }
                }
            }
        }
	}

.card-status-new {
	background: $aurora-blue;
}

/*** PrimeNG Components ***/
.ui-tabmenuitem.ui-state-active {
    background-color: $aurora-blue !important;
    border: 1px solid $aurora-blue !important;
}
.valid {
	background-color: $aurora-blue !important;
	color: #fff !important;
}
.buttons-wrapper{
	color: $aurora-blue;
}

/***************** TRACK && TRACE *****************/
.validated-psl-without-deviation {
    td {
        color:  $primary-color;
        &.psl-line {
            &:after {
                background: $primary-color !important;
				border: 2px solid $primary-color ;
            }
        }
    }
}
.validated-psl-with-deviation {
    td {
        color: $primary-color;
        &.psl-line {
            &:after {
                border: 2px solid $primary-color;
            }
        }
    }
}

.psl-line, .evnt-psl-line {
    border-left: 5px solid $primary-color;
}
.psl-line:after {
 border: 2px solid $primary-color;
}
