@font-face {
	font-family: PTSans;
	src: url("../fonts/sans.ttf");
}

/** variables **/

/**** colors ****/
:root {
    --color-bleu: #00a7ce; 
    --color-magenta: $secondary-color; 
    --color-gris: #5c6670;
}


body {
	font-family: PTSans !important;
}
.ui-datepicker .ui-state-highlight{
 background: #fff none repeat scroll 0 0 !important;
 border:1px solid #018dad;
 color:#018dad;
 }
 
 .ui-datepicker .ui-state-active {
    background: #018dad none repeat scroll 0 0 !important;
}
select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: linear-gradient(45deg, transparent 50%, grey 50%),
		linear-gradient(135deg, grey 50%, transparent 50%),
		linear-gradient(to right, #F5F5F5, #F5F5F5) !important;
	background-position: calc(100% - 12px) calc(1em + -3px),
		calc(100% - 7px) calc(1em + -3px), 100% 0;
	background-repeat: no-repeat;
	background-size: 5px 5px, 5px 5px, 1.8em 2.5em;
}

.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.nmt {
	margin-top: 0 !important;
}

.nmb {
	margin-bottom: 0 !important;
}

.hide-dropzone-preview .dz-preview {
	display: none;
}

.fa-2x {
	font-size: 1.5em;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td,
	.table>tbody>tr>td, .table>tfoot>tr>td {
	border-top: 1px solid #eeeeee;
	line-height: 1.49;
	padding: 5px;
	vertical-align: middle;
}

.select2-container--default .select2-selection--multiple {
	background-color: #fff !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice
	{
	background-color: #f1f1f1;
}

.admin-form .select, .admin-form .gui-input, .admin-form .gui-textarea,
	.admin-form .select>select, .admin-form .select-multiple select {
	height: 35px;
}

.dataTables_scrollHead {
	overflow: -moz-hidden-unscrollable !important;
}

.admin-form .append-icon .field-icon, .admin-form .prepend-icon .field-icon
	{
	line-height: 35px;
}

.btn:hover>span {
	display: inline;
}

.select2-container .select2-selection--multiple {
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	min-height: 30px;
}

.select2-container .select2-search--inline .select2-search__field {
	border: medium none;
	box-sizing: border-box;
	font-size: 100%;
	margin-left: 3px;
	margin-top: 5px;
}

.btns-dashboard {
	padding-left: 25px;
}

.select2-container {
	min-height: 25px !important;
}

.ui-datepicker-trigger {
	width: 25px !important;
	height: 25px !important;
	line-height: 25px !important;
	left: auto !important;
	right: 0px !important;
	border-radius: 3px 0 0 3px !important;
	border-left: 0 none !important;
	border-right: 1px solid #ddd !important;
}

.admin-form label, .admin-form input, .admin-form button, .admin-form select,
	.admin-form textarea {
	font-size: 13px;
	margin-bottom: 5px;
}

.form-control {
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #dddddd;
	border-radius: 4px;
	color: #555555;
	display: block;
	font-size: 13px;
	height: 30px;
	line-height: 1.49;
	padding: 0 12px;
	transition: border-color 0.15s ease-in-out 0s;
	width: 100%;
}

.field-icon2 {
	color: inherit;
	height: 42px;
	line-height: 24px;
	pointer-events: none;
	position: absolute;
	text-align: center;
	top: 0;
	transition: all 0.5s ease-out 0s;
	width: 42px;
	z-index: 4;
}

.form-horizontal .control-label {
	margin-bottom: 0;
	padding-top: 4px;
	text-align: right;
}

.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline,
	.form-horizontal .checkbox-inline {
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 4px;
}

.input-group-addon {
	background-color: #fafafa;
	border: 1px solid #dddddd;
	border-radius: 2px;
	color: #3498db;
	font-size: 13px;
	font-weight: normal;
	line-height: 1;
	min-width: 40px;
	padding: 4px 12px;
	text-align: center;
}

.btn:hover>span {
	display: inline;
}

.form-group {
	margin-bottom: 0px;
}

#topbar .nav.nav-list-topbar li.active a {
	border-bottom: 3px solid #DF5640;
}

.dropzone.dropzone-sm .dz-default.dz-message i.fa {
	color: #bbb;
	font-size: 40px;
	margin-bottom: 6px;
}

.dropzone {
	background: transparent none repeat scroll 0 0;
	border: 0 none;
	min-height: 120px;
	outline: 0 none;
	padding: 2px 15px;
}

hr.short {
	margin-bottom: 0px;
	margin-top: 0;
}

.form-control {
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #dddddd;
	border-radius: 4px;
	color: #555555;
	display: block;
	font-size: 13px;
	height: 25px;
	line-height: 1.49;
	padding: 0 12px;
	transition: border-color 0.15s ease-in-out 0s;
	width: 100%;
	margin-bottom: 5px;
}

.admin-form .select, .admin-form .gui-input, .admin-form .gui-textarea,
	.admin-form .select>select, .admin-form .select-multiple select {
	border-bottom: 1px solid #ddd;
	color: #626262;
	display: inline-block;
	height: 25px;
	outline: medium none;
	position: relative;
	vertical-align: top;
	width: 100%;
}

.admin-form .append-icon .field-icon, .admin-form .prepend-icon .field-icon
	{
	color: inherit;
	height: 25px;
	line-height: 25px;
	pointer-events: none;
	position: absolute;
	text-align: center;
	top: 0;
	transition: all 0.5s ease-out 0s;
	width: 32px;
	z-index: 1;
}

.form-horizontal .control-label {
	margin-bottom: 0;
	padding-top: 4px;
	text-align: right;
}

.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline,
	.form-horizontal .checkbox-inline {
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 4px;
}
/* .input-group-addon { */
/*     background-color: #fafafa; */
/*     border: 1px solid #dddddd; */
/*     border-radius: 2px; */
/*     color: #3498db; */
/*     font-size: 13px; */
/*     font-weight: normal; */
/*     line-height: 1; */
/*     min-width: 40px; */
/*     padding: 7px 12px; */
/*     text-align: center; */
/* } */
.btn:hover>span {
	display: inline;
}

.dropzone .dz-default.dz-message i.fa {
	color: #4a89dc;
	cursor: pointer;
	display: block;
	font-size: 60px;
	margin-bottom: 15px;
}

.panel-heading {
	background: #fafafa none repeat scroll 0 0;
	border: 1px solid #e2e2e2;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #999999;
	font-size: 15px;
	font-weight: 400;
	height: 35px;
	letter-spacing: 0.2px;
	line-height: 32px;
	padding: 0 8px;
	position: relative;
}

.dropzone .dz-default.dz-message {
	background-image: none;
	cursor: pointer;
	height: 100%;
	left: 0;
	margin-left: 0;
	margin-top: -25px;
	text-align: center;
	top: 23%;
	width: 100%;
}

.dropzone .dz-default.dz-message i.fa {
	color: #4a89dc;
	cursor: pointer;
	display: block;
	font-size: 20px;
	margin-bottom: 0px;
}
 																			
.dropzone.dropzone-sm .dz-default2.dz-message i.fa {
	color: #bbb;
	font-size: 50px;
	margin-bottom: 15px;
}

.input-group-sm>.form-control, .input-group-sm>.input-group-addon,
	.input-group-sm>.input-group-btn>.btn {
	line-height: 1;
	height: 25px;
}

label {
	margin-bottom: 0;
}

.tray-bin {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ccc;
}

.drop1 {
	cursor: pointer;
}

.drop2 {
	cursor: pointer;
}

.drop3 {
	cursor: pointer;
}

.drop4 {
	cursor: pointer;
}

.drop5 {
	cursor: pointer;
}

.drop6 {
	cursor: pointer;
}

.elips {
	display: inline-block;
	max-width: 265px;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: text-bottom;
	white-space: nowrap;
}

.admin-form .gui-input, .admin-form .gui-textarea {
	padding: 0;
}

.pointit {
	cursor: pointer;
}

.admin-form .prepend-icon>input, .admin-form .prepend-icon>textarea {
	padding-left: 29px;
}

.panel-tabs>li>a {
	line-height: 0px;
}

.panel-tabs {
	left: 0 !important;
}

.dropdisabled {
	color: #bbb;
	font-size: 40px;
	margin-bottom: 6px;
}

.dropi {
	min-height: 120px;
	padding: 2px 15px;
}

.label2 {
	border-radius: 0.25em;
	color: #ffffff;
	cursor: pointer;
	display: inline;
	font-size: 100%;
	font-weight: 600;
	line-height: 28px;
	padding: 0.2em 0.6em;
	text-align: center;
	vertical-align: baseline;
	white-space: nowrap;
}

body.sb-l-m .sidebar-menu>li>a>span:nth-child(1).lionhover {
	background-color: #DF5640;
	color: white;
	font-weight: bold;
	font-size: 9px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

body.sb-l-m .sidebar-menu>li>a>span:nth-child(1).lionhoverend {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

body {
	min-height: 100% !important;
}

.navbar-nav>li>a {
	line-height: 29px;
}

.dropzone {
	padding: 0px !important;
}

.filter .btn.multiselect-clear-filter {
	padding: 2px 5px;
}

#content {
	padding: 10px 9px 0 10px !important;
}

.dropzone .dz-preview .dz-details .dz-size, .dropzone-previews .dz-preview .dz-details .dz-size
	{
	display: none;
}

.dropzone .dz-preview .dz-details, .dropzone-previews .dz-preview .dz-details
	{
	display: none;
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
	height: 33px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0);
}

.dropzone {
	min-height: 5px !important;
}

.dropzone a.dz-remove, .dropzone-previews a.dz-remove {
	display: none !important;
}

.dropzone .dz-preview, .dropzone-previews .dz-preview {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0) !important;
	border: 0px solid !important;
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
	margin: 0px !important;
	display: inline !important;
	padding: 0px !important;
}

.dropzone .dz-preview.dz-error .dz-error-mark, .dropzone-previews .dz-preview.dz-error .dz-error-mark
	{
	filter: none;
	opacity: 0;
	display: none !important;
}

.dropzone .dz-preview.dz-success .dz-success-mark, .dropzone-previews .dz-preview.dz-success .dz-success-mark
	{
	display: none !important;
}

.upload-height {
	
}

hr {
	border-top: 1px solid #ddd;
	margin: 19px 0;
}

.dropzone .dz-default.dz-message {
	background-image: none !important;
	top: 44% !important;
}

.dropzone .dz-default.dz-message span {
	display: block !important;
}

.dropzone .dz-preview .dz-details .dz-filename, .dropzone-previews .dz-preview .dz-details .dz-filename
	{
	height: 53% !important;
	overflow: hidden;
}

.select2-results__option[aria-selected=true] {
	display: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice
	{
	margin-top: 2px !important;
	padding: 0 3px !important;
	background-color: #fafafa;
	border: 1px solid #ddd;
}

.select2-container--default .select2-selection--multiple {
	background-color: #fff;
}

.select2-container .select2-selection--multiple {
	min-height: 25px;
	height: 100%;
}

.form-group {
	margin-bottom: 10px;
}

.checkbox-custom label::before {
	background-color: #fff;
	border: 2px solid #666;
	border-radius: 2px;
	content: "";
	height: 16px;
	left: 0;
	position: absolute;
	top: 0;
	width: 16px;
}

.checkbox-custom input[type="checkbox"]:checked+label::after,
	.checkbox-custom input[type="radio"]:checked+label::after {
	font-size: 10px;
	height: 0;
	left: 0;
	top: 2px;
	width: 0;
}

div.ColVis {
	margin-bottom: 1px !important;
	margin-top: 1px;
}

select.input-sm {
	height: 18px;
	line-height: 18px;
}

.mr70 {
	margin-right: 70px !important;
}

.dt-panelmenu {
	padding: 0px 14px;
	padding-top: 5px;
}

ul.ColVis_collection li {
	display: inline-block;
	width: 49%;
}

ul.ColVis_collection {
	width: 381px;
}

.dataTables_length label, .dataTables_filter label {
	margin-top: 1px;
	font-size: 11px;
}

.btncolvis {
	margin-top: 1px;
	padding: 0 5px;
}

.dt-panelfooter {
	padding: 0px;
	border-top: 0px solid #e5e5e5;
}

div.dataTables_info {
	font-size: 11px;
}

.pagination>li>a, .pagination>li>span {
	padding: 1px 9px;
}

.dataTables_scrollBody {
	overflow: auto !important;
}

.dataTables_scrollHead {
	overflow: hidden !important;
}

.dataTables_paginate {
	height: 29px;
}

.select2-container .select2-search--inline .select2-search__field {
	margin-top: 1px;
}

.scrollable-menu {
	height: auto;
	max-height: 200px;
	overflow-x: hidden;
}

a.media-left {
	color: #aaa;
	font-size: 18px;
}

.media {
	position: relative;
	margin-top: 0px !important;
}

.media-left {
	padding-bottom: 15px;
    padding-top: 15px;
	border-right: 1px dashed #ddd;
	padding-left: 17px; 
	padding-right: 7px;
	vertical-align: middle;
}

.media-body {
	font-size: 12px;
	font-weight: 400;
	padding-top: 7px;
}

.media-right {
	right: 0;
	text-align: right;
	padding-top: 5px;
}

.media-response {
	font-size: 10px;
	font-weight: 400;
	margin-bottom: 2px;
}

.dropdown .alerts-widget .media-right .btn.btn-xs {
	font-size: 11px;
	padding: 0 5px;
}

.checkbox-custom input[type="checkbox"]:checked+label::after,
	.checkbox-custom input[type="radio"]:checked+label::after {
	font-size: 10px;
	height: 0;
	left: 0;
	top: 2px;
	width: 0;
}

fieldset {
	font-family: sans-serif;
	border: none;
	border-top: 1px solid #000;
	padding-top: 5px;
}

fieldset legend {
	background: #FD6721;
	color: #fff;
	padding: 2px 10px;
	margin-bottom: 0px;
	font-size: 14px;
	width: 10em;
	text-align: center;
	cursor: pointer;
}

.categeri-in-search {
	margin: 16px 0 !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

div.dataTables_processing {
	z-index: 999;
}

.admin-form .select::before {
	width: 20px;
}

.admin-form .select .arrow::after, .admin-form .select .arrow::before {
	left: 13px;
}

#content-footer.affix {
	z-index: 11;
}

#skin-toolbox {
	top: 60px !important;
}

#skin-toolbox .panel-heading {
	height: 30px !important;
	line-height: 30px !important;
}

#skin-toolbox .panel-icon {
	padding-left: 3px !important;
}

.wordwrap {
	word-wrap: break-word;
}

.ui-datepicker {
	position: relative;
	z-index: 10000 !important;
}

.pageDetails>.progress_adias>li::before {
	height: 4em;
	line-height: 4em;
	width: 4em;
}

.pageDetails>.progress_adias>li::after {
	top: 1.75em;
}

.input-group .form-control {
	z-index: 1;
}

#topbar {
	position: fixed;
	padding-right: 70px;
}

.label-INCIDENT_SUBMISSON {
	color: #cf2f44 !important;
}

.label-CLAIM_PROCEDURE {
	color: #1A466F !important;
}

.label-STATEMENT_PROCEDURE {
	color: #FFD561 !important;
}

.label-INCIDENT_CLOSED {
	color: #000000 !important;
}

.label-INCIDENT_VALIDATION {
	color: #cf2f44 !important;
}

.label-INCIDENT_ANALYSIS {
	color: #cf2f44 !important;
}

.table-admin {
	padding-left: 0px !important;
}

.ref-class {
	width: 100px;
}

#panel-admin-backoffice .dt-panelmenu {
	display: none;
}

.pad-button {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.icon-fa-s {
	margin-right: 9px;
	margin-top: 9px;
}

.picto-upload {
	color: #fff;
}

.dropZoneAttachments {
	min-height: 70px !important;
}

.responsable .scroller-sm {
	height: 106px !important;
	max-height: 106px !important;
}

.responsable>.panel {
	margin-bottom: 5px;
}

.panel-action .btn-block {
	margin-bottom: 10px;
}

.holder-style {
	outline: 2px solid #d9d9d9 !important;
}

.close-but {
	margin-top: 12px;
}

.close-bloc {
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
}

.mt {
	margin-top: 20px;
}

.admin-form .heading-border .panel-heading {
	padding: 5px 15px 0;
}

.admin-form .panel-title {
	font-size: 13px;
}

.admin-form .panel-title i {
	border-width: 0;
	font-size: 14px;
	margin-right: 0px;
	position: relative;
	top: 0;
}

.admin-form .button {
	font-size: 12px;
	height: 30px;
	line-height: 30px;
}

.panel-tabs {
	left: 0 !important;
}

select.input-sm {
	height: 20px !important;
}

div.ColVis {
	margin-bottom: 0em !important;
}

.dt-panelmenu {
	padding: 0px;
	border-bottom: 0px solid #e5e5e5;
}

#skin-toolbox {
	top: 60px !important;
}

#skin-toolbox .panel-heading {
	height: 30px !important;
	line-height: 30px !important;
}

#skin-toolbox .panel-icon {
	padding-left: 3px !important;
}

#skin-toolbox {
	/* 	width: 230px !important; */
	/* 	right: -100px !important; */
	
}

#skin-toolbox .panel-heading {
	/* 	width: 374px !important; */
	
}

.admin-form .select .arrow {
	top: 0px !important;
}

.admin-form .select>select {
	padding: 1px 5px !important;
}

.dt-panelmenu {
	background: #fff none repeat scroll 0 0 !important;
}

.dt-panelfooter {
	background: #fff none repeat scroll 0 0 !important;
}

#spy1 {
	cursor: pointer;
}

#spy2 {
	cursor: pointer;
}

#content {
	padding: 0px !important;
}

.tray200 .tray-nav.affix {
	width: 199px !important;
}

.checkbox-custom input[type="checkbox"]:checked+label::after,
	.checkbox-custom input[type="radio"]:checked+label::after {
	font-size: 10px;
	height: 0;
	left: 2px;
	top: 2px;
	width: 0;
}

h5, .h5 {
	margin-top: 0;
}
/*
fieldset legend {
	border-top: 2px solid #3498db;
	background: #3498db;
}

fieldset {
	border-top: 2px solid #3498db;
}*/
.progress_adias>li.entourage-red::before {
	border: 3px solid !important;
	border-color: #df5640 !important;
}

.dataTables_scroll {
	overflow: auto;
}

.ui-timepicker-div dl {
	padding: 5px 10px;
}

.ui-datepicker table {
	margin: 0 0 3px;
}

.ui-datepicker-close {
	background-color: #4a89dc !important;
	color: #fff !important;
	text-shadow: 0 1px rgba(0, 0, 0, 0.08) !important;
}

.ui-datepicker-close button:hover {
	background-color: #4a89dc !important;
	color: #fff !important;
	text-shadow: 0 1px rgba(0, 0, 0, 0.08) !important;
}

.progress {
	margin-bottom: 3px;
	height: 15px;
}

.admin-form .select .arrow::before {
	bottom: 4px;
}

.disabled {
	background-color: darkgray !important;
	color: #fff;
}

.dateHere, .commenIt {
	cursor: pointer;
}

#upload-zone .scroller-content section {
	padding-left: 10px;
}

.fr-file {
	cursor: pointer;
}

.panel-editbox {
	border: 0px solid #e8e8e8 !important;
	-moz-box-shadow: inset 0 5px 5px -5px #c0c0c0;
	-webkit-box-shadow: inset 0 5px 5px -5px #c0c0c0;
	box-shadow: inset 0 5px 5px -5px #c0c0c0;
}

.navbar {
	height: 70px;
}

.page-header-fixed {
	padding-top: 60px;
}

.page-with-wide-sidebar .content {
	margin-left: 250px;
}

.content {
	margin-left: 220px;
	padding: 30px;
}

.login.login-with-news-feed, .register.register-with-news-feed {
	margin: 0;
	padding: 0;
	width: 100%;
}

.login {
	left: 0;
	margin: 168px 0;
	position: absolute;
	right: 0;
	top: 0;
}

.login.login-with-news-feed .news-feed, .register.register-with-news-feed .news-feed
	{
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	transform: translateZ(0px);
}

.login.login-with-news-feed .news-image, .register.register-with-news-feed .news-image
	{
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.login.login-with-news-feed .news-image img, .register.register-with-news-feed .news-image img
	{
	margin: auto;
	height: 100%;
	width: 100%;
	position: absolute;
}

.login.login-with-news-feed .news-caption, .register.register-with-news-feed .news-caption
	{
	background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
	bottom: 0;
	color: #999;
	font-size: 14px;
	font-weight: 300;
	left: 0;
	min-width: 680px;
	padding: 30px 60px;
	position: absolute;
	right: 0;
	z-index: 20;
}

.login.login-with-news-feed .news-caption .caption-title, .register.register-with-news-feed .news-caption .caption-title
	{
	color: rgba(255, 255, 255, 0.8);
	font-size: 28px;
	font-weight: 300;
}

.login.login-with-news-feed .right-content, .register.register-with-news-feed .right-content
	{
	float: right;
}

.carousel, .carousel-inner {
	position: static;
}

.login.login-with-news-feed .login-header, .register.register-with-news-feed .register-header
	{
	left: 0;
	margin: 0;
	padding: 50px 60px 0;
	position: relative;
	right: 0;
	top: 0;
}

.login .login-header {
	font-weight: 300;
	left: 50%;
	margin-left: -225px;
	padding: 0 40px;
	position: absolute;
	right: 0;
	top: -80px;
}

.login.login-with-news-feed .login-content, .register.register-with-news-feed .register-content
	{
	padding: 30px 100px;
	width: auto;
}

.login .login-content {
	color: #999;
	margin: 0 auto;
	padding: 30px 40px;
	width: 450px;
}

.m-b-15 {
	margin-bottom: 15px;
}

.form-control.input-lg {
	border-radius: 2px;
	font-size: 14px;
}

.input-lg {
	border-radius: 6px;
	font-size: 18px;
	height: 46px;
	line-height: 1.33333;
	padding: 10px 16px;
}

hr.style18 {
	height: 30px;
	border-style: solid;
	border-color: #8c8b8b;
	border-width: 1px 0 0 0;
	border-radius: 20px;
}

hr.style18:before {
	display: block;
	content: "";
	height: 30px;
	margin-top: -31px;
	border-style: solid;
	border-color: #8c8b8b;
	border-width: 0 0 1px 0;
	border-radius: 20px;
}

.image-module {
	cursor: pointer;
}

#sidebar_left {
	padding-top: 90px;
	background-color: #e2e2e2 !important;
}

.sidebar-menu li>a>.fa {
	color: #5c666f !important;
	font-size: 22px !important;
}

.sidebar-menu li>a>.glyphicon {
	color: #5c666f !important;
	font-size: 22px !important;
}




.sidebar-menu>li:not(.topshadow ):hover {
	background-color: #fff !important;
}

.sidebar-menu li>a>span:hover+span {
	color: #C13728 !important;
}

.sidebar-menu li>.sidebar-label {
	font-weight: 600;
	padding-left: 25px !important;
}

.sidebar-menu li>a>.sidebar-title {
	color: #5c666f !important;
	font-size: 12px !important;
}

#toggle_sidemenu_l, #toggle_sidemenu_t {
	font-size: 18px;
	float: none;
	width: 0;
	padding-left: 20px;
}

.sidebar-menu>li {
	padding: 7px 0;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td,
	.table>tbody>tr>td, .table>tfoot>tr>td {
	border-top: 0px solid #00b6d7 !important;
	border-bottom: 0px solid #00b6d7 !important;
	border-left: 1px solid #00b6d7 !important;
	border-right: 1px solid #00b6d7 !important;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th,
	.table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td,
	.table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
	border: 1px solid #00b6d7 !important;
}

.table>thead>tr>th {
	border: 1px solid #00b6d7 !important;
}

.table>tbody tr:last-child {
	border-bottom: 1px solid #00b6d7 !important;
}

.table {
	width: 100% !important;
}

.sidebar-menu>li>a>span:nth-child(2) {
	font-weight: 500;
	padding-left: 15px;
}

.sidebar-menu>li>a>span:nth-child(1) {
	padding-left: 25px;
}

body.sb-l-m .sidebar-menu>li>a>.sidebar-title {
	background-color: #fff;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover,
	.pagination>.active>span:hover, .pagination>.active>a:focus,
	.pagination>.active>span:focus {
	background-color: #00B6D7;
	border-color: #00B6D7;
}

.pagination>.disabled>span, .pagination>.disabled>span:hover,
	.pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover,
	.pagination>.disabled>a:focus {
	color: #00B6D7;
}

.navbar-nav .module-menu-item a img {
	height: 60px !important;
	margin-top: -15px !important;
}

.navbar .nav>li>a {
	height: 70px;
	max-height: 70px;
}

.navbar.navbar-fixed-top+#sidebar_left+#content_wrapper {
	padding-top: 70px;
}

.liActions {
	padding: 0px !important;
	background-color: #bbc5c7;
}

.liActions>a.active {
	background-color: #fff !important;
}

.liActions>a.active>span:last-child {
	color: red !important;
}

.liActions>a.active:hover {
	background-color: #fff !important;
}

#main {
	background: #fff none repeat scroll 0 0;
}

.panel-table {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
}

.body-table {
	border: 13px solid #e2e2e2;
	padding-left: 20px;
	padding-right: 20px;
}

.panel-heading+.panel-body {
	border-top: 13px solid #e2e2e2;
}

.heading-table {
	margin-bottom: 10px;
	background-color: #018dad !important;
	color: #fff !important;
	padding: 5px 22px !important;
	font-size: 15px !important;
	text-transform: uppercase;
}

.heading-search {
	background-color: #E2E2E2 !important;
	color: #fff !important;
	padding: 0 22px 10px;
	font-size: 18px !important;
	border-width: 0 !important;
}

.panel-controls>a {
	background: #fff none repeat scroll 0 0;
	 border-radius: 15px;
    color: #ababab;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    height: 25px;
    line-height: 1.6;
    opacity: 1;
    padding-top: 1px;
    text-align: center;
    width: 25px;
}

.heading-search>.panel-controls>a {
	 background: #018dad none repeat scroll 0 0;
    border-radius: 15px;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    opacity: 1;
    padding-top: 1px;
    text-align: center;
    width: 25px;
}

.heading-table-panels>.panel-controls>a {
	 background: #018dad none repeat scroll 0 0;
    border-radius: 15px;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    opacity: 1;
    padding-top: 1px;
    text-align: center;
    width: 25px;
}

.heading-table-panels {
	margin-bottom: 10px;
	background-color: #fff !important;
	color: #fff !important;
	padding: 0 22px 10px;
	font-size: 18px !important;
	border-bottom: 14px solid #018dad !important;
	text-transform: uppercase;
}

.panel-controls {
	background: none;
	border-left: none;
}

#main::before {
	background: #fff none repeat scroll 0 0;
}

#carousel-contain.col-md-3.left-col {
	padding-right: 0px;
}

#carousel-contain.col-md-6 {
	padding: 0px;
}

#carousel-contain.col-md-3.right-col {
	padding-left: 0px;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	display: block;
	height: auto;
	max-width: 100%;
	line-height: 1;
	margin: auto;
	width: 100%;
}

.btn-dark-login {
	background-color: #e5e5e4;
	color: var(--color-magenta);
	border: none;
	border-radius: 8px;
	box-shadow: 0 4px #a8a8a8;
}

.input-login {
	border-radius: 8px !important;
}

.input-login-left {
	border-bottom-left-radius: 8px !important;
	border-top-left-radius: 8px !important;
}

.input-login-right {
	border-bottom-right-radius: 8px !important;
	border-top-right-radius: 8px !important;
}

.rule:before, .rule:after {
	background: transparent none repeat scroll 0 0;
	border: 2px solid #fff;
	border-radius: 10px;
	content: "";
	float: left;
	height: 10px;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -5px;
	width: 10px;
}

.rule:after {
	float: right;
}

.carousel-caption {
	bottom: 22%;
	text-align: left;
}

.carousel-caption {
	right: 15%;
}

.carousel-caption, .carousel-control {
	text-shadow: none !important;
}

.badge2:after {
	content: attr(data-count);
	position: absolute;
	background: #DE5C47;
	height: 2rem;
	right: 13rem;
	width: 2rem;
	text-align: center;
	line-height: 2rem;;
	font-size: 1rem;
	border-radius: 50%;
	color: white;
}

.ribbonsearch {
	z-index: 555;
	color: white;
	font-size: 16px;
	background: rgb(0, 167, 206) none repeat scroll 0% 0%;
	padding: 10px;
	margin-left: 0px;
	margin-top: 0px;
	position: relative;
	top: 17px;
	left: 5px;
}

.ribbonsearch:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-color: transparent;
	bottom: -10px;
	border-width: 0 10px 10px 0;
	border-right-color: #222;
	left: 0;
}

.panel-tabs>li.active>a, .panel-tabs>li.active>a:hover, .panel-tabs>li.active>a:focus
	{
	background: #018dad none repeat scroll 0 0;
	color: #fff !important;
	cursor: default;
	border-top-left-radius: 20px !important;
	border-top-right-radius: 20px !important;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	padding-left: 25px !important;
	padding-right: 25px !important;
}

.panel .panel-tabs>li.active>a, .panel .panel-tabs>li.active>a:hover,
	.panel .panel-tabs>li.active>a:focus {
	color: #fff !important;
}

.panel-tabs>li {
	margin-right: 5px;
}

.panel-tabs>li>a {
	color: #5c666f;
	background: #e2e2e2;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
}

body.sb-l-m #sidebar_left .liActionsSVGBadge>a>img {
	width: 66% !important;
	padding-left: 20px !important;
}

body.sb-l-m #sidebar_left .liActionsSVGBadge>a>.badge2::after {
	right: 3rem;
}

.select2-container .select2-selection--multiple {
	min-height: 25px !important;
}

.padding-date-filtre {
	padding-right: 0px;
	padding-left: 0px;
}

.prepend-picker-icon1 {
	padding-left: 0px !important;
	padding-right: 25px !important;
}

.prepend-picker-icon2 {
	padding-left: 25px !important;
}

/*buttons*/
.admin-form .btn-primary, .admin-form .btn-primary:hover, .admin-form .btn-primary:focus,
	.admin-form .btn-primary:active {
	color: #018dad;
	text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}

.admin-form .btn-primary {
	background-color: #fff;
	border-radius: 10px;
}

.btn-primary:hover {
	background-color: #018dad !important;
	border-color: #018dad !important;
	color: #fff !important;
}

.admin-form .btn-danger, .admin-form .btn-danger:hover, .admin-form .btn-danger:focus,
	.admin-form .btn-danger:active {
	color: var(--color-magenta);
	text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}

.admin-form .btn-danger {
	background-color: #fff;
	border-radius: 10px;
}

.btn-danger:hover {
	background-color: var(--color-magenta) !important;
	border-color: var(--color-magenta) !important;
	color: #fff !important;
}

fieldset legend {
	background: #fff none repeat scroll 0 0;
	color: #018dad;
	width: auto;
	text-align: left;
}

legend {
	border-width: 0;
}

.h2Ttile {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
	color: #018dad !important;
}

.acircle {
	color: #fff !important;
	background: #018dad !important;
	border-radius: 20px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
}

.col-md-20percent {
	width: 20% !important;
	border-right: 1px solid;
}
.col-md-40percent {
    border-right: 1px solid;
    width: 40% !important;
}

.col-md-border {
    border-right: 1px solid;
}

.col-md-30percent {
    border-right: 1px solid;
    width: 30% !important;
}

.col-md-40percent-without-border {
	width: 40% !important;
}

.col-md-20percent-without-border {
	width: 20% !important;
}

.btn-xs, .btn-group-xs>.btn {
	
}

.areaLibelle {
	margin-bottom: 0 !important;
}

.form-control {
	border-radius: 0;
}

.admin-form .sml-50, .admin-form .prepend-picker-icon {
	padding-left: 0px;
}

.nofieldset {
	border-width: 0px medium medium;
	padding-top: 0px;
	min-width: 100px !important;
}

.navbar.navbar-fixed-top+#sidebar_left+#content_wrapper {
	padding-bottom: 80px !important;
}

.heading-coments {
	background-color: #fff !important;
	color: #000 !important;
	font-size: 12px !important;
	margin-bottom: 0px !important;
	padding: 0 12px 0px !important;
	border: 1px solid #018dad !important;
	margin-top: 15px !important;
}

.heading-coments>.panel-controls>a {
	background: #018dad none repeat scroll 0 0;
	border-radius: 0px;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	font-weight: normal;
	opacity: 1;
	padding-top: 1px;
	text-align: center;
	width: 25px;
}

.radio-custom.radio-mytower label::before, .checkbox-custom.checkbox-mytower label::before
	{
	border-color: #018dad;
}



.admin-form .btn-secondary {
	background-color: #eef1f2;
	border-radius: 10px;
}

.admin-form .btn-secondary, .admin-form .btn-secondary:hover,
	.admin-form .btn-secondary:focus, .admin-form .btn-secondary:active {
	color: #018dad;
	text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}

.fileslist {
	border: 2px solid #018dad;
	min-height: 120px;
	padding-top: 5px; 
	padding-bottom: 5px;
}

.dropzone {
	min-height: 95px;
}

.fileslistgris {
	background-color: #eef1f2;
	border: 2px solid #018dad;
	min-height: 120px;
}

.dropzone .dz-default.dz-message {
	height: 50%;
	margin-top: 5px;
	top: 5%;
}

.text-inf, .fa-trash-doc, .fa-file-pdf-o {
	color: #018dad !important;
}

.text-default{
	
	color: #c0c0c0;
}

#content_wrapper {
	margin-left: 165px;
}

.ui-datepicker-today a, .ui-datepicker-today a:hover, .ui-datepicker .ui-state-active,
	 {
	background: #018dad !important;
}

.post-thumb {
	float: left
}

.post-thumb img {
	display: block
}

.post-content {
	margin-left: 100px;
	padding-top: 25px;
}

.post-title {
	font-size: 15px;
	margin-top: 0;
}

body.sb-l-m #content_wrapper {
	margin-left: 70px;
}

body.sb-l-m #sidebar_left {
	width: 70px;
}

body.sb-l-m .sidebar-menu>li>a>span:nth-child(1) {
	width: 70px;
}

body.sb-l-m .sidebar-menu>li>a>.sidebar-title {
	left: 70px;
}

.mw150 {
	max-width: 150px;
}

select::-ms-expand {
	display: none;
}

.btn-picky {
	padding-left: 11px;
	padding-right: 11px;
	color: #808080 !important;
	height: 25px !important;
	background-color: #f5f5f5 !important;
	border-radius: 0px !important;
	font-size: 11px !important;
	padding-top: 4px !important;
}

.btn-picky2 {
	border-left: 0 none !important;
}

.classPickslipVal {
	border-right: 0 none !important;
}

.col-md-11-2 {
	width: 90.667% !important;
}

.col-md-1-2 {
	width: 9.333% !important;
}

.col-md-push-11-2 {
	left: 90.6667% !important;
}

.lineh12 {
	line-height: 1.2;
}

.panel-control-collapse2 {
	background: #018dad !important;
	color: #fff !important;
	margin-right: 7px !important;
	margin-top: 7px !important;
	width: 30px !important;
	border-radius: 15px !important;
	display: inline-block !important;
	font-size: 15px !important;
	font-weight: normal !important;
	opacity: 1 !important;
	padding-top: 1px !important;
	text-align: center !important;

  
    height: 25px !important;
    line-height: 1.6 !important;
   
    width: 25px !important;
}

.panel-control-collapse2:after {
	content: "\f067";
	/* fa-pencil */
}

.panel-collapsed2 {
	content: "\f068" !important;
	/* fa-pencil */
}

body.sb-l-m .sidebar-menu>li:not(.liActions)>a>img {
	width: 68%;
	padding-left: 22px;
}

.sidebar-menu>li>a>img {
	width: 30%;
	padding-left: 25px;
	margin-top: -8px;
}

.navbar .nav>li.open>a, .navbar .nav>li:hover>a, .navbar .nav>li:focus>a,
	.navbar .nav>li.active>a, .navbar .nav>li>a:hover, .navbar .nav>li>a:focus
	{
	background-color: transparent;
	color: #222;
}

body.sb-l-m .sidebar-menu>li>a>.sidebar-title {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	border: 0px solid !important;
}
.h2detailsTtile{
	
	margin-top:0px;
	font-size: 17px;
}




.status-navbar-small {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.status-navbar-small > ul {
  display: table;
  width: 100%;
  text-align: center;
  margin: 0;
  font-weight: 600;
  padding: 0 0 0 10px;
  list-style: none outside none;
  table-layout: fixed;
}

.status-navbar-small > ul li {
  display: table-cell;
  width: 1%;
  position: relative;
  padding: 0 10px;
}

.status-navbar-small > ul li:after {
  content: '';
  position: absolute;
  height: 8px;
  width: 100%;
  background-color: #eeeeee;
  top: -37px;
}
.status-navbar-small > ul li:after {
  left: -5px;
}
.status-navbar-small > ul li div.step-text {
  width: 125px;
  margin-top: -10px;
  line-height: 1.2;
  margin-left: 30px;
  color: #a2a2a2;
  font-size: 15px;
  background-color: transparent;

}

.status-navbar-small > ul li div.step-text2 {
  width: 130px;
  margin-top: -10px;
  line-height: 1.2;
  margin-left: 50px;
  color: #a2a2a2;
  font-size: 15px;
  background-color: transparent;

}
.status-navbar-small > ul li span.step-number {
  background-color: #fff;
  border-radius: 50%;
  color: #898b8f;
  display: block;
  height: 35px;
  left: 50%;
  border:1px solid;
  line-height: 35px;
  margin-left: -20px;
  margin-top: -50px;
  position: absolute;
  text-align: center;
  transition: all 300ms ease-in-out 0s;
  -webkit-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  width: 35px;
  z-index: 5;
}
.status-navbar-small > ul li.completed span.step-number,
.status-navbar-small > ul li.completed:before,
.status-navbar-small > ul li.completed:after {
  background-color: #018dad;
  color: #fff;
    border:0px solid;
}
.status-navbar-small > ul li.completed div.step-text {
  
  color: #018dad;

}

.calender-counter{
	
    color:#000;
    font-size: 1.2vw;
padding-left: 7px;
 padding-right: 7px;
    margin-bottom: 0;
 padding-top: 10px;
 display: inline-table;

}
.countd-md{
	
	 background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #c8d0d2 0%, #c8d0d2 66%, #000 67%, white 50%, white 100%) repeat scroll 0 0;
    border: 2px solid;
    border-radius: 3px;
    padding: 0;
    width: 30%;
    font-size: 9px;
     margin-left: 3%;
}
#countdown{
	margin-top: 0px;
padding-left: 10%;
    padding-right: 10%;}

fieldset legend.track {
    background: #018dad none repeat scroll 0 0;
    color: #fff;
    text-align: left;
    width: 10em;
    margin-left: -20px;
}
.nofieldset2{
	border : 0 !important;
	margin-bottom:10px;
}

.glyphicon-menu-hamburger{
	
	top:2px;
}

.status-navbar-small > ul li.completed div.step-text2 {
    color: #018dad;
}
.step-img{
	
	position : absolute;
	top : -77px;
	margin-left: -14px;
}


.not-hidden{
	display: block;
    visibility: visible;
}

.status-navbar-small > ul li.circle-white span.step-number {
    background-color: #fff;
    border: 1px solid;
    color: #898b8f;
}

th.disabled,td.disabled {
	
	background-color: #E2E2E2 !important;
	
}
.colorBleu{
	
	color: #018dad !important;
}

.fwb{
	
	font-weight:bold;
}

.bblue{
	
	border: 1px solid #00b6d7;
}

.bbblue{
	
	border-bottom: 1px solid #00b6d7;
}


.brblue{
	
	border-right: 1px solid #00b6d7;
}

.brblue > input{
	
margin-top: 5px;
}

.brblue > select{
	
margin-top: 5px;
}

.btndeletpickslip {
	
margin-top: 5px !important;
}

.blblue{
	
	border-left: 1px solid #00b6d7;
}

.admin-form .btn-primary:hover, .admin-form .btn-primary:focus {
    background-color: #018dad;
    color: #fff;
}

.label-PreInv{
	color:#67971A;
}
.label-ManualInvCtrl{
	color:#FF0000;
}
.label-AutomatiqueInvCtrl{
	color:#676CFB;
}
.label-Simul{
	color:#666666;
}

.label-INCIDENT_SUBMISSON{
	color: #cf2f44 !important; 
}

.label-CLAIM_PROCEDURE{
	color: #1A466F !important;
}

.label-STATEMENT_PROCEDURE{
	color: #FFD561 !important;
}

.label-INCIDENT_CLOSED{
	color: #000000 !important;
}

.label-INCIDENT_VALIDATION{
	color: #cf2f44 !important;
}

.label-INCIDENT_ANALYSIS{
	color: #cf2f44 !important;
}

.label-on-going-consolidation {
    color: #B6B1B1;
}
.label-archived {
    color: #B6B1B1;
}
.label-waiting-for-carrier-confirmation{
	color: #f0f01d;
}
.label-ok-for-payment{
	color:#0000FF;
}
.label-nok-waiting-for-ct-confirmation{
	color:#E71E1E;	
}
.label-nok-waiting-for-carrier-confirmation{
	color:#E71E1E;	
}
.label-ok-Waiting-for-inv-number-and-date{
	color:#76DB76;
}
.label-ok-waiting-for-OCD-finance{
	color:#76DB76;
}
.label-OK-WAITING-FOR-CARRIER-CONFIRMATION-CREDIT-NOTE-TO-BE-ISSUED{
	color:#76DB76;
}
.label-WAITING-FOR-CARRIER-INPUTS{
	color:#f0f01d;
}
.label-WAITING-FOR-CT-INPUTS{
	color: #f0f01d;
}
.label-CREDIT-NOTE{
	color:#FFC000;
}
.label-OK-WAITING-FOR-OCD-FINANCE-CREDIT-NOTE-TO-BE-ISSUED{
	color:#76DB76;
}

.credit-note-shortcut{
	color:#FFC000;
}

.adias-special-form label{
	color:#018dad;
}
.ui-datepicker td span, .ui-datepicker td a {
    color: #404040;
}
.ui-highlight-blue-clear .ui-state-default
{
	background-color: rgba(63, 127, 212, 0.45) !important;
	border-color: rgba(63, 127, 212, 0.45)  !important;
	color: white !important;
}

.w70{
	
	width : 70px !important;
}

.ml0{
	
	margin-left:0px;
}

.tray-nav.tray-nav-border li.active::after {
    background: #018dad none repeat scroll 0 0;
}

.ColVis{
	    padding-left: 10px;
	    margin-right: -15px; 
	    margin-top: -10px !important;
}
.ColVis .btncolvis .fa{
	background: url(../images/icon-hand.svg) no-repeat;
	height: 40px;
    width: 40px;
}

.btncolvis {
	
	background-color: #fff;
	border:0px;
}

.panel-tabs > li > a >.fa {
	
	  line-height: 0;
}

.icon-login{
	
    height: 145px !important;
    margin-top: 100px !important;
    position: absolute !important;
    width: 350px !important;
    left: 30% !important;
    
}
.brighttheme-success {
    background-color: #5bdeff !important;
    border: 0 solid #fff !important;
    color: #fff !important;
}

.ui-pnotify-icon, .ui-pnotify-icon span {
    font-size: 30px !important;
    line-height: 40px !important;
    min-height: 35px !important;
    padding-right: 3px !important;
}
.brighttheme-icon-success {
    background-color: #fff !important;
    color: #5bdeff !important;
    margin-top: 5px !important;
}
.brighttheme-icon-closer, .brighttheme-icon-info, .brighttheme-icon-notice, .brighttheme-icon-sticker, .brighttheme-icon-success {
    width: 35px !important;
}
.ui-pnotify-title {
    margin-bottom: 0.4em !important;
}
a.titre-module {
    color: #5C6670;
}

ul.ColVis_collection {
    background-color: #c5d1d2;
    border: 0px solid rgba(0, 0, 0, 0.4);
    border-radius: 0px;
    box-shadow: none;
}
button.ColVis_Button, ul.ColVis_collection li {
    background:  none;
        border: 0px solid #999;
    border-bottom: 1px solid #0096b9;
    border-radius: 0px;
    box-shadow: none;
  color :  #666666 !important;
}
ul.ColVis_collection li.ColVis_Special {
    background: none;
    border-color: #0096b9;
}

ul.ColVis_collection li span {
    padding-left: 2.4em;
}

.ColVis_collection input[type="checkbox"] {
    display:none;
}

.ColVis_collection label:before{
content: "\f00c"; 
	font-family: "FontAwesome";
	color: #f3f1ef;
}
.ColVis_collection label{
	width:23px;
	height:23px;
	display:inline-block;
	border:2px solid #fff;
	text-align:center;
	line-height:20px;
	margin-right:6px;	
	border-radius:3px;
	cursor:pointer;	
	background-color : #fff;
	padding-left:3px;
	font-weight: normal;
	
}

.ColVis_collection label.checked:before{

color: #0096b9;
	
}

.ColVis_Button:hover, ul.ColVis_collection li:hover {
    background: none;
    border: 0px solid #666;
    border-bottom: 2px solid #0096b9;
    text-decoration: none;
}
td {
	cursor: pointer !important;
}

.form-control{
    color: #018dad !important;}
    
.form-control option:hover {
    box-shadow: 0 0 10px 100px #018dad inset;
}
select:focus > option:checked { 
    background: #018dad !important;
    box-shadow: 0 0 10px 100px #018dad inset;
    
}
#datatable2 .label-success {
	 color: #70ca63 !important;
	 background-color: transparent !important;
}    
#datatable2 .label-danger {
	 color: #df5640 !important;
	 background-color: transparent !important; 
}    
#datatable2 .label-warning {
	 color: #f6bb42 !important;
	 background-color: transparent !important; 
}    
.dataTables_length .form-control{
	padding-left: 2px !important; 
	padding-right: 25px !important;
	
}
th{
	cursor:pointer !important;
}
.ui-autocomplete{
	
	background-color:#fff;
	border :1px solid #eee;
	
}
.ui-menu-item{
	
	padding : 7px;
	padding: 7px;
    border-bottom: 1px solid #eee;
    cursor:pointer;
}
.select2-container .select2-search--inline .select2-search__field {

    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.minw40{
	min-width:40px; 
}

.minw60{
	min-width:60px;
}

.panel-heading .btn-primary:hover, .panel-heading .btn-primary:focus {
    background-color: #fff !important;
    color: #018dad !important;
}

.panel-comment .panel-controls>a {

    width: 25px !important;
}
.parentFile{
	
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
	
}

.btn-primary2 {
	background-color: #018dad;
	border-radius: 10px;
	color: #fff !important;
	
}
