::ng-deep .rsch-dashtable-root {
	display: flex;
	flex-flow: column;

	/* Fix for datepicker inside the template container component */
	.rsch_dashtable_wrapper {
		ngb-datepicker {
			position: fixed !important;
			top: 25% !important;
			left: 50% !important;
		}

		app-datetime-picker {
			.date-picker-input {
				padding-left: 5px !important;
			}
		}

		height: 100%;
	}
}

::ng-deep .rsch-table_header_gray {
	background-color: #dbe0e2 !important;
}
