<div class="rsch-dashtable-root">
	<div class="rsch_dashtable_wrapper">
		<app-generic-table
			*ngIf="this.dataInfos.cols && this.dataInfos.cols.length > 0"
			#genericTable
			[hideTable]="isAddPlan"
			[title]="'Receipt scheduling' | translate"
			[searchInput]="searchInput"
			[dataInfos]="dataInfos"
			[detailsInfos]="null"
			[parentContext]="this"
			(addFormEmitter)="(null)"
			(editFormEmitter)="(null)"
			(deleteEventEmitter)="(null)"
			(onCheckRow)="onCheckRow($event.rowModel)"
			(onDataLoaded)="onDataLoaded($event)"
			[component]="GenericTableScreen.RECEIPT_SCHEDULING"
			[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
		>
		</app-generic-table>
	</div>
</div>
