@import "../../../../../styles/variables";

.group-libelle {
	font-size: $fz-base;
	font-weight: bold;
}
.propo-status {
	color: $primary-color;
}

.grp-item {
	display: inline-block;
	margin-left: 15px;
}
.propo-top {
	margin-top: 15px;
}

.loading-center {
	text-align: center;
	margin-top: 50px;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
}
.propo-total {
	color: $bleu-dark;
}
.grouping-paginate-icons {
	color: $primary-color;
}

.pagination {
	color: $primary-color;
	font-size: 100px;
	cursor: pointer;
}
