<div class="row margin-top-10 margin-bottom-10">
	<div *ngIf="isQrGroupeLoading" class="col-md-12 loading-center">
		<p-progressSpinner></p-progressSpinner>
	</div>
	<div *ngIf="!isQrGroupeLoading" class="col-md-12">
		<div *ngIf="!isQrGroupeExist" class="loading-center">
			{{'PRICING_BOOKING.NO_GROUPING_RULE' | translate}}
		</div>
		<div *ngIf="!isQrGroupePropositionExist && isQrGroupeExist" class="loading-center">
			{{'PRICING_BOOKING.NO_GROUPING_PROPOSITION' | translate}}
		</div>
		<div *ngIf="isQrGroupeExist && isQrGroupePropositionExist" id="list_propositions">
			<ng-container *ngFor="let grp of listEbQrGroupe; let grpIndex = index">
				<ng-container *ngIf="!!grp.listPropositions">
					<ng-container *ngFor="let propo of grp.listPropositions; let indexPropo = index">
						<ng-container *ngIf="propo.listEbDemande && propo.listEbDemande.length > 0">
							<div class="d-flex-w">
								<div class="propo-top col-md-12 row">
									<div class="col-md-6">
										<span class="group-libelle">{{ grp.libelle }}</span>
										<span> - </span>
										<span class="propo-status">{{ getStatus(propo.statut) }}</span>
										<span class="propo-total"> {{'GENERAL.TOTAL' | translate}} : {{ propo.nombreDemandes }}</span>
									</div>
									<div class="col-md-6">
										<div class="pull-right">
											<button
												*ngIf="propo.statut != GroupePropositionStatut.CONFIRMED"
												class="btn btn-xs btn-primary"
												(click)="consolidate($event, propo)"
											>
												Consolidate
											</button>
											<button
												*ngIf="propo.statut == GroupePropositionStatut.WAITING_FOR_CONFIRMATION"
												class="btn btn-xs btn-primary"
												(click)="reject($event, propo)"
											>
												Reject
											</button>
											<!-- <button class="btn btn-xs btn-primary" (click)="viewDetails($event, grp, propo, indexPropo)">View details</button> -->
										</div>
									</div>
								</div>
								<div class="propo-bottom d-flex-ai-c d-flex-jc-c width-100-percent">
									<div class="col-md-3 d-flex-w mrg-top10 no-padding margin-bottom-0-important grpList">
										<div class="card-container margin-top-10-important padding-bottom-0-important card-view b-c-users qr-result qrgroup-propo-card">
											<div class="card-content">
												<ng-container
													*ngTemplateOutlet="
														cardContentTpl;
														context: { card: propo.ebDemandeResult, index: index, editable: true, propo: propo, grpIndex: grpIndex, indexPropo: indexPropo, grp: grp }
													"
												>
												</ng-container>
											</div>
										</div>
									</div>

									<div class="col-md-9 padding-0 d-flex-ai-c d-flex-jc-fs">
										<div class="grouping-paginate-icons icon-left" *ngIf="propo.currentPage > 0" (click)="getListDemandesByProp(propo, -1)">
											<i class="fa fa-angle-left pagination" aria-hidden="true" ></i>
										</div>
										<app-card-list
										[data]="propo.listEbDemande"
										cardHeight="100%"
										[applyFnClass]="applyCardClass"
										[applyListClass]="'grpList'"
										[allowOrder]="false"
										>
											<ng-container *forEachItem="let card; let index = index">
												<ng-container
													*ngTemplateOutlet="
														cardContentTpl;
														context: { card: card, index: index, editable: false, propo: propo, grpIndex: grpIndex, indexPropo: indexPropo, grp: grp }
													"
												>
												</ng-container>
											</ng-container>
										</app-card-list>
										<div class="grouping-paginate-icons icon-right" *ngIf=" (propo.currentPage+1 < propo.nombrePages)" (click)="getListDemandesByProp(propo, 1)">
											<i class="fa fa-angle-right pagination" aria-hidden="true" ></i>
										</div>
									</div>
								</div>
							</div>
						</ng-container>
					</ng-container>
				</ng-container>
			</ng-container>
		</div>
	</div>
</div>


<ng-template
	#cardContentTpl
	let-card="card"
	let-index="index"
	let-editable="editable"
	let-propo="propo"
	let-grpIndex="grpIndex"
	let-indexPropo="indexPropo"
	let-grp="grp"
	>

	<div class="card-content">

		<div class="col-md-12">
			<div class="card-header-left">{{ card.refTransport }}</div>
			<div
				class="card-header-right"
				*ngIf="propo.statut != GroupePropositionStatut.CONFIRMED"
			>
				<i
					class="fa fa-pencil cursor-pointer"
					(click)="edit($event, grpIndex, indexPropo)"
					*ngIf="editable"
				></i>
				<input
					type="checkbox"
					name="check-{{ index }}"
					*ngIf="!editable"
					[(ngModel)]="card['isChecked']"
					(change)="onCheckDemande(card,propo)"
				/>
			</div>
		</div>

		<div class="col-md-12 margin-top-10-important">
			<div class="row">
				<div class="col-md-5">
					<div class="card-left">
						<div>{{ card.ebPartyOrigin?.city }}</div>
						<div>{{ Statique.formatDate(card.dateOfGoodsAvailability) }}</div>
					</div>
				</div>

				<div class="col-md-1">
					<div class="card-icon-modetransport">
						<span>
							<i class="{{ Statique.getModeTransportIcon(card.xEcModeTransport) }}"></i>
						</span>
					</div>
				</div>

				<div class="col-md-5">
					<div class="card-right">
						<div>{{ card.ebPartyDest?.city }}</div>
						<div>{{ Statique.formatDate(card.dateOfArrival) }}</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="card-separator"></div>
				<div class="col-md-12">
					<div>
						<label>Customer ref.:</label><span>{{ card.customerReference }}</span>
					</div>
					<div>
						<label>Cost center:</label
						><span>{{ card.xEbCostCenter?.libelle }}</span>
					</div>
					<div>
						<label>Service Level:</label
						><span>{{ Statique.getTypeOfRequest(listTypeDemandeByCompagnie,card.xEbTypeRequest) }}</span>
					</div>
					<div>
						<label>Invoice currency:</label
						><span
							>{{ card.xecCurrencyInvoice?.code }}
							{{ card.xecCurrencyInvoice?.symbol }}</span
						>
					</div>
				</div>
			</div>

			<ng-container
				*ngIf="editable && (hasAirbusCategorie(card) || hasAirbusCParam(card))"
			>
				<div class="row">
					<div class="card-separator"></div>
					<ng-container *ngFor="let cat of card.listCategories">
						<ng-container
							*ngIf="cat.libelle && CATEGORIES.indexOf(cat.libelle) >= 0"
						>
							<div class="col-md-12">
								<div>
									<label>{{ cat.libelle }}</label
									><span>{{
										cat.labels && cat.labels.length ? cat.labels[0].libelle : ""
									}}</span>
								</div>
							</div>
						</ng-container>
					</ng-container>
					<ng-container *ngIf="hasAirbusCParam(card)">
						<ng-container *ngFor="let cf of card.listCustomsFields">
							<ng-container
								*ngIf="cf.label && CUSTOM_FIELDS.indexOf(cf.label) >= 0"
							>
								<div class="col-md-12">
									<div>
										<label>{{ cf.label }}</label
										><span>{{ cf.value }}</span>
									</div>
								</div>
							</ng-container>
						</ng-container>
					</ng-container>
				</div>
			</ng-container>

			<div class="row">
				<div class="card-separator"></div>
				<div class="col-md-12">
					<div>
						<label>Incoterm:</label
						><span>{{ card.xEbSchemaPsl?.xEcIncotermLibelle }}</span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="card-separator"></div>
				<div class="col-md-12">
					<div>
						<label>Number of unit:</label><span>{{ card.totalNbrParcel }}</span>
					</div>
					<div>
						<label>Total weight (kg):</label><span>{{ card.totalWeight }}</span>
					</div>
					<div>
						<label>Total Volume (m3):</label><span>{{ card.totalVolume }}</span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="card-separator"></div>
				<div class="col-md-12">
					<div>
						<label>Carrier:</label>
						<span
							*ngIf="
								card.exEbDemandeTransporteurs &&
								card.exEbDemandeTransporteurs.length
							"
							>{{
								card.exEbDemandeTransporteurs[0].xTransporteur.nomPrenom
							}}</span
						>
					</div>
					<div *ngIf="editable">
						<label>Consolidated Price:</label>
						<span>{{ card.consolidatedPrice || "-" }}</span>
					</div>
					<div *ngIf="!editable">
						<label>{{"GROUPING.QR.COST_TR" | translate}}:</label>
						<span>{{ card.exEbDemandeTransporteurs[0]?.price }}</span>
					</div>
				</div>
			</div>

			<div class="row" *ngIf="editable">
				<div class="card-separator"></div>
				<div class="col-md-12">
					<div>
						<label>Cost ventilation: </label
						><span class="margin-left-10-important">{{
							Statique.getVentilation(grp)
						}}</span>
					</div>
					<div>
						<label>Consolidation savings: </label>
						<span
							class="margin-left-10-important"
							*ngIf="!!propo.ebDemandeResult?.exEbDemandeTransporteurs?.length"
							>{{
								Statique.getGainDemandeResult(propo, propo.ebDemandeResult)
							}}</span
						>
					</div>
				</div>
			</div>

			<div
				class="row"
				*ngIf="
					!editable &&
					!!grp.ventilation &&
					grp.ventilation != GroupeVentilation.SANS_PONDERATION
				"
			>
				<div class="card-separator"></div>
				<div class="col-md-12">
					<div>
						<label>Consolidation savings:</label>
						<span *ngIf="!!propo.ebDemandeResult?.ventilationPrice">{{
							getGainDemandeQr(grp, propo, card)
						}}</span>
					</div>
				</div>
			</div>
		</div>

	</div>

</ng-template>

<app-modal
	*ngIf="modalObject && showModal && currentDemande"
	[message]="modalObject"
	modalWidth="90%"
>
	<div header>
		<span>Edit</span>
	</div>

	<div body style="text-align: left!important">
		<app-demande-creation-form
			#demandeCreationForm
			[demande]="currentDemande"
			[selectedStep]="QrCreationStep.EXPEDITION"
			[readOnly]="false"
			[showOverview]="false"
			[showStepNavigation]="false"
			[enableCardStyle]="false"
			[showInfoPricing]="true"
			[hasContributionAccess]="true"
			[displayOptions]="true"
			[isTF]="false"
			[isForGrouping]="true"
			[groupProposition]="currentPropo"
			[qrGroup]="currentGroupe"
		>
		</app-demande-creation-form>
	</div>
</app-modal>

<app-modal
	*ngIf="modalObjectGroupList && showModalListGroup"
	[message]="modalObjectGroupList"
	modalWidth="35%"
>
	<div header>
		<span>Update Group Propositions</span>
	</div>

	<div body style="text-align: left!important">
		<div>
			<ng-container *ngFor="let grp of listEbQrGroupe; let grpIndex = index">
				<div class="row">
					<div class="col-md-12">
						<p-checkbox
							name="grp{{ grpIndex }}"
							[(ngModel)]="grp.isChecked"
							binary="true"
						></p-checkbox>

						<span class="grp-item">{{ grp.libelle }}</span>
					</div>
				</div>
			</ng-container>
		</div>
	</div>
</app-modal>
