<div class="padding-5">
	<app-generic-table-ccp
		#genericTable
		[hideTable]="isAddEditMode"
		[title]="'SETTINGS.PLANNING_CHARGEMENT' | translate"
		(addFormEmitter)="openAddForm($event)"
		(editFormEmitter)="displayEdit($event)"
		[searchInput]="searchCriteria"
		[module]="module"
		[dataInfos]="dataInfos"
		[detailsInfos]="null"
		[parentContext]="this"
		(deleteEventEmitter)="deleteLoadPlanning($event)"
		[component]="GenericTableScreen.LOAD_PLANNING"
		(listCategorieEmitter)="onListCategorieLoaded($event)"
		[dataSourceType]="dataSourceType"
		[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
		[componentContext] = "this"
	>
		<form class="generic-default" formcontent *ngIf="isAddEditMode" role="form" #formCtrl="ngForm">
			<div class="col-md-12 form-group mgtop ng-star-inserted">
				<app-advanced-form-search
				#advancedFormSearchComponentBooking
				[initialListFields]="paramFields"
				[paramFields]="paramFields"
				(searchHandler)="search($event)"
				initFields="all"
				[editable]="false"
				[column]="4"
				[ebModuleNum]="2"
			></app-advanced-form-search>
			</div>
		
			<div class="col-md-4 form-group mgtop ng-star-inserted">
				<label class="areaLibelle">{{ "GENERAL.SELECT_INPUT_FIELDE" | translate }}</label>
				<ng-select
							name="input-field"
							id="input-field"
							[items]="dataInfosItem"
							(change)="onInputChange(selectedField)"
							(click)="onClickInput()"
							bindValue="name"
							[(ngModel)]="selectedField"
							[clearable]="false"
							placeholder="{{ 'GENERAL.SELECT_INPUT_FIELDE' | translate }}" 	
					>
					<ng-template ng-label-tmp let-item="item">
						<span
							>{{ item.label | translate }}
						</span>
					</ng-template>
					<ng-template ng-option-tmp let-item="item">
						<span>{{item.label | translate}}</span>
					</ng-template>
				</ng-select>
			</div>

			<div class="col-md-8 form-group mgtop ng-star-inserted">
				<label class="areaLibelle required">{{ "GENERAL.SELECT_WEEK_TYPE" | translate }}</label>
				<div class="col-md-12 padding-left-0-important padding-right-0-important">
					<ng-select
						name="week-type"
						id="week-type"
						[items]="weekTemplates"
						(change)="onWeekChange(selectedWeek)"
						(click)="onWeekClick()"
						bindValue="ebWeektemplateNum"
						[(ngModel)]="selectedWeek"
						placeholder="{{ 'SETTINGS.WEEK_TEMPLATE' | translate }}"
						required
					>
					</ng-select>
					<br />
					<form
						(keydown.enter)="$event.preventDefault()"
						class="generic-default"
						formcontent
						#formCtrlAdminEntrepot="ngForm"
						*ngIf="selectedWeek > 0"
						role="form"
						#formCtrl="ngForm"
					>
						<div class="col-md-12">
							<div class="row">
								<p-table [value]="ebWeekTemplateDTO.days" [rowTrackBy]="trackByIndex">
									<ng-template pTemplate="header">
										<tr>
											<th class="header-table" style=" width: 100px;">{{ "WEEKS_TEMPLATE.DAY.NAME" | translate }}</th>
											<th class="header-table">{{ "WEEKS_TEMPLATE.DAY.OPENING_HOURS" | translate }}</th>
										</tr>
									</ng-template>
									<ng-template pTemplate="body" let-day let-rowIndex="rowIndex">
										<tr>
											<td>
												{{ "GENERAL.DAYS." + getDayName(day.code) | translate }}
											</td>
											<td>
												<div class="flex">
													<div class="flex-grow-1">
														<div
															*ngFor="let hour of day.hours; let i = index; trackBy: trackByIndex"
															class="flex"
															style="align-items: center;"
														>
															<span
																class="margin-right-5"
																[ngStyle]="{ 'margin-top': i > 0 ? '2px' : '0' }"
															>
																{{ "WEEKS_TEMPLATE.DAY.WEEK_HOUR_AT" | translate }}
															</span>
															<input
																style="width: 200px"
																class="form-control input-underline input-xs margin-right-5"
																[pattern]="Statique.patternTime"
																type="text"
																[textMask]="{ mask: Statique.maskTime }"
																placeholder="hh:mm"
																[(ngModel)]="hour.startHour"
																[name]="'startHour' + rowIndex + i"
																(keydown.enter)="addRangeHour(day)"
															/>
															<span *ngIf="!hide_opening_from_hour" class="margin-right-5">{{
																"WEEKS_TEMPLATE.DAY.HOUR_TO" | translate
															}}</span>

															<input
																*ngIf="!hide_opening_from_hour"
																style="width: 200px;"
																class="form-control input-underline input-xs"
																[pattern]="Statique.patternTime"
																type="text"
																[textMask]="{ mask: Statique.maskTime }"
																placeholder="hh:mm"
																[(ngModel)]="hour.endHour"
																name="endHour"
															/>
															<span> {{ "WEEKS_TEMPLATE.DAY.CUT_OFF_TIME" | translate }} </span>
															<input
																style="width: 100px"
																class="form-control input-underline input-xs margin-right-5"
																[pattern]="Statique.patternTime"
																type="text"
																[textMask]="{ mask: Statique.maskTime }"
																placeholder="00:00"
																[(ngModel)]="hour.cutOffTime"
																[name]="'cutOffTime' + rowIndex + i"
															/>
															<a
																class="margin-left-5"
																style="flex: 0 0 25px; text-align: center"
																href="javascript:void(0)"
																(click)="deleteRangeHour(day, hour)"
															>
																<i class="fa fa-times-circle-o" aria-hidden="true"></i>
															</a>
														</div>
													</div>
													<div class="od-t-full-center" style="width: 35px;">
														<button class="btn btn-xs" (click)="addRangeHour(day)">
															<i class="fa fa-plus cursor-pointer"></i>
														</button>
													</div>
												</div>
											</td>
										</tr>
									</ng-template>
								</p-table>
							</div>
						</div>
						<div
							class="form-content col-md-12 text-right margin-bottom-10"
							style="margin-top: 08px; "
						></div>
					</form>
				</div>
			</div>

			<div class="form-content col-sm-12 text-right margin-bottom-10">
				<div class="col-md-12">
					<button
						*ngIf="!editMode"
						class="btn btn-sm btn-success btn-shadow"
						[disabled]="!formCtrl.valid"
						(click)="addItem(planTransportNew, searchCriteria)"
					>
						{{ "COMPANY_PROFILE.BTN_AJOUTER" | translate }}
					</button>
					<button
						*ngIf="editMode && planTransport != null"
						class="btn btn-sm btn-success btn-shadow"
						[disabled]="!formCtrl.valid"
						(click)="updateItem(planTransportNew, searchCriteria)"
					>
						{{ "COMPANY_PROFILE.BTN_MODIFIER" | translate }}
					</button>
					<button class="btn btn-sm btn-success btn-shadow" (click)="backToList()">
						{{ "GENERAL.CANCEL" | translate }}
					</button>
				</div>
			</div>
		</form>
	</app-generic-table-ccp>
</div>
