@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.fa-2 {
	font-size: 2em;
}

.marge-account-settings .mat-tab-label {
	width: 25% !important;
}
.mat-tab-label {
	width: 20% !important;
}

.panel-bordered {
	background: #fff;
	position: relative;
	background-color: #fff;
	transition: box-shadow 0.25s;
	border-radius: 2px;
	box-shadow: none;
	margin-bottom: 20px;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}

.ng-valid[required],
.ng-valid.required {
	border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
	border-left: 5px solid #a94442; /* red */
}

.mat-tab-header {
	margin-bottom: 20px;
}

.mat-radio-ripple {
	left: -2px !important;
	top: -2px !important;
	right: -2px !important;
	bottom: -2px !important;
}

.margin-b-10 {
	margin-bottom: 10px;
}

.margin-b-5 {
	margin-bottom: 5px;
}

.margin-tb-10 {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.margin-t-10 {
	margin-top: 10px !important;
}

.margin-t-5 {
	margin-top: 5px;
}

.margin-r-5 {
	margin-right: 5px;
}

.margin-l-30 {
	margin-left: 30px !important;
}

.margin-t-10 {
	margin-top: 10px !important;
}

.margin-t-14 {
	margin-top: 14px !important;
}

.margin-t-28 {
	margin-top: 28px !important;
}

.padding-all-5 {
	padding: 5px !important;
}

.margin-r-20 {
	margin-right: 20px;
}

.margin-l-40 {
	margin-left: 40px;
}

.padding-all-3 {
	padding: 3px !important;
}

.input-xs {
	height: 27px !important;
}

.mat-radio-container {
	margin-left: 10px !important;
}

.padding-all-2 {
	padding: 2px !important;
}

.thumbnail-image {
	position: relative;
	border: 1px solid #ccc;
	display: inline-block;
	height: 133px;
	width: 130px;
	max-height: 137px;
	max-width: 130px;
}

.thumbnail-image img {
	height: auto;
	width: auto;
	max-height: 140px;
	max-width: 130px;
	padding: 5px;
	opacity: 1;
	display: block;
	transition: 0.5s ease;
	backface-visibility: hidden;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.btn-upload {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.btn-upload i {
	cursor: pointer;
	font-size: 2em !important;
	color: black;
}

.thumbnail-image:hover img {
	opacity: 0.3;
}

.thumbnail-image:hover .btn-upload {
	opacity: 1;
}

.no-padding {
	padding: 0px !important;
}

.font-size-10 {
	font-size: 10px !important;
}

.margin-t-10 {
	margin-top: 10px !important;
}

.margin-r-15 {
	margin-right: 15px !important;
}

.margin-b-10 {
	margin-bottom: 10px !important;
}

.margin-tb-10 {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.no-margin-tb {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

/***** tabulation ******/

.second-tab {
	margin-top: -10px !important;
}
