<div class="padding-0 col-md-12">
	<div class="card-vignette-block origin-dest__wrapper d-flex-ai-c">
		<div class="col-md-5 padding-left-0 text-center origin" [ngClass]="{ sm: isSmallerSize }">
			<div>
				<span
					class="mouseOver"
					title="{{ infosTransport?.origin?.city }} , {{ infosTransport?.origin?.country }}"
					>{{ infosTransport?.origin?.country }} <br />...
				</span>
			</div>
		</div>
		<div
			class="col-md-2 mode-transport-icon-size"
			*ngIf="listModeTransport && listModeTransport.length"
		>
			<i class="{{ getModeTransportIcon(infosTransport?.xEcModeTransport) }}"></i>
		</div>
		<div class="col-md-5 padding-right-0 text-center destination" [ngClass]="{ sm: isSmallerSize }">
			<div>
				<span
					class="mouseOver"
					title="{{ infosTransport?.destination?.city }} , {{
						infosTransport?.destination?.country
					}}"
					>{{ infosTransport?.destination?.country }} <br />...
				</span>
			</div>
		</div>
	</div>
</div>
