<ngb-tabset
	#tabset
	[activeId]="selectedTab"
	[justify]="'start'"
	md-selected="1"
	md-stretch-tabs="always"
	(tabChange)="onTabChange($event)"
>
	<ngb-tab title="{{ alertsTitle }}" id="alert">
		<ng-template ngbTabContent>
			<ng-container *ngIf="alerts">
				<div infiniteScroll [infiniteScrollDistance]="2" 
					(scrolled)="onScroll()" [scrollWindow]="false" 
					class="scroller" style="    height: 23em;">
					<div
						class="notify-notifs d-flex-ai-fs d-flex-w  "
						*ngFor="let notif of alerts; let i = index"
					>
						<div class="notify-desc text-left width-100-percent">
							<app-notification-item [notif]="notif" [index]="i" [listAlert]="alerts">
							</app-notification-item>
						</div>
					</div>
				</div>
			</ng-container>
		</ng-template>
	</ngb-tab>
	<ngb-tab *ngIf="acls[ACL.Rule.Home_Notifiction_Enable]" title="{{ notifsTitle }}" id="notify">
		<ng-template ngbTabContent>
			<ng-container *ngIf="notifications">
				<div infiniteScroll [infiniteScrollDistance]="2" 
					(scrolled)="onScroll()" [scrollWindow]="false" 
					class="scroller" style="    height: 23em;">
					<div
						class="notify-notifs d-flex-ai-fs d-flex-w"
						*ngFor="let notif of notifications; let i = index"
					>
						<div style="width: 100%;">
							<app-notification-item
								[notif]="notif"
								[index]="i"
								[listNotification]="notifications"
							>
							</app-notification-item>
						</div>
					</div>
				</div>
			</ng-container>
		</ng-template>
	</ngb-tab>
	<ngb-tab title="{{ msgTitle }}" id="msg">
		<ng-template ngbTabContent>
			<ng-container *ngIf="messages">
				<div infiniteScroll [infiniteScrollDistance]="2" 
					(scrolled)="onScroll()" [scrollWindow]="false" 
					class="scroller" style="    height: 23em;">
					<div
						class="notify-notifs d-flex-ai-fs d-flex-w"
						*ngFor="let notif of messages; let i = index"
					>
						<div style="width: 100%;">
							<app-notification-item [notif]="notif" [index]="i" [listMessages]="messages">
							</app-notification-item>
						</div>
					</div>
				</div>
			</ng-container>
		</ng-template>
	</ngb-tab>
	<ngb-tab [disabled]="true">
		<ng-template ngbTabTitle>
			<span class="panel-controls" class="hidden">
				<a class="panel-control-collapse"></a>
				<a class="panel-control-fullscreen" href="#"></a>
			</span>
		</ng-template>
	</ngb-tab>
</ngb-tabset>
