<div class="content_wrapper app-padding">
	<!-- <button class="btn btn-primary" (click)="remplireTableLivraison()">RESET DATABASE LIVRAISON</button> -->
	<app-delivery-search
		#deliverySearchComponent
		[component]="GenericTableScreen.DELIVERY_DASHBOARD"
		(onSearch)="search($event)"
		[initParamFields]="initParamFields"
		[listFields]="listFields"
		[listCategorie]="listCategorie"
		[module]="module"
	></app-delivery-search>
	<app-generic-table-ccp
		#genericTable
		[module]="Modules.DELIVERY_MANAGEMENT"
		[searchInput]="searchCriteria"
		[dataInfos]="dataInfos"
		[detailsInfos]="detailsInfos"
		[isHorizontalScrollAlwaysVisible]="false"
		[component]="GenericTableScreen.DELIVERY_DASHBOARD"
		[scrollHeight]="264"
		[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
		[parentContext]="this"
		(onCheckRow)="onCheckRow()"
		(listCategorieEmitter)="onListCategorieLoaded($event)"
		(listFieldsEmitter)="onListFieldLoaded($event)"
		[showCustomFieldsMainTable]="true"
		[showCategoriesMainTable]="true"
		[showCustomFieldsSubTable]="true"
		[showCategoriesSubTable]="true"
	>
	</app-generic-table-ccp>
</div>
