<div class="">
	<app-generic-table
		*ngIf="this.dataInfos.cols && this.dataInfos.cols.length > 0"
		#genericTable
		[hideTable]="isAddTypeRequest"
		[title]="'SETTINGS.TYPE_OF_REQUEST' | translate"
		[searchInput]="searchInput"
		[dataInfos]="dataInfos"
		[detailsInfos]="null"
		(addFormEmitter)="displayAddTypeRequest()"
		(editFormEmitter)="diplayEditTypeRequest($event)"
		(deleteEventEmitter)="activatedTypeRequest($event)"
		(onDataLoaded)="onDataLoaded($event)"
		[component]="GenericTableScreen.SETTINGS_TYPE_OF_REQUEST"
		[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
	>
		<form
			class="generic-default"
			formcontent
			*ngIf="isAddTypeRequest"
			role="form"
			#formCtrlAdminTypeRequest="ngForm"
		>
			<div class="form-content col-sm-12 margin-top-10">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12 form-group row">
						<div class="col-md-3">
							<label>{{ "TYPE_REQUEST.REFERENCE" | translate }}</label>
						</div>
						<diV class="col-md-9">
							<input
								type="text"
								ngControl="referenceCtrl"
								[(ngModel)]="typeRequest.reference"
								name="reference"
								class="form-control input-underline input-xs"
								required
							/>
						</diV>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 form-group row">
						<div class="col-md-3">
							<label>{{ "TYPE_REQUEST.LABEL" | translate }}</label>
						</div>
						<diV class="col-md-9">
							<input
								type="text"
								ngControl="labelleCtrl"
								[(ngModel)]="typeRequest.libelle"
								name="labelle"
								class="form-control input-underline input-xs"
							/>
						</diV>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 form-group row">
						<div class="col-md-4">
							<label>{{ "TYPE_REQUEST.DELAI_CHRONO_PRICING" | translate }}</label>
						</div>
						<div class="col-md-8">
							<input
								type="number"
								ngControl="delaiChronoPricingCtrl"
								[(ngModel)]="typeRequest.delaiChronoPricing"
								name="delaiChronoPricing"
								class="form-control input-underline input-xs"
							/>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 form-group row">
						<div class="col-md-4">
							<label>{{ "TYPE_REQUEST.SENSE_CHRONO_PRICING" | translate }}</label>
						</div>
						<div class="col-md-8">
							<!-- <select class="form-control input-xs padding-all-3" [(ngModel)]="typeRequest.sensChronoPricing" name="sensChronoPricing"
                ngControl="sensChronoPricingCtrl">
                <option selected [ngValue]="null"></option>
                <option *ngFor="let item of listSenseChronoPricing" [ngValue]="item.code"> {{'TYPE_REQUEST.SENSE_CHRONO_PRICING_VALUES.' + item.key | translate}}</option>
              </select> -->
							<div
								class="col-md-6 new-formcontrol row"
								*ngFor="let item of listSenseChronoPricing; let i = index"
							>
								<label class="col-md-6">
									<input
										type="radio"
										name="itemSCP{{ i }}"
										[value]="item.code"
										[(ngModel)]="typeRequest.sensChronoPricing"
									/>
									{{ "TYPE_REQUEST.SENSE_CHRONO_PRICING_VALUES." + item.key | translate }}
								</label>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 form-group row">
						<div class="col-md-6">
							<label>{{ "TYPE_REQUEST.BLOCAGE_RESPONSE_PRICING" | translate }}</label>
						</div>
						<div class="col-md-6">
							<!-- <select class="form-control input-xs padding-all-3" [(ngModel)]="typeRequest.blocageResponsePricing" name="blocageResponsePricing"
                ngControl="blocageResponsePricingCtrl">
                <option selected [ngValue]="null"></option>
                <option *ngFor="let item of listBlocageResponsePricing" [ngValue]="getBooleanByCode(item.code)"> {{'TYPE_REQUEST.BLOCAGE_RESPONSE_PRICING_VALUES.' + item.key | translate}} </option>
              </select> -->
							<div
								class="col-md-6 new-formcontrol"
								*ngFor="let item of listBlocageResponsePricing; let i = index"
							>
								<label class="">
									<input
										type="radio"
										name="itemBRP{{ i }}"
										[value]="item.code"
										[(ngModel)]="typeRequest.blocageResponsePricing"
									/>
									{{ "TYPE_REQUEST.BLOCAGE_RESPONSE_PRICING_VALUES." + item.key | translate }}
								</label>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 form-group row">
						<div class="col-md-4">
							<label>{{ "TYPE_REQUEST.ACTIVATED" | translate }}</label>
						</div>
						<div class="col-md-4">
							<div
								class="col-md-6 new-formcontrol"
								*ngFor="let item of listActivatedRequest; let i = index"
							>
								<label class="">
									<input
										type="radio"
										name="itemActv{{ i }}"
										[value]="item.code"
										[(ngModel)]="typeRequest.activated"
									/>
									{{ "GENERAL." + item.key | translate }}
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="form-content col-sm-12 text-right margin-bottom-10">
					<div class="col-md-12">
						<button
							*ngIf="typeRequest != null && typeRequest.ebTypeRequestNum == null"
							class="btn btn-sm btn-success btn-shadow"
							[disabled]="!formCtrlAdminTypeRequest.valid"
							(click)="addTypeRequest(false)"
						>
							{{ "COMPANY_PROFILE.BTN_AJOUTER" | translate }}
						</button>
						<button
							*ngIf="typeRequest != null && typeRequest.ebTypeRequestNum != null"
							class="btn btn-sm btn-success btn-shadow"
							[disabled]="!formCtrlAdminTypeRequest.valid"
							(click)="addTypeRequest(true)"
						>
							{{ "COMPANY_PROFILE.BTN_MODIFIER" | translate }}
						</button>
						<button class="btn btn-sm btn-success btn-shadow" (click)="backToListTypeRequests()">
							{{ "GENERAL.CANCEL" | translate }}
						</button>
					</div>
				</div>
			</div>
		</form>
	</app-generic-table>
</div>
