<ngb-tabset type="pills">
	<ngb-tab title="Réçues">
		<ng-template ngbTabContent>
			<div class="row margin-tb-10">
				<div *ngFor="let ReceivingRequest of user.receivingResquest; let i = index" class="card">
					<div class="card-7 card-body col-md-3">
						<div class="container center">
							<img src="../../../../../assets/ressources1/img/avatars/img_avatar.png" width="10%" />
							<h5>
								{{ ReceivingRequest.expediteur.nom }} {{ ReceivingRequest.expediteur.prenom }}
							</h5>
							<h6>{{ ReceivingRequest.expediteur.ebEtablissement.nom }}</h6>
							<h6>{{ ReceivingRequest.expediteur.email }}</h6>
							<h6>{{ ReceivingRequest.dateCreation | date: "dd-MM-yy" }}</h6>

							<button class="btn btn-success" (click)="accepterRelation(i)">Accepter</button>
							<button class="btn" (click)="ignorerRelation(i)">Ignorer</button>
						</div>
					</div>
				</div>
			</div>
		</ng-template>
	</ngb-tab>
	<ngb-tab title="Envoyées">
		<ng-template ngbTabContent>
			<div class="row margin-tb-10">
				<div *ngFor="let SendingRequest of user.sendingRequest; let i = index">
					<div class="card-8 col-md-2">
						<div class="container center">
							<div *ngIf="SendingRequest.destinataire != null">
								<img src="../../../../../assets/ressources1/img/avatars/add.png" width="10%" />
								<h5>
									{{ SendingRequest.destinataire.nom }} {{ SendingRequest.destinataire.prenom }}
								</h5>
								<h6>{{ SendingRequest.destinataire.ebEtablissement.nom }}</h6>
								<h6>{{ SendingRequest.destinataire.email }}</h6>
								<h6>{{ SendingRequest.dateCreation | date: "dd-MM-yy" }}</h6>
							</div>

							<div *ngIf="SendingRequest.ebEtablissementDestinataire != null">
								<img src="../../../../../assets/ressources1/img/avatars/add.png" width="10%" />
								<h5>{{ SendingRequest.ebEtablissementDestinataire.nom }}</h5>
								<h6>{{ SendingRequest.ebEtablissementDestinataire.email }}</h6>
								<h6>{{ SendingRequest.ebEtablissementDestinataire.adresse }}</h6>
								<h6>{{ SendingRequest.dateCreation | date: "dd-MM-yy" }}</h6>
							</div>
						</div>
						<button class="btn btn-danger center-block" (click)="annulerRelation(i)">
							Annuler
						</button>
					</div>
				</div>
			</div>
		</ng-template>
	</ngb-tab>
	<ngb-tab [disabled]="true">
		<ng-template ngbTabTitle>
			<span class="panel-controls">
				<a (click)="panelCollapseTabs(panel3)" class="panel-control-collapse"></a>
				<a class="panel-control-fullscreen" href="#"></a>
			</span>
		</ng-template>
	</ngb-tab>
</ngb-tabset>
