.progress_adias {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  color: #849397;
}
.progress_adias > li {
  position: relative;
  display: table-cell;
  text-align: center;
  font-size: 0.8em;
}
.progress_adias > li:before {
  content: attr(data-step);
  display: block;
  margin: 0 auto;
  background: #DFE3E4;
  width: 3em;
  height: 3em;
  border-radius:50%;
  text-align: center;
  margin-bottom: 0.25em;
  line-height: 3em;
  position: relative;
  z-index: 1;
}
.progress_adias > li:after {
  content: '';
  position: absolute;
  display: block;
  background: #DFE3E4;
  width: 100%;
  height: 0.5em;
  top: 1.25em;
  left: 50%;
  margin-left: 1.5em\9;
}
.progress_adias > li:last-child:after {
  display: none;
}
.progress_adias > li.is-complete {
  color: #2ECC71;
}
.progress_adias > li.is-complete:before, .progress_adias > li.is-complete:after {
  color: #FFF;
  background: #2ECC71;
}
.progress_adias > li.is-active {
  color: #3498DB;
}

.progress_adias > li.is-active:before {
  color: #FFF;
  background: #3498DB;
}
.progress_adias > li.class-red {
  color: black;
}

.progress_adias > li.class-red:before {
  color: #FFF;
  background: #C00000;
}

//-----------------------------
.progress_adias > li.class-yellow{
  color: black;
}

.progress_adias > li.class-yellow:before {
  color: black;
  background: yellow;
}
.progress_adias > li.class-green{
  color: black;
}

.progress_adias > li.class-green:before {
  color: #FFF;
  background: green;
}
.progress_adias > li.class-gray{
  color: gray;
}

.progress_adias > li.class-gray:before {
  color: #FFF;
  background: gray;
}

/**
 * Size Extensions
 */
.progress_adias--medium {
  font-size: 1.5em;
}

.progress_adias--large {
  font-size: 2em;
}

/**
 * Some Generic Stylings
 */
*, *:after, *:before {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 1.5em;
}

.progress_adias {
  margin-bottom: 0em;
}

a {
  color: #3498DB;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
