<div class="new-design_details-header col-md-12 padding-0">
	<div class="details-steps">
		<ng-container *ngFor="let ebpslapp of listOfPslApps; let i = index">
			<div *ngIf="ebpslapp.importance == TypeImportance.MAJEUR" class="step-wrapper">
				<div
					class="step-container"
					class="{{ ebpslapp.validated ? 'bg-selected' : 'bg-disabled' }}"
				>
					<div class="step-status">
						{{ ebpslapp?.nom }}
					</div>
					<div class="step-date color-primary">
						{{ ebpslapp?.date | date: "dd/MM/yyyy HH:mm" }}
						<span *ngIf="ebpslapp?.nature != null && !(ebpslapp?.nature === '')"
							>({{ "TRACK_TRACE." + ebpslapp.nature | translate }})</span
						>
					</div>
				</div>
			</div>
		</ng-container>
		<div class="details-time_remaining">
			<span class="tr-jours"
				><span class="colored">{{ result["nbrOfDays"] }}</span
				>D</span
			>
			<span class="tr-heure"
				><span class="colored">{{ result["nbrOfHours"] }}</span
				>H</span
			>
			<span class="tr-minutes"
				><span class="colored">{{ result["nbrOfMin"] }}</span
				>min</span
			>
		</div>
	</div>
</div>
