<div class="cursor-pointer" routerLink="{{ card.link }}">
	<div class="col-md-12">
		<app-vignette-header [infosTransport]="infosTransport"></app-vignette-header>
	</div>
	<div class="col-md-10 col-md-offset-1">
		<div class="row">
			<div class="col-md-2">
				<i
					title="{{ card.module }}"
					class=" padding-top-5 icon-module my-icon-{{
						Statique.getModuleIconByModuleNum(card.xEcModule)
					}}"
				></i>
			</div>
			<div class="col-md-10 ">
				<div class="">
					<label>{{ "GENERAL.VIGNETTE_FAVORIS.REF" | translate }} :</label
					><span class="bold"> {{ card.ref }}</span>
				</div>
				<div *ngIf="!isChargeur && card.chargeur">
					<label>{{ "GENERAL.VIGNETTE_FAVORIS.SHIPPER" | translate }} :</label
					><span class="bold"> {{ card.chargeur }}</span>
				</div>
				<div *ngIf="!isPrestataire && card.transporteur">
					<label>{{ "GENERAL.VIGNETTE_FAVORIS.CARRIER" | translate }} :</label
					><span class="bold"> {{ card.transporteur }}</span>
				</div>
				<div>
					<span class="bold card-status">{{  ("PRICING_BOOKING." +
					Statique.getStatusByLibelle(card.statutStr | uppercase)) | translate }}</span>
				</div>
			</div>
		</div>
	</div>
</div>
