<div class="config-type-flux">
	<div class="trpl-zone-settings-root">
		<app-generic-table
			#genericTable
			[title]="'SETTINGS.COSTS' | translate"
			[hideTable]="isAddObject"
			[searchInput]="searchCriteria"
			[dataInfos]="dataInfos"
			[detailsInfos]="null"
			(addFormEmitter)="displayAdd($event)"
			(editFormEmitter)="diplayEdit($event)"
			(deleteEventEmitter)="deleteData($event)"
			[component]="GenericTableScreen.ADDITIONAL_COST"
			[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
			[module]="module"
		>
			<form class="generic-default" formcontent *ngIf="isAddObject" role="form" #formCtrl="ngForm">
				<div class="form-content col-sm-4 margin-top-10">
					<div class="col-md-6 col-sm-12 col-xs-12 form-group">
						<label class="required">{{ "GENERAL.CODE" | translate }}</label>
						<div>
							<input
								type="text"
								[(ngModel)]="dataObject.code"
								name="code"
								class="form-control input-underline input-xs"
								(blur)="verifyCodeExistance()"
							/>
						</div>
					</div>
				</div>

				<div class="form-content col-sm-4 margin-top-10">
					<div class="col-md-6 col-sm-12 col-xs-12 form-group">
						<label class="required">{{ "GENERAL.LIBELLE" | translate }}</label>
						<div>
							<input
								type="text"
								[(ngModel)]="dataObject.libelle"
								name="libelle"
								class="form-control input-underline input-xs"
							/>
						</div>
					</div>
				</div>

				<div class="form-content col-sm-4 margin-top-10">
					<div class="col-md-6 col-sm-12 col-xs-12 form-group">
						<label>{{ "TYPE_REQUEST.ACTIVATED" | translate }}</label>
						<div>
							<input
								type="checkbox"
								[(ngModel)]="dataObject.actived"
								name="dataObject.actived"
								class="form-control input-underline input-xs"
							/>
						</div>
					</div>
				</div>

				<div class="form-content col-sm-12 text-right margin-bottom-10">
					<div class="col-md-12">
						<button
							*ngIf="dataObject && !dataObject.ebAdditionalCostNum"
							class="btn btn-sm btn-success btn-shadow"
							[disabled]="!isFormValidated()"
							(click)="addAdditionalCost($event)"
						>
							{{ "COMPANY_PROFILE.BTN_AJOUTER" | translate }}
						</button>
						<button
							*ngIf="dataObject && dataObject.ebAdditionalCostNum"
							class="btn btn-sm btn-success btn-shadow"
							[disabled]="!isFormValidated()"
							(click)="editAdditionalCost($event)"
						>
							{{ "COMPANY_PROFILE.BTN_MODIFIER" | translate }}
						</button>
						<button class="btn btn-sm btn-success btn-shadow" (click)="backToList()">
							{{ "GENERAL.CANCEL" | translate }}
						</button>
					</div>
				</div>
			</form>
		</app-generic-table>
	</div>
</div>
