<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>MyTower - About Dev</title>
</head>
<body>
<h1>MyTower</h1>
<h2>About dev</h2><br/>

<table>
	<tr>
		<th>Key</th>
		<th>Value</th>
	</tr>
	<tr>
		<td>Git Revision</td>
		<td><span th:text="${about.gitRevision}"></span></td>
	</tr>
	<tr>
		<td>Git Message</td>
		<td><span th:text="${about.gitMessage}"></span></td>
	</tr>
	<tr>
		<td>Active Profiles</td>
		<td><span th:text="${about.activeProfiles}"></span></td>
	</tr>
	<tr>
		<td>Build Date</td>
		<td><span th:text="${about.buildDate}"></span></td>
	</tr>
	<tr>
		<td>Version</td>
		<td><span th:text="${about.version}"></span></td>
	</tr>
</table>

</body>
</html>