<div class="trpl-tranches-settings-root">
	<app-generic-table
		#genericTable
		[hideTable]="isAddTranche"
		[title]="'TRANSPORTATION_PLAN.TRANCHES' | translate"
		[searchInput]="searchCriteria"
		[dataInfos]="dataInfos"
		[detailsInfos]="null"
		(addFormEmitter)="displayAddTranche($event)"
		(editFormEmitter)="diplayEditTranche($event)"
		(deleteEventEmitter)="deleteTranche($event)"
		(onDataLoaded)="onDataLoaded($event)"
		[component]="GenericTableScreen.SETTINGS_TRANCHE"
		[isHorizontalScrollAlwaysVisible]="true"
		[scrollHeight]="350"
		[sharedDropDownZIndex]="sharedDropDownZIndex"
		(sharedDropDownZIndexEmit)="sharedDropDownZIndexChange(sharedDropDownZIndex)"
		[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
	>
		<form
			class="generic-default"
			formcontent
			*ngIf="isAddTranche"
			role="form"
			#formCtrlAdminTranche="ngForm"
		>
			<div class="form-content col-sm-12 margin-top-10">
				<div class="col-md-3 col-sm-4 col-xs-12 form-group">
					<label>{{ "TRANSPORTATION_PLAN.TRANCHES_MINIMUM" | translate }}</label>
					<div>
						<input
							type="number"
							ngControl="minimumCtrl"
							[(ngModel)]="tranche.minimum"
							name="minimum"
							class="form-control input-underline input-xs"
							(ngModelChange)="changeModel(formCtrlAdminTranche)"
							required
						/>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12 form-group">
					<label>{{ "TRANSPORTATION_PLAN.TRANCHES_MAXIMUM" | translate }}</label>
					<div>
						<input
							type="number"
							ngControl="maximumCtrl"
							[(ngModel)]="tranche.maximum"
							name="maximum"
							class="form-control input-underline input-xs"
							(ngModelChange)="changeModel(formCtrlAdminTranche)"
							required
						/>
					</div>
				</div>
			</div>

			<div class="form-content col-sm-12 text-right margin-bottom-10">
				<div class="col-md-12">
					<button
						*ngIf="tranche != null && tranche.ebTrancheNum == null"
						class="btn btn-sm btn-success btn-shadow"
						[disabled]="!formCtrlAdminTranche.valid"
						(click)="addTranche()"
					>
						{{ "COMPANY_PROFILE.BTN_AJOUTER" | translate }}
					</button>
					<button
						*ngIf="tranche != null && tranche.ebTrancheNum != null"
						class="btn btn-sm btn-success btn-shadow"
						[disabled]="!formCtrlAdminTranche.valid"
						(click)="editTranche()"
					>
						{{ "COMPANY_PROFILE.BTN_MODIFIER" | translate }}
					</button>
					<button class="btn btn-sm btn-success btn-shadow" (click)="backToListTranche()">
						{{ "GENERAL.CANCEL" | translate }}
					</button>
				</div>
			</div>
		</form>
	</app-generic-table>
</div>
