<!-- <button type="button" [ngClass]="buttonClick == 'account settings' ? 'btn-primary': 'btn-secondary' " class="btn"
    routerLink="/app/user/settings/account-settings" (click)="clickFortab('account settings')">Account Settings</button>
<button type="button" [ngClass]="buttonClick == 'cummunity' ? 'btn-primary': 'btn-secondary' " class="btn" routerLink="/app/user/settings/community"
    (click)="clickFortab('cummunity')">My community</button>
<button type="button" [ngClass]="buttonClick == 'company' ? 'btn-primary': 'btn-secondary' " class="btn" routerLink="/app/user/settings/company"
    (click)="clickFortab('company')">My company</button>
<button type="button" [ngClass]="buttonClick == 'alerts' ? 'btn-primary': 'btn-secondary' " class="btn" routerLink="/app/user/settings/alerts"
    (click)="clickFortab('alerts')">My Alerts</button>
<button type="button" [ngClass]="buttonClick == 'homePage' ? 'btn-primary': 'btn-secondary' " class="btn" routerLink="/app/user/settings/button-actions"
    (click)="clickFortab('homePage')">HomePage actions</button> -->

<div class="settings-root">
	<div class="head-tabs tabs-style-underline">
		<nav>
			<ul>
				<li
					[ngClass]="buttonClick == 'account settings' ? 'tab-current' : ''"
					(click)="clickFortab('account settings')"
				>
					<a routerLink="/app/user/settings/account-settings" class="icon fa fa-user"
						><span>{{ "SETTINGS.ACCOUNT_SETTINGS" | translate }}</span></a
					>
				</li>
				<li
					[ngClass]="buttonClick == 'cummunity' ? 'tab-current' : ''"
					(click)="clickFortab('cummunity')"
				>
					<a routerLink="/app/user/settings/community" class="icon fa fa-users"
						><span>{{ "SETTINGS.MY_COMMUNITY" | translate }}</span></a
					>
				</li>
				<li
					[ngClass]="buttonClick == 'company' ? 'tab-current' : ''"
					(click)="clickFortab('company')"
				>
					<a routerLink="/app/user/settings/company" class="icon fa fa-building"
						><span>{{ "SETTINGS.MY_COMPANY" | translate }}</span></a
					>
				</li>
				<li
					[ngClass]="buttonClick == 'alerts' ? 'tab-current' : ''"
					(click)="clickFortab('alerts')"
				>
					<a routerLink="/app/user/settings/alerts" class="icon fa fa-bell"
						><span>{{ "SETTINGS.MY_ALERTS" | translate }}</span></a
					>
				</li>
				<li
					[ngClass]="buttonClick == 'homePage' ? 'tab-current' : ''"
					(click)="clickFortab('homePage')"
				>
					<a routerLink="/app/user/settings/button-actions" class="icon fa fa-server"
						><span>{{ "SETTINGS.HOMEPAGE_ACTIONS" | translate }}</span></a
					>
				</li>
			</ul>
		</nav>
	</div>
	<div *ngIf="breadcrumbsItemsConfig?.length" class="actionbar-wrapper">
		<div class="breadcrumb-wrapper d-flex-jc-sb d-flex-ai-c ">
			<app-breadcrumb [options]="breadcrumbsItemsConfig"></app-breadcrumb>
		</div>
	</div>
	<div class="settings-content">
		<router-outlet></router-outlet>
	</div>
</div>
