@import "../../../../styles/variables";

/*Business Card Css */

.business-card {
	height: 100%;
	border: 1px solid $gray-light;
	background: #fff;
	border-radius: 4px;
	margin-bottom: 10px;
	box-shadow: 0 1px 2px 0 $black-box-shadow;
	padding: 5px;
	&:hover {
		.btn-edit-tags {
			opacity: 1;
			visibility: visible;
			cursor: pointer;
		}
	}
	&.height-auto {
		height: auto;
	}
}

.business-card.green {
	border-left: 5px solid $primary-color;
	/* green */
}

.business-card.grey {
	border-left: 5px solid $gray-light;
	/* grey */
}

.business-card.yellow {
	border-left: 5px solid $yellow;
	/* yellow */
}

.business-card.red {
	border-left: 5px solid $red;
	/* red */
}

.business-card:hover {
	box-shadow: 0 4px 8px 0 $black-box-shadow;
}

.profile-img {
	height: 120px;
	background: $white;
}

.job {
	color: $gray-dark;
	font-size: $fz-base;
}

.mail {
	font-size: $fz-base;
}

h4 {
	font-size: 18px !important;
}

.disabled-img {
	opacity: 0.4 !important;
}

.disabled-div {
	background-color: $gray-dark !important;
}

.btn.focus {
	outline: none !important;
}

.disabled-btn {
	opacity: 0.5 !important;
	pointer-events: none !important;
}

/*
.business-card-container button.dropdown-toggle{
	background-color: inherit!important;
} */

.business-card-container .menu-item {
	position: absolute;
	right: 9px;
	top: 7px;
	z-index: 1;
}

.business-card-container .menu-item i.fa-caret-down {
	transform: rotate(0);
	transition: all 0.2s ease-in-out;
}

.business-card-container .menu-item.show i.fa-caret-down {
	transform: rotate(-90deg);
}

.business-card-container .menu-item .dropdown-menu {
	padding: 0;
}

.business-card-container .menu-item .dropdown-menu button {
	width: 100%;
	margin-left: 0 !important;
}

.media-right {
	height: calc(145px - 25px);
}

.dropdown-menu {
	left: 25px !important;
	background: transparent;
	width: 114px;
	min-width: inherit;
	margin: 0;
	border: none;
	box-shadow: none;
}

/******************* Page Structure *************************/

.settings-root {
	overflow: hidden;
	display: flex;
	flex-flow: column;
	height: 100%;
	.settings-content {
		overflow: auto;
		flex: 1 0 0;
		padding-left: $global-padding;
		padding-right: $global-padding;
	}
	// Hack for IE 11
	_:-ms-fullscreen {
		.settings-content {
			height: 100%;
		}
	}
	.head-tabs {
		flex: 0 0 40px;
	}
}

/******************* END Page Structure *************************/

/******************* head nav tabs **************************/

.head-tabs {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	font-weight: 300;
	font-size: 1.25em;
	/* Nav */
	nav {
		text-align: center;
		background: #fff;
		ul {
			position: relative;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: flex;
			// margin: 0 auto;
			padding: 0;
			//max-width: 850px;
			list-style: none;
			-ms-box-orient: horizontal;
			-ms-box-pack: center;
			-webkit-flex-flow: row wrap;
			-moz-flex-flow: row wrap;
			-ms-flex-flow: row wrap;
			flex-flow: row wrap;
			-webkit-justify-content: center;
			-moz-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			a {
				position: relative;
				display: block;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				line-height: 1.5;
				padding: 0.25em 0 0.5em;
				border-left: 1px solid #e7ecea;
				-webkit-transition: color 0.2s;
				transition: color 0.2s;
				span {
					vertical-align: middle;
					font-size: 0.75em;
					font-weight: 700;
					color: #959595;
				}
				&:focus {
					outline: none;
				}
				/* Icons */
				&.icon::before {
					z-index: 10;
					display: inline-block;
					margin: 0 0.4em 0 0;
					vertical-align: middle;
					text-transform: none;
					font-weight: normal;
					font-variant: normal;
					font-size: $fz-base;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					color: #959595;
				}
				&::after {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 6px;
					content: "";
					-webkit-transition: -webkit-transform 0.4s ease-in-out;
					transition: transform 0.4s ease-in-out;
					-webkit-transform: translate3d(0, 150%, 0);
					transform: translate3d(0, 150%, 0);
				}
			}
			li {
				position: relative;
				z-index: 1;
				display: block;
				margin: 0;
				text-align: center;
				-webkit-flex: 1;
				-moz-flex: 1;
				-ms-flex: 1;
				flex: 1;
				&:last-child a {
					border-right: 1px solid #e7ecea;
				}
				&.tab-current {
					a::after {
						-webkit-transform: translate3d(0, 0, 0);
						transform: translate3d(0, 0, 0);
					}
				}
			}
		}
	}
}

@media screen and (max-width: 58em) {
	.head-tabs nav a.icon span {
		display: none;
	}
	.head-tabs nav a:before {
		margin-right: 0;
	}
}

/*************** End head nav tabs *******************/

/*************** file d'ariane ********************/

.actionbar-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fafafa none repeat scroll 0 0 !important;
	border-bottom: 1px solid #e0e0e0;
	min-height: 40px;
	max-height: 40px;
	position: relative;
	z-index: 1000;
	width: calc(100% + 8px);
	margin-left: -4px; // la div parente du setting a du padding 4px
}

.breadcrumb-wrapper {
	padding: 8px;
	width: 100%;
}
