@import "../../../../../../styles/variables";
::ng-deep .order-step-units .ui-dropdown .ui-dropdown-label {
	padding-right: 35px !important;
	padding-top: 7px;
}
span,
a {
	#module-icon {
		font-size: 24px !important;
	}
	#cancel-icon {
		font-size: 30px !important;
	}
}
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted white;
}

.totaux-card-content {
	position: relative;
	height: 80px;
	background-color: white;
	min-width: 140px;
	margin-top: 30px;
	margin-left: 20px;
	box-shadow: 1px 1px 10px rgb(230, 228, 228);
}

.clearflix1 {
	position: relative;
	top: -100px;
	left: 20px;
	margin-left: 40px;
	max-width: 55px;
	height: 50px;
	box-shadow: 1px 1px 10px rgb(230, 228, 228);
}

.module-icon {
	font-size: 20px !important;
	color: white;
	width: 100%;
	height: 100%;
	position: absolute;
	align-items: center;
	justify-content: center;
	transform: translate(30%, 25%);
}
.txt-quantity {
	margin-top: 30px;
	text-indent: 15px;
	font-size: smaller;
}
.text-right {
	padding-right: 10px;
	margin-left: 8px;
}

.totaux-root {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	max-height: 140px;
}
