<p-panel
	panel
	[toggleable]="true"
	[style]="{ 'margin-bottom': '8px', 'margin-left': '5px', 'margin-right': '5px' }"
	[class]="'unit-table'"
>
	<p-header>
		<div class="col-md-12 padding-0">
			<div class="col-md-12">
				<span class="pull-left panel-heading heading-table">
					{{ "PRICING_BOOKING.UNITS" | translate }}
				</span>
				<div *ngIf="order.ebDelOrderNum" class="form-group">
					<input
						(keyup)="searchElement($event.target.value)"
						class="pull-right form-control input-sm marge"
						[(ngModel)]="searchTerm"
						style="width: 200px !important; margin-right: 4px !important;"
						name="searchTerm"
						placeholder="{{ 'PRICING_BOOKING.ENTER_REFERENCE' | translate }}"
						type="search"
					/>
				</div>
			</div>
		</div>
	</p-header>
	<div style="margin-top: 5px;" *ngIf="order.ebDelOrderNum">
		<div
			class="totaux-root"
			*ngIf="
				(order.totalQuantityPlanned ||
					order.totalQuantityPacked ||
					order.totalQuantityShipped ||
					order.totalQuantityDelivered ||
					order.totalQuantityPrepared ||
					order.totalQuantityCanceled) > 0
			"
		>
			<div *ngIf="order.totalQuantityPlanned > 0" class="totaux-card">
				<div class="totaux-card-content shadow p-3 mb-5 bg-white">
					<a class="" (click)="toggleNewOptions()">
						<div class="text-right">
							<span>{{ order.totalQuantityPlanned }}</span>
						</div>
						<div class="txt-quantity ">
							<span>{{ "ORDER.TOTAL_PLANNED_QUANTITY" | translate }}</span>
						</div>
					</a>
				</div>
				<div class="clearflix1" style="background-color:#1be4c2">
					<div class="module-icon">
						<span class="my-icon-delivery-management "></span>
					</div>
				</div>
			</div>

			<div *ngIf="order.totalQuantityPrepared > 0" class="totaux-card">
				<div class="totaux-card-content shadow p-3 mb-5 bg-white" style="width: 141px !important;">
					<a class="" (click)="toggleNewOptions()">
						<div class="text-right">
							<span>{{ order.totalQuantityPrepared }}</span>
						</div>
						<div class="txt-quantity ">
							<span>{{ "ORDER.TOTAL_PREPARED_QUANTITY" | translate }}</span>
						</div>
					</a>
				</div>
				<div class="clearflix1" style="background-color:#e41b68">
					<div class="module-icon">
						<span class="my-icon-shipement"></span>
					</div>
				</div>
			</div>

			<div *ngIf="order.totalQuantityPacked > 0" class="totaux-card">
				<div class="totaux-card-content shadow p-3 mb-5 bg-white">
					<a class="" (click)="toggleNewOptions()">
						<div class="text-right">
							<span>{{ order.totalQuantityPacked }}</span>
						</div>
						<div class="txt-quantity ">
							<span>{{ "ORDER.TOTAL_PACKED_QUANTITY" | translate }}</span>
						</div>
					</a>
				</div>
				<div class="clearflix1" style="background-color:#F79E02;  ">
					<div class="module-icon">
						<span class="my-icon-order "></span>
					</div>
				</div>
			</div>

			<div *ngIf="order.totalQuantityShipped > 0" class="totaux-card">
				<div class="totaux-card-content shadow p-3 mb-5 bg-white">
					<a class="" (click)="toggleNewOptions()">
						<div class="text-right">
							<span>{{ order.totalQuantityShipped }}</span>
						</div>
						<div class="txt-quantity ">
							<span>{{ "ORDER.TOTAL_SHIPPED_QUANTITY" | translate }}</span>
						</div>
					</a>
				</div>
				<div class="clearflix1" style="background-color:  #80C904">
					<div class="module-icon">
						<span class="my-icon-trans-management "></span>
					</div>
				</div>
			</div>

			<div *ngIf="order.totalQuantityDelivered > 0" class="totaux-card">
				<div class="totaux-card-content shadow p-3 mb-5 bg-white">
					<a class="" (click)="toggleNewOptions()">
						<div class="text-right">
							<span>{{ order.totalQuantityDelivered }}</span>
						</div>
						<div class="txt-quantity ">
							<span>{{ "ORDER.TOTAL_DELIVERED_QUANTITY" | translate }}</span>
						</div>
					</a>
				</div>
				<div class="clearflix1" style="background-color:rgb(73, 164, 250); ">
					<div class="module-icon">
						<span class="my-icon-track  "></span>
					</div>
				</div>
			</div>

			<div *ngIf="order.totalQuantityCanceled > 0" class="totaux-card">
				<div class="totaux-card-content shadow p-3 mb-5 bg-white">
					<a (click)="toggleNewOptions()">
						<div class="text-right">
							<span>{{ order.totalQuantityCanceled }}</span>
						</div>
						<div class="txt-quantity ">
							<span>{{ "ORDER.TOTAL_CANCELED_QUANTITY" | translate }}</span>
						</div>
					</a>
				</div>
				<div class="clearflix1" style="background-color: firebrick;">
					<div class="module-icon">
						<span class="pi pi-trash  "></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 padding-0 order-step-units">
		<div #stats class="col-md-12" style="margin-top: 5px;">
			<div class="col-md-12 padding-0">
				<form role="form" #orderStepUnitsForm="ngForm" novalidate>
					<fieldset style="border-top: 0px solid #ddd !important;">
						<div class="form-group">
							<div class="col-md-12 padding-0">
								<div style="overflow-x:auto">
									<p-progressSpinner *ngIf="!genericTableReady"></p-progressSpinner>
									<app-generic-table-ccp
										#genericTable
										*ngIf="genericTableReady"
										[searchInput]="searchCriteriaTable"
										[dataInfos]="dataInfos"
										[detailsInfos]="null"
										[dataSourceLocal]="pageDatas"
										[component]="GenericTableScreen.ORDER_UNITS"
										[module]="module"
										[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
										[parentContext]="this"
										[customFieldsEditable]="!order?.ebDelOrderNum || !readOnly"
										(listFieldsEmitter)="onListFieldLoaded($event)"
										[showCustomFieldsMainTable]="true"
										[showCategoriesMainTable]="false"
									>
									</app-generic-table-ccp>
								</div>
								<div class="col-md-12" style="padding: 0px;">
									<p-paginator
										(onPageChange)="paginate($event)"
										[rows]="5"
										[totalRecords]="totalOrderLineRecords"
										[rowsPerPageOptions]="[5, 20, 50]"
									>
									</p-paginator>
								</div>
							</div>
							<div *ngIf="!readOnly" class="col-md-12 margin-top-10">
								<button href="#" class="pull-right btn btn-primary btn-sm" (click)="addOrderLine()">
									{{ "PRICING_BOOKING.ADD_A_ROW" | translate }}
								</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</p-panel>
