<p-dialog
	[header]="'REQUEST_OVERVIEW.WARNING_MSG' | translate"
	[closeOnEscape]="false"
	[modal]="true"
	[(visible)]="isVisible"
	[responsive]="true"
	[closable]="false"
>
	<div class="modal-wrapper clearfix">
		<div class="block-body">
			<form>
				<div class="col-md-12 padding-0">
					<div class="col-md-12">
						<div *ngIf="dialogBodyMsg" class="row">{{ dialogBodyMsg }}</div>
						<div *ngIf="!dialogBodyMsg" class="row">
							{{ '"GENERAL.MODAL_CONFIRM_MSG" | translate' }} ?
						</div>
						<div class="row  margin-top-10">
							<button (click)="confirmFunction($event)" class="btn btn-sm btn-danger pull-right">
								{{ "GENERAL.YES" | translate }}
							</button>
							<button
								type="button"
								class="btn btn-sm btn-tertiary  pull-right"
								(click)="cancelFunction()"
							>
								{{ "GENERAL.NO" | translate }}
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</p-dialog>
