<div class="row margin-tb-10">
	<div class="form-content col-md-12">
		<div class="row">
			<div class="col-md-4">
				<input
					type="text"
					placeholder="Type For Search"
					class="form-control input-xs"
					[(ngModel)]="searchCriteria.searchterm"
				/>
			</div>
			<div class="col-md-2">
				<button class="btn btn-sm btn-success" (click)="searchTerm()">Search</button>
			</div>
			<div class="col-md-3 no-padding">
				<div class="btn-group" data-toggle="buttons" *ngIf="isChargeur">
					<label class="btn-primary btn-sm" ngbButtonLabel>
						<input
							type="checkbox"
							ngbButton
							[(ngModel)]="searchCriteria.roleBroker"
							(change)="showContact ? searchContact() : searchEtablissement()"
						/>
						{{ Statique.Service_Type[ServiceType.BROKER] | translate }}
					</label>
					<label class="btn-primary btn-sm" ngbButtonLabel>
						<input
							type="checkbox"
							ngbButton
							[(ngModel)]="searchCriteria.roleTransporteur"
							(change)="showContact ? searchContact() : searchEtablissement()"
						/>
						{{ Statique.Service_Type[ServiceType.TRANSPORTEUR] | translate }}
					</label>
				</div>
			</div>
			<div class="col-md-3">
				<label class="radio-inline">
					<input
						type="radio"
						[(ngModel)]="showContact"
						(change)="changeContactOrEtablissement()"
						[value]="true"
						[checked]="showContact"
						name="showContact"
					/>Contact</label
				>
				<label class="radio-inline">
					<input
						type="radio"
						[(ngModel)]="showContact"
						(change)="changeContactOrEtablissement()"
						[value]="false"
						[checked]="!showContact"
						name="showContact"
					/>Etablissement</label
				>
			</div>
		</div>
	</div>
</div>
<hr class="no-margin-tb" />
<div class="row" *ngIf="showContact; else showListEtablissement">
	<div *ngFor="let user of listUser; let i = index" class="card col-md-2">
		<img src="../../../../../assets/ressources1/img/avatars/img_avatar.png" class="img-card" />
		<div class="_container">
			<h5>
				<b>
					<a href="javascript:void(0)">{{ user.nom }} {{ user.prenom }}</a>
				</b>
			</h5>
			<h6>
				<p>{{ user.ebEtablissement.nom }}</p>
				<p>{{ user.email }}</p>
				<span [class]="Statique.getStyleServiceType(user.service)">{{
					Statique.Service_Type[user.service] | translate
				}}</span>
			</h6>
			<div class="row">
				<div class="col-md-12 text-center">
					<button class="btn btn-sm btn-success col-md-12" (click)="open(content, i, $event)">
						<i class="fa fa-user-plus" aria-hidden="true"></i> Invite
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<ng-template #showListEtablissement>
	<div class="row">
		<div *ngFor="let etablissement of listEtablissement; let i = index" class="card col-md-2">
			<img src="../../../../../assets/ressources1/img/avatars/img_avatar.png" class="img-card" />
			<div class="_container etablissement">
				<h5>
					<b>
						<a href="javascript:void(0)">{{ etablissement.nom }}</a>
					</b>
				</h5>
				<h6>
					<p class="row">
						<span *ngIf="etablissement.ebCompagnie.nom != etablissement.nom">
							{{ etablissement.ebCompagnie.nom }}
						</span>
						&nbsp;
					</p>
					<p class="row">{{ etablissement.adresse }}</p>
					<p class="row">{{ etablissement.telephone }}</p>
					<span class="row" [class]="Statique.getStyleServiceType(etablissement.service)">{{
						Statique.Service_Type[etablissement.service] | translate
					}}</span>
				</h6>
				<div class="row">
					<button class="btn btn-sm btn-success col-md-12" (click)="open(content, i, $event)">
						<i class="fa fa-user-plus" aria-hidden="true"></i> Invite
					</button>
				</div>
			</div>
		</div>
	</div>
</ng-template>

<div
	class="row"
	*ngIf="
		showContact
			? listUser != null && (searchCriteria.pageNumber + 1) * searchCriteria.size == listUser.length
			: listEtablissement != null &&
			  (searchCriteria.pageNumber + 1) * searchCriteria.size == listEtablissement.length
	"
>
	<a href="javascript:void(0)">
		<div class="col-md-5"></div>
		<div class="col-md-2 text-center btn btn-default" (click)="getMoreData()">
			<i class="fa fa-arrow-down" aria-hidden="true"></i> Show More
		</div>
		<div class="col-md-5"></div>
	</a>
</div>

<div
	class="row margin-tb-10"
	*ngIf="
		showContact
			? listUser != null && listUser.length == 0
			: listEtablissement != null && listEtablissement.length == 0
	"
>
	<div class="col-md-12 text-center">
		No Data
	</div>
</div>

<hr class="no-margin-tb" />

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title col-md-10">Type Invitation</h4>
		<button type="button" class="close" aria-label="Close" (click)="d()">
			<span aria-hidden="true"><i class="fa fa-close"></i></span>
		</button>
	</div>
	<div class="modal-body text-center">
		<label
			class="radio-inline margin-r-15"
			*ngFor="let service of Statique.Service_Type; let i = index"
		>
			<input type="radio" [(ngModel)]="typeInvitation" [value]="i" name="typeInvitation{{ i }}" />{{
				service | translate
			}}</label
		>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" (click)="c(false)">Close</button>
		<button
			type="button"
			class="btn btn-primary"
			[disabled]="typeInvitation == null"
			(click)="c(true)"
		>
			Confirmer
		</button>
	</div>
</ng-template>
