<form
	formcontent
	role="form"
	#formCtrlEtablissementCurrency="ngForm"
	style="background-color: #fff;"
>
	<div>
		<div class="form-content col-md-12" style="background-color: #fff;">
			<ng-container
				*ngIf="userConnected.rolePrestataire || userConnected.role == controlTowerRole">
			<div
				class="col-md-2 col-sm-4 col-xs-12 form-group"
			>
				<label>{{ "CURRENCY.CHARGER" | translate }}</label>
				<div class="col-md-12 ">
					<ng-select
						[multiple]="false"
						placeholder="select compagnie"
						[ngModelOptions]="{standalone: true}"
						[(ngModel)]="etablissementCurrency.ebCompagnie.ebCompagnieNum"
						required
						(scrollToEnd)="fetchMoreCompagniesChargeur()"
					>
						<ng-option *ngFor="let comp of listEbCompagniesChargeur" [value]="comp.ebCompagnieNum">{{
							comp.nom
						}}</ng-option>
					</ng-select>
				</div>
			</div>
			</ng-container>
			<ng-container *ngIf="userConnected.chargeur || userConnected.role == controlTowerRole">
			<div
				class="col-md-2 col-sm-4 col-xs-12 form-group"
			>
				<label>{{ "CURRENCY.CARRIER" | translate }}</label>
				<div class="col-md-12 ">
					<ng-select
						[multiple]="false"
						placeholder="select compagnie"
						[ngModelOptions]="{standalone: true}"
						[(ngModel)]="etablissementCurrency.ebCompagnieGuest.ebCompagnieNum"
						required
						(scrollToEnd)="fetchMoreCompagniesPrestataire()"
					>
						<ng-option *ngFor="let comp of listEbCompagniesPrestataire" [value]="comp.ebCompagnieNum">{{
							comp.nom
						}}</ng-option>
					</ng-select>
				</div>
			</div></ng-container>
			<div class="col-md-2 col-sm-4 col-xs-12 form-group">
				<label>{{ "CURRENCY.DE" | translate }}</label>
				<div class="col-md-12 ">
					<ng-select
						[items]="listCurrency"
						[multiple]="false"
						bindLabel="codeLibelle"
						bindValue="ecCurrencyNum"
						placeholder="Select currency"
						name="ecCurrencyNum"
						[(ngModel)]="etablissementCurrency.ecCurrency.ecCurrencyNum"
						required
					>
					</ng-select>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-12 form-group">
				<label>{{ "CURRENCY.TO" | translate }}</label>
				<div class="col-md-12 ">
					<ng-select
						[items]="listCurrency"
						[multiple]="false"
						bindLabel="codeLibelle"
						bindValue="ecCurrencyNum"
						placeholder="Select currency"
						name="ecCurrencyCibleNum"
						[(ngModel)]="etablissementCurrency.xecCurrencyCible.ecCurrencyNum"
						required
					>
					</ng-select>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-12 form-group">
				<label>{{ "CURRENCY.EXCHANGE_RATE" | translate }}</label>
				<div>
					<input
						type="number"
						[pattern]="Statique.patternDecimalNumber"
						name="euroExchangeRate"
						class="form-control"
						[(ngModel)]="etablissementCurrency.euroExchangeRate"
						required
					/>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-12 form-group">
				<label>{{ "CURRENCY.BEGINNING_DATE" | translate }}</label>
				<div>
					<app-datetime-picker
						id="dateDebut"
						[timepicker]="false"
						name="_dateDebut"
						[(ngModel)]="etablissementCurrency.dateDebut"
						[required]="true"
						[showErrorMsg]="false"
					></app-datetime-picker>
				</div>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-12 form-group">
				<label>{{ "CURRENCY.END_DATE" | translate }}</label>
				<div>
					<app-datetime-picker
						id="dateFin"
						[timepicker]="false"
						name="_dateFin"
						[(ngModel)]="etablissementCurrency.dateFin"
						[showErrorMsg]="false"
					>
					</app-datetime-picker>
				</div>
			</div>
		</div>

		<div class="form-content col-sm-12 text-right margin-bottom-5" style="background-color: #fff;">
			<div class="col-md-12">
				<button
					class="btn btn-sm btn-success btn-shadow"
					#addBtn
					class="pull-right btn btn-sm btn-primary"
					[disabled]="!formCtrlEtablissementCurrency.valid"
					(click)="
						etablissementCurrency.ebCompagnieCurrencyNum == null ? add($event) : updateEbCompanyCurrency($event)
					"
				>
					{{ "GENERAL.SAVE" | translate }}
				</button>
				<button class="btn btn-sm btn-success btn-shadow" (click)="backToListCurrency()">
					{{ "GENERAL.BACK" | translate }}
				</button>
			</div>
		</div>
	</div>
</form>
