<div class="content_wrapper">
	<app-freight-audit-search
		#freightAuditSearchComponent
		(onSearch)="search($event)"
		[module]="module"
		[listFields]="listFields"
		[listCategorie]="listCategorie"
	></app-freight-audit-search>
	<app-freight-audit-list
		[freightAuditSearchComponent]="freightAuditSearchComponent"
		[module]="Modules.FREIGHT_AUDIT"
		(listFieldsEmitter)="paramFieldsHandler($event)"
		(listCategorieEmitter)="CategorieHandler($event)"
		[searchInput]="searchInput"
	></app-freight-audit-list>
</div>
