<p>
	{{ "RULE_MANAGEMENT.MSG_SETTINGS_INFO" | translate }}
</p>
<p-panel [toggleable]="true">
	<p-header>
		<div style="padding: 2px 15px;">
			<div style="padding: 0px 0">
				<span style="font-size: 16px; color: #fff">{{ "RULE_MANAGEMENT.RULES" | translate }}</span>
				<div
					*ngIf="enableFormAddRule === true"
					class="table-icon cursor-pointer d-inline-block"
					(click)="ruleBack()"
				>
					<button class="btn btn-sm" style="box-shadow: none; margin-top: -4px;">
						<i class="fa fa-arrow-left"></i> Back
					</button>
				</div>
			</div>
		</div>
	</p-header>
	<div class="row" *ngIf="enableFormAddRule === false">
		<div class="col-md-12">
			<p-table [value]="rules">
				<ng-template pTemplate="header">
					<tr>
						<th>{{ "RULE_MANAGEMENT.NAME" | translate }}</th>
						<th>{{ "RULE_MANAGEMENT.MODULE" | translate }}</th>
						<th>{{ "RULE_MANAGEMENT.ACTION" | translate }}</th>
						<th style="width: 75px;">{{ "RULE_MANAGEMENT.CRITERE" | translate }}</th>
						<th>{{ "RULE_MANAGEMENT.RESULT" | translate }}</th>
						<th>{{ "RULE_MANAGEMENT.TRIGGER" | translate }}</th>
						<th>{{ "RULE_MANAGEMENT.ORDRE" | translate }}</th>
						<th></th>
						<th></th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-rule>
					<tr>
						<td>{{ rule.formName }}</td>
						<td>{{ Statique.getModuleNameByModuleNum(rule.ebModuleNum) }}</td>
						<td>
							{{ "ADVANCED_FORM_SEARCH.ACTION." + getLibelleActionByCode(rule.action) | translate }}
						</td>
						<td>
							<button class="btn btn-xs" (click)="displayCritere(rule)">
								<i class="fa fa-search cursor-pointer"></i>
							</button>
						</td>
						<td>
							<span *ngIf="rule.statusLibelle != null">{{ rule.statusLibelle }}</span>
							<span *ngIf="rule.flagDtos != null" style="padding-right:10px;">
								<app-flag-list-view [listFlag]="rule.flagDtos"></app-flag-list-view>
							</span>
							<span *ngIf="rule.statusLibelle == null && rule.flagDtos == null"
								>{{ rule.actionParameters }} - {{ getLibelleSendMail(rule.actionParameters) }} -
								{{ rule.actionTargets }}</span
							>
						</td>
						<td>
							<span *ngFor="let trigger of rule.listCodeActionTrigger; let isLast = last">
								{{
									"ADVANCED_FORM_SEARCH.ACTION_TRIGGER." +
										getLibelleSearchActionTriggerByCode(trigger) | translate
								}}
								{{ isLast ? "" : ", " }}
							</span>
						</td>
						<td>
							<button class="btn btn-xs" (click)="orderRule(rule, 'up')">
								↑
							</button>
							<button class="btn btn-xs" (click)="orderRule(rule, 'down')">
								↓
							</button>
						</td>
						<td>
							<button style="padding: 5px 5px;" class="btn btn-xs" (click)="applyToHistory(rule)">
								{{ "RULE_MANAGEMENT.APPLY_TO_HISTORY" | translate }}
							</button>
						</td>
						<td>
							<!-- <button class="btn btn-danger btn-xs" (click)="deleteRule(rule)">
                <i class="fa fa-trash cursor-pointer"></i> </button>
              <button class="btn btn-xs" (click)="updateRule(rule)">
                <i class="fa fa-edit cursor-pointer"></i> </button> -->
							<i (click)="updateRule(rule)" class="cursor-pointer fa fa-pencil"></i>
							<i (click)="deleteRule(rule)" class="cursor-pointer fa fa-trash"></i>
						</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>

	<div class="row" style="padding: 20px;" *ngIf="enableFormAddRule === true">
		<app-advanced-form-search
			#advancedFormSearchComponent
			(searchHandler)="search($event)"
			[initialListFields]="paramFields"
			initFields="all"
			[editable]="false"
			[ebModuleNum]="ebRule.ebModuleNum"
			[ebCompNum]="ebRule.ebCompNum"
			[column]="4"
		></app-advanced-form-search>
	</div>
</p-panel>

<div
	*ngIf="modalVisible"
	class="modal modal-backdrop"
	tabindex="-1"
	role="dialog"
	style="display:block!important"
>
	<div class="modal-dialog" role="document" style="width: 820px;">
		<div class="modal-content" style="width: 820px;">
			<div>
				<form role="form" #EventForm="ngForm" novalidate>
					<div class="modal-header">
						<span *ngIf="isCritere">{{ "RULE_MANAGEMENT.CRITERES" | translate }}</span>
						<span *ngIf="!isCritere">{{ "RULE_MANAGEMENT.APPLY_TO_HISTORY" | translate }}</span>
					</div>
					<div class="modal-body overflow-visible" style="width: 100%;">
						<div class="row">
							<div
								*ngIf="modalLoading"
								style="display: flex;justify-content: center;align-items: center;"
							>
								<div>
									<p-progressSpinner
										[style]="{ width: '50px', height: '50px' }"
										strokeWidth="8"
										fill="#EEEEEE"
										animationDuration="2s"
									></p-progressSpinner>
								</div>
								<div style="padding-left: 8px;">{{ modalLoadingText | translate }}</div>
							</div>
							<div
								*ngIf="!modalLoading && isCritere"
								style="display: flex;justify-content: center;align-items: center;"
							>
								<div style="overflow-y: scroll;height: 332px;width:100%;">
									<p-table [value]="listCriteres">
										<ng-template pTemplate="header">
											<tr>
												<th>{{ "RULE_MANAGEMENT.KEY" | translate }}</th>
												<th>{{ "RULE_MANAGEMENT.VALUE" | translate }}</th>
											</tr>
										</ng-template>
										<ng-template pTemplate="body" let-critere>
											<tr>
												<td>{{ critere.fieldLibelle }}</td>
												<td>{{ critere.valueLibelle }}</td>
											</tr>
										</ng-template>
									</p-table>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a (click)="modalClose()">
							<button class="btn btn-danger pull-right btn-sm mr5 modal_yes_btn">
								{{ "GENERAL.CLOSE" | translate }}
							</button>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
