@import "../../../../assets/theming/themes/variables";
@import "../../../../styles/variables";
@import "../../../../assets/theming/themes/theme-aurora.scss";

.login.login-aurora {
	.login-background {
		background-image: url("../../../../assets/images/aurora-bg.jpg");
		background-color: #bedd54;
		background-blend-mode: multiply;
		position: fixed;
		height: 100%;
		background-size: cover;
		width: 100%;
		background-repeat: repeat;
	}

	.sides-wrapper {
		box-shadow: 0 0 4px 0 #22222294;

		.right-side {
			label {
				color: #5b5b5b;
			}
			button.login-btn {
				color: $white;
				position: relative;
				height: 35px;
				width: 120px;
				transform: none;
			}

			.smart-tracking {
				.track-input {
					display: flex;
				}
			}
			.reset-password {
				font-size: 12px !important;
				text-align: right;
				font-style: italic;
			}
		}

		.left-side {
			position: relative;

			.login-footer,
			.logo-wrapper {
				position: relative;
				z-index: 1;
				img {
					width: 220px;
				}
			}
			.logo-wrapper {
				height: 65% !important;
			}
			.login-footer {
				height: 35% !important;
			}
			background: linear-gradient(45deg, #2d3a00, #d2f360);
		}
	}
}
