<!-- <body class="external-page sb-l-c sb-r-c account background"> -->
<div
	id="page-container"
	class="fade page-sidebar-fixed page-header-fixed page-with-wide-sidebar in"
>
	<!-- begin #content -->
	<div id="content" class="content">
		<!-- begin login -->
		<div class="login login-aurora">
			<!-- this element hold the background image as a CSS propoerty -->
			<div class="login-background"></div>
			<div class="sides-wrapper">
				<div class="left-side">
					<div class="logo-wrapper">
						<img src="assets/images/tala-logo.png" alt="logo-tala-white" />
					</div>
					<div class="login-footer">
						<div>
							<p>
								&copy; MyTower All Rights Reserved 2017
							</p>
							<p>
								<span style="margin-top: 10px; color: white;"
									>{{ "LOGIN.PROBLEM_CONTACT" | translate }}
								</span>
								<a href="mailto:support@mytower.fr">
									<i
										class="fa fa-question-circle"
										style="font-size: 1.5em; cursor: pointer; margin-top: 0px; vertical-align: middle; margin-left: 3px; color: #fff;"
									></i>
								</a>
							</p>
						</div>
					</div>
				</div>
				<div class="right-side">
					<form (submit)="doLogin($event)" class="login-form">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12 col-xs-12 d-flex-ai-c generic-inputs__style margin-bottom-10">
									<label for="username" class="col-md-4 col-sm-12 col-xs-12">{{
										"INSCRIPTION.EMAILORUNSERNAME" | translate
									}}</label>
									<div class="col-md-8 col-sm-12 col-xs-12 input-wrapper padding-right-0">
										<input
											id="username"
											class="form-control"
											[(ngModel)]="model.username"
											(keyup)="sanitizeUsername()"
											#username="ngModel"
											name="username"
											value=""
											placeholder="E-mail"
											autofocus=""
											type="text"
										/>
									</div>
								</div>
								<div class="col-md-12 col-xs-12 d-flex-ai-c d-flex-w generic-inputs__style">
									<label for="password" class="col-md-4 col-sm-12 col-xs-12">{{
										"INSCRIPTION.MOTDEPASSE" | translate
									}}</label>
									<div class="col-md-8 col-sm-12 col-xs-12 input-wrapper padding-right-0">
										<input
											id="password"
											class="form-control"
											[(ngModel)]="model.password"
											#password="ngModel"
											name="password"
											placeholder="Password"
											type="password"
										/>
									</div>
									<div class="col-md-12 padding-right-0 text-right">
										<a routerLink="/reset-password-tala" class="text-right reset-password">
											{{ "LOGIN.FORGOT_PASSWORD" | translate }}
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="col-md-8" style="margin-top:0%; margin-left:99px;">
                          <a style="color: white;" routerLink="/reset-password"> Forgot Your Password? </a>
                        </div> -->
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12 col-xs-12 d-flex-ai-c margin-top-30">
									<div class="col-md-4 col-sm-12 col-xs-12"></div>
									<div class="col-md-8 col-sm-12 col-xs-12 padding-left-9">
										<div (click)="doLogin($event)">
											<button class="btn btn-primary login-btn" type="submit">
												{{ "LOGIN.LOGIN" | translate }}
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
					<div class="">
						<div
							*ngIf="error"
							class="alert text-center"
							style="    color: rgb(216, 105, 105); font-size: 15px;"
						>
							{{ error }}
						</div>
					</div>
					<div class="col-md-12 align-self-fe">
						<hr class="rule" />
						<div class="row margin-top-30 margin-bottom-20">
							<div class="col-md-12 col-xs-12 d-flex-ai-c d-flex-w generic-inputs__style">
								<div class="col-md-4 col-sm-12 col-xs-12"></div>
								<div class="col-md-8 col-sm-12 col-xs-12 input-wrapper padding-right-0">
									<button
										type="button"
										class="margin-left-0-important btn btn-tertiary"
										routerLink="/inscription-tala"
									>
										{{ "LOGIN.INSCRIPTION" | translate }}
									</button>
								</div>
							</div>
						</div>
					</div>
					<div *ngIf="smartTrackSearch" class="smart-tracking padding-15 col-md-12">
						<div class="col-md-12">
							<div class="d-flex-w">
								<div class="col-md-12 padding-0">
									<label for="username" class="text-left"
										>Please type in the reference you would like to track</label
									>
								</div>
								<div class="track-input col-md-12 padding-0">
									<input
										class="form-control"
										placeholder="Please type in the reference you would like to track"
										[(ngModel)]="searchCriteria.searchterm"
										autofocus=""
										type="text"
									/>
									<button
										type="button"
										class="fa fa-search btn btn-sm btn-primary padding-top-3 padding-bottom-3 padding-right-6 padding-left-6"
										(click)="getTracking($event)"
									></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div *ngIf="smartTracking">
				<app-smart-tracking
					[tracing]="tracing"
					[listTracing]="listTrack"
					(closePopUp)="smartTracking = $event"
				></app-smart-tracking>
			</div>
		</div>
		<!-- end login -->
	</div>
	<!-- end #content -->
</div>
<!-- </body> -->
