<div style="height: 100%;" class="app-padding">
	<div class="form-host">
		<div class="side-space"></div>
		<div class="form">
			<app-order-creation-form></app-order-creation-form>
		</div>
		<div class="side-space"></div>
	</div>
</div>
