<div class="modal" tabindex="1" role="dialog" style="display:block!important">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div>
				<div class="modal-header" style="height: 44px">
					Historique upload<ng-content></ng-content>
				</div>
				<div class="modal-body"></div>
			</div>
		</div>
	</div>
</div>
