<div class="col-md-12 app-padding">
	<div class="col-md-12 no-padding">
		<p-growl [style]="{ marginTop: '60px' }" [(value)]="msgs"></p-growl>
	</div>
	<div class="col-md-12 no-padding" style="margin-top: 20px;">
		<ul class="nav nav-pills nav-justified">
			<li role="presentation" class="step-menu" [ngClass]="{ 'step-active': stepIdentification }">
				<a href="#" (click)="menuNavigation('Identification', $event)">{{
					"QUALITY_MANAGEMENT.IDENTIFICATION" | translate
				}}</a>
			</li>
			<!-- <li role="presentation" class="step-menu" [ngClass]="{'step-active': stepCommon}"><a href="#" (click)="menuNavigation('Common', $event)">{{'QUALITY_MANAGEMENT.COMMON_DESCRIPTION'|translate}}</a></li> -->
			<li role="presentation" class="step-menu" [ngClass]="{ 'step-active': stepIndividual }">
				<a href="#" (click)="menuNavigation('Individual', $event)">{{
					"QUALITY_MANAGEMENT.INDIVIDUAL_DESCRIPTION" | translate
				}}</a>
			</li>
			<li role="presentation" class="step-menu" [ngClass]="{ 'step-active': stepDone }">
				<a href="#" (click)="menuNavigation('Done', $event)">{{
					"QUALITY_MANAGEMENT.DONE" | translate
				}}</a>
			</li>
		</ul>
	</div>

	<div class="col-md-12" style="margin-top: 20px;">
		<div *ngIf="stepIdentification">
			<div class="row row-eq-height">
				<div class="col-md-8 col-sm-12 col-xs-12 no-padding">
					<app-search-unit
						(emitListMarchandise)="recupMarchandises($event)"
						[listIncidents]="incidents"
						[unit]="marchandise"
						(incidents)="eventHandler($event)"
						(emitUpdateUnit)="updateUnitValue($event)"
						(emitDeleteIncident)="deleteIncident($event)"
					></app-search-unit>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12 padding-right-0-important">
					<fieldset class="fieldset bg-transparent-important">
						<legend class="legend">{{ "QUALITY_MANAGEMENT.TR_CONCERNED" | translate }}</legend>
						<div
							class="col-md-12 block-categorie panel-body body-table bg-white-important"
							style="overflow-y:auto; height:405px;"
						>
							<app-zones-incident
								(emitmarchandise)="displayUnit($event)"
								[size]="5"
								[incidents]="incidents"
							></app-zones-incident>
						</div>
					</fieldset>
				</div>
			</div>
		</div>

		<div class="row" *ngIf="!stepIdentification">
			<div class="col-md-12 padding-0 padding-top-5">
				<fieldset class="fieldset">
					<legend class="legend">{{ "QUALITY_MANAGEMENT.SELECTED_TR" | translate }}</legend>
					<div class="col-md-12 block-categorie panel-body body-table">
						<app-zones-incident
							(emitIncidentList)="getIncidentListFromZone($event)"
							(emitmarchandise)="displayUnit($event)"
							[step]="step"
							[size]="2"
							[incidents]="incidents"
						></app-zones-incident>
					</div>
				</fieldset>

				<div class="col-md-12 no-padding">
					<div
						class="block-categorie panel-body body-table"
						style="text-align: right;margin-bottom: 0"
					>
						<button class="btn btn-primary btn-xs" (click)="cancelIncidentsave()">
							{{ "GENERAL.CANCEL" | translate }}
						</button>
						<button class="btn btn-primary btn-xs" (click)="saveForm()">
							{{ "QUALITY_MANAGEMENT.SAVE_FORM" | translate }}
						</button>
						<button
							*ngIf="stepIndividual"
							[disabled]="currentIncidentIndex < 1"
							class="btn btn-primary btn-xs"
							(click)="previousIncident()"
						>
							<i class="fa fa-arrow-left"></i>
						</button>
						<button
							*ngIf="stepIndividual"
							[disabled]="currentIncidentIndex > incidents.length - 2"
							class="btn btn-primary btn-xs"
							(click)="nextIncident()"
						>
							<i class="fa fa-arrow-right"></i>
						</button>
						<button *ngIf="!stepDone" class="btn btn-primary btn-xs" (click)="nextStep()">
							{{ "QUALITY_MANAGEMENT.NEXT" | translate }}
						</button>
						<button *ngIf="stepDone" class="btn btn-primary btn-xs" (click)="saveIncidents()">
							{{ "PRICING_BOOKING.SAVE" | translate }}
						</button>
					</div>
				</div>
			</div>

			<div class="col-md-12 padding-0 padding-top-10" *ngIf="!stepDone">
				<app-collapsible-panel title="Transport Information">
					<div class="col-md-12 block-categorie panel-body body-table">
						<app-qm-transport-information
							*ngIf="demande != null && [incidents].length > 0"
							[currentIncidentIndex]="currentIncidentIndex"
							[incidents]="incidents"
							[demande]="demande"
							[step]="step"
						>
						</app-qm-transport-information>
					</div>
				</app-collapsible-panel>
			</div>
			<div class="col-md-12 padding-0 padding-top-10" *ngIf="!stepDone">
				<app-collapsible-panel
					title="{{ 'QUALITY_MANAGEMENT.INCIDENT_RELATED_INFORMATION' | translate }}"
				>
					<div class="col-md-12 block-categorie panel-body body-table">
						<app-incident-related-information
							*ngIf="[incidents].length > 0"
							[step]="step"
							[incidents]="incidents"
							[eventType]="eventType"
							[listIncidentCategory]="listIncidentCategory"
							(emitIncidents)="displayIncidents($event)"
							[currentIncidentIndex]="currentIncidentIndex"
						>
						</app-incident-related-information>
					</div>
				</app-collapsible-panel>
			</div>
			<div class="col-md-12 padding-0 padding-top-10" *ngIf="!stepDone && demande.ebDemandeNum">
				<app-collapsible-panel title="{{ 'QUALITY_MANAGEMENT.INCIDENT_FILES' | translate }}">
					<app-documents
						*ngIf="[incidents].length > 0"
						#documentsDiv
						id="documentsDiv"
						[incidents]="incidents"
						[currentIncidentIndex]="currentIncidentIndex"
						[ebDemandeNum]="demande.ebDemandeNum"
						(updateChatEmitter)="updateChatEmitter($event)"
						[colMd]="'col-md-3 col-sm-6 col-xs-12'"
					>
					</app-documents>
				</app-collapsible-panel>
			</div>
			<div class="col-md-12 padding-0 padding-top-10 " *ngIf="!stepDone">
				<app-collapsible-panel title="Root cause Analysis">
					<div class="col-md-12 block-categorie panel-body body-table">
						<app-root-causes-analysis
							#rootCausesAnalysis
							*ngIf="[incidents].length > 0"
							[step]="step"
							[incidents]="incidents"
							[currentIncidentIndex]="currentIncidentIndex"
						>
						</app-root-causes-analysis>
					</div>
				</app-collapsible-panel>
			</div>
		</div>

		<div class="row" *ngIf="!stepDone">
			<div class="block-categorie panel-body body-table" style="text-align: right;">
				<button class="btn btn-primary btn-xs" (click)="cancelIncidentsave()">
					{{ "GENERAL.CANCEL" | translate }}
				</button>
				<button class="btn btn-primary btn-xs" (click)="saveForm()">
					{{ "QUALITY_MANAGEMENT.SAVE_FORM" | translate }}
				</button>
				<button
					*ngIf="stepIndividual"
					[disabled]="currentIncidentIndex < 1"
					class="btn btn-primary btn-xs"
					(click)="previousIncident()"
				>
					<i class="fa fa-arrow-left"></i>
				</button>
				<button
					*ngIf="stepIndividual"
					[disabled]="currentIncidentIndex > incidents.length - 2"
					class="btn btn-primary btn-xs"
					(click)="nextIncident()"
				>
					<i class="fa fa-arrow-right"></i>
				</button>
				<button *ngIf="!stepDone" class="btn btn-primary btn-xs" (click)="nextStep()">
					{{ "QUALITY_MANAGEMENT.NEXT" | translate }}
				</button>
				<button *ngIf="stepDone" class="btn btn-primary btn-xs" (click)="saveIncidents()">
					{{ "PRICING_BOOKING.SAVE" | translate }}
				</button>
			</div>
		</div>
	</div>
</div>
