@import "../../../../styles/variables";
.step-menu {
	background: #fff;
	border: 1px solid $primary-color;
	vertical-align: middle;
	transition: all 0.2s ease-in-out;
}

.no-padding {
	padding: 0px;
}

.no-padding-left {
	padding-left: 0px;
}

.no-padding-rigth {
	padding-right: 0px;
}

.step-active {
	background-color: $primary-color;
	transition: all 0.2s ease-in-out;
}

.step-active > a {
	color: #fff !important;
}

.step-active > a:hover {
	background-color: $primary-color;
}

li.list-group-item > span {
	float: right;
	border-left: 1px solid white;
}

li.list-group-item {
	padding: 0px 8px !important;
	background-color: $primary-color !important;
	color: white !important;
}

.blanc {
	color: white;
	padding-left: 5px;
}

a.disabled {
	pointer-events: none;
	cursor: not-allowed;
}

.nav-pills li.step-menu:first-child {
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

.nav-pills li.step-menu:last-child {
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}

.nav-pills li:not(:last-child):not(.step-active):before,
.nav-pills li:not(:last-child):not(.step-active):after,
.nav-pills li:not(:last-child).step-active:after {
	content: "";
	position: absolute;
	right: -40px;
	z-index: 2;
	top: 50%;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid $primary-color;
	clear: both;
	transform: rotate(-90deg);
	transform-origin: 25%;
}

.nav-pills li:not(:last-child):not(.step-active):after {
	border-top: 19px solid #fff;
	border-left: 19px solid transparent;
	border-right: 19px solid transparent;
	right: -37px;
}

.nav-pills li:not(:last-child):not(.step-active):before {
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid $primary-color;
}

.nav-pills > li + li {
	margin-left: 0;
}

.nav > li > a:focus {
	background-color: transparent;
}

.nav > li > a:hover {
	background-color: transparent;
}

@media only screen and (max-width: 840px) {
	.nav > li > a {
		padding: 2px 15px;
	}
}

@media only screen and (max-width: 768px) {
	.nav-pills li:not(:last-child):not(.step-active):before,
	.nav-pills li:not(:last-child):not(.step-active):after,
	.nav-pills li:not(:last-child).step-active:after {
		left: 50%;
		transform: translateX(-50%);
		top: 100%;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 6px solid $primary-color;
	}
	.nav-pills li:not(:last-child):not(.step-active):after {
		border-top: 4px solid #fff;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
	}
	.nav-pills li:not(:last-child):not(.step-active):before {
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 6px solid $primary-color;
	}
	.nav-pills li.step-menu:first-child {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 0;
	}
	.nav-pills li.step-menu:last-child {
		border-top-right-radius: 0;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
}

.fieldset {
	height: 97%;
	background: #fff;
}

.fieldset .block-categorie {
	background: transparent;
}

/* #block-of__incidents {
    min-height: 443px;
} */
