<p-dialog
	[header]="'GENERAL.UPDATE_ZONE' | translate"
	[closeOnEscape]="false"
	[closable]="false"
	[modal]="true"
	class="overflow-visible"
	[(visible)]="display"
	[responsive]="true"
>
	<div class="clearfix">
		<div class="block-body modal-update-zone">
			<form>
				<div class="col-md-12  d-flex-ai-c generic-inputs__style">
					<label class="areaLibelle padding-right-10"
						>{{ "REPOSITORY_MANAGEMENT.ADRESSE_ZONE" | translate }}:
					</label>
					<div class="col-md-12 padding-0">
						<ng-select
							name="zone"
							[items]="listZonesAdresse"
							bindLabel="label"
							[(ngModel)]="defaultZone"
							[compareWith]="Statique.byEbPlZoneDTONum"
							(change)="getListTransportPlan()"
						>
						</ng-select>
					</div>
				</div>
				<div
					class="col-md-12 d-flex-w select-zone"
					[ngClass]="{ 'd-flex-ai-c d-flex-jc-c': !listDemandeQuote || !listDemandeQuote.length }"
				>
					<div class="fz-16" *ngIf="!listDemandeQuote || !listDemandeQuote.length">
						{{ "TRANSPORT_MANAGEMENT.ZONE_DIALOG.NO_PLTR_AVAILABLE" | translate }}
					</div>
					<ng-container *ngIf="listDemandeQuote && listDemandeQuote.length">
						<div class="tr_card" *ngFor="let tr of listDemandeQuote; let i = index">
							<div class="tr_card_main">
								<div class="left_content truncate">
									<span>
										<b>{{ tr.xTransporteur?.nom }}</b> ({{ tr.xEbEtablissement.nom }})<br />
									</span>
									<span>{{ tr.xTransporteur.email }}<br /></span>
									<div *ngIf="userConnected.canShowPrice">
										<div *ngIf="tr.price; else calculatedPriceTpl">
											{{ "TRANSPORT_MANAGEMENT.ZONE_DIALOG.Tr_Price" | translate }}
											: {{ tr.price }} {{ demande?.xecCurrencyInvoice?.code }}
										</div>
										<ng-template #calculatedPriceTpl>
											<div *ngIf="tr.xTransporteur?.calculatedPrice">
												{{ "TRANSPORT_MANAGEMENT.ZONE_DIALOG.CALCULATED_PRICE" | translate }}
												: {{ tr.xTransporteur?.calculatedPrice }}
												{{ demande?.xecCurrencyInvoice?.code }}
											</div>
										</ng-template>
									</div>
									<span *ngIf="tr.comment && tr.comment.length > 0"> ({{ tr.comment }})</span>
									<span *ngIf="tr.transitTime">
										{{ "PRICING_BOOKING.TRANSIT_TIME" | translate }} : {{ tr.transitTime }}
									</span>
									<br />
								</div>
								<div class="cb_select d-flex-jc-c d-flex-w">
									<ng-container>
										<p-radioButton
											name="carriers"
											[value]="tr"
											[(ngModel)]="selectedDemandeTransporteur"
										>
										</p-radioButton>
									</ng-container>
								</div>
							</div>
						</div>
					</ng-container>
				</div>
				<div class="col-md-12 padding-0  margin-top-10">
					<button
						[disabled]="!listZonesAdresse || !defaultZone || !selectedDemandeTransporteur"
						(click)="confirme($event)"
						class="btn btn-sm btn-primary pull-right"
					>
						{{ "PRICING_BOOKING.UPDATE_PLAN_TRANSPORT" | translate }}
					</button>
					<button
						type="button"
						class="btn btn-sm btn-tertiary  pull-right"
						(click)="cancel($event)"
					>
						{{ "GENERAL.CANCEL" | translate }}
					</button>
				</div>
			</form>
		</div>
	</div>
</p-dialog>
