@import "../../../../../shared/creation-form-step-base/creation-form-step-base.component.scss";
@import "../../../../../../styles/components/mixins/breakpoints";

.tr_card {
	margin: 5px;
	background-color: #f6f6f6;
	box-shadow: 0px 0px 5px -1px rgba(214, 214, 214, 0.75);
	transition: all 0.2s ease-in-out;
	padding: 5px;
	width: calc(50% - 10px);
	background-color: #f1f1f1d4;
	border: 1px solid #ececec;

	.quote_validated {
		font-size: 23px;
		color: $primary-color;
		position: absolute;
		z-index: 20;
		top: -15px;
		right: -8px;
	}

	.tr_card_main {
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		.cb_select {
			align-self: start;
			flex: 0 0 35px;

			input {
				margin: 0;
				top: 0;
			}
		}

		.left_content {
			// flex: 1 0 auto;
			// width: 80%;
			span {
				word-wrap: break-word;
			}
		}
	}

	.tr_footer {
		display: flex;
		justify-content: center;
		align-self: flex-end;

		.quote_statut {
			height: 30px;
			width: 100%;
			color: $primary-color;
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}

		.details_wr {
			align-self: flex-end;
		}
	}
	&:hover {
		box-shadow: 0px 0px 5px 0px rgba(186, 186, 186, 0.75);
	}
}

.modal-update-zone {
	min-width: 600px;
	max-width: 600px;
	.select-zone {
		min-height: 120px;
		max-height: 360px;
		overflow-y: auto;
	}
}
