<div class="col-md-12 padding-0">
	<div
		class="form-content community-header padding-top-5 padding-bottom-5 col-md-12 d-flex-jc-sb d-flex-ai-c"
	>
		<div class="row d-flex-ai-c d-flex-jc-fs">
			<div class="width-auto margin-right-30" data-toggle="buttons">
				<label
					[title]="'COMMUNITY.NEW_REQUEST_TITLE' | translate"
					*ngIf="showContact"
					class="margin-right-4 btn-xs btn-tertiary"
					ngbButtonLabel
				>
					<input
						type="checkbox"
						ngbButton
						[(ngModel)]="searchCriteria.receivedRequest"
						(change)="searchContactOrEtablissement()"
					/>{{ "COMMUNITY.NEW_REQUEST" | translate }}
				</label>
				<label
					[title]="'COMMUNITY.CONTACTABLE_TITLE' | translate"
					*ngIf="showContact"
					class="margin-right-4 btn-xs btn-tertiary"
					ngbButtonLabel
				>
					<input
						type="checkbox"
						ngbButton
						[(ngModel)]="searchCriteria.contactable"
						(change)="searchContactOrEtablissement()"
					/>{{ "COMMUNITY.CONTACTABLE" | translate }}
				</label>
				<label
					[title]="'COMMUNITY.MY_CONTACTS_TITLE' | translate"
					class="margin-right-4 btn-xs btn-tertiary"
					ngbButtonLabel
				>
					<input
						type="checkbox"
						ngbButton
						[(ngModel)]="searchCriteria.contact"
						(change)="searchContactOrEtablissement()"
						[value]="true"
					/>
					{{ "COMMUNITY.MY_CONTACT" | translate }}
				</label>
				<label
					[title]="'COMMUNITY.BLACKLIST_TITLE' | translate"
					class="margin-right-4 btn-xs btn-tertiary"
					ngbButtonLabel
				>
					<input
						type="checkbox"
						ngbButton
						[(ngModel)]="searchCriteria.blackList"
						(change)="searchContactOrEtablissement()"
					/>
					{{ "COMMUNITY.BLACKLIST" | translate }}
				</label>
				<label
					[title]="'COMMUNITY.SEND_REQUEST_TITLE' | translate"
					class=" btn-xs btn-tertiary"
					ngbButtonLabel
				>
					<input
						type="checkbox"
						ngbButton
						[(ngModel)]="searchCriteria.sentRequests"
						(change)="searchContactOrEtablissement()"
					/>
					{{ "COMMUNITY.SENT_REQUEST" | translate }}
				</label>
			</div>
			<form #formCtrlSerach="ngForm" class="width-auto margin-right-10">
				<div class="generic-inputs__style search-input-wrapper padding-0 d-flex">
					<div class="input-wrapper">
						<div class="d-flex d-flex-ai-c">
							<input
								pattern=".{3,}"
								#inputSearchterm
								title="3 characters minimum"
								placeholder="{{ 'COMMUNITY.TYPE_DE_RECHERCHE' | translate }}"
								class="form-control"
								[(ngModel)]="searchCriteria.searchterm"
								name="searchterm"
								type="text"
								(keyup)="searchTerm($event)"
								(paste)="searchTerm($event)"
							/>
							<i class="fa fa-close" (click)="clearSearchField()"></i>
						</div>
					</div>
				</div>
			</form>

			<div *ngIf="user.role == UserRole.CHARGEUR" class="width-auto margin-top--10">
				<label class="radio-inline">
					<input type="radio" name="showContact" [(ngModel)]="showContact"
						(change)="searchContactOrEtablissement()" [value]="true" [checked]="showContact"
						title="Contacts" />
					<i title="Contacts" class="fa fa-users" aria-hidden="true"></i>
				</label>
				<label class="radio-inline">
					<input type="radio" name="showContact" [(ngModel)]="showContact"
						(change)="searchContactOrEtablissement()" [value]="false" [checked]="!showContact"
						title="Establishments" />
					<i title="Company's" class="fa fa-industry" aria-hidden="true"></i>
				</label>
			</div>
		</div>
		<div class="width-auto">
			<label
				*ngIf="
					showContact &&
					(isForConnectedUser ||
						(!isForConnectedUser &&
							acls[ACL.Rule.Settings_MyCommunity_MyTowerNetwork] ===
								ACL.RuleValues.Settings_MyCommunity_MyTowerNetwork.Write))
				"
				class="btn-xs  btn-primary btn pull-left"
				ngbbuttonlabel
				(click)="newContact()"
				[title]="'COMMUNITY.SEND_INVIT_CONNECT_MYTOWER' | translate"
			>
				<i aria-hidden="true" class="fa fa-paper-plane"></i>
				<span class="padding-left-5">{{ "COMMUNITY.INVIT_TO_MYTOWER" | translate }} </span>
			</label>
		</div>
	</div>

	<div
		(window:resize)="onResizeCommunity()"
		id="community-wrapper"
		class="d-flex-w col-md-12 padding-0"
		*ngIf="showContact; else showListEtablissement"
	>
		<div
			*ngFor="let contact of listContact; let i = index"
			class="col-md-4 col-sm-6 col-xs-12 business-card-container"
		>
			<div
				*ngIf="
					contact.ebRelation.ebRelationNum != null &&
					(contact.ebRelation.etat == EtatRelation.ACTIF ||
						contact.ebRelation.etat == EtatRelation.BLACKLIST) &&
					(isForConnectedUser ||
						(!isForConnectedUser &&
							acls[ACL.Rule.Settings_MyCommunity_MyTowerNetwork] ===
								ACL.RuleValues.Settings_MyCommunity_MyTowerNetwork.Write))
				" ngbDropdown class="d-inline-block  menu-item float_right" placement="bottom-right" display="dynamic">
				<button class="btn btn-xs btn-outline-primary" ngbDropdownToggle>
					<i class="fa fa-caret-down"></i>
				</button>
				<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
					<button #btnBloquerDebloquer *ngIf="contact.ebRelation.etat != EtatRelation.EN_COURS"
						class="dropdown-item btn btn-xs" (click)="
							contact.ebRelation.etat == EtatRelation.ACTIF
								? editRelation(EtatRelation.BLACKLIST, i, btnBloquerDebloquer)
								: editRelation(EtatRelation.ACTIF, i, btnBloquerDebloquer)
						">
						<i *ngIf="contact.ebRelation.etat == EtatRelation.ACTIF; else blackListBlock"
							class="fa fa-ban"></i>
						<ng-template #blackListBlock>
							<i class="fa fa-undo" aria-hidden="true"></i>
						</ng-template>
						{{ contact.ebRelation.etat == EtatRelation.ACTIF ? "Bloquer" : "Débloquer" }}
					</button>

					<button class="dropdown-item btn btn-xs" (click)="showAddPopup(i)" *ngIf="
							contact.ebRelation.etat != EtatRelation.EN_COURS &&
							(user.superAdmin || user.admin) &&
							user.chargeur
						" title="{{ 'COMMUNITY.ADD_CARRIER' | translate }}">
						<i class="fa fa-plus-circle"></i>
						{{ "GENERAL.ADD" | translate }}
					</button>
					<button *ngIf="
							contact.ebRelation.etat == EtatRelation.ACTIF &&
							(contact.ebUserNum != user.ebUserNum &&
								contact.service == ServiceType.TRANSPORTEUR_BROKER)
						" class="dropdown-item btn btn-xs" (click)="editRelationType(content, i)">
						<i class="fa fa-pencil"></i>
						Change relation
					</button>
				</div>
			</div>
			<div class="business-card" [ngClass]="getClassCssContactCard(contact.ebRelation.etat)">
				<div class="media d-flex-jc-fs">
					<div class="no-padding contact-avatar margin-right-10">
						<i class="fa fa-user-circle-o"></i>
						<!-- ce bout de code concerne l'avatar du contact, ce code est commenté pour le moment et remplacer par une icone statique en attendant d'implimenté la fonctionnalité d'ajout d'avatar -->
						<!-- <img
							class="media-object img-circle profile-img"
							src="../../../../assets/images/icon-avatar.png"
							[ngClass]="contact.ebRelation.etat == EtatRelation.BLACKLIST ? 'disabled-img' : ''"
						/> -->
					</div>
					<div class="width-100-percent d-flex-w d-flex-ai-fe padding-right-20 no-padding">
						<div class="col-md-12 align-self-fs clearfix padding-0">
							<h4 class="truncate username">
								<b>
									<a href="javascript:;"
										class="{{ !contact.ebUserNum ? 'invisible' : '' }}">{{ !contact.ebUserNum ? "-" : "" }}{{ contact?.nom }}
										{{ contact?.prenom }}</a>
								</b>
							</h4>
							<div *ngIf="contact.ebEtablissement != null" title="{{ contact.ebEtablissement?.nom }}"
								class="job truncate {{ !contact.ebUserNum ? 'invisible' : '' }}">
								{{ !contact.ebUserNum ? "-" : "" }}{{ contact.ebEtablissement.nom }}
							</div>
							<div class="mail truncate">
								<a href="javascript:;"
									class="{{ !contact.ebUserNum && !contact.ebRelation.email ? 'invisible' : '' }}">{{ contact.email || contact.ebRelation.email }}</a>
							</div>
							<div class="phone truncate">
								<a href="javascript:;" class="{{ !contact.ebUserNum ? 'invisible' : '' }}">{{
									contact?.telephone
								}}</a>
							</div>
							<div class="text-center width-100-percent pull-left">
								<div class="flag_div">
									<app-tag-list-editable
										[userTag]="contact.ebUserTag"
										[listUserTag]="ListEbUserTag"
										[listOfAllTagsFiltered]="listOfAllTagsFiltered"
										[role]="getRoleLibelle(user)"
										[isForConnectedUser]="isForConnectedUser"
										[user]="user"
										(tagSearch)="searchTag($event)"
										(tagEmit)="addTagToList($event)"
									></app-tag-list-editable>
								</div>
							</div>
						</div>
						<div class="col-md-12 padding-0">
							<div
								class="row"
								*ngIf="
									contact.ebRelation.etat == EtatRelation.ACTIF ||
									contact.ebRelation.etat == EtatRelation.EN_COURS ||
									!contact.ebRelation.etat
								"
							>
								<div class="col-md-7 text-left">
									<span class="label label-primary">{{ getRoleLibelle(contact) }}</span>
								</div>
								<div class="col-md-5 text-right" *ngIf="contact.ebRelation.ebRelationNum == null">
									<!-- New User -->
									<button *ngIf="contact.ebRelation.ebRelationNum == null" type="button"
										(click)="open(content, i, BtnSendInvitation)" #BtnSendInvitation
										class="btn btn-xs fz-14" placement="bottom" container="body"
										title="Envoyer une invitation">
										<i class="fa fa-envelope-o" aria-hidden="true"></i>
									</button>
								</div>
								<div *ngIf="contact.ebRelation.ebRelationNum != null">
									<div class="col-md-5 text-right no-padding-left action">
										<button *ngIf="
												contact.ebRelation.guest &&
												contact.ebRelation.guest.ebUserNum == user.ebUserNum &&
												contact.ebRelation.etat == EtatRelation.EN_COURS
											" type="button" #BtnAcceptRelation class="btn btn-xs btn-danger font-size-10"
											(click)="accepterRelation(BtnAcceptRelation, BtnAnnulerRelation, i)"
											placement="bottom" container="body" title="Accepter la relation">
											<i class="fa fa-check" aria-hidden="true"></i>
										</button>
										<button
											*ngIf="
												contact.ebUserNum &&
												contact.ebRelation.etat == EtatRelation.ACTIF &&
												(isForConnectedUser ||
													(!isForConnectedUser &&
														acls[ACL.Rule.Settings_MyCommunity_MyTowerNetwork] ===
															ACL.RuleValues.Settings_MyCommunity_MyTowerNetwork.Write))
											"
											type="button"
											(click)="annulerRelation(BtnAnnulerRelation, BtnAcceptRelation, i)"
											#BtnAnnulerRelation
											class="btn btn-xs btn-danger font-size-10"
											placement="bottom"
											container="body"
											title="Annuler/supprimer la relation"
										>
											<i class="fa fa-times-circle" aria-hidden="true"></i>
										</button>
										<button type="button" *ngIf="contact.ebRelation.etat == EtatRelation.EN_COURS"
											(click)="annulerInvitation(BtnAnnulerInvitation, i)" #BtnAnnulerInvitation
											class="btn btn-xs btn-danger font-size-10" title="Annuler l'invitation"
											placement="bottom" container="body">
											<i class="fa fa-ban" aria-hidden="true"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div
		*ngIf="listContact && listContact != null && listContact.length > 0"
		class="col-md-12 ui-table-summary"
	>
		<div class="d-flex-ai-c">
			<div class="col-md-6 padding-0 text-left">
				{{ fromPage }} - {{ toPage }} {{ "GENERAL.OF" | translate }} {{ totalRecords }}
			</div>
			<div class="col-md-6 padding-0">
				<p-paginator
					(click)="paginatorAdapter()"
					[rows]="numberDatasPerPage"
					[totalRecords]="totalRecords"
					[rowsPerPageOptions]="rowsPerPageOptions"
					(onPageChange)="onPaginate($event)"
				>
				</p-paginator>
			</div>
		</div>
	</div>

	<ng-template #showListEtablissement>
		<div class="" *ngIf="listEbRelationWithEtablissement != null">
			<div *ngFor="let ebRelation of listEbRelationWithEtablissement; let i = index" class="col-md-4">
				<div class="business-card etablissement">
					<div class="media">
						<div class="media-left col-md-5 no-padding">
							<img class="media-object img-circle profile-img" src="../../../../assets/{{
									ebRelation.xEbEtablissementHost.logo || 'images/icon-company.png'
								}}" />
						</div>
						<div class="media-right col-md-7 padding-right-20 no-padding">
							<h4 class="truncate" title="{{ ebRelation.xEbEtablissementHost.nom }}">
								<b>
									<a href="javascript:void(0)">{{ ebRelation.xEbEtablissementHost?.nom }}</a>
								</b>
							</h4>
							<div class="mail truncate">
								<a href="javascript:;"
									class="{{ !ebRelation.xEbEtablissementHost.email ? 'invisible' : '' }}">{{ ebRelation.xEbEtablissementHost?.email }}</a>
							</div>
							<!--
                            <h5 class="row">
                                <b *ngIf="etablissement.ebCompagnie.nom != etablissement.nom">
                                    <a href="javascript:void(0)">{{ebRelation.xEbEtablissementHost.ebCompagnie.nom}}</a>
                                </b>
                            </h5>
                             -->
							<div class="truncate {{ !ebRelation.xEbEtablissementHost.adresse ? 'invisible' : '' }}">
								{{ ebRelation.xEbEtablissementHost?.adresse }}
							</div>
							<div class="truncate {{ !ebRelation.xEbEtablissementHost.telephone ? 'invisible' : '' }}">
								{{ ebRelation.xEbEtablissementHost?.telephone }}
							</div>
							<div class="fixein-bottom margin-top-10">
								<div class="row">
									<div class="col-md-7 text-left">
										<span *ngIf="ebRelation.xEbEtablissementHost.service != null" [ngClass]="
												Statique.getStyleServiceType(ebRelation.xEbEtablissementHost.service)
											">{{
												Statique.Service_Type[ebRelation.xEbEtablissementHost.service] | translate
											}}</span>
									</div>
									<div class="col-md-5 text-right">
										<!-- <span class="label label-primary">{{etablissement.nmbrUtilisateurs}}
                                            <i class="fa fa-user-o" aria-hidden="true"></i>
                                        </span> -->
										<!-- New User -->
										<button *ngIf="!ebRelation.flagEtablissement" type="button"
											(click)="open(content, i, BtnSendInvitation)" #BtnSendInvitation
											class="btn btn-xs fz-14" placement="bottom" container="body"
											title="Demander une recommandation d'un prestataire">
											<i class="fa fa-envelope-o" aria-hidden="true"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ng-template>
</div>

<p-dialog [header]="'COMMUNITY.ADD_CARRIER_DIALOG' | translate" [closeOnEscape]="true" [modal]="true"
	[(visible)]="addCarrierModal">
	<div class="col-md-12 padding-0 add-carrier-contents">
		<div class="col-md-12 padding-0 d-flex-ai-c generic-inputs__style ">
			<label class="areaLibelle padding-0 col-md-3 col-sm-12 col-xs-12"
				>{{ "COMMUNITY.ADD_CARRIER_SELECT" | translate }} :</label
			>
			<div class="col-md-9 col-sm-12 col-xs-12">
				<ng-select
					name="SelectChargeur"
					[multiple]="true"
					placeholder="Select chargeur..."
					[(ngModel)]="selectChargeurs"
				>
					<ng-option [value]="userAll"
						>{{ user.superAdmin ? user.ebCompagnie?.nom : user.ebEtablissement?.nom }} -
						{{ "COMMUNITY.ADD_ALL" | translate }}</ng-option
					>
					<ng-option *ngFor="let user of listEbUser" [value]="user">{{
						user.nomPrenom + " - " + user.ebEtablissement?.nom
					}}</ng-option>
				</ng-select>
			</div>
		</div>
		<div class="col-md-12 padding-0">
			<label class="radio-inline margin-r-15" *ngFor="let service of Statique.Service_Type; let i = index">
				<input type="radio" [(ngModel)]="typeInvitation" [value]="i"
					name="typeInvitation{{ i }}" />{{ service | translate }}</label>
		</div>

		<div class="col-md-12 padding-0  margin-top-10">
			<button (click)="addToChargeur($event)" class="btn btn-sm btn-primary pull-right" type="button"
				[disabled]="typeInvitation == null || selectChargeurs.length == 0">
				{{ "GENERAL.CONFIRM" | translate }}
			</button>
			<button type="button" class="btn btn-sm btn-tertiary  pull-right" (click)="back()">
				{{ "GENERAL.CANCEL" | translate }}
			</button>
		</div>
		<div class="col-md-12 padding-0">
			<span class="msg">{{ invitationMessage }}</span>
		</div>
	</div>
</p-dialog>
<!-- <ng-template #addCarrier let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title col-md-10">{{"COMMUNITY.ADD_CARRIER" | translate}}</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true"><i class="fa fa-close"></i></span>
		</button>
	</div>
	<div class="modal-body text-center">
			<ng-select
			name="SelectedcompanyCT"
			class="SelectedcompanyCT  min-width-210"
			[multiple]="true"
			placeholder="Select chargeur..."
			[(ngModel)]="selectChargeurs"
		>
		<ng-option [value]="'custom'">Custom</ng-option>
		<ng-option *ngFor="let user of listEbUser" [value]="user.ebUserNum" >{{user.nom}}</ng-option>

		</ng-select>

		<label
			class="radio-inline margin-r-15"
			*ngFor="let service of Statique.Service_Type; let i = index"
		>
			<input type="radio" [(ngModel)]="typeInvitation" [value]="i" name="typeInvitation{{ i }}" />{{
				service | translate
			}}</label
		>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" (click)="c(false)">Close</button>
		<button
			type="button"
			class="btn btn-primary"
			[disabled]="typeInvitation == null || selectConfig == 0"
			(click)="c(true)"
		>
			Confirm
		</button>
	</div>
</ng-template> -->

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title col-md-10">Type Invitation</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true"><i class="fa fa-close"></i></span>
		</button>
	</div>
	<div class="modal-body text-center">
		<label class="radio-inline margin-r-15" *ngFor="let service of Statique.Service_Type; let i = index">
			<input type="radio" [(ngModel)]="typeInvitation" [value]="i" name="typeInvitation{{ i }}" />{{
				service | translate
			}}
		</label>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" (click)="c(false)">Close</button>
		<button type="button" class="btn btn-primary" [disabled]="typeInvitation == null" (click)="c(true)">
			Confirm
		</button>
	</div>
</ng-template>

<!-- modal for send invitation to a user don't has a account on Mytower -->
<p-dialog
	(onShow)="onShowInvitModal()"
	[header]="'COMMUNITY.SEND_INVIT_CONNECT_MYTOWER' | translate"
	[closeOnEscape]="true"
	[modal]="true"
	[(visible)]="SendInvitationDialog"
>
	<div class="send-invitation__wrapper clearfix">
		<div class="block-body">
			<form>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-12  d-flex-ai-c generic-inputs__style flex-wrap">
								<label class="areaLibelle col-md-4 col-sm-12 col-xs-12"
									>{{ "INSCRIPTION.EMAIL" | translate }}:
								</label>
								<div class="col-md-8 col-sm-12 col-xs-12 padding-0">
									<input
										[pattern]="emailPattern"
										type="text"
										class="form-control"
										[(ngModel)]="emailToSend"
										#invitEmail="ngModel"
										name="invitingEmail"
									/>
								</div>
							</div>
						</div>
						<div class="col-md-12 padding-0  margin-top-10">
							<button
								(click)="sendInvitationByMail($event, emailToSend)"
								class="btn btn-sm btn-primary pull-right"
								[disabled]="!invitEmail?.valid || !emailToSend"
							>
								<i class="fa fa-envelope-o fa-fw"></i>
							</button>
							<button type="button" class="btn btn-sm btn-tertiary  pull-right" (click)="back()">
								{{ "GENERAL.CANCEL" | translate }}
							</button>
						</div>
						<div class="col-md-12 padding-0">
							<span class="msg">{{ invitationMessage }}</span>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</p-dialog>