@import "../settings.component.scss";
@import "../../../../../styles/components/mixins/breakpoints";
.action .btn {
	margin-left: 5px !important;
}

.block-header {
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 20px;
}

.block-footer {
	border-top: 1px solid #e2e2e2;
	padding-top: 10px;
	margin-top: 20px;
}

.block-footer .msg {
	color: #00a7ce;
}

.menu-item > div {
	position: relative;
	/* top: 22px!important; */
}

.dataTables_info {
	color: #333333;
	clear: both;
	float: left;
	padding-top: 0.755em;
}

.dataTables_paginate {
	/* float: right; */
	/* text-align: right; */
	text-align: center;
	padding-top: 0.25em;
}

.paginate_button.disabled {
	cursor: initial;
}

/* .paginate_button.current{
    background-color: #00B6D7 !important;
    border-color: #00B6D7 !important;
    color: #ffffff !important;
    background: #00B6D7 !important;
} */

.send-invitation__wrapper {
	background: #fff;
	padding: 10px;
	width: 100%;
	position: relative;
	border-radius: 5px;
	margin: 0 auto;
	@include bp-lt(767px) {
		width: 90%;
	}
}
.search-input-wrapper {
	.input-wrapper input {
		background: white !important;
		border-radius: 5px !important;
	}
	i.fa-close {
		position: relative;
		right: 14px;
		z-index: 99;
		cursor: pointer;
	}
	.search-button {
		position: relative;
		right: 22px;
	}
}

::ng-deep .ui-dialog-resizable .ui-dialog-content {
	overflow: visible !important;
	width: 100%;
	float: left;
}

.add-carrier-contents {
	max-width: 600px;
}

.contact-avatar {
	color: $primary-color;
	font-size: 40px !important;
}

#community-wrapper {
	overflow-y: auto
}