/******** VARIABLES ********/
@import "../../../styles/variables";

.wfc_root,
.wfc_form,
.wfc_options {
	height: 100%;
}

.wfc_root {
	display: flex;
	flex-flow: row;
	padding: 10px;

	.group_title {
		font-size: $fz-lg;
		color: black;
	}

	.wfc_form {
		flex: 4 0 75%;
		overflow-x: auto;
		overflow-y: auto;
		width: 100%;
		.f-section {
			margin-bottom: 10px;
		}
	}

	.wfc_options {
		flex: 1 0 25%;
		border-left: 1px solid #eeeeee;
		overflow-x: auto;
		overflow-y: auto;
		padding-left: 10px;
		display: flex;
		flex-flow: column;
	}
}

.display-message {
	margin: 10px;
	font-size: $fz-lg;
	color: black;
	text-align: center;
	white-space: pre;
}
