<!-- Indicators -->
<!-- <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol> -->

<!-- Wrapper for slides -->
<div>
	<img class="fixed-test" src="assets/images/landscape.png" />
	<!-- <div class="item active news-image">
        <img class="icon-login-test" src="assets/ressources/new-design/images/mytowerLog.png"> 
    <img class="icon-login" src="assets/ressources/new-design/images/mytowerLog.png" height="68" width="100">
        
        <img class="image-test" src="assets/ressources/new-design/images/login-image-test.png" height="100%" width="100%"/>
    </div> -->
	<!-- <div class="item news-image">
                            <img class="" src="<c:url value="/ressources/theme1/image/sliders/2.jpg"/>" alt="Chicago">
                            <div class="carousel-caption d-none d-md-block">
                                <h3>TITLE 2</h3>
                            </div>
                        </div>

                        <div class="item news-image">
                            <img class="" src="<c:url value="/ressources/theme1/image/sliders/3.jpg"/>" alt="New York">
                            <div class="carousel-caption d-none d-md-block">
                                <h3>TITLE 3</h3>
                            </div>
                        </div> -->

	<!-- Left and right controls
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> <span class="sr-only">Previous</span>
                    </a> <a class="right carousel-control" href="#myCarousel" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> <span class="sr-only">Next</span>
                    </a> -->
</div>
