/*@media all and (min-width: 1024px) and (max-width: 1280px)
{
.fixed{
    position:fixed;
    
  }

  .icon-login {
    
    left: 20% !important;}
    .image-test {
      
        width:80% !important;
        height:100%}
  }
     
  @media all and (min-width: 1280px) and (max-width: 2800px)
  {
  .fixed{
      position:fixed;
      
    }
  
    .icon-login {
      
      left: 220% !important;}
      .image-test {
      
        width: 80% !important;
        height:100%}
    }    */

/*.news-feed col-md-8 col-sm-6 padding {
        
        background-color:$secondary-color;
        background-image:url(assets/ressources/new-design/images/login-image-test.png);
        }*/

/* @media only screen and (max-width: 500px) {
    .icon-login-test {
        height: 0%!important;
        width: 25%!important;
        left: 10% !important;
        position: absolute !important;
        margin-top: 100px !important;
        margin-bottom: 100px !important;
        z-index: 1;
    }
    .fixed-test {
        position: fixed;
        height: 100%;
        width: 100% !important;
    }
}

@media only screen and (max-width: 1240px) {
    .icon-login-test {
        height: -1%!important;
        width: 25%!important;
        left: 38% !important;
        position: absolute !important;
        margin-top: 100px !important;
        z-index: -1;
    }
    .fixed-test {
        position: fixed;
        height: 100%;
        width: 75%;
    }
}

@media only screen and (min-width: 1366px) {
    .icon-login-test {
        height: -1%!important;
        width: 25%!important;
        left: 38% !important;
        position: absolute !important;
        margin-top: 100px !important;
        z-index: -1;
    }
    .fixed-test {
        position: fixed;
        height: 100%;
        width: 75%;
    }
}

@media only screen and (min-width: 1920px) {
    .icon-login-test {
        height: -1%!important;
        width: 25%!important;
        left: 38% !important;
        position: absolute !important;
        margin-top: 100px !important;
        z-index: -1;
    }
    .fixed-test {
        position: fixed;
        height: 100%;
        width: 75%;
    }
} */

.fixed-test {
	position: fixed;
	height: 100%;
	width: 75%;
}
