<div class="form-root">
	<div class="content">
		<div class="container-fluid relativePostion">
			<!-- Edition -->
			<div
				*ngIf="
					!loading &&
						!displayMessage &&
						!demande.ebDemandeNum &&
						acls[ACL.Rule.Pricing_Carrier_Show_Allow];
					else showCarrier
				"
				class="row d-flex-w"
			>
				<ng-container *ngIf="listDemandeQuote && listDemandeQuote.length">
					<div class="tr_card" *ngFor="let tr of listDemandeQuote; let i = index">
						<div class="tr_card_main">
							<div class="left_content truncate">
								<span>
									<div class="d-flex-jc-sb">
										<div class="p-2">
											<b>{{ tr.xTransporteur?.nom }}</b> ({{ tr.xEbEtablissement?.nom }})
										</div>
										<div  *ngIf="tr.horsGrille && tr.listPlCostItem" class="ml-auto p-2">
											<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="{{'PRICING_BOOKING.OFF_GRID_VALUATION' | translate}}">
												<i class="fa fa-exclamation-triangle"></i>
											</span>
										</div>
									</div>
								</span>
								<span>{{ tr.xTransporteur.email }}<br /></span>
								<div *ngIf="userConnected.canShowPrice">
									<div *ngIf="tr.price != null && tr.price >= 0; else calculatedPriceTpl">
										Prix Tr : {{ tr.price | tofixed: 2 }} {{ demande.xecCurrencyInvoice.code }}
									</div>
									<ng-template #calculatedPriceTpl>
										<div
											*ngIf="
												tr.xTransporteur?.calculatedPrice && tr.xTransporteur?.calculatedPrice >= 0
											"
										>
											Prix calculé : {{ tr.xTransporteur?.calculatedPrice | tofixed: 2 }} EUR
										</div>
									</ng-template>
								</div>
								<div
									*ngIf="
										tr.refGrille &&
										tr.isFromTransPlan &&
										(isChargeur || isControlTower)
									"
								>
									<span> {{ "TRANSPORTATION_PLAN.REF_GRID" | translate }}: {{ tr.refGrille }}</span>
								</div>
								<div>
									<span *ngIf="tr.comment && tr.comment.length > 0"> ({{ tr.comment }})</span>
								</div>
								<div>
									<span *ngIf="tr.transitTime"
										>{{ "PRICING_BOOKING.TRANSIT_TIME" | translate }} : {{ tr.transitTime }}</span
									>
								</div>
								<select
									[disabled]="!Statique.isDefined(tr.price) || !tr.isChecked"
									name="status-{{ tr.xTransporteur.ebUserNum }}"
									class="form-control padding-top-0"
									[(ngModel)]="tr.status"
									[compareWith]="Statique.compareByField"
									*ngIf="isTF || isPendingStatus"
									(click)="carrierStatusChange(tr)"
								>
									<option
										*ngFor="let st of Statique.CarrierStatusCreationTM"
										[disabled]="st.key == null"
										[ngValue]="st.key"
										>{{ st.value | translate }}</option
									>
								</select>
							</div>
							<div class="cb_select d-flex-jc-c d-flex-w">
								<ng-container
									*ngIf="
										!demande.ebDemandeNum ||
										(isPendingStatus &&
											demande.xEcNature != NatureDemandeTransport.CONSOLIDATION &&
											acls[ACL.Rule.Pricing_Carrier_Show_Allow])
									"
								>
									<p-checkbox
										class="margin-bottom-4-important"
										[disabled]="draftMode"
										[(ngModel)]="tr.isChecked"
										(onChange)="onTransporteurSelected(tr)"
										binary="true"
									></p-checkbox>

									<button
										class="btn btn-primary btn-xs margin-left-0-important"
										(click)="editQuotation(tr)"
										*ngIf="isTF || isForGrouping || isPendingStatus"
									>
										<i class="fa fa-pencil"></i>
									</button>
								</ng-container>
							</div>
						</div>
					</div>
				</ng-container>
			</div>
			<ng-template #showCarrier>
				<div *ngIf="!loading && !displayMessage && !demande.ebDemandeNum">
					<label class="msgPermis">{{ "PRICING_BOOKING.SHOW_CARRIER" | translate }}</label>
				</div>
			</ng-template>
			<!-- Readonly -->
			<button
				style="float:right"
				[disabled]="refreshDisabled"
				class="btn btn-primary btn-sm"
				*ngIf="disableRefreshButton() && !isCarrier()"
				(click)="refreshCost()"
			>
				{{ "GENERAL.REFRESH" | translate }}
			</button>
			<div
				*ngIf="
					((!loading && !displayMessage && !tdcAcknowledgeBlock) ||
						(isPendingStatus && demande.xEcNature == NatureDemandeTransport.CONSOLIDATION)) &&
					(listTransporteurViewOnly && listTransporteurViewOnly.length > 0)
				"
				class="row d-flex-w"
			>
				<div
					class="col-lg-4 col-md-6 col-sm-6 col-6 tr_card"
					*ngFor="let tr of listTransporteurViewOnly; let i = index"
					[class.tr_disabled]="tr.xTransporteur.status === EtatUser.DESACTIVE"
				>
					<span
						class="quote_validated"
						*ngIf="
							tr.status >= CarrierStatus.FINAL_CHOICE && tr.status != CarrierStatus.TRANSPORT_PLAN
						"
						><i class="fa fa-check"></i
					></span>
					<div class="tr_card_main">
						<div class="left_content truncate">
							<span>
								<div class="d-flex-jc-sb">
									<div class="p-2">
										<b>{{ tr.xTransporteur?.nom }}</b> ({{ tr.xEbEtablissement?.nom }})
									</div>
									<div  *ngIf="tr.horsGrille && tr.listPlCostItem" class="ml-auto p-2">
										<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="{{'PRICING_BOOKING.OFF_GRID_VALUATION' | translate}}">
											<i class="fa fa-exclamation-triangle"></i>
										</span>
									</div>
								</div>
							</span>
							<span>{{ tr.xTransporteur?.email }}<br /></span>

							<ng-container
								*ngIf="
									(tr.status >= CarrierStatus.QUOTE_SENT || canShowPriceInCardForViewOnly(tr)) &&
									userConnected.canShowPrice
								"
							>
								<span *ngIf="tr.price != null && tr.price >= 0"
									>{{ "PRICING_BOOKING.PRICE" | translate }} : {{ tr.price | tofixed: 2 }}
									{{ demande.xecCurrencyInvoice.code }} </span
								><br />
							</ng-container>

							<ng-container
								*ngIf="tr.status >= CarrierStatus.QUOTE_SENT || canShowPriceInCardForViewOnly(tr)"
							>
								<span>{{ readOnlyDatesDisplay(tr) }}</span
								><br />
								<span *ngIf="tr.transitTime"
									>{{ "PRICING_BOOKING.TRANSIT_TIME" | translate }} : {{ tr.transitTime }}</span
								><br />
								<span
									*ngIf="
										tr.isFromTransPlan &&
										isSuperAdmin &&
										(isChargeur || isControlTower) &&
										tr.refGrille
									"
								>
									{{ "TRANSPORTATION_PLAN.REF_GRID" | translate }}: {{ tr.refGrille }} </span
								><br />
								<span>{{ tr.comment }}</span>
							</ng-container>
						</div>
					</div>
					<div class="tr_footer">
						<div class="quote_statut" *ngIf="!canShowPriceInCardForViewOnly(tr)">
							<span>{{ getCarrierStatutLibelle(tr.status) | translate }}</span>
						</div>
						<div *ngIf="canShowPriceInCardForViewOnly(tr)">
							<button
								class="btn btn-primary btn-sm"
								*ngIf="
									demande.xEcStatut < DemandeStatus.WPU &&
									demande.xEcNature != NatureDemandeTransport.CONSOLIDATION
								"
								(click)="confirmChoice(tr, $event)"
							>
								Confirm choice
							</button>
						</div>

						<div class="details_wr">
							<div class="col-md-12 padding-0 margin-bottom-5 text-center">
								<button
									class="btn btn-primary btn-sm"
									(click)="showDetailsPrice(i)"
									*ngIf="tr.status >= CarrierStatus.QUOTE_SENT"
								>
									{{ "PRICING_BOOKING.DETAILS" | translate }}
								</button>
							</div>
							<div
								class="col-md-12 padding-0 text-center"
								*ngIf="
									!disableConfirmButton(tr) &&
									(demande.xEcNature != NatureDemandeTransport.CONSOLIDATION ||
										(demande.xEcNature == NatureDemandeTransport.CONSOLIDATION &&
											(demande.xEcStatutGroupage == StatutGroupage.PRS ||
												demande.xEcStatutGroupage == StatutGroupage.PPV ||
												demande.xEcStatutGroupage == StatutGroupage.PVC)))
								"
							>
								<button
									*ngIf="!acls[ACL.Rule.Pricing_Carrier_Confirm_Choice]"
									class="btn btn-primary btn-sm"
									[disabled]="!canConfirmQuote || demande.xEcStatut >= DemandeStatus.WPU"
									(click)="confirmChoice(tr, $event)"
								>
									{{ "PRICING_BOOKING.CONFIRM_CHOICE " | translate }}
								</button>
							</div>
							<!-- [disabled]=" tr.isFromTransPlan || tr.status = CarrierStatus.QUOTE_SENT" -->
						</div>
					</div>
				</div>
			</div>
			<div *ngIf="tdcAcknowledgeBlock && readOnly" style="text-align: center">
				{{ "PRICING_BOOKING.ACCUSER_RECEPTION_MSG" | translate }}
			</div>
			<div
				*ngIf="
					(showCarriersAutocomplete && !readOnly && !tdcAcknowledgeBlock) ||
					(demande.xEcNature == NatureDemandeTransport.CONSOLIDATION &&
						demande.xEcStatut != DemandeStatus.PND)
				"
			>
				<div *ngIf="!isPrestataire && demande.xEcStatut < DemandeStatus.FINAL_CHOICE" class="row margin-top-15">
					<div class="pull-right">
						<div class="float-left generic-inputs__style tr-autocomplete">
							<app-autocomplete
								name="selectedUserAutocomplete"
								[(inputModel)]="selectedUserAutocomplete"
								[listItems]="listTransporteurAutocomplete"
								bindLabel="nomPrenom"
								bindValue="ebUserNum"
								[bindObject]="true"
								placeholder="{{ 'PRICING_BOOKING.SELECT_USER' | translate }}"
								[useTemplate]="true"
								[searchFn]="autocompleteSearch"
								(inputModelChange)="emitSelectedListTransporteurAutocomplete($event)"
							>
								<div *forEachItem="let item">
									<div class="tr-auto-name" *ngIf="item.prenom || item.nom">
										<i class="fa fa-user"></i>
										<span *ngIf="item.nom">{{ item.nom }}</span>
										<span *ngIf="item.prenom">{{ item.prenom }}</span>
									</div>
									<div class="tr-auto-email">
										<i class="fa fa-at"></i>
										<span>{{ item.email }}</span>
									</div>
								</div>
							</app-autocomplete>
						</div>
						<div class="float-right">
							<button
								*ngIf="isControlTower"
								[disabled]="!selectedUserAutocomplete"
								class="margin-left-10 btn btn-primary btn-sm"
								(click)="handleSelectedCarrier($event, false)"
							>
								{{ "PRICING_BOOKING.ADD_QUOTATION" | translate }}
							</button>
							<button
								*ngIf="demande.xEcStatut < DemandeStatus.FINAL_CHOICE"
								class="margin-left-10 btn btn-primary btn-sm"
								[disabled]="isDuplicated || !selectedUserAutocomplete"
								(click)="handleSelectedCarrier($event, true)"
							>
								{{ "PRICING_BOOKING.ASK_QUOTATION" | translate }}
							</button>
							<button
								*ngIf="
									acls[ACL.Rule.Demande_Visualisation_Trpl_Enable] &&
									(!demande.statusQuote || demande.statusQuote < CarrierStatus.FINAL_CHOICE)
								"
								class="margin-left-10 btn btn-primary btn-sm"
								[disabled]="viewOnlyCarrierVisible"
								(click)="reloadCarriersVisualisation()"
							>
								{{ "PRICING_BOOKING.SHOW_TRPL" | translate }}
							</button>
						</div>
					</div>
					<div *ngIf="loading" class="flex-content-center">
						<p-progressSpinner></p-progressSpinner>
					</div>

					<div *ngIf="displayMessage && !loading" class="flex-content-center">
						<span class="display-message">{{ displayMessage | translate }}</span>
					</div>
				</div>
			</div>

			<div
				class="col-md-12 padding-0"
				*ngIf="!isCarrier() && (isForGrouping || demande.xEcNature == NatureDemandeTransport.CONSOLIDATION)"
			>
				<div class="col-md-12 margin-top-10-important padding-0">
					<div class="col-md-6 padding-0">
						<div>
							<label class="d-inline-block">{{
								"REQUEST_OVERVIEW.CONSOLIDATED_COST" | translate
							}}</label>
							<div class="d-inline-block padding-left-5">
								<input
									class="width-100-important d-inline-block"
									id="consolidatePrice"
									type="number"
									name="demande.consolidatedPrice"
									[(ngModel)]="demande.consolidatedPrice"
								/>
								<span class="padding-left-5">{{ demande?.xecCurrencyInvoice?.code }}</span>
							</div>
						</div>
					</div>

					<div class="col-md-6 padding-right-0">
						<div>
							<label class="d-inline-block">{{
								"REQUEST_OVERVIEW.UNIT_TRANSPORT_COST" | translate
							}}</label>
							<div class="d-inline-block padding-left-5">
								<input
									class="width-100-important d-inline-block"
									value="{{ demande.totalPrice }}"
								/>
								<span class="padding-left-5">{{ demande?.xecCurrencyInvoice?.code }}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 padding-0 margin-top-10-important">
					<div class="row">
						<div class="card-separator"></div>
						<div class="col-md-12">
							<div *ngIf="qrGroup">
								<label>{{ "REQUEST_OVERVIEW.VENTILATION_COST" | translate }} </label
								><span>{{ Statique.getVentilation(qrGroup) }}</span>
							</div>
							<div *ngIf="demande.saving">
								<label>{{ "REQUEST_OVERVIEW.SAVING" | translate }} </label>
								<span>
									{{ demande.saving | tofixed: 2 }}
								</span>
								<div
									class="alert-error"
									*ngIf="
										demande.xEcModeTransport == null &&
										demande.ebQrGroupe.ventilation == GroupeVentilation.AU_PRORATA_DU_POIDS_TAXABLE
									"
								>
									{{ "REQUEST_OVERVIEW.MSG_NO_MODE_TRANSPORT" | translate }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br /><br />

		<app-additional-cost
			*ngIf="demande.ebDemandeNum"
			[ebDemande]="demande"
			[module]="isTF || isForGrouping ? Modules.TRANSPORT_MANAGEMENT : Modules.PRICING"
			[userConnected]="userConnected"
			[listExEtablissementCurrency]="listCurrencyDemande"
			[listEbAdditionalCosts]="listEbAdditionalCosts"
			[readOnly]="readOnly"
		></app-additional-cost>
	</div>
	<div
		class="options"
		[ngClass]="{ 'show-options': optionsDisplayed && demande.xEcStatut != DemandeStatus.PND }"
	>
		<div class="options-content">
			<span class="title d-block margin-bottom-10">{{
				"PRICING_BOOKING.FORM_OPTIONS" | translate
			}}</span>
			<div class="col-md-12 margin-bottom-5" *ngIf="!draftMode">
				<p-checkbox
					name="isTF"
					[(ngModel)]="isTF"
					label="{{ 'PRICING_BOOKING.OPTIONS.TRANSPORT_FILE' | translate }}"
					(onChange)="onChangeIsTF()"
					binary="true"
				></p-checkbox>
			</div>
			<div class="col-md-12 margin-bottom-5" *ngIf="isTF">
				<p-checkbox
					name="optionInfoAboutTransport"
					[(ngModel)]="optionInfoAboutTransport"
					label="{{ 'PRICING_BOOKING.OPTIONS.INFORMATIONS_ABOUT_TRANSPORT' | translate }}"
					(onChange)="onChangeInformationsAboutTransport()"
					binary="true"
				></p-checkbox>
			</div>
		</div>
	</div>

	<app-pop-up-details-demande
		*ngIf="showDetailsPriceModal"
		[ebDemande]="demande"
		[exEbDemandeTransporteur]="showDetailsPriceItem"
		[module]="module"
		[isForEdit]="true"
		[_userConnected]="userConnected"
		(EditEventChange)="showDetailsPriceModal = $event; showDetailsPriceItem = null"
		(updateChatHandlerEvent)="updateChatHandler($event)"
	>
	</app-pop-up-details-demande>

	<div *ngIf="!!newDemandeQuote" class="modal modal-backdrop show" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document" style="width: 80%">
			<div class="modal-content">
				<div>
					<div class="modal-header">{{ "PRICING_BOOKING.ADD_EDIT_QUOTATION" | translate }}</div>

					<div class="modal-body">
						<app-cotation
							(feedbackQuotationEmitter)="feedbackQuotationHandler($event)"
							[hasContributionAccess]="hasContributionAccess || !demande.ebDemandeNum"
							[exEbDemandeTransporteur]="newDemandeQuote"
							[module]="isTF || isForGrouping ? Modules.TRANSPORT_MANAGEMENT : Modules.PRICING"
							[ebDemande]="demande"
							[isForAdd]="true"
							[isPendingStatus]="isPendingStatus"
							[userConnected]="userConnected"
							(onQuoteEditedEmitter)="onQuoteEditedHandler($event)"
							(onCloseQuotePopupEmitter)="newDemandeQuote = null"
						>
						</app-cotation>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
