<p-panel [toggleable]="true">
	<p-header>
		<div class="opcHeaderDiv">
			<span>{{ "DOCK.SPECIAL_PERIODS" | translate }}</span>
		</div>
	</p-header>

	<div class="opc_calendar_content">
		<p-schedule
			#fcCmp
			[options]="FCConf"
			[events]="calendarEvents"
			(onEventClick)="onClickCalendarEvent($event)"
			(onDayClick)="onCalendarLapSelect($event)"
		></p-schedule>
	</div>

	<!-- MODAL -->
	<div
		*ngIf="viewedOpeningPeriod != null"
		class="modal modal-backdrop"
		tabindex="-1"
		role="dialog"
		style="display:block!important"
	>
		<div class="modal-dialog" role="document" style="width: 820px;">
			<div class="modal-content" style="width: 820px;">
				<div>
					<form role="form" #formDetailsPeriod="ngForm" novalidate>
						<div class="modal-header">{{ "DOCK.SPECIAL_PERIODS" | translate }}</div>
						<div class="modal-body overflow-visible" style="width: 100%;">
							<div class="row">
								<div class="col-md-12 new-formcontrol">
									<div class="col-md-2">
										<label class="areaLibelle">{{ "DOCK.FIELD.LABEL" | translate }}</label>
									</div>
									<div class="col-md-10 padding-left-0-important padding-right-0-important">
										<input
											name="label"
											class="form-control goods classPickslipVal"
											[(ngModel)]="viewedOpeningPeriod.label"
										/>
									</div>
								</div>

								<div class="col-md-6 new-formcontrol">
									<div class="col-md-4">
										<label class="areaLibelle">{{ "DOCK.FIELD.PERIOD_FROM" | translate }}</label>
									</div>
									<div class="col-md-8 padding-left-0-important padding-right-0-important">
										<app-datetime-picker
											[(ngModel)]="viewedOpeningPeriod.startDate"
											[name]="'startDate'"
										></app-datetime-picker>
									</div>
								</div>

								<div class="col-md-6 new-formcontrol">
									<div class="col-md-4">
										<label class="areaLibelle">{{ "DOCK.FIELD.PERIOD_TO" | translate }}</label>
									</div>
									<div class="col-md-8 padding-left-0-important padding-right-0-important">
										<app-datetime-picker
											[(ngModel)]="viewedOpeningPeriod.endDate"
											[name]="'endDate'"
										></app-datetime-picker>
									</div>
								</div>

								<div class="col-md-12 new-formcontrol">
									<div class="col-md-4" style="text-align: left;">
										<label class="areaLibelle">{{ "DOCK.FIELD.TYPE_PERIOD" | translate }}</label>
									</div>
									<div class="col-md-2">{{ "DOCK.OPENING_PERIOD_TYPE.NORMAL" | translate }}</div>
									<div class="col-md-2 padding-left-0-important padding-right-0-important">
										<p-inputSwitch
											[ngModel]="typePeriodSwitchChecked"
											name="typePeriode"
											(onChange)="typePeriodeSwitchChange()"
										></p-inputSwitch>
									</div>
									<div class="col-md-2">
										{{ "DOCK.OPENING_PERIOD_TYPE.EXCEPTIONAL" | translate }}
									</div>
								</div>

								<div class="col-md-12 new-formcontrol">
									<div class="col-md-2">
										<label class="areaLibelle">{{ "DOCK.FIELD.PERIOD_WEEK" | translate }}</label>
									</div>
									<div class="col-md-10 padding-left-0-important padding-right-0-important">
										<ng-select
											name="week"
											[items]="listOpeningWeek"
											required="true"
											placeholder="{{ 'DOCK.HINT_SELECT_PERIOD_WEEK' | translate }}"
											bindValue="ebDkOpeningWeekNum"
											[(ngModel)]="viewedOpeningPeriod.ebDkOpeningWeekNum"
											(change)="loadViewedPeriodWeek()"
										>
											<ng-template ng-label-tmp let-item="item">
												<span>
													{{ item.label }}
												</span>
											</ng-template>
											<ng-template ng-option-tmp let-item="item">
												<span>
													{{ item.label }}
												</span>
											</ng-template>
										</ng-select>
									</div>
								</div>

								<div class="col-md-12">
									<div *ngIf="viewedOpeningWeek == null" style="min-height: 307px;">
										<p-progressSpinner></p-progressSpinner>
									</div>
									<div
										*ngIf="viewedOpeningWeek != null"
										class="row"
										style="max-height: 307px;overflow-y: scroll;"
									>
										<app-opening-day
											[listOpeningDay]="viewedOpeningWeek.days"
											[editable]="false"
										></app-opening-day>
									</div>
								</div>
							</div>
						</div>

						<div class="modal-footer">
							<a (click)="saveViewedPeriod()">
								<button
									class="btn btn-primary pull-right btn-sm mr5 modal_yes_btn"
									[disabled]="savingViewedPeriod"
								>
									{{ "GENERAL.CONFIRM" | translate }}
								</button>
							</a>
							<a (click)="closeViewedPeriodModal()">
								<button class="btn btn-danger pull-right btn-sm mr5 modal_no_btn">
									{{ "GENERAL.CANCEL" | translate }}
								</button>
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</p-panel>
