/******** VARIABLES ********/
@import "../../../../../../../../styles/variables";

.opcHeaderDiv {
	display: flex;
	flex-flow: row;
	align-items: center;
	padding: 0 10px;
	height: 27px;

	span {
		font-size: $fz-md;
		color: #fff;
	}
}
