<div class="col-md-12" style="margin-top: 2%;">
	<div class="row">
		<div class="col-md-12">
			<ul class="list-group">
				<li
					id="el"
					*ngFor="let em of listEmail"
					class="list-group-item"
					(click)="openPopupEmailHistorique(em)"
				>
					<span
						><a class="fa fa-paper-plane"></a> - {{ em.typeEmail }} -
						{{ (em.dateEnvoi) | dtFormat }} - {{ em.subject }}</span
					>
				</li>
			</ul>
		</div>
	</div>

	<div *ngIf="selectedEmail">
		<app-qm-semi-automatique-mail
			(newEmail)="onEmailHistoriqueSent($event)"
			(closePopUpMail)="selectedEmail = null"
			[selectedEmail]="selectedEmail"
			[incident]="incident"
		>
		</app-qm-semi-automatique-mail>
	</div>
</div>
