.creat-account__steps {
	height: 70vh;
}

.login {
	.left-side {
		background: #222 !important;
	}
	.right-side {
		padding: 30px 10px !important;
		align-items: baseline !important;
	}
}

.btn {
	background: #4f4f4f !important;
	color: white !important;
	border: 1px solid #4f4f4f !important;

	&:hover {
		background: #22364a;
	}
}
