<body class="external-page sb-l-c sb-r-c account">
	<div
		id="page-container"
		class="fade page-sidebar-fixed page-header-fixed page-with-wide-sidebar in"
	>
		<!-- begin #content -->
		<div id="content" class="content">
			<div class="login-background-chanel"></div>
			<div class="login">
				<div class="sides-wrapper">
					<div class="left-side">
						<div class="logo-wrapper">
							<img src="assets/images/logo-mytower-white.png" alt="logo-mytower-white" />
						</div>

						<div class="login-footer">
							<div class="form-group">
								<div class="login-buttons text-center">
									<button
										type="button"
										class="btn btn-default btn-dark-login"
										routerLink="/login-chanel"
									>
										{{ "LOGIN.LOGIN" | translate }}
									</button>
								</div>
							</div>
							<div>
								<p>
									&copy; MyTower All Rights Reserved 2017
								</p>
								<p>
									<span style="margin-top: 10px; color: white;">For any problem contact us </span>
									<a href="mailto:support@mytower.fr">
										<i
											class="fa fa-question-circle"
											style="font-size: 1.5em; cursor: pointer; margin-top: 0px; vertical-align: middle; margin-left: 3px; color: #fff;"
										></i>
									</a>
								</p>
							</div>
						</div>
					</div>
					<div class="right-side">
						<aw-wizard class="creat-account__steps" navBarLayout="large-filled-symbols">
							<aw-wizard-step
								stepTitle="{{ 'INSCRIPTION_CHANEL.INFOSPERSO' | translate }}"
								navigationSymbolFontFamily="FontAwesome"
								navigationSymbol="&#xf2b9;"
							>
								<div class="login-header">
									<div class="brand text-center login-content">
										<p class="" style="color: #010217; font-size: 35px; font-weight: bold;">
											{{ "INSCRIPTION_CHANEL.TITLE" | translate }}
										</p>
									</div>
								</div>

								<form #firstFormGroup="ngForm">
									<div class="form-group  col-md-12 padding-0">
										<div class="col-md-6  col-sm-6 col-xs-12">
											<label for="nom"> {{ "INSCRIPTION_CHANEL.NOM" | translate }}</label>
											<input
												id="nom"
												placeholder="{{ 'INSCRIPTION_CHANEL.NOM' | translate }}"
												class="form-control"
												name="nom"
												[(ngModel)]="newUser.nom"
												#nom="ngModel"
												required
											/>
										</div>
										<div class="col-md-6  col-sm-6 col-xs-12">
											<label for="prenom"> {{ "INSCRIPTION_CHANEL.PRENOM" | translate }}</label>
											<input
												id="prenom"
												placeholder="{{ 'INSCRIPTION_CHANEL.PRENOM' | translate }}"
												class="form-control"
												name="prenom"
												[(ngModel)]="newUser.prenom"
												#nom="ngModel"
												required
											/>
										</div>
									</div>

									<div class="form-group  col-md-12 padding-0">
										<div class="col-md-12">
											<label for="tel"> {{ "INSCRIPTION_CHANEL.TELEPHONE" | translate }}</label>
											<input
												id="tel"
												type="text"
												placeholder="{{ 'INSCRIPTION_CHANEL.TELEPHONE' | translate }}"
												class="form-control"
												name="telephone"
												[(ngModel)]="newUser.telephone"
												#telephone="ngModel"
											/>
										</div>
									</div>

									<div class="form-group  col-md-12 padding-0" style="height:50px;">
										<div class="col-md-12" style="height:50px;">
											<label for="email"> {{ "INSCRIPTION_CHANEL.EMAIL" | translate }}</label>
											<input
												type="text"
												placeholder="{{ 'INSCRIPTION_CHANEL.EMAIL' | translate }}"
												name="email"
												id="email"
												class="form-control"
												[(ngModel)]="newUser.email"
												pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
											/>
											<!--<div class="text-center" >
                                              <div class="alert alert-danger"></div>
                                          </div>-->
										</div>
										<!-- <div class="text-center">
                                          <div class="alert alert-success"></div>
                                      </div> -->
									</div>

									<div class="form-group  col-md-12 padding-0">
										<div class="col-md-12">
											<label for="refAdv">
												{{ "INSCRIPTION_CHANEL.REFERENT_ADV" | translate }}</label
											>
											<input
												id="refAdv"
												type="text"
												placeholder="{{ 'INSCRIPTION_CHANEL.REFERENT_ADV' | translate }}"
												class="form-control"
												name="refAdv"
												[(ngModel)]="newUser.mailRefAdv"
												#refADV="ngModel"
												pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
											/>
										</div>
									</div>

									<div class="form-group  col-md-12 padding-0" style="height:50px;">
										<div class="col-md-12" style="height:50px;">
											<label for="shiptonum">
												{{ "INSCRIPTION_CHANEL.SHIPTONUM" | translate }}</label
											>
											<input
												id="shiptonum"
												(keyup)="affecteShiptoToUserName()"
												type="text"
												placeholder="{{ 'INSCRIPTION_CHANEL.SHIPTONUM' | translate }}"
												name="shiptonum"
												[(ngModel)]="newUser.shipTo"
												(change)="checkUsername(newUser.shipTo)"
												class="form-control"
												required
											/>
											<!--<div class="text-center">
                                              <div class="alert alert-danger"></div>
                                          </div>-->
										</div>
										<!--<div class="text-center">
                                          <div class="alert alert-success"></div>
                                      </div>-->
									</div>

									<div class="form-group  col-md-12 padding-0">
										<div class="col-md-12">
											<label for="username"> {{ "INSCRIPTION.USERNAME" | translate }}</label>
											<input
												id="username"
												type="text"
												placeholder="{{ 'INSCRIPTION.USERNAME' | translate }}"
												name="username"
												class="form-control"
												(keyup)="sanitizeUsername()"
												[(ngModel)]="newUser.username"
												readonly
											/>
											<div class="text-center">
												<div
													*ngIf="usernameError"
													style="margin: 6px 0; padding: 5px;"
													class="alert alert-danger"
												>
													{{ usernameError }}
												</div>
											</div>
										</div>
										<div class="text-center">
											<div *ngIf="successMessage" class="alert alert-success">
												{{ successMessage }}
											</div>
										</div>
									</div>

									<div class="form-group  col-md-12 padding-0">
										<div class="col-md-12">
											<label for="password">
												{{ "INSCRIPTION_CHANEL.MOTDEPASSE" | translate }}</label
											>
											<input
												id="password"
												type="password"
												placeholder="{{ 'INSCRIPTION_CHANEL.MOTDEPASSE' | translate }}"
												class="form-control"
												validateEqual="confirmPassword"
												name="password"
												reverse="true"
												[(ngModel)]="newUser.password"
												#password="ngModel"
												required
												minlength="8"
												pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
											/>
											<small
												style="color: #1a1a1aa8;"
												[hidden]="password.pristine || password.valid"
											>
												{{ "INSCRIPTION.MESSAGE_PASSWORD" | translate }}
											</small>
										</div>
									</div>

									<div class="form-group  col-md-12 padding-0">
										<div class="col-md-12">
											<label for="confirmPassword">
												{{ "INSCRIPTION_CHANEL.CONFIRMER" | translate }}</label
											>
											<input
												id="confirmPassword"
												type="password"
												placeholder="{{ 'INSCRIPTION_CHANEL.CONFIRMER' | translate }}"
												class="form-control"
												validateEqual="password"
												name="confirmPassword"
												[(ngModel)]="newUser.confirmPassword"
												#confirmPassword="ngModel"
												required
											/>
											<small
												style="color: #1a1a1aa8;"
												[hidden]="confirmPassword.valid || confirmPassword.pristine"
											>
												{{ "INSCRIPTION.MESSAGEMDP" | translate }}
											</small>
										</div>
									</div>
									<div>
										<div class="form-group  col-md-12 text-right" style="margin-right: 0;">
											<button
												class="btn btn-dark-login login-buttons"
												[disabled]="!firstFormGroup.valid"
												awNextStep
											>
												{{ "INSCRIPTION.SUIVANT" | translate }}
												<i class="fa fa-angle-double-right" aria-hidden="true"></i>
											</button>
										</div>
									</div>
								</form>
							</aw-wizard-step>

							<aw-wizard-step stepTitle="{{ 'LEGALES.LEGALES' | translate }}">
								<div class="form-group  col-md-12 padding-0">
									<div class="col-md-12">
										<label for="conditionsGenerales">{{
											"LEGALES.CONDITIONSGENERALES" | translate
										}}</label>
										<textarea
											readonly
											name="conditionsGenerales"
											id="conditionsGenerales"
											cols="30"
											rows="10"
											class="form-control"
											placeholder="Les termes du contrat"
										></textarea>
									</div>
								</div>
								<div
									class="form-group  col-md-12 padding-0 text-left"
									style="margin-left: 35px; width: auto;"
								>
									<input
										type="checkbox"
										id="accepte"
										name="accepte"
										[(ngModel)]="accepte"
										required="true"
									/>
									<label for="accepte">{{ "LEGALES.ACCEPTE" | translate }}</label>
								</div>
								<div class="form-group  col-md-12 padding-0 text-right" style="margin-right: 0px;">
									<button class="btn btn-dark-login login-buttons" awPreviousStep>
										<i class="fa fa-angle-double-left" aria-hidden="true"></i>
										{{ "INSCRIPTION_CHANEL.RETOUR" | translate }}
									</button>
									<button
										class="btn btn-dark-login login-buttons"
										[disabled]="!accepte"
										(click)="register()"
									>
										{{ "INSCRIPTION_CHANEL.SEND" | translate }}
										<i class="fa fa-angle-double-right" aria-hidden="true"></i>
									</button>
								</div>
							</aw-wizard-step>
						</aw-wizard>
					</div>
				</div>
			</div>

			<!-- begin login -->

			<!-- end login -->
		</div>
		<!-- end #content -->
		<p-dialog header="{{ title }}" [(visible)]="display">
			{{ message }}
			<p-footer>
				<button
					type="button"
					pButton
					icon="pi pi-check"
					(click)="onOKRegistration()"
					label="OK"
				></button>
			</p-footer>
		</p-dialog>
	</div>
</body>
