<div class="new-pricing-wrapper" *ngIf="adresseToSave != null">
	<app-collapsible-panel title="{{ 'PRICING_BOOKING.ADD_ADDRESS' | translate }}">
		<app-form-adresse
			[adresse]="adresseToSave"
			[displayCancelButton]="true"
			[listAdresse]="listAdresse"
			[userConnected]="userConnected"
			(cancel)="cancelAddAdress($event)"
			(validateAdd)="validateAddAdress($event)"
		></app-form-adresse>
	</app-collapsible-panel>
</div>

<form
	class="new-pricing-wrapper"
	role="form"
	[hidden]="adresseToSave != null"
	#shippingInformationForm="ngForm"
	novalidate
>
	<app-collapsible-panel title="{{ 'PRICING_BOOKING.SHIPPING_INFORMATION' | translate }}">
		<div class="form-group">
			<!-- <div class="row-eq-height row-eq-height-responsive"> -->
			<div class="d-flex row-eq-height-responsive">
				<div class="col-md-3 col-sm-6 col-xs-12  border-right-ddd">
					<div class="row">
						<adresse-for-shipping
							[showAddressWrapper]="showAddressWrapper"
							[showAddressFields]="showAddressFields"
							[showAddAddressBtn]="showAddAddressBtn"
							(onValidate)="ebPartyOrigin = $event"
							[listCountry]="listCountry"
							[listZone]="listZone"
							[listEtablissementPlateform]="listEtablissementPlateform"
							[userConnected]="userConnected"
							[ebParty]="ebPartyOrigin"
							[fromOrTo]="from"
						></adresse-for-shipping>

						<adresse-for-shipping
							[showAddressWrapper]="showAddressWrapper"
							[showAddressFields]="showAddressFields"
							[showAddAddressBtn]="showAddAddressBtn"
							(onValidate)="ebPartyDest = $event"
							[listCountry]="listCountry"
							[listZone]="listZone"
							[listEtablissementPlateform]="listEtablissementPlateform"
							[userConnected]="userConnected"
							[ebParty]="ebPartyDest"
							[fromOrTo]="to"
						></adresse-for-shipping>
						<fieldset class="notify-party_wrapper">
							<legend>
								<h4 (click)="toggleNotifyFields()" class="d-inline-block">
									{{ "PRICING_BOOKING.NOTIFY_PARTY" | translate }}
								</h4>
								<span
									(click)="toggleNotifyFields()"
									[ngClass]="!showNotifyFields ? 'fa-angle-up' : 'fa-angle-down'"
									class="fa"
								></span>
							</legend>
							<fieldset
								[disabled]="ebDemande.ebDemandeNum"
								[ngClass]="showNotifyFields ? 'hidden' : ''"
								class="notify-party_fields nofieldset col-md-12"
							>
								<!-- FIX : Chrome autocomplete over ng2-completer autocomplete -->
								<input
									id="fixNotify1"
									style="opacity: 0;position: absolute;"
									hidden
									aria-hidden="true"
								/>
								<input
									id="fixNotify2"
									type="password"
									style="opacity: 0;position: absolute;"
									hidden
									aria-hidden="true"
								/>
								<!-- END FIX -->

								<div class="col-md-12 new-formcontrol" [hidden]="ebDemande.ebDemandeNum != null">
									<!-- <label class="areaLibelle">{{'PRICING_BOOKING.SEARCH_ETABLISSEMENT_ADRESSE'|translate}}</label> -->
									<ng2-completer
										name="ebDemande.ebPartyNotif.etablissementReference"
										placeholder="{{ 'PRICING_BOOKING.SEARCH_ETABLISSEMENT_ADRESSE' | translate }}"
										[(ngModel)]="searchNotify"
										[datasource]="suggestionsEtablissement"
										[minSearchLength]="1"
										(selected)="selectedPartyNotif($event)"
										[disabled]="ebDemande.ebDemandeNum != null && !toggleEditData"
									></ng2-completer>
									<span class="fa fa-search form-control-feedback input-search-icon"></span>
								</div>

								<div class="col-md-12  new-formcontrol">
									<!-- <label for="ebDemande.ebPartyNotif.company" class="areaLibelle">{{'PRICING_BOOKING.COMPANY'|translate}}</label> -->
									<input
										id="ebDemande.ebPartyNotif.company"
										placeholder="{{ 'PRICING_BOOKING.COMPANY' | translate }}"
										name="ebDemande.ebPartyNotif.company"
										class="form-control"
										type="text"
										[disabled]="ebDemande.ebDemandeNum != null"
										class=""
										[(ngModel)]="ebDemande.ebPartyNotif.company"
										aria-required="true"
									/>
								</div>

								<!--<div class="col-md-12  new-formcontrol">
                                    <label for="ebPartyNotif.etablissement" class="areaLibelle">{{'PRICING_BOOKING.VISIBILITY_RIGHTS'|translate}}</label>
                                    <select class="form-control" [compareWith]="compareEtablissement" name="ebDemande.ebPartyNotif.etablissement" [disabled]="ebDemande.ebDemandeNum != null"
                                        [(ngModel)]="ebDemande.ebPartyNotif.etablissement" >
                                        <option *ngFor="let etablissement of listEtablissementAvailables" [ngValue]="etablissement">
                                            {{etablissement.nom}} </option>
                                    </select>
                                </div>-->

								<div class="col-md-12  new-formcontrol">
									<!-- <label class="areaLibelle">{{'PRICING_BOOKING.ADDRESS'|translate}}</label> -->
									<textarea
										id="ebDemande.ebPartyNotif.address"
										placeholder="{{ 'PRICING_BOOKING.ADDRESS' | translate }}"
										name="ebDemande.ebPartyNotif.address"
										type="text"
										class="form-control adress"
										[disabled]="ebDemande.ebDemandeNum != null && !toggleEditData"
										[(ngModel)]="ebDemande.ebPartyNotif.adresse"
									></textarea>
								</div>

								<div class="col-md-12  new-formcontrol">
									<!-- <label for="ebDemande.ebPartyNotif.city" class="areaLibelle">{{'PRICING_BOOKING.CITY'|translate}}</label> -->
									<input
										id="ebDemande.ebPartyNotif.city"
										placeholder="{{ 'PRICING_BOOKING.CITY' | translate }}"
										name="ebDemande.ebPartyNotif.city"
										type="text"
										class="form-control"
										[disabled]="ebDemande.ebDemandeNum != null && !toggleEditData"
										[(ngModel)]="ebDemande.ebPartyNotif.city"
									/>
								</div>

								<div class="col-md-12  new-formcontrol">
									<!-- <label class="areaLibelle">{{'PRICING_BOOKING.ZIP_CODE'|translate}}</label> -->
									<input
										id="ebDemande.ebPartyNotif.zipCode"
										placeholder="{{ 'PRICING_BOOKING.ZIP_CODE' | translate }}"
										name="ebDemande.ebPartyNotif.zipCode"
										type="text"
										class="form-control"
										[disabled]="ebDemande.ebDemandeNum != null && !toggleEditData"
										[(ngModel)]="ebDemande.ebPartyNotif.zipCode"
									/>
								</div>
								<div class="col-md-12  new-formcontrol">
									<label
										for="ebDemande.ebPartyNotif.xEcCountry"
										class="areaLibelle col-md-6 col-sm-12 col-xs-12"
										>{{ "PRICING_BOOKING.COUNTRY" | translate }}</label
									>
									<div class="padding-0 col-md-6 col-sm-12 col-xs-12">
										<select
											id="ebDemande.ebPartyNotif.xEcCountry"
											class="form-control"
											name="ebDemande.ebPartyNotif.xEcCountry"
											[disabled]="ebDemande.ebDemandeNum != null && !toggleEditData"
											[compareWith]="compareCountry"
											[(ngModel)]="ebDemande.ebPartyNotif.xEcCountry"
										>
											<option *ngFor="let country of listCountry" [ngValue]="country">
												{{ country.codeLibelle }}
											</option>
										</select>
									</div>
								</div>

								<div class="col-md-12  new-formcontrol" *ngIf="ebDemande.ebDemandeNum == null">
									<label for="ebPartyNotif.zone" class="areaLibelle col-md-6 col-sm-12 col-xs-12">{{
										"PRICING_BOOKING.ZONE" | translate
									}}</label>
									<div class="padding-0 col-md-6 col-sm-12 col-xs-12">
										<select
											class="form-control"
											name="ebDemande.ebPartyNotif.zone"
											[compareWith]="compareZone"
											[disabled]="ebDemande.ebDemandeNum != null"
											[(ngModel)]="ebDemande.ebPartyNotif.zone"
										>
											<option [ngValue]="null"></option>
											<option *ngFor="let aZone of listZone" [ngValue]="aZone">{{
												getZoneDisplayString(aZone)
											}}</option>
										</select>
									</div>
								</div>

								<div class="col-md-12  new-formcontrol" *ngIf="ebDemande.ebDemandeNum != null">
									<!-- <label class="areaLibelle">{{'PRICING_BOOKING.ZONE'|translate}}</label> -->
									<input
										id="ebPartyNotif.zone"
										type="text"
										placeholder="{{ 'PRICING_BOOKING.ZONE' | translate }}"
										class="form-control"
										name="ebDemande.ebPartyNotif.zone"
										[disabled]="true"
										[value]="getZoneBackupDisplayString(ebDemande.ebPartyNotif)"
									/>
								</div>

								<div class="col-md-12  new-formcontrol">
									<!-- <label class="areaLibelle">{{'PRICING_BOOKING.OPENING_HOURS'|translate}}</label> -->
									<input
										name="ebDemande.ebPartyNotif.openingHours"
										placeholder="{{ 'PRICING_BOOKING.OPENING_HOURS' | translate }}"
										type="text"
										class="form-control"
										[disabled]="ebDemande.ebDemandeNum != null && !toggleEditData"
										[(ngModel)]="ebDemande.ebPartyNotif.openingHours"
									/>
								</div>

								<div class="col-md-12  new-formcontrol">
									<!-- <label class="areaLibelle">{{'PRICING_BOOKING.AIRPORT'|translate}}</label> -->
									<input
										id="ebDemande.ebPartyNotif.airport"
										placeholder="{{ 'PRICING_BOOKING.AIRPORT' | translate }}"
										name="ebDemande.ebPartyNotif.airport"
										class="form-control"
										type="text"
										[disabled]="ebDemande.ebDemandeNum != null && !toggleEditData"
										[(ngModel)]="ebDemande.ebPartyNotif.airport"
									/>
								</div>

								<div class="col-md-12  new-formcontrol">
									<!-- <label class="areaLibelle">{{'PRICING_BOOKING.PHONE'|translate}}</label> -->
									<input
										id="ebPartyNotif.phone"
										placeholder="{{ 'PRICING_BOOKING.PHONE' | translate }}"
										name="ebDemande.ebPartyNotif.phone"
										type="text"
										class="form-control"
										[disabled]="ebDemande.ebDemandeNum != null && !toggleEditData"
										[(ngModel)]="ebDemande.ebPartyNotif.phone"
									/>
								</div>

								<div class="col-md-12  new-formcontrol">
									<!-- <label class="areaLibelle">{{'PRICING_BOOKING.EMAIL_ADDRESS'|translate}}</label> -->
									<input
										id="ebPartyNotif.email"
										placeholder="{{ 'PRICING_BOOKING.EMAIL_ADDRESS' | translate }}"
										[pattern]="Statique.patterEmail"
										name="ebDemande.ebPartyNotif.email"
										type="text"
										class="form-control"
										[disabled]="ebDemande.ebDemandeNum != null && !toggleEditData"
										[(ngModel)]="ebDemande.ebPartyNotif.email"
									/>
								</div>

								<div class="col-md-12  new-formcontrol">
									<!-- <label class="areaLibelle">{{'PRICING_BOOKING.ADDRESS_COMMENT'|translate}}</label> -->
									<textarea
										id="ebPartyNotif.commentaire"
										placeholder="{{ 'PRICING_BOOKING.ADDRESS_COMMENT' | translate }}"
										name="ebDemande.ebPartyNotif.commentaire"
										type="text"
										class="form-control adress"
										[(ngModel)]="ebDemande.ebPartyNotif.commentaire"
										[disabled]="ebDemande.ebDemandeNum != null && !toggleEditData"
									></textarea>
								</div>

								<div class="col-md-12  new-formcontrol">
									<button
										*ngIf="userConnected.admin || userConnected.superAdmin"
										(click)="openSaveAdresseModel('NOTIFY')"
										class="add-adress-button"
										title="{{ 'PRICING_BOOKING.ADD_ADDRESS' | translate }}"
									>
										<i class="fa fa-floppy-o"></i>
									</button>
								</div>
							</fieldset>
						</fieldset>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 border-right-ddd">
					<div class="row">
						<fieldset>
							<legend>
								<h4>{{ "PRICING_BOOKING.REFERENCE_INFORMATION" | translate }}</h4>
							</legend>
						</fieldset>
						<div class="col-md-12 new-formcontrol  ">
							<input name="favori" class=" hidden" type="text" value="" />
							<label class="areaLibelle col-md-6 col-sm-12 col-xs-12">{{
								"PRICING_BOOKING.CUSTOMER_REFERENCE" | translate
							}}</label>
							<div
								class="col-md-6 col-sm-12 col-xs-12 padding-left-0-important padding-right-0-important"
							>
								<input
									name="customerReference"
									class="form-control goods classPickslipVal"
									[(ngModel)]="ebDemande.customerReference"
									[disabled]="ebDemande.ebDemandeNum != null && !toggleEditData"
								/>
							</div>
							<!-- <div *ngIf="ebDemande.ebDemandeNum == null" class="col-md-1  col-md-1-2 padding-left-0-important padding-right-0-important">
                                        <label class="btn btn-picky btn-xs btn-picky2 classPickslipMins border-left-0" type="button" (click)="removeCommande(commande)">
                                            <span class="margin-left-negative-4-important fa-minus fa"></span>
                                        </label>
                                    </div> -->
							<!-- <div class="col-md-{{ebDemande.ebDemandeNum==null?'11':'12'}}" id="pickslipPlus" *ngFor="let commande of ebDemande.listCommandes;let i=index;">
                                </div> -->

							<!-- <div [hidden]="ebDemande.ebDemandeNum != null" class="col-md-1 padding-left-0-important padding-right-0-important margin-left-negative-2-important">
                                    <label type="button" class="btn btn-picky btn-xs" (click)="addCommande()">
                                        <span class="fa-plus fa margin-left-negative-4-important"></span>
                                    </label>
                                </div> -->
						</div>
						<div *ngIf="ebDemande.ebDemandeNum != null" class="col-md-12 new-formcontrol  ">
							<label class="areaLibelle col-md-6 col-sm-12 col-xs-12">{{
								"PRICING_BOOKING.NATURE" | translate
							}}</label>
							<div
								class="col-md-6 col-sm-12 col-xs-12 padding-left-0-important padding-right-0-important"
							>
								<select
									class="form-control"
									name="xEcNature"
									[(ngModel)]="ebDemande.xEcNature"
									[disabled]="ebDemande.ebDemandeNum != null"
								>
									<option [value]=""></option>
									<option *ngFor="let item of NatureDemandeTransport.values()" [value]="item.key">
										{{ item.value | translate }}</option
									>
								</select>
							</div>
						</div>
						<div class="new-formcontrol col-md-12">
							<label class="areaLibelle col-md-6 col-sm-12 col-xs-12">
								{{ "PRICING_BOOKING.SERVICE_LEVEL" | translate }}</label
							>
							<!-- <div class="col-md-6 col-sm-12 col-xs-12 padding-0" >
                                <select class="form-control" name="ebDemande.xEcTypeDemande" [(ngModel)]="ebDemande.xEcTypeDemande"
                                    [disabled]="ebDemande.ebDemandeNum != null" required>
                                    <option *ngFor="let item of typeDemande" [ngValue]="item.key">{{item.value}} </option>
                                </select>
                            </div> -->
							<div class="col-md-6 col-sm-12 col-xs-12 padding-0">
								<select
									class="form-control"
									name="ebDemande.xEcTypeDemande"
									[(ngModel)]="ebDemande.xEbTypeRequest"
									[disabled]="ebDemande.ebDemandeNum != null"
									required
								>
									<option
										*ngFor="let item of listTypeDemandeByCompagnie"
										[ngValue]="item.ebTypeRequestNum"
										>{{ item.reference + (item.libelle != null ? " - " + item.libelle : "") }}
									</option>
								</select>
							</div>
						</div>

						<!-- 			<fieldset > -->
						<div class="col-md-12 mb5 new-formcontrol">
							<label class="areaLibelle col-md-6 col-sm-12 col-xs-12">{{
								"PRICING_BOOKING.DATE_GOODS_AVAILABILITY" | translate
							}}</label>
							<div class="col-md-6 col-sm-12 col-xs-12 padding-0">
								<app-datetime-picker
									[timepicker]="true"
									name="ebDemande.dateOfGoodsAvailability"
									[(ngModel)]="ebDemande.dateOfGoodsAvailability"
									[disabled]="ebDemande.ebDemandeNum != null"
									[required]="true"
								></app-datetime-picker>
							</div>
						</div>
						<div class="col-md-12 mb5 new-formcontrol margin-top-5">
							<label class="areaLibelle col-md-6 col-sm-12 col-xs-12">{{
								"PRICING_BOOKING.DATE_ARRIVAL" | translate
							}}</label>
							<div class="col-md-6 col-sm-12 col-xs-12 padding-0">
								<app-datetime-picker
									name="ebDemande.dateOfArrival"
									[(ngModel)]="ebDemande.dateOfArrival"
									[disabled]="ebDemande.ebDemandeNum != null"
								></app-datetime-picker>
							</div>
						</div>
						<fieldset
							class="nofieldset"
							[disabled]="ebDemande.ebDemandeNum != null && !toggleEditData"
						>
							<div class="col-md-12  new-formcontrol margin-top-5">
								<label class="areaLibelle col-md-6 col-sm-12 col-xs-12">{{
									"PRICING_BOOKING.COST_CENTER" | translate
								}}</label>
								<div class="col-md-6 col-sm-12 col-xs-12 padding-0">
									<select
										class="form-control"
										name="ebDemande.costCenter"
										[(ngModel)]="ebDemande.xEbCostCenter"
										[compareWith]="compareCostCenter"
										[disabled]="ebDemande.ebDemandeNum != null && !toggleEditData"
									>
										<option [ngValue]="null"></option>
										<option *ngFor="let costCenter of listCostCenter" [ngValue]="costCenter">{{
											costCenter.libelle
										}}</option>
									</select>
								</div>
							</div>

							<!-- <div class="col-md-12 new-formcontrol" *ngIf="!ebDemande.ebDemandeNum">
                                <ng-select name="etablissementCt" [items]="listEtablissement" [multiple]="false"
                                    [typeahead]="typeaheadEtabEvent" bindValue="ebEtablissementNum" bindLabel="nom"
                                    placeholder="Select establishment..." [(ngModel)]="selectedEtabNum" (change)="handleSelectedEtabChange($event)"
                                    [required]="ebDemande.ebDemandeNum == null">
                                    <ng-template ng-label-tmp let-item="item">
                                        <span>{{item.nom}} - {{item.ebCompagnie.nom}}

                                        </span>
                                    </ng-template>
                                    <ng-template ng-option-tmp let-item="item">
                                        <span>
                                            {{item.nom}} - {{item.ebCompagnie.nom}}
                                        </span>
                                    </ng-template>
                                </ng-select>
                            </div> -->
							<div class="col-md-12 new-formcontrol" *ngIf="!ebDemande.ebDemandeNum">
								<label class="areaLibelle">{{
									"PRICING_BOOKING.OWNER_OF_THE_REQUEST" | translate
								}}</label>
								<ng-select
									name="selectedUserCt"
									class="selectedUserCt"
									[items]="listUserEtab"
									[multiple]="false"
									[typeahead]="typeaheadUserEvent"
									bindValue="ebUserNum"
									bindLabel="nom"
									placeholder="Select user..."
									[(ngModel)]="selectedUserNum"
									(change)="handleSelectedUserChange($event)"
									[required]="ebDemande.ebDemandeNum == null"
								>
									<ng-template ng-label-tmp let-item="item">
										<span
											>{{ item.nom + (item.nom && item.prenom ? " " : "") + (item.prenom || "") }}
										</span>
									</ng-template>
									<ng-template ng-option-tmp let-item="item">
										<div class="d-block">
											<i class="fa fa-user color-primary"></i>
											<span class="ct-select_info">{{
												item.nom + (item.nom && item.prenom ? " " : "") + (item.prenom || "")
											}}</span>
										</div>
										<div class="d-block">
											<i class="fa fa-at color-primary"></i
											><span class="ct-select_info"> {{ item.email }}</span>
										</div>
									</ng-template>
								</ng-select>
							</div>
							<div class="col-md-12 new-formcontrol" *ngIf="!ebDemande.ebDemandeNum">
								<ng-select
									name="etablissementCt"
									[items]="listEtablissement"
									[multiple]="false"
									[typeahead]="typeaheadEtabEvent"
									bindValue="ebEtablissementNum"
									bindLabel="nom"
									placeholder="Select establishment..."
									[(ngModel)]="selectedEtabNum"
									(change)="handleSelectedEtabChange($event)"
									[required]="ebDemande.ebDemandeNum == null"
								>
									<ng-template ng-label-tmp let-item="item">
										<span>{{ item.nom }} - {{ item.ebCompagnie.nom }} </span>
									</ng-template>
									<ng-template ng-option-tmp let-item="item">
										<span> {{ item.nom }} - {{ item.ebCompagnie.nom }} </span>
									</ng-template>
								</ng-select>
							</div>
						</fieldset>
						<fieldset>
							<legend>
								<h4>{{ "PRICING_BOOKING.INFORMATIONS_COMPLEMENTAIRES" | translate }}</h4>
							</legend>
							<div class="col-md-12 new-formcontrol">
								<app-comment-panel
									[disabled]="ebDemande.ebDemandeNum != null && !toggleEditData"
									panelOpen="false"
									(sharedVarChange)="getComment($event)"
									title="{{ 'PRICING_BOOKING.INFORMATIONS_COMPLEMENTAIRES' | translate }}"
									[(commentModel)]="ebDemande.commentChargeur"
								></app-comment-panel>
							</div>
						</fieldset>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 border-right-ddd">
					<div class="row">
						<fieldset>
							<legend>
								<h4>{{ "PRICING_BOOKING.MODE_OF_TRANSPORT" | translate }}</h4>
							</legend>

							<div class="col-md-12 new-formcontrol">
								<label class="areaLibelle col-md-6 col-sm-12 col-xs-12">{{
									"PRICING_BOOKING.MODE_OF_TRANSPORT" | translate
								}}</label>
								<div class="col-md-6 col-sm-12 col-xs-12 padding-0">
									<select
										class="form-control"
										name="ebDemande.xEcModeTransport"
										(change)="ChangedModeOfTransport()"
										[(ngModel)]="ebDemande.xEcModeTransport"
										[disabled]="ebDemande.ebDemandeNum != null"
										required
									>
										<option *ngFor="let item of modeTransport" [ngValue]="item.code">
											{{ item.libelle }}
										</option>
									</select>
								</div>

								<div
									class="col-md-12 padding-right-0"
									[ngClass]="{ 'padding-top-10-important': ebDemande.xEcModeTransport != null }"
								>
									<div *ngIf="ebDemande.xEcModeTransport == ModeTransportEnum.AIR">
										<div
											class="col-md-6 new-formcontrol"
											*ngFor="let itemAIR of typeTransportAir; let i = index"
										>
											<label>
												<input
													type="radio"
													name="itemAIR{{ i }}"
													[value]="itemAIR.ebTypeTransportNum"
													[(ngModel)]="ebDemande.xEbTypeTransport"
													[disabled]="ebDemande.ebDemandeNum != null"
												/>
												{{ itemAIR.libelle }}
											</label>
										</div>
									</div>
									<div *ngIf="ebDemande.xEcModeTransport == ModeTransportEnum.SEA">
										<div
											class="col-md-6 new-formcontrol"
											*ngFor="let itemSEA of typeTransportSea; let i = index"
										>
											<label>
												<input
													type="radio"
													name="itemSEA{{ i }}"
													[value]="itemSEA.ebTypeTransportNum"
													[(ngModel)]="ebDemande.xEbTypeTransport"
													[disabled]="ebDemande.ebDemandeNum != null"
												/>
												{{ itemSEA.libelle }}
											</label>
										</div>
									</div>
									<div *ngIf="ebDemande.xEcModeTransport == ModeTransportEnum.ROAD">
										<div
											class="col-md-6 new-formcontrol"
											*ngFor="let itemROAD of typeTransportRoad; let i = index"
										>
											<label class="">
												<input
													type="radio"
													name="itemROAD{{ i }}"
													[value]="itemROAD.ebTypeTransportNum"
													[(ngModel)]="ebDemande.xEbTypeTransport"
													[disabled]="ebDemande.ebDemandeNum != null"
												/>
												{{ itemROAD.libelle }}
											</label>
										</div>
									</div>
									<!-- <div *ngIf="ebDemande.xEcModeTransport == ModeTransportEnum.INTEGRATOR">
                                                            <div id='btn-consol' class="col-md-12 new-formcontrol" *ngFor="let itemINTEGRATEUR of Statique.TypeTransportIintegrateur;let i=index;">
                                                                <label class="">
                                                                    <input type="radio" name="itemINTEGRATEUR{{i}}" [value]="itemINTEGRATEUR.key" [(ngModel)]="ebDemande.xEbTypeTransport" [disabled]="ebDemande.ebDemandeNum != null"
                                                                    /> {{itemINTEGRATEUR.value}}
                                                                </label>
                                                            </div>
                                                        </div> -->
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6 new-formcontrol">
								<label for="xEc Incoterm" class="areaLibelle col-md-7 col-sm-12 col-xs-12">{{
									"PRICING_BOOKING.INCOTERMS" | translate
								}}</label>
								<div class="col-md-5 col-sm-12 col-xs-12 padding-0">
									<select
										class="form-control"
										name="incoterms"
										[compareWith]="Statique.compareSchemaPsl"
										[(ngModel)]="ebDemande.xEbSchemaPsl"
										[disabled]="ebDemande.ebDemandeNum != null"
										required
										(change)="selectConfigPsl(ebDemande.xEbSchemaPsl)"
									>
										<option [ngValue]="null"></option>
										<option *ngFor="let item of listSchemaPslFiltered" [ngValue]="item">
											{{ item.xEcIncotermLibelle }}
										</option>
									</select>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6 new-formcontrol">
								<label class="areaLibelle col-md-5 col-sm-12 col-xs-12">{{
									"PRICING_BOOKING.CITY" | translate
								}}</label>
								<div class="col-md-7 col-sm-12 col-xs-12 padding-0">
									<input
										id="city"
										name="city"
										type="text"
										class=""
										[(ngModel)]="ebDemande.city"
										[disabled]="ebDemande.ebDemandeNum != null"
									/>
								</div>
							</div>
							<div class="col-md-12 new-formcontrol" *ngIf="selectedSchema">
								<label for="PSL" class="areaLibelle col-md-12">PSL</label>
								<div class="col-md-12 d-flex-w checkbox-primeng padding-right-0">
									<div *ngFor="let item of listPsl; let i = index" class="padding-right-5">
										<div class="new-formcontrol">
											<p-checkbox
												[disabled]="!selectedSchema.isEditable"
												class="col-md-12 padding-0"
												name="psl{{ item.ebTtCompanyPslNum }}"
												[value]="item.ebTtCompanyPslNum"
												[(ngModel)]="selectedPsl"
												label="{{ item.libelle }}"
												binary="true"
											></p-checkbox>
										</div>
									</div>
								</div>
							</div>
						</fieldset>

						<fieldset>
							<legend>
								<h4>{{ "PRICING_BOOKING.OTHER" | translate }}</h4>
							</legend>

							<div class="col-md-6 col-sm-6 col-xs-6 new-formcontrol">
								<label class="areaLibelle col-md-7 col-sm-12 col-xs-12">{{
									"PRICING_BOOKING.INSURANCE" | translate
								}}</label>
								<div class="col-md-5 col-sm-12 col-xs-12 padding-0">
									<select
										class="form-control"
										name="ebDemande.insurance"
										[(ngModel)]="ebDemande.insurance"
										required
										[disabled]="ebDemande.ebDemandeNum != null"
									>
										<option *ngFor="let item of yesOrNo" [ngValue]="item.key">{{
											item.value
										}}</option>
									</select>
								</div>
							</div>

							<div class="col-md-6 col-sm-6 col-xs-6 new-formcontrol">
								<label class="areaLibelle col-md-5 col-sm-12 col-xs-12">{{
									"PRICING_BOOKING.VALUE" | translate
								}}</label>
								<div class="col-md-7 col-sm-12 col-xs-12 padding-0">
									<input
										id="insuranceValue"
										name="ebDemande.insuranceValue"
										aria-describedby="basic-addon2"
										type="text"
										class=""
										[disabled]="
											ebDemande.ebDemandeNum != null ||
											(ebDemande.insurance === false || ebDemande.insurance === null)
										"
										[(ngModel)]="ebDemande.insuranceValue"
										[pattern]="Statique.patternDecimalNumber"
										[required]="ebDemande.insurance"
									/>
									{{ yesOrNo.value }}
								</div>
							</div>
							<div class="col-md-12 new-formcontrol">
								<label for="xEc currency" class="areaLibelle col-md-6 col-sm-12 col-xs-12">{{
									"PRICING_BOOKING.INVOICE_CURRENCY" | translate
								}}</label>
								<div class="col-md-6 col-sm-12 col-xs-12 padding-0">
									<select
										class="form-control"
										name="currency"
										[(ngModel)]="ebDemande.xecCurrencyInvoice"
										[compareWith]="compareCurrency"
										[disabled]="ebDemande.ebDemandeNum != null"
										required
									>
										<option *ngFor="let item of listCurrencyDemande" [ngValue]="item">
											{{ item.codeLibelle }}
										</option>
									</select>
								</div>
							</div>

							<!-- <div class="col-md-12  new-formcontrol">
                                <label for="originCustomsBroker" class="areaLibelle">{{'PRICING_BOOKING.ORIGIN_CUSTOMS_BROKER'|translate}}</label>
                                <select id="originCustomsBroker" class="form-control" name="ebDemande.xEcTypeCustomBroker"
                                    [disabled]="ebDemande.ebDemandeNum != null && !toggleEditData" (change)="originCustomsBrokerChange($event)"
                                    required>
                                    <option *ngFor="let item of listOriginCustomsBroker" [ngValue]="item.key"
                                        [selected]="ebDemande.xEcTypeCustomBroker == item.key">{{item.value}}</option>
                                    <option disabled>------------</option>
                                    <option *ngFor="let broker of listBrokers" [ngValue]="broker.ebUserNum" [selected]="ebDemande.xEcBroker != null && ebDemande.xEcBroker.ebUserNum == broker.ebUserNum">{{broker.email}}</option>
                                </select>
                            </div> -->

							<div class="col-md-12 new-formcontrol">
								<label class="areaLibelle col-md-6 col-sm-4 col-xs-4">{{
									"GENERAL.FAVORITE" | translate
								}}</label>
								<app-favori
									class="col-md-6 col-sm-8 col-xs-8 padding-left-0"
									[module]="ebModuleNum"
									[idObject]="ebDemande.ebDemandeNum"
									[refObject]="ebDemande.refTransport"
									[user]="userConnected"
									[isDetail]="true"
								></app-favori>
							</div>
							<!--<div class="col-md-12 new-formcontrol" *ngIf="ebDemande.ebDemandeNum == null">
                                <label >{{'PRICING_BOOKING.FLAG'|translate}}</label>
                                <app-flag-multi-select [(listFlagCode)]="ebDemande.listFlag"></app-flag-multi-select>
                            </div>-->
						</fieldset>
						<fieldset *ngIf="ebDemande && ebDemande.user">
							<legend>
								<h4>{{ "GENERAL.PEOPLE" | translate }}</h4>
							</legend>
							<app-external-users
								#externalUsersComponent
								[ebDemande]="ebDemande"
								(updateChatEmitter)="updateChatEmitter.emit($event)"
							></app-external-users>
							<!-- fin categorie -->
						</fieldset>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12  border-right-ddd">
					<div class="row">
						<fieldset
							*ngIf="listCategorie != null && listCategorie.length > 0"
							class="categorie_wrapper"
							[disabled]="ebDemande.ebDemandeNum"
						>
							<legend>
								<h4 (click)="toggleCategFields()" class="d-inline-block">
									{{ "QUALITY_MANAGEMENT.ROOT_CAUSE_CATEGORIE" | translate }}
								</h4>
								<span
									(click)="toggleCategFields()"
									[ngClass]="!showCategFields ? 'fa-angle-up' : 'fa-angle-down'"
									class="fa"
								></span>
							</legend>
							<!-- debut categorie -->
							<div [ngClass]="showCategFields ? 'hidden' : ''" class="col-md-12">
								<div class="form-group" *ngIf="listCategorie && listCategorie.length > 0">
									<div
										class="new-formcontrol col-md-12 padding-0"
										[attr.id]="i"
										*ngFor="let categorie of listCategorie; let i = index"
									>
										<label class="areaLibelle col-md-6 col-sm-12 col-xs-12">{{
											categorie.libelle
										}}</label>
										<div class="col-md-6 col-sm-12 col-xs-12 padding-0">
											<select
												class="form-control"
												name="categorie{{ i }}"
												[(ngModel)]="categorie.selectedLabel"
												[compareWith]="compareCategoryLabel"
											>
												<option [ngValue]="null"></option>
												<option *ngFor="let label of categorie.labels" [ngValue]="label">{{
													label.libelle
												}}</option>
											</select>
										</div>
									</div>
								</div>
								<!-- <div *ngIf="listCategorie && listCategorie.length == 0">
                                    <div class="text-center">Categories not found</div>
                                </div> -->
								<div *ngIf="!listCategorie">
									<div class="text-center">
										<i class="fa fa-spinner fa-spin fa-15x fa-fw" style="color:black"></i> Loading
										categories...
									</div>
								</div>
							</div>
						</fieldset>
						<fieldset
							*ngIf="listFields != null && listFields.length > 0"
							class="params_wrapper"
							[disabled]="ebDemande.ebDemandeNum"
						>
							<legend>
								<h4 class="d-inline-block" (click)="toggleParamsFields()">
									{{ "PRICING_BOOKING.CHAMPS_PARAMS" | translate }}
								</h4>
								<span
									(click)="toggleParamsFields()"
									[ngClass]="!showParamsFields ? 'fa-angle-up' : 'fa-angle-down'"
									class="fa"
								></span>
							</legend>
							<div [ngClass]="showParamsFields ? 'hidden' : ''" class="col-md-12">
								<div *ngIf="listFields && listFields.length > 0; else blockErrorCustomFields">
									<div class="col-md-12 new-formcontrol padding-0" *ngFor="let field of listFields">
										<label class="areaLibelle col-md-6 col-sm-12 col-xs-12">{{
											field.label
										}}</label>
										<div class="col-md-6 col-sm-12 col-xs-12 padding-0">
											<input
												name="{{ field.name }}"
												type="text"
												[(ngModel)]="field.value"
												[disabled]="ebDemande.ebDemandeNum != null && !toggleEditData"
											/>
										</div>
									</div>
								</div>
								<ng-template #blockErrorCustomFields>
									<div class="margin-bottom-15-important">
										<!-- <div *ngIf="listFields && listFields.length == 0" class="text-center">Custom fields not found</div> -->
										<div *ngIf="!listFields" class="text-center">
											<i class="fa fa-spinner fa-spin fa-15x fa-fw" style="color:black"></i>
											Loading custom fields...
										</div>
									</div>
								</ng-template>
							</div>
						</fieldset>
					</div>
				</div>
				<!--
                <div class="col-sm-6 col-xs-12 mt10 width-100-percent">
                    <div class=" margin-top-15">

                        <app-comment-panel [disabled]="ebDemande.ebDemandeNum != null && !toggleEditData" panelOpen="false"
                            (sharedVarChange)="getComment($event)" title="{{'PRICING_BOOKING.INFORMATIONS_COMPLEMENTAIRES' | translate}}"
                            [(commentModel)]="ebDemande.commentChargeur"></app-comment-panel>

                    </div>
                </div> -->
			</div>

			<div
				*ngIf="
					ebDemande &&
					ebDemande.ebDemandeNum &&
					((isChargeur &&
						ebDemande.xEbEtablissement.ebEtablissementNum ==
							userConnected.ebEtablissement.ebEtablissementNum) ||
						isControlTower)
				"
			>
				<div class="col-md-12">
					<div class="pull-right">
						<!-- <button class="btn btn-primary btn-sm" *ngIf="!toggleEditData; else saveData" (click)="handleToggleEditData()">Edit data</button> -->
						<!-- <ng-template #saveData> -->
						<!-- <button class="btn btn-primary btn-sm" (click)="handleCancelEditData()">Cancel changes</button> -->
						<button class="btn btn-primary btn-sm" (click)="editData($event)">Save changes</button>
						<!-- </ng-template> -->
					</div>
				</div>
			</div>

			<div *ngIf="showBlock()">
				<div class="col-md-12">
					<div class="pull-right">
						<button class="btn btn-primary btn-sm" (click)="saveForm()">Save</button>
						<button
							href="#"
							class="btn btn-primary btn-sm"
							#pageValid
							[disabled]="!shippingInformationForm.valid"
							(click)="nextPage()"
						>
							{{ "PRICING_BOOKING.NEXT_PAGE" | translate }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</app-collapsible-panel>
</form>
