/******** VARIABLES ********/
@import "../../../../../styles/variables";

input[type="checkbox"],
input[type="radio"] {
	vertical-align: middle;
	bottom: 1px;
	width: auto;
}
input[type="radio"] {
	bottom: 2px;
}
textarea.adress {
	height: 100px;
	overflow: auto;
	resize: vertical;
	max-height: 100px;
	min-height: 100px;
}

.add-adress-button {
	/*margin-left: 0px !important;*/
	margin-left: auto !important;
	margin-right: auto !important;
	display: block;
	margin-top: 10px;
	border: none;
	background: transparent;
	padding: 0;
	color: #018dad;
}

.input-search-icon {
	margin-top: 5px;
	margin-right: 10px;
}
.origindest-infos_wrapper {
	border-radius: 5px;
	box-shadow: 0 0 7px -2px #000;
	padding: 8px;
	span {
		padding-right: 5px;
		&.italic-font {
			font-style: italic;
		}
		&.bold-font {
			font-weight: 700;
		}
	}
	span:first-child {
		color: #018dad;
	}
}
.adress-wrapper {
	position: relative;
}
.fields-wrapper {
	width: calc(100% - 20px);
	padding: 4px;
	border: 1px solid #ddd;
	// box-shadow: 0 0 7px -2px #000;
	border-radius: 4px;
}
.buttons-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	button {
		display: block;
		padding: 1px 3px;
		margin-bottom: 1px;
		// width: 20px;
		&.fa-close {
			padding: 1px 3px 1px 4px;
		}
	}
}
::ng-deep .checkbox-primeng {
	.ui-chkbox {
		&,
		.ui-chkbox-box {
			width: 15px;
			height: 15px;
			.ui-chkbox-icon {
				font-size: $fz-sm;
			}
		}
	}
	.ui-chkbox-label {
		margin: 0;
		font-size: $fz-xs;
	}
}
