<nav
	*ngIf="isLoggedInScalar && showNav"
	[ngClass]="{ 'user-controlTower': isControlTower || isCtConnectedAs }"
	class="opened d-flex-ai-c animated fadeInDown navbar-header navbar-fixed-top navbar-shadow"
>
	<!-- FIX : Chrome autocomplete over ng-select -->
	<input id="fixNotify1" style="opacity: 0;position: absolute;" hidden aria-hidden="true" />
	<input
		id="fixNotify2"
		type="password"
		style="opacity: 0;position: absolute;"
		hidden
		aria-hidden="true"
	/>
	<!-- END FIX -->
	<ul class="navb navbar-left">
		<!-- <li class="dropdown menu-merge hidden-xs"> -->
		<a class="" routerLink="/accueil">
			<img src="../../../assets/images/mytower-logo-text.png" height="auto" width="150" />
			<!-- <i class="my-icon-mytower"></i> -->
		</a>
		<!-- </li> -->
	</ul>
	<div class="header-items d-flex-ai-c d-flex-jc-fe">
		<div class="user-connect_items d-flex-ai-c d-flex-jc-sb">
			<ul class="navb navbar-controlTower">
				<li *ngIf="isControlTower || isCtConnectedAs" id="connectas">
					<div *ngIf="isControlTower && userConnected.superAdmin && !isCtConnectedAs
					&& userConnected.ebCompagnie.ebCompagnieNum == -1">
						<!-- <div class="connecteas-label">Se connecter en tant que:</div> -->
						<div>
							<!-- bindValue="ebUserNum" -->
							<ng-select
								class="selector"
								name="userSelectCt"
								[items]="listUser"
								[multiple]="false"
								[typeahead]="typeaheadUserSelectEvent"
								bindLabel="nom"
								placeholder="{{ 'PRICING_BOOKING.SELECT_USER' | translate }}"
								[(ngModel)]="userSelectCt"
							>
								<!-- <ng-template ng-header-tmp>Connect as:</ng-template> -->
								<ng-template ng-label-tmp let-item="item">
									<span
										>{{ item.nom + (item.nom && item.prenom ? " " : "") + (item.prenom || "") }}
									</span>
								</ng-template>
								<ng-template ng-option-tmp let-item="item">
									<div>
										<i class="fa fa-user color-primary" style="padding-right: 3px"></i
										>{{ item.nom + (item.nom && item.prenom ? " " : "") + (item.prenom || "") }}
										<span
											*ngIf="
												item.role != null &&
												item.role !== UserRole.PRESTATAIRE &&
												item.service == null
											"
										>
											({{ Statique.roleUser[item.role - 1] }})
										</span>
										<span
											*ngIf="
												item.role != null &&
												item.role == UserRole.PRESTATAIRE &&
												item.service != null
											"
										>
											({{ Statique.Service_Type[item.service] | translate }})</span
										>
									</div>
									<div>
										<i class="fa fa-at color-primary"></i>
										<span class="ct-select_info"> {{ item.email }}</span>
									</div>
								</ng-template>
							</ng-select>

							<button
								[disabled]="!userSelectCt"
								(click)="loginAsUser()"
								class="btn btn-sm conas-login"
							>
								<i class="fa fa-sign-in"></i>
							</button>
						</div>
					</div>
					<div *ngIf="isCtConnectedAs" class="conas-logout">
						<!-- <button (click)="loginBackAsCt()" class="btn btn-sm btn-primary" placement="bottom" ngbTooltip="{{'GENERAL.GO_BACK' | translate}}"> -->
						<button
							(click)="loginBackAsCt()"
							class="btn btn-sm btn-primary"
							placement="bottom"
							title="{{ 'GENERAL.GO_BACK' | translate }}"
						>
							<span>Back </span> <i class="fa fa-sign-out"></i>
						</button>
					</div>
				</li>
			</ul>
			<!-- //TODO MEP-ce bout de code devra être réactivé après MEP
			<ul class="navb search-wrapper hidden-xs" [ngClass]="showSearchBar ? 'is-search__bar' : ''">
				<div>
					<li>
						<input type="text" placeholder="{{ 'QUALITY_MANAGEMENT.SEARCH' | translate }}" />
					</li>
					<li>
						<i class="fa  btn-icon cursor-pointer"></i>
					</li>
				</div>
			</ul>
			-->
			<ul class="navb search-wrapper__responsive" [ngClass]="showSearchBar ? 'is-search__bar' : ''">
				<div class="generic-inputs__style">
					<li class="input-wrapper">
						<input type="text" placeholder="{{ 'QUALITY_MANAGEMENT.SEARCH' | translate }}" />
						<span class="underline"></span>
					</li>
					<li>
						<i
							[ngClass]="showSearchBar ? 'fa-close' : 'fa-search'"
							(click)="toggleSearchBar()"
							class="fa  btn-icon cursor-pointer"
						></i>
					</li>
				</div>
			</ul>
			<ul class="navb" id="navbar-modules__btn">
				<ul class="navb" id="navbar-notification">
					<a class="cursor-pointer" (click)="toggleshowNotifsWrapper();loadNotifications()">
						<span class="btn-icon cursor-pointer" id="navbar-notifs_btn">
							<i class="fa fa-bell" title="{{ 'GENERAL.NOTIFICATION' | translate }}"></i>
						</span>
						<span class="update-icon">
							<span class="total-indicateur" *ngIf="totalNotifsNbr > 0">{{ totalNotifsNbr }}</span>
						</span>
					</a>
					<div style="    width: 413px;" id="notifications-wrapper" *ngIf="showNotifsWrapper">
						<app-notification-list
							[notifications]="listNotification"
							[alerts]="listAlert"
							[messages]="listMessages"
							[nbrAlerts]="nbrAlerts"
							[nbrNotifs]="nbrNotifs"
							[nbrMsgs]="nbrMsgs"
							(emitTotalNotifNbr)="updateTotalNotifNbr($event)"
							(emitNbrAlerts)="nbrAlerts = $event"
							(emitNbrNotifs)="nbrNotifs = $event"
							(emitNbrMsgs)="nbrMsgs = $event"
						></app-notification-list>
					</div>
				</ul>

				<ul class="navb" id="navbar-new_btn">
					<a class="btn-icon cursor-pointer" id="new-options__btn" (click)="toggleNewOptions()">
						<i class="fa fa-plus-circle"></i>
					</a>
					<div>
						<div id="new-options__items" *ngIf="showNewBtns">
							<!--
                            <li>
                                <a (click)="toggleNewOptions()" class="" routerLink="/app/pricing/create-wf">{{'GENERAL.PRICING_REQUEST_AMONT'
                                    | translate}}</a>
                            </li>
                            -->
							<li *ngIf="!isPrestataire && isContribution(Modules.PRICING)">
								<a (click)="toggleNewOptions()" class="" routerLink="/app/pricing/creation">{{
									"GENERAL.TRANSPORT_FILE" | translate
								}}</a>
							</li>
							<li *ngIf="isContribution(Modules.ORDER_MANAGEMENT)">
								<a
									(click)="toggleNewOptions()"
									class=""
									routerLink="app/delivery-overview/order/creation"
									>{{ "GENERAL.PURCHASE_ORDER" | translate }}</a
								>
							</li>
							<li *ngIf="isContribution(Modules.QUALITY_MANAGEMENT)">
								<a
									(click)="toggleNewOptions()"
									class=""
									routerLink="app/quality-management/create"
									>{{ "GENERAL.INCIDENT" | translate }}</a
								>
							</li>
							<!-- //TODO MEP-ce bout de code devra être réactivé après MEP
							<li *ngIf="isContribution(Modules.FREIGHT_AUDIT)">
								<a (click)="toggleNewOptions()" class="" routerLink="app/freight-audit">{{
									"GENERAL.INVOICE" | translate
								}}</a>
							</li> -->
							<!-- //TODO MEP-ce bout de code devra être réactivé après MEP
							<li *ngIf="isContribution(Modules.QUALITY_MANAGEMENT)">
								<a
									(click)="toggleNewOptions()"
									class=""
									routerLink="app/quality-management/create"
									>{{ "GENERAL.CLAIM" | translate }}</a
								>
							</li>
							-->
							<!-- <li *ngIf="isContribution(Modules.QUALITY_MANAGEMENT)">
								<a
									(click)="toggleNewOptions()"
									class=""
									routerLink="app/quality-management/create"
									>{{ "GENERAL.INCIDENT" | translate }}</a
								>
							</li>
							<li *ngIf="isContribution(Modules.QUALITY_MANAGEMENT)">
								<a
									(click)="toggleNewOptions()"
									class=""
									routerLink="app/quality-management/dashboard"
									>{{ "GENERAL.CAUSE_CAUSE" | translate }}</a
								>
							</li>
							<li *ngIf="isContribution(Modules.QUALITY_MANAGEMENT)">
								<a
									(click)="toggleNewOptions()"
									class=""
									routerLink="app/quality-management/dashboard"
									>{{ "GENERAL.CORRECTIVE_ACTION" | translate }}
								</a>
							</li>
							-->
							<!-- MTG-1384 MEP > Eléments à cacher suite MEP
<li>
								<a (click)="toggleNewOptions()" class="" routerLink="app">{{
									"GENERAL.RULE" | translate
								}}</a>
							</li>
							-->

							<li *ngIf="userConnected.superAdmin || userConnected.admin">
								<a
									(click)="toggleNewOptions()"
									class=""
									routerLink="app/user/settings/company/users/creation"
									>{{ "GENERAL.USER" | translate }}</a
								>
							</li>
							<!-- MTG-1384 MEP > Eléments à cacher suite MEP
								<li>
								<a (click)="toggleNewOptions()" class="" routerLink="app/user/settings">{{
									"GENERAL.ESTABLISHMENT" | translate
								}}</a>
							</li>
							-->
							<!-- MTG-1384 MEP > Eléments à cacher suite MEP
<li>
								<a (click)="toggleNewOptions()" class="" routerLink="app/user/settings">{{
									"GENERAL.ADRESS" | translate
								}}</a>
							</li>
							-->
						</div>
					</div>
				</ul>
				<li>
					<a
						class="btn-icon cursor-pointer"
						id="modules-wrapper__btn"
						(click)="toggleModulesWrapper()"
					>
						<i class="fa fa-th"></i>
					</a>
					<div id="modules-wrapper__items" *ngIf="showModulesWrapper">
						<li class="border-bottom_trans visible-xs" title="Accueil">
							<a class="" routerLink="app/delivery-overview/order/dashboard">
								<span class="fa fa-home"></span>
								<span class="sidebar-title module-title-header">{{
									"GENERAL.HOME" | translate
								}}</span>
							</a>
						</li>
						<li
							class="border-bottom_trans"
							*ngIf="hasAccess(Modules.ORDER_MANAGEMENT)"
							title="Order Management"
						>
							<a class="" routerLink="app/delivery-overview/order/dashboard">
								<span class="my-icon-order-management "></span>
								<span class="sidebar-title module-title-header">{{
									"MODULES.ORDER" | translate
								}}</span>
							</a>
						</li>
						<li
							class="border-bottom_trans "
							*ngIf="hasAccess(Modules.DELIVERY_MANAGEMENT)"
							title="Delivery Management"
						>
							<a class="" routerLink="app/delivery-overview/delivery/dashboard">
								<span class="my-icon-delivery-management "></span>
								<span class="sidebar-title module-title-header">{{
									"MODULES.DELIVERY" | translate
								}}</span>
							</a>
						</li>
						<li
							*ngIf="hasAccess(Modules.PRICING)"
							data-toggle="tooltip"
							data-placement="bottom"
							class=" border-bottom_trans"
							title="Pricing"
							data-original-title="Quotation Request"
						>
							<a routerLink="/app/pricing/dashboard">
								<span class="my-icon-order "></span>
								<span class="sidebar-title module-title-header">{{
									"MODULES.PRICING" | translate
								}}</span>
							</a>
						</li>
						<li
							class="border-bottom_trans "
							*ngIf="hasAccess(Modules.TRANSPORT_MANAGEMENT)"
							title="Transport Management"
							data-toggle="tooltip"
							data-placement="bottom"
							data-original-title="Booking"
						>
							<a routerLink="/app/transport-management/dashboard">
								<span class="my-icon-trans-management"></span>
								<span class="sidebar-title module-title-header">{{
									"MODULES.TM" | translate
								}}</span>
							</a>
						</li>
						<li
							class="border-bottom_trans "
							*ngIf="hasAccess(Modules.TRACK)"
							data-toggle="tooltip"
							data-placement="bottom"
							title="Track & Trace"
							data-original-title="Track &amp; Trace"
						>
							<a (click)="goTo('app/track-trace/dashboard')">
								<span class="my-icon-track"></span>
								<span class="sidebar-title module-title-header">{{
									"MODULES.TT" | translate
								}}</span>
							</a>
						</li>
						<li
							*ngIf="hasAccess(Modules.QUALITY_MANAGEMENT)"
							data-toggle="tooltip"
							data-placement="bottom"
							class=" border-bottom_trans"
							title="Quality Management"
							data-original-title="Claims Management"
						>
							<a class="" routerLink="app/quality-management/dashboard">
								<span class="my-icon-claims "></span>
								<span class="sidebar-title module-title-header">{{
									"MODULES.QM" | translate
								}}</span>
							</a>
						</li>
						<li
							*ngIf="hasAccess(Modules.FREIGHT_AUDIT)"
							data-toggle="tooltip"
							data-placement="bottom"
							class=" border-bottom_trans"
							title="Freight Audit"
							data-original-title="Freight Audit"
						>
							<a class="" routerLink="app/freight-audit">
								<span class="my-icon-freight "></span>
								<span class="sidebar-title module-title-header">{{
									"MODULES.FA" | translate
								}}</span>
							</a>
						</li>
						<li
							*ngIf="hasAccess(Modules.FREIGHT_ANALYTICS)"
							data-toggle="tooltip"
							data-placement="bottom"
							class=" border-bottom_trans -analytics"
							title="Freight Analytics"
							data-original-title="Freight Analytics"
						>
							<a routerLink="app/freight-analytics">
								<span class="my-icon-analytics"></span>
								<span class="sidebar-title module-title-header">{{
									"MODULES.ANALYTICS" | translate
								}}</span>
							</a>
						</li>
						<!--//TODO MEP-ce bout de code devra être réactivé après MEP
							Enlever la condition isControlTower et isSuperAdmin
						-->
						<li
							*ngIf="hasAccess(Modules.CUSTOM) || hasAccess(Modules.COMPTA_MATIERE)"
							data-toggle="tooltip"
							data-placement="bottom"
							class=" border-bottom_trans"
							title="Customs"
							data-original-title="Customs"
						>
							<a class="" routerLink="app/custom/dashboard">
								<span class="my-icon-custom "></span>
								<span class="sidebar-title module-title-header" title="Customs">{{
									"MODULES.CUSTOMS" | translate
								}}</span>
							</a>
						</li>
						<li
							*ngIf="acls[ACL.Rule.Module_RSCH] !== ACL.RuleValues.Module_RSCH.NotVisible"
							data-toggle="tooltip"
							data-placement="bottom"
							title="Receipt Scheduling"
							data-original-title="Receipt scheduling"
						>
							<a class="" routerLink="app/receipt-scheduling/dashboard">
								<span class="fa fa-calendar"></span>
								<span class="sidebar-title module-title-header">{{
									"MODULES.RSCH" | translate
								}}</span>
							</a>
						</li>
						<!--//TODO MEP-ce bout de code devra être réactivé après MEP
						<li
							data-toggle="tooltip"
							data-placement="bottom"
							class=" border-bottom_trans"
							title="Freight Audit Générique"
							data-original-title="Freight Audit Générique"
						>
							<a href="https://poc-fap.adias.fr/app/freight-audit-generic/invoice">
								<span class="my-icon-freight "></span>
								<span class="sidebar-title module-title-header">Freight Audit<br />Générique</span>
							</a>
						</li>
						-->
					</div>
				</li>
			</ul>

			<ul class="navb navbar-right">
				<li
					ngbDropdown
					class="{{
						isControlTower || isCtConnectedAs ? 'right-menu-dropdown' : ''
					}} user-options padding-right-5-important dropdown menu-merge"
				>
					<!-- <a routerLink='/app/user/settings'><i class="fa fa-cog btn-icon"></i></a> -->
					<a
						class="dropdown-toggle fw600 p15 pb0 cursor-pointer"
						data-toggle="dropdown"
						id="dropdownBasic1"
						ngbDropdownToggle
					>
						<span class="pl15 fz-13">
							<!-- ( {{userConnected?.ebEtablissement?.nom}} )
                            <br> -->
							<!-- <i class="fa fa-user btn-icon"></i> --> 
							{{"GENERAL.HI" | translate}}, {{getUserByToken()}}
							<i class="fa fa-caret-down" aria-hidden="true"></i>
						</span>
						<div class="dropdown-menu" aria-labelledby="dropdownBasic1" ngbDropdownMenu>
							<ul>
								<li class="dropdown-item listElement">
									<i class="fa fa-user-circle"></i>
									<a routerLink="/app/user/settings/account-settings">{{
										"SETTINGS.MY_PROFILE" | translate
									}}</a>
								</li>
								<hr class="hr-line" />
								<li class="dropdown-item listElement">
									<i class="fa fa-cog"></i>
									<a routerLink="/app/user/settings/account-settings">{{
										"SETTINGS.SETTINGS" | translate
									}}</a>
								</li>
								<li class="dropdown-item listElement">
									<i class="fa fa-users"></i>
									<a routerLink="/app/user/settings/community">{{
										"SETTINGS.MY_COMMUNITY" | translate
									}}</a>
								</li>
								<hr class="hr-line" />
								<li class="dropdown-item listElement" style="cursor: pointer">
									<i class="fa fa-sign-out" aria-hidden="true"></i>
									<a (click)="logout()">{{ "LOGIN.LOGOUT" | translate }}</a>
								</li>
							</ul>
						</div>
					</a>
				</li>

				<!-- <div class="user-connected_name">
                    <span class="hidden-xs dropdown-item listElement" style="cursor: pointer">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <a (click)=logout()>LogOut</a>
                    </span>
                    <span class="hidden-xs dropdown-item listElement" style="cursor:pointer">
                        <a class="fwb">
                            <span class="pl15">
                                <i class="fa fa-user"></i>
                                Hi, {{userConnected?.nom}} {{userConnected?.prenom}}
                            </span>
                            <div class="dropdown-menu">
                                <ul style="margin-left: -21px;">
                                    <li class="dropdown-item listElement">
                                        <i class="fa fa-user-circle"></i>
                                        <a>My profile</a>
                                    </li>
                                    <hr class="hr-line">
                                </ul>
                            </div>
                        </a>
                    </span>
                </div>
                <span class="hidden-xs dropdown-item listElement">
                    <i class="fa fa-cog"></i>
                    <a routerLink='/app/user/settings'>Account settings</a>
                </span>
                <span class="hidden-xs dropdown-item listElement">
                    <i class="fa fa-users"></i>
                    <a routerLink='/app/user/settings'>My Community</a>
                </span>
                <span class="hidden-xs dropdown-item listElement">
                    <i class="fa fa-cogs"></i>
                    <a routerLink='/app/custom/custom-setting'>Custom setting</a>
                </span> -->
				<!-- <div class="nav navbar-nav navbar-right" style="margin-top: 18px;">
                    <div *ngIf="userConnected.ebEtablissement.logo !== null">
                        <img alt="avatar" class="taille-logo" [src]="statique.getUrlFile(userConnected.ebEtablissement.logo)" />
                    </div>
                    <img alt="avatar" class="taille-logo" [src]="statique.getUrlFile(userConnected.ebEtablissement.logo)" >
                </div> -->
			</ul>
		</div>
	</div>
</nav>

<div [hidden]="!showActionBar">
	<div class="actionbar-wrapper">
		<div class="breadcrumb-wrapper">
			<app-breadcrumb [options]="breadcrumbsItemsConfig"></app-breadcrumb>
		</div>

		<div class="btn-action-wrapper">
			<div class="d-flex" *ngFor="let actionButton of actionButtons">
				<button
					*ngIf="renderActionIsDisplayed(actionButton)"
					class="btn btn-xs"
					(click)="actionButton.action($event)"
					[disabled]="!renderActionIsEnabled(actionButton)"
					title="{{
						renderActionNonTranslatedHint(actionButton)
							? (renderActionNonTranslatedHint(actionButton) | translate)
							: ''
					}}"
					[ngClass]="actionButton.btnClass ? actionButton.btnClass : 'btn-primary'"
				>
					<span
						*ngIf="actionButton.icon"
						[style.paddingRight.px]="actionButton.label ? 5 : 0"
						[ngClass]="actionButton.icon"
					></span>
					<span class="sidebar-title">{{
						actionButton.label
							? (actionButton.label | translate)
							: renderlabelEditabel(actionButton)
					}}</span>
				</button>
				<!-- button For Loading -->
				<span
					class="spinner-btn"
					*ngIf="renderActionIsLoading(actionButton) && renderActionIsDisplayed(actionButton)"
				>
					<p-progressSpinner></p-progressSpinner>
				</span>
			</div>
		</div>
	</div>
</div>
