@import "../../../styles/variables";
@import "../../../styles/components/form/inputs.scss";
@import "../../../styles/components/mixins/breakpoints";
.listElement {
	list-style-type: none !important;
	cursor: pointer;
}

/******* dropdown navbar right header ********/

.navbar-header .navb > li > a i[class*="my-icon-"] {
	font-size: 24px;
	&.active {
		color: $secondary-color;
	}
	&:before {
		line-height: 2;
	}
}

.dropdown-item i.fa {
	padding-right: 4px;
}

.listElement {
	margin-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #fff;
	color: #01667d;
}
.user-connected_name {
	text-align: right;
	& > span > a {
		font-size: $fz-xs;
	}
}
.listElement a {
	color: $black;
}

.hr-line {
	margin: 0;
	/* border-top: 3px solid $secondary-color ; */
}

.navbar-right {
	display: inline-block; // width: 16%;
	padding-left: 5px;
	float: none !important;
	vertical-align: top;
	/*IF FAUT PRENDRE EN COMPTE LA LISTE DEROULANTE POUR UN USER CONTROL TOWER*/
}

.navbar-right a.dropdown-toggle {
	margin: 0 auto;
}

/*IF FAUT PRENDRE EN COMPTE LA LISTE DEROULANTE POUR UN USER CONTROL TOWER*/

/* .navbar-center {
    width: 78%;
} */

.navbar-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	float: none;
	text-align: center;
	padding-left: 12px; // width: 70%;
}

.user-controlTower .navbar-center {
	// width: 56%;
}

.navbar-center li {
	/* width: 14.05%; */
	display: inline-block !important;
}

.navbar-center li:not(:last-child) {
	padding-right: 9px;
	// padding-right: 5px;
	// padding-left: 5px;
	// border-right: 1px solid #f7f7f7;
}

.navbar-left {
	width: auto; //max-width: 120px;
	//padding: 0 10px;
}

.header-items {
	width: calc(91% - 20px);
	// margin-left: 20px;
}

.navbar-controlTower {
	display: none;
}
.user-controlTower .navbar-controlTower {
	display: inline-block !important; // width: 16%;
	vertical-align: top;
	// padding-left: 8px;
	// padding-right: 14px;
	// border-left: 1px solid #f1f1f1;
	// margin-left: 14px;
	// margin-right: 8px;
	// border-right: 1px solid #f1f1f1;
	@media screen and (max-width: 768px) {
		border: none;
	}
}

.navbar-command__btn {
	cursor: pointer;
	i.fa-tasks {
		font-size: 24px;
		float: left;
		padding-top: 3px;
	}
}

#command-options__items,
#new-options__items,
#modules-wrapper__items,
#notifications-wrapper {
	position: absolute;
	top: 57px;
	left: 50%;
	transform: translateX(-50%);
	min-width: 140px;
	background: #fff;
	border: 1px solid #d8d8d8;
	-webkit-box-shadow: 0px 0px 8px -4px #000;
	box-shadow: 0px 0px 8px -4px #000;
	border-radius: 3px;
	// padding: 4px 0;
	animation: animation-rotate 0.3s ease-in-out;
	// animation: animation-header 0.3s ease-in-out;
	&:before,
	&:after {
		content: "";
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		top: -8px;
		width: 0;
		height: 0;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid #fff;
		clear: both;
	}
	&:before {
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #e8e8e8;
		top: -10px;
	}
}

#new-options__items {
	top: 57px;
	z-index: 9999;
	transform-origin: top;
	display: flex;
	flex-flow: row wrap;
	min-width: 200px;
	li {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		border: 1px solid #f3f3f3;
		border-radius: 2px;
		&:hover {
			background: #f9f9f9;
		}
	}
	a {
		padding: 8px 1px;
		color: #676767;
		transition: all 0.2s ease-in-out;
		width: 100%;
		&:not(:last-child) {
			border-bottom: 1px solid #f3f2f2;
		}
	}
}

// #command-options__items,
// #command-options__items a {
//     height: 0;
//     opacity: 0;
//     cursor: default;
//     visibility: hidden;
// }

// order management options position
#command-options__btn {
	position: absolute;
	bottom: 2px;
	left: 0;
	right: 0;
	height: 15px;
	&.opened {
		#command-options__items,
		#command-options__items a {
			height: auto;
			opacity: 1;
			cursor: pointer;
			visibility: visible;
		}
	}
}
.navbar-fixed-top {
	width: 100%;
	position: relative;

	height: 60px;
	.navb {
		height: 60px;
		display: flex !important;
		align-items: center;
		justify-content: center;
		padding-left: 8px;
		padding-right: 8px;
		&.navbar-left,
		&.search-wrapper {
			@include bp-lt(767px) {
				display: none !important;
			}
		}
	}
	.search-wrapper,
	.search-wrapper__responsive {
		// border-left: 1px solid #f1f1f1;
		transition: all 0.4s ease-in-out;
		& > div {
			border-radius: 15px;
			border: 1px solid #efefef;
			display: flex;
			align-items: center;
		}
		li {
			display: inline-block;
		}
		input {
			border: none;
			border-radius: 0;
			background: transparent;
			padding-left: 8px;
			transition: all 0.2s ease-in-out;
			&:focus {
				outline: none;
				border: none;
			}
		}
		i.fa {
			transition: all 0.4s ease-in-out;
		}
		@media screen and (max-width: 768px) {
			border: none;
		}
	}
	.search-wrapper__responsive {
		input,
		input::placeholder {
			color: #fff !important;
			display: none;
		}
		&.is-search__bar {
			position: absolute;
			left: 0;
			right: 0;
			z-index: 99;
			background: #000000bd;
			input,
			input::placeholder {
				color: #fff;
				display: block;
			}
			input {
				border-bottom: 1px solid #fff;
				padding: 0;
			}
		}
		.underline {
			width: 100%;
			left: 0;
		}
		i.fa {
			font-size: $fz-lg;
			cursor: pointer;
			&.fa-close {
				position: absolute;
				right: 10px;
				top: 50%;
				transform: translateY(-50%);
				font-size: 24px;
				color: #fff !important;
			}
		}
		& > div {
			border-radius: 0;
			border-width: 0;
			padding-bottom: 0;
		}
		@include bp-gt(768px) {
			display: none !important;
		}
	}

	.user-options {
		// min-width: 160px;
		width: auto;
		display: flex;
		align-items: center;
		& > a {
			display: inline-block;
		}
	}
	.user-connect_items {
		& > ul:not(:first-child) {
			border-left: 1px solid #f1f1f1;
		}
	}
	.animated {
		animation-duration: 0.5s;
	}
}
// new button options position
#navbar-new_btn {
	position: relative;
	padding: 0;
	// border-left: 1px solid #f1f1f1;
	#new-options__btn {
		border-radius: 4px !important;
		padding: 0px 4px;
		i.fa {
			font-size: $fz-xl;
			margin-top: 4px;
		}
	}
	#command-options__btn {
		position: absolute;
		bottom: 2px;
		left: 0;
		right: 0;
		height: 15px;
		#new-options__items,
		#new-options__items a {
			height: auto;
			opacity: 1;
			cursor: pointer;
			visibility: visible;
		}
	}
}

::ng-deep #navbar-notification {
	position: relative;
	padding: 0;
	i.fa {
		font-size: $fz-xl;
		margin-top: 4px;
	}
	#notifications-wrapper {
		top: 57px;
		width: 300px;
		padding: 3px;
		padding-left: 0;
		.nav-tabs {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 0;
			.nav-item {
				width: 33.33%;
				&:last-child {
					display: none;
				}
			}
			.nav-link {
				border: 1px solid #ececec;
				box-shadow: 0 0 3px -2px #000;
				border-radius: 2px;
				padding: 4px 8px;
				margin: 0;
				border: 1px solid #fff !important;
				color: #018dad;
				&.active {
					background-color: #efefef !important;
					color: #000000 !important;
					border: 1px solid #ccc !important;
					box-shadow: inset 0px 2px 10px -4px black !important;
				}
			}
		}
		.notifs-tabs_btn {
			padding: 0;
			a {
				margin: 0 !important;
			}
		}

		.tab-content {
			padding: 8px 0px;
			.messages-notifs {
				padding: 10px 0;
				cursor: pointer;
				&:hover {
				}
				.fa-user-circle-o {
					font-size: 30px;
				}
				.user-name {
					font-weight: 600;
				}
				.date-update {
					font-size: $fz-sm;
					color: #018dad;
				}
				.message-content {
					font-size: $fz-sm;
				}
			}
			#messages-panel,
			#notify-panel {
				max-height: 230px;
				overflow: auto;
				// padding-right: 15px;
			}
			.notify-notifs {
				padding: 10px 0;
				.notify-icon {
					font-size: 26px;
				}
				.notify-desc {
					font-size: $fz-sm;
				}
			}
			.messages-notifs:not(:last-child),
			.tasks-notifs:not(:last-child),
			.notify-notifs:not(:last-child) {
				border-bottom: 1px solid #e0e0e0;
			}
			.messages-notifs,
			.tasks-notifs,
			.notify-notifs {
				padding-right: 15px;
				padding-left: 5px;
				transition: all 0.2s ease-in-out;
				&:hover {
					background: rgba(243, 243, 243, 0.6);
				}
			}
			.tasks-notifs {
				.task-desc {
					.warning-bar {
						// .ui-progressbar {
						background: rgb(212, 210, 67);
						// }
					}
					.success-bar {
						// .ui-progressbar {
						background: rgb(67, 190, 212);
						// }
					}
					.urgent-bar {
						// .ui-progressbar {
						background: rgb(212, 67, 67);
						// }
					}
					.bold {
						color: #fff;
						padding: 5px 2px;
						border-radius: 5px;
						display: block;
					}
				}
				&:not(:last-child) {
					padding-bottom: 8px;
					margin-bottom: 8px;
				}
			}
			.notify-date,
			.task-date {
				font-size: $fz-xs;
				font-style: italic;
				color: #cbcccc;
			}
		}
	}
}

#modules-wrapper__btn {
	margin-top: 3px;
	font-size: $fz-xl;
}
#navbar-modules__btn {
	position: relative;
	#modules-wrapper__items {
		top: 46px;
		display: flex;
		flex-flow: row wrap;
		padding: 0;
		justify-content: flex-start;
		min-width: 240px;
		z-index: 99;
		transform-origin: top;
		// #sidebar-menu {
		//     display: flex;
		//     flex-flow: row wrap;
		//     padding: 0;
		//     justify-content: flex-start;
		li {
			padding: 0;
			width: 33.33%;
			padding-bottom: 12px;
			display: inline-block;
			& > a > span:nth-child(1) {
				font-size: 28px;
				width: 100% !important;
				display: block;
			}
			& > a > span:nth-child(2) {
				width: 100% !important;
			}
			a {
				height: 100%;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				justify-content: center;
				color: #676767;
				padding: 0 4px 4px 4px;
				transition: all 0.2s ease-in-out;
				&:not(:last-child) {
					border-bottom: 1px solid #f3f2f2;
				}
				&:last-child {
					padding-bottom: 0;
					padding-top: 4px;
				}
				&:hover {
					background: #f9f9f9;
				}
				& > span {
					text-align: center !important;
					padding: 0;
				}
			}
			// }
		}
	}
}

/*** Responsive header ***/

@media only screen and (max-width: 768px) {
	.navbar-left {
		width: 0%;
	}
	.navbar-center {
		width: 81%;
	}
	.user-controlTower .navbar-center {
		width: 67%;
	}
	.header-items {
		flex-flow: row wrap;
		justify-content: center;
		width: 100%;
		padding-left: 0;
		.navbar-center {
			width: 100%;
			justify-content: space-around;
		}
		.user-connect_items {
			width: 100%;
			justify-content: flex-end;
			position: relative;
		}
	}
}

@media only screen and (max-width: 580px) {
	.navbar-center,
	.user-controlTower .navbar-controlTower,
	.user-controlTower .navbar-center,
	.navbar-right {
		// width: 100%;
		padding-bottom: 8px;
	}
	.navbar-right {
		padding-bottom: 0;
	}
	.navbar-fixed-top {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
	}
	// #connectas {
	//     width: 60% !important;
	//     margin: 0 auto;
	// }
	.conas-logout {
		float: none !important;
		text-align: center;
	}
}

.navbar-right .dropdown-menu {
	top: 39px !important;
	left: 50% !important;
	transform: translateX(-55%) !important;
	width: 160px;
	position: absolute !important;
	animation: animation-rotate 0.3s ease-in-out;
	transform-origin: top;
	& > ul {
		margin-left: -21px;
	}
	&:before,
	&:after {
		content: "";
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		top: -8px;
		width: 0;
		height: 0;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid #fff;
		clear: both;
	}
	&:before {
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #e8e8e8;
		top: -10px;
	}
}

.dropdown-menu {
	border-radius: 0px;
	-webkit-box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.175);
	box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.175);
	border: none;
}

.navbar-right .dropdown-menu ul {
	padding-left: 21px;
}

.avatar {
	float: left;
	margin-top: 1em;
	margin-right: 1em;
	position: relative;
}

.taille-logo {
	width: 40px;
	height: 40px;
	border-radius: 50% !important;
	background-position: top center;
	background-size: cover;
	margin-right: -149px;
	border: 2px solid;
}

.mytower-logo {
	position: relative;
	left: 10px;
	top: 7px;
}

/*** notifications icons ***/

.action-icon,
.update-icon {
	position: absolute;
	width: 22px;
	height: 22px !important;
}

.action-icon {
	top: 10%;
	/* -webkit-transform: translateY(-50%); */
	/* transform: translateY(-50%); */
	/* right: 0; */
	left: 28%;
}

.update-icon {
	top: 10%;
	/* -webkit-transform: translateY(-50%); */
	/* transform: translateY(-50%); */
	/* right: 0; */
	right: 28%;
}

.action-icon i,
.update-icon i {
	background-color: #efefef;
	border-radius: 50%;
	color: #5d6771;
	padding: 5px;
	font-size: $fz-sm;
}

.total-indicateur {
	position: absolute;
	top: 29%;
	/* transform: translateY(-90%); */
	background-color: #ae110c;
	border: 1px solid #ae110c;
	color: #fff;
	border-radius: 2px;
	z-index: 2;
	font-size: $fz-sm;
	line-height: 12px;
	padding: 0px 2px;
	font-weight: normal;
}

.update-icon .total-indicateur {
	left: 60%;
}

.action-icon .total-indicateur {
	right: 60%;
}

#connectas {
	/* margin-top: 15px; */
	padding-left: 5px;
	text-align: center;
	width: 100%;
	.connecteas-label {
		font-size: $fz-xs;
		padding-right: 5px;
	}
	& > div > div {
		display: inline-block;
	}
}

#connectas .selector {
	float: left;
	border-radius: 4px 0px 0px 4px !important;
	width: auto;
	min-width: 160px;
}

#connectas .conas-login {
	width: 27px;
	height: 27px;
	margin-left: 0 !important;
	border: none !important;
	border-radius: 0px 4px 4px 0 !important;
}

#connectas .conas-login[disabled] {
	background-color: #e8e8e8 !important;
}

#connectas .conas-logout {
	// margin-top: 7px;
	float: right;
}

/*
.right-menu-dropdown {
  width: 80% !important;
} */

::ng-deep .selectedUserCt .ng-select-dropdown-outer .ng-select-dropdown,
::ng-deep #connectas .ng-select-dropdown-outer .ng-select-dropdown {
	overflow: auto !important;
}

::ng-deep .selectedUserCt .ng-select-dropdown-outer .ng-select-dropdown .ng-option,
::ng-deep #connectas .ng-select-dropdown-outer .ng-select-dropdown .ng-option {
	padding: 8px 5px !important;
}

/*
::ng-deep .selectedUserCt .ng-select div:not(.ng-control):not(.ng-value):not(.ng-placeholder):not(.ng-value-container),
.selectedUserCt .ng-select input,
.selectedUserCt .ng-select span,
::ng-deep #connectas .ng-select div:not(.ng-control):not(.ng-value):not(.ng-placeholder):not(.ng-value-container),
#connectas .ng-select input,
#connectas .ng-select span {
    display: inline-block;
}
*/

::ng-deep .selectedUserCt .ng-dropdown-header,
::ng-deep #connectas .ng-dropdown-header {
	display: block !important;
}

::ng-deep .ct-select_info {
	padding-left: 3px;
	display: inline-block;
	width: 90%;
}

::ng-deep #connectas .ng-select-dropdown-outer .ng-select-dropdown {
	min-width: 320px;
}

::ng-deep .selectedUserCt .ng-select-dropdown-outer .ng-select-dropdown .ng-option.marked {
	min-width: 280px;
}

ng-select {
	height: 27px;
}

::ng-deep .ng-value-container {
	height: 25px;
}

::ng-deep ng-dropdown-panel {
	min-width: 200px;
}

::ng-deep .ng-select .ng-select-container .ng-value-container {
	padding-left: 0;
}

::ng-deep .ng-select .ng-select-container .ng-value-container .ng-placeholder {
	font-size: $fz-sm;
}

.wrapper {
	padding: 8px !important;
}

.actionbar-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 40px;
	max-height: 40px;
	position: relative;
	z-index: 1000;
	width: 100%;
	box-shadow: 0 -2px 8px -5px $black;
}
.breadcrumb-wrapper {
	padding: 8px;
}
.btn-action-wrapper {
	display: flex;
	justify-content: flex-end;
	padding: 8px;
	align-items: center;
}

.content.content-full-width {
	padding: 0;
}

.mrgt-65 {
	margin-top: 60px;
}
/*.btn-action-opened {
  padding-left: 155px !important;
}*/

@keyframes animation-scale {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes animation-rotate {
	0% {
		transform: rotateY(-60deg) translateX(-63%);
		opacity: 0;
	}
	100% {
		transform: rotateY(0deg) translateX(-50%);
		opacity: 1;
	}
}

::ng-deep .warning-bar .ui-progressbar-value {
	background: #ffc107 !important;
}

::ng-deep .urgent-bar .ui-progressbar-value {
	background: #dc3545 !important;
}

::ng-deep .success-bar .ui-progressbar-value {
	background: #007bff !important;
}

::ng-deep .normal-bar .ui-progressbar-value {
	background: #28a745 !important;
}

::ng-deep .spinner-btn .ui-progress-spinner {
	height: 20px;
	width: 25px;
}
