<div class="col-md-12 padding-top-15">
	<div class="panel-body margin-top-4">
		<fieldset class="fieldset mails-config border-0">
			<!-- <legend class="legend">{{'CONFIG_EMAILS.MAILS_CONFIGURATION'|translate}}</legend> -->
			<div class="col-md-12 col-xs-12 margin-top-5">
				<form #mailsConfig="ngForm">
					<div class="row form-group">
						<div class="col-md-4"></div>
						<div class="col-md-3 text-center">
							<label for="forOthers">{{ "CONFIG_EMAILS.CREATED_BY_ME" | translate }}</label>
						</div>
						<div class="col-md-3 text-center">
							<label for="forOthers">{{ "CONFIG_EMAILS.CREATED_FOR_ME" | translate }}</label>
						</div>
						<!-- <div class="col-md-4 text-center">
                            <label for="tags">{{'CONFIG_EMAILS.CREATED_FOR_OTHERS'|translate}}</label>
                        </div> -->
					</div>
					<hr />
					<ng-container *ngFor="let mail of listMails; let i = index">
						<div
							class="row form-group"
							*ngIf="
								!mail.hidden &&
								contains(mail.roles, userConnected.role) &&
								(userConnected.role == UserRole.CHARGEUR ||
									userConnected.role == UserRole.PRESTATAIRE ||
									userConnected.role == UserRole.CONTROL_TOWER ||
									contains(mail.services, userConnected.service))
							"
						>
							<span class="col-md-4">
								{{ mail.emailId }} - {{ "MY_ALERT.ALERT-" + mail.emailId | translate }}
							</span>
							<div class="col-md-3 text-center">
								<input
									#eltCreatedByMe
									name="forMe{{ i }}"
									class="mail{{ i }}"
									type="checkbox"
									[(ngModel)]="mail.createdByMe"
									(change)="iamChecked($event, i, eltCreatedByOthers)"
								/>
							</div>
							<div class="col-md-3 text-center">
								<input
									#eltCreatedByOthers
									name="forOthers{{ i }}"
									class="mail{{ i }}"
									type="checkbox"
									[(ngModel)]="mail.createdByOtherUser"
									(change)="colleagueChecked($event, i, eltCreatedByMe)"
								/>
							</div>
							<!-- <div class="col-md-4">
                                <div class="list-mails__wrapper" [ngClass]="{'invalid-mail':errorMessage[i]}">
                                    <tag-input [(ngModel)]="mail.listEmailEnCopie" [modelAsStrings]=true [inputId]="mail.emailId"
                                        theme="minimal" name="listMailEnCopie{{i}}" placeholder="New mail"
                                        secondaryPlaceholder="Add mail" (onAdd)="onAddMail($event, i)" (onRemove)="onRemoveMail(mail.listEmailEnCopie, i)"></tag-input>
                                </div>
							</div> -->
							<hr />
						</div>
					</ng-container>

					<div class="row form-group">
						<div class="col-md-12">
							<div class="pull-right">
								<button
									(click)="saveConfigEmail($event)"
									[disabled]="disableSave"
									type="button"
									class="btn btn-primary"
								>
									{{ "GENERAL.SAVE" | translate }}
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</fieldset>
	</div>
</div>
