/******** VARIABLES ********/
@import "../../../../../styles/variables";

.block-adresses,
.block-costcenters,
.block-categorie {
	margin: 0 0 15px 0;
}
.block-adresses {
	margin-top: 0;
	background: transparent;
}
legend {
	color: #00a7ce;
	font-size: $fz-md;
	display: block;
	margin-top: 0;
	// margin-bottom: 0;
}

.setting-buttons__wrapper {
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 20px;
	padding-bottom: 30px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.setting-buttons__big {
	flex-basis: calc(300px - 40px);
	margin: 20px;
	padding: 10px;
	font-size: $fz-base;
	min-width: 300px;
	min-height: 275px;
	background: #fff;
	border-radius: 5px;
	border-width: 0 !important;
	box-shadow: 0 0 7px -2px #000;
	transition: all 0.2s ease-in-out;
	&:hover {
		box-shadow: 0 0 12px -2px #000;
	}
	.title-setting {
		font-size: $fz-xl;
		margin-bottom: 20px;
		padding-bottom: 2px;
		border-bottom: 1px solid #efefef;
		display: inline-block;
		text-align: center;
	}
	& > div:not(.title-setting) {
		cursor: pointer;
		text-align-last: left;
		padding-bottom: 4px;
		padding-left: 20px;
		color: #6d6d6d;
		transition: all 0.3s ease-in-out;
		&:hover {
			padding-left: 32px;
			color: #000;
		}
	}
}

.padding_row {
	padding-left: 2%;
	padding-right: 2%;
}

.details-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fafafa;
	margin-bottom: 10px;
	.breadcrumb {
		font-size: $fz-base;
		margin-bottom: 0;
		margin-top: 20px;
		background: transparent;
		a {
			cursor: pointer;
		}
		.fa {
			padding: 0 6px;
			font-size: $fz-xs;
		}
	}
}
