<div class="content_wrapper">
	<div
		class="panel-body"
		[ngClass]="{
			'padding-0-important margin-0-important': !displayElement,
			'bg-transparent': displayElement
		}"
	>
		<div *ngIf="activatedRoute.children.length === 0" class="setting-buttons__wrapper d-flex-jc-sb">
			<div class="setting-buttons__big">
				<div class="title-setting">{{ "SETTINGS.COMPANY_SETTINGS" | translate }}</div>
				<div [routerLink]="['/app/user/settings/company/company-profil']">
					{{ "SETTINGS.COMPANYS_PROFILE" | translate }}
				</div>
				<div *ngIf="isSuperAdmin" [routerLink]="['/app/user/settings/company/references']">
					{{ "SETTINGS.REFERENCES" | translate }}
				</div>
				<div [routerLink]="['/app/user/settings/company/flags']" *ngIf="isSuperAdmin">
					{{ "SETTINGS.FLAGS" | translate }}
				</div>
				<div
					*ngIf="isDefaultControlTower"
					[routerLink]="['/app/user/settings/company/data_recovery']"
				>
					{{ "SETTINGS.DATA_RECOVERY" | translate }}
				</div>
				<div
					*ngIf="isDefaultControlTower"
					[routerLink]="['/app/user/settings/company/cronjob-monitoring']"
				>
					{{ "SETTINGS.CRONJOB_MONITORING" | translate }}
				</div>
			</div>
			<div class="setting-buttons__big" *ngIf="isSuperAdmin || isAdmin">
				<div class="title-setting">{{ "SETTINGS.USER_SETTINGS" | translate }}</div>
				<div *ngIf="isAdmin || isSuperAdmin" [routerLink]="['/app/user/settings/company/users']">
					{{ "SETTINGS.USERS_MANAGEMENT" | translate }}
				</div>
				<div
					*ngIf="isAdmin || isSuperAdmin"
					[routerLink]="['/app/user/settings/company/profiles-management']"
				>
					{{ "SETTINGS.PROFILES_MANAGEMENT" | translate }}
				</div>
				<div
					[routerLink]="['/app/user/settings/company/ship-to-matrix']"
					*ngIf="isSuperAdmin || isAdmin"
				>
					{{ "SETTINGS.SHIP_TO_MATRIX" | translate }}
				</div>
			</div>
			<div class="setting-buttons__big">
				<div class="title-setting">{{ "SETTINGS.REFERENCE_TABLES" | translate }}</div>
				<div [routerLink]="['/app/user/settings/company/adresses']" *ngIf="isSuperAdmin || isAdmin">
					{{ "SETTINGS.ADRESSES" | translate }}
				</div>
				<div [routerLink]="['/app/user/settings/company/exchange-rate']" *ngIf="isSuperAdmin">
					{{ "SETTINGS.EXCHANGE_RATES" | translate }}
				</div>
				<div [routerLink]="['/app/user/settings/company/type-unit']" *ngIf="isSuperAdmin">
					{{ "SETTINGS.TYPE_OF_UNITS" | translate }}
				</div>
				<div [routerLink]="['/app/user/settings/company/type-goods']" *ngIf="isSuperAdmin">
					{{ "SETTINGS.TYPE_OF_GOODS" | translate }}
				</div>
				<div [routerLink]="['/app/user/settings/company/costs-items']" *ngIf="isSuperAdmin">
					{{ "SETTINGS.COSTS_ITEMS" | translate }}
				</div>
				<div [routerLink]="['/app/user/settings/company/additional-costs']" *ngIf="isSuperAdmin">
					{{ "SETTINGS.ADDITIONAL_COST" | translate }}
				</div>
				<div [routerLink]="['/app/user/settings/company/dock-management']" *ngIf="isSuperAdmin">
					{{ "SETTINGS.DOCK_MANAGEMENT" | translate }}
				</div>
			</div>
			<div class="setting-buttons__big" *ngIf="isAdmin || isSuperAdmin">
				<div class="title-setting">{{ "SETTINGS.TRANSPORT_SETTINGS" | translate }}</div>
				<div [routerLink]="['/app/user/settings/company/configuration-psl']" *ngIf="isSuperAdmin">
					{{ "SETTINGS.COMPANYS_CONFIG_PSL" | translate }}
				</div>
				<div [routerLink]="['/app/user/settings/company/schema-psl']" *ngIf="isSuperAdmin">
					{{ "SETTINGS.SCHEMAS_PSL" | translate }}
				</div>
				<div [routerLink]="['/app/user/settings/company/incoterms']" *ngIf="isSuperAdmin">
					{{ "SETTINGS.INCOTERMS" | translate }}
				</div>
				<div [routerLink]="['/app/user/settings/company/type-flux']" *ngIf="isSuperAdmin">
					{{ "SETTINGS.TYPE_FLUX" | translate }}
				</div>
				<div [routerLink]="['/app/user/settings/company/type-request']" *ngIf="isSuperAdmin">
					{{ "SETTINGS.TYPE_OF_REQUEST" | translate }}
				</div>
				<div [routerLink]="['/app/user/settings/company/document']" *ngIf="isSuperAdmin">
					{{ "SETTINGS.DOCUMENT_TYPES" | translate }}
				</div>
			</div>
			<div class="setting-buttons__big">
				<div class="title-setting">{{ "SETTINGS.ADVANCED_TRANSPORT" | translate }}</div>
				<div [routerLink]="['/app/user/settings/company/transport-plan']" *ngIf="isSuperAdmin">
					{{ "SETTINGS.TRPL" | translate }}
				</div>
				<div
					*ngIf="acls[ACL.Rule.Settings_Company_Loading_Schedule_Enable]"
					[routerLink]="['/app/user/settings/company/load-planning']"
				>
					{{ "SETTINGS.PLANNING_CHARGEMENT" | translate }}
				</div>
				<div
					[routerLink]="['/app/user/settings/company/parametrage-mtc']"
					*ngIf="isSuperAdmin && showMTCLinks"
				>
					{{ "PARAMETRAGE_MTC.CUSTOM_MTC" | translate }}
				</div>
				<div
					[routerLink]="['/app/user/settings/company/regroupement-qr']"
					*ngIf="isSuperAdmin && acls[ACL.Rule.Settings_Company_Consolidations_Enable]"
				>
					{{ "SETTINGS.QR_GROUPING" | translate }}
				</div>
				<div
					*ngIf="
						(isSuperAdmin || isAdmin) && acls[ACL.Rule.Settings_Company_Automatic_Actions_Enable]
					"
					[routerLink]="['/app/user/settings/company/control-rules']"
				>
					{{ "SETTINGS.CONTROL_RULES" | translate }}
				</div>
				<div [routerLink]="['/app/user/settings/company/doc-templates']" *ngIf="isSuperAdmin">
					{{ "SETTINGS.DOCUMENT_TEMPLATES" | translate }}
				</div>
				<div [routerLink]="['/app/user/settings/company/mapping-code-psl']" *ngIf="isSuperAdmin">
					{{ "SETTINGS.MAPPING_CODE_PSL" | translate }}
				</div>
			</div>
			<div class="setting-buttons__big">
				<div class="title-setting">{{ "SETTINGS.CUSTOMS_DOUANE" | translate }}</div>
				<div
					*ngIf="hasAccess(Modules.CUSTOM) && isSuperAdmin"
					[routerLink]="['/app/user/settings/company/custom-setting']"
				>
					{{ "SETTINGS.CUSTOMS" | translate }}
				</div>
				<div
					*ngIf="hasAccess(Modules.COMPTA_MATIERE) && isSuperAdmin"
					[routerLink]="['/app/user/settings/company/regimes-temporaires']"
				>
					{{ "SETTINGS.REGIMES_TEMPORAIRES" | translate }}
				</div>
			</div>
		</div>
	</div>

	<div #panel3 class="panel panel-visible panel-table">
		<div class="col-md-12 padding-0">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
