<div class="content_wrapper">
	<div #panelOne class="panel hidden panel-advanced-search">
		<div class="panel-heading heading-search">
			<span class="fa fa-search"></span> d options
			<span class="panel-controls">
				<a (click)="panelCollapse(bodyOne, panelOne)" class="panel-control-collapse"></a>
			</span>
		</div>

		<div #bodyOne class="panel-body body-search custom">
			<form id="searchform" data-search-aviliable="1" class="form-horizontal hidden" role="form">
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label class="col-md-6 " for="inputSelect">Select</label>
							<div class="col-md-6">
								<select>
									<option value=""></option>

									<option value="1">Option1</option>

									<option value="2">Option2</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="col-md-6 " for="inputSelect">input</label>
							<div class="col-md-6">
								<input value="value" />
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="col-md-6 " for="inputSelect">datepicker</label>
							<div class="col-md-6">
								<div class="input-group">
									<input
										class=" date-picker-input"
										placeholder="yyyy-mm-dd"
										name="dp"
										[(ngModel)]="model"
										ngbDatepicker
										#d="ngbDatepicker"
									/>
									<button class="input-group-addon" (click)="d.toggle()" type="button">
										<span class="fa fa-calendar"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="">
					<a href="#" class="btn btn-primary pull-right btn-sm ">
						<span class="fa fa-search"></span> Search
					</a>
					<a id="btn-search-clear" href="#" class="btn btn-danger pull-right btn-sm mr5">
						<span class="fa fa-times"></span> Clear search
					</a>

					<div class="popover-markup pull-right">
						<a
							data-placement="left"
							class="trigger btn  btn-primary  mr10 btn-sm fw600 btnsave "
							href="#"
							data-original-title=""
							title=""
						>
							<span class="fa fa-save pr5"></span> Save
						</a>
						<div class="head hide">Name search</div>
						<div class="content hide">
							<div class="form-group">
								<input type="text" class="savetitle " placeholder="Title" />
								<input type="text" class="savetitleid hidden " placeholder="Title" />
							</div>
							<a class="btn cancelSearch btn-danger btn-default mr10 btn-sm fw600" href="#">
								<span class="fa fa-times pr5"></span> Cancel
							</a>
							<a class="btn saveSearch btn-primary mr10 btn-sm fw600" href="#">
								<span class="fa fa-save pr5"></span> Save
							</a>
						</div>
					</div>

					<div class="btn-group pull-left">
						<button
							aria-expanded="true"
							type="button"
							class="btn btn-sm btn-primary  dropdown-toggle"
							data-toggle="dropdown"
						>
							Pre-saved searches
							<span class="caret ml5"></span>
						</button>
						<!--   scrollable-menu  -->
						<div
							role="menu"
							class="dropdown-menu dropdown-menu-right dropdown-persist w350 animated animated-shorter fadeIn"
						>
							<div class="panel mbn">
								<div class="panel-body panel-scroller scroller-navbar pn scroller scroller-active">
									<div class="scroller-content">
										<div class="alerts-widget">
											<div class="media row">
												<a href="#" class="media-left col-md-2 searchbutton">
													<span class="glyphicon glyphicon-search text-info"></span>
													<span class="searchName hidden"></span>
													<span class="searchTitre hidden">save</span>
												</a>
												<div class="media-body col-md-7">
													<h5 class="media-heading">
														save
														<small class="text-muted"></small>
													</h5>
													2017-12-07 13:11:55
												</div>
												<div class="media-right col-md-3">
													<div class="media-response">Actions</div>
													<div class="btn-group">
														<button
															class="btn updatesearch btn-default btn-xs light"
															data-id="71"
															data-name="save"
															type="button"
														>
															<i class="fa fa-edit text-warning"></i>
														</button>
														<button
															class="btn removesearch btn-default btn-xs light"
															data-id="71"
															data-name="save"
															type="button"
														>
															<i class="fa fa-remove text-danger"></i>
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a
						id="addnew"
						data-criteresrecherche="0"
						class="btn pull-right hidden mr10  btn-primary btn-sm fw600 "
						href="#"
					>
						<span class="fa fa-plus pr5"></span> New search
					</a>
				</div>
			</form>
		</div>
	</div>

	<app-chat-panel
		[dataInsertion]="dataInsertion"
		[dataSource]="dataSource"
		[user]="user"
	></app-chat-panel>

	<div #panel2 class="panel panel-visible panel-table">
		<div class="panel-heading heading-table ">
			In Process

			<span class="panel-controls">
				<a (click)="panelCollapse(body2, panel2)" class="panel-control-collapse"></a>
				<a (click)="panelFullScreen(panel2)" class="panel-control-fullscreen"></a>
			</span>
		</div>

		<!-- Commented as it's obsolete, imported from OCD -->
		<div #body2 class="panel-body body-table custom">
			<!--<div class="row">
                <div class="col-md-4">
                    <div class="document-zone">
                        <div class="col-md-4  text-doc-title">Interco invoice</div>
                        <div class="col-md-8">
                            <div class="drop-container" ngFileDrop (uploadOutput)="onUploadFiles($event,fileTypeEnum.INTERCO_INVOICE)" [uploadInput]="uploadInput" [ngClass]="{ 'is-drop-over': dragOver }">
                                <p class="text-center" *ngIf="files[fileTypeEnum.INTERCO_INVOICE].length == 0">
                                    <i style="font-size: 20px;" class="fa fa-cloud-upload text-inf "></i> Drag a file here or
                                    <label class="upload-button">
                                        <input type="file" ngFileSelect (uploadOutput)="onUploadFiles($event,fileTypeEnum.INTERCO_INVOICE)" [uploadInput]="uploadInput"
                                            multiple> browse
                                    </label> to upload.
                                </p>
                                <ng-container *ngIf="files[fileTypeEnum.INTERCO_INVOICE].length != 0">
                                    <div class="upload-items">
                                        <div class="upload-item" *ngFor="let f of files[fileTypeEnum.INTERCO_INVOICE]; let i = index;">
                                            <span class="filename">
                                                <span>{{ f.name }}</span>
                                            </span>
                                            <div class="progress">
                                                <span class="progress-bar" [style.width]="f.progress?.data?.percentage + '%'">
                                                    {{ f.progress?.data?.percentage }}%
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>

                        <div class="col-md-12 padding-0-important border-uploader">
                            <ng-container *ngIf="filesReturn[fileTypeEnum.INTERCO_INVOICE].length != 0">
                                <div class="existed-items">
                                    <div class="existed-item" *ngFor="let f of filesReturn[fileTypeEnum.INTERCO_INVOICE]; let i = index;">
                                        <span class="filename">
                                            <span class="fa fa-trash"></span>
                                        <a href="{{f.chemin}}/{{f.fileName}}">
                                            <span class="fa fa-save" style="margin-left: 3px;"></span>
                                        </a>
                                        <div title="{{ f.originFileName }}" class="ellipsis-item">{{ f.originFileName }}</div>
                                        </span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="document-zone">
                        <div class="col-md-4 text-doc-title">Commercial invoice</div>
                        <div class="col-md-8">
                            <div class="drop-container" ngFileDrop (uploadOutput)="onUploadFiles($event,fileTypeEnum.COMMERCIAL_INVOICE)" [uploadInput]="uploadInput" [ngClass]="{ 'is-drop-over': dragOver }">
                                <p class="text-center" *ngIf="files[fileTypeEnum.COMMERCIAL_INVOICE].length == 0">
                                    <i style="font-size: 20px;" class="fa fa-cloud-upload text-inf "></i> Drag a file here or
                                    <label class="upload-button">
                                        <input type="file" ngFileSelect (uploadOutput)="onUploadFiles($event,fileTypeEnum.COMMERCIAL_INVOICE)" [uploadInput]="uploadInput"
                                            multiple> browse
                                    </label> to upload.
                                </p>
                                <ng-container *ngIf="files[fileTypeEnum.COMMERCIAL_INVOICE].length != 0">
                                    <div class="upload-items">
                                        <div class="upload-item" *ngFor="let f of files[fileTypeEnum.COMMERCIAL_INVOICE]; let i = index;">
                                            <span class="filename">
                                                <span>{{ f.name }}</span>
                                            </span>
                                            <div class="progress">
                                                <span class="progress-bar" [style.width]="f.progress?.data?.percentage + '%'">
                                                    {{ f.progress?.data?.percentage }}%
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-md-12 padding-0-important border-uploader">
                            <ng-container *ngIf="filesReturn[fileTypeEnum.COMMERCIAL_INVOICE].length != 0">
                                <div class="existed-items">
                                    <div class="existed-item" *ngFor="let f of filesReturn[fileTypeEnum.COMMERCIAL_INVOICE]; let i = index;">
                                        <span class="filename">
                                            <span class="fa fa-trash"></span>
                                        <a href="{{f.chemin}}/{{f.fileName}}">
                                            <span class="fa fa-save" style="margin-left: 3px;"></span>
                                        </a>
                                        <div title="{{ f.originFileName }}" class="ellipsis-item">{{ f.originFileName }}</div>
                                        </span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="document-zone">
                        <div class="col-md-4 text-doc-title">Customs</div>
                        <div class="col-md-8">
                            <div class="drop-container" ngFileDrop (uploadOutput)="onUploadFiles($event,fileTypeEnum.CUSTOMS)" [uploadInput]="uploadInput" [ngClass]="{ 'is-drop-over': dragOver }">
                                <p class="text-center" *ngIf="files[fileTypeEnum.CUSTOMS].length == 0">
                                    <i style="font-size: 20px;" class="fa fa-cloud-upload text-inf "></i> Drag a file here or
                                    <label class="upload-button">
                                        <input type="file" ngFileSelect (uploadOutput)="onUploadFiles($event,fileTypeEnum.CUSTOMS)" [uploadInput]="uploadInput" multiple> browse
                                    </label> to upload.
                                </p>
                                <ng-container *ngIf="files[fileTypeEnum.CUSTOMS].length != 0">
                                    <div class="upload-items">
                                        <div class="upload-item" *ngFor="let f of files[fileTypeEnum.CUSTOMS]; let i = index;">
                                            <span class="filename">
                                                <span>{{ f.name }}</span>
                                            </span>
                                            <div class="progress">
                                                <span class="progress-bar" [style.width]="f.progress?.data?.percentage + '%'">
                                                    {{ f.progress?.data?.percentage }}%
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-md-12 padding-0-important border-uploader">
                            <ng-container *ngIf="filesReturn[fileTypeEnum.CUSTOMS].length != 0">
                                <div class="existed-items">
                                    <div class="existed-item" *ngFor="let f of filesReturn[fileTypeEnum.CUSTOMS]; let i = index;">
                                        <span class="filename">
                                            <span class="fa fa-trash"></span>
                                        <a href="{{f.chemin}}/{{f.fileName}}">
                                            <span class="fa fa-save" style="margin-left: 3px;"></span>
                                        </a>
                                        <div title="{{ f.originFileName }}" class="ellipsis-item">{{ f.originFileName }}</div>
                                        </span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>

                    </div>
                </div>
            </div>


            <div class="row margin-top-15-important">
                <div class="col-md-4">
                    <div class="document-zone">
                        <div class="col-md-4 text-doc-title">Transport Document</div>
                        <div class="col-md-8">
                            <div class="drop-container" ngFileDrop (uploadOutput)="onUploadFiles($event,fileTypeEnum.TRANSPORT_DOCUMENT)" [uploadInput]="uploadInput" [ngClass]="{ 'is-drop-over': dragOver }">
                                <p class="text-center" *ngIf="files[fileTypeEnum.TRANSPORT_DOCUMENT].length == 0">
                                    <i style="font-size: 20px;" class="fa fa-cloud-upload text-inf "></i> Drag a file here or
                                    <label class="upload-button">
                                        <input type="file" ngFileSelect (uploadOutput)="onUploadFiles($event,fileTypeEnum.TRANSPORT_DOCUMENT)" [uploadInput]="uploadInput"
                                            multiple> browse
                                    </label> to upload.
                                </p>
                                <ng-container *ngIf="files[fileTypeEnum.TRANSPORT_DOCUMENT].length != 0">
                                    <div class="upload-items">
                                        <div class="upload-item" *ngFor="let f of files[fileTypeEnum.TRANSPORT_DOCUMENT]; let i = index;">
                                            <span class="filename">
                                                <span>{{ f.name }}</span>
                                            </span>
                                            <div class="progress">
                                                <span class="progress-bar" [style.width]="f.progress?.data?.percentage + '%'">
                                                    {{ f.progress?.data?.percentage }}%
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-md-12 padding-0-important border-uploader">
                            <ng-container *ngIf="filesReturn[fileTypeEnum.TRANSPORT_DOCUMENT].length != 0">
                                <div class="existed-items">
                                    <div class="existed-item" *ngFor="let f of filesReturn[fileTypeEnum.TRANSPORT_DOCUMENT]; let i = index;">
                                        <span class="filename">
                                            <span class="fa fa-trash"></span>
                                        <a href="{{f.chemin}}/{{f.fileName}}">
                                            <span class="fa fa-save" style="margin-left: 3px;"></span>
                                        </a>
                                        <div title="{{ f.originFileName }}" class="ellipsis-item">{{ f.originFileName }}</div>
                                        </span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="document-zone">
                        <div class="col-md-4 text-doc-title">Other</div>
                        <div class="col-md-8">
                            <div class="drop-container" ngFileDrop (uploadOutput)="onUploadFiles($event,fileTypeEnum.OTHER)" [uploadInput]="uploadInput" [ngClass]="{ 'is-drop-over': dragOver }">
                                <p class="text-center" *ngIf="files[fileTypeEnum.OTHER].length == 0">
                                    <i style="font-size: 20px;" class="fa fa-cloud-upload text-inf "></i> Drag a file here or
                                    <label class="upload-button">
                                        <input type="file" ngFileSelect (uploadOutput)="onUploadFiles($event,fileTypeEnum.OTHER)" [uploadInput]="uploadInput" multiple> browse
                                    </label> to upload.
                                </p>
                                <ng-container *ngIf="files[fileTypeEnum.OTHER].length != 0">
                                    <div class="upload-items">
                                        <div class="upload-item" *ngFor="let f of files[fileTypeEnum.OTHER]; let i = index;">
                                            <span class="filename">
                                                <span>{{ f.name }}</span>
                                            </span>
                                            <div class="progress">
                                                <span class="progress-bar" [style.width]="f.progress?.data?.percentage + '%'">
                                                    {{ f.progress?.data?.percentage }}%
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-md-12 padding-0-important border-uploader">
                            <ng-container *ngIf="filesReturn[fileTypeEnum.OTHER].length != 0">
                                <div class="existed-items">
                                    <div class="existed-item" *ngFor="let f of filesReturn[fileTypeEnum.OTHER]; let i = index;">
                                        <span class="filename">
                                            <span class="fa fa-trash"></span>
                                        <a href="{{f.chemin}}/{{f.fileName}}">
                                            <span class="fa fa-save" style="margin-left: 3px;"></span>
                                        </a>
                                        <div title="{{ f.originFileName }}" class="ellipsis-item">{{ f.originFileName }}</div>
                                        </span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="document-zone">
                        <div class="col-md-4 text-doc-title">Pod</div>
                        <div class="col-md-8">
                            <div class="drop-container" ngFileDrop (uploadOutput)="onUploadFiles($event,fileTypeEnum.POD)" [uploadInput]="uploadInput" [ngClass]="{ 'is-drop-over': dragOver }">
                                <p class="text-center" *ngIf="files[fileTypeEnum.POD].length == 0">
                                    <i style="font-size: 20px;" class="fa fa-cloud-upload text-inf "></i> Drag a file here or
                                    <label class="upload-button">
                                        <input type="file" ngFileSelect (uploadOutput)="onUploadFiles($event,fileTypeEnum.POD)" [uploadInput]="uploadInput" multiple> browse
                                    </label> to upload.
                                </p>
                                <ng-container *ngIf="files[fileTypeEnum.POD].length != 0">
                                    <div class="upload-items">
                                        <div class="upload-item" *ngFor="let f of files[fileTypeEnum.POD]; let i = index;">
                                            <span class="filename">
                                                <span>{{ f.name }}</span>
                                            </span>
                                            <div class="progress">
                                                <span class="progress-bar" [style.width]="f.progress?.data?.percentage + '%'">
                                                    {{ f.progress?.data?.percentage }}%
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-md-12 padding-0-important border-uploader">
                            <ng-container *ngIf="filesReturn[fileTypeEnum.POD].length != 0">
                                <div class="existed-items">
                                    <div class="existed-item" *ngFor="let f of filesReturn[fileTypeEnum.POD]; let i = index;">
                                        <span class="filename">
                                            <span class="fa fa-trash"></span>
                                        <a href="{{f.chemin}}/{{f.fileName}}">
                                            <span class="fa fa-save" style="margin-left: 3px;"></span>
                                        </a>
                                        <div title="{{ f.originFileName }}" class="ellipsis-item">{{ f.originFileName }}</div>
                                        </span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row margin-top-15-important">


            </div>-->
		</div>
	</div>

	<div class="panel-body body-table body-statut">
		<div class="col-md-10 bordered-right">
			<h2 class="h2detailsTtile ">
				Quotation request :
				<span class="colorBleu">OCD_14281</span>
			</h2>
			<hr />
			<div class="row">
				<div class="col-md-12 fwb  fs17 col-sm-12">
					<div class="pull-left ml5">
						<span style="padding: 6px; top: 0px;" class="glyphicon acircle  glyphicon-cog"></span>
						Status :
						<b class="colorBleu  nopadding" style="padding-top: 2px;"
							>In process, waiting for quote
						</b>
					</div>

					<div class="pull-left margin-left-20">
						<span style="padding: 6px;" class="fa fa-calendar  acircle"></span> Date :
						<b class="important-font-size"> 2017-12-11</b>
					</div>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="status-navbar-small">
						<ul class="status-steps">
							<li class="completed">
								<span class="step-number"></span>
								<div class="step-text">Request sent by OCD</div>
							</li>
							<li class="completed">
								<span class="step-number"></span>
								<div class="step-text">Request sent by ALIS</div>
							</li>
							<li class="">
								<span class="step-number"></span>
								<div class="step-text">Recommendation</div>
							</li>
							<li class="">
								<span class="step-number"></span>
								<div class="step-text">Final choice</div>
							</li>
							<li class="">
								<span class="step-number"></span>
								<div class="step-text">Transportation request</div>
							</li>
						</ul>
					</div>

					<input class=" hidden" value="false" />
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="time-remaining">
				<div class="ct-header">
					<div class="ct-header-title  fwb text-center">Time remaining</div>

					<div class="ct-body-items">
						<div id="countdown" class="text-center important-font-size">
							<div class="col-md-12 text-center countd-md">
								<span class="calender-counter">17</span>HOURS
							</div>
							<div class="col-md-12 text-center countd-md">
								<span class="calender-counter">11</span>MIN
							</div>
							<div class="col-md-12 text-center countd-md">
								<span class="calender-counter">35</span>SEC
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div #panel3 class="panel panel-visible panel-table styled-tabs">
		<ngb-tabset [justify]="currentJustify">
			<ngb-tab title="On going transport">
				<ng-template ngbTabContent>
					<p #body3>
						Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown
						aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan
						helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu
						banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone.
						Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
					</p>
				</ng-template>
			</ngb-tab>
			<ngb-tab>
				<ng-template ngbTabTitle> Fancy title</ng-template>
				<ng-template ngbTabContent
					>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
					<p #body3>
						Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson
						artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo
						enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud
						organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
						yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes
						anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson
						biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente
						accusamus tattooed echo park.
					</p>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="A very long nav title">
				<ng-template ngbTabContent>
					<p #body3>
						Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit
						id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus
						turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus.
						Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut
						ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus
						nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt
						odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
						mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor
						vel tellus pulvinar feugiat.
					</p>
				</ng-template>
			</ngb-tab>

			<ngb-tab [disabled]="true">
				<ng-template ngbTabTitle>
					<span class="panel-controls">
						<a (click)="panelCollapseTabs(panel3)" class="panel-control-collapse"></a>
						<a class="panel-control-fullscreen" href="#"></a>
					</span>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</div>

	<div class="panel-body body-table body-statut">
		<div class="col-md-4">
			<h4 class="h2Ttile">Create new request</h4>
		</div>
		<div class="col-md-4 ">
			<h4 class="h2Ttile pull-right" style="font-weight: normal;">
				<span class="acircle acircle-custom">@</span> Your email for backup
			</h4>
		</div>
		<div class="col-md-4 form-group backup-email">
			<input id="backupEmail" name="backupEmail" type="text" value="" />
		</div>
	</div>

	<div #panel4 class="panel panel-visible panel-table">
		<div class="panel-heading heading-table ">
			SHIPPING INFORMATION
			<span class="panel-controls">
				<a (click)="panelCollapse(body4, panel4)" class="panel-control-collapse"></a>
				<a (click)="panelFullScreen(panel4)" class="panel-control-fullscreen"></a>
			</span>
		</div>
		<div #body4 class="panel-body body-table form-group">
			<div class="row row-eq-height">
				<div class="col-md-4 border-right-ddd col-md-20percent">
					<div class="row">
						<fieldset>
							<legend>
								<h4>Reference information</h4>
							</legend>
						</fieldset>
						<div class="col-md-12 mb10  ">
							<label class="areaLibelle"> Pickslip (*)</label>
							<input name="favori" class=" hidden" type="text" value="" />
							<div class="">
								<div class="col-md-11" id="pickslipPlus">
									<div class="classPickslip row">
										<div class="col-md-10 padding-left-0-important padding-right-0-important">
											<input class=" classPickslipVal border-right-0 " name="pickslipShip" />
										</div>
										<div
											class="col-md-1  col-md-1-2 padding-left-0-important padding-right-0-important"
										>
											<label
												class="btn btn-picky btn-xs btn-picky2 classPickslipMins border-left-0"
												type="button"
											>
												<span class="margin-left-negative-4-important fa-minus fa"></span>
											</label>
										</div>
									</div>
								</div>

								<div
									class="col-md-1 padding-left-0-important padding-right-0-important margin-left-negative-2-important"
								>
									<label type="button" class="btn btn-picky btn-xs  " id="idMorePickSlip">
										<span class="fa-plus fa margin-left-negative-4-important"></span>
									</label>
								</div>
							</div>
						</div>

						<div class="mb10 col-md-12">
							<label class="areaLibelle">
								{{ "PRICING_BOOKING.TYPE_OF_REQUEST" | translate }} (*)</label
							>
							<div class="">
								<select name="xEcTypeDemande" class="">
									<option value=""></option>
									<option value="1">Standard (48H)</option>
									<option value="2">Urgent (24H)</option>
									<option value="3">Sameday (1H30)</option>
									<option value="4">Other (Days)</option>
								</select>

								<!-- <div class="col-md-12 hidden">
                                            <span class="  mb5"> <input type="radio" value="1" name="xEcTypeDemande"  /><label for="xEcTypeDemande"> Standard (48H)</label>
                                            </span>
                                        </div>
                                        <div class="col-md-12 hidden">
                                            <span class="  mb5"> <input type="radio" value="2" name="xEcTypeDemande"  /><label for="xEcTypeDemande"> Urgent (24H)</label>
                                            </span>
                                        </div>
                                        <div class="col-md-12 hidden">
                                            <span class="  mb5"> <input type="radio" value="3" name="xEcTypeDemande"  /><label for="xEcTypeDemande"> Sameday (1H30)</label>
                                            </span>
                                        </div>
                                        <div class="col-md-12 hidden">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <span class="  mb5"> <input type="radio" value="4" name="xEcTypeDemande"  /><label for="xEcTypeDemande"> Other (Days)</label>
                                                    </span>
                                                </div>

                                            </div>
                                        </div>
                                         -->
								<div id="othersinput" class="hidden">
									<input name="nbrDaysOther" value="" class="" disabled="true" />
								</div>
							</div>
						</div>

						<!-- 			<fieldset > -->
						<div class="col-md-12 mb5">
							<label class="areaLibelle">Date of goods availability (*)</label>
							<div class="input-group">
								<input
									class=" date-picker-input"
									placeholder="yyyy-mm-dd"
									name="dp"
									[(ngModel)]="model"
									ngbDatepicker
									#d="ngbDatepicker"
								/>
								<button class="input-group-addon" (click)="d.toggle()" type="button">
									<span class="fa fa-calendar"></span>
								</button>
							</div>
						</div>
						<div class="col-md-12 mb5">
							<label class="areaLibelle">Date of arrival</label>
							<div class="input-group">
								<input
									class=" date-picker-input"
									placeholder="yyyy-mm-dd"
									name="dp"
									[(ngModel)]="model"
									ngbDatepicker
									#d="ngbDatepicker"
								/>
								<button class="input-group-addon" (click)="d.toggle()" type="button">
									<span class="fa fa-calendar"></span>
								</button>
							</div>
						</div>
						<fieldset class="nofieldset">
							<div class="col-md-12 mb10">
								<label class="areaLibelle">Mode of transport (*)</label>
								<div class="">
									<select class=" valid" name="mode" id="selectmode" aria-invalid="false">
										<option value=""></option>
										<option value="1">Air</option>
										<option value="2">Sea</option>
										<option value="3">Road</option>
									</select>
									<input
										id="xTYPETRANSPORT_ROAD"
										name="xEcModeTransport"
										class="hidden"
										type="radio"
										value="5"
									/>
									<div></div>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
				<div class="col-md-4 border-right-ddd col-md-20percent">
					<div class="row">
						<fieldset>
							<legend>
								<h4>Shipper Information</h4>
							</legend>

							<div class="col-md-12 mb10">
								<label class="areaLibelle">Company</label>
								<input
									id="ebPartyOrigin.company"
									name="ebPartyOrigin.company"
									type="text"
									class=" ui-autocomplete-input"
									value="STEF LOGISTIQUE SANTE"
									autocomplete="off"
								/>
							</div>

							<div class="col-md-12  mb10">
								<label class="areaLibelle">Address</label>
								<input
									id="ebPartyOrigin.address"
									name="ebPartyOrigin.address"
									type="text"
									class=""
									value="35, rue de Calais"
								/>
							</div>

							<div class="col-md-12  mb10">
								<label for="ebPartyOrigin.city" class="areaLibelle">City (*)</label>
								<input
									id="ebPartyOrigin.city"
									name="ebPartyOrigin.city"
									type="text"
									class=""
									required="required"
									value="Strasbourg"
									aria-required="true"
								/>
							</div>

							<div class="col-md-12  mb10">
								<label class="areaLibelle">Zip code</label>
								<input
									id="ebPartyOrigin.zipCode"
									name="ebPartyOrigin.zipCode"
									type="text"
									class=""
									value="67100"
								/>
							</div>

							<fieldset class="nofieldset">
								<div class="col-md-12  mb10">
									<label for="ebPartyOrigin.xEcCountry" class="areaLibelle">Country (*)</label>
									<select id="ebPartyOrigin.xEcCountry" name="ebPartyOrigin.xEcCountry" class="">
										<option value="">&nbsp;</option>
										<option value="2566">Afghanistan</option>
										<option value="2402">Albania</option>
										<option value="2348">Algeria</option>
										<option value="2548">American Samoa</option>
										<option value="2433">Andorra</option>
										<option value="2428">Angola</option>
										<option value="2477">Anguilla</option>
										<option value="2542">Antarctica</option>
										<option value="2478">Antigua and Barbuda</option>
										<option value="2549">Argentina</option>
										<option value="2491">Armenia</option>
										<option value="2362">Aruba</option>
										<option value="2380">Australia</option>
										<option value="2537">Austria</option>
										<option value="2437">Azerbaijan</option>
										<option value="2562">Bahamas</option>
										<option value="2534">Bahrain</option>
										<option value="2484">Bangladesh</option>
										<option value="2435">Barbados</option>
										<option value="2462">Belarus</option>
										<option value="2525">Belgium</option>
										<option value="2333">Belize</option>
										<option value="2334">Benin</option>
										<option value="2539">Bermuda</option>
										<option value="2413">Bhutan</option>
										<option value="2405">Bolivia</option>
										<option value="2409">Bosnia-Herzegovina</option>
										<option value="2474">Botswana</option>
										<option value="2506">Brazil</option>
										<option value="2466">British Virgin Islands</option>
										<option value="2369">British Virgin Islands</option>
										<option value="2520">Brunei</option>
										<option value="2532">Bulgaria</option>
										<option value="2475">Burkina Faso</option>
										<option value="2522">Burundi</option>
										<option value="2336">Cambodia</option>
										<option value="2375">Cameroon</option>
										<option value="2529">Canada</option>
										<option value="2504">Canary islands</option>
										<option value="2338">Cape Verde</option>
										<option value="2460">Cayman Islands</option>
										<option value="2507">Central African Republic</option>
										<option value="2342">Ceuta</option>
										<option value="2524">Chad</option>
										<option value="2553">Chile</option>
										<option value="2390">China</option>
										<option value="2519">Christmas Island</option>
										<option value="2422">Cocos (Keeling) Islands</option>
										<option value="2476">Colombia</option>
										<option value="2547">Comoros</option>
										<option value="2436">Congo (Brazzaville)</option>
										<option value="2457">Congo (Kinshasa)</option>
										<option value="2398">Cook Islands</option>
										<option value="2439">Costa Rica</option>
										<option value="2440">Cote d'Ivoire</option>
										<option value="2554">Croatia</option>
										<option value="2488">Cuba</option>
										<option value="2339">Cyprus</option>
										<option value="2391">Czech Republic</option>
										<option value="2350">Denmark</option>
										<option value="2470">Djibouti</option>
										<option value="2533">Dominica</option>
										<option value="2386">Dominican Republic</option>
										<option value="2412">East Timor</option>
										<option value="2442">Ecuador</option>
										<option value="2489">Egypt</option>
										<option value="2499">El Salvador</option>
										<option value="2353">Equatorial Guinea</option>
										<option value="2403">Eritrea</option>
										<option value="2418">Estonia</option>
										<option value="2500">Ethiopia</option>
										<option value="2371">Falkland Islands</option>
										<option value="2393">Faroe Islands</option>
										<option value="2492">Fiji</option>
										<option value="2494">Finland</option>
										<option value="2565" selected="selected">France</option>
										<option value="2356">French Guiana</option>
										<option value="2481">French Polynesia</option>
										<option value="2556">Gabon</option>
										<option value="2505">Gambia</option>
										<option value="2373">Georgia</option>
										<option value="2385">Germany</option>
										<option value="2465">Ghana</option>
										<option value="2417">Gibraltar</option>
										<option value="2330">Greece</option>
										<option value="2349">Greenland</option>
										<option value="2329">Grenada</option>
										<option value="2530">Guadeloupe</option>
										<option value="2394">Guam</option>
										<option value="2536">Guatemala</option>
										<option value="2400">Guernsey</option>
										<option value="2410">Guinea</option>
										<option value="2568">Guinea-Bissau</option>
										<option value="2365">Guyana</option>
										<option value="2430">Haiti</option>
										<option value="2363">Honduras</option>
										<option value="2450">Hong Kong</option>
										<option value="2396">Hungary</option>
										<option value="2538">Iceland</option>
										<option value="2458">India</option>
										<option value="2358">Indonesia</option>
										<option value="2512">Iran</option>
										<option value="2351">Iraq</option>
										<option value="2374">Ireland</option>
										<option value="2569">Isle of Man</option>
										<option value="2438">Israel</option>
										<option value="2563">Italy</option>
										<option value="2544">Jamaica</option>
										<option value="2497">Japan</option>
										<option value="2429">Jersey</option>
										<option value="2509">Jordan</option>
										<option value="2535">Kazakhstan</option>
										<option value="2416">Kenya</option>
										<option value="2451">Kiribati</option>
										<option value="2508">Kuwait</option>
										<option value="2567">Kyrgyzstan</option>
										<option value="2498">Laos</option>
										<option value="2340">Latvia</option>
										<option value="2447">Lebanon</option>
										<option value="2555">Lesotho</option>
										<option value="2366">Liberia</option>
										<option value="2464">Libya</option>
										<option value="2367">Liechtenstein</option>
										<option value="2570">Lithuania</option>
										<option value="2395">Luxembourg</option>
										<option value="2526">Macau</option>
										<option value="2550">Macedonia</option>
										<option value="2423">Madagascar</option>
										<option value="2359">Malawi</option>
										<option value="2528">Malaysia</option>
										<option value="2561">Maldives</option>
										<option value="2378">Mali</option>
										<option value="2370">Malta</option>
										<option value="2337">Marshall Islands</option>
										<option value="2406">Martinique</option>
										<option value="2335">Mauritania</option>
										<option value="2459">Mauritius</option>
										<option value="2461">Mayotte</option>
										<option value="2381">Mexico</option>
										<option value="2376">Micronesia</option>
										<option value="2424">Moldova</option>
										<option value="2496">Monaco</option>
										<option value="2523">Mongolia</option>
										<option value="2346">Montenegro</option>
										<option value="2448">Montserrat</option>
										<option value="2517">Morocco</option>
										<option value="2453">Mozambique</option>
										<option value="2384">Myanmar</option>
										<option value="2377">Namibia</option>
										<option value="2503">Nauru</option>
										<option value="2331">Nepal</option>
										<option value="2432">Netherlands</option>
										<option value="2421">Netherlands Antilles</option>
										<option value="2493">New Caledonia</option>
										<option value="2401">New Zealand</option>
										<option value="2552">Nicaragua</option>
										<option value="2456">Niger</option>
										<option value="2444">Nigeria</option>
										<option value="2518">Niue</option>
										<option value="2557">Norfolk Island</option>
										<option value="2545">Northern Mariana Islands</option>
										<option value="2487">North Korea</option>
										<option value="2383">Norway</option>
										<option value="2387">Oman</option>
										<option value="2415">Pakistan</option>
										<option value="2468">Palau</option>
										<option value="2425">Palestine</option>
										<option value="2341">Panama</option>
										<option value="2473">Papua New Guinea</option>
										<option value="2354">Paraguay</option>
										<option value="2471">Peru</option>
										<option value="2541">Philippines</option>
										<option value="2454">Poland</option>
										<option value="2513">Portugal</option>
										<option value="2407">Puerto Rico</option>
										<option value="2404">Qatar</option>
										<option value="2345">Reunion</option>
										<option value="2452">Romania</option>
										<option value="2482">Russia</option>
										<option value="2515">Rwanda</option>
										<option value="2455">Saint Helena</option>
										<option value="2388">Saint Kitts and Nevis</option>
										<option value="2420">Saint Lucia</option>
										<option value="2490">Saint Pierre and Miquelon</option>
										<option value="2364">Saint Vincent and the Grenadines</option>
										<option value="2434">Samoa</option>
										<option value="2426">San Marino</option>
										<option value="2543">Sao Tome and Principe</option>
										<option value="2558">Saudi Arabia</option>
										<option value="2427">Senegal</option>
										<option value="2360">Serbia</option>
										<option value="2479">Seychelles</option>
										<option value="2332">Sierra Leone</option>
										<option value="2355">Singapore</option>
										<option value="2352">Slovakia</option>
										<option value="2514">Slovenia</option>
										<option value="2483">Solomon Islands</option>
										<option value="2389">Somalia</option>
										<option value="2441">South Africa</option>
										<option value="2414">South Korea</option>
										<option value="2382">South Sudan</option>
										<option value="2343">Spain</option>
										<option value="2467">Sri Lanka</option>
										<option value="2347">Sudan</option>
										<option value="2495">Suriname</option>
										<option value="2463">Svalbard</option>
										<option value="2480">Swaziland</option>
										<option value="2521">Sweden</option>
										<option value="2411">Switzerland</option>
										<option value="2551">Syria</option>
										<option value="2469">Taiwan</option>
										<option value="2361">Tajikistan</option>
										<option value="2560">Tanzania</option>
										<option value="2408">Thailand</option>
										<option value="2486">Togo</option>
										<option value="2511">Tonga</option>
										<option value="2419">Trinidad and Tobago</option>
										<option value="2501">Tunisia</option>
										<option value="2510">Turkey</option>
										<option value="2472">Turkmenistan</option>
										<option value="2431">Turks and Caicos Islands</option>
										<option value="2357">Tuvalu</option>
										<option value="2546">Uganda</option>
										<option value="2443">Ukraine</option>
										<option value="2344">United Arab Emirates</option>
										<option value="2531">United Kingdom</option>
										<option value="2540">United States</option>
										<option value="2559">Uruguay</option>
										<option value="2445">Uzbekistan</option>
										<option value="2527">Vanuatu</option>
										<option value="2516">Vatican City</option>
										<option value="2446">Venezuela</option>
										<option value="2372">Vietnam</option>
										<option value="2379">Virgin Islands</option>
										<option value="2502">Wake Island</option>
										<option value="2485">Wallis and Futuna</option>
										<option value="2397">Western Sahara</option>
										<option value="2449">Yemen</option>
										<option value="2399">Zambia</option>
										<option value="2368">Zanzibar</option>
										<option value="2392">Zimbabwe</option>
									</select>
								</div>

								<div class="col-md-12  mb10">
									<label class="areaLibelle">Airport/port of departure</label>
									<input
										id="ebPartyOrigin.airport"
										name="ebPartyOrigin.airport"
										type="text"
										class=""
										value=""
									/>
								</div>
							</fieldset>
						</fieldset>
					</div>
				</div>
				<div class="col-md-4 border-right-ddd col-md-20percent">
					<div class="row">
						<fieldset>
							<legend>
								<h4>Ship To Information</h4>
							</legend>

							<div class="col-md-12  mb10 " title="">
								<label class="areaLibelle">Company</label>
								<input
									id="ebPartyDest.company"
									name="ebPartyDest.company"
									type="text"
									class=" ui-autocomplete-input"
									value=""
									autocomplete="off"
								/>
							</div>

							<div class="col-md-12 mb10 " title="">
								<label class="areaLibelle">Address</label>
								<input
									id="ebPartyDest.address"
									name="ebPartyDest.address"
									type="text"
									class=""
									value=""
								/>
							</div>

							<div class="col-md-12 mb10  " title="">
								<label for="ebPartyDest.city" class="areaLibelle">City (*)</label>
								<input
									id="ebPartyDest.city"
									name="ebPartyDest.city"
									type="text"
									class=""
									value=""
								/>
							</div>

							<div class="col-md-12 mb10 " title="">
								<label class="areaLibelle">Zip code</label>
								<input
									id="ebPartyDest.zipCode"
									name="ebPartyDest.zipCode"
									type="text"
									class=""
									value=""
								/>
							</div>
							<fieldset class="nofieldset">
								<div class="col-md-12 mb10">
									<label for="ebPartyDest.xEcCountry" class="areaLibelle">Country (*)</label>
									<select id="selcetxEcCountryDest" name="ebPartyDest.xEcCountry" class="">
										<option value="">&nbsp;</option>
										<option value="2566">Afghanistan</option>
										<option value="2402">Albania</option>
										<option value="2348">Algeria</option>
										<option value="2548">American Samoa</option>
										<option value="2433">Andorra</option>
										<option value="2428">Angola</option>
										<option value="2477">Anguilla</option>
										<option value="2542">Antarctica</option>
										<option value="2478">Antigua and Barbuda</option>
										<option value="2549">Argentina</option>
										<option value="2491">Armenia</option>
										<option value="2362">Aruba</option>
										<option value="2380">Australia</option>
										<option value="2537">Austria</option>
										<option value="2437">Azerbaijan</option>
										<option value="2562">Bahamas</option>
										<option value="2534">Bahrain</option>
										<option value="2484">Bangladesh</option>
										<option value="2435">Barbados</option>
										<option value="2462">Belarus</option>
										<option value="2525">Belgium</option>
										<option value="2333">Belize</option>
										<option value="2334">Benin</option>
										<option value="2539">Bermuda</option>
										<option value="2413">Bhutan</option>
										<option value="2405">Bolivia</option>
										<option value="2409">Bosnia-Herzegovina</option>
										<option value="2474">Botswana</option>
										<option value="2506">Brazil</option>
										<option value="2466">British Virgin Islands</option>
										<option value="2369">British Virgin Islands</option>
										<option value="2520">Brunei</option>
										<option value="2532">Bulgaria</option>
										<option value="2475">Burkina Faso</option>
										<option value="2522">Burundi</option>
										<option value="2336">Cambodia</option>
										<option value="2375">Cameroon</option>
										<option value="2529">Canada</option>
										<option value="2504">Canary islands</option>
										<option value="2338">Cape Verde</option>
										<option value="2460">Cayman Islands</option>
										<option value="2507">Central African Republic</option>
										<option value="2342">Ceuta</option>
										<option value="2524">Chad</option>
										<option value="2553">Chile</option>
										<option value="2390">China</option>
										<option value="2519">Christmas Island</option>
										<option value="2422">Cocos (Keeling) Islands</option>
										<option value="2476">Colombia</option>
										<option value="2547">Comoros</option>
										<option value="2436">Congo (Brazzaville)</option>
										<option value="2457">Congo (Kinshasa)</option>
										<option value="2398">Cook Islands</option>
										<option value="2439">Costa Rica</option>
										<option value="2440">Cote d'Ivoire</option>
										<option value="2554">Croatia</option>
										<option value="2488">Cuba</option>
										<option value="2339">Cyprus</option>
										<option value="2391">Czech Republic</option>
										<option value="2350">Denmark</option>
										<option value="2470">Djibouti</option>
										<option value="2533">Dominica</option>
										<option value="2386">Dominican Republic</option>
										<option value="2412">East Timor</option>
										<option value="2442">Ecuador</option>
										<option value="2489">Egypt</option>
										<option value="2499">El Salvador</option>
										<option value="2353">Equatorial Guinea</option>
										<option value="2403">Eritrea</option>
										<option value="2418">Estonia</option>
										<option value="2500">Ethiopia</option>
										<option value="2371">Falkland Islands</option>
										<option value="2393">Faroe Islands</option>
										<option value="2492">Fiji</option>
										<option value="2494">Finland</option>
										<option value="2565">France</option>
										<option value="2356">French Guiana</option>
										<option value="2481">French Polynesia</option>
										<option value="2556">Gabon</option>
										<option value="2505">Gambia</option>
										<option value="2373">Georgia</option>
										<option value="2385">Germany</option>
										<option value="2465">Ghana</option>
										<option value="2417">Gibraltar</option>
										<option value="2330">Greece</option>
										<option value="2349">Greenland</option>
										<option value="2329">Grenada</option>
										<option value="2530">Guadeloupe</option>
										<option value="2394">Guam</option>
										<option value="2536">Guatemala</option>
										<option value="2400">Guernsey</option>
										<option value="2410">Guinea</option>
										<option value="2568">Guinea-Bissau</option>
										<option value="2365">Guyana</option>
										<option value="2430">Haiti</option>
										<option value="2363">Honduras</option>
										<option value="2450">Hong Kong</option>
										<option value="2396">Hungary</option>
										<option value="2538">Iceland</option>
										<option value="2458">India</option>
										<option value="2358">Indonesia</option>
										<option value="2512">Iran</option>
										<option value="2351">Iraq</option>
										<option value="2374">Ireland</option>
										<option value="2569">Isle of Man</option>
										<option value="2438">Israel</option>
										<option value="2563">Italy</option>
										<option value="2544">Jamaica</option>
										<option value="2497">Japan</option>
										<option value="2429">Jersey</option>
										<option value="2509">Jordan</option>
										<option value="2535">Kazakhstan</option>
										<option value="2416">Kenya</option>
										<option value="2451">Kiribati</option>
										<option value="2508">Kuwait</option>
										<option value="2567">Kyrgyzstan</option>
										<option value="2498">Laos</option>
										<option value="2340">Latvia</option>
										<option value="2447">Lebanon</option>
										<option value="2555">Lesotho</option>
										<option value="2366">Liberia</option>
										<option value="2464">Libya</option>
										<option value="2367">Liechtenstein</option>
										<option value="2570">Lithuania</option>
										<option value="2395">Luxembourg</option>
										<option value="2526">Macau</option>
										<option value="2550">Macedonia</option>
										<option value="2423">Madagascar</option>
										<option value="2359">Malawi</option>
										<option value="2528">Malaysia</option>
										<option value="2561">Maldives</option>
										<option value="2378">Mali</option>
										<option value="2370">Malta</option>
										<option value="2337">Marshall Islands</option>
										<option value="2406">Martinique</option>
										<option value="2335">Mauritania</option>
										<option value="2459">Mauritius</option>
										<option value="2461">Mayotte</option>
										<option value="2381">Mexico</option>
										<option value="2376">Micronesia</option>
										<option value="2424">Moldova</option>
										<option value="2496">Monaco</option>
										<option value="2523">Mongolia</option>
										<option value="2346">Montenegro</option>
										<option value="2448">Montserrat</option>
										<option value="2517">Morocco</option>
										<option value="2453">Mozambique</option>
										<option value="2384">Myanmar</option>
										<option value="2377">Namibia</option>
										<option value="2503">Nauru</option>
										<option value="2331">Nepal</option>
										<option value="2432">Netherlands</option>
										<option value="2421">Netherlands Antilles</option>
										<option value="2493">New Caledonia</option>
										<option value="2401">New Zealand</option>
										<option value="2552">Nicaragua</option>
										<option value="2456">Niger</option>
										<option value="2444">Nigeria</option>
										<option value="2518">Niue</option>
										<option value="2557">Norfolk Island</option>
										<option value="2545">Northern Mariana Islands</option>
										<option value="2487">North Korea</option>
										<option value="2383">Norway</option>
										<option value="2387">Oman</option>
										<option value="2415">Pakistan</option>
										<option value="2468">Palau</option>
										<option value="2425">Palestine</option>
										<option value="2341">Panama</option>
										<option value="2473">Papua New Guinea</option>
										<option value="2354">Paraguay</option>
										<option value="2471">Peru</option>
										<option value="2541">Philippines</option>
										<option value="2454">Poland</option>
										<option value="2513">Portugal</option>
										<option value="2407">Puerto Rico</option>
										<option value="2404">Qatar</option>
										<option value="2345">Reunion</option>
										<option value="2452">Romania</option>
										<option value="2482">Russia</option>
										<option value="2515">Rwanda</option>
										<option value="2455">Saint Helena</option>
										<option value="2388">Saint Kitts and Nevis</option>
										<option value="2420">Saint Lucia</option>
										<option value="2490">Saint Pierre and Miquelon</option>
										<option value="2364">Saint Vincent and the Grenadines</option>
										<option value="2434">Samoa</option>
										<option value="2426">San Marino</option>
										<option value="2543">Sao Tome and Principe</option>
										<option value="2558">Saudi Arabia</option>
										<option value="2427">Senegal</option>
										<option value="2360">Serbia</option>
										<option value="2479">Seychelles</option>
										<option value="2332">Sierra Leone</option>
										<option value="2355">Singapore</option>
										<option value="2352">Slovakia</option>
										<option value="2514">Slovenia</option>
										<option value="2483">Solomon Islands</option>
										<option value="2389">Somalia</option>
										<option value="2441">South Africa</option>
										<option value="2414">South Korea</option>
										<option value="2382">South Sudan</option>
										<option value="2343">Spain</option>
										<option value="2467">Sri Lanka</option>
										<option value="2347">Sudan</option>
										<option value="2495">Suriname</option>
										<option value="2463">Svalbard</option>
										<option value="2480">Swaziland</option>
										<option value="2521">Sweden</option>
										<option value="2411">Switzerland</option>
										<option value="2551">Syria</option>
										<option value="2469">Taiwan</option>
										<option value="2361">Tajikistan</option>
										<option value="2560">Tanzania</option>
										<option value="2408">Thailand</option>
										<option value="2486">Togo</option>
										<option value="2511">Tonga</option>
										<option value="2419">Trinidad and Tobago</option>
										<option value="2501">Tunisia</option>
										<option value="2510">Turkey</option>
										<option value="2472">Turkmenistan</option>
										<option value="2431">Turks and Caicos Islands</option>
										<option value="2357">Tuvalu</option>
										<option value="2546">Uganda</option>
										<option value="2443">Ukraine</option>
										<option value="2344">United Arab Emirates</option>
										<option value="2531">United Kingdom</option>
										<option value="2540">United States</option>
										<option value="2559">Uruguay</option>
										<option value="2445">Uzbekistan</option>
										<option value="2527">Vanuatu</option>
										<option value="2516">Vatican City</option>
										<option value="2446">Venezuela</option>
										<option value="2372">Vietnam</option>
										<option value="2379">Virgin Islands</option>
										<option value="2502">Wake Island</option>
										<option value="2485">Wallis and Futuna</option>
										<option value="2397">Western Sahara</option>
										<option value="2449">Yemen</option>
										<option value="2399">Zambia</option>
										<option value="2368">Zanzibar</option>
										<option value="2392">Zimbabwe</option>
									</select>
								</div>

								<div class="col-md-12   mb10" title="">
									<label class="areaLibelle">Airport/port of arrival</label>
									<input
										id="ebPartyDest.airport"
										name="ebPartyDest.airport"
										type="text"
										class=""
										value=""
									/>
								</div>
							</fieldset>
							<div class="col-md-12 mb10  " title="">
								<label class="areaLibelle">Phone</label>
								<input
									id="ebPartyDest.contact"
									name="ebPartyDest.contact"
									type="text"
									class=""
									value=""
								/>
							</div>
							<div class="col-md-12  mb10" title="">
								<label class="areaLibelle">Email Address</label>
								<input
									id="ebPartyDest.emailAddress"
									name="ebPartyDest.emailAddress"
									type="text"
									class=""
									value=""
								/>
							</div>
						</fieldset>
					</div>
				</div>
				<div class="col-md-4 border-right-ddd col-md-20percent">
					<div class="row">
						<fieldset>
							<legend>
								<h4>Notify party</h4>
							</legend>
							<div class="">
								<div class=" col-md-12 mb10">
									<label class="areaLibelle">Company</label>
									<input
										id="ebPartyNotif.company"
										name="ebPartyNotif.company"
										type="text"
										class=" ui-autocomplete-input"
										value=""
										autocomplete="off"
									/>
								</div>

								<div class=" col-md-12 mb10">
									<label class="areaLibelle">Address</label>
									<input
										id="ebPartyNotif.address"
										name="ebPartyNotif.address"
										type="text"
										class=""
										value=""
									/>
								</div>

								<div class=" col-md-12 mb10">
									<label for="ebPartyNotif.city" class="areaLibelle">City</label>
									<input
										id="ebPartyNotif.city"
										name="ebPartyNotif.city"
										type="text"
										class=""
										value=""
									/>
								</div>

								<div class=" col-md-12 mb10">
									<label class="areaLibelle">Zip code</label>
									<input
										id="ebPartyNotif.zipCode"
										name="ebPartyNotif.zipCode"
										type="text"
										class=""
										value=""
									/>
								</div>

								<div class=" col-md-12 mb10">
									<label for="ebPartyNotif.xEcCountry" class="areaLibelle">Country</label>
									<select id="ebPartyNotif.xEcCountry" name="ebPartyNotif.xEcCountry" class="">
										<option value="">&nbsp;</option>
										<option value="2566">Afghanistan</option>
										<option value="2402">Albania</option>
										<option value="2348">Algeria</option>
										<option value="2548">American Samoa</option>
										<option value="2433">Andorra</option>
										<option value="2428">Angola</option>
										<option value="2477">Anguilla</option>
										<option value="2542">Antarctica</option>
										<option value="2478">Antigua and Barbuda</option>
										<option value="2549">Argentina</option>
										<option value="2491">Armenia</option>
										<option value="2362">Aruba</option>
										<option value="2380">Australia</option>
										<option value="2537">Austria</option>
										<option value="2437">Azerbaijan</option>
										<option value="2562">Bahamas</option>
										<option value="2534">Bahrain</option>
										<option value="2484">Bangladesh</option>
										<option value="2435">Barbados</option>
										<option value="2462">Belarus</option>
										<option value="2525">Belgium</option>
										<option value="2333">Belize</option>
										<option value="2334">Benin</option>
										<option value="2539">Bermuda</option>
										<option value="2413">Bhutan</option>
										<option value="2405">Bolivia</option>
										<option value="2409">Bosnia-Herzegovina</option>
										<option value="2474">Botswana</option>
										<option value="2506">Brazil</option>
										<option value="2466">British Virgin Islands</option>
										<option value="2369">British Virgin Islands</option>
										<option value="2520">Brunei</option>
										<option value="2532">Bulgaria</option>
										<option value="2475">Burkina Faso</option>
										<option value="2522">Burundi</option>
										<option value="2336">Cambodia</option>
										<option value="2375">Cameroon</option>
										<option value="2529">Canada</option>
										<option value="2504">Canary islands</option>
										<option value="2338">Cape Verde</option>
										<option value="2460">Cayman Islands</option>
										<option value="2507">Central African Republic</option>
										<option value="2342">Ceuta</option>
										<option value="2524">Chad</option>
										<option value="2553">Chile</option>
										<option value="2390">China</option>
										<option value="2519">Christmas Island</option>
										<option value="2422">Cocos (Keeling) Islands</option>
										<option value="2476">Colombia</option>
										<option value="2547">Comoros</option>
										<option value="2436">Congo (Brazzaville)</option>
										<option value="2457">Congo (Kinshasa)</option>
										<option value="2398">Cook Islands</option>
										<option value="2439">Costa Rica</option>
										<option value="2440">Cote d'Ivoire</option>
										<option value="2554">Croatia</option>
										<option value="2488">Cuba</option>
										<option value="2339">Cyprus</option>
										<option value="2391">Czech Republic</option>
										<option value="2350">Denmark</option>
										<option value="2470">Djibouti</option>
										<option value="2533">Dominica</option>
										<option value="2386">Dominican Republic</option>
										<option value="2412">East Timor</option>
										<option value="2442">Ecuador</option>
										<option value="2489">Egypt</option>
										<option value="2499">El Salvador</option>
										<option value="2353">Equatorial Guinea</option>
										<option value="2403">Eritrea</option>
										<option value="2418">Estonia</option>
										<option value="2500">Ethiopia</option>
										<option value="2371">Falkland Islands</option>
										<option value="2393">Faroe Islands</option>
										<option value="2492">Fiji</option>
										<option value="2494">Finland</option>
										<option value="2565">France</option>
										<option value="2356">French Guiana</option>
										<option value="2481">French Polynesia</option>
										<option value="2556">Gabon</option>
										<option value="2505">Gambia</option>
										<option value="2373">Georgia</option>
										<option value="2385">Germany</option>
										<option value="2465">Ghana</option>
										<option value="2417">Gibraltar</option>
										<option value="2330">Greece</option>
										<option value="2349">Greenland</option>
										<option value="2329">Grenada</option>
										<option value="2530">Guadeloupe</option>
										<option value="2394">Guam</option>
										<option value="2536">Guatemala</option>
										<option value="2400">Guernsey</option>
										<option value="2410">Guinea</option>
										<option value="2568">Guinea-Bissau</option>
										<option value="2365">Guyana</option>
										<option value="2430">Haiti</option>
										<option value="2363">Honduras</option>
										<option value="2450">Hong Kong</option>
										<option value="2396">Hungary</option>
										<option value="2538">Iceland</option>
										<option value="2458">India</option>
										<option value="2358">Indonesia</option>
										<option value="2512">Iran</option>
										<option value="2351">Iraq</option>
										<option value="2374">Ireland</option>
										<option value="2569">Isle of Man</option>
										<option value="2438">Israel</option>
										<option value="2563">Italy</option>
										<option value="2544">Jamaica</option>
										<option value="2497">Japan</option>
										<option value="2429">Jersey</option>
										<option value="2509">Jordan</option>
										<option value="2535">Kazakhstan</option>
										<option value="2416">Kenya</option>
										<option value="2451">Kiribati</option>
										<option value="2508">Kuwait</option>
										<option value="2567">Kyrgyzstan</option>
										<option value="2498">Laos</option>
										<option value="2340">Latvia</option>
										<option value="2447">Lebanon</option>
										<option value="2555">Lesotho</option>
										<option value="2366">Liberia</option>
										<option value="2464">Libya</option>
										<option value="2367">Liechtenstein</option>
										<option value="2570">Lithuania</option>
										<option value="2395">Luxembourg</option>
										<option value="2526">Macau</option>
										<option value="2550">Macedonia</option>
										<option value="2423">Madagascar</option>
										<option value="2359">Malawi</option>
										<option value="2528">Malaysia</option>
										<option value="2561">Maldives</option>
										<option value="2378">Mali</option>
										<option value="2370">Malta</option>
										<option value="2337">Marshall Islands</option>
										<option value="2406">Martinique</option>
										<option value="2335">Mauritania</option>
										<option value="2459">Mauritius</option>
										<option value="2461">Mayotte</option>
										<option value="2381">Mexico</option>
										<option value="2376">Micronesia</option>
										<option value="2424">Moldova</option>
										<option value="2496">Monaco</option>
										<option value="2523">Mongolia</option>
										<option value="2346">Montenegro</option>
										<option value="2448">Montserrat</option>
										<option value="2517">Morocco</option>
										<option value="2453">Mozambique</option>
										<option value="2384">Myanmar</option>
										<option value="2377">Namibia</option>
										<option value="2503">Nauru</option>
										<option value="2331">Nepal</option>
										<option value="2432">Netherlands</option>
										<option value="2421">Netherlands Antilles</option>
										<option value="2493">New Caledonia</option>
										<option value="2401">New Zealand</option>
										<option value="2552">Nicaragua</option>
										<option value="2456">Niger</option>
										<option value="2444">Nigeria</option>
										<option value="2518">Niue</option>
										<option value="2557">Norfolk Island</option>
										<option value="2545">Northern Mariana Islands</option>
										<option value="2487">North Korea</option>
										<option value="2383">Norway</option>
										<option value="2387">Oman</option>
										<option value="2415">Pakistan</option>
										<option value="2468">Palau</option>
										<option value="2425">Palestine</option>
										<option value="2341">Panama</option>
										<option value="2473">Papua New Guinea</option>
										<option value="2354">Paraguay</option>
										<option value="2471">Peru</option>
										<option value="2541">Philippines</option>
										<option value="2454">Poland</option>
										<option value="2513">Portugal</option>
										<option value="2407">Puerto Rico</option>
										<option value="2404">Qatar</option>
										<option value="2345">Reunion</option>
										<option value="2452">Romania</option>
										<option value="2482">Russia</option>
										<option value="2515">Rwanda</option>
										<option value="2455">Saint Helena</option>
										<option value="2388">Saint Kitts and Nevis</option>
										<option value="2420">Saint Lucia</option>
										<option value="2490">Saint Pierre and Miquelon</option>
										<option value="2364">Saint Vincent and the Grenadines</option>
										<option value="2434">Samoa</option>
										<option value="2426">San Marino</option>
										<option value="2543">Sao Tome and Principe</option>
										<option value="2558">Saudi Arabia</option>
										<option value="2427">Senegal</option>
										<option value="2360">Serbia</option>
										<option value="2479">Seychelles</option>
										<option value="2332">Sierra Leone</option>
										<option value="2355">Singapore</option>
										<option value="2352">Slovakia</option>
										<option value="2514">Slovenia</option>
										<option value="2483">Solomon Islands</option>
										<option value="2389">Somalia</option>
										<option value="2441">South Africa</option>
										<option value="2414">South Korea</option>
										<option value="2382">South Sudan</option>
										<option value="2343">Spain</option>
										<option value="2467">Sri Lanka</option>
										<option value="2347">Sudan</option>
										<option value="2495">Suriname</option>
										<option value="2463">Svalbard</option>
										<option value="2480">Swaziland</option>
										<option value="2521">Sweden</option>
										<option value="2411">Switzerland</option>
										<option value="2551">Syria</option>
										<option value="2469">Taiwan</option>
										<option value="2361">Tajikistan</option>
										<option value="2560">Tanzania</option>
										<option value="2408">Thailand</option>
										<option value="2486">Togo</option>
										<option value="2511">Tonga</option>
										<option value="2419">Trinidad and Tobago</option>
										<option value="2501">Tunisia</option>
										<option value="2510">Turkey</option>
										<option value="2472">Turkmenistan</option>
										<option value="2431">Turks and Caicos Islands</option>
										<option value="2357">Tuvalu</option>
										<option value="2546">Uganda</option>
										<option value="2443">Ukraine</option>
										<option value="2344">United Arab Emirates</option>
										<option value="2531">United Kingdom</option>
										<option value="2540">United States</option>
										<option value="2559">Uruguay</option>
										<option value="2445">Uzbekistan</option>
										<option value="2527">Vanuatu</option>
										<option value="2516">Vatican City</option>
										<option value="2446">Venezuela</option>
										<option value="2372">Vietnam</option>
										<option value="2379">Virgin Islands</option>
										<option value="2502">Wake Island</option>
										<option value="2485">Wallis and Futuna</option>
										<option value="2397">Western Sahara</option>
										<option value="2449">Yemen</option>
										<option value="2399">Zambia</option>
										<option value="2368">Zanzibar</option>
										<option value="2392">Zimbabwe</option>
									</select>
								</div>

								<div class=" col-md-12 mb10">
									<label class="areaLibelle">Airport/port of arrival</label>
									<input
										id="ebPartyNotif.airport"
										name="ebPartyNotif.airport"
										type="text"
										class=""
										value=""
									/>
								</div>

								<div class="col-md-12 mb10">
									<label class="areaLibelle">Phone</label>
									<input
										id="ebPartyNotif.contact"
										name="ebPartyNotif.contact"
										type="text"
										class=""
										value=""
									/>
								</div>

								<div class="col-md-12 mb10">
									<label class="areaLibelle">Email Address</label>
									<input
										id="ebPartyNotif.emailAddress"
										name="ebPartyNotif.emailAddress"
										type="text"
										class=""
										value=""
									/>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
				<div class="col-md-4 col-md-20percent">
					<div class="row">
						<fieldset>
							<legend>
								<h4>Other</h4>
							</legend>

							<div class="col-md-12 mb10">
								<label class="areaLibelle">Insurance</label>
								<select id="insurance" name="insurance" class="">
									<option value=""></option>
									<option value="1">Yes</option>
									<option value="0">No</option>
								</select>
							</div>

							<div class="col-md-12 mb10">
								<label class="areaLibelle">Value</label>
								<input
									id="insuranceValue"
									name="insuranceValue"
									aria-describedby="basic-addon2"
									type="text"
									class=""
									disabled="disabled"
									value=""
								/>
							</div>
							<br />
							<br />

							<div class="col-md-12 mb10">
								<label for="xEcIncoterm" class="areaLibelle">Incoterms (*)</label>
								<select id="xEcIncoterm" name="xEcIncoterm" class="">
									<option value="">&nbsp;</option>
									<option value="11">DDP</option>
									<option value="10">DAP</option>
									<option value="9">DAT</option>
									<option value="8">CIP</option>
									<option value="7">CPT</option>
									<option value="6">CIF</option>
									<option value="5">CFR</option>
									<option value="4">FOB</option>
									<option value="3">FAS</option>
									<option value="2">FCA</option>
									<option value="1">EXW</option>
								</select>
							</div>

							<div class="col-md-12 mb10">
								<label class="areaLibelle">City</label>
								<input id="city" name="city" type="text" class="" value="" />
							</div>
						</fieldset>
					</div>
				</div>
			</div>
			<div class="row mt10">
				<div class="col-md-12">
					<app-comment-panel
						panelOpen="false"
						title="Comments OCD"
						[(commentModel)]="commentModelinput"
					></app-comment-panel>
				</div>
			</div>
		</div>
	</div>

	<div style="" id="" class="col-md-12">
		<span class="">
			<input id="" type="radio" value="" name="" />
			<label for=""> FCL</label>
		</span>
	</div>
</div>
