<div class="col-md-12 panel-body body-table margin-right-10 margin-left--10">
	<fieldset class="fieldset" style="text-align: center;">
		<legend class="legend">
			<div class="row">
				<div class="col-md-8">
					Charts
				</div>
				<div class="col-md-4" style="text-align: right;">
					<i class="fa fa-paperclip"></i>
					<i
						class="fa fa-question-circle"
						pTooltip="Top 5 des pays d'origine et destination qui ont réalisés le plus d'expéditions."
					></i>
				</div>
			</div>
		</legend>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<div class="row">
					<div class="col-md-12">
						<h3>Top 5 pays d'origine</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p-chart
							#chartOrigin
							type="pie"
							width="480"
							height="480"
							[data]="dataOrigin"
							[options]="options"
						></p-chart>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<div class="col-md-12">
					<h3>Top 5 pays destination</h3>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p-chart
							#chartDestination
							type="pie"
							width="480"
							height="480"
							[data]="dataDestination"
							[options]="options"
						></p-chart>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</fieldset>
</div>
