<div class="col-md-12 panel-body body-table">
	<fieldset class="fieldset" style="text-align: center;">
		<legend class="legend">
			<div class="row">
				<div class="col-md-8">
					Transport purchase
				</div>
				<div class="col-md-4" style="text-align: right;">
					<i class="fa fa-paperclip"></i>
					<i class="fa fa-question-circle" pTooltip="Coût total des expéditions."></i>
				</div>
			</div>
		</legend>
		<h4 *ngIf="data">{{ data.value | numberFormat }} €</h4>
	</fieldset>
</div>
