@import "../../../../styles/variables";
@import "../../../shared/form-step/form-step.component.scss";

/******** VARIABLES ********/
.left-blocs,
.middle-blocs,
.right-blocs,
.content_wrapper {
	background-color: white;
}

.new-design_details-header {
	box-shadow: 0 4px 14px -7px #000;
	background: #fff;
	z-index: 2;
}

.middle-blocs {
	overflow: auto;
	border-left: 2px solid #efefef;
	border-right: 2px solid #efefef;
}

.adresse-wrapper {
	.card {
		background: #fff;
		border-radius: 4px;
		margin-bottom: 5px;
		padding: 5px;
		font-size: $fz-sm;
		border: 1px solid $gray-medium;
		transition: all 0.2s ease-in-out;
		cursor: pointer;
		&:hover {
			box-shadow: 0 0 5px -2px #000;
		}
		&.active {
			border: 2px solid #bab6b6;
			box-shadow: 0 0 5px -2px #000;
		}
	}
}
