<div class="loader-wrapper" *ngIf="delivery == null">
	<p-progressSpinner></p-progressSpinner>
</div>
<div *ngIf="delivery != null" class="content_wrapper col-md-12 padding-0 ">
	<form role="form" #traceInfo="ngForm" novalidate (keydown.enter)="$event.preventDefault()">
		<div class="new-design_details-header clearfix col-md-12 padding-0">
			<div class="details-steps col-md-10 col-sm-10 col-xs-9 mrgtp-30">
				<ng-container *ngIf="!(currentStatus?.code === StatusDelivery.CANCELED)">
					<div
						class="step-wrapper"
						*ngFor="let status of listStatut | filterCallback: filterStatusHeader"
					>
						<div [class]="status.order <= currentStatus?.order ? 'bg-selected' : 'bg-disabled'">
							<div class="step-status">
								{{ "CHANEL_PB_DELIVERY." + status.key | translate }}
							</div>
						</div>
					</div>
				</ng-container>

				<div
					*ngIf="currentStatus?.code === StatusDelivery.CANCELED"
					class="step-wrapper cursor-pointer"
				>
					<div class="step-wrapper">
						<div
							[class]="
								currentStatus?.code === StatusDelivery.CANCELED ? 'bg-selected' : 'bg-disabled'
							"
						>
							<div class="step-status">
								{{ "CHANEL_PB_DELIVERY.CANCELED" | translate }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="new-design_details-contents col-md-12 padding-0">
			<div class="collapsible-blocs">
				<div class="generic-accordion left-blocs col-md-3 col-sm-12 col-xs-12 padding-4">
					<app-delivery-overview-edition
						(onStepSelected)="selectStep($event)"
						[delivery]="delivery"
						(updateChatEmitter)="updateChatEmitter($event)"
					>
					</app-delivery-overview-edition>
				</div>

				<div class="middle-blocs col-md-6 col-sm-12 col-xs-12 padding-top-12 padding-bottom-12">
					<div class="form-root no-padding">
						<div class="form">
							<div class="create-wf-root form-card-no-border">
								<div class="wf-body">
									<div class="wf-step" *ngIf="delivery">
										<app-delivery-step-delivery
											#deliveryStepDeliveryComponent
											*ngIf="isStepDelivery"
											[delivery]="delivery"
											[isModeModify]="isModeModify"
											(updateChatEmitter)="updateChatEmitter($event)"
											(showAddressPopupChange)="showAddressPopupChange($event)"
											(suggestionsEtablissement)="suggestionsEtablissementHandler($event)"
											(hideAddressPopupEvent)="hideAddressPopup($event)"
										></app-delivery-step-delivery>
										<app-delivery-step-reference
											#deliveryStepReferenceComponent
											*ngIf="isStepReference"
											[delivery]="delivery"
											[isModeModify]="isModeModify"
											(updateChatEmitter)="updateChatEmitter($event)"
										></app-delivery-step-reference>
										<app-delivery-step-units
											#deliveryStepUnitsComponent
											*ngIf="isStepUnits"
											(onModeModifySelected)="receiveModeModify($event)"
											[delivery]="delivery"
											[isModeModify]="isModeModify"
											(updateChatEmitter)="updateChatEmitter($event)"
										></app-delivery-step-units>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="generic-accordion right-blocs col-md-3 col-sm-12 col-xs-12 padding-12">
					<div *ngIf="showAddressPopup; else showDocBlock">
						<div
							class="options"
							[ngClass]="{ 'show-options': !optionsDisplayed && showAddressPopup }"
						>
							<div class="options-content">
								<div>
									<div>
										<div class="margin-bottom-5 padding-0">
											<label class="text-center title">{{
												"PRICING_BOOKING.SELECT_ADDRESS" | translate
											}}</label>
											<div class="new-adress__action-buttons">
												<i
													class="btn-icon fa fa-close cursor-pointer"
													(click)="hideAddressPopup()"
												></i>
											</div>
										</div>
										<div
											class="adresse-wrapper"
											*ngIf="fromOrToAddressBloc == from || fromOrToAddressBloc == to"
										>
											<div
												class="col-md-12 card"
												[class.active]="selectedIndexFrom === i"
												(click)="getPartyAdress(item); activateClassFrom(i)"
												*ngFor="let item of suggestionsEtablissementList; let i = index"
											>
												<div>{{ item.company }}</div>
												<div class="d-block">{{ item.adresse }}</div>
												<div class="d-inline-block">{{ item.city }}</div>
												<br />
												<div class="d-inline-block">{{ item.xEcCountry.libelle }}</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<ng-template #showDocBlock>
						<p-accordion [multiple]="true">
							<p-accordionTab
								[header]="'CHANEL_PB_DELIVERY.DELIVERY_DOCUMENTS' | translate"
								[selected]="true"
							>
								<app-documents
									#documentsCmp
									[colMd]="'col-lg-12 col-md-12 col-sm-12 col-xs-12'"
									*ngIf="delivery && delivery.ebDelLivraisonNum"
									(updateChatEmitter)="updateChatEmitter($event)"
									(listTypeDocumentsLoaded)="listTypeDocuments = $event"
									[ebDemandeNum]="delivery.ebDelLivraisonNum"
									[ebCompagnieNum]="userConnected?.ebCompagnie?.ebCompagnieNum"
									[cancelled]="isCancelled"
								></app-documents>
							</p-accordionTab>

							<p-accordionTab [header]="'PRICING_BOOKING.CHAT' | translate">
								<app-chat-panel
									#chatPanelDeliveryComponent
									[condensedView]="true"
									[nbColTexteditor]="nbColTexteditor"
									[nbColListing]="nbColListing"
									[idChatComponent]="IDChatComponent.DELIVERY"
									[user]="userConnected"
									[module]="Modules.DELIVERY_MANAGEMENT"
									[idFiche]="delivery.ebDelLivraisonNum"
									[dataSource]="Statique.controllerStatiqueListe + '/listChat'"
									[dataInsertion]="Statique.controllerStatiqueListe + '/addChat'"
								></app-chat-panel>
							</p-accordionTab>
						</p-accordion>
					</ng-template>
				</div>
			</div>
		</div>
	</form>
</div>

<div *ngIf="modalExportPdfVisible">
	<app-modal-export-doc-by-template
		[itemNum]="delivery.ebDelLivraisonNum"
		[module]="module"
		[showGlobals]="true"
		[listTypeDocuments]="listTypeDocuments"
		(closePopup)="onCloseModalExport($event)"
	></app-modal-export-doc-by-template>
</div>
