<div
	class="content_wrapper app-padding"
	*ngIf="
		userConnected != null &&
		userConnected.ebUserNum != null &&
		declaration != null &&
		declaration.ebCustomDeclarationNum != null
	"
>
	<div class="col-md-12 padding-0">
		<div class="row-eq-height" style="margin-bottom: 10px;">
			<div [ngClass]="toggleChat ? 'col-md-8' : 'col-md-12'" class="transition-all-6">
				<div class="row">
					<div class="col-md-12 padding-0">
						<app-header-declaration
							[declaration]="declaration"
							[userConnected]="userConnected"
							[module]="Modules.CUSTOM"
							*ngIf="userConnected != null && userConnected.ebUserNum != null"
						></app-header-declaration>
					</div>
					<div class="col-md-12 padding-0">
						<app-request-information
							[declaration]="declaration"
							[userConnected]="userConnected"
							[module]="Modules.CUSTOM"
							*ngIf="userConnected != null && userConnected.ebUserNum != null"
						></app-request-information>
					</div>
					<div class="col-md-12 padding-0">
						<app-units-information
							[declaration]="declaration"
							[userConnected]="userConnected"
							[module]="Modules.CUSTOM"
							*ngIf="userConnected != null && userConnected.ebUserNum != null"
						></app-units-information>
					</div>
					<div class="col-md-12 padding-0">
						<app-documents-declaration
							[declaration]="declaration"
							[userConnected]="userConnected"
							[module]="Modules.CUSTOM"
							*ngIf="userConnected != null && userConnected.ebUserNum != null"
						></app-documents-declaration>
					</div>
					<div class="col-md-12 padding-0">
						<app-additional-information
							[declaration]="declaration"
							[userConnected]="userConnected"
							[module]="Modules.CUSTOM"
							*ngIf="userConnected != null && userConnected.ebUserNum != null"
						></app-additional-information>
					</div>
					<div
						class="col-md-12 padding-0"
						*ngIf="
							declaration && declaration.ebCustomDeclarationNum && declaration.dateCancellation
						"
					>
						<app-cancellation-information
							[declaration]="declaration"
							[userConnected]="userConnected"
							[module]="Modules.CUSTOM"
							*ngIf="userConnected != null && userConnected.ebUserNum != null"
						></app-cancellation-information>
					</div>
				</div>
			</div>
			<div
				*ngIf="toggleChat"
				[ngClass]="toggleChat ? 'col-md-4' : 'hidden'"
				class="fadeInRight animated bounce delay-2s padding-0 for-equaling__height"
			>
				<!-- <app-collapsible-panel title="{{'PRICING_BOOKING.CHAT' | translate}}" *ngIf="declaration && declaration.ebCustomDeclarationNum">
                    <app-chat-custom-panel [idChatComponent]="IDChatComponent.CUSTOM" [user]="userConnected" [module]="Modules.CUSTOM"
                        [idFiche]="declaration.ebCustomDeclarationNum" [dataSource]="Statique.controllerDouane + '/listChatCustom'"
                        [dataInsertion]="Statique.controllerDouane + '/addChatCustom'"></app-chat-custom-panel>
                </app-collapsible-panel> -->

				<app-collapsible-panel
					title="{{ 'PRICING_BOOKING.CHAT' | translate }}"
					*ngIf="declaration && declaration.ebCustomDeclarationNum"
				>
					<app-chat-panel
						[nbColTexteditor]="nbColTexteditor"
						[nbColListing]="nbColListing"
						[idChatComponent]="IDChatComponent.CUSTOM"
						[user]="userConnected"
						[module]="module"
						[idFiche]="declaration.ebCustomDeclarationNum"
						[dataSource]="Statique.controllerStatiqueListe + '/listChat'"
						[dataInsertion]="Statique.controllerStatiqueListe + '/addChat'"
					></app-chat-panel>
				</app-collapsible-panel>
			</div>
		</div>
	</div>
</div>
