@import "../../../styles/variables";

.descriptif {
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.groupe-fields,
.groupe-functions {
	min-height: 20px;
	padding: 10px;
}
.draggable-item {
	display: inline-block;
	margin: 5px;
	border: 1px solid $primary-color;
	padding: 2px;
}
.draggable-item:hover {
	background-color: $primary-color;
	color: white;
	cursor: pointer;
}

.groupe-holder {
	min-height: 20px;
	padding: 10px;
}

.value-parameter,
.group-parameter,
.field-parameter {
	position: relative;
	display: inline-block;
	font-size: $fz-sm;
	font-weight: normal;
	cursor: pointer;
	min-width: 20px;
	min-height: 20px;
}
.group-parameter {
	font-size: 16px !important;
	background: #ececec;
	margin-bottom: 10px;
	padding: 4px 2px;
	border-radius: 5px;
}
.value-parameter:not(:last-child),
.group-parameter:not(:last-child),
.field-parameter:not(:last-child) {
	margin-right: 10px;
}
.value-parameter:hover,
.field-parameter:hover {
	background-color: $primary-color;
	color: white;
}
.function-item-holder:not(:last-child),
.function-item-holder {
	font-size: $fz-base;
	font-weight: bolder;
	width: fit-content;
}
.function-item-holder:not(:last-child) {
	margin-bottom: 15px;
}
.remove-function {
	color: $red;
	margin-right: 5px;
	cursor: pointer;
}
.remove-group {
	position: absolute;
	color: $red;
	margin-right: 5px;
	cursor: pointer;
	top: -10px;
	right: -12px;
	font-size: 14px;
}
.add-group:hover {
	border: 2px solid $primary-color;
}
.field-group-separator {
	margin-right: 10px;
}

.field-container .ui-panel-titlebar {
	color: white !important;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.field-container .ui-panel {
	// width: 200px;
	display: inline-block;
	margin: 5px;
}
.field-values {
	max-height: 140px;
	overflow: auto;
}
select.conjunction {
	display: inline-block;
	width: 55px;
	margin-left: 5px;
	margin-right: 10px;
}
.add-value:hover {
	color: blue;
	cursor: pointer;
}
.conjunction {
	display: inline-block !important;
	width: 55px !important;
	margin-left: 5px;
	margin-right: 10px;
	height: 26px !important;
	&.larg-width {
		width: 100px !important;
	}
}

.exclude {
	border: 1px solid $red !important;
}
.contain {
	border: 1px solid $green !important;
}
.minWidth {
	min-width: 120px;
	display: block;
}
