<div class="config-schema-psl">
	<div class="trpl-zone-settings-root" *ngIf="isStatiquesLoaded">
		<app-generic-table
			#genericTable
			[hideTable]="isAddObject"
			[title]="'REPOSITORY_MANAGEMENT.CONFIG_QR_GROUPE' | translate"
			[searchInput]="searchCriteria"
			[dataInfos]="dataInfos"
			(addFormEmitter)="displayAdd($event)"
			(editFormEmitter)="diplayEdit($event)"
			(deleteEventEmitter)="deleteGroupedRule($event)"
			[component]="GenericTableScreen.CONFIG_QR_GROUPE1"
			[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
		>
			<form class="generic-default" formcontent *ngIf="isAddObject" role="form" #formCtrl="ngForm">
				<div class="row">
					<div class="col-md-12 descriptif">
						<div class="text-note">
							<p>
								{{ "GROUPING.COMMON.CONSOLIDATION" | translate }}
							</p>
							<p>
								{{ "GROUPING.COMMON.CONFLICT" | translate }}
							</p>
						</div>
					</div>
				</div>

				<div class="form-content col-sm-6 margin-top-10">
					<div class="col-md-12 col-sm-12 col-xs-12 form-group">
						<label>{{ "GENERAL.LIBELLE" | translate }}</label>
						<div>
							<input
								type="text"
								[(ngModel)]="dataObject.libelle"
								name="dataObject.libelle"
								class="form-control input-underline input-xs"
							/>
						</div>
					</div>

					<div class="col-md-12 col-sm-12 col-xs-12 form-group">
						<label>{{ "GENERAL.COMPTABILITY_CRITERIA" | translate }}</label>
						<div
							class="groupe-holder"
							pDroppable="functionholder"
							(drop)="onDropFunction($event, inclusions)"
						>
							<div
								*ngFor="let func of inclusions; let funcIndex = index"
								class="function-item-holder d-flex-w d-flex-ai-c"
								pDroppable="fieldholder"
								(drop)="onDropGroupField($event, func)"
							>
								<div
									[ngClass]="{
										'margin-bottom-10':
											func &&
											(func.code == QrGroupeFunctionType.ARE_COMPATIBILE ||
												func.code == QrGroupeFunctionType.ARE_EXCLUDED)
									}"
								>
									<i class="fa fa-remove remove-function" (click)="deleteFunction(func)"></i>
									<select
										*ngIf="funcIndex > 0"
										class="conjunction"
										name="func{{ funcIndex }}.isAnd"
										[(ngModel)]="func.isAnd"
										[compareWith]="Statique.compareByField"
									>
										<option [ngValue]="false">{{ "GROUPING.COMMON.OR" | translate }}</option>
										<option [ngValue]="true">{{ "GROUPING.COMMON.AND" | translate }}</option>
									</select>

									<span>{{ "GROUPING.COMMON." + func.libelle | translate }}</span>
									(
									<span
										*ngIf="func.field && func.field.libelle"
										class="field-parameter {{
											func.groupValues && func.groupValues.length ? 'grouptype-parameter' : ''
										}}"
										(click)="deleteField(func, func.field)"
										>{{ "GROUPING.QR." + func.field?.libelle | translate }}</span
									>
									<i
										*ngIf="func.field && func.code != QrGroupeFunctionType.ARE_EQUAL"
										class="add-value fa fa-plus"
										(click)="addValue(func, funcIndex)"
										title="add value"
									></i>
									<ng-container *ngIf="func.groupValues && func.groupValues.length">
										<span class="field-group-separator"> ; [</span>
									</ng-container>
								</div>

								<ng-container *ngIf="func.groupValues && func.groupValues.length">
									<div
										*ngFor="let qrValue of func.groupValues; let grpIndex = index"
										class="group-parameter d-flex-ai-c d-flex-w"
										pDroppable="valueholder"
										(drop)="onDropGroupValues($event, func, qrValue)"
										[ngClass]="
											qrValue.sousFunction.code != GroupeSousFunction.EXCLUDE
												? 'contain'
												: 'exclude'
										"
									>
										<select
											*ngIf="
												func.field.code == GroupeField.CATEGORIES &&
												listQrCategories &&
												listQrCategories.length > 0
											"
											class="conjunction form-control"
											name="{{ funcIndex }}categorie{{ grpIndex }}"
											[(ngModel)]="qrValue.categorieValue"
											[compareWith]="Statique.compareByFieldCode"
											(change)="onChangeCatgorie(qrValue)"
										>
											<option *ngFor="let cat of listQrCategories" [ngValue]="cat.value">
												{{ cat.value.libelle }}
											</option>
										</select>
										<select
											*ngIf="
												func.field.code == GroupeField.CUSTOM_FIELDS &&
												listQrCustomFields &&
												listQrCustomFields.length > 0
											"
											class="conjunction form-control"
											name="{{ funcIndex }}custom-field{{ grpIndex }}"
											[(ngModel)]="qrValue.categorieValue"
											[compareWith]="Statique.compareByFieldCode"
										>
											<option
												*ngFor="let custom_filed of listQrCustomFields"
												[ngValue]="custom_filed"
											>
												{{ custom_filed.libelle }}
											</option>
										</select>
										<select
											class="conjunction form-control"
											name="{{ funcIndex }}sousfunct{{ grpIndex }}"
											[(ngModel)]="qrValue.sousFunction"
											[compareWith]="Statique.compareByFieldCode"
										>
											<option
												*ngFor="
													let sousFunc of getListSousFunction(
														func.field.code == GroupeField.CUSTOM_FIELDS
															? false
															: !qrValue.listValues
													)
												"
												[ngValue]="sousFunc"
											>
												{{ "GROUPING.COMMON." + sousFunc.libelle | translate }}
											</option>
										</select>
										<i
											class="remove-group fa fa-times-circle"
											(click)="deleteParam(func, grpIndex)"
										></i>
										<ng-select
											*ngIf="func.field.code == GroupeField.CUSTOM_FIELDS && qrValue.value"
											class="conjunction larg-width form-control"
											[items]="listQrCustomFieldValues"
											bindLabel="name"
											name="{{ funcIndex }}select-value{{ grpIndex }}"
											placeholder="Select value"
											[(ngModel)]="qrValue.value.libelle"
											(search)="onSearchValue($event, qrValue)"
											[addTag]="addTag"
										>
										</ng-select>
										<select
											*ngIf="
												func.field.code != GroupeField.CUSTOM_FIELDS &&
												qrValue.listValues &&
												qrValue.listValues.length > 0
											"
											class="conjunction form-control"
											name="{{ funcIndex }}value{{ grpIndex }}"
											[(ngModel)]="qrValue.value"
											[compareWith]="Statique.compareByFieldCode"
										>
											<option *ngFor="let value of qrValue.listValues" [ngValue]="value">
												{{ value.libelle }}
											</option>
										</select>

										<input
											*ngIf="
												func.field.code != GroupeField.CUSTOM_FIELDS &&
												!qrValue.listValues &&
												func.field.code != GroupeField.VILLE_INCOTERM
											"
											type="text"
											[(ngModel)]="qrValue.value.libelle"
											name="{{ funcIndex }}value.libelle{{ grpIndex }}"
											class="conjunction form-control"
										/>

										<app-autocomplete
											class="minWidth"
											*ngIf="func.field.code == GroupeField.VILLE_INCOTERM"
											name="{{ funcIndex }}value.libelle{{ grpIndex }}"
											[(inputModel)]="qrValue.value.libelle"
											[listItems]="listIncoterCityFiltred"
											bindLabel=""
											placeholder="{{ 'GROUPING.QR.VILLE_INCOTERM' | translate }}"
										>
										</app-autocomplete>
									</div>
								</ng-container>
								<div
									[ngClass]="{
										'col-md-12 padding-0':
											func.code == QrGroupeFunctionType.ARE_COMPATIBILE ||
											func.code == QrGroupeFunctionType.ARE_EXCLUDED
									}"
								>
									<ng-container *ngIf="func.groupValues && func.groupValues.length">
										<span>]</span>
									</ng-container>
									<span
										[ngClass]="{
											'padding-left-5':
												func.code != QrGroupeFunctionType.ARE_COMPATIBILE &&
												func.code != QrGroupeFunctionType.ARE_EXCLUDED
										}"
									>
										)
									</span>
								</div>
							</div>
						</div>
					</div>
					<!-- ce bout de code est desactivé pour le moment -->
					<!-- <div class="col-md-12 col-sm-12 col-xs-12 form-group">
						<label>Exclusion criteria</label>
						<div
							class="groupe-holder"
							pDroppable="functionholder"
							(drop)="onDropFunction($event, exclusions)"
						>
							<div
								*ngFor="let func of exclusions; let funcIndex = index"
								class="function-item-holder"
								pDroppable="fieldholder"
								(drop)="onDropGroupField($event, func)"
							>
								<i class="fa fa-remove remove-function" (click)="deleteFunction(func, true)"></i>

								<select
									*ngIf="funcIndex > 0"
									class="conjunction"
									name="func{{ funcIndex }}.isAnd"
									[(ngModel)]="func.isAnd"
									[compareWith]="Statique.compareByField"
								>
									<option [ngValue]="false">OR</option>
									<option [ngValue]="true">AND</option>
								</select>

								<span>{{ func.libelle }}</span>
								(
								<span
									*ngFor="let field of func.fields"
									class="field-parameter {{
										func.groupValues && func.groupValues.length ? 'grouptype-parameter' : ''
									}}"
									(click)="deleteField(func, field)"
									>{{ field.libelle }}</span
								>

								<ng-container *ngIf="func.groupValues && func.groupValues.length">
									<span class="field-group-separator">;</span>

									<div
										*ngFor="let grp of func.groupValues; let grpIndex = index"
										class="group-parameter"
										pDroppable="valueholder"
										(drop)="onDropGroupValues($event, func, grp)"
									>
										<i class="remove-group fa fa-remove" (click)="deleteGroup(func, grpIndex)"></i>
										[<span
											*ngFor="let val of grp.values"
											class="value-parameter"
											(click)="deleteValue(grp, val)"
											>{{ val.value }}</span
										>]
									</div>
								</ng-container>
								)
							</div>
						</div>
					</div> -->

					<div class="col-md-12 col-sm-12 col-xs-12 form-group">
						<label>{{ "GENERAL.DESCRIPTION" | translate }}</label>
						<div>
							<app-advanced-editor
								[(ngModel)]="dataObject.description"
								name="dataObject.description"
							></app-advanced-editor>
						</div>
					</div>

					<div class="col-md-12 col-sm-12 col-xs-12 form-group">
						<label>{{ "REPOSITORY_MANAGEMENT.VENTILATION" | translate }}</label>
						<div>
							<select
								class="form-control"
								name="dataObject.ventilation"
								[(ngModel)]="dataObject.ventilation"
							>
								<option [ngValue]="null"></option>
								<option *ngFor="let item of listVentilation" [ngValue]="item.code">{{
									item.libelle
								}}</option>
							</select>
						</div>
					</div>

					<div class="col-md-12 col-sm-12 col-xs-12 form-group">
						<label>{{ "REPOSITORY_MANAGEMENT.OUTPUT" | translate }}</label>
						<div>
							<select
								class="form-control"
								name="dataObject.output"
								[(ngModel)]="dataObject.output"
								[compareWith]="Statique.compareByField"
							>
								<option [ngValue]="null"></option>
								<option *ngFor="let item of listOutput" [ngValue]="item.code">{{
									item.libelle
								}}</option>
							</select>
						</div>
					</div>

					<div class="col-md-12 col-sm-12 col-xs-12 form-group">
						<label>{{ "REPOSITORY_MANAGEMENT.TRIGGER" | translate }}</label>
						<div>
							<ng-select
								name="dataObject.triggers"
								[multiple]="true"
								[items]="listTrigger"
								bindLabel="libelle"
								bindValue="code"
								[(ngModel)]="dataObject.triggers"
							>
							</ng-select>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12 form-group">
						<label>{{ "GENERAL.PRIORITY.LABEL" | translate }}</label>
						<div>
							<select
								class="form-control"
								name="dataObject.grpOrder"
								[(ngModel)]="dataObject.grpOrder"
							>
								<option *ngFor="let item of listPriority" [ngValue]="item">{{ item }}</option>
							</select>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="row">
						<div class="col-md-12 form-group">
							<label>{{ "GENERAL.SELECT_FONCTION" | translate }}</label>
							<div class="groupe-functions">
								<ng-container *ngFor="let item of listFunction">
									<span
										pDraggable="functionholder"
										class="draggable-item"
										(onDragStart)="onDragStart($event, item, QrGroupeDragType.FUNCTION)"
										>{{ "GROUPING.COMMON." + item.libelle | translate }}</span
									>
								</ng-container>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 form-group">
							<label>{{ "GENERAL.SELECT_FIELD" | translate }}</label>
							<div class="groupe-fields">
								<ng-container *ngFor="let item of listField">
									<p-panel [toggleable]="true" class="field-container col-md-4">
										<p-header
											pDraggable="fieldholder"
											(onDragStart)="onDragStart($event, item, QrGroupeDragType.FIELD)"
										>
											{{ "GROUPING.QR." + item.libelle | translate }}
										</p-header>
										<!--
										// Code qui sera repris après la MEP

										<div>
											<div class="field-input">
												<div class="row">
													<div class="col-md-9 padding-right-0-important">
														<input
															#textInput
															type="text"
															placeholder="Type a value for this field..."
														/>
													</div>
													<div class="col-md-1 padding-left-5-important">
														<button
															class="btn btn-primary btn-xs"
															(click)="addFieldValue(textInput, item)"
														>
															<i class="fa fa-plus"></i>
														</button>
													</div>
												</div>
											</div>
											<div class="field-values" *ngIf="item.values">
												<span
													*ngFor="let itemVal of item.values"
													class="draggable-item"
													pDraggable="valueholder"
													(onDragStart)="onDragStart($event, itemVal, QrGroupeDragType.VALUE)"
													>{{ itemVal.value }}</span
												>
											</div>
										</div>
										 -->
									</p-panel>
								</ng-container>
							</div>
						</div>
					</div>
				</div>

				<div class="form-content col-sm-12 text-right margin-bottom-10">
					<div class="col-md-12">
						<button
							*ngIf="dataObject && !dataObject.ebQrGroupeNum"
							class="btn btn-sm btn-success btn-shadow"
							[disabled]="!formCtrl.valid"
							(click)="addProposition($event)"
						>
							{{ "COMPANY_PROFILE.BTN_AJOUTER" | translate }}
						</button>
						<button
							*ngIf="dataObject && dataObject.ebQrGroupeNum"
							class="btn btn-sm btn-success btn-shadow"
							[disabled]="!formCtrl.valid"
							(click)="editProposition($event)"
						>
							{{ "COMPANY_PROFILE.BTN_MODIFIER" | translate }}
						</button>
						<button class="btn btn-sm btn-success btn-shadow" (click)="backToListQrGroupe()">
							{{ "GENERAL.CANCEL" | translate }}
						</button>
					</div>
				</div>
			</form>
		</app-generic-table>
	</div>
</div>
