<div
	class="cursor-pointer  col-md-12 padding-5"
	routerLink="/app/{{ module == Modules.PRICING ? 'pricing' : 'transport-management' }}/details/{{
		demande.ebDemandeNum
	}}"
>
	<app-vignette-header [infosTransport]="infosTransport"></app-vignette-header>
	<div class="col-md-12 padding-0 d-flex-jc-c d-flex-w">
		<div class="card-vignette-block">
			<label>{{ "PRICING_BOOKING.QR_REF" | translate }} : </label
			><span class="bold"> {{ demande.refTransport }}</span>
		</div>
		<div class="card-vignette-block">
			<label>{{ "PRICING_BOOKING.CUST_REF" | translate }} : </label>
			<span class="bold"> {{ demande.customerReference }}</span>
		</div>
		<div class="text-center">
			<app-flag-list-view [listFlag]="demande.listEbFlagDTO" [iconSize]="24"></app-flag-list-view>
		</div>
		<div class="col-md-12 text-center">
			<span class="bold card-status">{{  ((demande.statutStr.indexOf(".") > 0 ? 
							 "" : "PRICING_BOOKING.")  +  demande.statutStr) | translate }}</span>
		</div>
	</div>
</div>
