<app-vignette-pricing
	*ngIf="!isFavoris && (module == Modules.PRICING || module == Modules.TRANSPORT_MANAGEMENT)"
	[module]="module"
	[demande]="card"
></app-vignette-pricing>
<app-vignette-tracing
	*ngIf="!isFavoris && module == Modules.TRACK"
	[tracing]="card"
></app-vignette-tracing>
<app-vignette-cptm
	*ngIf="!isFavoris && module == Modules.COMPTA_MATIERE"
	[procedure]="card"
	(generateMailEvent)="generateMailEventHandler($event)"
></app-vignette-cptm>
<app-vignette-qr-consolidation
	*ngIf="!isFavoris && isQrConsolidation"
	[card]="card"
	[demande]="demande"
	(cardEvent)="cardChange($event)"
	[listEbDemande]="listEbDemande"
	[listExchangeRate]="listExchangeRate"
	[message]="message"
	[converted]="converted"
></app-vignette-qr-consolidation>

<app-vignette-favoris *ngIf="isFavoris" [card]="card"></app-vignette-favoris>
