<div class="dock-management-settings">
	<!-- Header-->
	<div
		class="page-header-bloc form-group dock_root_header_common"
		style="justify-content: center;"
		*ngIf="!entrepotManagementScreen"
	>
		<div style="flex: 1 0 50px; text-align: right;">
			<label>{{ "DOCK.ENTREPOT" | translate }}</label>
		</div>
		<div style="flex: 2 0 150px;">
			<select
				[(ngModel)]="selectedEntrepot"
				name="entrepot"
				ngControl="entrepotCtrl"
				[compareWith]="Statique.byEbEntrepotNum"
				required
			>
				<option selected disabled *ngIf="listEntrepots.length == 0" [ngValue]="null">{{
					"DOCK.MSG_NO_ENTREPOT" | translate
				}}</option>
				<option *ngIf="listEntrepots.length != 0"></option>
				<option *ngFor="let item of listEntrepots" [ngValue]="item"> {{ item.reference }} </option>
			</select>
		</div>
		<div style="flex: 1 0 50px;">
			<button class="btn btn-sm" (click)="displayEntrepotManagement()">
				{{ "DOCK.ENTREPOT_MANAGEMENT" | translate }}
			</button>
		</div>
	</div>

	<!-- Management -->
	<div class="form-group" *ngIf="entrepotManagementScreen">
		<div class="page-header-bloc dock_root_header_common">
			<label style="flex: 1 0 auto;">{{ "DOCK.ENTREPOT_MANAGEMENT" | translate }}</label>
			<button style="flex: 0 0 auto;" class="btn btn-sm" (click)="closeEntrepotManagement()">
				<i class="fa fa-angle-left" style="font-size:15px;"></i> {{ "GENERAL.GO_BACK" | translate }}
			</button>
		</div>

		<app-entrepot-management [userConnected]="userConnected"></app-entrepot-management>
	</div>

	<!-- Content -->
	<div class="form-group" *ngIf="!entrepotManagementScreen && selectedEntrepot != null">
		<app-entrepot-content-settings
			[entrepotNum]="selectedEntrepot.ebEntrepotNum"
			[userConnected]="userConnected"
		></app-entrepot-content-settings>
	</div>
</div>
