/******** VARIABLES ********/
@import "../../../../../styles/variables";

.show-for-creation {
	fieldset {
		border: 0 !important;
		margin: 0 !important;
	}
}
.origindest-infos_wrapper {
	border-radius: 5px;
	// box-shadow: 0 0 7px -2px #000;
	padding: 8px 25px 8px 8px;
	// border: 1px solid #ececec;
	span {
		padding-right: 5px;
		&.italic-font {
			font-style: italic;
		}
		&.bold-font {
			font-weight: 700;
		}
	}
	// span:first-child {
	//   color: #018dad
	// }
}
.adress-wrapper {
	position: relative;
}
.fields-wrapper {
	width: 100%;
	padding: 4px;
	// border: 1px solid #ddd;
	// box-shadow: 0 0 7px -2px #000;
	border-radius: 4px;
}
.buttons-wrapper {
	position: absolute;
	top: 10px;
	right: 7px;
	i {
		cursor: pointer;
		color: #018dad;
		display: block;
		padding: 1px 3px;
		margin-bottom: 1px;
		&.add-new-address {
			padding: 3px 4px;
		}
		&.fa-close {
			padding: 1px 3px 1px 4px;
		}
	}
}
.border-0 {
	border: 0 !important;
}
