<fieldset [disabled]="ebEntrepot && ebEntrepot.ebEntrepotNum" class="border-0 margin-0-important">
	<div class="adress-wrapper">
		<div
			class="fields-wrapper padding-0-important"
			[ngClass]="{ 'width-100-percent': ebEntrepot != null && ebEntrepot.ebEntrepotNum != null }"
		>
			<div class="show-for-creation clearfix">
				<input style="opacity: 0;position: absolute;" hidden aria-hidden="true" />
				<input type="password" style="opacity: 0;position: absolute;" hidden aria-hidden="true" />
				<div
					*ngIf="showWarehouseWrapper || (ebEntrepot != null && ebEntrepot.ebEntrepotNum != null)"
					class="{{
						truncateText ? 'truncate' : ''
					}} col-md-12 origindest-infos_wrapper padding-0-important generic-inputs__style"
				>
					<div class="col-md-4 col-sm-12 col-xs-12 text-right">
						<label>{{ fromOrTo }}{{ isRequired ? "*" : "" }} :</label>
					</div>
					<div class="col-md-8 col-sm-12 col-xs-12">
						<span *ngIf="ebEntrepot && ebEntrepot.reference" class="fz-sm">{{
							ebEntrepot.reference
						}}</span>
						<span *ngIf="ebEntrepot && ebEntrepot.libelle" class="d-block fz-sm">{{
							ebEntrepot.libelle
						}}</span>
					</div>
				</div>
				<div
					*ngIf="!showWarehouseWrapper && !ebDemande.ebDemandeNum"
					class="{{ truncateText ? 'truncate' : '' }} col-md-12 padding-0-important new-formcontrol"
				>
					<div class="d-flex-ai-c generic-inputs__style">
						<label class="areaLibelle col-md-4 col-xs-12 padding-left-0"
							>{{ fromOrTo }}{{ isRequired ? "*" : "" }} :</label
						>
						<div class="col-md-8 col-xs-12 padding-right-0 input-wrapper">
							<input
								type="text"
								class="form-control"
								(focus)="
									showWarehousePopupEmit($event);
									setSuggestionsWarehouse($event.target.value, fromOrTo)
								"
								(keyup)="setSuggestionsWarehouse($event.target.value, fromOrTo)"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="buttons-wrapper">
			<i
				class="fa fa-close"
				*ngIf="ebEntrepot && ebEntrepot.ebEntrepotNum != null && !ebDemande.ebDemandeNum"
				(click)="removeWarehouse(fromOrTo)"
			></i>
		</div>
	</div>
</fieldset>
