<app-generic-table
	#genericTable
	[hideTable]="isAddEditMode"
	[title]="'DOCK.DOCKS' | translate"
	[searchInput]="searchCriteria"
	[dataInfos]="dataInfos"
	[detailsInfos]="null"
	(addFormEmitter)="displayAddDock()"
	(editFormEmitter)="displayEditDock($event)"
	(deleteEventEmitter)="deleteDock($event)"
	[component]="GenericTableScreen.DOCK_MANAGEMENT"
	[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
>
	<form
		class="generic-default"
		formcontent
		*ngIf="isAddEditMode"
		role="form"
		#formSettingsDock="ngForm"
	>
		<div class="form-content margin-top-5">
			<div class="col-md-3 col-sm-4 col-xs-12 form-group">
				<label>{{ "DOCK.FIELD.REFERENCE" | translate }}</label>
				<div>
					<input
						type="text"
						ngControl="referenceCtrl"
						[(ngModel)]="formDock.reference"
						name="reference"
						class="form-control input-underline input-xs"
						required
					/>
				</div>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-12 form-group">
				<label>{{ "DOCK.FIELD.NAME" | translate }}</label>
				<div>
					<input
						type="text"
						ngControl="nameCtrl"
						[(ngModel)]="formDock.nom"
						name="name"
						class="form-control input-underline input-xs"
					/>
				</div>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-12 form-group">
				<label>{{ "DOCK.FIELD.COMMENT" | translate }}</label>
				<div>
					<input
						type="text"
						ngControl="commentCtrl"
						[(ngModel)]="formDock.comment"
						name="comment"
						class="form-control input-underline input-xs"
					/>
				</div>
			</div>

			<div class="col-md-3 col-sm-4 col-xs-12 form-group">
				<label class="areaLibelle">{{ "DOCK.FIELD.COLOR" | translate }}</label>
				<div class="col-md-12 padding-left-0-important padding-right-0-important">
					<p-colorPicker name="couleur" [(ngModel)]="formDock.couleur"></p-colorPicker>
				</div>
			</div>
		</div>

		<div class="form-content col-sm-12 text-right margin-bottom-5">
			<div class="col-md-12">
				<button
					*ngIf="formDock != null && formDock.ebDockNum == null"
					class="btn btn-sm btn-success btn-shadow"
					[disabled]="!formSettingsDock.valid"
					(click)="doSaveDock()"
				>
					{{ "GENERAL.ADD" | translate }}
				</button>
				<button
					*ngIf="formDock != null && formDock.ebDockNum != null"
					class="btn btn-sm btn-success btn-shadow"
					[disabled]="!formSettingsDock.valid"
					(click)="doSaveDock()"
				>
					{{ "COMPANY_PROFILE.BTN_MODIFIER" | translate }}
				</button>
				<button class="btn btn-sm btn-success btn-shadow" (click)="backFromAddEdit()">
					{{ "GENERAL.CANCEL" | translate }}
				</button>
			</div>
		</div>
	</form>
</app-generic-table>
