/******** VARIABLES ********/
@import "../../../../styles/variables";

.content_wrapper {
	margin-top: 6px !important;
}

.psltools {
	display: inline-block;
	position: absolute;
	right: 2px;
	top: 12px;
	/* width: 49px; */
	/* height: 17px; */
	background: white;
	padding: 0 6px 0 6px;
	text-align: right;
}

.psltools span {
	color: #c30000;
}
.psltools i {
	font-size: $fz-base;
}

.spanLink {
	margin-right: 4px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.bg-disabled,
.bg-disabled legend {
	background-color: #eeeeee;
}
.psl.bg-validated legend {
	background: #00a7ce;
	color: white;
	width: 50%;
	position: relative;
}
.psl.bg-validated legend i {
	position: absolute;
	right: 7px;
	font-size: $fz-xl;
	line-height: 85%;
}

.margin-37 {
	margin-left: 37%;
	margin-right: 37%;
}
.margin-12 {
	margin-left: 12%;
	margin-right: 12%;
}
.margin-5 {
	margin-left: 5%;
	margin-right: 5%;
}
.margin-2 {
	margin-left: 2%;
	margin-right: 2%;
}
.left-side {
	/* padding-right: 60px; */
	border-right: 2px solid #eee;
}
.right-side {
	padding-left: 60px;
	margin-top: 15px;
}
