<div class="content_wrapper">
	<form role="form" #traceInfo="ngForm" novalidate>
		<app-step-track-new-version
			*ngIf="ebTracing && ebTracing.ebTtTracingNum"
			[hasDeviation]="hasDeviation"
			[nbrComment]="nbrComment"
			[columnNbr]="columnNbr"
			[hasContributionAccess]="hasContributionAccess"
			[module]="module"
			[userConnected]="userConnected"
		></app-step-track-new-version>
		<div [ngClass]="toggleChat ? 'col-md-8' : 'col-md-12'" class="transition-all-6">
			<div class="row">
				<app-collapsible-panel *ngIf="ebTracing && ebTracing.ebTtTracingNum">
					<div class="form-group">
						<div class="col-md-6 left-side">
							<fieldset>
								<legend>
									<h4>{{ "Info" | translate }}</h4>
								</legend>
								<div class="infos">
									<div class="col-md-6 block-info-tracing">
										<div>
											<span class="colorBleu">
												{{ "TRACK_TRACE.UNIT_REFERENCE" | translate }} :</span
											>
											<span>{{ ebTracing.customerReference }}</span>
										</div>
										<div>
											<span class="colorBleu">{{ "PRICING_BOOKING.CARRIER" | translate }} :</span>
											<span>{{
												ebTracing.xEbTransporteur.nom + " " + ebTracing.xEbTransporteur.prenom
											}}</span>
										</div>
										<div>
											<span class="colorBleu"> {{ "TRACK_TRACE.LEAD_TIME" | translate }} :</span>
											<span class="important-font-size">{{ ebTracing.leadtime }} jours</span>
										</div>
										<div>
											<span class="colorBleu"> {{ "TRACK_TRACE.WEIGHT" | translate }} :</span>
											<span>{{ ebTracing.totalWeight }}</span>
										</div>
									</div>
									<div class="col-md-6 block-info-tracing">
										<div>
											<span class="colorBleu">From :</span>
											<span>{{ ebTracing.xEcCountryOrigin.libelle }} - </span>
											<span class="colorBleu">To: </span>
											<span>{{ ebTracing.xEcCountryDestination.libelle }}</span>
										</div>
										<div>
											<span class="colorBleu">Origin place :</span>
											<span>{{ ebTracing.originPlace }}</span>
										</div>
										<div>
											<span class="colorBleu">Deviation :</span>
											<span class="{{ hasDeviation ? 'deep-red' : '' }}">{{
												hasDeviation ? ("MODAL.OUI" | translate) : ("MODAL.NON" | translate)
											}}</span>
										</div>
										<div>
											<span class="colorBleu">Comment :</span>
											<span>{{ nbrComment }}</span>
										</div>
									</div>
								</div>
							</fieldset>
						</div>

						<div class="col-md-6">
							<fieldset>
								<legend>
									<h4>{{ "Event & Deviation" | translate }}</h4>
								</legend>
							</fieldset>
						</div>

						<!-- <div class="row-eq-height">

                    <div class="col-md-4 {{marginPsl}}" *ngFor="let ebpslapp of ebTracing.listEbPslApp; let i = index">
                        <div class="row psl {{ !ebpslapp.exists ? 'bg-disabled' : '' }} {{ebpslapp.validated ? 'xxxbg-validated' : ''}}">
                            <div class="psltools" *ngIf="hasContributionAccess">
                                <a title="{{'New Event' | translate}}" href="javascript:;" (click)="addEvent(ebpslapp)"><i class="fa fa-pencil"></i></a>
                                <a title="{{'New Deviation' | translate}}" href="javascript:;" class="deep-red" (click)="addDeviation(ebpslapp)"><i class="fa fa-compass"></i></a>
                            </div>

                            <fieldset disabled>
                                <legend>
                                    <h4>{{ebpslapp.codePslLibelle}}
                                        <i class="fa fa-check" *ngIf="ebpslapp.validated"></i>
                                    </h4>
                                </legend>

                                <div class="col-md-12 new-formcontrol">
                                    <label class="areaLibelle">{{'Actual date'|translate}}</label>
                                    <app-datetime-picker [timepicker]="true" name="ebpslapp{{i}}.dateActuelle" [(ngModel)]="ebpslapp.dateActuelle"></app-datetime-picker>
                                </div>


                                <div class="col-md-12  new-formcontrol">
                                    <label class="areaLibelle">{{'Estimated date'|translate}}</label>
                                    <app-datetime-picker [timepicker]="true" name="ebpslapp{{i}}.dateEstimee" [(ngModel)]="ebpslapp.dateEstimee"></app-datetime-picker>
                                </div>


                                <div class="col-md-12  new-formcontrol">
                                    <label for="ebPartyOrigin.city" class="areaLibelle">{{'Negotiated date'|translate}}</label>
                                    <app-datetime-picker c name="ebpslapp{{i}}.dateNegotiation" [(ngModel)]="ebpslapp.dateNegotiation"></app-datetime-picker>
                                </div>


                                <div class="col-md-12  new-formcontrol">
                                    <label class="areaLibelle">{{'Country'|translate}}</label>
                                    <input name="ebpslapp{{i}}.xEcCountry.libelle" type="text" class="" disabled="true" [(ngModel)]="ebpslapp.xEcCountry.libelle">
                                </div>

                                <div class="col-md-12  new-formcontrol">
                                    <label for="ebpslapp.city" class="areaLibelle">{{'PRICING_BOOKING.CITY'|translate}}</label>
                                    <input id="ebpslapp.city" name="ebpslapp{{i}}.city" type="text" class="" disabled="true" [(ngModel)]="ebpslapp.city">
                                </div>
                                <div class="col-md-12  new-formcontrol">
                                    <label  class="areaLibelle">{{'PRICING_BOOKING.QUANTITY'|translate}}</label>
                                    <input   type="number" class="" disabled="true" name="ebpslapp{{i}}.quantity"  [(ngModel)]="ebpslapp.quantity">
                                </div>
                                <div class="col-md-12  new-formcontrol">
                                    <label for="ebpslapp.city" class="areaLibelle">Commentaire</label>
                                    <input id="ebpslapp.commentaire" name="ebpslapp{{i}}.commentaire" type="text" class="" disabled="true" [(ngModel)]="ebpslapp.commentaire">
                                </div>

                                <div class="col-md-12  new-formcontrol">
                                    <label class="areaLibelle">{{'Deviation'|translate}}</label>
                                    <ul *ngFor="let evt of ebpslapp.listEvent; let evIndex = index;">
                                        <li *ngIf="evt.quantity==null" class="deep-red">{{evt.categorie.libelle }}</li>
                                        <li *ngIf="evt.quantity" class="deep-red">{{evt.categorie.libelle }} ({{evt.quantity}})</li>
                                    </ul>
                                </div>

                            </fieldset>
                        </div>
                    </div>

                </div> -->
					</div>
				</app-collapsible-panel>

				<app-collapsible-panel title="{{ 'PRICING_BOOKING.DOCUMENTS' | translate }}">
					<div class="col-md-12">
						<app-documents
							*ngIf="ebTracing && ebTracing.ebTtTracingNum"
							(updateChatEmitter)="updateChatEmitter($event)"
							[ebDemandeNum]="ebTracing.xEbDemande.ebDemandeNum"
						></app-documents>
					</div>
				</app-collapsible-panel>
			</div>
		</div>

		<div
			*ngIf="toggleChat"
			[ngClass]="toggleChat ? 'col-md-4' : 'hidden'"
			class="fadeInRight animated bounce delay-2s padding-0 for-equaling__height"
		>
			<app-collapsible-panel
				title="{{ 'PRICING_BOOKING.CHAT' | translate }}"
				*ngIf="ebTracing && ebTracing.ebTtTracingNum"
			>
				<app-chat-panel
					#chatPanel
					[nbColTexteditor]="nbColTexteditor"
					[nbColListing]="nbColListing"
					[idChatComponent]="IDChatComponent.TRACK"
					[user]="userConnected"
					[module]="Modules.TRACK"
					[idFiche]="ebTracing.ebTtTracingNum"
					[dataSource]="Statique.controllerStatiqueListe + '/listChat'"
					[dataInsertion]="Statique.controllerStatiqueListe + '/addChat'"
				></app-chat-panel>
			</app-collapsible-panel>
		</div>
	</form>

	<app-modal-event
		[readOnly]="eventModalReadOnly"
		[listCountry]="listCountry"
		[listCategorieDeviation]="listCategorieDeviation"
		[ttEvent]="ttEvent"
		[ebPslApp]="ebPslApp"
		(confirmEventHandler)="confirmModalAddEvent($event)"
	></app-modal-event>
</div>
