@mixin keyframes($animationName) {
	@-webkit-keyframes #{$animationName} {
		@content;
	}

	@-moz-keyframes #{$animationName} {
		@content;
	}

	@-o-keyframes #{$animationName} {
		@content;
	}

	@keyframes #{$animationName} {
		@content;
	}
}

@mixin animate($animation, $delay, $duration, $timing-function) {
	-webkit-animation-delay: $delay;
	-webkit-animation-duration: $duration;
	-webkit-animation-name: $animation;
	-webkit-animation-timing-function: $timing-function;

	-moz-animation-delay: $delay;
	-moz-animation-duration: $duration;
	-moz-animation-name: $animation;
	-moz-animation-timing-function: $timing-function;

	animation-delay: $delay;
	animation-duration: $duration;
	animation-name: $animation;
	animation-timing-function: $timing-function;
}

/*------------------------ animations --------------------------*/

/*--- bounce ---*/
@include keyframes(bounce) {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-5px);
	}
	75% {
		transform: translateY(-1px);
	}
	90% {
		transform: translateY(-3px);
	}
	100% {
		transform: translateY(0px);
	}
}
@mixin bounce {
	@include animate(bounce, 0s, 0.5s, ease-in-out);
}
/*--- bounce ---*/

/*--- rotate ---*/
@include keyframes(rotate) {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}
@mixin rotate {
	@include animate(rotate, 0s, 0.5s, ease-in-out);
}
/*--- rotate ---*/
