/******** VARIABLES ********/
@import "../../../../styles/variables";

.flag-list-wrapper {
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	height: 22px;
	align-items: center;
	transition: all 0.2s ease-in-out;
	&:hover {
		border-color: $gray-medium;
		border-radius: 4px;
		border-width: 1px;
		border-style: solid;
		background-color: $gray-light;
	}
}

::ng-deep .flag-edit-wrapper {
	flex-flow: row nowrap;
	.flag-edit-button-wrapper {
		flex-flow: row;
	}
	button {
		margin-left: 0px;
		padding: 0px 2px;
		width: 20px;
		height: 20px;
		line-height: 0;
	}

	i {
		font-size: $fz-sm;
	}
	.ng-select {
		width: 115px !important;
	}
}
