<div>
	<div *ngIf="!isInEditMode" class="flag-list-wrapper display-flex" (click)="setEditMode()">
		<app-flag-list-view [listFlag]="listFlag" [iconSize]="iconSize"></app-flag-list-view>
	</div>
	<div class="flag-edit-wrapper d-flex-ai-c d-flex-jc-c" *ngIf="isInEditMode">
		<app-flag-multi-select
			[(listFlag)]="listFlag"
			[contributionAccess]="contributionAccess"
			[module]="module"
		></app-flag-multi-select>
		<div class="flag-edit-button-wrapper display-flex margin-left-4 padding-top-4">
			<button class="btn btn-secondary" (click)="cancelEdit()"><i class="fa fa-times"></i></button>
			<button class="btn btn-primary margin-left-5-important" (click)="validEdit()">
				<i class="fa fa-check"></i>
			</button>
		</div>
	</div>
</div>
