<div class="modal" tabindex="1" role="dialog" style="display:block!important">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{ "PRICING_BOOKING.QUOTATION_INFORMATIONS" | translate }} > {{ebDemande.refTransport}}</h4>
			</div>
			<div class="modal-body">
				<div
					class="col-md-12 padding-0"
					style="margin-top: -5px"
					*ngIf="exEbDemandeTransporteur != null"
				>
					<app-cotation-freight-audit
						[isForDetails]="true"
						[exEbDemandeTransporteur]="exEbDemandeTransporteur"
						[module]="module"
						[ebDemande]="ebDemande"
						[userConnected]="userConnected"
						[isCotationVisible]="isCotationVisible"
						[nbColListing]="nbColListing"
						[nbColListingGlobal]="nbColListingGlobal"
						[isCostInvoiceVisible]="isCostInvoiceVisible"
						[ebInvoice]="ebInvoice"
						(confirmEventHandler)="confirmModalAddEvent($event)"
						(feedbackQuotationEmitter)="closePopUp(false)"
						[isForEdit]="isForEdit"
						(updateChatEmitter)="updateChatHandler($event)"
					></app-cotation-freight-audit>
				</div>
			</div>
		</div>
	</div>
</div>
