<div class="content_wrapper">
	<app-shipping-information
		#shippingInformationComponent
		[showAddressWrapper]="showAddressWrapper"
		[ebDemande]="ebDemande"
		[userConnected]="userConnected"
		[module]="Modules.PRICING"
		(onValidate)="showGoodsPanel()"
		(onListTransporteurLoaded)="onListTransporteurLoadedHandler($event)"
		*ngIf="userConnected != null && userConnected.ebUserNum != null"
	></app-shipping-information>

	<app-goods-information
		id="goodsInformationDiv"
		#goodsInformationDiv
		[ebDemande]="ebDemande"
		[modeTransport]="modeTransport"
		[listMarchandise]="ebDemande.listMarchandises"
		[userConnected]="userConnected"
		(onValidate)="showQuotationPanel()"
		*ngIf="goodsPanel && userConnected != null && userConnected.ebUserNum != null"
	></app-goods-information>

	<app-collapsible-panel
		title="{{ 'PRICING_BOOKING.QUOTATION' | translate }}"
		*ngIf="
			listTransporteur && quotationPanel && userConnected != null && userConnected.ebUserNum != null
		"
	>
		<app-carrier-choice
			[listTransporteur]="listTransporteur"
			[listTransporteurFromPlanToAdd]="listTransporteurFromPlanToAdd"
			id="carrierChoiceDiv"
			#carrierChoiceDiv
			[ebDemande]="ebDemande"
			[userConnected]="userConnected"
			[module]="Modules.PRICING"
			(onValidate)="showDocumentsPanel()"
		></app-carrier-choice>
	</app-collapsible-panel>

	<app-collapsible-panel
		title="{{ 'PRICING_BOOKING.DOCUMENTS' | translate }}"
		*ngIf="
			documentsPanel && userConnected != null && userConnected.ebUserNum != null && newEbDemandeNum
		"
		[hidden]="true"
	>
		<app-documents
			id="documentsDiv"
			#documentsDiv
			[ebDemandeNum]="ebDemande.ebDemandeNum"
		></app-documents>
	</app-collapsible-panel>

	<!-- <div class="mt10" *ngIf="ebDemande.xEcStatut!=Statique.StatutDemande[16].key &&isPageValid() && userConnected != null && userConnected.ebUserNum != null"> -->
	<div
		class="mt10"
		*ngIf="
			!ebDemande.confirmedFromTransptPlan &&
			isPageValid() &&
			userConnected != null &&
			userConnected.ebUserNum != null
		"
	>
		<div class="col-md-12" style="position: relative;bottom: 60px;">
			<div class="pull-right">
				<button
					id="btValidateGlobal"
					[disabled]="!isPageValid()"
					href="#"
					class="btn btn-primary btn-sm"
					(click)="addDemande($event)"
				>
					<!-- {{'PRICING_BOOKING.VALIDATE' | translate}} -->
					{{ "PRICING_BOOKING.SEND_REQUEST" | translate }}
				</button>
			</div>
		</div>
	</div>
</div>
