<div
	class="modal modal-backdrop"
	tabindex="-1"
	role="dialog"
	style="display:flex !important; align-items: center !important"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div>
				<div class="modal-header">{{ "FREIGHT_AUDIT.CHAT_HISTORIQUES" | translate }}</div>
				<div
					class="modal-body generic-accordion right-blocs col-md-3 col-sm-12 col-xs-12 padding-4"
				>
					<p-accordion [multiple]="true">
						<p-accordionTab header="Documents" [selected]="true">
							<app-documents
								*ngIf="ebInvoice && ebInvoice.ebInvoiceNum"
								(updateChatEmitter)="updateChatEmitter($event)"
								[ebDemandeNum]="ebInvoice.xEbDemande.ebDemandeNum"
								[ebCompagnieNum]="ebInvoice.chargeur.ebCompagnie.ebCompagnieNum"
							></app-documents>
						</p-accordionTab>

						<p-accordionTab header="Historiques" [selected]="true">
							<app-chat-panel-freight-audit
								#chatPanelFreightAuditComponent
								style="text-align:left"
								[nbColTexteditor]="nbColTexteditor"
								[nbColListing]="nbColListing"
								[idChatComponent]="IDChatComponent.FREIGHT_AUDIT"
								[user]="userConnected"
								[module]="Modules.FREIGHT_AUDIT"
								[idFiche]="ebInvoice.ebInvoiceNum"
								[dataSource]="statique.controllerStatiqueListe + '/listChat'"
								[dataInsertion]="statique.controllerStatiqueListe + '/addChat'"
								[contributionAccess]="contributionAccess"
							></app-chat-panel-freight-audit>
						</p-accordionTab>
					</p-accordion>
				</div>
				<div class="modal-footer">
					<ng-content></ng-content>
				</div>
			</div>
		</div>
	</div>
</div>
