<div class="margin-tb-10">
	<div #panel class="form-content ">
		<app-generic-table
			#genericTable
			[hideTable]="isAddObject"
			[parentContext]="this"
			[searchInput]="searchCriteria"
			[dataInfos]="dataInfos"
			[detailsInfos]="null"
			(addFormEmitter)="displayAdd($event)"
			(editFormEmitter)="diplayEdit($event)"
			(deleteEventEmitter)="delete($event)"
			[component]="GenericTableScreen.ETABLISSEMENTCURRENCY"
			[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
		>
		</app-generic-table>
	</div>
</div>
<app-new-etablissement-currency-design
	*ngIf="isAddObject"
	(validateAdd)="comeBack()"
	[etablissementCurrency]="dataObject"
>
</app-new-etablissement-currency-design>
