.divcurrency {
	max-width: 200px;
	width: 200px;
}
.diveuroexchange {
	max-width: 80px;
	width: 80px;
}
.divcompagnie {
	max-width: 200px;
	width: 200px;
}
.divcalendar {
	position: relative;
	width: 120px;
	max-width: 120px;
}
.padd-l-r-6 {
	padding-left: 6px;
	padding-right: 6px;
}
.padd-l-r-Action {
	padding-left: 10px;
	padding-right: 6px;
}
