@font-face {
    font-family: PTSans;
        src: url("../assets/fonts/sans.ttf");
      
}

body {
	font-family: PTSans !important;
 
}

.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.nmt {
	margin-top: 0 !important;
}

.nmb {
	margin-bottom: 0 !important;
}

.hide-dropzone-preview .dz-preview {
	display: none;
}

.fa-2x {
	font-size: 1.5em;
	
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td,
	.table>tbody>tr>td, .table>tfoot>tr>td {
	border-top: 1px solid #eeeeee;
	line-height: 1.49;
	padding: 5px;
	vertical-align: middle;
}

.select2-container--default .select2-selection--multiple {
	background-color: #fff !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice
	{
	background-color: #f1f1f1;
}

.admin-form .select, .admin-form .gui-input, .admin-form .gui-textarea,
	.admin-form .select>select, .admin-form .select-multiple select {
	height: 35px;
}

.dataTables_scrollHead {
	overflow: -moz-hidden-unscrollable !important;
}

.admin-form .append-icon .field-icon, .admin-form .prepend-icon .field-icon
	{
	line-height: 35px;
}

.btn:hover>span {
	display: inline;
}

.select2-container .select2-selection--multiple {
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	min-height: 30px;
}

.select2-container .select2-search--inline .select2-search__field {
	border: medium none;
	box-sizing: border-box;
	font-size: 100%;
	margin-left: 3px;
	margin-top: 5px;
}

.btns-dashboard {
	padding-left: 25px;
}

.select2-container {
	height: 25px;
}

.ui-datepicker-trigger {
	display: none;
}

.admin-form label, .admin-form input, .admin-form button, .admin-form select,
	.admin-form textarea {
	font-size: 13px;
	margin-bottom: 5px;
}

.form-control {
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #dddddd;
	border-radius: 4px;
	color: #555555;
	display: block;
	font-size: 13px;
	height: 30px;
	line-height: 1.49;
	padding: 0 12px;
	transition: border-color 0.15s ease-in-out 0s;
	width: 100%;
}

.field-icon2 {
	color: inherit;
	height: 42px;
	line-height: 24px;
	pointer-events: none;
	position: absolute;
	text-align: center;
	top: 0;
	transition: all 0.5s ease-out 0s;
	width: 42px;
	z-index: 4;
}

.form-horizontal .control-label {
	margin-bottom: 0;
	padding-top: 4px;
	text-align: right;
}

.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline,
	.form-horizontal .checkbox-inline {
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 4px;
}

.input-group-addon {
	background-color: #fafafa;
	border: 1px solid #dddddd;
	border-radius: 2px;
	color: #3498db;
	font-size: 13px;
	font-weight: normal;
	line-height: 1;
	min-width: 40px;
	padding: 4px 12px;
	text-align: center;
}

.btn:hover>span {
	display: inline;
}

.form-group {
	margin-bottom: 0px;
}

#topbar .nav.nav-list-topbar li.active a {
	border-bottom: 3px solid #DF5640;
}

.dropzone.dropzone-sm .dz-default.dz-message i.fa {
	color: #bbb;
	font-size: 40px;
	margin-bottom: 6px;
}

.dropzone {
	background: transparent none repeat scroll 0 0;
	border: 0 none;
	min-height: 120px;
	outline: 0 none;
	padding: 2px 15px;
}

hr.short {
	margin-bottom: 0px;
	margin-top: 0;
}

.form-control {
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #dddddd;
	border-radius: 4px;
	color: #555555;
	display: block;
	font-size: 13px;
	height: 25px;
	line-height: 1.49;
	padding: 0 12px;
	transition: border-color 0.15s ease-in-out 0s;
	width: 100%;
	margin-bottom: 5px;
}

.admin-form .select, .admin-form .gui-input, .admin-form .gui-textarea,
	.admin-form .select>select, .admin-form .select-multiple select {
	border-bottom: 1px solid #ddd;
	color: #626262;
	display: inline-block;
	height: 25px;
	outline: medium none;
	position: relative;
	vertical-align: top;
	width: 100%;
}

.admin-form .append-icon .field-icon, .admin-form .prepend-icon .field-icon
	{
	color: inherit;
	height: 25px;
	line-height: 25px;
	pointer-events: none;
	position: absolute;
	text-align: center;
	top: 0;
	transition: all 0.5s ease-out 0s;
	width: 32px;
	z-index: 1;
}

.form-horizontal .control-label {
	margin-bottom: 0;
	padding-top: 4px;
	text-align: right;
}

.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline,
	.form-horizontal .checkbox-inline {
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 4px;
}
/* .input-group-addon { */
/*     background-color: #fafafa; */
/*     border: 1px solid #dddddd; */
/*     border-radius: 2px; */
/*     color: #3498db; */
/*     font-size: 13px; */
/*     font-weight: normal; */
/*     line-height: 1; */
/*     min-width: 40px; */
/*     padding: 7px 12px; */
/*     text-align: center; */
/* } */
.btn:hover>span {
	display: inline;
}

.dropzone .dz-default.dz-message i.fa {
	color: #4a89dc;
	cursor: pointer;
	display: block;
	font-size: 60px;
	margin-bottom: 15px;
}

.panel-heading {
	background: #fafafa none repeat scroll 0 0;
	border: 1px solid #e2e2e2;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #999999;
	font-size: 15px;
	font-weight: 400;
	height: 35px;
	letter-spacing: 0.2px;
	line-height: 32px;
	padding: 0 8px;
	position: relative;
}

.dropzone .dz-default.dz-message {
	background-image: none;
	cursor: pointer;
	height: 100%;
	left: 0;
	margin-left: 0;
	margin-top: -25px;
	text-align: center;
	top: 23%;
	width: 100%;
}

.dropzone .dz-default.dz-message i.fa {
	color: #4a89dc;
	cursor: pointer;
	display: block;
	font-size: 20px;
	margin-bottom: 15px;
}

.dropzone.dropzone-sm .dz-default2.dz-message i.fa {
	color: #bbb;
	font-size: 50px;
	margin-bottom: 15px;
}

.input-group-sm>.form-control, .input-group-sm>.input-group-addon,
	.input-group-sm>.input-group-btn>.btn {
	line-height: 1;
	height: 25px;
}

label {
	margin-bottom: 0;
}

.tray-bin {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ccc;
}

.drop1 {
	cursor: pointer;
}

.drop2 {
	cursor: pointer;
}

.drop3 {
	cursor: pointer;
}

.drop4 {
	cursor: pointer;
}

.drop5 {
	cursor: pointer;
}

.drop6 {
	cursor: pointer;
}

.elips {
	display: inline-block;
	max-width: 265px;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: text-bottom;
	white-space: nowrap;
}

.admin-form .gui-input, .admin-form .gui-textarea {
	padding: 0;
}

.pointit {
	cursor: pointer;
}

.admin-form .prepend-icon>input, .admin-form .prepend-icon>textarea {
	padding-left: 29px;
}

.panel-tabs>li>a {
	line-height: 14px;
}

.panel-tabs {
	left: 0 !important;
}

.dropdisabled {
	color: #bbb;
	font-size: 40px;
	margin-bottom: 6px;
}

.dropi {
	min-height: 120px;
	padding: 2px 15px;
}

.label2 {
	border-radius: 0.25em;
	color: #ffffff;
	cursor: pointer;
	display: inline;
	font-size: 100%;
	font-weight: 600;
	line-height: 28px;
	padding: 0.2em 0.6em;
	text-align: center;
	vertical-align: baseline;
	white-space: nowrap;
}

body.sb-l-m .sidebar-menu>li>a>span:nth-child(1).lionhover {
	background-color: #DF5640;
	color: white;
	font-weight: bold;
	font-size: 9px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

body.sb-l-m .sidebar-menu>li>a>span:nth-child(1).lionhoverend {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

body {
	min-height: 100% !important;
}

.navbar-nav>li>a {
	line-height: 29px;
}

.dropzone {
	padding: 0px !important;
}

.filter .btn.multiselect-clear-filter {
	padding: 2px 5px;
}

#content {
	padding: 10px 9px 0 10px !important;
}

.dropzone .dz-preview .dz-details .dz-size, .dropzone-previews .dz-preview .dz-details .dz-size
	{
	display: none;
}

.dropzone .dz-preview .dz-details, .dropzone-previews .dz-preview .dz-details
	{
	display: none;
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
	height: 33px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0);
}

.dropzone {
	min-height: 5px !important;
}

.dropzone a.dz-remove, .dropzone-previews a.dz-remove {
	display: none !important;
}

.dropzone .dz-preview, .dropzone-previews .dz-preview {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0) !important;
	border: 0px solid !important;
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
	margin: 0px !important;
	display: inline !important;
	padding: 0px !important;
}

.dropzone .dz-preview.dz-error .dz-error-mark, .dropzone-previews .dz-preview.dz-error .dz-error-mark
	{
	filter: none;
	opacity: 0;
	display: none !important;
}

.dropzone .dz-preview.dz-success .dz-success-mark, .dropzone-previews .dz-preview.dz-success .dz-success-mark
	{
	display: none !important;
}

.upload-height {
	
}

hr {
	border-top: 1px solid #ddd;
	margin: 19px 0;
}

.dropzone .dz-default.dz-message {
	background-image: none !important;
	top: 44% !important;
}

.dropzone .dz-default.dz-message span {
	display: block !important;
}

.dropzone .dz-preview .dz-details .dz-filename, .dropzone-previews .dz-preview .dz-details .dz-filename
	{
	height: 53% !important;
	overflow: hidden;
}

.select2-results__option[aria-selected=true] {
	display: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice
	{
	margin-top: 2px !important;
	padding: 0 3px !important;
	background-color: #fafafa;
	border: 1px solid #ddd;
}

.select2-container--default .select2-selection--multiple {
	background-color: #fff;
}

.select2-container .select2-selection--multiple {
	min-height: 25px;
	height: 100%;
}

.form-group {
	margin-bottom: 10px;
}

.checkbox-custom label::before {
	background-color: #fff;
	border: 2px solid #666;
	border-radius: 2px;
	content: "";
	height: 16px;
	left: 0;
	position: absolute;
	top: 0;
	width: 16px;
}

.checkbox-custom input[type="checkbox"]:checked+label::after,
	.checkbox-custom input[type="radio"]:checked+label::after {
	font-size: 10px;
	height: 0;
	left: 0;
	top: 2px;
	width: 0;
}

div.ColVis {
	margin-bottom: 1px !important;
	margin-top: 1px;
}

select.input-sm {
	height: 18px;
	line-height: 18px;
}

.mr70 {
	margin-right: 70px !important;
}

.dt-panelmenu {
	padding: 0px 14px;
	padding-top: 5px;
}

ul.ColVis_collection li {
	display: inline-block;
	width: 49%;
}

ul.ColVis_collection {
	width: 381px;
}

.dataTables_length label, .dataTables_filter label {
	margin-top: 1px;
	font-size: 11px;
}

.btncolvis {
	margin-top: 1px;
	padding: 0 5px;
}

.dt-panelfooter {
	padding: 0 14px;
}

div.dataTables_info {
	font-size: 11px;
}

.pagination>li>a, .pagination>li>span {
	padding: 1px 9px;
}

.dataTables_scrollBody {
	overflow: auto !important;
}

.dataTables_scrollHead {
	overflow: hidden !important;
}

.dataTables_paginate {
	height: 29px;
}

.select2-container .select2-search--inline .select2-search__field {
	margin-top: 1px;
}

.scrollable-menu {
	height: auto;
	max-height: 200px;
	overflow-x: hidden;
}

a.media-left {
	color: #aaa;
	font-size: 18px;
}

.media {
	position: relative;
}

.media-left {
	border-right: 1px dashed #ddd;
	padding-right: 11px;
	vertical-align: middle;
}

.media-body {
	font-size: 12px;
	font-weight: 400;
	padding-left: 13px;
}

.media-right {
	position: absolute;
	right: 0;
	text-align: right;
	top: -3px;
}

.media-response {
	font-size: 10px;
	font-weight: 400;
	margin-bottom: 2px;
}

.dropdown .alerts-widget .media-right .btn.btn-xs {
	font-size: 11px;
	padding: 0 5px;
}

.checkbox-custom input[type="checkbox"]:checked+label::after,
	.checkbox-custom input[type="radio"]:checked+label::after {
	font-size: 10px;
	height: 0;
	left: 0;
	top: 2px;
	width: 0;
}

fieldset {
	font-family: sans-serif;
	border: none;
	border-top: 2px solid #FD6721;
	padding-top: 5px;
}

fieldset legend {
	background: #FD6721;
	color: #fff;
	padding: 2px 10px;
	margin-bottom: 0px;
	font-size: 14px;
	width: 10em;
	text-align: center;
	cursor: pointer;
}

.categeri-in-search {
	margin: 16px 0 !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

div.dataTables_processing {
	z-index: 999;
}

.admin-form .select::before {
	width: 20px;
}

.admin-form .select .arrow::after, .admin-form .select .arrow::before {
	left: 13px;
}

#content-footer.affix {
	z-index: 11;
}

#skin-toolbox {
	top: 60px !important;
}

#skin-toolbox .panel-heading {
	height: 30px !important;
	line-height: 30px !important;
}

#skin-toolbox .panel-icon {
	padding-left: 3px !important;
}

.wordwrap {
	word-wrap: break-word;
}

.ui-datepicker {
	position: relative;
	z-index: 10000 !important;
}

.pageDetails>.progress_adias>li::before {
	height: 4em;
	line-height: 4em;
	width: 4em;
}

.pageDetails>.progress_adias>li::after {
	top: 1.75em;
}

.input-group .form-control {
	z-index: 1;
}

#topbar {
	position: fixed;
	padding-right: 70px;
}

.label-INCIDENT_SUBMISSON {
	background-color: #cf2f44 !important;
	color: #fff !important
}

.label-CLAIM_PROCEDURE {
	background-color: #1A466F !important;
	color: #fff !important
}

.label-STATEMENT_PROCEDURE {
	background-color: #FFD561 !important;
	color: #fff !important
}

.label-INCIDENT_CLOSED {
	background-color: #000000 !important;
	color: #fff !important
}

.label-INCIDENT_VALIDATION {
	background-color: #cf2f44 !important;
	color: #fff !important
}

.label-INCIDENT_ANALYSIS {
	background-color: #cf2f44 !important;
	color: #fff !important
}

.table-admin {
	padding-left: 0px !important;
}

.ref-class {
	width: 100px;
}

#panel-admin-backoffice .dt-panelmenu {
	display: none;
}

.pad-button {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.icon-fa-s {
	margin-right: 9px;
	margin-top: 9px;
}

.picto-upload {
	color: #3498db;
}

.dropZoneAttachments {
	min-height: 70px !important;
}

.responsable .scroller-sm {
	height: 106px !important;
	max-height: 106px !important;
}

.responsable>.panel {
	margin-bottom: 5px;
}

.panel-action .btn-block {
	margin-bottom: 10px;
}

.holder-style {
	outline: 2px solid #d9d9d9 !important;
}

.close-but {
	margin-top: 12px;
}

.close-bloc {
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
}

.mt {
	margin-top: 20px;
}

.admin-form .heading-border .panel-heading {
	padding: 5px 15px 0;
}

.admin-form .panel-title {
	font-size: 13px;
}

.admin-form .panel-title i {
	border-width: 0;
	font-size: 14px;
	margin-right: 0px;
	position: relative;
	top: 0;
}

.admin-form .button {
	font-size: 12px;
	height: 30px;
	line-height: 30px;
}

.panel-tabs {
	left: 0 !important;
}

select.input-sm {
	height: 20px !important;
}

div.ColVis {
	margin-bottom: 0em !important;
}

.dt-panelmenu {
	padding: 4px 14px;
}

#skin-toolbox {
	top: 60px !important;
}

#skin-toolbox .panel-heading {
	height: 30px !important;
	line-height: 30px !important;
}

#skin-toolbox .panel-icon {
	padding-left: 3px !important;
}

#skin-toolbox {
	/* 	width: 230px !important; */
	/* 	right: -100px !important; */
	
}

#skin-toolbox .panel-heading {
	/* 	width: 374px !important; */
	
}

.admin-form .select .arrow {
	top: 0px !important;
}

.admin-form .select>select {
	padding: 1px 5px !important;
}

.dt-panelmenu {
	background: #fff none repeat scroll 0 0 !important;
}

.dt-panelfooter {
	background: #fff none repeat scroll 0 0 !important;
}

#spy1 {
	cursor: pointer;
}

#spy2 {
	cursor: pointer;
}

#content {
	padding: 0px !important;
}

.tray200 .tray-nav.affix {
	width: 199px !important;
}

.checkbox-custom input[type="checkbox"]:checked+label::after,
	.checkbox-custom input[type="radio"]:checked+label::after {
	font-size: 10px;
	height: 0;
	left: 2px;
	top: 2px;
	width: 0;
}

h5, .h5 {
	margin-top: 0;
}
/*
fieldset legend {
	border-top: 2px solid #3498db;
	background: #3498db;
}

fieldset {
	border-top: 2px solid #3498db;
}*/

.progress_adias>li.entourage-red::before {
	border: 3px solid !important;
	border-color: #df5640 !important;
}
.dataTables_scroll
{
    overflow:auto;
}
.ui-timepicker-div dl {
   
    padding: 5px 10px;
 
}
.ui-datepicker table {
   
    margin: 0 0 3px;
}

.ui-datepicker-close {
        background-color: #4a89dc !important;
     color: #fff !important;
    text-shadow: 0 1px rgba(0, 0, 0, 0.08) !important;
}

.ui-datepicker-close button:hover {
   background-color: #4a89dc !important;
     color: #fff !important;
    text-shadow: 0 1px rgba(0, 0, 0, 0.08) !important;
}
.progress {
	margin-bottom: 3px;
	height: 15px;
}

.admin-form .select .arrow::before {
	bottom: 4px;
}

.disabled {
	background-color: darkgray !important;
	color: #fff;
}

.dateHere, .commenIt {
	cursor: pointer;
}

#upload-zone .scroller-content section {padding-left: 10px;}

.fr-file{
	
	cursor : pointer;	
}

.panel-editbox{


    border: 0px solid #e8e8e8 !important;

	  -moz-box-shadow:    inset 0 5px 5px -5px  #c0c0c0;
   -webkit-box-shadow: inset 0 5px 5px -5px  #c0c0c0;
   box-shadow:         inset 0 5px 5px -5px  #c0c0c0;
   
   
}

.navbar {

    height: 70px;
 
}

.page-header-fixed {
    padding-top: 60px;
}

.page-with-wide-sidebar .content {
    margin-left: 250px;
}
.content {
    margin-left: 220px;
    padding: 30px;
}

.login.login-with-news-feed, .register.register-with-news-feed {
    margin: 0;
    padding: 0;
    width: 100%;
}
.login {
    left: 0;
    margin: 168px 0;
    position: absolute;
    right: 0;
    top: 0;
}

.login.login-with-news-feed .news-feed, .register.register-with-news-feed .news-feed {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 500px;
    top: 0;
    transform: translateZ(0px);
}

.login.login-with-news-feed .news-image, .register.register-with-news-feed .news-image {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.login.login-with-news-feed .news-image img, .register.register-with-news-feed .news-image img {
    bottom: -1960px;
    left: -1960px;
    margin: auto;
    height: 100%;
    width: 100%;
    position: absolute;
    right: -1960px;
    top: -1960px;
}

.login.login-with-news-feed .news-caption, .register.register-with-news-feed .news-caption {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    bottom: 0;
    color: #999;
    font-size: 14px;
    font-weight: 300;
    left: 0;
    min-width: 680px;
    padding: 30px 60px;
    position: absolute;
    right: 0;
    z-index: 20;
}

.login.login-with-news-feed .news-caption .caption-title, .register.register-with-news-feed .news-caption .caption-title {
    color: rgba(255, 255, 255, 0.8);
    font-size: 28px;
    font-weight: 300;
}

.login.login-with-news-feed .right-content, .register.register-with-news-feed .right-content {
    float: right;
    width: 500px;
}
.carousel, .carousel-inner {
    position: unset;
}
.login.login-with-news-feed .login-header, .register.register-with-news-feed .register-header {
    left: 0;
    margin: 0;
    padding: 50px 60px 0;
    position: relative;
    right: 0;
    top: 0;
}
.login .login-header {
    font-weight: 300;
    left: 50%;
    margin-left: -225px;
    padding: 0 40px;
    position: absolute;
    right: 0;
    top: -80px;
    width: 450px;
}

.login.login-with-news-feed .login-content, .register.register-with-news-feed .register-content {
    padding: 30px 60px;
    width: auto;
}
.login .login-content {
    color: #999;
    margin: 0 auto;
    padding: 30px 40px;
    width: 450px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.form-control.input-lg {
    border-radius: 2px;
    font-size: 14px;
}
.input-lg {
    border-radius: 6px;
    font-size: 18px;
    height: 46px;
    line-height: 1.33333;
    padding: 10px 16px;
}
hr.style18 { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.style18:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

.image-module{
	
	cursor:pointer;
	
}

#sidebar_left {
 
    padding-top: 70px;
    background-color: #dde3e4 !important;
    
}

.sidebar-menu li > a > .fa {
	
	color : #5c666f !important;
	font-size: 22px !important;
}

.sidebar-menu li > a > .fa-first{
	
		color : #fff !important;
		font-size: 18px !important;	
	
}

.sidebar-menu li > a > .fa-first2{
	
		color : #fff !important;
		font-size: 11px !important;	
	
}

.sidebar-menu li > a > span:hover {
	
		color : #C13728 !important;
	
}

.sidebar-menu li > a > span:hover +span {
	
		color : #C13728 !important;
	
}


.sidebar-menu li > .sidebar-label{
	 font-weight: 600;
    padding-left: 25px !important;
	
}
.sidebar-menu li > a > .sidebar-title{
	
	color : #5c666f !important;
	font-size: 12px !important;
	
}

#toggle_sidemenu_l, #toggle_sidemenu_t {
font-size: 18px;
float: none;
width: 0;
padding-left: 20px;
}

.sidebar-menu > li {
     padding: 7px 0;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #00b6d7 !important;
 
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #00b6d7 !important;
}
.table > thead > tr > th {
   border: 1px solid #00b6d7 !important;
   
}

.table {
  
    width: 95% !important;
}