input[type="checkbox"], input[type="radio"] {
	line-height: normal;
	margin: 4px 4px 0 !important;
}

.checkbox, .radio {
	margin-bottom: 3px !important;
	margin-top: 3px !important;
}

.comment-title {
	padding-left: 10px;
}

body {
	font-size: 13px !important;
}

label {
	font-weight: 400;
	margin-bottom: 5px;
}

legend {
	font-size: medium;
	color: #666666;
}

.navbar.navbar-fixed-top+#sidebar_left+#content_wrapper {
	padding-top: 35px;
}

.form-control, .form-control-consult, .ui-datepicker-trigger {
	height: 20px !important;
	line-height: 1 !important;
	font-size: 12px !important;
	padding: 1px 3px !important;
}

select.form-control, .ui-datepicker-trigger {
	margin-bottom: 0.25em !important;
}

.form-control-consult {
	background: #F9F9F9;
}

.dataTables_scrollHead{
	overflow: -moz-hidden-unscrollable !important;
}

/*
textarea, textarea.form-control {
	height: auto !important;
}
*/
.admin-form .prepend-picker-icon button {
	width: 2em;
}

.admin-form .prepend-picker-icon {
	padding-left: 1.6em;
}

.ui-datepicker-trigger {
	
}

h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 10px;
}

.row {
	margin-bottom: 1px;
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th,
	.table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th,
	.table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th
	{
	vertical-align: middle;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td,
	.table>tbody>tr>td, .table>tfoot>tr>td {
	padding: 5px 9px;
}

table input.edit { /*max-width: 40px;*/
	
}

.navbar-branding .navbar-brand {
	font-size: 0.8em;
}

.navbar-branding .navbar-brand b {
	font-size: 1.4em;
}

.btn-xs, .btn-group-xs>.btn {
	line-height: 1;
}

#skin-toolbox {
	display: none;
}

.checkbox-custom input[type="checkbox"]:checked+label::after,
	.checkbox-custom input[type="radio"]:checked+label::after {
	top: 5px;
	left: 3px;
}

.checkbox-custom label::before, .radio-custom label::before,
	.checkbox-custom.fill label::before, .radio-custom.fill label::before {
	width: 15px;
	height: 15px;
}

.checkbox-custom label, .checkbox-custom.fill label, .radio-custom label
	{
	padding-left: 20px;
	line-height: 1;
}

.checkbox-custom input[type="checkbox"]:checked+label::after,
	.checkbox-custom input[type="radio"]:checked+label::after {
	font-size: 9px;
}

.radio-custom input[type="radio"]:checked+label::after, .radio-custom input[type="checkbox"]:checked+label::after
	{
	height: 5px;
	left: 5px;
	top: 5px;
	width: 5px;
}

.toolButton {
	font-size: 0.7em;
	padding-left: 2px;
	padding-right: 2px;
}

/*
	Surdefinition du css du theme
*/
body.sb-l-m #sidebar_left {
	position: fixed !important;
	padding-top: 0px;
}

body.sb-l-m #sidebar_left {
	z-index: 1031;
}

.pagination>li>a, .pagination>li>span {
	padding: 0 7px;
}

select.input-sm {
	height: 20px;
	line-height: 20px;
}

/* validation de formulaire */
.form-control.error {
	border-color: #C00000;
}

/* datatable*/
#datatable-demande tbody tr {
	cursor: pointer;
}

/************************************/
.navbar .nav>li>a {
	height: 47px;
}

.logo-alis {
	height: 43px;
	padding-top: 5px;
	padding-left: 5px;
}

.mw100 {
	max-width: 100px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

table.dataTable thead>tr>th {
	padding-left: 9px !important;
}

table.dataTable {
	margin: 0 !important;
}

table.dataTable td.dataTables_empty {
	padding: 10px !important;
	text-align: center;
}

/* couleur du cadre */
.border-1 {
	border: 1px solid #eee;
}

.border-top-1 {
	border-top: 1px solid #eeeeee;
}

.navbar {
	box-shadow: 0 0px 0 0 #e0e0e0;
}

.navbar.navbar-shadow {
	-webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.08), 0px 2px 0px 0px
		rgba(0, 0, 0, 0.02);
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.08), 0px 0px 0px 0px
		rgba(0, 0, 0, 0.02);
}

#content_wrapper {
	background: #fff;
}

#content {
	padding-top: 45px;
}

#main::before {
	background: none;
}

#main {
	padding-bottom: 2em;
}

#topmenu {
	margin-left: 70px !important;
	border-top: 1em solid #C00000;
}

#sidebar_left {
	border-right: 1em solid #C00000;
	box-sizing: unset;
}

#topmenu, #main {
	border-right: 1em solid #C00000;
}

body, #main {
	background-color: #FFF;
}

.navbar-branding {
	display: none;
}

.pb0 {
	padding-bottom: 0px !important;
}

/*  panels*/
.panel {
	margin-bottom: 10px;
}

.panel-heading {
	border-radius: 0 !important;
	box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.05) inset !important;
	cursor: move;
	line-height: normal !important;
}

.panel-heading {
	background: #fff none repeat scroll 0 0 !important;
	border-color: #ccc !important;
	color: #666 !important;
}

.panel-heading {
	background: #fafafa none repeat scroll 0 0 !important;
	border: 1px solid #c2c2c2 !important;
	color: #333 !important;
	height: 32px !important;
	line-height: 30px !important;
	padding: 0 !important;
}

.panel-tabs>li>a {
	padding: 0 16px 1px;
}

.panel-controls {
	margin-right: 0px;
	padding-right: 5px;
}

.panel-controls a {
	text-decoration: none;
}

#commentaires .panel-body {
	padding-top: 5px;
	padding-bottom: 5px;
}

#commentaires .panel-footer {
	padding-top: 2px;
	padding-bottom: 2px;
}

*, #tmm-form-wizard *:after, #tmm-form-wizard *:before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.modal-body{
	
	margin-bottom : 15px !important;
}

#footer-email {
	background-color: #C00000;
	height: 2em;
	font-size: 0.7em;
	text-align: center;
	color: white;
}

#footer-email a {
	color: white;
}

.show-comment {
	cursor: pointer;
}

#comment-box {
	position: fixed;
	right: 0px;
	top: 11em;
	width: 2.5em;
	height: 4em;
	background-color: #c00000;
	z-index: 10;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding-left: 0.6em;
	color: #fff;
}

#comment-box  a {
	color: #fff;
}

.dropzone .dz-default.dz-message {
	width: 50% !important;
}

.input-group-addon {
	padding: 0 5px !important;
}

.input-group-sm>.form-control, .input-group-sm>.input-group-addon,
	.input-group-sm>.input-group-btn>.btn {
	height: 20px;
}

.dropzone .dz-default.dz-message i.fa {
	font-size: 50px !important;
	margin-bottom: 0px !important;
	border: 1px solid rgba(0, 0, 0, 0.08) !important;
}

.dropzone .dz-default.dz-message {
	margin-top: -10px !important;
	top: 5% !important;
	height: 50% !important;
}

.dropzone {
	min-height: 95px !important;
}

.fileslist {
	border: 2px solid rgba(200, 0, 0, 0.30) !important;
	margin-top: 5px !important;
	min-height: 120px !important;
}

.fileslistgris {
	border: 2px solid rgba(200, 0, 0, 0.30) !important;
	margin-top: 5px !important;
	min-height: 120px !important;
	background-color: #C8C8C8;
}

.disabledcolor {
	color: #000000 !important;
}

.btn-gris {
	background-color: #CECECE;
}

.btn-blanc {
	background-color: #FFFFFF;
}

.btn-violet {
	background-color: #660099;
	color: #FFFFFF !important;
}

.btn-bleu {
	background-color: #0000FF;
	color: #FFFFFF !important;
}

.btn-vert {
	background-color: #1FA055;
	color: #FFFFFF !important;
}

.btn-gris, .btn-blanc, .btn-violet, .btn-bleu, .btn-vert {
	height: 16px !important;
	width: 180px !important;
}

.nvhr {
	margin: 10px 0 !important;
}

.important-font-size {
	font-size: 16px !important;
}

.nopadding {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.nopaddingRight {
	padding-right: 0px !important;
}

.bg-blue {
	color: #efefef;
	background-color: #1F537C;
	border-color: #1F537C;
	font-size: 20px !important;
}

.margin-menu {
	margin-left: 10px !important;
}

.time-remaining {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 11px;
	width: 9em;
	background: rgba(84, 170, 201, 0.1);
	border-left: 1px solid rgba(84, 170, 201, 0.8);
	height: 11em;
}

.time-remaining .ct-header-title {
	font-size: 0.9em;
}

.time-remaining .ct-header-items .ct-header-item {
	width: 33%;
	font-size: 0.7em;
}

.time-remaining .ct-body-items {
	font-size: 1.3em;
}

.time-remaining .ct-body-items .ct-body-item {
	width: 33%;
}

.with-stage {
	width: 12% !important;
	padding: 0px !important;
}

.statut-top-2ligne {
	margin-top: -17px !important;
}

.margin-btn-radio-other-carreir {
	margin-top: 4px !important;
	margin-bottom: 3px !important;
}

.paddin-btn-radio-other-carreir {
	padding-left: 1px !important;
}

#datatable-summary tbody tr {
	cursor: pointer;
}

.select2-container .select2-selection--multiple {
	box-sizing: border-box !important;
	cursor: pointer !important;
	display: block !important;
	min-height: 20px !important;
}

.page-create #commentOcd, .big-textarea {
	height: 14em;
}

textarea {
	width: 100%;
	resize: vertical;
	border: 1 px solid #ddd;
	border-radius: 4 px;
}

.note-editable {
	height: 50px;
}

#tmm-form-wizard .stage-container {
	padding: 20px 10px 4px !important;
}

.ui-datepicker-trigger-style .ui-datepicker-trigger {
	font-size: 12px !important;
	height: 20px !important;
	line-height: 1 !important;
	padding: 1px 3px !important;
}

.selct2styledate {
	font-size: 12px !important;
	height: 20px !important;
	line-height: 1 !important;
	padding: 1px 3px !important;
}

.block-module {
	background-color: #EAEAEA;
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 169px !important;
}

.titre-module {
	font-size: 22px;
	color: #000000;
}

.titre-actions {
	color: #FF0000;
}

.titre-updates {
	color: #2370B1;
}

.width-champ-table-marchandise {
	width: 4em !important;
}

.yes-no-select-field
{
	width: 3em !important;
}

.class-good-field,.pickslip-field, .type-marchandise-field 
{
	width: 7em !important;
}

.width-champ-dessous-table-marchandise {
	width: 120px !important;
}

.select2-container .select2-search--inline .select2-search__field {
	margin-top: 0 !important;
}

.padding-date-filtre {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.star-favori {
	color: #cccc33;
	cursor: pointer;
}

.admin-form .adias-special-form .gui-input {
	color: #626262;
	display: inline-block;
	font-size: 12px !important;
	height: 20px !important;
	line-height: 1 !important;
	outline: medium none;
	position: relative;
	padding: 0px 2px;
	vertical-align: top;
	width: 100%;
}

.admin-form .adias-special-form .select, .admin-form .adias-special-form .select-multiple select,
	.admin-form .adias-special-form .select>select {
	color: #626262;
	display: inline-block;
	font-size: 12px !important;
	height: 20px !important;
	line-height: 1 !important;
	outline: medium none;
	position: relative;
	padding: 0px 2px;
	vertical-align: top;
	width: 100%;
}

.admin-form .adias-special-form  select {
	color: #626262;
	display: inline-block;
	font-size: 12px !important;
	height: 20px !important;
	line-height: 1 !important;
	outline: medium none;
	position: relative;
	padding: 0px 2px;
	vertical-align: top;
	width: 100%;
}

.admin-form .adias-special-form label {
	color: #626262;
	height: 21px !important;
	line-height: 1 !important;
	outline: medium none;
	position: relative;
	vertical-align: top;
	padding: 0px;
}

.admin-form .adias-special-form .ui-datepicker-trigger-style,
	.admin-form .adias-special-form .ui-datepicker-trigger {
	font-size: 11px !important;
	height: 20px !important;
	line-height: 1 !important;
	padding-left: 22px;
}
/*
.admin-form .adias-special-form .select .arrow {
    color: #9f9f9f;
    height: 12px;
    pointer-events: none;
    position: absolute;
    right: 4px;
    top: 6px;
    width: 22px;
    z-index: 100;
}

.admin-form .adias-special-form .select .arrow::after, .admin-form .adias-special-form .select .arrow::before {
    content: "";
    font: 8px "Consolas",monospace;
    left: 5px;
    pointer-events: none;
    position: absolute;
}


.admin-form .adias-special-form .select .double::before {
    bottom: -1px;
    content: "▼";
}
.admin-form  .adias-special-form .select .double::after {
    content: "▲";
    top: -1px;
}
*/
.ui-autocomplete {
	max-height: 150px;
	overflow-y: scroll;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}

.btn-glyphicon-adias { padding:8px; background:#ffffff; margin-right:4px; }
.icon-btn-adias { padding: 1px 15px 3px 2px; border-radius:50px;}

/* Override autofill backgroud color */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.label-on-going-consolidation {
    background-color: #B6B1B1;
}
.label-archived {
    background-color: #B6B1B1;
}
.label-waiting-for-carrier-confirmation{
	background-color: #f0f01d;
	color: rgb(107, 107, 107);
}
.label-ok-for-payment{
	background-color:#0000FF;
}
.label-nok-waiting-for-ct-confirmation{
	background-color:#E71E1E;	
}
.label-nok-waiting-for-carrier-confirmation{
	background-color:#E71E1E;	
}
.label-ok-Waiting-for-inv-number-and-date{
	background-color:#76DB76;
}
.label-ok-waiting-for-OCD-finance{
	background-color:#76DB76;
}
.label-OK-WAITING-FOR-CARRIER-CONFIRMATION-CREDIT-NOTE-TO-BE-ISSUED{
	background-color:#76DB76;
}
.label-WAITING-FOR-CARRIER-INPUTS{
	background-color:#f0f01d;
	color: rgb(107, 107, 107);
}
.label-WAITING-FOR-CT-INPUTS{
	background-color: #f0f01d;
	color: rgb(107, 107, 107);
}
.label-CREDIT-NOTE{
	background-color:#FFC000;
	color: rgb(107, 107, 107);
}
.label-OK-WAITING-FOR-OCD-FINANCE-CREDIT-NOTE-TO-BE-ISSUED{
	background-color:#76DB76;
}

.credit-note-shortcut{
	background-color:#FFC000;
	color: rgb(107, 107, 107);
}

.truncate{ 
display: inline-block;
/* max-width: 130px; */
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;"
}

div.ColVis{;}
ul.ColVis_collection
{ 
	width: 650px;
	column-count: 3; 
	background-color: rgba(238, 238, 238, 0.90) !important;
}

ul.ColVis_collection li{
	height: 30px;
}

.table-striped > tbody > tr.deleted:nth-child(2n+1) > td
{
  background-color:rgba(128, 128, 128, 0.38) !important; 
}

.table-striped > tbody > tr.deleted > td
{
  background-color:rgba(128, 128, 128, 0.38) !important; 
}

.table-striped > tbody > tr.datatableBorder > td
{
	border-collapse: collapse;
	border-top : 1.5px solid black !important;
	border-bottom : 1.5px solid black !important;
}

.ui-datepicker td span, .ui-datepicker td a{
color: #404040;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  
table.dataTable thead .sorting2 {
  background: url('../vendor/plugins/datatables/media/images/sort_both2.png') no-repeat center right;
  background-size: 9px 11px;
  background-position: 95%;
  cursor: pointer
}
table.dataTable thead .sorting_asc2 {
  background: url('../vendor/plugins/datatables/media/images/sort_asc2.png') no-repeat center right;
  background-size: 9px 8px;
  background-position: 95%;
  cursor: pointer
}
table.dataTable thead .sorting_desc2 {
  background: url('../vendor/plugins/datatables/media/images/sort_desc2.png') no-repeat center right;
  background-size: 9px 8px;
  background-position: 95%;
  cursor: pointer
}

.status-summary{
	padding-left: 30px;
} 

.table-striped > tbody > tr.blueColor:nth-child(2n+1) > td
{
  background-color:rgba(52, 152, 219, 0.44) !important; 
}

.table-striped > tbody > tr.blueColor > td
{
  background-color:rgba(52, 152, 219, 0.44) !important;  
}

.table-striped > tbody > tr > td.blueColor
{
  background-color:rgba(52, 152, 219, 0.44) !important;  
}

.label-PreInv{
	background-color:#67971A;
}
.label-ManualInvCtrl{
	background-color:#FF0000;
}
.label-AutomatiqueInvCtrl{
	background-color:#676CFB;
}
.label-Simul{
	background-color:#666666;
}

.ui-highlight .ui-state-default
{
	background-color: #3f7fd4 !important;
	border-color: #3f7fd4  !important;
	color: white !important;
}

.label-INCIDENT_SUBMISSON{
	background-color: #cf2f44 !important; 
	color: #fff !important
}

.label-CLAIM_PROCEDURE{
	background-color: #1A466F !important;
	color: #fff !important
}

.label-STATEMENT_PROCEDURE{
	background-color: #FFD561 !important;
	color: #fff !important
}

.label-INCIDENT_CLOSED{
	background-color: #000000 !important;
	color: #fff !important
}

.label-INCIDENT_VALIDATION{
	background-color: #cf2f44 !important;
	color: #fff !important
}

.label-INCIDENT_ANALYSIS{
	background-color: #cf2f44 !important;
	color: #fff !important
}

.ui-highlight-blue-clear .ui-state-default
{
	background-color: rgba(63, 127, 212, 0.45) !important;
	border-color: rgba(63, 127, 212, 0.45)  !important;
	color: white !important;
}