  .checkout-bar li.final::after {
    background-color: #8bc53f;
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-size: 35px 35px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    content: "";
    height: 15px;
    left: 50%;
    position: absolute;
    top: -50px;
    width: 64%;
    z-index: 0;
    border-radius: 15px;
      	margin-top: 20px;
    
}

ul.checkout-bar li.final::before {
    background: #8bc53f none repeat scroll 0 0;
    z-index: 99999;
    
}
ul.checkout-bar {
    width: 89%;
}
ul.checkout-bar li::before {
    height: 45px;
    left: 36%;
    line-height: 45px;
    position: absolute;
    top: -65px;
    width: 45px;
    z-index: 99;
}
  .checkout-bar li.final2::after {
    background-color: #57aed1;
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-size: 35px 35px;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    content: "";
    height: 15px;
    left: 50%;
    position: absolute;
    top: -50px;
    width: 64%;
    z-index: 0;
    border-radius: 15px;
      	margin-top: 20px;
    
}
ul.checkout-bar li.final {
    color: #8bc53f;
    font-weight: bold;
}
ul.checkout-bar li.final2 {
    color: #57aed1;
    font-weight: bold;
}
.time-remaining {
	bottom: 0;
    height: 11em;
    position: absolute;
    right: 0px;
    top: 0;
    width: 18em;
}

.time-remaining .ct-header-title {
	font-size: 0.9em;
}

.time-remaining .ct-header-items .ct-header-item {
	width: 33%;
	font-size: 0.7em;
}

.time-remaining .ct-body-items {
	font-size: 1.3em;
}

.time-remaining .ct-body-items .ct-body-item {
	width: 33%;
}

