@
-webkit-keyframes myanimation {from { left:0%;
	
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

to {
	left: 50%;
}

}
h1 {
	text-align: center;
	font-family: 'PT Sans Caption', sans-serif;
	font-weight: 400;
	font-size: 20px;
	padding: 20px 0;
	color: #777;
}

.checkout-wrap {
	color: #444;
	font-family: 'PT Sans Caption', sans-serif;
	margin: 40px auto;
	max-width: 1200px;
	position: relative;
}

ul.checkout-bar li {
	color: #ccc;
	display: block;
	font-size: 13px;
	font-weight: 600;
	padding: 14px 20px 14px 80px;
	position: relative;
}

ul.checkout-bar li:before {
	-webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
	box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
	background: #ddd;
	border: 2px solid #FFF;
	border-radius: 50%;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	left: 20px;
	line-height: 37px;
	height: 35px;
	position: absolute;
	text-align: center;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
	top: 4px;
	width: 35px;
	z-index: 999;
}

ul.checkout-bar li.danger:before {
	-webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
	box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
	background: #df5640;
	border: 2px solid #FFF;
	border-radius: 50%;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 45px;
	height: 45px;
	position: absolute;
	text-align: center;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
	z-index: 999;
}

ul.checkout-bar li.success {
	background: #ddd!imprtant;
	color: #70ca63 !important;
}

ul.checkout-bar li.danger {
	color: #df5640;
	font-weight: bold;
}

ul.checkout-bar li.success:before {
	background: #70ca63;
	z-index: 1;
}

ul.checkout-bar li.visited {
	background: #ECECEC;
	color: #DF5640;
	z-index: 0;
}

ul.checkout-bar li.visited:before {
	background: #DF5640;
	z-index: 99999;
}

ul.checkout-bar li:nth-child(1):before {
	content: "1";
	margin-top: 20px;
}

ul.checkout-bar li:nth-child(2):before {
	content: "2";
	margin-top: 20px;
}

ul.checkout-bar li:nth-child(3):before {
	content: "3";
	margin-top: 20px;
}

ul.checkout-bar li:nth-child(4):before {
	content: "4";
	margin-top: 20px;
}

ul.checkout-bar li:nth-child(5):before {
	content: "5";
	margin-top: 20px;
}

ul.checkout-bar li:nth-child(6):before {
	content: "6";
	margin-top: 20px;
}

ul.checkout-bar a {
	color: #DF5640;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
}

@media all and (min-width: 800px) {
	.checkout-bar li.success:after {
		margin-top: 20px;
		-webkit-animation: myanimation 3s 0;
		background-size: 35px 35px;
		background-color: #70ca63;
		background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2)
			25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%,
			rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
		background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2)
			25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%,
			rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
		-webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
		box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
		content: "";
		height: 15px;
		width: 100%;
		left: 50%;
		position: absolute;
		top: -50px;
		z-index: 0;
	}
	.checkout-wrap {
		margin: 80px auto;
	}
	ul.checkout-bar {
		-webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
		box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
		background-size: 35px 35px;
		background-color: #EcEcEc;
		background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.4)
			25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%,
			rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
		background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.4)
			25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%,
			rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
		border-radius: 15px;
		height: 15px;
		margin: 0 auto;
		padding: 0;
		position: absolute;
		width: 91%;
	}
	ul.checkout-bar:before {
		background-size: 35px 35px;
		background-color: #70ca63;
		background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2)
			25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%,
			rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
		background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2)
			25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%,
			rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
		-webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
		box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
		border-radius: 15px;
		content: " ";
		height: 15px;
		left: 0;
		position: absolute;
		width: 10%;
	}
	ul.checkout-bar li {
		display: inline-table;
		margin: 30px 0 0;
		padding: 0;
		text-align: center;
		width: 19%;
		color: #ddd;
	}
	ul.checkout-bar li:before {
		height: 45px;
		left: 34%;
		line-height: 45px;
		position: absolute;
		top: -65px;
		width: 45px;
		z-index: 99;
	}
	ul.checkout-bar li.visited {
		background: none;
	}
	ul.checkout-bar li.visited:after {
		margin-top: 20px;
		background-size: 35px 35px;
		background-color: #DF5640;
		background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2)
			25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%,
			rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
		background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2)
			25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%,
			rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
		-webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
		box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
		content: "";
		height: 15px;
		left: 50%;
		position: absolute;
		top: -50px;
		width: 100%;
		z-index: 0;
	}
}