<div>
	<div *ngIf="title != null" class="modal-header">
		<h4 class="modal-title">{{ title }}</h4>
		<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss(0)">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>{{ message }}</p>
		<div class="row">
			<div class="form-group col-md-6">
				<div class="input-group">
					<input
						class=" date-picker-input"
						placeholder="Start date"
						ngbDatepicker
						#dd="ngbDatepicker"
						[(ngModel)]="dateDeb"
					/>
					<button class="input-group-addon" (click)="dd.toggle()" type="button">
						<span class="fa fa-calendar"></span>
					</button>
				</div>
			</div>
			<div class="form-group col-md-6">
				<div class="input-group">
					<input
						class=" date-picker-input"
						placeholder="End date"
						ngbDatepicker
						#df="ngbDatepicker"
						[(ngModel)]="dateFin"
					/>
					<button class="input-group-addon" (click)="df.toggle()" type="button">
						<span class="fa fa-calendar"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" (click)="activeModal.dismiss(0)">Cancel</button>
		<button type="button" class="btn btn-primary" (click)="saveInput()">Confirm</button>
	</div>
</div>
