<div
	id="details-id"
	class="content_wrapper"
	*ngIf="
		userConnected != null &&
		userConnected.ebUserNum != null &&
		ebDemande != null &&
		ebDemande.ebDemandeNum != null
	"
>
	<!-- <div id="step-cotation-id" *ngIf="!isPrestataire || ebDemande.exEbDemandeTransporteur != null && ebDemande.exEbDemandeTransporteur.xTransporteur == userConnected.ebUserNum && ebDemande.exEbDemandeTransporteur.status == CarrierStatus.FINAL_CHOICE"> -->
	<div id="step-cotation-id">
		<app-step-cotation
			[hasContributionAccess]="hasContributionAccess"
			[ebDemande]="ebDemande"
			[module]="module"
			[userConnected]="userConnected"
		></app-step-cotation>
	</div>
	<app-shipping-information
		id="shippinginfo-id"
		#shippingInformation
		[showAddressWrapper]="showAddressWrapper"
		[hasContributionAccess]="hasContributionAccess"
		[module]="module"
		[ebDemande]="ebDemande"
		*ngIf="canShowShippingInformations"
		[userConnected]="userConnected"
		(updateChatEmitter)="updateChatEmitter($event)"
		(onListTransporteurLoaded)="onListTransporteurLoadedHandler($event)"
	></app-shipping-information>

	<app-goods-information
		[module]="module"
		[modeTransport]="modeTransport"
		[ebDemande]="ebDemande"
		[unitInfos]="unitInfos"
		[userConnected]="userConnected"
	></app-goods-information>
	<!--
    <app-collapsible-panel title="{{'PRICING_BOOKING.QUOTATION'|translate}}" *ngIf="!isBroker && showBlockCotation() && ebDemande.exEbDemandeTransporteur">
        <app-cotation [hasContributionAccess]="hasContributionAccess" (updateCarrierChoiceEmitter)="updateCarrierChoiceHandler()" (updateChatEmitter)="updateChatEmitter($event)" [exEbDemandeTransporteur]="ebDemande.exEbDemandeTransporteur" [module]="module" [ebDemande]="ebDemande" [userConnected]="userConnected"></app-cotation>
    </app-collapsible-panel>
     -->
	<app-collapsible-panel
		title="{{ 'PRICING_BOOKING.QUOTATION' | translate }}"
		*ngIf="canShowCarrierChoice"
	>
		<app-carrier-choice
			[listTransporteur]="listTransporteur"
			[hasContributionAccess]="hasContributionAccess"
			(updateCarrierChoiceEmitter)="updateCarrierChoiceHandler()"
			[module]="module"
			[ebDemande]="ebDemande"
			[userConnected]="userConnected"
		></app-carrier-choice>
	</app-collapsible-panel>

	<app-collapsible-panel
		*ngIf="canShowTransportInfos"
		title="{{ 'INFORMATION ABOUT TRANSPORT' | translate }}"
	>
		<app-transport-information
			(updateChatEmitter)="updateChatEmitter($event)"
			[module]="module"
			[ebDemande]="ebDemande"
			[userConnected]="userConnected"
			[hasContributionAccess]="
				hasContributionAccess &&
				(this.ebDemande.xEbTransporteurEtablissementNum ==
					userConnected.ebEtablissement.ebEtablissementNum ||
					userConnected.role != UserRole.PRESTATAIRE)
			"
		></app-transport-information>
	</app-collapsible-panel>

	<!-- <app-customs-information *ngIf="module == Modules.TRANSPORT_MANAGEMENT && ebDemande.ebDemandeNum && (ebDemande.xEcTypeCustomBroker && (ebDemande.xEcTypeCustomBroker != TypeCustomsBroker.NOT_APPLICABLE || ebDemande.xEcBroker && ebDemande.xEcBroker.ebUserNum) || ebDemande.flagRequestCustomsBroker)" (updateChatEmitter)="updateChatEmitter($event)" [module]="module" [ebDemande]="ebDemande" [userConnected]="userConnected" [hasContributionAccess]="hasContributionAccess && (isBroker || (ebDemande.xEcTypeCustomBroker == TypeCustomsBroker.CARRIE && isPrestataire) || isControlTower || (ebDemande.xEcBroker && ebDemande.xEcBroker.ebUserNum == userConnected.ebUserNum))"></app-customs-information> -->

	<app-collapsible-panel
		title="{{ 'PRICING_BOOKING.DOCUMENTS' | translate }}"
		*ngIf="canShowDocuments"
	>
		<app-documents
			(updateChatEmitter)="updateChatEmitter($event)"
			[ebDemandeNum]="ebDemande.ebDemandeNum"
		></app-documents>
	</app-collapsible-panel>

	<app-collapsible-panel
		title="{{ 'PRICING_BOOKING.CHAT' | translate }}"
		*ngIf="
			module == Modules.TRANSPORT_MANAGEMENT && ebDemande != null && ebDemande.ebDemandeNum != null
		"
	>
		<app-chat-panel
			[nbColTexteditor]="nbColTexteditor"
			[nbColListing]="nbColListing"
			[idChatComponent]="IDChatComponent.TRANSPORT_MANAGEMENT"
			[user]="userConnected"
			[module]="module"
			[idFiche]="ebDemande.ebDemandeNum"
			[dataSource]="Statique.controllerStatiqueListe + '/listChat'"
			[dataInsertion]="Statique.controllerStatiqueListe + '/addChat'"
			#chatPanelTransportComponent
		></app-chat-panel>
	</app-collapsible-panel>
	<app-collapsible-panel
		title="{{ 'PRICING_BOOKING.CHAT' | translate }}"
		*ngIf="
			module == Modules.PRICING &&
			ebDemande != null &&
			ebDemande.ebDemandeNum != null &&
			!isPrestataire
		"
	>
		<app-chat-panel
			[nbColTexteditor]="nbColTexteditor"
			[nbColListing]="nbColListing"
			[idChatComponent]="IDChatComponent.PRICING"
			[user]="userConnected"
			[module]="module"
			[idFiche]="ebDemande.ebDemandeNum"
			[dataSource]="Statique.controllerStatiqueListe + '/listChat'"
			[dataInsertion]="Statique.controllerStatiqueListe + '/addChat'"
			#chatPanelPricingComponent
		></app-chat-panel>
	</app-collapsible-panel>
</div>

<div
	*ngIf="modalExportPdfVisible"
	class="modal modal-backdrop"
	tabindex="-1"
	role="dialog"
	style="display:block!important"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div>
				<form role="form" #EventForm="ngForm" novalidate>
					<div class="modal-header">Export PDF</div>
					<div class="modal-body overflow-visible" style="width: 100%;">
						<div class="row">
							<div class="col-md-12">
								<app-doc-template-gen-details #cmpTemplateGen></app-doc-template-gen-details>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a (click)="modalExportPdfConfirm($event)">
							<button class="btn btn-primary pull-right btn-sm mr5 modal_yes_btn">
								{{ "GENERAL.CONFIRM" | translate }}
							</button>
						</a>
						<a (click)="modalExportPdfVisible = false">
							<button class="btn btn-danger pull-right btn-sm mr5 modal_no_btn">
								{{ "GENERAL.CANCEL" | translate }}
							</button>
						</a>
						<!-- <a (click)="modalExportPdfVisible = false; exportShippingInformation()">
              <button class="btn btn-secondary pull-right btn-sm mr5">Export classique</button>
            </a> -->
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
