// @charset "utf-8";
/* autoprefixer grid: autoplace */

/******** VARIABLES ********/
@import "styles/variables";
@import "./assets/theming/themes/variables";

/******** Mixins & Generated classes ********/
@import "styles/components/padding-loop-generated";
@import "styles/components/border-loop-generated";
@import "styles/components/margin-loop-generated";
@import "styles/components/height-width-loop-generated";
@import "styles/components/flex-grow-loop-generated";
@import "styles/components/font-size-loop-generated";
@import "styles/components/color-bg-classes.scss";

/******** Components ********/
@import "styles/components/tables";
@import "styles/components/form/form.scss";
@import "styles/components/mixins/breakpoints";
@import "styles/components/form/inputs";

// ----------------------------------------------------------------------
// Font sizes
// ----------------------------------------------------------------------
.fz-xs {
	font-size: $fz-xs;
}
.fz-sm {
	font-size: $fz-sm;
}
.fz-base {
	font-size: $fz-base;
}
.fz-md {
	font-size: $fz-md;
}
.fz-lg {
	font-size: $fz-lg;
}
.fz-xl {
	font-size: $fz-xl;
}

//TODO SORT BELOW

.padding-4-10 {
	padding: 4px 10px;
}

.padding-0 {
	padding: 0 !important;
}
.bg-transparent {
	background: transparent !important;
}

.height-100-percent {
	height: 100%;
}

:focus {
	outline: none;
}

hr.rule {
	width: 100%;
	border-color: #eef8ff;
}

.border-0 {
	border: none !important;
}
/* margins */

/*margin highly used*/

.margin-0 {
	margin: 0px;
}

.margin-0-important {
	margin: 0px !important;
}

.no-margin-lr {
	margin-right: 0px !important;
	margin-left: 0px !important;
}

/*margin END*/

.truncate {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-top: 0;
	margin-bottom: 5px;
}

.truncate-50 {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 50px;
}

/*** Flexbox **/
.flex {
	display: flex;
}
/*** END Flexbox **/

.loader-wrapper {
	display: flex;
	justify-content: center;
}

[class*="width-auto"] {
	width: auto;
	&[class*="-important"] {
		width: auto !important;
	}
}

/*** font size classes END ***/

/****************************/

.fixein-bottom {
	/* position: absolute; */
	bottom: 0;
	width: 100%;
}

.overflow-visible {
	overflow: visible !important;
}

.textarea-full-width {
	width: 100% !important;
}

.invisible {
	visibility: hidden;
}

body,
html {
	height: 100%;
	font-size: $fz-base;
}
body {
	/* font-size: 13px !important; */
	font-weight: 400 !important;
	line-height: 1.49 !important;
	color: $gray-dark !important;
	background: $gray-background;
	//overflow-x: hidden;
	overflow: hidden;
	a {
		color: #000;
		&:hover {
			color: #000;
		}
	}
}

a {
	color: #000;
}

.panel-body {
	padding: 0px;
}

.tab-content .panel-body {
	padding: 0 !important;
	background: $white;
}

.tab-content .tab-pane {
	padding: 0;
}

/*
#ngb-tab-4-panel {
    background-color: #e4e2e2;
} */

#mycommunity-panel {
	padding: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-weight: 600 !important;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
	clear: both;
}

.fieldset {
	margin: 0 !important;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.legend {
	background-color: $primary-color;
	color: $white !important;
	margin: 0;
	display: block;
	width: auto;
	text-align: left;
	padding: 4px 8px !important;
	border-radius: 4px;
	margin-bottom: -2px;
	font-size: $fz-sm;
	z-index: 10;
	cursor: pointer;
	border: 1px solid $primary-color !important;
}

.visible {
	opacity: 1 !important;
	visibility: visible !important;
}

.invisible {
	opacity: 0 !important;
	visibility: hidden !important;
}

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after,
#topbar:before,
#topbar:after {
	content: " ";
	display: table;
}

.modal-title {
	display: inline-block;
}

.col-md-6 {
	float: left !important;
}

.navbar-header {
	margin-bottom: 0px !important;
	height: auto;
	color: $gray-dark;
	background-color: $white;
	border-bottom: 0;
	-webkit-box-shadow: 0 1px 0 0 $gray-medium;
	box-shadow: 0 1px 0 0 $gray-medium;
	padding: 0px !important;
	/* min-height: 75px; */
	border: 1px solid transparent;
	-webkit-box-shadow: 0 0 7px -2px $black-box-shadow;
	box-shadow: 0 0 7px -2px $black-box-shadow;
}

.navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px;
	text-align: center;
	transition: all 0.2s ease-in-out;
}

@media (min-width: 480px) {
	.navbar-fixed-top,
	.navbar-fixed-bottom {
		border-radius: 0;
	}
}

.navbar-fixed-top,
.navbar-fixed-bottom {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1001;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/*
@media (min-width: 480px) {
    .navbar-header {
        border-radius: 4px;
    }
} */

/*
.navbar-header {
    position: fixed;
    min-height: 80px;
    margin-bottom: 19px;
    border: 1px solid transparent;
    box-shadow: 0 0 7px -2px black;
} */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

.text-center {
	text-align: center !important;
}

.text-left {
	text-align: left !important;
}

.transition-all-6 {
	-webkit-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.navb {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

.navbar-left {
	float: left;
	position: relative;
	max-height: #{$top-bar-height};
}

.module-title-header {
	font-size: $fz-xs;
	margin-top: 0px;
	text-align: left;
	line-height: normal;
	// text-transform: uppercase !important;
	padding-left: 4px !important;
	padding-right: 0 !important;
}

img.module-image {
	height: 23px !important;
	/* margin-top: -15px !important; */
	padding: 0px !important;
}

.navbar-header .navb > li > a,
.navbar-header .navb > span > a {
	color: $gray-dark;
	font-size: $fz-xs;
	// font-weight: 600;
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar-header .navb > li > a.mytower-logo {
	height: 59px;
	max-height: 59px;
	width: 100%;
	margin-left: -12px;
}

.navbar-header .module-menu-item a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.navbar-header .navb > li {
	float: none;
	padding: 0;
}

.navbar-header .navbar-right > li,
.navbar-header .navbar-left > li {
	width: 100%;
}

/* .navbar-header .navbar-right>li {
    float: right;
} */

.navb > li {
	position: relative;
	display: block;
}

.navb > li > a {
	position: relative;
	display: block;
	padding: 0;
}

.navbar-right {
	float: right;
	text-align: center;
}

.pricing-menu {
	height: 0;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 45px;
	background: #ae100b;
	color: $white;
	text-align: left;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.pricing-menu__wrapper {
	position: relative;
	padding: 8px;
}

.pricing-menu__wrapper > div {
	padding: 5px;
}

.pricing-menu__wrapper:before {
	content: "";
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	top: -9px;
	width: 0;
	height: 0;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid #ae110c;
	clear: both;
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.pricing-menu__wrapper > div i {
	padding-right: 4px;
}

.pricing-menu__wrapper > div:first-child {
	border-bottom: 1px solid $white;
}

.out-pricing .pricing-menu__wrapper > div:first-child {
	border-bottom: 0px solid $white;
}

.pricing-menu--hover {
	position: relative;
}

.pricing-menu--hover:hover .pricing-menu {
	height: 126%;
	visibility: visible;
	opacity: 1;
}

.out-pricing {
	height: 76% !important;
}

.sidebar-menu > li {
	padding: 7px 0;
}

.sidebar-menu > li {
	margin: 0;
}

.sidebar-menu > li > a {
	color: $white;
}

.sidebar-menu > li > a {
	padding: 0;
	line-height: 18px;
	height: auto;
	overflow: hidden;
	padding: 2px 0;
}

.closed .sidebar-menu > li > a {
	height: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sidebar-menu > li > a > span:nth-child(1) {
	float: left;
	top: 0;
	line-height: 20px;
	width: auto;
	font-size: $fz-sm;
	text-align: center;
	padding-left: 4px;
}
.closed .sidebar-menu > li > a > span:nth-child(1) {
	line-height: 28px;
}

#sidebar_left:not(.closed) .sidebar-menu li.active > a {
	padding-left: 5px;
}
.sidebar-menu li > a > .fa {
	color: #fff;
	font-size: 13px !important;
}

.sidebar-menu li > a > .fa-close,
.sidebar-menu li > a > .fa-bars {
	font-size: 18px !important;
	padding-left: 0 !important;
}

.sidebar-menu li.active > a > .fa {
	color: #973030;
}

.sb-l-o #sidebar_left {
	left: 0;
	overflow: hidden;
}

#sidebar_left {
	color: $white;
	font-size: $fz-sm;
	top: 0;
	width: 150px;
	height: 100%;
	padding-top: 0;
	border-right: 1px solid #e4e2e2;
	z-index: 1000;
}

.affix {
	position: fixed;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.sidebar-menu > li > a > span:nth-child(2) {
	padding-left: 5px;
	width: calc(100% - 38px);
	float: right;
}

.sidebar-menu .sidebar-label {
	color: #908885;
}

.sidebar-menu .sidebar-label {
	text-transform: uppercase;
	padding-bottom: 3px;
	font-size: $fz-sm;
}

.sidebar-menu > li > a > img {
	width: 46px;
	padding-left: 22px;
	margin-top: -8px;
}

.sidebar-menu li > a > .sidebar-title {
	color: #fff;
	font-size: $fz-sm;
	/* font-weight: 600; */
}

.sidebar-title {
	text-transform: none;
}

.liActions {
	padding: 0px !important;
	background-color: #bbc5c7;
}

a:focus,
a:hover {
	text-decoration: none !important;
}

#sidebar_left.closed {
	width: 34px !important;
	overflow: visible;
	z-index: 1000;
}

#sidebar_left {
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

/*
#sidebar_left.closed .sidebar-header, #sidebar_left.closed .sidebar-title, #sidebar_left.closed .sidebar-label, #sidebar_left.closed .sidebar-title-tray, #sidebar_left.closed .caret, #sidebar_left.closed .sidebar-proj, #sidebar_left.closed .sidebar-stat {
    display: none;
}

#sidebar_left.closed .sidebar-menu>li:hover>a+ul, #sidebar_left.closed .sidebar-menu>li:hover>a>.sidebar-title, #sidebar_left.closed .sidebar-menu>li:hover>ul .caret {
    display: block !important;
} */

#sidebar_left.closed .sidebar-menu > li > a > .sidebar-title {
	/* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
	-webkit-transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
	transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
	border: 0px solid !important;
	background-color: transparent;
	visibility: hidden;
}

/*
#sidebar_left.closed .sidebar-menu>li>a>.sidebar-title {
    position: absolute;
    left: 70px;
    top: -4px;
    width: 180px;
    height: 44px;
    line-height: 44px;
    font-size: $fz-base;
    padding-left: 15px;
    border-left: 1px solid #222;
    background-color: transparent;
} */

.sidebar-menu > li:not(.topshadow) {
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.sidebar-menu > li:not(.topshadow):hover span.fa,
.sidebar-menu > li:not(.topshadow):hover span.sidebar-title,
.sidebar-menu > li.active span.fa,
.sidebar-menu > li.active span.sidebar-title {
	color: #fff;
}
.sidebar-menu > li.active span.fa,
.sidebar-menu > li.active span.sidebar-title {
	font-weight: 600;
}
.sidebar-menu > li [class*="my-icon"],
.sidebar-menu > li span.fa-calendar,
.sidebar-menu > li span.sidebar-title {
	color: #fff;
	text-transform: capitalize;
}
.sidebar-menu > li.active [class*="my-icon"],
.sidebar-menu > li.active span.fa-calendar,
.sidebar-menu > li.active span.sidebar-title {
	color: #fff;
}
.sidebar-menu > li:not(.active):hover [class*="my-icon"],
.sidebar-menu > li:not(.active):hover span.fa-calendar,
.sidebar-menu > li:not(.active):hover span.sidebar-title {
	color: #fff;
}

/*
.liActionsLi li.active {
    background: #e3e1e1;
} */

.liActionsLi li.active .sidebar-title {
	color: #5c6670;
}

/*Corp*/

.app-padding {
	padding: $global-padding;
	padding-left: $global-padding;
	padding-right: $global-padding;
}

/* panels */

.panel {
	/* margin-bottom: 20px; */
	background-color: #efefef;
	border-left: 0px solid #ccc !important;
	border-bottom: 0px solid #ccc !important;
	border-top: 0px solid #ccc !important;
	border-right: 0px solid #ccc !important;
	border-radius: 0px !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	margin-bottom: 0;
}

.panel-advanced-search {
	border-left: 1px solid #ccc !important;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

.panel-collapsed .heading-search {
	color: #efefef !important;
	.panel-heading__title {
		opacity: 0;
		user-select: none;
		visibility: collapse;
	}
}

.heading-search {
	background-color: #5c6670 !important;
	color: $white;
	padding: 2px 22px !important;
	font-size: 17px !important;
	text-transform: uppercase;
}

.panel-heading {
	// overflow: hidden;
	position: relative;
	height: auto;
	padding: 19px 22px 18px !important;
	// padding: 2px 14px 2px 0px !important;
	border-radius: 0;
	border-top: 1px solid transparent;
	border-left: 0;
	border-right: 0;
	/* border-bottom: 1px solid #DDD; */
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.panel-controls .datatable-search {
	position: relative;
	right: 35px;
	top: -1px;
}

.panel-controls {
	float: right;
	position: relative;
	/* display: block; */
	cursor: pointer;
	padding-left: 5px;
	/* padding-right: 7px; */
	/* margin-right: -8px; */
	z-index: 2;
	/* right: 8px;  */
	right: -18px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.has-datatable .panel-controls {
	right: 8px;
}

.panel-controls {
	a,
	.genericTable-icon {
		background: transparent;
		border-radius: 4px;
		color: $primary-color;
		display: inline-block;
		font-size: $fz-base;
		font-weight: normal;
		height: 25px;
		line-height: 1.6;
		opacity: 1;
		padding-top: 1px;
		text-align: center;
		width: 25px;
		margin-right: 4px;
		-webkit-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
		.fa-spinner {
			color: $white;
		}
	}
}

.genericTable-icon {
	border: none;
	background: none;
	// float: right;
	background: $primary-color;
	border-radius: 4px;
	color: $white;
	display: inline-block;
	font-size: $fz-base;
	font-weight: normal;
	height: 25px;
	line-height: 1.6;
	opacity: 1;
	padding-top: 1px;
	text-align: center;
	width: 25px;
	margin-left: 5px;
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	&:hover {
		background: $white !important;
		color: $primary-color !important;
	}
}

.panel-controls {
	a:hover,
	.genericTable-icon:hover {
		background: transparent !important;
		color: $primary-color !important;
	}
}

// .panel-control-fullscreen:after {
//     content: "\f065";
// }
.panel-collapsed .heading-search > .panel-controls > a {
	position: relative;
	top: 5px;
	right: 5px;
	&:hover {
		background: $white !important;
		color: $primary-color !important;
	}
}

.heading-search > .panel-controls > a {
	background: transparent;
	color: $white;
	display: inline-block;
	font-size: $fz-xl;
	font-weight: normal;
	opacity: 1;
	padding-top: 1px;
	text-align: center;
	width: 25px;
	border-radius: 4px !important;
}

.form-group {
	margin-bottom: 15px !important;
}

.form-group label,
.form-group select,
.form-group input,
.div-label {
	font-size: $fz-sm;
	margin-bottom: 0px !important;
	font-weight: 400;
	color: $primary-color;
	outline: none;
}

.form-group select,
.form-group input {
	background-color: $white;
	border: 1px solid #dddddd;
	color: #555555;
	height: 25px;
	line-height: 1.49;
	padding: 0 12px;
	-webkit-transition: border-color 0.15s ease-in-out 0s;
	transition: border-color 0.15s ease-in-out 0s;
	width: 100%;
	margin-bottom: 5px;
}

.form-group input[type="radio"],
.form-group input[type="checkbox"] {
	float: left;
	width: 14px;
	vertical-align: top;
	margin-left: -18px;
	margin-bottom: 0px !important;
	height: 20px;
	margin-top: 0;
}

.form-horizontal .checkbox,
.form-horizontal .radio {
	display: inline-block;
	padding-left: 20px;
}

/* select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: linear-gradient(-45deg, transparent 50%, grey 50%), linear-gradient(45deg, grey 50%, transparent 50%), linear-gradient(to right, #F5F5F5, #F5F5F5) !important;
    background-position: calc(100% - 7px) calc(1em + -2px), calc(100% - 7px) calc(1em + -5px), 100% 0;
    background-repeat: no-repeat;
    background-size: 5px 5px, 5px 5px, 1.8em 2.5em;
} */

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: none;
	background-position: 99% 75%;
	background-repeat: no-repeat;
	background-size: auto 65%;
	transition: all 0.2s ease-in-out;
	&:hover {
		background-image: url(./assets/images/arrow-select.svg) !important;
	}
}

select:blur {
	background-image: url(./assets/images/profil.png) !important;
}

span.ng-arrow {
	border-color: #c2c2c2 transparent transparent !important;
	border-width: 7px 8px 0.5px !important;
	top: 0 !important;
	&:after {
		position: absolute;
		content: "";
		left: -8px;
		top: -9px;
		width: 0;
		height: 0;
		transform: rotate(180deg);
		clear: both;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid #ffffff;
		z-index: 99;
	}
}

[class*="bg-"] {
	&[class*="white"] {
		background: #fff;
		&[class*="-important"] {
			background: #fff !important;
		}
	}
	&[class*="transparent"] {
		background: transparent;
		&[class*="-important"] {
			background: transparent !important;
		}
	}
	&[class*="primary-color"] {
		background: $primary-color;
	}
}

.body-search {
	/* min-height: 10em; */
	border-top: 0 none;
	background-color: $white;
	padding-top: 0px;
	border: 13px solid #e2e2e2;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	padding: 0px 40px;
}

.input-group-addon {
	width: 25px !important;
	height: 25px !important;
	line-height: 25px !important;
	left: auto !important;
	right: 0px !important;
	// border-radius: 3px 0 0 3px !important;
	// border-left: 0 none !important;
	// border-right: 1px solid #ddd !important;
	cursor: pointer !important;
	position: absolute !important;
	top: 0 !important;
	color: #626262 !important;
	border: 0 !important;
	background: transparent !important;
	padding: 0px 5px !important;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s ease-in-out;
	&:hover {
		opacity: 1 !important;
		visibility: visible !important;
	}
	.fa {
		position: relative;
		top: 3px;
	}
}

.input-group {
	display: block !important;
}

.d-block {
	display: block !important;
}

.d-inline-block {
	display: inline-block !important;
}

[class*="d-flex"] {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	&[class*="-ai-c"] {
		align-items: center;
	}
	&[class*="-ai-fs"] {
		align-items: flex-start;
	}
	&[class*="-ai-fe"] {
		align-items: flex-end;
	}
	&[class*="-ai-b"] {
		align-items: baseline;
	}
	&[class*="-jc-c"] {
		justify-content: center;
	}
	&[class*="-jc-sb"] {
		justify-content: space-between;
	}
	&[class*="-jc-fs"] {
		justify-content: flex-start;
	}
	&[class*="-jc-fe"] {
		justify-content: flex-end;
	}
	&[class*="-jc-sa"] {
		justify-content: space-around;
	}
	&[class*="-w"] {
		flex-flow: row wrap;
	}
	&[class*="-no-w"] {
		flex-flow: row nowrap;
	}
}

[class*="align-self"] {
	&[class*="-c"] {
		align-self: center;
	}
	&[class*="-fs"] {
		align-self: flex-start;
	}
	&[class*="-fe"] {
		align-self: flex-end;
	}
}

[class*="justify-self"] {
	&[class*="-c"] {
		justify-self: center;
	}
	&[class*="-fs"] {
		justify-self: flex-start;
	}
	&[class*="-fe"] {
		justify-self: flex-end;
	}
}

.d-flex select.custom-select {
	padding: 2px 5px;
	font-size: $fz-sm;
	line-height: 16px;
}
.ngb-dp-day,
.ngb-dp-weekday,
.ngb-dp-week-number {
	width: 30px !important;
	height: 26px !important;
}

.justify-content-between .d-block {
	width: 11.8rem !important;
}

ngb-datepicker-navigation {
	margin-top: 5px;
}

ngb-datepicker-navigation .btn-link {
	margin-top: 5px;
	border: none !important;
	padding: 1px 9px;
}

ngb-datepicker-navigation .btn-link span {
	background: transparent;
	padding: 4px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

ngb-datepicker-navigation .btn:hover {
	// border-radius: 0px !important;
	background-color: $primary-color !important;
	border: 0 !important;
	// color: $white !important;
	// border: 0px solid $primary-color !important;
}

ngb-datepicker-navigation .btn:hover span {
	background: $primary-color;
	padding: 4px;
	border-radius: 0;
	color: $white;
}

ngb-timepicker .btn-link {
	margin-top: 5px;
	border: none !important;
	padding: 1px 9px;
}

ngb-timepicker fieldset {
	border: none !important;
	margin: initial !important;
	padding: 0 0 0 11px !important;
}

.custom-select {
	margin-top: 5px;
}

.ngb-dp-header.bg-light.pt-1.rounded-top {
	height: 5.25rem !important;
}

.bg-primary {
	color: $white;
	background-color: #337ab7 !important;
}

.btn {
	border-radius: 10px !important;
}

.panel-table {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 25px;
}

.heading-table {
	/* margin-bottom: 10px; */
	z-index: 41;
	/* padding-left: 0 !important; */
	/* margin-bottom: 10px; */
	background-color: transparent !important;
	font-weight: 600;
	margin-bottom: -4px;
	padding: 2px 18px 2px 0px !important;
	font-size: 17px !important;
	text-transform: uppercase;
	// background-color: $primary-color !important;
	color: $white;
	// padding: 2px 22px !important;
	font-size: 17px !important;
	text-transform: uppercase;
	.panel-heading__title {
		background: $primary-color;
		padding: 5px 10px;
		border-radius: 5px;
		box-shadow: 0 0 2px -1px $gray-medium;
		font-size: $fz-sm;
		font-weight: normal;
		text-transform: capitalize;
	}
}

.body-table {
	/* box-shadow: 0 0 5px 0px grey; */
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	/* border: 1px solid $primary-color; */
	background-color: $white;
	margin-bottom: 10px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	/* overflow: auto; */
	/* height: 100%; */
	border: none;
	border-top: 4px solid #018cad;
	padding-top: 15px;
	z-index: 1;
	&.border-top {
		border-top: 4px solid #018cad;
		padding-top: 15px;
	}
}
.panel-body {
	background: $white;
}

.block-currency.body-table {
	overflow: visible;
}

.full-screen {
	position: absolute;
	width: 100%;
	height: auto;
	left: 0;
	top: 0;
	/* background: rgba(51, 51, 51, 0.7); */
	-webkit-box-shadow: 0 4px 14px -5px $black-box-shadow !important;
	box-shadow: 0 4px 14px -5px $black-box-shadow !important;
	z-index: 99999;
}

.full-screen.panel-visible {
	padding: 0 !important;
	margin-bottom: 0;
}

// .full-screen .panel-control-fullscreen:after {
//     content: "\f066";
// }
@media (min-width: 768px) {
	.navbar-right {
		margin-right: 0px !important;
	}
}

.body-statut {
	padding: 15px 0px;
	margin: 0 5px;
}

.h2detailsTtile {
	margin-top: 0px;
	font-size: $fz-lg;
}

.colorBleu {
	color: $primary-color !important;
}

/*status and counter
*/

.fwb {
	font-weight: bold;
}

.fs17 {
	font-size: 17px !important;
}

.status-navbar-small {
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

.status-navbar-small > ul {
	display: table;
	width: 100%;
	text-align: center;
	margin: 0;
	font-weight: 600;
	padding: 0 0 0 10px;
	list-style: none outside none;
	table-layout: fixed;
}

.status-navbar-small > ul li {
	display: table-cell;
	width: 1%;
	position: relative;
	padding: 0 10px;
}

.status-navbar-small > ul li:after {
	content: "";
	position: absolute;
	height: 8px;
	width: 100%;
	background-color: #efefef;
	top: -37px;
}

.status-navbar-small > ul li:after {
	left: -5px;
}

.status-navbar-small > ul li div.step-text {
	margin-top: -10px;
	line-height: 1.2;
	color: #a2a2a2;
	font-size: $fz-base;
	background-color: transparent;
}

.status-navbar-small > ul li div.step-text2 {
	margin-top: -10px;
	line-height: 1.2;
	color: #a2a2a2;
	font-size: $fz-base;
	background-color: transparent;
}

.status-navbar-small > ul li span.step-number {
	background-color: #efefef;
	border-radius: 50%;
	color: #898b8f;
	display: block;
	height: 35px;
	left: 50%;
	/* border: 1px solid; */
	line-height: 35px;
	margin-left: -20px;
	margin-top: -50px;
	position: absolute;
	text-align: center;
	transition: all 300ms ease-in-out 0s;
	-webkit-transition: all 300ms ease-in-out 0s;
	-o-transition: all 300ms ease-in-out 0s;
	-moz-transition: all 300ms ease-in-out 0s;
	width: 35px;
	z-index: 5;
}

/* .status-navbar-small>ul li.completed span.step-number {
    background-color: $primary-color;
    color: $white ;
    border: 0px solid;
} */

@-webkit-keyframes progress-bar-stripes {
	0% {
		background-position-x: 40px;
	}
	100% {
		background-position-x: 260px;
	}
}

@keyframes progress-bar-stripes {
	0% {
		background-position-x: 40px;
	}
	100% {
		background-position-x: 260px;
	}
}

@-webkit-keyframes progress-bar-numbers {
	0% {
		background-position-x: 0px;
	}
	100% {
		background-position-x: 350px;
	}
}

@keyframes progress-bar-numbers {
	0% {
		background-position-x: 0px;
	}
	100% {
		background-position-x: 350px;
	}
}

/* linear-gradient(90deg, #009cbf, #00728c, #009cbf) */

.status-navbar-small > ul li.completed span.step-number {
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		from(rgb(1, 141, 173)),
		color-stop(40%, rgb(129, 177, 206)),
		to(rgb(1, 141, 173))
	);
	background: linear-gradient(90deg, rgb(1, 141, 173), rgb(129, 177, 206) 40%, rgb(1, 141, 173));
	background-size: 210px;
	/* animation: 2.5s linear normal none infinite progress-bar-numbers; */
	border: 0px solid;
}

.status-navbar-small > ul li.completed:before,
.status-navbar-small > ul li.completed:after {
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		from(rgb(1, 141, 173)),
		color-stop(40%, rgb(129, 177, 206)),
		to(rgb(1, 141, 173))
	);
	background: linear-gradient(90deg, rgb(1, 141, 173), rgb(129, 177, 206) 40%, rgb(1, 141, 173));
	background-size: 190px;
	-webkit-animation: 2s linear normal none infinite progress-bar-stripes;
	animation: 2s linear normal none infinite progress-bar-stripes;
}

.status-navbar-small > ul li.completed div.step-text {
	color: $primary-color;
}

.calender-counter {
	color: #000;
	font-size: 1.2vw;
	padding-left: 25%;
	padding-right: 25%;
	margin-bottom: 0;
	padding-top: 10px;
	display: inline-table;
}

.countd-md {
	background: rgba(0, 0, 0, 0) -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(#c8d0d2),
			color-stop(66%, #c8d0d2),
			color-stop(67%, #000),
			color-stop(50%, white),
			to(white)
		) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0)
		linear-gradient(to bottom, #c8d0d2 0%, #c8d0d2 66%, #000 67%, white 50%, white 100%) repeat
		scroll 0 0;
	border: 2px solid;
	border-radius: 3px;
	padding: 0 !important;
	width: 30% !important;
	font-size: $fz-xs;
	margin-left: 3%;
}

#countdown {
	margin-top: 0px;
	padding-left: 10%;
	padding-right: 10%;
}

.acircle {
	color: $primary-color !important;
	/* background: $primary-color !important; */
	border-radius: 50%;
}

.ct-header {
	line-height: 2.1em !important;
}

.bordered-right {
	border-right: 1px solid;
}

.bordered-bottom {
	border-bottom: 1px solid $gray-light;
}

.styled-tabs .nav-tabs {
	/* margin-bottom: 10px; */
	background-color: #efefef;
	color: $white;
	font-size: $fz-sm;
	border-bottom: 4px solid $primary-color;
	text-transform: uppercase;
}

.styled-tabs .nav-tabs > li > a:hover {
	border-color: $primary-color !important;
}

.styled-tabs .nav-item:not(:last-child) .nav-link:not(.active),
.styled-tabs .nav-link.active {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 14px 8px;
	line-height: 0px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.styled-tabs .nav-item:not(:last-child) .nav-link:not(.active) {
	color: $white;
	cursor: pointer;
	background: #969ca2;
	font-size: $fz-sm;
}

.first-tab > ul > .nav-item > .nav-link:not(.active) {
	padding: 12px 6px !important;
	margin-top: 4px;
}

.styled-tabs .nav-item:not(:last-child) .nav-link:not(.active):hover {
	background-color: $primary-color;
	color: $white;
}

.styled-tabs .nav-link.active {
	background-color: $primary-color;
	color: $white;
}

.nav-item:not(:last-child) > .nav-link:hover,
.nav-item:not(:last-child) > .nav-link:focus {
	// background-color: $primary-color;
	// color: $white ;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.styled-tabs .nav-tabs > li {
	margin-right: 5px;
	margin-bottom: 0px !important;
}

.styled-tabs .tab-content {
	/* border: 1px solid $primary-color; */
	border-top: 0;
	/* padding: 10px; */
	background-color: #efefef;
}

.styled-tabs .nav-item:last-child {
	float: right;
	pointer-events: none;
}

// .styled-tabs .nav>li:last-child>a:focus,
// .nav>li:last-child>a:hover {
//     background-color: $white ;
// }

.styled-tabs .nav-tabs > li:last-child > a:hover {
	border-color: $white !important;
}

.styled-tabs .nav-tabs > li:last-child {
	pointer-events: none;
}

.styled-tabs .nav-item .panel-controls > a {
	background: $primary-color none repeat scroll 0 0;
	border-radius: 15px;
	color: $white;
	display: inline-block;
	font-size: $fz-base;
	font-weight: normal;
	opacity: 1;
	padding-top: 1px;
	text-align: center;
	width: 25px;
}

.styled-tabs .nav-item .panel-controls {
	margin-top: -5px;
	pointer-events: all;
}

.acircle-custom {
	padding: 3px 6px 5px 6px;
}

.backup-email {
	margin-top: 8px;
	margin-bottom: 0px !important;
}

.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.for-equaling__height .collapsible-panel {
	height: 100%;
	overflow: hidden;
}

.new-pricing-wrapper .row-eq-height {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

.row-eq-height-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

@media only screen and (max-width: 992px) {
	.row-eq-height-responsive {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
	}
}

.col-md-20percent {
	width: 20% !important;
}

.border-right-ddd {
	/* width: 20% !important; */
	border-right: 1px solid #ddd;
}

.border-right-ddd:last-child {
	border-right: 0px solid #ddd;
}

@media only screen and (min-width: 992px) {
	.width-20-percent {
		width: 20% !important;
	}
	.width-100-percent {
		width: 100% !important;
	}
}
.width-100-percent {
	width: 100% !important;
}
.height-0 {
	height: 0;
}
.col-33-percent {
	width: 33.33% !important;
}

.border-right_gray {
	border-right: 1px solid #ddd;
}

fieldset {
	border: none;
	// border-top: 1px solid #ddd !important;
	padding-top: 5px !important;
	padding: 0 !important;
	min-width: 0 !important;
	margin: 0 2px !important;
}

fieldset legend {
	background: $white none repeat scroll 0 0;
	color: $primary-color;
	width: auto;
	text-align: left;
	padding: 2px 10px;
	margin-bottom: 0px;
	font-size: $fz-sm;
	cursor: pointer;
	border-width: 0;
}

.h4,
h4 {
	font-size: $fz-base;
}

.col-md-1-2 {
	width: 9.333% !important;
}

.nofieldset {
	border-width: 0px medium medium !important;
	padding-top: 0px;
	min-width: 100px !important;
}

.btn-picky {
	padding-left: 11px !important;
	padding-right: 11px !important;
	color: #808080 !important;
	height: 25px !important;
	background-color: #f5f5f5 !important;
	border-radius: 0px !important;
	font-size: $fz-xs;
	padding-top: 4px !important;
	margin-left: 0px !important;
	border: 1px solid transparent !important;
	border-color: rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.18) !important;
}

.border-left-0 {
	border-left: 0px solid transparent !important;
}

.border-right-0 {
	border-right: 0px solid transparent !important;
}

.margin-left-negative-4-important {
	margin-left: -4px !important;
}

.margin-left-negative-2-important {
	margin-left: -2px !important;
}

.panel-comment {
	border: 1px solid #e2e2e2 !important;
	border-color: $primary-color !important;
}

.comment-collapse {
	background: $primary-color !important;
	color: $white !important;
	margin-right: 7px !important;
	margin-top: 7px !important;
}

/* .comment-text-area {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    width: 100%;
    height: 130px;
    border: 0px
} */

.comment-text-area {
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	width: 100%;
	height: 100px !important;
}

/* ng select */

.ng-select {
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 4px !important;
	border: 1px solid #ddd;
	background: $white;
}

.ng-select.opened {
	border-radius: 4px;
	-webkit-box-shadow: 0 0 12px -2px #00a7ce;
	box-shadow: 0 0 12px -2px #00a7ce;
}

.ng-select .ng-control {
	height: auto;
	border-radius: 4px !important;
	border: 0px solid #ccc !important;
	min-height: 25px !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.ng-select .ng-select-container {
	border: none !important;
}

.ng-select-container,
.ng-value-container {
	min-height: 24px !important;
	height: auto !important;
}

.matrix > .ng-select {
	border-radius: 4px !important;
}

ngb-datepicker .btn-light {
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

ngb-datepicker .btn-light:hover {
	background-color: #337ab7 !important;
	color: $white;
}

.matrix > .ng-select .ng-control {
	border: 1px solid #ccc !important;
}

/* tableau*/

.static-table-wrapper {
	overflow: auto;
}

table .form-control {
	padding: 0px 12px;
	line-height: 14px;
	height: 25px;
}

input,
select {
	color: $primary-color !important;
}

textarea {
	resize: vertical;
}

.text-left {
	text-align: left !important;
}

.text-italic {
	font-style: italic !important;
}
.bold {
	font-weight: 600;
}
.paginate_button {
	padding: 1px 9px !important;
	position: relative !important;
	float: left !important;
	line-height: 1.49 !important;
	text-decoration: none !important;
	color: #3498db !important;
	background-color: $white !important;
	border: 1px solid #dddddd !important;
	margin-left: -1px !important;
}

.paginate_button {
	cursor: pointer;
	border: 1px solid #dddddd !important;
	color: #333333 !important;
}

.paginate_button.current {
	background-color: $primary-color !important;
	border-color: $primary-color !important;
	color: $white !important;
	background: $primary-color !important;
}

.ng-input {
	padding-left: 0px !important;
}

.ng-input > input {
	padding: 0px !important;
	height: 15px !important;
}

.table_wrapper {
	position: relative;
	overflow: visible;
}

/********************************/

/*** tableaux new design *******/

div.dt-buttons {
	position: relative;
	/* right: 260px; */
}

/* Colvis */

div.dt-buttons {
	float: right !important;
	/* padding-left: 10px !important; */
}

.buttons-colvis {
	background-color: $white !important;
	border: 0px !important;
	/* background: url(./assets/images/icon-hand.svg) no-repeat !important; */
	height: 25px !important;
	width: 25px !important;
}

.buttons-colvis:before {
	color: $white;
}

.buttons-colvis:hover {
	&::before {
		color: $primary-color;
	}
}

.buttons-columnVisibility {
	background: none !important;
	border: 0px solid #999 !important;
	/* border-bottom: 1px solid #0096b9 !important; */
	border-radius: 0px !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	color: $gray-dark !important;
	display: inline-block !important;
	width: 49% !important;
	text-align: left !important;
}

.buttons-columnVisibility.active:before {
	color: #0096b9;
}

.ColVis_collection label {
	width: 23px !important;
	height: 23px !important;
	display: inline-block !important;
	border: 2px solid $white !important;
	text-align: center !important;
	line-height: 20px !important;
	margin-right: 6px !important;
	border-radius: 3px !important;
	cursor: pointer !important;
	background-color: $white !important;
	padding-left: 3px !important;
	font-weight: normal !important;
}

ul.ColVis_collection li span {
	padding-left: 2.4em !important;
	display: inline-block !important;
	cursor: pointer !important;
	color: $gray-dark !important;
	font-size: $fz-base;
	line-height: 20px !important;
}

.add-row-button {
	background-image: none !important;
	top: -3px !important;
}

/*----------------------------------------*/

.cursor-pointer {
	cursor: pointer;
}

.modal-backdrop {
	background-color: rgba(0, 0, 0, 0.4) !important;
}

.modal-backdrop.fade {
	opacity: 0.3 !important;
}

.fade {
	opacity: 1 !important;
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-align: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
}

.modal.fade .modal-dialog {
	-webkit-transform: inherit;
	transform: inherit;
	margin: 0 auto;
}

.big-modal {
	width: 80%;
}

.input-login {
	border-radius: 8px !important;
}

.input-login-left {
	border-bottom-left-radius: 8px !important;
	border-top-left-radius: 8px !important;
}

.input-login-right {
	border-bottom-right-radius: 8px !important;
	border-top-right-radius: 8px !important;
}

.icon-login {
	height: 145px !important;
	margin-top: 100px !important;
	position: absolute !important;
	width: 350px !important;
	left: 30% !important;
}

.radio-custom.radio-mytower label::before,
.checkbox-custom.checkbox-mytower label::before {
	border-color: $primary-color;
}

.pointer-event-none {
	pointer-events: none !important;
}

/****************DEV style for savedforms*********************/

/* sideNavComponent*/

#quicknav ul.nav-pills {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

#quicknav ul.nav-pills > li {
	width: 34%;
	line-height: 0;
}

#quicknav .nav-pills > li + li {
	margin-left: 0;
}

#quicknav .nav-pills > li > a {
	border-radius: 0;
	border-bottom: 3px solid #a8aeb5;
	padding: 0;
}

#quicknav .nav-pills > li > a > i {
	position: relative;
	padding: 10px 10px;
}

#quicknav .nav-pills > li > a.active {
	background-color: transparent;
	border-bottom: 3px solid white;
}

#quicknav .nav-pills > li > a.active i {
	color: #fff;
}

#quicknav .nav-pills > li > a:not(.active) i {
	color: #a8aeb5;
}

#quicknav .nav-pills > li:hover > a:not(.active) i {
	color: #dfe0e0;
}

#quicknav ul.nav-pills > li i {
	font-size: $fz-base;
	color: #5c6670;
	transition: all 0.2s ease-in-out;
}
.nav > li > a:focus,
.nav > li > a:hover {
	background-color: transparent;
}
#quicknav .tab-pane {
	background: transparent;
	color: $gray-dark;
}

.closed #quicknav {
	position: relative;
}

.closed #quicknav ul.nav-pills {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.closed #quicknav ul.nav-pills > li {
	width: 100%;
}

.closed #quicknav .nav-pills > li > a {
	border-radius: 0;
	border-bottom: 1px solid #5c6670;
}

.closed #quicknav .nav-pills > li:first-child > a {
	border-top: 1px solid #5c6670;
}

.closed #quicknav .tab-content {
	position: absolute;
	top: 0;
	left: 33px;
}

.closed #quicknav .tab-pane {
	overflow: auto;
	background: #6e8f96;
	color: $gray-dark;
	height: 145.2px;
	border: 1px solid #5d6771;
	border-left: 0;
	min-width: 140px;
}

/*****************END style for savedforms******************************/

/***************** style champ obligatoire ************************/

.ng-valid[required]:not(app-datetime-picker),
.ng-valid.required:not(app-datetime-picker) {
	border-left: 5px solid #bbbbbb !important;
}
.ng-invalid[required]:not(form):not(app-datetime-picker),
input[class="ng-invalid"]:not(app-datetime-picker) {
	border-left: 5px solid $secondary-color !important;
	/* red */
}

.nomargin {
	margin: 0 !important;
}

.nochpadding [class*="col-"]:not([class*="pad"]) {
	padding: 0;
}

.nopadding {
	padding: 0 !important;
}

.pad2 {
	padding-left: 1px !important;
	padding-right: 1px !important;
}

.padleft1 {
	padding-left: 1px !important;
}

.no-padding {
	padding: 0px !important;
}

.no-padding-left {
	padding-left: 0px !important;
}

.no-padding-right {
	padding-right: 0px !important;
}

.doc-class {
	font-size: 22px !important;
	color: $primary-color !important;
}

.break-word {
	word-wrap: break-word;
}

/*ng uploader custom*/

.custom .drop-container {
	height: auto;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.custom .drop-container p {
	font-size: $fz-xs;
	font-weight: 400;
	color: #c0c4c7;
	margin: 0px !important;
}

.custom .drop-container p .upload-button {
	display: inline-block;
	border: none;
	outline: none;
	cursor: pointer;
	color: $primary-color;
}

.custom .drop-container p .upload-button input {
	display: none;
}

.custom .progress {
	height: 10px !important;
	margin-bottom: 5px !important;
	border-radius: 0px !important;
	font-size: $fz-xs;
}

.custom .filename {
	font-size: $fz-xs;
	padding: 3px 0;
}

.custom .progress-bar {
	font-size: $fz-xs;
	line-height: 11px !important;
}

.document-zone {
	background: $white;
	border-radius: 6px;
	height: 50px;
	width: 100%;
	-webkit-box-shadow: 1px 2px 20px hsla(0, 0%, 4%, 0.1);
	box-shadow: 1px 2px 20px hsla(0, 0%, 4%, 0.1);
	border: 1px dashed #c0c4c7;
}

.text-doc-title {
	color: $primary-color !important;
	font-weight: 700;
	padding: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.custom .existed-items {
	width: 100%;
	height: auto;
	min-height: 25px;
	max-height: 92px;
	overflow: auto;
}

.custom .fa {
	color: $primary-color !important;
	font-size: $fz-sm;
}

.ellipsis-item {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	margin: -4px 2px;
	width: 100%;
}

.ellipsis-item-table {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: -4px 2px;
	width: 100%;
}

.border-uploader {
	border: 1px solid #a9d9e4 !important;
	border-top: 0px !important;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.existed-item {
	padding: 1px 5px;
	position: relative;
	&:not(:first-child) {
		border-top: 1px solid #f7f7f7;
	}
}

.submenu {
	list-style: none;
	background-color: #cacaca;
	padding: 0;
	display: none;
}

.closed .open {
	position: relative;
}

.sidebar-menu .open #user-guide {
	background-color: #5c6670;
}

.sidebar-menu .open #user-guide span {
	color: #efefef;
}

.closed .open .submenu {
	position: absolute;
	left: 100%;
	top: 0;
	min-width: 125px;
}

.closed .open .submenu li {
	padding-left: 10px;
}

.sidebar-menu li.open .submenu {
	display: block;
}

.sidebar-menu > li {
	padding: 0;
}

.sidebar-menu > li:not(.topshadow) > a {
	display: flex;
	align-items: center;
	justify-content: center;
}

.submenu > li {
	font-size: $fz-xs;
	line-height: 30px;
	padding-left: 40px;
	width: 100%;
	border-bottom: 1px solid #c0c0c0;
	color: #5c666f;
	cursor: pointer;
}

.submenu > li span {
	color: #5c666f;
}

.submenu > li:hover {
	background-color: #b5b5b5;
}

.submenu > li:last-child {
	border-bottom: none;
}

.steps-indicator {
	display: none !important;
}

.hscroll-block-15 {
	max-width: calc(100% - 15px);
	overflow-x: scroll;
}

.break-word-150 {
	max-width: 150px;
	word-wrap: break-word;
}

.dataTables_scrollHeadInner {
	padding-right: 17px !important;
}

.break-word {
	word-wrap: break-word;
}

/* colors */

.deep-red {
	color: $secondary-color;
}

.green {
	color: #118c4e;
}

.popover {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	top: -90px !important;
	left: -235px !important;
	padding: 12px !important;
	font-size: $fz-xs;
}

.new-formcontrol {
	margin-bottom: 5px;
	padding: 5px;
	&:before,
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
}

/* border styles global classes */
.border-top-gray-1 {
	border-top: 1px solid #eeeeee;
}

.ng-select.ng-select-disabled > .ng-select-container,
fieldset[disabled] button,
fieldset[disabled] .ng-select .ng-select-container,
html fieldset[disabled] input,
button[disabled],
html input[disabled] {
	cursor: default;
	background-color: transparent !important;
	color: black;
}
.ng-select .ng-select-container .ng-value-container .ng-input > input[disabled] {
	background-color: transparent !important;
}

#freight-audit .dropdown-menu {
	left: -105px !important;
}

.dropdown-menu {
	z-index: 1020;
}

.ng-select.opened.below .ng-menu-outer {
	z-index: 10;
}

.display-none {
	display: none !important;
}

@media only screen and (max-width: 767px) {
	.hidden-xs-important {
		display: none !important;
	}
}

.hidden {
	display: block !important;
	visibility: hidden;
	overflow: hidden;
	height: 0;
	opacity: 0;
}

input.hidden {
	display: none !important;
}

.currency > .ng-select {
	border-radius: 4px !important;
	height: 25px;
	/* padding: 0; */
}

.currency > .ng-select .ng-control {
	border: 1px solid #ccc !important;
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
	text-align: left;
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
	padding-left: 3px !important;
}

/**** style general ****/

/************************/

/***** tabulation ******/

.second-tab .nav-tabs {
	/* background-color: $primary-color; */
	margin-top: 0px;
}

.second-tab .nav-item .nav-link {
	padding: 10px !important;
	font-size: $fz-xs;
	background-color: #5c6670;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.second-tab .nav-item .nav-link:hover {
	border: 1px solid $white;
}

.second-tab .nav-item:last-child {
	visibility: hidden;
}

.second-tab .nav-item {
	float: right;
}

.second-tab .nav-item .nav-link.active {
	background-color: $primary-color !important;
	padding: 12px !important;
	color: $white;
	font-size: $fz-sm;
	/* border: 1px solid $white ; */
}

.second-tab .nav-item .nav-link.active:hover {
	border: 1px solid $primary-color !important;
}

.second-tab .nav-tabs {
	border: none;
}

.second-tab .tab-content {
	border: none;
}

.second-tab .tab-content {
	padding: 15px 0;
}

/********** tabs setting ***********/

.savedsearch-list-item .actions .fa-remove {
	color: $secondary-color !important;
	font-size: $fz-sm;
}

.savedsearch-list-item h3 {
	font-weight: normal !important;
}

.profile-img {
	height: auto !important;
	width: 70px;
}

.business-card-container {
	padding: 4px !important;
}

.business-card .username a {
	color: $primary-color;
}

.business-card .job a,
.business-card .mail a,
.business-card .phone a {
	color: $gray-dark;
}

.business-card .truncate {
	margin-bottom: 0;
}

.label {
	/* border: 1px solid #000; */
	border-radius: 0;
	color: $white !important;
	display: inline-block;
	padding: 4px;
	border-radius: 4px;
}

.label.label-default {
	background-color: $white;
	border: 1px solid $primary-color;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	color: $primary-color !important;
	margin-right: 4px;
}

.business-card .action button {
	margin-bottom: 4px;
}

.business-card .media {
	height: 100%;
}

.business-card .fixein-bottom {
	position: absolute;
}

.media-right {
	height: 100% !important;
}

/**** boutons *******/

.btn {
	background-color: $white !important;
	color: $primary-color !important;
	border: 1px solid $primary-color !important;
	border-radius: 4px !important;
	margin-left: 5px;
	box-shadow: 0px 2px 5px 0px $gray-box-shadow;
	outline: none !important;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.btn-link:focus,
.btn-link:focus span,
.btn-link span:focus {
	outline: none;
}

/*
label.btn {
    padding: 6px 12px !important;
} */

label.btn-sm {
	padding: 5px 10px !important;
}

.btn:hover {
	border-radius: 4px !important;
	background-color: $primary-color !important;
	color: $white !important;
	border: 1px solid $primary-color !important;
}

.btn-primary {
	background-color: $primary-color !important;
	color: $white !important;
	border: 1px solid $primary-color !important;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.btn-primary:hover {
	border-radius: 4px !important;
	background-color: $bleu-dark !important;
	color: $white !important;
	border: 1px solid $bleu-dark !important;
}

.btn-secondary {
	background-color: $gray-medium !important;
	color: $gray-dark !important;
	border: 1px solid $gray-medium !important;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.btn-secondary:hover {
	border-radius: 4px !important;
	background-color: $gray-dark !important;
	color: $white !important;
	border: 1px solid $gray-dark !important;
}

.btn-tertiary {
	background-color: $white !important;
	color: $gray-dark !important;
	border: 1px solid $gray-medium !important;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	&:hover {
		border-radius: 4px !important;
		background-color: $white-01 !important;
		color: $gray-dark !important;
		border: 1px solid transparent !important;
	}
	&.active {
		box-shadow: inset 1px 3px 3px 1px #034a59;
		background: $bleu-background !important;
		color: $white !important;
	}
}

.btn-warning {
	background-color: rgb(243, 183, 54) !important;
	color: $white !important;
	border: 1px solid rgb(243, 183, 54) !important;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.btn-warning:hover {
	border-radius: 4px !important;
	background-color: $white !important;
	color: rgb(243, 183, 54) !important;
	border: 1px solid rgb(243, 183, 54) !important;
}

.btn:disabled,
.btn.disabled,
.btn-disabled {
	background-color: #5c6670 !important;
	color: $white !important;
	border: 1px solid #5c6670 !important;
	box-shadow: none;
}

.btn.active,
.btn:active {
	&:not(&.disabled) {
		background-color: $primary-color !important;
		color: $white !important;
		border: 1px solid $primary-color !important;
		box-shadow: inset 0 3px 9px -3px $black-box-shadow;
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
}

.btn-danger,
.modal_no_btn {
	background-color: #ae100b !important;
	color: $white !important;
	border: 1px solid #ae100b !important;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.btn-danger:hover,
.modal_no_btn:hover {
	background-color: $white !important;
	color: #ae100b !important;
	border: 1px solid #ae100b !important;
}

.btn-icon,
label.btn-icon {
	padding: 3px 7px !important;
}

/******** uniform inputs ************/

.form-group input[type="checkbox"],
.form-group input[type="radio"] {
	float: left;
	margin-left: -20px;
	width: 12px;
	margin-bottom: 4px !important;
	margin-top: -6px;
}

input:not([type="radio"]):not([type="checkbox"]) {
	background-image: none;
	border-radius: 4px;
	display: block;
	font-size: $fz-sm;
	width: 100%;
	background-color: $white;
	color: $gray-dark;
	border: 1px solid $secondary-color-dark;
	height: 25px;
	line-height: 1.49;
	padding: 0 4px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	&[hidden] {
		display: none !important;
	}
}

.form-control:not(textarea):not(.ng-select-bottom) {
	height: 25px !important;
	padding: 0 4px;
}

.ng-dropdown-panel.ng-select-bottom {
	height: auto !important;
}

table {
	.ng-select {
		min-width: 120px;
		height: auto;
		padding: 0 2px;
		&.ng-select-multiple .ng-select-container .ng-value-container {
			flex-wrap: nowrap !important;
		}
	}
}

.ng-dropdown-panel.ng-select-bottom {
	padding: 0;
}

.ng-select {
	/*
	 Le rendu dans les recherches avancées n'est pas bon.
	 Raison pour laquelle j'ai desactivé commenté la ligne ci-dessous en attendant une solution adéquate
	*/
	// height: 27px !important;
	padding: 0 4px;
}

input[type="search"] {
	display: inline-block !important;
	width: 170px !important;
}

ng2-completer input[type="search"] {
	width: 100% !important;
}

.form-group label,
.form-group select,
.form-group input {
	padding: 0 4px;
}

label {
	margin-bottom: 0;
	font-weight: normal;
}

/* input[type="search"]:focus,
input:not([type="radio"]):focus {
    border: 1px solid $primary-color;
    box-shadow: 0 0 3px -1px $primary-color;
} */

/*
.new-pricing-wrapper {
    padding-top: 20px
} */

.new-pricing-wrapper #pickslipPlus {
	padding-bottom: 5px;
}

/*********** scrollbar gris **************/

/****************************************/

/* .dataTables_scrollBody::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(209, 209, 209, 0.5);
    border-radius: 4px;
}
.dataTables_scrollBody::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    box-shadow: 0 0 6px -2px rgb(161, 161, 161, 0.7);
    background-color: rgba(170, 170, 170, 0.2);
    border-radius: 4px;
}
.dataTables_scrollBody::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    box-shadow: 0 0 3px -2px rgb(156, 156, 156,0.7);
    background-color: rgba(158, 158, 158, 0.5);
    border-radius: 4px;
    transition: all 0.2s ease-in-out
}
.dataTables_scrollBody::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 3px -1px rgb(221, 221, 221);
    background-color: rgba(139, 138, 138, 0.6);
    border-radius: 4px
} */

/* for custom scrollbar bleu for webkit browser*/

/**********************************************/

.dataTables_scrollBody::-webkit-scrollbar,
body::-webkit-scrollbar,
body *::-webkit-scrollbar {
	width: 10px;
	height: 8px;
	border-radius: 0px;
}

body,
body * {
	scrollbar-face-color: $blue;
	scrollbar-track-color: rgb(212, 212, 212);
	scrollbar-arrow-color: $blue;
	scrollbar-shadow-color: $blue;
}

.dataTables_scrollBody::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
body *::-webkit-scrollbar-track {
	/* box-shadow: 0 0 6px rgb(25, 134, 167); */
	background-color: rgba(32, 97, 139, 0.2);
	border-radius: 0px;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
body *::-webkit-scrollbar-thumb {
	/* box-shadow: 0 0 3px rgba(25, 134, 167, 1); */
	background-color: $blue;
	border-radius: 5px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover,
body *::-webkit-scrollbar-thumb:hover {
	/* box-shadow: 0 0 3px rgb(122, 199, 223); */
	background-color: rgba(73, 141, 185, 0.8);
	border-radius: 5px;
}

// scroll saved search on sidebar

.savedsearch-list::-webkit-scrollbar-track {
	/* box-shadow: 0 0 6px rgb(25, 134, 167); */
	background-color: #064652;
	border-radius: 0px;
}

.savedsearch-list::-webkit-scrollbar-thumb {
	/* box-shadow: 0 0 3px rgba(25, 134, 167, 1); */
	background-color: #0c879e;
	border-radius: 5px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.savedsearch-list::-webkit-scrollbar {
	width: 6px;
	height: 3px;
}

// scroll sidebar

#sidebar_left.closed::-webkit-scrollbar-track {
	/* box-shadow: 0 0 6px rgb(25, 134, 167); */
	background-color: #043942;
	border-radius: 0px;
}

#sidebar_left.closed::-webkit-scrollbar-thumb {
	/* box-shadow: 0 0 3px rgba(25, 134, 167, 1); */
	background-color: #189bb3;
	border-radius: 5px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

/****** custom text selection ******/

::-moz-selection {
	background: $bleu-dark;
	color: $white;
}

::selection {
	background: $bleu-dark;
	color: $white;
}

/******** text overflow " truncate " *******/

.truncate-text {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 200px;
}

/************* style checkbox and radiobox **************/

input[type="radio"] {
	position: relative !important;
}

/******* tabs style ***********/

.styled-tabs .nav-tabs .nav-item .nav-link:before,
.styled-tabs .nav-tabs .nav-item .nav-link:after {
	border-style: solid;
	border-width: 0px 5px 5px 0;
	border-color: transparent #e2e2e2 transparent transparent;
	position: absolute;
	z-index: 99;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

/****************************/

/**************************/

.first-tab > ul > .nav-item:not(:first-child) > .nav-link:not(.active.disabled):before {
	content: "\A";
	left: -6px;
	bottom: -1px;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.first-tab > ul > .nav-item > .nav-link:not(.active.disabled):after {
	content: "\A";
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	right: -6px;
	bottom: -1px;
}

.first-tab > ul > .nav-item:not(:first-child) > .nav-link.active:before {
	content: "\A";
	left: -6px;
	bottom: -1px;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	border-color: transparent $primary-color transparent transparent;
}

.first-tab > ul > .nav-item > .nav-link.active:after {
	content: "\A";
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	right: -6px;
	bottom: -1px;
	border-color: transparent $primary-color transparent transparent;
}

.first-tab > ul > .nav-item:before {
	content: "";
	width: 7px;
	position: absolute;
	left: -7px;
	bottom: 0;
	border-radius: 50%;
	z-index: 101;
	height: 7px;
	display: block;
	background: #efefef;
}

.first-tab > ul > .nav-item:first-child:before {
	display: none;
}

.first-tab > ul > .nav-item:after {
	content: "";
	width: 7px;
	position: absolute;
	right: -5px;
	bottom: 0;
	border-radius: 50%;
	z-index: 100;
	height: 7px;
	display: block;
	background: #efefef;
}

/*******************************/

/*****************************/

.second-tab .nav-item .nav-link:not(.active):before {
	content: "\A";
	left: -6px;
	top: -1px;
}

.second-tab .nav-item .nav-link:not(.active):after {
	content: "\A";
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	right: -6px;
	top: -1px;
}

.second-tab .nav-item .nav-link.active:before {
	content: "\A";
	left: -6px;
	top: -1px;
	border-color: transparent $primary-color transparent transparent;
}

.second-tab .nav-item .nav-link.active:after {
	content: "\A";
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	right: -6px;
	top: -1px;
	border-color: transparent $primary-color transparent transparent;
}

.second-tab .nav-item:before {
	content: "";
	width: 7px;
	position: absolute;
	left: -7px;
	top: 0px;
	border-radius: 50%;
	z-index: 100;
	height: 7px;
	display: block;
	background: #efefef;
}

.second-tab .nav-item:after {
	content: "";
	width: 7px;
	position: absolute;
	right: -5px;
	top: 0;
	border-radius: 50%;
	z-index: 100;
	height: 7px;
	display: block;
	background: #efefef;
}

/********** modal style **********/

/********************************/

.modal-header {
	background-color: #00647c;
	color: $white;
	font-size: $fz-lg;
	padding: 8px 10px;
}

.modal-body {
	padding: 25px;
	width: 100%;
	text-align: center;
	font-size: $fz-base;
	overflow-y: auto;
	max-height: 500px;
}

.modal-footer {
	padding: 8px;
}

/********************************/

/******** button close style ****/

.user-details {
	padding-bottom: 15px;
}

.add-user__wrapper {
	background-color: $white;
	padding-top: 10px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	/* border: 1px solid $primary-color; */
	margin-top: 18px;
	-webkit-box-shadow: 0 0 4px -1px $gray-box-shadow;
	box-shadow: 0 0 4px -1px $gray-box-shadow;
	border-radius: 4px;
}

.user-details .user-details__close {
	width: 18px;
	text-align: center;
	height: 18px;
	position: absolute;
	right: 4px;
	border: 1px solid #e4e2e2;
	top: 0;
	background-color: $white;
	color: #5c6670;
	border-radius: 50%;
	font-size: $fz-base;
	cursor: pointer;
	z-index: 101;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.user-details .user-details__close:hover {
	width: 18px;
	height: 18px;
	border: 1px solid #5c6670;
	background-color: #5c6670;
	color: $white;
	border-radius: 50%;
	font-size: $fz-base;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

/**********************************************/

/*********** style advanced options **********/

/********************************************/

.panel-collapsed .heading-search {
	height: 0;
	overflow: visible;
	background-color: transparent !important;
}

.heading-search .panel-controls {
	position: absolute;
	right: 4px;
	/* left: 50%; */
	top: -1px;
	z-index: 99;
}

.heading-search .panel-control-collapse {
	border-radius: 0 !important;
	width: 25px !important;
	line-height: 22px;
	height: 25px;
	padding-top: 1px !important;
	position: relative;
	top: 4px;
}

.heading-search .panel-control-fullscreen {
	display: none !important;
}

.advanced-search .panel-collapsed {
	margin-bottom: 20px;
	height: 0;
	padding: 0;
}

.panel-table {
	padding-left: 0 !important;
	padding-top: 0;
}

.panel-visible {
	padding-right: 4px;
	padding-left: 4px !important;
}

.advanced-search .panel-visible:not(.panel-collapsed) {
	padding-top: 5px;
}

// .panel-visible:not(.panel-collapsed) .heading-search .panel-controls {
//   top: 2px;
// }
.advanced-search .panel-heading {
	overflow: visible !important;
}

.body-search {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	// border: 0px solid $primary-color !important;
	padding: 15px !important;
}

.body-search.hidden {
	padding: 0 !important;
}

/**********************************************/

/***** style li Actions bandeau gauche *******/

/********************************************/

li.liActions.topshadow {
	border-bottom: 2px solid #fff;
	border-radius: 50%;
	opacity: 0.3;
}

/********************************/

/*** table sort filter arrow ***/

/******************************/

table.dataTable thead > tr > th.table-head_top {
	border-bottom: 1px solid $white;
}

/***********************************************/

/*** setting / my company / repo-management ***/

/*********************************************/

.block-adresses legend.legend {
	padding: 6px 10px;
}

.block-costcenters.block-currency legend.legend {
	padding: 6px 10px;
}

.block-adresses app-adresses form {
	padding-top: 40px;
}

.costCenter div.label {
	background-color: $white;
	border: 1px solid $primary-color;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	color: $primary-color !important;
}

.costCenter div.label:hover {
	background-color: $white;
	border: 1px solid $primary-color;
}

/* .costCenter div.label:hover div,
.costCenter div.label:hover i {
    color: $primary-color
} */

.costCenter div.label div,
.costCenter div.label i {
	vertical-align: middle;
}

.costCenter div.label i {
	color: $secondary-color;
}

.costCenter div.label div {
	margin-bottom: 0;
	padding: 4px;
}

.minimal tag {
	background-color: $white !important;
	border-radius: 4px !important;
	color: $primary-color !important;
	font-family: "Ubuntu", sans-serif !important;
	border: 1px solid $primary-color;
}

.minimal path {
	fill: $secondary-color !important;
}

/* .minimal tag:not(:focus):not(.tag--editing):not(:active):not(.readonly):hover {
    background-color: $white!important;
    color: $primary-color !important;
    border: 1px solid $primary-color
}

.minimal tag:not(:focus):not(.tag--editing):not(:active):not(.readonly):hover path {
    fill: $primary-color !important
} */

delete-icon:hover {
	-webkit-transform: inherit !important;
	transform: inherit !important;
}

tag .tag__text {
	vertical-align: middle;
	margin-bottom: -2px;
}

tag delete-icon {
	margin-top: -1px;
	padding-left: 4px;
}

/**************************/

/** style input general **/

/* .form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: $white
} */

.form-control[readonly] {
	border-left: 0px solid #bbbbbb;
}

.form-control[readonly]:focus {
	border-left: 1px solid #66afe9;
}

.form-control:not(.form-control[required]) {
	border-left: 0px;
}

input,
select {
	color: rgb(65, 65, 65) !important;
	font-size: $fz-sm;
}

input::-webkit-input-placeholder,
select::-webkit-input-placeholder {
	color: #afafaf !important;
	font-size: $fz-sm;
}

input:-ms-input-placeholder,
select:-ms-input-placeholder {
	color: #afafaf !important;
	font-size: $fz-sm;
}

input::placeholder,
select::placeholder {
	color: #afafaf !important;
	font-size: $fz-sm;
}

/**** list users flexible equal height ****/

.flex-height {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow: visible;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

.flex-height > div {
	padding-bottom: 10px;
}

.flex-center-h {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.flex-content-center {
	display: flex;
	min-height: 100%;
	min-width: 100%;
	align-items: center;
	justify-content: center;
}

.enable-linebreak {
	white-space: pre;
}

/**** list users flexible equal height END ****/

.document-statut {
	list-style: none;
	padding: 0;
	text-align: left;
}

.document-statut .fa-remove {
	color: red;
}

.document-statut .fa-check {
	color: green;
}

.document-statut-width {
	width: 60px;
}

/* modal template dans collapsible */

.template-text-error {
	color: red;
}

.template-text-success {
	color: green;
}

.template-text-ul {
	list-style: none;
	margin-top: 10px;
	padding: 0;
}

.template-text-li-left {
	font-weight: bold;
}

.template-text-li-right {
	color: orange;
	padding-left: 10px;
}

.template-text-container {
	text-align: center;
	font-weight: bold;
}

/*********************/

/********************/

@-webkit-keyframes click-wave {
	0% {
		height: 10px;
		width: 10px;
		opacity: 0.5;
		position: relative;
	}
	100% {
		height: 80px;
		width: 80px;
		margin-left: -32px;
		margin-top: -32px;
		opacity: 0;
	}
}

@keyframes click-wave {
	0% {
		height: 10px;
		width: 10px;
		opacity: 0.5;
		position: relative;
	}
	100% {
		height: 80px;
		width: 80px;
		margin-left: -32px;
		margin-top: -32px;
		opacity: 0;
	}
}

input[type="checkbox"]:required,
input[type="radio"]:required {
	border-left: 2px solid $primary-color;
}

input[type="checkbox"],
input[type="radio"],
input[type="radio"][disabled],
input[type="checkbox"][disabled] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none !important;
	position: relative;
	top: 5px;
	right: 0;
	bottom: 0;
	left: 0;
	height: 20px;
	width: 20px !important;
	-webkit-transition: all 0.15s ease-out 0s;
	transition: all 0.15s ease-out 0s;
	background: $white;
	border: 2px solid $primary-color;
	color: $white;
	cursor: pointer;
	display: inline-block;
	margin-right: 0.5rem;
	outline: none;
	z-index: 999;
}

input[type="checkbox"]:hover,
input[type="radio"]:hover,
input[type="radio"][disabled]:hover,
input[type="checkbox"][disabled]:hover {
	background: $white;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
	background: $white;
}

input[type="radio"]:checked::before,
input[type="radio"][disabled]:checked::before {
	content: "";
	height: 10px;
	width: 10px;
	background: $primary-color;
	position: absolute;
	display: inline-block;
	left: 50%;
	top: 3px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

input[type="radio"]:checked::after,
input[type="checkbox"]:checked::after,
input[type="radio"][disabled]::after,
input[type="checkbox"][disabled]::after {
	-webkit-animation: click-wave 0.65s;
	animation: click-wave 0.65s;
	background: #40e0d0;
	content: "";
	display: block;
	position: relative;
	z-index: 100;
}

input[type="radio"],
input[type="radio"][disabled],
input[type="radio"]::before,
input[type="radio"][disabled]::before {
	border-radius: 50%;
}

.ui-chkbox {
	.ui-chkbox-box {
		border: 0 !important;
		box-shadow: 0 0 4px -1px $gray-dark;
	}
}

/*******************/

/******************/

.closed .savedsearch-list {
	height: 100% !important;
	/*205px*/
}

/*** login - signup - reset pass ***/

#content.content {
	width: 100%;
}

/** greight audit table style **/

table.dataTable thead .sorting.invoice-month,
table.dataTable tbody .invoice-month {
	min-width: 80px;
}

table.dataTable tbody .invoice-month select {
	width: 48%;
	display: inline-block;
	padding: 0 5px;
}

table.dataTable tbody .invoice-month select:first-child {
	margin-right: 4px;
}

/*** responsive datatable style ***/

table.dataTable td.child {
	text-align: left !important;
}

table.dataTable ul.dtr-details {
	display: block !important;
	padding-left: 30px !important;
}

table.dataTable .collapse-table {
	max-width: 1%;
	width: 1%;
}

table.dataTable > tbody > tr.child span.dtr-title {
	padding-right: 10px;
}

table.dataTable > tbody > tr.child span.dtr-title:after {
	content: ":";
	display: inline-block;
	font-size: $fz-sm;
	vertical-align: baseline;
	padding-left: 3px;
}

/****** steps cotation **********/

.infos .block-info {
	font-size: $fz-sm;
	color: gray;
	/* min-height: 110px; */
	/* border-right: 1px solid #eee; */
}

.infos-head .block-info {
	font-size: $fz-base;
}

.infos .block-info .colorBleu {
	font-weight: 600;
}

.infos:not(.infos-head) .block-info:before {
	content: "";
	width: 3px;
	height: 76px;
	position: absolute;
	background: $primary-color;
	top: 10px;
	left: 0;
	-webkit-box-shadow: 0 0 3px -1px $gray-box-shadow;
	box-shadow: 0 0 3px -1px $gray-box-shadow;
}

.block-info div {
	padding-top: 10px;
}

/* .infos:not(.infos-head) .block-info>div:before {
    content: "\f0da";
    font-family: fontAwesome;
} */

.infos .block-info:last-child {
	border-right: none;
}

/**********************************/

.send-arrow,
.receive-arrow {
	position: relative;
	display: inline-block;
	&:before {
		position: absolute;
		right: 5px;
		top: 7px;
	}
}

.receive-arrow {
	&::before {
		transform: rotate(180deg);
	}
}

.input-show-onhover:not(.generic-datepicker__wrapper),
.input-show-onhover.generic-datepicker__wrapper input,
.input-show-onhover,
.trans-arrow input,
.trans-arrow select,
.send-arrow input,
.receive-arrow select,
input[class*="carrier-invoice-nbr-"] {
	padding-right: 9px;
	background-color: transparent !important;
	box-shadow: none;
	border: 1px solid transparent !important;
	transition: all 0.2s ease-in-out;
	.ng-select-container {
		background-color: transparent !important;
	}
	.ng-clear-wrapper,
	.ng-arrow-wrapper {
		opacity: 0;
	}
	transition: background-color 0.4s ease-in-out !important;
}

select.border-on-hover {
	background-image: none !important;
	border: none;
	font-size: $fz-sm;
	box-shadow: none;
	transition: all 0.2s ease-in-out;
}

select.border-on-hover:hover {
	background-image: url(./assets/images/arrow-select.svg) !important;
	border: 1px solid #ccc;
}

.input-show-onhover:not(.generic-datepicker__wrapper):hover,
.input-show-onhover.generic-datepicker__wrapper input:hover,
.trans-arrow input:hover,
.trans-arrow select:hover,
.trans-arrow input:focus,
.trans-arrow select:focus,
.send-arrow input:focus,
.receive-arrow select:focus,
.send-arrow input:hover,
.receive-arrow select:hover,
input[class*="carrier-invoice-nbr-"]:hover {
	background-color: $white !important;
	border: 1px solid #dddddd !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
	.ng-select-container {
		background-color: $white !important;
	}
	.ng-clear-wrapper,
	.ng-arrow-wrapper {
		opacity: 1;
	}
}
.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
	box-shadow: none !important;
}

.min-width-12 {
	min-width: 12px !important;
}
.min-width-210 {
	min-width: 210px !important;
}

.max-character-6 {
	max-width: 52px;
}

span.subtext span {
	font-size: $fz-xs;
}

.display-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

/**** progress bar ****/

.progress {
	margin-bottom: 0;
	height: auto;
}

.progress-bar-striped {
	padding-left: 5px;
	color: #024763 !important;
	font-weight: 600;
	white-space: nowrap;
}

.progress.late-column {
	width: 70%;
	margin: 0 auto;
}

.col-md-devise {
	width: 40px !important;
}

/**** tooltip style ****/

.tooltip {
	opacity: 1;
	padding-top: 2px;
}

.tooltip .tooltip-inner {
	color: #002d38;
	font-weight: 600;
	background-color: #bceaf5;
}

.conas-logout .tooltip {
	min-width: 70px;
}

/** responsive champs de saisie **/

@media only screen and (max-width: 996px) {
	.new-pricing-wrapper .new-formcontrol.padding-right-0-important {
		padding-right: 15px !important;
	}
	.new-pricing-wrapper .new-formcontrol.padding-left-5-important {
		padding-left: 15px !important;
	}
	.new-pricing-wrapper .comment-text-area {
		height: 370px !important;
	}
}

@media only screen and (max-width: 768px) {
	.new-pricing-wrapper .comment-text-area {
		height: 180px !important;
	}
}

/*@media only screen and (max-width: 580px) {
    .padding-top-responsive {
        padding-top: 70px !important;
    }
}*/

/**** Style panel PrimeNG override ***/

body .ui-panel .ui-panel-titlebar {
	background-color: #008ea8;
	padding: 4px 0 1px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border: 0 none;
}

body .ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon {
	color: $white !important;
	float: right;
}

body .ui-panel .ui-panel-titlebar .ui-panel-titlebar-toggler {
	display: none;
}

body .ui-table .ui-sortable-column.ui-state-highlight {
	background-color: #a5bfc5;
	color: #000;
}

body .ui-listbox .ui-listbox-list .ui-listbox-item.ui-state-highlight {
	background-color: transparent;
	color: #222;
}

body .ui-panel .ui-panel-content {
	padding: 0px !important;
	color: $gray-dark;
}

body .ui-table .ui-table-thead > tr > th {
	background-color: #c9dde2;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	padding: 2px 3px;
}

body .ui-table .ui-table-thead > tr > th p-sorticon {
	float: right;
}

body .ui-table .ui-sortable-column a,
body .ui-table .ui-sortable-column a:hover {
	color: #008ea8 !important;
}

// body .ui-table .ui-sortable-column a,
// body .ui-table .ui-sortable-column a:hover {
//     color: #008ea8 !important;
// }
body .pi {
	font-size: $fz-lg;
}

body .ui-table .ui-sortable-column:not(.ui-state-highlight):hover {
	background-color: #a5bfc5;
}

// body .ui-table .ui-sortable-column:not(.ui-state-highlight):hover {
//     background-color: #a5bfc5;
// }
body .ui-panel .ui-panel-footer:before,
body .ui-panel .ui-panel-footer:after {
	content: "";
	display: table;
	clear: both;
}

.ppanel-component {
	padding-top: 10px;
	margin-top: 25px;
}

.ppanel-component .ui-table-thead th,
.ppanel-component .ui-table-tbody td {
	text-align: center;
}

.ui-table-resizable .ui-resizable-column {
	background-clip: border-box;
}
.ppanel-component-table {
	padding-top: 0;
	margin-top: 25px;
	background-color: white;

	.form-bottom-control {
		margin-bottom: 10px;
	}
}

.ui-paginator {
	text-align: right !important;
	border: none !important;
}
.float-right {
	float: right !important;
}
.float-left {
	float: left !important;
}

/* Tooltip container */

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
	/* If you want dots under the hoverable text */
}

/* Tooltip text */

::ng-deep .tooltipdatatable .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: $white;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
}

::ng-deep .tooltipdatatable:hover .tooltiptext {
	visibility: visible;
}

.ui-toast {
	z-index: 10000 !important;
}

.checkboxClass.checkbox-transpo {
	z-index: 0 !important;
}

body .ui-table .ui-table-thead > tr > th.champNonModifiable {
	background-color: #dbe0e2;
}

body .ui-table .ui-table-thead > tr > th.champItalique {
	font-style: italic;
}

.line-height-25 br {
	line-height: 2.5 !important;
}
.form-control-feedback {
	top: 4px;
	right: -10px;
}
input[type="number"] {
	height: 25px;
}

.screen_header {
	background: white;
}

.infos-head .block-info-tracing {
	font-size: $fz-base;
}

.infos .block-info-tracing .colorBleu {
	font-weight: 600;
}

.infos:not(.infos-head) .block-info-tracing:before {
	content: "";
	width: 3px;
	height: 110px;
	position: absolute;
	background: $primary-color;
	top: 10px;
	left: 0;
	-webkit-box-shadow: 0 0 3px -1px $gray-box-shadow;
	box-shadow: 0 0 3px -1px $gray-box-shadow;
}

.block-info-tracing div {
	padding-top: 10px;
}

.infos .block-info-tracing:last-child {
	border-right: none;
}

body .ui-selectbutton .ui-button {
	background-color: #fafafa !important;
	border: 2px solid #ececec !important;
	transition: all 0.2s ease-in-out;
}
// ce bout de code est commenté pour corrigé le soucis d'avoir un background blanc lors du focus sur les icons
// .genericTable-icon.ui-button:enabled:focus {
// 	background-color: transparent !important;
// }

.page-header-bloc {
	background: #fefefe;
	padding: 5px;
	border: 1px solid;
}

.psl-list {
	margin-left: 5px;
	text-align: left;
}
.psl-data {
	margin-top: 2px;
	margin-bottom: 2px;
}
.psl-important {
	font-weight: bold;
}
.psl-start {
	color: green;
}
.psl-end {
	color: red;
}
.psl-group {
	font-style: oblique;
}

/******************** generic table **************************/

.ui-dialog {
	min-width: 450px;
	.ui-dialog-titlebar {
		color: $white !important;
		.ui-dialog-titlebar-icon {
			color: $white !important;
			font-size: $fz-xl;
			.pi {
				font-size: $fz-xl;
			}
		}
	}
}
.ui-fluid .ui-autocomplete.ui-autocomplete-dd .ui-inputtext {
	display: inline-block;
}
.ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-list-item {
	padding: 0 !important;
	transition: all 0.2s ease-in-out;
	&.ui-state-highlight {
		background-color: #f7f7f7 !important;
		color: #000 !important;
	}
	& > div {
		padding: 4px;
		border-bottom: 1px solid #f5f5f5;
	}
}

.ui-contextmenu {
	width: 240px;
	.ui-menuitem {
		border-bottom: 1px solid $gray-light;
		.ui-menuitem-link {
			padding: 4px 10px;
		}
	}
}
/******************** end generic table **************************/

::ng-deep .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label {
	transition: all 0.2s ease-in-out;
}
::ng-deep .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content {
	border-bottom: 1px solid #f7f7f7;
}

.text-note {
	font-size: $fz-sm;
	color: #aeaeae;
}
.field-container .ui-panel-titlebar {
	color: white !important;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.field-container .ui-panel {
	width: 200px;
	display: inline-block;
	margin: 5px;
}

.survol-inputs {
	input,
	&.input {
		border-width: 0;
		box-shadow: none;
		background: transparent;
		&:hover {
			border: 1px solid #dddddd;
			box-shadow: inset 0 1px 1px $gray-box-shadow;
			background-color: $white;
		}
	}
}

/***************** new quotation steps *********************/
.details-steps {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	padding: 15px 15px 15px 5px;
	.step-wrapper {
		width: 100%;
		text-align: center;
		.step-status {
			height: 22px;
			position: relative;
			font-size: $fz-sm;
			padding-top: 2px;
			&:after {
				content: "";
				width: 22px;
				height: 22px;
				position: absolute;
				right: -12px;
				top: 0;
				border-radius: 50%;
				z-index: 99;
			}
		}
		.step-date {
			padding-top: 8px;
		}
		.bg-disabled {
			.step-status {
				background: #efefef;
				&:after {
					background: #efefef;
					transform: rotate(50deg);
				}
			}
		}
		.bg-selected {
			.step-status {
				color: #fff;
				&:after {
					border-width: 0;
				}
			}
		}
		.bg-validated {
			.step-status {
				background: #6ac396;
				color: #fff;
				&:after {
					background: #6ac396;
					border-width: 0;
				}
			}
		}
	}
	@include bp-lt(767px) {
		flex-flow: row wrap;
		padding: 5px;
		padding-right: 40px;
		.step-status {
			border-radius: 40px;
			&:after {
				display: none;
			}
		}
	}
}
.details-time_remaining-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	padding: 15px 15px 15px 5px;
	.details-time_remaining {
		margin-left: 15px;
		width: 420px;
		.tr-days {
			font-size: $fz-header-jours;
			font-weight: 600;
		}
		.tr-heure {
			font-size: $fz-header-heures;
			font-weight: 600;
		}
		.tr-minutes {
			font-size: $fz-header-minutes;
		}
		.colored {
			color: $primary-color;
		}
	}
	@include bp-lt(767px) {
		flex-flow: row wrap;
		padding: 5px;
		padding-right: 40px;
		.tr-days {
			font-size: $fz-header-heures !important;
		}
		.tr-heure {
			font-size: $fz-xl !important;
		}
		.tr-minutes {
			font-size: $fz-base !important;
		}
	}
}
.collapsible-blocs {
	@include bp-lt(1024px) {
		flex-flow: row wrap;
	}
}
// DEBUT: styles propositions de groupage
.qrgroup-propo-card .card-header-right {
	position: absolute;
	right: 0px;
	top: 0;
}
.qrgroup-propo-card .card-header-left {
	margin-top: 6px;
	color: $primary-color;
	font-size: $fz-base;
}
.qrgroup-propo-card .card-icon-modetransport {
	font-size: $fz-xl;
}
.qrgroup-propo-card .card-right {
	text-align: right;
}

.qrgroup-propo-card label,
.qrgroup-propo-card .card-header-content {
	color: #aaa;
}
.qrgroup-propo-card label {
	margin-right: 15px;
}

.qrgroup-propo-card .card-separator {
	border-top: 2px solid #018dad;
	width: 80%;
	margin: auto;

	margin-top: 15px;
	padding-top: 15px;
}

.qrgroup-propo-card {
	margin-right: 10px;
	// width: 280px;
	height: 610px !important;
	&:not(.qr-result) {
		width: 100%;
	}
}
.qrgroup-propo-card label + span {
	font-weight: 500;
}
.qr-result {
	border-color: $primary-color !important;
	border-width: 3px !important;
	margin-right: 10px !important;

	position: sticky;
	left: 0;
	z-index: 1000;
}

// FIN: styles propositions de groupage
.card-vignette-block {
	width: 100%;
	display: flex;
	align-items: center;
	label {
		width: 50%;
		text-align: right;
		font-weight: normal;
	}
}
.card-favoris-list {
	padding: 15px !important;
	padding-top: 0 !important;
}
.card-favoris {
	min-height: 134px;
	font-size: $fz-sm;
}
.card-vignette-block {
	font-size: $fz-sm;
}
// .card-vignette-block label {
// 	margin-right: 5px;
// }
.card-vignette-block .origin,
.card-vignette-block .destination {
	font-weight: bold;
	font-size: $fz-sm;
}
.card-vignette-block:not(:first-child) i {
	font-size: $fz-lg;
	display: inline-block;
	padding-top: 5px;
}
.card-favoris .icon-module {
	padding-right: 5px;
	font-size: $fz-icon-favoris;
	color: $primary-color;
	display: inline-flex;
}
.card-favoris .origin-dest__wrapper i.fa {
	font-size: 26px;
}
.card-favoris .origin-dest__wrapper {
	padding-bottom: 10px;
}

/********* import style of inputs here to override the old style ***********/

@import "styles/components/form/inputs.scss";

/********* End of import style of inputs here to override the old style ***********/

.panel-head__buttons {
	padding: 4px;
	border-radius: 4px;
}

/*** shared styles between components ***/
.notify-party_wrapper,
.categorie_wrapper,
.params_wrapper {
	transition: all 0.4s ease-in-out;
	legend {
		h4 {
			padding-right: 6px;
		}
		span.fa {
			font-size: $fz-lg;
			font-weight: 700;
			position: relative;
			top: 1px;
		}
	}
}
/*** shared style vignette business-card between dashboards ***/
.dashboard-card-list .business-card {
	width: calc(25% - 10px);
}

.business-card {
	&:hover {
		.btn-edit-tags {
			opacity: 1;
			visibility: visible;
			cursor: pointer;
		}
		.comment-wrapper {
			textarea,
			.comment-edit-btn-wrapper {
				opacity: 1 !important;
				visibility: visible !important;
				height: auto !important;
				resize: both;
			}
			textarea.comment-value {
				border-color: $gray-medium !important;
				box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
				resize: both;
			}
		}
	}
}

.card-status {
	background: $blue;
	color: $white;
	padding: 3px;
	border-radius: 4px;
	font-weight: normal;
	font-size: $fz-sm;
}

.accordion-form {
	display: flex;
	.ui-accordion-header {
		width: 33.33%;
		text-align: right;
		a {
			display: inline-block;
			padding-right: 15px !important;
			span {
				font-weight: normal;
			}
		}
	}
	.ui-accordion-content-wrapper {
		width: 66.66%;
	}
}

.accordion-typeflux {
	.ui-accordion-content-wrapper {
		width: 80% !important;
	}

	.ui-accordion-header {
		width: 20% !important;
	}
}

.tr-autocomplete .ng-value-container {
	min-width: 200px !important;
}
.tr-autocomplete .tr-auto-name span,
.tr-autocomplete .tr-auto-name i,
.tr-autocomplete .tr-auto-email i {
	margin-right: 5px;
}

.grpList {
	display: flex !important;
	flex-wrap: nowrap !important;
	overflow-x: auto;
}

.btn-icon {
	color: $primary-color !important;
	background: transparent !important;
	border: none !important;
	&:hover {
		border: none !important;
	}
}

.demande-overview .ui-accordion .ui-accordion-content {
	padding-left: 0 !important;
}

.units-readonly {
	.ui-panel .ui-panel-titlebar {
		background: $white !important;
		border-bottom: 2px solid $white-02 !important;
	}
	.ui-panel .ui-panel-content {
		border: none !important;
	}
	.heading-table {
		color: $gray-dark;
		font-size: $fz-base;
		text-transform: capitalize;
	}
	.genericTable-icon {
		color: $blue !important;
		background: transparent !important;
		border: none !important;
	}
}

.p-table-wrapper {
	position: relative;
}
.docs__wrapper {
	width: auto;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	span {
		padding-right: 3px;
		display: inline-block;
	}
}

/*------------- chat panel --------------*/
.ql-snow .ql-picker {
	&.ql-header,
	&.ql-font {
		display: none;
	}
}
.ui-editor-container .ui-editor-toolbar {
	display: flex;
	flex-flow: row wrap;
}
.ql-toolbar.ql-snow .ql-formats {
	margin-right: 3px;
	display: flex;
	flex-flow: row nowrap;
	width: auto;
}
.ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
	width: 20px;
	height: 20px;
}
/*------------ end chat panel ---------*/
/*------------ Generic cell input ---------*/
.component-container-root {
	.form-control:not(textarea),
	.ui-inputtext {
		height: 27px !important;
		&:focus {
			box-shadow: none;
		}
	}
	.ui-inputtext:enabled:hover:not(.ui-state-error) {
		border-color: $secondary-color-dark !important;
	}
}
/*------------ Generic cell input ---------*/

.docs-status__column {
	padding: 0 !important;
}

/*------------- text colors ---------------*/
.text-blue {
	color: $blue;
}

.text-black {
	color: $black;
}

.text-red {
	color: $red;
}

.text-aurora-blue {
	color: $aurora-blue;
}

/*********** chrome default style auto-fill **************/
input:-internal-autofill-selected,
input:-webkit-autofill {
	background-color: $white !important;
}

/*************** alerts ******************/
.alert-error,
.alert-info {
	padding: 2px;
	font-size: $fz-sm;
	font-style: italic;
	background: transparent;
}
.alert-error {
	color: $red;
}
.alert-info {
	color: $primary-color;
}

/************************/
.space-for-dragging {
	height: 14px;
	margin: 2px 0;
	border-radius: 6px;
	width: calc(100% - 20px);
	background: $white-01;
	opacity: 0;
	z-index: 9999;
	transition: all 0.3s ease-in-out;
	&.drag-enter {
		opacity: 0.5 !important;
	}
}

.drag-start,
.drag-leave {
	opacity: 0;
}

.drag-end,
.drag-enter {
	opacity: 1;
}

.drag-enter {
	background: $white-01;
}
.drag-leave {
	background: transparent;
}

.overflow-v {
	overflow: visible !important;
}

.wf-steps.read-only {
	.dropdown-menu {
		left: initial;
		right: 0;
	}
}

span.ui-toast-icon {
	display: none !important;
}

/********** file upload PrimeNg *****************/
.file-uploaded {
	.ui-fileupload-files {
		display: none;
	}
	.ui-progressbar-value {
		width: 100%;
	}
}
.error-upload {
	font-size: $fz-sm;
	text-align: left;
	border-radius: 4px;
	background: $red;
	color: $white;
	display: inline-block;
	padding: 1px 3px;
}

.loading-bar-fixed {
	height: 20px;
	width: 100%;
	float: left;
	#loading-bar-spinner {
		position: absolute !important;
		top: 0 !important;
		left: 50% !important;
		transform: translateX(-50%);
	}
}

.ui-fileupload-content {
	padding: 5px !important;
}

p-progressbar:not(.custom-progress-bar) {
	display: none !important;
}

.custom-progress-bar {
	.ui-progressbar {
		top: -5px !important;
		width: calc(100% + 10px);
		left: -5px;
	}
}
/********** file upload PrimeNg *****************/

.upload-input {
	font-size: 0 !important;
}
input[type="file"]::-webkit-file-upload-button {
	cursor: pointer;
}

/************* 	accordion settings override **************/
.settings-accordion {
	.ui-accordion-header a {
		background: transparent !important;
		border-color: transparent !important;
		outline: none !important;
		border: 0 !important;
		padding-left: 0 !important;
	}
	.ui-accordion-header:not(.ui-state-disabled).ui-state-active a,
	.ui-accordion-header:not(.ui-state-disabled).ui-state-active .ui-accordion-toggle-icon {
		color: $primary-color !important;
		background: transparent !important;
	}
	.ui-accordion-header:not(.ui-state-disabled).ui-state-active:hover .ui-accordion-toggle-icon {
		color: $primary-color !important;
	}
	.ui-accordion-content {
		border: 0 !important;
		border-left: 3px solid #018dad !important;
		margin-left: 10px !important;
	}
}
