:root {
	--color-bleu: $primary-color;
	--color-black: #525454;
	--color-cherry: $secondary-color;
	--color-gris: #5c6670;
	--color-gris-light: #e4e2e2;
}

/********** DEFAULT THEME *************/

.primary-color-default {
	color: $primary-color;
}

.second-color-default {
	color: $secondary-color;
}

.heading-table-default-bg {
	background-color: $primary-color !important;
}

.paginate_button-default.current {
	background-color: $primary-color !important;
	border-color: $primary-color !important;
	color: #ffffff !important;
	background: $primary-color !important;
}

/********** BLACK THEME *************/

.primary-color-black {
	color: #525454;
}

.second-color-black {
	color: $secondary-color;
}

.heading-table-black-bg {
	background-color: #525454 !important;
}

.paginate_button-black.current {
	background-color: #525454 !important;
	border-color: #525454 !important;
	color: #ffffff !important;
	background: #525454 !important;
}
