table.dataTable thead th {
	padding: 5px 18px;
}
.br {
	border-right: 1px solid white !important;
}
.bl {
	border-right: 1px solid #eee !important;
}
.bgl {
	text-align: left;
}
.bgrd {
	background: #eee;
	color: black;
}
.pdl {
	padding-left: 20px;
}
.text-rigth {
	float: right;
}
.clickable {
	cursor: pointer;
}
.wdt32 {
	width: 32%;
	display: inline-block;
}
.wdt10 {
	width: 15%;
	display: inline-block;
	padding-left: 15px;
}
.wdt15 {
	width: 15%;
	display: inline-block;
}
.wdt17 {
	width: 20%;
	display: inline-block;
	padding-left: 5px;
}
.wdt9 {
	width: 10%;
	display: inline-block;
	padding-left: 5px;
}
.wdt25 {
	width: 25%;
	display: inline-block;
}
.wdt35 {
	width: 35%;
	display: inline-block;
	padding-left: 5px;
}
.no-padingleft {
	padding-left: 0px;
}
.no-marginbtm {
	margin-bottom: 0px !important;
}
.left--15 {
	left: -15px;
}
