<div style="overflow: auto">
	<table class="table dataTable no-footer">
		<thead>
			<tr>
				<th rowspan="2">Unit ref</th>
				<th rowspan="2">Type of units</th>
				<th colspan="2">Quantity of unit</th>
				<th colspan="2">Gross Weight (kg)</th>
				<th colspan="3">Date of Departure</th>
				<th colspan="3">Date of Arrival</th>
				<th rowspan="2">DGR(UN)</th>
				<th rowspan="2">Comments</th>
				<th rowspan="2" *ngIf="showAddAndDeleteUnit"></th>
			</tr>
			<tr>
				<TH>Total</TH>
				<TH>Impacted</TH>
				<TH>Total</TH>
				<TH>Impacted</TH>
				<TH>Estimated</TH>
				<TH>Actual</TH>
				<TH>Delay</TH>
				<TH>Estimated</TH>
				<TH>Actual</TH>
				<TH>Delay</TH>
			</tr>
		</thead>
		<tbody class="text-center">
			<tr *ngFor="let il of listIncidentLines; let i = index">
				<td>
					<div *ngIf="il.numberOfUnits == null">
						<select
							name="unitRef"
							id="unitRef"
							[(ngModel)]="selectedUnit"
							(change)="onMarchandiseNumChange(i, selectedUnit)"
						>
							<option *ngFor="let item of listMarchandises" [ngValue]="item.ebMarchandiseNum">
								{{ item.ebMarchandiseNum }}
							</option>
						</select>
					</div>
					<div *ngIf="il.numberOfUnits != null">
						<input
							class="form-control"
							type="text"
							name="unitRef"
							[(ngModel)]="il.ebMarchandiseNum"
						/>
					</div>
				</td>
				<td>
					<select
						class="form-control typeMarchandise"
						name="il.typeMarchandise{{ i }}"
						[(ngModel)]="il.typeMarchandise"
					>
						<option *ngFor="let item of marchandiseTypeOfUnit" [value]="item.value">
							{{ item.value }}
						</option>
					</select>
				</td>
				<td>
					<input
						class="form-control"
						(change)="changeTotalQte(il.numberOfUnits)"
						[(ngModel)]="il.numberOfUnits"
						type="number"
						name="numberOfUnits"
					/>
				</td>
				<td>
					<input
						class="form-control"
						(change)="changeTotalQte(il.numberOfUnitsImpacted)"
						[(ngModel)]="il.numberOfUnitsImpacted"
						type="number"
						name="numberOfUnits"
					/>
				</td>
				<td>
					<input
						class="form-control"
						(change)="changeTotalWe(il.weight)"
						[(ngModel)]="il.weight"
						type="number"
						name="weight"
					/>
				</td>
				<td>
					<input
						class="form-control"
						(change)="changeTotalWe(il.weightImpacted)"
						[(ngModel)]="il.weightImpacted"
						type="number"
						name="weight"
					/>
				</td>
				<td>
					<app-datetime-picker
						[(ngModel)]="il.eta"
						name="il.eta"
						[timepicker]="true"
					></app-datetime-picker>
				</td>
				<td>
					<app-datetime-picker
						[(ngModel)]="il.etd"
						name="il.etd"
						[timepicker]="true"
					></app-datetime-picker>
				</td>
				<td>
					<app-datetime-picker
						[(ngModel)]="il.delayDepartureDate"
						name="il.delayDepartureDate"
						[timepicker]="false"
					></app-datetime-picker>
				</td>
				<td>
					<app-datetime-picker
						[(ngModel)]="il.atd"
						name="il.atd"
						[timepicker]="true"
					></app-datetime-picker>
				</td>
				<td>
					<app-datetime-picker
						[(ngModel)]="il.ata"
						name="il.ata"
						[timepicker]="true"
					></app-datetime-picker>
				</td>
				<td>
					<app-datetime-picker
						[(ngModel)]="il.delayArrivalDate"
						name="il.delayArrivalDate"
						[timepicker]="false"
					></app-datetime-picker>
				</td>
				<td>
					<select
						class="form-control"
						name="il.dangerousGood{{ i }}"
						[(ngModel)]="il.dangerousGood"
					>
						<option [value]="null" [selected]="il.dangerousGood == null"></option>
						<option
							*ngFor="let item of marchandiseDangerousGood | keyvalue"
							[selected]="il.dangerousGood == item.key"
							[value]="item.key"
							>{{ item.value }}
						</option>
					</select>
				</td>
				<td>
					<input class="form-control" [(ngModel)]="il.comment" type="text" name="comment" />
				</td>
				<td *ngIf="showAddAndDeleteUnit">
					<div class="form-group" *ngIf="showAddAndDeleteUnit">
						<button class="btn btn-danger btn-xs" (click)="deleteIncident(i)">
							<i class="fa fa-trash-o"></i> {{ "GENERAL.DELETE" | translate }}
						</button>
					</div>
				</td>
			</tr>

			<tr>
				<td class="bl bgl bgrd"></td>
				<td class="bgl bgrd"><strong>Total</strong></td>
				<td class="bgl bgrd pdl">
					<strong>{{ totalQteOfUnit }}</strong>
				</td>
				<td class="bgl bgrd pdl">
					<strong>{{ totalQteOfUnitImpacted }}</strong>
				</td>
				<td class="bgl bgrd pdl">
					<strong>{{ totalWeight }}</strong>
				</td>
				<td class="bgl bgrd pdl">
					<strong>{{ totalWeightImpacted }}</strong>
				</td>
				<td class="br"></td>
				<td class="br"></td>
				<td class="br"></td>
				<td class="br"></td>
				<td class="br"></td>
				<td class="br"></td>
				<td class="br"></td>
				<td class="br"></td>
				<td class="br" *ngIf="showAddAndDeleteUnit">
					<button
						type="button"
						class="btn btn-primary btn-xs p5 pull-right"
						(click)="addNewIncidentLine()"
						id="addCustomerRef"
					>
						<span *ngIf="!isWorking"><i class="fa fa-plus"></i> Add Unit</span>
						<span *ngIf="isWorking"><i class="fa fa-spinner fa-spin"></i></span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="col-md-12" style="margin-top: 2%;">
	<div class="row">
		<div class="form-group">
			<div class="row-eq-height">
				<div class=" border-right_gray col-md-3">
					<div class="row">
						<fieldset>
							<legend class="padding-left-0">
								<h4>{{ incidentDesignationLabel | translate }}</h4>
							</legend>
							<div class="form-group col-md-12">
								<label class="control-label">{{ incidentCategoryLabel | translate }}: </label>
								<div>
									<ng-select
										[dropdownPosition]="bottom"
										name="listIncidentCategory"
										[items]="listIncidentCategory"
										bindLabel="libelle"
										[(ngModel)]="interneIncidentInfo.category"
									>
									</ng-select>
								</div>
							</div>

							<div class="form-group col-md-12">
								<label class="control-label"
									>{{ "CONTROL_RULES.CRITICALITY" | translate }}:
								</label>
								<div>
									<ng-select
										[dropdownPosition]="bottom"
										name="listCriticality"
										[items]="listCriticality"
										bindLabel="key"
										bindValue="code"
										[(ngModel)]="interneIncidentInfo.criticality"
									>
									</ng-select>
								</div>
							</div>

							<div class="col-md-12">
								<label class="control-label col-md-12"
									><span>{{ incidentDescriptionLabel | translate }}</span>
									<span class="text-rigth"
										><i
											(click)="showOrHide('Desc')"
											*ngIf="!showDesc"
											class="fa fa-plus-circle fa-2x"
											style="cursor: pointer;"
										></i
										><i
											(click)="showOrHide('Desc')"
											*ngIf="showDesc"
											class="fa fa-minus-circle fa-2x"
											style="cursor: pointer;"
										></i></span
								></label>
								<div>
									<textarea
										*ngIf="showDesc"
										class="form-control"
										rows="2"
										[(ngModel)]="interneIncidentInfo.incidentDesc"
									></textarea>
								</div>
							</div>
							<div class="form-group col-md-12">
								<label class="control-label col-md-12"
									><span>Additional impact</span>
									<span class="text-rigth"
										><i
											(click)="showOrHide('Impact')"
											*ngIf="!showImpact"
											class="fa fa-plus-circle fa-2x"
											style="cursor: pointer;"
										></i
										><i
											(click)="showOrHide('Impact')"
											*ngIf="showImpact"
											class="fa fa-minus-circle fa-2x"
											style="cursor: pointer;"
										></i></span
								></label>
								<div>
									<textarea
										*ngIf="showImpact"
										class="form-control"
										rows="2"
										[(ngModel)]="interneIncidentInfo.addImpact"
									></textarea>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
				<div class=" border-right_gray col-md-5">
					<div class="">
						<fieldset>
							<legend>
								<h4>Claims details</h4>
							</legend>
							<div class=" row form-group">
								<div class="col-md-7">
									<label class="control-label ">Insurance other than transport:</label>
								</div>
								<div class="col-md-2">
									<select
										class="form-control"
										(change)="affectInsurance()"
										[(ngModel)]="interneIncidentInfo.insurance"
									>
										<option *ngFor="let item of yesOrNo" [ngValue]="item.key">{{
											item.value
										}}</option>
									</select>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-7">
									<label class="control-label col-md">Impacted Goods amount:</label>
								</div>
								<div class="col-md-3">
									<input
										type="number"
										class="form-control"
										[(ngModel)]="interneIncidentInfo.unitDamagedAmount"
									/>
								</div>
								<div class="col-md-2 padding-left-0 left--15">
									<label class="control-label col-md">{{
										interneIncidentInfo?.currency?.code
									}}</label>
								</div>
								<!-- <div class="col-md-5 col-md-offset-1">
                  <div class="row">

                  </div>
                </div> -->
							</div>

							<div class="row form-group">
								<div class="col-md-4">
									<label class="control-label">Impacted Transport amount:</label>
								</div>
								<div class="col-md-2 padding-rigth-0">
									<input
										type="number"
										class="form-control"
										(blur)="percentageOrCost(interneIncidentInfo.impactedTransportPercentage, null)"
										[(ngModel)]="interneIncidentInfo.impactedTransportPercentage"
									/>
								</div>
								<div class="col-md-1 padding-left-0">
									<label class="control-label">{{ percentage }}</label>
								</div>
								<div class="col-md-3">
									<input
										type="number"
										class="form-control"
										(blur)="percentageOrCost(null, interneIncidentInfo.impactedTransportAmount)"
										[(ngModel)]="interneIncidentInfo.impactedTransportAmount"
									/>
								</div>
								<div class="col-md-1 padding-left-0 left--15">
									<label class="control-label col-md">{{
										interneIncidentInfo?.currency?.code
									}}</label>
								</div>
							</div>

							<div
								class="row form-group"
								*ngFor="let cost of interneIncidentInfo.othersCost; let in = index"
							>
								<div class="col-md-4 form-group">
									<input
										type="text"
										[(ngModel)]="cost.libelle"
										id="input"
										placeholder="cost libelle"
										class="form-control"
									/>
								</div>
								<div class="col-md-2 padding-rigth-0">
									<button class=" btn btn-danger btn-xs" type="button" (click)="deleteCost(in)">
										<i class="fa fa-minus" aria-hidden="true"></i>
									</button>
								</div>
								<div class="col-md-4 col-md-offset-1">
									<div class="row">
										<div class="col-md-8 padding-right-0">
											<input
												type="number"
												[(ngModel)]="cost.cost"
												id="input"
												class="form-control"
											/>
										</div>
										<div class="col-md-3 padding-left-0">
											<label class="control-label col-md">{{ cost.currencyLabel }}</label>
										</div>
									</div>
								</div>
							</div>

							<div class=" row form-group">
								<div class="form-group col-md-4">
									<button class="btn btn-primary btn-xs" type="button" (click)="addNewCost()">
										<i class="fa fa-plus" aria-hidden="true"></i>
										Add Other Cost
									</button>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
				<div class="col-md-4">
					<div class="">
						<fieldset>
							<legend>
								<h4>Financial</h4>
							</legend>
							<div class="row form-group">
								<div class="col-md-4">
									<label class="control-label col-md">Claim amount:</label>
								</div>
								<div class="col-md-3 padding-right-0">
									<input
										type="number"
										class="form-control"
										(focus)="calculClaimAmount()"
										[(ngModel)]="interneIncidentInfo.claimAmount"
									/>
								</div>
								<div class="col-md-1 padding-left-0">
									<label class="control-label col-md">{{
										interneIncidentInfo?.currency?.code
									}}</label>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-4">
									<label class="control-label col-md">Recovered from carrier:</label>
								</div>
								<div class="col-md-3 padding-right-0">
									<input
										type="number"
										class="form-control"
										[(ngModel)]="interneIncidentInfo.recovered"
									/>
								</div>
								<div class="col-md-1 padding-left-0">
									<label class="control-label col-md">{{
										interneIncidentInfo?.currency?.code
									}}</label>
								</div>
							</div>
							<div *ngIf="interneIncidentInfo.insurance" class="row form-group">
								<div class="col-md-4">
									<label class="control-label col-md">Recovered from insurance:</label>
								</div>
								<div class="col-md-3 padding-right-0">
									<input
										type="number"
										class="form-control"
										[(ngModel)]="interneIncidentInfo.recoveredInsurance"
									/>
								</div>
								<div class="col-md-1 padding-left-0">
									<label class="control-label col-md">{{
										interneIncidentInfo?.currency?.code
									}}</label>
								</div>
							</div>

							<div class="row form-group">
								<div class="col-md-4">
									<label class="control-label col-md">Balance:</label>
								</div>
								<div class="col-md-3 padding-right-0">
									<input
										type="number"
										class="form-control"
										[(ngModel)]="
											interneIncidentInfo.claimAmount -
											interneIncidentInfo.recovered -
											interneIncidentInfo.recoveredInsurance
										"
									/>
								</div>
								<div class="col-md-1 padding-left-0">
									<label class="control-label col-md">{{
										interneIncidentInfo?.currency?.code
									}}</label>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
