<div class="trpl-zone-settings-root">
	<app-generic-table
		#genericTable
		[hideTable]="isAddZone"
		[title]="'TRANSPORTATION_PLAN.ZONES' | translate"
		[searchInput]="searchCriteria"
		[dataInfos]="dataInfos"
		[detailsInfos]="null"
		(addFormEmitter)="displayAddZone($event)"
		(editFormEmitter)="diplayEditZone($event)"
		(deleteEventEmitter)="deleteZone($event)"
		[component]="GenericTableScreen.SETTINGS_ZONE"
		(onDataLoaded)="onDataLoaded($event)"
		[isHorizontalScrollAlwaysVisible]="true"
		[scrollHeight]="350"
		[sharedDropDownZIndex]="sharedDropDownZIndex"
		(sharedDropDownZIndexEmit)="sharedDropDownZIndexChange(sharedDropDownZIndex)"
		[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
	>
		<form
			class="generic-default"
			formcontent
			*ngIf="isAddZone"
			role="form"
			#formCtrlAdminZone="ngForm"
		>
			<div class="form-content col-sm-12 margin-top-10">
				<div class="col-md-3 col-sm-4 col-xs-12 form-group">
					<label>{{ "TRANSPORTATION_PLAN.ZONE_REFERENCE" | translate }}</label>
					<div>
						<input
							type="text"
							ngControl="referenceCtrl"
							[(ngModel)]="zone.ref"
							name="reference"
							class="form-control input-underline input-xs"
							(ngModelChange)="changeModel(formCtrlAdminZone)"
							required
						/>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12 form-group">
					<label>{{ "TRANSPORTATION_PLAN.ZONE_DESIGNATION" | translate }}</label>
					<div>
						<input
							type="text"
							ngControl="designCtrl"
							[(ngModel)]="zone.designation"
							name="designation"
							class="form-control input-underline input-xs"
							(ngModelChange)="changeModel(formCtrlAdminZone)"
						/>
					</div>
				</div>
			</div>

			<div class="form-content col-sm-12 text-right margin-bottom-10">
				<div class="col-md-12">
					<button
						*ngIf="zone != null && zone.ebZoneNum == null"
						class="btn btn-sm btn-success btn-shadow"
						[disabled]="!formCtrlAdminZone.valid"
						(click)="addZone()"
					>
						{{ "COMPANY_PROFILE.BTN_AJOUTER" | translate }}
					</button>
					<button
						*ngIf="zone != null && zone.ebZoneNum != null"
						class="btn btn-sm btn-success btn-shadow"
						[disabled]="!formCtrlAdminZone.valid"
						(click)="editZone()"
					>
						{{ "COMPANY_PROFILE.BTN_MODIFIER" | translate }}
					</button>
					<button class="btn btn-sm btn-success btn-shadow" (click)="backToListZone()">
						{{ "GENERAL.CANCEL" | translate }}
					</button>
				</div>
			</div>
		</form>
	</app-generic-table>
</div>
