/******** VARIABLES ********/
@import "../../../../../styles/variables";

.create-wf-root {
	min-width: 400px;
	display: flex;
	flex-flow: column;
	overflow: hidden;
}

.wf-steps {
	height: 100%;
	overflow-y: auto; // Set this overflow before the inner overflow hidden to limit height of the div
	width: 100%; // éviter que le bloc bouge quand il y a pas des données
	&.full-width {
		width: 100%;
	}
	.wf-step {
		height: 100%;
		overflow-y: hidden; // Hide the overflow here to let each step manage his overflow
	}
}

.wf-head {
	flex: 0 0 auto;
	box-shadow: 0 0 4px -1px $gray-dark;
	z-index: 1;
	// border-bottom: 1px solid #eeeeee;
}

.creation-title {
	font-size: 18px;
	width: 100%;
	margin: 0;
	padding: 6px;
	& + .details-steps {
		padding-top: 4px;
	}
}

.wf-footer-buttons {
	width: 100%;
	padding: 3px;
	// border-top: 1px solid #eeeeee;
	box-shadow: 0 0 5px -1px $gray-dark;
	display: flex;
	justify-content: flex-end;
	height: 41px; // height fixed on 41px to avoid scroll on the screen (combined with wf-body-left on the calc() proporty)
	z-index: 1;
}

.wf-body {
	flex: 0 1 100%;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	overflow: auto;
}

.wf-body-left {
	display: flex;
	flex-flow: row;
	overflow: auto; // Prevent content to take more size than allowed
	// flex: 1 0 0; // je commente cette propriété pour que les deux blocs "saisie de cotation" et "synthése" prends toute la largeur
	height: calc(
		100% - 41px
	); // pour avoir éviter d'avoir un scroll sur l'écran -- 41px = la hauteur du footer (conteneur des boutons)
	width: 100%;
}

.wf-body-right {
	flex: 0 0 350px; // Set the flex grow to 0 if this part should have fixed size
	overflow-y: auto;
	padding-right: 10px;
	&.displayed-options {
		// cette classe sert a masque la synthése quand j'affiche le bloc des options
		flex: 0;
		visibility: hidden;
		padding: 0;
	}
}

// TODO : Move this class to generic form sass file
.display-message {
	margin: 10px;
	font-size: $fz-lg;
	color: black;
	text-align: center;
	white-space: pre;
}

.modal-dialog {
	width: 80%;
}

.modal.modal-backdrop {
	display: block !important;
	z-index: 1039;
}
