<div class="create-wf-root" [ngClass]="enableCardStyle ? 'form-card' : 'form-card-no-border'">
	<div *ngIf="showStepNavigation" class="wf-head">
		<h1 class="creation-title">
			{{ "PRICING_BOOKING.NEW_TRANSPORT_REQUEST" | translate }}
		</h1>
		<div class="details-steps">
			<div class="step-wrapper cursor-pointer" *ngIf="isStepVisible(Step.EXPEDITION)">
				<div
					class="step-container"
					[class]="isStepEnteredWorkflow(Step.EXPEDITION) ? 'bg-selected' : 'bg-disabled'"
					(click)="selectStep(Step.EXPEDITION)"
				>
					<div class="step-status">
						{{ "PRICING_BOOKING.EXPEDITION" | translate }}
					</div>
				</div>
			</div>
			<div class="step-wrapper cursor-pointer" *ngIf="isStepVisible(Step.REFERENCE)">
				<div
					class="step-container"
					[class]="isStepEnteredWorkflow(Step.REFERENCE) ? 'bg-selected' : 'bg-disabled'"
					(click)="selectStep(Step.REFERENCE)"
				>
					<div class="step-status">
						{{ "PRICING_BOOKING.REFERENCE" | translate }}
					</div>
				</div>
			</div>
			<div class="step-wrapper cursor-pointer" *ngIf="isStepVisible(Step.UNITS)">
				<div
					class="step-container"
					[class]="isStepEnteredWorkflow(Step.UNITS) ? 'bg-selected' : 'bg-disabled'"
					(click)="selectStep(Step.UNITS)"
				>
					<div class="step-status">
						{{ "PRICING_BOOKING.UNITS" | translate }}
					</div>
				</div>
			</div>
			<div class="step-wrapper cursor-pointer" *ngIf="isStepVisible(Step.DOCUMENTS)">
				<div
					class="step-container"
					[class]="isStepEnteredWorkflow(Step.DOCUMENTS) ? 'bg-selected' : 'bg-disabled'"
					(click)="selectStep(Step.DOCUMENTS)"
				>
					<div class="step-status">
						{{ "PRICING_BOOKING.DOCUMENTS" | translate }}
					</div>
				</div>
			</div>
			<div class="step-wrapper cursor-pointer" *ngIf="isStepVisible(Step.PRICING)">
				<div
					class="step-container"
					[class]="isStepEnteredWorkflow(Step.PRICING) ? 'bg-selected' : 'bg-disabled'"
					(click)="selectStep(Step.PRICING)"
				>
					<div class="step-status">
						{{ "PRICING_BOOKING.PRICING" | translate }}
					</div>
				</div>
			</div>
			<div class="step-wrapper cursor-pointer" *ngIf="isStepVisible(Step.INFOS_ABOUT_TRANSPORT)">
				<div
					class="step-container"
					[class]="
						isStepEnteredWorkflow(Step.INFOS_ABOUT_TRANSPORT) ? 'bg-selected' : 'bg-disabled'
					"
					(click)="selectStep(Step.INFOS_ABOUT_TRANSPORT)"
				>
					<div class="step-status">
						{{ "PRICING_BOOKING.OPTIONS.INFORMATIONS_ABOUT_TRANSPORT" | translate }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wf-body">
		<div class="wf-body-left">
			<div
				class="wf-steps"
				[ngClass]="{
					'full-width read-only':
						displayOptions ||
						showAddressPopup ||
						readOnly ||
						!requiredReadOnly ||
						selectedStep === Step.CONSOLIDATION ||
						demande.xEcStatut == DemandeStatus.PND
				}"
			>
				<div class="wf-step" [hidden]="!(selectedStep === Step.CONSOLIDATION)">
					<app-step-consolidation
						[(demande)]="demande"
						(checkEvent)="onCheckDemandeInitial()"
						[isForGrouping]="isForGrouping"
						[listExchangeRate]="listExchangeRate"
						[statusGroupage]="statusGroupage"
					></app-step-consolidation>
				</div>

				<div class="wf-step" [hidden]="!(selectedStep === Step.EXPEDITION)">
					<app-step-expedition
						[(demande)]="demande"
						[readOnly]="readOnly"
						[isPendingStatus]="isPendingStatus"
						[requiredReadOnly]="requiredReadOnly"
						[draftMode]="draftMode"
						[selected]="selectedStep === Step.EXPEDITION"
						[userConnected]="userConnected"
						[listTypeFlux]="listTypeFlux"
						[listSchemaPsl]="listSchemaPsl"
						[listIncoterms]="listIncoterms"
						[listCountry]="listCountry"
						[listZone]="listZone"
						[nbSavedFormLoaded]="nbSavedFormLoaded"
						[listModeTransport]="listModeTransport"
						[listTypeTransport]="listTypeTransport"
						(reloadDataPreference)="getDataPreference($event)"
						(typeTransportEmitter)="setTransportTypeFromExpedition($event)"
						[showAddressPopup]="showAddressPopup"
						(showAddressPopupChange)="showAddressPopupChangehandler($event)"
					></app-step-expedition>
				</div>
				<div class="wf-step" [hidden]="!(selectedStep === Step.REFERENCE)">
					<app-step-reference
						[(demande)]="demande"
						[readOnly]="readOnly"
						[requiredReadOnly]="requiredReadOnly"
						[draftMode]="draftMode"
						[selected]="selectedStep === Step.REFERENCE"
						[listCostCenter]="listCostCenter"
						[listCategorie]="demande.listCategories"
						[listFields]="demande.listCustomsFields"
						[listTypeDemandeByCompagnie]="listTypeDemandeByCompagnie"
						[listExportControl]="listExportControl"
						[hasContributionAccess]="hasContributionAccess"
						[deletedCustomFields]="deletedCustomFields"
						(updateChatEmitter)="updateChatEmitter.emit($event)"
					></app-step-reference>
				</div>
				<div class="wf-step" [hidden]="!(selectedStep === Step.UNITS)">
					<app-step-unit
						[(demande)]="demande"
						[selected]="selectedStep === Step.UNITS"
						[draftMode]="draftMode"
						[readOnly]="readOnly"
						[requiredReadOnly]="requiredReadOnly"
						[isPending]="isPendingStatus"
						[marchandiseTypeUnit]="listTypeUnit"
						[listExportControl]="listExportControl"
						[listCountries]="listCountries"
						[listModeTransport]="listModeTransport"
						[listCustomsFields]="listCustomsFields"
						(updateChatEmitter)="updateChatEmitter.emit($event)"
					></app-step-unit>
				</div>
				<div class="wf-step" [hidden]="!(selectedStep === Step.DOCUMENTS)">
					<app-step-documents
						[(demande)]="demande"
						[readOnly]="readOnly"
						[draftMode]="draftMode"
						[selected]="selectedStep === Step.DOCUMENTS"
						(newEbDemandeNumRetrieved)="newEbDemandeNum = $event"
					></app-step-documents>
				</div>
				<div class="wf-step" [hidden]="!(selectedStep === Step.PRICING)">
					<app-step-pricing
						[(demande)]="demande"
						[isPendingStatus]="isPendingStatus"
						[(refreshDisabled)]="refreshDisabled"
						[readOnly]="readOnly"
						[requiredReadOnly]="requiredReadOnly"
						[draftMode]="draftMode"
						[(isTF)]="isTF"
						[(optionInfoAboutTransport)]="optionInfoAboutTransport"
						[selected]="selectedStep === Step.PRICING"
						[userConnected]="userConnected"
						[hasContributionAccess]="hasContributionAccess"
						[isForGrouping]="isForGrouping"
						[qrGroup]="qrGroup"
						[groupProposition]="groupProposition"
						[listCurrencyDemande]="stepReference?.listCurrencyDemande"
						(updateChatEmitter)="updateChatEmitter.emit($event)"
						(setListTransporteurPreference)="setListTransporteurPreference($event)"
						(refreshCostEvent)="refreshCost($event)"
						(listExchangeRateEvent)="getListExchangeRate($event)"
					></app-step-pricing>
				</div>
				<div class="wf-step" [hidden]="!(selectedStep === Step.INFOS_ABOUT_TRANSPORT)">
					<app-step-infos-about-transport
						#stepInfosAboutTransport
						[(demande)]="demande"
						[readOnly]="readOnly"
						[requiredReadOnly]="requiredReadOnly"
						[draftMode]="draftMode"
						[selected]="selectedStep === Step.INFOS_ABOUT_TRANSPORT"
						[userConnected]="userConnected"
						(updateChatEmitter)="updateChatEmitter.emit($event)"
						[hasContributionAccess]="hasContributionAccess"
					></app-step-infos-about-transport>
				</div>
			</div>
			<div *ngIf="showOverview && demande && isCreation" class="wf-body-right">
				<app-demande-overview
					[ebDemande]="demande"
					[typeTransport]="typeTransport"
					[creationMode]="isCreation"
					[expandAllAtStart]="true"
					[hideStepArrow]="true"
					[canCollapse]="false"
					[showInfoAboutTransport]="isTF && optionInfoAboutTransport"
					(onStepSelected)="selectStep($event)"
					[listModeTransport]="listModeTransport"
					[showInfoPricing]="showInfoPricing"
				></app-demande-overview>
			</div>
		</div>
		<div *ngIf="isCreation" class="wf-footer-buttons">
			<div>
				<button class="btn btn-secondary" *ngIf="selectedStepHasOptions" (click)="clickOptions()">
					{{ "PRICING_BOOKING.WF_OPTION" | translate }}
				</button>
				<button *ngIf="!isForGrouping" class="btn btn-secondary" (click)="saveForm()">
					{{ "PRICING_BOOKING.SAVE_MASK" | translate }}
				</button>
				<button class="btn btn-secondary" (click)="selectPrevStep()" [disabled]="!hasPrevStep">
					<i class="fa fa-arrow-left"></i>
				</button>
				<button
					class="btn btn-primary"
					*ngIf="hasNextStep"
					(click)="selectNextStep()"
					[class.disabled]="!(selectedStepValidated || draftMode)"
				>
					<i class="fa fa-arrow-right"></i>
				</button>
				<!-- acls[ACL.Rule.Demande_Creation_Draft_Enable] -->
				<button
					class="btn btn-primary"
					*ngIf="!draftMode && acls[ACL.Rule.Demande_Creation_Draft_Enable]"
					(click)="enableDraftMode()"
					[class.disabled]="checkGlobalValidity()"
				>
					{{ "PRICING_BOOKING.DRAFT" | translate }}
				</button>
				<button
					class="btn btn-primary"
					*ngIf="
						(isTF || confirmableCarrier) &&
						isStepEnteredWorkflow(Step.PRICING) &&
						!isForGrouping &&
						!draftMode
					"
					[disabled]="!confirmableCarrier || !checkGlobalValidity()"
					(click)="confirmDemande($event)"
				>
					{{ "PRICING_BOOKING.WF_ACTION_CONFIRM_QUOTATION" | translate }}
				</button>
				<button
					class="btn btn-primary"
					*ngIf="
						(isTF || confirmableCarrier) &&
						isStepEnteredWorkflow(Step.PRICING) &&
						!isForGrouping &&
						!draftMode
					"
					[disabled]="!confirmableCarrier || !checkGlobalValidity()"
					(click)="createAndTrackAction($event)"
				>
					{{ "TRANSPORT_MANAGEMENT.CREATE_AND_TRACK" | translate }}
				</button>
				<button
					class="btn btn-primary"
					*ngIf="!isTF && selectedStep === Step.PRICING && !isForGrouping && !draftMode"
					[disabled]="!checkGlobalValidity() || confirmableCarrier"
					(click)="addDemande($event)"
				>
					{{ "PRICING_BOOKING.WF_ACTION_ASK_QUOTATION" | translate }}
				</button>
				<button class="btn btn-primary" *ngIf="draftMode" (click)="createDraft($event)">
					{{ "PRICING_BOOKING.CREATE_DRAFT" | translate }}
				</button>
			</div>
		</div>
	</div>
</div>
