<div class="row col-md-12">
	<div class="col-md-4 padding-0 padding-top-10">
		<fieldset class="fieldset">
			<legend>{{ "QM_TARNSPORT_INFO.TITLE" | translate }}</legend>

			<div class="col-md-12">
				<label class="colorBleu" for="span">{{ "QM_TARNSPORT_INFO.CARRIER" | translate }}:</label>
				<span
					class="spancontent"
					*ngIf="demande.exEbDemandeTransporteurs && demande.exEbDemandeTransporteurs.length > 0"
				>
					{{ demande.exEbDemandeTransporteurs[0].xEbEtablissement?.ebCompagnie?.nom }}
				</span>
			</div>
			<div class="col-md-12">
				<label class="colorBleu" for="span"
					>{{ "QM_TARNSPORT_INFO.ORIGIN_COUNTRY" | translate }}:</label
				>
				<span class="spancontent">{{ demande.libelleOriginCountry }}</span>
			</div>
			<div class="col-md-12">
				<label class="colorBleu" for="span"
					>{{ "QM_TARNSPORT_INFO.DESTINATION_COUNTRY" | translate }}:</label
				>
				<span class="spancontent">{{ demande.libelleDestCountry }}</span>
			</div>
			<div class="col-md-12">
				<label class="colorBleu" for="span">{{ "QM_TARNSPORT_INFO.INCOTERM" | translate }}:</label>
				<span class="spancontent">{{ demande.xEcIncotermLibelle }}</span>
			</div>
			<div class="col-md-12">
				<label class="colorBleu" for="span"
					>{{ "QM_TARNSPORT_INFO.TRANSPORT_MODE" | translate }}:</label
				>
				<span class="spancontent">
					{{ Statique.getModeTransportLibelle(demande.xEcModeTransport) }}</span
				>
			</div>
			<div class="col-md-12">
				<label class="colorBleu" for="span"
					>{{ "QM_TARNSPORT_INFO.TRANSPORT_INSURANCE" | translate }}:</label
				>
				<span class="spancontent">{{ insurance }}</span>
			</div>
			<div
				*ngIf="
					demande.exEbDemandeTransporteurs &&
					demande.exEbDemandeTransporteurs[0] &&
					Statique.isDefined(demande.exEbDemandeTransporteurs[0].price)
				"
				class="col-md-12"
			>
				<label class="colorBleu" for="span"
					>{{ "QM_TARNSPORT_INFO.TRANSPORT_COST" | translate }}:</label
				>
				<span class="spancontent">{{
					demande.exEbDemandeTransporteurs ? demande.exEbDemandeTransporteurs[0].price : ""
				}}</span>
				<span>{{ demande.xecCurrencyInvoice?.code }}</span>

				<button class="spancontent btn btn-primary btn-xs" (click)="showDetailsPrice()">
					{{ "QM_TARNSPORT_INFO.DETAILS" | translate }}
				</button>
			</div>
			<div>
				<label class="col-md-8 colorBleu" for="span"
					>{{ "QUALITY_MANAGEMENT.SERVICE_LEVEL" | translate }} :
				</label>
				<span class="col-md-4">{{ demande?.typeRequestLibelle }}</span>
			</div>
		</fieldset>
	</div>
	<div class="col-md-4 padding-0 padding-top-10">
		<fieldset class="fieldset">
			<legend>{{ "QM_TARNSPORT_INFO.CATEGORIES" | translate }}</legend>
			<div *ngIf="demande.listCategories != null && demande.listCategories.length === 0">
				<p class="no-customize">{{ "QM_TARNSPORT_INFO.NO_CATEGORIE_CUSTOMED" | translate }}</p>
			</div>
			<div
				class="col-md-12 display-inline"
				*ngFor="let cat of demande.listCategories; let i = index"
			>
				<label class="colorBleu" for="span">{{ cat.libelle }}:</label>
				<span *ngFor="let catLabel of cat.labels" class="spancontent">
					{{ catLabel.libelle }}
				</span>
			</div>
		</fieldset>
	</div>
	<div class="col-md-4 padding-0 padding-top-10">
		<fieldset class="fieldset">
			<legend>{{ "QM_TARNSPORT_INFO.PARAMETRABLES_FIELDS" | translate }}</legend>
			<div *ngIf="demande.listCustomsFields != null && demande.listCustomsFields.length === 0">
				<p class="no-customize">{{ "QM_TARNSPORT_INFO.NO_FIELD_CUSTOMED" | translate }}</p>
			</div>
			<div class="col-md-12" *ngFor="let params of demande.listCustomsFields; let i = index">
				<label class="colorBleu" for="span">{{ params.label }}:</label>
				<span class="spancontent">{{ params.value }}</span>
			</div>
		</fieldset>
	</div>
</div>
<app-pop-up-details-demande
	*ngIf="showPrice && showPriceExEbDemandeTransporteur != null && demande != null"
	(EditEventChange)="showPrice = $event; showPriceExEbDemandeTransporteur = null"
	[ebDemande]="demande"
	[exEbDemandeTransporteur]="showPriceExEbDemandeTransporteur"
	[isForEdit]="true"
>
</app-pop-up-details-demande>
