.panel-body {
	padding: 0px;
	min-height: 500px;
}

.row {
	margin-bottom: 10px;
}

.input-time input {
	padding: 3px !important;
	margin-bottom: 3px;
}
.fa-15x.fa-plus-circle,
.fa-15x.fa-times-circle-o {
	color: #018dad;
}
