<div class="content_wrapper app-padding">
	<app-pricing-booking-search
		#pricingBookingSearchComponent
		[module]="module"
		[listFields]="listFields"
		[listCategorie]="listCategorie"
		(onSearch)="search($event)"
	></app-pricing-booking-search>
	<app-pricing-booking-listing
		[pricingBookingSearchComponent]="pricingBookingSearchComponent"
		[module]="module"
		(listFieldsEmitter)="paramFieldsHandler($event)"
		(listCategorieEmitter)="CategorieHandler($event)"
		[searchInput]="searchInput"
		*ngIf="
			pricingBookingSearchComponent && userConnected != null && userConnected.ebUserNum != null
		"
		(toasterDisplay)="showSuccess($event)"
	></app-pricing-booking-listing>
</div>
