<form #additionalInformationDeclaration="ngForm" novalidate>
	<app-collapsible-panel title="Additional information">
		<div class="form-group">
			<app-form-custom
				[declaration]="declaration"
				[lisrFormField]="listAdditionalInformation"
				initFields="all"
				[editable]="false"
				[ebModuleNum]="module"
				[column]="12"
			></app-form-custom>
		</div>
	</app-collapsible-panel>
</form>
