<div class="flagListView display-flex">
	<span *ngIf="!isLoading" class="flagListView display-flex">
		<app-flag
			*ngFor="let flag of listFlagOrdered"
			[iconCode]="flag.icon"
			[color]="flag.color"
			[label]="flag.name"
			[iconSize]="iconSize"
		></app-flag>
	</span>
	<p-progressSpinner
		[style]="{ width: iconSize + 'px', height: iconSize + 'px' }"
		strokeWidth="2"
		*ngIf="isLoading"
		fill="#EEEEEE"
		animationDuration="2s"
	></p-progressSpinner>
</div>
