<div class="padding-top-5">
	<app-generic-table
		#genericTable
		[hideTable]="isAddEditMode"
		[title]="'SETTINGS.TYPE_OF_GOODS' | translate"
		[searchInput]="searchCriteria"
		[dataInfos]="dataInfos"
		[detailsInfos]="null"
		(addFormEmitter)="openAddForm($event)"
		(editFormEmitter)="openEditForm($event)"
		(deleteEventEmitter)="openDeletePopup($event)"
		[component]="GenericTableScreen.TYPE_OF_GOODS"
		(onDataLoaded)="onDataLoaded()"
		[parentContext]="this"
		[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
	>
		<form class="generic-default" formcontent *ngIf="isAddEditMode" role="form" #formCtrl="ngForm">
			<div class="form-content col-sm-12 margin-top-10">
				<div class="row">
					<div class="col-md-3 col-sm-4 col-xs-12 form-group">
						<label>{{ "GENERAL.CODE" | translate }}</label>
						<div>
							<input
								type="text"
								[(ngModel)]="typeGoods.code"
								[forbiddenValues]="listExistingCodes"
								name="type"
								class="form-control input-underline input-xs"
								required
							/>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12 form-group">
						<label>{{ "GENERAL.LABEL" | translate }}</label>
						<div>
							<input
								type="text"
								ngControl="description"
								[(ngModel)]="typeGoods.label"
								name="description"
								class="form-control input-underline input-xs"
								required
							/>
						</div>
					</div>
				</div>
			</div>

			<div class="form-content col-sm-12 text-right margin-bottom-10">
				<div class="col-md-12">
					<button
						*ngIf="!editMode && typeGoods != null && typeGoods.ebTypeGoodsNum == null"
						class="btn btn-sm btn-success btn-shadow"
						[disabled]="!formCtrl.valid"
						(click)="addItem($event)"
					>
						{{ "COMPANY_PROFILE.BTN_AJOUTER" | translate }}
					</button>
					<button
						*ngIf="editMode && typeGoods != null"
						class="btn btn-sm btn-success btn-shadow"
						[disabled]="!formCtrl.valid"
						(click)="editItem($event)"
					>
						{{ "COMPANY_PROFILE.BTN_MODIFIER" | translate }}
					</button>
					<button class="btn btn-sm btn-success btn-shadow" (click)="backToList()">
						{{ "GENERAL.CANCEL" | translate }}
					</button>
				</div>
			</div>
		</form>
	</app-generic-table>
</div>
