<ng-select
	class="flag-multi-select"
	(change)="selectFlag()"
	name="icon"
	[items]="listAllFlags"
	[multiple]="true"
	bindLabel="nom"
	bindValue="ebFlagNum"
	appendTo="body"
	placeholder="{{ 'FLAG_MANAGEMENT.HINT_SELECT_FLAG' | translate }}"
	[(ngModel)]="listFlagNumArray"
>
	<ng-template ng-label-tmp let-item="item">
		<app-flag [iconCode]="item.icon" [color]="item.color"></app-flag>
	</ng-template>
	<ng-template ng-option-tmp let-item="item">
		<app-flag [iconCode]="item.icon" [color]="item.color"></app-flag>
	</ng-template>
</ng-select>
