@import "../../../../administrateur-company/administrateur-company.component.css";
@import "../../../../../../assets/css/buttonToggle.css";

/*
.itemTabRoot {
    padding-bottom: 20px;
}

table {
    margin-top: 12px;
}
*/
