<div class="trpl-plan-settings-root">
	<app-generic-table
		*ngIf="this.dataInfos.cols && this.dataInfos.cols.length > 0 && Statique.isDefined(listGrille)"
		#genericTable
		[hideTable]="isAddPlan"
		[title]="'TRANSPORTATION_PLAN.PLANS' | translate"
		[searchInput]="searchInput"
		[dataInfos]="dataInfos"
		[detailsInfos]="null"
		(addFormEmitter)="displayAddPlan()"
		(editFormEmitter)="diplayEditPlan($event)"
		(cloneFormEmitter)="setCloneMode($event)"
		(deleteEventEmitter)="deletePlan($event)"
		(onDataLoaded)="onDataLoaded($event)"
		[component]="GenericTableScreen.SETTINGS_TRANSPORT_PLAN"
		[isHorizontalScrollAlwaysVisible]="true"
		[scrollHeight]="350"
		[sharedDropDownZIndex]="sharedDropDownZIndex"
		(sharedDropDownZIndexEmit)="sharedDropDownZIndexChange(sharedDropDownZIndex)"
		[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
	>
		<form
			class="generic-default"
			formcontent
			*ngIf="isAddPlan"
			role="form"
			#formCtrlAdminPlan="ngForm"
		>
			<div class="form-content col-sm-12 margin-top-10">
				<div class="col-md-3 col-sm-4 col-xs-12 form-group">
					<label>{{ "TRANSPORTATION_PLAN.PLAN_REFERENCE" | translate }}</label>
					<div>
						<input
							type="text"
							ngControl="referenceCtrl"
							[(ngModel)]="plan.reference"
							name="reference"
							class="form-control input-underline input-xs"
							(ngModelChange)="changeModel(formCtrlAdminPlan)"
							required
						/>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12 form-group">
					<label>{{ "TRANSPORTATION_PLAN.PLAN_DESIGNATION" | translate }}</label>
					<div>
						<input
							type="text"
							ngControl="designationCtrl"
							[(ngModel)]="plan.designation"
							name="designation"
							class="form-control input-underline input-xs"
							(ngModelChange)="changeModel(formCtrlAdminPlan)"
						/>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12 form-group">
					<label>{{ "TRANSPORTATION_PLAN.ORIGIN" | translate }}</label>
					<div>
						<select
							class="form-control input-xs padding-all-3"
							[compareWith]="Statique.byEbPlZoneDTONum"
							[(ngModel)]="plan.origine"
							name="origin"
							ngControl="originCtrl"
							required
						>
							<option *ngFor="let _zone of listZone" [ngValue]="_zone">{{
								renderZoneName(_zone)
							}}</option>
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12 form-group">
					<label>{{ "TRANSPORTATION_PLAN.DESTINATION" | translate }}</label>
					<div>
						<select
							class="form-control input-xs padding-all-3"
							[(ngModel)]="plan.destination"
							[compareWith]="Statique.byEbPlZoneDTONum"
							name="destination"
							ngControl="destinationCtrl"
							required
						>
							<option *ngFor="let _zone of listZone" [ngValue]="_zone">{{
								renderZoneName(_zone)
							}}</option>
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12 form-group">
					<label>{{ "TRANSPORTATION_PLAN.GRILLES" | translate }}</label>
					<div>
						<select
							class="form-control input-xs padding-all-3"
							[compareWith]="Statique.byEbGrilleNum"
							[(ngModel)]="plan.grilleTarif"
							name="grille"
							ngControl="grilleCtrl"
							required
						>
							<option selected [ngValue]="null"></option>
							<option *ngFor="let _grille of listGrille" [ngValue]="_grille">{{
								this.getGrilleTarifDisplayString(_grille)
							}}</option>
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12 form-group">
					<label>{{ "TRANSPORTATION_PLAN.SERVICE_LEVEL" | translate }}</label>
					<div>
						<select
							class="form-control input-xs padding-all-3"
							[(ngModel)]="plan.typeDemande"
							name="typeDemande"
							ngControl="typeDemandeCtrl"
						>
							<option selected [ngValue]="null"></option>
							<option
								*ngFor="let item of listTypeDemandeByCompagnie"
								[ngValue]="item.ebTypeRequestNum"
							>
								{{ renderTypeRequestName(item) }}
							</option>
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12 form-group">
					<label>{{ "TRANSPORTATION_PLAN.MODE_TRANSPORT" | translate }}</label>
					<div>
						<select
							class="form-control input-xs padding-all-3"
							[(ngModel)]="plan.modeTransport"
							name="modeTransport"
							ngControl="modeTransportCtrl"
							(change)="selectListTypeTransport(plan.modeTransport)"
						>
							<option selected [ngValue]="null"></option>
							<option *ngFor="let item of listModeTransports" [ngValue]="item.code">
								{{ item.libelle }}
							</option>
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12 form-group">
					<label>{{ "REQUEST_OVERVIEW.CONSOLIDATION" | translate }}</label>
					<div>
						<select
							class="form-control input-xs padding-all-3"
							[(ngModel)]="plan.typeTransport"
							name="typeTransport"
						>
							<option selected [ngValue]="null"></option>
							<option *ngFor="let item of listTypesTransport" [ngValue]="item.ebTypeTransportNum">
								{{ item.libelle }}
							</option>
						</select>
					</div>
				</div>

				<div class="col-md-3 col-sm-4 col-xs-12 form-group">
					<label>{{ "TRANSPORTATION_PLAN.TYPE_OF_GOODS" | translate }}</label>
					<div>
						<select
							class="form-control input-xs padding-all-3"
							[(ngModel)]="plan.typeGoodsNum"
							name="typeGoods"
							ngControl="typeGoodsCtrl"
						>
							<option selected [ngValue]="null"></option>
							<option *ngFor="let item of listTypeGoods" [ngValue]="item.ebTypeGoodsNum">
								{{ renderTypeGoodsName(item) }}
							</option>
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12 form-group">
					<label>{{ "TRANSPORTATION_PLAN.PLAN_TRANSIT_TIME" | translate }}</label>
					<div>
						<input
							type="number"
							ngControl="transitTimeCtrl"
							[(ngModel)]="plan.transitTime"
							name="transitTime"
							class="form-control input-underline input-xs"
							(ngModelChange)="changeModel(formCtrlAdminPlan)"
						/>
					</div>
				</div>

				<div class="col-md-3 col-sm-4 col-xs-12 form-group">
					<label class="col-md-12">{{ "TRANSPORTATION_PLAN.DANGEROUS" | translate }}</label>
					<div>
						<select
							class="form-control input-xs padding-all-3"
							[(ngModel)]="plan.isDangerous"
							name="isDangerous"
							ngControl="modeTransportCtrl"
						>
							<option selected [ngValue]="null"></option>
							<option [ngValue]="true">{{ "TRANSPORTATION_PLAN.YES" | translate }}</option>
							<option [ngValue]="false">{{ "TRANSPORTATION_PLAN.NO" | translate }}</option>
						</select>
					</div>
				</div>

				<div class="col-md-6 col-sm-4 col-xs-12 form-group">
					<label>{{ "TRANSPORTATION_PLAN.PLAN_COMMENT" | translate }}</label>
					<div>
						<textarea
							type="text"
							ngControl="commentCtrl"
							[(ngModel)]="plan.comment"
							name="comment"
							class="form-control input-underline input-xs"
							(ngModelChange)="changeModel(formCtrlAdminPlan)"
						></textarea>
					</div>
				</div>

				<div class="form-content col-sm-12 text-right margin-bottom-10">
					<div class="col-md-12">
						<button
							*ngIf="plan != null && plan.ebPlanTransportNum == null"
							class="btn btn-sm btn-success btn-shadow"
							[disabled]="!formCtrlAdminPlan.valid || formCtrlAdminPlan.submitted"
							(click)="addPlan(false)"
						>
							{{ "COMPANY_PROFILE.BTN_AJOUTER" | translate }}
						</button>
						<button
							*ngIf="plan != null && plan.ebPlanTransportNum != null"
							class="btn btn-sm btn-success btn-shadow"
							[disabled]="!formCtrlAdminPlan.valid || formCtrlAdminPlan.submitted"
							(click)="addPlan(true)"
						>
							{{ "COMPANY_PROFILE.BTN_MODIFIER" | translate }}
						</button>
						<button class="btn btn-sm btn-success btn-shadow" (click)="backToListPlan()">
							{{ "GENERAL.CANCEL" | translate }}
						</button>
					</div>
				</div>
			</div>
		</form>
	</app-generic-table>
</div>
