<div class="spinner-container-overTable" *ngIf="isLoading && showContent">
	<p-progressSpinner></p-progressSpinner>
</div>
<p-panel [toggleable]="true" class="generic-table-panel">
	<p-header>
		<div style="padding: 0px 10px; padding-bottom: 2px;" *ngIf="!dataInfos.showHeaderActions">
			<span style="font-size: 16px; color: #fff">{{ title }}</span>
		</div>
		<div
			style="padding: 0px 10px; padding-bottom: 2px;"
			*ngIf="dataInfos.showHeaderActions"
			class="table-header"
		>
			<div *ngFor="let blank of dataInfos.blankBtnArray" class="min-width-30"></div>
			<button
				[ngClass]="{ hidden: searchVisible }"
				pButton
				*ngIf="dataInfos.showAdvancedSearchBtn"
				[icon]="searchVisible ? '' : 'fa fa-search-plus'"
				class="genericTable-icon margin-left-10"
				(click)="showAdvancedSearch($event)"
			></button>
			<button
				*ngIf="dataInfos.showAddBtn"
				pButton
				[icon]="'fa fa-plus-circle'"
				class="genericTable-icon"
				(click)="addFormEmitter.emit()"
			></button>
			<button
				*ngIf="dataInfos.showCollapsibleBtn"
				pButton
				[icon]="'fa fa-minus'"
				class="genericTable-icon"
				(click)="hideAndShowContent()"
			></button>
			<button
				*ngIf="canShowCardViewButton"
				pButton
				[icon]="viewType == ViewType.CARD ? 'fa fa-align-justify' : 'fa fa-th-large'"
				class="genericTable-icon"
				(click)="changeView($event)"
			></button>
			<button
				*ngIf="dataInfos.showColConfigBtn"
				pButton
				[icon]="'fa fa-cog'"
				class="genericTable-icon"
				(click)="op.toggle($event)"
			></button>
			<button
				*ngIf="dataInfos.showSaveBtn && viewType != ViewType.CARD"
				pButton
				[icon]="'fa fa-floppy-o'"
				class="genericTable-icon"
				(click)="save($event)"
			></button>
			<button
				*ngIf="dataInfos.showHelpBtn"
				pButton
				[icon]="'fa fa-question'"
				class="genericTable-icon"
				(click)="onHelpBtnClick.emit()"
			></button>
			<button
				*ngIf="dataInfos.showExportBtn"
				pButton
				[disabled]="this.datasChecked?.length > 0"
				[icon]="csvDownloadLoading ? 'fa fa-spinner fa-spin' : 'fa fa-download'"
				[title] =" this.datasChecked?.length > 0 ? cannotExtractData : canExtractData"
				class="genericTable-icon"
				(click)="generateXLSX($event)"
			></button>
			<button
				pButton
				*ngIf="dataInfos.dataUpload && dataInfos.showUploadBtn"
				title="{{ 'GENERAL.BULK_IMPORT_DATA' | translate }}"
				[icon]="'fa fa-upload'"
				class="genericTable-icon margin-left-10"
				(click)="fileInputHandle()"
			></button>
			<button
				*ngIf="dataInfos.activateCRUD"
				pButton
				class="genericTable-icon margin-left-10"
				[icon]="'fa fa-plus'"
				(click)="displayNewItem()"
			></button>
			<input
				*ngIf="dataInfos.showSearchBtn"
				type="text"
				class="form-control input-search"
				[(ngModel)]="searchterm"
				placeholder="{{ 'CHANEL_PB_DELIVERY.SEARCH' | translate }}"
				(keyup)="inputValueChanged($event)"
			/>
			<button
				*ngIf="dataInfos.showUpComingVersion"
				[ngClass]="{ valid: gridVersion == Statique.gridVersion.UPCOMING }"
				class="btn-default btn btn-sm margin-left-20 padding-3 margin-right-20"
				(click)="showGridVersion(Statique.gridVersion.UPCOMING)"
			>
				{{ "TRANSPORTATION_PLAN.UP_COMING_VERSION" | translate }}
			</button>
			<button
				*ngIf="dataInfos.showValidGrid"
				[ngClass]="{ valid: gridVersion == Statique.gridVersion.VALID }"
				class="btn-default btn btn-sm margin-left-20 padding-3"
				(click)="showGridVersion(Statique.gridVersion.VALID)"
			>
				{{ "TRANSPORTATION_PLAN.VALID_GRID" | translate }}
			</button>
			<button
				*ngIf="dataInfos.showPreviousGrid"
				[ngClass]="{ valid: gridVersion == Statique.gridVersion.PREVIOUS }"
				class="btn-default btn btn-sm margin-left-20 padding-3"
				(click)="showGridVersion(Statique.gridVersion.PREVIOUS)"
			>
				{{ "TRANSPORTATION_PLAN.PREVIOUS_VERSION" | translate }}
			</button>
			<p-overlayPanel
				#op
				appendTo="body"
				[style]="{ width: '300px', height: '350px', overflow: 'auto', padding: '0' }"
			>
				<p-listbox
					*ngIf="showContent && !hideTable"
					[options]="dataInfos.cols"
					[(ngModel)]="dataInfos.selectedCols"
					multiple="multiple"
					checkbox="checkbox"
					filter="filter"
					optionLabel="colSettingsHeader"
					[style]="{ border: 'none', width: '100%', height: '100%' }"
				></p-listbox>
			</p-overlayPanel>

			<span class="fz-16-important flex-grow-1 color-white">
				<span>{{ title }}</span>
				<button
					*ngIf="dataInfos.showAddNewUserBtn"
					(click)="addNewUser()"
					class="btn-default btn btn-sm margin-left-20 padding-3"
				>
					Add New User
				</button>
				<button
					*ngIf="dataInfos.showAddNewProfileBtn"
					(click)="profileActionEvent()"
					class="btn-default btn btn-sm margin-left-20 padding-3"
				>
					Add New Profile
				</button>
			</span>
		</div>
	</p-header>

	<ng-container *ngIf="isLoading && !showContent">
		<div class="spinner-container">
			<p-progressSpinner></p-progressSpinner>
		</div>
	</ng-container>
	<ng-container *ngIf="showContent && !hideTable">
		<p-table
			#turboTable
			*ngIf="viewType == ViewType.TABLE || !canShowCardViewButton"
			[loading]="loading"
			[columns]="dataInfos.selectedCols"
			[value]="datas"
			[reorderableColumns]="true"
			[resizableColumns]="true"
			[lazy]="true"
			[rows]="dataInfos.numberDatasPerPage"
			[totalRecords]="datasTotalRecords"
			(onLazyLoad)="emitEventFirstLevel($event)"
			dataKey="{{ dataInfos.dataKey }}"
			rowExpandMode="single"
			[(contextMenuSelection)]="selectedRow"
			[contextMenu]="dataInfos.contextMenu ? contextMenu : null"
			[scrollable]="isHorizontalScrollAlwaysVisible"
			[scrollHeight]="verticalScrollCalc(scrollHeight)"
			(onColResize)="onResize($event)"
		>
			<ng-container>
				<ng-template pTemplate="colgroup" let-columns>
					<colgroup>
						<col *ngFor="let col of columns" />
					</colgroup>
				</ng-template>
				<ng-template pTemplate="header" let-columns>
					<tr *ngIf="dataInfos.colspan && dataInfos.colspan.length > 1">
						<th [ngClass]="'gtbl-th'" class="width-50-important"></th>
						<th
							[ngClass]="'gtbl-th'"
							*ngFor="let colspan of dataInfos.colspan"
							[attr.colspan]="colspan.size"
							[ngStyle]="{ 'text-align': 'center' }"
						>
							<b>{{ colspan.name }}</b>
						</th>
					</tr>
					<tr>
						<th
							[ngClass]="'gtbl-th'"
							*ngIf="
								(dataInfos.showEditBtn && !dataInfos.actionColumFixed) ||
								(dataInfos.showDeleteBtn && !dataInfos.actionColumFixed) ||
								(dataInfos.showCloneBtn && !dataInfos.actionColumFixed)
							"
							class="width-70-important"
						></th>
						<th
							[ngClass]="'gtbl-th'"
							*ngIf="
								(dataInfos.showEditBtn && dataInfos.actionColumFixed) ||
								(dataInfos.showDeleteBtn && dataInfos.actionColumFixed) ||
								(dataInfos.showCloneBtn && dataInfos.actionColumFixed)
							"
							[style.width]="
								dataInfos.showActionButtonWidth ? dataInfos.showActionButtonWidth : '70px'
							"
						></th>

						<th
							[ngClass]="'gtbl-th'"
							*ngIf="dataInfos.favorisName && !dataInfos.actionColumFixed"
							class="width-30-important"
						></th>
						<th
							[ngClass]="'gtbl-th'"
							*ngIf="dataInfos.favorisName && dataInfos.actionColumFixed"
							class="width-50-important"
						></th>
						<th
							[ngClass]="'gtbl-th'"
							*ngIf="
								(dataInfos.showCheckbox && !dataInfos.actionColumFixed) ||
								(dataInfos.lineActions &&
									!dataInfos.actionColumFixed &&
									dataInfos.lineActions.length > 0) ||
								(dataInfos.showSubTable && !dataInfos.actionColumFixed)
							"
							[style.width]="dataInfos.showCheckboxWidth ? dataInfos.showCheckboxWidth : '50px'"
						>
							<div class="text-center">
								<input
									*ngIf="dataInfos.showCheckbox && dataInfos.showCheckboxGlobal"
									class="checkbox-Track check-input"
									type="checkbox"
									[checked]="allChecked"
									(change)="checkAllChanged($event)"
								/>
							</div>
						</th>
						<th
							[ngClass]="'gtbl-th'"
							*ngIf="
								(dataInfos.showCheckbox && dataInfos.actionColumFixed) ||
								(dataInfos.lineActions &&
									dataInfos.actionColumFixed &&
									dataInfos.lineActions.length > 0) ||
								(dataInfos.showSubTable && dataInfos.actionColumFixed)
							"
							[style.width]="dataInfos.showCheckboxWidth ? dataInfos.showCheckboxWidth : '50px'"
						>
							<div class="text-center">
								<input
									*ngIf="dataInfos.showCheckbox && dataInfos.showCheckboxGlobal"
									class="checkbox-Track check-input"
									type="checkbox"
									[checked]="allChecked"
									(change)="checkAllChanged($event)"
								/>
							</div>
						</th>

						<th
							*ngFor="let col of columns"
							[pSortableColumn]="col.sortable && col.field"
							[style.width]="col.width ? col.width : '130px'"
							[style.min-width]="col.minWidth ? col.minWidth : ''"
							pReorderableColumn
							[ngClass]="(col.headerClass ? col.headerClass : '') + ' gtbl-th'"
							pResizableColumn
							class="text-center"
							title="{{ col.title }}"
						>
							<ng-container [ngSwitch]="col.renderModeHead">
								<span
									*ngSwitchCase="RenderModeTable.HTML"
									[innerHtml]="
										(col.translateCode ? (col.translateCode | translate) : col.header)
											| safe: 'html'
									"
								>
								</span>
								<!-- TODO GenericCell -->
								<span *ngSwitchDefault >
									{{ col.translateCode ? (col.translateCode | translate) : col.header }}
								</span>
							</ng-container>
							<p-sortIcon
								*ngIf="col.sortable"
								[field]="col.field"
								ariaLabel="Activate to sort"
								ariaLabelDesc="Activate to sort in descending order"
								ariaLabelAsc="Activate to sort in ascending order"
							></p-sortIcon>
						</th>

						<th
							[ngClass]="'gtbl-th'"
							*ngIf="dataInfos.activateCRUD"
							class="width-70-important"
						></th>
						<!-- <th [ngClass]="'gtbl-th'" *ngIf="dataInfos.showDeleteBtn" class="width-50-important"></th> -->
					</tr>
				</ng-template>
				<ng-template
					pTemplate="body"
					let-row
					let-index="rowIndex"
					let-columns="columns"
					class="ui-resizable-column"
					let-expanded="expanded"
				>
					<tr [pContextMenuRow]="dataInfos.contextMenu ? row : null">
						<td
							*ngIf="
								(dataInfos.showEditBtn && !dataInfos.actionColumFixed) ||
								(dataInfos.showDeleteBtn && !dataInfos.actionColumFixed) ||
								(dataInfos.showCloneBtn && !dataInfos.actionColumFixed)
							"
							class="text-center"
							[ngClass]="'gtbl-td'"
							[style.padding]="dataInfos.cellPadding"
							class="width-70-important text-center"
							[style.position]=""
						>
							<i
								*ngIf="dataInfos.showEditBtn"
								class="fa fa-edit"
								style="font-size: 1.7em; cursor: pointer"
								(click)="editRowAction(row)"
								title="{{ 'GENERAL.EDIT' | translate }}"
							>
							</i>
							<i
								*ngIf="dataInfos.showCloneBtn"
								class="fa fa-clone"
								style="font-size: 1.7em; cursor: pointer"
								(click)="cloneRowAction(row)"
								title="Clone"
							>
							</i>
							<i
								*ngIf="
									dataInfos.showDeleteBtn &&
									(gridVersion == null || gridVersion == Statique.gridVersion.UPCOMING)
								"
								class="fa fa-remove"
								style="font-size: 1.7em; cursor: pointer"
								(click)="deleteEventEmitter.emit(row)"
								title="{{ 'REPOSITORY_MANAGEMENT.SUPPRIMER' | translate }}"
							></i>
						</td>
						<td
							*ngIf="
								(dataInfos.showEditBtn && dataInfos.actionColumFixed) ||
								(dataInfos.showDeleteBtn && dataInfos.actionColumFixed) ||
								(dataInfos.showCloneBtn && dataInfos.actionColumFixed)
							"
							class="text-center"
							[ngClass]="'gtbl-td'"
							[style.padding]="dataInfos.cellPadding"
							[style.width]="
								dataInfos.showActionButtonWidth ? dataInfos.showActionButtonWidth : '70px'
							"
							class="fixed"
						>
							<i
								*ngIf="dataInfos.showEditBtn"
								class="fa fa-edit"
								style="font-size: 1.7em; cursor: pointer"
								(click)="editRowAction(row)"
								title="Edit"
							>
							</i>
							<i
								*ngIf="dataInfos.showCloneBtn"
								class="fa fa-clone"
								style="font-size: 1.7em; cursor: pointer"
								(click)="cloneRowAction(row)"
								title="Clone"
							>
							</i>
							<i
								*ngIf="
									dataInfos.showDeleteBtn &&
									(gridVersion == null || gridVersion == Statique.gridVersion.UPCOMING)
								"
								class="fa fa-remove"
								style="font-size: 1.7em; cursor: pointer"
								(click)="deleteEventEmitter.emit(row)"
								title="Delete"
							></i>
						</td>

						<td
							*ngIf="dataInfos.favorisName && dataInfos.actionColumFixed"
							class="width-50-important "
							[ngClass]="'gtbl-td'"
							[style.padding]="dataInfos.cellPadding"
						>
							<div class="text-center">
								<i
									class="favori {{
										mapAttributes[row[dataInfos.dataKey]] &&
										mapAttributes[row[dataInfos.dataKey]].xEbFavoriNum
											? 'fa fa-star'
											: 'fa fa-star-o'
									}}"
									style="font-size: 1.7em; cursor: pointer"
									(click)="favorisHandler(row)"
									title="{{ 'GENERAL.FAVORITE' | translate }}"
								></i>
							</div>
						</td>
						<td
							*ngIf="dataInfos.favorisName && !dataInfos.actionColumFixed"
							class="width-30-important "
							[ngClass]="'gtbl-td'"
							[style.padding]="dataInfos.cellPadding"
						>
							<div class="text-center">
								<i
									class="favori {{
										mapAttributes[row[dataInfos.dataKey]] &&
										mapAttributes[row[dataInfos.dataKey]].xEbFavoriNum
											? 'fa fa-star'
											: 'fa fa-star-o'
									}}"
									style="font-size: 1.7em; cursor: pointer"
									(click)="favorisHandler(row)"
									title="{{ 'GENERAL.FAVORITE' | translate }}"
								></i>
							</div>
						</td>
						<td
							*ngIf="
								(dataInfos.showCheckbox && dataInfos.actionColumFixed) ||
								(dataInfos.lineActions &&
									dataInfos.actionColumFixed &&
									this.dataInfos.lineActions.length > 0)
							"
							[ngClass]="'gtbl-td text-center'"
							[style.width]="dataInfos.showCheckboxWidth ? dataInfos.showCheckboxWidth : '50px'"
							[style.padding]="dataInfos.cellPadding"
							class="fixed"
						>
							<!-- <input class='checkbox-Track check-input' [ngbTooltip]='' id="checkboxInput" type='checkbox' (click)="setDatasChecked(index, row[dataInfos.dataKey], expanded,$event)"> -->
							<input
								*ngIf="dataInfos.showCheckbox"
								class="checkbox-Track check-input"
								type="checkbox"
								[checked]="isRowChecked(row, dataInfos)"
								(change)="checkChanged(row, $event, index, expanded)"
							/>
							<a
								*ngIf="dataInfos.showSubTable"
								class="extand-icon"
								href="#"
								[pRowToggler]="row"
								(click)="
									deleteSubTableIfExist(); getDetailsDatas(index, row[dataInfos.dataKey], expanded)
								"
							>
								<i
									[ngClass]="expanded ? 'fa fa-minus-circle' : 'fa fa-plus-circle'"
									class="fz-20-important"
								></i>
							</a>
							<span *ngFor="let lineAction of dataInfos.lineActions || []">
								<button
									*ngIf="lineAction.showCondition ? lineAction.showCondition(row) : true"
									title="{{
										(lineAction.conditionalTitle
											? lineAction.conditionalTitle(row)
											: lineAction.title || '') | translate
									}}"
									class="btn {{ lineAction.class || 'btn-primary' }} btn-xs"
									(click)="lineAction.onClick(row, $event)"
									[disabled]="lineAction.enableCondition ? !lineAction.enableCondition(row) : false"
								>
									<i *ngIf="lineAction.icon" class="{{ lineAction.icon }}"></i
									>{{ lineAction.icon ? "" : lineAction.title ? lineAction.title : "" }}
								</button>
							</span>
						</td>
						<td
							*ngIf="
								(dataInfos.showCheckbox && !dataInfos.actionColumFixed) ||
								(dataInfos.lineActions &&
									!dataInfos.actionColumFixed &&
									this.dataInfos.lineActions.length > 0)
							"
							[ngClass]="'gtbl-td text-center'"
							[style.width]="dataInfos.showCheckboxWidth ? dataInfos.showCheckboxWidth : '50px'"
							[style.padding]="dataInfos.cellPadding"
						>
							<!-- <input class='checkbox-Track check-input' [ngbTooltip]='' id="checkboxInput" type='checkbox' (click)="setDatasChecked(index, row[dataInfos.dataKey], expanded,$event)"> -->
							<input
								*ngIf="dataInfos.showCheckbox"
								class="checkbox-Track check-input"
								type="checkbox"
								[checked]="isRowChecked(row, dataInfos)"
								(change)="checkChanged(row, $event, index, expanded)"
							/>
							<a
								*ngIf="dataInfos.showSubTable"
								class="extand-icon"
								href="#"
								[pRowToggler]="row"
								(click)="
									deleteSubTableIfExist(); getDetailsDatas(index, row[dataInfos.dataKey], expanded)
								"
							>
								<i
									[ngClass]="expanded ? 'fa fa-minus-circle' : 'fa fa-plus-circle'"
									class="fz-20-important"
								></i>
							</a>
							<span *ngFor="let lineAction of dataInfos.lineActions || []">
								<button
									*ngIf="lineAction.showCondition ? lineAction.showCondition(row) : true"
									title="{{
										(lineAction.conditionalTitle
											? lineAction.conditionalTitle(row)
											: lineAction.title || '') | translate
									}}"
									class="btn {{ lineAction.class || 'btn-primary' }} btn-xs"
									(click)="lineAction.onClick(row, $event)"
									[disabled]="lineAction.enableCondition ? !lineAction.enableCondition(row) : false"
								>
									<i *ngIf="lineAction.icon" class="{{ lineAction.icon }}"></i
									>{{ lineAction.icon ? "" : lineAction.title ? lineAction.title : "" }}
								</button>
							</span>
						</td>

						<td
							*ngFor="let col of columns"
							[ngClass]="{ 'gtbl-td': true, clickable: dataInfos.showDetails }"
							class="textCenter colonne-generic-table {{ col.fieldClass }}"
							[style.min-width]="col.minWidth ? col.minWidth : ''"
							[style.width]="col.width ? col.width : '130px'"
							[style.padding]="col.padding ? col.padding : dataInfos.cellPadding"
							(click)="
								(dataInfos.showDetails &&  col.allowClick && goToDetails(row[dataInfos.dataKey]))
							"
							[attr.title]="
								col.renderMode == RenderModeTable.HTML ||
								col.renderMode == RenderModeTable.GenericCell
									? ''
									: col.render
									? col.render(row[col.field], col.renderParam, row)
									: row[col.field]
							"
						>
							<span *ngIf="col.field != 'pathToBl'">
								<ng-container [ngSwitch]="col.renderMode">
									<span
										*ngSwitchCase="RenderModeTable.HTML"
										[innerHtml]="
											(col.render
												? col.render(row[col.field], col.renderParam, row)
												: row[col.field]) | safe: 'html'
										"
									>
									</span>
									<app-generic-cell
										*ngSwitchCase="RenderModeTable.GenericCell"
										[context]="dataInfos.context"
										[model]="row"
										[cellParams]="col.genericCellParams"
										[cellClass]="col.genericCellClass"
										(customEvent)="
											col.genericCellHandler
												? col.genericCellHandler(
														$event.key,
														$event.value,
														$event.model,
														parentContext
												  )
												: null
										"
									>
									</app-generic-cell>
									<span *ngSwitchDefault>
										{{
											col != null ? col.render ? col.render(row[col.field], col.renderParam, row) :  row[col.field] : ""
										}}
									</span>
								</ng-container>
							</span>
							<span *ngIf="col.field == 'pathToBl' && row[col.field]">
								<a href="#" (click)="downloadFile(row[col.field])">
									<i class="fa fa-download"></i>
								</a>
							</span>
						</td>

						<td
							*ngIf="dataInfos.activateCRUD"
							class="width-50-important"
							[ngClass]="'gtbl-td Btn-inside__table-wrapper'"
							[style.padding]="dataInfos.cellPadding"
						>
							<p-button
								icon="fa fa-edit margin-top--9-important"
								(click)="display(index)"
							></p-button>
							&nbsp;
							<p-button icon="fa fa-trash" (click)="deleteItem(index)"></p-button>
						</td>
					</tr>
				</ng-template>

				<ng-template pTemplate="rowexpansion" let-index="rowIndex" let-row let-columns="columns">
					<tr>
						<td class="gtbl-td overflow-v padding-left-18" [attr.colspan]="columns.length + 1">
							<div class="row text-left padding-top-14 padding-left-450">
								<p-progressSpinner
									[style]="{ width: '50px', height: '50px' }"
									strokeWidth="4"
									*ngIf="loadingDetailDatas"
								>
								</p-progressSpinner>

								<div
									*ngIf="!loadingDetailDatas && datas[index].dataDetailsField.length == 0"
									class="empty-msg"
								>
									{{ emptyDataMsg || "" }}
								</div>
							</div>
							<div
								*ngIf="!loadingDetailDatas && datas[index].dataDetailsField.length > 0"
								class="subtabble-padding subtable-wrapper"
							>
								<p-table
									#subTable
									[columns]="detailsInfos.cols"
									[value]="datas[index].dataDetailsField"
									[paginator]="enableSubTablePagination"
									[rows]="dataInfos.subTableNumberDatasPerPage"
									[totalRecords]="detailsDatasTotalRecords"
									[rowsPerPageOptions]="rowsPerPageOptions"
									(onColResize)="adjustSubTableWidthWithPaginator()"
								>
									<ng-template pTemplate="header" let-columns>
										<tr>
											<th
												*ngFor="let col of columns"
												[pSortableColumn]="col.field"
												[ngClass]="(col.headerClass ? col.headerClass : '') + ' gtbl-th'"
											>
												<span
													*ngIf="
														col.renderMode == null || col.renderMode === RenderModeTable.NORMAL;
														else subHeaderNormalRendering
													"
													[innerHtml]="
														(col.translateCode ? (col.translateCode | translate) : col.header)
															| safe: 'html'
													"
												></span>
												<ng-template #subHeaderNormalRendering>{{
													col.translateCode ? (col.translateCode | translate) : col.header
												}}</ng-template>
												<p-sortIcon [field]="col.field"></p-sortIcon>
											</th>
										</tr>
									</ng-template>
									<ng-template pTemplate="body" let-rowDetail let-columns="columns">
										<tr>
											<td
												*ngFor="let col of columns"
												[style.padding]="col.padding ? col.padding : detailsInfos.cellPadding"
												[ngClass]="'gtbl-td'"
											>
												<ng-container [ngSwitch]="col.renderMode">
													<span
														*ngSwitchCase="RenderModeTable.HTML"
														[innerHtml]="
															(col.render
																? col.render(rowDetail[col.field], col.renderParam, rowDetail, row)
																: rowDetail[col.field]) | safe: 'html'
														"
													>
													</span>
													<app-generic-cell
														*ngSwitchCase="RenderModeTable.GenericCell"
														[context]="detailsInfos.context"
														[model]="rowDetail"
														[cellParams]="col.genericCellParams"
														[cellClass]="col.genericCellClass"
														(customEvent)="
															col.genericCellHandler
																? col.genericCellHandler(
																		$event.key,
																		$event.value,
																		$event.model,
																		parentContext
																  )
																: null
														"
													>
													</app-generic-cell>
													<span *ngSwitchDefault>
														{{
															col.render
																? col.render(rowDetail[col.field], col.renderParam, rowDetail, row)
																: rowDetail[col.field]
														}}
													</span>
												</ng-container>
											</td>
										</tr>
									</ng-template>
									<ng-template pTemplate="paginatorleft" let-state>
										{{ state.first + 1 }} -
										{{
											state.first + state.rows >= detailsDatasTotalRecords
												? detailsDatasTotalRecords
												: state.first + state.rows
										}}
										{{ "GENERAL.OF" | translate }} {{ detailsDatasTotalRecords }}
									</ng-template>
								</p-table>
							</div>
						</td>
					</tr>
				</ng-template>

				<ng-template pTemplate="emptymessage" let-columns>
					<tr *ngIf="!isLoading">
						<td [attr.colspan]="dataInfos.selectedCols.length">
							<div class="empty-msg">{{ emptyDataMsg || "" }}</div>
						</td>
					</tr>
				</ng-template>
			</ng-container>

			<ng-template *ngIf="dataInfos.paginator" pTemplate="summary">
				<div class="row d-flex-ai-c d-flex-jc-fe">
					<div class="col-md-6 text-left" *ngIf="!isLoading">
						{{ fromPage }} - {{ toPage }} {{ "GENERAL.OF" | translate }} {{ datasTotalRecords }}
					</div>
					<div class="col-md-6" (click)="sharedZIndexIncreament($event)">
						<p-paginator
							[rows]="dataInfos.numberDatasPerPage"
							[totalRecords]="datasTotalRecords"
							[rowsPerPageOptions]="rowsPerPageOptions"
							(onPageChange)="paginate($event)"
						>
						</p-paginator>
					</div>
				</div>
			</ng-template>
		</p-table>

		<div
			*ngIf="viewType == ViewType.CARD && canShowCardViewButton"
			class="ui-table-scrollable-view ui-table"
		>
			<div class="ui-table-scrollable-body">
				<ng-container *ngIf="viewType == ViewType.CARD && canShowCardViewButton">
					<ng-content select=".generic-card-list"></ng-content>
				</ng-container>
			</div>
			<div class="col-md-12 ui-table-summary">
				<div class="row d-flex-ai-c">
					<div class="col-md-6 text-left">
						{{ fromPage }} - {{ toPage }} {{ "GENERAL.OF" | translate }} {{ datasTotalRecords }}
					</div>
					<div class="col-md-6">
						<p-paginator
							[rows]="dataInfos.numberDatasPerPage"
							[totalRecords]="datasTotalRecords"
							[rowsPerPageOptions]="rowsPerPageOptions"
							(onPageChange)="paginate($event)"
						>
						</p-paginator>
					</div>
				</div>
			</div>
		</div>
	</ng-container>
	<p-contextMenu #contextMenu appendTo="body" [model]="contextMenuItems"></p-contextMenu>
	<ng-content select=".generic-default"></ng-content>
</p-panel>

<input
	#fileInput
	type="file"
	class="hidden"
	ngFileSelect
	(uploadOutput)="uploadFile($event)"
	[uploadInput]="uploadInput"
/>

<p-dialog
	*ngIf="dataInfos.cols != null && dataInfos.cols.length > 0 && selectedActionRow != null"
	header="Details"
	[(visible)]="displayDialog"
	[responsive]="true"
	showEffect="fade"
	[modal]="true"
	[width]="400"
>
	<div class="ui-g ui-fluid form-group" *ngIf="dataInfos.cols">
		<div class="ui-g-12" *ngFor="let col of dataInfos.cols">
			<div class="ui-g-4">
				<label for="{{ col.field }}">{{ col.header }} :</label>
			</div>
			<div *ngIf="col.type == 'text' && !col.uniqueValue" class="ui-g-8">
				<input
					[ngClass]="'form-control'"
					pInputText
					id="{{ col.field }}"
					[(ngModel)]="selectedActionRow[col.field]"
					(keyup)="dialogOnKeyup($event, col, selectedActionRow[dataInfos.dataKey])"
					[attr.required]="col.fieldRequired ? col.fieldRequired : undefined"
				/>
			</div>
			<div *ngIf="col.type == 'text' && col.uniqueValue" class="ui-g-8">
				<input
					[ngClass]="'form-control'"
					pInputText
					id="{{ col.field }}"
					[(ngModel)]="selectedActionRow[col.field]"
					(keyup)="dialogOnKeyup($event, col, selectedActionRow[dataInfos.dataKey])"
					[attr.required]="col.fieldRequired ? col.fieldRequired : undefined"
				/>
				<label *ngIf="isCodeExist" style="color:red">Code already exists</label>
			</div>

			<div *ngIf="col.type == 'boolean'" class="ui-g-8">
				<p-checkbox
					[(ngModel)]="selectedActionRow[col.valueField]"
					binary="true"
					(onChange)="checkboxChange($event, col.field)"
				></p-checkbox>
			</div>
			<div *ngIf="col.type == 'list'" class="ui-g-8">
				<app-generictable-autocomplete
					#autoComplete
					[selectedId]="selectedActionRow[col.valueField]"
					[sourceUrl]="col.url"
					(onSelectedId)="changeSelectedRow($event, col.field, col.valueField)"
				></app-generictable-autocomplete>
			</div>
		</div>
	</div>
	<p-footer>
		<div class="ui-dialog-buttonpane ui-helper-clearfix">
			<p-button
				icon="fa fa-close"
				(click)="hide()"
				label="{{ 'ORDER.CANCEL' | translate }}"
			></p-button>
			<p-button
				icon="fa fa-check"
				(click)="saveItem()"
				label="{{ 'GENERAL.SAVE' | translate }}"
				[disabled]="isCodeExist || isFieldRequiredFilled"
			></p-button>
		</div>
	</p-footer>
</p-dialog>
