@import "../../../styles/variables";

.ui-panel-titlebar {
	padding: 3px;
}

.clickable {
	cursor: pointer;
}

::ng-deep .genericTable-icon {
	.ui-button-icon-left.f a-th-large {
		font-size: 17px !important;
	}
	margin-left: 1px !important;
}
.input-search {
	float: right !important;
	display: inline-block !important;
	width: 18% !important;
}

::ng-deep .ui-button-icon-only .ui-button-icon-left {
	font-size: $fz-md;
}

::ng-deep .ui-button-icon-only .ui-button-icon-left.fa-search-plus {
	font-size: $fz-lg;
}

.textCenter {
	text-align: center;
}

::ng-deep .ui-paginator {
	border: none !important;
	text-align: right !important;
}

::ng-deep .ui-paginator .ui-paginator-pages .ui-paginator-page {
	background: white;
}

.check-input {
	/* top: -4px; */
	cursor: pointer;
	z-index: 999;
}

.spinner-container {
	width: 100% !important;
	//height: 140% !important;
	//position: absolute !important;
	z-index: 1 !important;
	text-align: center !important;
	/* background-color: #00000052!important; */
	//padding-top: 50px !important;
}

.spinner-container-overTable {
	width: 100% !important;
	height: 140% !important;
	position: absolute !important;
	z-index: 1 !important;
	text-align: center !important;
	/* background-color: #00000052!important; */
	padding-top: 50px !important;
}

.table-header {
	display: flex;
	flex-flow: row-reverse;
}

::ng-deep .generic-table-panel {
	position: relative;
}
::ng-deep .generic-table-panel table input[type="checkbox"] {
	top: 0;
}
::ng-deep .generic-table-panel table tr td input[type="checkbox"] {
	vertical-align: middle;
}
::ng-deep .generic-table-panel table tr td input[type="checkbox"] {
	margin-top: 2px;
}

::ng-deep .panel.panel-visible.panel-table.styled-tabs {
	height: 100%;
}
::ng-deep .tab-content {
	height: 100%;
}
::ng-deep .tab-pane {
	height: 100%;
}
::ng-deep .ui-panel.ui-widget.ui-widget-content.ui-corner-all {
	height: 100%;
}
::ng-deep .ui-panel-content-wrapper.ng-trigger.ng-trigger-panelContent {
	height: 100%;
}
::ng-deep .ui-panel-content.ui-widget-content {
	height: 100%;
}
::ng-deep .ui-table.ui-widget.ui-table-resizable.ui-table-resizable-fit {
	height: 89%;
	/*
	Table smooth scroll hack
	https://jira.adias.fr/browse/CPB-124
	*/
	transform: translate3d(0, 0, 0) !important;
}
::ng-deep .ui-table-scrollable-wrapper.ng-star-inserted {
	height: 100%;
}
::ng-deep .ui-table-scrollable-view {
	height: 100%;
}
::ng-deep .ui-table-scrollable-body {
	// height: 90%;
}

::ng-deep .panel-visible {
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.empty-msg {
	padding: 5px;
}
.colonne-generic-table {
	text-overflow: ellipsis;
	white-space: nowrap;
}

::ng-deep body .table-header .ui-widget:disabled {
	color: white !important;
	opacity: 1 !important;
}

.extand-icon {
	vertical-align: middle;
}
.fixed {
	position: fixed;
}

.troncate-header {
	overflow: hidden; /* make sure it hides the content that overflows */
	text-overflow: ellipsis;
	min-width: 0;
	white-space: nowrap;
}

.flex-th {
	display: flex;
	flex-flow: row;
	align-items: center;
}
