<div class="p-table-wrapper padding-bottom-10">
	<fieldset class="fieldset">
		<app-trpl-zone
			(sharedDropDownZIndexEmit)="sharedDropDownZIndexChange()"
			(onZoneChanged)="onZoneChanged($event)"
			[sharedDropDownZIndex]="sharedDropDownZIndex"
		></app-trpl-zone>
	</fieldset>
</div>
<div class="clearfix"></div>
<div class="p-table-wrapper padding-bottom-10">
	<fieldset class="fieldset">
		<app-tranches
			#trancheComponent
			(sharedDropDownZIndexEmit)="sharedDropDownZIndexChange()"
			(onTrancheChanged)="onTrancheChanged($event)"
			[sharedDropDownZIndex]="sharedDropDownZIndex"
		></app-tranches>
	</fieldset>
</div>
<div class="clearfix"></div>
<div class="p-table-wrapper padding-bottom-10">
	<fieldset class="fieldset">
		<app-grille-transport
			*ngIf="tranchesComponent?.listAllTranche"
			#grilleComponent
			[listTranche]="tranchesComponent?.listAllTranche"
			(sharedDropDownZIndexEmit)="sharedDropDownZIndexChange()"
			(onGrilleChanged)="onGrilleChanged($event)"
			[sharedDropDownZIndex]="sharedDropDownZIndex"
		></app-grille-transport>
	</fieldset>
</div>
<div class="clearfix"></div>
<div class="p-table-wrapper">
	<fieldset class="fieldset">
		<app-plan-transport
			#planTransportComponent
			*ngIf="planTableVisible"
			[listZone]="listZoneForPlanTransport"
			[listGrille]="listGrille"
			(onPlanChanged)="onPlanChanged($event)"
			(sharedDropDownZIndexEmit)="sharedDropDownZIndexChange()"
			[sharedDropDownZIndex]="sharedDropDownZIndex"
		></app-plan-transport>
	</fieldset>
</div>
<div class="clearfix"></div>
