<app-collapsible-panel [saveStateBtn]="false">
	<p-table [value]="listCorrectiveAction" [paginator]="true" [rows]="10">
		<ng-template pTemplate="header">
			<tr>
				<th></th>
				<th *ngFor="let col of colonnes">
					{{ col.header }}
					<p-sortIcon
						ariaLabel="Activate to sort"
						ariaLabelDesc="Activate to sort in descending order"
						ariaLabelAsc="Activate to sort in ascending order"
					></p-sortIcon>
				</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-columns="colonnes" let-correctiveAction>
			<tr>
				<td>
					<input type="checkbox" />
				</td>
				<td *ngFor="let col of colonnes" pEditableColumn>
					<p-cellEditor>
						<ng-template pTemplate="input">
							<input type="text" [(ngModel)]="correctiveAction[col.field]" />
						</ng-template>
						<ng-template pTemplate="output">
							{{ correctiveAction[col.field] }}
						</ng-template>
					</p-cellEditor>
				</td>
			</tr>
		</ng-template>
	</p-table>
</app-collapsible-panel>
