<div class="row">
	<div *ngIf="!isCategoriesLoaded" class="access-right-spinner">
		<i class="fa fa-5x fa-spinner fa-spin"></i>
	</div>
	<app-categorie-label
		*ngIf="isCategoriesLoaded"
		[isEdit]="isEdit"
		[showDrtUser]="showDrtUser"
		[disableDrtUser]="disableDrtUser"
		[manageCategorie]="false"
		[listCategories]="listCategories"
		[affectedCategories]="affectedCategories"
		[affectedCategoriesAndLabels]="affectedCategoriesAndLabels"
		(affectedCategoriesAndLabelsChange)="setUserCategoriesLabels($event)"
	></app-categorie-label>
</div>
