<div class="content_wrapper">
	<div #panel3 class="panel panel-visible panel-table">
		<ngb-tabset>
			<ngb-tab title="Account Settings">
				<ng-template ngbTabContent>
					<form #accountSettings="ngForm" style="margin-left: 15%;">
						<div class="form-group row">
							<div class="col-md-4">
								<input
									id="nom"
									placeholder="{{ 'INSCRIPTION.NOM' | translate }}"
									class="form-control"
									name="nom"
									[(ngModel)]="newUser.nom"
									#nom="ngModel"
									required
								/>
							</div>
							<div class="col-md-4">
								<input
									id="prenom"
									placeholder="{{ 'INSCRIPTION.PRENOM' | translate }}"
									class="form-control"
									name="prenom"
									[(ngModel)]="newUser.prenom"
									#prenom="ngModel"
									required
								/>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-8">
								<input
									readonly
									type="email"
									placeholder="{{ 'INSCRIPTION.EMAIL' | translate }}"
									name="email"
									class="form-control"
									[(ngModel)]="newUser.email"
									#email="ngModel"
									required
									pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
								/>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-8">
								<input
									type="text"
									placeholder="{{ 'INSCRIPTION.POSITION' | translate }}"
									class="form-control"
									name="adresse"
									[(ngModel)]="newUser.adresse"
									required
								/>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-8">
								<input
									type="text"
									placeholder="{{ 'INSCRIPTION.TELEPHONE' | translate }}"
									class="form-control"
									name="telephone"
									[(ngModel)]="newUser.telephone"
									#telephone="ngModel"
								/>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-8">
								<input
									readonly
									type="text"
									placeholder="service"
									class="form-control"
									name="userRole"
									[(ngModel)]="newUser.role"
									required
								/>
							</div>
						</div>
						<button type="button" class="btn btn-success" (click)="updateUser()">Update</button>
					</form>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Change Password">
				<ng-template ngbTabContent>
					<form #changerMdp="ngForm" style="margin-top: 2%">
						<div class="row">
							<div class="form-content col-md-8 col-sm-9 col-xs-12">
								<div class="row">
									<label class="col-xs-4">Actuel mot de passe</label>
									<div class="col-xs-8">
										<input
											type="password"
											placeholder="Au moins 6 caractères"
											ngControl="_passwordCtrl"
											class="form-control input-underline input-xs"
											ngModelOptions="{ updateOn: 'blur' }"
											[(ngModel)]="_password"
											name="_password"
											required
										/>
									</div>
								</div>
								<div class="row">
									<label class="col-xs-4">Nouveau mot de passe</label>
									<div class="col-xs-8">
										<input
											type="password"
											placeholder="Au moins 6 caractères"
											ngControl="nvPasswordCtrl"
											reverse="true"
											class="form-control input-underline input-xs"
											ngModelOptions="{ updateOn: 'blur' }"
											[(ngModel)]="nvPassword"
											name="nvPassword"
											required
										/>
									</div>
								</div>
								<div class="row ">
									<label class="col-xs-4">Confirmer le nouveau</label>
									<div class="col-xs-8">
										<input
											type="password"
											placeholder="Au moins 6 caractères"
											ngControl="confirmationPasswordCtrl"
											class="form-control input-underline input-xs"
											ngModelOptions="{ updateOn: 'blur' }"
											[(ngModel)]="confirmationPassword"
											name="confirmationPassword"
											validateEqual="nvPassword"
											required
										/>
									</div>
								</div>
							</div>
						</div>
						<button
							type="button"
							class="btn btn-primary"
							(click)="changePassword()"
							[disabled]="!changerMdp.valid"
						>
							Change Password
						</button>
					</form>
				</ng-template>
			</ngb-tab>

			<ngb-tab title="Select BackUp">
				<ng-template ngbTabContent>
					<form #backUp="ngForm" style="margin-top: 2%">
						<div class="row">
							<div class="form-content col-md-8 col-sm-9 col-xs-12 ">
								<div class="row">
									<label class="col-xs-4">User BackUp</label>
									<div class="col-xs-8">
										<select
											class="form-control"
											name="user"
											[(ngModel)]="delegation.userBackUp"
											required
										>
											<option [ngValue]="null">Choisissez un backUp</option>
											<option *ngFor="let user of listUser" [ngValue]="user"
												>{{ user.nom }} {{ user.prenom }}
											</option>
										</select>
									</div>
								</div>
								<div class="row">
									<label class="col-xs-4">Date début</label>
									<div class="col-xs-8">
										<input
											type="date"
											placeholder=""
											ngControl="debutctrl"
											class="form-control input-underline input-xs"
											ngModelOptions="{ updateOn: 'blur' }"
											[(ngModel)]="delegation.dateDebut"
											name="debut"
											required
										/>
									</div>
								</div>
								<div class="row">
									<label class="col-xs-4">Date Fin</label>
									<div class="col-xs-8">
										<input
											type="date"
											placeholder=""
											ngControl="finCtrl"
											class="form-control input-underline input-xs"
											ngModelOptions="{ updateOn: 'blur' }"
											[(ngModel)]="delegation.dateFin"
											name="fin"
											required
										/>
									</div>
								</div>
							</div>
						</div>
						<button type="button" class="btn btn-primary" (click)="createBackUp($event)">
							BackUp
						</button>
					</form>
				</ng-template>
			</ngb-tab>

			<ngb-tab title="Invitation">
				<ng-template ngbTabContent>
					<div class="panel panel-default marge">
						<div class="panel-heading text-center">
							<label>Inviter des Amis</label>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<div class="col-md-8 row" *ngFor="let input of inputsFriendsEmail; let i = index">
									<div class="col-md-12">
										<div class="col-md-10 form-group">
											<input
												type="email"
												[(ngModel)]="input.email"
												name="email{{ i }}"
												id="input"
												placeholder="Email"
												class="form-control"
											/>
										</div>
										<button
											class="btn btn-primary"
											type="button"
											(click)="removeInput(inputsFriendsEmail, i)"
										>
											<i class="fa fa-minus" aria-hidden="true"></i>
										</button>
									</div>
								</div>
								<div>
									<button
										class="col-md-4 btn btn-primary"
										type="button"
										(click)="addInput(inputsFriendsEmail)"
									>
										<i class="fa fa-plus" aria-hidden="true"></i>Inviter un ami
									</button>
								</div>
							</div>
						</div>
					</div>

					<div class="panel panel-default marge">
						<div class="panel-heading text-center">
							<label>Inviter des Collegues</label>
						</div>
						<div class="panel-body">
							<div class="col-md-12 form-group">
								<div class="col-md-8 row" *ngFor="let input of inputsColleguesEmail; let i = index">
									<div class="col-md-12">
										<div class="col-md-10 form-group">
											<input
												type="email"
												[(ngModel)]="input.email"
												name="email{{ i }}"
												id="input"
												placeholder="Email"
												class="form-control"
											/>
										</div>
										<button
											class="btn btn-primary"
											type="button"
											(click)="removeInput(inputsColleguesEmail, i)"
										>
											<i class="fa fa-minus" aria-hidden="true"></i>
										</button>
									</div>
								</div>
								<div>
									<button
										class="col-md-4 btn btn-primary"
										type="button"
										(click)="addInput(inputsColleguesEmail)"
									>
										<i class="fa fa-plus" aria-hidden="true"></i> Inviter un collegue
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-offset-4">
						<button mat-raised-button color="primary" (click)="inviteFriend($event)">Send</button>
					</div>
				</ng-template>
			</ngb-tab>

			<ngb-tab [disabled]="true">
				<ng-template ngbTabTitle>
					<span class="panel-controls">
						<a class="panel-control-collapse"></a>
						<a class="panel-control-fullscreen" href="#"></a>
					</span>
				</ng-template>
			</ngb-tab>
		</ngb-tabset>
	</div>
</div>
