::ng-deep .docr-doc_upload {
	.ui-button {
		border: 0 !important;
		background: none !important;
		color: #007ad9 !important;
		box-shadow: 0px 2px 5px 2px #97aaab;
	}
	.ui-fileupload-buttonbar {
		text-align: center;
	}
}
.border-light {
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #fff;
}
