<div class="docr-doc_upload col-md-12 app-padding">
	<div class="padding-bottom-10 row" *ngIf="addOrEditInfosFile">
		<div [ngClass]="'col-md-3'">
			<div class="modal-body overflow-visible padding-0-important" style="width: 100%;">
				<p-fileUpload
					chooseLabel="Choose files to Upload"
					auto="auto"
					(onClear)="onClear()"
					(onSelect)="onSelect()"
					name="files"
					(onUpload)="onUpload()"
					[url]="uploadUrl"
					(onBeforeUpload)="onBeforeUpload($event)"
					[disabled]="
						ebDocument == null ||
						ebDocument.fileName == null ||
						ebDocument.fileName == '' ||
						ebDocument.dateFinValidite == null
					"
				>
					<ng-template pTemplate="content">
						<div class="text-center padding-top-23 padding-bottom-26">
							<span
								class="fa fa-cloud-upload"
								style="margin-left: 3px;"
								title="Download"
								style="color:#007ad9"
							>
							</span>
							or drag and drop them here
						</div>
					</ng-template>
				</p-fileUpload>
			</div>
		</div>
		<div [ngClass]="'col-md-9'">
			<!-- <app-create-document [ebDocument]="doc"></app-create-document> -->

			<form #Form="ngForm">
				<div class="modal-body overflow-visible border-light" style="width: 100%;">
					<div class="row">
						<div class="col-md-5">
							<div class="row">
								<div class="col-md-12 form-group">
									<label class="col-md-4 margin-bottom-5-important">Nom fichier</label>
									<div class="col-md-8">
										<input
											type="text"
											[(ngModel)]="ebDocument.fileName"
											name="fileName"
											class="form-control input-underline input-xs"
											required
										/>
									</div>
								</div>

								<div class="col-md-12 form-group">
									<label class="col-md-4 margin-bottom-5-important">{{
										"SETTINGS.END_VALIDATY_DATE" | translate
									}}</label>
									<div class="col-md-8">
										<app-datetime-picker
											name="ebDocument.dateFinValidite"
											[(ngModel)]="ebDocument.dateFinValidite"
											required
										></app-datetime-picker>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-5 form-group">
							<label class="col-md-4 margin-bottom-5-important">{{
								"QUALITY_MANAGEMENT.COMMENT" | translate
							}}</label>
							<div class="col-md-8">
								<textarea
									[(ngModel)]="ebDocument.commentaire"
									name="ebDocument.commentaire"
									class="form-control input-underline input-xs"
								></textarea>
							</div>
						</div>
						<div class="col-md-2 ">
							<button class="btn btn-primary pull-right" (click)="modalClose()">
								{{ "GENERAL.CANCEL" | translate }}
							</button>
							<button
								*ngIf="ebDocument.ebDocumentNum != null"
								class="btn btn-primary pull-right"
								(click)="updateDoc()"
							>
								{{ "Edit" | translate }}
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div [ngClass]="" class="row">
		<div class="modal-header col-md-12">
			List des documents
			<a
				class="pi pi-plus-circle pull-right cursor-pointer"
				style="color: #fff"
				(click)="goToAdd()"
			></a>
		</div>
		<div class="col-md-12">
			<table class="table dataTable no-footer">
				<thead class="text-center">
					<tr>
						<td>Download</td>
						<td>Filename</td>
						<td>Date modification</td>
						<td>{{ "SETTINGS.END_VALIDATY_DATE" | translate }}</td>
						<td>{{ "QUALITY_MANAGEMENT.COMMENT" | translate }}</td>
						<td>Action</td>
					</tr>
				</thead>
				<tbody class="text-center">
					<tr *ngFor="let doc of listDoc; let i = index">
						<td>
							<a href="{{ Statique.getUrlFile(doc.chemin) }}" target="_blank">
								<span
									class="fa fa-cloud-download"
									style="margin-left: 3px;"
									title="Télécharger"
								></span>
							</a>
						</td>
						<td>{{ doc.fileName }}</td>
						<td>{{ doc.dateModif | date: "dd/MM/yyyy" }}</td>
						<td>{{ doc.dateFinValidite | date: "dd/MM/yyyy" }}</td>
						<td>{{ doc.commentaire }}</td>
						<td>
							<span
								class="fa fa-trash cursor-pointer"
								(click)="goToModalConfirm(doc)"
								title="Supprimer"
							></span>
							<span class="fa fa-edit cursor-pointer" (click)="goToEdit(doc)" title="Edit"></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div
	*ngIf="modalVisible"
	class="modal "
	tabindex="-1"
	role="dialog"
	style="display:block!important"
>
	<div class="modal-dialog" role="document" style="width: 820px;">
		<div class="modal-content" style="width: 820px;">
			<div>
				<form role="form" #EventForm="ngForm" novalidate>
					<div class="modal-header">{{ "Confirmation" | translate }}</div>
					<div class="modal-body overflow-visible" style="width: 100%;">
						<div class="row">
							Voulez-vous vraiment supprimer ce document ?
						</div>
					</div>
					<div class="modal-footer ">
						<a (click)="deleteDoc($event)">
							<button
								class="btn btn-primary pull-right btn-sm mr5 modal_yes_btn"
								[disabled]="!isPossibleToDelete"
							>
								{{ "GENERAL.CONFIRM" | translate }}
							</button>
						</a>
						<a (click)="modalClose()">
							<button class="btn btn-danger pull-right btn-sm mr5 modal_no_btn">
								{{ "GENERAL.CANCEL" | translate }}
							</button>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
