<p-table
	[value]="content"
	[paginator]="true"
	[rows]="10"
	*ngIf="listVehicule && listVehicule.length > 0; else containerNotAvailable"
>
	<ng-template pTemplate="header">
		<tr>
			<th *ngFor="let col of cols" class="text-center" [ngClass]="{ wd80: col.field == 'full' }">
				{{ col.header }}
				<p-sortIcon
					ariaLabel="Activate to sort"
					ariaLabelDesc="Activate to sort in descending order"
					ariaLabelAsc="Activate to sort in ascending order"
				></p-sortIcon>
			</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-columns="cols" let-row>
		<tr>
			<td *ngFor="let col of cols" pEditableColumn>
				<span
					*ngIf="
						col.renderMode == null || col.renderMode === RenderModeTable.NORMAL;
						else htmlRenderTemplate
					"
					>{{ col.render ? col.render(row[col.field]) : row[col.field] }}</span
				>
				<ng-template #htmlRenderTemplate>
					<span
						[innerHtml]="(col.render ? col.render(row[col.field]) : row[col.field]) | safe: 'html'"
					></span>
				</ng-template>
			</td>
		</tr>
	</ng-template>
</p-table>
<ng-template #containerNotAvailable>
	<div class="text-center">No container available</div>
</ng-template>
