<div class="app-padding">
	<app-generic-table-ccp
		#genericTable
		*ngIf="dataInfos && dataInfos.cols"
		[searchInput]="globalSearchCriteria"
		[dataInfos]="dataInfos"
		[detailsInfos]="null"
		(onCheckRow)="onCheckRow()"
		[module]="module"
		[component]="datatableComponent"
		(listCategorieEmitter)="onListCategorieLoaded($event)"
		(listFieldsEmitter)="onListFieldLoaded($event)"
		[isHorizontalScrollAlwaysVisible]="true"
		[parentContext]="this"
		[scrollHeight]="264"
		[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
	>
	</app-generic-table-ccp>
</div>

<br />
<app-pop-prgressbar *ngIf="dataUploadProgress && !uploadF" [EbInvoiceNum]="ebInvoiceNum">
	<ngb-progressbar
		type="warning"
		[value]="dataUploadProgress"
		[animated]="true"
		[striped]="true"
		style="position: absolute; top: 47px; width: 588px; left: 5px"
		>{{ dataUploadProgress }}%</ngb-progressbar
	>
</app-pop-prgressbar>

<div *ngIf="uploadF" data-dismiss="myModal">
	<app-upload-file [EbInvoiceNum]="ebInvoiceNum" [newInvoiceFichierJoint]="newInvoiceFichierJoint">
		<br />
		<a
			(click)="fileInputHandle(ebInvoiceNum)"
			class="fa fa-upload"
			style="float: right;margin-top: -20px;color: #fff;cursor: pointer"
		></a>

		<ngb-progressbar
			*ngIf="dataUploadProgress"
			type="warning"
			[value]="dataUploadProgress"
			[animated]="true"
			[striped]="true"
			style="position: absolute; top: 47px; width: 575px;"
			>{{ dataUploadProgress }}%</ngb-progressbar
		>

		<button
			class="btn btn-sm btn-primary"
			style="position: absolute; bottom: 6px; right: 23px; z-index: 99"
			(click)="uploadF_false(ebInvoiceNum)"
		>
			close
		</button>
		<br /><br />
	</app-upload-file>
</div>

<div *ngIf="comment || popupF" data-dismiss="myModal">
	<app-popup
		#popupComponent
		[ebInvoiceNum]="ebInvoiceNum"
		[ebInvoice]="ebInvoice"
		(refreshDT)="doRefreshDT = true"
	>
		<div>
			<a (click)="popupF_false()">
				<button
					style="margin-top:5px; margin-right:30px"
					class="btn btn-danger pull-right btn-sm mr5 modal_no_btn"
				>
					{{ "GENERAL.CANCEL" | translate }}
				</button>
			</a>
		</div>
	</app-popup>
</div>
<input
	#fileInput
	type="file"
	class="hidden"
	ngFileSelect
	(uploadOutput)="uploadFile($event)"
	[uploadInput]="uploadInput"
/>

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Opening Cost</h4>
	</div>
	<div class="modal-body" #openingCost *ngIf="exEbDemandeTransporteurs != null">
		<div class="row" *ngIf="exEbDemandeTransporteurs != null">
			<div class="col-md-12">
				<div class="cost margin-top-5">
					<div class="row">
						<div class="col-md-6">
							<label class="areaLibelle"
								>{{ "PRICING_BOOKING.MODE_OF_TRANSPORT" | translate }}
							</label>
						</div>
						<div class="col-md-3">
							<label class="areaLibelle"> {{ modeTranspo }} </label>
						</div>
					</div>
					<div
						class="cost-categorie"
						*ngFor="let categorie of exEbDemandeTransporteurs.listCostCategorie; let i = index"
					>
						<div
							class="row entete margin-top-5"
							*ngIf="categorie.xEcModeTransport == ebDemande.xEcModeTransport"
							align="left"
							(click)="categorie.isCollapsed = !categorie.isCollapsed"
							[attr.aria-expanded]="!categorie.isCollapsed"
							aria-controls="collapseExample"
						>
							<div class="col-md-4" align="left">
								<i *ngIf="categorie.isCollapsed == true" class="fa fa-plus-circle"></i>
								<i *ngIf="categorie.isCollapsed == false" class="fa fa-minus-circle"></i>
								<span> {{ categorie.libelle }} </span>
							</div>

							<div class="col-md-3">
								<label> {{ categorie.price }} </label>
							</div>
							<div class="col-md-2"></div>
							<div class="col-md-3">
								<label> {{ categorie.priceEuro }} </label>
							</div>
						</div>
						<div
							class="contenu"
							*ngFor="let item of categorie.listEbCost; let j = index"
							id="collapseExample"
							[ngbCollapse]="categorie.isCollapsed"
						>
							<div
								class="row margin-top-5"
								align="left"
								*ngIf="categorie.xEcModeTransport == ebDemande.xEcModeTransport"
							>
								<div class="col-md-4  cost-libelle" align="left">
									<label class="areaLibelle">{{ item.libelle }} </label>
								</div>
								<div class="col-md-3">
									<label> {{ item.price }} </label>
								</div>
								<div class="col-md-2">
									<label> {{ devise }} </label>
								</div>
								<div class="col-md-3">
									<label> {{ item.priceEuro }} </label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
	</div>
</ng-template>

<app-pop-up-details-freight-audit
	*ngIf="showPrice && showPriceExEbDemandeTransporteur"
	(EditEventChange)="showPrice = $event; showPriceExEbDemandeTransporteur = null"
	[ebDemande]="ebDemande"
	[exEbDemandeTransporteur]="showPriceExEbDemandeTransporteur"
	[module]="module"
	[isCotationVisible]="isCotationVisible"
	[nbColListing]="nbColListing"
	[nbColListingGlobal]="nbColListingGlobal"
	[isCostInvoiceVisible]="isCostInvoiceVisible"
	[nbColListing]="nbColListing"
	[ebInvoice]="ebInvoice"
	(InvoiceEventHandler)="ModalRecupPriceAndGapCotation($event)"
>
</app-pop-up-details-freight-audit>

<div *ngIf="uploaderFacture" class="modal modal-backdrop arrieremodale" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div>
				<div class="modal-header">Information upload</div>

				<div class="modal-body" *ngIf="uploaderFacture">
					<a href="javascript:;" onclick="window.functions.handleFileUpload()" class="fa fa-upload">
						Upload</a
					>
				</div>

				<div class="modal-footer">
					<a (click)="closeUploadFacture()">
						<button class="btn btn-danger pull-right btn-sm mr5 modal_no_btn">Cancel</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div
	*ngIf="OpenToglePopUpAction"
	class="modal modal-backdrop arrieremodale"
	tabindex="-1"
	role="dialog"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div>
				<div class="modal-header">Apply and share</div>
				<div class="modal-body">
					<div class="row padding-bottom-10">
						<div class="col-md-3 padding-0"></div>
						<div class="col-md-6">
							<button
								(click)="OpenBlocApplyAction()"
								[ngClass]="
									!TogleApplyAction ? 'btn btn-secondary' : 'btn btn-secondary activeButton'
								"
							>
								Apply
							</button>
						</div>
						<div class="col-md-3">
							<button
								(click)="OpenBlocShareAction()"
								[ngClass]="
									!TogleShareAction ? 'btn btn-secondary' : 'btn btn-secondary activeButton'
								"
							>
								Share
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-9 padding-0">
							<div
								class="padding-bottom-10 d-flex-ai-c padding-right-0 generic-inputs__style col-md-12"
							>
								<label
									class="areaLibelle col-md-3 col-sm-12 col-xs-12 padding-top-5 padding-bottom-5"
									for="status"
									>{{ "FREIGHT_AUDIT.STATUS" | translate }}</label
								>
								<div
									*ngIf="TogleApplyAction"
									class="col-md-9 col-sm-12 col-xs-12 input-wrapper padding-right-0"
								>
									<select
										[(ngModel)]="invoiceCopy.statutCarrier"
										name="selectValue"
										id="inputStatus"
										class="form-control "
									>
										<option [ngValue]="atr.code" *ngFor="let atr of listserv3; let i = index">{{
											atr.libelle
										}}</option>
									</select>
								</div>
							</div>
							<div
								class="padding-bottom-10 d-flex-ai-c padding-right-0 generic-inputs__style col-md-12"
							>
								<label
									class="areaLibelle col-md-3 col-sm-12 col-xs-12 padding-top-5 padding-bottom-5"
									for="price"
									>{{ "FREIGHT_AUDIT.PRIX" | translate }}</label
								>
								<div
									*ngIf="TogleApplyAction"
									class="col-md-9 col-sm-12 col-xs-12 input-wrapper padding-right-0"
								>
									<input
										type="number"
										class="form-control "
										id="inputPrice"
										[(ngModel)]="invoiceCopy.applyCarrierIvoicePrice"
									/>
								</div>
							</div>
							<div
								class="padding-bottom-10 d-flex-ai-c padding-right-0 generic-inputs__style col-md-12"
							>
								<label
									class="areaLibelle col-md-3 col-sm-12 col-xs-12 padding-top-5 padding-bottom-5"
									for="number"
									>{{ "FREIGHT_AUDIT.NUMBER" | translate }}</label
								>
								<div
									*ngIf="TogleApplyAction"
									class="col-md-9 col-sm-12 col-xs-12 input-wrapper padding-right-0"
								>
									<input
										type="number"
										class="form-control "
										id="inputNumber"
										[(ngModel)]="invoiceCopy.applyCarrierIvoiceNumber"
									/>
								</div>
							</div>
							<div
								class="padding-bottom-10 d-flex-ai-c padding-right-0 generic-inputs__style col-md-12"
							>
								<label
									class="areaLibelle col-md-3 col-sm-12 col-xs-12 padding-top-5 padding-bottom-5"
									for="date"
									>{{ "FREIGHT_AUDIT.DATE" | translate }}</label
								>
								<div
									*ngIf="TogleApplyAction"
									class="col-md-9 col-sm-12 col-xs-12 input-wrapper padding-right-0"
								>
									<select
										class="form-control "
										[(ngModel)]="invoiceCopy.invoiceDateCarrier"
										id="inputDate"
									>
										<option *ngFor="let atr of listDate; let i = index">{{ atr }}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-3 padding-right-0">
							<div class="col-md-12" *ngIf="TogleShareAction">
								<div class="row padding-bottom-10"><input type="checkbox" id="checkStatus" /></div>
								<div class="row padding-bottom-10"><input type="checkbox" id="checkPrice" /></div>
								<div class="row padding-bottom-10"><input type="checkbox" id="checkNumber" /></div>
								<div class="row padding-bottom-10"><input type="checkbox" id="checkDate" /></div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a (click)="UpdateListInvoice($event)">
						<button class="btn btn-primary pull-right btn-sm mr5">Submit</button>
					</a>
					<a (click)="OpenPopUpAction()">
						<button class="btn btn-tertiary pull-right btn-sm mr5">Cancel</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
