@import "../../../../styles/_variables.scss";

::ng-deep .doc-status {
	&.red {
		color: $red-danger;
	}
	&.green {
		color: $primary-color;
		font-weight: 800;
	}
	&.black {
		color: $black;
	}
	&.blue {
		color: $blue;
	}
}

.action-fa {
	padding: 20px;
}
.select-all input {
	margin-top: -2px;
}
.select-action {
	width: 20% !important;
	display: inline-block;
	padding: 0 10px;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
/* Tooltip text */
::ng-deep .tooltipdatatable .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
}

::ng-deep .tooltipdatatable:hover .tooltiptext {
	visibility: visible;
}

.arrieremodale {
	background-color: hsla(0, 0%, 0%, 0.4) !important;
	display: block !important;
}

.activeButton {
	background-image: none;
	outline: 0;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.inputmodal {
	width: 50%;
	display: inline-block;
	height: 25px !important;
	padding: 0 !important;
}

::ng-deep .widthSelectStatus {
	width: 150px;
	margin-right: 12px;
}

::ng-deep .widthSelectDate {
	width: 100px;
	margin-right: 12px;
}
