.page-header-bloc-content {
	display: flex;
	flex-flow: row;
	align-items: center;
	padding-left: 5px;
	padding-right: 5px;
	flex-wrap: wrap;

	select {
		height: 30px !important;
		font-size: 12px !important;
	}
}

::ng-deep .rsch-dashboard-root {
	.ui-selectbutton {
		margin-left: 0 !important;
	}
}
