<div class="rsch-dashboard-root app-padding">
	<div class="page-header-bloc">
		<div class="page-header-bloc-content">
			<p-selectButton [options]="viewTypeOptions" [(ngModel)]="viewTypeSelected"></p-selectButton>
			<div style="flex: 1 0 auto;"></div>
			<div style="min-width: 150px;" class="margin-right-10">
				<label>{{ "RECEIPT_SCHEDULING.DASHBOARD.ARRIVING_BEFORE" | translate }}</label>
				<div>
					<select
						class="form-control"
						[(ngModel)]="filterArrivingBefore"
						(change)="onChangeFilter('arrivingBefore')"
					>
						<option [ngValue]="null"> </option>
						<option *ngFor="let item of listFilterArrivingBefore" [ngValue]="item.key" required>
							{{ "RECEIPT_SCHEDULING.ARRIVING_BEFORE_VALUES." + item.key | translate }}
						</option>
					</select>
				</div>
			</div>
			<div style="min-width: 150px;">
				<label>{{ "RECEIPT_SCHEDULING.DASHBOARD.STATUS" | translate }}</label>
				<div>
					<select
						class="form-control"
						[(ngModel)]="filterStatus"
						(change)="onChangeFilter('status')"
					>
						<option [ngValue]="null"> </option>
						<option *ngFor="let item of listFilterStatus" [ngValue]="item.code" required>
							{{ "RECEIPT_SCHEDULING.STATUS_VALUES." + item.key | translate }}
						</option>
					</select>
				</div>
			</div>
		</div>
		<div style="clear: both;"></div>
		<!-- Size issue fix -->
	</div>

	<div class="margin-top-10">
		<div [hidden]="viewTypeSelected !== 'table'">
			<app-rsch-dashboard-table
				[listFilterStatus]="listFilterStatus"
				[listModeTransport]="listModeTransport"
				[listEntrepots]="listEntrepots"
				(onDataChanged)="onTableDataChanged()"
			></app-rsch-dashboard-table>
		</div>
		<div [hidden]="viewTypeSelected !== 'calendar'">
			<app-rsch-dashboard-calendar></app-rsch-dashboard-calendar>
		</div>
	</div>

	<div
		*ngIf="modalVisible"
		class="modal modal-backdrop"
		tabindex="-1"
		role="dialog"
		style="display:block!important"
	>
		<div class="modal-dialog" role="document" style="width: 820px;">
			<div class="modal-content" style="width: 820px;">
				<div>
					<form role="form" #EventForm="ngForm" novalidate>
						<div class="modal-header">{{ modalHeader | translate }}</div>
						<div class="modal-body overflow-visible" style="width: 100%;">
							<div class="row">
								<div
									*ngIf="modalLoading"
									style="display: flex;justify-content: center;align-items: center;"
								>
									<div>
										<p-progressSpinner
											[style]="{ width: '50px', height: '50px' }"
											strokeWidth="8"
											fill="#EEEEEE"
											animationDuration="2s"
										></p-progressSpinner>
									</div>
									<div style="padding-left: 8px;">{{ modalLoadingText | translate }}</div>
								</div>
								<div
									*ngIf="!modalLoading"
									style="display: flex;justify-content: center;align-items: center;"
								>
									<div>
										{{ modalContentText }}
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<a *ngIf="modalCanConfirm" (click)="modalConfirm()">
								<button class="btn btn-primary pull-right btn-sm mr5 modal_yes_btn">
									{{ "GENERAL.CONFIRM" | translate }}
								</button>
							</a>
							<a *ngIf="modalCanCancel" (click)="modalClose()">
								<button class="btn btn-danger pull-right btn-sm mr5 modal_no_btn">
									{{ "GENERAL.CANCEL" | translate }}
								</button>
							</a>
							<a *ngIf="modalCanClose" (click)="modalClose()">
								<button class="btn btn-danger pull-right btn-sm mr5 modal_yes_btn">
									{{ "GENERAL.CLOSE" | translate }}
								</button>
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
