<form #unitInformationDeclaration="ngForm" novalidate>
	<app-collapsible-panel title="Units information">
		<div class="form-group">
			<app-form-custom
				[declaration]="declaration"
				[lisrFormField]="listViewTotal"
				initFields="all"
				[editable]="false"
				[ebModuleNum]="module"
				[column]="4"
			></app-form-custom>
		</div>
		<div class="form-group">
			<div class="col-md-12">
				<table
					#datatable
					datatable
					[dtOptions]="dataTableConfig.dtOptions"
					[dtTrigger]="dataTableConfig.dtTrigger"
					class="table table-responsive table-hover dataTable no-footer table-pricing maragin-auto"
					width="100%"
				>
					<thead>
						<tr>
							<th *ngFor="let field of listformFieldTrier; let i = index">
								{{ "CUSTOM." + field.translate | translate }}
							</th>
						</tr>
					</thead>
					<tbody class="text-center">
						<tr *ngFor="let listtrier of declaration.listUnit; let j = index">
							<td *ngFor="let field of listtrier; let i = index">
								<input
									*ngIf="
										(field.xEbFormType.ebFormTypeName == 'Alphanumeric' ||
											field.xEbFormType.ebFormTypeName == 'Manually typed') &&
										field.valueAvailable != 'number'
									"
									[(ngModel)]="field.valeurUnit"
									class="form-control"
									type="text"
									name="listtrier{{ j }}.field{{ i }}.name{{ i }}"
									[disabled]="declaration.ebCustomDeclarationNum != null"
									[required]="field.required"
								/>
								<input
									*ngIf="
										(field.xEbFormType.ebFormTypeName == 'Alphanumeric' ||
											field.xEbFormType.ebFormTypeName == 'Manually typed') &&
										field.valueAvailable == 'number'
									"
									[(ngModel)]="field.valeurUnit"
									class="form-control"
									type="number"
									name="listtrier{{ j }}.field{{ i }}.name{{ i }}"
									[disabled]="declaration.ebCustomDeclarationNum != null"
									[required]="field.required"
								/>
								<input
									*ngIf="field.xEbFormType.ebFormTypeName == 'Automatic'"
									[(ngModel)]="field.valeurUnit"
									class="form-control"
									type="number"
									name="listtrier{{ j }}.field{{ i }}.name{{ i }}"
									[required]="field.required"
									disabled
								/>
								<select
									*ngIf="
										field.xEbFormType.ebFormTypeName == 'Drop down list static' ||
										field.xEbFormType.ebFormTypeName == 'Drop down list repository'
									"
									[(ngModel)]="field.valeurUnit"
									class="form-control"
									name="listtrier{{ j }}.field{{ i }}.name{{ i }}"
									[disabled]="declaration.ebCustomDeclarationNum != null"
									[required]="field.required"
								>
									<option value="2" [selected]="2" ngDefaultControl>2</option>
								</select>

								<select
									*ngIf="field.xEbFormType.ebFormTypeName == 'Pays'"
									name="listtrier{{ j }}.field{{ i }}.name{{ i }}"
									class="form-control"
									[(ngModel)]="field.valeurUnit"
									[disabled]="declaration.ebCustomDeclarationNum != null"
									[required]="field.required"
								>
									<option *ngFor="let country of listCountry" [ngValue]="country">{{
										country.codeLibelle
									}}</option>
								</select>

								<div *ngIf="field.xEbFormType.ebFormTypeName == 'Date'">
									<app-datetime-picker
										#datetimepicker
										[(ngModel)]="field.valeurUnit"
										name="listtrier{{ j }}.field{{ i }}.name{{ i }}"
										[placeholder]="field.placeholder"
										[required]="field.required"
									></app-datetime-picker>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-12 margin-top-15 margin-bottom-10">
				<button
					href="#"
					class="pull-right btn btn-primary btn-sm"
					(click)="addLineTable()"
					[disabled]="declaration.ebCustomDeclarationNum != null"
				>
					{{ "PRICING_BOOKING.ADD_A_ROW" | translate }}
				</button>
			</div>
		</div>
	</app-collapsible-panel>
</form>
