<div #stats class="col-md-12" style="margin-top: 5px;">
	<div class="col-md-12 padding-0">
		<form role="form" #orderStepUnitsForm="ngForm" novalidate>
			<fieldset style="border-top: 0px solid #ddd !important;">
				<div class="form-group">
					<div class="col-md-12 padding-0">
						<div style="overflow-x:auto">
							<p-progressSpinner *ngIf="!genericTableReady"></p-progressSpinner>
							<app-generic-table
								#genericTable
								[title]="'ORDER.DASHBOARD_UNIT_OVERVIEW' | translate"
								*ngIf="genericTableReady"
								[searchInput]="searchInput"
								[dataInfos]="dataInfos"
								[detailsInfos]="null"
								[component]="GenericTableScreen.ORDER_PLANIFICATION_TAB1"
								[module]="module"
								[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
								[parentContext]="this"
							>
							</app-generic-table>
						</div>
					</div>
				</div>
			</fieldset>
		</form>
		<br />
		<div>
			<p-progressSpinner *ngIf="!genericTableReady"></p-progressSpinner>
			<app-generic-table
				#genericTable
				[title]="'ORDER.DASHBOARD_PANNING' | translate"
				*ngIf="listToPlan != null && listToPlan.length > 0"
				[searchInput]="searchInputPlannification"
				[dataInfos]="dataInfosPlannification"
				[detailsInfos]="null"
				[component]="GenericTableScreen.ORDER_PLANIFICATION_TAB2"
				[module]="module"
				[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
				[parentContext]="this"
				[dataSourceLocal]="listToPlan"
			>
			</app-generic-table>
			<div
				class="col-md-12"
				style="padding: 0px;"
				*ngIf="listToPlan != null && this.listToPlan.length > 0"
			>
				<p-paginator
					(onPageChange)="paginate($event)"
					[rows]="5"
					[totalRecords]="totalOrderLineRecords"
					[rowsPerPageOptions]="[5, 20, 50]"
				>
				</p-paginator>
			</div>
		</div>
		<br />
		<br />
		<div *ngIf="listToPlan != null && this.listToPlan.length > 0" class="button_Save_AND_Cancel">
			<button
				href="#"
				class="pull-right btn btn-primary btn-sm"
				(click)="planify(); isPlanningPlanify = false"
			>
				{{ "ORDER.SAVE" | translate }}
			</button>
			<button type="button" class="pull-right btn btn-danger btn-sm" (click)="cancelPlanify()">
				{{ "ORDER.CANCEL" | translate }}
			</button>
		</div>
	</div>
</div>
