<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="shared/common_head :: copy">
	<title></title>
</head>

<body>
	<header th:replace="shared/header :: copy"></header>
	<main class="main">
		<table class="table-main">
			<tbody>
				<tr>
					<td>
						<div>				
							<span th:utext="#{declarationdunedeviation.corp1}"></span>
							<span th:text="${nomEtabUser}"></span>
							-
							<span th:text="${cpName}"></span>
							<span th:utext="#{declarationdunedeviation.corp2(${refTra})}"></span>
							<span th:if="${refCustomer} != null and ${refCustomer} != ''" th:utext="'( '+#{demandealertetransporteur.customRefMail(${refCustomer})}+' )'"></span>
													
							<p th:utext="#{declarationdunedeviation.status(${status})}"></p>
							<p th:utext="#{declarationdunedeviation.categorie(${cat})}"></p>
							<p th:utext="#{declarationdunedeviation.date(${date})}"></p>
							<span th:utext="#{demandealertetransporteur.destination(${ebdemande.libelleDestCountry})}"></span>
							
							<span th:utext="#{declarationdunedeviation.conclusion}"></span>
							<br/><br/>
							<div class="btn-wrapper">
								<a th:href="@{${url}}">
									<span class="btn" th:utext="#{bouttonaccederdossier.link}"></span>
								</a>
							</div>
							
						</div>
					</td>
				</tr>

			</tbody>

		</table>
	</main>

	<footer th:replace="shared/footer :: copy"></footer>
</body>

</html>