<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="shared/common_head :: copy">
	<title></title>
</head>

<body>
	<header th:replace="shared/header :: copy"></header>
	<main class="main">
		<table class="table-main">
			<tbody>
				<tr>
					<td>
						<div>				
							<span th:utext="#{miseajourpsl.corp1}"></span><span th:utext="' '"></span><span th:utext="${refTra}"></span>
							
							<span th:if="${unitRef} != null and ${unitRef} != ''" th:utext="' / '+${unitRef}"></span>
						
							<span th:utext="#{miseajourpsl.corp2}"></span>
							<span th:text="${nomEtabUser}"></span>
							-
							<span th:text="${cpName}"></span> :
							
							<p th:utext="#{miseajourpsl.status(${status})}"></p>
							<span th:utext="#{miseajourpsl.lieu(${pays})}"></span> , <span th:text="${ville}"></span>
							<p th:utext="#{miseajourpsl.date(${date})}"></p>
							<span th:utext="#{demandealertetransporteur.destination(${ebdemande.libelleDestCountry})}"></span>
							
							<div class="btn-wrapper">
							<a th:href="@{${url}}">
								<span class="btn" th:text="${refTra}"></span>
							</a>
							</div>
							
						</div>
					</td>
				</tr>

			</tbody>

		</table>
	</main>

	<footer th:replace="shared/footer :: copy"></footer>
</body>

</html>