<!-- <div #panel class="panel panel-comment" [ngClass]="(panelOpen!=null && !panelCollapsis) ? 'panel-collapsed' : ''"> -->
<div #panel id="comment-panel_wrapper">
	<fieldset>
		<label class="areaLibelle text-left">{{ title }}</label>
		<div class="generic-inputs__style" #body>
			<textarea
				[disabled]="disabled"
				[ngModel]="commentModel"
				(ngModelChange)="change($event)"
				name="commentModel"
				class="big-textarea form-control comment-text-area"
			></textarea>
		</div>
	</fieldset>
	<!-- <label class="comment-panel_label"> {{title}} </label> -->
	<!-- <span class="panel-controls">
        <a (click)="panelCollapse(panel, body)" data-toggle="collapse" class="panel-control-collapse comment-collapse"></a>
    </span> -->
</div>
