/* autoprefixer grid: autoplace */

@import "../../../../../styles/variables";
.tr-zone {
	margin-bottom: 8px;
	width: auto;
	background: rgba(1, 141, 173, 0.07);
	border-radius: 6px;
	-webkit-box-shadow: 1px 2px 20px hsla(0, 0%, 4%, 0.1);
	box-shadow: 1px 2px 20px hsla(0, 0%, 4%, 0.1);
	border: 1px dashed #c0c4c7;
	margin: 3px;
	padding: 0px 5px;
	transition: all 0.1s ease-in-out;
}

.tr-content {
	min-width: 145px;
}

.tr-zone h4 {
	color: #5d6771;
}

li.list-group-item > span {
	float: right;
	border-left: 1px solid white;
	cursor: pointer;
}

li.list-group-item {
	padding: 0px 8px !important;
	background-color: $primary-color !important;
	color: white !important;
}

.blanc {
	color: white;
	padding-left: 5px;
}

.selectable {
	cursor: pointer;
}

.selected {
	border: 2px solid $primary-color;
	box-shadow: inset 0px 0px 8px -2px #000;
	background-color: #cdf0f7;
	transition: all 0.1s ease-in-out;
}

.incidents-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}
