<div class="incidents-container">
	<div *ngFor="let incident of incidents; let i = index" class="tr-zone">
		<div *ngIf="incident.incidentLines.length > 0">
			<h4>{{ incident.demandeTranportRef }}</h4>
			<div class="tr-content">
				<ul class="list-group">
					<li class="list-group-item" *ngFor="let line of incident.incidentLines; let j = index">
						<span *ngIf="step != 3"
							><i class="fa fa-times blanc" (click)="deleteIncidentLines(i, j)"></i
						></span>
						Unit_{{ line.ebMarchandiseNum }}
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
