<p-panel [toggleable]="true" class="generic-table-panel">
	<p-header>
	<div style="padding: 0px 10px; padding-bottom: 2px;">
		<span style="font-size: 16px; color: #fff">{{'MAPPING_MTC.TITLE' | translate}}</span>
	</div>
	</p-header>
	<p-table [value]="params" [paginator]="true" [rows]="10">
		<ng-template pTemplate="header">
			<tr>
				<th pSortableColumn="mtcAttribute">
					{{'MAPPING_MTC.DATA-TABLE.COLUMNS.MTC_ATTRIBUTE' | translate}}
					<p-sortIcon field="mtcAttribute"></p-sortIcon></th>
				<th pSortableColumn="mtgAttribute">
					{{'MAPPING_MTC.DATA-TABLE.COLUMNS.MTG_ATTRIBUTE' | translate}}
					<p-sortIcon field="mtgAttribute"></p-sortIcon></th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-param>
			<tr>
				<td>{{param.mtcAttribute}}</td>
				<td pEditableColumn>
					<p-cellEditor>
						<ng-template pTemplate="input">
							<input pInputText type="text" [(ngModel)]="param.mtgAttribute">
						</ng-template>
						<ng-template pTemplate="output">
							{{param.mtgAttribute}}
						</ng-template>
					</p-cellEditor>
				</td>
			</tr>
		</ng-template>
	</p-table>
	<button *ngIf="params && params.length" class="btn btn-sm btn-success btn-shadow pull-right mr-2" (click)="save()">
		{{ "COMPANY_PROFILE.BTN_MODIFIER" | translate }}
	</button>
</p-panel>
