<div *ngIf="isEdit || showDrtUser" class="">
	<fieldset *ngIf="manageCategorie" class="nofieldset">
		<span class="label label-info margin-bottom-10">{{
			"QUALITY_MANAGEMENT.ROOT_CAUSE_CATEGORIE" | translate
		}}</span>
		<div class="row">
			<div class="col-md-9">
				<select #categorySelector class="form-control" [disabled]="disableDrtUser">
					<option *ngFor="let cat of listCategories; let i = index" value="{{ i }}">{{
						cat.libelle
					}}</option>
				</select>
			</div>
			<div class="col-md-3">
				<button
					[disabled]="disableDrtUser"
					class="btn btn-primary btn-sm pull-right"
					(click)="addCategory(categorySelector)"
				>
					<i class="fa fa-plus"></i>
				</button>
			</div>
		</div>
	</fieldset>

	<p-accordion>
		<p-accordionTab *ngFor="let cat of affectedCategories; let i = index">
			<p-header>
				{{ cat.libelle }}
				<i
					*ngIf="!disableDrtUser"
					class="cursor-pointer fa fa-close"
					style="float: right;"
					(click)="deleteCategory(i)"
				></i>
			</p-header>
			<p-table>
				<ng-template pTemplate="caption">
					<div class="row">
						<div class="col-md-3">
							<label for="newLabel" style="margin-top: 3px;">New Label : </label>
						</div>
						<div class="col-md-5">
							<p-autoComplete
								[(ngModel)]="selectedLabel"
								[suggestions]="sugestedCategorieLabels[i].labels"
								(completeMethod)="filterLabels($event, i)"
								[size]="30"
								[minLength]="1"
								field="libelle"
								placeholder="Search"
								[dropdown]="true"
								[inputStyleClass]="'input-with-select'"
							>
								<ng-template let-lab pTemplate="item">
									<div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
										{{ lab?.libelle }}
									</div>
								</ng-template>
							</p-autoComplete>
						</div>
						<div class="col-md-1">
							<button
								[disabled]="disableDrtUser"
								class="btn btn-sm btn-primary pull-right"
								(click)="addLabel(selectedLabel, i)"
								style="padding: 3px 9px 2px;"
							>
								<i class="fa fa-plus"></i>
							</button>
						</div>
						<div class="col-md-3">
							<p-checkbox
								binary="true"
								[label]="'REPOSITORY_MANAGEMENT.CATEGORY_ALL' | translate"
								[(ngModel)]="affectedCategoriesAndLabels[i].isAll"
								(onChange)="emptyCategLabelsIfIsAllNotSelected(affectedCategoriesAndLabels[i])"
								[disabled]="affectedCategoriesAndLabels[i]?.labels?.length && !affectedCategoriesAndLabels[i].isAll"
							></p-checkbox>
						</div>
					</div>
				</ng-template>
				<ng-template pTemplate="footer" *ngIf="!affectedCategoriesAndLabels[i].isAll">
					<tr>
						<td>
							<div class="ui-table-scrollable-view">
								<div class="ui-table-scrollable-body">
									<div
										*ngFor="
											let label of affectedCategoriesAndLabels[getAffCatLabelIndex(i)].labels;
											let j = index
										"
										class="label label-default"
									>
										<div
											class="cursor-pointer truncate"
											title="{{ label?.libelle }}"
											style="display: inline;"
										>
											{{ label.libelle }}
										</div>
										<i
											*ngIf="!disableDrtUser"
											class="fa fa-close cursor-pointer pull-right"
											aria-hidden="true"
											title="Supprimer"
											style="display: inline;"
											(click)="deleteLabel(j, i)"
										></i>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</ng-template>
			</p-table>
		</p-accordionTab>
	</p-accordion>
</div>
