@import "../../../../administrateur-company/administrateur-company.component.css";

.costCenter {
	border: 1px solid #ccc;
	padding: 10px;
}

.costCenter div.label {
	display: inline-block;
	font-size: 80% !important;
	margin: 2px !important;
	position: relative;
	margin-right: 10px;
	max-width: 100%;
}
.costCenter div.label div {
	display: inline-block;
	max-width: 100px;
	max-width: 97%;
}
.costCenter span i {
	font-size: 15px;
	margin-left: 10px;
	cursor: pointer;
}
