<div *ngIf="userConnected.superAdmin">
	<div class="col-md-3 padding-left-0-important">
		<div class="block-costcenters">
			<fieldset class="fieldset">
				<legend class="legend">{{ "REPOSITORY_MANAGEMENT.COST_CENTERS" | translate }}</legend>
				<div class="col-md-12 body-table">
					<form role="form" #formCtrlCostCenters="ngForm">
						<div class="form-content">
							<div class="col-md-12 padding-left-0 form-group">
								<div class="col-md-10">
									<label>{{ "REPOSITORY_MANAGEMENT.COST_CENTERS" | translate }}</label>
									<input
										type="text"
										ngControl="libelleCtrl"
										[(ngModel)]="ebCostCenter.libelle"
										name="libelle"
										class="form-control input-underline input-xs"
									/>
								</div>
								<div class="col-md-2 padding-right-0 padding-top-20">
									<button
										class="btn btn-sm  pull-right"
										[disabled]="!formCtrlCostCenters.valid"
										(click)="saveCostCenter($event)"
									>
										<i class="fa fa-save"></i>
									</button>
								</div>
							</div>
							<div class="col-md-12">
								<div *ngIf="ebCostCenter" class="costCenter col-xs-12">
									<div
										*ngFor="let costCenter of listCostCenter; let i = index"
										class="label label-default"
									>
										<div
											class="cursor-pointer truncate"
											(click)="setCostCenter(i)"
											title="{{ costCenter.libelle }}"
										>
											{{ costCenter.libelle }}
										</div>
										<i
											class="fa fa-close cursor-pointer"
											aria-hidden="true"
											title="{{ 'GENERAL.DELETE' | translate }}"
											(click)="deleteCostCenter($event, i)"
										></i>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</fieldset>
		</div>
	</div>
	<div class="col-md-6">
		<div class="block-categorie">
			<fieldset class="fieldset">
				<legend class="legend">{{ "REPOSITORY_MANAGEMENT.CATEGORIE" | translate }}</legend>
				<div class="col-md-12 body-table">
					<app-categorie
						class="col-md-12 col-xs-12 margin-top-20"
						*ngIf="
							ebEtablissement != null &&
							ebEtablissement.ebEtablissementNum != null &&
							ebCompagnie != null &&
							ebCompagnie.ebCompagnieNum != null
						"
						[ebEtablissement]="ebEtablissement"
						[ebCompagnie]="ebCompagnie"
					></app-categorie>
				</div>
			</fieldset>
		</div>
	</div>
	<div class="col-md-3 padding-right-0-important">
		<div class="block-categorie">
			<fieldset class="fieldset" [disabled]="!userConnected.superAdmin">
				<legend class="legend">
					{{ "REPOSITORY_MANAGEMENT.CHAMPS_PARAMETRABLES" | translate }}
				</legend>
				<div class="col-md-12 body-table">
					<app-custom-fields
						class="col-md-12 col-xs-12 margin-top-20"
						*ngIf="ebEtablissement != null && ebEtablissement.ebEtablissementNum != null"
						[ebEtablissement]="ebEtablissement"
					></app-custom-fields>
				</div>
			</fieldset>
		</div>
	</div>
</div>
