<div *ngIf="popupOpened" class="modal modal-backdrop">
	<div class="modal-dialog">
		<div class="modal-content">
			<div>
				<form role="form" #SemiAutoMail="ngForm" novalidate>
					<div class="modal-header">{{ "SEMI_AUTO_MAIL.GENERATE_MESSAGE" | translate }}</div>
					<div class="modal-body" style="text-align: left;">
						<div class="form-group row">
							<div class="control-label col-md-3">
								<label>{{ "SEMI_AUTO_MAIL.POPUP.EMAIL_TYPE" | translate }} :</label>
							</div>
							<div class="col-md-6">
								<select #emailTypeSelector [(ngModel)]="selectedMailTypeId" name="selectMailType">
									<option *ngFor="let email of listTypeMail" [ngValue]="email.mailId">
										{{ email.label | translate }}
									</option>
								</select>
							</div>
							<div class="col-md-3">
								<button
									[disabled]="selectedMailTypeId == null"
									class="btn btn-primary pull-right btn-xs generate"
									(click)="generateHtmlFromTemplate($event)"
								>
									{{ "SEMI_AUTO_MAIL.POPUP.GENERATE_MAIL" | translate }}
								</button>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-md-3">
								<label>{{ "SEMI_AUTO_MAIL.POPUP.RECIPIENTS" | translate }} :</label>
							</div>
							<div class="col-md-9">
								<input
									type="text"
									[(ngModel)]="mail.to"
									name="destinataire"
									type="email"
									required
								/>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-md-3">
								<label>{{ "SEMI_AUTO_MAIL.POPUP.CC" | translate }} :</label>
							</div>
							<div class="col-md-9">
								<input type="text" [(ngModel)]="cc" name="cc" type="email" multiple />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-3">
								<label>{{ "SEMI_AUTO_MAIL.POPUP.SUBJECT" | translate }} :</label>
							</div>
							<div class="col-md-9">
								<input type="text" [(ngModel)]="mail.subject" name="sujet" required />
							</div>
						</div>
						<div>
							<ng-container>
								<p-editor
									#commentaire
									[(ngModel)]="mail.text"
									[placeholder]="''"
									[style]="{ height: '200px' }"
									name="chat"
								></p-editor>
							</ng-container>
						</div>
					</div>
					<div class="modal-footer">
						<a>
							<button
								class="btn btn-primary pull-right btn-sm mr5 modal_yes_btn"
								#pageValid
								[disabled]="!canSend"
								(click)="clickSend($event)"
							>
								{{ "GENERAL.SEND" | translate }}
							</button>
						</a>
						<a>
							<button class="btn btn-danger pull-right btn-sm mr5 modal_no_btn" (click)="close()">
								{{ "GENERAL.CANCEL" | translate }}
							</button>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
