<form #f="ngForm" (ngSubmit)="saveForm(f)" *ngIf="form" class="form-horizontal" role="form">
	<div class="row d-flex-w">
		<div
			*ngFor="let field of listSelectedFields; let i = index"
			class="col-md-{{ column ? column : '6' }} form-group mgtop"
		>
			<div class="nochpadding">
				<div class="col-md-{{ !editable ? '4' : '3' }}">
					<label>
						{{ field.label | translate }} :
						<button (click)="deleteInput(i)" class="delete">
							<i class="fa fa-times-circle-o"></i>
						</button>
					</label>
				</div>
				<div class="col-md-4 pad2" *ngIf="!fieldsOnly">
					<select
						*ngIf="field.type != 'number' && field.type != 'date'"
						class="form-control operator-{{ field.name }}"
						name="operator-{{ field.name }}"
					>
						<option value="contains" [selected]="field.operator && field.operator == 'contains'">{{
							"ADVANCED_FORM_SEARCH.OPERATOR_CONTAINS" | translate
						}}</option>
						<option
							value="notcontains"
							[selected]="field.operator && field.operator == 'notcontains'"
							>{{ "ADVANCED_FORM_SEARCH.OPERATOR_NOT_CONTAINS" | translate }}</option
						>
						<option value="equal" [selected]="field.operator && field.operator == 'equal'">{{
							"ADVANCED_FORM_SEARCH.OPERATOR_EQUAL" | translate
						}}</option>
						<option value="notequal" [selected]="field.operator && field.operator == 'notequal'">{{
							"ADVANCED_FORM_SEARCH.OPERATOR_NOT_EQUAL" | translate
						}}</option>
					</select>
					<select
						*ngIf="field.type == 'number' || field.type == 'date'"
						class="form-control operator-{{ field.name }}"
						name="operator-{{ field.name }}"
					>
						<option value="=" [selected]="field.operator && field.operator == '='">=</option>
						<option value="!=" [selected]="field.operator && field.operator == '!='">!=</option>
						<option value="gte" [selected]="field.operator && field.operator == 'gte'"
							>&gt;=</option
						>
						<option value="gt" [selected]="field.operator && field.operator == 'gt'">&gt;</option>
						<option value="lte" [selected]="field.operator && field.operator == 'lte'"
							>&lt;=</option
						>
						<option value="lt" [selected]="field.operator && field.operator == 'lt'">&lt;</option>
					</select>
				</div>
				<div class="col-md-{{ !fieldsOnly ? '4' : '8' }}">
					<input
						*ngIf="field.type == 'text'"
						class="form-control"
						type="text"
						name="{{ field.name }}"
						placeholder="{{ field.placeholder }}"
						value="{{ field.default }}"
					/>
					<input
						*ngIf="field.type == 'number'"
						class="form-control"
						type="number"
						name="{{ field.name }}"
						placeholder="{{ field.placeholder }}"
						value="{{ field.default }}"
					/>
					<select *ngIf="field.type == 'select'" class="form-control" name="{{ field.name }}">
						<option
							*ngFor="let fieldVal of field.options"
							value="{{ fieldVal.value }}"
							[selected]="field.default && fieldVal.value == field.default"
							>{{ fieldVal.label }}</option
						>
					</select>
					<div *ngIf="field.type == 'checkbox'">
						<div class="checkbox nomargin" *ngFor="let fieldVal of field.options">
							<label>
								<input
									type="checkbox"
									name="{{ field.name }}"
									value="{{ fieldVal.value }}"
									[checked]="field.default && fieldVal.value == field.default"
								/>{{ fieldVal.label }}</label
							>
						</div>
					</div>
					<div *ngIf="field.type == 'radio'">
						<div class="radio nomargin" *ngFor="let fieldVal of field.options">
							<label>
								<input
									type="radio"
									name="{{ field.name }}"
									value="{{ fieldVal.value }}"
									[checked]="field.default && fieldVal.value == field.default"
								/>{{ fieldVal.label }}</label
							>
						</div>
					</div>
					<div *ngIf="field.type == 'autocomplete'">
						<app-old-autocomplete
							#autocomplete
							[name]="field.name"
							[listItems]="field.listItems"
							[defaultValue]="field.default | json"
							[sMultiple]="field.multiple"
							[placeholder]="field.placeholder"
							[srcTypeahead]="field.srcTypeahead"
							[srcListItems]="field.srcListItems"
							[fetchAttribute]="field.fetchAttribute"
							[fetchValue]="field.fetchValue"
							[translatePrefix]="field.translatePrefix"
							[groupByAttr]="field.groupByAttr"
							[hasCountryTemplate]="field.hasCountryTemplate"
							[hasNoAttribute]="field.hasNoAttribute"
							[fetchGroupByAttribute]="field.fetchGroupByAttribute"
							[withCriteria]="field.withCriteria"
							[addTag]="field.addTag"
							[criteria]="field.name === 'listTypeDemande' ? criteriaTypeRequest : null"
						></app-old-autocomplete>
					</div>
					<div *ngIf="field.type == 'date'">
						<div class="custom">
							<app-datetime-picker
								#datetimepicker
								[(ngModel)]="field.default"
								[name]="field.name"
								[placeholder]="field.placeholder"
							></app-datetime-picker>
						</div>
					</div>
					<div *ngIf="field.type == 'month'">
						<p-calendar
							#monthpicker
							styleClass="no-arrows"
							[style]="{ width: '100%' }"
							[inputStyle]="{ width: '100%' }"
							[(ngModel)]="field.default"
							view="month"
							dateFormat="mm/yy"
							[yearNavigator]="true"
							yearRange="2000:2030"
						></p-calendar>
					</div>
					<div *ngIf="field.type == 'flag-multi-select'">
						<app-flag-multi-select
							[name]="field.name"
							[listFlag]="flagGetListForField(field)"
							[contributionAccess]="field.contributionAccess"
							[module]="ebModuleNum"
							(change)="flagSetListForField($event, field)"
						></app-flag-multi-select>
					</div>
				</div>
				<div class="col-md-1 padleft1" *ngIf="editable">
					<button (click)="deleteField(i)" class="delete">
						<i class="fa fa-remove"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</form>

<div class="row">
	<div class="col-md-7">
		<div class="row">
			<div class="form-group col-md-4" *ngIf="editable">
				<select name="new" class="field-selector" #fieldSelector>
					<option value="{{ i }}" *ngFor="let field of listFields; let i = index">{{
						field.label | translate
					}}</option>
				</select>
			</div>
			<div class="fom-group col-md-8" *ngIf="editable">
				<div class="pull-left">
					<button class="btn btn-primary btn-sm" (click)="addField()">
						{{ "ADVANCED_FORM_SEARCH.ADD_FIELD" | translate }}
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<div class="pull-right">
			<button class="btn btn-danger btn-sm deep-red" (click)="removeAllFields()" *ngIf="editable">
				<span class="">
					<i class="fa fa-trash-o fa-fw"></i
					>{{ "ADVANCED_FORM_SEARCH.REMOVE_FIELDS" | translate }}</span
				>
			</button>
			<button *ngIf="ebCompNum" class="btn btn-tertiary btn-sm deep-red" (click)="clearAllFields()">
				<span class="">
					<i class="fa fa-trash-o fa-fw"></i
					>{{ "ADVANCED_FORM_SEARCH.CLEAR_FIELDS" | translate }}</span
				>
			</button>
			<!-- //TODO MEP-ce bout de code devra être réactivé après MEP
			<button class="btn btn-sm btn-secondary" (click)="showAddRulePopup()">
				<i class="fa fa-sticky-note-o fa-fw"></i
				>{{ "ADVANCED_FORM_SEARCH.USE_AS_RULE" | translate }}
			</button>
			-->
			<button *ngIf="ebCompNum" class="btn btn-sm btn-secondary" (click)="saveForm($event)">
				<i class="fa fa-save fa-fw"></i>{{ "ADVANCED_FORM_SEARCH.SAVE_AS_FILTER" | translate }}
			</button>
			<button
				*ngIf="ebCompNum && ebCompNum != SavedFormIdentifier.SAVED_SEARCH_ACTION"
				class="btn btn-primary btn-sm"
				(click)="search()"
			>
				<i class="fa fa-search fa-fw"></i>{{ "ADVANCED_FORM_SEARCH.SEARCH" | translate }}
			</button>
		</div>
	</div>
</div>

<div *ngIf="showPopupAddRule">
	<div
		class="modal"
		tabindex="1"
		role="dialog"
		style="display:block!important;background-color: #ccccccd1;"
	>
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">{{ "ADVANCED_FORM_SEARCH.RULE_POPUP.TITLE" | translate }}</h4>
				</div>
				<div class="modal-body" style="min-height: 300px">
					<form #formPopupAddRule="ngForm">
						<div class="row">
							<div class="form-group">
								<div class="col-md-4">
									<label for="">{{
										"ADVANCED_FORM_SEARCH.RULE_POPUP.FIELD_NAME" | translate
									}}</label>
								</div>
								<div class="col-md-8">
									<input
										type="text"
										name="ruleName"
										[(ngModel)]="ruleSelectedName"
										class="form-control"
										required
									/>
								</div>
							</div>
						</div>
						<div class="row" style="margin-top: 5px;">
							<div class="form-group">
								<div class="col-md-4">
									<label for="">{{ "ADVANCED_FORM_SEARCH.RULE_POPUP.TRIGGER" | translate }}</label>
								</div>
								<div class="col-md-8">
									<!-- 	<select class="form-control input-xs padding-all-3" [(ngModel)]="ruleSelectedActionTrigger" ngControl="action"
									 name="ruleruleSelectedActionTriggerType" (change)="popupRuleActionOnChange()" required>
										<option *ngFor="let item of listSavedSearchActionTrigger" [ngValue]="item.code">{{'ADVANCED_FORM_SEARCH.ACTION_TRIGGER.'
											+ item.libelle | translate}}</option>
									</select> -->
									<ng-select
										name="ruleruleSelectedActionTriggerType"
										[multiple]="true"
										[items]="listSavedSearchActionTrigger"
										ngControl="action"
										bindValue="code"
										bindLabel="libelle"
										placeholder="Select trigger..."
										[(ngModel)]="ruleSelectedActionTrigger"
										required
									>
										<ng-template ng-label-tmp let-item="item">
											{{ "ADVANCED_FORM_SEARCH.ACTION_TRIGGER." + item.libelle | translate }}
										</ng-template>
										<ng-template ng-option-tmp let-item="item">
											<span>
												{{ "ADVANCED_FORM_SEARCH.ACTION_TRIGGER." + item.libelle | translate }}
											</span>
										</ng-template>
									</ng-select>
								</div>
							</div>
						</div>
						<div class="row" style="margin-top: 5px;">
							<div class="form-group">
								<div class="col-md-4">
									<label for="">{{
										"ADVANCED_FORM_SEARCH.RULE_POPUP.RULE_TYPE" | translate
									}}</label>
								</div>
								<div class="col-md-8">
									<select
										class="form-control input-xs padding-all-3"
										[(ngModel)]="ruleSelectedAction"
										ngControl="action"
										name="ruleType"
										(change)="popupRuleActionOnChange()"
										required
									>
										<option *ngFor="let item of listSavedSearchAction" [ngValue]="item.code">{{
											"ADVANCED_FORM_SEARCH.ACTION." + item.libelle | translate
										}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row" style="margin-top: 5px;" *ngIf="ruleSelectedAction == 1">
							<div class="form-group">
								<div class="col-md-4">
									<label for="">{{
										"ADVANCED_FORM_SEARCH.RULE_POPUP.FIELD_NEW_STATUS" | translate
									}}</label>
								</div>
								<div class="col-md-8">
									<!-- 		<select class="form-control input-xs padding-all-3" [(ngModel)]="ruleSelectedTarget" ngControl="ruleSelectedStatus"
									 name="ruleSelectedStatus" required>
										<option [ngValue]="null"> </option>
										<option *ngFor="let status of listStatusModule; let i=index" [ngValue]="status.code">{{status.libelle}}</option>
									</select> -->
									<app-old-autocomplete
										#autocomplete
										[name]="'listStatutPopUp'"
										[srcListItems]="StatusPopUp.srcListItems"
										[fetchAttribute]="'libelle'"
										[fetchValue]="'code'"
									></app-old-autocomplete>
								</div>
							</div>
						</div>
						<div class="row" style="margin-top: 5px;" *ngIf="ruleSelectedAction == 2">
							<div class="form-group">
								<div class="col-md-4">
									<label for="">{{
										"ADVANCED_FORM_SEARCH.RULE_POPUP.FIELD_FLAGS" | translate
									}}</label>
								</div>
								<div class="col-md-8">
									<app-flag-multi-select
										[listFlag]="flagGetListForRule()"
										(change)="flagSetListForRule($event)"
									></app-flag-multi-select>
								</div>
							</div>
						</div>
						<div class="row" *ngIf="ruleSelectedAction == 3">
							<div class="form-group" style="margin-top: 5px;">
								<div class="col-md-4">
									<label for="">{{
										"ADVANCED_FORM_SEARCH.RULE_POPUP.FIELD_EMAIL_TYPE" | translate
									}}</label>
								</div>
								<div class="col-md-8">
									<select
										class="form-control input-xs padding-all-3"
										[(ngModel)]="ruleSelectedParams"
										ngControl="ruleSelectedEmail"
										name="ruleSelectedEmail"
										required
									>
										<option [ngValue]="null"> </option>
										<option *ngFor="let mail of listMails; let i = index" [ngValue]="mail.emailId"
											>{{ mail.emailId }} - {{ mail.emailName }}</option
										>
									</select>
								</div>
							</div>
							<div class="form-group" style="margin-top: 35px;">
								<div class="col-md-4">
									<label for="">{{
										"ADVANCED_FORM_SEARCH.RULE_POPUP.FIELD_EMAIL" | translate
									}}</label>
								</div>
								<div class="col-md-8">
									<input
										type="text"
										name="ruleSendAlertEmail"
										[(ngModel)]="ruleSelectedTarget"
										class="form-control"
										required
									/>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button
						type="button"
						class="btn btn-tertiary"
						data-dismiss="modal"
						(click)="closeAddRulePopup()"
					>
						{{ "GENERAL.CANCEL" | translate }}
					</button>
					<button
						type="button"
						class="btn btn-primary"
						data-dismiss="modal"
						(click)="addRule($event)"
						[disabled]="!formPopupAddRule.valid || isSavingRule"
					>
						{{ "GENERAL.CONFIRM" | translate }}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
