button.delete {
	color: red;
	border: none;
	background: none;
}
.form-group {
	margin-left: 0;
	margin-right: 0;
}

.advanced-search .panel-visible:not(.panel-collapsed) {
	padding-top: 0px !important;
}

.panel-visible {
	padding-right: 4px;
	padding-left: 4px;
}

.custom {
	margin-bottom: 5px !important;
}

.mgtop {
	margin-top: 5px;
}
