/******** VARIABLES ********/
@import "../../../styles/variables";

#notifications-container {
	.icon-container {
		border-radius: 50%;
		padding: 7px 8px 5px 8px;
		border: 1px solid #d2d2d2;
	}
	.note-wrapper {
		transition: all 0.2s ease-in-out;
		padding: 15px 0;
		&:not(:last-child) {
			border-bottom: 1px solid #f7f7f7;
		}
	}
	.note-title {
		text-align: left;
		padding-left: 22px;
	}
	.note-content.hidden {
		display: none !important;
	}
	.note-content {
		background: #f4f0f0;
		padding: 4px 10px;
		border-radius: 2px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
		max-width: 100%;
		font-size: $fz-sm;
		text-align: left;
		span {
			font-weight: 600;
		}
	}
	.note-content > p {
		font-size: $fz-sm;
		margin: 0 0 0.2rem 0;
	}

	.note-content > time {
		font-size: $fz-xs;
		color: #ccc;
	}
	.note-content:before {
		content: "\A";
		border-style: solid;
		border-width: 18px 0px 0px 12px;
		border-color: #f4f0f0 transparent transparent transparent;
		position: absolute;
		left: 70px;
		top: -13px;
		transform: rotate(180deg);
	}
	.comment-user {
		color: #018dad;
		font-weight: bold;
	}
	.comment-date {
		font-style: italic;
		font-size: $fz-xs;
	}
}
