<div
	class="modal"
	tabindex="1"
	role="dialog"
	style="display:block!important;background-color: #ccccccd1;"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">NOTIFICATIONS</h4>
				<i class="fa fa-close cursor-pointer" style="float: right" (click)="closeModal()"></i>
			</div>
			<div class="modal-body padding-top-0-important">
				<div id="notifications-container">
					<ng-container class="upload-item">
						<div class="row note-wrapper" *ngFor="let note of listNotes; let i = index">
							<div class="col-md-12" id="note-{{ i }}">
								<div class="col-md-1">
									<span class="icon-container">
										<i class="my-icon-{{ note.module }}"></i>
									</span>
								</div>
								<!-- <div class="col-md-11 padding-left-0">
                                    <time datetime="2009-11-13T20:00"><span class="comment-user">{{chat.userName}}</span>
                                        • <span class="comment-date">{{statique.formatDatewithHours(chat.dateCreation)}}</span></time>
                                </div> -->
								<div class="col-md-11 padding-left-0 note-title d-flex-jc-sb">
									<time datetime="2009-11-13T20:00"
										><span class="comment-user">{{ note.name }} </span> •
										<span class="comment-date">{{ note.date }} </span></time
									>
									<div>
										<span class="padding-right-10">{{ note.demande }}</span>
										<a (click)="hideThisElt($event)" class="cursor-pointer"
											><i class="fa fa-folder-open" id="{{ i }}"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="col-md-12 padding-top-5">
								<div class="note-content">
									<div>Shipping informations updated:</div>
									<div>Cost center : Costcenter01</div>
									<div>
										by <span>{{ note.by }}</span> for <span>{{ note.name }}</span>
									</div>
								</div>
							</div>
						</div>
						<div *ngIf="!showMore">
							<button class="btn btn-secondary" (click)="showMoreNotes()">
								See more
							</button>
						</div>
						<div *ngIf="showMore">
							<div class="row note-wrapper" *ngFor="let note of listNotes; let i = index">
								<div class="col-md-12" id="note-{{ i }}">
									<div class="col-md-1">
										<span class="icon-container">
											<i class="my-icon-{{ note.module }}"></i>
										</span>
									</div>
									<!-- <div class="col-md-11 padding-left-0">
                                        <time datetime="2009-11-13T20:00"><span class="comment-user">{{chat.userName}}</span>
                                            • <span class="comment-date">{{statique.formatDatewithHours(chat.dateCreation)}}</span></time>
                                    </div> -->
									<div class="col-md-11 padding-left-0 note-title d-flex-jc-sb">
										<time datetime="2009-11-13T20:00"
											><span class="comment-user">{{ note.name }} </span> •
											<span class="comment-date">{{ note.date }} </span></time
										>
										<div>
											<span class="padding-right-10">{{ note.demande }}</span>
											<a (click)="hideThisElt($event)" class="cursor-pointer"
												><i class="fa fa-folder-open" id="{{ i }}"></i>
											</a>
										</div>
									</div>
								</div>
								<div class="col-md-12 padding-top-5">
									<div class="note-content">
										<div>Shipping informations updated:</div>
										<div>Cost center : Costcenter01</div>
										<div>
											by <span>{{ note.by }}</span> for <span>{{ note.name }}</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
</div>
