@import "../../styles/variables";

/* ces boucles pour faciliter l'utilisation des classes css
et eviter d'avoir des border-x de partout dans les fichiers css */

/* exemple d'utilisation : class="border-top-5-black" (les couleurs dispo : black - gray - white ) */

$loop-generated-loop-min: 0; // 0 est la limite minimum d'utilisation du border
$loop-generated-loop-max: 100; // 100 est la limite maximum d'utilisation du border

/* borders */

@mixin border-px-black($color, $direction) {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		@if $direction != "" {
			.border-#{$direction}-#{$i}-#{$color} {
				border-#{$direction}: #{$i}px solid #{$color};
			}
		} @else {
			.border-#{$i}-#{$color} {
				border: #{$i}px solid #{$color};
			}
		}
	}
}
@mixin border-px-white($color, $direction) {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		@if $direction != "" {
			.border-#{$direction}-#{$i}-#{$color} {
				border-#{$direction}: #{$i}px solid #{$color};
			}
		} @else {
			.border-#{$i}-#{$color} {
				border: #{$i}px solid #{$color};
			}
		}
	}
}
@mixin border-px-gray($color, $direction) {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		@if $direction != "" {
			.border-#{$direction}-#{$i}-#{$color} {
				border-#{$direction}: #{$i}px solid #{$color};
			}
		} @else {
			.border-#{$i}-#{$color} {
				border: #{$i}px solid #{$color};
			}
		}
	}
}

/* END borders */

/** DO INCLUDE **/

@include border-px-black("black", "");
@include border-px-white("white", "");
@include border-px-gray("gray", "");
@include border-px-black("black", "top");
@include border-px-white("white", "top");
@include border-px-gray("gray", "top");
@include border-px-black("black", "left");
@include border-px-white("white", "left");
@include border-px-gray("gray", "left");
@include border-px-black("black", "bottom");
@include border-px-white("white", "bottom");
@include border-px-gray("gray", "bottom");
@include border-px-black("black", "right");
@include border-px-white("white", "right");
@include border-px-gray("gray", "right");
