@import "../../styles/variables";

.color-white {
	color: $white;
}
.color-red {
	color: $red-danger;
}
.color-red-dark {
	color: $red;
}
.color-red-light {
	color: $red-light;
}
.color-green {
	color: $green;
}
.color-yellow {
	color: $yellow;
}
.color-black {
	color: $black;
}
.color-gray {
	color: $gray-medium;
}
.color-gray-light {
	color: $gray-light;
}
.color-gray-dark {
	color: $gray-dark;
}
.color-primary {
	color: $primary-color;
}

.color-bg-white {
	background: $white;
}
.color-bg-red {
	background: $red-danger;
}
.color-bg-red-dark {
	background: $red;
}
.color-bg-red-light {
	background: $red-light;
}
.color-bg-green {
	background: $green;
}
.color-bg-yellow {
	background: $yellow;
}
.color-bg-black {
	background: $black;
}
.color-bg-gray {
	background: $gray-medium;
}
.color-bg-gray-light {
	background: $gray-light;
}
.color-bg-gray-dark {
	background: $gray-dark;
}
.color-bg-primary {
	background: $primary-color;
}
