/* ces boucles pour faciliter l'utilisation des classes css
et eviter d'avoir des flex-grow-x de partout dans les fichiers css */

/* exemple d'utilisation : class="flex-grow-1" */

$loop-generated-loop-min: 0; // 0 est la limite minimum d'utilisation du Flex Grow
$loop-generated-loop-max: 100; // 100 est la limite maximum d'utilisation du Flex Grow

/* Flex Grow */

@mixin flex-grow-x-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.flex-grow-#{$i} {
			flex-grow: #{$i};
		}
	}
}

@mixin flex-grow-x-important-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.flex-grow-#{$i}-important {
			flex-grow: #{$i} !important;
		}
	}
}

/* END Flex Grow */

/** DO INCLUDE **/

@include flex-grow-x-list;
@include flex-grow-x-important-list;
