/* ces boucles pour faciliter l'utilisation des classes css
et eviter d'avoir des fz-x de partout dans les fichiers css */

/* exemple d'utilisation : class="fz-20" */

$loop-generated-loop-min: 0; // 0 est la limite minimum d'utilisation du font-size
$loop-generated-loop-max: 100; // 100 est la limite maximum d'utilisation du font-size

@mixin font-size-x-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.fz-#{$i} {
			font-size: #{$i}px;
		}
	}
}

@mixin font-size-x-list-important {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.fz-#{$i}-important {
			font-size: #{$i}px !important;
		}
	}
}

/** DO INCLUDE **/

@include font-size-x-list;
@include font-size-x-list-important;
