/* ces boucles pour faciliter l'utilisation des classes css
et eviter d'avoir des height-x / width-x de partout dans les fichiers css */

/* exemple d'utilisation : class="height-20" / exemple d'utilisation : class="width-20" */

$loop-generated-loop-min: 0; // 0 est la limite minimum d'utilisation du height/width
$loop-generated-loop-max: 100; // 100 est la limite maximum d'utilisation du height/width

/* Width / Height */
@mixin width-x-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.width-#{$i} {
			width: #{$i}px;
		}
	}
}

@mixin width-x-important-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.width-#{$i}-important {
			width: #{$i}px !important;
		}
	}
}

@mixin height-x-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.height-#{$i} {
			height: #{$i}px;
		}
	}
}

@mixin height-x-important-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.height-#{$i}-important {
			height: #{$i}px !important;
		}
	}
}

/* Width / Height */
@mixin width-x-percent {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.width-#{$i}-percent {
			width: #{$i}+ "%";
		}
	}
}

@mixin width-x-important-percent {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.width-#{$i}-percent-important {
			width: #{$i}+ "%" !important;
		}
	}
}

@mixin height-x-percent {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.height-#{$i}-percent {
			height: #{$i}+ "%";
		}
	}
}

@mixin height-x-important-percent {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.height-#{$i}-percent-important {
			height: #{$i}+ "%" !important;
		}
	}
}
/* END Width / Height */

/* Min Width / min Height */
@mixin min-width-x-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.min-width-#{$i} {
			min-width: #{$i}px;
		}
	}
}

@mixin min-width-x-important-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.min-width-#{$i}-important {
			min-width: #{$i}px !important;
		}
	}
}

@mixin min-height-x-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.min-height-#{$i} {
			min-height: #{$i}px;
		}
	}
}

@mixin min-height-x-important-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.min-height-#{$i}-important {
			min-height: #{$i}px !important;
		}
	}
}

/* Min Width / Height */
@mixin min-width-x-percent {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.min-width-#{$i}-percent {
			min-width: #{$i}px;
		}
	}
}

@mixin min-width-x-important-percent {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.min-width-#{$i}-percent-important {
			min-width: #{$i}px !important;
		}
	}
}

@mixin min-height-x-percent {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.min-height-#{$i}-percent {
			min-height: #{$i}px;
		}
	}
}

@mixin min-height-x-important-percent {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.min-height-#{$i}-percent-important {
			min-height: #{$i}px !important;
		}
	}
}
/* END Min Width / Height */

/** DO INCLUDE **/

@include height-x-list;
@include height-x-important-list;
@include width-x-list;
@include width-x-important-list;

@include height-x-percent;
@include height-x-important-percent;
@include width-x-percent;
@include width-x-important-percent;

@include min-height-x-list;
@include min-height-x-important-list;
@include min-width-x-list;
@include min-width-x-important-list;

@include min-height-x-percent;
@include min-height-x-important-percent;
@include min-width-x-percent;
@include min-width-x-important-percent;
