/* ces boucles pour faciliter l'utilisation des classes css
et eviter d'avoir des margin-x de partout dans les fichiers css */

/* exemple d'utilisation : class="margin-top-20" */

$loop-generated-loop-min: -200; // -200 est la limite minimum d'utilisation du margin
$loop-generated-loop-max: 200; // -200 est la limite maximum d'utilisation du margin

/* Margins */

@mixin margin-x-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.margin-#{$i} {
			margin: #{$i}px;
		}
	}
}

@mixin margin-x-important-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.margin-#{$i}-important {
			margin: #{$i}px !important;
		}
	}
}

@mixin margin-left-x-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.margin-left-#{$i} {
			margin-left: #{$i}px;
		}
	}
}

@mixin margin-left-x-important-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.margin-left-#{$i}-important {
			margin-left: #{$i}px !important;
		}
	}
}

@mixin margin-right-x-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.margin-right-#{$i} {
			margin-right: #{$i}px;
		}
	}
}

@mixin margin-right-x-important-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.margin-right-#{$i}-important {
			margin-right: #{$i}px !important;
		}
	}
}

@mixin margin-top-x-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.margin-top-#{$i} {
			margin-top: #{$i}px;
		}
	}
}

@mixin margin-top-x-important-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.margin-top-#{$i}-important {
			margin-top: #{$i}px !important;
		}
	}
}

@mixin margin-bottom-x-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.margin-bottom-#{$i} {
			margin-bottom: #{$i}px;
		}
	}
}

@mixin margin-bottom-x-important-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.margin-bottom-#{$i}-important {
			margin-bottom: #{$i}px !important;
		}
	}
}

/* END Margins */

/** DO INCLUDE **/

@include margin-x-list;
@include margin-x-important-list;
@include margin-left-x-list;
@include margin-left-x-important-list;
@include margin-right-x-list;
@include margin-right-x-important-list;
@include margin-top-x-list;
@include margin-top-x-important-list;
@include margin-bottom-x-list;
@include margin-bottom-x-important-list;
