/* ces boucles pour faciliter l'utilisation des classes css
et eviter d'avoir des padding-x de partout dans les fichiers css */

/* exemple d'utilisation : class="padding-top-20" */

$loop-generated-loop-min: -200; // -200 est la limite minimum d'utilisation du padding
$loop-generated-loop-max: 200; // -200 est la limite maximum d'utilisation du padding

/* Paddings */

@mixin padding-x-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.padding-#{$i} {
			padding: #{$i}px;
		}
	}
}

@mixin padding-x-important-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.padding-#{$i}-important {
			padding: #{$i}px !important;
		}
	}
}

@mixin padding-left-x-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.padding-left-#{$i} {
			padding-left: #{$i}px;
		}
	}
}

@mixin padding-left-x-important-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.padding-left-#{$i}-important {
			padding-left: #{$i}px !important;
		}
	}
}

@mixin padding-right-x-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.padding-right-#{$i} {
			padding-right: #{$i}px;
		}
	}
}

@mixin padding-right-x-important-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.padding-right-#{$i}-important {
			padding-right: #{$i}px !important;
		}
	}
}

@mixin padding-top-x-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.padding-top-#{$i} {
			padding-top: #{$i}px;
		}
	}
}

@mixin padding-top-x-important-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.padding-top-#{$i}-important {
			padding-top: #{$i}px !important;
		}
	}
}

@mixin padding-bottom-x-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.padding-bottom-#{$i} {
			padding-bottom: #{$i}px;
		}
	}
}

@mixin padding-bottom-x-important-list {
	@for $i from $loop-generated-loop-min through $loop-generated-loop-max {
		.padding-bottom-#{$i}-important {
			padding-bottom: #{$i}px !important;
		}
	}
}

/* END Paddings */

/** DO INCLUDE **/

@include padding-x-list;
@include padding-x-important-list;
@include padding-left-x-list;
@include padding-left-x-important-list;
@include padding-right-x-list;
@include padding-right-x-important-list;
@include padding-top-x-list;
@include padding-top-x-important-list;
@include padding-bottom-x-list;
@include padding-bottom-x-important-list;
