/******** VARIABLES ********/
@import "../variables";

/******** Common Table ********/
@mixin th-common($textAlign: false) {
	font-size: $fz-sm;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;

	@if $textAlign {
		text-align: center;
	}
}

@mixin td-common($textAlign: false) {
	font-size: $fz-sm;

	@if $textAlign {
		text-align: center;
	}
}

:not(.generic-table-panel) th {
	@include th-common(true);
}

:not(.generic-table-panel) td {
	@include td-common(true);
}

/******** GenericTable (GTBL) ********/

.ui-panel-content {
	// Clearfix
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

.gtbl-th {
	@include th-common(false);
}

.gtbl-td {
	@include td-common(false);
}

.subtabble-padding {
	width: 100% !important;
	margin-bottom: 10px;
	table {
		width: auto !important;
	}
}

/******** Table Global ********/
.table {
	width: 100% !important;
}

.table > thead > tr {
	background-color: #c9dde2;
	color: #000;
}

.table > thead > tr > th.action {
	min-width: 60px;
}

.table > tbody > tr > td.action {
	padding: 0px 0px;
}

.table > thead > tr > th:first-child {
	/* border-top: 1px solid #e4e2e2 !important; */
	border-bottom: 0px solid #e4e2e2;
	/* border-left: 1px solid #e4e2e2; */
	border-right: 1px solid $white;
}

.table > thead > tr > th:not(:first-child) {
	/* border-top: 1px solid var(--color-gri-lights) !important; */
	border-bottom: 0px solid #e4e2e2;
	border-left: 0px solid $white;
	border-right: 1px solid $white;
}

.table > thead > tr > th,
.table > thead > tr > th:first-child {
	border-bottom: 1px $white !important;
}

.table > thead > tr > th:last-child {
	border-right: 1px solid #e4e2e2;
}

.table > tbody > tr > td:first-child,
.table > tfoot > tr > td:first-child {
	border-top: 0px solid #e4e2e2;
	border-bottom: 1px solid #e4e2e2;
	border-left: 1px solid #e4e2e2;
	border-right: 1px solid #e4e2e2;
	overflow: hidden;
}

.table > tbody > tr > td:not(:first-child),
.table > tfoot > tr > td:not(:first-child) {
	border-top: 0px solid #e4e2e2;
	border-bottom: 1px solid #e4e2e2;
	border-left: 0px solid #e4e2e2;
	border-right: 1px solid #e4e2e2;
}

.table > tbody > tr:not(:last-child) td {
	border-bottom: 1px solid #e4e2e2;
}

.table > thead > tr > th {
	text-align: center;
	vertical-align: middle !important;
}

.table > tbody > tr.even {
	background-color: #f5f5f5;
}

.table > tbody > tr > td {
	text-align: center;
}

.table > thead > tr > th {
	border-top: 1px solid $white !important;
}

/******** Angular Datatables (TODO remove with datatables component) ********/

.dataTables_scrollBody tbody tr:hover {
	cursor: pointer;
}

dataTables_paginate paging_full_numbers {
	margin: 2px 0;
	white-space: nowrap;
	display: inline-block;
	padding-left: 0;
	border-radius: 4px;
}

table.dataTable.no-footer {
	border-bottom: 1px solid #e4e2e2 !important;
	padding-top: 10px;
	/* margin-bottom: 5px; */
}

.dataTables_scrollBody table {
	padding-top: 0 !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
	border-bottom: 0;
}

.dataTables_scrollHead .dataTable {
	margin-bottom: 0;
}

.dataTables_scrollBody .dataTable {
	margin-bottom: 5px;
}

.dataTables_length .form-control {
	padding-left: 2px !important;
	padding-right: 25px !important;
}

div.dataTables_length select {
	width: 55px;
	display: inline-block;
}

.dataTables_length select {
	margin: 0 5px;
	padding: 3px 5px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	color: $white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background: $primary-color !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
	background: #cacaca !important;
	color: #000000 !important;
}

.dataTables_wrapper .dataTables_filter input {
	display: inline-block !important;
	width: auto !important;
}

.dataTables_filter input {
	margin-left: 5px;
}

.dataTables_filter label {
	text-transform: capitalize;
}

table.dataTable thead > tr > th {
	padding-left: 6px;
	padding-right: 6px;
	font-weight: normal;
	text-align: center !important;
	min-width: 50px;
	/* box-shadow: inset 0 0 35px -10px grey; */
}

.table-hover > tbody > tr {
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

table.dataTable tbody td {
	padding: 8px 6px;
	vertical-align: middle;
}

table.dataTable tbody track {
	cursor: pointer;
}
.dataTables_wrapper .dataTables_filter {
	position: relative;
	text-align: right;
	/* right: -120px; */
	/* transform: translateX(-50%); */
	color: rgb(0, 0, 0) !important;
}

.dataTables_wrapper .dataTables_filter label,
.dataTables_wrapper .dataTables_length label {
	font-weight: normal;
}

.dataTables_scroll {
	padding-top: 10px;
}

.dataTables_wrapper .dataTables_info {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	padding-top: 0.755em;
	bottom: 0;
}

.dataTables_wrapper .dataTables_scroll {
	padding-top: 0;
}

.dataTables_scrollHead table.dataTable thead th {
	padding: 6px 14px 6px 4px;
}

.dataTables_wrapper .dataTables_length {
	float: left;
	position: absolute;
	bottom: -3px;
}

table.dataTable thead th {
	font-weight: 600 !important;
}

.dataTables_scrollBody table.dataTable thead th {
	padding: 0 14px 0 4px !important;
}

table.dataTable thead .sorting {
	background-image: url(./assets/images/sort_both.png) no-repeat;
}

table.dataTable thead .sorting_asc,
table.dataTable thead .sorting,
table.dataTable thead .sorting_desc {
	background-position: 100% 50%;
}

table.dataTable.nowrap th,
table.dataTable.nowrap td {
	white-space: normal !important;
}

button.dt-button {
	background-color: transparent !important;
	/* box-shadow: inset 0 0 35px -10px grey; */
	background-image: none;
	margin: 0;
	padding: 0;
	display: block;
}

button.dt-button:hover:not(.disabled),
button.dt-button:focus:not(.disabled),
button.dt-button:active:not(.disabled) {
	background-image: none;
	background-color: $white !important;
}

button.dt-button:hover:not(.disabled):after,
button.dt-button:focus:not(.disabled):after,
button.dt-button:active:not(.disabled):after {
	color: $primary-color;
}

.buttons-colvis span {
	display: none !important;
}

.dt-button-collection {
	background-color: #c5d1d2 !important;
	border: 0px solid rgba(0, 0, 0, 0.4) !important;
	border-radius: 0px !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	width: 381px !important;
	top: 0;
	float: right;
	left: -80px !important;
	position: relative !important;
	margin-top: 0 !important;
}

div.dt-button-background {
	z-index: 99999;
}
