<app-collapsible-panel title="INCIDENT DESCRIPTION" [fullscreen]="true">
	<div class="col-md-12 form-group padding-top-10" style="height: 108px;">
		<div class="row row-eq-height-wrap">
			<div class="form-group col-md-6">
				<label class="control-label col-md-12"
					><span>Incident description</span>
					<span class="text-rigth"
						><i
							(click)="showOrHide('Desc')"
							*ngIf="!showDesc"
							class="fa fa-plus-circle fa-2x"
							style="cursor: pointer;"
						></i
						><i
							(click)="showOrHide('Desc')"
							*ngIf="showDesc"
							class="fa fa-minus-circle fa-2x"
							style="cursor: pointer;"
						></i></span
				></label>
				<div>
					<textarea
						*ngIf="showDesc"
						class="form-control"
						rows="2"
						[(ngModel)]="incident.incidentDesc"
						style="height: 70px;"
					></textarea>
				</div>
			</div>

			<div class="form-group col-md-6">
				<label class="control-label col-md-12"
					><span>Additional impact</span>
					<span class="text-rigth"
						><i
							(click)="showOrHide('Impact')"
							*ngIf="!showImpact"
							class="fa fa-plus-circle fa-2x"
							style="cursor: pointer;"
						></i
						><i
							(click)="showOrHide('Impact')"
							*ngIf="showImpact"
							class="fa fa-minus-circle fa-2x"
							style="cursor: pointer;"
						></i></span
				></label>
				<div>
					<textarea
						*ngIf="showImpact"
						class="form-control"
						rows="2"
						[(ngModel)]="incident.addImpact"
						style="height: 70px;"
					></textarea>
				</div>
			</div>
		</div>
	</div>

	<hr />
	<div class="col-md-12" style="text-align: right;">
		<button href="#" class="btn btn-primary btn-sm" (click)="updateIncidentDescription()">
			Save
		</button>
	</div>
</app-collapsible-panel>
