<div class="margin-tb-10 ppanel-component-table">
	<app-generic-table
		#genericTable
		[hideTable]="isAddMode"
		[title]="'FLAG_MANAGEMENT.TITLE' | translate"
		[searchInput]="flagSearchCriteria"
		[dataInfos]="dataInfos"
		[detailsInfos]="null"
		(addFormEmitter)="displayAddFlag($event)"
		(editFormEmitter)="displayEditFlag($event)"
		(deleteEventEmitter)="deleteFlag($event)"
		[component]="GenericTableScreen.FLAG_MANAGEMENT"
		(onDataLoaded)="onDataLoaded($event)"
		[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
	>
		<form
			class="generic-default"
			formcontent
			*ngIf="isAddMode"
			role="form"
			#formCtrlAdminFlag="ngForm"
		>
			<div class="form-content col-sm-12">
				<div class="row"></div>
			</div>
			<div class="form-content col-sm-12">
				<div class="row">
					<div class="col-md-3 new-formcontrol  ">
						<label class="areaLibelle">{{ "FLAG_MANAGEMENT.REF" | translate }}</label>
						<div class="col-md-12 padding-left-0-important padding-right-0-important">
							<input
								name="reference"
								type="text"
								class="form-control input-underline input-xs"
								[(ngModel)]="flag.reference"
								required
							/>
						</div>
					</div>
					<div class="col-md-3 new-formcontrol  ">
						<label class="areaLibelle">{{ "FLAG_MANAGEMENT.NAME" | translate }}</label>
						<div class="col-md-12 padding-left-0-important padding-right-0-important">
							<input
								name="name"
								type="text"
								class="form-control input-underline input-xs"
								[(ngModel)]="flag.name"
								required
							/>
						</div>
					</div>
					<div class="col-md-3 new-formcontrol  ">
						<label class="areaLibelle">{{ "FLAG_MANAGEMENT.ICON" | translate }}</label>
						<div class="col-md-12 padding-left-0-important padding-right-0-important">
							<ng-select
								name="icon"
								[items]="listIconsCode"
								bindLabel="nom"
								placeholder="Select icon..."
								[(ngModel)]="flag.icon"
								required
							>
								<ng-template ng-label-tmp let-item="item">
									<app-flag [iconCode]="item"></app-flag>
								</ng-template>
								<ng-template ng-option-tmp let-item="item">
									<span>
										<app-flag [iconCode]="item"></app-flag>
									</span>
								</ng-template>
							</ng-select>
						</div>
					</div>

					<div class="col-md-3 new-formcontrol  ">
						<label class="areaLibelle">{{ "FLAG_MANAGEMENT.COLOR" | translate }}</label>
						<div class="col-md-12 padding-left-0-important padding-right-0-important">
							<p-colorPicker name="color" [(ngModel)]="flag.color"></p-colorPicker>
						</div>
					</div>
				</div>
			</div>

			<div class="form-content col-sm-12 text-right">
				<div class="col-md-12 form-bottom-control">
					<button
						*ngIf="flag != null && flag.ebFlagNum == null"
						class="btn btn-sm btn-success btn-shadow"
						[disabled]="!formCtrlAdminFlag.valid"
						(click)="addFlag()"
					>
						{{ "COMPANY_PROFILE.BTN_AJOUTER" | translate }}
					</button>
					<button
						*ngIf="flag != null && flag.ebFlagNum != null"
						class="btn btn-sm btn-success btn-shadow"
						[disabled]="!formCtrlAdminFlag.valid"
						(click)="editFlag()"
					>
						{{ "COMPANY_PROFILE.BTN_MODIFIER" | translate }}
					</button>
					<button class="btn btn-sm btn-success btn-shadow" (click)="backToListFlag()">
						{{ "GENERAL.CANCEL" | translate }}
					</button>
				</div>
			</div>
		</form>
	</app-generic-table>
</div>
