<div class="row">
	<fieldset [disabled]="ebParty.ebPartyNum">
		<legend>
			<h4>{{ title }}</h4>
		</legend>

		<!-- FIX : Chrome autocomplete over ng2-completer autocomplete -->
		<input
			id="fixOrigin1{{ title }}"
			style="opacity: 0;position: absolute;"
			hidden
			aria-hidden="true"
		/>
		<input
			id="fixOrigin2{{ title }}"
			type="password"
			style="opacity: 0;position: absolute;"
			hidden
			aria-hidden="true"
		/>
		<!-- END FIX -->

		<div class="col-md-12">
			<div class="form-group">
				<div class="new-formcontrol row" [hidden]="ebParty.ebPartyNum != null">
					<label class="areaLibelle col-md-4 col-sm-12 col-xs-12 padding-left-0">{{
						"PRICING_BOOKING.SEARCH_ETABLISSEMENT_ADRESSE" | translate
					}}</label>
					<div class="col-md-8 col-sm-12 col-xs-12 padding-left-0">
						<ng2-completer
							name="ebParty.company"
							[(ngModel)]="searchAdress"
							[datasource]="suggestionsEtablissement"
							[minSearchLength]="1"
							(selected)="selectedEbParty($event)"
							[disabled]="ebParty.ebPartyNum != null && !toggleEditData"
						></ng2-completer>
						<span class="fa fa-search form-control-feedback input-search-icon"></span>
					</div>
				</div>

				<div class="new-formcontrol row">
					<label
						for="ebParty.company"
						class="areaLibelle col-md-4 col-sm-12 col-xs-12 padding-left-0"
						>{{ "PRICING_BOOKING.COMPANY" | translate }}</label
					>
					<div class="col-md-8 col-sm-12 col-xs-12 padding-left-0">
						<input
							id="company{{ title }}"
							class="form-control"
							type="text"
							[disabled]="ebParty.ebPartyNum != null"
							[(ngModel)]="ebParty.company"
							aria-required="true"
						/>
					</div>
				</div>

				<div class="new-formcontrol row" style="display: none;">
					<label
						for="etablissement"
						class="areaLibelle col-md-4 col-sm-12 col-xs-12 padding-left-0"
						>{{ "REPOSITORY_MANAGEMENT.ETABLISSEMENT" | translate }}</label
					>
					<div class="col-md-8 col-sm-12 col-xs-12 padding-left-0">
						<select
							class="form-control"
							[compareWith]="compareEtablissement"
							disabled
							name="ebParty.etablissementAdresse"
							[disabled]="ebParty.ebPartyNum != null"
							[(ngModel)]="ebParty.etablissementAdresse"
						>
							<option
								*ngFor="let etablissement of listEtablissementPlateform"
								[ngValue]="etablissement"
							>
								{{ etablissement.nom }}
							</option>
						</select>
					</div>
				</div>

				<div class="new-formcontrol row">
					<label class="areaLibelle col-md-4 col-sm-12 col-xs-12 padding-left-0">{{
						"PRICING_BOOKING.ADDRESS" | translate
					}}</label>
					<div class="col-md-8 col-sm-12 col-xs-12 padding-left-0">
						<textarea
							id="address{{ title }}"
							name="ebParty.adresse"
							type="text"
							class="form-control adress"
							[(ngModel)]="ebParty.adresse"
							[disabled]="ebParty.ebPartyNum != null && !toggleEditData"
						></textarea>
					</div>
				</div>

				<div class="new-formcontrol row">
					<label for="city" class="areaLibelle col-md-4 col-sm-12 col-xs-12 padding-left-0">{{
						"PRICING_BOOKING.CITY" | translate
					}}</label>
					<div class="col-md-8 col-sm-12 col-xs-12 padding-left-0">
						<input
							id="city{{ title }}"
							(change)="onValideFields()"
							name="ebParty.city"
							type="text"
							class="form-control"
							[disabled]="ebParty.ebPartyNum != null && !toggleEditData"
							required
							[(ngModel)]="ebParty.city"
							aria-required="true"
						/>
					</div>
				</div>
				<div class="new-formcontrol row" style="display: none;">
					<label class="areaLibelle col-md-4 col-sm-12 col-xs-12 padding-left-0">{{
						"PRICING_BOOKING.ZIP_CODE" | translate
					}}</label>
					<div class="col-md-8 col-sm-12 col-xs-12 padding-left-0">
						<input
							id="zipCode{{ title }}"
							name="ebParty.zipCode"
							type="text"
							class="form-control"
							[disabled]="ebParty.ebPartyNum != null && !toggleEditData"
							[(ngModel)]="ebParty.zipCode"
						/>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="form-group">
				<div class="new-formcontrol row">
					<label for="xEcCountry" class="areaLibelle col-md-4 col-sm-12 col-xs-12 padding-left-0">{{
						"PRICING_BOOKING.COUNTRY" | translate
					}}</label>
					<div class="col-md-8 col-sm-12 col-xs-12 padding-left-0">
							<ng-select
							[items]="listCountry"
							class="form-control"
							(change)="onValideFields()"
							[compareWith]="compareCountry"
							name="ebParty.xEcCountry"
							[disabled]="ebParty.ebPartyNum != null && !toggleEditData"
							[(ngModel)]="ebParty.xEcCountry"
							bindLabel="libelleCode"
							required
						>
						<ng-template ng-option-tmp let-item="item">
								<div class="d-flex-ai-c d-flex-jc-sb">
									<span>{{ item.libelle }}</span>
									<span>{{ item.code }}</span>
								</div>
							</ng-template>
						</ng-select>
					</div>
				</div>

				<div class="new-formcontrol row" *ngIf="ebParty.ebPartyNum == null" style="display: none;">
					<label for="zone" class="areaLibelle col-md-4 col-sm-12 col-xs-12 padding-left-0">{{
						"PRICING_BOOKING.ZONE" | translate
					}}</label>
					<div class="col-md-8 col-sm-12 col-xs-12 padding-left-0">
						<select
							class="form-control"
							name="ebParty.zone"
							[compareWith]="compareZone"
							[disabled]="ebParty.ebPartyNum != null"
							[(ngModel)]="ebParty.zone"
						>
							<option *ngFor="let aZone of listZone" [ngValue]="aZone">{{
								getZoneDisplayString(aZone)
							}}</option>
						</select>
					</div>
				</div>

				<div class="new-formcontrol row" *ngIf="ebParty.ebPartyNum != null" style="display: none;">
					<label class="areaLibelle col-md-4 col-sm-12 col-xs-12 padding-left-0">{{
						"PRICING_BOOKING.ZONE" | translate
					}}</label>
					<div class="col-md-8 col-sm-12 col-xs-12 padding-left-0">
						<input
							id="zone{{ title }}"
							type="text"
							class="form-control"
							name="ebParty.zone"
							[disabled]="true"
							[value]="getZoneBackupDisplayString(ebParty)"
						/>
					</div>
				</div>

				<div class="new-formcontrol row" style="display: none;">
					<label class="areaLibelle col-md-4 col-sm-12 col-xs-12 padding-left-0">{{
						"PRICING_BOOKING.OPENING_HOURS" | translate
					}}</label>
					<div class="col-md-8 col-sm-12 col-xs-12 padding-left-0">
						<input
							id="opoeningHours{{ title }}"
							type="text"
							class="form-control"
							name="ebParty.openingHours"
							[disabled]="ebParty.ebPartyNum != null && !toggleEditData"
							[(ngModel)]="ebParty.openingHours"
						/>
					</div>
				</div>

				<div class="new-formcontrol row" style="display: none;">
					<label class="areaLibelle col-md-4 col-sm-12 col-xs-12 padding-left-0">{{
						"PRICING_BOOKING.AIRPORT_DEPARTURE" | translate
					}}</label>
					<div class="col-md-8 col-sm-12 col-xs-12 padding-left-0">
						<input
							id="airport{{ title }}"
							name="ebParty.airport"
							type="text"
							class="form-control"
							[disabled]="ebParty.ebPartyNum != null && !toggleEditData"
							[(ngModel)]="ebParty.airport"
						/>
					</div>
				</div>

				<div class="new-formcontrol row" style="display: none;">
					<label class="areaLibelle col-md-4 col-sm-12 col-xs-12 padding-left-0">{{
						"PRICING_BOOKING.ADDRESS_COMMENT" | translate
					}}</label>
					<div class="col-md-8 col-sm-12 col-xs-12 padding-left-0">
						<textarea
							id="commentaire{{ title }}"
							name="ebParty.commentaire"
							type="text"
							class="form-control adress"
							[(ngModel)]="ebParty.commentaire"
							[disabled]="ebParty.ebPartyNum != null && !toggleEditData"
						></textarea>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
</div>
