<div class="content_wrapper">
	<app-shipping-information
		#shippingInformationComponent
		[showAddressWrapper]="showAddressWrapper"
		[ebDemande]="ebDemande"
		[userConnected]="userConnected"
		[module]="Modules.PRICING"
		(onListTransporteurLoaded)="onListTransporteurLoadedHandler($event)"
		*ngIf="userConnected != null && userConnected.ebUserNum != null"
	>
	</app-shipping-information>

	<app-goods-information
		id="goodsInformationDiv"
		#goodsInformationDiv
		[ebDemande]="ebDemande"
		[modeTransport]="modeTransport"
		[listMarchandise]="ebDemande.listMarchandises"
		[userConnected]="userConnected"
		*ngIf="userConnected != null && userConnected.ebUserNum != null && modeTransport.length"
		[isForGrouping]="true"
	></app-goods-information>

	<app-collapsible-panel
		title="{{ 'PRICING_BOOKING.QUOTATION' | translate }}"
		*ngIf="userConnected != null && userConnected.ebUserNum != null"
	>
		<app-carrier-choice
			id="carrierChoiceDiv"
			#carrierChoiceDiv
			[listTransporteur]="listTransporteur"
			[listTransporteurFromPlanToAdd]="listTransporteurFromPlanToAdd"
			[ebDemande]="ebDemande"
			[userConnected]="userConnected"
			[module]="Modules.PRICING"
			[isForGrouping]="true"
		>
		</app-carrier-choice>
	</app-collapsible-panel>
</div>
