<form role="form" #EventForm="ngForm" novalidate>
	<div class="modal-header">{{ "Informations du document" | translate }}</div>
	<div class="modal-body overflow-visible" style="width: 100%;">
		<div class="row">
			<div class="col-md-12 form-group">
				<label class="col-md-4 margin-bottom-5-important">Nom fichier</label>
				<div class="col-md-8">
					<input
						type="text"
						[(ngModel)]="ebDocument.fileName"
						name="fileName"
						class="form-control input-underline input-xs"
						required
					/>
				</div>
			</div>
			<div class="col-md-12 form-group">
				<label class="col-md-4 margin-bottom-5-important">Commentaire</label>
				<div class="col-md-8">
					<textarea
						type="text"
						[(ngModel)]="ebDocument.commentaire"
						name="comment"
						class="form-control input-underline input-xs"
						required
					></textarea>
				</div>
			</div>
			<div class="col-md-12 form-group">
				<label class="col-md-4 margin-bottom-5-important">Date de fin de validité</label>
				<div class="col-md-8">
					<app-datetime-picker
						name="ebDocument.dateFinValidite"
						[(ngModel)]="ebDocument.dateFinValidite"
						required
					></app-datetime-picker>
				</div>
			</div>
		</div>
	</div>
</form>
