<div class="padding-top-5">
	<app-generic-table
		#genericTable
		[hideTable]="isAddEditMode"
		[title]="'SETTINGS.CONTROL_RULES' | translate"
		[dataInfos]="dataInfos"
		[searchInput]="searchInput"
		[detailsInfos]="null"
		(onHelpBtnClick)="showHelpTemplateHandler()"
		(addFormEmitter)="openAddForm($event)"
		(editFormEmitter)="openEditForm($event)"
		(deleteEventEmitter)="deleteControlRule($event)"
		[parentContext]="this"
		[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
	>
		<form
			class="generic-default"
			formcontent
			*ngIf="isAddEditMode"
			role="form"
			#formCtrlAdminFlag="ngForm"
		>
			<div class="form-content col-sm-12 margin-top-10">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-4 col-xs-12 d-flex-ai-c d-flex-w generic-inputs__style">
							<label class="col-md-4 required">{{ "CONTROL_RULES.CODE" | translate }} :</label>
							<div class="col-md-8">
								<input
									type="text"
									[(ngModel)]="controlRule.code"
									name="controlRule.code"
									class="form-control"
									required
								/>
							</div>
						</div>

						<div class="col-md-4 col-xs-12 d-flex-ai-c generic-inputs__style">
							<label class="col-md-4">{{ "CONTROL_RULES.LABEL" | translate }} :</label>
							<div class="col-md-8">
								<input
									type="text"
									[(ngModel)]="controlRule.libelle"
									name="controlRule.libelle"
									class="form-control"
								/>
							</div>
						</div>

						<div class="col-md-4 col-xs-12 d-flex-ai-c generic-inputs__style">
							<label class="col-md-4 text-right"
								>{{ "TYPE_REQUEST.ACTIVATED" | translate }} :</label
							>
							<div class="col-md-8">
								<input
									type="checkbox"
									[(ngModel)]="controlRule.activated"
									name="controlRule.activated"
									class="form-control"
								/>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="generic-inputs__style editor-block">
							<label>{{ "QUALITY_MANAGEMENT.COMMENTAIRE" | translate }} :</label>
							<div>
								<app-advanced-editor
									[(ngModel)]="controlRule.commentaire"
									name="controlRule.commentaire"
								></app-advanced-editor>
							</div>
						</div>
					</div>
				</div>

				<div class="row margin-top-10 margin-bottom-20">
					<div class="col-md-12">
						<span class="col-md-6 required">{{ "CONTROL_RULES.DESCRIPTION" | translate }}</span>
						<ng-select
							class="col-md-3"
							name="selectedConditionType"
							[(ngModel)]="selectedConditionType"
							(change)="initCRValues()"
							required
						>
							<ng-option *ngFor="let condType of listCrConditionsTypes" [value]="condType.code">
								{{ condType.key | translate }}
							</ng-option>
						</ng-select>
					</div>
				</div>

				<ng-container *ngIf="selectedConditionType == CrRuleCategory.DATE">
					<app-date-control-rules-form
						[controlRule]="controlRule"
						[listCategorieDeviation]="listCategorieDeviationFiltred"
						[listRuleOperator]="listRuleOperator"
						[listPslTypeLeft]="listPslTypeLeft"
						[listPslTypeRight]="listPslTypeRight"
						[listPriority]="listPriority"
						[listOperator]="listOperator"
						[listSchemaPslFiltered]="listSchemaPslFiltered"
						[listTypeRequest]="listTypeRequest"
						[listSchemaPsl]="listSchemaPsl"
						[listTypeflux]="listTypeflux"
						[selectedSchemaPSL]="selectedSchemaPSL"
						[selectedEbTypeFlux]="selectedEbTypeFlux"
						[listConditionCrFields]="listConditionCrFields"
						[listOperatorForDocRulesConditions]="listOperatorForDocRulesConditions"
						[listConditionGenericFields]="listConditionGenericFields"
						[listCategories]="listCategories"
						[listFields]="listFields"
						[listUnitFields]="listUnitFields"
						[listUnitFieldsForConditions]="listUnitFieldsForConditions"
						[unitGenericFieldsForActions]="unitGenericFieldsForActions"
						[unitGenericFieldsForConditions]="unitGenericFieldsForConditions"
						[listTypeDoc]="listTypeDoc"
						[allCrFields]="allCrFields"
						(emailDestinataireUpdated)="emailDestinataires = $event"
					>
					</app-date-control-rules-form>
				</ng-container>

				<ng-container *ngIf="selectedConditionType == CrRuleCategory.DOCUMENT">
					<app-document-control-rules-form
						[controlRule]="controlRule"
						[listTypeRequests]="listTypeRequests"
						[listStatus]="listStatus"
						[listIncoterms]="listIncoterms"
						[listModeTr]="listModeTr"
						[listTypeflux]="listTypeflux"
						[listConditionGenericFields]="listConditionGenericFields"
						[listActionGenericFields]="listActionGenericFields"
						[allCrFields]="allCrFields"
						[listConditionCrFields]="listConditionCrFields"
						[listActionCrFields]="listActionCrFields"
						[listRuleOperator]="listRuleOperator"
						[listOperatorForDocRulesConditions]="listOperatorForDocRulesConditions"
						[listOperatorForDocRulesActions]="listOperatorForDocRulesActions"
						[listCategories]="listCategories"
						[listFields]="listFields"
						[listDocumentStatus]="listDocumentStatus"
						[listTypeDoc]="listTypeDoc"
						[docGenTemplates]="docGenTemplates"
						[listUnitFields]="listUnitFields"
						[listUnitFieldsForConditions]="listUnitFieldsForConditions"
						[listUnitFieldsForActions]="listUnitFieldsForActions"
						[unitGenericFieldsForActions]="unitGenericFieldsForActions"
						[unitGenericFieldsForConditions]="unitGenericFieldsForConditions"
						[listMails]="listMails"
						(selectedMailsUpdated)="selectedMails = $event"
						(emailDestinataireUpdated)="emailDestinataires = $event"
						(typeDocsUpdated)="selectedListTypeDoc = $event"
					>
					</app-document-control-rules-form>
				</ng-container>
			</div>

			<!-- RULE TRIGGERS -->
			<div class="row separator"></div>
			<div class="col-md-12">
				<span>{{ "CONTROL_RULES.TRIGGER_TEXT" | translate }}</span>
			</div>

			<div class="row">
				<div class="margin-top-5 padding-left-40 ng-star-inserted">
					<ng-container *ngFor="let trig of listRuleTrigger">
						<div>
							<input
								type="checkbox"
								[(ngModel)]="listTrigVal[trig.code]"
								name="listTrigVal[{{ trig.code }}]"
							/>
							<label>{{ trig.key | translate }}</label>
						</div>
					</ng-container>
				</div>
			</div>

			<div class="form-content col-sm-12 text-right margin-bottom-10">
				<div class="col-md-12">
					<button class="btn btn-sm btn-tertiary btn-shadow" (click)="backToListControlRules()">
						{{ "GENERAL.CANCEL" | translate }}
					</button>
					<button
						*ngIf="!editMode && controlRule != null && controlRule.ebControlRuleNum == null"
						class="btn btn-sm btn-primary btn-shadow"
						[disabled]="!formCtrlAdminFlag.valid || !isValidForm || !selectedConditionType"
						(click)="saveControlRule($event)"
					>
						{{ "GENERAL.SAVE" | translate }}
					</button>
					<button
						*ngIf="editMode && controlRule != null"
						class="btn btn-sm btn-primary btn-shadow"
						[disabled]="!formCtrlAdminFlag.valid || !Statique.isDefined(selectedConditionType)"
						(click)="saveControlRule($event)"
					>
						{{ "GENERAL.EDIT" | translate }}
					</button>
				</div>
			</div>
		</form>
	</app-generic-table>
</div>

<!-- Popup Help (?) document template -->
<div
	*ngIf="modalLexiqueVisible"
	class="modal modal-backdrop"
	tabindex="-1"
	role="dialog"
	style="display:block!important;"
	id="helpButtonL"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div>
				<form role="form" #EventForm="ngForm" novalidate>
					<div class="modal-header">{{ "LEXIQUE.HEADER" | translate }}</div>
					<div class="modal-body overflow-auto" style="width: 100%;">
						<div class="row">
							<div class="col-md-12">
								<app-lexique-mail-control-rules class="col-md-12"></app-lexique-mail-control-rules>
							</div>
						</div>
					</div>
					<div class="modal-footer" style="height: 75;">
						<a (click)="modalLexiqueVisible = false">
							<button class="btn btn-danger pull-right btn-sm mr5 modal_no_btn">
								{{ "GENERAL.CLOSE" | translate }}
							</button>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!--Fin Popup Help-->
