.fixed-width-120
{
	width: 120px;
}
.fixed-width-80
{
	width: 80px;
}

.cr-type-doc {

    border: 1px solid #dadada;
    margin: 10px;
}
.cr-type-doc th
{
    width: 350px;
    height: 30px;
    background-color: #dadada;
    font-size: 15px!important;
}
.cr-type-doc td{
    height: 50px;
}
.cr-type-doc td{
    padding: 15px;
}
