<div class="content_wrapper" *ngIf="ebDemande != null && ebDemande.ebDemandeNum != null">
	<div id="step-cotation-id">
		<app-step-cotation
			[hasContributionAccess]="hasContributionAccess"
			[ebDemande]="ebDemande"
			[module]="module"
			[userConnected]="userConnected"
		></app-step-cotation>
	</div>
	<app-shipping-information
		[hasContributionAccess]="hasContributionAccess"
		[module]="module"
		[ebDemande]="ebDemande"
		*ngIf="canShowShippingInformations"
		[userConnected]="userConnected"
		(updateChatEmitter)="updateChatEmitter($event)"
		(onListTransporteurLoaded)="onListTransporteurLoadedHandler($event)"
	></app-shipping-information>

	<app-goods-information
		[module]="module"
		[modeTransport]="modeTransport"
		*ngIf="canShowUnitInformations"
		[ebDemande]="ebDemande"
		[unitInfos]="unitInfos"
		[userConnected]="userConnected"
	></app-goods-information>

	<app-collapsible-panel title="{{ 'PRICING_BOOKING.QUOTATION' | translate }}">
		<app-carrier-choice
			[listTransporteur]="listTransporteur"
			[hasContributionAccess]="hasContributionAccess"
			(updateCarrierChoiceEmitter)="updateCarrierChoiceHandler()"
			*ngIf="canShowCarrierChoice"
			[module]="module"
			[ebDemande]="ebDemande"
			[userConnected]="userConnected"
		></app-carrier-choice>
	</app-collapsible-panel>
</div>
