<form #headerDeclaration="ngForm" novalidate>
	<app-collapsible-panel title="Information general">
		<div class="form-group">
			<app-form-custom
				[declaration]="declaration"
				[lisrFormField]="listEbFormHeader"
				initFields="all"
				[editable]="false"
				[ebModuleNum]="module"
				[column]="6"
			></app-form-custom>
		</div>
	</app-collapsible-panel>
</form>
