<div class="content_wrapper col-md-12 padding-0 ">
	<form role="form" #traceInfo="ngForm" novalidate>
		<app-step-track
			*ngIf="timelineEbPslAppList"
			[listOfPslApps]="timelineEbPslAppList"
		></app-step-track>
		<div class="new-design_details-contents col-md-12 padding-0">
			<div class="collapsible-blocs">
				<div class="generic-accordion left-blocs col-md-3 col-sm-12 col-xs-12 padding-4">
					<app-demande-overview
						*ngIf="ebTracing?.xEbSchemaPsl && ebTracing?.xEbDemande"
						[ebDemande]="ebTracing.xEbDemande"
						[showInfoAboutTransport]="true"
					></app-demande-overview>
				</div>
				<div class="middle-blocs col-md-6 col-sm-12 col-xs-12 padding-4">
					<table class="psl-table">
						<thead>
							<tr>
								<th></th>
								<th colspan="3">PSL</th>
								<th colspan="5">{{ "TRACK_TRACE.EVENT" | translate }}</th>
								<th>{{ "PRICING_BOOKING.COMMENT" | translate }}</th>
								<th>{{ "TRACK_TRACE.DATE_UPDATE" | translate }}</th>
								<th><span class="fa fa-paperclip"></span></th>
								<th>Action</th>
								<!-- //TODO MEP-ce bout de code devra être réactivé après MEP -->
								<!-- <th><i class="fa fa-paperclip"></i></th>
								<th>CHAMP</th>
								<th>Actions</th>
								-->
							</tr>
						</thead>
						<tbody>
							<ng-container *ngFor="let ebPslApp of timelineEbPslAppList; let i = index">
								<tr
									[ngClass]="
										(getTimeLineStatusColor(ebPslApp) == 'BLUE')
											? 'validated-psl-without-deviation'
											: (getTimeLineStatusColor(ebPslApp) == 'WHITE')
											? 'validated-psl-with-deviation' :
											(getTimeLineStatusColor(ebPslApp) == 'WHITE_GREY')? 
											 'unvalidated-psl-with-deviation' :
											 'unvalidated-psl'
											"
								>
									<td [ngClass]="'psl-line'"></td>
									<td colspan="3" class="psl-name">
										<i
											*ngIf="ebPslApp.listEvent && ebPslApp.listEvent.length > 0"
											[ngClass]="{ collapsed: !isCollapsed[i] }"
											class="fa fa-chevron-right"
											(click)="isCollapsed[i] = !isCollapsed[i]"
											[attr.aria-expanded]="isCollapsed[i]"
											aria-controls="i"
										></i
										>{{ ebPslApp.nom }}
									</td>
									<td colspan="5">
										{{ ebPslApp.date | date: "dd/MM/yyyy HH:mm" }}
										<span *ngIf="ebPslApp.nature != null && !(ebPslApp.nature === '')"
											>({{ "TRACK_TRACE." + ebPslApp.nature | translate }})</span
										>
									</td>
									<td>{{ ebPslApp.commentaire }}</td>
									<td></td>
									<td>{{ ebPslApp.nbDoc || "" }}</td>
									<td></td>
									<!-- //TODO MEP-ce bout de code devra être réactivé après MEP
									<td>0</td>
									<td style="text-align:center !important">
										<i
											*ngIf="ebPslApp.validateByChamp"
											style="color: green;"
											class="fa fa-check"
											title="{{ 'TRACK_TRACE.VALIDATE_CHAMP' | translate }}"
										></i>
                                    </td>
                                    <td class="actions" style="text-align:center !important">
                                        <i class="cursor-pointer fa fa-eye padding-right-5"></i>
                                        <i class="cursor-pointer fa fa-pencil"></i>
                                    </td>
                                    -->
								</tr>
								<tr
									id="i"
									[ngbCollapse]="isCollapsed[i]"
									*ngFor="let el of ebPslApp.listEvent"
									[ngClass]="'deviation-psl'"
								>
									<td [ngClass]="el.nature ? 'psl-line' : 'evnt-psl-line'"></td>
									<td colspan="3" class="psl-name">{{ ebPslApp.nom }}</td>
									<td colspan="5">
										{{ el.dateEvent | date: "dd/MM/yyyy-HH:mm" }}
										<span *ngIf="el.typeDate != null && !(el.typeDate === '')"
											>({{ "TRACK_TRACE." + el.typeDate | translate }})</span
										>

										<span
											*ngIf="
												el.nature && el.ebQmIncidentNum && el.typeEvent == TypeOfEvent.INCIDENT
											"
											[ngClass]="'deviation-desc'"
										>
											<a
												class="whitelink"
												[routerLink]="['/app/quality-management/dashboard']"
												[queryParams]="{
													listIncidentNum: el.ebQmIncidentNum + '',
													eventType: TypeOfEvent.INCIDENT
												}"
											>
												({{ el.nature | translate }})
											</a>
										</span>
										<span
											*ngIf="
												el.nature && el.ebQmIncidentNum && el.typeEvent == TypeOfEvent.UNCONFORMITY
											"
											[ngClass]="'deviation-desc'"
										>
											<a
												class="whitelink"
												[routerLink]="['/app/quality-management/dashboard']"
												[queryParams]="{
													listIncidentNum: el.ebQmIncidentNum + '',
													eventType: TypeOfEvent.UNCONFORMITY
												}"
											>
												({{ el.nature | translate }})
											</a>
										</span>
										<span
											#defaultNature
											*ngIf="el.nature && !el.ebQmDeviationNum && !el.ebQmIncidentNum"
											[ngClass]="'deviation-desc'"
										>
											({{ el.nature | translate }})
										</span>
									</td>
									<td>
										<span
											*ngIf="
												el.commentaire && !el.quantity && !ebPslApp.xEcCountry && !ebPslApp.city;
												else commentWithOtherV
											"
										>
											{{ el.commentaire }}
										</span>
										<ng-template #commentWithOtherV>
											<span
												*ngIf="
													el.commentaire && (el.quantity || ebPslApp.xEcCountry || ebPslApp.city)
												"
											>
												{{ el.commentaire }} -
											</span>
										</ng-template>

										<span
											*ngIf="
												el.quantity && !ebPslApp.xEcCountry && !ebPslApp.city;
												else quantityWithOtherV
											"
										>
											{{ el.quantity }}
										</span>
										<ng-template #quantityWithOtherV>
											<span *ngIf="el.quantity && (ebPslApp.xEcCountry || ebPslApp.city)">
												{{ el.quantity }} -
											</span>
										</ng-template>

										<span *ngIf="ebPslApp.xEcCountry && !ebPslApp.city; else countryWithCity">
											{{ ebPslApp.xEcCountry.libelle }}
										</span>
										<ng-template #countryWithCity>
											<span *ngIf="ebPslApp.xEcCountry && ebPslApp.city">
												{{ ebPslApp.xEcCountry.libelle }} - {{ ebPslApp.city }}
											</span>
										</ng-template>
									</td>
									<td>
										<span title="{{ 'TRACK_TRACE.DATE_UPDATE' | translate }}">{{
											el.dateCreation | date: "dd/MM/yyyy HH:mm"
										}}</span>
										<span title="{{ 'TRACK_TRACE.AUTHOR' | translate }}" *ngIf="el.user"
											>({{ el.user }})</span
										>
									</td>
									<td></td>
									<td class="text-center">
										<i
											class="fa fa-edit cursor-pointer"
											(click)="refreshPSL(event, el, ebPslApp)"
										></i>
									</td>
									<!-- //TODO MEP-ce bout de code devra être réactivé après MEP
									<td>1</td>
									<td style="text-align:center !important">
										<i
											*ngIf="el.validateByChamp"
											style="color: green;"
											class="fa fa-check"
											title="{{ 'TRACK_TRACE.VALIDATE_CHAMP' | translate }}"
										></i>
									</td>
									<td class="actions" style="text-align:center !important">
										<i class="cursor-pointer fa fa-eye padding-right-5"></i>
										<i class="cursor-pointer fa fa-pencil"></i>
									</td>
									-->
								</tr>
							</ng-container>
						</tbody>
					</table>
				</div>
				<div class="generic-accordion right-blocs col-md-3 col-sm-12 col-xs-12 padding-4">
					<p-accordion [multiple]="true">
						<!-- //TODO MEP-ce bout de code devra être réactivé après MEP
						<p-accordionTab header="Historique de réparation" [selected]="false">
							<div class="hist-reparation__wrapper">
								<div class="elements-ligne" *ngFor="let element of listHistReparation">
									<div class="element-date text-right">{{ element.date }}</div>
									<div class="element-icon {{ element.icon }}"></div>
									<div class="element-content text-left">{{ element.content }}</div>
								</div>
							</div>
							<p-chart type="pie" [data]="pieChart" [options]="pieChartOptions"></p-chart>
						</p-accordionTab>
						-->
						<p-accordionTab header="Tracking documents">
							<app-documents
								*ngIf="ebTracing && ebTracing.ebTtTracingNum"
								(updateChatEmitter)="updateChatEmitter($event)"
								(documentsLoadedEmitter)="onDocumentsLoaded($event)"
								[ebDemandeNum]="ebTracing.xEbDemande.ebDemandeNum"
								[ebCompagnieNum]="ebTracing.xEbChargeurCompagnie.ebCompagnieNum"
							></app-documents>
						</p-accordionTab>
						<!-- //TODO MEP-ce bout de code devra être réactivé après MEP
						<p-accordionTab header="Other tracking for this TR (3)">
							Other tracking for this TR (3)
						</p-accordionTab>
						<p-accordionTab header="Claims (1)">
							claims
						</p-accordionTab>
						-->
						<p-accordionTab header="Chat & history">
							<app-chat-panel
								#chatPanel
								[nbColTexteditor]="'col-md-12'"
								[nbColListing]="'col-md-12'"
								[idChatComponent]="IDChatComponent.TRACK"
								[user]="userConnected"
								[module]="Modules.TRACK"
								[idFiche]="ebTracing.ebTtTracingNum"
								[dataSource]="Statique.controllerStatiqueListe + '/listChat'"
								[dataInsertion]="Statique.controllerStatiqueListe + '/addChat'"
							></app-chat-panel>
						</p-accordionTab>
					</p-accordion>
				</div>
			</div>
		</div>
	</form>

	<ng-container *ngIf="ebTracing.xEbChargeurCompagnie">
		<app-modal-event
			[typesDocument]="listTypeDoc"
			[ebPsl]="ebPsl"
			[ebPslAppUpdate]="ebPslAppUpdate"
			[listPsl]="listPsl"
			[listPslApp]="timelineEbPslAppList"
			[forUpdateRevisedDate]="forUpdateRevisedDate"
			[readOnly]="false"
			[listCountry]="listCountry"
			[listCategorieDeviation]="listCategorieDeviation"
			[ttEvent]="ttEvent"
			[ebPslApp]="ebPslApp"
			[ebDemandeNum]="ebTracing.xEbDemande.ebDemandeNum"
			[module]="Modules.TRACK"
			[ebCompagnieNum]="ebTracing.xEbChargeurCompagnie.ebCompagnieNum"
			(confirmEventHandler)="confirmModalAddEvent($event)"
			(documentRefresh)="refreshDocumentList($event)"
		></app-modal-event>
	</ng-container>
</div>
