<div class="container-fluid padding-4-10">
	<div class="col-md-6 margin-right-10 margin-left--10">
		<fieldset class="fieldset">
			<legend class="legend">{{ "SETTINGS.MY_PROFILE" | translate }}</legend>
			<div class="col-md-12 col-xs-12 body-table">
				<form #accountSettings="ngForm">
					<div class="margin-bottom-10 row">
						<div class="col-md-12 generic-inputs__style d-flex-ai-c padding-0">
							<label class="col-md-4 areaLibelle required"
								>{{ "INSCRIPTION.NOM" | translate }} :</label
							>
							<div class="col-md-8 padding-left-0">
								<input
									id="nom"
									placeholder="{{ 'INSCRIPTION.NOM' | translate }}"
									class="form-control"
									name="nom"
									[(ngModel)]="newUser.nom"
									#nom="ngModel"
									required
								/>
							</div>
						</div>
					</div>
					<div class="margin-bottom-10 row">
						<div class="col-md-12 generic-inputs__style d-flex-ai-c padding-0">
							<label class="col-md-4 areaLibelle required"
								>{{ "INSCRIPTION.PRENOM" | translate }} :</label
							>
							<div class="col-md-8 padding-left-0">
								<input
									id="prenom"
									placeholder="{{ 'INSCRIPTION.PRENOM' | translate }}"
									class="form-control"
									name="prenom"
									[(ngModel)]="newUser.prenom"
									#prenom="ngModel"
									required
								/>
							</div>
						</div>
					</div>
					<div class="margin-bottom-10 row">
						<div class="col-md-12 generic-inputs__style d-flex-ai-c padding-0">
							<label class="col-md-4 areaLibelle">{{ "INSCRIPTION.EMAIL" | translate }} :</label>
							<div class="col-md-8 padding-left-0">
								<input
									readonly
									type="email"
									placeholder="{{ 'INSCRIPTION.EMAIL' | translate }}"
									name="email"
									class="form-control"
									[(ngModel)]="newUser.email"
									#email="ngModel"
									required
									pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
								/>
							</div>
						</div>
					</div>
					<div class="margin-bottom-10 row">
						<div class="col-md-12 generic-inputs__style d-flex-ai-c padding-0">
							<label class="col-md-4 areaLibelle">{{ "INSCRIPTION.POSITION" | translate }} :</label>
							<div class="col-md-8 padding-left-0">
								<input
									type="text"
									placeholder="{{ 'INSCRIPTION.POSITION' | translate }}"
									class="form-control"
									name="adresse"
									[(ngModel)]="newUser.adresse"
								/>
							</div>
						</div>
					</div>
					<div class="margin-bottom-10 row">
						<div class="col-md-12 generic-inputs__style d-flex-ai-c padding-0">
							<label class="col-md-4 areaLibelle"
								>{{ "INSCRIPTION.TELEPHONE" | translate }} :</label
							>
							<div class="col-md-8 padding-left-0">
								<input
									type="text"
									placeholder="{{ 'INSCRIPTION.TELEPHONE' | translate }}"
									class="form-control"
									name="telephone"
									[(ngModel)]="newUser.telephone"
									#telephone="ngModel"
								/>
							</div>
						</div>
					</div>

					<div class="margin-bottom-10 row">
						<div class="col-md-12 generic-inputs__style d-flex-ai-c padding-0">
							<label class="col-md-4 areaLibelle">{{ "INSCRIPTION.ROLE" | translate }} :</label>
							<div class="col-md-8 padding-left-0">
								<input
									readonly
									type="text"
									placeholder="Role"
									class="form-control"
									name="userRole"
									[(ngModel)]="newUser.roleLibelle"
									required
								/>
							</div>
						</div>
					</div>

					<div class="margin-bottom-10 row">
						<div class="col-md-12">
							<div class="pull-right">
								<button
									[disabled]="!accountSettings.valid"
									(click)="updateUser($event)"
									type="button"
									class="btn btn-primary"
								>
									{{ "COMPANY_PROFILE.BTN_MODIFIER" | translate }}
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</fieldset>
	</div>
	<div class="col-md-6  margin-left-10 margin-right--10">
		<div class="">
			<fieldset class="fieldset">
				<legend class="legend">{{ "MY_ACCOUNT.CHANGER_MOT_DE_PASSE" | translate }}</legend>
				<div class="col-md-12 col-xs-12 body-table">
					<form #changerMdp="ngForm" class="space-rows row">
						<div class="col-md-12 d-flex-ai-c generic-inputs__style">
							<label class="col-md-5 areaLibelle required"
								>{{ "MY_ACCOUNT.ACTUEL_MOT_DE_PASSE" | translate }} :</label
							>
							<div class="col-md-7 padding-0">
								<input
									type="password"
									id="password"
									placeholder="{{ 'MY_ACCOUNT.ACTUEL_MOT_DE_PASSE' | translate }}"
									ngControl="_passwordCtrl"
									class="form-control input-underline input-xs"
									ngModelOptions="{ updateOn: 'blur' }"
									name="_password"
									[(ngModel)]="_password"
									minlength="8"
									required
								/>
							</div>
						</div>
						<div class="col-md-12 d-flex-ai-c generic-inputs__style">
							<label class="col-md-5 areaLibelle required"
								>{{ "MY_ACCOUNT.NOUVEAU_MOT_DE_PASSE" | translate }} :</label
							>
							<div class="col-md-7 padding-0">
								<input
									type="password"
									placeholder="{{ 'MY_ACCOUNT.NOUVEAU_MOT_DE_PASSE' | translate }}"
									ngControl="nvPasswordCtrl"
									reverse="true"
									class="form-control input-underline input-xs"
									ngModelOptions="{ updateOn: 'blur' }"
									[(ngModel)]="nvPassword"
									name="nvPassword"
									minlength="8"
									required
								/>
							</div>
						</div>
						<div class="col-md-12 d-flex-ai-c generic-inputs__style">
							<label class="col-md-5 areaLibelle required"
								>{{ "MY_ACCOUNT.CONFIRMER_NOUVEAU_MOT_DE_PASSE" | translate }} :</label
							>
							<div class="col-md-7 padding-0">
								<input
									type="password"
									placeholder="{{ 'MY_ACCOUNT.CONFIRMER_NOUVEAU_MOT_DE_PASSE' | translate }}"
									ngControl="confirmationPasswordCtrl"
									class="form-control input-underline input-xs"
									ngModelOptions="{ updateOn: 'blur' }"
									[(ngModel)]="confirmationPassword"
									name="confirmationPassword"
									validateEqual="nvPassword"
									minlength="8"
									required
								/>
							</div>
						</div>
						<div class=" ">
							<div class="col-md-12 padding-bottom-10">
								<div
									class="pull-left"
									[ngClass]="{
										msgValidPassword: isValidPassword,
										msgInvalidPassword: !isValidPassword
									}"
								>
									{{ msgPassword }}
								</div>
								<div class="pull-right">
									<button
										type="button"
										class="btn btn-primary"
										(click)="changePassword()"
										[disabled]="!changerMdp.valid"
									>
										{{ "MY_ACCOUNT.CHANGER_MOT_DE_PASSE" | translate }}
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</fieldset>
		</div>

		<div class="margin-top-5 margin-bottom-5">
			<fieldset class="fieldset">
				<legend class="legend">{{ "MY_ACCOUNT.MES_PREFERENCES" | translate }}</legend>
				<div class="col-md-12 col-xs-12 body-table">
					<form class="space-rows row">
						<div class="col-md-12 d-flex-ai-c generic-inputs__style">
							<!-- <label>
                                  {{'MY_ACCOUNT.SELECT_LANG'|translate}}:
                                  <select #langSelect (change)="translate.use(langSelect.value)">
                                    <option *ngFor="let lang of translate.getLangs" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
                                  </select>
                                </label> -->
							<label class="col-md-5 areaLibelle"
								>{{ "MY_ACCOUNT.SELECT_LANG" | translate }} :</label
							>
							<div class="col-md-7 padding-0">
								<select name="language" #selectedLanguage class="form-control">
									<option value="en" [selected]="'en' == defaultLang">English</option>
									<option value="fr" [selected]="'fr' == defaultLang">Français</option>
								</select>
							</div>
						</div>

						<div class="col-md-12 margin-bottom-10">
							<!-- //TODO MEP-ce bout de code devra être réactivé après MEP
							<div class="col-md-12 no-padding">
								<label>{{ "MY_ACCOUNT.FUSEAU_HORAIRE" | translate }}:</label>
							</div>
							<div class=" ">
								<select
									class="form-control"
									name="newUser.fuseauHoraire"
									[(ngModel)]="newUser.fuseauHoraire"
									[compareWith]="compareSelectData"
								>
									<option
										*ngFor="let fuseauHoraire of listFuseauHoraire"
										[ngValue]="fuseauHoraire.ecFuseauHoraireNum"
										>{{ fuseauHoraire.codeFuseauHoraire }}</option
									>
								</select>
							</div>
							-->
							<div class="pull-right">
								<div>
									<button
										(click)="changeLanguage(selectedLanguage.value)"
										type="button"
										class="btn btn-primary"
									>
										{{ "GENERAL.UPDATE" | translate }}
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</fieldset>
		</div>

		<!-- //TODO MEP-ce bout de code devra être réactivé après MEP
		<div class="">
			<fieldset class="fieldset">
				<legend class="legend">{{ "MY_ACCOUNT.MY_BACKUP" | translate }}</legend>
				<div class="col-md-12 col-xs-12 body-table">
					<form #backUp="ngForm" class="space-rows row">
						<div class="col-md-4  ">
							<label>{{ "MY_ACCOUNT.USER_BACKUP" | translate }}</label>
							<div>
								<select
									[disabled]="delegation && delegation.ebDelegationNum"
									class="form-control"
									name="userBackUp"
									[(ngModel)]="delegation.userBackUp"
									[compareWith]="compareUser"
									required
								>
									<option *ngFor="let user of listUser; let i = index" [ngValue]="user"
										>{{ user.nom }} {{ user.prenom }}</option
									>
								</select>
							</div>
						</div>
						<div class="col-md-4  ">
							<label>{{ "MY_ACCOUNT.DATE_DEBUT" | translate }}</label>
							<div>
								<div class="input-group">
									<input
										[disabled]="delegation && delegation.ebDelegationNum"
										class="form-control date-picker-input"
										placeholder="yyyy-mm-dd"
										name="dateDebut"
										[(ngModel)]="delegStructDateDebut"
										required
										ngbDatepicker
										#dtdeb="ngbDatepicker"
									/>
									<button
										[disabled]="delegation && delegation.ebDelegationNum"
										class="input-group-addon"
										(click)="dtdeb.toggle()"
										type="button"
									>
										<span class="fa fa-calendar"></span>
									</button>
								</div>
							</div>
						</div>
						<div class="col-md-4  ">
							<label>{{ "MY_ACCOUNT.DATE_FIN" | translate }}</label>
							<div>
								<div class="input-group">
									<input
										[disabled]="delegation && delegation.ebDelegationNum"
										class="form-control date-picker-input"
										placeholder="yyyy-mm-dd"
										[(ngModel)]="delegStructDateFin"
										name="dateFin"
										required
										ngbDatepicker
										#dtfin="ngbDatepicker"
									/>
									<button
										[disabled]="delegation && delegation.ebDelegationNum"
										class="input-group-addon"
										(click)="dtfin.toggle()"
										type="button"
									>
										<span class="fa fa-calendar"></span>
									</button>
								</div>
							</div>
						</div>
						<div class=" ">
							<div class="col-md-12 padding-bottom-10">
								<div class="pull-right">
									<button
										type="button"
										class="btn btn-primary"
										[disabled]="delegation && !delegation.ebDelegationNum"
										(click)="deleteBackup($event)"
									>
										{{ "MY_ACCOUNT.END_DELEGATION" | translate }}
									</button>
									<button
										type="button"
										class="btn btn-primary"
										[disabled]="
											delegation.ebDelegationNum ||
											!delegStructDateDebut ||
											!delegStructDateFin ||
											!delegation.userBackUp ||
											!delegation.userBackUp.ebUserNum ||
											!checkDateDelegation()
										"
										(click)="createBackUp($event)"
									>
										BackUp
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</fieldset>
		</div>
		--></div>
</div>
