@import "../../../../../styles/variables";
form.space-rows .row {
	margin-bottom: 5px;
}

.msgValidPassword {
	color: #1e8846;
}
.msgInvalidPassword {
	color: #b73030;
}
.mails-config input[type="checkbox"] {
	float: none;
	margin: 0 auto;
}

.list-mails__wrapper {
	border: 1px solid #eddddd;
	padding: 0 5px;
	border-radius: 4px;
	/* display: none; */
}

.mails-config .form-group {
	margin-bottom: 5px !important;
}

.invalid-mail {
	border-left: 4px solid $secondary-color;
	transition: all 0.2s ease-in-out;
}

::ng-deep .minimal.ng2-tag-input {
	padding: 0 !important;
	min-height: 24px !important;
}

::ng-deep .ng2-tag-input__text-input {
	height: 26px !important;
}

::ng-deep .ng2-tag-input__text-input {
	height: 25px !important;
}

::ng-deep tag {
	height: 24px !important;
}

::ng-deep .tag__text {
	line-height: 22px !important;
}

::ng-deep tag delete-icon {
	margin-top: -5px !important;
}
