<div class="row">
	<div class="margin-top-10 text-center" *ngFor="let ext of listExtractors">
		<button style="width: 250px" (click)="extract($event, ext)" class="btn btn-sm">
			{{ ext.libelle }}
		</button>
	</div>
</div>
