<div class="savedsearch-list">
	<div class="savedsearch-list-item" *ngFor="let sf of listSavedForm; let i = index">
		<div
			class="savedsearch-list-item-content"
			[ngClass]="{ active: sf.ebSavedFormNum == activeSf }"
		>
			<!-- <img *ngIf="isIconDefined(sf.ebModuleNum)" src="{{getModuleIcon(sf.ebModuleNum)}}" (click)="sendSavedForm(sf)"> -->
			<i class="my-icon-{{ getModuleIcon(sf.ebModuleNum) }}"></i>
			<h3 (click)="sendSavedForm(sf)" title="{{ sf.formName }}">{{ sf.formName }}</h3>
			<div class="actions">
				<span (click)="deleteSavedForm(sf, i)"><i class="fa fa-trash"></i></span>
				<!-- <span><i class="fa fa-pencil"></i></span> -->
			</div>
		</div>
	</div>
</div>

<!--  

	<div class="savedsearch-list">
		<div class="savedsearch-list-item" *ngFor="let sf of listSavedForm; let i = index">
			<div class="savedsearch-list-item-content active">
				<img src="../../../assets/images/pictos/ico-order-active.svg" (click)="sendSavedForm(sf)">
				<h3 (click)="sendSavedForm(sf)"> form 1 </h3>
				<div class="actions">
					<span (click)="deleteSavedForm(sf, i)"><i class="fa fa-remove"></i></span>
				</div>
			</div>
		</div>
	</div>
-->
