@import "../../../../styles/variables";
/* pour savedSearchComponent */

.savedsearch-list {
	height: 69%;
	/*205px*/
	overflow: auto;
}

.savedsearch-list-item .savedsearch-list-item-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.2s ease-in-out;
	padding: 0 5px;
	cursor: pointer;
	/* line-height: 215%; */
	/*250%*/
}

.savedsearch-list-item .savedsearch-list-item-content > * {
	display: inline-block;
	color: #fff !important;
}

.savedsearch-list-item .savedsearch-list-item-content i[class*="my-icon"] {
	color: $secondary-color;
	&::before {
		position: relative;
		top: 2px;
	}
}

.savedsearch-list-item .savedsearch-list-item-content:hover {
	background-color: rgba(1, 141, 173, 0.1);
}

.savedsearch-list-item .savedsearch-list-item-content.active {
	background-color: rgba(1, 141, 173, 0.3);
}

.savedsearch-list-item img {
	padding: 3px;
	cursor: pointer;
	width: 17%;
	height: 100%;
	/* margin-top: 4px; */
}

.savedsearch-list-item h3 {
	width: calc(100% - 10px);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	height: 100%;
	font-size: $fz-sm;
	margin: 7px 5px;
	/*10px 5px*/
}

.savedsearch-list-item .actions {
	padding-right: 2px;
}

.savedsearch-list-item .actions span {
	display: inline-block;
	margin: 0 5px 0 5px;
	cursor: pointer;
}

.savedsearch-list-item .actions .fa-remove {
	color: red;
}
