<form role="form" #transportInfos="ngForm" novalidate>
	<fieldset [disabled]="!hasContributionAccess">
		<div class="col-md-12 padding-0">
			<div class="col-md-12 no-padding">
				<div class="d-flex-ai-c generic-inputs__style col-md-6  new-formcontrol">
					<label for="carrierUniqRefNum" class="padding-0 areaLibelle col-md-6 col-sm-12 col-xs-12"
						>{{ "REQUEST_OVERVIEW.CARRIER_UNIQ_REF_NUM" | translate }}:</label
					>
					<div class="col-md-6 col-sm-12 col-xs-12 padding-right-0">
						<input
							class="form-control"
							id="carrierUniqRefNum"
							name="ebDemandeTransport.carrierUniqRefNum"
							type="text"
							[(ngModel)]="ebDemandeTransport.carrierUniqRefNum"
							[disabled]="readOnly"
						/>
					</div>
				</div>
				<div class="d-flex-ai-c generic-inputs__style col-md-6  new-formcontrol">
					<label for="numAwbBol" class="padding-0 areaLibelle col-md-6 col-sm-12 col-xs-12"
						>{{ "N° AWB/BOL" | translate }}:</label
					>
					<div class="col-md-6 col-sm-12 col-xs-12 padding-right-0">
						<input
							class="form-control"
							id="numAwbBol"
							name="ebDemandeTransport.numAwbBol"
							type="text"
							[(ngModel)]="ebDemandeTransport.numAwbBol"
							[disabled]="readOnly"
						/>
					</div>
				</div>
				<div class="d-flex-ai-c generic-inputs__style col-md-6  new-formcontrol">
					<label for="flightVessel" class="padding-0 areaLibelle col-md-6 col-sm-12 col-xs-12"
						>{{ "Flight/Vessel" | translate }}:</label
					>
					<div class="col-md-6 col-sm-12 col-xs-12 padding-right-0">
						<input
							class="form-control"
							id="flightVessel"
							name="ebDemandeTransport.flightVessel"
							type="text"
							[(ngModel)]="ebDemandeTransport.flightVessel"
							[disabled]="readOnly"
						/>
					</div>
				</div>
			</div>

			<div class="col-md-12 no-padding">
				<div class="d-flex-ai-c generic-inputs__style col-md-6  new-formcontrol">
					<label for="customsOffice" class="padding-0 areaLibelle col-md-6 col-sm-12 col-xs-12"
						>{{ "Customs office" | translate }}:</label
					>
					<div class="col-md-6 col-sm-12 col-xs-12 padding-right-0">
						<input
							class="form-control"
							name="ebDemandeTransport.customsOffice"
							[(ngModel)]="ebDemandeTransport.customsOffice"
							[disabled]="readOnly"
						/>
					</div>
					<!-- <app-datetime-picker [timepicker]="true" name="ebDemandeTransport.customsOffice" [(ngModel)]="ebDemandeTransport.customsOffice"></app-datetime-picker> -->
				</div>
				<div class="d-flex-ai-c generic-inputs__style col-md-6  new-formcontrol">
					<label for="mawb" class="padding-0 areaLibelle col-md-6 col-sm-12 col-xs-12"
						>{{ "MAWB" | translate }}:</label
					>
					<div class="col-md-6 col-sm-12 col-xs-12 padding-right-0">
						<input
							class="form-control"
							name="ebDemandeTransport.mawb"
							[(ngModel)]="ebDemandeTransport.mawb"
							[disabled]="readOnly"
						/>
					</div>
				</div>
			</div>

			<ng-container *ngFor="let psl of ebDemandeTransport.xEbSchemaPsl?.listPsl; let index = index">
				<ng-container *ngIf="psl.schemaActif && psl.isChecked && psl.dateAttendue">
					<div class="d-flex-ai-c generic-inputs__style col-md-6 new-formcontrol">
						<label class="padding-0 areaLibelle col-md-6 col-sm-12 col-xs-12">
							{{ translatePSL(psl.libelle) }}
						</label>
						<div class="col-md-6 col-sm-12 col-xs-12 padding-right-0">
							<app-datetime-picker
								[timepicker]="true"
								name="psl.expectedDate{{ index }}"
								[(ngModel)]="psl.expectedDate"
								[disabled]="readOnly"
							></app-datetime-picker>
						</div>
					</div>
				</ng-container>
			</ng-container>
			<div class="d-flex-ai-c generic-inputs__style col-md-6  new-formcontrol">
				<app-comment-panel
					id="carrierComment"
					class="col-sm-12 col-xs-12 padding-right-0"
					panelOpen="true"
					title="{{ 'REQUEST_OVERVIEW.CARRIER_COMMENT' | translate }}"
					(sharedVarChange)="setCarrierComment($event)"
					[commentModel]="ebDemandeTransport.carrierComment"
					[disabled]="ebDemande.ebDemandeNum != null && userConnected.role == 1 ? true : false"
				></app-comment-panel>
			</div>
		</div>
	</fieldset>
</form>
