<div class="">
	<div #stats class="col-md-12" style="margin-top: 5px;">
		<div class="col-md-12 padding-0">
			<form role="form" #orderStepUnitsForm="ngForm" novalidate>
				<fieldset style="border-top: 0px solid #ddd !important;">
					<div class="form-group">
						<div class="col-md-12 padding-0">
							<div style="overflow-x:auto">
								<p-progressSpinner *ngIf="!genericTableReady"></p-progressSpinner>
								<app-generic-table
									#genericTable
									[title]="'ORDER.DASHBOARD_UNIT_OVERVIEW' | translate"
									*ngIf="genericTableReady"
									[searchInput]="searchInput"
									[dataInfos]="dataInfosOrderLine"
									[detailsInfos]="null"
									[component]="datatableComponent.ORDER_UNITS"
									[module]="module"
									[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
									[parentContext]="this"
								>
								</app-generic-table>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
			<br />
			<div>
				<p-progressSpinner *ngIf="!genericTableReady"></p-progressSpinner>
				<app-generic-table
					#genericTable
					[title]="'ORDER.DASHBOARD_PANNING' | translate"
					*ngIf="listToPlan != null && listToPlan.length > 0"
					[searchInput]="searchInputPlannification"
					[dataInfos]="dataInfosPlannification"
					[detailsInfos]="null"
					[component]="datatableComponent.ORDER_PLANIFICATION"
					[module]="module"
					[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
					[parentContext]="this"
					[dataSourceLocal]="listToPlan"
				>
				</app-generic-table>
			</div>
		</div>
	</div>
</div>
