/* autoprefixer grid: autoplace */

@import "../../../../../styles/variables";

.modal {
	display: flex !important;
	background-color: rgba(0, 0, 0, 0.4) !important;
	z-index: 1005 !important;
}

.modal-body {
	background-color: $white-02;
	padding: 0 !important;
	overflow-x: hidden;
	min-height: 450px;
}

.top-blocs-root {
	// We need here min & max height to prevent childs to resize parent
	min-height: 255px;
	max-height: 255px;
	display: flex;
	flex-flow: row;
}

.top-bloc-container {
	span {
		text-align: left;
	}

	padding: 5px;
	display: flex;
	flex-flow: column;
	// We need here min & max width to prevent childs to resize parent
	min-width: calc(50% - 20px);
}

.bottom-bloc-root {
	// We need here min & max height to prevent childs to resize parent
	min-height: 195px;
	max-height: 195px;
	padding: 10px;

	// fix height 100 %
	display: grid;

	.bottom-bloc-container {
		background-color: $white;
		height: 100%;
		padding: 5px;
		span {
			text-align: left;
		}
	}
}

.little-card-container {
	overflow-x: hidden;
	overflow-y: auto;
	flex-grow: 1;

	.little-card {
		height: 55px;
		background-color: $gray-light;
		display: flex;
		flex-flow: column;
		padding: 5px;
		margin-bottom: 5px;

		input[type="checkbox"] {
			margin: 0;
			min-width: 20px;
		}

		.cb_select_card_item {
			margin-bottom: 5px;
		}

		.title {
			margin-left: 2px;
			margin-top: 5px;
			color: $primary-color;
			align-items: center;
		}

		label,
		span {
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}

.top-bloc-container {
	margin: 10px;
	background-color: $white;
}
