@import "../../../styles/variables";

.document-zone,
.document-zone-invalid {
	height: 100%;
	border: 1px solid $gray-medium;
	border-radius: 4px;
}
.uploaded-files {
	border-top: 1px solid $gray-medium;
	span.fa-trash {
		color: $red-danger !important;
	}
}
.type-doc_wrapper {
	padding: 5px;
}
.ellipsis-item:not(.text-doc-title) {
	width: 90%;
}
.is-drop-over {
	border: 2px dashed $primary-color;
	background: $gray-light;
	transition: all 0.2s ease-in-out;
}

.hover-on {
	.drag-area {
		opacity: 0;
		visibility: 0;
		cursor: none;
		transition: all 0.2s ease-in-out;
	}
}
.text-doc-title {
	height: 40px;
}
.upload-input {
	position: absolute;
    top: -22px;
    left: 50%;
    transform: translateX(-50%);
    width: calc( 100% + 10px ) !important;
    height: 40px !important;
    opacity: 0;
    cursor: pointer;
}