<div class="panel-body body-table body-statut">
	<div>
		<app-flag-list-view [listFlag]="incident.listEbFlagDTO" [iconSize]="35"></app-flag-list-view>
	</div>
	<div class="">
		<div class="col-md-12">
			<div class="row infos infos-head">
				<div class="block-info col-md-3 h2detailsTtile">
					<span class="colorBleu"
						><span style="padding: 6px; top: 0px;" class="acircle fa fa-folder"></span>{{eventRefLabel | translate}}
						:</span
					>
					<span class="" style="padding-top: 2px;"> {{ incident?.incidentRef }}</span>
				</div>

				<div class="block-info col-md-3 h2detailsTtile">
					<span class="colorBleu"
						><span style="padding: 6px;" class="acircle fa fa-user"></span>{{ "QUALITY_MANAGEMENT.SUBMITTED_BY" | translate }} :</span
					>
					<span class=""> {{ incident?.issuerNomPrenom }}</span>
				</div>
				<div class="block-info col-md-3 h2detailsTtile">
					<span class="colorBleu"
						><span style="padding: 6px; top: 0px;" class="fa fa-calendar acircle"></span>{{ "CUSTOM.CREATION_TIME" | translate }}:</span
					>
					<span class="nopadding" style="padding-top: 2px;">
						{{ (incident?.dateCreation) | dtFormat }}</span
					>
				</div>
				<div class="block-info col-md-3 h2detailsTtile ">
					<span class="colorBleu padding-6"><span class="acircle fa fa-folder"></span>{{"QUALITY_MANAGEMENT.TIMESTAMP_RELATED" | translate
																								}} :
					</span>
					<span class="" style="padding-top: 2px;"> {{ incident?.psl }}</span>
				</div>

			</div>

			<div class="row infos infos-head">
				<div class="block-info col-md-3 h2detailsTtile">
					<span class="colorBleu"
						><span style="padding: 6px; top: 0px;" class="acircle fa fa-building"></span>{{ "GENERAL.TRANSPORTEUR" | translate }}
						:</span
					>
					<span class="" style="padding-top: 2px;"> {{ demande.exEbDemandeTransporteurs[0].xEbEtablissement?.ebCompagnie?.nom }}</span>
				</div>
				<div class="block-info col-md-3 h2detailsTtile">
					<span class="colorBleu"
						><span style="padding: 6px;" class="acircle fa fa-folder"></span> {{ "QUALITY_MANAGEMENT.TRANSPORT_REF" | translate }} :</span
					>
					<span class=""> {{ incident?.demandeTranportRef }}</span>
				</div>

				<div class="block-info col-md-3 h2detailsTtile">
					<span class="colorBleu"
						><span style="padding: 6px;" class="acircle fa fa-user"></span>{{ "QUALITY_MANAGEMENT.UNIT_REF_LABEL" | translate }}:</span
					>
					<span *ngFor="let il of incident.incidentLines"> {{ il.unitReference }} </span>
				</div>
			</div>

			<hr />
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="row">
						<div class="details-steps col-md-10 col-sm-10 col-xs-9 margin-top-30">
							<div class="step-wrapper" *ngFor=" let status of listIncidentStatusFromBackend">
								<div
									class="step-container"
									class="{{
										incident.incidentStatus >=  status.code
											? 'bg-selected'
											: 'bg-disabled'
									}}"
								>
									<div class="step-status">
										{{"QUALITY_MANAGEMENT.INCIDENT_STATUS." + status.code| translate}}
									</div>
								</div>
							</div>

						</div>
						<div class="details-time_remaining-wrapper col-md-2 col-sm-2 col-xs-3">
							<div class="details-time_remaining">
								<span class="tr-days"
									><span class="colored">{{ jour }}</span
									>D</span
								>
								<span class="tr-heure"
									><span class="colored">{{ heure }}</span
									>H</span
								>
								<span class="tr-minutes"
									><span class="colored">{{ minutes }}</span
									>min</span
								>
							</div>
						</div>
					</div>

					<input class=" hidden" value="false" />
				</div>
			</div>
		</div>
	</div>
</div>
