/******** VARIABLES ********/
@import "../../../styles/variables";
@import "../../../styles/components/mixins/breakpoints";

.modal-backdrop {
	background-color: rgba(0, 0, 0, 0.4) !important;
}

/* .modal_no_btn:hover{
  background-color: #ee6560 !important;
   color: white !important;
}

.modal_yes_btn:hover{
 background-color:#00a7ce !important;
  color: white !important;
} */
::ng-deep .goods-pickup-updater {
	.date-wrapper {
		margin-bottom: 5px;
		// padding: 16px;
		border-radius: 4px;
		button.fa-check {
			padding: 3px;
		}
		button.fa-times {
			padding: 3px 5px 3px 4px;
		}
	}
	.datetime-picker__disabled {
		div {
			width: auto !important;
		}
		.date-picker-input {
			width: 96px;
			padding-left: 24px !important;
			background-color: transparent !important;
			border-width: 0 !important;
			box-shadow: none !important;
			font-weight: 600;
			font-size: $fz-sm;
			& + button {
				left: 0 !important;
				border-width: 0 !important;
				background-color: transparent !important;
			}
		}
	}
	.label-action {
		width: 100%;
		margin-left: 0 !important;
		.goods-pickup__button {
			.fa-plus {
				padding-right: 15px;
			}
		}
		.border-right {
			border-right: 1px solid #ddd;
		}
		& > span {
			font-weight: 600;
		}
	}
}
.btnTaile {
	font-size: 7px;
}
.text-style {
	white-space: pre-wrap;
}

input[type="checkbox"],
input[type="radio"] {
	vertical-align: middle;
	position: relative;
	bottom: 1px;
	width: auto;
}
input[type="radio"] {
	bottom: 2px;
}
textarea.adress {
	height: 100px;
	overflow: auto;
	resize: vertical;
	max-height: 100px;
	min-height: 100px;
}

.add-adress-button {
	/*margin-left: 0px !important;*/
	margin-left: auto !important;
	margin-right: auto !important;
	display: block;
	margin-top: 10px;
	border: none;
	background: transparent;
	padding: 0;
	color: $primary-color;
}

.input-search-icon {
	margin-right: 4px;
}
.show-for-creation {
	fieldset {
		border: 1px solid $white-01 !important;
		border-radius: 4px;
		box-shadow: 0 0 5px -5px $black;
		margin: 0 !important;
		legend {
			color: $gray-dark;
		}
	}
}
.origindest-infos_wrapper {
	border-radius: 5px;
	padding: 5px 0;
	span {
		padding-right: 5px;
		&.italic-font {
			font-style: italic;
		}
		&.bold-font {
			font-weight: 700;
		}
	}
}
.adress-wrapper {
	position: relative;
}
.fields-wrapper {
	width: 100%;
	border-radius: 4px;
	padding-right: 0;
}
.buttons-wrapper {
	position: absolute;
	top: 10px;
	right: 7px;
	i {
		cursor: pointer;
		color: $primary-color;
		display: block;
		padding: 1px 3px;
		margin-bottom: 1px;
		&.add-new-address {
			padding: 2px 3px;
			border: 0 !important;
			position: relative;
			top: -1px;
			right: -8px;
			box-shadow: none;
			transition: all 0.2s ease-in-out;
			// &:hover {
			// 	visibility: visible;
			// 	opacity: 1;
			// }
		}
		&.fa-close {
			padding: 1px 3px 1px 4px;
		}
		&.fa-close,
		&.fa-pencil {
			opacity: 0;
			visibility: hidden;
			transition: all 0.2s ease-in-out;
		}
	}
	&.btn-close_adress-fields {
		top: 15px;
		right: 1px;
		i.fa-close {
			opacity: 1;
			visibility: visible;
		}
	}
}
.border-0 {
	border: 0 !important;
}

::ng-deep .overflow-visible .ui-dialog-resizable .ui-dialog-content {
	overflow: visible;
}

.tr_card {
	margin: 5px;
	background-color: #f6f6f6;
	box-shadow: 0px 0px 5px -1px rgba(214, 214, 214, 0.75);
	transition: all 0.2s ease-in-out;
	padding: 5px;
	width: calc(50% - 10px);
	background-color: #f1f1f1d4;
	border: 1px solid #ececec;

	.quote_validated {
		font-size: 23px;
		color: $primary-color;
		position: absolute;
		z-index: 20;
		top: -15px;
		right: -8px;
	}

	.tr_card_main {
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		.cb_select {
			align-self: start;
			flex: 0 0 35px;

			input {
				margin: 0;
				top: 0;
			}
		}

		.left_content {
			// flex: 1 0 auto;
			// width: 80%;
			span {
				word-wrap: break-word;
			}
		}
	}

	.tr_footer {
		display: flex;
		justify-content: center;
		align-self: flex-end;

		.quote_statut {
			height: 30px;
			width: 100%;
			color: $primary-color;
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}

		.details_wr {
			align-self: flex-end;
		}
	}
	&:hover {
		box-shadow: 0px 0px 5px 0px rgba(186, 186, 186, 0.75);
	}
}

.modal-update-zone {
	min-width: 600px;
	max-width: 600px;
	.select-zone {
		min-height: 120px;
		max-height: 360px;
		overflow-y: auto;
	}
}
