<div *ngIf="message" class="modal modal-backdrop" tabindex="-1" role="dialog"
	style="display:flex !important; align-items: center !important">
	<div class="modal-dialog" role="document" [ngStyle]="{ width: modalWidth ? modalWidth : '600px' }">
		<div class="modal-content">
			<div *ngIf="message?.type == 'confirm-grouping-rule'">
				<div class="modal-header">
					{{ message.header | translate }}
				</div>
				<div class="modal-body text-center">
					<div class="modal-body">
						<label class="radio-inline margin-r-15">
							<input name="choiceSelected" [(ngModel)]="choiceSelected" type="radio" [value]="true"
								[checked]="choiceSelected" /> {{ message.text | translate }}
						</label>
					</div>
					<div class="modal-body">
						<label class="radio-inline margin-r-15">
							<input name="choiceSelected" [(ngModel)]="choiceSelected" type="radio" [value]="false"
								[checked]="!choiceSelected" /> {{ message.msgUnconfirmedProposals | translate }}
						</label>
					</div>


					<a *ngIf="choiceSelected && choiceSelected != null" (click)="message.deleteFn()">
						<button class="btn btn-primary pull-right btn-sm mr5 modal_yes_btn">
							{{ !message.yesMessage ? ("MODAL.CONFIRM" | translate) : message.yesMessage }}
						</button>
					</a>
					<a *ngIf="!choiceSelected && choiceSelected != null"  (click)="message.keepFn()">
						<button class="btn btn-primary pull-right btn-sm mr5 modal_yes_btn">
							{{ !message.yesMessage ? ("MODAL.CONFIRM" | translate) : message.yesMessage }}
						</button>
					</a>
					<a (click)="message.noFn()">
						<button class="btn btn-danger pull-right btn-sm mr5 modal_no_btn" (click)="c(false)">
							{{ !message.noMessage ? ("MODAL.CANCEL" | translate) : message.noMessage }}
						</button>
					</a>

				</div>

			</div>


			<div *ngIf="message?.type == 'confirm'">
				<div class="modal-header">
					{{ message.header | translate }}
				</div>
				<div class="modal-body">
					{{ message.text | translate }}
				</div>
				<div class="modal-footer">
					<a (click)="message.siFn()">
						<button class="btn btn-primary pull-right btn-sm mr5 modal_yes_btn">
							{{ !message.yesMessage ? ("MODAL.OUI" | translate) : message.yesMessage }}
						</button>
					</a>
					<a (click)="message.noFn()">
						<button class="btn btn-danger pull-right btn-sm mr5 modal_no_btn">
							{{ !message.noMessage ? ("MODAL.NON" | translate) : message.noMessage }}
						</button>
					</a>
				</div>
			</div>

			<div *ngIf="message?.type == 'information'">
				<div class="modal-header">
					{{ message.header }}
				</div>
				<div class="modal-body text-style">
					{{ message.text }}
				</div>
				<div class="modal-footer">
					<a (click)="message.siFn()">
						<button class="btn btn-primary pull-right btn-sm modal_yes_btn">Ok</button>
					</a>
				</div>
			</div>

			<div *ngIf="message?.type == 'template'">
				<div class="modal-header">
					{{ message.header }}
				</div>
				<div class="modal-body" [innerHTML]="message.text"></div>
				<div class="modal-footer">
					<a (click)="message.siFn()">
						<button class="btn btn-primary pull-right btn-sm modal_yes_btn">Ok</button>
					</a>
				</div>
			</div>

			<div *ngIf="message?.type == 'save-form-qualitaire'">
				<div class="modal-header">
					{{ message.header }}
				</div>
				<div class="modal-body">
					<form role="form" #gpUpdater="ngForm" novalidate>
						<div class="form-group">
							<div class="col-md-2">Libellé :</div>
							<div class="col-md-10">
								<input type="text" name="message.params" [(ngModel)]="message.params"
									class="form-control" />
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<div class="row">
						<div class="pull-right margin-right-15">
							<button class="btn btn-primary btn-sm" #pageValid [disabled]="!gpUpdater.valid"
								(click)="saveHandler($event)">
								{{ "GENERAL.SAVE" | translate }}
							</button>

							<button class="btn btn-primary btn-sm" (click)="message.siFn()">
								{{ "GENERAL.CANCEL" | translate }}
							</button>
						</div>
					</div>
				</div>
			</div>

			<div *ngIf="message?.type == 'goods-pickup-updater'">
				<div class="modal-header">
					{{ "MODAL.PRISE_RDV" | translate }}
				</div>
				<div class="modal-body goods-pickup-updater">
					<form role="form" #priseRDVForm="ngForm" novalidate>
						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<div class="label-action d-flex-ai-c d-flex-jc-sb margin-bottom-10">
										<span>{{ message.params.startPsl?.startPslLibelle }}</span>
										<div class="goods-pickup__button">
											<span *ngIf="addPkRd" class="cursor-pointer  fa fa-plus"
												(click)="addNewRdvPk()"></span>
											<span class="cursor-pointer  fa fa-envelope"
												(click)="sendMessage(null, TypeDatePriseRDV.PICKUP)"
												title="Demander disponibilité"></span>
										</div>
									</div>
									<div *ngFor="let prop of message.params.listPropRdvPk; let i = index">
										<div *ngIf="prop != null" class="date-wrapper col-md-12" [ngStyle]="{
												'background-color':
													prop.statut == 1 ? '#eee' : prop.statut == 2 ? '#3aa965' : ''
											}">
											<div class="row">
												<div class="padding-0" [ngClass]="
														prop.statut == PriseRDVStatus.INISTIAL &&
														prop.role != message.params.userConnected.role
															? 'col-md-10'
															: 'col-md-10'
													">
													<app-datetime-picker [ngClass]="{
															'datetime-picker__disabled':
																prop.statut != PriseRDVStatus.INISTIAL ||
																prop.role != message.params.userConnected.role
														}" [disabled]="
															prop.statut != PriseRDVStatus.INISTIAL ||
															prop.role != message.params.userConnected.role
														" [timepicker]="true" name="pk{{ i }}" [(ngModel)]="prop.date" [ngModelOptions]="{ standalone: true }">
													</app-datetime-picker>
												</div>
												<div class="col-md-2 padding-0">
													<!-- *ngIf="prop.statut == PriseRDVStatus.INISTIAL && prop.role!=message.params.userConnected.role" -->
													<span *ngIf="acls[ACL.RuleDemo_Features_Enable] ||
															(prop.statut != 2 && prop.role != message.params.userConnected.role)
														" class="cursor-pointer fz-18 fa fa-check" (click)="validerProp($event, true, prop, i)"
														title="Valider"></span>
													<span *ngIf="acls[ACL.RuleDemo_Features_Enable] ||
															((prop.statut == 0 &&
																prop.role != message.params.userConnected.role) ||
															prop.statut == 2)
														" class="cursor-pointer fz-18 fa fa-times" (click)="cancelProp(true, prop, i)" title="Annuler"></span>
												</div>
												<div class="col-md-10 text-left" *ngIf="
														prop.statut > PriseRDVStatus.INISTIAL ||
														(prop.role != message.params.userConnected.role &&
															prop.statut == PriseRDVStatus.INISTIAL)
													">
													<label style="color:black">By {{ prop.nomUser }}</label>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="label-action d-flex-ai-c d-flex-jc-sb margin-bottom-10">
										<span>{{ message.params.endPsl?.endPslLibelle }}</span>
										<div class="goods-pickup__button">
											<span *ngIf="addDlRv" class="cursor-pointer fa fa-plus"
												(click)="addNewRdvDl()">
											</span>
											<span class="cursor-pointer fa fa-envelope"
												(click)="sendMessage(null, TypeDatePriseRDV.LAST_EXPECTED_PSL)"
												title="Demander disponibilité"></span>
										</div>
									</div>
									<div *ngFor="let prop of message.params.listPropRdvDl; let i = index">
										<div *ngIf="prop != null" class="date-wrapper col-md-12" [ngStyle]="{
												'background-color':
													prop.statut == 1 ? '#eee' : prop.statut == 2 ? '#3aa965' : ''
											}">
											<div class="row">
												<div class="padding-0" [ngClass]="
														prop.statut == PriseRDVStatus.INISTIAL &&
														prop.role != message.params.userConnected.role
															? 'col-md-10'
															: 'col-md-10'
													">
													<app-datetime-picker [ngClass]="{
															'datetime-picker__disabled':
																prop.statut != PriseRDVStatus.INISTIAL ||
																prop.role != message.params.userConnected.role
														}" [disabled]="
															prop.statut != PriseRDVStatus.INISTIAL ||
															prop.role != message.params.userConnected.role
														" [timepicker]="true" name="dl{{ i }}" [(ngModel)]="prop.date" [ngModelOptions]="{ standalone: true }">
													</app-datetime-picker>
												</div>
												<div class="col-md-2 padding-0">
													<span *ngIf="
															prop.statut != 2 && prop.role != message.params.userConnected.role
														" class="cursor-pointer fz-18 fa fa-check" (click)="validerProp($event, false, prop, i)"></span>
													<span *ngIf="
															(prop.statut == 0 &&
																prop.role != message.params.userConnected.role) ||
															prop.statut == 2
														" class="cursor-pointer fz-18 fa fa-times" (click)="cancelProp(false, prop, i)"></span>
												</div>
												<div class="col-md-10 text-left" *ngIf="
														prop.statut > PriseRDVStatus.INISTIAL ||
														(prop.role != message.params.userConnected.role &&
															prop.statut == PriseRDVStatus.INISTIAL)
													">
													<label style="color:black">By {{ prop.nomUser }}</label>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12 padding-top-20">
									<div class="row">
										<div class="col-md-12">
											<textarea name="message" id="msg" [(ngModel)]="messageChat"
												class="form-control input-underline input-xs"></textarea>
										</div>
										<div class="col-md-12">
											<button class="btn btn-sm btn-primary" (click)="sendMessage($event)"
												[disabled]="messageChat == null || messageChat == ''">
												{{ "GENERAL.SEND_MESSAGE" | translate }}
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<div *ngIf="message?.type == 'goods-pickup-updater'; else defaultFooterContent">
						<div class="row">
							<div class="pull-right margin-right-15">
								<button class="btn btn-tertiary btn-sm" (click)="message.siFn()">
									{{ "GENERAL.CANCEL" | translate }}
								</button>
								<button class="btn btn-primary btn-sm" #pageValid [disabled]="!priseRDVForm.valid"
									(click)="saveHandler($event)">
									{{ "GENERAL.SAVE" | translate }}
								</button>
							</div>
						</div>
					</div>
					<ng-template #defaultFooterContent>
						<a (click)="message.siFn()">
							<button class="btn btn-primary pull-right btn-sm modal_yes_btn">Ok</button>
						</a>
					</ng-template>
				</div>
			</div>

			<div *ngIf="message?.type == 'template-content'">
				<div class="modal-header">
					<ng-content select="[header]"></ng-content>
				</div>
				<div class="modal-body">
					<ng-content select="[body]"></ng-content>
				</div>
				<div class="modal-footer">
					<div #modalFooterContent>
						<ng-content select="[footer]"></ng-content>
					</div>
					<div *ngIf="!modalFooterContent?.nativeElement?.childNodes?.length">
						<a (click)="message.siFn()">
							<button class="btn btn-primary pull-right btn-sm mr5 modal_yes_btn">
								{{ "MODAL.OK" | translate }}
							</button>
						</a>
						<a (click)="message.noFn()">
							<button class="btn btn-danger pull-right btn-sm mr5 modal_no_btn">
								{{ "GENERAL.CANCEL" | translate }}
							</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>