<div class="trpl-zone-settings-root">
	<app-generic-table
		#genericTable
		[title]="'PARAMETRAGE_MTC.MTC_TITLE' | translate"
		[searchInput]="searchCriteria"
		[component]="GenericTableScreen.PR_MTC_TRANSPORTEUR"
		[hideTable]="isAddMtcTransporteur"
		[dataInfos]="dataInfos"
		[detailsInfos]="null"
		[scrollHeight]="350"
		(addFormEmitter)="displayAddMtcTransporteur($event)"
		(editFormEmitter)="displayEditMtcTransporteur($event)"
		(deleteEventEmitter)="deleteMtcTransporteur($event)"
		(onDataLoaded)="onDataLoaded($event)"
		[isHorizontalScrollAlwaysVisible]="true"
		[sharedDropDownZIndex]="sharedDropDownZIndex"
		(sharedDropDownZIndexEmit)="sharedDropDownZIndexChange(sharedDropDownZIndex)"
		[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
	>
		<form
			class="generic-default"
			formcontent
			*ngIf="isAddMtcTransporteur"
			role="form"
			#formCtrlAdminZone="ngForm"
		>
			<div class="form-content col-sm-12 margin-top-10">
				<!-- Company code -->
				<div class="col-md-3 col-sm-4 col-xs-12 form-group">
					<label>{{ "PARAMETRAGE_MTC.COMPANY" | translate }}</label>
					<div>
						<select
							class="form-control input-xs padding-all-3"
							[(ngModel)]="prMtcTransp.xEbCompagnieTransporteur"
							[compareWith]="Statique.compareByCompagnieNum"
							name="xEbCompagnieTransporteur"
							ngControl="xEbCompagnieTransporteurCtrl"
							[disabled]="selectedCompany == null"
							(change)="changecompany(prMtcTransp.xEbCompagnieTransporteur)"
							required
						>
							<option *ngFor="let _company of ebCompagniesList" [ngValue]="_company">{{
								renderTransporteurName(_company)
							}}</option>
						</select>
					</div>
				</div>
				<!-- Code MTG -->
				<div class="col-md-3 col-sm-4 col-xs-12 form-group">
					<label>{{ "PARAMETRAGE_MTC.CODE_MTC" | translate }}</label>
					<div>
						<input
							type="text"
							ngControl="codeTransporteurMtcCtrl"
							[(ngModel)]="prMtcTransp.codeConfigurationMtc"
							name="Code MTC"
							class="form-control input-underline input-xs"
							(ngModelChange)="changeModel(formCtrlAdminZone)"
						/>
					</div>
				</div>
				<!-- User -->
				<div class="col-md-3 col-sm-4 col-xs-12 form-group">
					<label>{{ "PARAMETRAGE_MTC.USER" | translate }}</label>
					<div>
						<select
							class="form-control input-xs padding-all-3"
							[(ngModel)]="prMtcTransp.xEbUser"
							[compareWith]="Statique.compareByUserNum"
							name="xEbUser"
							ngControl="xEbUserCtrl"
							required
						>
							<option [ngValue]="null"></option>
							<option *ngFor="let _user of userList" [ngValue]="_user">{{
								renderUserName(_user)
							}}</option>
						</select>
					</div>
				</div>
				<!-- Code EDI -->
				<div class="col-md-3 col-sm-4 col-xs-12 form-group">
					<label>{{ "PARAMETRAGE_MTC.CODE_EDI" | translate }}</label>
					<div>
						<input
							type="text"
							ngControl="codeConfigurationEDICtrl"
							[(ngModel)]="prMtcTransp.codeConfigurationEDI"
							name="Code edi"
							class="form-control input-underline input-xs"
							(ngModelChange)="changeModel(formCtrlAdminZone)"
						/>
					</div>
				</div>
			</div>

			<div class="form-content col-sm-12 text-right margin-bottom-10">
				<div class="col-md-12">
					<button
						*ngIf="prMtcTransp != null && prMtcTransp.prMtcTransporteurNum == null"
						class="btn btn-sm btn-success btn-shadow"
						[disabled]="!formCtrlAdminZone.valid"
						(click)="addMtcTransporteur()"
					>
						{{ "COMPANY_PROFILE.BTN_AJOUTER" | translate }}
					</button>
					<button
						*ngIf="prMtcTransp != null && prMtcTransp.prMtcTransporteurNum != null"
						class="btn btn-sm btn-success btn-shadow"
						[disabled]="!formCtrlAdminZone.valid"
						(click)="editMtcTransporteur()"
					>
						{{ "COMPANY_PROFILE.BTN_MODIFIER" | translate }}
					</button>
					<button class="btn btn-sm btn-success btn-shadow" (click)="backToListMtcTransporteur()">
						{{ "GENERAL.CANCEL" | translate }}
					</button>
				</div>
			</div>
		</form>
	</app-generic-table>
	<app-mapping-attribute *ngIf="isEditMode && prMtcTransp" [configCode]="prMtcTransp.codeConfigurationMtc"></app-mapping-attribute>

</div>
