<div class="content_wrapper">
	<div class="collapsible-panel panel panel-visible panel-table" style="    margin-top: 25px;">
		<div class="panel-heading heading-table">
			etat de marchandises
		</div>
		<div class="dataTables_wrapper no-footer" style="overflow-x: scroll; background: #fff">
			<table class="table table-responsive table-hover dataTable no-footer" style="padding: 6px">
				<thead>
					<tr>
						<th>N° DE RECEPTION</th>
						<th>DATE D'ENTREE</th>
						<th>N° DE COMMANDE</th>
						<th>EXPORTATEUR</th>
						<th>IMPORTATEUR</th>
						<th>NOMBRE</th>
						<th>TYPE</th>
						<th>"POIDS BRUT en kg"</th>
						<th>"VOLUME en m3"</th>
						<th>FACTURE</th>
						<th>VALEUR</th>
						<th>DANGEREUX</th>
						<th>SEMAINE D'EMPOTAGE</th>
						<th>ETD</th>
						<th>ETA</th>
						<th>N° TC</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>18EF8236</td>
						<td>16/03/2018</td>
						<td>AR2372</td>
						<td>LOWENSTEIN</td>
						<td>ARAR & HD</td>
						<td>1,00</td>
						<td>COL</td>
						<td>0,0</td>
						<td>0,000</td>
						<td>41801185</td>
						<td>350</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>GLDU9449534</td>
					</tr>
					<tr>
						<td>18EF8237</td>
						<td>19/03/2018</td>
						<td>OLC 096961</td>
						<td>BAXTER S.A.S</td>
						<td>ARAR & HD</td>
						<td>1,00</td>
						<td>PAL</td>
						<td>76,0</td>
						<td>1,104</td>
						<td>18026673</td>
						<td>7560</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>GLDU9449534</td>
					</tr>
					<tr>
						<td>18EF8238</td>
						<td>19/03/2018</td>
						<td>CAHPP-1637807</td>
						<td>MEDTRONIC FRANCE</td>
						<td>ARAR & HD</td>
						<td>2,00</td>
						<td>PAL</td>
						<td>183,0</td>
						<td>3.024</td>
						<td>1047064549</td>
						<td>4326</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>GLDU9449534</td>
					</tr>
					<tr>
						<td>18EF8239</td>
						<td>19/03/2018</td>
						<td>NE3292</td>
						<td>NESTLE HEALTH SCIENCE FRANCE</td>
						<td>ARAR & HD</td>
						<td>16,00</td>
						<td>PAL</td>
						<td>7323,0</td>
						<td>19,536</td>
						<td></td>
						<td>0</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>GLDU9449534</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
