<p th:if="${sender != null}">Bonjour<br/>Merci de bien vouloir prendre en compte la demande suivante de la part de [[${sender.nom}]] [[${sender.prenom}]]</p>
<p th:unless="${sender != null}">Bonjour<br/>Merci de bien vouloir prendre en compte la demande suivante</p>
<ul>
	<li>[[${demandeMailLabel}]] : [[${procedure.refProcedure}]]</li>
	<li>Regime : [[${procedure.xRegimeTemporaire.type}]]</li>
	<li>Unit ref : [[${procedure.xLeg2Unit != null ? procedure.xLeg2Unit.unitReference : procedure.xLeg1Unit.unitReference}]]</li>
	<li>Date de création : [[${#dates.format(procedure.dateCreationSys, 'dd-MM-yyyy HH:mm')}]]</li>
</ul>
<p>Cordialement</p>