<form
	role="form"
	class="col-md-12 form-adress__wrapper padding-10"
	#formCtrlAdminEtablissement="ngForm"
>
	<div class="form-content col-sm-12">
		<div class="row"></div>
	</div>
	<div class="form-content padding-0 col-sm-12">
		<div class="col-md-4 col-sm-12 col-xs-12 generic-inputs__style d-flex-ai-c">
			<label class="col-md-5 areaLibelle required"
				>{{ "REPOSITORY_MANAGEMENT.ADRESSE_REFERENCE" | translate }} :</label
			>
			<div class=" col-md-7 padding-left-0">
				<input
					type="text"
					ngControl="referenceCtrl"
					[(ngModel)]="adresse.reference"
					name="reference"
					class="form-control input-underline input-xs"
					(ngModelChange)="changeModel(formCtrlAdminEtablissement)"
					required
				/>
			</div>
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12 generic-inputs__style d-flex-ai-c">
			<label class="col-md-5 areaLibelle"
				>{{ "REPOSITORY_MANAGEMENT.ADRESSE_COMPANY" | translate }} :</label
			>
			<div class=" col-md-7 padding-left-0">
				<input
					type="text"
					ngControl="companyCtrl"
					[(ngModel)]="adresse.company"
					name="company"
					class="form-control input-underline input-xs"
				/>
			</div>
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12 generic-inputs__style d-flex-ai-c">
			<label class="col-md-5 areaLibelle"
				>{{ "REPOSITORY_MANAGEMENT.ADRESSE" | translate }} :</label
			>
			<div class=" col-md-7 padding-left-0">
				<input
					type="text"
					ngControl="streetCtrl"
					[(ngModel)]="adresse.street"
					name="street"
					class="form-control input-underline input-xs"
				/>
			</div>
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12 generic-inputs__style d-flex-ai-c ">
			<label class="col-md-5 areaLibelle required"
				>{{ "REPOSITORY_MANAGEMENT.ADRESSE_CITY" | translate }} :</label
			>
			<div class=" col-md-7 padding-left-0">
				<input
					type="text"
					ngControl="cityCtrl"
					[(ngModel)]="adresse.city"
					name="city"
					class="form-control input-underline input-xs"
					required
				/>
			</div>
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12 generic-inputs__style d-flex-ai-c">
			<label class="col-md-5 areaLibelle"
				>{{ "REPOSITORY_MANAGEMENT.ADRESSE_ZIP_CODE" | translate }} :</label
			>
			<div class=" col-md-7 padding-left-0">
				<input
					type="text"
					ngControl="zipCodeCtrl"
					[(ngModel)]="adresse.zipCode"
					name="zipCode"
					class="form-control input-underline input-xs"
				/>
			</div>
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12 generic-inputs__style d-flex-ai-c">
			<label class="col-md-5 areaLibelle">{{ "REPOSITORY_MANAGEMENT.STATE" | translate }} :</label>
			<div class=" col-md-7 padding-left-0">
				<input
					type="text"
					ngControl="stateCtrl"
					[(ngModel)]="adresse.state"
					name="state"
					class="form-control input-underline input-xs"
				/>
			</div>
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12 generic-inputs__style d-flex-ai-c">
			<label class="col-md-5 areaLibelle required"
				>{{ "REPOSITORY_MANAGEMENT.ADRESSE_COUNTRY" | translate }} :</label
			>
			<div class=" col-md-7 padding-left-0">
				<ng-select
					[items]="listPays"
					[compareWith]="Statique.byEcCountryNum"
					[(ngModel)]="adresse.country"
					bindLabel="libelleCode"
					name="country"
					ngControl="countryCtrl"
					required
				>
					<ng-template ng-option-tmp let-item="item">
						<div class="d-flex-ai-c d-flex-jc-sb">
							<span>{{ item.libelle }}</span>
							<span>{{ item.code }}</span>
						</div>
					</ng-template>
				</ng-select>
			</div>
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12 generic-inputs__style d-flex-ai-c">
			<label class="col-md-5 areaLibelle"
				>{{ "REPOSITORY_MANAGEMENT.ADRESSE_AIRPORT" | translate }} :</label
			>
			<div class=" col-md-7 padding-left-0">
				<input
					type="text"
					ngControl="airportCtrl"
					[(ngModel)]="adresse.airport"
					name="airport"
					class="form-control input-underline input-xs"
				/>
			</div>
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12 generic-inputs__style d-flex-ai-c">
			<label class="col-md-5 areaLibelle"
				>{{ "REPOSITORY_MANAGEMENT.ADRESSE_PHONE" | translate }} :</label
			>
			<div class=" col-md-7 padding-left-0">
				<input
					type="text"
					ngControl="phoneCtrl"
					[(ngModel)]="adresse.phone"
					name="phone"
					class="form-control input-underline input-xs"
				/>
			</div>
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12 generic-inputs__style d-flex-ai-c">
			<label class="col-md-5 areaLibelle"
				>{{ "REPOSITORY_MANAGEMENT.ADRESSE_MAIL" | translate }} :</label
			>
			<div class=" col-md-7 padding-left-0">
				<input
					type="text"
					ngControl="emailCtrl"
					[(ngModel)]="adresse.email"
					name="email"
					class="form-control input-underline input-xs"
					[pattern]="Statique.patterEmail"
				/>
				<!-- pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" -->
			</div>
		</div>
		<div
			class="col-md-4 col-sm-12 col-xs-12 generic-inputs__style d-flex-ai-c"
			*ngIf="enableAdvancedOpeningHours === false"
		>
			<label class="col-md-5 areaLibelle"
				>{{ "REPOSITORY_MANAGEMENT.ADRESSE_OPENING_HOURS" | translate }} :</label
			>
			<div class=" col-md-7 padding-left-0">
				<input
					type="text"
					ngControl="openingHoursFreeTextCtrl"
					[(ngModel)]="adresse.openingHoursFreeText"
					name="openingHoursFreeText"
					class="form-control input-underline input-xs"
				/>
			</div>
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12 generic-inputs__style d-flex-ai-c">
			<label class="col-md-5 areaLibelle"
				>{{ "REPOSITORY_MANAGEMENT.ADRESSE_COMMENT" | translate }} :</label
			>
			<div class=" col-md-7 padding-left-0">
				<input
					type="text"
					ngControl="commentaireCtrl"
					[(ngModel)]="adresse.commentaire"
					name="commentaire"
					class="form-control input-underline input-xs"
				/>
			</div>
		</div>

		<div
			class="col-md-4 col-sm-12 col-xs-12 generic-inputs__style d-flex-ai-c"
			*ngIf="userConnected != null && userConnected.superAdmin"
		>
			<label class="col-md-5 areaLibelle required"
				>{{ "REPOSITORY_MANAGEMENT.ETABLISSEMENT" | translate }} :</label
			>
			<div class=" col-md-7 padding-left-0">
				<ng-select
					[items]="listEtablissement"
					[multiple]="true"
					bindLabel="nom"
					[(ngModel)]="adresse.etablissementAdresse"
					[compareWith]="Statique.byEbEtablissementNum"
					name="etablissementAdresse"
					ngControl="etablissementCtrl"
					[required]="true"
				>
				</ng-select>
			</div>
		</div>

		<div
			class="col-md-4 col-sm-12 col-xs-12 generic-inputs__style d-flex-ai-c"
			*ngIf="userConnected != null && userConnected.superAdmin"
		>
			<label class="col-md-5 areaLibelle"
				>{{ "REPOSITORY_MANAGEMENT.VISIBILITY_RIGHTS" | translate }} :</label
			>
			<div class=" col-md-7 padding-left-0">
				<app-users-autocomplete
					[(inputModel)]="adresse.xEbUserVisibility"
					[criteria]="criteriaUser"
					name="xEbUserVisibility"
				></app-users-autocomplete>
			</div>
		</div>

		<div class="col-md-4 col-sm-12 col-xs-12 generic-inputs__style d-flex-ai-c">
			<label class="col-md-5 areaLibelle">Eligibility :</label>
			<div class=" col-md-7 padding-left-0">
				<ng-select
					name="eligibility"
					[items]="listEligibility"
					[multiple]="true"
					bindLabel="libelle"
					placeholder="Select eligibility..."
					[(ngModel)]="adresse.listEligibilitys"
				>
					<ng-template ng-label-tmp let-item="item">
						<span>{{ "ADRESSE_ELIGIBILITY." + item.libelle | translate }} </span>
					</ng-template>
					<ng-template ng-option-tmp let-item="item">
						<span>
							{{ "ADRESSE_ELIGIBILITY." + item.libelle | translate }}
						</span>
					</ng-template>
				</ng-select>
			</div>
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12 generic-inputs__style d-flex-ai-c">
			<label class="col-md-5 areaLibelle "
				>{{ "PRICING_BOOKING.ENTREPOT" | translate }} :</label>
			<div class=" col-md-7 padding-left-0">
				<ng-select
					name="entrepot"
					[items]="listEntrepot"
					[multiple]="false"
					bindLabel="libelle"
					[(ngModel)]="adresse.entrepot"
				>
				</ng-select>
			</div>
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12 generic-inputs__style d-flex-ai-c d-flex-w">
			<div class="col-md-12 padding-0 margin-bottom-5">
				<label class="col-md-5 areaLibelle">Zones :</label>
				<div class=" col-md-7 padding-left-0">
					<ng-select
						name="zone"
						[multiple]="true"
						(change)="updateDefaultZone()"
						[(ngModel)]="adresse.zones"
						[compareWith]="Statique.byEbPlZoneDTONum"
					>
						<ng-option [value]="rootZone">{{
							"REPOSITORY_MANAGEMENT.ADD_ALL_ZONE" | translate
						}}</ng-option>
						<ng-option *ngFor="let zone of listZone" [value]="zone">{{ zone.label }}</ng-option>
					</ng-select>
				</div>
			</div>
			<div class="col-md-12 padding-0" *ngIf="adresse.zones?.length > 0">
				<label class="col-md-5 areaLibelle"
					>{{ "REPOSITORY_MANAGEMENT.DEFAULT_ZONE" | translate }}:
				</label>
				<div class="col-md-7 padding-left-0">
					<ng-select
						[items]="adresse.zones"
						bindLabel="label"
						[(ngModel)]="adresse.defaultZone"
						[compareWith]="Statique.byEbPlZoneDTONum"
						name="defaultZone"
						[required]="adresse.zones?.length > 0"
					>
					</ng-select>
				</div>
			</div>
		</div>
	</div>
	<div class="form-content col-sm-12" *ngIf="enableAdvancedOpeningHours === true">
		<div class="container-fluid">
			<label style="font-weight: 600"
				>{{ "REPOSITORY_MANAGEMENT.ADRESSE_OPENING_HOURS" | translate }} :</label
			>
			<div>
				<label
					class="radio-inline margin-r-15"
					*ngFor="let etat of Statique.listEtatHoraire; let i = index"
				>
					<input
						type="radio"
						[(ngModel)]="adresse.openingHours.etatHoraireNum"
						[value]="etat.key"
						name="etatHoraireNum"
					/>
					{{ etat.value }}</label
				>
			</div>
		</div>
		<div class="row" *ngIf="adresse.openingHours.etatHoraireNum == EtatHoraire.ALL_DAYS">
			<div class="input-time">
				<div class="col-md-6 padding-top-15">
					<div class="col-md-5">
						<input
							required
							(blur)="
								Jour.checkHoraire(
									adresse.openingHours.horaireAllDays,
									formCtrlAdminEtablissement,
									-1
								)
							"
							[pattern]="Statique.patternTime"
							type="text"
							[textMask]="{ mask: Statique.maskTime }"
							placeholder="hh:mm"
							[(ngModel)]="adresse.openingHours.horaireAllDays.heure1"
							class="form-control input-underline input-xs"
							name="heure1{{ -1 }}"
						/>
					</div>
					<div class="col-md-5 margin-b-5">
						<input
							required
							(blur)="
								Jour.checkHoraire(
									adresse.openingHours.horaireAllDays,
									formCtrlAdminEtablissement,
									-1
								)
							"
							[pattern]="Statique.patternTime"
							type="text"
							[textMask]="{ mask: Statique.maskTime }"
							placeholder="hh:mm"
							[(ngModel)]="adresse.openingHours.horaireAllDays.heure2"
							class="form-control input-underline input-xs"
							name="heure2{{ -1 }}"
						/>
					</div>
					<div class="col-md-2 margin-t-5" *ngIf="!adresse.openingHours.horaireAllDays.ish3h4actif">
						<a
							href="javascript:void(0)"
							(click)="Jour.enableH3H4(adresse.openingHours.horaireAllDays)"
						>
							<i class="fa fa-15x fa-plus-circle" aria-hidden="true"></i>
						</a>
					</div>
					<div *ngIf="adresse.openingHours.horaireAllDays.ish3h4actif">
						<div class="col-md-5 col-sm-5 col-xs-5">
							<input
								required
								(blur)="
									Jour.checkHoraire(
										adresse.openingHours.horaireAllDays,
										formCtrlAdminEtablissement,
										-1
									)
								"
								[pattern]="Statique.patternTime"
								type="text"
								[textMask]="{ mask: Statique.maskTime }"
								placeholder="hh:mm"
								[(ngModel)]="adresse.openingHours.horaireAllDays.heure3"
								class="form-control input-underline input-xs"
								name="heure3{{ -1 }}"
							/>
						</div>
						<div class="col-md-5 col-sm-5 col-xs-5">
							<input
								required
								(blur)="
									Jour.checkHoraire(
										adresse.openingHours.horaireAllDays,
										formCtrlAdminEtablissement,
										-1
									)
								"
								[pattern]="Statique.patternTime"
								type="text"
								[textMask]="{ mask: Statique.maskTime }"
								placeholder="hh:mm"
								[(ngModel)]="adresse.openingHours.horaireAllDays.heure4"
								class="form-control input-underline input-xs"
								name="heure4{{ -1 }}"
							/>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2 margin-t-5">
							<a
								href="javascript:void(0)"
								(click)="Jour.disableH3H4(adresse.openingHours.horaireAllDays)"
							>
								<i class="fa fa-15x fa-times-circle-o" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="container-fluid padding-top-15"
			*ngIf="adresse.openingHours.etatHoraireNum == EtatHoraire.CUSTOMISE"
		>
			<div class="form-content">
				<div
					class="row col-md-12 col-sm-12 bottom-buffer"
					*ngFor="let jour of adresse.openingHours.jours; let i = index"
				>
					<div class="col-md-1">
						{{ jour.jourEnum.libelle }}
					</div>
					<div class="col-md-1">
						<!-- <mat-slide-toggle (change)="jour.disable()" [(ngModel)]="jour.ouvert" name="ouvert{{i}}" labelPosition="after">
                      </mat-slide-toggle> -->
						<label class="switch">
							<input
								type="checkbox"
								(change)="Jour.disable(jour)"
								[(ngModel)]="jour.ouvert"
								name="ouvert{{ i }}"
								labelPosition="after"
							/>
							<span class="slider round"></span>
						</label>
					</div>
					<div class="input-time" *ngIf="jour.ouvert">
						<div class="col-md-6">
							<div class="col-md-5">
								<input
									required
									(blur)="Jour.checkHoraire(jour, formCtrlAdminEtablissement, i)"
									[pattern]="Statique.patternTime"
									type="text"
									[textMask]="{ mask: Statique.maskTime }"
									placeholder="hh:mm"
									[(ngModel)]="jour.heure1"
									class="form-control input-underline input-xs"
									name="heure1{{ i }}"
								/>
							</div>
							<div class="col-md-5 margin-b-5">
								<input
									required
									(blur)="Jour.checkHoraire(jour, formCtrlAdminEtablissement, i)"
									[pattern]="Statique.patternTime"
									type="text"
									[textMask]="{ mask: Statique.maskTime }"
									placeholder="hh:mm"
									[(ngModel)]="jour.heure2"
									class="form-control input-underline input-xs"
									name="heure2{{ i }}"
								/>
							</div>
							<div class="col-md-2 margin-t-5" *ngIf="!jour.ish3h4actif">
								<a href="javascript:void(0)" (click)="Jour.enableH3H4(jour)">
									<i class="fa fa-15x fa-plus-circle" aria-hidden="true"></i>
								</a>
							</div>
							<div *ngIf="jour.ish3h4actif">
								<div class="col-md-5 col-sm-5 col-xs-5">
									<input
										required
										(blur)="Jour.checkHoraire(jour, formCtrlAdminEtablissement, i)"
										[pattern]="Statique.patternTime"
										type="text"
										[textMask]="{ mask: Statique.maskTime }"
										placeholder="hh:mm"
										[(ngModel)]="jour.heure3"
										class="form-control input-underline input-xs"
										name="heure3{{ i }}"
									/>
								</div>
								<div class="col-md-5 col-sm-5 col-xs-5">
									<input
										required
										(blur)="Jour.checkHoraire(jour, formCtrlAdminEtablissement, i)"
										[pattern]="Statique.patternTime"
										type="text"
										[textMask]="{ mask: Statique.maskTime }"
										placeholder="hh:mm"
										[(ngModel)]="jour.heure4"
										class="form-control input-underline input-xs"
										name="heure4{{ i }}"
									/>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-2 margin-t-5">
									<a href="javascript:void(0)" (click)="Jour.disableH3H4(jour)">
										<i class="fa fa-15x fa-times-circle-o" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="form-content col-sm-12 text-right">
		<div class="col-md-12">
			<button
				class="btn btn-sm btn-success btn-shadow"
				(click)="fireCancel($event)"
			>
				{{ "COMPANY_PROFILE.BTN_CANCEL" | translate }}
			</button>

			<button
				*ngIf="adresse != null && adresse.ebAdresseNum == null"
				class="btn btn-sm btn-primary btn-shadow"
				[disabled]="
					!formCtrlAdminEtablissement.valid ||
					(adresse.zones?.length > 0 && !adresse?.defaultZone?.ebZoneNum)
				"
				(click)="fireAdd($event)"
			>
				{{ "COMPANY_PROFILE.BTN_AJOUTER" | translate }}
			</button>
			<button
				*ngIf="adresse != null && adresse.ebAdresseNum != null"
				class="btn btn-sm btn-primary btn-shadow"
				[disabled]="
					!formCtrlAdminEtablissement.valid ||
					(adresse.zones?.length > 0 && !adresse?.defaultZone?.ebZoneNum)
				"
				(click)="fireEdit($event)"
			>
				{{ "COMPANY_PROFILE.BTN_MODIFIER" | translate }}
			</button>
		</div>
	</div>
</form>
