.login.login-chanel {
	.btn {
		&.btn-primary {
			background: #222 !important;
			border: 1px solid #222 !important;

			&:hover {
				background: #22364a;
			}
		}
	}

	.login-background {
		background-image: url("../../../../../assets/images/chpb-bg.jpg");
		position: fixed;
		height: 100%;
		background-size: 1000px;
		width: 100%;
		background-repeat: repeat;
	}

	.sides-wrapper {
		box-shadow: 0 0 4px 3px #ffffff38;

		.right-side {
			label {
				color: #5b5b5b;
			}

			.smart-tracking {
				.track-input {
					display: flex;
				}
			}
		}

		.left-side {
			position: relative;

			.login-footer,
			.logo-wrapper {
				position: relative;
				z-index: 1;
			}

			background: #222;
		}
	}
}

.reset-pass_title {
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.reset-pass_contents {
	height: 60%;
}
