<app-collapsible-panel
	title="{{ 'QUALITY_MANAGEMENT.SHIPMENT_INFORMATION' | translate }}"
	[fullscreen]="true"
>
	<div class="col-md-12 form-group padding-top-10">
		<div class="row row-eq-height-wrap">
			<div class="col-md-4 form-group">
				<label class="control-label">Carrier</label>
				<input type="text" class="form-control" [(ngModel)]="incident.carrierNom" readonly />
			</div>

			<div class="col-md-4 form-group">
				<label class="areaLibelle">{{ "PRICING_BOOKING.MODE_OF_TRANSPORT" | translate }}</label>
				<select
					class="form-control"
					name="incident.modeTransport"
					[(ngModel)]="incident.modeTransport"
				>
					<option *ngFor="let item of listModeTransports" [ngValue]="item.code">
						{{ item.libelle }}
					</option>
				</select>
			</div>

			<div class="col-md-4 form-group">
				<label class="control-label">Origin country</label>
				<select
					id="country"
					class="form-control"
					name="incident.originCountryLibelle"
					[(ngModel)]="incident.originCountryLibelle"
				>
					<option *ngFor="let country of listDestinations" [ngValue]="country.libelle">{{
						country.libelle
					}}</option>
				</select>
			</div>

			<div class="col-md-4 form-group">
				<label class="areaLibelle">{{ "PRICING_BOOKING.INSURANCE" | translate }}</label>
				<select
					class="form-control"
					name="incident.insurance"
					(change)="affectInsurance()"
					[(ngModel)]="insurance"
					required
					[disabled]="!toggleEditData"
				>
					<option *ngFor="let item of yesOrNo" [ngValue]="item.key">{{ item.value }}</option>
				</select>
			</div>

			<div class="col-md-4 form-group">
				<label class="areaLibelle">Goods value</label>
				<input
					type="text"
					class="form-control"
					[(ngModel)]="incident.goodValues"
					[disabled]="!toggleEditData || (insurance === false || insurance === null)"
					[pattern]="Statique.patternDecimalNumber"
					[required]="insurance"
				/>
			</div>
		</div>
	</div>
	<hr />
	<div class="col-md-12" style="text-align: right;">
		<button href="#" class="btn btn-primary btn-sm" (click)="updateIncidentShipment()">Save</button>
	</div>
	<hr />
	<div class="col-md-12" style="text-align: right;">
		<button href="#" class="btn btn-primary btn-sm" (click)="updateIncidentShipment()">Save</button>
	</div>
	<hr />
	<div class="col-md-12" style="text-align: right;">
		<button href="#" class="btn btn-primary btn-sm" (click)="updateIncidentShipment()">Save</button>
	</div>
</app-collapsible-panel>
