<app-collapsible-panel
	title="{{ 'QUALITY_MANAGEMENT.INCIDENT_INFORMATION' | translate }}"
	[fullscreen]="true"
>
	<table class="table dataTable no-footer">
		<thead>
			<tr>
				<th rowspan="2">Unit ref</th>
				<th rowspan="2">Type of units</th>
				<th colspan="2">Quantity of unit</th>
				<th colspan="2">Gross Weight (kg)</th>
				<th colspan="3">Date of Departure</th>
				<th colspan="3">Date of Arrival</th>
				<th rowspan="2">DGR(UN)</th>
				<th rowspan="2">Comments</th>
				<th rowspan="2"></th>
			</tr>
			<tr>
				<TH>Total</TH>
				<TH>Impacted</TH>
				<TH>Total</TH>
				<TH>Impacted</TH>
				<TH>Estimated</TH>
				<TH>Actual</TH>
				<TH>Delay</TH>
				<TH>Estimated</TH>
				<TH>Actual</TH>
				<TH>Delay</TH>
			</tr>
		</thead>
		<tbody class="text-center">
			<tr *ngFor="let il of incident.incidentLines; let i = index">
				<td>
					<div class="form-group">
						<select
							*ngIf="il.unitReference == null"
							name="unitRef"
							id="unitRef"
							[(ngModel)]="selectedUnit"
							(change)="onMarchandiseNumChange(i, selectedUnit)"
						>
							<option *ngFor="let item of listMarchandises" [ngValue]="item.ebMarchandiseNum">
								{{ item.customerReference }}
							</option>
						</select>
					</div>
					<div class="form-group">
						<input
							*ngIf="il.unitReference != null"
							type="text"
							name="unitRef"
							[(ngModel)]="il.unitReference"
							readonly
						/>
					</div>
				</td>
				<td>
					<select
						class="form-control typeMarchandise"
						name="il.typeMarchandise{{ i }}"
						[(ngModel)]="il.typeMarchandise"
					>
						<option *ngFor="let item of marchandiseTypeOfUnit" [value]="item.key">
							{{ item.value }}
						</option>
					</select>
				</td>
				<td>
					<input
						class="form-control"
						(change)="changeTotalQte(il.numberOfUnits)"
						[(ngModel)]="il.numberOfUnits"
						type="number"
						name="numberOfUnits"
					/>
				</td>
				<td>
					<input
						class="form-control"
						(change)="changeTotalQte(il.numberOfUnits)"
						[(ngModel)]="il.numberOfUnits"
						type="number"
						name="numberOfUnits"
					/>
				</td>
				<td>
					<input
						class="form-control"
						(change)="changeTotalWe(il.weight)"
						[(ngModel)]="il.weight"
						type="number"
						name="weight"
					/>
				</td>
				<td>
					<input
						class="form-control"
						(change)="changeTotalWe(il.weight)"
						[(ngModel)]="il.weight"
						type="number"
						name="weight"
					/>
				</td>
				<td>
					<app-datetime-picker [(ngModel)]="il.eta" name="il.eta"></app-datetime-picker>
				</td>
				<td>
					<app-datetime-picker [(ngModel)]="il.etd" name="il.etd"></app-datetime-picker>
				</td>
				<td>
					<input class="form-control" />
				</td>
				<td>
					<app-datetime-picker [(ngModel)]="il.atd" name="il.atd"></app-datetime-picker>
				</td>
				<td>
					<app-datetime-picker [(ngModel)]="il.ata" name="il.ata"></app-datetime-picker>
				</td>
				<td>
					<input class="form-control" />
				</td>
				<td>
					<select
						class="form-control"
						name="il.dangerousGood{{ i }}"
						[(ngModel)]="il.dangerousGood"
					>
						<option [value]="null" [selected]="il.dangerousGood == null"></option>
						<option
							*ngFor="let item of (marchandiseDangerousGood | keyvalue)"
							[selected]="il.dangerousGood == item.key"
							[value]="item.key"
							>{{ item.value }}
						</option>
					</select>
				</td>
				<td>
					<input class="form-control" [(ngModel)]="il.comment" type="text" name="comment" />
				</td>
				<td>
					<div class="form-group">
						<button class="btn btn-danger btn-xs" (click)="deleteIncident(i)">
							<i class="fa fa-trash-o"></i> {{ "GENERAL.DELETE" | translate }}
						</button>
					</div>
				</td>
			</tr>

			<tr>
				<td class="bl bgl bgrd"></td>
				<td class="bgl bgrd"><strong>Total</strong></td>
				<td class="bgl bgrd pdl">
					<strong>{{ totalQteOfUnit }}</strong>
				</td>
				<td class="bgl bgrd pdl">
					<strong>{{ totalWeight }}</strong>
				</td>
				<td class="br"></td>
				<td class="br"></td>
				<td class="br"></td>
				<td class="br"></td>
				<td class="br"></td>
				<td class="br"></td>
				<td class="br"></td>
				<td class="br"></td>
				<td class="br"></td>
				<td class="br"></td>
				<td class="br">
					<button
						type="button"
						class="btn btn-primary btn-xs p5 pull-right"
						(click)="addNewIncidentLine()"
						id="addCustomerRef"
					>
						<span *ngIf="!isWorking"><i class="fa fa-plus"></i> Add Unit</span>
						<span *ngIf="isWorking"><i class="fa fa-spinner fa-spin"></i></span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="col-md-12" style="margin-top: 2%;">
		<div class="row">
			<div class="form-group">
				<div class="row-eq-height">
					<div class=" border-right_gray col-md-3">
						<div class="row">
							<fieldset>
								<legend class="padding-left-0">
									<h4>Incident designation</h4>
								</legend>
								<div class="form-group col-md-12">
									<label class="control-label">Incident category</label>
									<div>
										<ng-select
											name="listIncidentCategory"
											[items]="listIncidentCategory"
											bindLabel="label"
											[(ngModel)]="incident.category"
										>
										</ng-select>
									</div>
								</div>

								<div class=" form-group col-md-12">
									<label class="control-label">Currency</label>
									<div>
										<ng-select
											name="listCurrency"
											[items]="listCurrency"
											bindLabel="codeLibelle"
											[(ngModel)]="incident.currencyLabel"
										>
										</ng-select>
									</div>
								</div>

								<div class="col-md-12">
									<label class="control-label col-md-12"
										><span>Incident description</span>
										<span class="text-rigth"
											><i
												(click)="showOrHide('Desc')"
												*ngIf="!showDesc"
												class="fa fa-plus-circle fa-2x"
												style="cursor: pointer;"
											></i
											><i
												(click)="showOrHide('Desc')"
												*ngIf="showDesc"
												class="fa fa-minus-circle fa-2x"
												style="cursor: pointer;"
											></i></span
									></label>
									<div>
										<textarea
											*ngIf="showDesc"
											class="form-control"
											rows="2"
											[(ngModel)]="incident.incidentDesc"
										></textarea>
									</div>
								</div>
								<div class="form-group col-md-12">
									<label class="control-label col-md-12"
										><span>Additional impact</span>
										<span class="text-rigth"
											><i
												(click)="showOrHide('Impact')"
												*ngIf="!showImpact"
												class="fa fa-plus-circle fa-2x"
												style="cursor: pointer;"
											></i
											><i
												(click)="showOrHide('Impact')"
												*ngIf="showImpact"
												class="fa fa-minus-circle fa-2x"
												style="cursor: pointer;"
											></i></span
									></label>
									<div>
										<textarea
											*ngIf="showImpact"
											class="form-control"
											rows="2"
											[(ngModel)]="incident.addImpact"
										></textarea>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
					<div class=" border-right_gray col-md-5">
						<div class="">
							<fieldset>
								<legend>
									<h4>Incident details</h4>
								</legend>
								<div class="form-group">
									<!-- <div class="wdt15">
                        <label class="control-label col-md">Delay :</label>
                      </div>
                      <div class="wdt15">
                        <input type="number" class="form-control" [required]="delayRequired" [(ngModel)]="interneIncidentInfo.daysDelay">
                      </div>
                      <div class="wdt9">
                        <label class="control-label col-md">days </label>
                      </div>
                      <div class="wdt15">
                        <input type="number" class="form-control" [required]="delayRequired" [(ngModel)]="interneIncidentInfo.hoursDelay">
                      </div>
                      <div class="wdt9">
                        <label class="control-label col-md">hours </label>
                      </div> -->
									<div class="form-group">
										<div class="wdt25">
											<label class="control-label col-md">Issurance other than transport:</label>
										</div>
										<div class="wdt15">
											<select
												class="form-control"
												name="interneIncidentInfo.insurance"
												(change)="affectInsurance()"
											>
												<option *ngFor="let item of yesOrNo" [ngValue]="item.key">{{
													item.value
												}}</option>
											</select>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="wdt32">
										<label class="control-label col-md">Impacted Goods amount:</label>
									</div>
									<div class="wdt15">
										<input
											type="number"
											class="form-control"
											[required]="unitDamagedRequired"
											[(ngModel)]="incident.unitDamagedAmount"
										/>
									</div>
									<!-- <div class="wdt10">
                        <label class="control-label col-md">Amond :</label>
                      </div>
                      <div class="wdt15">
                        <input type="number" class="form-control" [required]="unitDamagedRequired" [(ngModel)]="interneIncidentInfo.amondOfunitDamaged">
                      </div> -->
									<div class="wdt17">
										<input
											type="text"
											class="form-control"
											[(ngModel)]="incident.currencyLabel"
											readonly
										/>
									</div>
								</div>

								<div class="form-group">
									<div class="wdt32">
										<label class="control-label col-md">Impacted Transport amount:</label>
									</div>
									<div class="wdt15">
										<input
											type="number"
											class="form-control"
											[required]="unitLostRequired"
											[(ngModel)]="incident.impactedTransportAmount"
										/>
									</div>
									<!-- <div class="wdt10">
                        <label class="control-label col-md">Amond :</label>
                      </div>
                      <div class="wdt15">
                        <input type="number" class="form-control" [required]="unitLostRequired" [(ngModel)]="interneIncidentInfo.amondOfunitLost">
                      </div> -->
									<div class="wdt17">
										<input
											type="text"
											class="form-control"
											[(ngModel)]="incident.currencyLabel"
											readonly
										/>
									</div>
								</div>

								<div class="form-group">
									<div *ngFor="let cost of incident.othersCost; let i = index">
										<div class="form-group">
											<div class="wdt32">
												<label class="control-label col-md">{{ cost.libelle }} :</label>
											</div>
											<div class="wdt15">
												<input type="number" class="form-control" [(ngModel)]="cost.cost" />
											</div>
											<div class="wdt17">
												<input
													type="text"
													class="form-control"
													[(ngModel)]="incident.currencyLabel"
													readonly
												/>
											</div>
										</div>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row">
							<fieldset>
								<legend>
									<h4>Financial</h4>
								</legend>
								<div class="form-group">
									<div class="wdt25">
										<label class="control-label col-md">Claim amount :</label>
									</div>
									<div class="wdt35">
										<input type="number" class="form-control" [(ngModel)]="incident.claimAmount" />
									</div>
									<div class="wdt35">
										<input
											type="text"
											class="form-control"
											[(ngModel)]="incident.currencyLabel"
											readonly
										/>
									</div>
								</div>
								<div class="form-group">
									<div class="wdt25">
										<label class="control-label col-md">Recovered from carrier :</label>
									</div>
									<div class="wdt35">
										<input type="number" class="form-control" [(ngModel)]="incident.recovered" />
									</div>
									<div class="wdt35">
										<input
											type="text"
											class="form-control"
											[(ngModel)]="incident.currencyLabel"
											readonly
										/>
									</div>
								</div>
								<div class="form-group">
									<div class="wdt25">
										<label class="control-label col-md">Recovered from other insurance :</label>
									</div>
									<div class="wdt35">
										<input
											type="number"
											class="form-control"
											[(ngModel)]="incident.recoveredInsurance"
										/>
									</div>
									<div class="wdt35">
										<input
											type="text"
											class="form-control"
											[(ngModel)]="incident.currencyLabel"
											readonly
										/>
									</div>
								</div>
								<div class="form-group">
									<div class="wdt25">
										<label class="control-label col-md">Balance :</label>
									</div>
									<div class="wdt35">
										<input
											type="number"
											class="form-control"
											[(ngModel)]="
												incident.claimAmount - incident.recovered - incident.recoveredInsurance
											"
										/>
									</div>
									<div class="wdt35">
										<input
											type="text"
											class="form-control"
											[(ngModel)]="incident.currencyLabel"
											readonly
										/>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</app-collapsible-panel>
