table.total-incident_infos {
	margin-top: 15px;
}
table.total-incident_infos td {
	padding-left: 10px;
	padding-right: 8px;
}
table.total-incident_infos .form-group,
table.incident-informations .form-group {
	margin-bottom: 0 !important;
}
#table-incident_informations {
	transition: all 0.2s ease-in-out;
}
.hidden-table {
	visibility: hidden;
	height: 0;
	opacity: 0;
	z-index: -99;
}
.show-table {
	visibility: visible;
	height: 100%;
	opacity: 1;
}

ng-select.custum {
	height: 100px !important;
}

.ng-select.custom .ng-select-container {
	height: 100px !important;
}

.custum .ng-select-container {
	height: 100px !important;
}

.ng-select.custum .ng-select-container .ng-value-container {
	height: 100px !important;
}

ng-select.custom > div > div.ng-value-container {
	height: 100px !important;
}

.ng-select.custom .ng-control {
	height: 100px !important;
}

.text-rigth {
	float: right;
}
.clickable {
	cursor: pointer;
}
.wdt32 {
	width: 40%;
	display: inline-block;
}
.wdt10 {
	width: 18%;
	display: inline-block;
	padding-left: 15px;
}
.wdt15 {
	width: 15%;
	display: inline-block;
}
.wdt17 {
	width: 12%;
	display: inline-block;
	padding-left: 5px;
}
.wdt9 {
	width: 10%;
	display: inline-block;
	padding-left: 5px;
}
.wdt25 {
	width: 40%;
	display: inline-block;
}
.wdt35 {
	width: 35%;
	display: inline-block;
	padding-left: 5px;
}
.no-padingleft {
	padding-left: 0px;
}
.no-marginbtm {
	margin-bottom: 0px !important;
}

.table > tbody > tr.total-units > td:not(:last-child) {
	border-right: 0 !important;
}
.table > tbody > tr.total-units > td:last-child {
	border-left: 1px solid #e4e2e2;
}
