<div class="col-md-12 nopadding date-picker_wrapper">
	<div class="{{ timepicker ? 'col-md-8 padding-left-0 padding-right-5' : '' }}">
		<div class="input-group">
			<input
				container="body"
				(click)="d1.toggle(); openDatepicker(d1)"
				#d1="ngbDatepicker"
				class="form-control date-picker-input"
				placeholder="dd/mm/yyyy"
				name="{{ name }}-date"
				[ngModel]="formattedDate"
				ngbDatepicker
				#datepickerRef="ngModel"
				#datepicker="ngbDatepicker"
				[disabled]="disabled"
				[required]="required"
				[minDate]="min"
				[maxDate]="max"
				(ngModelChange)="dateChangeHandler($event)"
				(mouseenter)="showDatePickerIcon = true"
				(mouseleave)="showDatePickerIcon = false"
			/>

			<button
				(click)="d1.toggle(); openDatepicker(d1)"
				class="input-group-addon"
				type="button"
				[disabled]="disabled"
				[ngClass]="{ visible: showDatePickerIcon }"
			>
				<span class="fa fa-calendar"></span>
			</button>
		</div>
	</div>

	<div class="col-md-4 nopadding" *ngIf="timepicker">
		<div class="timepicker-input input-group" id="timepicker-input">
			<input
				class="form-control date-picker-input"
				placeholder="hh:mm"
				name="{{ name }}-time"
				#timepicker
				type="text"
				ngbTimepicker
				[ngModel]="textFormattedTime"
				(ngModelChange)="textTimeChangeHandler($event)"
				[disabled]="disabled"
				[readonly]="true"
				(focus)="onTimepickerFocus($event)"
				(mouseenter)="showTimePickerIcon = true"
				(mouseleave)="showTimePickerIcon = false"
			/>

			<ngb-timepicker
				*ngIf="timepickerToggleOn"
				class="d-inline-block rounded dropdown-menu"
				[ngModel]="formattedTime"
				(ngModelChange)="timeChangeHandler($event)"
			></ngb-timepicker>

			<button
				class="input-group-addon"
				(click)="timepickerToggleOn = !timepickerToggleOn"
				type="button"
				[disabled]="disabled"
				[ngClass]="{ visible: showTimePickerIcon }"
			>
				<span class="fa fa-clock-o"></span>
			</button>
		</div>
	</div>
</div>
<div *ngIf="required && showErrorMsg" class="col-md-8 col-xs-12 padding-0">
	<app-form-error-messages [NgModelRef]="datepickerRef"></app-form-error-messages>
</div>
