.date-picker_wrapper {
	.timepicker-input {
		position: initial !important;
	}
	.date-picker-input {
		padding-left: 1px;
	}
	.input-group-addon {
		width: 20px !important;
		padding: 0 !important;
	}
}
.padding-left-only {
	padding: 0 0 0 15px !important;
}
.date-picker-input[disabled] {
	& + .input-group-addon {
		display: none;
	}
}
