<div class="modal modal-backdrop" tabindex="-1" role="dialog" style="display:block!important">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div>
				<div class="modal-header">Smart Tracking</div>
				<div class="modal-body text-left">
					<div class="row">
						<div class="col-md-12" *ngFor="let tracing of listTracing; let i = index">
							<div class="business-card b-c-users">
								<div class="row">
									<div class="col-md-4">
										Réference :
									</div>
									<div class="col-md-6">
										{{ tracing.refTransport }}
									</div>
									<div class="pull-right col-md-1 no-padding">
										<button
											type="button"
											class="btn btn-xs font-size-10"
											placement="bottom"
											container="body"
											title="Subscribe to Alert"
											(click)="subscribeInput()"
										>
											<i class="fa fa-envelope cursor-pointer"></i>
										</button>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										Status :
									</div>
									<div class="col-md-6">
										{{ tracing.codeAlphaPslCourant }}
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										Dernier Psl Atteint :
									</div>
									<div class="col-md-6">
										{{ tracing.codeAlphaPslCourant }} -
										{{
											statique.formatDate(
												tracing.listEbPslApp[tracing.listEbPslApp.length - 2].dateActuelle
											)
										}}
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										Dernier Psl Attendu :
									</div>
									<div class="col-md-6">
										{{ tracing.listEbPslApp[tracing.listEbPslApp.length - 1].companyPsl?.libelle }}
										-
										{{
											statique.formatDate(
												tracing.listEbPslApp[tracing.listEbPslApp.length - 1].companyPsl?.dateMaj
											)
										}}
									</div>
								</div>

								<div class="row" *ngIf="displaySubscribeInput">
									<div class="col-md-8">
										<input
											class="form-control"
											placeholder="Please type your mail adress"
											autofocus=""
											type="text"
										/>
									</div>
									<div class="col-md-1">
										<button
											type="button"
											class="btn btn-xs font-size-10"
											placement="bottom"
											container="body"
											title="Send"
										>
											<i class="fa fa-save cursor-pointer"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a>
						<button class="btn btn-danger pull-right btn-sm mr5 modal_no_btn" (click)="close()">
							Close
						</button>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
