.business-card {
	border: 2px solid #cccccc;
	background: #fff;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 10px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	height: 145px;
	max-height: 145px;
}

.b-c-users {
	height: 100% !important;
}
.b-c-users .media {
	height: auto;
}
