<div id="body_content" class="content_wrapper">
	<!-- <div class="home-bg"></div> -->
	<div class="home-content container-fluid">
		<!-- <div class="home-kpi row">
            <div class="kpi-content col-md-6">
                <div class="kpi-elements">
                    <div class="kpi-total col-md-5">
                        <div>Nombre TR
                            <strong>ongoing</strong>
                        </div>
                        <div>12</div>
                    </div>
                    <div class="kpi-somme col-md-7">
                        <div class="col-md-4">
                            <span>
                                <i class="fa fa-truck"></i>
                            </span>
                            <span>2</span>
                        </div>
                        <div class="col-md-4">
                            <span>
                                <i class="fa fa-ship"></i>
                            </span>
                            <span>6</span>
                        </div>
                        <div class="col-md-4">
                            <span>
                                <i class="fa fa-plane"></i>
                            </span>
                            <span>4</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kpi-content col-md-6">
                <div class="kpi-elements">
                    <div class="kpi-total col-md-5">
                        <div>Somme des poids taxables des TR
                            <strong>ongoing</strong>
                        </div>
                        <div>2960 t</div>
                    </div>
                    <div class="kpi-somme col-md-7">
                        <div class="col-md-4">
                            <span>
                                <i class="fa fa-truck"></i>
                            </span>
                            <span>850</span>
                        </div>
                        <div class="col-md-4">
                            <span>
                                <i class="fa fa-ship"></i>
                            </span>
                            <span>1733</span>
                        </div>
                        <div class="col-md-4">
                            <span>
                                <i class="fa fa-plane"></i>
                            </span>
                            <span>377</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kpi-content col-md-6">
                <div class="kpi-elements">
                    <div class="kpi-total col-md-5">
                        <div>Nombre TR
                            <strong>delivered</strong>
                        </div>
                        <div>12</div>
                    </div>
                    <div class="kpi-somme col-md-7">
                        <div class="col-md-4">
                            <span>
                                <i class="fa fa-truck"></i>
                            </span>
                            <span>2</span>
                        </div>
                        <div class="col-md-4">
                            <span>
                                <i class="fa fa-ship"></i>
                            </span>
                            <span>6</span>
                        </div>
                        <div class="col-md-4">
                            <span>
                                <i class="fa fa-plane"></i>
                            </span>
                            <span>4</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kpi-content col-md-6">
                <div class="kpi-elements">
                    <div class="kpi-total col-md-5">
                        <div>Somme des poids taxables des TR
                            <strong>delivered</strong>
                        </div>
                        <div>1280 t</div>
                    </div>
                    <div class="kpi-somme col-md-7">
                        <div class="col-md-4">
                            <span>
                                <i class="fa fa-truck"></i>
                            </span>
                            <span>29</span>
                        </div>
                        <div class="col-md-4">
                            <span>
                                <i class="fa fa-ship"></i>
                            </span>
                            <span>791</span>
                        </div>
                        <div class="col-md-4">
                            <span>
                                <i class="fa fa-plane"></i>
                            </span>
                            <span>460</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-table">
            <table #target datatable class="table dataTable">
                <thead class="text-center">
                    <tr>
                        <th>Module</th>
                        <th>Société</th>
                        <th>Référence</th>
                        <th>Origine</th>
                        <th>Destination</th>
                        <th>Status</th>
                        <th>Last update</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td>
                            <img src="/assets/images/pictos/pictos-metier/pricing.svg"> </td>
                        <td>DHL</td>
                        <td>1055</td>
                        <td>Paris - FR</td>
                        <td>Brasilia - BR</td>
                        <td>Delivered</td>
                        <td>01/05/2018 - 17:55</td>
                        <td>
                            <i class="cursor-pointer glyphicon glyphicon-refresh"></i>
                            <i class="cursor-pointer fa fa-arrow-circle-right"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="/assets/images/pictos/pictos-metier/trans-manag.svg"> </td>
                        <td>DB SCHENKER</td>
                        <td>59</td>
                        <td>London - UK</td>
                        <td>Russie - RU</td>
                        <td>Waiting for documents</td>
                        <td>11/02/2018 - 11:05</td>
                        <td>
                            <i class="cursor-pointer glyphicon glyphicon-refresh"></i>
                            <i class="cursor-pointer fa fa-arrow-circle-right"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="/assets/images/pictos/pictos-metier/track-trace.svg"> </td>
                        <td>DHL</td>
                        <td>101</td>
                        <td>Casablanca - MA</td>
                        <td>Japon - JP</td>
                        <td>Waiting for documents</td>
                        <td>28/12/2017 - 08:50</td>
                        <td>
                            <i class="cursor-pointer glyphicon glyphicon-refresh"></i>
                            <i class="cursor-pointer fa fa-arrow-circle-right"></i>
                        </td>
                    </tr>
                </tbody>
                <tfoot></tfoot>
            </table>
        </div> -->
		<img src="../../../assets/images/logo-acceuil.png" alt="" />
	</div>
	<!-- <div class="row home-row">
        <p class="pull-right control-tower-title">control tower</p>
        <div id="p6" class="panel sort-disable home-panel">
            <div class="home-panel-heading"></div>
            <div class="panel-body" style="padding-top: 4px; padding-left: 25px; padding-right: 25px; background: #fff; border-top: 0 none !important;">
                <div class="row">
                    <div class="col-md-12">&gt; Click on one application</div>
                </div>
                <div class="" style="margin-top: 15px; margin-left: -15px;">

                    <div class="col-md-2 col-sm-3 col-xs-6 eq-height" style="margin-bottom: 10px;">
                        <div class="row">
                            <a class="titre-module" routerLink="/app/pricing/dashboard">
                                <div class="post-container">
                                    <div class="post-thumb">
                                        <div class="image-module img-responsive image-module-pricing h90w90"
                                            title=""></div>
                                    </div>
                                    <div class="post-content" style="">
                                        <h3 class="post-title">Pricing</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 eq-height hidden-md hidden-lg" style="margin-bottom: 10px;">
                        <p>
                            <a class="titre-actions" href="/quotation-request/demande?type=2"> 34 Actions</a>
                        </p>
                        <p>
                            <a class="titre-updates " href="/quotation-request/demande?type=1"> 0 Updates</a>
                        </p>
                        <p>
                            <a class="titre-comments " href="/quotation-request/demande?type=0"> 0 Comments</a>
                        </p>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6 eq-height " style="margin-bottom: 10px;">
                        <div class="row">
                            <a class="titre-module" routerLink="/app/transport-management/dashboard">
                                <div class="post-container">
                                    <div class="post-thumb">
                                        <img class="image-module img-responsive mCS_img_loaded" height="90" width="90" data-toggle="tooltip" data-placement="bottom"
                                            title="" data-original-title="Booking" src=" /assets/images/pictos/ico-spot.svg ">
                                    </div>
                                    <div class="post-content" style="">
                                        <h3 class="post-title">Booking</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <a class="titre-module" routerLink="/app/transport-management/dashboard">
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-6 eq-height hidden-md hidden-lg " style="margin-bottom: 10px;">
                        <p>
                            <a class="titre-actions" href="/booking/demande?type=2"> 0 Actions</a>
                        </p>
                        <p>
                            <a class="titre-updates " href="/booking/demande?type=1">0 Updates</a>
                        </p>
                        <p>
                            <a class="titre-comments " href="/booking/demande?type=0"> 0 Comments</a>
                        </p>

                    </div>




                    <div class="col-md-2 col-sm-3 col-xs-6 eq-height " style="margin-bottom: 10px;">
                        <div class="row">
                            <div class="post-container">
                                <a class="titre-module" routerLink="app/track-trace/dashboard">

                                    <div class="post-thumb">
                                        <img class="image-module img-responsive mCS_img_loaded" height="90" width="90" data-toggle="tooltip" data-placement="bottom"
                                            title="" data-original-title="Track &amp; Trace" src=" /assets/images/pictos/ico-track.svg ">
                                    </div>
                                    <div class="post-content">
                                        <h3 class="post-title">Track&amp; Trace</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="hidden-md hidden-lg col-sm-3 col-xs-6 eq-height " style="margin-bottom: 10px;">

                        <p>
                            <a class="titre-updates " href="/track-trace/tracing-result?type=1">14 Updates</a>
                        </p>
                        <p>
                            <a class="titre-comments " href="/track-trace/tracing-result?type=0"> 0 Comments</a>
                        </p>



                    </div>



                    <div class="col-md-2 col-sm-3 col-xs-6 eq-height " style="margin-bottom: 10px;">
                        <div class="row">
                            <div class="post-container">
                                <a class="titre-module" href="/claims-management/dashboard">

                                    <div class="post-thumb">
                                        <img class="image-module img-responsive mCS_img_loaded" height="90" width="90" data-toggle="tooltip" data-placement="bottom"
                                            title="" data-original-title="Claims Management" src=" /assets/images/pictos/ico-claims.svg ">
                                    </div>
                                    <div class="post-content" style="">
                                        <h3 class="post-title">Claims Management</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="hidden-md hidden-lg col-sm-3 col-xs-6 eq-height " style="margin-bottom: 10px;">
                        <p>
                            <a class="titre-actions" href="/claims-management/dashboard?typeIM=0">51 Actions</a>
                        </p>
                        <p>
                            <a class="titre-updates " href="/claims-management/dashboard?typeIM=1">2 Updates</a>
                        </p>
                    </div>



                    <div class="col-md-2 col-sm-3 col-xs-6 eq-height " style="margin-bottom: 10px;">
                        <div class="row">
                            <div class="post-container">
                                <a class="titre-module" href="/freight-audit/list-invoice">
                                    <div class="post-thumb">
                                        <img class="image-module img-responsive mCS_img_loaded" height="90" width="90" data-toggle="tooltip" data-placement="bottom"
                                            title="" data-original-title="Freight Audit" src="/assets/images/pictos/ico-freight.svg ">
                                    </div>
                                    <div class="post-content" style="">
                                        <h3 class="post-title">Freight Audit</h3>
                                    </div>
                                   

                                </a>
                            </div>
                        </div><div class="post-thumb">
                                            <div class="image-module img-responsive image-module-freight h90w90"
                                                title=""></div>
                                        </div>
                                        <div class="post-content">
                                            <h3 class="post-title">Freight Audit</h3>
                                        </div>
                    </div>


                    <div class="col-sm-3 col-xs-6 eq-height hidden-md hidden-lg" style="margin-bottom: 10px;"></div>


                    <div class="col-md-2 col-sm-3 col-xs-6 eq-height " style="margin-bottom: 10px;">
                        <div class="row">
                            <div class="post-container">
                                <a class="titre-module" href="https://report.crystalgroup.fr">
                                    <div class="post-thumb">
                                        <img class="image-module img-responsive mCS_img_loaded" height="90" width="90" data-toggle="tooltip" data-placement="bottom"
                                            title="" data-original-title="Freight Analytics" src="/assets/images/pictos/ico-analytics.svg ">
                                    </div>
                                    <div class="post-content" style="">
                                        <h3 class="post-title">Freight Analytics</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 eq-height hidden-md hidden-lg " style="margin-bottom: 10px;"></div>




                </div>
            </div>
            <div class="panel-editbox hidden-xs hidden-sm" style="display: block;">
                <div class="row">

                    <div class="col-md-2">

                        <p>
                            <a class="titre-actions" href="/quotation-request/demande?type=2"> 34 Actions</a>
                        </p>
                        <p>
                            <a class="titre-updates " href="/quotation-request/demande?type=1"> 0 Updates</a>
                        </p>
                        <p>
                            <a class="titre-comments " href="/quotation-request/demande?type=0"> 0 Comments</a>
                        </p>

                    </div>

                    <div class="col-md-2 ">
                        <p>
                            <a class="titre-actions" href="/booking/demande?type=2"> 0 Actions</a>
                        </p>
                        <p>
                            <a class="titre-updates " href="/booking/demande?type=1">0 Updates</a>
                        </p>
                        <p>
                            <a class="titre-comments " href="/booking/demande?type=0"> 0 Comments</a>
                        </p>

                    </div>

                    <div class="col-md-2 ">

                        <p>
                            <a class="titre-updates " href="/track-trace/tracing-result?type=1">14 Updates</a>
                        </p>
                        <p>
                            <a class="titre-comments " href="/track-trace/tracing-result?type=0"> 0 Comments</a>
                        </p>



                    </div>
                    <div class="col-md-2 ">
                        <p>
                            <a class="titre-actions" href="/claims-management/dashboard?typeIM=0">51 Actions</a>
                        </p>
                        <p>
                            <a class="titre-updates " href="/claims-management/dashboard?typeIM=1">2 Updates</a>
                        </p>
                    </div>
                    <div class="col-md-2 "></div>
                    <div class="col-md-2 "></div>
                </div>
            </div>
            <div class="home-panel-heading"></div>

            <div class="panel-body" style="background: #fff; border-top: 0 none !important;">
                <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                </div>
            </div>

        </div>
    </div> -->
</div>
