<div id="accueil-container" class="app-padding">
	<div class="block-container">
		<!-- <div class="col-md-3 col-xs-6 indicateur-hp padding-0 d-flex-jc-c">
			<div class="counter-container">
				todo removed for cpb demo https://jira.adias.fr/browse/CPB-92
				<span class="counter-title">Nb of shipments</span>
				<span class="counter blue"
					><span>150</span> <i class="my-icon-shipement padding-top-5"></i
				></span>
				
			</div>
		</div>
		<div class="col-md-3 col-xs-6 indicateur-hp padding-0 d-flex-jc-c">
			<div class="counter-container">
				todo removed for cpb demo https://jira.adias.fr/browse/CPB-92
				<span class="counter-title">Gross weight (kg)</span>
				<span class="counter orange"><span>2 640</span> <i class="my-icon-weight"></i></span>
				
			</div>
		</div>
		<div class="col-md-3 col-xs-6 indicateur-hp padding-0 d-flex-jc-c">
			<div class="counter-container">
				todo removed for cpb demo https://jira.adias.fr/browse/CPB-92
				<span class="counter-title">Cost (€)</span>
				<span class="counter green"><span>9 320</span> <i class="fa fa-eur"></i></span>
				
			</div>
		</div> -->
	</div>
	<div
		class="block-container"
		[ngClass]="listBoutonAction != null && listBoutonAction.length > 0 ? '' : 'd-block'"
	>
		<div
			class="favoris-container d-flex-w"
			[ngClass]="{
				'col-md-3 col-sm-3 col-xs-12': listBoutonAction != null && listBoutonAction.length >= 1,
				'margin-right-0-important padding-right-0-important': !(
					listBoutonAction != null && listBoutonAction.length > 0
				)
			}"
		>
			<div
				*ngIf="Statique.getUrlFile(cp.logo)"
				class=" mb-3 col-md-12 col-xs-12 indicateur-hp padding-0 d-flex-jc-c"
			>
				<div class="counter-container">
					<span class="counter-title"
						><img
							style="width: auto; height: 60px; margin: 5px;"
							[src]="Statique.getUrlFile(cp.logo)"
							alt="ok"
					/></span>
				</div>
			</div>
			<div
				*ngFor="let bouton of listBoutonAction"
				class="mb-3 list-action__boutons padding-0"
				[ngClass]="{
					'col-md-12 col-sm-12 col-xs-12': listBoutonAction != null && listBoutonAction.length >= 1
				}"
			>
				<div class="card text-white o-hidden h-100" [ngStyle]="{ background: bouton.color }">
					<div class="card-body" (click)="triggerBoutonAction(bouton)">
						<div class="card-body-icon">
							<i class="{{ getFaIcon(bouton.icon) }}"></i>
						</div>
						<div class="mr-5">
							{{ bouton.libelle }} {{ bouton.count ? "(" + bouton.count + ")" : "" }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="search-container"
			id="search-container"
			[ngClass]="{
				'col-md-9 col-sm-9 col-xs-12': listBoutonAction != null && listBoutonAction.length >= 1,
				'col-md-12 col-sm-12 col-xs-12': !(listBoutonAction != null && listBoutonAction.length > 0)
			}"
		>
			<!-- <div class="search-container" [ngClass]="listBoutonAction != null && listBoutonAction.length > 0 ? 'col-md-9 col-sm-9 col-xs-12' : (listBoutonAction != null && listBoutonAction.length === 1 ? 'col-md-6 col-sm-6 col-xs-12' : 'col-md-12 col-sm-12 col-xs-12')"> -->
			<div class="search-input">
				<span class="search-label">{{ "GENERAL.FAVORITE" | translate }}</span>
			</div>
			<div
				class="ref-container"
				id="ref-container"
				(window:resize)="onResizeFavoris(); onResizeFavorisWrapper()"
			>
				<!-- <app-card-list applyClass="card-favoris" [cols]="listFavorisCols" [showDetails]="true" (showDetailsEmitter)="goToDetails($event)"
                    [data]="listFavorisData">
                </app-card-list> -->

				<app-card-list
					[showDetails]="true"
					(showDetailsEmitter)="goToDetails($event)"
					[data]="listFavorisData"
					applyClass="card-favoris"
					applyListClass="card-favoris-list"
					[colMdVignetteForDashboard]="'col-md-4 col-sm-6 col-xs-12'"
				>
					<div *forEachItem="let card" class="d-flex-ai-c d-flex-w">
						<app-vignette-view [isFavoris]="true" [card]="card"></app-vignette-view>
					</div>
				</app-card-list>
			</div>
			<!--
        <div class="col-md-6 search-container">
            <div class="search-input">
                <span class="search-label">Favoris</span>
            </div>
            <div class="ref-container" *ngIf="listEbDemandeTransport; else noRecord">
                <div class="col-md-6 ref-block-container" *ngFor="let el of listEbDemandeTransport">
                    <div class="block-wrapper">
                        <div class="flags-container">
                            <i class="fa fa-check"></i>
                            <i class="fa fa-flag"></i>
                            <i class="fa fa-flag"></i>
                        </div>
                        <div class="infos-container">
                            <div class="ref-trans">
                                <span>{{el.refTransport}}</span>
                            </div>
                            <div class="origin-dest">
                                <div>
                                    <div class="origin">{{el.libelleOriginCountry}}</div>
                                    <div class="destination">{{el.libelleDestCountry}}</div>
                                </div>
                                <div class="icon">
                                    <i *ngIf="el.xEcModeTransport == ModeTransport.AIR" class="fa fa-plane"></i>
                                    <i *ngIf="el.xEcModeTransport == ModeTransport.SEA" class="fa fa-ship"></i>
                                    <i *ngIf="el.xEcModeTransport == ModeTransport.ROAD" class="fa fa-truck"></i>
                                    <i *ngIf="el.xEcModeTransport == ModeTransport.RAIL" class="fa fa-train"></i>
                                </div>

                            </div>
                            <div class="status-trans">
                                <span>{{'PRICING_BOOKING.' + Statique.getStatusLibelle(el.xEcStatut) | translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
		</div>
	</div>

	<ng-template #noRecord>
		<div class="text-center">
			<span>{{ "GENERAL.NO_RECORD_FOUND" | translate }}</span>
		</div>
	</ng-template>
</div>
