@import "../../../styles/components/mixins/breakpoints";
/******** VARIABLES ********/
@import "../../../styles/variables";

.home-bg {
	height: 300px;
	background-image: url(/assets/images/landscape-hp.jpg);
	background-size: cover;
	background-position: 0 center;
	background-repeat: no-repeat;
}
/* 
.home-content {
    background-image: url(/assets/images/landscape-hp.jpg);
    background-size: cover;
    background-position: 0 center;
    background-repeat: no-repeat;
} */
.home-table {
	padding-top: 15px;
}
.home-table table img {
	width: 8%;
	cursor: pointer;
}
.home-table table i.fa {
	font-size: $fz-xl;
}
.home-table table i.glyphicon {
	font-size: $fz-md;
	font-weight: 700;
	padding-right: 5px;
}
.home-kpi {
	padding-top: 25px;
	display: flex;
	flex-flow: row wrap;
}
.kpi-content {
	padding-top: 15px;
	padding-bottom: 15px;
}
.kpi-elements {
	padding: 20px 5px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #ffffff;
	box-shadow: inset 0 0 6px -2px #000;
	height: 100%;
}
.kpi-total {
	text-align: center;
}
.kpi-total > div:first-child {
	font-size: $fz-lg;
}
.kpi-total > div:last-child {
	font-size: $fz-kpi-hp;
	/* font-weight: 700; */
	color: #ae100b;
}
.kpi-somme > div {
	text-align: center;
}
.kpi-somme .fa {
	font-size: $fz-kpi-icon-hp;
}
.kpi-somme span {
	display: block;
	height: 30px;
}
.kpi-somme span:last-child {
	font-size: $fz-kpi-icon-hp;
	/* font-weight: 700; */
	display: block;
}
@keyframes truck {
	0% {
		right: -20px;
	}
	100% {
		right: 0px;
	}
}
.kpi-somme .fa-truck {
	position: relative;
	color: #da9a04;
	animation: truck ease-in-out 2s alternate;
}
@keyframes plane {
	0% {
		left: -25px;
		bottom: -25px;
	}
	100% {
		left: 0px;
		bottom: 0px;
	}
}
.kpi-somme .fa-plane {
	color: #14a4bd;
	position: relative;
	animation: plane ease-in-out 2s alternate;
}
@keyframes ship {
	0% {
		font-size: $fz-xs;
	}
	100% {
		font-size: $fz-kpi-icon-hp;
	}
}
.kpi-somme .fa-ship {
	color: #005594;
	vertical-align: sub;
	animation: ship ease-in-out 2s alternate;
}
.home-row {
	margin-top: -230px;
}

.control-tower-title {
	color: white;
	font-size: $fz-ctower-title;
	margin-bottom: -15px;
	font-weight: bold;
	padding-right: 124px;
}

.home-panel {
	padding-left: 125px;
	padding-right: 125px;
	background: transparent none repeat scroll 0% 0%;
	margin-top: 66px;
}

.home-panel-heading {
	height: 10px;
	background: rgba(0, 0, 0, 0) linear-gradient(to right, #f1896d, #eb5647, #e52924) repeat scroll 0
		0;
}

.post-title {
	font-size: $fz-md !important;
	margin-top: 0 !important;

	margin-bottom: 9.5px !important;
	font-family: inherit !important;
	font-weight: 600 !important;
	line-height: 1.1 !important;
	color: inherit !important;
	text-rendering: optimizelegibility !important;
	color: #5c6670 !important;
}

.post-thumb {
	float: left;
}
.post-content {
	margin-left: 100px;
	padding-top: 25px;
}

element.style {
	display: block;
}
.panel-editbox {
	border: 0px solid #e8e8e8 !important;
	-moz-box-shadow: inset 0 5px 5px -5px #c0c0c0;
	-webkit-box-shadow: inset 0 5px 5px -5px #c0c0c0;
	box-shadow: inset 0 5px 5px -5px #c0c0c0;
	text-align: left;
}

.panel-colorbox,
.panel-editbox {
	position: relative;
	padding: 12px 16px;
	color: #aaa;
	background-color: #f9f9f9;
}

.panel-editbox .col-md-2 p {
	margin-left: 50px !important;
}

.titre-actions,
.titre-updates,
.titre-comments {
	font-style: italic !important;
	color: #5c6670 !important;
	font-size: $fz-xs !important;
}

.h90w90 {
	height: 90px;
	width: 90px;
}
.image-module-pricing {
	background-image: url(/assets/images/pictos/ico-order.svg);
	background-repeat: no-repeat;
}

.image-module-pricing:hover {
	background-image: url(/assets/images/pictos/ico-order-active.svg);
	background-repeat: no-repeat;
}

.image-module-freight {
	background-image: url(/assets/images/pictos/ico-freight.svg);
	background-repeat: no-repeat;
}

.image-module-freight:hover {
	background-image: url(/assets/images/pictos/ico-freight-active.svg);
	background-repeat: no-repeat;
}

.home-content {
	text-align: center;
}
.home-content img {
	padding: 140px;
	width: 80%;
}
@media only screen and (max-width: 768px) {
	.home-content img {
		padding: 40px;
		width: 75%;
	}
}

/*NEW STYLES*/

// .block-container{
//   margin: 15px;
// }
// .counter-container{
//   background-color: #008ea8;
//   width: 60%;
//   height: 80px;
//   color: white;
//   text-align: center;
//   position: relative;
//   padding: 15px;
//   margin: auto;
// }
// .counter-container span{
//   display: inline-block;
//   width: 100%;
// }
// .counter-title{
//   position: absolute;
//   bottom: 15px;
//   left: 0;
// }
// .counter-img{
//   background-color: white;
// }
// .counter-container img{
//   width: 80%;
// }
// .counter-container:nth-last-child {
//   background-color: white;
// }

.search-input {
	height: 28px;
	color: white;
	background: #018dad;
	border-bottom: 1px solid #018dad;
	padding: 0 4px;
	display: flex;
	align-items: center;
	input {
		width: 72%;
		height: 25px;
		// border-radius: 0;
		display: inline-block;
		border: none;
	}
	.search-icon {
		width: 6%;
		text-align: center;
		height: 100%;
		display: inline-block;
		cursor: pointer;
		i {
			font-size: $fz-lg;
		}
	}
	.search-label {
		padding-right: 5px;
		width: 28%;
	}
}
.search-container {
	background: #fff;
	box-shadow: 2px 3px 8px -4px #000;
	border-radius: 4px;
	padding: 0;
	@include bp-lt(767px) {
		width: 100% !important;
	}
}
::ng-deep .favoris-container {
	padding: 0;
	margin-right: 5px;
	padding-right: 5px;
	height: 100%;
	.ui-table-thead > tr > th,
	.ui-table-tbody > tr > td {
		padding: 2px !important;
		font-size: $fz-sm !important;
	}
	// .list-action__boutons:nth-child(odd) {
	//   padding-right: 5px;
	// }
	// .list-action__boutons:nth-child(even) {
	//   padding-left: 5px;
	// }
	@include bp-lt(767px) {
		width: 100% !important;
		margin-right: 0 !important;
		padding-right: 0 !important;
		.list-action__boutons {
			padding: 0;
			padding-left: 4px;
			padding-right: 4px;
		}
	}
}
.ref-container {
	padding-top: 15px;
	height: auto;
	overflow: auto;
	.ref-block-container {
		padding: 10px 15px;
		.block-wrapper {
			background: #fff;
			display: flex;
			align-items: center;
			height: 100%;
			border-radius: 5px;
			box-shadow: 0 0 3px -1px #000;
			.flags-container {
				width: 12%;
				height: 100%;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				justify-content: center;
				i {
					width: 100%;
					text-align: center;
				}
				.fa-check {
					color: #ae100b;
				}
			}
			.infos-container {
				width: 88%;
				height: 100%;
				border-left: 1px solid #dadada;
				// padding-left: 5px;
				.ref-trans {
					border-top-right-radius: 4px;
					text-align: center;
					padding-right: 5px;
					font-weight: 600;
					background: #018dad;
					color: #fff;
				}
				.origin-dest {
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding-top: 5px;
					padding-bottom: 5px;
					i {
						font-size: $fz-kpi-icon-hp;
						padding-right: 10px;
						// &.fa-plane {
						//   color: #09b0d8;
						// }
						// &.fa-ship {
						//   color: #114d79;
						// }
						// &.fa-truck {
						//   color: #bb8914;
						// }
						// &.fa-train {
						//   color: #bd0b0b;
						// }
						&.fa {
							color: #a3a3a3;
						}
					}
					.origin,
					.destination {
						padding-left: 10px;
						position: relative;
					}
					//   .origin:before, .destination:before {
					//     content: "";
					//     display: block;
					//     height: 5px;
					//     width: 5px;
					//     background: #5d6771;
					//     border-radius: 50%;
					//     position: absolute;
					//     left: 0px;
					//     top: 8px;
					// }
				}
				.status-trans {
					border-top: 2px solid #e0e0e0;
					text-align: center;
				}
				.ref-trans,
				.origin-dest,
				.status-trans {
					padding-left: 5px;
				}
			}
		}
	}
}

// .ref-block-content{
//   background-color: white;
//   text-align: center;
// }
// .ref-header{
//   background-color: #008ea8;
//   color: white;
// }
// .ref-content{

// }
// .ref-footer{

// }

.indicateur-hp .badge {
	width: 100%;
	min-height: 50px;
	line-height: 20px;
}

.indicateur-hp {
	padding-left: 2px;
	@include bp-lt(767px) {
		margin-right: 0;
		padding: 5px;
	}
	&:last-child {
		margin-right: 0;
	}
	.counter-container {
		text-align: center;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		padding-top: 5px;
		background: #fff;
		border-radius: 8px;
		width: 100%;
		.counter-title {
			width: 100%;
		}
		.counter {
			font-weight: 600;
			font-size: $fz-kpi-icon-hp;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			&.green {
				color: #90b30b;
			}
			&.blue {
				color: #0e7e86;
			}
			&.orange {
				color: #c34d1e;
			}
			span {
				padding-right: 8px;
			}
		}
		img {
			width: 120px;
		}
	}
}

.block-container {
	display: flex;
	padding-bottom: 10px;
	margin-top: 5px;
	@include bp-lt(767px) {
		flex-flow: row wrap;
	}
}

::ng-deep .min-width-90 {
	min-width: 90px;
	width: 90px !important;
}

::ng-deep .min-width-70 {
	min-width: 70px;
	width: 70px !important;
}

.card {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
	transition: all 0.2s ease-in-out;
}
.card-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 15px 48px 15px 15px;
	font-size: $fz-xl;
	display: flex;
	align-items: center;
	.no-action {
		color: #b9b9b9;
		// font-style: italic
	}
}
.o-hidden {
	overflow: hidden !important;
}
.text-white {
	color: #fff !important;
}
.bg-primary {
	background-color: #007bff !important;
}
.card-footer {
	padding: 0.75rem 1.25rem;
	background-color: rgba(0, 0, 0, 0.03);
	border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.bg-success {
	background-color: #28a745 !important;
}

.bg-danger {
	background-color: #dc3545 !important;
}
.bg-warning {
	background-color: #ffc107 !important;
}

.bg-purple {
	background-color: #8347e2 !important;
}

.bg-black {
	background-color: #4b4854 !important;
}

.mb-3,
.my-3 {
	margin-bottom: 1rem !important;
}

.card-body-icon {
	position: absolute;
	z-index: 0;
	top: -1.25rem;
	right: -1rem;
	opacity: 0.4;
	font-size: 5rem;
	-webkit-transform: rotate(15deg);
	transform: rotate(15deg);
}
.h-100 {
	height: 100% !important;
}
@keyframes btn-accueil {
	0% {
		opacity: 0.5;
	}
	10% {
		opacity: 0.6;
	}
	50% {
		opacity: 0.8;
	}
	100% {
		opacity: 1;
	}
}
.card:hover {
	cursor: pointer;
	box-shadow: 0px 0px 14px -2px #000;
	opacity: 1;
	animation: btn-accueil 0.4s ease-in-out;
}
