<div>
	<app-list-dock
		#listDockCmp
		(listChange)="onChangeListDock()"
		[entrepotNum]="entrepotNum"
		[userConnected]="userConnected"
	></app-list-dock>
</div>
<div class="margin-top-10">
	<app-opening-weeks
		#openingWeeksCmp
		(periodChange)="onPeriodOpeningWeekChange()"
		[listDock]="listDock"
		[entrepotNum]="entrepotNum"
		[userConnected]="userConnected"
	></app-opening-weeks>
</div>
<div class="margin-top-10">
	<app-opening-periods-calendar
		#openingPeriodsCalendarCmp
		[entrepotNum]="entrepotNum"
		[userConnected]="userConnected"
		(periodUpdated)="onPeriodCalendarUpdated($event)"
	></app-opening-periods-calendar>
</div>
