<!DOCTYPE html>
<html>

<head th:include="shared/common_head :: copy">
</head>

<body>
	<header th:replace="shared/header :: copy"></header>
	<main class="main">
		<table class="table-main">
			<tbody>
				<tr>
					<td>
						<div>
							<span th:utext="#{nvcomptesocieteadminaccept.corp}" ></span>
						</div>
						<br>
						<br>
						<div class="btn-wrapper">
							<a th:href="@{${url+'login?codeActivation='+activeToken}}">
								<span class="btn" th:utext="#{bouttonseconnect.link}"></span>
							</a>
						</div>
					</td>
				</tr>

			</tbody>
		</table>
	</main>
	<footer th:replace="shared/footer :: copy"></footer>
</body>

</html>