<!DOCTYPE html>
<html>

<head th:include="shared/common_head :: copy">
	<title></title>
</head>

<body>
	<header th:replace="shared/header :: copy"></header>
	<main class="main">
		<table class="table-main">
			<tbody>
				<tr>
					<td>
						<div>
							<p th:utext="#{refususer.corp1}"></p>
							<span th:text="${compagnieName}"></span>-
							<span th:text="${etablissementName}"></span>
							<p th:utext="#{refususer.corp2}"></p>
							<p th:utext="#{refususer.conclusion}"></p>
							
						</div>
					</td>
				</tr>

			</tbody>
		</table>
	</main>
	<footer th:replace="shared/footer :: copy"></footer>
</body>

</html>