<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="shared/common_head :: copy">
    <title>MyTower / Creation d'une nouvelle société</title>
</head>

<body>
<header th:replace="shared/header :: copy"></header>
<main class="main">
    <table class="table-main">
        <tbody>
        <tr>
            <td>
                <p th:utext="#{creationNouvelleSociete.intro}"></p>
                <p th:utext="#{creationNouvelleSociete.suite1}"></p>
                <p th:utext="#{creationNouvelleSociete.suite2}"></p>
                <div class="btn-wrapper">
                    <a th:href="@{${url+'app/user/settings/company/users'}}"><span class="btn" th:utext="#{bouttoncliqueici.link}"></span></a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</main>
<footer th:replace="shared/footer :: copy"></footer>
</body>

</html>