<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="shared/common_head :: copy">
</head>

<body>
	<header th:replace="shared/header :: copy"></header>
	<main class="main">
		<table class="table-main">
			<tbody>
				<tr>
					<td>
						<div>
							<p>
								<b>
									<span th:text="${prenomNouveauUtilisateur}"></span>&nbsp;<span th:text="${nomNouveauUtilisateur}"></span>
								</b>
								<span th:utext="#{nvcomptesociete.corp1}" ></span>
								<span th:text="${nomEstablishement}" ></span>
								<span th:utext="#{nvcomptesociete.corp2}" ></span>
							</p>

								<div class="btn-wrapper">
									<a th:href="${url+'app/user/settings/company/users'}">
										<span class="btn" th:utext="#{mycompany.link}"></span>
									</a>
								</div>

						</div>
					</td>
				</tr>

			</tbody>

		</table>
	</main>

	<footer th:replace="shared/footer :: copy"></footer>
</body>

</html>