<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="shared/common_head :: copy">
	<title>Invitation</title>
</head>

<body>
	<header th:replace="shared/header :: copy"></header>
	<main class="main">
		<table class="table-main">
			<tbody>
				<tr>
					<td>
						<div>
							<p th:utext="#{welcome.message}"></p>
							<p>
								<b>
									<span th:text="${nom}"></span>
								</b>
							</p>
							<div class="btn-wrapper">
								<a th:href="@{${url+'login'}}">
									<span class="btn" th:utext="#{bouttoncliquesurcelien.link}"></span>
								</a>
							</div>
						</div>
					</td>
				</tr>

			</tbody>

		</table>
	</main>

	<footer th:replace="shared/footer :: copy"></footer>
</body>

</html>