<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="shared/common_head :: copy">
	<title>Invitation</title>
</head>

<body>
	<header th:replace="shared/header :: copy"></header>
	<main class="main">
		<table class="table-main">
			<tbody>
				<tr>
					<td>
						<div>
						<p>
							<span th:text="#{inviteusemytower.corp1(${userFullName})}"></span>
							<span th:text="#{inviteusemytower.corp2(${compagnieName})}"></span>
						</p>
						<p>
							<span th:text="#{inviteusemytower.corp3(${mytowerTeamMail})}"></span>
						</p>
							<div class="btn-wrapper">
								<a th:href="@{'mailto:' + ${mytowerTeamMail}}">
									<span class="btn" th:utext="#{inviteusemytower.contactmytowerteam}"></span>
								</a>
							</div>
						</div>
					</td>
				</tr>

			</tbody>

		</table>
	</main>

	<footer th:replace="shared/footer :: copy"></footer>
</body>

</html>