<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="shared/common_head :: copy">
	<title></title>
</head>

<body>
	<header th:replace="shared/header :: copy"></header>
	<main class="main">
	
	<div>
		<p>
			<span th:text="#{freight.audit.mail.applying.information.body(${firstNameSender},${lastNameSender},${companyChargeurName},${etablissementSenderName})}"></span>
		</p>
		<div class="btn-wrapper">
			<a th:href="@{${url}}">
				<span class="btn" th:text="${refTran}"></span>
			</a>
		</div>
		<span th:utext="#{demandealertetransporteur.destination(${libelleDestCountry})}"></span>
	</div>
		<ul th:each="action : ${actions}">
			<li th:if="${#lists.contains(1,action)}"> <span th:text="#{freight.audit.mail.applying.information.body1(${invoiceCost}, ${invoiceCurrency})}"></span> </li>
			<li th:if="${#lists.contains(2,action)}"> <span th:text="#{freight.audit.mail.applying.information.body2(${invoiceNum})}"></span> </li>
			<li th:if="${#lists.contains(3,action)}"> <span th:text="#{freight.audit.mail.applying.information.body4(${invoiceStatus})}"></span> </li>
			<li th:if="${#lists.contains(4,action)}"> <span th:text="#{freight.audit.mail.applying.information.body3(${invoiceMonthDate})}"></span> </li>
		</ul>	

	</main>

	<footer th:replace="shared/footer :: copy"></footer>
</body>

</html>