<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>[MyTower]-Backup</title>
</head>
<body>

	<p th:utext="#{welcome.message}"></p>
	<p>
		<b><span th:text="${nom}"></span></b>
	</p>
	
</body>
</html>