<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="shared/common_head :: copy">
	<title></title>
</head>

<body>
	<header th:replace="shared/header :: copy"></header>
	<main class="main">
		<table class="table-main">
				<tbody>
					<tr>
						<td>
						<div>
							<p th:utext="#{resetpassword.corp}"></p>
						</div>
						<div class="btn-wrapper">
							<a th:href="@{${url+'reset-password'+nomPlateform+'?token='+resetToken}}">
								<span class="btn" th:utext="#{bouttoncliqueici.link}"></span>
							</a>
						</div>
					</td>
				</tr>

			</tbody>

		</table>
	</main>

	<footer th:replace="shared/footer :: copy"></footer>
</body>

</html>