<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="shared/common_head :: copy">
	<title>[MyTower]-Invitation</title>
</head>

<body>
	<header th:replace="shared/header :: copy"></header>
	<main class="main">
		<table class="table-main">
			<tbody>
				<tr>
					<td>
						<div>
							<b>
								<span th:text="${prenomExpediteur}"></span>
							</b>
							<span th:utext="#{invitationautreutilisateur.corp(${nomExpediteur})}"></span>
								<div class="btn-wrapper">
									<a th:href="${url+'/app/user/settings?route=mycommunity'}">
										<span class="btn" th:utext="#{mycommunity.link}"></span>
									</a>
								</div>
						</div>
					</td>
				</tr>

			</tbody>

		</table>
	</main>

	<footer th:replace="shared/footer :: copy"></footer>
</body>

</html>