<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="shared/common_head :: copy">
	<title>[MyTower]-Invitation Accepter</title>
</head>

<body>
	<header th:replace="shared/header :: copy"></header>
	<main class="main">
		<table class="table-main">
			<tbody>
				<tr>
					<td>
						<div>
							<p th:utext="#{welcome.message}"></p>
							<p>
								<b>
									<span th:text="${nomExpediteur}"></span>
								</b>
							</p>
						</div>
						<div>
							<p>
								<b>
									<span th:text="${nomDestinataire}"></span>
								</b>
							</p>
							<p th:utext="#{invitation.accepted}"></p>
						</div>
					</td>
				</tr>

			</tbody>

		</table>
	</main>

	<footer th:replace="shared/footer :: copy"></footer>
</body>

<body>


</body>

</html>