<div class="content_wrapper">
	<app-track-trace-search
		#trackTraceSearchComponent
		[module]="module"
		[listFields]="listFields"
		[listCategorie]="listCategorie"
		(onSearch)="search($event)"
	></app-track-trace-search>
	<app-track-trace-list
		[trackTraceSearchComponent]="trackTraceSearchComponent"
		[module]="module"
		[ebDemandeNum]="ebDemandeNum"
		(listFieldsEmitter)="paramFieldsHandler($event)"
		(listCategorieEmitter)="CategorieHandler($event)"
		[searchInput]="searchInput"
		*ngIf="trackTraceSearchComponent && userConnected != null && userConnected.ebUserNum != null"
	></app-track-trace-list>
</div>
