<div class="margin-bottom-0-important">
	<div class="col-md-12 padding-0 user-details">
		<app-profile-detail
			*ngIf="displayEditProfile"
			[isEditUser]="isEditUser"
			[profileToBeUpdated]="selectedProfile"
			[ebEtablissement]="ebEtablissement"
			(EditEventChange)="displayEditProfile = $event"
			(refreshEvent)="refreshData()"
			(toasterDisplay)="tasterDisplay($event)"
		></app-profile-detail>
	</div>
	<div class="col-md-12 padding-0">
		<app-generic-table
			#genericTable
			[title]="title"
			[dataInfos]="dataInfos"
			[detailsInfos]="detailsInfos"
			[component]="datatableComponent.PROFILE_MANAGEMENT"
			[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
		>
		</app-generic-table>
	</div>
</div>
