<div class="form-root no-padding">
	<div>
		<form class="">
			<div class="row margin-bottom-15">
				<div>
					<fieldset>
						<legend>
							<p class="title color-gray-dark">
								{{ "ORDER.REFERENCE_INFORMATIONS" | translate }}
							</p>
						</legend>
						<div
							class="col-md-12 col-sm-12 col-xs-12 margin-top-15 d-flex-ai-c generic-inputs__style"
						>
							<label class="areaLibelle col-md-4 col-sm-12 col-xs-12 required"
								>{{ "ORDER.CUSTOMER_ORDER_REFERENCE" | translate }}
								:
							</label>
							<div class="col-md-8 col-sm-12 col-xs-12 padding-right-0">
								<input
									name="delivery.customerOrderReference"
									type="text"
									#customerOrderReferenceValue="ngModel"
									class="form-control"
									[(ngModel)]="delivery.customerOrderReference"
									[disabled]="true"
									required
								/>
							</div>
						</div>
						<div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-4">
							<app-form-error-messages
								[NgModelRef]="customerOrderReferenceValue"
							></app-form-error-messages>
						</div>

						<div
							class="col-md-12 col-sm-12 col-xs-12 margin-top-15 d-flex-ai-c generic-inputs__style"
						>
							<label class="areaLibelle col-md-4 col-sm-12 col-xs-12"
								>{{ "PRICING_BOOKING.DELIVERY_REFERENCE" | translate }}
								:
							</label>
							<div class="col-md-8 col-sm-12 col-xs-12 padding-right-0">
								<input
									name="delivery.ebDelReference"
									type="text"
									class="form-control"
									[disabled]="true"
									[(ngModel)]="delivery.ebDelReference"
								/>
							</div>
						</div>

						<div
							class="col-md-12 col-sm-12 col-xs-12 margin-top-15 d-flex-ai-c generic-inputs__style"
						>
							<label class="areaLibelle col-md-4 col-sm-12 col-xs-12"
								>{{ "CHANEL_PB_DELIVERY.TRANSPORT_REF" | translate }}
								:
							</label>
							<div class="col-md-8 col-sm-12 col-xs-12 padding-right-0">
								<input
									name="delivery.refTransport"
									type="text"
									class="form-control"
									[disabled]="true"
									[(ngModel)]="delivery.refTransport"
								/>
								<span *ngIf="delivery.xEbDemande.ebDemandeNum">
									<a>
										<button class="btn btn-link" (click)="redirectTMorPricingDetail()">
											<span class="glyphicon glyphicon-link"></span>
										</button>
									</a>
								</span>
							</div>
						</div>

						<div class="col-md-12 generic-inputs__style">
							<label for="xEc Incoterm" class="areaLibelle col-md-4 col-sm-12 col-xs-12"
								>{{ "PRICING_BOOKING.INCOTERMS" | translate }}
								:
							</label>
							<div class="col-md-8 col-sm-12 col-xs-12 padding-right-0">
								<input
									type="text"
									name="delivery.xEcIncotermLibelle"
									class="form-control"
									[disabled]="true"
									[(ngModel)]="delivery.xEcIncotermLibelle"
								/>
							</div>
						</div>

						<!-- <legend>
							<p class="title color-gray-dark">
								{{ "PRICING_BOOKING.ROOT_CAUSE_CATEGORIE" | translate }}
							</p>
							<div>
								<div
								class="col-md-12 col-sm-12 col-xs-12 margin-top-15 d-flex-ai-c generic-inputs__style case-sensitive"
								*ngFor="let categorie of delivery.listCategories"
							>
								<label class="areaLibelle col-md-4 col-sm-12 col-xs-12">{{ categorie.libelle }} :</label>
								<div class="col-md-8 col-sm-12 col-xs-12">
									<input
										name="{{ categorie.libelle }}"
										type="text"
										[(ngModel)]="categorie.labels[0].libelle"
										[disabled]="true"
										placeholder="{{ 'PRICING_BOOKING.VALUE' | translate }} ..."
									/>
								</div> 
							</div>
							</div>
						</legend> -->
						<legend>
							<p class="title color-gray-dark">
								{{ "PRICING_BOOKING.CHAMPS_PARAMS" | translate }}
							</p>
						</legend>
						<!-- commented to fix build error, will be reenabled-->

						<div *ngIf="delivery">
							<div
								class="col-md-12 col-sm-12 col-xs-12 margin-top-15 d-flex-ai-c generic-inputs__style case-sensitive"
								*ngFor="let categorie of delivery.listCategories"
							>
								<label class="areaLibelle col-md-4 col-sm-12 col-xs-12">{{ categorie.libelle }} :</label>
								<div class="col-md-8 col-sm-12 col-xs-12">
									<app-autocomplete
										name="categorie{{ i }}"
										[(inputModel)]="categorie.selectedLabel"
										[listItems]="categorie.labels"
										bindLabel="libelle"
										bindValue="ebLabelNum"
										[bindObject]="true"
										placeholder="{{ 'PRICING_BOOKING.SELECTIONNER_LABEL' | translate }} ..."
										[disabled]="userConnected.rolePrestataire || readOnly"
									></app-autocomplete>
								</div>
							</div>
							<div
								class="col-md-12 col-sm-12 col-xs-12 margin-top-15 d-flex-ai-c generic-inputs__style case-sensitive"
								*ngFor="let field of delivery.listCustomsFields"
							>
								<label class="areaLibelle col-md-4 col-sm-12 col-xs-12">{{ field.label }} :</label>
								<div class="col-md-8 col-sm-12 col-xs-12">
									<input
										name="{{ field.name }}"
										type="text"
										[(ngModel)]="field.value"
										[disabled]="true"
										placeholder="{{ 'PRICING_BOOKING.VALUE' | translate }} ..."
									/>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<fieldset class="params_wrapper">
						<legend>
							<p class="title color-gray-dark">
								{{ "PRICING_BOOKING.INFORMATIONS_COMPLEMENTAIRES" | translate }}
							</p>
						</legend>
						<div class="col-md-12">
							<div class="col-md-12">
								<app-advanced-editor
									[(ngModel)]="delivery.complementaryInformations"
									[disabled]="true"
									name="delivery.complementaryInformations"
								></app-advanced-editor>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</form>
	</div>
</div>
