<div class="config-type-flux">
	<div class="trpl-zone-settings-root">
		<app-generic-table
			#genericTable
			[title]="'SETTINGS.COSTS' | translate"
			[hideTable]="isAddObject"
			[searchInput]="searchCriteria"
			[dataInfos]="dataInfos"
			[detailsInfos]="null"
			(addFormEmitter)="displayAdd($event)"
			(editFormEmitter)="diplayEdit($event)"
			(deleteEventEmitter)="deleteData($event)"
			[component]="GenericTableScreen.COSTS_ITEMS"
			[emptyDataMsg]="'GENERAL.NO_RECORD_FOUND' | translate"
			[module]="module"
		>
			<form class="generic-default" formcontent *ngIf="isAddObject" role="form" #formCtrl="ngForm">
				<div class="form-content col-sm-12 margin-top-10">
					<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12 form-group">
						<label class="required">{{ "GENERAL.CODE" | translate }}</label>
						<div>
							<input
								type="text"
								[(ngModel)]="dataObject.code"
								name="designation"
								class="form-control input-underline input-xs"
								(blur)="verifyEbCostCodeExistance()"
							/>

						</div>
						<div class="mt-3 error-duplicated-code" *ngIf="codeDuplicated">Code Already exist</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12 form-group">
								<label class="required">{{ "GENERAL.LIBELLE" | translate }}</label>
								<div>
									<input
										type="text"
										[(ngModel)]="dataObject.libelle"
										name="code"
										class="form-control input-underline input-xs"
									/>
								</div>
						</div>
					<div class="col-md-4 col-md-offsset-3 col-sm-4 col-xs-12 form-group">
								<label class="required">{{ "SETTINGS.DEFAULT_COST_ITEM" | translate }}</label>
								<div>
									<input
										type="checkbox"
										[(ngModel)]="dataObject.actived"
										name="dataObject.actived"
										class="form-control input-underline input-xs"
									/>
								</div>
						</div>
					</div>
				</div>

				<div class="form-content col-sm-12 margin-top-10">
					<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12 form-group">
						<label class="required">{{ "SETTINGS.COST_CATEGORIE" | translate }}</label>
						<div>
							<app-autocomplete
								name="selectedListCostCategorie"
								[(inputModel)]="dataObject.listCostCategorie"
								bindLabel="libelle"
								bindValue="ebCostCategorieNum"
								[bindObject]="true"
								placeholder="select category..."
								sMultiple="true"
								[listItems]="listCostCategorie"
							>
							</app-autocomplete>
						</div>
					</div>
					<div class="col-md-6 col-sm-4 col-xs-12 form-group">
							<label class="areaLibelle col-md-12 required">{{
								"TYPE_FLUX.MEAN_TRANSPORT" | translate
								}}</label>
							<div class="col-md-12 d-flex-w checkbox-primeng padding-right-0 padding-left-0">
								<div *ngFor="let item of listModeTransport; let i = index" class="padding-right-5">
									<div class="new-formcontrol">
										<p-checkbox
											class="col-md-12 padding-0"
											name="modeTransport{{ item.code }}"
											[value]="item.code"
											[(ngModel)]="selectedModesTransport"
											label="{{ item.libelle }}"
											(onChange)="setSelectedModesTransport($event)"
										></p-checkbox>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-content col-sm-12 text-right margin-bottom-10">
					<div class="col-md-12">
						<button
							*ngIf="dataObject && !dataObject.ebCostNum"
							class="btn btn-sm btn-success btn-shadow"
							[disabled]="!isFormValidated()"
							(click)="addCostItem($event)"
						>
							{{ "COMPANY_PROFILE.BTN_AJOUTER" | translate }}
						</button>
						<button
							*ngIf="dataObject && dataObject.ebCostNum"
							class="btn btn-sm btn-success btn-shadow"
							[disabled]="!isFormValidated()"
							(click)="editCostItem($event)"
						>
							{{ "COMPANY_PROFILE.BTN_MODIFIER" | translate }}
						</button>
						<button class="btn btn-sm btn-success btn-shadow" (click)="backToList()">
							{{ "GENERAL.CANCEL" | translate }}
						</button>
						<button class="btn btn-sm btn-success btn-shadow" (click)="displayAddCostCategorieForm($event)">
							{{ "SETTINGS.NEW_COST_CATEGORIE" | translate }}
						</button>
					</div>
				</div>
			</form>
			<form class="generic-default" formcontent *ngIf="isAddCostCategorie" role="form" #formCtrl="ngForm">
				<div class="form-content col-sm-12 margin-top-10">
					<div class="col-md-6 col-sm-12 col-xs-12 form-group">
						<label class="required">{{ "GENERAL.CODE" | translate }}</label>
						<div>
							<input
								type="text"
								[(ngModel)]="newCostCategorie.code"
								name="code"
								class="form-control input-underline input-xs"
							/>
						</div>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12 form-group">
						<label class="required">{{ "GENERAL.LIBELLE" | translate }}</label>
						<div>
							<input
								type="text"
								[(ngModel)]="newCostCategorie.libelle"
								name="libelle"
								class="form-control input-underline input-xs"
							/>
						</div>
					</div>

				</div>
				<div class="form-content col-sm-12 text-right margin-bottom-10">
					<div class="col-md-12">
						<button
							*ngIf="newCostCategorie && !newCostCategorie.ebCostCategorieNum"
							class="btn btn-sm btn-success btn-shadow"
							[disabled]="!isAddCostCategoreFormValidated()"
							(click)="addCostCategorie($event)"
						>
							{{ "COMPANY_PROFILE.BTN_AJOUTER" | translate }}
						</button>


					</div>
				</div>
			</form>
		</app-generic-table>
	</div>
</div>
