<div [ngClass]="{ 'root-normal': !condensedView, 'root-condensed': condensedView }">
	<div *ngIf="listChat && listChat.length > 0" [className]="'chat-container ' + nbColListing">
		<ng-container class="upload-item" *ngFor="let chat of listChat; let i = index">
			<div class="col-md-12 padding-bottom-15">
				<div class="row">
					<div class="col-md-12 padding-0 avatar">
						<div class="col-md-1 padding-left-0" style="width:auto">
							<span class="img-container">
								<!-- <img [src]="chat.userAvatar" class=" img-responsive " /> -->
								<i class="fa fa-user-circle-o fz-20"></i>
							</span>
						</div>
						<div class="col-md-11 padding-left-5">
							<time datetime="2009-11-13T20:00"
								><span class="comment-user">{{ chat.userName }}</span> •
								<span class="comment-date">{{
									statique.formatDatewithHours(chat.dateCreation)
								}}</span></time
							>
						</div>
					</div>
					<div class="col-md-12 padding-0 margin-top-5">
						<div class="messages msg_receive">
							<div [innerHTML]="chat.text"></div>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
	</div>

	<div
		[ngClass]="{ 'no-padding': true }"
		[className]="nbColTexteditor + ' clearfix'"
		style="border-right: 1px solid #eee;"
	>
		<p-editor
			#commentaire
			[(ngModel)]="ebChat.text"
			[placeholder]="'PRICING_BOOKING.ENTER_TEXT_HERE' | translate"
			[style]="{ height: '200px' }"
			*ngIf="contributionAccess"
		></p-editor>
		<button class="btn btn-primary pull-right btn-sm margin-top-5-important" *ngIf="contributionAccess" (click)="sendChat()">
			{{ "PRICING_BOOKING.SEND" | translate }}
		</button>
	</div>
</div>
