@charset "UTF-8";
@font-face {
    font-family: "mytower-generique-font";
    src: url("../fonts/mytower-generique-font.eot");
    src: url("../fonts/mytower-generique-font.eot?#iefix") format("embedded-opentype"), url("../fonts/mytower-generique-font.woff") format("woff"), url("../fonts/mytower-generique-font.ttf") format("truetype"), url("../fonts/mytower-generique-font.svg#mytower-generique-font") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "mytower-generique-font" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="my-icon-"]:before,
[class*=" my-icon-"]:before {
    font-family: "mytower-generique-font" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.my-icon-analytics:before {
    content: "\62";
}

.my-icon-claims:before {
    content: "\63";
}

.my-icon-custom:before {
    content: "\64";
}

.my-icon-freight:before {
    content: "\65";
}

.my-icon-order:before {
    content: "\66";
}

.my-icon-trans-management:before {
    content: "\67";
}

.my-icon-track:before {
    content: "\68";
}

.my-icon-order-management:before {
    content: "\69";
}

.my-icon-dock-management:before {
    content: "\61";
}
.my-icon-delivery-management:before {
  content: "\6a";
}
.my-icon-receipt-scheduling:before {
  content: "\6b";
}
.my-icon-shipement:before {
    content: "\6c";
  }
  .my-icon-weight:before {
    content: "\6d";
  }  

  .my-icon-mytower-logo:before {
    content: "\6e";
  }
  .my-icon-mytower-logo-text:before {
    content: "\6f";
  }
  .my-icon-mytower-text-1:before {
    content: "\70";
  }
  